openapi: 3.0.0
info:
  title: CostManagementClient
  description: CostManagement management client provides access to CostManagement
    resources for Azure Enterprise Subscriptions.
  version: 2025-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Benefits API
  description: APIs for getting benefit recommendations and benefit utilization summaries.
paths:
  /{billingScope}/providers/Microsoft.CostManagement/benefitRecommendations:
    get:
      tags:
      - BenefitRecommendations
      description: List of recommendations for purchasing savings plan.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/CostManagement/
      operationId: BenefitRecommendations_List
      parameters:
      - name: $filter
        in: query
        description: 'Can be used to filter benefitRecommendations by: properties/scope
          with allowed values [''Single'', ''Shared''] and default value ''Shared'';
          and properties/lookBackPeriod with allowed values [''Last7Days'', ''Last30Days'',
          ''Last60Days''] and default value ''Last60Days''; properties/term with allowed
          values [''P1Y'', ''P3Y''] and default value ''P3Y''; properties/subscriptionId;
          properties/resourceGroup'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $orderby
        in: query
        description: 'May be used to order the recommendations by: properties/armSkuName.
          For the savings plan, the results are in order by default. There is no need
          to use this clause.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: 'May be used to expand the properties by: properties/usage, properties/allRecommendationDetails'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: billingScope
        in: path
        description: The scope associated with benefit recommendation operations.
          This includes '/subscriptions/{subscriptionId}/' for subscription scope,
          '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
          resource group scope, /providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
          for enterprise agreement scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billing profile scope
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    description: The list of benefit recommendations.
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        kind:
                          description: Reservation or SavingsPlan.
                          type: string
                          enum:
                          - IncludedQuantity
                          - Reservation
                          - SavingsPlan
                          x-ms-enum:
                            name: benefitKind
                            modelAsString: true
                            values:
                            - value: IncludedQuantity
                              description: Benefit is IncludedQuantity.
                              name: IncludedQuantity
                            - value: Reservation
                              description: Benefit is Reservation.
                              name: Reservation
                            - value: SavingsPlan
                              description: Benefit is SavingsPlan.
                              name: SavingsPlan
                        properties:
                          type: object
                          description: The properties of the benefit recommendations.
                          discriminator:
                            propertyName: scope
                          properties:
                            firstConsumptionDate:
                              type: string
                              description: The first usage date used for looking back
                                for computing the recommendations.
                              readOnly: true
                              format: date-time
                            lastConsumptionDate:
                              type: string
                              description: The last usage date used for looking back
                                for computing the recommendations.
                              readOnly: true
                              format: date-time
                            lookBackPeriod:
                              description: The number of days of usage evaluated for
                                computing the recommendations.
                              type: string
                              enum:
                              - Last7Days
                              - Last30Days
                              - Last60Days
                              x-ms-enum:
                                name: lookBackPeriod
                                modelAsString: true
                                values:
                                - value: Last7Days
                                  description: 7 days used to look back.
                                  name: Last7Days
                                - value: Last30Days
                                  description: 30 days used to look back.
                                  name: Last30Days
                                - value: Last60Days
                                  description: 60 days used to look back.
                                  name: Last60Days
                            totalHours:
                              type: integer
                              format: int32
                              description: The total hours for which the cost is covered.
                                Its equal to number of records in a property 'properties/usage/charges'.
                              readOnly: true
                            usage:
                              type: object
                              description: On-demand charges between firstConsumptionDate
                                and lastConsumptionDate that were used for computing
                                benefit recommendations.
                              properties:
                                usageGrain:
                                  description: 'The grain of the usage. Supported
                                    values: ''Hourly'''
                                  type: string
                                  enum:
                                  - Hourly
                                  - Daily
                                  - Monthly
                                  x-ms-enum:
                                    name: grain
                                    modelAsString: true
                                    values:
                                    - value: Hourly
                                      description: Hourly grain corresponds to value
                                        per hour.
                                      name: Hourly
                                    - value: Daily
                                      description: Hourly grain corresponds to value
                                        per day.
                                      name: Daily
                                    - value: Monthly
                                      description: Hourly grain corresponds to value
                                        per month.
                                      name: Monthly
                                charges:
                                  type: array
                                  description: On-demand charges for each hour between
                                    firstConsumptionDate and lastConsumptionDate that
                                    were used for computing benefit recommendations.
                                  readOnly: true
                                  items:
                                    type: number
                                    format: decimal
                            armSkuName:
                              description: ARM SKU name. 'Compute_Savings_Plan' for
                                SavingsPlan.
                              type: string
                              readOnly: true
                            term:
                              description: Term period of the benefit. For example,
                                P1Y or P3Y.
                              type: string
                              enum:
                              - P1Y
                              - P3Y
                              x-ms-enum:
                                name: term
                                modelAsString: true
                                values:
                                - value: P1Y
                                  description: Benefit term is 1 year.
                                  name: P1Y
                                - value: P3Y
                                  description: Benefit term is 3 years.
                                  name: P3Y
                            commitmentGranularity:
                              description: 'Grain of the proposed commitment amount.
                                Supported values: ''Hourly'''
                              type: string
                              enum:
                              - Hourly
                              - Daily
                              - Monthly
                              x-ms-enum:
                                name: grain
                                modelAsString: true
                                values:
                                - value: Hourly
                                  description: Hourly grain corresponds to value per
                                    hour.
                                  name: Hourly
                                - value: Daily
                                  description: Hourly grain corresponds to value per
                                    day.
                                  name: Daily
                                - value: Monthly
                                  description: Hourly grain corresponds to value per
                                    month.
                                  name: Monthly
                            currencyCode:
                              type: string
                              description: An ISO 4217 currency code identifier for
                                the costs and savings amounts.
                              readOnly: true
                            costWithoutBenefit:
                              type: number
                              format: decimal
                              description: The current cost without benefit, corresponds
                                to 'totalHours' in the look-back period.
                              readOnly: true
                            recommendationDetails:
                              type: object
                              description: The details of the proposed recommendation.
                              properties:
                                overageCost:
                                  type: number
                                  format: decimal
                                  description: The difference between total cost and
                                    benefit cost for the 'totalHours' in the look-back
                                    period.
                                  readOnly: true
                                benefitCost:
                                  type: number
                                  format: decimal
                                  description: The estimated cost with benefit for
                                    the 'totalHours' in the look-back period. It's
                                    equal to (commitmentAmount * totalHours)
                                  readOnly: true
                                totalCost:
                                  type: number
                                  format: decimal
                                  description: Total cost, which is sum of benefit
                                    cost and overage cost.
                                  readOnly: true
                                savingsAmount:
                                  type: number
                                  format: decimal
                                  description: The amount saved for the 'totalHours'
                                    in the look-back period, by purchasing the recommended
                                    quantity of the benefit.
                                  readOnly: true
                                savingsPercentage:
                                  type: number
                                  format: decimal
                                  description: The savings in percentage for the 'totalHours'
                                    in the look-back period, by purchasing the recommended
                                    quantity of benefit.
                                  readOnly: true
                                coveragePercentage:
                                  description: Estimated benefit coverage percentage
                                    for the 'totalHours' in the look-back period,
                                    with this commitment.
                                  type: number
                                  format: decimal
                                  readOnly: true
                                commitmentAmount:
                                  description: The commitment amount at the commitmentGranularity.
                                  type: number
                                  format: decimal
                                  readOnly: true
                                averageUtilizationPercentage:
                                  description: Estimated average utilization percentage
                                    for the 'totalHours' in the look-back period,
                                    with this commitment.
                                  type: number
                                  format: decimal
                                  readOnly: true
                                wastageCost:
                                  description: Estimated unused portion of the 'benefitCost'.
                                  type: number
                                  format: decimal
                                  readOnly: true
                            allRecommendationDetails:
                              type: object
                              description: The list of all benefit recommendations
                                with the recommendation details.
                              readOnly: true
                              properties:
                                value:
                                  type: array
                                  description: The list of benefit recommendations
                                    with the recommendation details..
                                  readOnly: true
                                  items:
                                    description: Benefit recommendation details.
                                    type: object
                                    properties:
                                      overageCost:
                                        type: number
                                        format: decimal
                                        description: The difference between total
                                          cost and benefit cost for the 'totalHours'
                                          in the look-back period.
                                        readOnly: true
                                      benefitCost:
                                        type: number
                                        format: decimal
                                        description: The estimated cost with benefit
                                          for the 'totalHours' in the look-back period.
                                          It's equal to (commitmentAmount * totalHours)
                                        readOnly: true
                                      totalCost:
                                        type: number
                                        format: decimal
                                        description: Total cost, which is sum of benefit
                                          cost and overage cost.
                                        readOnly: true
                                      savingsAmount:
                                        type: number
                                        format: decimal
                                        description: The amount saved for the 'totalHours'
                                          in the look-back period, by purchasing the
                                          recommended quantity of the benefit.
                                        readOnly: true
                                      savingsPercentage:
                                        type: number
                                        format: decimal
                                        description: The savings in percentage for
                                          the 'totalHours' in the look-back period,
                                          by purchasing the recommended quantity of
                                          benefit.
                                        readOnly: true
                                      coveragePercentage:
                                        description: Estimated benefit coverage percentage
                                          for the 'totalHours' in the look-back period,
                                          with this commitment.
                                        type: number
                                        format: decimal
                                        readOnly: true
                                      commitmentAmount:
                                        description: The commitment amount at the
                                          commitmentGranularity.
                                        type: number
                                        format: decimal
                                        readOnly: true
                                      averageUtilizationPercentage:
                                        description: Estimated average utilization
                                          percentage for the 'totalHours' in the look-back
                                          period, with this commitment.
                                        type: number
                                        format: decimal
                                        readOnly: true
                                      wastageCost:
                                        description: Estimated unused portion of the
                                          'benefitCost'.
                                        type: number
                                        format: decimal
                                        readOnly: true
                                  x-ms-identifiers: []
                                nextLink:
                                  type: string
                                  description: The link (URL) to the next page of
                                    results.
                                  readOnly: true
                                  format: uri
                            scope:
                              description: Benefit scope. For example, Single or Shared.
                              type: string
                              enum:
                              - Single
                              - Shared
                              x-ms-enum:
                                name: scope
                                modelAsString: true
                                values:
                                - value: Single
                                  description: Single scope recommendation.
                                  name: Single
                                - value: Shared
                                  description: Shared scope recommendation.
                                  name: Shared
                          required:
                          - scope
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The link (URL) to the next page of results.
                    readOnly: true
                    format: uri
                description: Result of listing benefit recommendations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      tags:
      - BenefitUtilizationSummaries
      operationId: BenefitUtilizationSummaries_ListByBillingAccountId
      description: 'Lists savings plan utilization summaries for the enterprise agreement
        scope. Supported at grain values: ''Daily'' and ''Monthly''.'
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - description: Billing account ID
        in: path
        name: billingAccountId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Grain.
        in: query
        required: false
        x-ms-parameter-location: method
        name: grainParameter
        x-ms-enum:
          name: grainParameter
          modelAsString: true
          values:
          - value: Hourly
            description: Hourly grain corresponds to value per hour.
            name: Hourly
          - value: Daily
            description: Hourly grain corresponds to value per day.
            name: Daily
          - value: Monthly
            description: Hourly grain corresponds to value per month.
            name: Monthly
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: filter
        in: query
        description: Supports filtering by properties/benefitId, properties/benefitOrderId
          and properties/usageDate.
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: List of benefit utilization summaries.
                type: object
                properties:
                  value:
                    description: The list of benefit utilization summaries.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        kind:
                          description: 'Supported values: ''SavingsPlan''.'
                          type: string
                          enum:
                          - IncludedQuantity
                          - Reservation
                          - SavingsPlan
                          x-ms-enum:
                            name: benefitKind
                            modelAsString: true
                            values:
                            - value: IncludedQuantity
                              description: Benefit is IncludedQuantity.
                              name: IncludedQuantity
                            - value: Reservation
                              description: Benefit is Reservation.
                              name: Reservation
                            - value: SavingsPlan
                              description: Benefit is SavingsPlan.
                              name: SavingsPlan
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    description: The link (URL) to the next page of results.
                    type: string
                    readOnly: true
                    format: uri
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      tags:
      - BenefitUtilizationSummaries
      operationId: BenefitUtilizationSummaries_ListByBillingProfileId
      description: 'Lists savings plan utilization summaries for billing profile.
        Supported at grain values: ''Daily'' and ''Monthly''.'
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - description: Billing account ID
        in: path
        name: billingAccountId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Billing profile ID.
        in: path
        name: billingProfileId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Grain.
        in: query
        required: false
        x-ms-parameter-location: method
        name: grainParameter
        x-ms-enum:
          name: grainParameter
          modelAsString: true
          values:
          - value: Hourly
            description: Hourly grain corresponds to value per hour.
            name: Hourly
          - value: Daily
            description: Hourly grain corresponds to value per day.
            name: Daily
          - value: Monthly
            description: Hourly grain corresponds to value per month.
            name: Monthly
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: filter
        in: query
        description: Supports filtering by properties/benefitId, properties/benefitOrderId
          and properties/usageDate.
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: List of benefit utilization summaries.
                type: object
                properties:
                  value:
                    description: The list of benefit utilization summaries.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        kind:
                          description: 'Supported values: ''SavingsPlan''.'
                          type: string
                          enum:
                          - IncludedQuantity
                          - Reservation
                          - SavingsPlan
                          x-ms-enum:
                            name: benefitKind
                            modelAsString: true
                            values:
                            - value: IncludedQuantity
                              description: Benefit is IncludedQuantity.
                              name: IncludedQuantity
                            - value: Reservation
                              description: Benefit is Reservation.
                              name: Reservation
                            - value: SavingsPlan
                              description: Benefit is SavingsPlan.
                              name: SavingsPlan
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    description: The link (URL) to the next page of results.
                    type: string
                    readOnly: true
                    format: uri
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      tags:
      - BenefitUtilizationSummaries
      operationId: BenefitUtilizationSummaries_ListBySavingsPlanOrder
      description: Lists the savings plan utilization summaries for daily or monthly
        grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        description: Supports filtering by properties/usageDate.
        in: query
        required: false
        schema:
          type: string
      - description: Grain.
        in: query
        required: false
        x-ms-parameter-location: method
        name: grainParameter
        x-ms-enum:
          name: grainParameter
          modelAsString: true
          values:
          - value: Hourly
            description: Hourly grain corresponds to value per hour.
            name: Hourly
          - value: Daily
            description: Hourly grain corresponds to value per day.
            name: Daily
          - value: Monthly
            description: Hourly grain corresponds to value per month.
            name: Monthly
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - description: Savings plan order ID.
        in: path
        name: savingsPlanOrderId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: List of benefit utilization summaries.
                type: object
                properties:
                  value:
                    description: The list of benefit utilization summaries.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        kind:
                          description: 'Supported values: ''SavingsPlan''.'
                          type: string
                          enum:
                          - IncludedQuantity
                          - Reservation
                          - SavingsPlan
                          x-ms-enum:
                            name: benefitKind
                            modelAsString: true
                            values:
                            - value: IncludedQuantity
                              description: Benefit is IncludedQuantity.
                              name: IncludedQuantity
                            - value: Reservation
                              description: Benefit is Reservation.
                              name: Reservation
                            - value: SavingsPlan
                              description: Benefit is SavingsPlan.
                              name: SavingsPlan
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    description: The link (URL) to the next page of results.
                    type: string
                    readOnly: true
                    format: uri
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      tags:
      - BenefitUtilizationSummaries
      operationId: BenefitUtilizationSummaries_ListBySavingsPlanId
      description: Lists the savings plan utilization summaries for daily or monthly
        grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        description: Supports filtering by properties/usageDate.
        in: query
        required: false
        schema:
          type: string
      - description: Grain.
        in: query
        required: false
        x-ms-parameter-location: method
        name: grainParameter
        x-ms-enum:
          name: grainParameter
          modelAsString: true
          values:
          - value: Hourly
            description: Hourly grain corresponds to value per hour.
            name: Hourly
          - value: Daily
            description: Hourly grain corresponds to value per day.
            name: Daily
          - value: Monthly
            description: Hourly grain corresponds to value per month.
            name: Monthly
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - description: Savings plan order ID.
        in: path
        name: savingsPlanOrderId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Savings plan ID.
        in: path
        name: savingsPlanId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: List of benefit utilization summaries.
                type: object
                properties:
                  value:
                    description: The list of benefit utilization summaries.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        kind:
                          description: 'Supported values: ''SavingsPlan''.'
                          type: string
                          enum:
                          - IncludedQuantity
                          - Reservation
                          - SavingsPlan
                          x-ms-enum:
                            name: benefitKind
                            modelAsString: true
                            values:
                            - value: IncludedQuantity
                              description: Benefit is IncludedQuantity.
                              name: IncludedQuantity
                            - value: Reservation
                              description: Benefit is Reservation.
                              name: Reservation
                            - value: SavingsPlan
                              description: Benefit is SavingsPlan.
                              name: SavingsPlan
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - kind
                      discriminator:
                        propertyName: kind
                  nextLink:
                    description: The link (URL) to the next page of results.
                    type: string
                    readOnly: true
                    format: uri
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      tags:
      - BenefitUtilizationSummariesAsync
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByBillingAccount
      description: Triggers generation of a benefit utilization summaries report for
        the provided billing account. This API supports only enrollment accounts.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - description: Billing account ID
        in: path
        name: billingAccountId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Properties of an async benefit utilization summaries request.
              type: object
              required:
              - startDate
              - endDate
              - grain
              properties:
                billingAccountId:
                  description: Billing account the benefit utilization summaries report
                    is for. Required for billing account and billing profile scopes.
                    Not supported for any benefit scopes.
                  type: string
                billingProfileId:
                  description: Billing profile id the benefit utilization summaries
                    report is for. Required for billing profile scope. Not supported
                    for billing account or any benefit scopes.
                  type: string
                benefitOrderId:
                  description: Benefit order id the benefit utilization summaries
                    report is for. Required for benefit order and benefit id scopes.
                    Not supported for any billing scopes.
                  type: string
                benefitId:
                  description: Benefit id the benefit utilization summaries report
                    is for. Required for benefit id scope. Not supported for benefit
                    order or any billing scopes.
                  type: string
                grain:
                  description: The grain the summaries data is served at in the report.
                    Accepted values are 'Daily' or 'Monthly'.
                  type: string
                  enum:
                  - Hourly
                  - Daily
                  - Monthly
                  x-ms-enum:
                    name: grain
                    modelAsString: true
                    values:
                    - value: Hourly
                      description: Hourly grain corresponds to value per hour.
                      name: Hourly
                    - value: Daily
                      description: Hourly grain corresponds to value per day.
                      name: Daily
                    - value: Monthly
                      description: Hourly grain corresponds to value per month.
                      name: Monthly
                startDate:
                  description: The start date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                endDate:
                  description: The end date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                kind:
                  description: The type of benefit data requested. Required for billing
                    account and billing profile scopes. Implied and not to be passed
                    at benefit scopes. Supported values are Reservation and SavingsPlan
                  type: string
                  enum:
                  - IncludedQuantity
                  - Reservation
                  - SavingsPlan
                  x-ms-enum:
                    name: benefitKind
                    modelAsString: true
                    values:
                    - value: IncludedQuantity
                      description: Benefit is IncludedQuantity.
                      name: IncludedQuantity
                    - value: Reservation
                      description: Benefit is Reservation.
                      name: Reservation
                    - value: SavingsPlan
                      description: Benefit is SavingsPlan.
                      name: SavingsPlan
        description: Async Benefit Utilization Summary report to be created.
        required: true
      responses:
        '200':
          description: The status of the generation of the benefit utilization summaries
            report. This could be in progress, failed, or completed.
          content:
            application/json:
              schema:
                type: object
                description: Status of a benefit utilization summaries report. Provides
                  Async Benefit Utilization Summaries Request input, status, and report
                  sas url.
                properties:
                  input:
                    description: Input given to create the benefit utilization summaries
                      report.
                    type: object
                    required:
                    - startDate
                    - endDate
                    - grain
                    properties:
                      billingAccountId:
                        description: Billing account the benefit utilization summaries
                          report is for. Required for billing account and billing
                          profile scopes. Not supported for any benefit scopes.
                        type: string
                      billingProfileId:
                        description: Billing profile id the benefit utilization summaries
                          report is for. Required for billing profile scope. Not supported
                          for billing account or any benefit scopes.
                        type: string
                      benefitOrderId:
                        description: Benefit order id the benefit utilization summaries
                          report is for. Required for benefit order and benefit id
                          scopes. Not supported for any billing scopes.
                        type: string
                      benefitId:
                        description: Benefit id the benefit utilization summaries
                          report is for. Required for benefit id scope. Not supported
                          for benefit order or any billing scopes.
                        type: string
                      grain:
                        description: The grain the summaries data is served at in
                          the report. Accepted values are 'Daily' or 'Monthly'.
                        type: string
                        enum:
                        - Hourly
                        - Daily
                        - Monthly
                        x-ms-enum:
                          name: grain
                          modelAsString: true
                          values:
                          - value: Hourly
                            description: Hourly grain corresponds to value per hour.
                            name: Hourly
                          - value: Daily
                            description: Hourly grain corresponds to value per day.
                            name: Daily
                          - value: Monthly
                            description: Hourly grain corresponds to value per month.
                            name: Monthly
                      startDate:
                        description: The start date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      endDate:
                        description: The end date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      kind:
                        description: The type of benefit data requested. Required
                          for billing account and billing profile scopes. Implied
                          and not to be passed at benefit scopes. Supported values
                          are Reservation and SavingsPlan
                        type: string
                        enum:
                        - IncludedQuantity
                        - Reservation
                        - SavingsPlan
                        x-ms-enum:
                          name: benefitKind
                          modelAsString: true
                          values:
                          - value: IncludedQuantity
                            description: Benefit is IncludedQuantity.
                            name: IncludedQuantity
                          - value: Reservation
                            description: Benefit is Reservation.
                            name: Reservation
                          - value: SavingsPlan
                            description: Benefit is SavingsPlan.
                            name: SavingsPlan
                  status:
                    description: The status of the creation of the benefit utilization
                      summaries report.
                    type: string
                    enum:
                    - Running
                    - Complete
                    - Failed
                    x-ms-enum:
                      name: OperationStatusType
                      modelAsString: true
                  properties:
                    description: Contains sas url to the async benefit utilization
                      summaries report and a date that the url is valid until. These
                      values will be empty if the report is in a Running or Failed
                      state
                    type: object
                    properties:
                      reportUrl:
                        description: Sas url to the async benefit utilization summaries
                          report. Will be empty if the report is in Running or Failed
                          state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      secondaryReportUrl:
                        description: Sas url to async benefit utilization summaries
                          report in secondary storage in case of primary outage. Will
                          be empty if the report is in Running or Failed state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      validUntil:
                        description: The date that the sas url provided in reportUrl
                          expires.
                        type: string
                        format: date-time
        '202':
          description: Accepted. Request will be processed. Use the location header
            to check the status.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      tags:
      - BenefitUtilizationSummariesAsync
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByBillingProfile
      description: Triggers generation of a benefit utilization summaries report for
        the provided billing account and billing profile.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - description: Billing account ID
        in: path
        name: billingAccountId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Billing profile ID.
        in: path
        name: billingProfileId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Properties of an async benefit utilization summaries request.
              type: object
              required:
              - startDate
              - endDate
              - grain
              properties:
                billingAccountId:
                  description: Billing account the benefit utilization summaries report
                    is for. Required for billing account and billing profile scopes.
                    Not supported for any benefit scopes.
                  type: string
                billingProfileId:
                  description: Billing profile id the benefit utilization summaries
                    report is for. Required for billing profile scope. Not supported
                    for billing account or any benefit scopes.
                  type: string
                benefitOrderId:
                  description: Benefit order id the benefit utilization summaries
                    report is for. Required for benefit order and benefit id scopes.
                    Not supported for any billing scopes.
                  type: string
                benefitId:
                  description: Benefit id the benefit utilization summaries report
                    is for. Required for benefit id scope. Not supported for benefit
                    order or any billing scopes.
                  type: string
                grain:
                  description: The grain the summaries data is served at in the report.
                    Accepted values are 'Daily' or 'Monthly'.
                  type: string
                  enum:
                  - Hourly
                  - Daily
                  - Monthly
                  x-ms-enum:
                    name: grain
                    modelAsString: true
                    values:
                    - value: Hourly
                      description: Hourly grain corresponds to value per hour.
                      name: Hourly
                    - value: Daily
                      description: Hourly grain corresponds to value per day.
                      name: Daily
                    - value: Monthly
                      description: Hourly grain corresponds to value per month.
                      name: Monthly
                startDate:
                  description: The start date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                endDate:
                  description: The end date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                kind:
                  description: The type of benefit data requested. Required for billing
                    account and billing profile scopes. Implied and not to be passed
                    at benefit scopes. Supported values are Reservation and SavingsPlan
                  type: string
                  enum:
                  - IncludedQuantity
                  - Reservation
                  - SavingsPlan
                  x-ms-enum:
                    name: benefitKind
                    modelAsString: true
                    values:
                    - value: IncludedQuantity
                      description: Benefit is IncludedQuantity.
                      name: IncludedQuantity
                    - value: Reservation
                      description: Benefit is Reservation.
                      name: Reservation
                    - value: SavingsPlan
                      description: Benefit is SavingsPlan.
                      name: SavingsPlan
        description: Async Benefit Utilization Summary report to be created.
        required: true
      responses:
        '200':
          description: The status of the generation of the benefit utilization summaries
            report. This could be in progress, failed, or completed.
          content:
            application/json:
              schema:
                type: object
                description: Status of a benefit utilization summaries report. Provides
                  Async Benefit Utilization Summaries Request input, status, and report
                  sas url.
                properties:
                  input:
                    description: Input given to create the benefit utilization summaries
                      report.
                    type: object
                    required:
                    - startDate
                    - endDate
                    - grain
                    properties:
                      billingAccountId:
                        description: Billing account the benefit utilization summaries
                          report is for. Required for billing account and billing
                          profile scopes. Not supported for any benefit scopes.
                        type: string
                      billingProfileId:
                        description: Billing profile id the benefit utilization summaries
                          report is for. Required for billing profile scope. Not supported
                          for billing account or any benefit scopes.
                        type: string
                      benefitOrderId:
                        description: Benefit order id the benefit utilization summaries
                          report is for. Required for benefit order and benefit id
                          scopes. Not supported for any billing scopes.
                        type: string
                      benefitId:
                        description: Benefit id the benefit utilization summaries
                          report is for. Required for benefit id scope. Not supported
                          for benefit order or any billing scopes.
                        type: string
                      grain:
                        description: The grain the summaries data is served at in
                          the report. Accepted values are 'Daily' or 'Monthly'.
                        type: string
                        enum:
                        - Hourly
                        - Daily
                        - Monthly
                        x-ms-enum:
                          name: grain
                          modelAsString: true
                          values:
                          - value: Hourly
                            description: Hourly grain corresponds to value per hour.
                            name: Hourly
                          - value: Daily
                            description: Hourly grain corresponds to value per day.
                            name: Daily
                          - value: Monthly
                            description: Hourly grain corresponds to value per month.
                            name: Monthly
                      startDate:
                        description: The start date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      endDate:
                        description: The end date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      kind:
                        description: The type of benefit data requested. Required
                          for billing account and billing profile scopes. Implied
                          and not to be passed at benefit scopes. Supported values
                          are Reservation and SavingsPlan
                        type: string
                        enum:
                        - IncludedQuantity
                        - Reservation
                        - SavingsPlan
                        x-ms-enum:
                          name: benefitKind
                          modelAsString: true
                          values:
                          - value: IncludedQuantity
                            description: Benefit is IncludedQuantity.
                            name: IncludedQuantity
                          - value: Reservation
                            description: Benefit is Reservation.
                            name: Reservation
                          - value: SavingsPlan
                            description: Benefit is SavingsPlan.
                            name: SavingsPlan
                  status:
                    description: The status of the creation of the benefit utilization
                      summaries report.
                    type: string
                    enum:
                    - Running
                    - Complete
                    - Failed
                    x-ms-enum:
                      name: OperationStatusType
                      modelAsString: true
                  properties:
                    description: Contains sas url to the async benefit utilization
                      summaries report and a date that the url is valid until. These
                      values will be empty if the report is in a Running or Failed
                      state
                    type: object
                    properties:
                      reportUrl:
                        description: Sas url to the async benefit utilization summaries
                          report. Will be empty if the report is in Running or Failed
                          state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      secondaryReportUrl:
                        description: Sas url to async benefit utilization summaries
                          report in secondary storage in case of primary outage. Will
                          be empty if the report is in Running or Failed state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      validUntil:
                        description: The date that the sas url provided in reportUrl
                          expires.
                        type: string
                        format: date-time
        '202':
          description: Accepted. Request will be processed. Use the location header
            to check the status.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      tags:
      - BenefitUtilizationSummariesAsync
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByReservationOrderId
      description: Triggers generation of a benefit utilization summaries report for
        the provided reservation order.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - description: Reservation Order ID
        in: path
        name: reservationOrderId
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Properties of an async benefit utilization summaries request.
              type: object
              required:
              - startDate
              - endDate
              - grain
              properties:
                billingAccountId:
                  description: Billing account the benefit utilization summaries report
                    is for. Required for billing account and billing profile scopes.
                    Not supported for any benefit scopes.
                  type: string
                billingProfileId:
                  description: Billing profile id the benefit utilization summaries
                    report is for. Required for billing profile scope. Not supported
                    for billing account or any benefit scopes.
                  type: string
                benefitOrderId:
                  description: Benefit order id the benefit utilization summaries
                    report is for. Required for benefit order and benefit id scopes.
                    Not supported for any billing scopes.
                  type: string
                benefitId:
                  description: Benefit id the benefit utilization summaries report
                    is for. Required for benefit id scope. Not supported for benefit
                    order or any billing scopes.
                  type: string
                grain:
                  description: The grain the summaries data is served at in the report.
                    Accepted values are 'Daily' or 'Monthly'.
                  type: string
                  enum:
                  - Hourly
                  - Daily
                  - Monthly
                  x-ms-enum:
                    name: grain
                    modelAsString: true
                    values:
                    - value: Hourly
                      description: Hourly grain corresponds to value per hour.
                      name: Hourly
                    - value: Daily
                      description: Hourly grain corresponds to value per day.
                      name: Daily
                    - value: Monthly
                      description: Hourly grain corresponds to value per month.
                      name: Monthly
                startDate:
                  description: The start date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                endDate:
                  description: The end date of the summaries data that will be served
                    in the report.
                  type: string
                  format: date-time
                kind:
                  description: The type of benefit data requested. Required for billing
                    account and billing profile scopes. Implied and not to be passed
                    at benefit scopes. Supported values are Reservation and SavingsPlan
                  type: string
                  enum:
                  - IncludedQuantity
                  - Reservation
                  - SavingsPlan
                  x-ms-enum:
                    name: benefitKind
                    modelAsString: true
                    values:
                    - value: IncludedQuantity
                      description: Benefit is IncludedQuantity.
                      name: IncludedQuantity
                    - value: Reservation
                      description: Benefit is Reservation.
                      name: Reservation
                    - value: SavingsPlan
                      description: Benefit is SavingsPlan.
                      name: SavingsPlan
        description: Async Benefit Utilization Summary report to be created.
        required: true
      responses:
        '200':
          description: The status of the generation of the benefit utilization summaries
            report. This could be in progress, failed, or completed.
          content:
            application/json:
              schema:
                type: object
                description: Status of a benefit utilization summaries report. Provides
                  Async Benefit Utilization Summaries Request input, status, and report
                  sas url.
                properties:
                  input:
                    description: Input given to create the benefit utilization summaries
                      report.
                    type: object
                    required:
                    - startDate
                    - endDate
                    - grain
                    properties:
                      billingAccountId:
                        description: Billing account the benefit utilization summaries
                          report is for. Required for billing account and billing
                          profile scopes. Not supported for any benefit scopes.
                        type: string
                      billingProfileId:
                        description: Billing profile id the benefit utilization summaries
                          report is for. Required for billing profile scope. Not supported
                          for billing account or any benefit scopes.
                        type: string
                      benefitOrderId:
                        description: Benefit order id the benefit utilization summaries
                          report is for. Required for benefit order and benefit id
                          scopes. Not supported for any billing scopes.
                        type: string
                      benefitId:
                        description: Benefit id the benefit utilization summaries
                          report is for. Required for benefit id scope. Not supported
                          for benefit order or any billing scopes.
                        type: string
                      grain:
                        description: The grain the summaries data is served at in
                          the report. Accepted values are 'Daily' or 'Monthly'.
                        type: string
                        enum:
                        - Hourly
                        - Daily
                        - Monthly
                        x-ms-enum:
                          name: grain
                          modelAsString: true
                          values:
                          - value: Hourly
                            description: Hourly grain corresponds to value per hour.
                            name: Hourly
                          - value: Daily
                            description: Hourly grain corresponds to value per day.
                            name: Daily
                          - value: Monthly
                            description: Hourly grain corresponds to value per month.
                            name: Monthly
                      startDate:
                        description: The start date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      endDate:
                        description: The end date of the summaries data that will
                          be served in the report.
                        type: string
                        format: date-time
                      kind:
                        description: The type of benefit data requested. Required
                          for billing account and billing profile scopes. Implied
                          and not to be passed at benefit scopes. Supported values
                          are Reservation and SavingsPlan
                        type: string
                        enum:
                        - IncludedQuantity
                        - Reservation
                        - SavingsPlan
                        x-ms-enum:
                          name: benefitKind
                          modelAsString: true
                          values:
                          - value: IncludedQuantity
                            description: Benefit is IncludedQuantity.
                            name: IncludedQuantity
                          - value: Reservation
                            description: Benefit is Reservation.
                            name: Reservation
                          - value: SavingsPlan
                            description: Benefit is SavingsPlan.
                            name: SavingsPlan
                  status:
                    description: The status of the creation of the benefit utilization
                      summaries report.
                    type: string
                    enum:
                    - Running
                    - Complete
                    - Failed
                    x-ms-enum:
                      name: OperationStatusType
                      modelAsString: true
                  properties:
                    description: Contains sas url to the async benefit utilization
                      summaries report and a date that the url is valid until. These
                      values will be empty if the report is in a Running or Failed
                      state
                    type: object
                    properties:
                      reportUrl:
                        description: Sas url to the async benefit utilization summaries
                          report. Will be empty if the report is in Running or Failed
                          state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      secondaryReportUrl:
                        description: Sas url to async benefit utilization summaries
                          report in secondary storage in case of primary outage. Will
                          be empty if the report is in Running or Failed state.
                        x-ms-secret: true
                        type: string
                        enum:
                        - Kind
                        - AvgUtilizationPercentage
                        - BenefitOrderId
                        - BenefitId
                        - BenefitType
                        - MaxUtilizationPercentage
                        - MinUtilizationPercentage
                        - UsageDate
                        - UtilizedPercentage
                        x-ms-enum:
                          name: BenefitUtilizationSummaryReportSchema
                          modelAsString: true
                      validUntil:
                        description: The date that the sas url provided in reportUrl
                          expires.
                        type: string
                        format: date-time
        '202':
          description: Accepted. Request will be processed. Use the location header
            to check the status.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
[...]
