openapi: 3.0.0
info:
  title: CostManagementClient
  description: CostManagement management client provides access to CostManagement
    resources for Azure Enterprise Subscriptions.
  version: 2025-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.CostManagement/budgets:
    get:
      tags:
      - Budgets
      operationId: Budgets_List
      description: Lists all budgets for the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/CostManagement/
      parameters:
      - name: scope
        in: path
        required: true
        description: "The scope associated with budget operations.\n\n Supported scopes\
          \ for **CategoryType: Cost**\n\n Azure RBAC Scopes:\n- '/subscriptions/{subscriptionId}/'\
          \ for subscription scope\n- '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope\n- '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope\n\n EA (Enterprise Agreement) Scopes:\n\n-\
          \ '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope\n\n MCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)\n\n Supported scopes for **CategoryType:\
          \ ReservationUtilization**\n\n EA (Enterprise Agreement) Scopes:\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account Scope\n\nMCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope (non-CSP only)\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)"
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        description: OData filter option. May be used to filter budgets by properties/category.
          The filter supports 'eq' only.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of listing budgets. It contains a list of available
                  budgets in the scope provided.
                type: object
                properties:
                  value:
                    description: The list of budgets.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        eTag:
                          type: string
                          description: eTag of the resource. To handle concurrent
                            update scenario, this field will be used to determine
                            whether the user is updating the latest version or not.
                        properties:
                          x-ms-client-flatten: true
                          title: Budget properties
                          description: The properties of the budget.
                          type: object
                          properties:
                            category:
                              description: 'The category of the budget.

                                - ''Cost'' defines a Budget.

                                - ''ReservationUtilization'' defines a Reservation
                                Utilization Alert Rule.'
                              type: string
                              enum:
                              - Cost
                              - ReservationUtilization
                              x-ms-enum:
                                name: CategoryType
                                modelAsString: true
                                values:
                                - value: Cost
                                  description: A Budget that evaluates monetary cost
                                    of Azure resources against an amount, and alerts
                                    based on a configured notification threshold.
                                  name: Cost
                                - value: ReservationUtilization
                                  description: An Alert Rule that evaluates the utilization
                                    percentage of Azure Reservations, and alerts based
                                    on a configured notification threshold.
                            amount:
                              description: "The total amount of cost to track with\
                                \ the budget.\n\n Supported for CategoryType(s): Cost.\n\
                                \n Required for CategoryType(s): Cost."
                              type: number
                            timeGrain:
                              description: "The time covered by a budget. Tracking\
                                \ of the amount will be reset based on the time grain.\n\
                                \nSupported for CategoryType(s): Cost, ReservationUtilization.\n\
                                \n Supported timeGrainTypes for **CategoryType: Cost**\n\
                                \n- Monthly\n- Quarterly\n- Annually\n- BillingMonth*\n\
                                - BillingQuarter*\n- BillingAnnual*\n\n  *only supported\
                                \ for Web Direct customers.\n\n Supported timeGrainTypes\
                                \ for **CategoryType: ReservationUtilization**\n-\
                                \ Last7Days\n- Last30Days\n\n Required for CategoryType(s):\
                                \ Cost, ReservationUtilization."
                              type: string
                              enum:
                              - Monthly
                              - Quarterly
                              - Annually
                              - BillingMonth
                              - BillingQuarter
                              - BillingAnnual
                              - Last7Days
                              - Last30Days
                              x-ms-enum:
                                name: TimeGrainType
                                modelAsString: true
                                values:
                                - value: Monthly
                                  description: "The budget will track costs in the\
                                    \ current calendar month against the amount.\n\
                                    \n Supported for CategoryType: Cost only."
                                  name: Monthly
                                - value: Quarterly
                                  description: "The budget will track costs in the\
                                    \ current calendar quarter against the amount.\n\
                                    \n Supported for CategoryType: Cost only."
                                  name: Quarterly
                                - value: Annually
                                  description: "The budget will track costs in the\
                                    \ current calendar year against the amount.\n\n\
                                    \ Supported for CategoryType: Cost only."
                                  name: Annually
                                - value: BillingMonth
                                  description: "The budget will track costs in the\
                                    \ current billing month against the amount.\n\n\
                                    \ Supported for CategoryType: Cost and Web Direct\
                                    \ customers only."
                                  name: BillingMonth
                                - value: BillingQuarter
                                  description: "The budget will track costs in the\
                                    \ current billing quarter against the amount.\n\
                                    \n Supported for CategoryType: Cost and Web Direct\
                                    \ customers only."
                                  name: BillingQuarter
                                - value: BillingAnnual
                                  description: "The budget will track costs in the\
                                    \ current billing year against the amount.\n\n\
                                    \ Supported for CategoryType: Cost and Web Direct\
                                    \ customers only."
                                  name: BillingAnnual
                                - value: Last7Days
                                  description: "The Reservation Utilization Alert\
                                    \ Rule will evaluate reservations based on their\
                                    \ 7-Day utilization percentage.\n\n Supported\
                                    \ for CategoryType: ReservationUtilization only."
                                  name: Last7Days
                                - value: Last30Days
                                  description: "The Reservation Utilization Alert\
                                    \ Rule will evaluate reservations based on their\
                                    \ 30-Day utilization percentage.\n\n Supported\
                                    \ for CategoryType: ReservationUtilization only."
                                  name: Last30Days
                            timePeriod:
                              description: "The time period that defines the active\
                                \ period of the budget. The budget will evaluate data\
                                \ on or after the startDate and will expire on the\
                                \ endDate.\n\n Supported for CategoryType(s): Cost,\
                                \ ReservationUtilization.\n\n Required for CategoryType(s):\
                                \ Cost, ReservationUtilization."
                              type: object
                              properties:
                                startDate:
                                  description: 'The start date for the budget.


                                    - Constraints for **CategoryType: Cost** - Must
                                    be first of the month and should be less than
                                    the end date. Budget start date must be on or
                                    after June 1, 2017. Future start date should not
                                    be more than twelve months. Past start date should  be
                                    selected within the timegrain period.


                                    - Constraints for **CategoryType: ReservationUtilization**
                                    - Must be on or after the current date and less
                                    than the end date.'
                                  type: string
                                  format: date-time
                                endDate:
                                  description: 'The end date for the budget.


                                    - Constraints for **CategoryType: Cost** - No
                                    constraints. If not provided, we default this
                                    to 10 years from the start date.


                                    - Constraints for **CategoryType: ReservationUtilization**
                                    - End date cannot be more than 3 years after the
                                    start date.'
                                  type: string
                                  format: date-time
                              required:
                              - startDate
                            filter:
                              description: "May be used to filter budgets by user-specified\
                                \ dimensions and/or tags.\n\n Supported for CategoryType(s):\
                                \ Cost, ReservationUtilization."
                              type: object
                              properties:
                                and:
                                  description: "The logical \"AND\" expression. Must\
                                    \ have at least 2 items.\n\n Supported for CategoryType(s):\
                                    \ Cost."
                                  type: array
                                  items:
                                    description: "The Dimensions or Tags to filter\
                                      \ a budget by.\n\n Supported for CategoryType(s):\
                                      \ Cost, ReservationUtilization."
                                    type: object
                                    properties:
                                      dimensions:
                                        description: "Has comparison expression for\
                                          \ a dimension.\n\n Supported for CategoryType(s):\
                                          \ Cost, ReservationUtilization.\n\nSupported\
                                          \ dimension names for **CategoryType: ReservationUtilization**\
                                          \ \n- ReservationId\n- ReservedResourceType"
                                        type: object
                                        properties:
                                          name:
                                            description: The name of the column to
                                              use in comparison.
                                            type: string
                                          operator:
                                            description: The operator to use for comparison.
                                            type: string
                                            enum:
                                            - In
                                            x-ms-enum:
                                              name: BudgetOperatorType
                                              modelAsString: true
                                          values:
                                            description: Array of values to use for
                                              comparison
                                            type: array
                                            items:
                                              type: string
                                            minItems: 0
                                        required:
                                        - name
                                        - operator
                                        - values
                                      tags:
                                        description: "Has comparison expression for\
                                          \ a tag.\n\n Supported for CategoryType(s):\
                                          \ Cost."
                                        type: object
                                        properties:
                                          name:
                                            description: The name of the column to
                                              use in comparison.
                                            type: string
                                          operator:
                                            description: The operator to use for comparison.
                                            type: string
                                            enum:
                                            - In
                                            x-ms-enum:
                                              name: BudgetOperatorType
                                              modelAsString: true
                                          values:
                                            description: Array of values to use for
                                              comparison
                                            type: array
                                            items:
                                              type: string
                                            minItems: 0
                                        required:
                                        - name
                                        - operator
                                        - values
                                  x-ms-identifiers: []
                                  minItems: 0
                                dimensions:
                                  description: "Has comparison expression for a dimension.\n\
                                    \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                                    \nSupported dimension names for **CategoryType:\
                                    \ ReservationUtilization** \n- ReservationId\n\
                                    - ReservedResourceType"
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the column to use in
                                        comparison.
                                      type: string
                                    operator:
                                      description: The operator to use for comparison.
                                      type: string
                                      enum:
                                      - In
                                      x-ms-enum:
                                        name: BudgetOperatorType
                                        modelAsString: true
                                    values:
                                      description: Array of values to use for comparison
                                      type: array
                                      items:
                                        type: string
                                      minItems: 0
                                  required:
                                  - name
                                  - operator
                                  - values
                                tags:
                                  description: "Has comparison expression for a tag.\n\
                                    \n Supported for CategoryType(s): Cost."
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the column to use in
                                        comparison.
                                      type: string
                                    operator:
                                      description: The operator to use for comparison.
                                      type: string
                                      enum:
                                      - In
                                      x-ms-enum:
                                        name: BudgetOperatorType
                                        modelAsString: true
                                    values:
                                      description: Array of values to use for comparison
                                      type: array
                                      items:
                                        type: string
                                      minItems: 0
                                  required:
                                  - name
                                  - operator
                                  - values
                            currentSpend:
                              description: "The current amount of cost which is being\
                                \ tracked for a budget.\n\n Supported for CategoryType(s):\
                                \ Cost."
                              readOnly: true
                              type: object
                              properties:
                                amount:
                                  description: The total amount of cost which is being
                                    tracked by the budget.
                                  type: number
                                  readOnly: true
                                unit:
                                  description: The unit of measure for the budget
                                    amount.
                                  type: string
                                  readOnly: true
                            notifications:
                              type: object
                              description: "Dictionary of notifications associated\
                                \ with the budget.\n\n Supported for CategoryType(s):\
                                \ Cost, ReservationUtilization.\n\n- Constraints for\
                                \ **CategoryType: Cost** - Budget can have up to 5\
                                \ notifications with thresholdType: Actual and 5 notifications\
                                \ with thresholdType: Forecasted.\n- Constraints for\
                                \ **CategoryType: ReservationUtilization** - Only\
                                \ one notification allowed. thresholdType is not applicable."
                              additionalProperties:
                                description: "The notification associated with a budget.\n\
                                  \n Supported for CategoryType(s): Cost, ReservationUtilization."
                                type: object
                                properties:
                                  enabled:
                                    description: "The notification is enabled or not.\n\
                                      \n Supported for CategoryType(s): Cost, ReservationUtilization."
                                    type: boolean
                                  operator:
                                    description: "The comparison operator.\n\n Supported\
                                      \ for CategoryType(s): Cost, ReservationUtilization.\n\
                                      \n Supported operators for **CategoryType: Cost**\n\
                                      - GreaterThan\n- GreaterThanOrEqualTo\n\n Supported\
                                      \ operators for **CategoryType: ReservationUtilization**\n\
                                      - LessThan"
                                    type: string
                                    enum:
                                    - EqualTo
                                    - GreaterThan
                                    - GreaterThanOrEqualTo
                                    - LessThan
                                    x-ms-enum:
                                      name: BudgetNotificationOperatorType
                                      modelAsString: true
                                      values:
                                      - value: EqualTo
                                        description: "Notification will be triggered\
                                          \ if the evaluated cost is the same as threshold\
                                          \ value. Note: It\u2019s not recommended\
                                          \ to use this OperatorType as there\u2019\
                                          s low chance of cost being exactly the same\
                                          \ as threshold value, leading to missing\
                                          \ of your alert. This OperatorType will\
                                          \ be deprecated in future.\n\n Supported\
                                          \ for CategoryType(s): Cost."
                                        name: EqualTo
                                      - value: GreaterThan
                                        description: "Notification will be triggered\
                                          \ if the evaluated cost is greater than\
                                          \ the threshold value. Note: This is the\
                                          \ recommended OperatorType while configuring\
                                          \ Budget Alert.\n\n Supported for CategoryType(s):\
                                          \ Cost."
                                        name: GreaterThan
                                      - value: GreaterThanOrEqualTo
                                        description: "Notification will be triggered\
                                          \ if the evaluated cost is greater than\
                                          \ or equal to the threshold value.\n\n Supported\
                                          \ for CategoryType(s): Cost."
                                        name: GreaterThanOrEqualTo
                                      - value: LessThan
                                        description: "Notification will be triggered\
                                          \ if any Reservations in the scope of the\
                                          \ Reservation Utilization Alert Rule have\
                                          \ a utilization less than the threshold\
                                          \ percentage.\n\n Supported for CategoryType(s):\
                                          \ ReservationUtilization."
                                        name: LessThan
                                  threshold:
                                    description: "Threshold value associated with\
                                      \ a notification. It is always percent with\
                                      \ a maximum of 2 decimal places.\n\n Supported\
                                      \ for CategoryType(s): Cost, ReservationUtilization.\n\
                                      \n **CategoryType: Cost** - Must be between\
                                      \ 0 and 1000. Notification is sent when the\
                                      \ cost exceeded the threshold.\n\n **CategoryType:\
                                      \ ReservationUtilization** - Must be between\
                                      \ 0 and 100. Notification is sent when a reservation\
                                      \ has a utilization percentage below the threshold."
                                    type: number
                                  frequency:
                                    description: "Frequency of a notification. Represents\
                                      \ how long the notification will be silent after\
                                      \ triggering an alert for a threshold breach.\
                                      \ If not specified, the frequency will be set\
                                      \ by default based on the timeGrain (Weekly\
                                      \ when timeGrain: Last7Days, Monthly when timeGrain:\
                                      \ Last30Days).\n\n Supported for CategoryType(s):\
                                      \ ReservationUtilization."
                                    type: string
                                    enum:
                                    - Daily
                                    - Weekly
                                    - Monthly
                                    x-ms-enum:
                                      name: Frequency
                                      modelAsString: true
                                      values:
                                      - value: Daily
                                        description: After the threshold breaches
                                          and an Alert is fired, no further alerts
                                          will be sent until the next calendar day.
                                        name: Daily
                                      - value: Weekly
                                        description: After the threshold breaches
                                          and an Alert is fired, no further alerts
                                          will be sent for 7 calendar days.
                                        name: Weekly
                                      - value: Monthly
                                        description: After the threshold breaches
                                          and an Alert is fired, no further alerts
                                          will be sent for 30 calendar days.
                                        name: Monthly
                                  contactEmails:
                                    description: "Email addresses to send the notification\
                                      \ to when the threshold is breached. Must have\
                                      \ at least one contact email or contact group\
                                      \ specified at the Subscription or Resource\
                                      \ Group scopes. All other scopes must have at\
                                      \ least one contact email specified.\n\n Supported\
                                      \ for CategoryType(s): Cost, ReservationUtilization."
                                    type: array
                                    items:
                                      type: string
                                    minItems: 0
                                    maxItems: 50
                                  contactRoles:
                                    description: "Subscription or Resource Group scopes\
                                      \ only. Contact roles to send the notification\
                                      \ to when the threshold is breached.\n\n Supported\
                                      \ for CategoryType(s): Cost."
                                    type: array
                                    items:
                                      type: string
                                  contactGroups:
                                    description: "Subscription or Resource Group scopes\
                                      \ only. Action groups to send the notification\
                                      \ to when the threshold is exceeded. Must be\
                                      \ provided as a fully qualified Azure resource\
                                      \ id.\n\n Supported for CategoryType(s): Cost."
                                    type: array
                                    items:
                                      type: string
                                    minItems: 0
                                    maxItems: 50
                                  thresholdType:
                                    description: "The type of threshold.\n\n Supported\
                                      \ for CategoryType(s): Cost."
                                    type: string
                                    enum:
                                    - Actual
                                    - Forecasted
                                    x-ms-enum:
                                      name: ThresholdType
                                      modelAsString: true
                                      values:
                                      - value: Actual
                                        description: Actual costs budget alerts notify
                                          when the actual accrued cost exceeds the
                                          allocated budget.
                                        name: Actual
                                      - value: Forecasted
                                        description: Forecasted costs budget alerts
                                          provide advanced notification that your
                                          spending trends are likely to exceed your
                                          allocated budget, as it relies on forecasted
                                          cost predictions.
                                        name: Forecasted
                                    default: Actual
                                  locale:
                                    description: "Language in which the recipient\
                                      \ will receive the notification, \n\n Supported\
                                      \ for CategoryType(s): Cost, ReservationUtilization."
                                    type: string
                                    enum:
                                    - en-us
                                    - ja-jp
                                    - zh-cn
                                    - de-de
                                    - es-es
                                    - fr-fr
                                    - it-it
                                    - ko-kr
                                    - pt-br
                                    - ru-ru
                                    - zh-tw
                                    - cs-cz
                                    - pl-pl
                                    - tr-tr
                                    - da-dk
                                    - en-gb
                                    - hu-hu
                                    - nb-no
                                    - nl-nl
                                    - pt-pt
                                    - sv-se
                                    x-ms-enum:
                                      name: CultureCode
                                      modelAsString: true
                                required:
                                - enabled
                                - operator
                                - threshold
                                - contactEmails
                              maxItems: 5
                            forecastSpend:
                              description: "The forecasted cost which is being tracked\
                                \ for a budget.\n\n Supported for CategoryType(s):\
                                \ Cost."
                              readOnly: true
                              type: object
                              properties:
                                amount:
                                  description: The forecasted cost for the total time
                                    period which is being tracked by the budget. This
                                    value is only provided if the budget contains
                                    a forecast alert type.
                                  type: number
                                  readOnly: true
                                unit:
                                  description: The unit of measure for the budget
                                    amount.
                                  type: string
                                  readOnly: true
                          required:
                          - category
                          - timeGrain
                          - timePeriod
                      description: The Resource model definition.
                      x-ms-azure-resource: true
                  nextLink:
                    description: "The link (url) to the next page of results.\r\n\
                      It's null for now, added for future use."
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /{scope}/providers/Microsoft.CostManagement/budgets/{budgetName}:
    get:
      tags:
      - Budgets
      operationId: Budgets_Get
      description: Gets the budget for the scope by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/CostManagement/
      parameters:
      - name: scope
        in: path
        required: true
        description: "The scope associated with budget operations.\n\n Supported scopes\
          \ for **CategoryType: Cost**\n\n Azure RBAC Scopes:\n- '/subscriptions/{subscriptionId}/'\
          \ for subscription scope\n- '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope\n- '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope\n\n EA (Enterprise Agreement) Scopes:\n\n-\
          \ '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope\n\n MCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)\n\n Supported scopes for **CategoryType:\
          \ ReservationUtilization**\n\n EA (Enterprise Agreement) Scopes:\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account Scope\n\nMCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope (non-CSP only)\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)"
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: budgetName
        in: path
        description: Budget Name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  eTag:
                    type: string
                    description: eTag of the resource. To handle concurrent update
                      scenario, this field will be used to determine whether the user
                      is updating the latest version or not.
                  properties:
                    x-ms-client-flatten: true
                    title: Budget properties
                    description: The properties of the budget.
                    type: object
                    properties:
                      category:
                        description: 'The category of the budget.

                          - ''Cost'' defines a Budget.

                          - ''ReservationUtilization'' defines a Reservation Utilization
                          Alert Rule.'
                        type: string
                        enum:
                        - Cost
                        - ReservationUtilization
                        x-ms-enum:
                          name: CategoryType
                          modelAsString: true
                          values:
                          - value: Cost
                            description: A Budget that evaluates monetary cost of
                              Azure resources against an amount, and alerts based
                              on a configured notification threshold.
                            name: Cost
                          - value: ReservationUtilization
                            description: An Alert Rule that evaluates the utilization
                              percentage of Azure Reservations, and alerts based on
                              a configured notification threshold.
                      amount:
                        description: "The total amount of cost to track with the budget.\n\
                          \n Supported for CategoryType(s): Cost.\n\n Required for\
                          \ CategoryType(s): Cost."
                        type: number
                      timeGrain:
                        description: "The time covered by a budget. Tracking of the\
                          \ amount will be reset based on the time grain.\n\nSupported\
                          \ for CategoryType(s): Cost, ReservationUtilization.\n\n\
                          \ Supported timeGrainTypes for **CategoryType: Cost**\n\n\
                          - Monthly\n- Quarterly\n- Annually\n- BillingMonth*\n- BillingQuarter*\n\
                          - BillingAnnual*\n\n  *only supported for Web Direct customers.\n\
                          \n Supported timeGrainTypes for **CategoryType: ReservationUtilization**\n\
                          - Last7Days\n- Last30Days\n\n Required for CategoryType(s):\
                          \ Cost, ReservationUtilization."
                        type: string
                        enum:
                        - Monthly
                        - Quarterly
                        - Annually
                        - BillingMonth
                        - BillingQuarter
                        - BillingAnnual
                        - Last7Days
                        - Last30Days
                        x-ms-enum:
                          name: TimeGrainType
                          modelAsString: true
                          values:
                          - value: Monthly
                            description: "The budget will track costs in the current\
                              \ calendar month against the amount.\n\n Supported for\
                              \ CategoryType: Cost only."
                            name: Monthly
                          - value: Quarterly
                            description: "The budget will track costs in the current\
                              \ calendar quarter against the amount.\n\n Supported\
                              \ for CategoryType: Cost only."
                            name: Quarterly
                          - value: Annually
                            description: "The budget will track costs in the current\
                              \ calendar year against the amount.\n\n Supported for\
                              \ CategoryType: Cost only."
                            name: Annually
                          - value: BillingMonth
                            description: "The budget will track costs in the current\
                              \ billing month against the amount.\n\n Supported for\
                              \ CategoryType: Cost and Web Direct customers only."
                            name: BillingMonth
                          - value: BillingQuarter
                            description: "The budget will track costs in the current\
                              \ billing quarter against the amount.\n\n Supported\
                              \ for CategoryType: Cost and Web Direct customers only."
                            name: BillingQuarter
                          - value: BillingAnnual
                            description: "The budget will track costs in the current\
                              \ billing year against the amount.\n\n Supported for\
                              \ CategoryType: Cost and Web Direct customers only."
                            name: BillingAnnual
                          - value: Last7Days
                            description: "The Reservation Utilization Alert Rule will\
                              \ evaluate reservations based on their 7-Day utilization\
                              \ percentage.\n\n Supported for CategoryType: ReservationUtilization\
                              \ only."
                            name: Last7Days
                          - value: Last30Days
                            description: "The Reservation Utilization Alert Rule will\
                              \ evaluate reservations based on their 30-Day utilization\
                              \ percentage.\n\n Supported for CategoryType: ReservationUtilization\
                              \ only."
                            name: Last30Days
                      timePeriod:
                        description: "The time period that defines the active period\
                          \ of the budget. The budget will evaluate data on or after\
                          \ the startDate and will expire on the endDate.\n\n Supported\
                          \ for CategoryType(s): Cost, ReservationUtilization.\n\n\
                          \ Required for CategoryType(s): Cost, ReservationUtilization."
                        type: object
                        properties:
                          startDate:
                            description: 'The start date for the budget.


                              - Constraints for **CategoryType: Cost** - Must be first
                              of the month and should be less than the end date. Budget
                              start date must be on or after June 1, 2017. Future
                              start date should not be more than twelve months. Past
                              start date should  be selected within the timegrain
                              period.


                              - Constraints for **CategoryType: ReservationUtilization**
                              - Must be on or after the current date and less than
                              the end date.'
                            type: string
                            format: date-time
                          endDate:
                            description: 'The end date for the budget.


                              - Constraints for **CategoryType: Cost** - No constraints.
                              If not provided, we default this to 10 years from the
                              start date.


                              - Constraints for **CategoryType: ReservationUtilization**
                              - End date cannot be more than 3 years after the start
                              date.'
                            type: string
                            format: date-time
                        required:
                        - startDate
                      filter:
                        description: "May be used to filter budgets by user-specified\
                          \ dimensions and/or tags.\n\n Supported for CategoryType(s):\
                          \ Cost, ReservationUtilization."
                        type: object
                        properties:
                          and:
                            description: "The logical \"AND\" expression. Must have\
                              \ at least 2 items.\n\n Supported for CategoryType(s):\
                              \ Cost."
                            type: array
                            items:
                              description: "The Dimensions or Tags to filter a budget\
                                \ by.\n\n Supported for CategoryType(s): Cost, ReservationUtilization."
                              type: object
                              properties:
                                dimensions:
                                  description: "Has comparison expression for a dimension.\n\
                                    \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                                    \nSupported dimension names for **CategoryType:\
                                    \ ReservationUtilization** \n- ReservationId\n\
                                    - ReservedResourceType"
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the column to use in
                                        comparison.
                                      type: string
                                    operator:
                                      description: The operator to use for comparison.
                                      type: string
                                      enum:
                                      - In
                                      x-ms-enum:
                                        name: BudgetOperatorType
                                        modelAsString: true
                                    values:
                                      description: Array of values to use for comparison
                                      type: array
                                      items:
                                        type: string
                                      minItems: 0
                                  required:
                                  - name
                                  - operator
                                  - values
                                tags:
                                  description: "Has comparison expression for a tag.\n\
                                    \n Supported for CategoryType(s): Cost."
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the column to use in
                                        comparison.
                                      type: string
                                    operator:
                                      description: The operator to use for comparison.
                                      type: string
                                      enum:
                                      - In
                                      x-ms-enum:
                                        name: BudgetOperatorType
                                        modelAsString: true
                                    values:
                                      description: Array of values to use for comparison
                                      type: array
                                      items:
                                        type: string
                                      minItems: 0
                                  required:
                                  - name
                                  - operator
                                  - values
                            x-ms-identifiers: []
                            minItems: 0
                          dimensions:
                            description: "Has comparison expression for a dimension.\n\
                              \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                              \nSupported dimension names for **CategoryType: ReservationUtilization**\
                              \ \n- ReservationId\n- ReservedResourceType"
                            type: object
                            properties:
                              name:
                                description: The name of the column to use in comparison.
                                type: string
                              operator:
                                description: The operator to use for comparison.
                                type: string
                                enum:
                                - In
                                x-ms-enum:
                                  name: BudgetOperatorType
                                  modelAsString: true
                              values:
                                description: Array of values to use for comparison
                                type: array
                                items:
                                  type: string
                                minItems: 0
                            required:
                            - name
                            - operator
                            - values
                          tags:
                            description: "Has comparison expression for a tag.\n\n\
                              \ Supported for CategoryType(s): Cost."
                            type: object
                            properties:
                              name:
                                description: The name of the column to use in comparison.
                                type: string
                              operator:
                                description: The operator to use for comparison.
                                type: string
                                enum:
                                - In
                                x-ms-enum:
                                  name: BudgetOperatorType
                                  modelAsString: true
                              values:
                                description: Array of values to use for comparison
                                type: array
                                items:
                                  type: string
                                minItems: 0
                            required:
                            - name
                            - operator
                            - values
                      currentSpend:
                        description: "The current amount of cost which is being tracked\
                          \ for a budget.\n\n Supported for CategoryType(s): Cost."
                        readOnly: true
                        type: object
                        properties:
                          amount:
                            description: The total amount of cost which is being tracked
                              by the budget.
                            type: number
                            readOnly: true
                          unit:
                            description: The unit of measure for the budget amount.
                            type: string
                            readOnly: true
                      notifications:
                        type: object
                        description: "Dictionary of notifications associated with\
                          \ the budget.\n\n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                          \n- Constraints for **CategoryType: Cost** - Budget can\
                          \ have up to 5 notifications with thresholdType: Actual\
                          \ and 5 notifications with thresholdType: Forecasted.\n\
                          - Constraints for **CategoryType: ReservationUtilization**\
                          \ - Only one notification allowed. thresholdType is not\
                          \ applicable."
                        additionalProperties:
                          description: "The notification associated with a budget.\n\
                            \n Supported for CategoryType(s): Cost, ReservationUtilization."
                          type: object
                          properties:
                            enabled:
                              description: "The notification is enabled or not.\n\n\
                                \ Supported for CategoryType(s): Cost, ReservationUtilization."
                              type: boolean
                            operator:
                              description: "The comparison operator.\n\n Supported\
                                \ for CategoryType(s): Cost, ReservationUtilization.\n\
                                \n Supported operators for **CategoryType: Cost**\n\
                                - GreaterThan\n- GreaterThanOrEqualTo\n\n Supported\
                                \ operators for **CategoryType: ReservationUtilization**\n\
                                - LessThan"
                              type: string
                              enum:
                              - EqualTo
                              - GreaterThan
                              - GreaterThanOrEqualTo
                              - LessThan
                              x-ms-enum:
                                name: BudgetNotificationOperatorType
                                modelAsString: true
                                values:
                                - value: EqualTo
                                  description: "Notification will be triggered if\
                                    \ the evaluated cost is the same as threshold\
                                    \ value. Note: It\u2019s not recommended to use\
                                    \ this OperatorType as there\u2019s low chance\
                                    \ of cost being exactly the same as threshold\
                                    \ value, leading to missing of your alert. This\
                                    \ OperatorType will be deprecated in future.\n\
                                    \n Supported for CategoryType(s): Cost."
                                  name: EqualTo
                                - value: GreaterThan
                                  description: "Notification will be triggered if\
                                    \ the evaluated cost is greater than the threshold\
                                    \ value. Note: This is the recommended OperatorType\
                                    \ while configuring Budget Alert.\n\n Supported\
                                    \ for CategoryType(s): Cost."
                                  name: GreaterThan
                                - value: GreaterThanOrEqualTo
                                  description: "Notification will be triggered if\
                                    \ the evaluated cost is greater than or equal\
                                    \ to the threshold value.\n\n Supported for CategoryType(s):\
                                    \ Cost."
                                  name: GreaterThanOrEqualTo
                                - value: LessThan
                                  description: "Notification will be triggered if\
                                    \ any Reservations in the scope of the Reservation\
                                    \ Utilization Alert Rule have a utilization less\
                                    \ than the threshold percentage.\n\n Supported\
                                    \ for CategoryType(s): ReservationUtilization."
                                  name: LessThan
                            threshold:
                              description: "Threshold value associated with a notification.\
                                \ It is always percent with a maximum of 2 decimal\
                                \ places.\n\n Supported for CategoryType(s): Cost,\
                                \ ReservationUtilization.\n\n **CategoryType: Cost**\
                                \ - Must be between 0 and 1000. Notification is sent\
                                \ when the cost exceeded the threshold.\n\n **CategoryType:\
                                \ ReservationUtilization** - Must be between 0 and\
                                \ 100. Notification is sent when a reservation has\
                                \ a utilization percentage below the threshold."
                              type: number
                            frequency:
                              description: "Frequency of a notification. Represents\
                                \ how long the notification will be silent after triggering\
                                \ an alert for a threshold breach. If not specified,\
                                \ the frequency will be set by default based on the\
                                \ timeGrain (Weekly when timeGrain: Last7Days, Monthly\
                                \ when timeGrain: Last30Days).\n\n Supported for CategoryType(s):\
                                \ ReservationUtilization."
                              type: string
                              enum:
                              - Daily
                              - Weekly
                              - Monthly
                              x-ms-enum:
                                name: Frequency
                                modelAsString: true
                                values:
                                - value: Daily
                                  description: After the threshold breaches and an
                                    Alert is fired, no further alerts will be sent
                                    until the next calendar day.
                                  name: Daily
                                - value: Weekly
                                  description: After the threshold breaches and an
                                    Alert is fired, no further alerts will be sent
                                    for 7 calendar days.
                                  name: Weekly
                                - value: Monthly
                                  description: After the threshold breaches and an
                                    Alert is fired, no further alerts will be sent
                                    for 30 calendar days.
                                  name: Monthly
                            contactEmails:
                              description: "Email addresses to send the notification\
                                \ to when the threshold is breached. Must have at\
                                \ least one contact email or contact group specified\
                                \ at the Subscription or Resource Group scopes. All\
                                \ other scopes must have at least one contact email\
                                \ specified.\n\n Supported for CategoryType(s): Cost,\
                                \ ReservationUtilization."
                              type: array
                              items:
                                type: string
                              minItems: 0
                              maxItems: 50
                            contactRoles:
                              description: "Subscription or Resource Group scopes\
                                \ only. Contact roles to send the notification to\
                                \ when the threshold is breached.\n\n Supported for\
                                \ CategoryType(s): Cost."
                              type: array
                              items:
                                type: string
                            contactGroups:
                              description: "Subscription or Resource Group scopes\
                                \ only. Action groups to send the notification to\
                                \ when the threshold is exceeded. Must be provided\
                                \ as a fully qualified Azure resource id.\n\n Supported\
                                \ for CategoryType(s): Cost."
                              type: array
                              items:
                                type: string
                              minItems: 0
                              maxItems: 50
                            thresholdType:
                              description: "The type of threshold.\n\n Supported for\
                                \ CategoryType(s): Cost."
                              type: string
                              enum:
                              - Actual
                              - Forecasted
                              x-ms-enum:
                                name: ThresholdType
                                modelAsString: true
                                values:
                                - value: Actual
                                  description: Actual costs budget alerts notify when
                                    the actual accrued cost exceeds the allocated
                                    budget.
                                  name: Actual
                                - value: Forecasted
                                  description: Forecasted costs budget alerts provide
                                    advanced notification that your spending trends
                                    are likely to exceed your allocated budget, as
                                    it relies on forecasted cost predictions.
                                  name: Forecasted
                              default: Actual
                            locale:
                              description: "Language in which the recipient will receive\
                                \ the notification, \n\n Supported for CategoryType(s):\
                                \ Cost, ReservationUtilization."
                              type: string
                              enum:
                              - en-us
                              - ja-jp
                              - zh-cn
                              - de-de
                              - es-es
                              - fr-fr
                              - it-it
                              - ko-kr
                              - pt-br
                              - ru-ru
                              - zh-tw
                              - cs-cz
                              - pl-pl
                              - tr-tr
                              - da-dk
                              - en-gb
                              - hu-hu
                              - nb-no
                              - nl-nl
                              - pt-pt
                              - sv-se
                              x-ms-enum:
                                name: CultureCode
                                modelAsString: true
                          required:
                          - enabled
                          - operator
                          - threshold
                          - contactEmails
                        maxItems: 5
                      forecastSpend:
                        description: "The forecasted cost which is being tracked for\
                          \ a budget.\n\n Supported for CategoryType(s): Cost."
                        readOnly: true
                        type: object
                        properties:
                          amount:
                            description: The forecasted cost for the total time period
                              which is being tracked by the budget. This value is
                              only provided if the budget contains a forecast alert
                              type.
                            type: number
                            readOnly: true
                          unit:
                            description: The unit of measure for the budget amount.
                            type: string
                            readOnly: true
                    required:
                    - category
                    - timeGrain
                    - timePeriod
                description: The Resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
    put:
      tags:
      - Budgets
      operationId: Budgets_CreateOrUpdate
      description: The operation to create or update a budget. You can optionally
        provide an eTag if desired as a form of concurrency control. To obtain the
        latest eTag for a given budget, perform a get operation prior to your put
        operation.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/CostManagement/
      parameters:
      - name: scope
        in: path
        required: true
        description: "The scope associated with budget operations.\n\n Supported scopes\
          \ for **CategoryType: Cost**\n\n Azure RBAC Scopes:\n- '/subscriptions/{subscriptionId}/'\
          \ for subscription scope\n- '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'\
          \ for resourceGroup scope\n- '/providers/Microsoft.Management/managementGroups/{managementGroupId}'\
          \ for Management Group scope\n\n EA (Enterprise Agreement) Scopes:\n\n-\
          \ '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'\
          \ for Department scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'\
          \ for EnrollmentAccount scope\n\n MCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for\
          \ Billing Account scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'\
          \ for invoiceSection scope\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)\n\n Supported scopes for **CategoryType:\
          \ ReservationUtilization**\n\n EA (Enterprise Agreement) Scopes:\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'\
          \ for Billing Account Scope\n\nMCA (Modern Customer Agreement) Scopes:\n\
          - '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'\
          \ for billingProfile scope (non-CSP only)\n- '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'\
          \ for customer scope (CSP only)"
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: budgetName
        in: path
        description: Budget Name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9_-]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                eTag:
                  type: string
                  description: eTag of the resource. To handle concurrent update scenario,
                    this field will be used to determine whether the user is updating
                    the latest version or not.
                properties:
                  x-ms-client-flatten: true
                  title: Budget properties
                  description: The properties of the budget.
                  type: object
                  properties:
                    category:
                      description: 'The category of the budget.

                        - ''Cost'' defines a Budget.

                        - ''ReservationUtilization'' defines a Reservation Utilization
                        Alert Rule.'
                      type: string
                      enum:
                      - Cost
                      - ReservationUtilization
                      x-ms-enum:
                        name: CategoryType
                        modelAsString: true
                        values:
                        - value: Cost
                          description: A Budget that evaluates monetary cost of Azure
                            resources against an amount, and alerts based on a configured
                            notification threshold.
                          name: Cost
                        - value: ReservationUtilization
                          description: An Alert Rule that evaluates the utilization
                            percentage of Azure Reservations, and alerts based on
                            a configured notification threshold.
                    amount:
                      description: "The total amount of cost to track with the budget.\n\
                        \n Supported for CategoryType(s): Cost.\n\n Required for CategoryType(s):\
                        \ Cost."
                      type: number
                    timeGrain:
                      description: "The time covered by a budget. Tracking of the\
                        \ amount will be reset based on the time grain.\n\nSupported\
                        \ for CategoryType(s): Cost, ReservationUtilization.\n\n Supported\
                        \ timeGrainTypes for **CategoryType: Cost**\n\n- Monthly\n\
                        - Quarterly\n- Annually\n- BillingMonth*\n- BillingQuarter*\n\
                        - BillingAnnual*\n\n  *only supported for Web Direct customers.\n\
                        \n Supported timeGrainTypes for **CategoryType: ReservationUtilization**\n\
                        - Last7Days\n- Last30Days\n\n Required for CategoryType(s):\
                        \ Cost, ReservationUtilization."
                      type: string
                      enum:
                      - Monthly
                      - Quarterly
                      - Annually
                      - BillingMonth
                      - BillingQuarter
                      - BillingAnnual
                      - Last7Days
                      - Last30Days
                      x-ms-enum:
                        name: TimeGrainType
                        modelAsString: true
                        values:
                        - value: Monthly
                          description: "The budget will track costs in the current\
                            \ calendar month against the amount.\n\n Supported for\
                            \ CategoryType: Cost only."
                          name: Monthly
                        - value: Quarterly
                          description: "The budget will track costs in the current\
                            \ calendar quarter against the amount.\n\n Supported for\
                            \ CategoryType: Cost only."
                          name: Quarterly
                        - value: Annually
                          description: "The budget will track costs in the current\
                            \ calendar year against the amount.\n\n Supported for\
                            \ CategoryType: Cost only."
                          name: Annually
                        - value: BillingMonth
                          description: "The budget will track costs in the current\
                            \ billing month against the amount.\n\n Supported for\
                            \ CategoryType: Cost and Web Direct customers only."
                          name: BillingMonth
                        - value: BillingQuarter
                          description: "The budget will track costs in the current\
                            \ billing quarter against the amount.\n\n Supported for\
                            \ CategoryType: Cost and Web Direct customers only."
                          name: BillingQuarter
                        - value: BillingAnnual
                          description: "The budget will track costs in the current\
                            \ billing year against the amount.\n\n Supported for CategoryType:\
                            \ Cost and Web Direct customers only."
                          name: BillingAnnual
                        - value: Last7Days
                          description: "The Reservation Utilization Alert Rule will\
                            \ evaluate reservations based on their 7-Day utilization\
                            \ percentage.\n\n Supported for CategoryType: ReservationUtilization\
                            \ only."
                          name: Last7Days
                        - value: Last30Days
                          description: "The Reservation Utilization Alert Rule will\
                            \ evaluate reservations based on their 30-Day utilization\
                            \ percentage.\n\n Supported for CategoryType: ReservationUtilization\
                            \ only."
                          name: Last30Days
                    timePeriod:
                      description: "The time period that defines the active period\
                        \ of the budget. The budget will evaluate data on or after\
                        \ the startDate and will expire on the endDate.\n\n Supported\
                        \ for CategoryType(s): Cost, ReservationUtilization.\n\n Required\
                        \ for CategoryType(s): Cost, ReservationUtilization."
                      type: object
                      properties:
                        startDate:
                          description: 'The start date for the budget.


                            - Constraints for **CategoryType: Cost** - Must be first
                            of the month and should be less than the end date. Budget
                            start date must be on or after June 1, 2017. Future start
                            date should not be more than twelve months. Past start
                            date should  be selected within the timegrain period.


                            - Constraints for **CategoryType: ReservationUtilization**
                            - Must be on or after the current date and less than the
                            end date.'
                          type: string
                          format: date-time
                        endDate:
                          description: 'The end date for the budget.


                            - Constraints for **CategoryType: Cost** - No constraints.
                            If not provided, we default this to 10 years from the
                            start date.


                            - Constraints for **CategoryType: ReservationUtilization**
                            - End date cannot be more than 3 years after the start
                            date.'
                          type: string
                          format: date-time
                      required:
                      - startDate
                    filter:
                      description: "May be used to filter budgets by user-specified\
                        \ dimensions and/or tags.\n\n Supported for CategoryType(s):\
                        \ Cost, ReservationUtilization."
                      type: object
                      properties:
                        and:
                          description: "The logical \"AND\" expression. Must have\
                            \ at least 2 items.\n\n Supported for CategoryType(s):\
                            \ Cost."
                          type: array
                          items:
                            description: "The Dimensions or Tags to filter a budget\
                              \ by.\n\n Supported for CategoryType(s): Cost, ReservationUtilization."
                            type: object
                            properties:
                              dimensions:
                                description: "Has comparison expression for a dimension.\n\
                                  \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                                  \nSupported dimension names for **CategoryType:\
                                  \ ReservationUtilization** \n- ReservationId\n-\
                                  \ ReservedResourceType"
                                type: object
                                properties:
                                  name:
                                    description: The name of the column to use in
                                      comparison.
                                    type: string
                                  operator:
                                    description: The operator to use for comparison.
                                    type: string
                                    enum:
                                    - In
                                    x-ms-enum:
                                      name: BudgetOperatorType
                                      modelAsString: true
                                  values:
                                    description: Array of values to use for comparison
                                    type: array
                                    items:
                                      type: string
                                    minItems: 0
                                required:
                                - name
                                - operator
                                - values
                              tags:
                                description: "Has comparison expression for a tag.\n\
                                  \n Supported for CategoryType(s): Cost."
                                type: object
                                properties:
                                  name:
                                    description: The name of the column to use in
                                      comparison.
                                    type: string
                                  operator:
                                    description: The operator to use for comparison.
                                    type: string
                                    enum:
                                    - In
                                    x-ms-enum:
                                      name: BudgetOperatorType
                                      modelAsString: true
                                  values:
                                    description: Array of values to use for comparison
                                    type: array
                                    items:
                                      type: string
                                    minItems: 0
                                required:
                                - name
                                - operator
                                - values
                          x-ms-identifiers: []
                          minItems: 0
                        dimensions:
                          description: "Has comparison expression for a dimension.\n\
                            \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                            \nSupported dimension names for **CategoryType: ReservationUtilization**\
                            \ \n- ReservationId\n- ReservedResourceType"
                          type: object
                          properties:
                            name:
                              description: The name of the column to use in comparison.
                              type: string
                            operator:
                              description: The operator to use for comparison.
                              type: string
                              enum:
                              - In
                              x-ms-enum:
                                name: BudgetOperatorType
                                modelAsString: true
                            values:
                              description: Array of values to use for comparison
                              type: array
                              items:
                                type: string
                              minItems: 0
                          required:
                          - name
                          - operator
                          - values
                        tags:
                          description: "Has comparison expression for a tag.\n\n Supported\
                            \ for CategoryType(s): Cost."
                          type: object
                          properties:
                            name:
                              description: The name of the column to use in comparison.
                              type: string
                            operator:
                              description: The operator to use for comparison.
                              type: string
                              enum:
                              - In
                              x-ms-enum:
                                name: BudgetOperatorType
                                modelAsString: true
                            values:
                              description: Array of values to use for comparison
                              type: array
                              items:
                                type: string
                              minItems: 0
                          required:
                          - name
                          - operator
                          - values
                    currentSpend:
                      description: "The current amount of cost which is being tracked\
                        \ for a budget.\n\n Supported for CategoryType(s): Cost."
                      readOnly: true
                      type: object
                      properties:
                        amount:
                          description: The total amount of cost which is being tracked
                            by the budget.
                          type: number
                          readOnly: true
                        unit:
                          description: The unit of measure for the budget amount.
                          type: string
                          readOnly: true
                    notifications:
                      type: object
                      description: "Dictionary of notifications associated with the\
                        \ budget.\n\n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                        \n- Constraints for **CategoryType: Cost** - Budget can have\
                        \ up to 5 notifications with thresholdType: Actual and 5 notifications\
                        \ with thresholdType: Forecasted.\n- Constraints for **CategoryType:\
                        \ ReservationUtilization** - Only one notification allowed.\
                        \ thresholdType is not applicable."
                      additionalProperties:
                        description: "The notification associated with a budget.\n\
                          \n Supported for CategoryType(s): Cost, ReservationUtilization."
                        type: object
                        properties:
                          enabled:
                            description: "The notification is enabled or not.\n\n\
                              \ Supported for CategoryType(s): Cost, ReservationUtilization."
                            type: boolean
                          operator:
                            description: "The comparison operator.\n\n Supported for\
                              \ CategoryType(s): Cost, ReservationUtilization.\n\n\
                              \ Supported operators for **CategoryType: Cost**\n-\
                              \ GreaterThan\n- GreaterThanOrEqualTo\n\n Supported\
                              \ operators for **CategoryType: ReservationUtilization**\n\
                              - LessThan"
                            type: string
                            enum:
                            - EqualTo
                            - GreaterThan
                            - GreaterThanOrEqualTo
                            - LessThan
                            x-ms-enum:
                              name: BudgetNotificationOperatorType
                              modelAsString: true
                              values:
                              - value: EqualTo
                                description: "Notification will be triggered if the\
                                  \ evaluated cost is the same as threshold value.\
                                  \ Note: It\u2019s not recommended to use this OperatorType\
                                  \ as there\u2019s low chance of cost being exactly\
                                  \ the same as threshold value, leading to missing\
                                  \ of your alert. This OperatorType will be deprecated\
                                  \ in future.\n\n Supported for CategoryType(s):\
                                  \ Cost."
                                name: EqualTo
                              - value: GreaterThan
                                description: "Notification will be triggered if the\
                                  \ evaluated cost is greater than the threshold value.\
                                  \ Note: This is the recommended OperatorType while\
                                  \ configuring Budget Alert.\n\n Supported for CategoryType(s):\
                                  \ Cost."
                                name: GreaterThan
                              - value: GreaterThanOrEqualTo
                                description: "Notification will be triggered if the\
                                  \ evaluated cost is greater than or equal to the\
                                  \ threshold value.\n\n Supported for CategoryType(s):\
                                  \ Cost."
                                name: GreaterThanOrEqualTo
                              - value: LessThan
                                description: "Notification will be triggered if any\
                                  \ Reservations in the scope of the Reservation Utilization\
                                  \ Alert Rule have a utilization less than the threshold\
                                  \ percentage.\n\n Supported for CategoryType(s):\
                                  \ ReservationUtilization."
                                name: LessThan
                          threshold:
                            description: "Threshold value associated with a notification.\
                              \ It is always percent with a maximum of 2 decimal places.\n\
                              \n Supported for CategoryType(s): Cost, ReservationUtilization.\n\
                              \n **CategoryType: Cost** - Must be between 0 and 1000.\
                              \ Notification is sent when the cost exceeded the threshold.\n\
                              \n **CategoryType: ReservationUtilization** - Must be\
                              \ between 0 and 100. Notification is sent when a reservation\
                              \ has a utilization percentage below the threshold."
                            type: number
                          frequency:
                            description: "Frequency of a notification. Represents\
                              \ how long the notification will be silent after triggering\
                              \ an alert for a threshold breach. If not specified,\
                              \ the frequency will be set by default based on the\
                              \ timeGrain (Weekly when timeGrain: Last7Days, Monthly\
                              \ when timeGrain: Last30Days).\n\n Supported for CategoryType(s):\
                              \ ReservationUtilization."
                            type: string
                            enum:
                            - Daily
                            - Weekly
                            - Monthly
                            x-ms-enum:
                              name: Frequency
                              modelAsString: true
                              values:
                              - value: Daily
                                description: After the threshold breaches and an Alert
                                  is fired, no further alerts will be sent until the
                                  next calendar day.
                                name: Daily
                              - value: Weekly
                                description: After the threshold breaches and an Alert
                                  is fired, no further alerts will be sent for 7 calendar
                                  days.
                                name: Weekly
                              - value: Monthly
                                description: After the threshold breaches and an Alert
                                  is fired, no further alerts will be sent for 30
                                  calendar days.
                                name: Monthly
                          contactEmails:
[...]
