openapi: 3.0.0
info:
  version: 2025-03-01
  title: CostManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.CostManagement/generateDetailedCostReport:
    post:
      tags:
      - UsageDetails
      operationId: GenerateDetailedCostReport_CreateOperation
      description: Generates the detailed cost report for provided date range, billing
        period(only enterprise customers) or Invoice ID asynchronously at a certain
        scope. Call returns a 202 with header Azure-Consumption-AsyncOperation providing
        a link to the operation created. A call on the operation will provide the
        status and if the operation is completed the blob file where generated detailed
        cost report is being stored.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - name: scope
        in: path
        required: true
        description: The ARM Resource ID for subscription, resource group, billing
          account, or other billing scopes. For details, see https://aka.ms/costmgmt/scopes.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: The definition of a cost detailed report.
              properties:
                metric:
                  description: The type of the detailed report. By default ActualCost
                    is provided
                  type: string
                  enum:
                  - ActualCost
                  - AmortizedCost
                  x-ms-enum:
                    name: GenerateDetailedCostReportMetricType
                    modelAsString: true
                timePeriod:
                  description: Has time period for pulling data for the cost detailed
                    report. Can only have one of either timePeriod or invoiceId or
                    billingPeriod parameters. If none provided current month cost
                    is provided.
                  properties:
                    start:
                      description: The start date to pull data from. example format
                        2020-03-15
                      type: string
                    end:
                      description: The end date to pull data to. example format 2020-03-15
                      type: string
                  required:
                  - start
                  - end
                billingPeriod:
                  description: Billing period in YearMonth(e.g. 202008) format. Only
                    for legacy enterprise customers can use this. Can only have one
                    of either timePeriod or invoiceId or billingPeriod parameters.
                    If none provided current month cost is provided.
                  type: string
                invoiceId:
                  description: Invoice ID for Pay-as-you-go and Microsoft Customer
                    Agreement scopes. Can only have one of either timePeriod or invoiceId
                    or billingPeriod parameters. If none provided current month cost
                    is provided.
                  type: string
                customerId:
                  description: Customer ID for Microsoft Customer Agreement scopes
                    (Invoice Id is also required for this).
                  type: string
        description: Parameters supplied to the Create detailed cost report operation.
        required: true
      responses:
        '200':
          description: Request processing completed.
          content:
            application/json:
              schema:
                description: The result of the long running operation for cost detailed
                  report.
                properties:
                  id:
                    description: The ARM resource id of the long running operation.
                    type: string
                  name:
                    description: The name of the long running operation.
                    type: string
                  type:
                    description: The type of the long running operation.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the resource generated.
                    type: object
                    properties:
                      expiryTime:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                        readOnly: true
                      validTill:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                      downloadUrl:
                        description: The URL to download the generated report.
                        type: string
        '202':
          description: Accepted. Request will be processed. Use the Location header
            to check the status.
          headers:
            Location:
              description: The URL to check the result of the asynchronous operation.
              schema:
                type: string
            Azure-Consumption-AsyncOperation:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Azure-AsyncOperation:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 413 Request Entity\
                  \ Too Large - Request is throttled. The amount of data required\
                  \ to fulfill the request exceeds the maximum size permitted of 2Gb.\
                  \ Please utilize our Exports feature instead. \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  /{scope}/providers/Microsoft.CostManagement/operationResults/{operationId}:
    get:
      tags:
      - GenerateDetailedCostReportOperationResults
      operationId: GenerateDetailedCostReportOperationResults_Get
      description: Gets the result of the specified operation. The link with this
        operationId is provided as a response header of the initial request.
      x-ms-long-running-operation: true
      parameters:
      - name: operationId
        in: path
        required: true
        description: The target operation Id.
        schema:
          type: string
      - name: scope
        in: path
        required: true
        description: The ARM Resource ID for subscription, resource group, billing
          account, or other billing scopes. For details, see https://aka.ms/costmgmt/scopes.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The result of the long running operation for cost detailed
                  report.
                properties:
                  id:
                    description: The ARM resource id of the long running operation.
                    type: string
                  name:
                    description: The name of the long running operation.
                    type: string
                  type:
                    description: The type of the long running operation.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the resource generated.
                    type: object
                    properties:
                      expiryTime:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                        readOnly: true
                      validTill:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                      downloadUrl:
                        description: The URL to download the generated report.
                        type: string
        '202':
          description: Accepted. The operation is ongoing.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  /{scope}/providers/Microsoft.CostManagement/operationStatus/{operationId}:
    get:
      tags:
      - GenerateDetailedCostReportOperationStatus
      operationId: GenerateDetailedCostReportOperationStatus_Get
      description: Get the status of the specified operation. This link is provided
        in the GenerateDetailedCostReport creation request response header.
      parameters:
      - name: operationId
        in: path
        required: true
        description: The target operation Id.
        schema:
          type: string
      - name: scope
        in: path
        required: true
        description: The ARM Resource ID for subscription, resource group, billing
          account, or other billing scopes. For details, see https://aka.ms/costmgmt/scopes.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The status of the long running operation for cost detailed
                  report.
                properties:
                  id:
                    description: The ID of the long running operation.
                    type: string
                  name:
                    description: The name of the long running operation.
                    type: string
                  status:
                    description: The status of the long running operation.
                    properties:
                      status:
                        description: The status of the long running operation.
                        type: string
                        enum:
                        - InProgress
                        - Completed
                        - Failed
                        - Queued
                        - NoDataFound
                        - ReadyToDownload
                        - TimedOut
                        x-ms-enum:
                          name: ReportOperationStatusType
                          modelAsString: true
                  startTime:
                    description: The startTime of the operation.
                    type: string
                  endTime:
                    description: The endTime of the operation.
                    type: string
                  type:
                    description: The type of the long running operation.
                    type: string
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the usage file generated.
                    type: object
                    properties:
                      expiryTime:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                        readOnly: true
                      validTill:
                        description: The time at which report URL becomes invalid/expires
                          in UTC e.g. 2020-12-08T05:55:59.4394737Z.
                        type: string
                        format: date-time
                      downloadUrl:
                        description: The URL to download the generated report.
                        type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
components:
  parameters:
    scopeUsageDetailsParameter:
      name: scope
      in: path
      required: true
      description: The ARM Resource ID for subscription, resource group, billing account,
        or other billing scopes. For details, see https://aka.ms/costmgmt/scopes.
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    GenerateDetailedCostReportErrorResponse:
      description: "Error response indicates that the service is not able to process\
        \ the incoming request. The reason is provided in the error message. \n\n\
        Some Error responses: \n\n * 413 Request Entity Too Large - Request is throttled.\
        \ The amount of data required to fulfill the request exceeds the maximum size\
        \ permitted of 2Gb. Please utilize our Exports feature instead. \n\n * 429\
        \ TooManyRequests - Request is throttled. Retry after waiting for the time\
        \ specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
        \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry\
        \ after waiting for the time specified in the \"Retry-After\" header."
      type: object
      properties:
        error:
          description: The details of the error.
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
    GenerateDetailedCostReportDefinition:
      description: The definition of a cost detailed report.
      properties:
        metric:
          description: The type of the detailed report. By default ActualCost is provided
          type: string
          enum:
          - ActualCost
          - AmortizedCost
          x-ms-enum:
            name: GenerateDetailedCostReportMetricType
            modelAsString: true
        timePeriod:
          description: Has time period for pulling data for the cost detailed report.
            Can only have one of either timePeriod or invoiceId or billingPeriod parameters.
            If none provided current month cost is provided.
          properties:
            start:
              description: The start date to pull data from. example format 2020-03-15
              type: string
            end:
              description: The end date to pull data to. example format 2020-03-15
              type: string
          required:
          - start
          - end
        billingPeriod:
          description: Billing period in YearMonth(e.g. 202008) format. Only for legacy
            enterprise customers can use this. Can only have one of either timePeriod
            or invoiceId or billingPeriod parameters. If none provided current month
            cost is provided.
          type: string
        invoiceId:
          description: Invoice ID for Pay-as-you-go and Microsoft Customer Agreement
            scopes. Can only have one of either timePeriod or invoiceId or billingPeriod
            parameters. If none provided current month cost is provided.
          type: string
        customerId:
          description: Customer ID for Microsoft Customer Agreement scopes (Invoice
            Id is also required for this).
          type: string
    GenerateDetailedCostReportTimePeriod:
      description: The start and end date for pulling data for the cost detailed report.
      properties:
        start:
          description: The start date to pull data from. example format 2020-03-15
          type: string
        end:
          description: The end date to pull data to. example format 2020-03-15
          type: string
      required:
      - start
      - end
    GenerateDetailedCostReportOperationStatuses:
      description: The status of the long running operation for cost detailed report.
      properties:
        id:
          description: The ID of the long running operation.
          type: string
        name:
          description: The name of the long running operation.
          type: string
        status:
          description: The status of the long running operation.
          properties:
            status:
              description: The status of the long running operation.
              type: string
              enum:
              - InProgress
              - Completed
              - Failed
              - Queued
              - NoDataFound
              - ReadyToDownload
              - TimedOut
              x-ms-enum:
                name: ReportOperationStatusType
                modelAsString: true
        startTime:
          description: The startTime of the operation.
          type: string
        endTime:
          description: The endTime of the operation.
          type: string
        type:
          description: The type of the long running operation.
          type: string
        error:
          description: The details of the error.
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
        properties:
          x-ms-client-flatten: true
          description: The properties of the usage file generated.
          type: object
          properties:
            expiryTime:
              description: The time at which report URL becomes invalid/expires in
                UTC e.g. 2020-12-08T05:55:59.4394737Z.
              type: string
              format: date-time
              readOnly: true
            validTill:
              description: The time at which report URL becomes invalid/expires in
                UTC e.g. 2020-12-08T05:55:59.4394737Z.
              type: string
              format: date-time
            downloadUrl:
              description: The URL to download the generated report.
              type: string
    GenerateDetailedCostReportOperationResult:
      description: The result of the long running operation for cost detailed report.
      properties:
        id:
          description: The ARM resource id of the long running operation.
          type: string
        name:
          description: The name of the long running operation.
          type: string
        type:
          description: The type of the long running operation.
          type: string
        properties:
          x-ms-client-flatten: true
          description: The properties of the resource generated.
          type: object
          properties:
            expiryTime:
              description: The time at which report URL becomes invalid/expires in
                UTC e.g. 2020-12-08T05:55:59.4394737Z.
              type: string
              format: date-time
              readOnly: true
            validTill:
              description: The time at which report URL becomes invalid/expires in
                UTC e.g. 2020-12-08T05:55:59.4394737Z.
              type: string
              format: date-time
            downloadUrl:
              description: The URL to download the generated report.
              type: string
    Status:
      description: The status of the long running operation.
      properties:
        status:
          description: The status of the long running operation.
          type: string
          enum:
          - InProgress
          - Completed
          - Failed
          - Queued
          - NoDataFound
          - ReadyToDownload
          - TimedOut
          x-ms-enum:
            name: ReportOperationStatusType
            modelAsString: true
    ErrorDetails:
      description: The details of the error.
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
    DownloadURL:
      description: The URL to download the generated report.
      type: object
      properties:
        expiryTime:
          description: The time at which report URL becomes invalid/expires in UTC
            e.g. 2020-12-08T05:55:59.4394737Z.
          type: string
          format: date-time
          readOnly: true
        validTill:
          description: The time at which report URL becomes invalid/expires in UTC
            e.g. 2020-12-08T05:55:59.4394737Z.
          type: string
          format: date-time
        downloadUrl:
          description: The URL to download the generated report.
          type: string
    ErrorResponse:
      description: "Error response indicates that the service is not able to process\
        \ the incoming request. The reason is provided in the error message. \n\n\
        Some Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry\
        \ after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\"\
        \ header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
        \ Retry after waiting for the time specified in the \"Retry-After\" header."
      type: object
      properties:
        error:
          description: The details of the error.
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
