openapi: 3.0.0
info:
  title: CostManagementClient
  version: 2025-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.CostManagement/scheduledActions:
    get:
      tags:
      - ScheduledActions
      operationId: ScheduledActions_List
      description: List all private scheduled actions.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        description: May be used to filter scheduled actions by properties/viewId.
          Supported operator is 'eq'.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Scheduled actions list result. It contains a list of
                  scheduled actions.
                type: object
                properties:
                  value:
                    description: The list of scheduled actions.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        eTag:
                          type: string
                          readOnly: true
                          description: Resource Etag. For update calls, eTag is optional
                            and can be specified to achieve optimistic concurrency.
                            Fetch the resource's eTag by doing a 'GET' call first
                            and then including the latest eTag as part of the request
                            body or 'If-Match' header while performing the update.
                            For create calls, eTag is not required.
                        kind:
                          description: Kind of the scheduled action.
                          type: string
                          enum:
                          - Email
                          - InsightAlert
                          x-ms-enum:
                            name: ScheduledActionKind
                            modelAsString: true
                            values:
                            - value: Email
                              description: Cost analysis data will be emailed.
                              name: Email
                            - value: InsightAlert
                              description: Cost anomaly information will be emailed.
                                Available only on subscription scope at daily frequency.
                                If no anomaly is detected on the resource, an email
                                won't be sent.
                              name: InsightAlert
                        systemData:
                          description: Kind of the scheduled action.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          title: Scheduled action properties
                          type: object
                          description: The properties of the scheduled action.
                          required:
                          - displayName
                          - notification
                          - schedule
                          - status
                          - viewId
                          properties:
                            displayName:
                              description: Scheduled action name.
                              type: string
                            fileDestination:
                              description: Destination format of the view data. This
                                is optional.
                              type: object
                              properties:
                                fileFormats:
                                  type: array
                                  description: Destination of the view data. Currently
                                    only CSV format is supported.
                                  items:
                                    type: string
                                    description: Destination of the view data. Currently
                                      only CSV format is supported.
                                    enum:
                                    - Csv
                                    x-ms-enum:
                                      name: FileFormat
                                      modelAsString: true
                            notification:
                              description: Notification properties based on scheduled
                                action kind.
                              type: object
                              required:
                              - to
                              - subject
                              properties:
                                to:
                                  description: Array of email addresses.
                                  type: array
                                  items:
                                    type: string
                                    pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                  minItems: 1
                                  maxItems: 20
                                language:
                                  description: Locale of the email.
                                  type: string
                                message:
                                  description: Optional message to be added in the
                                    email. Length is limited to 250 characters.
                                  type: string
                                regionalFormat:
                                  description: Regional format used for formatting
                                    date/time and currency values in the email.
                                  type: string
                                subject:
                                  description: Subject of the email. Length is limited
                                    to 70 characters.
                                  type: string
                            notificationEmail:
                              description: Email address of the point of contact that
                                should get the unsubscribe requests and notification
                                emails.
                              type: string
                            schedule:
                              description: Schedule of the scheduled action.
                              type: object
                              required:
                              - endDate
                              - frequency
                              - startDate
                              properties:
                                frequency:
                                  description: Frequency of the schedule.
                                  type: string
                                  enum:
                                  - Daily
                                  - Weekly
                                  - Monthly
                                  x-ms-enum:
                                    name: ScheduleFrequency
                                    modelAsString: true
                                    values:
                                    - value: Daily
                                      description: Cost analysis data will be emailed
                                        every day.
                                      name: Daily
                                    - value: Weekly
                                      description: Cost analysis data will be emailed
                                        every week.
                                      name: Weekly
                                    - value: Monthly
                                      description: Cost analysis data will be emailed
                                        every month.
                                      name: Monthly
                                hourOfDay:
                                  type: integer
                                  description: UTC time at which cost analysis data
                                    will be emailed.
                                  format: int32
                                daysOfWeek:
                                  description: Day names in english on which cost
                                    analysis data will be emailed. This property is
                                    applicable when frequency is Weekly or Monthly.
                                  type: array
                                  items:
                                    type: string
                                    description: Days of Week.
                                    enum:
                                    - Monday
                                    - Tuesday
                                    - Wednesday
                                    - Thursday
                                    - Friday
                                    - Saturday
                                    - Sunday
                                    x-ms-enum:
                                      name: DaysOfWeek
                                      modelAsString: true
                                weeksOfMonth:
                                  description: Weeks in which cost analysis data will
                                    be emailed. This property is applicable when frequency
                                    is Monthly and used in combination with daysOfWeek.
                                  type: array
                                  items:
                                    type: string
                                    description: Weeks of month.
                                    enum:
                                    - First
                                    - Second
                                    - Third
                                    - Fourth
                                    - Last
                                    x-ms-enum:
                                      name: WeeksOfMonth
                                      modelAsString: true
                                dayOfMonth:
                                  type: integer
                                  description: UTC day on which cost analysis data
                                    will be emailed. Must be between 1 and 31. This
                                    property is applicable when frequency is Monthly
                                    and overrides weeksOfMonth or daysOfWeek.
                                  format: int32
                                startDate:
                                  description: The start date and time of the scheduled
                                    action (UTC).
                                  type: string
                                  format: date-time
                                endDate:
                                  description: The end date and time of the scheduled
                                    action (UTC).
                                  type: string
                                  format: date-time
                            scope:
                              description: For private scheduled action(Create or
                                Update), scope will be empty.<br /> For shared scheduled
                                action(Create or Update By Scope), Cost Management
                                scope can be 'subscriptions/{subscriptionId}' for
                                subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
                                for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
                                for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
                                for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
                                for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
                                for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
                                for InvoiceSection scope, '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
                                for ExternalBillingAccount scope, and '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
                                for ExternalSubscription scope.
                              type: string
                            status:
                              description: Status of the scheduled action.
                              type: string
                              enum:
                              - Enabled
                              - Expired
                              - Disabled
                              x-ms-enum:
                                name: ScheduledActionStatus
                                modelAsString: true
                                values:
                                - value: Disabled
                                  description: Scheduled action is saved but will
                                    not be run.
                                  name: Disabled
                                - value: Enabled
                                  description: Scheduled action is saved and will
                                    be run.
                                  name: Enabled
                                - value: Expired
                                  description: Scheduled action is expired.
                                  name: Expired
                            viewId:
                              description: Cost analysis viewId used for scheduled
                                action. For example, '/providers/Microsoft.CostManagement/views/swaggerExample'
                              type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        readOnly: true
                        description: The additional details of the error.
                        items:
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                              readOnly: true
                            message:
                              description: Error message indicating why the operation
                                failed.
                              type: string
                              readOnly: true
                            details:
                              type: array
                              readOnly: true
                              description: The additional details of the error.
                              items:
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Error message indicating why the
                                      operation failed.
                                    type: string
                                    readOnly: true
                                description: The details of the error.
                              x-ms-identifiers: []
                          description: The details of the error.
                        x-ms-identifiers: []
                    description: The details of the error.
      x-ms-pageable:
        nextLinkName: nextLink
  /{scope}/providers/Microsoft.CostManagement/scheduledActions:
    get:
      tags:
      - ScheduledActions
      operationId: ScheduledActions_ListByScope
      description: List all shared scheduled actions within the given scope.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope associated with scheduled action operations. This
          includes ''subscriptions/{subscriptionId}'' for subscription scope, ''subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}''
          for resourceGroup scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}''
          for Billing Account scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}''
          for Department scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}''
          for EnrollmentAccount scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}''
          for BillingProfile scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}''
          for InvoiceSection scope, ''providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}''
          for External Billing Account scope and ''providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}''
          for External Subscription scope. Note: Insight Alerts are only available
          on subscription scope.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        description: May be used to filter scheduled actions by properties/viewId.
          Supported operator is 'eq'.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Scheduled actions list result. It contains a list of
                  scheduled actions.
                type: object
                properties:
                  value:
                    description: The list of scheduled actions.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        eTag:
                          type: string
                          readOnly: true
                          description: Resource Etag. For update calls, eTag is optional
                            and can be specified to achieve optimistic concurrency.
                            Fetch the resource's eTag by doing a 'GET' call first
                            and then including the latest eTag as part of the request
                            body or 'If-Match' header while performing the update.
                            For create calls, eTag is not required.
                        kind:
                          description: Kind of the scheduled action.
                          type: string
                          enum:
                          - Email
                          - InsightAlert
                          x-ms-enum:
                            name: ScheduledActionKind
                            modelAsString: true
                            values:
                            - value: Email
                              description: Cost analysis data will be emailed.
                              name: Email
                            - value: InsightAlert
                              description: Cost anomaly information will be emailed.
                                Available only on subscription scope at daily frequency.
                                If no anomaly is detected on the resource, an email
                                won't be sent.
                              name: InsightAlert
                        systemData:
                          description: Kind of the scheduled action.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          title: Scheduled action properties
                          type: object
                          description: The properties of the scheduled action.
                          required:
                          - displayName
                          - notification
                          - schedule
                          - status
                          - viewId
                          properties:
                            displayName:
                              description: Scheduled action name.
                              type: string
                            fileDestination:
                              description: Destination format of the view data. This
                                is optional.
                              type: object
                              properties:
                                fileFormats:
                                  type: array
                                  description: Destination of the view data. Currently
                                    only CSV format is supported.
                                  items:
                                    type: string
                                    description: Destination of the view data. Currently
                                      only CSV format is supported.
                                    enum:
                                    - Csv
                                    x-ms-enum:
                                      name: FileFormat
                                      modelAsString: true
                            notification:
                              description: Notification properties based on scheduled
                                action kind.
                              type: object
                              required:
                              - to
                              - subject
                              properties:
                                to:
                                  description: Array of email addresses.
                                  type: array
                                  items:
                                    type: string
                                    pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                  minItems: 1
                                  maxItems: 20
                                language:
                                  description: Locale of the email.
                                  type: string
                                message:
                                  description: Optional message to be added in the
                                    email. Length is limited to 250 characters.
                                  type: string
                                regionalFormat:
                                  description: Regional format used for formatting
                                    date/time and currency values in the email.
                                  type: string
                                subject:
                                  description: Subject of the email. Length is limited
                                    to 70 characters.
                                  type: string
                            notificationEmail:
                              description: Email address of the point of contact that
                                should get the unsubscribe requests and notification
                                emails.
                              type: string
                            schedule:
                              description: Schedule of the scheduled action.
                              type: object
                              required:
                              - endDate
                              - frequency
                              - startDate
                              properties:
                                frequency:
                                  description: Frequency of the schedule.
                                  type: string
                                  enum:
                                  - Daily
                                  - Weekly
                                  - Monthly
                                  x-ms-enum:
                                    name: ScheduleFrequency
                                    modelAsString: true
                                    values:
                                    - value: Daily
                                      description: Cost analysis data will be emailed
                                        every day.
                                      name: Daily
                                    - value: Weekly
                                      description: Cost analysis data will be emailed
                                        every week.
                                      name: Weekly
                                    - value: Monthly
                                      description: Cost analysis data will be emailed
                                        every month.
                                      name: Monthly
                                hourOfDay:
                                  type: integer
                                  description: UTC time at which cost analysis data
                                    will be emailed.
                                  format: int32
                                daysOfWeek:
                                  description: Day names in english on which cost
                                    analysis data will be emailed. This property is
                                    applicable when frequency is Weekly or Monthly.
                                  type: array
                                  items:
                                    type: string
                                    description: Days of Week.
                                    enum:
                                    - Monday
                                    - Tuesday
                                    - Wednesday
                                    - Thursday
                                    - Friday
                                    - Saturday
                                    - Sunday
                                    x-ms-enum:
                                      name: DaysOfWeek
                                      modelAsString: true
                                weeksOfMonth:
                                  description: Weeks in which cost analysis data will
                                    be emailed. This property is applicable when frequency
                                    is Monthly and used in combination with daysOfWeek.
                                  type: array
                                  items:
                                    type: string
                                    description: Weeks of month.
                                    enum:
                                    - First
                                    - Second
                                    - Third
                                    - Fourth
                                    - Last
                                    x-ms-enum:
                                      name: WeeksOfMonth
                                      modelAsString: true
                                dayOfMonth:
                                  type: integer
                                  description: UTC day on which cost analysis data
                                    will be emailed. Must be between 1 and 31. This
                                    property is applicable when frequency is Monthly
                                    and overrides weeksOfMonth or daysOfWeek.
                                  format: int32
                                startDate:
                                  description: The start date and time of the scheduled
                                    action (UTC).
                                  type: string
                                  format: date-time
                                endDate:
                                  description: The end date and time of the scheduled
                                    action (UTC).
                                  type: string
                                  format: date-time
                            scope:
                              description: For private scheduled action(Create or
                                Update), scope will be empty.<br /> For shared scheduled
                                action(Create or Update By Scope), Cost Management
                                scope can be 'subscriptions/{subscriptionId}' for
                                subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
                                for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
                                for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
                                for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
                                for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
                                for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
                                for InvoiceSection scope, '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
                                for ExternalBillingAccount scope, and '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
                                for ExternalSubscription scope.
                              type: string
                            status:
                              description: Status of the scheduled action.
                              type: string
                              enum:
                              - Enabled
                              - Expired
                              - Disabled
                              x-ms-enum:
                                name: ScheduledActionStatus
                                modelAsString: true
                                values:
                                - value: Disabled
                                  description: Scheduled action is saved but will
                                    not be run.
                                  name: Disabled
                                - value: Enabled
                                  description: Scheduled action is saved and will
                                    be run.
                                  name: Enabled
                                - value: Expired
                                  description: Scheduled action is expired.
                                  name: Expired
                            viewId:
                              description: Cost analysis viewId used for scheduled
                                action. For example, '/providers/Microsoft.CostManagement/views/swaggerExample'
                              type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        readOnly: true
                        description: The additional details of the error.
                        items:
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                              readOnly: true
                            message:
                              description: Error message indicating why the operation
                                failed.
                              type: string
                              readOnly: true
                            details:
                              type: array
                              readOnly: true
                              description: The additional details of the error.
                              items:
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Error message indicating why the
                                      operation failed.
                                    type: string
                                    readOnly: true
                                description: The details of the error.
                              x-ms-identifiers: []
                          description: The details of the error.
                        x-ms-identifiers: []
                    description: The details of the error.
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.CostManagement/scheduledActions/{name}:
    put:
      tags:
      - ScheduledActions
      operationId: ScheduledActions_CreateOrUpdate
      description: Create or update a private scheduled action.
      parameters:
      - name: name
        in: path
        description: Scheduled action name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        description: ETag of the Entity. Not required when creating an entity. Optional
          when updating an entity and can be specified to achieve optimistic concurrency.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                eTag:
                  type: string
                  readOnly: true
                  description: Resource Etag. For update calls, eTag is optional and
                    can be specified to achieve optimistic concurrency. Fetch the
                    resource's eTag by doing a 'GET' call first and then including
                    the latest eTag as part of the request body or 'If-Match' header
                    while performing the update. For create calls, eTag is not required.
                kind:
                  description: Kind of the scheduled action.
                  type: string
                  enum:
                  - Email
                  - InsightAlert
                  x-ms-enum:
                    name: ScheduledActionKind
                    modelAsString: true
                    values:
                    - value: Email
                      description: Cost analysis data will be emailed.
                      name: Email
                    - value: InsightAlert
                      description: Cost anomaly information will be emailed. Available
                        only on subscription scope at daily frequency. If no anomaly
                        is detected on the resource, an email won't be sent.
                      name: InsightAlert
                systemData:
                  description: Kind of the scheduled action.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  title: Scheduled action properties
                  type: object
                  description: The properties of the scheduled action.
                  required:
                  - displayName
                  - notification
                  - schedule
                  - status
                  - viewId
                  properties:
                    displayName:
                      description: Scheduled action name.
                      type: string
                    fileDestination:
                      description: Destination format of the view data. This is optional.
                      type: object
                      properties:
                        fileFormats:
                          type: array
                          description: Destination of the view data. Currently only
                            CSV format is supported.
                          items:
                            type: string
                            description: Destination of the view data. Currently only
                              CSV format is supported.
                            enum:
                            - Csv
                            x-ms-enum:
                              name: FileFormat
                              modelAsString: true
                    notification:
                      description: Notification properties based on scheduled action
                        kind.
                      type: object
                      required:
                      - to
                      - subject
                      properties:
                        to:
                          description: Array of email addresses.
                          type: array
                          items:
                            type: string
                            pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                          minItems: 1
                          maxItems: 20
                        language:
                          description: Locale of the email.
                          type: string
                        message:
                          description: Optional message to be added in the email.
                            Length is limited to 250 characters.
                          type: string
                        regionalFormat:
                          description: Regional format used for formatting date/time
                            and currency values in the email.
                          type: string
                        subject:
                          description: Subject of the email. Length is limited to
                            70 characters.
                          type: string
                    notificationEmail:
                      description: Email address of the point of contact that should
                        get the unsubscribe requests and notification emails.
                      type: string
                    schedule:
                      description: Schedule of the scheduled action.
                      type: object
                      required:
                      - endDate
                      - frequency
                      - startDate
                      properties:
                        frequency:
                          description: Frequency of the schedule.
                          type: string
                          enum:
                          - Daily
                          - Weekly
                          - Monthly
                          x-ms-enum:
                            name: ScheduleFrequency
                            modelAsString: true
                            values:
                            - value: Daily
                              description: Cost analysis data will be emailed every
                                day.
                              name: Daily
                            - value: Weekly
                              description: Cost analysis data will be emailed every
                                week.
                              name: Weekly
                            - value: Monthly
                              description: Cost analysis data will be emailed every
                                month.
                              name: Monthly
                        hourOfDay:
                          type: integer
                          description: UTC time at which cost analysis data will be
                            emailed.
                          format: int32
                        daysOfWeek:
                          description: Day names in english on which cost analysis
                            data will be emailed. This property is applicable when
                            frequency is Weekly or Monthly.
                          type: array
                          items:
                            type: string
                            description: Days of Week.
                            enum:
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            - Sunday
                            x-ms-enum:
                              name: DaysOfWeek
                              modelAsString: true
                        weeksOfMonth:
                          description: Weeks in which cost analysis data will be emailed.
                            This property is applicable when frequency is Monthly
                            and used in combination with daysOfWeek.
                          type: array
                          items:
                            type: string
                            description: Weeks of month.
                            enum:
                            - First
                            - Second
                            - Third
                            - Fourth
                            - Last
                            x-ms-enum:
                              name: WeeksOfMonth
                              modelAsString: true
                        dayOfMonth:
                          type: integer
                          description: UTC day on which cost analysis data will be
                            emailed. Must be between 1 and 31. This property is applicable
                            when frequency is Monthly and overrides weeksOfMonth or
                            daysOfWeek.
                          format: int32
                        startDate:
                          description: The start date and time of the scheduled action
                            (UTC).
                          type: string
                          format: date-time
                        endDate:
                          description: The end date and time of the scheduled action
                            (UTC).
                          type: string
                          format: date-time
                    scope:
                      description: For private scheduled action(Create or Update),
                        scope will be empty.<br /> For shared scheduled action(Create
                        or Update By Scope), Cost Management scope can be 'subscriptions/{subscriptionId}'
                        for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
                        for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
                        for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
                        for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
                        for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
                        for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
                        for InvoiceSection scope, '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
                        for ExternalBillingAccount scope, and '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
                        for ExternalSubscription scope.
                      type: string
                    status:
                      description: Status of the scheduled action.
                      type: string
                      enum:
                      - Enabled
                      - Expired
                      - Disabled
                      x-ms-enum:
                        name: ScheduledActionStatus
                        modelAsString: true
                        values:
                        - value: Disabled
                          description: Scheduled action is saved but will not be run.
                          name: Disabled
                        - value: Enabled
                          description: Scheduled action is saved and will be run.
                          name: Enabled
                        - value: Expired
                          description: Scheduled action is expired.
                          name: Expired
                    viewId:
                      description: Cost analysis viewId used for scheduled action.
                        For example, '/providers/Microsoft.CostManagement/views/swaggerExample'
                      type: string
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Scheduled action to be created or updated.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  eTag:
                    type: string
                    readOnly: true
                    description: Resource Etag. For update calls, eTag is optional
                      and can be specified to achieve optimistic concurrency. Fetch
                      the resource's eTag by doing a 'GET' call first and then including
                      the latest eTag as part of the request body or 'If-Match' header
                      while performing the update. For create calls, eTag is not required.
                  kind:
                    description: Kind of the scheduled action.
                    type: string
                    enum:
                    - Email
                    - InsightAlert
                    x-ms-enum:
                      name: ScheduledActionKind
                      modelAsString: true
                      values:
                      - value: Email
                        description: Cost analysis data will be emailed.
                        name: Email
                      - value: InsightAlert
                        description: Cost anomaly information will be emailed. Available
                          only on subscription scope at daily frequency. If no anomaly
                          is detected on the resource, an email won't be sent.
                        name: InsightAlert
                  systemData:
                    description: Kind of the scheduled action.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    title: Scheduled action properties
                    type: object
                    description: The properties of the scheduled action.
                    required:
                    - displayName
                    - notification
                    - schedule
                    - status
                    - viewId
                    properties:
                      displayName:
                        description: Scheduled action name.
                        type: string
                      fileDestination:
                        description: Destination format of the view data. This is
                          optional.
                        type: object
                        properties:
                          fileFormats:
                            type: array
                            description: Destination of the view data. Currently only
                              CSV format is supported.
                            items:
                              type: string
                              description: Destination of the view data. Currently
                                only CSV format is supported.
                              enum:
                              - Csv
                              x-ms-enum:
                                name: FileFormat
                                modelAsString: true
                      notification:
                        description: Notification properties based on scheduled action
                          kind.
                        type: object
                        required:
                        - to
                        - subject
                        properties:
                          to:
                            description: Array of email addresses.
                            type: array
                            items:
                              type: string
                              pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                            minItems: 1
                            maxItems: 20
                          language:
                            description: Locale of the email.
                            type: string
                          message:
                            description: Optional message to be added in the email.
                              Length is limited to 250 characters.
                            type: string
                          regionalFormat:
                            description: Regional format used for formatting date/time
                              and currency values in the email.
                            type: string
                          subject:
                            description: Subject of the email. Length is limited to
                              70 characters.
                            type: string
                      notificationEmail:
                        description: Email address of the point of contact that should
                          get the unsubscribe requests and notification emails.
                        type: string
                      schedule:
                        description: Schedule of the scheduled action.
                        type: object
                        required:
                        - endDate
                        - frequency
                        - startDate
                        properties:
                          frequency:
                            description: Frequency of the schedule.
                            type: string
                            enum:
                            - Daily
                            - Weekly
                            - Monthly
                            x-ms-enum:
                              name: ScheduleFrequency
                              modelAsString: true
                              values:
                              - value: Daily
                                description: Cost analysis data will be emailed every
                                  day.
                                name: Daily
                              - value: Weekly
                                description: Cost analysis data will be emailed every
                                  week.
                                name: Weekly
                              - value: Monthly
                                description: Cost analysis data will be emailed every
                                  month.
                                name: Monthly
                          hourOfDay:
                            type: integer
                            description: UTC time at which cost analysis data will
                              be emailed.
                            format: int32
                          daysOfWeek:
                            description: Day names in english on which cost analysis
                              data will be emailed. This property is applicable when
                              frequency is Weekly or Monthly.
                            type: array
                            items:
                              type: string
                              description: Days of Week.
                              enum:
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              - Sunday
                              x-ms-enum:
                                name: DaysOfWeek
                                modelAsString: true
                          weeksOfMonth:
                            description: Weeks in which cost analysis data will be
                              emailed. This property is applicable when frequency
                              is Monthly and used in combination with daysOfWeek.
                            type: array
                            items:
                              type: string
                              description: Weeks of month.
                              enum:
                              - First
                              - Second
                              - Third
                              - Fourth
                              - Last
                              x-ms-enum:
                                name: WeeksOfMonth
                                modelAsString: true
                          dayOfMonth:
                            type: integer
                            description: UTC day on which cost analysis data will
                              be emailed. Must be between 1 and 31. This property
                              is applicable when frequency is Monthly and overrides
                              weeksOfMonth or daysOfWeek.
                            format: int32
                          startDate:
                            description: The start date and time of the scheduled
                              action (UTC).
                            type: string
                            format: date-time
                          endDate:
                            description: The end date and time of the scheduled action
                              (UTC).
                            type: string
                            format: date-time
                      scope:
                        description: For private scheduled action(Create or Update),
                          scope will be empty.<br /> For shared scheduled action(Create
                          or Update By Scope), Cost Management scope can be 'subscriptions/{subscriptionId}'
                          for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
                          for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
                          for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
                          for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
                          for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
                          for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
                          for InvoiceSection scope, '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
                          for ExternalBillingAccount scope, and '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
                          for ExternalSubscription scope.
                        type: string
                      status:
                        description: Status of the scheduled action.
                        type: string
                        enum:
                        - Enabled
                        - Expired
                        - Disabled
                        x-ms-enum:
                          name: ScheduledActionStatus
                          modelAsString: true
                          values:
                          - value: Disabled
                            description: Scheduled action is saved but will not be
                              run.
                            name: Disabled
                          - value: Enabled
                            description: Scheduled action is saved and will be run.
                            name: Enabled
                          - value: Expired
                            description: Scheduled action is expired.
                            name: Expired
                      viewId:
                        description: Cost analysis viewId used for scheduled action.
                          For example, '/providers/Microsoft.CostManagement/views/swaggerExample'
                        type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  eTag:
                    type: string
                    readOnly: true
                    description: Resource Etag. For update calls, eTag is optional
                      and can be specified to achieve optimistic concurrency. Fetch
                      the resource's eTag by doing a 'GET' call first and then including
                      the latest eTag as part of the request body or 'If-Match' header
                      while performing the update. For create calls, eTag is not required.
                  kind:
                    description: Kind of the scheduled action.
                    type: string
                    enum:
                    - Email
                    - InsightAlert
                    x-ms-enum:
                      name: ScheduledActionKind
                      modelAsString: true
                      values:
                      - value: Email
                        description: Cost analysis data will be emailed.
                        name: Email
                      - value: InsightAlert
                        description: Cost anomaly information will be emailed. Available
                          only on subscription scope at daily frequency. If no anomaly
                          is detected on the resource, an email won't be sent.
                        name: InsightAlert
                  systemData:
                    description: Kind of the scheduled action.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    title: Scheduled action properties
                    type: object
                    description: The properties of the scheduled action.
                    required:
                    - displayName
                    - notification
                    - schedule
                    - status
                    - viewId
                    properties:
                      displayName:
                        description: Scheduled action name.
                        type: string
                      fileDestination:
                        description: Destination format of the view data. This is
                          optional.
                        type: object
                        properties:
                          fileFormats:
                            type: array
                            description: Destination of the view data. Currently only
                              CSV format is supported.
                            items:
                              type: string
                              description: Destination of the view data. Currently
                                only CSV format is supported.
                              enum:
                              - Csv
                              x-ms-enum:
                                name: FileFormat
                                modelAsString: true
                      notification:
                        description: Notification properties based on scheduled action
                          kind.
                        type: object
                        required:
                        - to
                        - subject
                        properties:
                          to:
                            description: Array of email addresses.
                            type: array
                            items:
                              type: string
                              pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                            minItems: 1
                            maxItems: 20
                          language:
                            description: Locale of the email.
                            type: string
                          message:
                            description: Optional message to be added in the email.
                              Length is limited to 250 characters.
                            type: string
                          regionalFormat:
                            description: Regional format used for formatting date/time
                              and currency values in the email.
                            type: string
                          subject:
                            description: Subject of the email. Length is limited to
                              70 characters.
                            type: string
                      notificationEmail:
                        description: Email address of the point of contact that should
                          get the unsubscribe requests and notification emails.
                        type: string
                      schedule:
                        description: Schedule of the scheduled action.
                        type: object
                        required:
                        - endDate
                        - frequency
                        - startDate
                        properties:
                          frequency:
                            description: Frequency of the schedule.
                            type: string
                            enum:
                            - Daily
                            - Weekly
                            - Monthly
                            x-ms-enum:
                              name: ScheduleFrequency
                              modelAsString: true
                              values:
                              - value: Daily
                                description: Cost analysis data will be emailed every
                                  day.
                                name: Daily
                              - value: Weekly
                                description: Cost analysis data will be emailed every
                                  week.
                                name: Weekly
                              - value: Monthly
                                description: Cost analysis data will be emailed every
                                  month.
                                name: Monthly
                          hourOfDay:
                            type: integer
                            description: UTC time at which cost analysis data will
                              be emailed.
                            format: int32
                          daysOfWeek:
                            description: Day names in english on which cost analysis
                              data will be emailed. This property is applicable when
                              frequency is Weekly or Monthly.
                            type: array
                            items:
                              type: string
                              description: Days of Week.
                              enum:
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              - Sunday
                              x-ms-enum:
                                name: DaysOfWeek
                                modelAsString: true
                          weeksOfMonth:
                            description: Weeks in which cost analysis data will be
                              emailed. This property is applicable when frequency
                              is Monthly and used in combination with daysOfWeek.
                            type: array
                            items:
                              type: string
                              description: Weeks of month.
                              enum:
                              - First
                              - Second
                              - Third
                              - Fourth
                              - Last
                              x-ms-enum:
                                name: WeeksOfMonth
                                modelAsString: true
                          dayOfMonth:
                            type: integer
                            description: UTC day on which cost analysis data will
                              be emailed. Must be between 1 and 31. This property
                              is applicable when frequency is Monthly and overrides
                              weeksOfMonth or daysOfWeek.
                            format: int32
                          startDate:
                            description: The start date and time of the scheduled
                              action (UTC).
                            type: string
                            format: date-time
                          endDate:
                            description: The end date and time of the scheduled action
                              (UTC).
                            type: string
                            format: date-time
                      scope:
                        description: For private scheduled action(Create or Update),
                          scope will be empty.<br /> For shared scheduled action(Create
                          or Update By Scope), Cost Management scope can be 'subscriptions/{subscriptionId}'
                          for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
                          for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
                          for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
                          for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
                          for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
                          for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}'
                          for InvoiceSection scope, '/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}'
                          for ExternalBillingAccount scope, and '/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}'
                          for ExternalSubscription scope.
                        type: string
                      status:
                        description: Status of the scheduled action.
                        type: string
                        enum:
                        - Enabled
                        - Expired
                        - Disabled
                        x-ms-enum:
                          name: ScheduledActionStatus
                          modelAsString: true
                          values:
                          - value: Disabled
                            description: Scheduled action is saved but will not be
                              run.
                            name: Disabled
                          - value: Enabled
                            description: Scheduled action is saved and will be run.
                            name: Enabled
                          - value: Expired
                            description: Scheduled action is expired.
                            name: Expired
                      viewId:
                        description: Cost analysis viewId used for scheduled action.
                          For example, '/providers/Microsoft.CostManagement/views/swaggerExample'
                        type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: "Error response indicates that the service is not able\
                  \ to process the incoming request. The reason is provided in the\
                  \ error message. \n\nSome Error responses: \n\n * 429 TooManyRequests\
                  \ - Request is throttled. Retry after waiting for the time specified\
                  \ in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header.\
                  \ \n\n * 503 ServiceUnavailable - Service is temporarily unavailable.\
                  \ Retry after waiting for the time specified in the \"Retry-After\"\
                  \ header."
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        readOnly: true
                        description: The additional details of the error.
                        items:
                          type: object
                          properties:
                            code:
                              description: Error code.
                              type: string
                              readOnly: true
                            message:
                              description: Error message indicating why the operation
                                failed.
                              type: string
                              readOnly: true
                            details:
                              type: array
                              readOnly: true
                              description: The additional details of the error.
                              items:
                                type: object
                                properties:
                                  code:
                                    description: Error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Error message indicating why the
                                      operation failed.
                                    type: string
                                    readOnly: true
                                description: The details of the error.
                              x-ms-identifiers: []
                          description: The details of the error.
                        x-ms-identifiers: []
                    description: The details of the error.
    get:
      tags:
      - ScheduledActions
      operationId: ScheduledActions_Get
      description: Get the private scheduled action by name.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - name: name
        in: path
        description: Scheduled action name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  eTag:
                    type: string
                    readOnly: true
                    description: Resource Etag. For update calls, eTag is optional
                      and can be specified to achieve optimistic concurrency. Fetch
                      the resource's eTag by doing a 'GET' call first and then including
                      the latest eTag as part of the request body or 'If-Match' header
                      while performing the update. For create calls, eTag is not required.
                  kind:
                    description: Kind of the scheduled action.
                    type: string
                    enum:
                    - Email
                    - InsightAlert
                    x-ms-enum:
                      name: ScheduledActionKind
                      modelAsString: true
                      values:
                      - value: Email
                        description: Cost analysis data will be emailed.
                        name: Email
                      - value: InsightAlert
                        description: Cost anomaly information will be emailed. Available
                          only on subscription scope at daily frequency. If no anomaly
                          is detected on the resource, an email won't be sent.
                        name: InsightAlert
                  systemData:
                    description: Kind of the scheduled action.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    title: Scheduled action properties
                    type: object
                    description: The properties of the scheduled action.
                    required:
                    - displayName
                    - notification
                    - schedule
                    - status
                    - viewId
                    properties:
                      displayName:
                        description: Scheduled action name.
                        type: string
                      fileDestination:
                        description: Destination format of the view data. This is
                          optional.
                        type: object
                        properties:
                          fileFormats:
                            type: array
                            description: Destination of the view data. Currently only
                              CSV format is supported.
                            items:
                              type: string
                              description: Destination of the view data. Currently
                                only CSV format is supported.
                              enum:
                              - Csv
                              x-ms-enum:
                                name: FileFormat
                                modelAsString: true
                      notification:
                        description: Notification properties based on scheduled action
                          kind.
                        type: object
                        required:
                        - to
                        - subject
                        properties:
                          to:
                            description: Array of email addresses.
                            type: array
                            items:
                              type: string
                              pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                            minItems: 1
                            maxItems: 20
                          language:
                            description: Locale of the email.
                            type: string
                          message:
                            description: Optional message to be added in the email.
                              Length is limited to 250 characters.
                            type: string
                          regionalFormat:
                            description: Regional format used for formatting date/time
                              and currency values in the email.
                            type: string
                          subject:
                            description: Subject of the email. Length is limited to
                              70 characters.
                            type: string
                      notificationEmail:
                        description: Email address of the point of contact that should
                          get the unsubscribe requests and notification emails.
                        type: string
                      schedule:
                        description: Schedule of the scheduled action.
                        type: object
                        required:
                        - endDate
                        - frequency
                        - startDate
                        properties:
                          frequency:
                            description: Frequency of the schedule.
                            type: string
                            enum:
                            - Daily
                            - Weekly
                            - Monthly
                            x-ms-enum:
                              name: ScheduleFrequency
                              modelAsString: true
                              values:
[...]
