openapi: 3.0.0
info:
  title: PureStorage.Block
  version: 2024-11-01-preview
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Reservations
- name: StoragePools
- name: AvsStorageContainers
- name: AvsStorageContainerVolumes
- name: AvsVms
- name: AvsVmVolumes
paths:
  /providers/PureStorage.Block/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/PureStorage.Block/reservations:
    get:
      operationId: Reservations_ListBySubscription
      tags:
      - Reservations
      description: List reservations by Azure subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Reservation list operation.
                properties:
                  value:
                    type: array
                    description: The Reservation items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          description: The resource-specific properties for this resource.
                          properties:
                            reservationInternalId:
                              type: string
                              description: Pure Storage's internal ID for the reservation
                              readOnly: true
                            marketplace:
                              description: Marketplace details
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              properties:
                                subscriptionId:
                                  type: string
                                  description: Marketplace subscription ID
                                  readOnly: true
                                subscriptionStatus:
                                  description: Marketplace subscription status
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Marketplace subscription purchased
                                        but not yet activated
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace subscription activated
                                    - name: Suspended
                                      value: Suspended
                                      description: Marketplace subscription suspended
                                        due to missing customer payment
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Marketplace subscription cancelled
                                offerDetails:
                                  description: Offer details of the marketplace subscription
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Publisher ID for the marketplace
                                        offer
                                    offerId:
                                      type: string
                                      description: Offer ID for the marketplace offer
                                    planId:
                                      type: string
                                      description: Plan ID for the marketplace offer
                                    planName:
                                      type: string
                                      description: Plan Name for the marketplace offer
                                    termUnit:
                                      type: string
                                      description: Term Unit for the marketplace offer
                                    termId:
                                      type: string
                                      description: Term ID for the marketplace offer
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                              required:
                              - offerDetails
                            user:
                              description: User details
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name
                                lastName:
                                  type: string
                                  description: Last name
                                emailAddress:
                                  description: Email address
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: Principal name
                                phoneNumber:
                                  type: string
                                  description: Phone number
                                companyDetails:
                                  description: Company details
                                  type: object
                                  properties:
                                    companyName:
                                      type: string
                                      description: Company name
                                    address:
                                      description: Company address
                                      type: object
                                      properties:
                                        addressLine1:
                                          type: string
                                          description: Address line 1
                                        addressLine2:
                                          type: string
                                          description: Address line 2
                                        city:
                                          type: string
                                          description: Name of the city
                                        state:
                                          type: string
                                          description: State (if any)
                                        country:
                                          type: string
                                          description: Name of the country
                                        postalCode:
                                          type: string
                                          description: Postal code
                                      required:
                                      - addressLine1
                                      - city
                                      - state
                                      - country
                                      - postalCode
                                  required:
                                  - companyName
                              required:
                              - firstName
                              - lastName
                              - emailAddress
                            provisioningState:
                              description: Provisioning state of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Deleting
                                  value: Deleting
                                  description: Deletion in progress
                                - name: Accepted
                                  value: Accepted
                                  description: Change accepted for processing
                          required:
                          - marketplace
                          - user
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/PureStorage.Block/storagePools:
    get:
      operationId: StoragePools_ListBySubscription
      tags:
      - StoragePools
      description: List storage pools by Azure subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a StoragePool list operation.
                properties:
                  value:
                    type: array
                    description: The StoragePool items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            storagePoolInternalId:
                              type: string
                              description: Pure Storage's internal ID of the storage
                                pool
                              readOnly: true
                            availabilityZone:
                              type: string
                              description: Azure Availability Zone the Pool is located
                                in
                              x-ms-mutability:
                              - read
                              - create
                            vnetInjection:
                              description: Network properties of the storage pool
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              properties:
                                subnetId:
                                  type: string
                                  description: Azure resource ID of the Virtual Network
                                    subnet where the storage pool will be connected
                                vnetId:
                                  type: string
                                  description: Azure resource ID of the Virtual Network
                                    in which the subnet is located
                              required:
                              - subnetId
                              - vnetId
                            dataRetentionPeriod:
                              type: integer
                              format: int64
                              description: How long a destroyed object is kept before
                                being eradicated, in seconds
                              readOnly: true
                            provisionedBandwidthMbPerSec:
                              type: integer
                              format: int64
                              description: Total bandwidth provisioned for the pool,
                                in MB/s
                            provisionedIops:
                              type: integer
                              format: int64
                              description: Total I/O operations per second (IOPS)
                                provisioned for the pool
                              readOnly: true
                            avs:
                              description: AVS connection state summary
                              readOnly: true
                              type: object
                              properties:
                                avsEnabled:
                                  type: boolean
                                  description: If true, an AVS SDDC is successfully
                                    connected to the storage pool
                                sddcResourceId:
                                  type: string
                                  description: Azure resource ID of the AVS SDDC the
                                    storage pool is connected to
                              required:
                              - avsEnabled
                            provisioningState:
                              description: Provisioning state of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Deleting
                                  value: Deleting
                                  description: Deletion in progress
                                - name: Accepted
                                  value: Accepted
                                  description: Change accepted for processing
                            reservationResourceId:
                              type: string
                              description: Azure resource ID of the Pure Storage Cloud
                                service (reservation resource) this storage pool belongs
                                to
                              x-ms-mutability:
                              - read
                              - create
                          required:
                          - availabilityZone
                          - vnetInjection
                          - provisionedBandwidthMbPerSec
                          - reservationResourceId
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/reservations:
    get:
      operationId: Reservations_ListByResourceGroup
      tags:
      - Reservations
      description: List reservations by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Reservation list operation.
                properties:
                  value:
                    type: array
                    description: The Reservation items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          description: The resource-specific properties for this resource.
                          properties:
                            reservationInternalId:
                              type: string
                              description: Pure Storage's internal ID for the reservation
                              readOnly: true
                            marketplace:
                              description: Marketplace details
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              properties:
                                subscriptionId:
                                  type: string
                                  description: Marketplace subscription ID
                                  readOnly: true
                                subscriptionStatus:
                                  description: Marketplace subscription status
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Marketplace subscription purchased
                                        but not yet activated
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace subscription activated
                                    - name: Suspended
                                      value: Suspended
                                      description: Marketplace subscription suspended
                                        due to missing customer payment
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Marketplace subscription cancelled
                                offerDetails:
                                  description: Offer details of the marketplace subscription
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Publisher ID for the marketplace
                                        offer
                                    offerId:
                                      type: string
                                      description: Offer ID for the marketplace offer
                                    planId:
                                      type: string
                                      description: Plan ID for the marketplace offer
                                    planName:
                                      type: string
                                      description: Plan Name for the marketplace offer
                                    termUnit:
                                      type: string
                                      description: Term Unit for the marketplace offer
                                    termId:
                                      type: string
                                      description: Term ID for the marketplace offer
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                              required:
                              - offerDetails
                            user:
                              description: User details
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name
                                lastName:
                                  type: string
                                  description: Last name
                                emailAddress:
                                  description: Email address
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: Principal name
                                phoneNumber:
                                  type: string
                                  description: Phone number
                                companyDetails:
                                  description: Company details
                                  type: object
                                  properties:
                                    companyName:
                                      type: string
                                      description: Company name
                                    address:
                                      description: Company address
                                      type: object
                                      properties:
                                        addressLine1:
                                          type: string
                                          description: Address line 1
                                        addressLine2:
                                          type: string
                                          description: Address line 2
                                        city:
                                          type: string
                                          description: Name of the city
                                        state:
                                          type: string
                                          description: State (if any)
                                        country:
                                          type: string
                                          description: Name of the country
                                        postalCode:
                                          type: string
                                          description: Postal code
                                      required:
                                      - addressLine1
                                      - city
                                      - state
                                      - country
                                      - postalCode
                                  required:
                                  - companyName
                              required:
                              - firstName
                              - lastName
                              - emailAddress
                            provisioningState:
                              description: Provisioning state of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Deleting
                                  value: Deleting
                                  description: Deletion in progress
                                - name: Accepted
                                  value: Accepted
                                  description: Change accepted for processing
                          required:
                          - marketplace
                          - user
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/reservations/{reservationName}
  : get:
      operationId: Reservations_Get
      tags:
      - Reservations
      description: Get a reservation
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: reservationName
        in: path
        description: Name of the reservation.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 127
          pattern: ^[a-zA-Z0-9\-_]{1,127}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    description: The resource-specific properties for this resource.
                    properties:
                      reservationInternalId:
                        type: string
                        description: Pure Storage's internal ID for the reservation
                        readOnly: true
                      marketplace:
                        description: Marketplace details
                        x-ms-mutability:
                        - read
                        - create
                        type: object
                        properties:
                          subscriptionId:
                            type: string
                            description: Marketplace subscription ID
                            readOnly: true
                          subscriptionStatus:
                            description: Marketplace subscription status
                            type: string
                            enum:
                            - PendingFulfillmentStart
                            - Subscribed
                            - Suspended
                            - Unsubscribed
                            x-ms-enum:
                              name: MarketplaceSubscriptionStatus
                              modelAsString: true
                              values:
                              - name: PendingFulfillmentStart
                                value: PendingFulfillmentStart
                                description: Marketplace subscription purchased but
                                  not yet activated
                              - name: Subscribed
                                value: Subscribed
                                description: Marketplace subscription activated
                              - name: Suspended
                                value: Suspended
                                description: Marketplace subscription suspended due
                                  to missing customer payment
                              - name: Unsubscribed
                                value: Unsubscribed
                                description: Marketplace subscription cancelled
                          offerDetails:
                            description: Offer details of the marketplace subscription
                            type: object
                            properties:
                              publisherId:
                                type: string
                                description: Publisher ID for the marketplace offer
                              offerId:
                                type: string
                                description: Offer ID for the marketplace offer
                              planId:
                                type: string
                                description: Plan ID for the marketplace offer
                              planName:
                                type: string
                                description: Plan Name for the marketplace offer
                              termUnit:
                                type: string
                                description: Term Unit for the marketplace offer
                              termId:
                                type: string
                                description: Term ID for the marketplace offer
                            required:
                            - publisherId
                            - offerId
                            - planId
                        required:
                        - offerDetails
                      user:
                        description: User details
                        type: object
                        properties:
                          firstName:
                            type: string
                            description: First name
                          lastName:
                            type: string
                            description: Last name
                          emailAddress:
                            description: Email address
                            type: string
                            pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                          upn:
                            type: string
                            description: Principal name
                          phoneNumber:
                            type: string
                            description: Phone number
                          companyDetails:
                            description: Company details
                            type: object
                            properties:
                              companyName:
                                type: string
                                description: Company name
                              address:
                                description: Company address
                                type: object
                                properties:
                                  addressLine1:
                                    type: string
                                    description: Address line 1
                                  addressLine2:
                                    type: string
                                    description: Address line 2
                                  city:
                                    type: string
                                    description: Name of the city
                                  state:
                                    type: string
                                    description: State (if any)
                                  country:
                                    type: string
                                    description: Name of the country
                                  postalCode:
                                    type: string
                                    description: Postal code
                                required:
                                - addressLine1
                                - city
                                - state
                                - country
                                - postalCode
                            required:
                            - companyName
                        required:
                        - firstName
                        - lastName
                        - emailAddress
                      provisioningState:
                        description: Provisioning state of the resource
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Deleting
                            value: Deleting
                            description: Deletion in progress
                          - name: Accepted
                            value: Accepted
                            description: Change accepted for processing
                    required:
                    - marketplace
                    - user
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Reservations_Create
      tags:
      - Reservations
      description: Create a reservation
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: reservationName
        in: path
        description: Name of the reservation.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 127
          pattern: ^[a-zA-Z0-9\-_]{1,127}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  description: The resource-specific properties for this resource.
                  properties:
                    reservationInternalId:
                      type: string
                      description: Pure Storage's internal ID for the reservation
                      readOnly: true
                    marketplace:
                      description: Marketplace details
                      x-ms-mutability:
                      - read
                      - create
                      type: object
                      properties:
                        subscriptionId:
                          type: string
                          description: Marketplace subscription ID
                          readOnly: true
                        subscriptionStatus:
                          description: Marketplace subscription status
                          type: string
                          enum:
                          - PendingFulfillmentStart
                          - Subscribed
                          - Suspended
                          - Unsubscribed
                          x-ms-enum:
                            name: MarketplaceSubscriptionStatus
                            modelAsString: true
                            values:
                            - name: PendingFulfillmentStart
                              value: PendingFulfillmentStart
                              description: Marketplace subscription purchased but
                                not yet activated
                            - name: Subscribed
                              value: Subscribed
                              description: Marketplace subscription activated
                            - name: Suspended
                              value: Suspended
                              description: Marketplace subscription suspended due
                                to missing customer payment
                            - name: Unsubscribed
                              value: Unsubscribed
                              description: Marketplace subscription cancelled
                        offerDetails:
                          description: Offer details of the marketplace subscription
                          type: object
                          properties:
                            publisherId:
                              type: string
                              description: Publisher ID for the marketplace offer
                            offerId:
                              type: string
                              description: Offer ID for the marketplace offer
                            planId:
                              type: string
                              description: Plan ID for the marketplace offer
                            planName:
                              type: string
                              description: Plan Name for the marketplace offer
                            termUnit:
                              type: string
                              description: Term Unit for the marketplace offer
                            termId:
                              type: string
                              description: Term ID for the marketplace offer
                          required:
                          - publisherId
                          - offerId
                          - planId
                      required:
                      - offerDetails
                    user:
                      description: User details
                      type: object
                      properties:
                        firstName:
                          type: string
                          description: First name
                        lastName:
                          type: string
                          description: Last name
                        emailAddress:
                          description: Email address
                          type: string
                          pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                        upn:
                          type: string
                          description: Principal name
                        phoneNumber:
                          type: string
                          description: Phone number
                        companyDetails:
                          description: Company details
                          type: object
                          properties:
                            companyName:
                              type: string
                              description: Company name
                            address:
                              description: Company address
                              type: object
                              properties:
                                addressLine1:
                                  type: string
                                  description: Address line 1
                                addressLine2:
                                  type: string
                                  description: Address line 2
                                city:
                                  type: string
                                  description: Name of the city
                                state:
                                  type: string
                                  description: State (if any)
                                country:
                                  type: string
                                  description: Name of the country
                                postalCode:
                                  type: string
                                  description: Postal code
                              required:
                              - addressLine1
                              - city
                              - state
                              - country
                              - postalCode
                          required:
                          - companyName
                      required:
                      - firstName
                      - lastName
                      - emailAddress
                    provisioningState:
                      description: Provisioning state of the resource
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Deleting
                          value: Deleting
                          description: Deletion in progress
                        - name: Accepted
                          value: Accepted
                          description: Change accepted for processing
                  required:
                  - marketplace
                  - user
                  x-ms-client-flatten: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Reservation' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
[...]
