openapi: 3.0.0
info:
  description: Workload Monitor API
  version: 2020-01-13-preview
  title: Workload Monitor API
  contact:
    email: wlmengg@microsoft.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.WorkloadMonitor/operations:
    get:
      summary: Get a list of all available REST API operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the operation.
        required: true
        schema:
          type: string
          enum:
          - 2020-01-13-preview
      responses:
        '200':
          description: The list of available REST API operations.
          content:
            application/json:
              schema:
                title: List of available REST API operations
                type: object
                readOnly: true
                properties:
                  value:
                    description: Array of available REST API operations.
                    type: array
                    items:
                      title: Operation supported by the resource provider.
                      type: object
                      readOnly: true
                      required:
                      - name
                      - display
                      - origin
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object.
                          type: string
                        display:
                          description: The localized display information for this
                            particular operation or action.
                          type: object
                          required:
                          - provider
                          - resource
                          - operation
                          - description
                          properties:
                            provider:
                              description: Operation resource provider name.
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                            operation:
                              description: Human-readable, friendly name for the operation.
                              type: string
                            description:
                              description: Operation description.
                              type: string
                        origin:
                          description: The intended executor of the operation.
                          type: string
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: Link to next page if the list is too long.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                type: object
                properties:
                  error:
                    description: Error info.
                    type: object
                    properties:
                      code:
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                        type: string
                      message:
                        description: Human-readable representation of the error.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        items:
                          title: Error details
                          type: object
                          properties:
                            code:
                              description: Error code identifying the specific error.
                              type: string
                            message:
                              description: A human-readable error message.
                              type: string
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceCollectionName}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors
  : get:
      summary: 'Get the current health status of all monitors of a virtual machine.
        Optional parameters: $expand (retrieve the monitor''s evidence and configuration)
        and $filter (filter by monitor name).'
      operationId: HealthMonitors_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the operation.
        required: true
        schema:
          type: string
          enum:
          - 2020-01-13-preview
      - in: path
        name: subscriptionId
        required: true
        description: The subscription Id of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceGroupName
        required: true
        description: The resource group of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: providerName
        required: true
        description: 'The provider name (ex: Microsoft.Compute for virtual machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceCollectionName
        required: true
        description: 'The resource collection name (ex: virtualMachines for virtual
          machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceName
        required: true
        description: The name of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: 'Optionally filter by monitor name. Example: $filter=monitorName
          eq ''logical-disks|C:|disk-free-space-mb.'''
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: "Optionally expand the monitor\u2019s evidence and/or configuration.\
          \ Example: $expand=evidence,configuration."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The health monitors matching the specified criteria.
          content:
            application/json:
              schema:
                title: Information about the current health statuses of the monitors.
                type: object
                readOnly: true
                properties:
                  value:
                    description: Array of health monitors of the virtual machine.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: The resource Id.
                          type: string
                        name:
                          readOnly: true
                          description: The resource name.
                          type: string
                        type:
                          readOnly: true
                          description: The resource type.
                          type: string
                        properties:
                          description: Properties of the monitor's health status.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            monitorName:
                              description: Human-readable name of the monitor.
                              type: string
                            monitorType:
                              description: Type of the monitor.
                              type: string
                            monitoredObject:
                              description: Dynamic monitored object of the monitor.
                              type: string
                            parentMonitorName:
                              description: Name of the parent monitor.
                              type: string
                            previousMonitorState:
                              description: Previous health state of the monitor.
                              title: One of health states - healthy, critical, warning,
                                unknown, none, disabled.
                              type: string
                              readOnly: true
                              enum:
                              - Healthy
                              - Critical
                              - Warning
                              - Unknown
                              - Disabled
                              - None
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            currentMonitorState:
                              description: Current health state of the monitor.
                              title: One of health states - healthy, critical, warning,
                                unknown, none, disabled.
                              type: string
                              readOnly: true
                              enum:
                              - Healthy
                              - Critical
                              - Warning
                              - Unknown
                              - Disabled
                              - None
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            evaluationTimestamp:
                              description: Timestamp of the monitor's last health
                                evaluation.
                              type: string
                            currentStateFirstObservedTimestamp:
                              description: Timestamp of the monitor's last health
                                state change.
                              type: string
                            lastReportedTimestamp:
                              description: Timestamp of the monitor's last reported
                                health state.
                              type: string
                            evidence:
                              description: Evidence validating the monitor's current
                                health state.
                              type: object
                            monitorConfiguration:
                              description: The configuration settings at the time
                                of the monitor's health evaluation.
                              type: object
                      description: The resource model definition for the ARM proxy
                        resource, 'microsoft.workloadmonitor/monitors'.
                      x-ms-azure-resource: true
                      title: "Information about the monitor\u2019s current health\
                        \ status."
                  nextLink:
                    description: Link to next page if the list is too long.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                type: object
                properties:
                  error:
                    description: Error info.
                    type: object
                    properties:
                      code:
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                        type: string
                      message:
                        description: Human-readable representation of the error.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        items:
                          title: Error details
                          type: object
                          properties:
                            code:
                              description: Error code identifying the specific error.
                              type: string
                            message:
                              description: A human-readable error message.
                              type: string
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceCollectionName}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}
  : get:
      summary: 'Get the current health status of a monitor of a virtual machine. Optional
        parameter: $expand (retrieve the monitor''s evidence and configuration).'
      operationId: HealthMonitors_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the operation.
        required: true
        schema:
          type: string
          enum:
          - 2020-01-13-preview
      - in: path
        name: subscriptionId
        required: true
        description: The subscription Id of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceGroupName
        required: true
        description: The resource group of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: providerName
        required: true
        description: 'The provider name (ex: Microsoft.Compute for virtual machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceCollectionName
        required: true
        description: 'The resource collection name (ex: virtualMachines for virtual
          machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceName
        required: true
        description: The name of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: monitorId
        description: The monitor Id of the virtual machine.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: "Optionally expand the monitor\u2019s evidence and/or configuration.\
          \ Example: $expand=evidence,configuration."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The health monitor matching the specified criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: The resource Id.
                    type: string
                  name:
                    readOnly: true
                    description: The resource name.
                    type: string
                  type:
                    readOnly: true
                    description: The resource type.
                    type: string
                  properties:
                    description: Properties of the monitor's health status.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      monitorName:
                        description: Human-readable name of the monitor.
                        type: string
                      monitorType:
                        description: Type of the monitor.
                        type: string
                      monitoredObject:
                        description: Dynamic monitored object of the monitor.
                        type: string
                      parentMonitorName:
                        description: Name of the parent monitor.
                        type: string
                      previousMonitorState:
                        description: Previous health state of the monitor.
                        title: One of health states - healthy, critical, warning,
                          unknown, none, disabled.
                        type: string
                        readOnly: true
                        enum:
                        - Healthy
                        - Critical
                        - Warning
                        - Unknown
                        - Disabled
                        - None
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      currentMonitorState:
                        description: Current health state of the monitor.
                        title: One of health states - healthy, critical, warning,
                          unknown, none, disabled.
                        type: string
                        readOnly: true
                        enum:
                        - Healthy
                        - Critical
                        - Warning
                        - Unknown
                        - Disabled
                        - None
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      evaluationTimestamp:
                        description: Timestamp of the monitor's last health evaluation.
                        type: string
                      currentStateFirstObservedTimestamp:
                        description: Timestamp of the monitor's last health state
                          change.
                        type: string
                      lastReportedTimestamp:
                        description: Timestamp of the monitor's last reported health
                          state.
                        type: string
                      evidence:
                        description: Evidence validating the monitor's current health
                          state.
                        type: object
                      monitorConfiguration:
                        description: The configuration settings at the time of the
                          monitor's health evaluation.
                        type: object
                description: The resource model definition for the ARM proxy resource,
                  'microsoft.workloadmonitor/monitors'.
                x-ms-azure-resource: true
                title: "Information about the monitor\u2019s current health status."
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                type: object
                properties:
                  error:
                    description: Error info.
                    type: object
                    properties:
                      code:
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                        type: string
                      message:
                        description: Human-readable representation of the error.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        items:
                          title: Error details
                          type: object
                          properties:
                            code:
                              description: Error code identifying the specific error.
                              type: string
                            message:
                              description: A human-readable error message.
                              type: string
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceCollectionName}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}/history
  : get:
      summary: 'Get the health state changes of a monitor of a virtual machine within
        the provided time window (default is the last 24 hours). Optional parameters:
        $expand (retrieve the monitor''s evidence and configuration) and $filter (filter
        by heartbeat condition).'
      operationId: HealthMonitors_ListStateChanges
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the operation.
        required: true
        schema:
          type: string
          enum:
          - 2020-01-13-preview
      - in: path
        name: subscriptionId
        required: true
        description: The subscription Id of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceGroupName
        required: true
        description: The resource group of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: providerName
        required: true
        description: 'The provider name (ex: Microsoft.Compute for virtual machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceCollectionName
        required: true
        description: 'The resource collection name (ex: virtualMachines for virtual
          machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceName
        required: true
        description: The name of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: monitorId
        description: The monitor Id of the virtual machine.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: 'Optionally filter by heartbeat condition. Example: $filter=isHeartbeat
          eq false.'
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: "Optionally expand the monitor\u2019s evidence and/or configuration.\
          \ Example: $expand=evidence,configuration."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: startTimestampUtc
        description: The start of the time window.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: endTimestampUtc
        description: The end of the time window.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The health monitor state changes matching the specified criteria.
          content:
            application/json:
              schema:
                title: Information about the health state changes of the monitor within
                  the provided time window.
                type: object
                readOnly: true
                properties:
                  value:
                    description: Array of health state changes within the specified
                      time window.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: The resource Id.
                          type: string
                        name:
                          readOnly: true
                          description: The resource name.
                          type: string
                        type:
                          readOnly: true
                          description: The resource type.
                          type: string
                        properties:
                          description: Properties of the monitor's state change.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            monitorName:
                              description: Human-readable name of the monitor.
                              type: string
                            monitorType:
                              description: Type of the monitor.
                              type: string
                            monitoredObject:
                              description: Dynamic monitored object of the monitor.
                              type: string
                            evaluationTimestamp:
                              description: Timestamp of the monitor's last health
                                evaluation.
                              type: string
                            currentStateFirstObservedTimestamp:
                              description: Timestamp of the monitor's last health
                                state change.
                              type: string
                            previousMonitorState:
                              description: Previous health state of the monitor.
                              title: One of health states - healthy, critical, warning,
                                unknown, none, disabled.
                              type: string
                              readOnly: true
                              enum:
                              - Healthy
                              - Critical
                              - Warning
                              - Unknown
                              - Disabled
                              - None
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            currentMonitorState:
                              description: Current health state of the monitor.
                              title: One of health states - healthy, critical, warning,
                                unknown, none, disabled.
                              type: string
                              readOnly: true
                              enum:
                              - Healthy
                              - Critical
                              - Warning
                              - Unknown
                              - Disabled
                              - None
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            evidence:
                              description: Evidence validating the monitor's current
                                health state.
                              type: object
                            monitorConfiguration:
                              description: The configuration settings at the time
                                of the monitor's health evaluation.
                              type: object
                      description: The resource model definition for the ARM proxy
                        resource, 'microsoft.workloadmonitor/monitors'.
                      x-ms-azure-resource: true
                      title: "Information about the monitor\u2019s health state change\
                        \ at the provided timestamp."
                  nextLink:
                    description: Link to next page if the list is too long.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                type: object
                properties:
                  error:
                    description: Error info.
                    type: object
                    properties:
                      code:
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                        type: string
                      message:
                        description: Human-readable representation of the error.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        items:
                          title: Error details
                          type: object
                          properties:
                            code:
                              description: Error code identifying the specific error.
                              type: string
                            message:
                              description: A human-readable error message.
                              type: string
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceCollectionName}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}/history/{timestampUnix}
  : get:
      summary: 'Get the health state change of a monitor of a virtual machine at the
        provided timestamp. Optional parameter: $expand (retrieve the monitor''s evidence
        and configuration).'
      operationId: HealthMonitors_GetStateChange
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the operation.
        required: true
        schema:
          type: string
          enum:
          - 2020-01-13-preview
      - in: path
        name: subscriptionId
        required: true
        description: The subscription Id of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceGroupName
        required: true
        description: The resource group of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: providerName
        required: true
        description: 'The provider name (ex: Microsoft.Compute for virtual machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceCollectionName
        required: true
        description: 'The resource collection name (ex: virtualMachines for virtual
          machines).'
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: resourceName
        required: true
        description: The name of the virtual machine.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: monitorId
        description: The monitor Id of the virtual machine.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: timestampUnix
        description: The timestamp of the state change (unix format).
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: "Optionally expand the monitor\u2019s evidence and/or configuration.\
          \ Example: $expand=evidence,configuration."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The health monitor state change matching the specified criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: The resource Id.
                    type: string
                  name:
                    readOnly: true
                    description: The resource name.
                    type: string
                  type:
                    readOnly: true
                    description: The resource type.
                    type: string
                  properties:
                    description: Properties of the monitor's state change.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      monitorName:
                        description: Human-readable name of the monitor.
                        type: string
                      monitorType:
                        description: Type of the monitor.
                        type: string
                      monitoredObject:
                        description: Dynamic monitored object of the monitor.
                        type: string
                      evaluationTimestamp:
                        description: Timestamp of the monitor's last health evaluation.
                        type: string
                      currentStateFirstObservedTimestamp:
                        description: Timestamp of the monitor's last health state
                          change.
                        type: string
                      previousMonitorState:
                        description: Previous health state of the monitor.
                        title: One of health states - healthy, critical, warning,
                          unknown, none, disabled.
                        type: string
                        readOnly: true
                        enum:
                        - Healthy
                        - Critical
                        - Warning
                        - Unknown
                        - Disabled
                        - None
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      currentMonitorState:
                        description: Current health state of the monitor.
                        title: One of health states - healthy, critical, warning,
                          unknown, none, disabled.
                        type: string
                        readOnly: true
                        enum:
                        - Healthy
                        - Critical
                        - Warning
                        - Unknown
                        - Disabled
                        - None
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      evidence:
                        description: Evidence validating the monitor's current health
                          state.
                        type: object
                      monitorConfiguration:
                        description: The configuration settings at the time of the
                          monitor's health evaluation.
                        type: object
                description: The resource model definition for the ARM proxy resource,
                  'microsoft.workloadmonitor/monitors'.
                x-ms-azure-resource: true
                title: "Information about the monitor\u2019s health state change at\
                  \ the provided timestamp."
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                type: object
                properties:
                  error:
                    description: Error info.
                    type: object
                    properties:
                      code:
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                        type: string
                      message:
                        description: Human-readable representation of the error.
                        type: string
                      details:
                        description: Error details.
                        type: array
                        items:
                          title: Error details
                          type: object
                          properties:
                            code:
                              description: Error code identifying the specific error.
                              type: string
                            message:
                              description: A human-readable error message.
                              type: string
                        x-ms-identifiers: []
components:
  parameters:
    api-version:
      name: api-version
      in: query
      description: The API version to use for the operation.
      required: true
      schema:
        type: string
        enum:
        - 2020-01-13-preview
    subscriptionId:
      in: path
      name: subscriptionId
      required: true
      description: The subscription Id of the virtual machine.
      x-ms-parameter-location: method
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      required: true
      description: The resource group of the virtual machine.
      x-ms-parameter-location: method
      schema:
        type: string
    providerName:
      in: path
      name: providerName
      required: true
      description: 'The provider name (ex: Microsoft.Compute for virtual machines).'
      x-ms-parameter-location: method
      schema:
        type: string
    resourceCollectionName:
      in: path
      name: resourceCollectionName
      required: true
      description: 'The resource collection name (ex: virtualMachines for virtual
        machines).'
      x-ms-parameter-location: method
      schema:
        type: string
    resourceName:
      in: path
      name: resourceName
      required: true
      description: The name of the virtual machine.
      x-ms-parameter-location: method
      schema:
        type: string
    monitorId:
      in: path
      name: monitorId
      description: The monitor Id of the virtual machine.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    timestampUnix:
      in: path
      name: timestampUnix
      description: The timestamp of the state change (unix format).
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    monitorNameFilter:
      name: $filter
      in: query
      description: 'Optionally filter by monitor name. Example: $filter=monitorName
        eq ''logical-disks|C:|disk-free-space-mb.'''
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    heartbeatFilter:
      name: $filter
      in: query
      description: 'Optionally filter by heartbeat condition. Example: $filter=isHeartbeat
        eq false.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    expand:
      name: $expand
      in: query
      description: "Optionally expand the monitor\u2019s evidence and/or configuration.\
        \ Example: $expand=evidence,configuration."
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    HealthMonitorStateChangeList:
      title: Information about the health state changes of the monitor within the
        provided time window.
      type: object
      readOnly: true
      properties:
        value:
          description: Array of health state changes within the specified time window.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: The resource Id.
                type: string
              name:
                readOnly: true
                description: The resource name.
                type: string
              type:
                readOnly: true
                description: The resource type.
                type: string
              properties:
                description: Properties of the monitor's state change.
                x-ms-client-flatten: true
                type: object
                properties:
                  monitorName:
                    description: Human-readable name of the monitor.
                    type: string
                  monitorType:
                    description: Type of the monitor.
                    type: string
                  monitoredObject:
                    description: Dynamic monitored object of the monitor.
                    type: string
                  evaluationTimestamp:
                    description: Timestamp of the monitor's last health evaluation.
                    type: string
                  currentStateFirstObservedTimestamp:
                    description: Timestamp of the monitor's last health state change.
                    type: string
                  previousMonitorState:
                    description: Previous health state of the monitor.
                    title: One of health states - healthy, critical, warning, unknown,
                      none, disabled.
                    type: string
                    readOnly: true
                    enum:
                    - Healthy
                    - Critical
                    - Warning
                    - Unknown
                    - Disabled
                    - None
                    x-ms-enum:
                      name: HealthState
                      modelAsString: true
                  currentMonitorState:
                    description: Current health state of the monitor.
                    title: One of health states - healthy, critical, warning, unknown,
                      none, disabled.
                    type: string
                    readOnly: true
                    enum:
                    - Healthy
                    - Critical
                    - Warning
                    - Unknown
                    - Disabled
                    - None
                    x-ms-enum:
                      name: HealthState
                      modelAsString: true
                  evidence:
                    description: Evidence validating the monitor's current health
                      state.
                    type: object
                  monitorConfiguration:
                    description: The configuration settings at the time of the monitor's
                      health evaluation.
                    type: object
            description: The resource model definition for the ARM proxy resource,
              'microsoft.workloadmonitor/monitors'.
            x-ms-azure-resource: true
            title: "Information about the monitor\u2019s health state change at the\
              \ provided timestamp."
        nextLink:
          description: Link to next page if the list is too long.
          type: string
    HealthMonitorList:
      title: Information about the current health statuses of the monitors.
      type: object
      readOnly: true
      properties:
        value:
          description: Array of health monitors of the virtual machine.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: The resource Id.
                type: string
              name:
                readOnly: true
                description: The resource name.
                type: string
              type:
                readOnly: true
                description: The resource type.
                type: string
              properties:
                description: Properties of the monitor's health status.
                x-ms-client-flatten: true
                type: object
                properties:
                  monitorName:
                    description: Human-readable name of the monitor.
                    type: string
                  monitorType:
                    description: Type of the monitor.
                    type: string
                  monitoredObject:
                    description: Dynamic monitored object of the monitor.
                    type: string
                  parentMonitorName:
                    description: Name of the parent monitor.
                    type: string
                  previousMonitorState:
                    description: Previous health state of the monitor.
                    title: One of health states - healthy, critical, warning, unknown,
                      none, disabled.
                    type: string
                    readOnly: true
                    enum:
                    - Healthy
                    - Critical
                    - Warning
                    - Unknown
                    - Disabled
                    - None
                    x-ms-enum:
                      name: HealthState
                      modelAsString: true
                  currentMonitorState:
                    description: Current health state of the monitor.
                    title: One of health states - healthy, critical, warning, unknown,
                      none, disabled.
                    type: string
                    readOnly: true
                    enum:
                    - Healthy
                    - Critical
                    - Warning
                    - Unknown
                    - Disabled
                    - None
                    x-ms-enum:
                      name: HealthState
                      modelAsString: true
                  evaluationTimestamp:
                    description: Timestamp of the monitor's last health evaluation.
                    type: string
                  currentStateFirstObservedTimestamp:
                    description: Timestamp of the monitor's last health state change.
                    type: string
                  lastReportedTimestamp:
                    description: Timestamp of the monitor's last reported health state.
                    type: string
                  evidence:
                    description: Evidence validating the monitor's current health
                      state.
                    type: object
                  monitorConfiguration:
                    description: The configuration settings at the time of the monitor's
                      health evaluation.
                    type: object
            description: The resource model definition for the ARM proxy resource,
              'microsoft.workloadmonitor/monitors'.
            x-ms-azure-resource: true
            title: "Information about the monitor\u2019s current health status."
        nextLink:
          description: Link to next page if the list is too long.
          type: string
    HealthMonitor:
      type: object
      properties:
        id:
          readOnly: true
          description: The resource Id.
          type: string
        name:
          readOnly: true
          description: The resource name.
          type: string
        type:
          readOnly: true
          description: The resource type.
          type: string
        properties:
          description: Properties of the monitor's health status.
          x-ms-client-flatten: true
          type: object
          properties:
            monitorName:
              description: Human-readable name of the monitor.
              type: string
            monitorType:
              description: Type of the monitor.
              type: string
            monitoredObject:
              description: Dynamic monitored object of the monitor.
              type: string
            parentMonitorName:
              description: Name of the parent monitor.
              type: string
            previousMonitorState:
              description: Previous health state of the monitor.
              title: One of health states - healthy, critical, warning, unknown, none,
                disabled.
              type: string
              readOnly: true
              enum:
              - Healthy
              - Critical
              - Warning
              - Unknown
              - Disabled
              - None
              x-ms-enum:
                name: HealthState
                modelAsString: true
            currentMonitorState:
              description: Current health state of the monitor.
              title: One of health states - healthy, critical, warning, unknown, none,
                disabled.
              type: string
              readOnly: true
              enum:
              - Healthy
              - Critical
              - Warning
              - Unknown
              - Disabled
              - None
              x-ms-enum:
                name: HealthState
                modelAsString: true
            evaluationTimestamp:
              description: Timestamp of the monitor's last health evaluation.
              type: string
            currentStateFirstObservedTimestamp:
              description: Timestamp of the monitor's last health state change.
              type: string
            lastReportedTimestamp:
              description: Timestamp of the monitor's last reported health state.
              type: string
            evidence:
              description: Evidence validating the monitor's current health state.
              type: object
            monitorConfiguration:
              description: The configuration settings at the time of the monitor's
                health evaluation.
              type: object
      description: The resource model definition for the ARM proxy resource, 'microsoft.workloadmonitor/monitors'.
      x-ms-azure-resource: true
      title: "Information about the monitor\u2019s current health status."
    Resource:
      description: The resource model definition for the ARM proxy resource, 'microsoft.workloadmonitor/monitors'.
      type: object
      properties:
        id:
          readOnly: true
          description: The resource Id.
          type: string
        name:
          readOnly: true
          description: The resource name.
          type: string
        type:
          readOnly: true
          description: The resource type.
          type: string
      x-ms-azure-resource: true
    HealthMonitorProperties:
      description: Properties of the monitor.
      type: object
      properties:
        monitorName:
          description: Human-readable name of the monitor.
          type: string
        monitorType:
          description: Type of the monitor.
          type: string
        monitoredObject:
          description: Dynamic monitored object of the monitor.
          type: string
        parentMonitorName:
          description: Name of the parent monitor.
          type: string
        previousMonitorState:
          description: Previous health state of the monitor.
          title: One of health states - healthy, critical, warning, unknown, none,
            disabled.
          type: string
          readOnly: true
          enum:
          - Healthy
          - Critical
          - Warning
          - Unknown
          - Disabled
          - None
          x-ms-enum:
            name: HealthState
            modelAsString: true
        currentMonitorState:
          description: Current health state of the monitor.
          title: One of health states - healthy, critical, warning, unknown, none,
            disabled.
          type: string
          readOnly: true
          enum:
          - Healthy
          - Critical
          - Warning
          - Unknown
          - Disabled
          - None
          x-ms-enum:
            name: HealthState
            modelAsString: true
        evaluationTimestamp:
          description: Timestamp of the monitor's last health evaluation.
          type: string
        currentStateFirstObservedTimestamp:
          description: Timestamp of the monitor's last health state change.
          type: string
        lastReportedTimestamp:
          description: Timestamp of the monitor's last reported health state.
          type: string
        evidence:
          description: Evidence validating the monitor's current health state.
          type: object
        monitorConfiguration:
          description: The configuration settings at the time of the monitor's health
            evaluation.
          type: object
    HealthMonitorStateChange:
      type: object
      properties:
        id:
          readOnly: true
          description: The resource Id.
          type: string
        name:
          readOnly: true
          description: The resource name.
          type: string
        type:
          readOnly: true
          description: The resource type.
          type: string
        properties:
          description: Properties of the monitor's state change.
          x-ms-client-flatten: true
          type: object
          properties:
            monitorName:
              description: Human-readable name of the monitor.
              type: string
            monitorType:
              description: Type of the monitor.
              type: string
            monitoredObject:
              description: Dynamic monitored object of the monitor.
              type: string
            evaluationTimestamp:
              description: Timestamp of the monitor's last health evaluation.
              type: string
            currentStateFirstObservedTimestamp:
              description: Timestamp of the monitor's last health state change.
              type: string
            previousMonitorState:
              description: Previous health state of the monitor.
              title: One of health states - healthy, critical, warning, unknown, none,
                disabled.
              type: string
              readOnly: true
              enum:
              - Healthy
              - Critical
              - Warning
              - Unknown
              - Disabled
              - None
              x-ms-enum:
                name: HealthState
                modelAsString: true
            currentMonitorState:
              description: Current health state of the monitor.
              title: One of health states - healthy, critical, warning, unknown, none,
                disabled.
              type: string
              readOnly: true
              enum:
              - Healthy
              - Critical
              - Warning
              - Unknown
              - Disabled
              - None
              x-ms-enum:
                name: HealthState
                modelAsString: true
            evidence:
              description: Evidence validating the monitor's current health state.
              type: object
            monitorConfiguration:
              description: The configuration settings at the time of the monitor's
                health evaluation.
              type: object
      description: The resource model definition for the ARM proxy resource, 'microsoft.workloadmonitor/monitors'.
      x-ms-azure-resource: true
      title: "Information about the monitor\u2019s health state change at the provided\
        \ timestamp."
    HealthMonitorStateChangeProperties:
      description: Properties of the monitor.
      type: object
      properties:
        monitorName:
          description: Human-readable name of the monitor.
          type: string
        monitorType:
          description: Type of the monitor.
          type: string
        monitoredObject:
          description: Dynamic monitored object of the monitor.
          type: string
        evaluationTimestamp:
          description: Timestamp of the monitor's last health evaluation.
          type: string
        currentStateFirstObservedTimestamp:
          description: Timestamp of the monitor's last health state change.
          type: string
        previousMonitorState:
          description: Previous health state of the monitor.
          title: One of health states - healthy, critical, warning, unknown, none,
            disabled.
          type: string
          readOnly: true
          enum:
          - Healthy
          - Critical
          - Warning
          - Unknown
          - Disabled
          - None
          x-ms-enum:
            name: HealthState
            modelAsString: true
        currentMonitorState:
          description: Current health state of the monitor.
          title: One of health states - healthy, critical, warning, unknown, none,
            disabled.
          type: string
          readOnly: true
          enum:
          - Healthy
          - Critical
          - Warning
          - Unknown
          - Disabled
          - None
          x-ms-enum:
            name: HealthState
            modelAsString: true
        evidence:
          description: Evidence validating the monitor's current health state.
          type: object
        monitorConfiguration:
          description: The configuration settings at the time of the monitor's health
            evaluation.
          type: object
    HealthState:
      title: One of health states - healthy, critical, warning, unknown, none, disabled.
      type: string
      readOnly: true
      enum:
      - Healthy
      - Critical
      - Warning
      - Unknown
      - Disabled
      - None
      x-ms-enum:
        name: HealthState
        modelAsString: true
    OperationList:
      title: List of available REST API operations
      type: object
      readOnly: true
      properties:
        value:
          description: Array of available REST API operations.
          type: array
          items:
            title: Operation supported by the resource provider.
            type: object
            readOnly: true
            required:
            - name
            - display
            - origin
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object.
                type: string
              display:
                description: The localized display information for this particular
                  operation or action.
                type: object
                required:
                - provider
                - resource
                - operation
                - description
                properties:
                  provider:
                    description: Operation resource provider name.
                    type: string
                  resource:
                    description: Resource on which the operation is performed.
                    type: string
                  operation:
                    description: Human-readable, friendly name for the operation.
                    type: string
                  description:
                    description: Operation description.
                    type: string
              origin:
                description: The intended executor of the operation.
                type: string
          x-ms-identifiers:
          - name
        nextLink:
          description: Link to next page if the list is too long.
          type: string
    Operation:
      title: Operation supported by the resource provider.
      type: object
      readOnly: true
      required:
      - name
      - display
      - origin
      properties:
        name:
          description: The name of the operation being performed on this particular
            object.
          type: string
        display:
          description: The localized display information for this particular operation
            or action.
          type: object
          required:
          - provider
          - resource
          - operation
          - description
          properties:
            provider:
              description: Operation resource provider name.
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
            operation:
              description: Human-readable, friendly name for the operation.
              type: string
            description:
              description: Operation description.
              type: string
        origin:
          description: The intended executor of the operation.
          type: string
    ErrorResponse:
      title: Error response
      type: object
      properties:
        error:
          description: Error info.
          type: object
          properties:
            code:
              description: Service-defined error code. This code serves as a sub-status
                for the HTTP error code specified in the response.
              type: string
            message:
              description: Human-readable representation of the error.
              type: string
            details:
              description: Error details.
              type: array
              items:
                title: Error details
                type: object
                properties:
                  code:
                    description: Error code identifying the specific error.
                    type: string
                  message:
                    description: A human-readable error message.
                    type: string
              x-ms-identifiers: []
    ErrorDetails:
      title: Error details
      type: object
      properties:
        code:
          description: Error code identifying the specific error.
          type: string
        message:
          description: A human-readable error message.
          type: string
