openapi: 3.0.0
info:
  version: 2024-03-01
  title: Azure Orbital
  description: Azure Orbital service.
  license:
    name: Microsoft
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Orbital/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Orbital Rest API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed. If the
            resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Orbital/groundStations:
    get:
      tags:
      - Ground Station
      description: Return list of ground stations.
      operationId: GroundStations_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $skiptoken
        description: An opaque string that the resource provider uses to skip over
          previously-returned results. This is used when a previous list operation
          call returned a partial result. If a previous response contains a nextLink
          element, the value of the nextLink element will include a skiptoken parameter
          that specifies a starting point to use for subsequent calls.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of Ground
            Station resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            city:
                              type: string
                              description: City of ground station.
                            capabilities:
                              type: array
                              items:
                                type: string
                                description: Capability of the Ground Station.
                                enum:
                                - EarthObservation
                                - Communication
                                x-ms-enum:
                                  name: Capability
                                  modelAsString: true
                              description: Ground station capabilities.
                            providerName:
                              type: string
                              description: Ground station provider name.
                            longitudeDegrees:
                              type: number
                              description: Longitude of the ground station in decimal
                                degrees.
                            latitudeDegrees:
                              type: number
                              description: Latitude of the ground station in decimal
                                degrees.
                            altitudeMeters:
                              type: number
                              description: Altitude of the ground station.
                            releaseMode:
                              type: string
                              enum:
                              - Preview
                              - GA
                              x-ms-enum:
                                name: releaseMode
                                modelAsString: true
                              readOnly: true
                              description: Release Status of a ground station.
                            globalCommunicationsSite:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              required:
                              - id
                              description: Resource Reference.
                          required:
                          - capabilities
                          - globalCommunicationsSite
                          description: List of ground station resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of ground station resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                    readOnly: true
                description: Response for the ListGroundStations API service call.
        default:
          description: Error response describing why the operation failed. If the
            resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/groundStations:
    get:
      tags:
      - Ground Station
      description: Return list of ground stations.
      operationId: GroundStations_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $skiptoken
        description: An opaque string that the resource provider uses to skip over
          previously-returned results. This is used when a previous list operation
          call returned a partial result. If a previous response contains a nextLink
          element, the value of the nextLink element will include a skiptoken parameter
          that specifies a starting point to use for subsequent calls.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of Ground
            Station resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            city:
                              type: string
                              description: City of ground station.
                            capabilities:
                              type: array
                              items:
                                type: string
                                description: Capability of the Ground Station.
                                enum:
                                - EarthObservation
                                - Communication
                                x-ms-enum:
                                  name: Capability
                                  modelAsString: true
                              description: Ground station capabilities.
                            providerName:
                              type: string
                              description: Ground station provider name.
                            longitudeDegrees:
                              type: number
                              description: Longitude of the ground station in decimal
                                degrees.
                            latitudeDegrees:
                              type: number
                              description: Latitude of the ground station in decimal
                                degrees.
                            altitudeMeters:
                              type: number
                              description: Altitude of the ground station.
                            releaseMode:
                              type: string
                              enum:
                              - Preview
                              - GA
                              x-ms-enum:
                                name: releaseMode
                                modelAsString: true
                              readOnly: true
                              description: Release Status of a ground station.
                            globalCommunicationsSite:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              required:
                              - id
                              description: Resource Reference.
                          required:
                          - capabilities
                          - globalCommunicationsSite
                          description: List of ground station resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of ground station resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                    readOnly: true
                description: Response for the ListGroundStations API service call.
        default:
          description: Error response describing why the operation failed. If the
            resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/groundStations/{groundStationName}
  : get:
      tags:
      - Ground Station
      operationId: GroundStations_Get
      description: Gets the specified ground station in a specified resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: groundStationName
        in: path
        required: true
        description: Ground Station name.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z][A-Za-z0-9-_]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request successful. The operation returns the resulting ground
            station resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      city:
                        type: string
                        description: City of ground station.
                      capabilities:
                        type: array
                        items:
                          type: string
                          description: Capability of the Ground Station.
                          enum:
                          - EarthObservation
                          - Communication
                          x-ms-enum:
                            name: Capability
                            modelAsString: true
                        description: Ground station capabilities.
                      providerName:
                        type: string
                        description: Ground station provider name.
                      longitudeDegrees:
                        type: number
                        description: Longitude of the ground station in decimal degrees.
                      latitudeDegrees:
                        type: number
                        description: Latitude of the ground station in decimal degrees.
                      altitudeMeters:
                        type: number
                        description: Altitude of the ground station.
                      releaseMode:
                        type: string
                        enum:
                        - Preview
                        - GA
                        x-ms-enum:
                          name: releaseMode
                          modelAsString: true
                        readOnly: true
                        description: Release Status of a ground station.
                      globalCommunicationsSite:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        required:
                        - id
                        description: Resource Reference.
                    required:
                    - capabilities
                    - globalCommunicationsSite
                    description: List of ground station resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Ground Station
      description: Creates or updates a ground station resource.
      operationId: GroundStations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: groundStationName
        in: path
        required: true
        description: Ground Station name.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z][A-Za-z0-9-_]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    city:
                      type: string
                      description: City of ground station.
                    capabilities:
                      type: array
                      items:
                        type: string
                        description: Capability of the Ground Station.
                        enum:
                        - EarthObservation
                        - Communication
                        x-ms-enum:
                          name: Capability
                          modelAsString: true
                      description: Ground station capabilities.
                    providerName:
                      type: string
                      description: Ground station provider name.
                    longitudeDegrees:
                      type: number
                      description: Longitude of the ground station in decimal degrees.
                    latitudeDegrees:
                      type: number
                      description: Latitude of the ground station in decimal degrees.
                    altitudeMeters:
                      type: number
                      description: Altitude of the ground station.
                    releaseMode:
                      type: string
                      enum:
                      - Preview
                      - GA
                      x-ms-enum:
                        name: releaseMode
                        modelAsString: true
                      readOnly: true
                      description: Release Status of a ground station.
                    globalCommunicationsSite:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      required:
                      - id
                      description: Resource Reference.
                  required:
                  - capabilities
                  - globalCommunicationsSite
                  description: List of ground station resource properties.
                  x-ms-client-flatten: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The parameters to provide for the created ground station.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting ground
            station resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      city:
                        type: string
                        description: City of ground station.
                      capabilities:
                        type: array
                        items:
                          type: string
                          description: Capability of the Ground Station.
                          enum:
                          - EarthObservation
                          - Communication
                          x-ms-enum:
                            name: Capability
                            modelAsString: true
                        description: Ground station capabilities.
                      providerName:
                        type: string
                        description: Ground station provider name.
                      longitudeDegrees:
                        type: number
                        description: Longitude of the ground station in decimal degrees.
                      latitudeDegrees:
                        type: number
                        description: Latitude of the ground station in decimal degrees.
                      altitudeMeters:
                        type: number
                        description: Altitude of the ground station.
                      releaseMode:
                        type: string
                        enum:
                        - Preview
                        - GA
                        x-ms-enum:
                          name: releaseMode
                          modelAsString: true
                        readOnly: true
                        description: Release Status of a ground station.
                      globalCommunicationsSite:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        required:
                        - id
                        description: Resource Reference.
                    required:
                    - capabilities
                    - globalCommunicationsSite
                    description: List of ground station resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting ground
            station resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      city:
                        type: string
                        description: City of ground station.
                      capabilities:
                        type: array
                        items:
                          type: string
                          description: Capability of the Ground Station.
                          enum:
                          - EarthObservation
                          - Communication
                          x-ms-enum:
                            name: Capability
                            modelAsString: true
                        description: Ground station capabilities.
                      providerName:
                        type: string
                        description: Ground station provider name.
                      longitudeDegrees:
                        type: number
                        description: Longitude of the ground station in decimal degrees.
                      latitudeDegrees:
                        type: number
                        description: Latitude of the ground station in decimal degrees.
                      altitudeMeters:
                        type: number
                        description: Altitude of the ground station.
                      releaseMode:
                        type: string
                        enum:
                        - Preview
                        - GA
                        x-ms-enum:
                          name: releaseMode
                          modelAsString: true
                        readOnly: true
                        description: Release Status of a ground station.
                      globalCommunicationsSite:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        required:
                        - id
                        description: Resource Reference.
                    required:
                    - capabilities
                    - globalCommunicationsSite
                    description: List of ground station resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Ground Station
      operationId: GroundStations_UpdateTags
      description: Updates the specified ground station tags.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: groundStationName
        in: path
        required: true
        description: Ground Station name.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z][A-Za-z0-9-_]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update ground station tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting Ground
            Station resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      city:
                        type: string
                        description: City of ground station.
                      capabilities:
                        type: array
                        items:
                          type: string
                          description: Capability of the Ground Station.
                          enum:
                          - EarthObservation
                          - Communication
                          x-ms-enum:
                            name: Capability
                            modelAsString: true
                        description: Ground station capabilities.
                      providerName:
                        type: string
                        description: Ground station provider name.
                      longitudeDegrees:
                        type: number
                        description: Longitude of the ground station in decimal degrees.
                      latitudeDegrees:
                        type: number
                        description: Latitude of the ground station in decimal degrees.
                      altitudeMeters:
                        type: number
                        description: Altitude of the ground station.
                      releaseMode:
                        type: string
                        enum:
                        - Preview
                        - GA
                        x-ms-enum:
                          name: releaseMode
                          modelAsString: true
                        readOnly: true
                        description: Release Status of a ground station.
                      globalCommunicationsSite:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        required:
                        - id
                        description: Resource Reference.
                    required:
                    - capabilities
                    - globalCommunicationsSite
                    description: List of ground station resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Ground Station
      operationId: GroundStations_Delete
      description: Deletes a specified ground station resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: groundStationName
        in: path
        required: true
        description: Ground Station name.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z][A-Za-z0-9-_]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Delete successful.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/edgeSites/{edgeSiteName}:
    get:
      tags:
      - Edge Site
      operationId: EdgeSites_Get
      description: Gets the specified edge site in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: edgeSiteName
        in: path
        description: Edge site name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z][A-Za-z0-9-_]+$
      responses:
        '200':
          description: Request successful. The operation returns the resulting EdgeSite
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      globalCommunicationsSite:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        required:
                        - id
                        description: Resource Reference.
                    required:
                    - globalCommunicationsSite
                    description: Properties object for an edge site.
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
[...]
