openapi: 3.0.0
info:
  version: 2021-04-01
  title: ComputeDiskAdminManagementClient
  description: The Admin Compute Disk Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs:
    get:
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_List
      description: Returns a list of disk migration jobs.
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The parameters of disk migration job status.
        name: status
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- The list of disk migration jobs has been returned.
          content:
            application/json:
              schema:
                type: object
                description: List of disk migration jobs.
                properties:
                  value:
                    description: List of disk migration jobs.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Disk migration properties.
                          type: object
                          properties:
                            migrationId:
                              description: The disk migration id.
                              type: string
                            status:
                              description: The current status of disk migration job.
                              readOnly: true
                              type: string
                              enum:
                              - Undefined
                              - Running
                              - Succeeded
                              - Failed
                              - Canceled
                              - Pending
                              x-ms-enum:
                                name: MigrationJobStatus
                                modelAsString: true
                            subtasks:
                              description: The list of child migration tasks.
                              readOnly: true
                              type: array
                              items:
                                description: Disk migration child task.
                                type: object
                                properties:
                                  migrationSubTaskId:
                                    description: The id of migration child task.
                                    type: string
                                    readOnly: true
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Disk migration child task properties.
                                    type: object
                                    properties:
                                      migrationSubtaskStatus:
                                        description: The disk migration child task
                                          status.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Undefined
                                        - Running
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        - Pending
                                        - Skipped
                                        x-ms-enum:
                                          name: MigrationSubTaskStatus
                                          modelAsString: true
                                      reason:
                                        description: The reason of task failure.
                                        type: string
                                        readOnly: true
                                      startTime:
                                        description: The task start time.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                      endTime:
                                        description: The task end time.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                      targetShare:
                                        description: The target share of migration
                                          task.
                                        type: string
                                        readOnly: true
                                      sourceShare:
                                        description: The source share of migration
                                          task.
                                        type: string
                                        readOnly: true
                                      targetDiskStateForMigration:
                                        description: The disk status.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Undefined
                                        - Unattached
                                        - Attached
                                        - Reserved
                                        - ActiveSAS
                                        - Unknown
                                        - All
                                        - Recommended
                                        - OfflineMigration
                                        - OnlineMigration
                                        x-ms-enum:
                                          name: DiskState
                                          modelAsString: true
                                      diskId:
                                        description: The id of disk.
                                        type: string
                                        readOnly: true
                            creationTime:
                              description: The job creation time.
                              type: string
                              format: date-time
                              readOnly: true
                            startTime:
                              description: The job start time.
                              type: string
                              format: date-time
                              readOnly: true
                            endTime:
                              description: The job end time.
                              type: string
                              format: date-time
                              readOnly: true
                            targetShare:
                              description: The target share of migration job.
                              type: string
                              readOnly: true
                      description: Base resource object.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: Error definition.
                    readOnly: true
                    required:
                    - message
                    - code
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        minimum: 100
                        maximum: 600
                      message:
                        description: Description of the error.
                        type: string
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}:
    get:
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Get
      description: Returns the requested disk migration job.
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The migration job guid name.
        name: migrationId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- The disk migration job has been returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Disk migration properties.
                    type: object
                    properties:
                      migrationId:
                        description: The disk migration id.
                        type: string
                      status:
                        description: The current status of disk migration job.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Running
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        x-ms-enum:
                          name: MigrationJobStatus
                          modelAsString: true
                      subtasks:
                        description: The list of child migration tasks.
                        readOnly: true
                        type: array
                        items:
                          description: Disk migration child task.
                          type: object
                          properties:
                            migrationSubTaskId:
                              description: The id of migration child task.
                              type: string
                              readOnly: true
                            properties:
                              x-ms-client-flatten: true
                              description: Disk migration child task properties.
                              type: object
                              properties:
                                migrationSubtaskStatus:
                                  description: The disk migration child task status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Running
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Pending
                                  - Skipped
                                  x-ms-enum:
                                    name: MigrationSubTaskStatus
                                    modelAsString: true
                                reason:
                                  description: The reason of task failure.
                                  type: string
                                  readOnly: true
                                startTime:
                                  description: The task start time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                endTime:
                                  description: The task end time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                targetShare:
                                  description: The target share of migration task.
                                  type: string
                                  readOnly: true
                                sourceShare:
                                  description: The source share of migration task.
                                  type: string
                                  readOnly: true
                                targetDiskStateForMigration:
                                  description: The disk status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Unattached
                                  - Attached
                                  - Reserved
                                  - ActiveSAS
                                  - Unknown
                                  - All
                                  - Recommended
                                  - OfflineMigration
                                  - OnlineMigration
                                  x-ms-enum:
                                    name: DiskState
                                    modelAsString: true
                                diskId:
                                  description: The id of disk.
                                  type: string
                                  readOnly: true
                      creationTime:
                        description: The job creation time.
                        type: string
                        format: date-time
                        readOnly: true
                      startTime:
                        description: The job start time.
                        type: string
                        format: date-time
                        readOnly: true
                      endTime:
                        description: The job end time.
                        type: string
                        format: date-time
                        readOnly: true
                      targetShare:
                        description: The target share of migration job.
                        type: string
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: Error definition.
                    readOnly: true
                    required:
                    - message
                    - code
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        minimum: 100
                        maximum: 600
                      message:
                        description: Description of the error.
                        type: string
    put:
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Create
      description: Create a disk migration job.
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The migration job guid name.
        name: migrationId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The target share name.
        name: targetShare
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The target scale unit name.
        name: targetScaleUnit
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The target volume label.
        name: targetVolumeLabel
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: List of disks.
              items:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Disk properties.
                    type: object
                    properties:
                      diskId:
                        description: The disk id.
                        type: string
                      status:
                        description: The disk status.
                        type: string
                        enum:
                        - Undefined
                        - Unattached
                        - Attached
                        - Reserved
                        - ActiveSAS
                        - Unknown
                        - All
                        - Recommended
                        - OfflineMigration
                        - OnlineMigration
                        x-ms-enum:
                          name: DiskState
                          modelAsString: true
                      sharePath:
                        description: The disk share path.
                        type: string
                      actualSizeGB:
                        description: The actual size of disk in GB.
                        type: integer
                        format: int64
                        readOnly: true
                      provisionSizeGB:
                        description: The provision size of disk in GB.
                        type: integer
                        format: int64
                        readOnly: true
                      managedBy:
                        description: Compute resource Uri which owns this disk.
                        type: string
                        readOnly: true
                      userResourceId:
                        description: The disk resource Uri from user view.
                        type: string
                        readOnly: true
                      diskType:
                        description: The type of the disk resource.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Disk
                        - Snapshot
                        - RestorePoint
                        - ManagedBlob
                        x-ms-enum:
                          name: DiskResourceType
                          modelAsString: true
                      diskSku:
                        description: the disk sku.
                        readOnly: true
                        type: string
                        enum:
                        - Standard_LRS
                        - Standard_ZRS
                        - Standard_GRS
                        - Standard_RAGRS
                        - Premium_LRS
                        - StandardSSD_LRS
                        - UltraSSD_LRS
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      creationSourceUri:
                        description: The disk creation source uri.
                        type: string
                        readOnly: true
                      creationOption:
                        description: The disk creation option.
                        readOnly: true
                        type: string
                        enum:
                        - Empty
                        - FromImage
                        - Import
                        - Copy
                        - Restore
                        - FromPreprovisioned
                        - Undelete
                        - Upload
                        - RecoverFromBlob
                        x-ms-enum:
                          name: DiskCreationOption
                          modelAsString: true
                      exclusiveAllocatedSize:
                        description: The exclusive allocated size for the disk.
                        type: integer
                        format: int64
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        description: The parameters of disk list.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK --  Disk migration job is created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Disk migration properties.
                    type: object
                    properties:
                      migrationId:
                        description: The disk migration id.
                        type: string
                      status:
                        description: The current status of disk migration job.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Running
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        x-ms-enum:
                          name: MigrationJobStatus
                          modelAsString: true
                      subtasks:
                        description: The list of child migration tasks.
                        readOnly: true
                        type: array
                        items:
                          description: Disk migration child task.
                          type: object
                          properties:
                            migrationSubTaskId:
                              description: The id of migration child task.
                              type: string
                              readOnly: true
                            properties:
                              x-ms-client-flatten: true
                              description: Disk migration child task properties.
                              type: object
                              properties:
                                migrationSubtaskStatus:
                                  description: The disk migration child task status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Running
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Pending
                                  - Skipped
                                  x-ms-enum:
                                    name: MigrationSubTaskStatus
                                    modelAsString: true
                                reason:
                                  description: The reason of task failure.
                                  type: string
                                  readOnly: true
                                startTime:
                                  description: The task start time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                endTime:
                                  description: The task end time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                targetShare:
                                  description: The target share of migration task.
                                  type: string
                                  readOnly: true
                                sourceShare:
                                  description: The source share of migration task.
                                  type: string
                                  readOnly: true
                                targetDiskStateForMigration:
                                  description: The disk status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Unattached
                                  - Attached
                                  - Reserved
                                  - ActiveSAS
                                  - Unknown
                                  - All
                                  - Recommended
                                  - OfflineMigration
                                  - OnlineMigration
                                  x-ms-enum:
                                    name: DiskState
                                    modelAsString: true
                                diskId:
                                  description: The id of disk.
                                  type: string
                                  readOnly: true
                      creationTime:
                        description: The job creation time.
                        type: string
                        format: date-time
                        readOnly: true
                      startTime:
                        description: The job start time.
                        type: string
                        format: date-time
                        readOnly: true
                      endTime:
                        description: The job end time.
                        type: string
                        format: date-time
                        readOnly: true
                      targetShare:
                        description: The target share of migration job.
                        type: string
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: Error definition.
                    readOnly: true
                    required:
                    - message
                    - code
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        minimum: 100
                        maximum: 600
                      message:
                        description: Description of the error.
                        type: string
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskMigrationJobs/{migrationId}/cancel
  : post:
      tags:
      - DiskMigrationJobs
      operationId: DiskMigrationJobs_Cancel
      description: Cancel a disk migration job.
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The migration job guid name.
        name: migrationId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK --  Disk migration job cancellation is called.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Disk migration properties.
                    type: object
                    properties:
                      migrationId:
                        description: The disk migration id.
                        type: string
                      status:
                        description: The current status of disk migration job.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Running
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        x-ms-enum:
                          name: MigrationJobStatus
                          modelAsString: true
                      subtasks:
                        description: The list of child migration tasks.
                        readOnly: true
                        type: array
                        items:
                          description: Disk migration child task.
                          type: object
                          properties:
                            migrationSubTaskId:
                              description: The id of migration child task.
                              type: string
                              readOnly: true
                            properties:
                              x-ms-client-flatten: true
                              description: Disk migration child task properties.
                              type: object
                              properties:
                                migrationSubtaskStatus:
                                  description: The disk migration child task status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Running
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  - Pending
                                  - Skipped
                                  x-ms-enum:
                                    name: MigrationSubTaskStatus
                                    modelAsString: true
                                reason:
                                  description: The reason of task failure.
                                  type: string
                                  readOnly: true
                                startTime:
                                  description: The task start time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                endTime:
                                  description: The task end time.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                targetShare:
                                  description: The target share of migration task.
                                  type: string
                                  readOnly: true
                                sourceShare:
                                  description: The source share of migration task.
                                  type: string
                                  readOnly: true
                                targetDiskStateForMigration:
                                  description: The disk status.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Undefined
                                  - Unattached
                                  - Attached
                                  - Reserved
                                  - ActiveSAS
                                  - Unknown
                                  - All
                                  - Recommended
                                  - OfflineMigration
                                  - OnlineMigration
                                  x-ms-enum:
                                    name: DiskState
                                    modelAsString: true
                                diskId:
                                  description: The id of disk.
                                  type: string
                                  readOnly: true
                      creationTime:
                        description: The job creation time.
                        type: string
                        format: date-time
                        readOnly: true
                      startTime:
                        description: The job start time.
                        type: string
                        format: date-time
                        readOnly: true
                      endTime:
                        description: The job end time.
                        type: string
                        format: date-time
                        readOnly: true
                      targetShare:
                        description: The target share of migration job.
                        type: string
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: Error definition.
                    readOnly: true
                    required:
                    - message
                    - code
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        minimum: 100
                        maximum: 600
                      message:
                        description: Description of the error.
                        type: string
components:
  parameters:
    MigrationJobStatusParameter:
      description: The parameters of disk migration job status.
      name: status
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    MigrationIdParameter:
      description: The migration job guid name.
      name: migrationId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TargetShareParameter:
      description: The target share name.
      name: targetShare
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TargetScaleUnitParameter:
      description: The target scale unit name.
      name: targetScaleUnit
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TargetVolumeLabelParameter:
      description: The target volume label.
      name: targetVolumeLabel
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    LocationParameter:
      description: Location of the resource.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorResponse:
      description: Error response.
      properties:
        error:
          description: Error definition.
          readOnly: true
          required:
          - message
          - code
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              minimum: 100
              maximum: 600
            message:
              description: Description of the error.
              type: string
    ErrorDefinition:
      description: Error definition.
      readOnly: true
      required:
      - message
      - code
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          minimum: 100
          maximum: 600
        message:
          description: Description of the error.
          type: string
    MigrationJobStatus:
      description: Migration job status.
      type: string
      enum:
      - Undefined
      - Running
      - Succeeded
      - Failed
      - Canceled
      - Pending
      x-ms-enum:
        name: MigrationJobStatus
        modelAsString: true
    MigrationSubTaskStatus:
      description: Migration child task status.
      type: string
      enum:
      - Undefined
      - Running
      - Succeeded
      - Failed
      - Canceled
      - Pending
      - Skipped
      x-ms-enum:
        name: MigrationSubTaskStatus
        modelAsString: true
    MigrationSubTaskProperties:
      description: Disk migration child task properties.
      type: object
      properties:
        migrationSubtaskStatus:
          description: The disk migration child task status.
          readOnly: true
          type: string
          enum:
          - Undefined
          - Running
          - Succeeded
          - Failed
          - Canceled
          - Pending
          - Skipped
          x-ms-enum:
            name: MigrationSubTaskStatus
            modelAsString: true
        reason:
          description: The reason of task failure.
          type: string
          readOnly: true
        startTime:
          description: The task start time.
          type: string
          format: date-time
          readOnly: true
        endTime:
          description: The task end time.
          type: string
          format: date-time
          readOnly: true
        targetShare:
          description: The target share of migration task.
          type: string
          readOnly: true
        sourceShare:
          description: The source share of migration task.
          type: string
          readOnly: true
        targetDiskStateForMigration:
          description: The disk status.
          readOnly: true
          type: string
          enum:
          - Undefined
          - Unattached
          - Attached
          - Reserved
          - ActiveSAS
          - Unknown
          - All
          - Recommended
          - OfflineMigration
          - OnlineMigration
          x-ms-enum:
            name: DiskState
            modelAsString: true
        diskId:
          description: The id of disk.
          type: string
          readOnly: true
    MigrationSubTaskList:
      description: List of disk migration tasks.
      type: array
      items:
        description: Disk migration child task.
        type: object
        properties:
          migrationSubTaskId:
            description: The id of migration child task.
            type: string
            readOnly: true
          properties:
            x-ms-client-flatten: true
            description: Disk migration child task properties.
            type: object
            properties:
              migrationSubtaskStatus:
                description: The disk migration child task status.
                readOnly: true
                type: string
                enum:
                - Undefined
                - Running
                - Succeeded
                - Failed
                - Canceled
                - Pending
                - Skipped
                x-ms-enum:
                  name: MigrationSubTaskStatus
                  modelAsString: true
              reason:
                description: The reason of task failure.
                type: string
                readOnly: true
              startTime:
                description: The task start time.
                type: string
                format: date-time
                readOnly: true
              endTime:
                description: The task end time.
                type: string
                format: date-time
                readOnly: true
              targetShare:
                description: The target share of migration task.
                type: string
                readOnly: true
              sourceShare:
                description: The source share of migration task.
                type: string
                readOnly: true
              targetDiskStateForMigration:
                description: The disk status.
                readOnly: true
                type: string
                enum:
                - Undefined
                - Unattached
                - Attached
                - Reserved
                - ActiveSAS
                - Unknown
                - All
                - Recommended
                - OfflineMigration
                - OnlineMigration
                x-ms-enum:
                  name: DiskState
                  modelAsString: true
              diskId:
                description: The id of disk.
                type: string
                readOnly: true
    MigrationSubTask:
      description: Disk migration child task.
      type: object
      properties:
        migrationSubTaskId:
          description: The id of migration child task.
          type: string
          readOnly: true
        properties:
          x-ms-client-flatten: true
          description: Disk migration child task properties.
          type: object
          properties:
            migrationSubtaskStatus:
              description: The disk migration child task status.
              readOnly: true
              type: string
              enum:
              - Undefined
              - Running
              - Succeeded
              - Failed
              - Canceled
              - Pending
              - Skipped
              x-ms-enum:
                name: MigrationSubTaskStatus
                modelAsString: true
            reason:
              description: The reason of task failure.
              type: string
              readOnly: true
            startTime:
              description: The task start time.
              type: string
              format: date-time
              readOnly: true
            endTime:
              description: The task end time.
              type: string
              format: date-time
              readOnly: true
            targetShare:
              description: The target share of migration task.
              type: string
              readOnly: true
            sourceShare:
              description: The source share of migration task.
              type: string
              readOnly: true
            targetDiskStateForMigration:
              description: The disk status.
              readOnly: true
              type: string
              enum:
              - Undefined
              - Unattached
              - Attached
              - Reserved
              - ActiveSAS
              - Unknown
              - All
              - Recommended
              - OfflineMigration
              - OnlineMigration
              x-ms-enum:
                name: DiskState
                modelAsString: true
            diskId:
              description: The id of disk.
              type: string
              readOnly: true
    DiskMigrationJobProperties:
      description: Disk migration job properties.
      type: object
      properties:
        migrationId:
          description: The disk migration id.
          type: string
        status:
          description: The current status of disk migration job.
          readOnly: true
          type: string
          enum:
          - Undefined
          - Running
          - Succeeded
          - Failed
          - Canceled
          - Pending
          x-ms-enum:
            name: MigrationJobStatus
            modelAsString: true
        subtasks:
          description: The list of child migration tasks.
          readOnly: true
          type: array
          items:
            description: Disk migration child task.
            type: object
            properties:
              migrationSubTaskId:
                description: The id of migration child task.
                type: string
                readOnly: true
              properties:
                x-ms-client-flatten: true
                description: Disk migration child task properties.
                type: object
                properties:
                  migrationSubtaskStatus:
                    description: The disk migration child task status.
                    readOnly: true
                    type: string
                    enum:
                    - Undefined
                    - Running
                    - Succeeded
                    - Failed
                    - Canceled
                    - Pending
                    - Skipped
                    x-ms-enum:
                      name: MigrationSubTaskStatus
                      modelAsString: true
                  reason:
                    description: The reason of task failure.
                    type: string
                    readOnly: true
                  startTime:
                    description: The task start time.
                    type: string
                    format: date-time
                    readOnly: true
                  endTime:
                    description: The task end time.
                    type: string
                    format: date-time
                    readOnly: true
                  targetShare:
                    description: The target share of migration task.
                    type: string
                    readOnly: true
                  sourceShare:
                    description: The source share of migration task.
                    type: string
                    readOnly: true
                  targetDiskStateForMigration:
                    description: The disk status.
                    readOnly: true
                    type: string
                    enum:
                    - Undefined
                    - Unattached
                    - Attached
                    - Reserved
                    - ActiveSAS
                    - Unknown
                    - All
                    - Recommended
                    - OfflineMigration
                    - OnlineMigration
                    x-ms-enum:
                      name: DiskState
                      modelAsString: true
                  diskId:
                    description: The id of disk.
                    type: string
                    readOnly: true
        creationTime:
          description: The job creation time.
          type: string
          format: date-time
          readOnly: true
        startTime:
          description: The job start time.
          type: string
          format: date-time
          readOnly: true
        endTime:
          description: The job end time.
          type: string
          format: date-time
          readOnly: true
        targetShare:
          description: The target share of migration job.
          type: string
          readOnly: true
    DiskMigrationJob:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          x-ms-client-flatten: true
          description: Disk migration properties.
          type: object
          properties:
            migrationId:
              description: The disk migration id.
              type: string
            status:
              description: The current status of disk migration job.
              readOnly: true
              type: string
              enum:
              - Undefined
              - Running
              - Succeeded
              - Failed
              - Canceled
              - Pending
              x-ms-enum:
                name: MigrationJobStatus
                modelAsString: true
            subtasks:
              description: The list of child migration tasks.
              readOnly: true
              type: array
              items:
                description: Disk migration child task.
                type: object
                properties:
                  migrationSubTaskId:
                    description: The id of migration child task.
                    type: string
                    readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: Disk migration child task properties.
                    type: object
                    properties:
                      migrationSubtaskStatus:
                        description: The disk migration child task status.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Running
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        - Skipped
                        x-ms-enum:
                          name: MigrationSubTaskStatus
                          modelAsString: true
                      reason:
                        description: The reason of task failure.
                        type: string
                        readOnly: true
                      startTime:
                        description: The task start time.
                        type: string
                        format: date-time
                        readOnly: true
                      endTime:
                        description: The task end time.
                        type: string
                        format: date-time
                        readOnly: true
                      targetShare:
                        description: The target share of migration task.
                        type: string
                        readOnly: true
                      sourceShare:
                        description: The source share of migration task.
                        type: string
                        readOnly: true
                      targetDiskStateForMigration:
                        description: The disk status.
                        readOnly: true
                        type: string
                        enum:
                        - Undefined
                        - Unattached
                        - Attached
                        - Reserved
                        - ActiveSAS
                        - Unknown
                        - All
                        - Recommended
                        - OfflineMigration
                        - OnlineMigration
                        x-ms-enum:
                          name: DiskState
                          modelAsString: true
                      diskId:
                        description: The id of disk.
                        type: string
                        readOnly: true
            creationTime:
              description: The job creation time.
              type: string
              format: date-time
              readOnly: true
            startTime:
              description: The job start time.
              type: string
              format: date-time
              readOnly: true
            endTime:
              description: The job end time.
              type: string
              format: date-time
              readOnly: true
            targetShare:
              description: The target share of migration job.
              type: string
              readOnly: true
      description: Base resource object.
      x-ms-azure-resource: true
    DiskMigrationJobList:
      type: object
      description: List of disk migration jobs.
      properties:
        value:
          description: List of disk migration jobs.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                x-ms-client-flatten: true
                description: Disk migration properties.
                type: object
                properties:
                  migrationId:
                    description: The disk migration id.
                    type: string
                  status:
                    description: The current status of disk migration job.
                    readOnly: true
                    type: string
                    enum:
                    - Undefined
                    - Running
                    - Succeeded
                    - Failed
                    - Canceled
                    - Pending
                    x-ms-enum:
                      name: MigrationJobStatus
                      modelAsString: true
                  subtasks:
                    description: The list of child migration tasks.
                    readOnly: true
                    type: array
                    items:
                      description: Disk migration child task.
                      type: object
                      properties:
                        migrationSubTaskId:
                          description: The id of migration child task.
                          type: string
                          readOnly: true
                        properties:
                          x-ms-client-flatten: true
                          description: Disk migration child task properties.
                          type: object
                          properties:
                            migrationSubtaskStatus:
                              description: The disk migration child task status.
                              readOnly: true
                              type: string
                              enum:
                              - Undefined
                              - Running
                              - Succeeded
                              - Failed
                              - Canceled
                              - Pending
                              - Skipped
                              x-ms-enum:
                                name: MigrationSubTaskStatus
                                modelAsString: true
                            reason:
                              description: The reason of task failure.
                              type: string
                              readOnly: true
                            startTime:
                              description: The task start time.
                              type: string
                              format: date-time
                              readOnly: true
                            endTime:
                              description: The task end time.
                              type: string
                              format: date-time
                              readOnly: true
                            targetShare:
                              description: The target share of migration task.
                              type: string
                              readOnly: true
                            sourceShare:
                              description: The source share of migration task.
                              type: string
                              readOnly: true
                            targetDiskStateForMigration:
                              description: The disk status.
                              readOnly: true
                              type: string
                              enum:
                              - Undefined
                              - Unattached
                              - Attached
                              - Reserved
                              - ActiveSAS
                              - Unknown
                              - All
                              - Recommended
                              - OfflineMigration
                              - OnlineMigration
                              x-ms-enum:
                                name: DiskState
                                modelAsString: true
                            diskId:
                              description: The id of disk.
                              type: string
                              readOnly: true
                  creationTime:
                    description: The job creation time.
                    type: string
                    format: date-time
                    readOnly: true
                  startTime:
                    description: The job start time.
                    type: string
                    format: date-time
                    readOnly: true
                  endTime:
                    description: The job end time.
                    type: string
                    format: date-time
                    readOnly: true
                  targetShare:
                    description: The target share of migration job.
                    type: string
                    readOnly: true
            description: Base resource object.
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    DiskListInput:
      type: array
      description: List of disks.
      items:
        type: object
        properties:
          id:
            readOnly: true
            description: ID of the resource.
            type: string
          name:
            readOnly: true
            description: Name of the resource.
            type: string
          type:
            readOnly: true
            description: Type of Resource.
            type: string
          location:
            description: Location of the resource.
            type: string
          properties:
            x-ms-client-flatten: true
            description: Disk properties.
            type: object
            properties:
              diskId:
                description: The disk id.
                type: string
              status:
                description: The disk status.
                type: string
                enum:
                - Undefined
                - Unattached
                - Attached
                - Reserved
                - ActiveSAS
                - Unknown
                - All
                - Recommended
                - OfflineMigration
                - OnlineMigration
                x-ms-enum:
                  name: DiskState
                  modelAsString: true
              sharePath:
                description: The disk share path.
                type: string
              actualSizeGB:
                description: The actual size of disk in GB.
                type: integer
                format: int64
                readOnly: true
              provisionSizeGB:
                description: The provision size of disk in GB.
                type: integer
                format: int64
                readOnly: true
              managedBy:
                description: Compute resource Uri which owns this disk.
                type: string
                readOnly: true
              userResourceId:
                description: The disk resource Uri from user view.
                type: string
                readOnly: true
              diskType:
                description: The type of the disk resource.
                readOnly: true
                type: string
                enum:
                - Undefined
                - Disk
                - Snapshot
                - RestorePoint
                - ManagedBlob
                x-ms-enum:
                  name: DiskResourceType
                  modelAsString: true
              diskSku:
                description: the disk sku.
                readOnly: true
                type: string
                enum:
                - Standard_LRS
                - Standard_ZRS
                - Standard_GRS
                - Standard_RAGRS
                - Premium_LRS
                - StandardSSD_LRS
                - UltraSSD_LRS
                x-ms-enum:
                  name: AccountType
                  modelAsString: true
              creationSourceUri:
                description: The disk creation source uri.
                type: string
                readOnly: true
              creationOption:
                description: The disk creation option.
                readOnly: true
                type: string
                enum:
                - Empty
                - FromImage
                - Import
                - Copy
                - Restore
                - FromPreprovisioned
                - Undelete
                - Upload
                - RecoverFromBlob
                x-ms-enum:
                  name: DiskCreationOption
                  modelAsString: true
              exclusiveAllocatedSize:
                description: The exclusive allocated size for the disk.
                type: integer
                format: int64
                readOnly: true
        description: Base resource object.
        x-ms-azure-resource: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
    DiskState:
      description: Disk State.
      type: string
      enum:
      - Undefined
      - Unattached
      - Attached
      - Reserved
      - ActiveSAS
      - Unknown
      - All
      - Recommended
      - OfflineMigration
      - OnlineMigration
      x-ms-enum:
        name: DiskState
        modelAsString: true
    DiskResourceType:
      description: Disk resource type.
      type: string
      enum:
      - Undefined
      - Disk
      - Snapshot
      - RestorePoint
      - ManagedBlob
      x-ms-enum:
        name: DiskResourceType
        modelAsString: true
    AccountType:
      description: Disk Sku.
      type: string
      enum:
      - Standard_LRS
      - Standard_ZRS
      - Standard_GRS
      - Standard_RAGRS
      - Premium_LRS
      - StandardSSD_LRS
      - UltraSSD_LRS
      x-ms-enum:
        name: AccountType
        modelAsString: true
    DiskCreationOption:
      description: Disk creation option.
      type: string
      enum:
      - Empty
      - FromImage
      - Import
      - Copy
      - Restore
      - FromPreprovisioned
      - Undelete
      - Upload
      - RecoverFromBlob
      x-ms-enum:
        name: DiskCreationOption
        modelAsString: true
    DiskProperties:
      description: Managed disk properties.
      type: object
      properties:
        diskId:
          description: The disk id.
          type: string
        status:
          description: The disk status.
          type: string
          enum:
          - Undefined
          - Unattached
          - Attached
          - Reserved
          - ActiveSAS
          - Unknown
          - All
          - Recommended
          - OfflineMigration
          - OnlineMigration
          x-ms-enum:
            name: DiskState
            modelAsString: true
        sharePath:
          description: The disk share path.
          type: string
        actualSizeGB:
          description: The actual size of disk in GB.
          type: integer
          format: int64
          readOnly: true
        provisionSizeGB:
          description: The provision size of disk in GB.
          type: integer
          format: int64
          readOnly: true
        managedBy:
          description: Compute resource Uri which owns this disk.
          type: string
          readOnly: true
        userResourceId:
          description: The disk resource Uri from user view.
          type: string
          readOnly: true
        diskType:
          description: The type of the disk resource.
          readOnly: true
          type: string
          enum:
          - Undefined
          - Disk
          - Snapshot
          - RestorePoint
          - ManagedBlob
          x-ms-enum:
            name: DiskResourceType
            modelAsString: true
        diskSku:
          description: the disk sku.
          readOnly: true
          type: string
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Standard_GRS
          - Standard_RAGRS
          - Premium_LRS
          - StandardSSD_LRS
          - UltraSSD_LRS
          x-ms-enum:
            name: AccountType
            modelAsString: true
        creationSourceUri:
          description: The disk creation source uri.
          type: string
          readOnly: true
        creationOption:
          description: The disk creation option.
          readOnly: true
          type: string
          enum:
          - Empty
          - FromImage
          - Import
          - Copy
          - Restore
          - FromPreprovisioned
          - Undelete
          - Upload
          - RecoverFromBlob
          x-ms-enum:
            name: DiskCreationOption
            modelAsString: true
        exclusiveAllocatedSize:
          description: The exclusive allocated size for the disk.
          type: integer
          format: int64
          readOnly: true
    Disk:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          x-ms-client-flatten: true
          description: Disk properties.
          type: object
          properties:
            diskId:
              description: The disk id.
              type: string
            status:
              description: The disk status.
              type: string
              enum:
              - Undefined
              - Unattached
              - Attached
              - Reserved
              - ActiveSAS
              - Unknown
              - All
              - Recommended
              - OfflineMigration
              - OnlineMigration
              x-ms-enum:
                name: DiskState
                modelAsString: true
            sharePath:
              description: The disk share path.
              type: string
            actualSizeGB:
              description: The actual size of disk in GB.
              type: integer
              format: int64
              readOnly: true
            provisionSizeGB:
              description: The provision size of disk in GB.
              type: integer
              format: int64
              readOnly: true
            managedBy:
              description: Compute resource Uri which owns this disk.
              type: string
              readOnly: true
            userResourceId:
              description: The disk resource Uri from user view.
              type: string
              readOnly: true
            diskType:
              description: The type of the disk resource.
              readOnly: true
              type: string
              enum:
              - Undefined
              - Disk
              - Snapshot
              - RestorePoint
              - ManagedBlob
              x-ms-enum:
                name: DiskResourceType
                modelAsString: true
            diskSku:
              description: the disk sku.
              readOnly: true
              type: string
              enum:
              - Standard_LRS
              - Standard_ZRS
              - Standard_GRS
              - Standard_RAGRS
              - Premium_LRS
              - StandardSSD_LRS
              - UltraSSD_LRS
              x-ms-enum:
                name: AccountType
                modelAsString: true
            creationSourceUri:
              description: The disk creation source uri.
              type: string
              readOnly: true
            creationOption:
              description: The disk creation option.
              readOnly: true
              type: string
              enum:
              - Empty
              - FromImage
              - Import
              - Copy
              - Restore
              - FromPreprovisioned
              - Undelete
              - Upload
              - RecoverFromBlob
              x-ms-enum:
                name: DiskCreationOption
                modelAsString: true
            exclusiveAllocatedSize:
              description: The exclusive allocated size for the disk.
              type: integer
              format: int64
              readOnly: true
      description: Base resource object.
      x-ms-azure-resource: true
