openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}
  : put:
      tags:
      - Clusters
      description: Creates a Stream Analytics Cluster or replaces an already existing
        cluster.
      operationId: Clusters_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        description: The ETag of the resource. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: Set to '*' to allow a new resource to be created, but to prevent
          updating an existing record set. Other values will result in a 412 Pre-condition
          Failed response.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                sku:
                  type: object
                  description: The SKU of the cluster. This determines the size/capacity
                    of the cluster. Required on PUT (CreateOrUpdate) requests.
                  properties:
                    name:
                      description: Specifies the SKU name of the cluster. Required
                        on PUT (CreateOrUpdate) requests.
                      type: string
                      enum:
                      - Default
                      x-ms-enum:
                        name: ClusterSkuName
                        modelAsString: true
                        values:
                        - value: Default
                          description: The default SKU.
                    capacity:
                      description: Denotes the number of streaming units the cluster
                        can support. Valid values for this property are multiples
                        of 36 with a minimum value of 36 and maximum value of 216.
                        Required on PUT (CreateOrUpdate) requests.
                      type: integer
                      format: int32
                      minimum: 36
                      maximum: 396
                etag:
                  description: The current entity tag for the cluster. This is an
                    opaque string. You can use it to detect whether the resource has
                    changed between requests. You can also use it in the If-Match
                    or If-None-Match headers for write operations for optimistic concurrency.
                  type: string
                  readOnly: true
                properties:
                  x-ms-client-flatten: true
                  description: The properties associated with a Stream Analytics cluster.
                  type: object
                  properties:
                    createdDate:
                      description: The date this cluster was created.
                      type: string
                      format: date-time
                      readOnly: true
                    clusterId:
                      description: Unique identifier for the cluster.
                      type: string
                      readOnly: true
                    provisioningState:
                      description: 'The status of the cluster provisioning. The three
                        terminal states are: Succeeded, Failed and Canceled'
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      x-ms-enum:
                        name: ClusterProvisioningState
                        modelAsString: true
                        values:
                        - value: Succeeded
                          description: The cluster provisioning succeeded.
                        - value: Failed
                          description: The cluster provisioning failed.
                        - value: Canceled
                          description: The cluster provisioning was canceled.
                        - value: InProgress
                          description: The cluster provisioning was inprogress.
                    capacityAllocated:
                      description: Represents the number of streaming units currently
                        being used on the cluster.
                      type: integer
                      format: int32
                      readOnly: true
                    capacityAssigned:
                      description: Represents the sum of the SUs of all streaming
                        jobs associated with the cluster. If all of the jobs were
                        running, this would be the capacity allocated.
                      type: integer
                      format: int32
                      readOnly: true
              description: The base resource definition
              x-ms-azure-resource: true
        description: The definition of the cluster that will be used to create a new
          cluster or replace the existing one.
        required: true
      responses:
        '200':
          description: The cluster was successfully created or replaced.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    type: object
                    description: The SKU of the cluster. This determines the size/capacity
                      of the cluster. Required on PUT (CreateOrUpdate) requests.
                    properties:
                      name:
                        description: Specifies the SKU name of the cluster. Required
                          on PUT (CreateOrUpdate) requests.
                        type: string
                        enum:
                        - Default
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                          values:
                          - value: Default
                            description: The default SKU.
                      capacity:
                        description: Denotes the number of streaming units the cluster
                          can support. Valid values for this property are multiples
                          of 36 with a minimum value of 36 and maximum value of 216.
                          Required on PUT (CreateOrUpdate) requests.
                        type: integer
                        format: int32
                        minimum: 36
                        maximum: 396
                  etag:
                    description: The current entity tag for the cluster. This is an
                      opaque string. You can use it to detect whether the resource
                      has changed between requests. You can also use it in the If-Match
                      or If-None-Match headers for write operations for optimistic
                      concurrency.
                    type: string
                    readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a Stream Analytics
                      cluster.
                    type: object
                    properties:
                      createdDate:
                        description: The date this cluster was created.
                        type: string
                        format: date-time
                        readOnly: true
                      clusterId:
                        description: Unique identifier for the cluster.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: 'The status of the cluster provisioning. The
                          three terminal states are: Succeeded, Failed and Canceled'
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        x-ms-enum:
                          name: ClusterProvisioningState
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The cluster provisioning succeeded.
                          - value: Failed
                            description: The cluster provisioning failed.
                          - value: Canceled
                            description: The cluster provisioning was canceled.
                          - value: InProgress
                            description: The cluster provisioning was inprogress.
                      capacityAllocated:
                        description: Represents the number of streaming units currently
                          being used on the cluster.
                        type: integer
                        format: int32
                        readOnly: true
                      capacityAssigned:
                        description: Represents the sum of the SUs of all streaming
                          jobs associated with the cluster. If all of the jobs were
                          running, this would be the capacity allocated.
                        type: integer
                        format: int32
                        readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        '201':
          description: The cluster was successfully created or replaced.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    type: object
                    description: The SKU of the cluster. This determines the size/capacity
                      of the cluster. Required on PUT (CreateOrUpdate) requests.
                    properties:
                      name:
                        description: Specifies the SKU name of the cluster. Required
                          on PUT (CreateOrUpdate) requests.
                        type: string
                        enum:
                        - Default
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                          values:
                          - value: Default
                            description: The default SKU.
                      capacity:
                        description: Denotes the number of streaming units the cluster
                          can support. Valid values for this property are multiples
                          of 36 with a minimum value of 36 and maximum value of 216.
                          Required on PUT (CreateOrUpdate) requests.
                        type: integer
                        format: int32
                        minimum: 36
                        maximum: 396
                  etag:
                    description: The current entity tag for the cluster. This is an
                      opaque string. You can use it to detect whether the resource
                      has changed between requests. You can also use it in the If-Match
                      or If-None-Match headers for write operations for optimistic
                      concurrency.
                    type: string
                    readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a Stream Analytics
                      cluster.
                    type: object
                    properties:
                      createdDate:
                        description: The date this cluster was created.
                        type: string
                        format: date-time
                        readOnly: true
                      clusterId:
                        description: Unique identifier for the cluster.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: 'The status of the cluster provisioning. The
                          three terminal states are: Succeeded, Failed and Canceled'
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        x-ms-enum:
                          name: ClusterProvisioningState
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The cluster provisioning succeeded.
                          - value: Failed
                            description: The cluster provisioning failed.
                          - value: Canceled
                            description: The cluster provisioning was canceled.
                          - value: InProgress
                            description: The cluster provisioning was inprogress.
                      capacityAllocated:
                        description: Represents the number of streaming units currently
                          being used on the cluster.
                        type: integer
                        format: int32
                        readOnly: true
                      capacityAssigned:
                        description: Represents the sum of the SUs of all streaming
                          jobs associated with the cluster. If all of the jobs were
                          running, this would be the capacity allocated.
                        type: integer
                        format: int32
                        readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
    patch:
      tags:
      - Clusters
      description: Updates an existing cluster. This can be used to partially update
        (ie. update one or two properties) a cluster without affecting the rest of
        the cluster definition.
      operationId: Clusters_Update
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        description: The ETag of the resource. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                sku:
                  type: object
                  description: The SKU of the cluster. This determines the size/capacity
                    of the cluster. Required on PUT (CreateOrUpdate) requests.
                  properties:
                    name:
                      description: Specifies the SKU name of the cluster. Required
                        on PUT (CreateOrUpdate) requests.
                      type: string
                      enum:
                      - Default
                      x-ms-enum:
                        name: ClusterSkuName
                        modelAsString: true
                        values:
                        - value: Default
                          description: The default SKU.
                    capacity:
                      description: Denotes the number of streaming units the cluster
                        can support. Valid values for this property are multiples
                        of 36 with a minimum value of 36 and maximum value of 216.
                        Required on PUT (CreateOrUpdate) requests.
                      type: integer
                      format: int32
                      minimum: 36
                      maximum: 396
                etag:
                  description: The current entity tag for the cluster. This is an
                    opaque string. You can use it to detect whether the resource has
                    changed between requests. You can also use it in the If-Match
                    or If-None-Match headers for write operations for optimistic concurrency.
                  type: string
                  readOnly: true
                properties:
                  x-ms-client-flatten: true
                  description: The properties associated with a Stream Analytics cluster.
                  type: object
                  properties:
                    createdDate:
                      description: The date this cluster was created.
                      type: string
                      format: date-time
                      readOnly: true
                    clusterId:
                      description: Unique identifier for the cluster.
                      type: string
                      readOnly: true
                    provisioningState:
                      description: 'The status of the cluster provisioning. The three
                        terminal states are: Succeeded, Failed and Canceled'
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - InProgress
                      x-ms-enum:
                        name: ClusterProvisioningState
                        modelAsString: true
                        values:
                        - value: Succeeded
                          description: The cluster provisioning succeeded.
                        - value: Failed
                          description: The cluster provisioning failed.
                        - value: Canceled
                          description: The cluster provisioning was canceled.
                        - value: InProgress
                          description: The cluster provisioning was inprogress.
                    capacityAllocated:
                      description: Represents the number of streaming units currently
                        being used on the cluster.
                      type: integer
                      format: int32
                      readOnly: true
                    capacityAssigned:
                      description: Represents the sum of the SUs of all streaming
                        jobs associated with the cluster. If all of the jobs were
                        running, this would be the capacity allocated.
                      type: integer
                      format: int32
                      readOnly: true
              description: The base resource definition
              x-ms-azure-resource: true
        description: The properties specified here will overwrite the corresponding
          properties in the existing cluster (ie. Those properties will be updated).
        required: true
      responses:
        '200':
          description: The cluster was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    type: object
                    description: The SKU of the cluster. This determines the size/capacity
                      of the cluster. Required on PUT (CreateOrUpdate) requests.
                    properties:
                      name:
                        description: Specifies the SKU name of the cluster. Required
                          on PUT (CreateOrUpdate) requests.
                        type: string
                        enum:
                        - Default
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                          values:
                          - value: Default
                            description: The default SKU.
                      capacity:
                        description: Denotes the number of streaming units the cluster
                          can support. Valid values for this property are multiples
                          of 36 with a minimum value of 36 and maximum value of 216.
                          Required on PUT (CreateOrUpdate) requests.
                        type: integer
                        format: int32
                        minimum: 36
                        maximum: 396
                  etag:
                    description: The current entity tag for the cluster. This is an
                      opaque string. You can use it to detect whether the resource
                      has changed between requests. You can also use it in the If-Match
                      or If-None-Match headers for write operations for optimistic
                      concurrency.
                    type: string
                    readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a Stream Analytics
                      cluster.
                    type: object
                    properties:
                      createdDate:
                        description: The date this cluster was created.
                        type: string
                        format: date-time
                        readOnly: true
                      clusterId:
                        description: Unique identifier for the cluster.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: 'The status of the cluster provisioning. The
                          three terminal states are: Succeeded, Failed and Canceled'
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        x-ms-enum:
                          name: ClusterProvisioningState
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The cluster provisioning succeeded.
                          - value: Failed
                            description: The cluster provisioning failed.
                          - value: Canceled
                            description: The cluster provisioning was canceled.
                          - value: InProgress
                            description: The cluster provisioning was inprogress.
                      capacityAllocated:
                        description: Represents the number of streaming units currently
                          being used on the cluster.
                        type: integer
                        format: int32
                        readOnly: true
                      capacityAssigned:
                        description: Represents the sum of the SUs of all streaming
                          jobs associated with the cluster. If all of the jobs were
                          running, this would be the capacity allocated.
                        type: integer
                        format: int32
                        readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        '202':
          description: The update request was successfully initiated.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
    get:
      tags:
      - Clusters
      description: Gets information about the specified cluster.
      operationId: Clusters_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved the specified cluster.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    type: object
                    description: The SKU of the cluster. This determines the size/capacity
                      of the cluster. Required on PUT (CreateOrUpdate) requests.
                    properties:
                      name:
                        description: Specifies the SKU name of the cluster. Required
                          on PUT (CreateOrUpdate) requests.
                        type: string
                        enum:
                        - Default
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                          values:
                          - value: Default
                            description: The default SKU.
                      capacity:
                        description: Denotes the number of streaming units the cluster
                          can support. Valid values for this property are multiples
                          of 36 with a minimum value of 36 and maximum value of 216.
                          Required on PUT (CreateOrUpdate) requests.
                        type: integer
                        format: int32
                        minimum: 36
                        maximum: 396
                  etag:
                    description: The current entity tag for the cluster. This is an
                      opaque string. You can use it to detect whether the resource
                      has changed between requests. You can also use it in the If-Match
                      or If-None-Match headers for write operations for optimistic
                      concurrency.
                    type: string
                    readOnly: true
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a Stream Analytics
                      cluster.
                    type: object
                    properties:
                      createdDate:
                        description: The date this cluster was created.
                        type: string
                        format: date-time
                        readOnly: true
                      clusterId:
                        description: Unique identifier for the cluster.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: 'The status of the cluster provisioning. The
                          three terminal states are: Succeeded, Failed and Canceled'
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - InProgress
                        x-ms-enum:
                          name: ClusterProvisioningState
                          modelAsString: true
                          values:
                          - value: Succeeded
                            description: The cluster provisioning succeeded.
                          - value: Failed
                            description: The cluster provisioning failed.
                          - value: Canceled
                            description: The cluster provisioning was canceled.
                          - value: InProgress
                            description: The cluster provisioning was inprogress.
                      capacityAllocated:
                        description: Represents the number of streaming units currently
                          being used on the cluster.
                        type: integer
                        format: int32
                        readOnly: true
                      capacityAssigned:
                        description: Represents the sum of the SUs of all streaming
                          jobs associated with the cluster. If all of the jobs were
                          running, this would be the capacity allocated.
                        type: integer
                        format: int32
                        readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    delete:
      tags:
      - Clusters
      description: Deletes the specified cluster.
      operationId: Clusters_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The cluster was successfully deleted.
        '202':
          description: The delete request was successfully initiated.
        '204':
          description: The cluster does not exist.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/clusters:
    get:
      tags:
      - Clusters
      description: Lists all of the clusters in the given subscription.
      operationId: Clusters_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully listed the clusters under the specified subscription.
          content:
            application/json:
              schema:
                type: object
                description: A list of clusters populated by a 'list' operation.
                properties:
                  value:
                    description: A list of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                            or Microsoft.Storage/storageAccounts.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        sku:
                          type: object
                          description: The SKU of the cluster. This determines the
                            size/capacity of the cluster. Required on PUT (CreateOrUpdate)
                            requests.
                          properties:
                            name:
                              description: Specifies the SKU name of the cluster.
                                Required on PUT (CreateOrUpdate) requests.
                              type: string
                              enum:
                              - Default
                              x-ms-enum:
                                name: ClusterSkuName
                                modelAsString: true
                                values:
                                - value: Default
                                  description: The default SKU.
                            capacity:
                              description: Denotes the number of streaming units the
                                cluster can support. Valid values for this property
                                are multiples of 36 with a minimum value of 36 and
                                maximum value of 216. Required on PUT (CreateOrUpdate)
                                requests.
                              type: integer
                              format: int32
                              minimum: 36
                              maximum: 396
                        etag:
                          description: The current entity tag for the cluster. This
                            is an opaque string. You can use it to detect whether
                            the resource has changed between requests. You can also
                            use it in the If-Match or If-None-Match headers for write
                            operations for optimistic concurrency.
                          type: string
                          readOnly: true
                        properties:
                          x-ms-client-flatten: true
                          description: The properties associated with a Stream Analytics
                            cluster.
                          type: object
                          properties:
                            createdDate:
                              description: The date this cluster was created.
                              type: string
                              format: date-time
                              readOnly: true
                            clusterId:
                              description: Unique identifier for the cluster.
                              type: string
                              readOnly: true
                            provisioningState:
                              description: 'The status of the cluster provisioning.
                                The three terminal states are: Succeeded, Failed and
                                Canceled'
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              x-ms-enum:
                                name: ClusterProvisioningState
                                modelAsString: true
                                values:
                                - value: Succeeded
                                  description: The cluster provisioning succeeded.
                                - value: Failed
                                  description: The cluster provisioning failed.
                                - value: Canceled
                                  description: The cluster provisioning was canceled.
                                - value: InProgress
                                  description: The cluster provisioning was inprogress.
                            capacityAllocated:
                              description: Represents the number of streaming units
                                currently being used on the cluster.
                              type: integer
                              format: int32
                              readOnly: true
                            capacityAssigned:
                              description: Represents the sum of the SUs of all streaming
                                jobs associated with the cluster. If all of the jobs
                                were running, this would be the capacity allocated.
                              type: integer
                              format: int32
                              readOnly: true
                      description: The base resource definition
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The URL to fetch the next set of clusters.
                    type: string
                    readOnly: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters:
    get:
      tags:
      - Clusters
      description: Lists all of the clusters in the given resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully listed the clusters under the specified resource
            group.
          content:
            application/json:
              schema:
                type: object
                description: A list of clusters populated by a 'list' operation.
                properties:
                  value:
                    description: A list of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                            or Microsoft.Storage/storageAccounts.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        sku:
                          type: object
                          description: The SKU of the cluster. This determines the
                            size/capacity of the cluster. Required on PUT (CreateOrUpdate)
                            requests.
                          properties:
                            name:
                              description: Specifies the SKU name of the cluster.
                                Required on PUT (CreateOrUpdate) requests.
                              type: string
                              enum:
                              - Default
                              x-ms-enum:
                                name: ClusterSkuName
                                modelAsString: true
                                values:
                                - value: Default
                                  description: The default SKU.
                            capacity:
                              description: Denotes the number of streaming units the
                                cluster can support. Valid values for this property
                                are multiples of 36 with a minimum value of 36 and
                                maximum value of 216. Required on PUT (CreateOrUpdate)
                                requests.
                              type: integer
                              format: int32
                              minimum: 36
                              maximum: 396
                        etag:
                          description: The current entity tag for the cluster. This
                            is an opaque string. You can use it to detect whether
                            the resource has changed between requests. You can also
                            use it in the If-Match or If-None-Match headers for write
                            operations for optimistic concurrency.
                          type: string
                          readOnly: true
                        properties:
                          x-ms-client-flatten: true
                          description: The properties associated with a Stream Analytics
                            cluster.
                          type: object
                          properties:
                            createdDate:
                              description: The date this cluster was created.
                              type: string
                              format: date-time
                              readOnly: true
                            clusterId:
                              description: Unique identifier for the cluster.
                              type: string
                              readOnly: true
                            provisioningState:
                              description: 'The status of the cluster provisioning.
                                The three terminal states are: Succeeded, Failed and
                                Canceled'
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - InProgress
                              x-ms-enum:
                                name: ClusterProvisioningState
                                modelAsString: true
                                values:
                                - value: Succeeded
                                  description: The cluster provisioning succeeded.
                                - value: Failed
                                  description: The cluster provisioning failed.
                                - value: Canceled
                                  description: The cluster provisioning was canceled.
                                - value: InProgress
                                  description: The cluster provisioning was inprogress.
                            capacityAllocated:
                              description: Represents the number of streaming units
                                currently being used on the cluster.
                              type: integer
                              format: int32
                              readOnly: true
                            capacityAssigned:
                              description: Represents the sum of the SUs of all streaming
                                jobs associated with the cluster. If all of the jobs
                                were running, this would be the capacity allocated.
                              type: integer
                              format: int32
                              readOnly: true
                      description: The base resource definition
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The URL to fetch the next set of clusters.
                    type: string
                    readOnly: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/listStreamingJobs
  : post:
      tags:
      - Clusters
      description: Lists all of the streaming jobs in the given cluster.
      operationId: Clusters_ListStreamingJobs
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully listed the streaming jobs in the specified cluster.
          content:
            application/json:
              schema:
                type: object
                description: A list of streaming jobs. Populated by a List operation.
                properties:
                  value:
                    description: A list of streaming jobs.
                    type: array
                    items:
                      type: object
                      description: A streaming job.
                      properties:
                        id:
                          description: Resource ID of the streaming job.
                          type: string
                          readOnly: true
                        streamingUnits:
                          description: The number of streaming units that are used
                            by the streaming job.
                          type: integer
                          format: int32
                          readOnly: true
                        jobState:
                          description: The current execution state of the streaming
                            job.
                          type: string
                          readOnly: true
                          enum:
                          - Created
                          - Starting
                          - Running
                          - Stopping
                          - Stopped
                          - Deleting
                          - Failed
                          - Degraded
                          - Restarting
                          - Scaling
                          x-ms-enum:
                            name: JobState
                            modelAsString: true
                            values:
                            - value: Created
                              description: The job is currently in the Created state.
                            - value: Starting
                              description: The job is currently in the Starting state.
                            - value: Running
                              description: The job is currently in the Running state.
                            - value: Stopping
                              description: The job is currently in the Stopping state.
                            - value: Stopped
                              description: The job is currently in the Stopped state.
                            - value: Deleting
                              description: The job is currently in the Deleting state.
                            - value: Failed
                              description: The job is currently in the Failed state.
                            - value: Degraded
                              description: The job is currently in the Degraded state.
                            - value: Restarting
                              description: The job is currently in the Restarting
                                state.
                            - value: Scaling
                              description: The job is currently in the Scaling state.
                    readOnly: true
                  nextLink:
                    type: string
                    description: The URL to fetch the next set of streaming jobs.
                    readOnly: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    IfMatchHeader:
      name: If-Match
      in: header
      required: false
      description: The ETag of the resource. Omit this value to always overwrite the
        current record set. Specify the last-seen ETag value to prevent accidentally
        overwriting concurrent changes.
      x-ms-parameter-location: method
      schema:
        type: string
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      required: false
      description: Set to '*' to allow a new resource to be created, but to prevent
        updating an existing record set. Other values will result in a 412 Pre-condition
        Failed response.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Cluster:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        sku:
          type: object
          description: The SKU of the cluster. This determines the size/capacity of
            the cluster. Required on PUT (CreateOrUpdate) requests.
          properties:
            name:
              description: Specifies the SKU name of the cluster. Required on PUT
                (CreateOrUpdate) requests.
              type: string
              enum:
              - Default
              x-ms-enum:
                name: ClusterSkuName
                modelAsString: true
                values:
                - value: Default
                  description: The default SKU.
            capacity:
              description: Denotes the number of streaming units the cluster can support.
                Valid values for this property are multiples of 36 with a minimum
                value of 36 and maximum value of 216. Required on PUT (CreateOrUpdate)
                requests.
              type: integer
              format: int32
              minimum: 36
              maximum: 396
        etag:
          description: The current entity tag for the cluster. This is an opaque string.
            You can use it to detect whether the resource has changed between requests.
            You can also use it in the If-Match or If-None-Match headers for write
            operations for optimistic concurrency.
          type: string
          readOnly: true
        properties:
          x-ms-client-flatten: true
          description: The properties associated with a Stream Analytics cluster.
          type: object
          properties:
            createdDate:
              description: The date this cluster was created.
              type: string
              format: date-time
              readOnly: true
            clusterId:
              description: Unique identifier for the cluster.
              type: string
              readOnly: true
            provisioningState:
              description: 'The status of the cluster provisioning. The three terminal
                states are: Succeeded, Failed and Canceled'
              readOnly: true
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              x-ms-enum:
                name: ClusterProvisioningState
                modelAsString: true
                values:
                - value: Succeeded
                  description: The cluster provisioning succeeded.
                - value: Failed
                  description: The cluster provisioning failed.
                - value: Canceled
                  description: The cluster provisioning was canceled.
                - value: InProgress
                  description: The cluster provisioning was inprogress.
            capacityAllocated:
              description: Represents the number of streaming units currently being
                used on the cluster.
              type: integer
              format: int32
              readOnly: true
            capacityAssigned:
              description: Represents the sum of the SUs of all streaming jobs associated
                with the cluster. If all of the jobs were running, this would be the
                capacity allocated.
              type: integer
              format: int32
              readOnly: true
      description: The base resource definition
      x-ms-azure-resource: true
    ClusterProperties:
      type: object
      description: The properties associated with a Stream Analytics cluster.
      properties:
        createdDate:
          description: The date this cluster was created.
          type: string
          format: date-time
          readOnly: true
        clusterId:
          description: Unique identifier for the cluster.
          type: string
          readOnly: true
        provisioningState:
          description: 'The status of the cluster provisioning. The three terminal
            states are: Succeeded, Failed and Canceled'
          readOnly: true
          type: string
          enum:
          - Succeeded
          - Failed
          - Canceled
          - InProgress
          x-ms-enum:
            name: ClusterProvisioningState
            modelAsString: true
            values:
            - value: Succeeded
              description: The cluster provisioning succeeded.
            - value: Failed
              description: The cluster provisioning failed.
            - value: Canceled
              description: The cluster provisioning was canceled.
            - value: InProgress
              description: The cluster provisioning was inprogress.
        capacityAllocated:
          description: Represents the number of streaming units currently being used
            on the cluster.
          type: integer
          format: int32
          readOnly: true
        capacityAssigned:
          description: Represents the sum of the SUs of all streaming jobs associated
            with the cluster. If all of the jobs were running, this would be the capacity
            allocated.
          type: integer
          format: int32
          readOnly: true
    ClusterListResult:
      type: object
      description: A list of clusters populated by a 'list' operation.
      properties:
        value:
          description: A list of clusters.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                  or Microsoft.Storage/storageAccounts.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              sku:
                type: object
                description: The SKU of the cluster. This determines the size/capacity
                  of the cluster. Required on PUT (CreateOrUpdate) requests.
                properties:
                  name:
                    description: Specifies the SKU name of the cluster. Required on
                      PUT (CreateOrUpdate) requests.
                    type: string
                    enum:
                    - Default
                    x-ms-enum:
                      name: ClusterSkuName
                      modelAsString: true
                      values:
                      - value: Default
                        description: The default SKU.
                  capacity:
                    description: Denotes the number of streaming units the cluster
                      can support. Valid values for this property are multiples of
                      36 with a minimum value of 36 and maximum value of 216. Required
                      on PUT (CreateOrUpdate) requests.
                    type: integer
                    format: int32
                    minimum: 36
                    maximum: 396
              etag:
                description: The current entity tag for the cluster. This is an opaque
                  string. You can use it to detect whether the resource has changed
                  between requests. You can also use it in the If-Match or If-None-Match
                  headers for write operations for optimistic concurrency.
                type: string
                readOnly: true
              properties:
                x-ms-client-flatten: true
                description: The properties associated with a Stream Analytics cluster.
                type: object
                properties:
                  createdDate:
                    description: The date this cluster was created.
                    type: string
                    format: date-time
                    readOnly: true
                  clusterId:
                    description: Unique identifier for the cluster.
                    type: string
                    readOnly: true
                  provisioningState:
                    description: 'The status of the cluster provisioning. The three
                      terminal states are: Succeeded, Failed and Canceled'
                    readOnly: true
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - InProgress
                    x-ms-enum:
                      name: ClusterProvisioningState
                      modelAsString: true
                      values:
                      - value: Succeeded
                        description: The cluster provisioning succeeded.
                      - value: Failed
                        description: The cluster provisioning failed.
                      - value: Canceled
                        description: The cluster provisioning was canceled.
                      - value: InProgress
                        description: The cluster provisioning was inprogress.
                  capacityAllocated:
                    description: Represents the number of streaming units currently
                      being used on the cluster.
                    type: integer
                    format: int32
                    readOnly: true
                  capacityAssigned:
                    description: Represents the sum of the SUs of all streaming jobs
                      associated with the cluster. If all of the jobs were running,
                      this would be the capacity allocated.
                    type: integer
                    format: int32
                    readOnly: true
            description: The base resource definition
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: The URL to fetch the next set of clusters.
          type: string
          readOnly: true
    ClusterJob:
      type: object
      description: A streaming job.
      properties:
        id:
          description: Resource ID of the streaming job.
          type: string
          readOnly: true
        streamingUnits:
          description: The number of streaming units that are used by the streaming
            job.
          type: integer
          format: int32
          readOnly: true
        jobState:
          description: The current execution state of the streaming job.
          type: string
          readOnly: true
          enum:
          - Created
          - Starting
          - Running
          - Stopping
          - Stopped
          - Deleting
          - Failed
          - Degraded
          - Restarting
          - Scaling
          x-ms-enum:
            name: JobState
            modelAsString: true
            values:
            - value: Created
              description: The job is currently in the Created state.
            - value: Starting
              description: The job is currently in the Starting state.
            - value: Running
              description: The job is currently in the Running state.
            - value: Stopping
              description: The job is currently in the Stopping state.
            - value: Stopped
              description: The job is currently in the Stopped state.
            - value: Deleting
              description: The job is currently in the Deleting state.
            - value: Failed
              description: The job is currently in the Failed state.
            - value: Degraded
              description: The job is currently in the Degraded state.
            - value: Restarting
              description: The job is currently in the Restarting state.
            - value: Scaling
              description: The job is currently in the Scaling state.
    ClusterJobListResult:
      type: object
      description: A list of streaming jobs. Populated by a List operation.
      properties:
        value:
          description: A list of streaming jobs.
          type: array
          items:
            type: object
            description: A streaming job.
            properties:
              id:
                description: Resource ID of the streaming job.
                type: string
                readOnly: true
              streamingUnits:
                description: The number of streaming units that are used by the streaming
                  job.
                type: integer
                format: int32
                readOnly: true
              jobState:
                description: The current execution state of the streaming job.
                type: string
                readOnly: true
                enum:
                - Created
                - Starting
                - Running
                - Stopping
                - Stopped
                - Deleting
                - Failed
                - Degraded
                - Restarting
                - Scaling
                x-ms-enum:
                  name: JobState
                  modelAsString: true
                  values:
                  - value: Created
                    description: The job is currently in the Created state.
                  - value: Starting
                    description: The job is currently in the Starting state.
                  - value: Running
                    description: The job is currently in the Running state.
                  - value: Stopping
                    description: The job is currently in the Stopping state.
                  - value: Stopped
                    description: The job is currently in the Stopped state.
                  - value: Deleting
                    description: The job is currently in the Deleting state.
                  - value: Failed
                    description: The job is currently in the Failed state.
                  - value: Degraded
                    description: The job is currently in the Degraded state.
                  - value: Restarting
                    description: The job is currently in the Restarting state.
                  - value: Scaling
                    description: The job is currently in the Scaling state.
          readOnly: true
        nextLink:
          type: string
          description: The URL to fetch the next set of streaming jobs.
          readOnly: true
    ClusterSku:
      type: object
      description: The SKU of the cluster. This determines the size/capacity of the
        cluster. Required on PUT (CreateOrUpdate) requests.
      properties:
        name:
          description: Specifies the SKU name of the cluster. Required on PUT (CreateOrUpdate)
            requests.
          type: string
          enum:
          - Default
          x-ms-enum:
            name: ClusterSkuName
            modelAsString: true
            values:
            - value: Default
              description: The default SKU.
        capacity:
          description: Denotes the number of streaming units the cluster can support.
            Valid values for this property are multiples of 36 with a minimum value
            of 36 and maximum value of 216. Required on PUT (CreateOrUpdate) requests.
          type: integer
          format: int32
          minimum: 36
          maximum: 396
    ClusterProvisioningState:
      description: 'The status of the cluster provisioning. The three terminal states
        are: Succeeded, Failed and Canceled'
      readOnly: true
      type: string
      enum:
      - Succeeded
      - Failed
      - Canceled
      - InProgress
      x-ms-enum:
        name: ClusterProvisioningState
        modelAsString: true
        values:
        - value: Succeeded
          description: The cluster provisioning succeeded.
        - value: Failed
          description: The cluster provisioning failed.
        - value: Canceled
          description: The cluster provisioning was canceled.
        - value: InProgress
          description: The cluster provisioning was inprogress.
    JobState:
      description: The current execution state of the streaming job.
      type: string
      readOnly: true
      enum:
      - Created
      - Starting
      - Running
      - Stopping
      - Stopped
      - Deleting
      - Failed
      - Degraded
      - Restarting
      - Scaling
      x-ms-enum:
        name: JobState
        modelAsString: true
        values:
        - value: Created
          description: The job is currently in the Created state.
        - value: Starting
          description: The job is currently in the Starting state.
        - value: Running
          description: The job is currently in the Running state.
        - value: Stopping
          description: The job is currently in the Stopping state.
        - value: Stopped
          description: The job is currently in the Stopped state.
        - value: Deleting
          description: The job is currently in the Deleting state.
        - value: Failed
          description: The job is currently in the Failed state.
        - value: Degraded
          description: The job is currently in the Degraded state.
        - value: Restarting
          description: The job is currently in the Restarting state.
        - value: Scaling
          description: The job is currently in the Scaling state.
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Error message.
            target:
              type: string
              description: Error target.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code.
                  target:
                    type: string
                    description: Error target.
                  message:
                    type: string
                    description: Error message.
                description: Common error details representation.
              x-ms-identifiers: []
              description: Error details.
          description: Error definition properties.
      description: Common error representation.
    Resource:
      type: object
      description: The base resource definition
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      description: The base resource definition
      x-ms-azure-resource: true
