openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}
  : put:
      tags:
      - Functions
      operationId: Functions_CreateOrReplace
      description: Creates a function or replaces an already existing function under
        an existing streaming job.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the function. Omit this value to always overwrite
          the current function. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new function to be created, but to prevent
          updating an existing function. Other values will result in a 412 Pre-condition
          Failed response.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with a function.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates the type of function.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the function. This is
                        an opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    properties:
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        inputs:
                          type: array
                          items:
                            type: object
                            description: Describes one input parameter of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function input parameter. A list
                                  of valid Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                              isConfigurationParameter:
                                type: boolean
                                description: A flag indicating if the parameter is
                                  a configuration parameter. True if this input parameter
                                  is expected to be a constant. Default is false.
                        output:
                          type: object
                          description: Describes the output of a function.
                          properties:
                            dataType:
                              type: string
                              description: The (Azure Stream Analytics supported)
                                data type of the function output. A list of valid
                                Azure Stream Analytics data types are described at
                                https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                        binding:
                          type: object
                          description: "The physical binding of the function. For\
                            \ example, in the Azure Machine Learning web service\u2019\
                            s case, this describes the endpoint."
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              type: string
                              description: Indicates the function binding type.
                          required:
                          - type
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: The definition of the function that will be used to create a
          new function or replace the existing one under the streaming job.
        required: true
      responses:
        '200':
          description: The function was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a function.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates the type of function.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the function. This
                          is an opaque string. You can use it to detect whether the
                          resource has changed between requests. You can also use
                          it in the If-Match or If-None-Match headers for write operations
                          for optimistic concurrency.
                      properties:
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          inputs:
                            type: array
                            items:
                              type: object
                              description: Describes one input parameter of a function.
                              properties:
                                dataType:
                                  type: string
                                  description: The (Azure Stream Analytics supported)
                                    data type of the function input parameter. A list
                                    of valid Azure Stream Analytics data types are
                                    described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                isConfigurationParameter:
                                  type: boolean
                                  description: A flag indicating if the parameter
                                    is a configuration parameter. True if this input
                                    parameter is expected to be a constant. Default
                                    is false.
                          output:
                            type: object
                            description: Describes the output of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function output. A list of valid
                                  Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                          binding:
                            type: object
                            description: "The physical binding of the function. For\
                              \ example, in the Azure Machine Learning web service\u2019\
                              s case, this describes the endpoint."
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the function binding type.
                            required:
                            - type
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        '201':
          description: The function was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a function.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates the type of function.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the function. This
                          is an opaque string. You can use it to detect whether the
                          resource has changed between requests. You can also use
                          it in the If-Match or If-None-Match headers for write operations
                          for optimistic concurrency.
                      properties:
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          inputs:
                            type: array
                            items:
                              type: object
                              description: Describes one input parameter of a function.
                              properties:
                                dataType:
                                  type: string
                                  description: The (Azure Stream Analytics supported)
                                    data type of the function input parameter. A list
                                    of valid Azure Stream Analytics data types are
                                    described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                isConfigurationParameter:
                                  type: boolean
                                  description: A flag indicating if the parameter
                                    is a configuration parameter. True if this input
                                    parameter is expected to be a constant. Default
                                    is false.
                          output:
                            type: object
                            description: Describes the output of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function output. A list of valid
                                  Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                          binding:
                            type: object
                            description: "The physical binding of the function. For\
                              \ example, in the Azure Machine Learning web service\u2019\
                              s case, this describes the endpoint."
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the function binding type.
                            required:
                            - type
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    patch:
      tags:
      - Functions
      operationId: Functions_Update
      description: Updates an existing function under an existing streaming job. This
        can be used to partially update (ie. update one or two properties) a function
        without affecting the rest the job or function definition.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the function. Omit this value to always overwrite
          the current function. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with a function.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates the type of function.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the function. This is
                        an opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    properties:
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        inputs:
                          type: array
                          items:
                            type: object
                            description: Describes one input parameter of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function input parameter. A list
                                  of valid Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                              isConfigurationParameter:
                                type: boolean
                                description: A flag indicating if the parameter is
                                  a configuration parameter. True if this input parameter
                                  is expected to be a constant. Default is false.
                        output:
                          type: object
                          description: Describes the output of a function.
                          properties:
                            dataType:
                              type: string
                              description: The (Azure Stream Analytics supported)
                                data type of the function output. A list of valid
                                Azure Stream Analytics data types are described at
                                https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                        binding:
                          type: object
                          description: "The physical binding of the function. For\
                            \ example, in the Azure Machine Learning web service\u2019\
                            s case, this describes the endpoint."
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              type: string
                              description: Indicates the function binding type.
                          required:
                          - type
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: A function object. The properties specified here will overwrite
          the corresponding properties in the existing function (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing function will remain the same
          and not change as a result of this PATCH operation.
        required: true
      responses:
        '200':
          description: The function was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a function.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates the type of function.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the function. This
                          is an opaque string. You can use it to detect whether the
                          resource has changed between requests. You can also use
                          it in the If-Match or If-None-Match headers for write operations
                          for optimistic concurrency.
                      properties:
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          inputs:
                            type: array
                            items:
                              type: object
                              description: Describes one input parameter of a function.
                              properties:
                                dataType:
                                  type: string
                                  description: The (Azure Stream Analytics supported)
                                    data type of the function input parameter. A list
                                    of valid Azure Stream Analytics data types are
                                    described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                isConfigurationParameter:
                                  type: boolean
                                  description: A flag indicating if the parameter
                                    is a configuration parameter. True if this input
                                    parameter is expected to be a constant. Default
                                    is false.
                          output:
                            type: object
                            description: Describes the output of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function output. A list of valid
                                  Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                          binding:
                            type: object
                            description: "The physical binding of the function. For\
                              \ example, in the Azure Machine Learning web service\u2019\
                              s case, this describes the endpoint."
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the function binding type.
                            required:
                            - type
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    delete:
      tags:
      - Functions
      operationId: Functions_Delete
      description: Deletes a function from the streaming job.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The function was successfully deleted.
        '204':
          description: The function does not exist.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    get:
      tags:
      - Functions
      operationId: Functions_Get
      description: Gets details about the specified function.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified function.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a function.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates the type of function.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the function. This
                          is an opaque string. You can use it to detect whether the
                          resource has changed between requests. You can also use
                          it in the If-Match or If-None-Match headers for write operations
                          for optimistic concurrency.
                      properties:
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          inputs:
                            type: array
                            items:
                              type: object
                              description: Describes one input parameter of a function.
                              properties:
                                dataType:
                                  type: string
                                  description: The (Azure Stream Analytics supported)
                                    data type of the function input parameter. A list
                                    of valid Azure Stream Analytics data types are
                                    described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                isConfigurationParameter:
                                  type: boolean
                                  description: A flag indicating if the parameter
                                    is a configuration parameter. True if this input
                                    parameter is expected to be a constant. Default
                                    is false.
                          output:
                            type: object
                            description: Describes the output of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function output. A list of valid
                                  Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                          binding:
                            type: object
                            description: "The physical binding of the function. For\
                              \ example, in the Azure Machine Learning web service\u2019\
                              s case, this describes the endpoint."
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the function binding type.
                            required:
                            - type
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions
  : get:
      tags:
      - Functions
      operationId: Functions_ListByStreamingJob
      description: Lists all of the functions under the specified streaming job.
      parameters:
      - name: $select
        in: query
        required: false
        description: The $select OData query parameter. This is a comma-separated
          list of structural properties to include in the response, or "*" to include
          all properties. By default, all properties are returned except diagnostics.
          Currently only accepts '*' as a valid value.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully listed the functions under the specified streaming
            job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        properties:
                          description: The properties that are associated with a function.
                          type: object
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              type: string
                              description: Indicates the type of function.
                            etag:
                              readOnly: true
                              type: string
                              description: The current entity tag for the function.
                                This is an opaque string. You can use it to detect
                                whether the resource has changed between requests.
                                You can also use it in the If-Match or If-None-Match
                                headers for write operations for optimistic concurrency.
                            properties:
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                inputs:
                                  type: array
                                  items:
                                    type: object
                                    description: Describes one input parameter of
                                      a function.
                                    properties:
                                      dataType:
                                        type: string
                                        description: The (Azure Stream Analytics supported)
                                          data type of the function input parameter.
                                          A list of valid Azure Stream Analytics data
                                          types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                      isConfigurationParameter:
                                        type: boolean
                                        description: A flag indicating if the parameter
                                          is a configuration parameter. True if this
                                          input parameter is expected to be a constant.
                                          Default is false.
                                output:
                                  type: object
                                  description: Describes the output of a function.
                                  properties:
                                    dataType:
                                      type: string
                                      description: The (Azure Stream Analytics supported)
                                        data type of the function output. A list of
                                        valid Azure Stream Analytics data types are
                                        described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                binding:
                                  type: object
                                  description: "The physical binding of the function.\
                                    \ For example, in the Azure Machine Learning web\
                                    \ service\u2019s case, this describes the endpoint."
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      type: string
                                      description: Indicates the function binding
                                        type.
                                  required:
                                  - type
                          required:
                          - type
                      description: The base sub-resource model definition.
                      x-ms-azure-resource: true
                    readOnly: true
                    description: A list of functions under a streaming job. Populated
                      by a 'List' operation.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The link (url) to the next page of results.
                description: Object containing a list of functions under a streaming
                  job.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test
  : post:
      tags:
      - Functions
      operationId: Functions_Test
      description: Tests if the information provided for a function is valid. This
        can range from testing the connection to the underlying web service behind
        the function or making sure the function code provided is syntactically correct.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with a function.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates the type of function.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the function. This is
                        an opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    properties:
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        inputs:
                          type: array
                          items:
                            type: object
                            description: Describes one input parameter of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function input parameter. A list
                                  of valid Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                              isConfigurationParameter:
                                type: boolean
                                description: A flag indicating if the parameter is
                                  a configuration parameter. True if this input parameter
                                  is expected to be a constant. Default is false.
                        output:
                          type: object
                          description: Describes the output of a function.
                          properties:
                            dataType:
                              type: string
                              description: The (Azure Stream Analytics supported)
                                data type of the function output. A list of valid
                                Azure Stream Analytics data types are described at
                                https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                        binding:
                          type: object
                          description: "The physical binding of the function. For\
                            \ example, in the Azure Machine Learning web service\u2019\
                            s case, this describes the endpoint."
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              type: string
                              description: Indicates the function binding type.
                          required:
                          - type
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: If the function specified does not already exist, this parameter
          must contain the full function definition intended to be tested. If the
          function specified already exists, this parameter can be left null to test
          the existing function as is or if specified, the properties specified will
          overwrite the corresponding properties in the existing function (exactly
          like a PATCH operation) and the resulting function will be tested.
      responses:
        '200':
          description: The test operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Describes the status of the test operation along with
                  error information, if applicable.
                properties:
                  status:
                    readOnly: true
                    type: string
                    description: The status of the test operation.
                  error:
                    readOnly: true
                    description: Describes the error that occurred.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: Error code associated with the error that occurred.
                      message:
                        readOnly: true
                        type: string
                        description: Describes the error in detail.
        '202':
          description: The test request was successfully initiated.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/retrieveDefaultDefinition
  : post:
      tags:
      - Functions
      operationId: Functions_RetrieveDefaultDefinition
      description: Retrieves the default definition of a function based on the parameters
        specified.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: functionName
        in: path
        required: true
        description: The name of the function.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Parameters used to specify the type of function to retrieve
                the default definition for.
              discriminator:
                propertyName: bindingType
              properties:
                bindingType:
                  type: string
                  description: Indicates the function binding type.
              required:
              - bindingType
        description: Parameters used to specify the type of function to retrieve the
          default definition for.
      responses:
        '200':
          description: Successfully retrieved the function's default definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a function.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates the type of function.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the function. This
                          is an opaque string. You can use it to detect whether the
                          resource has changed between requests. You can also use
                          it in the If-Match or If-None-Match headers for write operations
                          for optimistic concurrency.
                      properties:
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          inputs:
                            type: array
                            items:
                              type: object
                              description: Describes one input parameter of a function.
                              properties:
                                dataType:
                                  type: string
                                  description: The (Azure Stream Analytics supported)
                                    data type of the function input parameter. A list
                                    of valid Azure Stream Analytics data types are
                                    described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                isConfigurationParameter:
                                  type: boolean
                                  description: A flag indicating if the parameter
                                    is a configuration parameter. True if this input
                                    parameter is expected to be a constant. Default
                                    is false.
                          output:
                            type: object
                            description: Describes the output of a function.
                            properties:
                              dataType:
                                type: string
                                description: The (Azure Stream Analytics supported)
                                  data type of the function output. A list of valid
                                  Azure Stream Analytics data types are described
                                  at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                          binding:
                            type: object
                            description: "The physical binding of the function. For\
                              \ example, in the Azure Machine Learning web service\u2019\
                              s case, this describes the endpoint."
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the function binding type.
                            required:
                            - type
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
components:
  parameters:
    FunctionNameParameter:
      name: functionName
      in: path
      required: true
      description: The name of the function.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    StreamingJobNameParameter:
      name: jobName
      in: path
      required: true
      description: The name of the streaming job.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Function:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          description: The properties that are associated with a function.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              type: string
              description: Indicates the type of function.
            etag:
              readOnly: true
              type: string
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
            properties:
              x-ms-client-flatten: true
              type: object
              properties:
                inputs:
                  type: array
                  items:
                    type: object
                    description: Describes one input parameter of a function.
                    properties:
                      dataType:
                        type: string
                        description: The (Azure Stream Analytics supported) data type
                          of the function input parameter. A list of valid Azure Stream
                          Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                      isConfigurationParameter:
                        type: boolean
                        description: A flag indicating if the parameter is a configuration
                          parameter. True if this input parameter is expected to be
                          a constant. Default is false.
                output:
                  type: object
                  description: Describes the output of a function.
                  properties:
                    dataType:
                      type: string
                      description: The (Azure Stream Analytics supported) data type
                        of the function output. A list of valid Azure Stream Analytics
                        data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                binding:
                  type: object
                  description: "The physical binding of the function. For example,\
                    \ in the Azure Machine Learning web service\u2019s case, this\
                    \ describes the endpoint."
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates the function binding type.
                  required:
                  - type
          required:
          - type
      description: The base sub-resource model definition.
      x-ms-azure-resource: true
    FunctionProperties:
      type: object
      description: The properties that are associated with a function.
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Indicates the type of function.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the function. This is an opaque
            string. You can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match headers
            for write operations for optimistic concurrency.
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            inputs:
              type: array
              items:
                type: object
                description: Describes one input parameter of a function.
                properties:
                  dataType:
                    type: string
                    description: The (Azure Stream Analytics supported) data type
                      of the function input parameter. A list of valid Azure Stream
                      Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                  isConfigurationParameter:
                    type: boolean
                    description: A flag indicating if the parameter is a configuration
                      parameter. True if this input parameter is expected to be a
                      constant. Default is false.
            output:
              type: object
              description: Describes the output of a function.
              properties:
                dataType:
                  type: string
                  description: The (Azure Stream Analytics supported) data type of
                    the function output. A list of valid Azure Stream Analytics data
                    types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
            binding:
              type: object
              description: "The physical binding of the function. For example, in\
                \ the Azure Machine Learning web service\u2019s case, this describes\
                \ the endpoint."
              discriminator:
                propertyName: type
              properties:
                type:
                  type: string
                  description: Indicates the function binding type.
              required:
              - type
      required:
      - type
    FunctionConfiguration:
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
            description: Describes one input parameter of a function.
            properties:
              dataType:
                type: string
                description: The (Azure Stream Analytics supported) data type of the
                  function input parameter. A list of valid Azure Stream Analytics
                  data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
              isConfigurationParameter:
                type: boolean
                description: A flag indicating if the parameter is a configuration
                  parameter. True if this input parameter is expected to be a constant.
                  Default is false.
        output:
          type: object
          description: Describes the output of a function.
          properties:
            dataType:
              type: string
              description: The (Azure Stream Analytics supported) data type of the
                function output. A list of valid Azure Stream Analytics data types
                are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
        binding:
          type: object
          description: "The physical binding of the function. For example, in the\
            \ Azure Machine Learning web service\u2019s case, this describes the endpoint."
          discriminator:
            propertyName: type
          properties:
            type:
              type: string
              description: Indicates the function binding type.
          required:
          - type
    ScalarFunctionProperties:
      type: object
      properties:
        type:
          type: string
          description: Indicates the type of function.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the function. This is an opaque
            string. You can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match headers
            for write operations for optimistic concurrency.
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            inputs:
              type: array
              items:
                type: object
                description: Describes one input parameter of a function.
                properties:
                  dataType:
                    type: string
                    description: The (Azure Stream Analytics supported) data type
                      of the function input parameter. A list of valid Azure Stream
                      Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                  isConfigurationParameter:
                    type: boolean
                    description: A flag indicating if the parameter is a configuration
                      parameter. True if this input parameter is expected to be a
                      constant. Default is false.
            output:
              type: object
              description: Describes the output of a function.
              properties:
                dataType:
                  type: string
                  description: The (Azure Stream Analytics supported) data type of
                    the function output. A list of valid Azure Stream Analytics data
                    types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
            binding:
              type: object
              description: "The physical binding of the function. For example, in\
                \ the Azure Machine Learning web service\u2019s case, this describes\
                \ the endpoint."
              discriminator:
                propertyName: type
              properties:
                type:
                  type: string
                  description: Indicates the function binding type.
              required:
              - type
      required:
      - type
      description: The properties that are associated with a function.
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Scalar
    FunctionInput:
      type: object
      description: Describes one input parameter of a function.
      properties:
        dataType:
          type: string
          description: The (Azure Stream Analytics supported) data type of the function
            input parameter. A list of valid Azure Stream Analytics data types are
            described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
        isConfigurationParameter:
          type: boolean
          description: A flag indicating if the parameter is a configuration parameter.
            True if this input parameter is expected to be a constant. Default is
            false.
    FunctionOutput:
      type: object
      description: Describes the output of a function.
      properties:
        dataType:
          type: string
          description: The (Azure Stream Analytics supported) data type of the function
            output. A list of valid Azure Stream Analytics data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
    FunctionBinding:
      type: object
      description: "The physical binding of the function. For example, in the Azure\
        \ Machine Learning web service\u2019s case, this describes the endpoint."
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Indicates the function binding type.
      required:
      - type
    AzureMachineLearningWebServiceFunctionBinding:
      type: object
      properties:
        type:
          type: string
          description: Indicates the function binding type.
        properties:
          description: The binding properties associated with an Azure Machine learning
            web service.
          x-ms-client-flatten: true
          type: object
          properties:
            endpoint:
              type: string
              description: 'The Request-Response execute endpoint of the Azure Machine
                Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs'
            apiKey:
              type: string
              description: The API key used to authenticate with Request-Response
                endpoint.
            inputs:
              description: The inputs for the Azure Machine Learning web service endpoint.
              type: object
              properties:
                name:
                  type: string
                  description: The name of the input. This is the name provided while
                    authoring the endpoint.
                columnNames:
                  type: array
                  items:
                    type: object
                    description: Describes an input column for the Azure Machine Learning
                      web service endpoint.
                    properties:
                      name:
                        type: string
                        description: The name of the input column.
                      dataType:
                        type: string
                        description: The (Azure Machine Learning supported) data type
                          of the input column. A list of valid  Azure Machine Learning
                          data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx
                          .
                      mapTo:
                        type: integer
                        format: int32
                        description: The zero based index of the function parameter
                          this input maps to.
                  x-ms-identifiers:
                  - name
                  description: A list of input columns for the Azure Machine Learning
                    web service endpoint.
            outputs:
              type: array
              items:
                type: object
                description: Describes an output column for the Azure Machine Learning
                  web service endpoint.
                properties:
                  name:
                    type: string
                    description: The name of the output column.
                  dataType:
                    type: string
                    description: The (Azure Machine Learning supported) data type
                      of the output column. A list of valid  Azure Machine Learning
                      data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx
                      .
              x-ms-identifiers:
              - name
              description: A list of outputs from the Azure Machine Learning web service
                endpoint execution.
            batchSize:
              type: integer
              format: int32
              description: Number between 1 and 10000 describing maximum number of
                rows for every Azure ML RRS execute request. Default is 1000.
      required:
      - type
      description: "The physical binding of the function. For example, in the Azure\
        \ Machine Learning web service\u2019s case, this describes the endpoint."
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Microsoft.MachineLearning/WebService
    AzureMachineLearningWebServiceFunctionBindingProperties:
      type: object
      description: The binding properties associated with an Azure Machine learning
        web service.
      properties:
        endpoint:
          type: string
          description: 'The Request-Response execute endpoint of the Azure Machine
            Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs'
        apiKey:
          type: string
          description: The API key used to authenticate with Request-Response endpoint.
        inputs:
          description: The inputs for the Azure Machine Learning web service endpoint.
          type: object
          properties:
            name:
              type: string
              description: The name of the input. This is the name provided while
                authoring the endpoint.
            columnNames:
              type: array
              items:
                type: object
                description: Describes an input column for the Azure Machine Learning
                  web service endpoint.
                properties:
                  name:
                    type: string
                    description: The name of the input column.
                  dataType:
                    type: string
                    description: The (Azure Machine Learning supported) data type
                      of the input column. A list of valid  Azure Machine Learning
                      data types are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx
                      .
                  mapTo:
                    type: integer
                    format: int32
                    description: The zero based index of the function parameter this
                      input maps to.
              x-ms-identifiers:
              - name
              description: A list of input columns for the Azure Machine Learning
                web service endpoint.
        outputs:
          type: array
          items:
            type: object
            description: Describes an output column for the Azure Machine Learning
              web service endpoint.
            properties:
              name:
                type: string
                description: The name of the output column.
              dataType:
                type: string
                description: The (Azure Machine Learning supported) data type of the
                  output column. A list of valid  Azure Machine Learning data types
                  are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx
                  .
          x-ms-identifiers:
          - name
          description: A list of outputs from the Azure Machine Learning web service
            endpoint execution.
        batchSize:
          type: integer
          format: int32
          description: Number between 1 and 10000 describing maximum number of rows
            for every Azure ML RRS execute request. Default is 1000.
    AzureMachineLearningWebServiceInputs:
      type: object
      description: The inputs for the Azure Machine Learning web service endpoint.
      properties:
        name:
          type: string
          description: The name of the input. This is the name provided while authoring
            the endpoint.
        columnNames:
          type: array
          items:
            type: object
            description: Describes an input column for the Azure Machine Learning
              web service endpoint.
            properties:
              name:
                type: string
                description: The name of the input column.
              dataType:
                type: string
                description: The (Azure Machine Learning supported) data type of the
                  input column. A list of valid  Azure Machine Learning data types
                  are described at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx
                  .
              mapTo:
                type: integer
                format: int32
                description: The zero based index of the function parameter this input
                  maps to.
          x-ms-identifiers:
          - name
          description: A list of input columns for the Azure Machine Learning web
            service endpoint.
    AzureMachineLearningWebServiceInputColumn:
      type: object
      description: Describes an input column for the Azure Machine Learning web service
        endpoint.
      properties:
        name:
          type: string
          description: The name of the input column.
        dataType:
          type: string
          description: The (Azure Machine Learning supported) data type of the input
            column. A list of valid  Azure Machine Learning data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .
        mapTo:
          type: integer
          format: int32
          description: The zero based index of the function parameter this input maps
            to.
    AzureMachineLearningWebServiceOutputColumn:
      type: object
      description: Describes an output column for the Azure Machine Learning web service
        endpoint.
      properties:
        name:
          type: string
          description: The name of the output column.
        dataType:
          type: string
          description: The (Azure Machine Learning supported) data type of the output
            column. A list of valid  Azure Machine Learning data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .
    JavaScriptFunctionBinding:
      type: object
      properties:
        type:
          type: string
          description: Indicates the function binding type.
        properties:
          description: The binding properties associated with a JavaScript function.
          x-ms-client-flatten: true
          type: object
          properties:
            script:
              type: string
              description: 'The JavaScript code containing a single function definition.
                For example: ''function (x, y) { return x + y; }'''
      required:
      - type
      description: "The physical binding of the function. For example, in the Azure\
        \ Machine Learning web service\u2019s case, this describes the endpoint."
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Microsoft.StreamAnalytics/JavascriptUdf
    JavaScriptFunctionBindingProperties:
      type: object
      description: The binding properties associated with a JavaScript function.
      properties:
        script:
          type: string
          description: 'The JavaScript code containing a single function definition.
            For example: ''function (x, y) { return x + y; }'''
    FunctionRetrieveDefaultDefinitionParameters:
      type: object
      description: Parameters used to specify the type of function to retrieve the
        default definition for.
      discriminator:
        propertyName: bindingType
      properties:
        bindingType:
          type: string
          description: Indicates the function binding type.
      required:
      - bindingType
    AzureMachineLearningWebServiceFunctionRetrieveDefaultDefinitionParameters:
      type: object
      properties:
        bindingType:
          type: string
          description: Indicates the function binding type.
        bindingRetrievalProperties:
          description: The binding retrieval properties associated with an Azure Machine
            learning web service.
          x-ms-client-flatten: true
          type: object
          properties:
            executeEndpoint:
              type: string
              description: 'The Request-Response execute endpoint of the Azure Machine
                Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs'
            udfType:
              description: The function type.
              type: string
              enum:
              - Scalar
              x-ms-enum:
                name: UdfType
                modelAsString: false
      required:
      - bindingType
      description: Parameters used to specify the type of function to retrieve the
        default definition for.
      discriminator:
        propertyName: bindingType
      x-ms-discriminator-value: Microsoft.MachineLearning/WebService
    AzureMachineLearningWebServiceFunctionBindingRetrievalProperties:
      type: object
      description: The binding retrieval properties associated with an Azure Machine
        learning web service.
      properties:
        executeEndpoint:
          type: string
          description: 'The Request-Response execute endpoint of the Azure Machine
            Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs'
        udfType:
          description: The function type.
          type: string
          enum:
          - Scalar
          x-ms-enum:
            name: UdfType
            modelAsString: false
    JavaScriptFunctionRetrieveDefaultDefinitionParameters:
      type: object
      properties:
        bindingType:
          type: string
          description: Indicates the function binding type.
        bindingRetrievalProperties:
          description: The binding retrieval properties associated with a JavaScript
            function.
          x-ms-client-flatten: true
          type: object
          properties:
            script:
              type: string
              description: 'The JavaScript code containing a single function definition.
                For example: ''function (x, y) { return x + y; }''.'
            udfType:
              description: The function type.
              type: string
              enum:
              - Scalar
              x-ms-enum:
                name: UdfType
                modelAsString: false
      required:
      - bindingType
      description: Parameters used to specify the type of function to retrieve the
        default definition for.
      discriminator:
        propertyName: bindingType
      x-ms-discriminator-value: Microsoft.StreamAnalytics/JavascriptUdf
    JavaScriptFunctionBindingRetrievalProperties:
      type: object
      description: The binding retrieval properties associated with a JavaScript function.
      properties:
        script:
          type: string
          description: 'The JavaScript code containing a single function definition.
            For example: ''function (x, y) { return x + y; }''.'
        udfType:
          description: The function type.
          type: string
          enum:
          - Scalar
          x-ms-enum:
            name: UdfType
            modelAsString: false
    FunctionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource Id
              name:
                type: string
                description: Resource name
              type:
                readOnly: true
                type: string
                description: Resource type
              properties:
                description: The properties that are associated with a function.
                type: object
                discriminator:
                  propertyName: type
                properties:
                  type:
                    type: string
                    description: Indicates the type of function.
                  etag:
                    readOnly: true
                    type: string
                    description: The current entity tag for the function. This is
                      an opaque string. You can use it to detect whether the resource
                      has changed between requests. You can also use it in the If-Match
                      or If-None-Match headers for write operations for optimistic
                      concurrency.
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      inputs:
                        type: array
                        items:
                          type: object
                          description: Describes one input parameter of a function.
                          properties:
                            dataType:
                              type: string
                              description: The (Azure Stream Analytics supported)
                                data type of the function input parameter. A list
                                of valid Azure Stream Analytics data types are described
                                at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                            isConfigurationParameter:
                              type: boolean
                              description: A flag indicating if the parameter is a
                                configuration parameter. True if this input parameter
                                is expected to be a constant. Default is false.
                      output:
                        type: object
                        description: Describes the output of a function.
                        properties:
                          dataType:
                            type: string
                            description: The (Azure Stream Analytics supported) data
                              type of the function output. A list of valid Azure Stream
                              Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                      binding:
                        type: object
                        description: "The physical binding of the function. For example,\
                          \ in the Azure Machine Learning web service\u2019s case,\
                          \ this describes the endpoint."
                        discriminator:
                          propertyName: type
                        properties:
                          type:
                            type: string
                            description: Indicates the function binding type.
                        required:
                        - type
                required:
                - type
            description: The base sub-resource model definition.
            x-ms-azure-resource: true
          readOnly: true
          description: A list of functions under a streaming job. Populated by a 'List'
            operation.
        nextLink:
          type: string
          readOnly: true
          description: The link (url) to the next page of results.
      description: Object containing a list of functions under a streaming job.
    UdfType:
      type: string
      description: The function type.
      enum:
      - Scalar
      x-ms-enum:
        name: UdfType
        modelAsString: false
    SubResource:
      type: object
      description: The base sub-resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
    AggregateFunctionProperties:
      type: object
      properties:
        type:
          type: string
          description: Indicates the type of function.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the function. This is an opaque
            string. You can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match headers
            for write operations for optimistic concurrency.
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            inputs:
              type: array
              items:
                type: object
                description: Describes one input parameter of a function.
                properties:
                  dataType:
                    type: string
                    description: The (Azure Stream Analytics supported) data type
                      of the function input parameter. A list of valid Azure Stream
                      Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                  isConfigurationParameter:
                    type: boolean
                    description: A flag indicating if the parameter is a configuration
                      parameter. True if this input parameter is expected to be a
                      constant. Default is false.
            output:
              type: object
              description: Describes the output of a function.
              properties:
                dataType:
                  type: string
                  description: The (Azure Stream Analytics supported) data type of
[...]
