openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}
  : put:
      tags:
      - Inputs
      operationId: Inputs_CreateOrReplace
      description: Creates an input or replaces an already existing input under an
        existing streaming job.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the input. Omit this value to always overwrite the
          current input. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new input to be created, but to prevent
          updating an existing input. Other values will result in a 412 Pre-condition
          Failed response.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inputName
        in: path
        required: true
        description: The name of the input.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with an input. Required
                    on PUT (CreateOrReplace) requests.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates whether the input is a source of reference
                        data or stream data. Required on PUT (CreateOrReplace) requests.
                    serialization:
                      description: Describes how data from an input is serialized
                        or how data is serialized when written to an output. Required
                        on PUT (CreateOrReplace) requests.
                      type: object
                      discriminator:
                        propertyName: type
                      properties:
                        type:
                          description: Indicates the type of serialization that the
                            input or output uses. Required on PUT (CreateOrReplace)
                            requests.
                          type: string
                          enum:
                          - Csv
                          - Avro
                          - Json
                          - Parquet
                          x-ms-enum:
                            name: EventSerializationType
                            modelAsString: true
                      required:
                      - type
                    diagnostics:
                      readOnly: true
                      description: Describes conditions applicable to the Input, Output,
                        or the job overall, that warrant customer attention.
                      type: object
                      properties:
                        conditions:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            description: Condition applicable to the resource, or
                              to the job overall, that warrant customer attention.
                            properties:
                              since:
                                readOnly: true
                                type: string
                                description: The UTC timestamp of when the condition
                                  started. Customers should be able to find a corresponding
                                  event in the ops log around this time.
                              code:
                                readOnly: true
                                type: string
                                description: The opaque diagnostic code.
                              message:
                                readOnly: true
                                type: string
                                description: The human-readable message describing
                                  the condition in detail. Localized in the Accept-Language
                                  of the client request.
                          x-ms-identifiers: []
                          description: A collection of zero or more conditions applicable
                            to the resource, or to the job overall, that warrant customer
                            attention.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the input. This is an
                        opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    compression:
                      description: Describes how input data is compressed
                      type: object
                      properties:
                        type:
                          description: Indicates the type of compression that the
                            input uses. Required on PUT (CreateOrReplace) requests.
                          type: string
                          enum:
                          - None
                          - GZip
                          - Deflate
                          x-ms-enum:
                            name: CompressionType
                            modelAsString: true
                          default: None
                      required:
                      - type
                    partitionKey:
                      type: string
                      description: partitionKey Describes a key in the input data
                        which is used for partitioning the input data
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: The definition of the input that will be used to create a new
          input or replace the existing one under the streaming job.
        required: true
      responses:
        '200':
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with an input.
                      Required on PUT (CreateOrReplace) requests.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates whether the input is a source of reference
                          data or stream data. Required on PUT (CreateOrReplace) requests.
                      serialization:
                        description: Describes how data from an input is serialized
                          or how data is serialized when written to an output. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        discriminator:
                          propertyName: type
                        properties:
                          type:
                            description: Indicates the type of serialization that
                              the input or output uses. Required on PUT (CreateOrReplace)
                              requests.
                            type: string
                            enum:
                            - Csv
                            - Avro
                            - Json
                            - Parquet
                            x-ms-enum:
                              name: EventSerializationType
                              modelAsString: true
                        required:
                        - type
                      diagnostics:
                        readOnly: true
                        description: Describes conditions applicable to the Input,
                          Output, or the job overall, that warrant customer attention.
                        type: object
                        properties:
                          conditions:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              description: Condition applicable to the resource, or
                                to the job overall, that warrant customer attention.
                              properties:
                                since:
                                  readOnly: true
                                  type: string
                                  description: The UTC timestamp of when the condition
                                    started. Customers should be able to find a corresponding
                                    event in the ops log around this time.
                                code:
                                  readOnly: true
                                  type: string
                                  description: The opaque diagnostic code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The human-readable message describing
                                    the condition in detail. Localized in the Accept-Language
                                    of the client request.
                            x-ms-identifiers: []
                            description: A collection of zero or more conditions applicable
                              to the resource, or to the job overall, that warrant
                              customer attention.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the input. This is
                          an opaque string. You can use it to detect whether the resource
                          has changed between requests. You can also use it in the
                          If-Match or If-None-Match headers for write operations for
                          optimistic concurrency.
                      compression:
                        description: Describes how input data is compressed
                        type: object
                        properties:
                          type:
                            description: Indicates the type of compression that the
                              input uses. Required on PUT (CreateOrReplace) requests.
                            type: string
                            enum:
                            - None
                            - GZip
                            - Deflate
                            x-ms-enum:
                              name: CompressionType
                              modelAsString: true
                            default: None
                        required:
                        - type
                      partitionKey:
                        type: string
                        description: partitionKey Describes a key in the input data
                          which is used for partitioning the input data
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        '201':
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with an input.
                      Required on PUT (CreateOrReplace) requests.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates whether the input is a source of reference
                          data or stream data. Required on PUT (CreateOrReplace) requests.
                      serialization:
                        description: Describes how data from an input is serialized
                          or how data is serialized when written to an output. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        discriminator:
                          propertyName: type
                        properties:
                          type:
                            description: Indicates the type of serialization that
                              the input or output uses. Required on PUT (CreateOrReplace)
                              requests.
                            type: string
                            enum:
                            - Csv
                            - Avro
                            - Json
                            - Parquet
                            x-ms-enum:
                              name: EventSerializationType
                              modelAsString: true
                        required:
                        - type
                      diagnostics:
                        readOnly: true
                        description: Describes conditions applicable to the Input,
                          Output, or the job overall, that warrant customer attention.
                        type: object
                        properties:
                          conditions:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              description: Condition applicable to the resource, or
                                to the job overall, that warrant customer attention.
                              properties:
                                since:
                                  readOnly: true
                                  type: string
                                  description: The UTC timestamp of when the condition
                                    started. Customers should be able to find a corresponding
                                    event in the ops log around this time.
                                code:
                                  readOnly: true
                                  type: string
                                  description: The opaque diagnostic code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The human-readable message describing
                                    the condition in detail. Localized in the Accept-Language
                                    of the client request.
                            x-ms-identifiers: []
                            description: A collection of zero or more conditions applicable
                              to the resource, or to the job overall, that warrant
                              customer attention.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the input. This is
                          an opaque string. You can use it to detect whether the resource
                          has changed between requests. You can also use it in the
                          If-Match or If-None-Match headers for write operations for
                          optimistic concurrency.
                      compression:
                        description: Describes how input data is compressed
                        type: object
                        properties:
                          type:
                            description: Indicates the type of compression that the
                              input uses. Required on PUT (CreateOrReplace) requests.
                            type: string
                            enum:
                            - None
                            - GZip
                            - Deflate
                            x-ms-enum:
                              name: CompressionType
                              modelAsString: true
                            default: None
                        required:
                        - type
                      partitionKey:
                        type: string
                        description: partitionKey Describes a key in the input data
                          which is used for partitioning the input data
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    patch:
      tags:
      - Inputs
      operationId: Inputs_Update
      description: Updates an existing input under an existing streaming job. This
        can be used to partially update (ie. update one or two properties) an input
        without affecting the rest the job or input definition.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the input. Omit this value to always overwrite the
          current input. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inputName
        in: path
        required: true
        description: The name of the input.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with an input. Required
                    on PUT (CreateOrReplace) requests.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates whether the input is a source of reference
                        data or stream data. Required on PUT (CreateOrReplace) requests.
                    serialization:
                      description: Describes how data from an input is serialized
                        or how data is serialized when written to an output. Required
                        on PUT (CreateOrReplace) requests.
                      type: object
                      discriminator:
                        propertyName: type
                      properties:
                        type:
                          description: Indicates the type of serialization that the
                            input or output uses. Required on PUT (CreateOrReplace)
                            requests.
                          type: string
                          enum:
                          - Csv
                          - Avro
                          - Json
                          - Parquet
                          x-ms-enum:
                            name: EventSerializationType
                            modelAsString: true
                      required:
                      - type
                    diagnostics:
                      readOnly: true
                      description: Describes conditions applicable to the Input, Output,
                        or the job overall, that warrant customer attention.
                      type: object
                      properties:
                        conditions:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            description: Condition applicable to the resource, or
                              to the job overall, that warrant customer attention.
                            properties:
                              since:
                                readOnly: true
                                type: string
                                description: The UTC timestamp of when the condition
                                  started. Customers should be able to find a corresponding
                                  event in the ops log around this time.
                              code:
                                readOnly: true
                                type: string
                                description: The opaque diagnostic code.
                              message:
                                readOnly: true
                                type: string
                                description: The human-readable message describing
                                  the condition in detail. Localized in the Accept-Language
                                  of the client request.
                          x-ms-identifiers: []
                          description: A collection of zero or more conditions applicable
                            to the resource, or to the job overall, that warrant customer
                            attention.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the input. This is an
                        opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    compression:
                      description: Describes how input data is compressed
                      type: object
                      properties:
                        type:
                          description: Indicates the type of compression that the
                            input uses. Required on PUT (CreateOrReplace) requests.
                          type: string
                          enum:
                          - None
                          - GZip
                          - Deflate
                          x-ms-enum:
                            name: CompressionType
                            modelAsString: true
                          default: None
                      required:
                      - type
                    partitionKey:
                      type: string
                      description: partitionKey Describes a key in the input data
                        which is used for partitioning the input data
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: An Input object. The properties specified here will overwrite
          the corresponding properties in the existing input (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing input will remain the same and
          not change as a result of this PATCH operation.
        required: true
      responses:
        '200':
          description: The input was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with an input.
                      Required on PUT (CreateOrReplace) requests.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates whether the input is a source of reference
                          data or stream data. Required on PUT (CreateOrReplace) requests.
                      serialization:
                        description: Describes how data from an input is serialized
                          or how data is serialized when written to an output. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        discriminator:
                          propertyName: type
                        properties:
                          type:
                            description: Indicates the type of serialization that
                              the input or output uses. Required on PUT (CreateOrReplace)
                              requests.
                            type: string
                            enum:
                            - Csv
                            - Avro
                            - Json
                            - Parquet
                            x-ms-enum:
                              name: EventSerializationType
                              modelAsString: true
                        required:
                        - type
                      diagnostics:
                        readOnly: true
                        description: Describes conditions applicable to the Input,
                          Output, or the job overall, that warrant customer attention.
                        type: object
                        properties:
                          conditions:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              description: Condition applicable to the resource, or
                                to the job overall, that warrant customer attention.
                              properties:
                                since:
                                  readOnly: true
                                  type: string
                                  description: The UTC timestamp of when the condition
                                    started. Customers should be able to find a corresponding
                                    event in the ops log around this time.
                                code:
                                  readOnly: true
                                  type: string
                                  description: The opaque diagnostic code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The human-readable message describing
                                    the condition in detail. Localized in the Accept-Language
                                    of the client request.
                            x-ms-identifiers: []
                            description: A collection of zero or more conditions applicable
                              to the resource, or to the job overall, that warrant
                              customer attention.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the input. This is
                          an opaque string. You can use it to detect whether the resource
                          has changed between requests. You can also use it in the
                          If-Match or If-None-Match headers for write operations for
                          optimistic concurrency.
                      compression:
                        description: Describes how input data is compressed
                        type: object
                        properties:
                          type:
                            description: Indicates the type of compression that the
                              input uses. Required on PUT (CreateOrReplace) requests.
                            type: string
                            enum:
                            - None
                            - GZip
                            - Deflate
                            x-ms-enum:
                              name: CompressionType
                              modelAsString: true
                            default: None
                        required:
                        - type
                      partitionKey:
                        type: string
                        description: partitionKey Describes a key in the input data
                          which is used for partitioning the input data
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    delete:
      tags:
      - Inputs
      operationId: Inputs_Delete
      description: Deletes an input from the streaming job.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inputName
        in: path
        required: true
        description: The name of the input.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The input was successfully deleted.
        '204':
          description: The input does not exist.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    get:
      tags:
      - Inputs
      operationId: Inputs_Get
      description: Gets details about the specified input.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inputName
        in: path
        required: true
        description: The name of the input.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified input.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with an input.
                      Required on PUT (CreateOrReplace) requests.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        type: string
                        description: Indicates whether the input is a source of reference
                          data or stream data. Required on PUT (CreateOrReplace) requests.
                      serialization:
                        description: Describes how data from an input is serialized
                          or how data is serialized when written to an output. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        discriminator:
                          propertyName: type
                        properties:
                          type:
                            description: Indicates the type of serialization that
                              the input or output uses. Required on PUT (CreateOrReplace)
                              requests.
                            type: string
                            enum:
                            - Csv
                            - Avro
                            - Json
                            - Parquet
                            x-ms-enum:
                              name: EventSerializationType
                              modelAsString: true
                        required:
                        - type
                      diagnostics:
                        readOnly: true
                        description: Describes conditions applicable to the Input,
                          Output, or the job overall, that warrant customer attention.
                        type: object
                        properties:
                          conditions:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              description: Condition applicable to the resource, or
                                to the job overall, that warrant customer attention.
                              properties:
                                since:
                                  readOnly: true
                                  type: string
                                  description: The UTC timestamp of when the condition
                                    started. Customers should be able to find a corresponding
                                    event in the ops log around this time.
                                code:
                                  readOnly: true
                                  type: string
                                  description: The opaque diagnostic code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The human-readable message describing
                                    the condition in detail. Localized in the Accept-Language
                                    of the client request.
                            x-ms-identifiers: []
                            description: A collection of zero or more conditions applicable
                              to the resource, or to the job overall, that warrant
                              customer attention.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the input. This is
                          an opaque string. You can use it to detect whether the resource
                          has changed between requests. You can also use it in the
                          If-Match or If-None-Match headers for write operations for
                          optimistic concurrency.
                      compression:
                        description: Describes how input data is compressed
                        type: object
                        properties:
                          type:
                            description: Indicates the type of compression that the
                              input uses. Required on PUT (CreateOrReplace) requests.
                            type: string
                            enum:
                            - None
                            - GZip
                            - Deflate
                            x-ms-enum:
                              name: CompressionType
                              modelAsString: true
                            default: None
                        required:
                        - type
                      partitionKey:
                        type: string
                        description: partitionKey Describes a key in the input data
                          which is used for partitioning the input data
                    required:
                    - type
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs
  : get:
      tags:
      - Inputs
      operationId: Inputs_ListByStreamingJob
      description: Lists all of the inputs under the specified streaming job.
      parameters:
      - name: $select
        in: query
        required: false
        description: The $select OData query parameter. This is a comma-separated
          list of structural properties to include in the response, or "*" to include
          all properties. By default, all properties are returned except diagnostics.
          Currently only accepts '*' as a valid value.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully listed the inputs under the specified streaming
            job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        properties:
                          description: The properties that are associated with an
                            input. Required on PUT (CreateOrReplace) requests.
                          type: object
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              type: string
                              description: Indicates whether the input is a source
                                of reference data or stream data. Required on PUT
                                (CreateOrReplace) requests.
                            serialization:
                              description: Describes how data from an input is serialized
                                or how data is serialized when written to an output.
                                Required on PUT (CreateOrReplace) requests.
                              type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  description: Indicates the type of serialization
                                    that the input or output uses. Required on PUT
                                    (CreateOrReplace) requests.
                                  type: string
                                  enum:
                                  - Csv
                                  - Avro
                                  - Json
                                  - Parquet
                                  x-ms-enum:
                                    name: EventSerializationType
                                    modelAsString: true
                              required:
                              - type
                            diagnostics:
                              readOnly: true
                              description: Describes conditions applicable to the
                                Input, Output, or the job overall, that warrant customer
                                attention.
                              type: object
                              properties:
                                conditions:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    description: Condition applicable to the resource,
                                      or to the job overall, that warrant customer
                                      attention.
                                    properties:
                                      since:
                                        readOnly: true
                                        type: string
                                        description: The UTC timestamp of when the
                                          condition started. Customers should be able
                                          to find a corresponding event in the ops
                                          log around this time.
                                      code:
                                        readOnly: true
                                        type: string
                                        description: The opaque diagnostic code.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The human-readable message describing
                                          the condition in detail. Localized in the
                                          Accept-Language of the client request.
                                  x-ms-identifiers: []
                                  description: A collection of zero or more conditions
                                    applicable to the resource, or to the job overall,
                                    that warrant customer attention.
                            etag:
                              readOnly: true
                              type: string
                              description: The current entity tag for the input. This
                                is an opaque string. You can use it to detect whether
                                the resource has changed between requests. You can
                                also use it in the If-Match or If-None-Match headers
                                for write operations for optimistic concurrency.
                            compression:
                              description: Describes how input data is compressed
                              type: object
                              properties:
                                type:
                                  description: Indicates the type of compression that
                                    the input uses. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: string
                                  enum:
                                  - None
                                  - GZip
                                  - Deflate
                                  x-ms-enum:
                                    name: CompressionType
                                    modelAsString: true
                                  default: None
                              required:
                              - type
                            partitionKey:
                              type: string
                              description: partitionKey Describes a key in the input
                                data which is used for partitioning the input data
                          required:
                          - type
                      description: The base sub-resource model definition.
                      x-ms-azure-resource: true
                    readOnly: true
                    description: A list of inputs under a streaming job. Populated
                      by a 'List' operation.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The link (url) to the next page of results.
                description: Object containing a list of inputs under a streaming
                  job.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test
  : post:
      tags:
      - Inputs
      operationId: Inputs_Test
      description: "Tests whether an input\u2019s datasource is reachable and usable\
        \ by the Azure Stream Analytics service."
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inputName
        in: path
        required: true
        description: The name of the input.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with an input. Required
                    on PUT (CreateOrReplace) requests.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      type: string
                      description: Indicates whether the input is a source of reference
                        data or stream data. Required on PUT (CreateOrReplace) requests.
                    serialization:
                      description: Describes how data from an input is serialized
                        or how data is serialized when written to an output. Required
                        on PUT (CreateOrReplace) requests.
                      type: object
                      discriminator:
                        propertyName: type
                      properties:
                        type:
                          description: Indicates the type of serialization that the
                            input or output uses. Required on PUT (CreateOrReplace)
                            requests.
                          type: string
                          enum:
                          - Csv
                          - Avro
                          - Json
                          - Parquet
                          x-ms-enum:
                            name: EventSerializationType
                            modelAsString: true
                      required:
                      - type
                    diagnostics:
                      readOnly: true
                      description: Describes conditions applicable to the Input, Output,
                        or the job overall, that warrant customer attention.
                      type: object
                      properties:
                        conditions:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            description: Condition applicable to the resource, or
                              to the job overall, that warrant customer attention.
                            properties:
                              since:
                                readOnly: true
                                type: string
                                description: The UTC timestamp of when the condition
                                  started. Customers should be able to find a corresponding
                                  event in the ops log around this time.
                              code:
                                readOnly: true
                                type: string
                                description: The opaque diagnostic code.
                              message:
                                readOnly: true
                                type: string
                                description: The human-readable message describing
                                  the condition in detail. Localized in the Accept-Language
                                  of the client request.
                          x-ms-identifiers: []
                          description: A collection of zero or more conditions applicable
                            to the resource, or to the job overall, that warrant customer
                            attention.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the input. This is an
                        opaque string. You can use it to detect whether the resource
                        has changed between requests. You can also use it in the If-Match
                        or If-None-Match headers for write operations for optimistic
                        concurrency.
                    compression:
                      description: Describes how input data is compressed
                      type: object
                      properties:
                        type:
                          description: Indicates the type of compression that the
                            input uses. Required on PUT (CreateOrReplace) requests.
                          type: string
                          enum:
                          - None
                          - GZip
                          - Deflate
                          x-ms-enum:
                            name: CompressionType
                            modelAsString: true
                          default: None
                      required:
                      - type
                    partitionKey:
                      type: string
                      description: partitionKey Describes a key in the input data
                        which is used for partitioning the input data
                  required:
                  - type
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: If the input specified does not already exist, this parameter
          must contain the full input definition intended to be tested. If the input
          specified already exists, this parameter can be left null to test the existing
          input as is or if specified, the properties specified will overwrite the
          corresponding properties in the existing input (exactly like a PATCH operation)
          and the resulting input will be tested.
      responses:
        '200':
          description: The test operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Describes the status of the test operation along with
                  error information, if applicable.
                properties:
                  status:
                    readOnly: true
                    type: string
                    description: The status of the test operation.
                  error:
                    readOnly: true
                    description: Describes the error that occurred.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: Error code associated with the error that occurred.
                      message:
                        readOnly: true
                        type: string
                        description: Describes the error in detail.
        '202':
          description: The test request was successfully initiated.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
components:
  parameters:
    InputNameParameter:
      name: inputName
      in: path
      required: true
      description: The name of the input.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    StreamingJobNameParameter:
      name: jobName
      in: path
      required: true
      description: The name of the streaming job.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Input:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          description: The properties that are associated with an input. Required
            on PUT (CreateOrReplace) requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              type: string
              description: Indicates whether the input is a source of reference data
                or stream data. Required on PUT (CreateOrReplace) requests.
            serialization:
              description: Describes how data from an input is serialized or how data
                is serialized when written to an output. Required on PUT (CreateOrReplace)
                requests.
              type: object
              discriminator:
                propertyName: type
              properties:
                type:
                  description: Indicates the type of serialization that the input
                    or output uses. Required on PUT (CreateOrReplace) requests.
                  type: string
                  enum:
                  - Csv
                  - Avro
                  - Json
                  - Parquet
                  x-ms-enum:
                    name: EventSerializationType
                    modelAsString: true
              required:
              - type
            diagnostics:
              readOnly: true
              description: Describes conditions applicable to the Input, Output, or
                the job overall, that warrant customer attention.
              type: object
              properties:
                conditions:
                  readOnly: true
                  type: array
                  items:
                    type: object
                    description: Condition applicable to the resource, or to the job
                      overall, that warrant customer attention.
                    properties:
                      since:
                        readOnly: true
                        type: string
                        description: The UTC timestamp of when the condition started.
                          Customers should be able to find a corresponding event in
                          the ops log around this time.
                      code:
                        readOnly: true
                        type: string
                        description: The opaque diagnostic code.
                      message:
                        readOnly: true
                        type: string
                        description: The human-readable message describing the condition
                          in detail. Localized in the Accept-Language of the client
                          request.
                  x-ms-identifiers: []
                  description: A collection of zero or more conditions applicable
                    to the resource, or to the job overall, that warrant customer
                    attention.
            etag:
              readOnly: true
              type: string
              description: The current entity tag for the input. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
            compression:
              description: Describes how input data is compressed
              type: object
              properties:
                type:
                  description: Indicates the type of compression that the input uses.
                    Required on PUT (CreateOrReplace) requests.
                  type: string
                  enum:
                  - None
                  - GZip
                  - Deflate
                  x-ms-enum:
                    name: CompressionType
                    modelAsString: true
                  default: None
              required:
              - type
            partitionKey:
              type: string
              description: partitionKey Describes a key in the input data which is
                used for partitioning the input data
          required:
          - type
      description: The base sub-resource model definition.
      x-ms-azure-resource: true
    InputProperties:
      type: object
      description: The properties that are associated with an input.
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Indicates whether the input is a source of reference data or
            stream data. Required on PUT (CreateOrReplace) requests.
        serialization:
          description: Describes how data from an input is serialized or how data
            is serialized when written to an output. Required on PUT (CreateOrReplace)
            requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              description: Indicates the type of serialization that the input or output
                uses. Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - Csv
              - Avro
              - Json
              - Parquet
              x-ms-enum:
                name: EventSerializationType
                modelAsString: true
          required:
          - type
        diagnostics:
          readOnly: true
          description: Describes conditions applicable to the Input, Output, or the
            job overall, that warrant customer attention.
          type: object
          properties:
            conditions:
              readOnly: true
              type: array
              items:
                type: object
                description: Condition applicable to the resource, or to the job overall,
                  that warrant customer attention.
                properties:
                  since:
                    readOnly: true
                    type: string
                    description: The UTC timestamp of when the condition started.
                      Customers should be able to find a corresponding event in the
                      ops log around this time.
                  code:
                    readOnly: true
                    type: string
                    description: The opaque diagnostic code.
                  message:
                    readOnly: true
                    type: string
                    description: The human-readable message describing the condition
                      in detail. Localized in the Accept-Language of the client request.
              x-ms-identifiers: []
              description: A collection of zero or more conditions applicable to the
                resource, or to the job overall, that warrant customer attention.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the input. This is an opaque string.
            You can use it to detect whether the resource has changed between requests.
            You can also use it in the If-Match or If-None-Match headers for write
            operations for optimistic concurrency.
        compression:
          description: Describes how input data is compressed
          type: object
          properties:
            type:
              description: Indicates the type of compression that the input uses.
                Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - None
              - GZip
              - Deflate
              x-ms-enum:
                name: CompressionType
                modelAsString: true
              default: None
          required:
          - type
        partitionKey:
          type: string
          description: partitionKey Describes a key in the input data which is used
            for partitioning the input data
      required:
      - type
    StreamInputProperties:
      type: object
      properties:
        type:
          type: string
          description: Indicates whether the input is a source of reference data or
            stream data. Required on PUT (CreateOrReplace) requests.
        serialization:
          description: Describes how data from an input is serialized or how data
            is serialized when written to an output. Required on PUT (CreateOrReplace)
            requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              description: Indicates the type of serialization that the input or output
                uses. Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - Csv
              - Avro
              - Json
              - Parquet
              x-ms-enum:
                name: EventSerializationType
                modelAsString: true
          required:
          - type
        diagnostics:
          readOnly: true
          description: Describes conditions applicable to the Input, Output, or the
            job overall, that warrant customer attention.
          type: object
          properties:
            conditions:
              readOnly: true
              type: array
              items:
                type: object
                description: Condition applicable to the resource, or to the job overall,
                  that warrant customer attention.
                properties:
                  since:
                    readOnly: true
                    type: string
                    description: The UTC timestamp of when the condition started.
                      Customers should be able to find a corresponding event in the
                      ops log around this time.
                  code:
                    readOnly: true
                    type: string
                    description: The opaque diagnostic code.
                  message:
                    readOnly: true
                    type: string
                    description: The human-readable message describing the condition
                      in detail. Localized in the Accept-Language of the client request.
              x-ms-identifiers: []
              description: A collection of zero or more conditions applicable to the
                resource, or to the job overall, that warrant customer attention.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the input. This is an opaque string.
            You can use it to detect whether the resource has changed between requests.
            You can also use it in the If-Match or If-None-Match headers for write
            operations for optimistic concurrency.
        compression:
          description: Describes how input data is compressed
          type: object
          properties:
            type:
              description: Indicates the type of compression that the input uses.
                Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - None
              - GZip
              - Deflate
              x-ms-enum:
                name: CompressionType
                modelAsString: true
              default: None
          required:
          - type
        partitionKey:
          type: string
          description: partitionKey Describes a key in the input data which is used
            for partitioning the input data
        datasource:
          description: Describes an input data source that contains stream data. Required
            on PUT (CreateOrReplace) requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              type: string
              description: Indicates the type of input data source containing stream
                data. Required on PUT (CreateOrReplace) requests.
          required:
          - type
      required:
      - type
      description: The properties that are associated with an input.
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Stream
    ReferenceInputProperties:
      type: object
      properties:
        type:
          type: string
          description: Indicates whether the input is a source of reference data or
            stream data. Required on PUT (CreateOrReplace) requests.
        serialization:
          description: Describes how data from an input is serialized or how data
            is serialized when written to an output. Required on PUT (CreateOrReplace)
            requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              description: Indicates the type of serialization that the input or output
                uses. Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - Csv
              - Avro
              - Json
              - Parquet
              x-ms-enum:
                name: EventSerializationType
                modelAsString: true
          required:
          - type
        diagnostics:
          readOnly: true
          description: Describes conditions applicable to the Input, Output, or the
            job overall, that warrant customer attention.
          type: object
          properties:
            conditions:
              readOnly: true
              type: array
              items:
                type: object
                description: Condition applicable to the resource, or to the job overall,
                  that warrant customer attention.
                properties:
                  since:
                    readOnly: true
                    type: string
                    description: The UTC timestamp of when the condition started.
                      Customers should be able to find a corresponding event in the
                      ops log around this time.
                  code:
                    readOnly: true
                    type: string
                    description: The opaque diagnostic code.
                  message:
                    readOnly: true
                    type: string
                    description: The human-readable message describing the condition
                      in detail. Localized in the Accept-Language of the client request.
              x-ms-identifiers: []
              description: A collection of zero or more conditions applicable to the
                resource, or to the job overall, that warrant customer attention.
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the input. This is an opaque string.
            You can use it to detect whether the resource has changed between requests.
            You can also use it in the If-Match or If-None-Match headers for write
            operations for optimistic concurrency.
        compression:
          description: Describes how input data is compressed
          type: object
          properties:
            type:
              description: Indicates the type of compression that the input uses.
                Required on PUT (CreateOrReplace) requests.
              type: string
              enum:
              - None
              - GZip
              - Deflate
              x-ms-enum:
                name: CompressionType
                modelAsString: true
              default: None
          required:
          - type
        partitionKey:
          type: string
          description: partitionKey Describes a key in the input data which is used
            for partitioning the input data
        datasource:
          description: Describes an input data source that contains reference data.
            Required on PUT (CreateOrReplace) requests.
          type: object
          discriminator:
            propertyName: type
          properties:
            type:
              type: string
              description: Indicates the type of input data source containing reference
                data. Required on PUT (CreateOrReplace) requests.
          required:
          - type
      required:
      - type
      description: The properties that are associated with an input.
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Reference
    StreamInputDataSource:
      type: object
      description: Describes an input data source that contains stream data.
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Indicates the type of input data source containing stream data.
            Required on PUT (CreateOrReplace) requests.
      required:
      - type
    BlobStreamInputDataSource:
      type: object
      properties:
        type:
          type: string
          description: Indicates the type of input data source containing stream data.
            Required on PUT (CreateOrReplace) requests.
        properties:
          type: object
          properties:
            storageAccounts:
              type: array
              items:
                type: object
                description: The properties that are associated with an Azure Storage
                  account
                properties:
                  accountName:
                    type: string
                    description: The name of the Azure Storage account. Required on
                      PUT (CreateOrReplace) requests.
                  accountKey:
                    type: string
                    description: The account key for the Azure Storage account. Required
                      on PUT (CreateOrReplace) requests.
              x-ms-identifiers:
              - accountName
              description: A list of one or more Azure Storage accounts. Required
                on PUT (CreateOrReplace) requests.
            container:
              type: string
              description: The name of a container within the associated Storage account.
                This container contains either the blob(s) to be read from or written
                to. Required on PUT (CreateOrReplace) requests.
            pathPattern:
              type: string
              description: The blob path pattern. Not a regular expression. It represents
                a pattern against which blob names will be matched to determine whether
                or not they should be included as input or output to the job. See
                https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input
                or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output
                for a more detailed explanation and example.
            dateFormat:
              type: string
              description: The date format. Wherever {date} appears in pathPattern,
                the value of this property is used as the date format instead.
            timeFormat:
              type: string
              description: The time format. Wherever {time} appears in pathPattern,
                the value of this property is used as the time format instead.
            authenticationMode:
              description: Authentication Mode.
              type: string
              enum:
              - Msi
              - UserToken
              - ConnectionString
              x-ms-enum:
                name: AuthenticationMode
                modelAsString: true
              default: ConnectionString
            sourcePartitionCount:
              type: integer
              format: int32
              description: The partition count of the blob input data source. Range
                1 - 1024.
          description: The properties that are associated with a blob data source.
          x-ms-client-flatten: true
      required:
      - type
      description: Describes an input data source that contains stream data.
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Microsoft.Storage/Blob
    BlobStreamInputDataSourceProperties:
      type: object
      properties:
        storageAccounts:
          type: array
          items:
            type: object
            description: The properties that are associated with an Azure Storage
              account
            properties:
              accountName:
                type: string
                description: The name of the Azure Storage account. Required on PUT
                  (CreateOrReplace) requests.
              accountKey:
                type: string
                description: The account key for the Azure Storage account. Required
                  on PUT (CreateOrReplace) requests.
          x-ms-identifiers:
          - accountName
          description: A list of one or more Azure Storage accounts. Required on PUT
            (CreateOrReplace) requests.
        container:
          type: string
          description: The name of a container within the associated Storage account.
            This container contains either the blob(s) to be read from or written
            to. Required on PUT (CreateOrReplace) requests.
        pathPattern:
          type: string
          description: The blob path pattern. Not a regular expression. It represents
            a pattern against which blob names will be matched to determine whether
            or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input
            or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output
            for a more detailed explanation and example.
        dateFormat:
          type: string
          description: The date format. Wherever {date} appears in pathPattern, the
            value of this property is used as the date format instead.
        timeFormat:
          type: string
          description: The time format. Wherever {time} appears in pathPattern, the
            value of this property is used as the time format instead.
        authenticationMode:
          description: Authentication Mode.
          type: string
          enum:
          - Msi
          - UserToken
          - ConnectionString
          x-ms-enum:
            name: AuthenticationMode
            modelAsString: true
          default: ConnectionString
        sourcePartitionCount:
          type: integer
          format: int32
          description: The partition count of the blob input data source. Range 1
            - 1024.
      description: The properties that are associated with a blob data source.
    EventHubStreamInputDataSource:
      type: object
      properties:
        type:
          type: string
          description: Indicates the type of input data source containing stream data.
            Required on PUT (CreateOrReplace) requests.
        properties:
          type: object
          properties:
            serviceBusNamespace:
              type: string
              description: The namespace that is associated with the desired Event
                Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace)
                requests.
            sharedAccessPolicyName:
              type: string
              description: The shared access policy name for the Event Hub, Service
                Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace)
                requests.
            sharedAccessPolicyKey:
              type: string
              description: The shared access policy key for the specified shared access
                policy. Required on PUT (CreateOrReplace) requests.
            authenticationMode:
              description: Authentication Mode.
              type: string
              enum:
              - Msi
              - UserToken
              - ConnectionString
              x-ms-enum:
                name: AuthenticationMode
                modelAsString: true
              default: ConnectionString
            eventHubName:
              type: string
              description: The name of the Event Hub. Required on PUT (CreateOrReplace)
                requests.
            consumerGroupName:
              type: string
              description: "The name of an Event Hub Consumer Group that should be\
                \ used to read events from the Event Hub. Specifying distinct consumer\
                \ group names for multiple inputs allows each of those inputs to receive\
                \ the same events from the Event Hub. If not specified, the input\
                \ uses the Event Hub\u2019s default consumer group."
          description: The common properties that are associated with Service Bus
            data sources (Queues, Topics, Event Hubs, etc.).
          x-ms-client-flatten: true
      required:
      - type
      description: Describes an input data source that contains stream data.
      discriminator:
        propertyName: type
      x-ms-discriminator-value: Microsoft.ServiceBus/EventHub
    EventHubV2StreamInputDataSource:
      type: object
      properties:
        type:
          type: string
          description: Indicates the type of input data source containing stream data.
            Required on PUT (CreateOrReplace) requests.
        properties:
          type: object
          properties:
            serviceBusNamespace:
              type: string
              description: The namespace that is associated with the desired Event
                Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace)
                requests.
            sharedAccessPolicyName:
              type: string
              description: The shared access policy name for the Event Hub, Service
                Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace)
                requests.
            sharedAccessPolicyKey:
              type: string
              description: The shared access policy key for the specified shared access
                policy. Required on PUT (CreateOrReplace) requests.
            authenticationMode:
              description: Authentication Mode.
              type: string
              enum:
              - Msi
              - UserToken
              - ConnectionString
              x-ms-enum:
                name: AuthenticationMode
                modelAsString: true
              default: ConnectionString
            eventHubName:
              type: string
              description: The name of the Event Hub. Required on PUT (CreateOrReplace)
                requests.
            consumerGroupName:
              type: string
              description: "The name of an Event Hub Consumer Group that should be\
                \ used to read events from the Event Hub. Specifying distinct consumer\
                \ group names for multiple inputs allows each of those inputs to receive\
                \ the same events from the Event Hub. If not specified, the input\
[...]
