openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints/{privateEndpointName}
  : put:
      tags:
      - PrivateEndpoints
      description: Creates a Stream Analytics Private Endpoint or replaces an already
        existing Private Endpoint.
      operationId: PrivateEndpoints_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        description: The ETag of the resource. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: Set to '*' to allow a new resource to be created, but to prevent
          updating an existing record set. Other values will result in a 412 Pre-condition
          Failed response.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                properties:
                  x-ms-client-flatten: true
                  description: The properties associated with a private endpoint.
                  type: object
                  properties:
                    createdDate:
                      description: The date when this private endpoint was created.
                      type: string
                      readOnly: true
                    manualPrivateLinkServiceConnections:
                      description: A list of connections to the remote resource. Immutable
                        after it is set.
                      type: array
                      items:
                        type: object
                        description: A grouping of information about the connection
                          to the remote resource.
                        properties:
                          properties:
                            x-ms-client-flatten: true
                            description: Bag of properties defining a privatelinkServiceConnection.
                            type: object
                            properties:
                              privateLinkServiceId:
                                description: The resource id of the private link service.
                                  Required on PUT (CreateOrUpdate) requests.
                                type: string
                              groupIds:
                                description: The ID(s) of the group(s) obtained from
                                  the remote resource that this private endpoint should
                                  connect to. Required on PUT (CreateOrUpdate) requests.
                                type: array
                                items:
                                  type: string
                              requestMessage:
                                description: A message passed to the owner of the
                                  remote resource with this connection request. Restricted
                                  to 140 chars.
                                type: string
                                readOnly: true
                              privateLinkServiceConnectionState:
                                description: A collection of read-only information
                                  about the state of the connection to the private
                                  remote resource.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the remote resource/service.
                                    type: string
                                    readOnly: true
                                  description:
                                    description: The reason for approval/rejection
                                      of the connection.
                                    type: string
                                    readOnly: true
                                  actionsRequired:
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                                    type: string
                                    readOnly: true
                      x-ms-identifiers:
                      - /properties/privateLinkServiceId
                etag:
                  description: Unique opaque string (generally a GUID) that represents
                    the metadata state of the resource (private endpoint) and changes
                    whenever the resource is updated. Required on PUT (CreateOrUpdate)
                    requests.
                  type: string
                  readOnly: true
              description: The base resource definition
              x-ms-azure-resource: true
        description: The definition of the private endpoint that will be used to create
          a new cluster or replace the existing one.
        required: true
      responses:
        '200':
          description: The private endpoint was successfully created or replaced.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a private endpoint.
                    type: object
                    properties:
                      createdDate:
                        description: The date when this private endpoint was created.
                        type: string
                        readOnly: true
                      manualPrivateLinkServiceConnections:
                        description: A list of connections to the remote resource.
                          Immutable after it is set.
                        type: array
                        items:
                          type: object
                          description: A grouping of information about the connection
                            to the remote resource.
                          properties:
                            properties:
                              x-ms-client-flatten: true
                              description: Bag of properties defining a privatelinkServiceConnection.
                              type: object
                              properties:
                                privateLinkServiceId:
                                  description: The resource id of the private link
                                    service. Required on PUT (CreateOrUpdate) requests.
                                  type: string
                                groupIds:
                                  description: The ID(s) of the group(s) obtained
                                    from the remote resource that this private endpoint
                                    should connect to. Required on PUT (CreateOrUpdate)
                                    requests.
                                  type: array
                                  items:
                                    type: string
                                requestMessage:
                                  description: A message passed to the owner of the
                                    remote resource with this connection request.
                                    Restricted to 140 chars.
                                  type: string
                                  readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of read-only information
                                    about the state of the connection to the private
                                    remote resource.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the remote resource/service.
                                      type: string
                                      readOnly: true
                                    description:
                                      description: The reason for approval/rejection
                                        of the connection.
                                      type: string
                                      readOnly: true
                                    actionsRequired:
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                      type: string
                                      readOnly: true
                        x-ms-identifiers:
                        - /properties/privateLinkServiceId
                  etag:
                    description: Unique opaque string (generally a GUID) that represents
                      the metadata state of the resource (private endpoint) and changes
                      whenever the resource is updated. Required on PUT (CreateOrUpdate)
                      requests.
                    type: string
                    readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        '201':
          description: The private endpoint was successfully created or replaced.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a private endpoint.
                    type: object
                    properties:
                      createdDate:
                        description: The date when this private endpoint was created.
                        type: string
                        readOnly: true
                      manualPrivateLinkServiceConnections:
                        description: A list of connections to the remote resource.
                          Immutable after it is set.
                        type: array
                        items:
                          type: object
                          description: A grouping of information about the connection
                            to the remote resource.
                          properties:
                            properties:
                              x-ms-client-flatten: true
                              description: Bag of properties defining a privatelinkServiceConnection.
                              type: object
                              properties:
                                privateLinkServiceId:
                                  description: The resource id of the private link
                                    service. Required on PUT (CreateOrUpdate) requests.
                                  type: string
                                groupIds:
                                  description: The ID(s) of the group(s) obtained
                                    from the remote resource that this private endpoint
                                    should connect to. Required on PUT (CreateOrUpdate)
                                    requests.
                                  type: array
                                  items:
                                    type: string
                                requestMessage:
                                  description: A message passed to the owner of the
                                    remote resource with this connection request.
                                    Restricted to 140 chars.
                                  type: string
                                  readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of read-only information
                                    about the state of the connection to the private
                                    remote resource.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the remote resource/service.
                                      type: string
                                      readOnly: true
                                    description:
                                      description: The reason for approval/rejection
                                        of the connection.
                                      type: string
                                      readOnly: true
                                    actionsRequired:
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                      type: string
                                      readOnly: true
                        x-ms-identifiers:
                        - /properties/privateLinkServiceId
                  etag:
                    description: Unique opaque string (generally a GUID) that represents
                      the metadata state of the resource (private endpoint) and changes
                      whenever the resource is updated. Required on PUT (CreateOrUpdate)
                      requests.
                    type: string
                    readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    get:
      tags:
      - PrivateEndpoints
      description: Gets information about the specified Private Endpoint.
      operationId: PrivateEndpoints_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved the specified private endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties associated with a private endpoint.
                    type: object
                    properties:
                      createdDate:
                        description: The date when this private endpoint was created.
                        type: string
                        readOnly: true
                      manualPrivateLinkServiceConnections:
                        description: A list of connections to the remote resource.
                          Immutable after it is set.
                        type: array
                        items:
                          type: object
                          description: A grouping of information about the connection
                            to the remote resource.
                          properties:
                            properties:
                              x-ms-client-flatten: true
                              description: Bag of properties defining a privatelinkServiceConnection.
                              type: object
                              properties:
                                privateLinkServiceId:
                                  description: The resource id of the private link
                                    service. Required on PUT (CreateOrUpdate) requests.
                                  type: string
                                groupIds:
                                  description: The ID(s) of the group(s) obtained
                                    from the remote resource that this private endpoint
                                    should connect to. Required on PUT (CreateOrUpdate)
                                    requests.
                                  type: array
                                  items:
                                    type: string
                                requestMessage:
                                  description: A message passed to the owner of the
                                    remote resource with this connection request.
                                    Restricted to 140 chars.
                                  type: string
                                  readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of read-only information
                                    about the state of the connection to the private
                                    remote resource.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the remote resource/service.
                                      type: string
                                      readOnly: true
                                    description:
                                      description: The reason for approval/rejection
                                        of the connection.
                                      type: string
                                      readOnly: true
                                    actionsRequired:
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                      type: string
                                      readOnly: true
                        x-ms-identifiers:
                        - /properties/privateLinkServiceId
                  etag:
                    description: Unique opaque string (generally a GUID) that represents
                      the metadata state of the resource (private endpoint) and changes
                      whenever the resource is updated. Required on PUT (CreateOrUpdate)
                      requests.
                    type: string
                    readOnly: true
                description: The base resource definition
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    delete:
      tags:
      - PrivateEndpoints
      description: Delete the specified private endpoint.
      operationId: PrivateEndpoints_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The private endpoint was successfully deleted.
        '202':
          description: The delete request was successfully initiated.
        '204':
          description: The private endpoint does not exist.
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/privateEndpoints
  : get:
      tags:
      - PrivateEndpoints
      description: Lists the private endpoints in the cluster.
      operationId: PrivateEndpoints_ListByCluster
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully listed the private endpoints under the specified
            cluster.
          content:
            application/json:
              schema:
                type: object
                description: A list of private endpoints.
                properties:
                  value:
                    description: A list of private endpoints.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                            or Microsoft.Storage/storageAccounts.
                        properties:
                          x-ms-client-flatten: true
                          description: The properties associated with a private endpoint.
                          type: object
                          properties:
                            createdDate:
                              description: The date when this private endpoint was
                                created.
                              type: string
                              readOnly: true
                            manualPrivateLinkServiceConnections:
                              description: A list of connections to the remote resource.
                                Immutable after it is set.
                              type: array
                              items:
                                type: object
                                description: A grouping of information about the connection
                                  to the remote resource.
                                properties:
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Bag of properties defining a privatelinkServiceConnection.
                                    type: object
                                    properties:
                                      privateLinkServiceId:
                                        description: The resource id of the private
                                          link service. Required on PUT (CreateOrUpdate)
                                          requests.
                                        type: string
                                      groupIds:
                                        description: The ID(s) of the group(s) obtained
                                          from the remote resource that this private
                                          endpoint should connect to. Required on
                                          PUT (CreateOrUpdate) requests.
                                        type: array
                                        items:
                                          type: string
                                      requestMessage:
                                        description: A message passed to the owner
                                          of the remote resource with this connection
                                          request. Restricted to 140 chars.
                                        type: string
                                        readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of read-only information
                                          about the state of the connection to the
                                          private remote resource.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the remote resource/service.
                                            type: string
                                            readOnly: true
                                          description:
                                            description: The reason for approval/rejection
                                              of the connection.
                                            type: string
                                            readOnly: true
                                          actionsRequired:
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                            type: string
                                            readOnly: true
                              x-ms-identifiers:
                              - /properties/privateLinkServiceId
                        etag:
                          description: Unique opaque string (generally a GUID) that
                            represents the metadata state of the resource (private
                            endpoint) and changes whenever the resource is updated.
                            Required on PUT (CreateOrUpdate) requests.
                          type: string
                          readOnly: true
                      description: The base resource definition
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The URL to fetch the next set of private endpoints.
                    type: string
                    readOnly: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    PrivateEndpointNameParameter:
      name: privateEndpointName
      in: path
      required: true
      description: The name of the private endpoint.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    IfMatchHeader:
      name: If-Match
      in: header
      required: false
      description: The ETag of the resource. Omit this value to always overwrite the
        current record set. Specify the last-seen ETag value to prevent accidentally
        overwriting concurrent changes.
      x-ms-parameter-location: method
      schema:
        type: string
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      required: false
      description: Set to '*' to allow a new resource to be created, but to prevent
        updating an existing record set. Other values will result in a 412 Pre-condition
        Failed response.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateEndpoint:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
        properties:
          x-ms-client-flatten: true
          description: The properties associated with a private endpoint.
          type: object
          properties:
            createdDate:
              description: The date when this private endpoint was created.
              type: string
              readOnly: true
            manualPrivateLinkServiceConnections:
              description: A list of connections to the remote resource. Immutable
                after it is set.
              type: array
              items:
                type: object
                description: A grouping of information about the connection to the
                  remote resource.
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: Bag of properties defining a privatelinkServiceConnection.
                    type: object
                    properties:
                      privateLinkServiceId:
                        description: The resource id of the private link service.
                          Required on PUT (CreateOrUpdate) requests.
                        type: string
                      groupIds:
                        description: The ID(s) of the group(s) obtained from the remote
                          resource that this private endpoint should connect to. Required
                          on PUT (CreateOrUpdate) requests.
                        type: array
                        items:
                          type: string
                      requestMessage:
                        description: A message passed to the owner of the remote resource
                          with this connection request. Restricted to 140 chars.
                        type: string
                        readOnly: true
                      privateLinkServiceConnectionState:
                        description: A collection of read-only information about the
                          state of the connection to the private remote resource.
                        type: object
                        properties:
                          status:
                            description: Indicates whether the connection has been
                              Approved/Rejected/Removed by the owner of the remote
                              resource/service.
                            type: string
                            readOnly: true
                          description:
                            description: The reason for approval/rejection of the
                              connection.
                            type: string
                            readOnly: true
                          actionsRequired:
                            description: A message indicating if changes on the service
                              provider require any updates on the consumer.
                            type: string
                            readOnly: true
              x-ms-identifiers:
              - /properties/privateLinkServiceId
        etag:
          description: Unique opaque string (generally a GUID) that represents the
            metadata state of the resource (private endpoint) and changes whenever
            the resource is updated. Required on PUT (CreateOrUpdate) requests.
          type: string
          readOnly: true
      description: The base resource definition
      x-ms-azure-resource: true
    PrivateEndpointProperties:
      type: object
      description: The properties associated with a private endpoint.
      properties:
        createdDate:
          description: The date when this private endpoint was created.
          type: string
          readOnly: true
        manualPrivateLinkServiceConnections:
          description: A list of connections to the remote resource. Immutable after
            it is set.
          type: array
          items:
            type: object
            description: A grouping of information about the connection to the remote
              resource.
            properties:
              properties:
                x-ms-client-flatten: true
                description: Bag of properties defining a privatelinkServiceConnection.
                type: object
                properties:
                  privateLinkServiceId:
                    description: The resource id of the private link service. Required
                      on PUT (CreateOrUpdate) requests.
                    type: string
                  groupIds:
                    description: The ID(s) of the group(s) obtained from the remote
                      resource that this private endpoint should connect to. Required
                      on PUT (CreateOrUpdate) requests.
                    type: array
                    items:
                      type: string
                  requestMessage:
                    description: A message passed to the owner of the remote resource
                      with this connection request. Restricted to 140 chars.
                    type: string
                    readOnly: true
                  privateLinkServiceConnectionState:
                    description: A collection of read-only information about the state
                      of the connection to the private remote resource.
                    type: object
                    properties:
                      status:
                        description: Indicates whether the connection has been Approved/Rejected/Removed
                          by the owner of the remote resource/service.
                        type: string
                        readOnly: true
                      description:
                        description: The reason for approval/rejection of the connection.
                        type: string
                        readOnly: true
                      actionsRequired:
                        description: A message indicating if changes on the service
                          provider require any updates on the consumer.
                        type: string
                        readOnly: true
          x-ms-identifiers:
          - /properties/privateLinkServiceId
    PrivateLinkServiceConnection:
      type: object
      description: A grouping of information about the connection to the remote resource.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Bag of properties defining a privatelinkServiceConnection.
          type: object
          properties:
            privateLinkServiceId:
              description: The resource id of the private link service. Required on
                PUT (CreateOrUpdate) requests.
              type: string
            groupIds:
              description: The ID(s) of the group(s) obtained from the remote resource
                that this private endpoint should connect to. Required on PUT (CreateOrUpdate)
                requests.
              type: array
              items:
                type: string
            requestMessage:
              description: A message passed to the owner of the remote resource with
                this connection request. Restricted to 140 chars.
              type: string
              readOnly: true
            privateLinkServiceConnectionState:
              description: A collection of read-only information about the state of
                the connection to the private remote resource.
              type: object
              properties:
                status:
                  description: Indicates whether the connection has been Approved/Rejected/Removed
                    by the owner of the remote resource/service.
                  type: string
                  readOnly: true
                description:
                  description: The reason for approval/rejection of the connection.
                  type: string
                  readOnly: true
                actionsRequired:
                  description: A message indicating if changes on the service provider
                    require any updates on the consumer.
                  type: string
                  readOnly: true
    PrivateLinkServiceConnectionProperties:
      type: object
      description: Bag of properties defining a privatelinkServiceConnection.
      properties:
        privateLinkServiceId:
          description: The resource id of the private link service. Required on PUT
            (CreateOrUpdate) requests.
          type: string
        groupIds:
          description: The ID(s) of the group(s) obtained from the remote resource
            that this private endpoint should connect to. Required on PUT (CreateOrUpdate)
            requests.
          type: array
          items:
            type: string
        requestMessage:
          description: A message passed to the owner of the remote resource with this
            connection request. Restricted to 140 chars.
          type: string
          readOnly: true
        privateLinkServiceConnectionState:
          description: A collection of read-only information about the state of the
            connection to the private remote resource.
          type: object
          properties:
            status:
              description: Indicates whether the connection has been Approved/Rejected/Removed
                by the owner of the remote resource/service.
              type: string
              readOnly: true
            description:
              description: The reason for approval/rejection of the connection.
              type: string
              readOnly: true
            actionsRequired:
              description: A message indicating if changes on the service provider
                require any updates on the consumer.
              type: string
              readOnly: true
    PrivateLinkConnectionState:
      type: object
      description: A collection of read-only information about the state of the connection
        to the private remote resource.
      properties:
        status:
          description: Indicates whether the connection has been Approved/Rejected/Removed
            by the owner of the remote resource/service.
          type: string
          readOnly: true
        description:
          description: The reason for approval/rejection of the connection.
          type: string
          readOnly: true
        actionsRequired:
          description: A message indicating if changes on the service provider require
            any updates on the consumer.
          type: string
          readOnly: true
    PrivateEndpointListResult:
      type: object
      description: A list of private endpoints.
      properties:
        value:
          description: A list of private endpoints.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                  or Microsoft.Storage/storageAccounts.
              properties:
                x-ms-client-flatten: true
                description: The properties associated with a private endpoint.
                type: object
                properties:
                  createdDate:
                    description: The date when this private endpoint was created.
                    type: string
                    readOnly: true
                  manualPrivateLinkServiceConnections:
                    description: A list of connections to the remote resource. Immutable
                      after it is set.
                    type: array
                    items:
                      type: object
                      description: A grouping of information about the connection
                        to the remote resource.
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: Bag of properties defining a privatelinkServiceConnection.
                          type: object
                          properties:
                            privateLinkServiceId:
                              description: The resource id of the private link service.
                                Required on PUT (CreateOrUpdate) requests.
                              type: string
                            groupIds:
                              description: The ID(s) of the group(s) obtained from
                                the remote resource that this private endpoint should
                                connect to. Required on PUT (CreateOrUpdate) requests.
                              type: array
                              items:
                                type: string
                            requestMessage:
                              description: A message passed to the owner of the remote
                                resource with this connection request. Restricted
                                to 140 chars.
                              type: string
                              readOnly: true
                            privateLinkServiceConnectionState:
                              description: A collection of read-only information about
                                the state of the connection to the private remote
                                resource.
                              type: object
                              properties:
                                status:
                                  description: Indicates whether the connection has
                                    been Approved/Rejected/Removed by the owner of
                                    the remote resource/service.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The reason for approval/rejection of
                                    the connection.
                                  type: string
                                  readOnly: true
                                actionsRequired:
                                  description: A message indicating if changes on
                                    the service provider require any updates on the
                                    consumer.
                                  type: string
                                  readOnly: true
                    x-ms-identifiers:
                    - /properties/privateLinkServiceId
              etag:
                description: Unique opaque string (generally a GUID) that represents
                  the metadata state of the resource (private endpoint) and changes
                  whenever the resource is updated. Required on PUT (CreateOrUpdate)
                  requests.
                type: string
                readOnly: true
            description: The base resource definition
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: The URL to fetch the next set of private endpoints.
          type: string
          readOnly: true
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Error message.
            target:
              type: string
              description: Error target.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code.
                  target:
                    type: string
                    description: Error target.
                  message:
                    type: string
                    description: Error message.
                description: Common error details representation.
              x-ms-identifiers: []
              description: Error details.
          description: Error definition properties.
      description: Common error representation.
    Resource:
      type: object
      description: The base resource definition
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
      description: The base resource definition
      x-ms-azure-resource: true
