openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.StreamAnalytics/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available Stream Analytics related operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully listed the available operations.
          content:
            application/json:
              schema:
                type: object
                description: Result of the request to list Stream Analytics operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    description: List of Stream Analytics operations supported by
                      the Microsoft.StreamAnalytics resource provider.
                    type: array
                    readOnly: true
                    items:
                      description: A Stream Analytics REST API operation
                      type: object
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object.
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          type: object
                          description: Contains the localized display information
                            for this particular operation / action.
                          readOnly: true
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name.
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly form of the resource
                                type related to this action/operation.
                              type: string
                              readOnly: true
                            operation:
                              description: The localized friendly name for the operation.
                              type: string
                              readOnly: true
                            description:
                              description: The localized friendly description for
                                the operation.
                              type: string
                              readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
                    readOnly: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}
  : put:
      tags:
      - StreamingJobs
      operationId: StreamingJobs_CreateOrReplace
      description: Creates a streaming job or replaces an already existing streaming
        job.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the streaming job. Omit this value to always overwrite
          the current record set. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new streaming job to be created, but to
          prevent updating an existing record set. Other values will result in a 412
          Pre-condition Failed response.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: The properties that are associated with a streaming
                    job.  Required on PUT (CreateOrReplace) requests.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    sku:
                      description: Describes the SKU of the streaming job. Required
                        on PUT (CreateOrReplace) requests.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the SKU. Required on PUT (CreateOrReplace)
                            requests.
                          enum:
                          - Standard
                          x-ms-enum:
                            name: SkuName
                            modelAsString: true
                    jobId:
                      readOnly: true
                      type: string
                      description: A GUID uniquely identifying the streaming job.
                        This GUID is generated upon creation of the streaming job.
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Describes the provisioning status of the streaming
                        job.
                    jobState:
                      readOnly: true
                      type: string
                      description: Describes the state of the streaming job.
                    jobType:
                      type: string
                      description: Describes the type of the job. Valid modes are
                        `Cloud` and 'Edge'.
                      enum:
                      - Cloud
                      - Edge
                      x-ms-enum:
                        name: JobType
                        modelAsString: true
                    outputStartMode:
                      description: This property should only be utilized when it is
                        desired that the job be started immediately upon creation.
                        Value may be JobStartTime, CustomTime, or LastOutputEventTime
                        to indicate whether the starting point of the output event
                        stream should start whenever the job is started, start at
                        a custom user time stamp specified via the outputStartTime
                        property, or start from the last event output time.
                      type: string
                      enum:
                      - JobStartTime
                      - CustomTime
                      - LastOutputEventTime
                      x-ms-enum:
                        name: OutputStartMode
                        modelAsString: true
                    outputStartTime:
                      type: string
                      format: date-time
                      description: Value is either an ISO-8601 formatted time stamp
                        that indicates the starting point of the output event stream,
                        or null to indicate that the output event stream will start
                        whenever the streaming job is started. This property must
                        have a value if outputStartMode is set to CustomTime.
                    lastOutputEventTime:
                      readOnly: true
                      type: string
                      format: date-time
                      description: Value is either an ISO-8601 formatted timestamp
                        indicating the last output event time of the streaming job
                        or null indicating that output has not yet been produced.
                        In case of multiple outputs or multiple streams, this shows
                        the latest value in that set.
                    eventsOutOfOrderPolicy:
                      description: Indicates the policy to apply to events that arrive
                        out of order in the input event stream.
                      type: string
                      enum:
                      - Adjust
                      - Drop
                      x-ms-enum:
                        name: EventsOutOfOrderPolicy
                        modelAsString: true
                    outputErrorPolicy:
                      description: Indicates the policy to apply to events that arrive
                        at the output and cannot be written to the external storage
                        due to being malformed (missing column values, column values
                        of wrong type or size).
                      type: string
                      enum:
                      - Stop
                      - Drop
                      x-ms-enum:
                        name: OutputErrorPolicy
                        modelAsString: true
                    eventsOutOfOrderMaxDelayInSeconds:
                      type: integer
                      format: int32
                      description: The maximum tolerable delay in seconds where out-of-order
                        events can be adjusted to be back in order.
                    eventsLateArrivalMaxDelayInSeconds:
                      type: integer
                      format: int32
                      description: The maximum tolerable delay in seconds where events
                        arriving late could be included.  Supported range is -1 to
                        1814399 (20.23:59:59 days) and -1 is used to specify wait
                        indefinitely. If the property is absent, it is interpreted
                        to have a value of -1.
                    dataLocale:
                      type: string
                      description: The data locale of the stream analytics job. Value
                        should be the name of a supported .NET Culture from the set
                        https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx.
                        Defaults to 'en-US' if none specified.
                    compatibilityLevel:
                      description: Controls certain runtime behaviors of the streaming
                        job.
                      type: string
                      enum:
                      - '1.0'
                      - '1.2'
                      x-ms-enum:
                        name: CompatibilityLevel
                        modelAsString: true
                    createdDate:
                      readOnly: true
                      type: string
                      format: date-time
                      description: Value is an ISO-8601 formatted UTC timestamp indicating
                        when the streaming job was created.
                    inputs:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                          name:
                            type: string
                            description: Resource name
                          type:
                            readOnly: true
                            type: string
                            description: Resource type
                          properties:
                            description: The properties that are associated with an
                              input. Required on PUT (CreateOrReplace) requests.
                            type: object
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates whether the input is a source
                                  of reference data or stream data. Required on PUT
                                  (CreateOrReplace) requests.
                              serialization:
                                description: Describes how data from an input is serialized
                                  or how data is serialized when written to an output.
                                  Required on PUT (CreateOrReplace) requests.
                                type: object
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    description: Indicates the type of serialization
                                      that the input or output uses. Required on PUT
                                      (CreateOrReplace) requests.
                                    type: string
                                    enum:
                                    - Csv
                                    - Avro
                                    - Json
                                    - Parquet
                                    x-ms-enum:
                                      name: EventSerializationType
                                      modelAsString: true
                                required:
                                - type
                              diagnostics:
                                readOnly: true
                                description: Describes conditions applicable to the
                                  Input, Output, or the job overall, that warrant
                                  customer attention.
                                type: object
                                properties:
                                  conditions:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: object
                                      description: Condition applicable to the resource,
                                        or to the job overall, that warrant customer
                                        attention.
                                      properties:
                                        since:
                                          readOnly: true
                                          type: string
                                          description: The UTC timestamp of when the
                                            condition started. Customers should be
                                            able to find a corresponding event in
                                            the ops log around this time.
                                        code:
                                          readOnly: true
                                          type: string
                                          description: The opaque diagnostic code.
                                        message:
                                          readOnly: true
                                          type: string
                                          description: The human-readable message
                                            describing the condition in detail. Localized
                                            in the Accept-Language of the client request.
                                    x-ms-identifiers: []
                                    description: A collection of zero or more conditions
                                      applicable to the resource, or to the job overall,
                                      that warrant customer attention.
                              etag:
                                readOnly: true
                                type: string
                                description: The current entity tag for the input.
                                  This is an opaque string. You can use it to detect
                                  whether the resource has changed between requests.
                                  You can also use it in the If-Match or If-None-Match
                                  headers for write operations for optimistic concurrency.
                              compression:
                                description: Describes how input data is compressed
                                type: object
                                properties:
                                  type:
                                    description: Indicates the type of compression
                                      that the input uses. Required on PUT (CreateOrReplace)
                                      requests.
                                    type: string
                                    enum:
                                    - None
                                    - GZip
                                    - Deflate
                                    x-ms-enum:
                                      name: CompressionType
                                      modelAsString: true
                                    default: None
                                required:
                                - type
                              partitionKey:
                                type: string
                                description: partitionKey Describes a key in the input
                                  data which is used for partitioning the input data
                            required:
                            - type
                        description: The base sub-resource model definition.
                        x-ms-azure-resource: true
                      description: A list of one or more inputs to the streaming job.
                        The name property for each input is required when specifying
                        this property in a PUT request. This property cannot be modify
                        via a PATCH operation. You must use the PATCH API available
                        for the individual input.
                    transformation:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        properties:
                          description: The properties that are associated with a transformation.
                            Required on PUT (CreateOrReplace) requests.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            streamingUnits:
                              type: integer
                              format: int32
                              description: Specifies the number of streaming units
                                that the streaming job uses.
                              default: 3
                            validStreamingUnits:
                              type: array
                              items:
                                type: integer
                                format: int32
                                description: Specifies the number of streaming units
                                  that the streaming job can use.
                              description: Specifies the valid streaming units a streaming
                                job can scale to.
                            query:
                              type: string
                              description: 'Specifies the query that will be run in
                                the streaming job. You can learn more about the Stream
                                Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                                . Required on PUT (CreateOrReplace) requests.'
                            etag:
                              readOnly: true
                              type: string
                              description: The current entity tag for the transformation.
                                This is an opaque string. You can use it to detect
                                whether the resource has changed between requests.
                                You can also use it in the If-Match or If-None-Match
                                headers for write operations for optimistic concurrency.
                      description: The base sub-resource model definition.
                      x-ms-azure-resource: true
                    outputs:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                          name:
                            type: string
                            description: Resource name
                          type:
                            readOnly: true
                            type: string
                            description: Resource type
                          properties:
                            description: The properties that are associated with an
                              output. Required on PUT (CreateOrReplace) requests.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              datasource:
                                description: Describes the data source that output
                                  will be written to. Required on PUT (CreateOrReplace)
                                  requests.
                                type: object
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: Indicates the type of data source
                                      output will be written to. Required on PUT (CreateOrReplace)
                                      requests.
                                required:
                                - type
                              timeWindow:
                                type: string
                                description: The time frame for filtering Stream Analytics
                                  job outputs.
                              sizeWindow:
                                type: integer
                                format: int32
                                description: The size window to constrain a Stream
                                  Analytics output to.
                              serialization:
                                description: Describes how data from an input is serialized
                                  or how data is serialized when written to an output.
                                  Required on PUT (CreateOrReplace) requests.
                                type: object
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    description: Indicates the type of serialization
                                      that the input or output uses. Required on PUT
                                      (CreateOrReplace) requests.
                                    type: string
                                    enum:
                                    - Csv
                                    - Avro
                                    - Json
                                    - Parquet
                                    x-ms-enum:
                                      name: EventSerializationType
                                      modelAsString: true
                                required:
                                - type
                              diagnostics:
                                readOnly: true
                                description: Describes conditions applicable to the
                                  Input, Output, or the job overall, that warrant
                                  customer attention.
                                type: object
                                properties:
                                  conditions:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: object
                                      description: Condition applicable to the resource,
                                        or to the job overall, that warrant customer
                                        attention.
                                      properties:
                                        since:
                                          readOnly: true
                                          type: string
                                          description: The UTC timestamp of when the
                                            condition started. Customers should be
                                            able to find a corresponding event in
                                            the ops log around this time.
                                        code:
                                          readOnly: true
                                          type: string
                                          description: The opaque diagnostic code.
                                        message:
                                          readOnly: true
                                          type: string
                                          description: The human-readable message
                                            describing the condition in detail. Localized
                                            in the Accept-Language of the client request.
                                    x-ms-identifiers: []
                                    description: A collection of zero or more conditions
                                      applicable to the resource, or to the job overall,
                                      that warrant customer attention.
                              etag:
                                readOnly: true
                                type: string
                                description: The current entity tag for the output.
                                  This is an opaque string. You can use it to detect
                                  whether the resource has changed between requests.
                                  You can also use it in the If-Match or If-None-Match
                                  headers for write operations for optimistic concurrency.
                        description: The base sub-resource model definition.
                        x-ms-azure-resource: true
                      description: A list of one or more outputs for the streaming
                        job. The name property for each output is required when specifying
                        this property in a PUT request. This property cannot be modify
                        via a PATCH operation. You must use the PATCH API available
                        for the individual output.
                    functions:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                          name:
                            type: string
                            description: Resource name
                          type:
                            readOnly: true
                            type: string
                            description: Resource type
                          properties:
                            description: The properties that are associated with a
                              function.
                            type: object
                            discriminator:
                              propertyName: type
                            properties:
                              type:
                                type: string
                                description: Indicates the type of function.
                              etag:
                                readOnly: true
                                type: string
                                description: The current entity tag for the function.
                                  This is an opaque string. You can use it to detect
                                  whether the resource has changed between requests.
                                  You can also use it in the If-Match or If-None-Match
                                  headers for write operations for optimistic concurrency.
                              properties:
                                x-ms-client-flatten: true
                                type: object
                                properties:
                                  inputs:
                                    type: array
                                    items:
                                      type: object
                                      description: Describes one input parameter of
                                        a function.
                                      properties:
                                        dataType:
                                          type: string
                                          description: The (Azure Stream Analytics
                                            supported) data type of the function input
                                            parameter. A list of valid Azure Stream
                                            Analytics data types are described at
                                            https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                        isConfigurationParameter:
                                          type: boolean
                                          description: A flag indicating if the parameter
                                            is a configuration parameter. True if
                                            this input parameter is expected to be
                                            a constant. Default is false.
                                  output:
                                    type: object
                                    description: Describes the output of a function.
                                    properties:
                                      dataType:
                                        type: string
                                        description: The (Azure Stream Analytics supported)
                                          data type of the function output. A list
                                          of valid Azure Stream Analytics data types
                                          are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                  binding:
                                    type: object
                                    description: "The physical binding of the function.\
                                      \ For example, in the Azure Machine Learning\
                                      \ web service\u2019s case, this describes the\
                                      \ endpoint."
                                    discriminator:
                                      propertyName: type
                                    properties:
                                      type:
                                        type: string
                                        description: Indicates the function binding
                                          type.
                                    required:
                                    - type
                            required:
                            - type
                        description: The base sub-resource model definition.
                        x-ms-azure-resource: true
                      description: A list of one or more functions for the streaming
                        job. The name property for each function is required when
                        specifying this property in a PUT request. This property cannot
                        be modify via a PATCH operation. You must use the PATCH API
                        available for the individual transformation.
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the streaming job. This
                        is an opaque string. You can use it to detect whether the
                        resource has changed between requests. You can also use it
                        in the If-Match or If-None-Match headers for write operations
                        for optimistic concurrency.
                    jobStorageAccount:
                      type: object
                      properties:
                        accountName:
                          type: string
                          description: The name of the Azure Storage account. Required
                            on PUT (CreateOrReplace) requests.
                        accountKey:
                          type: string
                          description: The account key for the Azure Storage account.
                            Required on PUT (CreateOrReplace) requests.
                        authenticationMode:
                          description: Authentication Mode.
                          type: string
                          enum:
                          - Msi
                          - UserToken
                          - ConnectionString
                          x-ms-enum:
                            name: AuthenticationMode
                            modelAsString: true
                          default: ConnectionString
                      description: The properties that are associated with an Azure
                        Storage account
                    contentStoragePolicy:
                      readOnly: false
                      type: string
                      description: Valid values are JobStorageAccount and SystemAccount.
                        If set to JobStorageAccount, this requires the user to also
                        specify jobStorageAccount property. .
                      enum:
                      - SystemAccount
                      - JobStorageAccount
                      x-ms-enum:
                        name: ContentStoragePolicy
                        modelAsString: true
                    cluster:
                      description: The cluster which streaming jobs will run on.
                      type: object
                      properties:
                        id:
                          description: The resource id of cluster.
                          type: string
                identity:
                  description: Describes the system-assigned managed identity assigned
                    to this job that can be used to authenticate with inputs and outputs.
                  type: object
                  properties:
                    tenantId:
                      type: string
                      description: The identity tenantId
                      readOnly: true
                    principalId:
                      type: string
                      description: The identity principal ID
                      readOnly: true
                    type:
                      type: string
                      description: The identity type
              description: The base resource definition
              x-ms-azure-resource: true
        description: The definition of the streaming job that will be used to create
          a new streaming job or replace the existing one.
        required: true
      responses:
        '200':
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an
                opaque string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: The properties that are associated with a streaming
                      job.  Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      sku:
                        description: Describes the SKU of the streaming job. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the SKU. Required on PUT (CreateOrReplace)
                              requests.
                            enum:
                            - Standard
                            x-ms-enum:
                              name: SkuName
                              modelAsString: true
                      jobId:
                        readOnly: true
                        type: string
                        description: A GUID uniquely identifying the streaming job.
                          This GUID is generated upon creation of the streaming job.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Describes the provisioning status of the streaming
                          job.
                      jobState:
                        readOnly: true
                        type: string
                        description: Describes the state of the streaming job.
                      jobType:
                        type: string
                        description: Describes the type of the job. Valid modes are
                          `Cloud` and 'Edge'.
                        enum:
                        - Cloud
                        - Edge
                        x-ms-enum:
                          name: JobType
                          modelAsString: true
                      outputStartMode:
                        description: This property should only be utilized when it
                          is desired that the job be started immediately upon creation.
                          Value may be JobStartTime, CustomTime, or LastOutputEventTime
                          to indicate whether the starting point of the output event
                          stream should start whenever the job is started, start at
                          a custom user time stamp specified via the outputStartTime
                          property, or start from the last event output time.
                        type: string
                        enum:
                        - JobStartTime
                        - CustomTime
                        - LastOutputEventTime
                        x-ms-enum:
                          name: OutputStartMode
                          modelAsString: true
                      outputStartTime:
                        type: string
                        format: date-time
                        description: Value is either an ISO-8601 formatted time stamp
                          that indicates the starting point of the output event stream,
                          or null to indicate that the output event stream will start
                          whenever the streaming job is started. This property must
                          have a value if outputStartMode is set to CustomTime.
                      lastOutputEventTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Value is either an ISO-8601 formatted timestamp
                          indicating the last output event time of the streaming job
                          or null indicating that output has not yet been produced.
                          In case of multiple outputs or multiple streams, this shows
                          the latest value in that set.
                      eventsOutOfOrderPolicy:
                        description: Indicates the policy to apply to events that
                          arrive out of order in the input event stream.
                        type: string
                        enum:
                        - Adjust
                        - Drop
                        x-ms-enum:
                          name: EventsOutOfOrderPolicy
                          modelAsString: true
                      outputErrorPolicy:
                        description: Indicates the policy to apply to events that
                          arrive at the output and cannot be written to the external
                          storage due to being malformed (missing column values, column
                          values of wrong type or size).
                        type: string
                        enum:
                        - Stop
                        - Drop
                        x-ms-enum:
                          name: OutputErrorPolicy
                          modelAsString: true
                      eventsOutOfOrderMaxDelayInSeconds:
                        type: integer
                        format: int32
                        description: The maximum tolerable delay in seconds where
                          out-of-order events can be adjusted to be back in order.
                      eventsLateArrivalMaxDelayInSeconds:
                        type: integer
                        format: int32
                        description: The maximum tolerable delay in seconds where
                          events arriving late could be included.  Supported range
                          is -1 to 1814399 (20.23:59:59 days) and -1 is used to specify
                          wait indefinitely. If the property is absent, it is interpreted
                          to have a value of -1.
                      dataLocale:
                        type: string
                        description: The data locale of the stream analytics job.
                          Value should be the name of a supported .NET Culture from
                          the set https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx.
                          Defaults to 'en-US' if none specified.
                      compatibilityLevel:
                        description: Controls certain runtime behaviors of the streaming
                          job.
                        type: string
                        enum:
                        - '1.0'
                        - '1.2'
                        x-ms-enum:
                          name: CompatibilityLevel
                          modelAsString: true
                      createdDate:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Value is an ISO-8601 formatted UTC timestamp
                          indicating when the streaming job was created.
                      inputs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                            name:
                              type: string
                              description: Resource name
                            type:
                              readOnly: true
                              type: string
                              description: Resource type
                            properties:
                              description: The properties that are associated with
                                an input. Required on PUT (CreateOrReplace) requests.
                              type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: Indicates whether the input is a source
                                    of reference data or stream data. Required on
                                    PUT (CreateOrReplace) requests.
                                serialization:
                                  description: Describes how data from an input is
                                    serialized or how data is serialized when written
                                    to an output. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: object
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      description: Indicates the type of serialization
                                        that the input or output uses. Required on
                                        PUT (CreateOrReplace) requests.
                                      type: string
                                      enum:
                                      - Csv
                                      - Avro
                                      - Json
                                      - Parquet
                                      x-ms-enum:
                                        name: EventSerializationType
                                        modelAsString: true
                                  required:
                                  - type
                                diagnostics:
                                  readOnly: true
                                  description: Describes conditions applicable to
                                    the Input, Output, or the job overall, that warrant
                                    customer attention.
                                  type: object
                                  properties:
                                    conditions:
                                      readOnly: true
                                      type: array
                                      items:
                                        type: object
                                        description: Condition applicable to the resource,
                                          or to the job overall, that warrant customer
                                          attention.
                                        properties:
                                          since:
                                            readOnly: true
                                            type: string
                                            description: The UTC timestamp of when
                                              the condition started. Customers should
                                              be able to find a corresponding event
                                              in the ops log around this time.
                                          code:
                                            readOnly: true
                                            type: string
                                            description: The opaque diagnostic code.
                                          message:
                                            readOnly: true
                                            type: string
                                            description: The human-readable message
                                              describing the condition in detail.
                                              Localized in the Accept-Language of
                                              the client request.
                                      x-ms-identifiers: []
                                      description: A collection of zero or more conditions
                                        applicable to the resource, or to the job
                                        overall, that warrant customer attention.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: The current entity tag for the input.
                                    This is an opaque string. You can use it to detect
                                    whether the resource has changed between requests.
                                    You can also use it in the If-Match or If-None-Match
                                    headers for write operations for optimistic concurrency.
                                compression:
                                  description: Describes how input data is compressed
                                  type: object
                                  properties:
                                    type:
                                      description: Indicates the type of compression
                                        that the input uses. Required on PUT (CreateOrReplace)
                                        requests.
                                      type: string
                                      enum:
                                      - None
                                      - GZip
                                      - Deflate
                                      x-ms-enum:
                                        name: CompressionType
                                        modelAsString: true
                                      default: None
                                  required:
                                  - type
                                partitionKey:
                                  type: string
                                  description: partitionKey Describes a key in the
                                    input data which is used for partitioning the
                                    input data
                              required:
                              - type
                          description: The base sub-resource model definition.
                          x-ms-azure-resource: true
                        description: A list of one or more inputs to the streaming
                          job. The name property for each input is required when specifying
                          this property in a PUT request. This property cannot be
                          modify via a PATCH operation. You must use the PATCH API
                          available for the individual input.
                      transformation:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                          name:
                            type: string
                            description: Resource name
                          type:
                            readOnly: true
                            type: string
                            description: Resource type
                          properties:
                            description: The properties that are associated with a
                              transformation. Required on PUT (CreateOrReplace) requests.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              streamingUnits:
                                type: integer
                                format: int32
                                description: Specifies the number of streaming units
                                  that the streaming job uses.
                                default: 3
                              validStreamingUnits:
                                type: array
                                items:
                                  type: integer
                                  format: int32
                                  description: Specifies the number of streaming units
                                    that the streaming job can use.
                                description: Specifies the valid streaming units a
                                  streaming job can scale to.
                              query:
                                type: string
                                description: 'Specifies the query that will be run
                                  in the streaming job. You can learn more about the
                                  Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                                  . Required on PUT (CreateOrReplace) requests.'
                              etag:
                                readOnly: true
                                type: string
                                description: The current entity tag for the transformation.
                                  This is an opaque string. You can use it to detect
                                  whether the resource has changed between requests.
                                  You can also use it in the If-Match or If-None-Match
                                  headers for write operations for optimistic concurrency.
                        description: The base sub-resource model definition.
                        x-ms-azure-resource: true
                      outputs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                            name:
                              type: string
                              description: Resource name
                            type:
                              readOnly: true
                              type: string
                              description: Resource type
                            properties:
                              description: The properties that are associated with
                                an output. Required on PUT (CreateOrReplace) requests.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                datasource:
                                  description: Describes the data source that output
                                    will be written to. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: object
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      type: string
                                      description: Indicates the type of data source
                                        output will be written to. Required on PUT
                                        (CreateOrReplace) requests.
                                  required:
                                  - type
                                timeWindow:
                                  type: string
                                  description: The time frame for filtering Stream
                                    Analytics job outputs.
                                sizeWindow:
                                  type: integer
                                  format: int32
                                  description: The size window to constrain a Stream
                                    Analytics output to.
                                serialization:
                                  description: Describes how data from an input is
                                    serialized or how data is serialized when written
                                    to an output. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: object
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      description: Indicates the type of serialization
                                        that the input or output uses. Required on
                                        PUT (CreateOrReplace) requests.
                                      type: string
                                      enum:
                                      - Csv
                                      - Avro
                                      - Json
                                      - Parquet
                                      x-ms-enum:
                                        name: EventSerializationType
                                        modelAsString: true
                                  required:
                                  - type
                                diagnostics:
                                  readOnly: true
                                  description: Describes conditions applicable to
                                    the Input, Output, or the job overall, that warrant
                                    customer attention.
                                  type: object
                                  properties:
                                    conditions:
                                      readOnly: true
                                      type: array
                                      items:
                                        type: object
                                        description: Condition applicable to the resource,
                                          or to the job overall, that warrant customer
                                          attention.
                                        properties:
                                          since:
                                            readOnly: true
                                            type: string
                                            description: The UTC timestamp of when
                                              the condition started. Customers should
                                              be able to find a corresponding event
                                              in the ops log around this time.
                                          code:
                                            readOnly: true
                                            type: string
                                            description: The opaque diagnostic code.
                                          message:
                                            readOnly: true
                                            type: string
                                            description: The human-readable message
                                              describing the condition in detail.
                                              Localized in the Accept-Language of
                                              the client request.
                                      x-ms-identifiers: []
                                      description: A collection of zero or more conditions
                                        applicable to the resource, or to the job
                                        overall, that warrant customer attention.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: The current entity tag for the output.
                                    This is an opaque string. You can use it to detect
                                    whether the resource has changed between requests.
                                    You can also use it in the If-Match or If-None-Match
                                    headers for write operations for optimistic concurrency.
                          description: The base sub-resource model definition.
                          x-ms-azure-resource: true
                        description: A list of one or more outputs for the streaming
                          job. The name property for each output is required when
                          specifying this property in a PUT request. This property
                          cannot be modify via a PATCH operation. You must use the
                          PATCH API available for the individual output.
                      functions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                            name:
                              type: string
                              description: Resource name
                            type:
                              readOnly: true
                              type: string
                              description: Resource type
                            properties:
                              description: The properties that are associated with
                                a function.
                              type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: Indicates the type of function.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: The current entity tag for the function.
                                    This is an opaque string. You can use it to detect
                                    whether the resource has changed between requests.
                                    You can also use it in the If-Match or If-None-Match
                                    headers for write operations for optimistic concurrency.
                                properties:
                                  x-ms-client-flatten: true
                                  type: object
                                  properties:
                                    inputs:
                                      type: array
                                      items:
                                        type: object
                                        description: Describes one input parameter
                                          of a function.
                                        properties:
                                          dataType:
                                            type: string
                                            description: The (Azure Stream Analytics
                                              supported) data type of the function
                                              input parameter. A list of valid Azure
                                              Stream Analytics data types are described
                                              at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                          isConfigurationParameter:
                                            type: boolean
                                            description: A flag indicating if the
                                              parameter is a configuration parameter.
                                              True if this input parameter is expected
                                              to be a constant. Default is false.
                                    output:
                                      type: object
                                      description: Describes the output of a function.
                                      properties:
                                        dataType:
                                          type: string
                                          description: The (Azure Stream Analytics
                                            supported) data type of the function output.
                                            A list of valid Azure Stream Analytics
                                            data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
                                    binding:
                                      type: object
                                      description: "The physical binding of the function.\
                                        \ For example, in the Azure Machine Learning\
                                        \ web service\u2019s case, this describes\
                                        \ the endpoint."
                                      discriminator:
                                        propertyName: type
                                      properties:
                                        type:
                                          type: string
                                          description: Indicates the function binding
                                            type.
                                      required:
                                      - type
                              required:
                              - type
                          description: The base sub-resource model definition.
                          x-ms-azure-resource: true
                        description: A list of one or more functions for the streaming
                          job. The name property for each function is required when
                          specifying this property in a PUT request. This property
                          cannot be modify via a PATCH operation. You must use the
                          PATCH API available for the individual transformation.
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the streaming job.
                          This is an opaque string. You can use it to detect whether
                          the resource has changed between requests. You can also
                          use it in the If-Match or If-None-Match headers for write
                          operations for optimistic concurrency.
                      jobStorageAccount:
                        type: object
                        properties:
                          accountName:
                            type: string
                            description: The name of the Azure Storage account. Required
                              on PUT (CreateOrReplace) requests.
                          accountKey:
                            type: string
                            description: The account key for the Azure Storage account.
                              Required on PUT (CreateOrReplace) requests.
                          authenticationMode:
                            description: Authentication Mode.
                            type: string
                            enum:
                            - Msi
                            - UserToken
                            - ConnectionString
                            x-ms-enum:
                              name: AuthenticationMode
                              modelAsString: true
                            default: ConnectionString
                        description: The properties that are associated with an Azure
                          Storage account
                      contentStoragePolicy:
                        readOnly: false
                        type: string
                        description: Valid values are JobStorageAccount and SystemAccount.
                          If set to JobStorageAccount, this requires the user to also
                          specify jobStorageAccount property. .
                        enum:
                        - SystemAccount
                        - JobStorageAccount
                        x-ms-enum:
                          name: ContentStoragePolicy
                          modelAsString: true
                      cluster:
                        description: The cluster which streaming jobs will run on.
                        type: object
                        properties:
                          id:
                            description: The resource id of cluster.
                            type: string
                  identity:
                    description: Describes the system-assigned managed identity assigned
                      to this job that can be used to authenticate with inputs and
                      outputs.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The identity tenantId
                        readOnly: true
                      principalId:
                        type: string
                        description: The identity principal ID
                        readOnly: true
                      type:
                        type: string
                        description: The identity type
                description: The base resource definition
                x-ms-azure-resource: true
        '201':
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an
                opaque string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: The properties that are associated with a streaming
                      job.  Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      sku:
                        description: Describes the SKU of the streaming job. Required
                          on PUT (CreateOrReplace) requests.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the SKU. Required on PUT (CreateOrReplace)
                              requests.
                            enum:
                            - Standard
                            x-ms-enum:
                              name: SkuName
                              modelAsString: true
                      jobId:
                        readOnly: true
                        type: string
                        description: A GUID uniquely identifying the streaming job.
                          This GUID is generated upon creation of the streaming job.
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Describes the provisioning status of the streaming
                          job.
                      jobState:
                        readOnly: true
                        type: string
                        description: Describes the state of the streaming job.
                      jobType:
                        type: string
                        description: Describes the type of the job. Valid modes are
                          `Cloud` and 'Edge'.
                        enum:
                        - Cloud
                        - Edge
                        x-ms-enum:
                          name: JobType
                          modelAsString: true
                      outputStartMode:
                        description: This property should only be utilized when it
                          is desired that the job be started immediately upon creation.
                          Value may be JobStartTime, CustomTime, or LastOutputEventTime
                          to indicate whether the starting point of the output event
                          stream should start whenever the job is started, start at
                          a custom user time stamp specified via the outputStartTime
                          property, or start from the last event output time.
                        type: string
                        enum:
                        - JobStartTime
                        - CustomTime
                        - LastOutputEventTime
                        x-ms-enum:
                          name: OutputStartMode
                          modelAsString: true
                      outputStartTime:
                        type: string
                        format: date-time
                        description: Value is either an ISO-8601 formatted time stamp
                          that indicates the starting point of the output event stream,
                          or null to indicate that the output event stream will start
                          whenever the streaming job is started. This property must
                          have a value if outputStartMode is set to CustomTime.
                      lastOutputEventTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Value is either an ISO-8601 formatted timestamp
                          indicating the last output event time of the streaming job
                          or null indicating that output has not yet been produced.
                          In case of multiple outputs or multiple streams, this shows
                          the latest value in that set.
                      eventsOutOfOrderPolicy:
                        description: Indicates the policy to apply to events that
                          arrive out of order in the input event stream.
                        type: string
                        enum:
                        - Adjust
                        - Drop
                        x-ms-enum:
                          name: EventsOutOfOrderPolicy
                          modelAsString: true
                      outputErrorPolicy:
                        description: Indicates the policy to apply to events that
                          arrive at the output and cannot be written to the external
                          storage due to being malformed (missing column values, column
                          values of wrong type or size).
                        type: string
                        enum:
                        - Stop
                        - Drop
                        x-ms-enum:
                          name: OutputErrorPolicy
                          modelAsString: true
                      eventsOutOfOrderMaxDelayInSeconds:
                        type: integer
                        format: int32
                        description: The maximum tolerable delay in seconds where
                          out-of-order events can be adjusted to be back in order.
                      eventsLateArrivalMaxDelayInSeconds:
                        type: integer
                        format: int32
                        description: The maximum tolerable delay in seconds where
                          events arriving late could be included.  Supported range
                          is -1 to 1814399 (20.23:59:59 days) and -1 is used to specify
                          wait indefinitely. If the property is absent, it is interpreted
                          to have a value of -1.
                      dataLocale:
                        type: string
                        description: The data locale of the stream analytics job.
                          Value should be the name of a supported .NET Culture from
                          the set https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx.
                          Defaults to 'en-US' if none specified.
                      compatibilityLevel:
                        description: Controls certain runtime behaviors of the streaming
                          job.
                        type: string
                        enum:
                        - '1.0'
                        - '1.2'
                        x-ms-enum:
                          name: CompatibilityLevel
                          modelAsString: true
                      createdDate:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Value is an ISO-8601 formatted UTC timestamp
                          indicating when the streaming job was created.
                      inputs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                            name:
                              type: string
                              description: Resource name
                            type:
                              readOnly: true
                              type: string
                              description: Resource type
                            properties:
                              description: The properties that are associated with
                                an input. Required on PUT (CreateOrReplace) requests.
                              type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: Indicates whether the input is a source
                                    of reference data or stream data. Required on
                                    PUT (CreateOrReplace) requests.
                                serialization:
                                  description: Describes how data from an input is
                                    serialized or how data is serialized when written
                                    to an output. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: object
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      description: Indicates the type of serialization
                                        that the input or output uses. Required on
                                        PUT (CreateOrReplace) requests.
                                      type: string
                                      enum:
                                      - Csv
                                      - Avro
                                      - Json
                                      - Parquet
                                      x-ms-enum:
                                        name: EventSerializationType
                                        modelAsString: true
                                  required:
                                  - type
                                diagnostics:
                                  readOnly: true
                                  description: Describes conditions applicable to
                                    the Input, Output, or the job overall, that warrant
                                    customer attention.
                                  type: object
                                  properties:
                                    conditions:
                                      readOnly: true
                                      type: array
                                      items:
                                        type: object
                                        description: Condition applicable to the resource,
                                          or to the job overall, that warrant customer
                                          attention.
                                        properties:
                                          since:
                                            readOnly: true
                                            type: string
                                            description: The UTC timestamp of when
                                              the condition started. Customers should
                                              be able to find a corresponding event
                                              in the ops log around this time.
                                          code:
                                            readOnly: true
                                            type: string
                                            description: The opaque diagnostic code.
                                          message:
                                            readOnly: true
                                            type: string
                                            description: The human-readable message
                                              describing the condition in detail.
                                              Localized in the Accept-Language of
                                              the client request.
                                      x-ms-identifiers: []
                                      description: A collection of zero or more conditions
                                        applicable to the resource, or to the job
                                        overall, that warrant customer attention.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: The current entity tag for the input.
                                    This is an opaque string. You can use it to detect
                                    whether the resource has changed between requests.
                                    You can also use it in the If-Match or If-None-Match
                                    headers for write operations for optimistic concurrency.
                                compression:
                                  description: Describes how input data is compressed
                                  type: object
                                  properties:
                                    type:
                                      description: Indicates the type of compression
                                        that the input uses. Required on PUT (CreateOrReplace)
                                        requests.
                                      type: string
                                      enum:
                                      - None
                                      - GZip
                                      - Deflate
                                      x-ms-enum:
                                        name: CompressionType
                                        modelAsString: true
                                      default: None
                                  required:
                                  - type
                                partitionKey:
                                  type: string
                                  description: partitionKey Describes a key in the
                                    input data which is used for partitioning the
                                    input data
                              required:
                              - type
                          description: The base sub-resource model definition.
                          x-ms-azure-resource: true
                        description: A list of one or more inputs to the streaming
                          job. The name property for each input is required when specifying
                          this property in a PUT request. This property cannot be
                          modify via a PATCH operation. You must use the PATCH API
                          available for the individual input.
                      transformation:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Resource Id
                          name:
                            type: string
                            description: Resource name
                          type:
                            readOnly: true
                            type: string
                            description: Resource type
                          properties:
                            description: The properties that are associated with a
                              transformation. Required on PUT (CreateOrReplace) requests.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              streamingUnits:
                                type: integer
                                format: int32
                                description: Specifies the number of streaming units
                                  that the streaming job uses.
                                default: 3
                              validStreamingUnits:
                                type: array
                                items:
                                  type: integer
                                  format: int32
                                  description: Specifies the number of streaming units
                                    that the streaming job can use.
                                description: Specifies the valid streaming units a
                                  streaming job can scale to.
                              query:
                                type: string
                                description: 'Specifies the query that will be run
                                  in the streaming job. You can learn more about the
                                  Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                                  . Required on PUT (CreateOrReplace) requests.'
                              etag:
                                readOnly: true
                                type: string
                                description: The current entity tag for the transformation.
                                  This is an opaque string. You can use it to detect
                                  whether the resource has changed between requests.
                                  You can also use it in the If-Match or If-None-Match
                                  headers for write operations for optimistic concurrency.
                        description: The base sub-resource model definition.
                        x-ms-azure-resource: true
                      outputs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Resource Id
                            name:
                              type: string
                              description: Resource name
                            type:
                              readOnly: true
                              type: string
                              description: Resource type
                            properties:
                              description: The properties that are associated with
                                an output. Required on PUT (CreateOrReplace) requests.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                datasource:
                                  description: Describes the data source that output
                                    will be written to. Required on PUT (CreateOrReplace)
                                    requests.
                                  type: object
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      type: string
                                      description: Indicates the type of data source
                                        output will be written to. Required on PUT
                                        (CreateOrReplace) requests.
                                  required:
                                  - type
                                timeWindow:
                                  type: string
                                  description: The time frame for filtering Stream
                                    Analytics job outputs.
                                sizeWindow:
                                  type: integer
                                  format: int32
                                  description: The size window to constrain a Stream
                                    Analytics output to.
                                serialization:
[...]
