openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas:
    get:
      tags:
      - Subscriptions
      operationId: Subscriptions_ListQuotas
      description: Retrieves the subscription's current quota information in a particular
        region.
      parameters:
      - name: location
        in: path
        required: true
        description: 'The region in which to retrieve the subscription''s quota information.
          You can find out which regions Azure Stream Analytics is supported in here:
          https://azure.microsoft.com/en-us/regions/'
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved the subscription's quota information
            in the specified region.
          content:
            application/json:
              schema:
                type: object
                description: Result of the GetQuotas operation. It contains a list
                  of quotas for the subscription in a particular region.
                properties:
                  value:
                    description: List of quotas for the subscription in a particular
                      region.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        properties:
                          description: Describes the properties of the quota.
                          readOnly: true
                          properties:
                            maxCount:
                              description: The max permitted usage of this resource.
                              type: integer
                              format: int32
                              readOnly: true
                            currentCount:
                              description: The current usage of this resource.
                              type: integer
                              format: int32
                              readOnly: true
                          x-ms-client-flatten: true
                      description: The base sub-resource model definition.
                      x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SubscriptionQuotasListResult:
      type: object
      description: Result of the GetQuotas operation. It contains a list of quotas
        for the subscription in a particular region.
      properties:
        value:
          description: List of quotas for the subscription in a particular region.
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource Id
              name:
                type: string
                description: Resource name
              type:
                readOnly: true
                type: string
                description: Resource type
              properties:
                description: Describes the properties of the quota.
                readOnly: true
                properties:
                  maxCount:
                    description: The max permitted usage of this resource.
                    type: integer
                    format: int32
                    readOnly: true
                  currentCount:
                    description: The current usage of this resource.
                    type: integer
                    format: int32
                    readOnly: true
                x-ms-client-flatten: true
            description: The base sub-resource model definition.
            x-ms-azure-resource: true
    SubscriptionQuota:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          description: Describes the properties of the quota.
          readOnly: true
          properties:
            maxCount:
              description: The max permitted usage of this resource.
              type: integer
              format: int32
              readOnly: true
            currentCount:
              description: The current usage of this resource.
              type: integer
              format: int32
              readOnly: true
          x-ms-client-flatten: true
      description: The base sub-resource model definition.
      x-ms-azure-resource: true
    SubResource:
      type: object
      description: The base sub-resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Error message.
            target:
              type: string
              description: Error target.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code.
                  target:
                    type: string
                    description: Error target.
                  message:
                    type: string
                    description: Error message.
                description: Common error details representation.
              x-ms-identifiers: []
              description: Error details.
          description: Error definition properties.
      description: Common error representation.
