openapi: 3.0.0
info:
  title: StreamAnalyticsManagementClient
  version: 2020-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/transformations/{transformationName}
  : put:
      tags:
      - Transformations
      operationId: Transformations_CreateOrReplace
      description: Creates a transformation or replaces an already existing transformation
        under an existing streaming job.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the transformation. Omit this value to always overwrite
          the current transformation. Specify the last-seen ETag value to prevent
          accidentally overwriting concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new transformation to be created, but to
          prevent updating an existing transformation. Other values will result in
          a 412 Pre-condition Failed response.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: transformationName
        in: path
        required: true
        description: The name of the transformation.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with a transformation.
                    Required on PUT (CreateOrReplace) requests.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    streamingUnits:
                      type: integer
                      format: int32
                      description: Specifies the number of streaming units that the
                        streaming job uses.
                      default: 3
                    validStreamingUnits:
                      type: array
                      items:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job can use.
                      description: Specifies the valid streaming units a streaming
                        job can scale to.
                    query:
                      type: string
                      description: 'Specifies the query that will be run in the streaming
                        job. You can learn more about the Stream Analytics Query Language
                        (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                        . Required on PUT (CreateOrReplace) requests.'
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the transformation.
                        This is an opaque string. You can use it to detect whether
                        the resource has changed between requests. You can also use
                        it in the If-Match or If-None-Match headers for write operations
                        for optimistic concurrency.
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: The definition of the transformation that will be used to create
          a new transformation or replace the existing one under the streaming job.
        required: true
      responses:
        '200':
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a transformation.
                      Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      streamingUnits:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job uses.
                        default: 3
                      validStreamingUnits:
                        type: array
                        items:
                          type: integer
                          format: int32
                          description: Specifies the number of streaming units that
                            the streaming job can use.
                        description: Specifies the valid streaming units a streaming
                          job can scale to.
                      query:
                        type: string
                        description: 'Specifies the query that will be run in the
                          streaming job. You can learn more about the Stream Analytics
                          Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                          . Required on PUT (CreateOrReplace) requests.'
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the transformation.
                          This is an opaque string. You can use it to detect whether
                          the resource has changed between requests. You can also
                          use it in the If-Match or If-None-Match headers for write
                          operations for optimistic concurrency.
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        '201':
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a transformation.
                      Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      streamingUnits:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job uses.
                        default: 3
                      validStreamingUnits:
                        type: array
                        items:
                          type: integer
                          format: int32
                          description: Specifies the number of streaming units that
                            the streaming job can use.
                        description: Specifies the valid streaming units a streaming
                          job can scale to.
                      query:
                        type: string
                        description: 'Specifies the query that will be run in the
                          streaming job. You can learn more about the Stream Analytics
                          Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                          . Required on PUT (CreateOrReplace) requests.'
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the transformation.
                          This is an opaque string. You can use it to detect whether
                          the resource has changed between requests. You can also
                          use it in the If-Match or If-None-Match headers for write
                          operations for optimistic concurrency.
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    patch:
      tags:
      - Transformations
      operationId: Transformations_Update
      description: Updates an existing transformation under an existing streaming
        job. This can be used to partially update (ie. update one or two properties)
        a transformation without affecting the rest the job or transformation definition.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the transformation. Omit this value to always overwrite
          the current transformation. Specify the last-seen ETag value to prevent
          accidentally overwriting concurrent changes.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: transformationName
        in: path
        required: true
        description: The name of the transformation.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                properties:
                  description: The properties that are associated with a transformation.
                    Required on PUT (CreateOrReplace) requests.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    streamingUnits:
                      type: integer
                      format: int32
                      description: Specifies the number of streaming units that the
                        streaming job uses.
                      default: 3
                    validStreamingUnits:
                      type: array
                      items:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job can use.
                      description: Specifies the valid streaming units a streaming
                        job can scale to.
                    query:
                      type: string
                      description: 'Specifies the query that will be run in the streaming
                        job. You can learn more about the Stream Analytics Query Language
                        (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                        . Required on PUT (CreateOrReplace) requests.'
                    etag:
                      readOnly: true
                      type: string
                      description: The current entity tag for the transformation.
                        This is an opaque string. You can use it to detect whether
                        the resource has changed between requests. You can also use
                        it in the If-Match or If-None-Match headers for write operations
                        for optimistic concurrency.
              description: The base sub-resource model definition.
              x-ms-azure-resource: true
        description: A Transformation object. The properties specified here will overwrite
          the corresponding properties in the existing transformation (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing transformation will remain the
          same and not change as a result of this PATCH operation.
        required: true
      responses:
        '200':
          description: The transformation was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a transformation.
                      Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      streamingUnits:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job uses.
                        default: 3
                      validStreamingUnits:
                        type: array
                        items:
                          type: integer
                          format: int32
                          description: Specifies the number of streaming units that
                            the streaming job can use.
                        description: Specifies the valid streaming units a streaming
                          job can scale to.
                      query:
                        type: string
                        description: 'Specifies the query that will be run in the
                          streaming job. You can learn more about the Stream Analytics
                          Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                          . Required on PUT (CreateOrReplace) requests.'
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the transformation.
                          This is an opaque string. You can use it to detect whether
                          the resource has changed between requests. You can also
                          use it in the If-Match or If-None-Match headers for write
                          operations for optimistic concurrency.
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
    get:
      tags:
      - Transformations
      operationId: Transformations_Get
      description: Gets details about the specified transformation.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: jobName
        in: path
        required: true
        description: The name of the streaming job.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: transformationName
        in: path
        required: true
        description: The name of the transformation.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified transformation.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  properties:
                    description: The properties that are associated with a transformation.
                      Required on PUT (CreateOrReplace) requests.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      streamingUnits:
                        type: integer
                        format: int32
                        description: Specifies the number of streaming units that
                          the streaming job uses.
                        default: 3
                      validStreamingUnits:
                        type: array
                        items:
                          type: integer
                          format: int32
                          description: Specifies the number of streaming units that
                            the streaming job can use.
                        description: Specifies the valid streaming units a streaming
                          job can scale to.
                      query:
                        type: string
                        description: 'Specifies the query that will be run in the
                          streaming job. You can learn more about the Stream Analytics
                          Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
                          . Required on PUT (CreateOrReplace) requests.'
                      etag:
                        readOnly: true
                        type: string
                        description: The current entity tag for the transformation.
                          This is an opaque string. You can use it to detect whether
                          the resource has changed between requests. You can also
                          use it in the If-Match or If-None-Match headers for write
                          operations for optimistic concurrency.
                description: The base sub-resource model definition.
                x-ms-azure-resource: true
        default:
          description: Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code.
                      message:
                        type: string
                        description: Error message.
                      target:
                        type: string
                        description: Error target.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code.
                            target:
                              type: string
                              description: Error target.
                            message:
                              type: string
                              description: Error message.
                          description: Common error details representation.
                        x-ms-identifiers: []
                        description: Error details.
                    description: Error definition properties.
                description: Common error representation.
components:
  parameters:
    TransformationNameParameter:
      name: transformationName
      in: path
      required: true
      description: The name of the transformation.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
    StreamingJobNameParameter:
      name: jobName
      in: path
      required: true
      description: The name of the streaming job.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Transformation:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          description: The properties that are associated with a transformation. Required
            on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
          type: object
          properties:
            streamingUnits:
              type: integer
              format: int32
              description: Specifies the number of streaming units that the streaming
                job uses.
              default: 3
            validStreamingUnits:
              type: array
              items:
                type: integer
                format: int32
                description: Specifies the number of streaming units that the streaming
                  job can use.
              description: Specifies the valid streaming units a streaming job can
                scale to.
            query:
              type: string
              description: 'Specifies the query that will be run in the streaming
                job. You can learn more about the Stream Analytics Query Language
                (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998 . Required
                on PUT (CreateOrReplace) requests.'
            etag:
              readOnly: true
              type: string
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
      description: The base sub-resource model definition.
      x-ms-azure-resource: true
    TransformationProperties:
      type: object
      description: The properties that are associated with a transformation.
      properties:
        streamingUnits:
          type: integer
          format: int32
          description: Specifies the number of streaming units that the streaming
            job uses.
          default: 3
        validStreamingUnits:
          type: array
          items:
            type: integer
            format: int32
            description: Specifies the number of streaming units that the streaming
              job can use.
          description: Specifies the valid streaming units a streaming job can scale
            to.
        query:
          type: string
          description: 'Specifies the query that will be run in the streaming job.
            You can learn more about the Stream Analytics Query Language (SAQL) here:
            https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT (CreateOrReplace)
            requests.'
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the transformation. This is an opaque
            string. You can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match headers
            for write operations for optimistic concurrency.
    SubResource:
      type: object
      description: The base sub-resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
    ErrorDetails:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Error message.
            target:
              type: string
              description: Error target.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code.
                  target:
                    type: string
                    description: Error target.
                  message:
                    type: string
                    description: Error message.
                description: Common error details representation.
              x-ms-identifiers: []
              description: Error details.
          description: Error definition properties.
      description: Common error representation.
