openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/rules/{ruleId}/baselines/{baselineName}
  : get:
      tags:
      - DatabaseVulnerabilityAssessmentRuleBaselines
      description: Gets a database's vulnerability assessment rule baseline.
      operationId: DatabaseVulnerabilityAssessmentRuleBaselines_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: ruleId
        in: path
        description: The vulnerability assessment rule ID.
        required: true
        schema:
          type: string
      - name: baselineName
        in: path
        description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentPolicyBaselineName
          modelAsString: false
        schema:
          type: string
          enum:
          - master
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully got the vulnerability assessment rule baseline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - baselineResults
                    type: object
                    properties:
                      baselineResults:
                        description: The rule baseline result
                        type: array
                        items:
                          description: Properties for an Azure SQL Database Vulnerability
                            Assessment rule baseline's result.
                          required:
                          - result
                          type: object
                          properties:
                            result:
                              description: The rule baseline result
                              type: array
                              items:
                                type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability\
            \ assessment operation request does not exist or has no properties object.\n\
            \n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter\
            \ value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - DatabaseVulnerabilityAssessmentRuleBaselines
      description: Creates or updates a database's vulnerability assessment rule baseline.
      operationId: DatabaseVulnerabilityAssessmentRuleBaselines_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: ruleId
        in: path
        description: The vulnerability assessment rule ID.
        required: true
        schema:
          type: string
      - name: baselineName
        in: path
        description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentPolicyBaselineName
          modelAsString: false
        schema:
          type: string
          enum:
          - master
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - baselineResults
                  type: object
                  properties:
                    baselineResults:
                      description: The rule baseline result
                      type: array
                      items:
                        description: Properties for an Azure SQL Database Vulnerability
                          Assessment rule baseline's result.
                        required:
                        - result
                        type: object
                        properties:
                          result:
                            description: The rule baseline result
                            type: array
                            items:
                              type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested rule baseline resource.
        required: true
      responses:
        '200':
          description: Successfully set the vulnerability assessment rule baseline.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - baselineResults
                    type: object
                    properties:
                      baselineResults:
                        description: The rule baseline result
                        type: array
                        items:
                          description: Properties for an Azure SQL Database Vulnerability
                            Assessment rule baseline's result.
                          required:
                          - result
                          type: object
                          properties:
                            result:
                              description: The rule baseline result
                              type: array
                              items:
                                type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability\
            \ assessment operation request does not exist or has no properties object.\n\
            \n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter\
            \ value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - DatabaseVulnerabilityAssessmentRuleBaselines
      description: Removes the database's vulnerability assessment rule baseline.
      operationId: DatabaseVulnerabilityAssessmentRuleBaselines_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: ruleId
        in: path
        description: The vulnerability assessment rule ID.
        required: true
        schema:
          type: string
      - name: baselineName
        in: path
        description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentPolicyBaselineName
          modelAsString: false
        schema:
          type: string
          enum:
          - master
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed the database vulnerability assessment
            rule baseline.
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 InvalidVulnerabilityAssessmentOperationRequest - The vulnerability\
            \ assessment operation request does not exist or has no properties object.\n\
            \n * 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter\
            \ value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DatabaseVulnerabilityAssessmentRuleBaseline:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - baselineResults
          type: object
          properties:
            baselineResults:
              description: The rule baseline result
              type: array
              items:
                description: Properties for an Azure SQL Database Vulnerability Assessment
                  rule baseline's result.
                required:
                - result
                type: object
                properties:
                  result:
                    description: The rule baseline result
                    type: array
                    items:
                      type: string
      description: ARM resource.
      x-ms-azure-resource: true
    DatabaseVulnerabilityAssessmentRuleBaselineItem:
      description: Properties for an Azure SQL Database Vulnerability Assessment rule
        baseline's result.
      required:
      - result
      type: object
      properties:
        result:
          description: The rule baseline result
          type: array
          items:
            type: string
    DatabaseVulnerabilityAssessmentRuleBaselineProperties:
      description: Properties of a database Vulnerability Assessment rule baseline.
      required:
      - baselineResults
      type: object
      properties:
        baselineResults:
          description: The rule baseline result
          type: array
          items:
            description: Properties for an Azure SQL Database Vulnerability Assessment
              rule baseline's result.
            required:
            - result
            type: object
            properties:
              result:
                description: The rule baseline result
                type: array
                items:
                  type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
