openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/columns
  : get:
      tags:
      - DatabaseColumns
      description: List database columns
      operationId: DatabaseColumns_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schema
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: table
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: column
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: orderBy
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: $skiptoken
        in: query
        description: An opaque token that identifies a starting point in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved database columns.
          content:
            application/json:
              schema:
                description: A list of database columns.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            columnType:
                              description: The column data type.
                              enum:
                              - image
                              - text
                              - uniqueidentifier
                              - date
                              - time
                              - datetime2
                              - datetimeoffset
                              - tinyint
                              - smallint
                              - int
                              - smalldatetime
                              - real
                              - money
                              - datetime
                              - float
                              - sql_variant
                              - ntext
                              - bit
                              - decimal
                              - numeric
                              - smallmoney
                              - bigint
                              - hierarchyid
                              - geometry
                              - geography
                              - varbinary
                              - varchar
                              - binary
                              - char
                              - timestamp
                              - nvarchar
                              - nchar
                              - xml
                              - sysname
                              type: string
                              x-ms-enum:
                                name: ColumnDataType
                                modelAsString: true
                            temporalType:
                              description: The table temporal type.
                              enum:
                              - NonTemporalTable
                              - HistoryTable
                              - SystemVersionedTemporalTable
                              type: string
                              x-ms-enum:
                                name: TableTemporalType
                                modelAsString: true
                            memoryOptimized:
                              description: Whether or not the column belongs to a
                                memory optimized table.
                              type: boolean
                            isComputed:
                              description: Whether or not the column is computed.
                              type: boolean
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 UnsupportedColumnOrderByProperty\
            \ - The order-by property '{0}' is not supported. Allowed properties are:\
            \ {1}.\n\n * 400 UnsupportedColumnSortDirection - The column sort direction\
            \ '{0}' is not supported. Allowed values are: {1}.\n\n * 400 UpdateNotAllowedOnPausedDatabase\
            \ - User attempted to perform an update on a paused database.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 503 DatabaseUnavailable - The operation\
            \ failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns
  : get:
      tags:
      - DatabaseColumns
      description: List database columns
      operationId: DatabaseColumns_ListByTable
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved database columns.
          content:
            application/json:
              schema:
                description: A list of database columns.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            columnType:
                              description: The column data type.
                              enum:
                              - image
                              - text
                              - uniqueidentifier
                              - date
                              - time
                              - datetime2
                              - datetimeoffset
                              - tinyint
                              - smallint
                              - int
                              - smalldatetime
                              - real
                              - money
                              - datetime
                              - float
                              - sql_variant
                              - ntext
                              - bit
                              - decimal
                              - numeric
                              - smallmoney
                              - bigint
                              - hierarchyid
                              - geometry
                              - geography
                              - varbinary
                              - varchar
                              - binary
                              - char
                              - timestamp
                              - nvarchar
                              - nchar
                              - xml
                              - sysname
                              type: string
                              x-ms-enum:
                                name: ColumnDataType
                                modelAsString: true
                            temporalType:
                              description: The table temporal type.
                              enum:
                              - NonTemporalTable
                              - HistoryTable
                              - SystemVersionedTemporalTable
                              type: string
                              x-ms-enum:
                                name: TableTemporalType
                                modelAsString: true
                            memoryOptimized:
                              description: Whether or not the column belongs to a
                                memory optimized table.
                              type: boolean
                            isComputed:
                              description: Whether or not the column is computed.
                              type: boolean
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 UpdateNotAllowedOnPausedDatabase\
            \ - User attempted to perform an update on a paused database.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 InvalidDatabaseSchema - Schema is missing\
            \ in database.\n\n * 404 InvalidDatabaseTable - Table is missing in database.\n\
            \n * 404 InvalidDatabaseColumn - Column is missing in table.\n\n * 503\
            \ DatabaseUnavailable - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/DatabaseColumn'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}
  : get:
      tags:
      - DatabaseColumns
      description: Get database column
      operationId: DatabaseColumns_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved database column.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      columnType:
                        description: The column data type.
                        enum:
                        - image
                        - text
                        - uniqueidentifier
                        - date
                        - time
                        - datetime2
                        - datetimeoffset
                        - tinyint
                        - smallint
                        - int
                        - smalldatetime
                        - real
                        - money
                        - datetime
                        - float
                        - sql_variant
                        - ntext
                        - bit
                        - decimal
                        - numeric
                        - smallmoney
                        - bigint
                        - hierarchyid
                        - geometry
                        - geography
                        - varbinary
                        - varchar
                        - binary
                        - char
                        - timestamp
                        - nvarchar
                        - nchar
                        - xml
                        - sysname
                        type: string
                        x-ms-enum:
                          name: ColumnDataType
                          modelAsString: true
                      temporalType:
                        description: The table temporal type.
                        enum:
                        - NonTemporalTable
                        - HistoryTable
                        - SystemVersionedTemporalTable
                        type: string
                        x-ms-enum:
                          name: TableTemporalType
                          modelAsString: true
                      memoryOptimized:
                        description: Whether or not the column belongs to a memory
                          optimized table.
                        type: boolean
                      isComputed:
                        description: Whether or not the column is computed.
                        type: boolean
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 UpdateNotAllowedOnPausedDatabase\
            \ - User attempted to perform an update on a paused database.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 InvalidDatabaseSchema - Schema is missing\
            \ in database.\n\n * 404 InvalidDatabaseTable - Table is missing in database.\n\
            \n * 404 InvalidDatabaseColumn - Column is missing in table.\n\n * 503\
            \ DatabaseUnavailable - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DatabaseColumn:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            columnType:
              description: The column data type.
              enum:
              - image
              - text
              - uniqueidentifier
              - date
              - time
              - datetime2
              - datetimeoffset
              - tinyint
              - smallint
              - int
              - smalldatetime
              - real
              - money
              - datetime
              - float
              - sql_variant
              - ntext
              - bit
              - decimal
              - numeric
              - smallmoney
              - bigint
              - hierarchyid
              - geometry
              - geography
              - varbinary
              - varchar
              - binary
              - char
              - timestamp
              - nvarchar
              - nchar
              - xml
              - sysname
              type: string
              x-ms-enum:
                name: ColumnDataType
                modelAsString: true
            temporalType:
              description: The table temporal type.
              enum:
              - NonTemporalTable
              - HistoryTable
              - SystemVersionedTemporalTable
              type: string
              x-ms-enum:
                name: TableTemporalType
                modelAsString: true
            memoryOptimized:
              description: Whether or not the column belongs to a memory optimized
                table.
              type: boolean
            isComputed:
              description: Whether or not the column is computed.
              type: boolean
      description: ARM resource.
      x-ms-azure-resource: true
    DatabaseColumnListResult:
      description: A list of database columns.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  columnType:
                    description: The column data type.
                    enum:
                    - image
                    - text
                    - uniqueidentifier
                    - date
                    - time
                    - datetime2
                    - datetimeoffset
                    - tinyint
                    - smallint
                    - int
                    - smalldatetime
                    - real
                    - money
                    - datetime
                    - float
                    - sql_variant
                    - ntext
                    - bit
                    - decimal
                    - numeric
                    - smallmoney
                    - bigint
                    - hierarchyid
                    - geometry
                    - geography
                    - varbinary
                    - varchar
                    - binary
                    - char
                    - timestamp
                    - nvarchar
                    - nchar
                    - xml
                    - sysname
                    type: string
                    x-ms-enum:
                      name: ColumnDataType
                      modelAsString: true
                  temporalType:
                    description: The table temporal type.
                    enum:
                    - NonTemporalTable
                    - HistoryTable
                    - SystemVersionedTemporalTable
                    type: string
                    x-ms-enum:
                      name: TableTemporalType
                      modelAsString: true
                  memoryOptimized:
                    description: Whether or not the column belongs to a memory optimized
                      table.
                    type: boolean
                  isComputed:
                    description: Whether or not the column is computed.
                    type: boolean
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    DatabaseColumnProperties:
      description: Database column properties.
      type: object
      properties:
        columnType:
          description: The column data type.
          enum:
          - image
          - text
          - uniqueidentifier
          - date
          - time
          - datetime2
          - datetimeoffset
          - tinyint
          - smallint
          - int
          - smalldatetime
          - real
          - money
          - datetime
          - float
          - sql_variant
          - ntext
          - bit
          - decimal
          - numeric
          - smallmoney
          - bigint
          - hierarchyid
          - geometry
          - geography
          - varbinary
          - varchar
          - binary
          - char
          - timestamp
          - nvarchar
          - nchar
          - xml
          - sysname
          type: string
          x-ms-enum:
            name: ColumnDataType
            modelAsString: true
        temporalType:
          description: The table temporal type.
          enum:
          - NonTemporalTable
          - HistoryTable
          - SystemVersionedTemporalTable
          type: string
          x-ms-enum:
            name: TableTemporalType
            modelAsString: true
        memoryOptimized:
          description: Whether or not the column belongs to a memory optimized table.
          type: boolean
        isComputed:
          description: Whether or not the column is computed.
          type: boolean
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
