openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules
  : get:
      tags:
      - DataMaskingRules
      description: Gets a list of database data masking rules.
      operationId: DataMaskingRules_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: dataMaskingPolicyName
        in: path
        description: The name of the database for which the data masking rule applies.
        required: true
        x-ms-enum:
          name: DataMaskingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of server's Advanced Threat
            Protection states.
          content:
            application/json:
              schema:
                description: The list of database data masking rules.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: The location of the data masking rule.
                          type: string
                          readOnly: true
                        kind:
                          description: The kind of Data Masking Rule. Metadata, used
                            for Azure portal.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - schemaName
                          - tableName
                          - columnName
                          - maskingFunction
                          type: object
                          properties:
                            id:
                              description: The rule Id.
                              type: string
                              readOnly: true
                            ruleState:
                              description: The rule state. Used to delete a rule.
                                To delete an existing rule, specify the schemaName,
                                tableName, columnName, maskingFunction, and specify
                                ruleState as disabled. However, if the rule doesn't
                                already exist, the rule will be created with ruleState
                                set to enabled, regardless of the provided value of
                                ruleState.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: DataMaskingRuleState
                                modelAsString: false
                            schemaName:
                              description: The schema name on which the data masking
                                rule is applied.
                              type: string
                            tableName:
                              description: The table name on which the data masking
                                rule is applied.
                              type: string
                            columnName:
                              description: The column name on which the data masking
                                rule is applied.
                              type: string
                            aliasName:
                              description: The alias name. This is a legacy parameter
                                and is no longer used.
                              type: string
                            maskingFunction:
                              description: The masking function that is used for the
                                data masking rule.
                              enum:
                              - Default
                              - CCN
                              - Email
                              - Number
                              - SSN
                              - Text
                              type: string
                              x-ms-enum:
                                name: DataMaskingFunction
                                modelAsString: false
                            numberFrom:
                              description: The numberFrom property of the masking
                                rule. Required if maskingFunction is set to Number,
                                otherwise this parameter will be ignored.
                              type: string
                            numberTo:
                              description: The numberTo property of the data masking
                                rule. Required if maskingFunction is set to Number,
                                otherwise this parameter will be ignored.
                              type: string
                            prefixSize:
                              description: If maskingFunction is set to Text, the
                                number of characters to show unmasked in the beginning
                                of the string. Otherwise, this parameter will be ignored.
                              type: string
                            suffixSize:
                              description: If maskingFunction is set to Text, the
                                number of characters to show unmasked at the end of
                                the string. Otherwise, this parameter will be ignored.
                              type: string
                            replacementString:
                              description: If maskingFunction is set to Text, the
                                character to use for masking the unexposed part of
                                the string. Otherwise, this parameter will be ignored.
                              type: string
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules/{dataMaskingRuleName}
  : put:
      tags:
      - DataMaskingRules
      description: Creates or updates a database data masking rule.
      operationId: DataMaskingRules_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: dataMaskingPolicyName
        in: path
        description: The name of the database for which the data masking policy applies.
        required: true
        x-ms-enum:
          name: DataMaskingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: dataMaskingRuleName
        in: path
        description: The name of the data masking rule.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                location:
                  description: The location of the data masking rule.
                  type: string
                  readOnly: true
                kind:
                  description: The kind of Data Masking Rule. Metadata, used for Azure
                    portal.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - schemaName
                  - tableName
                  - columnName
                  - maskingFunction
                  type: object
                  properties:
                    id:
                      description: The rule Id.
                      type: string
                      readOnly: true
                    ruleState:
                      description: The rule state. Used to delete a rule. To delete
                        an existing rule, specify the schemaName, tableName, columnName,
                        maskingFunction, and specify ruleState as disabled. However,
                        if the rule doesn't already exist, the rule will be created
                        with ruleState set to enabled, regardless of the provided
                        value of ruleState.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: DataMaskingRuleState
                        modelAsString: false
                    schemaName:
                      description: The schema name on which the data masking rule
                        is applied.
                      type: string
                    tableName:
                      description: The table name on which the data masking rule is
                        applied.
                      type: string
                    columnName:
                      description: The column name on which the data masking rule
                        is applied.
                      type: string
                    aliasName:
                      description: The alias name. This is a legacy parameter and
                        is no longer used.
                      type: string
                    maskingFunction:
                      description: The masking function that is used for the data
                        masking rule.
                      enum:
                      - Default
                      - CCN
                      - Email
                      - Number
                      - SSN
                      - Text
                      type: string
                      x-ms-enum:
                        name: DataMaskingFunction
                        modelAsString: false
                    numberFrom:
                      description: The numberFrom property of the masking rule. Required
                        if maskingFunction is set to Number, otherwise this parameter
                        will be ignored.
                      type: string
                    numberTo:
                      description: The numberTo property of the data masking rule.
                        Required if maskingFunction is set to Number, otherwise this
                        parameter will be ignored.
                      type: string
                    prefixSize:
                      description: If maskingFunction is set to Text, the number of
                        characters to show unmasked in the beginning of the string.
                        Otherwise, this parameter will be ignored.
                      type: string
                    suffixSize:
                      description: If maskingFunction is set to Text, the number of
                        characters to show unmasked at the end of the string. Otherwise,
                        this parameter will be ignored.
                      type: string
                    replacementString:
                      description: If maskingFunction is set to Text, the character
                        to use for masking the unexposed part of the string. Otherwise,
                        this parameter will be ignored.
                      type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: The required parameters for creating or updating a data masking
          rule.
        required: true
      responses:
        '200':
          description: Successfully set a database data masking rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: The location of the data masking rule.
                    type: string
                    readOnly: true
                  kind:
                    description: The kind of Data Masking Rule. Metadata, used for
                      Azure portal.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - schemaName
                    - tableName
                    - columnName
                    - maskingFunction
                    type: object
                    properties:
                      id:
                        description: The rule Id.
                        type: string
                        readOnly: true
                      ruleState:
                        description: The rule state. Used to delete a rule. To delete
                          an existing rule, specify the schemaName, tableName, columnName,
                          maskingFunction, and specify ruleState as disabled. However,
                          if the rule doesn't already exist, the rule will be created
                          with ruleState set to enabled, regardless of the provided
                          value of ruleState.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: DataMaskingRuleState
                          modelAsString: false
                      schemaName:
                        description: The schema name on which the data masking rule
                          is applied.
                        type: string
                      tableName:
                        description: The table name on which the data masking rule
                          is applied.
                        type: string
                      columnName:
                        description: The column name on which the data masking rule
                          is applied.
                        type: string
                      aliasName:
                        description: The alias name. This is a legacy parameter and
                          is no longer used.
                        type: string
                      maskingFunction:
                        description: The masking function that is used for the data
                          masking rule.
                        enum:
                        - Default
                        - CCN
                        - Email
                        - Number
                        - SSN
                        - Text
                        type: string
                        x-ms-enum:
                          name: DataMaskingFunction
                          modelAsString: false
                      numberFrom:
                        description: The numberFrom property of the masking rule.
                          Required if maskingFunction is set to Number, otherwise
                          this parameter will be ignored.
                        type: string
                      numberTo:
                        description: The numberTo property of the data masking rule.
                          Required if maskingFunction is set to Number, otherwise
                          this parameter will be ignored.
                        type: string
                      prefixSize:
                        description: If maskingFunction is set to Text, the number
                          of characters to show unmasked in the beginning of the string.
                          Otherwise, this parameter will be ignored.
                        type: string
                      suffixSize:
                        description: If maskingFunction is set to Text, the number
                          of characters to show unmasked at the end of the string.
                          Otherwise, this parameter will be ignored.
                        type: string
                      replacementString:
                        description: If maskingFunction is set to Text, the character
                          to use for masking the unexposed part of the string. Otherwise,
                          this parameter will be ignored.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created a database data masking rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: The location of the data masking rule.
                    type: string
                    readOnly: true
                  kind:
                    description: The kind of Data Masking Rule. Metadata, used for
                      Azure portal.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - schemaName
                    - tableName
                    - columnName
                    - maskingFunction
                    type: object
                    properties:
                      id:
                        description: The rule Id.
                        type: string
                        readOnly: true
                      ruleState:
                        description: The rule state. Used to delete a rule. To delete
                          an existing rule, specify the schemaName, tableName, columnName,
                          maskingFunction, and specify ruleState as disabled. However,
                          if the rule doesn't already exist, the rule will be created
                          with ruleState set to enabled, regardless of the provided
                          value of ruleState.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: DataMaskingRuleState
                          modelAsString: false
                      schemaName:
                        description: The schema name on which the data masking rule
                          is applied.
                        type: string
                      tableName:
                        description: The table name on which the data masking rule
                          is applied.
                        type: string
                      columnName:
                        description: The column name on which the data masking rule
                          is applied.
                        type: string
                      aliasName:
                        description: The alias name. This is a legacy parameter and
                          is no longer used.
                        type: string
                      maskingFunction:
                        description: The masking function that is used for the data
                          masking rule.
                        enum:
                        - Default
                        - CCN
                        - Email
                        - Number
                        - SSN
                        - Text
                        type: string
                        x-ms-enum:
                          name: DataMaskingFunction
                          modelAsString: false
                      numberFrom:
                        description: The numberFrom property of the masking rule.
                          Required if maskingFunction is set to Number, otherwise
                          this parameter will be ignored.
                        type: string
                      numberTo:
                        description: The numberTo property of the data masking rule.
                          Required if maskingFunction is set to Number, otherwise
                          this parameter will be ignored.
                        type: string
                      prefixSize:
                        description: If maskingFunction is set to Text, the number
                          of characters to show unmasked in the beginning of the string.
                          Otherwise, this parameter will be ignored.
                        type: string
                      suffixSize:
                        description: If maskingFunction is set to Text, the number
                          of characters to show unmasked at the end of the string.
                          Otherwise, this parameter will be ignored.
                        type: string
                      replacementString:
                        description: If maskingFunction is set to Text, the character
                          to use for masking the unexposed part of the string. Otherwise,
                          this parameter will be ignored.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidDatabaseNameForDataMaskingOperation\
            \ - It is not possible to apply data masking policy and rules directly\
            \ to the master database. Data masking policy/rules are only applicable\
            \ to user database."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DataMaskingRule:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: The location of the data masking rule.
          type: string
          readOnly: true
        kind:
          description: The kind of Data Masking Rule. Metadata, used for Azure portal.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - schemaName
          - tableName
          - columnName
          - maskingFunction
          type: object
          properties:
            id:
              description: The rule Id.
              type: string
              readOnly: true
            ruleState:
              description: The rule state. Used to delete a rule. To delete an existing
                rule, specify the schemaName, tableName, columnName, maskingFunction,
                and specify ruleState as disabled. However, if the rule doesn't already
                exist, the rule will be created with ruleState set to enabled, regardless
                of the provided value of ruleState.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: DataMaskingRuleState
                modelAsString: false
            schemaName:
              description: The schema name on which the data masking rule is applied.
              type: string
            tableName:
              description: The table name on which the data masking rule is applied.
              type: string
            columnName:
              description: The column name on which the data masking rule is applied.
              type: string
            aliasName:
              description: The alias name. This is a legacy parameter and is no longer
                used.
              type: string
            maskingFunction:
              description: The masking function that is used for the data masking
                rule.
              enum:
              - Default
              - CCN
              - Email
              - Number
              - SSN
              - Text
              type: string
              x-ms-enum:
                name: DataMaskingFunction
                modelAsString: false
            numberFrom:
              description: The numberFrom property of the masking rule. Required if
                maskingFunction is set to Number, otherwise this parameter will be
                ignored.
              type: string
            numberTo:
              description: The numberTo property of the data masking rule. Required
                if maskingFunction is set to Number, otherwise this parameter will
                be ignored.
              type: string
            prefixSize:
              description: If maskingFunction is set to Text, the number of characters
                to show unmasked in the beginning of the string. Otherwise, this parameter
                will be ignored.
              type: string
            suffixSize:
              description: If maskingFunction is set to Text, the number of characters
                to show unmasked at the end of the string. Otherwise, this parameter
                will be ignored.
              type: string
            replacementString:
              description: If maskingFunction is set to Text, the character to use
                for masking the unexposed part of the string. Otherwise, this parameter
                will be ignored.
              type: string
      description: ARM resource.
      x-ms-azure-resource: true
    DataMaskingRuleListResult:
      description: The list of database data masking rules.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              location:
                description: The location of the data masking rule.
                type: string
                readOnly: true
              kind:
                description: The kind of Data Masking Rule. Metadata, used for Azure
                  portal.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - schemaName
                - tableName
                - columnName
                - maskingFunction
                type: object
                properties:
                  id:
                    description: The rule Id.
                    type: string
                    readOnly: true
                  ruleState:
                    description: The rule state. Used to delete a rule. To delete
                      an existing rule, specify the schemaName, tableName, columnName,
                      maskingFunction, and specify ruleState as disabled. However,
                      if the rule doesn't already exist, the rule will be created
                      with ruleState set to enabled, regardless of the provided value
                      of ruleState.
                    enum:
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: DataMaskingRuleState
                      modelAsString: false
                  schemaName:
                    description: The schema name on which the data masking rule is
                      applied.
                    type: string
                  tableName:
                    description: The table name on which the data masking rule is
                      applied.
                    type: string
                  columnName:
                    description: The column name on which the data masking rule is
                      applied.
                    type: string
                  aliasName:
                    description: The alias name. This is a legacy parameter and is
                      no longer used.
                    type: string
                  maskingFunction:
                    description: The masking function that is used for the data masking
                      rule.
                    enum:
                    - Default
                    - CCN
                    - Email
                    - Number
                    - SSN
                    - Text
                    type: string
                    x-ms-enum:
                      name: DataMaskingFunction
                      modelAsString: false
                  numberFrom:
                    description: The numberFrom property of the masking rule. Required
                      if maskingFunction is set to Number, otherwise this parameter
                      will be ignored.
                    type: string
                  numberTo:
                    description: The numberTo property of the data masking rule. Required
                      if maskingFunction is set to Number, otherwise this parameter
                      will be ignored.
                    type: string
                  prefixSize:
                    description: If maskingFunction is set to Text, the number of
                      characters to show unmasked in the beginning of the string.
                      Otherwise, this parameter will be ignored.
                    type: string
                  suffixSize:
                    description: If maskingFunction is set to Text, the number of
                      characters to show unmasked at the end of the string. Otherwise,
                      this parameter will be ignored.
                    type: string
                  replacementString:
                    description: If maskingFunction is set to Text, the character
                      to use for masking the unexposed part of the string. Otherwise,
                      this parameter will be ignored.
                    type: string
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    DataMaskingRuleProperties:
      description: The properties of a database data masking rule.
      required:
      - schemaName
      - tableName
      - columnName
      - maskingFunction
      type: object
      properties:
        id:
          description: The rule Id.
          type: string
          readOnly: true
        ruleState:
          description: The rule state. Used to delete a rule. To delete an existing
            rule, specify the schemaName, tableName, columnName, maskingFunction,
            and specify ruleState as disabled. However, if the rule doesn't already
            exist, the rule will be created with ruleState set to enabled, regardless
            of the provided value of ruleState.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: DataMaskingRuleState
            modelAsString: false
        schemaName:
          description: The schema name on which the data masking rule is applied.
          type: string
        tableName:
          description: The table name on which the data masking rule is applied.
          type: string
        columnName:
          description: The column name on which the data masking rule is applied.
          type: string
        aliasName:
          description: The alias name. This is a legacy parameter and is no longer
            used.
          type: string
        maskingFunction:
          description: The masking function that is used for the data masking rule.
          enum:
          - Default
          - CCN
          - Email
          - Number
          - SSN
          - Text
          type: string
          x-ms-enum:
            name: DataMaskingFunction
            modelAsString: false
        numberFrom:
          description: The numberFrom property of the masking rule. Required if maskingFunction
            is set to Number, otherwise this parameter will be ignored.
          type: string
        numberTo:
          description: The numberTo property of the data masking rule. Required if
            maskingFunction is set to Number, otherwise this parameter will be ignored.
          type: string
        prefixSize:
          description: If maskingFunction is set to Text, the number of characters
            to show unmasked in the beginning of the string. Otherwise, this parameter
            will be ignored.
          type: string
        suffixSize:
          description: If maskingFunction is set to Text, the number of characters
            to show unmasked at the end of the string. Otherwise, this parameter will
            be ignored.
          type: string
        replacementString:
          description: If maskingFunction is set to Text, the character to use for
            masking the unexposed part of the string. Otherwise, this parameter will
            be ignored.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
