openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools
  : get:
      tags:
      - ElasticPools
      description: Gets all elastic pools in a server.
      operationId: ElasticPools_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skip
        in: query
        description: The number of elements in the collection to skip.
        required: false
        schema:
          type: integer
          format: int64
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Succeeded
          content:
            application/json:
              schema:
                description: The result of an elastic pool list request.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource location.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: "The elastic pool SKU.\r\n\r\nThe list of SKUs\
                            \ may vary by region and support offer. To determine the\
                            \ SKUs (including the SKU name, tier/edition, family,\
                            \ and capacity) that are available to your subscription\
                            \ in an Azure region, use the `Capabilities_ListByLocation`\
                            \ REST API or the following command:\r\n\r\n```azurecli\r\
                            \naz sql elastic-pool list-editions -l <location> -o table\r\
                            \n````\r\n"
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: The name of the SKU, typically, a letter
                                + Number code, e.g. P3.
                              type: string
                            tier:
                              description: The tier or edition of the particular SKU,
                                e.g. Basic, Premium.
                              type: string
                            size:
                              description: Size of the particular SKU
                              type: string
                            family:
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                              type: string
                            capacity:
                              format: int32
                              description: Capacity of the particular SKU.
                              type: integer
                        kind:
                          description: Kind of elastic pool. This is metadata used
                            for the Azure portal experience.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            state:
                              description: The state of the elastic pool.
                              enum:
                              - Creating
                              - Ready
                              - Disabled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ElasticPoolState
                                modelAsString: true
                            creationDate:
                              format: date-time
                              description: The creation date of the elastic pool (ISO8601
                                format).
                              type: string
                              readOnly: true
                            maxSizeBytes:
                              format: int64
                              description: The storage limit for the database elastic
                                pool in bytes.
                              type: integer
                            minCapacity:
                              format: double
                              description: Minimal capacity that serverless pool will
                                not shrink below, if not paused
                              type: number
                            perDatabaseSettings:
                              description: The per database settings for the elastic
                                pool.
                              type: object
                              properties:
                                minCapacity:
                                  format: double
                                  description: The minimum capacity all databases
                                    are guaranteed.
                                  type: number
                                maxCapacity:
                                  format: double
                                  description: The maximum capacity any one database
                                    can consume.
                                  type: number
                                autoPauseDelay:
                                  format: int32
                                  description: Auto Pause Delay for per database within
                                    pool
                                  type: integer
                            zoneRedundant:
                              description: Whether or not this elastic pool is zone
                                redundant, which means the replicas of this elastic
                                pool will be spread across multiple availability zones.
                              type: boolean
                            licenseType:
                              description: The license type to apply for this elastic
                                pool.
                              enum:
                              - LicenseIncluded
                              - BasePrice
                              type: string
                              x-ms-enum:
                                name: ElasticPoolLicenseType
                                modelAsString: true
                            maintenanceConfigurationId:
                              description: Maintenance configuration id assigned to
                                the elastic pool. This configuration defines the period
                                when the maintenance updates will will occur.
                              type: string
                            highAvailabilityReplicaCount:
                              format: int32
                              description: The number of secondary replicas associated
                                with the Business Critical, Premium, or Hyperscale
                                edition elastic pool that are used to provide high
                                availability. Applicable only to Hyperscale elastic
                                pools.
                              type: integer
                            autoPauseDelay:
                              format: int32
                              description: Time in minutes after which elastic pool
                                is automatically paused. A value of -1 means that
                                automatic pause is disabled
                              type: integer
                            preferredEnclaveType:
                              description: Type of enclave requested on the elastic
                                pool.
                              enum:
                              - Default
                              - VBS
                              type: string
                              x-ms-enum:
                                name: AlwaysEncryptedEnclaveType
                                modelAsString: true
                            availabilityZone:
                              description: Specifies the availability zone the pool's
                                primary replica is pinned to.
                              enum:
                              - NoPreference
                              - '1'
                              - '2'
                              - '3'
                              type: string
                              x-ms-enum:
                                name: AvailabilityZoneType
                                modelAsString: true
                      required:
                      - location
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ElasticPoolOverStorageUsage\
            \ - Attempting to write data to a database when the storage limit of the\
            \ elastic pool has been reached.\n\n * 400 ElasticPoolScaleNotSupportedWithInaccessibleDatabases\
            \ - The elastic pool contains inaccessible databases which have lost Azure\
            \ Key Vault access required for TDE configuration. Please move the accessible\
            \ databases to a different pool for scaling or restore the lost Azure\
            \ Key Vault access for the inaccessible databases.\n\n * 400 CreateElasticPoolAttemptedWhenKeyRotationInProgress\
            \ - The create elastic pool operation cannot be performed at this time\
            \ due to ongoing Transparent Data Encryption (TDE) key rotation on the\
            \ server. Please try the operation again later.\n\n * 400 InvalidSku -\
            \ The user specified an invalid sku.\n\n * 400 InvalidTierSkuCombination\
            \ - The specified tier does not support the specified sku.\n\n * 400 ServerQuotaExceeded\
            \ - The server reached its limit for allowed Database Throughput Unit.\n\
            \n * 400 ElasticPoolAlreadyExists - The server already contains an elastic\
            \ pool with the specified name.\n\n * 400 SubscriptionVcoreQuotaExceeded\
            \ - Could not perform the operation because subscription would exceed\
            \ the allowed vCore quota.\n\n * 400 InvalidInputValueForEdition - Specified\
            \ edition is not supported for elastic pool provisioning.\n\n * 400 ElasticPoolDtuBelowLimit\
            \ - The requested DTU value is too low for the requested elastic pool\
            \ service tier.\n\n * 400 ElasticPoolDtuAboveLimit - The requested DTU\
            \ value is too high for the requested elastic pool service tier.\n\n *\
            \ 400 InvalidMaxSize - Invalid max size.\n\n * 400 ElasticPoolDbDtuMaxBelowLimit\
            \ - The requested per database DTU max is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbDtuMaxAboveLimit - The requested\
            \ per database DTU max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set\
            \ the DTU max per database for the Resource Pool which doesn't match the\
            \ allowed values.\n\n * 400 ElasticPoolDbDtuMinAboveLimit - The requested\
            \ DTU min per database is too high for the requested service tier.\n\n\
            \ * 400 ElasticPoolOverStorage - Attempting to write data to a database\
            \ when the storage limit of the elastic pool has been reached.\n\n * 400\
            \ InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per\
            \ database for the Resource Pool which doesn't match the allowed values.\n\
            \n * 400 ElasticPoolInconsistentDtuGuaranteeSettings - Attempting to provide\
            \ DTU min for databases in the elastic pool that exceeds requested DTUs\
            \ of the elastic pool.\n\n * 400 ElasticPoolDtuUnsupported - User tried\
            \ to create or update an elastic pool with a DTU capacity that is not\
            \ supported.\n\n * 400 ElasticPoolStorageAboveLimitGB - Attempting to\
            \ set the elastic pool storage limit below the supported limit.\n\n *\
            \ 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in\
            \ this region.\n\n * 400 ElasticPoolNotEmpty - Request to delete an elastic\
            \ pool that is not empty.\n\n * 400 ElasticPoolStorageBelowLimitGB - Attempting\
            \ to set the elastic pool storage limit below the supported limit.\n\n\
            \ * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic\
            \ pool storage limit in gb which doesn't match the allowed values.\n\n\
            \ * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit\
            \ for number of databases.\n\n * 400 ElasticPoolDecreaseStorageLimitBelowUsage\
            \ - Attempting to decrease the storage limit of the elastic pool below\
            \ its storage usage.\n\n * 400 InvalidInputValueDatabaseDtuMinLargerThanMax\
            \ - Attempting to set the DTU min per database higher than the DTU max\
            \ per database.\n\n * 400 ElasticPoolInconsistentVcoreGuaranteeSettings\
            \ - The number of databases and VCore min per database cannot exceed requested\
            \ VCores of the elastic pool.\n\n * 400 ElasticPoolStorageBelowLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 ElasticPoolStorageNotAllowedMB - Attempting to set\
            \ the elastic pool storage limit in mb which doesn't match the allowed\
            \ values.\n\n * 400 ElasticPoolCapacityStorageNotAllowedMB - Attempting\
            \ to set the elastic pool storage limit in mb which doesn't match the\
            \ allowed values.\n\n * 400 InvalidReadScaleUnits - User attempted to\
            \ provide a read scale value that is not supported.\n\n * 400 ElasticPoolStorageAboveLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 RegionDoesNotSupportVersion - A user attempted to create\
            \ a server of a specified version in a location where that server version\
            \ isn't supported.\n\n * 400 InvalidTier - The user specified an invalid\
            \ tier.\n\n * 400 SourceDatabaseEditionCouldNotBeUpgraded - The source\
            \ database cannot have higher edition than the target database.\n\n *\
            \ 400 TargetDatabaseEditionCouldNotBeDowngraded - The target database\
            \ cannot have lower edition than the source database.\n\n * 400 ElasticPoolUpdateHkNotAllowed\
            \ - The elastic pool cannot lower its service tier from Premium to Standard\
            \ or Basic since one or more of its databases use memory-optimized objects.\n\
            \n * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is\
            \ disallowed because copy or failover operation for database '{0}' on\
            \ server '{1}' is currently in progress.\n\n * 400 RegionDoesNotAllowProvisioning\
            \ - The selected location is not accepting new Windows Azure SQL Database\
            \ servers. This may change at a later time.\n\n * 400 HSElasticPoolUpdateSloPRMSNotSupported\
            \ - The service objective assignment for the database has failed. Please\
            \ contact Microsoft customer support and provide the server name, database\
            \ name and activity ID.\n\n * 400 ElasticPoolOverFileSpace - Insufficient\
            \ file space in the elastic pool.\n\n * 400 ElasticPoolDbDtuMinBelowLimit\
            \ - The requested per database DTU min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbVcoreMaxBelowLimit - The requested\
            \ per database VCore max is too low for the requested elastic pool service\
            \ tier.\n\n * 400 ElasticPoolDbVcoreMaxAboveLimit - The requested per\
            \ database VCore max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMax - Attempting to\
            \ set the VCore max per database for the Resource Pool which doesn't match\
            \ the allowed values.\n\n * 400 ElasticPoolDbVcoreMinBelowLimit - The\
            \ requested per database VCore min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMin -\
            \ Attempting to set the VCore min per database for the Resource Pool which\
            \ doesn't match the allowed values.\n\n * 400 PartnerDBNotCompatibleForSGXEnclave\
            \ - Attempt to set GeoDR link or update SLO for enclave enabled database\
            \ is only supported when both database are running on DC-series hardware.\n\
            \n * 400 InvalidInputValueDatabaseVcoreMinLargerThanMax - Attempting to\
            \ set the VCore min per database higher than the VCore max per database.\n\
            \n * 400 InvalidLicenseType - User tried to create or update a database\
            \ or elastic pool with unsupported license type.\n\n * 400 ProvisioningDisabled\
            \ - Displays error message from resources operation authorizer as is,\
            \ without changes\n\n * 400 CapacityGroupThresholdExceeded - Requested\
            \ service level objective and storage size maps to specific capacity group\
            \ and currently resources for this capacity group has reach threshold\
            \ and further actions need sto be taken before more database can be placed\
            \ in those rings.\n\n * 400 CapacityGroupThresholdCheckFail - Capacity\
            \ group resource constraint check failed thus unable to verify whether\
            \ enough capacity exist to complete the operation.\n\n * 400 InvalidPublicMaintenanceConfiguration\
            \ - User tried to specify public maintenance configuration which cannot\
            \ be converted to internal id (malformed or wrong region).\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ElasticPoolNotFound - The specified elastic\
            \ pool does not exist for the specified server.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 405 NotSupported - This\
            \ functionality is not supported.\n\n * 409 ElasticPoolBusy - A management\
            \ operation was attempted on an elastic pool which is busy.\n\n * 409\
            \ ServerDisabled - Server is disabled.\n\n * 409 SimultaneousSkuChangeNotAllowed\
            \ - Service objective change operations cannot run on both databases of\
            \ a replication relationship at the same time.\n\n * 409 ElasticPoolUpdateLinksNotInCatchup\
            \ - Cannot update elastic pool while one of its databases is performing\
            \ a copy or geo-replication failover operation.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 ElasticPoolFailedMoveDbToElasticPool\
            \ - Failed to move the database into elastic pool due to internal resource\
            \ constraints. This may be a transient condition, please retry.\n\n *\
            \ 500 OperationTimedOut - The operation timed out and automatically rolled\
            \ back. Please retry the operation.\n\n * 503 ServiceTemporarilyUnavailable\
            \ - Feature temporarily unavailable.\n\n * 503 TooManyRequests - Requests\
            \ beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}
  : get:
      tags:
      - ElasticPools
      description: Gets an elastic pool.
      operationId: ElasticPools_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: elasticPoolName
        in: path
        description: The name of the elastic pool.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: "The elastic pool SKU.\r\n\r\nThe list of SKUs may\
                      \ vary by region and support offer. To determine the SKUs (including\
                      \ the SKU name, tier/edition, family, and capacity) that are\
                      \ available to your subscription in an Azure region, use the\
                      \ `Capabilities_ListByLocation` REST API or the following command:\r\
                      \n\r\n```azurecli\r\naz sql elastic-pool list-editions -l <location>\
                      \ -o table\r\n````\r\n"
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  kind:
                    description: Kind of elastic pool. This is metadata used for the
                      Azure portal experience.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: The state of the elastic pool.
                        enum:
                        - Creating
                        - Ready
                        - Disabled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ElasticPoolState
                          modelAsString: true
                      creationDate:
                        format: date-time
                        description: The creation date of the elastic pool (ISO8601
                          format).
                        type: string
                        readOnly: true
                      maxSizeBytes:
                        format: int64
                        description: The storage limit for the database elastic pool
                          in bytes.
                        type: integer
                      minCapacity:
                        format: double
                        description: Minimal capacity that serverless pool will not
                          shrink below, if not paused
                        type: number
                      perDatabaseSettings:
                        description: The per database settings for the elastic pool.
                        type: object
                        properties:
                          minCapacity:
                            format: double
                            description: The minimum capacity all databases are guaranteed.
                            type: number
                          maxCapacity:
                            format: double
                            description: The maximum capacity any one database can
                              consume.
                            type: number
                          autoPauseDelay:
                            format: int32
                            description: Auto Pause Delay for per database within
                              pool
                            type: integer
                      zoneRedundant:
                        description: Whether or not this elastic pool is zone redundant,
                          which means the replicas of this elastic pool will be spread
                          across multiple availability zones.
                        type: boolean
                      licenseType:
                        description: The license type to apply for this elastic pool.
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: ElasticPoolLicenseType
                          modelAsString: true
                      maintenanceConfigurationId:
                        description: Maintenance configuration id assigned to the
                          elastic pool. This configuration defines the period when
                          the maintenance updates will will occur.
                        type: string
                      highAvailabilityReplicaCount:
                        format: int32
                        description: The number of secondary replicas associated with
                          the Business Critical, Premium, or Hyperscale edition elastic
                          pool that are used to provide high availability. Applicable
                          only to Hyperscale elastic pools.
                        type: integer
                      autoPauseDelay:
                        format: int32
                        description: Time in minutes after which elastic pool is automatically
                          paused. A value of -1 means that automatic pause is disabled
                        type: integer
                      preferredEnclaveType:
                        description: Type of enclave requested on the elastic pool.
                        enum:
                        - Default
                        - VBS
                        type: string
                        x-ms-enum:
                          name: AlwaysEncryptedEnclaveType
                          modelAsString: true
                      availabilityZone:
                        description: Specifies the availability zone the pool's primary
                          replica is pinned to.
                        enum:
                        - NoPreference
                        - '1'
                        - '2'
                        - '3'
                        type: string
                        x-ms-enum:
                          name: AvailabilityZoneType
                          modelAsString: true
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ElasticPoolOverStorageUsage\
            \ - Attempting to write data to a database when the storage limit of the\
            \ elastic pool has been reached.\n\n * 400 ElasticPoolScaleNotSupportedWithInaccessibleDatabases\
            \ - The elastic pool contains inaccessible databases which have lost Azure\
            \ Key Vault access required for TDE configuration. Please move the accessible\
            \ databases to a different pool for scaling or restore the lost Azure\
            \ Key Vault access for the inaccessible databases.\n\n * 400 CreateElasticPoolAttemptedWhenKeyRotationInProgress\
            \ - The create elastic pool operation cannot be performed at this time\
            \ due to ongoing Transparent Data Encryption (TDE) key rotation on the\
            \ server. Please try the operation again later.\n\n * 400 InvalidSku -\
            \ The user specified an invalid sku.\n\n * 400 InvalidTierSkuCombination\
            \ - The specified tier does not support the specified sku.\n\n * 400 ServerQuotaExceeded\
            \ - The server reached its limit for allowed Database Throughput Unit.\n\
            \n * 400 ElasticPoolAlreadyExists - The server already contains an elastic\
            \ pool with the specified name.\n\n * 400 SubscriptionVcoreQuotaExceeded\
            \ - Could not perform the operation because subscription would exceed\
            \ the allowed vCore quota.\n\n * 400 InvalidInputValueForEdition - Specified\
            \ edition is not supported for elastic pool provisioning.\n\n * 400 ElasticPoolDtuBelowLimit\
            \ - The requested DTU value is too low for the requested elastic pool\
            \ service tier.\n\n * 400 ElasticPoolDtuAboveLimit - The requested DTU\
            \ value is too high for the requested elastic pool service tier.\n\n *\
            \ 400 InvalidMaxSize - Invalid max size.\n\n * 400 ElasticPoolDbDtuMaxBelowLimit\
            \ - The requested per database DTU max is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbDtuMaxAboveLimit - The requested\
            \ per database DTU max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set\
            \ the DTU max per database for the Resource Pool which doesn't match the\
            \ allowed values.\n\n * 400 ElasticPoolDbDtuMinAboveLimit - The requested\
            \ DTU min per database is too high for the requested service tier.\n\n\
            \ * 400 ElasticPoolOverStorage - Attempting to write data to a database\
            \ when the storage limit of the elastic pool has been reached.\n\n * 400\
            \ InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per\
            \ database for the Resource Pool which doesn't match the allowed values.\n\
            \n * 400 ElasticPoolInconsistentDtuGuaranteeSettings - Attempting to provide\
            \ DTU min for databases in the elastic pool that exceeds requested DTUs\
            \ of the elastic pool.\n\n * 400 ElasticPoolDtuUnsupported - User tried\
            \ to create or update an elastic pool with a DTU capacity that is not\
            \ supported.\n\n * 400 ElasticPoolStorageAboveLimitGB - Attempting to\
            \ set the elastic pool storage limit below the supported limit.\n\n *\
            \ 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in\
            \ this region.\n\n * 400 ElasticPoolNotEmpty - Request to delete an elastic\
            \ pool that is not empty.\n\n * 400 ElasticPoolStorageBelowLimitGB - Attempting\
            \ to set the elastic pool storage limit below the supported limit.\n\n\
            \ * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic\
            \ pool storage limit in gb which doesn't match the allowed values.\n\n\
            \ * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit\
            \ for number of databases.\n\n * 400 ElasticPoolDecreaseStorageLimitBelowUsage\
            \ - Attempting to decrease the storage limit of the elastic pool below\
            \ its storage usage.\n\n * 400 InvalidInputValueDatabaseDtuMinLargerThanMax\
            \ - Attempting to set the DTU min per database higher than the DTU max\
            \ per database.\n\n * 400 ElasticPoolInconsistentVcoreGuaranteeSettings\
            \ - The number of databases and VCore min per database cannot exceed requested\
            \ VCores of the elastic pool.\n\n * 400 ElasticPoolStorageBelowLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 ElasticPoolStorageNotAllowedMB - Attempting to set\
            \ the elastic pool storage limit in mb which doesn't match the allowed\
            \ values.\n\n * 400 ElasticPoolCapacityStorageNotAllowedMB - Attempting\
            \ to set the elastic pool storage limit in mb which doesn't match the\
            \ allowed values.\n\n * 400 InvalidReadScaleUnits - User attempted to\
            \ provide a read scale value that is not supported.\n\n * 400 ElasticPoolStorageAboveLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 RegionDoesNotSupportVersion - A user attempted to create\
            \ a server of a specified version in a location where that server version\
            \ isn't supported.\n\n * 400 InvalidTier - The user specified an invalid\
            \ tier.\n\n * 400 SourceDatabaseEditionCouldNotBeUpgraded - The source\
            \ database cannot have higher edition than the target database.\n\n *\
            \ 400 TargetDatabaseEditionCouldNotBeDowngraded - The target database\
            \ cannot have lower edition than the source database.\n\n * 400 ElasticPoolUpdateHkNotAllowed\
            \ - The elastic pool cannot lower its service tier from Premium to Standard\
            \ or Basic since one or more of its databases use memory-optimized objects.\n\
            \n * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is\
            \ disallowed because copy or failover operation for database '{0}' on\
            \ server '{1}' is currently in progress.\n\n * 400 RegionDoesNotAllowProvisioning\
            \ - The selected location is not accepting new Windows Azure SQL Database\
            \ servers. This may change at a later time.\n\n * 400 HSElasticPoolUpdateSloPRMSNotSupported\
            \ - The service objective assignment for the database has failed. Please\
            \ contact Microsoft customer support and provide the server name, database\
            \ name and activity ID.\n\n * 400 ElasticPoolOverFileSpace - Insufficient\
            \ file space in the elastic pool.\n\n * 400 ElasticPoolDbDtuMinBelowLimit\
            \ - The requested per database DTU min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbVcoreMaxBelowLimit - The requested\
            \ per database VCore max is too low for the requested elastic pool service\
            \ tier.\n\n * 400 ElasticPoolDbVcoreMaxAboveLimit - The requested per\
            \ database VCore max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMax - Attempting to\
            \ set the VCore max per database for the Resource Pool which doesn't match\
            \ the allowed values.\n\n * 400 ElasticPoolDbVcoreMinBelowLimit - The\
            \ requested per database VCore min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMin -\
            \ Attempting to set the VCore min per database for the Resource Pool which\
            \ doesn't match the allowed values.\n\n * 400 PartnerDBNotCompatibleForSGXEnclave\
            \ - Attempt to set GeoDR link or update SLO for enclave enabled database\
            \ is only supported when both database are running on DC-series hardware.\n\
            \n * 400 InvalidInputValueDatabaseVcoreMinLargerThanMax - Attempting to\
            \ set the VCore min per database higher than the VCore max per database.\n\
            \n * 400 InvalidLicenseType - User tried to create or update a database\
            \ or elastic pool with unsupported license type.\n\n * 400 ProvisioningDisabled\
            \ - Displays error message from resources operation authorizer as is,\
            \ without changes\n\n * 400 CapacityGroupThresholdExceeded - Requested\
            \ service level objective and storage size maps to specific capacity group\
            \ and currently resources for this capacity group has reach threshold\
            \ and further actions need sto be taken before more database can be placed\
            \ in those rings.\n\n * 400 CapacityGroupThresholdCheckFail - Capacity\
            \ group resource constraint check failed thus unable to verify whether\
            \ enough capacity exist to complete the operation.\n\n * 400 InvalidPublicMaintenanceConfiguration\
            \ - User tried to specify public maintenance configuration which cannot\
            \ be converted to internal id (malformed or wrong region).\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ElasticPoolNotFound - The specified elastic\
            \ pool does not exist for the specified server.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 404 ResourceNotFound -\
            \ The requested resource was not found.\n\n * 405 NotSupported - This\
            \ functionality is not supported.\n\n * 409 ElasticPoolBusy - A management\
            \ operation was attempted on an elastic pool which is busy.\n\n * 409\
            \ ServerDisabled - Server is disabled.\n\n * 409 SimultaneousSkuChangeNotAllowed\
            \ - Service objective change operations cannot run on both databases of\
            \ a replication relationship at the same time.\n\n * 409 ElasticPoolUpdateLinksNotInCatchup\
            \ - Cannot update elastic pool while one of its databases is performing\
            \ a copy or geo-replication failover operation.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 ElasticPoolFailedMoveDbToElasticPool\
            \ - Failed to move the database into elastic pool due to internal resource\
            \ constraints. This may be a transient condition, please retry.\n\n *\
            \ 500 OperationTimedOut - The operation timed out and automatically rolled\
            \ back. Please retry the operation.\n\n * 503 ServiceTemporarilyUnavailable\
            \ - Feature temporarily unavailable.\n\n * 503 TooManyRequests - Requests\
            \ beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ElasticPools
      description: Creates or updates an elastic pool.
      operationId: ElasticPools_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: elasticPoolName
        in: path
        description: The name of the elastic pool.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                location:
                  description: Resource location.
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: "The elastic pool SKU.\r\n\r\nThe list of SKUs may\
                    \ vary by region and support offer. To determine the SKUs (including\
                    \ the SKU name, tier/edition, family, and capacity) that are available\
                    \ to your subscription in an Azure region, use the `Capabilities_ListByLocation`\
                    \ REST API or the following command:\r\n\r\n```azurecli\r\naz\
                    \ sql elastic-pool list-editions -l <location> -o table\r\n````\r\
                    \n"
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, typically, a letter + Number
                        code, e.g. P3.
                      type: string
                    tier:
                      description: The tier or edition of the particular SKU, e.g.
                        Basic, Premium.
                      type: string
                    size:
                      description: Size of the particular SKU
                      type: string
                    family:
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                      type: string
                    capacity:
                      format: int32
                      description: Capacity of the particular SKU.
                      type: integer
                kind:
                  description: Kind of elastic pool. This is metadata used for the
                    Azure portal experience.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    state:
                      description: The state of the elastic pool.
                      enum:
                      - Creating
                      - Ready
                      - Disabled
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ElasticPoolState
                        modelAsString: true
                    creationDate:
                      format: date-time
                      description: The creation date of the elastic pool (ISO8601
                        format).
                      type: string
                      readOnly: true
                    maxSizeBytes:
                      format: int64
                      description: The storage limit for the database elastic pool
                        in bytes.
                      type: integer
                    minCapacity:
                      format: double
                      description: Minimal capacity that serverless pool will not
                        shrink below, if not paused
                      type: number
                    perDatabaseSettings:
                      description: The per database settings for the elastic pool.
                      type: object
                      properties:
                        minCapacity:
                          format: double
                          description: The minimum capacity all databases are guaranteed.
                          type: number
                        maxCapacity:
                          format: double
                          description: The maximum capacity any one database can consume.
                          type: number
                        autoPauseDelay:
                          format: int32
                          description: Auto Pause Delay for per database within pool
                          type: integer
                    zoneRedundant:
                      description: Whether or not this elastic pool is zone redundant,
                        which means the replicas of this elastic pool will be spread
                        across multiple availability zones.
                      type: boolean
                    licenseType:
                      description: The license type to apply for this elastic pool.
                      enum:
                      - LicenseIncluded
                      - BasePrice
                      type: string
                      x-ms-enum:
                        name: ElasticPoolLicenseType
                        modelAsString: true
                    maintenanceConfigurationId:
                      description: Maintenance configuration id assigned to the elastic
                        pool. This configuration defines the period when the maintenance
                        updates will will occur.
                      type: string
                    highAvailabilityReplicaCount:
                      format: int32
                      description: The number of secondary replicas associated with
                        the Business Critical, Premium, or Hyperscale edition elastic
                        pool that are used to provide high availability. Applicable
                        only to Hyperscale elastic pools.
                      type: integer
                    autoPauseDelay:
                      format: int32
                      description: Time in minutes after which elastic pool is automatically
                        paused. A value of -1 means that automatic pause is disabled
                      type: integer
                    preferredEnclaveType:
                      description: Type of enclave requested on the elastic pool.
                      enum:
                      - Default
                      - VBS
                      type: string
                      x-ms-enum:
                        name: AlwaysEncryptedEnclaveType
                        modelAsString: true
                    availabilityZone:
                      description: Specifies the availability zone the pool's primary
                        replica is pinned to.
                      enum:
                      - NoPreference
                      - '1'
                      - '2'
                      - '3'
                      type: string
                      x-ms-enum:
                        name: AvailabilityZoneType
                        modelAsString: true
              required:
              - location
              description: ARM resource.
              x-ms-azure-resource: true
        description: The elastic pool parameters.
        required: true
      responses:
        '200':
          description: Updated the elastic pool
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: "The elastic pool SKU.\r\n\r\nThe list of SKUs may\
                      \ vary by region and support offer. To determine the SKUs (including\
                      \ the SKU name, tier/edition, family, and capacity) that are\
                      \ available to your subscription in an Azure region, use the\
                      \ `Capabilities_ListByLocation` REST API or the following command:\r\
                      \n\r\n```azurecli\r\naz sql elastic-pool list-editions -l <location>\
                      \ -o table\r\n````\r\n"
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  kind:
                    description: Kind of elastic pool. This is metadata used for the
                      Azure portal experience.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: The state of the elastic pool.
                        enum:
                        - Creating
                        - Ready
                        - Disabled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ElasticPoolState
                          modelAsString: true
                      creationDate:
                        format: date-time
                        description: The creation date of the elastic pool (ISO8601
                          format).
                        type: string
                        readOnly: true
                      maxSizeBytes:
                        format: int64
                        description: The storage limit for the database elastic pool
                          in bytes.
                        type: integer
                      minCapacity:
                        format: double
                        description: Minimal capacity that serverless pool will not
                          shrink below, if not paused
                        type: number
                      perDatabaseSettings:
                        description: The per database settings for the elastic pool.
                        type: object
                        properties:
                          minCapacity:
                            format: double
                            description: The minimum capacity all databases are guaranteed.
                            type: number
                          maxCapacity:
                            format: double
                            description: The maximum capacity any one database can
                              consume.
                            type: number
                          autoPauseDelay:
                            format: int32
                            description: Auto Pause Delay for per database within
                              pool
                            type: integer
                      zoneRedundant:
                        description: Whether or not this elastic pool is zone redundant,
                          which means the replicas of this elastic pool will be spread
                          across multiple availability zones.
                        type: boolean
                      licenseType:
                        description: The license type to apply for this elastic pool.
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: ElasticPoolLicenseType
                          modelAsString: true
                      maintenanceConfigurationId:
                        description: Maintenance configuration id assigned to the
                          elastic pool. This configuration defines the period when
                          the maintenance updates will will occur.
                        type: string
                      highAvailabilityReplicaCount:
                        format: int32
                        description: The number of secondary replicas associated with
                          the Business Critical, Premium, or Hyperscale edition elastic
                          pool that are used to provide high availability. Applicable
                          only to Hyperscale elastic pools.
                        type: integer
                      autoPauseDelay:
                        format: int32
                        description: Time in minutes after which elastic pool is automatically
                          paused. A value of -1 means that automatic pause is disabled
                        type: integer
                      preferredEnclaveType:
                        description: Type of enclave requested on the elastic pool.
                        enum:
                        - Default
                        - VBS
                        type: string
                        x-ms-enum:
                          name: AlwaysEncryptedEnclaveType
                          modelAsString: true
                      availabilityZone:
                        description: Specifies the availability zone the pool's primary
                          replica is pinned to.
                        enum:
                        - NoPreference
                        - '1'
                        - '2'
                        - '3'
                        type: string
                        x-ms-enum:
                          name: AvailabilityZoneType
                          modelAsString: true
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Created the elastic pool
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: "The elastic pool SKU.\r\n\r\nThe list of SKUs may\
                      \ vary by region and support offer. To determine the SKUs (including\
                      \ the SKU name, tier/edition, family, and capacity) that are\
                      \ available to your subscription in an Azure region, use the\
                      \ `Capabilities_ListByLocation` REST API or the following command:\r\
                      \n\r\n```azurecli\r\naz sql elastic-pool list-editions -l <location>\
                      \ -o table\r\n````\r\n"
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  kind:
                    description: Kind of elastic pool. This is metadata used for the
                      Azure portal experience.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: The state of the elastic pool.
                        enum:
                        - Creating
                        - Ready
                        - Disabled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ElasticPoolState
                          modelAsString: true
                      creationDate:
                        format: date-time
                        description: The creation date of the elastic pool (ISO8601
                          format).
                        type: string
                        readOnly: true
                      maxSizeBytes:
                        format: int64
                        description: The storage limit for the database elastic pool
                          in bytes.
                        type: integer
                      minCapacity:
                        format: double
                        description: Minimal capacity that serverless pool will not
                          shrink below, if not paused
                        type: number
                      perDatabaseSettings:
                        description: The per database settings for the elastic pool.
                        type: object
                        properties:
                          minCapacity:
                            format: double
                            description: The minimum capacity all databases are guaranteed.
                            type: number
                          maxCapacity:
                            format: double
                            description: The maximum capacity any one database can
                              consume.
                            type: number
                          autoPauseDelay:
                            format: int32
                            description: Auto Pause Delay for per database within
                              pool
                            type: integer
                      zoneRedundant:
                        description: Whether or not this elastic pool is zone redundant,
                          which means the replicas of this elastic pool will be spread
                          across multiple availability zones.
                        type: boolean
                      licenseType:
                        description: The license type to apply for this elastic pool.
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: ElasticPoolLicenseType
                          modelAsString: true
                      maintenanceConfigurationId:
                        description: Maintenance configuration id assigned to the
                          elastic pool. This configuration defines the period when
                          the maintenance updates will will occur.
                        type: string
                      highAvailabilityReplicaCount:
                        format: int32
                        description: The number of secondary replicas associated with
                          the Business Critical, Premium, or Hyperscale edition elastic
                          pool that are used to provide high availability. Applicable
                          only to Hyperscale elastic pools.
                        type: integer
                      autoPauseDelay:
                        format: int32
                        description: Time in minutes after which elastic pool is automatically
                          paused. A value of -1 means that automatic pause is disabled
                        type: integer
                      preferredEnclaveType:
                        description: Type of enclave requested on the elastic pool.
                        enum:
                        - Default
                        - VBS
                        type: string
                        x-ms-enum:
                          name: AlwaysEncryptedEnclaveType
                          modelAsString: true
                      availabilityZone:
                        description: Specifies the availability zone the pool's primary
                          replica is pinned to.
                        enum:
                        - NoPreference
                        - '1'
                        - '2'
                        - '3'
                        type: string
                        x-ms-enum:
                          name: AvailabilityZoneType
                          modelAsString: true
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ElasticPoolOverStorageUsage\
            \ - Attempting to write data to a database when the storage limit of the\
            \ elastic pool has been reached.\n\n * 400 ElasticPoolScaleNotSupportedWithInaccessibleDatabases\
            \ - The elastic pool contains inaccessible databases which have lost Azure\
            \ Key Vault access required for TDE configuration. Please move the accessible\
            \ databases to a different pool for scaling or restore the lost Azure\
            \ Key Vault access for the inaccessible databases.\n\n * 400 CreateElasticPoolAttemptedWhenKeyRotationInProgress\
            \ - The create elastic pool operation cannot be performed at this time\
            \ due to ongoing Transparent Data Encryption (TDE) key rotation on the\
            \ server. Please try the operation again later.\n\n * 400 InvalidSku -\
            \ The user specified an invalid sku.\n\n * 400 InvalidTierSkuCombination\
            \ - The specified tier does not support the specified sku.\n\n * 400 ServerQuotaExceeded\
            \ - The server reached its limit for allowed Database Throughput Unit.\n\
            \n * 400 ElasticPoolAlreadyExists - The server already contains an elastic\
            \ pool with the specified name.\n\n * 400 SubscriptionVcoreQuotaExceeded\
            \ - Could not perform the operation because subscription would exceed\
            \ the allowed vCore quota.\n\n * 400 InvalidInputValueForEdition - Specified\
            \ edition is not supported for elastic pool provisioning.\n\n * 400 ElasticPoolDtuBelowLimit\
            \ - The requested DTU value is too low for the requested elastic pool\
            \ service tier.\n\n * 400 ElasticPoolDtuAboveLimit - The requested DTU\
            \ value is too high for the requested elastic pool service tier.\n\n *\
            \ 400 InvalidMaxSize - Invalid max size.\n\n * 400 ElasticPoolDbDtuMaxBelowLimit\
            \ - The requested per database DTU max is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbDtuMaxAboveLimit - The requested\
            \ per database DTU max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set\
            \ the DTU max per database for the Resource Pool which doesn't match the\
            \ allowed values.\n\n * 400 ElasticPoolDbDtuMinAboveLimit - The requested\
            \ DTU min per database is too high for the requested service tier.\n\n\
            \ * 400 ElasticPoolOverStorage - Attempting to write data to a database\
            \ when the storage limit of the elastic pool has been reached.\n\n * 400\
            \ InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per\
            \ database for the Resource Pool which doesn't match the allowed values.\n\
            \n * 400 ElasticPoolInconsistentDtuGuaranteeSettings - Attempting to provide\
            \ DTU min for databases in the elastic pool that exceeds requested DTUs\
            \ of the elastic pool.\n\n * 400 ElasticPoolDtuUnsupported - User tried\
            \ to create or update an elastic pool with a DTU capacity that is not\
            \ supported.\n\n * 400 ElasticPoolStorageAboveLimitGB - Attempting to\
            \ set the elastic pool storage limit below the supported limit.\n\n *\
            \ 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in\
            \ this region.\n\n * 400 ElasticPoolNotEmpty - Request to delete an elastic\
            \ pool that is not empty.\n\n * 400 ElasticPoolStorageBelowLimitGB - Attempting\
            \ to set the elastic pool storage limit below the supported limit.\n\n\
            \ * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic\
            \ pool storage limit in gb which doesn't match the allowed values.\n\n\
            \ * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit\
            \ for number of databases.\n\n * 400 ElasticPoolDecreaseStorageLimitBelowUsage\
            \ - Attempting to decrease the storage limit of the elastic pool below\
            \ its storage usage.\n\n * 400 InvalidInputValueDatabaseDtuMinLargerThanMax\
            \ - Attempting to set the DTU min per database higher than the DTU max\
            \ per database.\n\n * 400 ElasticPoolInconsistentVcoreGuaranteeSettings\
            \ - The number of databases and VCore min per database cannot exceed requested\
            \ VCores of the elastic pool.\n\n * 400 ElasticPoolStorageBelowLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 ElasticPoolStorageNotAllowedMB - Attempting to set\
            \ the elastic pool storage limit in mb which doesn't match the allowed\
            \ values.\n\n * 400 ElasticPoolCapacityStorageNotAllowedMB - Attempting\
            \ to set the elastic pool storage limit in mb which doesn't match the\
            \ allowed values.\n\n * 400 InvalidReadScaleUnits - User attempted to\
            \ provide a read scale value that is not supported.\n\n * 400 ElasticPoolStorageAboveLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 RegionDoesNotSupportVersion - A user attempted to create\
            \ a server of a specified version in a location where that server version\
            \ isn't supported.\n\n * 400 InvalidTier - The user specified an invalid\
            \ tier.\n\n * 400 SourceDatabaseEditionCouldNotBeUpgraded - The source\
            \ database cannot have higher edition than the target database.\n\n *\
            \ 400 TargetDatabaseEditionCouldNotBeDowngraded - The target database\
            \ cannot have lower edition than the source database.\n\n * 400 ElasticPoolUpdateHkNotAllowed\
            \ - The elastic pool cannot lower its service tier from Premium to Standard\
            \ or Basic since one or more of its databases use memory-optimized objects.\n\
            \n * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is\
            \ disallowed because copy or failover operation for database '{0}' on\
            \ server '{1}' is currently in progress.\n\n * 400 RegionDoesNotAllowProvisioning\
            \ - The selected location is not accepting new Windows Azure SQL Database\
            \ servers. This may change at a later time.\n\n * 400 HSElasticPoolUpdateSloPRMSNotSupported\
            \ - The service objective assignment for the database has failed. Please\
            \ contact Microsoft customer support and provide the server name, database\
            \ name and activity ID.\n\n * 400 ElasticPoolOverFileSpace - Insufficient\
            \ file space in the elastic pool.\n\n * 400 ElasticPoolDbDtuMinBelowLimit\
            \ - The requested per database DTU min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbVcoreMaxBelowLimit - The requested\
            \ per database VCore max is too low for the requested elastic pool service\
            \ tier.\n\n * 400 ElasticPoolDbVcoreMaxAboveLimit - The requested per\
            \ database VCore max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMax - Attempting to\
            \ set the VCore max per database for the Resource Pool which doesn't match\
            \ the allowed values.\n\n * 400 ElasticPoolDbVcoreMinBelowLimit - The\
            \ requested per database VCore min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMin -\
            \ Attempting to set the VCore min per database for the Resource Pool which\
            \ doesn't match the allowed values.\n\n * 400 PartnerDBNotCompatibleForSGXEnclave\
            \ - Attempt to set GeoDR link or update SLO for enclave enabled database\
            \ is only supported when both database are running on DC-series hardware.\n\
            \n * 400 InvalidInputValueDatabaseVcoreMinLargerThanMax - Attempting to\
            \ set the VCore min per database higher than the VCore max per database.\n\
            \n * 400 InvalidLicenseType - User tried to create or update a database\
            \ or elastic pool with unsupported license type.\n\n * 400 ProvisioningDisabled\
            \ - Displays error message from resources operation authorizer as is,\
            \ without changes\n\n * 400 CapacityGroupThresholdExceeded - Requested\
            \ service level objective and storage size maps to specific capacity group\
            \ and currently resources for this capacity group has reach threshold\
            \ and further actions need sto be taken before more database can be placed\
            \ in those rings.\n\n * 400 CapacityGroupThresholdCheckFail - Capacity\
            \ group resource constraint check failed thus unable to verify whether\
            \ enough capacity exist to complete the operation.\n\n * 400 InvalidPublicMaintenanceConfiguration\
            \ - User tried to specify public maintenance configuration which cannot\
            \ be converted to internal id (malformed or wrong region).\n\n * 400 InvalidResourceRequestBody\
            \ - The resource or resource properties in the request body is empty or\
            \ invalid.\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\
            \n * 400 InvalidSkuName - Invalid SKU name.\n\n * 400 MismatchedSkuNameAndCapacity\
            \ - Mismatch between SKU name and capacity.\n\n * 400 MismatchedSkuNameAndTier\
            \ - Mismatch between SKU name and tier.\n\n * 400 MismatchedSkuNameAndFamily\
            \ - Mismatch between SKU name and family.\n\n * 400 MismatchingSubscriptionWithUrl\
            \ - The provided subscription did not match the subscription in the Url.\n\
            \n * 400 AvailabilityZoneNotSupported - Requested availability zones for\
            \ databases and elastic pools is not valid.\n\n * 400 ElasticPoolOverStorageUsage\
            \ - Attempting to write data to a database when the storage limit of the\
            \ elastic pool has been reached.\n\n * 400 ElasticPoolScaleNotSupportedWithInaccessibleDatabases\
            \ - The elastic pool contains inaccessible databases which have lost Azure\
            \ Key Vault access required for TDE configuration. Please move the accessible\
            \ databases to a different pool for scaling or restore the lost Azure\
            \ Key Vault access for the inaccessible databases.\n\n * 400 CreateElasticPoolAttemptedWhenKeyRotationInProgress\
            \ - The create elastic pool operation cannot be performed at this time\
            \ due to ongoing Transparent Data Encryption (TDE) key rotation on the\
            \ server. Please try the operation again later.\n\n * 400 InvalidSku -\
            \ The user specified an invalid sku.\n\n * 400 InvalidTierSkuCombination\
            \ - The specified tier does not support the specified sku.\n\n * 400 ServerQuotaExceeded\
            \ - The server reached its limit for allowed Database Throughput Unit.\n\
            \n * 400 ElasticPoolAlreadyExists - The server already contains an elastic\
            \ pool with the specified name.\n\n * 400 SubscriptionVcoreQuotaExceeded\
            \ - Could not perform the operation because subscription would exceed\
            \ the allowed vCore quota.\n\n * 400 InvalidInputValueForEdition - Specified\
            \ edition is not supported for elastic pool provisioning.\n\n * 400 ElasticPoolDtuBelowLimit\
            \ - The requested DTU value is too low for the requested elastic pool\
            \ service tier.\n\n * 400 ElasticPoolDtuAboveLimit - The requested DTU\
            \ value is too high for the requested elastic pool service tier.\n\n *\
            \ 400 InvalidMaxSize - Invalid max size.\n\n * 400 ElasticPoolDbDtuMaxBelowLimit\
            \ - The requested per database DTU max is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbDtuMaxAboveLimit - The requested\
            \ per database DTU max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set\
            \ the DTU max per database for the Resource Pool which doesn't match the\
            \ allowed values.\n\n * 400 ElasticPoolDbDtuMinAboveLimit - The requested\
            \ DTU min per database is too high for the requested service tier.\n\n\
            \ * 400 ElasticPoolOverStorage - Attempting to write data to a database\
            \ when the storage limit of the elastic pool has been reached.\n\n * 400\
            \ InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per\
            \ database for the Resource Pool which doesn't match the allowed values.\n\
            \n * 400 ElasticPoolInconsistentDtuGuaranteeSettings - Attempting to provide\
            \ DTU min for databases in the elastic pool that exceeds requested DTUs\
            \ of the elastic pool.\n\n * 400 ElasticPoolDtuUnsupported - User tried\
            \ to create or update an elastic pool with a DTU capacity that is not\
            \ supported.\n\n * 400 ElasticPoolStorageAboveLimitGB - Attempting to\
            \ set the elastic pool storage limit below the supported limit.\n\n *\
            \ 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in\
            \ this region.\n\n * 400 ElasticPoolNotEmpty - Request to delete an elastic\
            \ pool that is not empty.\n\n * 400 ElasticPoolStorageBelowLimitGB - Attempting\
            \ to set the elastic pool storage limit below the supported limit.\n\n\
            \ * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic\
            \ pool storage limit in gb which doesn't match the allowed values.\n\n\
            \ * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit\
            \ for number of databases.\n\n * 400 ElasticPoolDecreaseStorageLimitBelowUsage\
            \ - Attempting to decrease the storage limit of the elastic pool below\
            \ its storage usage.\n\n * 400 InvalidInputValueDatabaseDtuMinLargerThanMax\
            \ - Attempting to set the DTU min per database higher than the DTU max\
            \ per database.\n\n * 400 ElasticPoolInconsistentVcoreGuaranteeSettings\
            \ - The number of databases and VCore min per database cannot exceed requested\
            \ VCores of the elastic pool.\n\n * 400 ElasticPoolStorageBelowLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 ElasticPoolStorageNotAllowedMB - Attempting to set\
            \ the elastic pool storage limit in mb which doesn't match the allowed\
            \ values.\n\n * 400 ElasticPoolCapacityStorageNotAllowedMB - Attempting\
            \ to set the elastic pool storage limit in mb which doesn't match the\
            \ allowed values.\n\n * 400 InvalidReadScaleUnits - User attempted to\
            \ provide a read scale value that is not supported.\n\n * 400 ElasticPoolStorageAboveLimitMB\
            \ - Attempting to set the elastic pool storage limit below the supported\
            \ limit.\n\n * 400 RegionDoesNotSupportVersion - A user attempted to create\
            \ a server of a specified version in a location where that server version\
            \ isn't supported.\n\n * 400 InvalidTier - The user specified an invalid\
            \ tier.\n\n * 400 SourceDatabaseEditionCouldNotBeUpgraded - The source\
            \ database cannot have higher edition than the target database.\n\n *\
            \ 400 TargetDatabaseEditionCouldNotBeDowngraded - The target database\
            \ cannot have lower edition than the source database.\n\n * 400 ElasticPoolUpdateHkNotAllowed\
            \ - The elastic pool cannot lower its service tier from Premium to Standard\
            \ or Basic since one or more of its databases use memory-optimized objects.\n\
            \n * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is\
            \ disallowed because copy or failover operation for database '{0}' on\
            \ server '{1}' is currently in progress.\n\n * 400 RegionDoesNotAllowProvisioning\
            \ - The selected location is not accepting new Windows Azure SQL Database\
            \ servers. This may change at a later time.\n\n * 400 HSElasticPoolUpdateSloPRMSNotSupported\
            \ - The service objective assignment for the database has failed. Please\
            \ contact Microsoft customer support and provide the server name, database\
            \ name and activity ID.\n\n * 400 ElasticPoolOverFileSpace - Insufficient\
            \ file space in the elastic pool.\n\n * 400 ElasticPoolDbDtuMinBelowLimit\
            \ - The requested per database DTU min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 ElasticPoolDbVcoreMaxBelowLimit - The requested\
            \ per database VCore max is too low for the requested elastic pool service\
            \ tier.\n\n * 400 ElasticPoolDbVcoreMaxAboveLimit - The requested per\
            \ database VCore max is too high for the requested elastic pool service\
            \ tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMax - Attempting to\
            \ set the VCore max per database for the Resource Pool which doesn't match\
            \ the allowed values.\n\n * 400 ElasticPoolDbVcoreMinBelowLimit - The\
            \ requested per database VCore min is too low for the requested elastic\
            \ pool service tier.\n\n * 400 InvalidInputValueForDatabaseVcoreMin -\
            \ Attempting to set the VCore min per database for the Resource Pool which\
            \ doesn't match the allowed values.\n\n * 400 PartnerDBNotCompatibleForSGXEnclave\
            \ - Attempt to set GeoDR link or update SLO for enclave enabled database\
            \ is only supported when both database are running on DC-series hardware.\n\
            \n * 400 InvalidInputValueDatabaseVcoreMinLargerThanMax - Attempting to\
            \ set the VCore min per database higher than the VCore max per database.\n\
            \n * 400 InvalidLicenseType - User tried to create or update a database\
            \ or elastic pool with unsupported license type.\n\n * 400 ProvisioningDisabled\
            \ - Displays error message from resources operation authorizer as is,\
            \ without changes\n\n * 400 CapacityGroupThresholdExceeded - Requested\
            \ service level objective and storage size maps to specific capacity group\
            \ and currently resources for this capacity group has reach threshold\
            \ and further actions need sto be taken before more database can be placed\
            \ in those rings.\n\n * 400 CapacityGroupThresholdCheckFail - Capacity\
            \ group resource constraint check failed thus unable to verify whether\
            \ enough capacity exist to complete the operation.\n\n * 400 InvalidPublicMaintenanceConfiguration\
            \ - User tried to specify public maintenance configuration which cannot\
            \ be converted to internal id (malformed or wrong region).\n\n * 400 VBSEnclaveResourcePoolInvalidCombination\
            \ - Adding a database with '{0}' preferredEnclaveType to an elastic pool\
            \ '{1}' with '{2}' preferredEnclaveType is not supported. \nBefore adding\
            \ the database to the elastic pool, ensure that the preferredEnclaveType\
[...]
