openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/instancePools:
    get:
      tags:
      - InstancePools
      description: Gets a list of all instance pools in the subscription.
      operationId: InstancePools_List
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of instance pools in a subscription.
          content:
            application/json:
              schema:
                description: A list of Azure SQL instance pools.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource location.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: The name and tier of the SKU.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: The name of the SKU, typically, a letter
                                + Number code, e.g. P3.
                              type: string
                            tier:
                              description: The tier or edition of the particular SKU,
                                e.g. Basic, Premium.
                              type: string
                            size:
                              description: Size of the particular SKU
                              type: string
                            family:
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                              type: string
                            capacity:
                              format: int32
                              description: Capacity of the particular SKU.
                              type: integer
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - subnetId
                          - vCores
                          - licenseType
                          type: object
                          properties:
                            subnetId:
                              description: Resource ID of the subnet to place this
                                instance pool in.
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            vCores:
                              format: int32
                              description: Count of vCores belonging to this instance
                                pool.
                              type: integer
                            licenseType:
                              description: The license type. Possible values are 'LicenseIncluded'
                                (price for SQL license is included) and 'BasePrice'
                                (without SQL license price).
                              enum:
                              - LicenseIncluded
                              - BasePrice
                              type: string
                              x-ms-enum:
                                name: InstancePoolLicenseType
                                modelAsString: true
                            dnsZone:
                              description: The Dns Zone that the managed instance
                                pool is in.
                              type: string
                              readOnly: true
                            maintenanceConfigurationId:
                              description: Specifies maintenance configuration id
                                to apply to this managed instance.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                      required:
                      - location
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionNotFound -\
            \ The requested subscription was not found.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools:
    get:
      tags:
      - InstancePools
      description: Gets a list of instance pools in the resource group
      operationId: InstancePools_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of instance pools.
          content:
            application/json:
              schema:
                description: A list of Azure SQL instance pools.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource location.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: The name and tier of the SKU.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: The name of the SKU, typically, a letter
                                + Number code, e.g. P3.
                              type: string
                            tier:
                              description: The tier or edition of the particular SKU,
                                e.g. Basic, Premium.
                              type: string
                            size:
                              description: Size of the particular SKU
                              type: string
                            family:
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                              type: string
                            capacity:
                              format: int32
                              description: Capacity of the particular SKU.
                              type: integer
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - subnetId
                          - vCores
                          - licenseType
                          type: object
                          properties:
                            subnetId:
                              description: Resource ID of the subnet to place this
                                instance pool in.
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            vCores:
                              format: int32
                              description: Count of vCores belonging to this instance
                                pool.
                              type: integer
                            licenseType:
                              description: The license type. Possible values are 'LicenseIncluded'
                                (price for SQL license is included) and 'BasePrice'
                                (without SQL license price).
                              enum:
                              - LicenseIncluded
                              - BasePrice
                              type: string
                              x-ms-enum:
                                name: InstancePoolLicenseType
                                modelAsString: true
                            dnsZone:
                              description: The Dns Zone that the managed instance
                                pool is in.
                              type: string
                              readOnly: true
                            maintenanceConfigurationId:
                              description: Specifies maintenance configuration id
                                to apply to this managed instance.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                      required:
                      - location
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 MismatchingResourceGroupNameWithUrl\
            \ - The provided resource group name did not match the name in the Url.\n\
            \n * 400 MismatchingSubscriptionWithUrl - The provided subscription did\
            \ not match the subscription in the Url.\n\n * 400 InvalidMinimalTlsVersion\
            \ - Invalid minimal TLS version.\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 404 SubscriptionNotFound - The requested subscription was not found.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}
  : get:
      tags:
      - InstancePools
      description: Gets an instance pool.
      operationId: InstancePools_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: instancePoolName
        in: path
        description: The name of the instance pool to be retrieved.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified instance pool.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: The name and tier of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - subnetId
                    - vCores
                    - licenseType
                    type: object
                    properties:
                      subnetId:
                        description: Resource ID of the subnet to place this instance
                          pool in.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      vCores:
                        format: int32
                        description: Count of vCores belonging to this instance pool.
                        type: integer
                      licenseType:
                        description: The license type. Possible values are 'LicenseIncluded'
                          (price for SQL license is included) and 'BasePrice' (without
                          SQL license price).
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: InstancePoolLicenseType
                          modelAsString: true
                      dnsZone:
                        description: The Dns Zone that the managed instance pool is
                          in.
                        type: string
                        readOnly: true
                      maintenanceConfigurationId:
                        description: Specifies maintenance configuration id to apply
                          to this managed instance.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 MismatchingResourceGroupNameWithUrl\
            \ - The provided resource group name did not match the name in the Url.\n\
            \n * 400 MismatchingSubscriptionWithUrl - The provided subscription did\
            \ not match the subscription in the Url.\n\n * 400 InvalidMinimalTlsVersion\
            \ - Invalid minimal TLS version.\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 404 SubscriptionNotFound - The requested subscription was not found.\n\
            \n * 404 InstancePoolNotFound - An instance pool cannot be found\n\n *\
            \ 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - InstancePools
      description: Creates or updates an instance pool.
      operationId: InstancePools_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: instancePoolName
        in: path
        description: The name of the instance pool to be created or updated.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                location:
                  description: Resource location.
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: The name and tier of the SKU.
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, typically, a letter + Number
                        code, e.g. P3.
                      type: string
                    tier:
                      description: The tier or edition of the particular SKU, e.g.
                        Basic, Premium.
                      type: string
                    size:
                      description: Size of the particular SKU
                      type: string
                    family:
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                      type: string
                    capacity:
                      format: int32
                      description: Capacity of the particular SKU.
                      type: integer
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - subnetId
                  - vCores
                  - licenseType
                  type: object
                  properties:
                    subnetId:
                      description: Resource ID of the subnet to place this instance
                        pool in.
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    vCores:
                      format: int32
                      description: Count of vCores belonging to this instance pool.
                      type: integer
                    licenseType:
                      description: The license type. Possible values are 'LicenseIncluded'
                        (price for SQL license is included) and 'BasePrice' (without
                        SQL license price).
                      enum:
                      - LicenseIncluded
                      - BasePrice
                      type: string
                      x-ms-enum:
                        name: InstancePoolLicenseType
                        modelAsString: true
                    dnsZone:
                      description: The Dns Zone that the managed instance pool is
                        in.
                      type: string
                      readOnly: true
                    maintenanceConfigurationId:
                      description: Specifies maintenance configuration id to apply
                        to this managed instance.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.Maintenance/publicMaintenanceConfigurations
              required:
              - location
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested instance pool resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the instance pool.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: The name and tier of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - subnetId
                    - vCores
                    - licenseType
                    type: object
                    properties:
                      subnetId:
                        description: Resource ID of the subnet to place this instance
                          pool in.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      vCores:
                        format: int32
                        description: Count of vCores belonging to this instance pool.
                        type: integer
                      licenseType:
                        description: The license type. Possible values are 'LicenseIncluded'
                          (price for SQL license is included) and 'BasePrice' (without
                          SQL license price).
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: InstancePoolLicenseType
                          modelAsString: true
                      dnsZone:
                        description: The Dns Zone that the managed instance pool is
                          in.
                        type: string
                        readOnly: true
                      maintenanceConfigurationId:
                        description: Specifies maintenance configuration id to apply
                          to this managed instance.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the instance pool.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: The name and tier of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - subnetId
                    - vCores
                    - licenseType
                    type: object
                    properties:
                      subnetId:
                        description: Resource ID of the subnet to place this instance
                          pool in.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      vCores:
                        format: int32
                        description: Count of vCores belonging to this instance pool.
                        type: integer
                      licenseType:
                        description: The license type. Possible values are 'LicenseIncluded'
                          (price for SQL license is included) and 'BasePrice' (without
                          SQL license price).
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: InstancePoolLicenseType
                          modelAsString: true
                      dnsZone:
                        description: The Dns Zone that the managed instance pool is
                          in.
                        type: string
                        readOnly: true
                      maintenanceConfigurationId:
                        description: Specifies maintenance configuration id to apply
                          to this managed instance.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 MismatchingResourceGroupNameWithUrl\
            \ - The provided resource group name did not match the name in the Url.\n\
            \n * 400 MismatchingSubscriptionWithUrl - The provided subscription did\
            \ not match the subscription in the Url.\n\n * 400 InvalidMinimalTlsVersion\
            \ - Invalid minimal TLS version.\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 400 InvalidResourceRequestBody - The resource or resource properties\
            \ in the request body is empty or invalid.\n\n * 400 MissingSkuName -\
            \ Sku name is required.\n\n * 400 InstancePoolRequestedVcoreCountIsInvalid\
            \ - Requested vcore count for instance pool is invalid\n\n * 400 InstancePoolRequestMissingSku\
            \ - Instance pool request is missing sku\n\n * 400 InstancePoolRequestMissingSkuTier\
            \ - Instance pool request is missing sku tier\n\n * 400 InstancePoolRequestMissingSkuFamily\
            \ - Instance pool request is missing sku family\n\n * 400 InstancePoolRequestedSubnetResourceIdIsInvalid\
            \ - Subnet id for instance pool is null or empty\n\n * 400 DeploymentIntoPrivateSubnetsNotAllowed\
            \ - Deploying managed instances and instance pools into private subnets\
            \ is not supported.\n\n * 404 OperationIdNotFound - The operation with\
            \ Id does not exist.\n\n * 409 MiCreateFailedNonDelegatedSubnet - User\
            \ tried to deploy Managed Instance or Managed Instance pool in subnet\
            \ that is not delegated to Microsoft.Sql/managedInstances.\n\n * 409 InstancePoolBusy\
            \ - An instance pool is busy with another ongoing operation\n\n * 409\
            \ MiCreateFailedNonDelegatedSubnet - User tried to deploy Managed Instance\
            \ or Managed Instance pool in subnet that is not delegated to Microsoft.Sql/managedInstances.\n\
            \n * 409 CannotCancelOperation - The management operation is in a state\
            \ that cannot be cancelled.\n\n * 409 OperationCancelled - The operation\
            \ has been cancelled by user.\n\n * 409 OperationInterrupted - The operation\
            \ on the resource could not be completed because it was interrupted by\
            \ another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - InstancePools
      description: Deletes an instance pool
      operationId: InstancePools_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: instancePoolName
        in: path
        description: The name of the instance pool to be deleted
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the instance pool.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified instance pool does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 MismatchingResourceGroupNameWithUrl\
            \ - The provided resource group name did not match the name in the Url.\n\
            \n * 400 MismatchingSubscriptionWithUrl - The provided subscription did\
            \ not match the subscription in the Url.\n\n * 400 InvalidMinimalTlsVersion\
            \ - Invalid minimal TLS version.\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 400 InstancePoolNotEmpty - An instance pool is not empty\n\n * 404\
            \ InstancePoolNotFound - An instance pool cannot be found\n\n * 404 InstancePoolNotFound\
            \ - An instance pool cannot be found\n\n * 404 OperationIdNotFound - The\
            \ operation with Id does not exist.\n\n * 409 InstancePoolBusy - An instance\
            \ pool is busy with another ongoing operation\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - InstancePools
      description: Updates an instance pool.
      operationId: InstancePools_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: instancePoolName
        in: path
        description: The name of the instance pool to be updated.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: An update to an Instance pool.
              type: object
              properties:
                sku:
                  description: The name and tier of the SKU.
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, typically, a letter + Number
                        code, e.g. P3.
                      type: string
                    tier:
                      description: The tier or edition of the particular SKU, e.g.
                        Basic, Premium.
                      type: string
                    size:
                      description: Size of the particular SKU
                      type: string
                    family:
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                      type: string
                    capacity:
                      format: int32
                      description: Capacity of the particular SKU.
                      type: integer
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - subnetId
                  - vCores
                  - licenseType
                  type: object
                  properties:
                    subnetId:
                      description: Resource ID of the subnet to place this instance
                        pool in.
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    vCores:
                      format: int32
                      description: Count of vCores belonging to this instance pool.
                      type: integer
                    licenseType:
                      description: The license type. Possible values are 'LicenseIncluded'
                        (price for SQL license is included) and 'BasePrice' (without
                        SQL license price).
                      enum:
                      - LicenseIncluded
                      - BasePrice
                      type: string
                      x-ms-enum:
                        name: InstancePoolLicenseType
                        modelAsString: true
                    dnsZone:
                      description: The Dns Zone that the managed instance pool is
                        in.
                      type: string
                      readOnly: true
                    maintenanceConfigurationId:
                      description: Specifies maintenance configuration id to apply
                        to this managed instance.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
        description: The requested instance pool resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the instance pool.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: The name and tier of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - subnetId
                    - vCores
                    - licenseType
                    type: object
                    properties:
                      subnetId:
                        description: Resource ID of the subnet to place this instance
                          pool in.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      vCores:
                        format: int32
                        description: Count of vCores belonging to this instance pool.
                        type: integer
                      licenseType:
                        description: The license type. Possible values are 'LicenseIncluded'
                          (price for SQL license is included) and 'BasePrice' (without
                          SQL license price).
                        enum:
                        - LicenseIncluded
                        - BasePrice
                        type: string
                        x-ms-enum:
                          name: InstancePoolLicenseType
                          modelAsString: true
                      dnsZone:
                        description: The Dns Zone that the managed instance pool is
                          in.
                        type: string
                        readOnly: true
                      maintenanceConfigurationId:
                        description: Specifies maintenance configuration id to apply
                          to this managed instance.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Maintenance/publicMaintenanceConfigurations
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 MismatchingResourceGroupNameWithUrl\
            \ - The provided resource group name did not match the name in the Url.\n\
            \n * 400 MismatchingSubscriptionWithUrl - The provided subscription did\
            \ not match the subscription in the Url.\n\n * 400 InvalidMinimalTlsVersion\
            \ - Invalid minimal TLS version.\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 400 InvalidResourceRequestBody - The resource or resource properties\
            \ in the request body is empty or invalid.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    InstancePool:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        sku:
          description: The name and tier of the SKU.
          required:
          - name
          type: object
          properties:
            name:
              description: The name of the SKU, typically, a letter + Number code,
                e.g. P3.
              type: string
            tier:
              description: The tier or edition of the particular SKU, e.g. Basic,
                Premium.
              type: string
            size:
              description: Size of the particular SKU
              type: string
            family:
              description: If the service has different generations of hardware, for
                the same SKU, then that can be captured here.
              type: string
            capacity:
              format: int32
              description: Capacity of the particular SKU.
              type: integer
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - subnetId
          - vCores
          - licenseType
          type: object
          properties:
            subnetId:
              description: Resource ID of the subnet to place this instance pool in.
              type: string
              x-ms-mutability:
              - read
              - create
            vCores:
              format: int32
              description: Count of vCores belonging to this instance pool.
              type: integer
            licenseType:
              description: The license type. Possible values are 'LicenseIncluded'
                (price for SQL license is included) and 'BasePrice' (without SQL license
                price).
              enum:
              - LicenseIncluded
              - BasePrice
              type: string
              x-ms-enum:
                name: InstancePoolLicenseType
                modelAsString: true
            dnsZone:
              description: The Dns Zone that the managed instance pool is in.
              type: string
              readOnly: true
            maintenanceConfigurationId:
              description: Specifies maintenance configuration id to apply to this
                managed instance.
              type: string
              format: arm-id
              x-ms-arm-id-details:
                allowedResources:
                - type: Microsoft.Maintenance/publicMaintenanceConfigurations
      required:
      - location
      description: ARM resource.
      x-ms-azure-resource: true
    InstancePoolListResult:
      description: A list of Azure SQL instance pools.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              location:
                description: Resource location.
                type: string
                x-ms-mutability:
                - read
                - create
              tags:
                description: Resource tags.
                type: object
                additionalProperties:
                  type: string
              sku:
                description: The name and tier of the SKU.
                required:
                - name
                type: object
                properties:
                  name:
                    description: The name of the SKU, typically, a letter + Number
                      code, e.g. P3.
                    type: string
                  tier:
                    description: The tier or edition of the particular SKU, e.g. Basic,
                      Premium.
                    type: string
                  size:
                    description: Size of the particular SKU
                    type: string
                  family:
                    description: If the service has different generations of hardware,
                      for the same SKU, then that can be captured here.
                    type: string
                  capacity:
                    format: int32
                    description: Capacity of the particular SKU.
                    type: integer
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - subnetId
                - vCores
                - licenseType
                type: object
                properties:
                  subnetId:
                    description: Resource ID of the subnet to place this instance
                      pool in.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  vCores:
                    format: int32
                    description: Count of vCores belonging to this instance pool.
                    type: integer
                  licenseType:
                    description: The license type. Possible values are 'LicenseIncluded'
                      (price for SQL license is included) and 'BasePrice' (without
                      SQL license price).
                    enum:
                    - LicenseIncluded
                    - BasePrice
                    type: string
                    x-ms-enum:
                      name: InstancePoolLicenseType
                      modelAsString: true
                  dnsZone:
                    description: The Dns Zone that the managed instance pool is in.
                    type: string
                    readOnly: true
                  maintenanceConfigurationId:
                    description: Specifies maintenance configuration id to apply to
                      this managed instance.
                    type: string
                    format: arm-id
                    x-ms-arm-id-details:
                      allowedResources:
                      - type: Microsoft.Maintenance/publicMaintenanceConfigurations
            required:
            - location
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    InstancePoolProperties:
      description: Properties of an instance pool.
      required:
      - subnetId
      - vCores
      - licenseType
      type: object
      properties:
        subnetId:
          description: Resource ID of the subnet to place this instance pool in.
          type: string
          x-ms-mutability:
          - read
          - create
        vCores:
          format: int32
          description: Count of vCores belonging to this instance pool.
          type: integer
        licenseType:
          description: The license type. Possible values are 'LicenseIncluded' (price
            for SQL license is included) and 'BasePrice' (without SQL license price).
          enum:
          - LicenseIncluded
          - BasePrice
          type: string
          x-ms-enum:
            name: InstancePoolLicenseType
            modelAsString: true
        dnsZone:
          description: The Dns Zone that the managed instance pool is in.
          type: string
          readOnly: true
        maintenanceConfigurationId:
          description: Specifies maintenance configuration id to apply to this managed
            instance.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Maintenance/publicMaintenanceConfigurations
    InstancePoolUpdate:
      description: An update to an Instance pool.
      type: object
      properties:
        sku:
          description: The name and tier of the SKU.
          required:
          - name
          type: object
          properties:
            name:
              description: The name of the SKU, typically, a letter + Number code,
                e.g. P3.
              type: string
            tier:
              description: The tier or edition of the particular SKU, e.g. Basic,
                Premium.
              type: string
            size:
              description: Size of the particular SKU
              type: string
            family:
              description: If the service has different generations of hardware, for
                the same SKU, then that can be captured here.
              type: string
            capacity:
              format: int32
              description: Capacity of the particular SKU.
              type: integer
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - subnetId
          - vCores
          - licenseType
          type: object
          properties:
            subnetId:
              description: Resource ID of the subnet to place this instance pool in.
              type: string
              x-ms-mutability:
              - read
              - create
            vCores:
              format: int32
              description: Count of vCores belonging to this instance pool.
              type: integer
            licenseType:
              description: The license type. Possible values are 'LicenseIncluded'
                (price for SQL license is included) and 'BasePrice' (without SQL license
                price).
              enum:
              - LicenseIncluded
              - BasePrice
              type: string
              x-ms-enum:
                name: InstancePoolLicenseType
                modelAsString: true
            dnsZone:
              description: The Dns Zone that the managed instance pool is in.
              type: string
              readOnly: true
            maintenanceConfigurationId:
              description: Specifies maintenance configuration id to apply to this
                managed instance.
              type: string
              format: arm-id
              x-ms-arm-id-details:
                allowedResources:
                - type: Microsoft.Maintenance/publicMaintenanceConfigurations
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
[...]
