openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs
  : get:
      tags:
      - Jobs
      description: Gets a list of jobs.
      operationId: Jobs_ListByAgent
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of jobs.
          content:
            application/json:
              schema:
                description: A list of jobs.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            description:
                              description: User-defined description of the job.
                              default: ''
                              type: string
                            version:
                              format: int32
                              description: The job version number.
                              type: integer
                              readOnly: true
                            schedule:
                              description: Schedule properties of the job.
                              type: object
                              properties:
                                startTime:
                                  format: date-time
                                  description: Schedule start time.
                                  default: 0001-01-01T05:30:00+05:30
                                  type: string
                                endTime:
                                  format: date-time
                                  description: Schedule end time.
                                  default: 9999-12-31T17:29:59+05:30
                                  type: string
                                type:
                                  description: Schedule interval type
                                  default: Once
                                  enum:
                                  - Once
                                  - Recurring
                                  type: string
                                  x-ms-enum:
                                    name: JobScheduleType
                                    modelAsString: false
                                enabled:
                                  description: Whether or not the schedule is enabled.
                                  type: boolean
                                interval:
                                  description: Value of the schedule's recurring interval,
                                    if the ScheduleType is recurring. ISO8601 duration
                                    format.
                                  type: string
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 JobAgentNotFound - Specified\
            \ job agent does not exist in the specified logical server.\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}
  : get:
      tags:
      - Jobs
      description: Gets a job.
      operationId: Jobs_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: jobName
        in: path
        description: The name of the job to get.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: User-defined description of the job.
                        default: ''
                        type: string
                      version:
                        format: int32
                        description: The job version number.
                        type: integer
                        readOnly: true
                      schedule:
                        description: Schedule properties of the job.
                        type: object
                        properties:
                          startTime:
                            format: date-time
                            description: Schedule start time.
                            default: 0001-01-01T05:30:00+05:30
                            type: string
                          endTime:
                            format: date-time
                            description: Schedule end time.
                            default: 9999-12-31T17:29:59+05:30
                            type: string
                          type:
                            description: Schedule interval type
                            default: Once
                            enum:
                            - Once
                            - Recurring
                            type: string
                            x-ms-enum:
                              name: JobScheduleType
                              modelAsString: false
                          enabled:
                            description: Whether or not the schedule is enabled.
                            type: boolean
                          interval:
                            description: Value of the schedule's recurring interval,
                              if the ScheduleType is recurring. ISO8601 duration format.
                            type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 JobAgentNotFound - Specified\
            \ job agent does not exist in the specified logical server.\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Jobs
      description: Creates or updates a job.
      operationId: Jobs_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: jobName
        in: path
        description: The name of the job to get.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    description:
                      description: User-defined description of the job.
                      default: ''
                      type: string
                    version:
                      format: int32
                      description: The job version number.
                      type: integer
                      readOnly: true
                    schedule:
                      description: Schedule properties of the job.
                      type: object
                      properties:
                        startTime:
                          format: date-time
                          description: Schedule start time.
                          default: 0001-01-01T05:30:00+05:30
                          type: string
                        endTime:
                          format: date-time
                          description: Schedule end time.
                          default: 9999-12-31T17:29:59+05:30
                          type: string
                        type:
                          description: Schedule interval type
                          default: Once
                          enum:
                          - Once
                          - Recurring
                          type: string
                          x-ms-enum:
                            name: JobScheduleType
                            modelAsString: false
                        enabled:
                          description: Whether or not the schedule is enabled.
                          type: boolean
                        interval:
                          description: Value of the schedule's recurring interval,
                            if the ScheduleType is recurring. ISO8601 duration format.
                          type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested job state.
        required: true
      responses:
        '200':
          description: Successfully updated the job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: User-defined description of the job.
                        default: ''
                        type: string
                      version:
                        format: int32
                        description: The job version number.
                        type: integer
                        readOnly: true
                      schedule:
                        description: Schedule properties of the job.
                        type: object
                        properties:
                          startTime:
                            format: date-time
                            description: Schedule start time.
                            default: 0001-01-01T05:30:00+05:30
                            type: string
                          endTime:
                            format: date-time
                            description: Schedule end time.
                            default: 9999-12-31T17:29:59+05:30
                            type: string
                          type:
                            description: Schedule interval type
                            default: Once
                            enum:
                            - Once
                            - Recurring
                            type: string
                            x-ms-enum:
                              name: JobScheduleType
                              modelAsString: false
                          enabled:
                            description: Whether or not the schedule is enabled.
                            type: boolean
                          interval:
                            description: Value of the schedule's recurring interval,
                              if the ScheduleType is recurring. ISO8601 duration format.
                            type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: User-defined description of the job.
                        default: ''
                        type: string
                      version:
                        format: int32
                        description: The job version number.
                        type: integer
                        readOnly: true
                      schedule:
                        description: Schedule properties of the job.
                        type: object
                        properties:
                          startTime:
                            format: date-time
                            description: Schedule start time.
                            default: 0001-01-01T05:30:00+05:30
                            type: string
                          endTime:
                            format: date-time
                            description: Schedule end time.
                            default: 9999-12-31T17:29:59+05:30
                            type: string
                          type:
                            description: Schedule interval type
                            default: Once
                            enum:
                            - Once
                            - Recurring
                            type: string
                            x-ms-enum:
                              name: JobScheduleType
                              modelAsString: false
                          enabled:
                            description: Whether or not the schedule is enabled.
                            type: boolean
                          interval:
                            description: Value of the schedule's recurring interval,
                              if the ScheduleType is recurring. ISO8601 duration format.
                            type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ElasticJobsOperationFailed\
            \ - Elastic jobs management operation failed.\n\n * 400 ElasticJobsOperationFailed\
            \ - Elastic jobs management operation failed.\n\n * 400 InvalidResourceRequestBody\
            \ - The resource or resource properties in the request body is empty or\
            \ invalid.\n\n * 400 InvalidDuration - Invalid duration.\n\n * 404 JobAgentNotFound\
            \ - Specified job agent does not exist in the specified logical server.\n\
            \n * 404 ServerNotInSubscriptionResourceGroup - Specified server does\
            \ not exist in the specified resource group and subscription.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Jobs
      description: Deletes a job.
      operationId: Jobs_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: jobName
        in: path
        description: The name of the job to delete.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the job.
        '204':
          description: The specified job does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ElasticJobsOperationFailed\
            \ - Elastic jobs management operation failed.\n\n * 400 ElasticJobsOperationFailed\
            \ - Elastic jobs management operation failed.\n\n * 404 JobAgentNotFound\
            \ - Specified job agent does not exist in the specified logical server.\n\
            \n * 404 ServerNotInSubscriptionResourceGroup - Specified server does\
            \ not exist in the specified resource group and subscription.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 ResourceNotFound - The requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Job:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            description:
              description: User-defined description of the job.
              default: ''
              type: string
            version:
              format: int32
              description: The job version number.
              type: integer
              readOnly: true
            schedule:
              description: Schedule properties of the job.
              type: object
              properties:
                startTime:
                  format: date-time
                  description: Schedule start time.
                  default: 0001-01-01T05:30:00+05:30
                  type: string
                endTime:
                  format: date-time
                  description: Schedule end time.
                  default: 9999-12-31T17:29:59+05:30
                  type: string
                type:
                  description: Schedule interval type
                  default: Once
                  enum:
                  - Once
                  - Recurring
                  type: string
                  x-ms-enum:
                    name: JobScheduleType
                    modelAsString: false
                enabled:
                  description: Whether or not the schedule is enabled.
                  type: boolean
                interval:
                  description: Value of the schedule's recurring interval, if the
                    ScheduleType is recurring. ISO8601 duration format.
                  type: string
      description: ARM resource.
      x-ms-azure-resource: true
    JobListResult:
      description: A list of jobs.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  description:
                    description: User-defined description of the job.
                    default: ''
                    type: string
                  version:
                    format: int32
                    description: The job version number.
                    type: integer
                    readOnly: true
                  schedule:
                    description: Schedule properties of the job.
                    type: object
                    properties:
                      startTime:
                        format: date-time
                        description: Schedule start time.
                        default: 0001-01-01T05:30:00+05:30
                        type: string
                      endTime:
                        format: date-time
                        description: Schedule end time.
                        default: 9999-12-31T17:29:59+05:30
                        type: string
                      type:
                        description: Schedule interval type
                        default: Once
                        enum:
                        - Once
                        - Recurring
                        type: string
                        x-ms-enum:
                          name: JobScheduleType
                          modelAsString: false
                      enabled:
                        description: Whether or not the schedule is enabled.
                        type: boolean
                      interval:
                        description: Value of the schedule's recurring interval, if
                          the ScheduleType is recurring. ISO8601 duration format.
                        type: string
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    JobProperties:
      description: Properties of a job.
      type: object
      properties:
        description:
          description: User-defined description of the job.
          default: ''
          type: string
        version:
          format: int32
          description: The job version number.
          type: integer
          readOnly: true
        schedule:
          description: Schedule properties of the job.
          type: object
          properties:
            startTime:
              format: date-time
              description: Schedule start time.
              default: 0001-01-01T05:30:00+05:30
              type: string
            endTime:
              format: date-time
              description: Schedule end time.
              default: 9999-12-31T17:29:59+05:30
              type: string
            type:
              description: Schedule interval type
              default: Once
              enum:
              - Once
              - Recurring
              type: string
              x-ms-enum:
                name: JobScheduleType
                modelAsString: false
            enabled:
              description: Whether or not the schedule is enabled.
              type: boolean
            interval:
              description: Value of the schedule's recurring interval, if the ScheduleType
                is recurring. ISO8601 duration format.
              type: string
    JobSchedule:
      description: Scheduling properties of a job.
      type: object
      properties:
        startTime:
          format: date-time
          description: Schedule start time.
          default: 0001-01-01T05:30:00+05:30
          type: string
        endTime:
          format: date-time
          description: Schedule end time.
          default: 9999-12-31T17:29:59+05:30
          type: string
        type:
          description: Schedule interval type
          default: Once
          enum:
          - Once
          - Recurring
          type: string
          x-ms-enum:
            name: JobScheduleType
            modelAsString: false
        enabled:
          description: Whether or not the schedule is enabled.
          type: boolean
        interval:
          description: Value of the schedule's recurring interval, if the ScheduleType
            is recurring. ISO8601 duration format.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
