openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps
  : get:
      tags:
      - JobStepExecutions
      description: Lists the step executions of a job execution.
      operationId: JobStepExecutions_ListByJobExecution
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: jobName
        in: path
        description: The name of the job to get.
        required: true
        schema:
          type: string
      - name: jobExecutionId
        in: path
        description: The id of the job execution
        required: true
        schema:
          type: string
          format: uuid
      - name: createTimeMin
        in: query
        description: If specified, only job executions created at or after the specified
          time are included.
        required: false
        schema:
          type: string
          format: date-time
      - name: createTimeMax
        in: query
        description: If specified, only job executions created before the specified
          time are included.
        required: false
        schema:
          type: string
          format: date-time
      - name: endTimeMin
        in: query
        description: If specified, only job executions completed at or after the specified
          time are included.
        required: false
        schema:
          type: string
          format: date-time
      - name: endTimeMax
        in: query
        description: If specified, only job executions completed before the specified
          time are included.
        required: false
        schema:
          type: string
          format: date-time
      - name: isActive
        in: query
        description: If specified, only active or only completed job executions are
          included.
        required: false
        schema:
          type: boolean
      - name: $skip
        in: query
        description: The number of elements in the collection to skip.
        required: false
        schema:
          type: integer
          format: int64
      - name: $top
        in: query
        description: The number of elements to return from the collection.
        required: false
        schema:
          type: integer
          format: int64
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the step executions.
          content:
            application/json:
              schema:
                description: A list of job executions.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            jobVersion:
                              format: int32
                              description: The job version number.
                              type: integer
                              readOnly: true
                            stepName:
                              description: The job step name.
                              type: string
                              readOnly: true
                            stepId:
                              format: int32
                              description: The job step id.
                              type: integer
                              readOnly: true
                            jobExecutionId:
                              format: uuid
                              description: The unique identifier of the job execution.
                              type: string
                              readOnly: true
                            lifecycle:
                              description: The detailed state of the job execution.
                              enum:
                              - Created
                              - InProgress
                              - WaitingForChildJobExecutions
                              - WaitingForRetry
                              - Succeeded
                              - SucceededWithSkipped
                              - Failed
                              - TimedOut
                              - Canceled
                              - Skipped
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: JobExecutionLifecycle
                                modelAsString: true
                            provisioningState:
                              description: The ARM provisioning state of the job execution.
                              enum:
                              - Created
                              - InProgress
                              - Succeeded
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            createTime:
                              format: date-time
                              description: The time that the job execution was created.
                              type: string
                              readOnly: true
                            startTime:
                              format: date-time
                              description: The time that the job execution started.
                              type: string
                              readOnly: true
                            endTime:
                              format: date-time
                              description: The time that the job execution completed.
                              type: string
                              readOnly: true
                            currentAttempts:
                              format: int32
                              description: Number of times the job execution has been
                                attempted.
                              type: integer
                            currentAttemptStartTime:
                              format: date-time
                              description: Start time of the current attempt.
                              type: string
                              readOnly: true
                            lastMessage:
                              description: The last status or error message.
                              type: string
                              readOnly: true
                            target:
                              description: The target that this execution is executed
                                on.
                              readOnly: true
                              type: object
                              properties:
                                type:
                                  description: The type of the target.
                                  enum:
                                  - TargetGroup
                                  - SqlDatabase
                                  - SqlElasticPool
                                  - SqlShardMap
                                  - SqlServer
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: JobTargetType
                                    modelAsString: true
                                serverName:
                                  description: The server name.
                                  type: string
                                  readOnly: true
                                databaseName:
                                  description: The database name.
                                  type: string
                                  readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 JobAgentNotFound - Specified\
            \ job agent does not exist in the specified logical server.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}
  : get:
      tags:
      - JobStepExecutions
      description: Gets a step execution of a job execution.
      operationId: JobStepExecutions_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobAgentName
        in: path
        description: The name of the job agent.
        required: true
        schema:
          type: string
      - name: jobName
        in: path
        description: The name of the job to get.
        required: true
        schema:
          type: string
      - name: jobExecutionId
        in: path
        description: The unique id of the job execution
        required: true
        schema:
          type: string
          format: uuid
      - name: stepName
        in: path
        description: The name of the step.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the step execution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      jobVersion:
                        format: int32
                        description: The job version number.
                        type: integer
                        readOnly: true
                      stepName:
                        description: The job step name.
                        type: string
                        readOnly: true
                      stepId:
                        format: int32
                        description: The job step id.
                        type: integer
                        readOnly: true
                      jobExecutionId:
                        format: uuid
                        description: The unique identifier of the job execution.
                        type: string
                        readOnly: true
                      lifecycle:
                        description: The detailed state of the job execution.
                        enum:
                        - Created
                        - InProgress
                        - WaitingForChildJobExecutions
                        - WaitingForRetry
                        - Succeeded
                        - SucceededWithSkipped
                        - Failed
                        - TimedOut
                        - Canceled
                        - Skipped
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JobExecutionLifecycle
                          modelAsString: true
                      provisioningState:
                        description: The ARM provisioning state of the job execution.
                        enum:
                        - Created
                        - InProgress
                        - Succeeded
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createTime:
                        format: date-time
                        description: The time that the job execution was created.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: The time that the job execution started.
                        type: string
                        readOnly: true
                      endTime:
                        format: date-time
                        description: The time that the job execution completed.
                        type: string
                        readOnly: true
                      currentAttempts:
                        format: int32
                        description: Number of times the job execution has been attempted.
                        type: integer
                      currentAttemptStartTime:
                        format: date-time
                        description: Start time of the current attempt.
                        type: string
                        readOnly: true
                      lastMessage:
                        description: The last status or error message.
                        type: string
                        readOnly: true
                      target:
                        description: The target that this execution is executed on.
                        readOnly: true
                        type: object
                        properties:
                          type:
                            description: The type of the target.
                            enum:
                            - TargetGroup
                            - SqlDatabase
                            - SqlElasticPool
                            - SqlShardMap
                            - SqlServer
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: JobTargetType
                              modelAsString: true
                          serverName:
                            description: The server name.
                            type: string
                            readOnly: true
                          databaseName:
                            description: The database name.
                            type: string
                            readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 JobAgentNotFound - Specified\
            \ job agent does not exist in the specified logical server.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    JobExecution:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            jobVersion:
              format: int32
              description: The job version number.
              type: integer
              readOnly: true
            stepName:
              description: The job step name.
              type: string
              readOnly: true
            stepId:
              format: int32
              description: The job step id.
              type: integer
              readOnly: true
            jobExecutionId:
              format: uuid
              description: The unique identifier of the job execution.
              type: string
              readOnly: true
            lifecycle:
              description: The detailed state of the job execution.
              enum:
              - Created
              - InProgress
              - WaitingForChildJobExecutions
              - WaitingForRetry
              - Succeeded
              - SucceededWithSkipped
              - Failed
              - TimedOut
              - Canceled
              - Skipped
              type: string
              readOnly: true
              x-ms-enum:
                name: JobExecutionLifecycle
                modelAsString: true
            provisioningState:
              description: The ARM provisioning state of the job execution.
              enum:
              - Created
              - InProgress
              - Succeeded
              - Failed
              - Canceled
              type: string
              readOnly: true
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            createTime:
              format: date-time
              description: The time that the job execution was created.
              type: string
              readOnly: true
            startTime:
              format: date-time
              description: The time that the job execution started.
              type: string
              readOnly: true
            endTime:
              format: date-time
              description: The time that the job execution completed.
              type: string
              readOnly: true
            currentAttempts:
              format: int32
              description: Number of times the job execution has been attempted.
              type: integer
            currentAttemptStartTime:
              format: date-time
              description: Start time of the current attempt.
              type: string
              readOnly: true
            lastMessage:
              description: The last status or error message.
              type: string
              readOnly: true
            target:
              description: The target that this execution is executed on.
              readOnly: true
              type: object
              properties:
                type:
                  description: The type of the target.
                  enum:
                  - TargetGroup
                  - SqlDatabase
                  - SqlElasticPool
                  - SqlShardMap
                  - SqlServer
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: JobTargetType
                    modelAsString: true
                serverName:
                  description: The server name.
                  type: string
                  readOnly: true
                databaseName:
                  description: The database name.
                  type: string
                  readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    JobExecutionListResult:
      description: A list of job executions.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  jobVersion:
                    format: int32
                    description: The job version number.
                    type: integer
                    readOnly: true
                  stepName:
                    description: The job step name.
                    type: string
                    readOnly: true
                  stepId:
                    format: int32
                    description: The job step id.
                    type: integer
                    readOnly: true
                  jobExecutionId:
                    format: uuid
                    description: The unique identifier of the job execution.
                    type: string
                    readOnly: true
                  lifecycle:
                    description: The detailed state of the job execution.
                    enum:
                    - Created
                    - InProgress
                    - WaitingForChildJobExecutions
                    - WaitingForRetry
                    - Succeeded
                    - SucceededWithSkipped
                    - Failed
                    - TimedOut
                    - Canceled
                    - Skipped
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: JobExecutionLifecycle
                      modelAsString: true
                  provisioningState:
                    description: The ARM provisioning state of the job execution.
                    enum:
                    - Created
                    - InProgress
                    - Succeeded
                    - Failed
                    - Canceled
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  createTime:
                    format: date-time
                    description: The time that the job execution was created.
                    type: string
                    readOnly: true
                  startTime:
                    format: date-time
                    description: The time that the job execution started.
                    type: string
                    readOnly: true
                  endTime:
                    format: date-time
                    description: The time that the job execution completed.
                    type: string
                    readOnly: true
                  currentAttempts:
                    format: int32
                    description: Number of times the job execution has been attempted.
                    type: integer
                  currentAttemptStartTime:
                    format: date-time
                    description: Start time of the current attempt.
                    type: string
                    readOnly: true
                  lastMessage:
                    description: The last status or error message.
                    type: string
                    readOnly: true
                  target:
                    description: The target that this execution is executed on.
                    readOnly: true
                    type: object
                    properties:
                      type:
                        description: The type of the target.
                        enum:
                        - TargetGroup
                        - SqlDatabase
                        - SqlElasticPool
                        - SqlShardMap
                        - SqlServer
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: JobTargetType
                          modelAsString: true
                      serverName:
                        description: The server name.
                        type: string
                        readOnly: true
                      databaseName:
                        description: The database name.
                        type: string
                        readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    JobExecutionProperties:
      description: Properties for an Azure SQL Database Elastic job execution.
      type: object
      properties:
        jobVersion:
          format: int32
          description: The job version number.
          type: integer
          readOnly: true
        stepName:
          description: The job step name.
          type: string
          readOnly: true
        stepId:
          format: int32
          description: The job step id.
          type: integer
          readOnly: true
        jobExecutionId:
          format: uuid
          description: The unique identifier of the job execution.
          type: string
          readOnly: true
        lifecycle:
          description: The detailed state of the job execution.
          enum:
          - Created
          - InProgress
          - WaitingForChildJobExecutions
          - WaitingForRetry
          - Succeeded
          - SucceededWithSkipped
          - Failed
          - TimedOut
          - Canceled
          - Skipped
          type: string
          readOnly: true
          x-ms-enum:
            name: JobExecutionLifecycle
            modelAsString: true
        provisioningState:
          description: The ARM provisioning state of the job execution.
          enum:
          - Created
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        createTime:
          format: date-time
          description: The time that the job execution was created.
          type: string
          readOnly: true
        startTime:
          format: date-time
          description: The time that the job execution started.
          type: string
          readOnly: true
        endTime:
          format: date-time
          description: The time that the job execution completed.
          type: string
          readOnly: true
        currentAttempts:
          format: int32
          description: Number of times the job execution has been attempted.
          type: integer
        currentAttemptStartTime:
          format: date-time
          description: Start time of the current attempt.
          type: string
          readOnly: true
        lastMessage:
          description: The last status or error message.
          type: string
          readOnly: true
        target:
          description: The target that this execution is executed on.
          readOnly: true
          type: object
          properties:
            type:
              description: The type of the target.
              enum:
              - TargetGroup
              - SqlDatabase
              - SqlElasticPool
              - SqlShardMap
              - SqlServer
              type: string
              readOnly: true
              x-ms-enum:
                name: JobTargetType
                modelAsString: true
            serverName:
              description: The server name.
              type: string
              readOnly: true
            databaseName:
              description: The database name.
              type: string
              readOnly: true
    JobExecutionTarget:
      description: The target that a job execution is executed on.
      type: object
      properties:
        type:
          description: The type of the target.
          enum:
          - TargetGroup
          - SqlDatabase
          - SqlElasticPool
          - SqlShardMap
          - SqlServer
          type: string
          readOnly: true
          x-ms-enum:
            name: JobTargetType
            modelAsString: true
        serverName:
          description: The server name.
          type: string
          readOnly: true
        databaseName:
          description: The database name.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
