openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/capabilities:
    get:
      tags:
      - LocationCapabilities
      description: Gets the subscription capabilities available for the specified
        location.
      operationId: Capabilities_ListByLocation
      parameters:
      - name: locationName
        in: path
        description: The location name whose capabilities are retrieved.
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: If specified, restricts the response to only include the selected
          item.
        required: false
        x-ms-enum:
          name: CapabilityGroup
          modelAsString: true
        schema:
          type: string
          enum:
          - supportedEditions
          - supportedElasticPoolEditions
          - supportedManagedInstanceVersions
          - supportedInstancePoolEditions
          - supportedManagedInstanceEditions
          - supportedJobAgentVersions
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the subscription location capabilities.
          content:
            application/json:
              schema:
                description: The location capability.
                type: object
                properties:
                  name:
                    description: The location name.
                    type: string
                    readOnly: true
                  supportedServerVersions:
                    description: The list of supported server versions.
                    type: array
                    items:
                      description: The server capability
                      type: object
                      properties:
                        name:
                          description: The server version name.
                          type: string
                          readOnly: true
                        supportedEditions:
                          description: The list of supported database editions.
                          type: array
                          items:
                            description: The edition capability.
                            type: object
                            properties:
                              name:
                                description: The database edition name.
                                type: string
                                readOnly: true
                              supportedServiceLevelObjectives:
                                description: The list of supported service objectives
                                  for the edition.
                                type: array
                                items:
                                  description: The service objectives capability.
                                  type: object
                                  properties:
                                    id:
                                      format: uuid
                                      description: The unique ID of the service objective.
                                      type: string
                                      readOnly: true
                                    name:
                                      description: The service objective name.
                                      type: string
                                      readOnly: true
                                    supportedMaxSizes:
                                      description: The list of supported maximum database
                                        sizes.
                                      type: array
                                      items:
                                        description: The maximum size range capability.
                                        type: object
                                        properties:
                                          minValue:
                                            description: Minimum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          maxValue:
                                            description: Maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          scaleSize:
                                            description: Scale/step size for discrete
                                              values between the minimum value and
                                              the maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          logSize:
                                            description: Size of transaction log.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The log size limit (see
                                                  'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                - Percent
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: LogSizeUnit
                                                  modelAsString: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    performanceLevel:
                                      description: The performance level.
                                      readOnly: true
                                      type: object
                                      properties:
                                        value:
                                          format: double
                                          description: Performance level value.
                                          type: number
                                          readOnly: true
                                        unit:
                                          description: Unit type used to measure performance
                                            level.
                                          enum:
                                          - DTU
                                          - VCores
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: PerformanceLevelUnit
                                            modelAsString: true
                                    sku:
                                      description: The sku.
                                      readOnly: true
                                      required:
                                      - name
                                      type: object
                                      properties:
                                        name:
                                          description: The name of the SKU, typically,
                                            a letter + Number code, e.g. P3.
                                          type: string
                                        tier:
                                          description: The tier or edition of the
                                            particular SKU, e.g. Basic, Premium.
                                          type: string
                                        size:
                                          description: Size of the particular SKU
                                          type: string
                                        family:
                                          description: If the service has different
                                            generations of hardware, for the same
                                            SKU, then that can be captured here.
                                          type: string
                                        capacity:
                                          format: int32
                                          description: Capacity of the particular
                                            SKU.
                                          type: integer
                                    supportedLicenseTypes:
                                      description: List of supported license types.
                                      type: array
                                      items:
                                        description: The license type capability
                                        type: object
                                        properties:
                                          name:
                                            description: License type identifier.
                                            type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    includedMaxSize:
                                      description: The included (free) max size.
                                      readOnly: true
                                      type: object
                                      properties:
                                        limit:
                                          format: int32
                                          description: The maximum size limit (see
                                            'unit' for the units).
                                          type: integer
                                          readOnly: true
                                        unit:
                                          description: The units that the limit is
                                            expressed in.
                                          enum:
                                          - Megabytes
                                          - Gigabytes
                                          - Terabytes
                                          - Petabytes
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: MaxSizeUnit
                                            modelAsString: true
                                    zoneRedundant:
                                      description: Whether or not zone redundancy
                                        is supported for the service objective.
                                      type: boolean
                                      readOnly: true
                                    supportedAutoPauseDelay:
                                      description: Supported time range for auto pause
                                        delay
                                      readOnly: true
                                      type: object
                                      properties:
                                        minValue:
                                          format: int32
                                          description: Minimum value
                                          type: integer
                                          readOnly: true
                                        maxValue:
                                          format: int32
                                          description: Maximum value
                                          type: integer
                                          readOnly: true
                                        stepSize:
                                          format: int32
                                          description: Step value for discrete values
                                            between the minimum value and the maximum
                                            value.
                                          type: integer
                                          readOnly: true
                                        default:
                                          format: int32
                                          description: Default value is no value is
                                            provided
                                          type: integer
                                          readOnly: true
                                        unit:
                                          description: Unit of time that delay is
                                            expressed in
                                          enum:
                                          - Minutes
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: PauseDelayTimeUnit
                                            modelAsString: true
                                        doNotPauseValue:
                                          format: int32
                                          description: Value that is used to not pause
                                            (infinite delay before pause)
                                          type: integer
                                          readOnly: true
                                    supportedMinCapacities:
                                      description: List of supported min capacities
                                      type: array
                                      items:
                                        description: The min capacity capability
                                        type: object
                                        properties:
                                          value:
                                            format: double
                                            description: Min capacity value
                                            type: number
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    computeModel:
                                      description: The compute model
                                      type: string
                                      readOnly: true
                                    supportedMaintenanceConfigurations:
                                      description: List of supported maintenance configurations
                                      type: array
                                      items:
                                        description: The maintenance configuration
                                          capability
                                        type: object
                                        properties:
                                          name:
                                            description: Maintenance configuration
                                              name
                                            type: string
                                            readOnly: true
                                          zoneRedundant:
                                            description: Whether or not zone redundancy
                                              is supported for the maintenance configuration.
                                            type: boolean
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    zonePinning:
                                      description: Whether or not zone pinning is
                                        supported.
                                      type: boolean
                                      readOnly: true
                                    supportedZones:
                                      description: List of supported availability
                                        zones
                                      type: array
                                      items:
                                        description: The zone pinning capability
                                        type: object
                                        properties:
                                          availabilityZone:
                                            description: Name of the availability
                                              zone
                                            type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    supportedFreeLimitExhaustionBehaviors:
                                      description: List of supported free limit exhaustion
                                        behaviors
                                      type: array
                                      items:
                                        description: Supported free limit exhaustion
                                          behavior options
                                        type: object
                                        properties:
                                          exhaustionBehaviorType:
                                            description: Free limit exhaustion behavior
                                              type
                                            enum:
                                            - AutoPause
                                            - BillOverUsage
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: FreeLimitExhaustionBehavior
                                              modelAsString: true
                                          status:
                                            description: Free limit exhaustion behavior
                                              status
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                      readOnly: true
                                      x-ms-identifiers: []
                                    status:
                                      description: The status of the capability.
                                      enum:
                                      - Visible
                                      - Available
                                      - Default
                                      - Disabled
                                      type: string
                                      readOnly: true
                                      x-ms-enum:
                                        name: CapabilityStatus
                                        modelAsString: false
                                    reason:
                                      description: The reason for the capability not
                                        being available.
                                      type: string
                                readOnly: true
                              zoneRedundant:
                                description: Whether or not zone redundancy is supported
                                  for the edition.
                                type: boolean
                                readOnly: true
                              readScale:
                                description: The read scale capability for the edition.
                                readOnly: true
                                type: object
                                properties:
                                  maxNumberOfReplicas:
                                    format: int32
                                    description: The maximum number of read scale
                                      replicas.
                                    type: integer
                                    readOnly: true
                                  status:
                                    description: The status of the capability.
                                    enum:
                                    - Visible
                                    - Available
                                    - Default
                                    - Disabled
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: CapabilityStatus
                                      modelAsString: false
                                  reason:
                                    description: The reason for the capability not
                                      being available.
                                    type: string
                              supportedStorageCapabilities:
                                description: The list of supported storage capabilities
                                  for this edition
                                type: array
                                items:
                                  description: The storage account type capability.
                                  type: object
                                  properties:
                                    storageAccountType:
                                      description: The storage account type for the
                                        database's backups.
                                      enum:
                                      - GRS
                                      - LRS
                                      - ZRS
                                      - GZRS
                                      type: string
                                      readOnly: true
                                      x-ms-enum:
                                        name: StorageAccountType
                                        modelAsString: true
                                    status:
                                      description: The status of the capability.
                                      enum:
                                      - Visible
                                      - Available
                                      - Default
                                      - Disabled
                                      type: string
                                      readOnly: true
                                      x-ms-enum:
                                        name: CapabilityStatus
                                        modelAsString: false
                                    reason:
                                      description: The reason for the capability not
                                        being available.
                                      type: string
                                readOnly: true
                              zonePinning:
                                description: Whether or not zone pinning is supported
                                  for the edition.
                                type: boolean
                                readOnly: true
                              status:
                                description: The status of the capability.
                                enum:
                                - Visible
                                - Available
                                - Default
                                - Disabled
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: CapabilityStatus
                                  modelAsString: false
                              reason:
                                description: The reason for the capability not being
                                  available.
                                type: string
                          readOnly: true
                        supportedElasticPoolEditions:
                          description: The list of supported elastic pool editions.
                          type: array
                          items:
                            description: The elastic pool edition capability.
                            type: object
                            properties:
                              name:
                                description: The elastic pool edition name.
                                type: string
                                readOnly: true
                              supportedElasticPoolPerformanceLevels:
                                description: The list of supported elastic pool DTU
                                  levels for the edition.
                                type: array
                                items:
                                  description: The Elastic Pool performance level
                                    capability.
                                  type: object
                                  properties:
                                    performanceLevel:
                                      description: The performance level for the pool.
                                      readOnly: true
                                      type: object
                                      properties:
                                        value:
                                          format: double
                                          description: Performance level value.
                                          type: number
                                          readOnly: true
                                        unit:
                                          description: Unit type used to measure performance
                                            level.
                                          enum:
                                          - DTU
                                          - VCores
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: PerformanceLevelUnit
                                            modelAsString: true
                                    sku:
                                      description: The sku.
                                      readOnly: true
                                      required:
                                      - name
                                      type: object
                                      properties:
                                        name:
                                          description: The name of the SKU, typically,
                                            a letter + Number code, e.g. P3.
                                          type: string
                                        tier:
                                          description: The tier or edition of the
                                            particular SKU, e.g. Basic, Premium.
                                          type: string
                                        size:
                                          description: Size of the particular SKU
                                          type: string
                                        family:
                                          description: If the service has different
                                            generations of hardware, for the same
                                            SKU, then that can be captured here.
                                          type: string
                                        capacity:
                                          format: int32
                                          description: Capacity of the particular
                                            SKU.
                                          type: integer
                                    supportedLicenseTypes:
                                      description: List of supported license types.
                                      type: array
                                      items:
                                        description: The license type capability
                                        type: object
                                        properties:
                                          name:
                                            description: License type identifier.
                                            type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    maxDatabaseCount:
                                      format: int32
                                      description: The maximum number of databases
                                        supported.
                                      type: integer
                                      readOnly: true
                                    includedMaxSize:
                                      description: The included (free) max size for
                                        this performance level.
                                      readOnly: true
                                      type: object
                                      properties:
                                        limit:
                                          format: int32
                                          description: The maximum size limit (see
                                            'unit' for the units).
                                          type: integer
                                          readOnly: true
                                        unit:
                                          description: The units that the limit is
                                            expressed in.
                                          enum:
                                          - Megabytes
                                          - Gigabytes
                                          - Terabytes
                                          - Petabytes
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: MaxSizeUnit
                                            modelAsString: true
                                    supportedMaxSizes:
                                      description: The list of supported max sizes.
                                      type: array
                                      items:
                                        description: The maximum size range capability.
                                        type: object
                                        properties:
                                          minValue:
                                            description: Minimum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          maxValue:
                                            description: Maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          scaleSize:
                                            description: Scale/step size for discrete
                                              values between the minimum value and
                                              the maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          logSize:
                                            description: Size of transaction log.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The log size limit (see
                                                  'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                - Percent
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: LogSizeUnit
                                                  modelAsString: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    supportedPerDatabaseMaxSizes:
                                      description: The list of supported per database
                                        max sizes.
                                      type: array
                                      items:
                                        description: The maximum size range capability.
                                        type: object
                                        properties:
                                          minValue:
                                            description: Minimum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          maxValue:
                                            description: Maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          scaleSize:
                                            description: Scale/step size for discrete
                                              values between the minimum value and
                                              the maximum value.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          logSize:
                                            description: Size of transaction log.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The log size limit (see
                                                  'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                - Percent
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: LogSizeUnit
                                                  modelAsString: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    supportedPerDatabaseMaxPerformanceLevels:
                                      description: The list of supported per database
                                        max performance levels.
                                      type: array
                                      items:
                                        description: The max per-database performance
                                          level capability.
                                        type: object
                                        properties:
                                          limit:
                                            format: double
                                            description: The maximum performance level
                                              per database.
                                            type: number
                                            readOnly: true
                                          unit:
                                            description: Unit type used to measure
                                              performance level.
                                            enum:
                                            - DTU
                                            - VCores
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: PerformanceLevelUnit
                                              modelAsString: true
                                          supportedPerDatabaseMinPerformanceLevels:
                                            description: The list of supported min
                                              database performance levels.
                                            type: array
                                            items:
                                              description: The minimum per-database
                                                performance level capability.
                                              type: object
                                              properties:
                                                limit:
                                                  format: double
                                                  description: The minimum performance
                                                    level per database.
                                                  type: number
                                                  readOnly: true
                                                unit:
                                                  description: Unit type used to measure
                                                    performance level.
                                                  enum:
                                                  - DTU
                                                  - VCores
                                                  type: string
                                                  readOnly: true
                                                  x-ms-enum:
                                                    name: PerformanceLevelUnit
                                                    modelAsString: true
                                                status:
                                                  description: The status of the capability.
                                                  enum:
                                                  - Visible
                                                  - Available
                                                  - Default
                                                  - Disabled
                                                  type: string
                                                  readOnly: true
                                                  x-ms-enum:
                                                    name: CapabilityStatus
                                                    modelAsString: false
                                                reason:
                                                  description: The reason for the
                                                    capability not being available.
                                                  type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    zoneRedundant:
                                      description: Whether or not zone redundancy
                                        is supported for the performance level.
                                      type: boolean
                                      readOnly: true
                                    supportedMaintenanceConfigurations:
                                      description: List of supported maintenance configurations
                                      type: array
                                      items:
                                        description: The maintenance configuration
                                          capability
                                        type: object
                                        properties:
                                          name:
                                            description: Maintenance configuration
                                              name
                                            type: string
                                            readOnly: true
                                          zoneRedundant:
                                            description: Whether or not zone redundancy
                                              is supported for the maintenance configuration.
                                            type: boolean
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    supportedMinCapacities:
                                      description: List of supported min capacities
                                      type: array
                                      items:
                                        description: The min capacity capability
                                        type: object
                                        properties:
                                          value:
                                            format: double
                                            description: Min capacity value
                                            type: number
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                      x-ms-identifiers: []
                                    supportedAutoPauseDelay:
                                      description: Supported time range for auto pause
                                        delay
                                      readOnly: true
                                      type: object
                                      properties:
                                        minValue:
                                          format: int32
                                          description: Minimum value
                                          type: integer
                                          readOnly: true
                                        maxValue:
                                          format: int32
                                          description: Maximum value
                                          type: integer
                                          readOnly: true
                                        stepSize:
                                          format: int32
                                          description: Step value for discrete values
                                            between the minimum value and the maximum
                                            value.
                                          type: integer
                                          readOnly: true
                                        default:
                                          format: int32
                                          description: Default value is no value is
                                            provided
                                          type: integer
                                          readOnly: true
                                        unit:
                                          description: Unit of time that delay is
                                            expressed in
                                          enum:
                                          - Minutes
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: PauseDelayTimeUnit
                                            modelAsString: true
                                        doNotPauseValue:
                                          format: int32
                                          description: Value that is used to not pause
                                            (infinite delay before pause)
                                          type: integer
                                          readOnly: true
                                    supportedPerDatabaseAutoPauseDelay:
                                      description: Supported time range for per database
                                        auto pause delay
                                      readOnly: true
                                      type: object
                                      properties:
                                        minValue:
                                          format: int32
                                          description: Minimum value
                                          type: integer
                                          readOnly: true
                                        maxValue:
                                          format: int32
                                          description: Maximum value
                                          type: integer
                                          readOnly: true
                                        stepSize:
                                          format: int32
                                          description: Step value for discrete values
                                            between the minimum value and the maximum
                                            value.
                                          type: integer
                                          readOnly: true
                                        default:
                                          format: int32
                                          description: Default value if no value is
                                            provided
                                          type: integer
                                          readOnly: true
                                        unit:
                                          description: Unit of time that delay is
                                            expressed in
                                          enum:
                                          - Minutes
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: PauseDelayTimeUnit
                                            modelAsString: true
                                        doNotPauseValue:
                                          format: int32
                                          description: Value that is used to not pause
                                            (infinite delay before pause)
                                          type: integer
                                          readOnly: true
                                    supportedZones:
                                      description: List of supported availability
                                        zones
                                      type: array
                                      items:
                                        description: The zone pinning capability
                                        type: object
                                        properties:
                                          availabilityZone:
                                            description: Name of the availability
                                              zone
                                            type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    status:
                                      description: The status of the capability.
                                      enum:
                                      - Visible
                                      - Available
                                      - Default
                                      - Disabled
                                      type: string
                                      readOnly: true
                                      x-ms-enum:
                                        name: CapabilityStatus
                                        modelAsString: false
                                    reason:
                                      description: The reason for the capability not
                                        being available.
                                      type: string
                                readOnly: true
                              zoneRedundant:
                                description: Whether or not zone redundancy is supported
                                  for the edition.
                                type: boolean
                                readOnly: true
                              zonePinning:
                                description: Whether or not zone pinning is supported
                                  for the edition.
                                type: boolean
                                readOnly: true
                              status:
                                description: The status of the capability.
                                enum:
                                - Visible
                                - Available
                                - Default
                                - Disabled
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: CapabilityStatus
                                  modelAsString: false
                              reason:
                                description: The reason for the capability not being
                                  available.
                                type: string
                          readOnly: true
                        status:
                          description: The status of the capability.
                          enum:
                          - Visible
                          - Available
                          - Default
                          - Disabled
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: CapabilityStatus
                            modelAsString: false
                        reason:
                          description: The reason for the capability not being available.
                          type: string
                    readOnly: true
                  supportedManagedInstanceVersions:
                    description: The list of supported managed instance versions.
                    type: array
                    items:
                      description: The managed instance capability
                      type: object
                      properties:
                        name:
                          description: The server version name.
                          type: string
                          readOnly: true
                        supportedEditions:
                          description: The list of supported managed instance editions.
                          type: array
                          items:
                            description: The managed server capability
                            type: object
                            properties:
                              name:
                                description: The managed server version name.
                                type: string
                                readOnly: true
                              isGeneralPurposeV2:
                                description: Whether or not this is a GPv2 variant
                                  of General Purpose edition.
                                type: boolean
                                readOnly: true
                              supportedFamilies:
                                description: The supported families.
                                type: array
                                items:
                                  description: The managed server family capability.
                                  type: object
                                  properties:
                                    name:
                                      description: Family name.
                                      type: string
                                      readOnly: true
                                    sku:
                                      description: SKU name.
                                      type: string
                                      readOnly: true
                                    zoneRedundant:
                                      description: Whether or not zone redundancy
                                        is supported for the family.
                                      type: boolean
                                      readOnly: true
                                    supportedLicenseTypes:
                                      description: List of supported license types.
                                      type: array
                                      items:
                                        description: The license type capability
                                        type: object
                                        properties:
                                          name:
                                            description: License type identifier.
                                            type: string
                                            readOnly: true
                                          status:
                                            description: The status of the capability.
                                            enum:
                                            - Visible
                                            - Available
                                            - Default
                                            - Disabled
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: CapabilityStatus
                                              modelAsString: false
                                          reason:
                                            description: The reason for the capability
                                              not being available.
                                            type: string
                                      readOnly: true
                                    supportedVcoresValues:
                                      description: List of supported virtual cores
                                        values.
                                      type: array
                                      items:
                                        description: The managed instance virtual
                                          cores capability.
                                        type: object
                                        properties:
                                          name:
                                            description: The virtual cores identifier.
                                            type: string
                                            readOnly: true
                                          value:
                                            format: int32
                                            description: The virtual cores value.
                                            type: integer
                                            readOnly: true
                                          supportedMemoryLimitsMB:
                                            description: Memory limit MB ranges.
                                            readOnly: true
                                            type: object
                                            properties:
                                              minValue:
                                                format: int64
                                                description: Minimum value.
                                                type: integer
                                                readOnly: true
                                              maxValue:
                                                format: int64
                                                description: Maximum value.
                                                type: integer
                                                readOnly: true
                                              scaleSize:
                                                format: int64
                                                description: Scale/step size for discrete
                                                  values between the minimum value
                                                  and the maximum value.
                                                type: integer
                                                readOnly: true
                                              status:
                                                description: The status of the capability.
                                                enum:
                                                - Visible
                                                - Available
                                                - Default
                                                - Disabled
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: CapabilityStatus
                                                  modelAsString: false
                                              reason:
                                                description: The reason for the capability
                                                  not being available.
                                                type: string
                                          includedMaxSize:
                                            description: Included size.
                                            readOnly: true
                                            type: object
                                            properties:
                                              limit:
                                                format: int32
                                                description: The maximum size limit
                                                  (see 'unit' for the units).
                                                type: integer
                                                readOnly: true
                                              unit:
                                                description: The units that the limit
                                                  is expressed in.
                                                enum:
                                                - Megabytes
                                                - Gigabytes
                                                - Terabytes
                                                - Petabytes
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: MaxSizeUnit
                                                  modelAsString: true
                                          supportedStorageSizes:
                                            description: Storage size ranges.
                                            type: array
                                            items:
                                              description: The maximum size range
                                                capability.
                                              type: object
                                              properties:
                                                minValue:
                                                  description: Minimum value.
                                                  readOnly: true
                                                  type: object
                                                  properties:
                                                    limit:
                                                      format: int32
                                                      description: The maximum size
                                                        limit (see 'unit' for the
                                                        units).
                                                      type: integer
                                                      readOnly: true
                                                    unit:
                                                      description: The units that
                                                        the limit is expressed in.
                                                      enum:
                                                      - Megabytes
                                                      - Gigabytes
                                                      - Terabytes
                                                      - Petabytes
                                                      type: string
                                                      readOnly: true
                                                      x-ms-enum:
                                                        name: MaxSizeUnit
                                                        modelAsString: true
                                                maxValue:
                                                  description: Maximum value.
                                                  readOnly: true
                                                  type: object
                                                  properties:
                                                    limit:
                                                      format: int32
                                                      description: The maximum size
                                                        limit (see 'unit' for the
                                                        units).
                                                      type: integer
                                                      readOnly: true
                                                    unit:
                                                      description: The units that
                                                        the limit is expressed in.
                                                      enum:
                                                      - Megabytes
                                                      - Gigabytes
                                                      - Terabytes
                                                      - Petabytes
                                                      type: string
                                                      readOnly: true
                                                      x-ms-enum:
                                                        name: MaxSizeUnit
                                                        modelAsString: true
                                                scaleSize:
                                                  description: Scale/step size for
                                                    discrete values between the minimum
                                                    value and the maximum value.
                                                  readOnly: true
                                                  type: object
                                                  properties:
                                                    limit:
                                                      format: int32
                                                      description: The maximum size
                                                        limit (see 'unit' for the
                                                        units).
                                                      type: integer
                                                      readOnly: true
                                                    unit:
                                                      description: The units that
                                                        the limit is expressed in.
                                                      enum:
                                                      - Megabytes
                                                      - Gigabytes
                                                      - Terabytes
                                                      - Petabytes
                                                      type: string
                                                      readOnly: true
                                                      x-ms-enum:
                                                        name: MaxSizeUnit
                                                        modelAsString: true
                                                logSize:
                                                  description: Size of transaction
                                                    log.
                                                  readOnly: true
                                                  type: object
                                                  properties:
                                                    limit:
                                                      format: int32
                                                      description: The log size limit
                                                        (see 'unit' for the units).
                                                      type: integer
                                                      readOnly: true
                                                    unit:
                                                      description: The units that
                                                        the limit is expressed in.
                                                      enum:
                                                      - Megabytes
                                                      - Gigabytes
                                                      - Terabytes
                                                      - Petabytes
                                                      - Percent
                                                      type: string
                                                      readOnly: true
                                                      x-ms-enum:
                                                        name: LogSizeUnit
                                                        modelAsString: true
                                                status:
                                                  description: The status of the capability.
                                                  enum:
                                                  - Visible
                                                  - Available
                                                  - Default
                                                  - Disabled
                                                  type: string
                                                  readOnly: true
                                                  x-ms-enum:
                                                    name: CapabilityStatus
                                                    modelAsString: false
                                                reason:
                                                  description: The reason for the
                                                    capability not being available.
                                                  type: string
                                            readOnly: true
                                          includedStorageIOps:
                                            format: int64
                                            description: Included storage IOps.
                                            type: integer
                                            readOnly: true
                                          supportedStorageIOps:
                                            description: Storage IOps ranges.
                                            readOnly: true
                                            type: object
                                            properties:
                                              minValue:
                                                format: int64
                                                description: Minimum value.
                                                type: integer
                                                readOnly: true
                                              maxValue:
                                                format: int64
                                                description: Maximum value.
                                                type: integer
                                                readOnly: true
                                              scaleSize:
                                                format: int64
                                                description: Scale/step size for discrete
                                                  values between the minimum value
                                                  and the maximum value.
                                                type: integer
                                                readOnly: true
                                              status:
                                                description: The status of the capability.
                                                enum:
                                                - Visible
                                                - Available
                                                - Default
                                                - Disabled
                                                type: string
                                                readOnly: true
                                                x-ms-enum:
                                                  name: CapabilityStatus
                                                  modelAsString: false
                                              reason:
                                                description: The reason for the capability
                                                  not being available.
                                                type: string
                                          iopsMinValueOverrideFactorPerSelectedStorageGB:
                                            format: double
                                            description: Min IOps override factor
                                              per selected storage GB.
                                            type: number
                                            readOnly: true
                                          iopsIncludedValueOverrideFactorPerSelectedStorageGB:
                                            format: double
                                            description: Included IOps override factor
                                              per selected storage GB.
[...]
