openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies
  : get:
      tags:
      - LongTermRetentionPolicies
      description: Gets a database's long term retention policy.
      operationId: LongTermRetentionPolicies_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully get the policy.
          content:
            application/json:
              schema:
                description: A list of long term retention policies.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            weeklyRetention:
                              description: The weekly retention policy for an LTR
                                backup in an ISO 8601 format.
                              type: string
                            monthlyRetention:
                              description: The monthly retention policy for an LTR
                                backup in an ISO 8601 format.
                              type: string
                            yearlyRetention:
                              description: The yearly retention policy for an LTR
                                backup in an ISO 8601 format.
                              type: string
                            weekOfYear:
                              format: int32
                              description: The week of year to take the yearly backup
                                in an ISO 8601 format.
                              type: integer
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 LtrConfigPolicyUnsupportedIfAutoPauseEnabled\
            \ - Enabling long-term backup retention for a serverless database is not\
            \ supported if auto-pause is enabled.\n\n * 400 LtrConfigPolicyDuringVldbMigration\
            \ - Enabling long-term backup retention for a database during migration\
            \ to the Hyperscale service tier is not supported.\n\n * 400 LtrConfigPolicyDuringVldbReverseMigration\
            \ - Enabling long-term backup retention for a database during a reverse\
            \ migration from Hyperscale is not supported.\n\n * 400 DatabaseNamedReplicaBackupRetentionConfigurationNotSupported\
            \ - User attempted configuring backup retention policy on a Named Replica.\n\
            \n * 400 LTRNotSupportedForPerDBCMK - Long-term Backup Retention is not\
            \ supported when Database-level CMK is configured in preview.\n\n * 400\
            \ LTRHyperscaleSetPolicyError - An error has occurred while enabling Long-term\
            \ backup retention for this database. Please reach out to Microsoft support\
            \ to enable long-term backup retention.\n\n * 400 LTRArchiveStorageDisabledOnHyperscaleEdition\
            \ - Archiving long-term retention backups on Hyperscale databases is not\
            \ enabled.\n\n * 400 LTRArchiveStorageFailedOnZoneRedundantBackupStorage\
            \ - Setting a long-term retention policy with the backup storage access\
            \ tier set to 'archive' is not supported on zone-redundant backup storage.\
            \ Use either locally redundant or geo-redundant storage types.\n\n * 400\
            \ LongTermRetentionPolicyNotSupported - Long Term Retention is not supported\
            \ on this database.\n\n * 400 LongTermRetentionPolicyInvalid - Long Term\
            \ Retention policy is invalid.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 SubscriptionNotFound - The requested subscription\
            \ was not found.\n\n * 409 ConflictingServerOperation - Server '{0}' is\
            \ busy with another operation. Please try your operation later.\n\n *\
            \ 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{policyName}
  : get:
      tags:
      - LongTermRetentionPolicies
      description: Gets a database's long term retention policy.
      operationId: LongTermRetentionPolicies_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: policyName
        in: path
        description: The policy name. Should always be Default.
        required: true
        x-ms-enum:
          name: LongTermRetentionPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully get the policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      weeklyRetention:
                        description: The weekly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      monthlyRetention:
                        description: The monthly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      yearlyRetention:
                        description: The yearly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      weekOfYear:
                        format: int32
                        description: The week of year to take the yearly backup in
                          an ISO 8601 format.
                        type: integer
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 LtrConfigPolicyUnsupportedIfAutoPauseEnabled\
            \ - Enabling long-term backup retention for a serverless database is not\
            \ supported if auto-pause is enabled.\n\n * 400 LtrConfigPolicyDuringVldbMigration\
            \ - Enabling long-term backup retention for a database during migration\
            \ to the Hyperscale service tier is not supported.\n\n * 400 LtrConfigPolicyDuringVldbReverseMigration\
            \ - Enabling long-term backup retention for a database during a reverse\
            \ migration from Hyperscale is not supported.\n\n * 400 DatabaseNamedReplicaBackupRetentionConfigurationNotSupported\
            \ - User attempted configuring backup retention policy on a Named Replica.\n\
            \n * 400 LTRNotSupportedForPerDBCMK - Long-term Backup Retention is not\
            \ supported when Database-level CMK is configured in preview.\n\n * 400\
            \ LTRHyperscaleSetPolicyError - An error has occurred while enabling Long-term\
            \ backup retention for this database. Please reach out to Microsoft support\
            \ to enable long-term backup retention.\n\n * 400 LTRArchiveStorageDisabledOnHyperscaleEdition\
            \ - Archiving long-term retention backups on Hyperscale databases is not\
            \ enabled.\n\n * 400 LTRArchiveStorageFailedOnZoneRedundantBackupStorage\
            \ - Setting a long-term retention policy with the backup storage access\
            \ tier set to 'archive' is not supported on zone-redundant backup storage.\
            \ Use either locally redundant or geo-redundant storage types.\n\n * 400\
            \ LongTermRetentionPolicyNotSupported - Long Term Retention is not supported\
            \ on this database.\n\n * 400 LongTermRetentionPolicyInvalid - Long Term\
            \ Retention policy is invalid.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 SubscriptionNotFound - The requested subscription\
            \ was not found.\n\n * 409 ConflictingServerOperation - Server '{0}' is\
            \ busy with another operation. Please try your operation later.\n\n *\
            \ 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - LongTermRetentionPolicies
      description: Sets a database's long term retention policy.
      operationId: LongTermRetentionPolicies_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: policyName
        in: path
        description: The policy name. Should always be Default.
        required: true
        x-ms-enum:
          name: LongTermRetentionPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    weeklyRetention:
                      description: The weekly retention policy for an LTR backup in
                        an ISO 8601 format.
                      type: string
                    monthlyRetention:
                      description: The monthly retention policy for an LTR backup
                        in an ISO 8601 format.
                      type: string
                    yearlyRetention:
                      description: The yearly retention policy for an LTR backup in
                        an ISO 8601 format.
                      type: string
                    weekOfYear:
                      format: int32
                      description: The week of year to take the yearly backup in an
                        ISO 8601 format.
                      type: integer
              description: ARM resource.
              x-ms-azure-resource: true
        description: The long term retention policy info.
        required: true
      responses:
        '200':
          description: Successfully set the policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      weeklyRetention:
                        description: The weekly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      monthlyRetention:
                        description: The monthly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      yearlyRetention:
                        description: The yearly retention policy for an LTR backup
                          in an ISO 8601 format.
                        type: string
                      weekOfYear:
                        format: int32
                        description: The week of year to take the yearly backup in
                          an ISO 8601 format.
                        type: integer
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidResourceRequestBody\
            \ - The resource or resource properties in the request body is empty or\
            \ invalid.\n\n * 400 InvalidParameterValue - An invalid value was given\
            \ to a parameter.\n\n * 400 LongTermRetentionMissingWeekOfYear - WeekOfYear\
            \ is required to be set between 1 and 52 in order to set yearly retention.\n\
            \n * 400 LtrConfigPolicyUnsupportedIfAutoPauseEnabled - Enabling long-term\
            \ backup retention for a serverless database is not supported if auto-pause\
            \ is enabled.\n\n * 400 LtrConfigPolicyDuringVldbMigration - Enabling\
            \ long-term backup retention for a database during migration to the Hyperscale\
            \ service tier is not supported.\n\n * 400 LtrConfigPolicyDuringVldbReverseMigration\
            \ - Enabling long-term backup retention for a database during a reverse\
            \ migration from Hyperscale is not supported.\n\n * 400 DatabaseNamedReplicaBackupRetentionConfigurationNotSupported\
            \ - User attempted configuring backup retention policy on a Named Replica.\n\
            \n * 400 LTRNotSupportedForPerDBCMK - Long-term Backup Retention is not\
            \ supported when Database-level CMK is configured in preview.\n\n * 400\
            \ LTRHyperscaleSetPolicyError - An error has occurred while enabling Long-term\
            \ backup retention for this database. Please reach out to Microsoft support\
            \ to enable long-term backup retention.\n\n * 400 LTRArchiveStorageDisabledOnHyperscaleEdition\
            \ - Archiving long-term retention backups on Hyperscale databases is not\
            \ enabled.\n\n * 400 LTRArchiveStorageFailedOnZoneRedundantBackupStorage\
            \ - Setting a long-term retention policy with the backup storage access\
            \ tier set to 'archive' is not supported on zone-redundant backup storage.\
            \ Use either locally redundant or geo-redundant storage types.\n\n * 400\
            \ LongTermRetentionPolicyNotSupported - Long Term Retention is not supported\
            \ on this database.\n\n * 400 LongTermRetentionPolicyInvalid - Long Term\
            \ Retention policy is invalid.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 OperationIdNotFound - The operation with Id\
            \ does not exist.\n\n * 409 ConflictingServerOperation - Server '{0}'\
            \ is busy with another operation. Please try your operation later.\n\n\
            \ * 409 CannotCancelOperation - The management operation is in a state\
            \ that cannot be cancelled.\n\n * 409 OperationCancelled - The operation\
            \ has been cancelled by user.\n\n * 409 OperationInterrupted - The operation\
            \ on the resource could not be completed because it was interrupted by\
            \ another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    BaseLongTermRetentionPolicyProperties:
      description: Properties of a long term retention policy
      type: object
      properties:
        weeklyRetention:
          description: The weekly retention policy for an LTR backup in an ISO 8601
            format.
          type: string
        monthlyRetention:
          description: The monthly retention policy for an LTR backup in an ISO 8601
            format.
          type: string
        yearlyRetention:
          description: The yearly retention policy for an LTR backup in an ISO 8601
            format.
          type: string
        weekOfYear:
          format: int32
          description: The week of year to take the yearly backup in an ISO 8601 format.
          type: integer
    LongTermRetentionPolicy:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            weeklyRetention:
              description: The weekly retention policy for an LTR backup in an ISO
                8601 format.
              type: string
            monthlyRetention:
              description: The monthly retention policy for an LTR backup in an ISO
                8601 format.
              type: string
            yearlyRetention:
              description: The yearly retention policy for an LTR backup in an ISO
                8601 format.
              type: string
            weekOfYear:
              format: int32
              description: The week of year to take the yearly backup in an ISO 8601
                format.
              type: integer
      description: ARM resource.
      x-ms-azure-resource: true
    LongTermRetentionPolicyListResult:
      description: A list of long term retention policies.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  weeklyRetention:
                    description: The weekly retention policy for an LTR backup in
                      an ISO 8601 format.
                    type: string
                  monthlyRetention:
                    description: The monthly retention policy for an LTR backup in
                      an ISO 8601 format.
                    type: string
                  yearlyRetention:
                    description: The yearly retention policy for an LTR backup in
                      an ISO 8601 format.
                    type: string
                  weekOfYear:
                    format: int32
                    description: The week of year to take the yearly backup in an
                      ISO 8601 format.
                    type: integer
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
