openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstanceBackups:
    get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Lists the long term retention backups for managed databases in
        a given location.
      operationId: LongTermRetentionManagedInstanceBackups_ListByLocation
      parameters:
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: onlyLatestPerDatabase
        in: query
        description: Whether or not to only get the latest backup for each database.
        required: false
        schema:
          type: boolean
      - name: databaseState
        in: query
        description: Whether to query against just live databases, just deleted databases,
          or all databases.
        required: false
        x-ms-enum:
          name: databaseState
          modelAsString: true
        schema:
          type: string
          enum:
          - All
          - Live
          - Deleted
      - name: $skip
        in: query
        description: The number of elements in the collection to skip.
        required: false
        schema:
          type: integer
          format: int64
      - name: $top
        in: query
        description: The number of elements to return from the collection.
        required: false
        schema:
          type: integer
          format: int64
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of backups.
          content:
            application/json:
              schema:
                description: A list of long term retention backups for managed database(s).
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The managed instance that the backup database
                                belongs to.
                              type: string
                              readOnly: true
                            managedInstanceCreateTime:
                              format: date-time
                              description: The create time of the instance.
                              type: string
                              readOnly: true
                            databaseName:
                              description: The name of the database the backup belong
                                to
                              type: string
                              readOnly: true
                            databaseDeletionTime:
                              format: date-time
                              description: The delete time of the database
                              type: string
                              readOnly: true
                            backupTime:
                              format: date-time
                              description: The time the backup was taken
                              type: string
                              readOnly: true
                            backupExpirationTime:
                              format: date-time
                              description: The time the long term retention backup
                                will expire.
                              type: string
                              readOnly: true
                            backupStorageRedundancy:
                              description: The storage redundancy type of the backup
                              enum:
                              - Geo
                              - Local
                              - Zone
                              - GeoZone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageRedundancy
                                modelAsString: true
                            backupStorageAccessTier:
                              description: The BackupStorageAccessTier for the LTR
                                backup
                              enum:
                              - Hot
                              - Archive
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageAccessTier
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/ManagedInstanceLongTermRetentionBackup'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstances/{managedInstanceName}/longTermRetentionDatabases/{databaseName}/longTermRetentionManagedInstanceBackups
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Lists all long term retention backups for a managed database.
      operationId: LongTermRetentionManagedInstanceBackups_ListByDatabase
      parameters:
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: onlyLatestPerDatabase
        in: query
        description: Whether or not to only get the latest backup for each database.
        required: false
        schema:
          type: boolean
      - name: databaseState
        in: query
        description: Whether to query against just live databases, just deleted databases,
          or all databases.
        required: false
        x-ms-enum:
          name: databaseState
          modelAsString: true
        schema:
          type: string
          enum:
          - All
          - Live
          - Deleted
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of backups.
          content:
            application/json:
              schema:
                description: A list of long term retention backups for managed database(s).
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The managed instance that the backup database
                                belongs to.
                              type: string
                              readOnly: true
                            managedInstanceCreateTime:
                              format: date-time
                              description: The create time of the instance.
                              type: string
                              readOnly: true
                            databaseName:
                              description: The name of the database the backup belong
                                to
                              type: string
                              readOnly: true
                            databaseDeletionTime:
                              format: date-time
                              description: The delete time of the database
                              type: string
                              readOnly: true
                            backupTime:
                              format: date-time
                              description: The time the backup was taken
                              type: string
                              readOnly: true
                            backupExpirationTime:
                              format: date-time
                              description: The time the long term retention backup
                                will expire.
                              type: string
                              readOnly: true
                            backupStorageRedundancy:
                              description: The storage redundancy type of the backup
                              enum:
                              - Geo
                              - Local
                              - Zone
                              - GeoZone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageRedundancy
                                modelAsString: true
                            backupStorageAccessTier:
                              description: The BackupStorageAccessTier for the LTR
                                backup
                              enum:
                              - Hot
                              - Archive
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageAccessTier
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstances/{managedInstanceName}/longTermRetentionDatabases/{databaseName}/longTermRetentionManagedInstanceBackups/{backupName}
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Gets a long term retention backup for a managed database.
      operationId: LongTermRetentionManagedInstanceBackups_Get
      parameters:
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: backupName
        in: path
        description: The backup name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the backup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      managedInstanceName:
                        description: The managed instance that the backup database
                          belongs to.
                        type: string
                        readOnly: true
                      managedInstanceCreateTime:
                        format: date-time
                        description: The create time of the instance.
                        type: string
                        readOnly: true
                      databaseName:
                        description: The name of the database the backup belong to
                        type: string
                        readOnly: true
                      databaseDeletionTime:
                        format: date-time
                        description: The delete time of the database
                        type: string
                        readOnly: true
                      backupTime:
                        format: date-time
                        description: The time the backup was taken
                        type: string
                        readOnly: true
                      backupExpirationTime:
                        format: date-time
                        description: The time the long term retention backup will
                          expire.
                        type: string
                        readOnly: true
                      backupStorageRedundancy:
                        description: The storage redundancy type of the backup
                        enum:
                        - Geo
                        - Local
                        - Zone
                        - GeoZone
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BackupStorageRedundancy
                          modelAsString: true
                      backupStorageAccessTier:
                        description: The BackupStorageAccessTier for the LTR backup
                        enum:
                        - Hot
                        - Archive
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BackupStorageAccessTier
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Deletes a long term retention backup.
      operationId: LongTermRetentionManagedInstanceBackups_Delete
      parameters:
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: backupName
        in: path
        description: The backup name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the backup.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 OperationIdNotFound -\
            \ The operation with Id does not exist.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstances/{managedInstanceName}/longTermRetentionManagedInstanceBackups
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Lists the long term retention backups for a given managed instance.
      operationId: LongTermRetentionManagedInstanceBackups_ListByInstance
      parameters:
      - name: locationName
        in: path
        description: The location of the database
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: onlyLatestPerDatabase
        in: query
        description: Whether or not to only get the latest backup for each database.
        required: false
        schema:
          type: boolean
      - name: databaseState
        in: query
        description: Whether to query against just live databases, just deleted databases,
          or all databases.
        required: false
        x-ms-enum:
          name: databaseState
          modelAsString: true
        schema:
          type: string
          enum:
          - All
          - Live
          - Deleted
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of backups.
          content:
            application/json:
              schema:
                description: A list of long term retention backups for managed database(s).
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The managed instance that the backup database
                                belongs to.
                              type: string
                              readOnly: true
                            managedInstanceCreateTime:
                              format: date-time
                              description: The create time of the instance.
                              type: string
                              readOnly: true
                            databaseName:
                              description: The name of the database the backup belong
                                to
                              type: string
                              readOnly: true
                            databaseDeletionTime:
                              format: date-time
                              description: The delete time of the database
                              type: string
                              readOnly: true
                            backupTime:
                              format: date-time
                              description: The time the backup was taken
                              type: string
                              readOnly: true
                            backupExpirationTime:
                              format: date-time
                              description: The time the long term retention backup
                                will expire.
                              type: string
                              readOnly: true
                            backupStorageRedundancy:
                              description: The storage redundancy type of the backup
                              enum:
                              - Geo
                              - Local
                              - Zone
                              - GeoZone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageRedundancy
                                modelAsString: true
                            backupStorageAccessTier:
                              description: The BackupStorageAccessTier for the LTR
                                backup
                              enum:
                              - Hot
                              - Archive
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageAccessTier
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstanceBackups
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Lists the long term retention backups for managed databases in
        a given location.
      operationId: LongTermRetentionManagedInstanceBackups_ListByResourceGroupLocation
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: onlyLatestPerDatabase
        in: query
        description: Whether or not to only get the latest backup for each database.
        required: false
        schema:
          type: boolean
      - name: databaseState
        in: query
        description: Whether to query against just live databases, just deleted databases,
          or all databases.
        required: false
        x-ms-enum:
          name: databaseState
          modelAsString: true
        schema:
          type: string
          enum:
          - All
          - Live
          - Deleted
      - name: $skip
        in: query
        description: The number of elements in the collection to skip.
        required: false
        schema:
          type: integer
          format: int64
      - name: $top
        in: query
        description: The number of elements to return from the collection.
        required: false
        schema:
          type: integer
          format: int64
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of backups.
          content:
            application/json:
              schema:
                description: A list of long term retention backups for managed database(s).
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The managed instance that the backup database
                                belongs to.
                              type: string
                              readOnly: true
                            managedInstanceCreateTime:
                              format: date-time
                              description: The create time of the instance.
                              type: string
                              readOnly: true
                            databaseName:
                              description: The name of the database the backup belong
                                to
                              type: string
                              readOnly: true
                            databaseDeletionTime:
                              format: date-time
                              description: The delete time of the database
                              type: string
                              readOnly: true
                            backupTime:
                              format: date-time
                              description: The time the backup was taken
                              type: string
                              readOnly: true
                            backupExpirationTime:
                              format: date-time
                              description: The time the long term retention backup
                                will expire.
                              type: string
                              readOnly: true
                            backupStorageRedundancy:
                              description: The storage redundancy type of the backup
                              enum:
                              - Geo
                              - Local
                              - Zone
                              - GeoZone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageRedundancy
                                modelAsString: true
                            backupStorageAccessTier:
                              description: The BackupStorageAccessTier for the LTR
                                backup
                              enum:
                              - Hot
                              - Archive
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageAccessTier
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/ManagedInstanceLongTermRetentionBackup'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstances/{managedInstanceName}/longTermRetentionDatabases/{databaseName}/longTermRetentionManagedInstanceBackups
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Lists all long term retention backups for a managed database.
      operationId: LongTermRetentionManagedInstanceBackups_ListByResourceGroupDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The location of the database
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: onlyLatestPerDatabase
        in: query
        description: Whether or not to only get the latest backup for each database.
        required: false
        schema:
          type: boolean
      - name: databaseState
        in: query
        description: Whether to query against just live databases, just deleted databases,
          or all databases.
        required: false
        x-ms-enum:
          name: databaseState
          modelAsString: true
        schema:
          type: string
          enum:
          - All
          - Live
          - Deleted
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of backups.
          content:
            application/json:
              schema:
                description: A list of long term retention backups for managed database(s).
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The managed instance that the backup database
                                belongs to.
                              type: string
                              readOnly: true
                            managedInstanceCreateTime:
                              format: date-time
                              description: The create time of the instance.
                              type: string
                              readOnly: true
                            databaseName:
                              description: The name of the database the backup belong
                                to
                              type: string
                              readOnly: true
                            databaseDeletionTime:
                              format: date-time
                              description: The delete time of the database
                              type: string
                              readOnly: true
                            backupTime:
                              format: date-time
                              description: The time the backup was taken
                              type: string
                              readOnly: true
                            backupExpirationTime:
                              format: date-time
                              description: The time the long term retention backup
                                will expire.
                              type: string
                              readOnly: true
                            backupStorageRedundancy:
                              description: The storage redundancy type of the backup
                              enum:
                              - Geo
                              - Local
                              - Zone
                              - GeoZone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageRedundancy
                                modelAsString: true
                            backupStorageAccessTier:
                              description: The BackupStorageAccessTier for the LTR
                                backup
                              enum:
                              - Hot
                              - Archive
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BackupStorageAccessTier
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/longTermRetentionManagedInstances/{managedInstanceName}/longTermRetentionDatabases/{databaseName}/longTermRetentionManagedInstanceBackups/{backupName}
  : get:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Gets a long term retention backup for a managed database.
      operationId: LongTermRetentionManagedInstanceBackups_GetByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The location of the database.
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: backupName
        in: path
        description: The backup name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the backup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      managedInstanceName:
                        description: The managed instance that the backup database
                          belongs to.
                        type: string
                        readOnly: true
                      managedInstanceCreateTime:
                        format: date-time
                        description: The create time of the instance.
                        type: string
                        readOnly: true
                      databaseName:
                        description: The name of the database the backup belong to
                        type: string
                        readOnly: true
                      databaseDeletionTime:
                        format: date-time
                        description: The delete time of the database
                        type: string
                        readOnly: true
                      backupTime:
                        format: date-time
                        description: The time the backup was taken
                        type: string
                        readOnly: true
                      backupExpirationTime:
                        format: date-time
                        description: The time the long term retention backup will
                          expire.
                        type: string
                        readOnly: true
                      backupStorageRedundancy:
                        description: The storage redundancy type of the backup
                        enum:
                        - Geo
                        - Local
                        - Zone
                        - GeoZone
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BackupStorageRedundancy
                          modelAsString: true
                      backupStorageAccessTier:
                        description: The BackupStorageAccessTier for the LTR backup
                        enum:
                        - Hot
                        - Archive
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BackupStorageAccessTier
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - LongTermRetentionManagedInstanceBackups
      description: Deletes a long term retention backup.
      operationId: LongTermRetentionManagedInstanceBackups_DeleteByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The location of the database
        required: true
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database.
        required: true
        schema:
          type: string
      - name: backupName
        in: path
        description: The backup name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the backup.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidLongTermRetentionManagedInstanceBackupId\
            \ - Invalid long term retention backup identifier for Managed Instances.\n\
            \n * 400 LongTermRetentiontBackupOperationResultsInvalidODataQuery - The\
            \ specified OData query is either not valid or not supported\n\n * 400\
            \ InvalidLongTermRetentionBackupId - Invalid long term retention backup\
            \ identifier for SQL DBs.\n\n * 400 InvalidParameterValue - An invalid\
            \ value was given to a parameter.\n\n * 400 LongTermRetentionMismatchingSubscriptionId\
            \ - The provided subscription id did not match the id in the other input\n\
            \n * 400 LongTermRetentionMismatchingResourceGroupName - The provided\
            \ resource group name did not match the name in the other input\n\n *\
            \ 400 LongTermRetentionMismatchingServerName - The provided server name\
            \ did not match the name in the other input\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 OperationIdNotFound - The operation with\
            \ Id does not exist.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
[...]
