openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/maintenanceWindows/current
  : get:
      tags:
      - MaintenanceWindows
      description: Gets maintenance windows settings for a database.
      operationId: MaintenanceWindows_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database to get maintenance windows for.
        required: true
        schema:
          type: string
      - name: maintenanceWindowName
        in: query
        description: Maintenance window name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved maintenance windows settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      timeRanges:
                        type: array
                        items:
                          description: Maintenance window time range.
                          type: object
                          properties:
                            dayOfWeek:
                              description: Day of maintenance window.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            startTime:
                              description: Start time minutes offset from 12am.
                              type: string
                            duration:
                              description: Duration of maintenance window in minutes.
                              type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
    put:
      tags:
      - MaintenanceWindows
      description: Sets maintenance windows settings for a database.
      operationId: MaintenanceWindows_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database to set maintenance windows for.
        required: true
        schema:
          type: string
      - name: maintenanceWindowName
        in: query
        description: Maintenance window name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    timeRanges:
                      type: array
                      items:
                        description: Maintenance window time range.
                        type: object
                        properties:
                          dayOfWeek:
                            description: Day of maintenance window.
                            enum:
                            - Sunday
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            type: string
                            x-ms-enum:
                              name: DayOfWeek
                              modelAsString: true
                          startTime:
                            description: Start time minutes offset from 12am.
                            type: string
                          duration:
                            description: Duration of maintenance window in minutes.
                            type: string
              description: ARM resource.
              x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Successfully set maintenance windows settings.
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidMaintenanceWindowSelection\
            \ - Invalid maintenance window selection."
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    MaintenanceWindows:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            timeRanges:
              type: array
              items:
                description: Maintenance window time range.
                type: object
                properties:
                  dayOfWeek:
                    description: Day of maintenance window.
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    type: string
                    x-ms-enum:
                      name: DayOfWeek
                      modelAsString: true
                  startTime:
                    description: Start time minutes offset from 12am.
                    type: string
                  duration:
                    description: Duration of maintenance window in minutes.
                    type: string
      description: ARM resource.
      x-ms-azure-resource: true
    MaintenanceWindowsProperties:
      description: Maintenance windows resource properties.
      type: object
      properties:
        timeRanges:
          type: array
          items:
            description: Maintenance window time range.
            type: object
            properties:
              dayOfWeek:
                description: Day of maintenance window.
                enum:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
                type: string
                x-ms-enum:
                  name: DayOfWeek
                  modelAsString: true
              startTime:
                description: Start time minutes offset from 12am.
                type: string
              duration:
                description: Duration of maintenance window in minutes.
                type: string
    MaintenanceWindowTimeRange:
      description: Maintenance window time range.
      type: object
      properties:
        dayOfWeek:
          description: Day of maintenance window.
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          x-ms-enum:
            name: DayOfWeek
            modelAsString: true
        startTime:
          description: Start time minutes offset from 12am.
          type: string
        duration:
          description: Duration of maintenance window in minutes.
          type: string
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
