openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/maintenanceWindowOptions/current
  : get:
      tags:
      - MaintenanceWindowOptions
      description: Gets a list of available maintenance windows.
      operationId: MaintenanceWindowOptions_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database to get maintenance windows options for.
        required: true
        schema:
          type: string
      - name: maintenanceWindowOptionsName
        in: query
        description: Maintenance window options name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of maintenance windows options.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      isEnabled:
                        description: Whether maintenance windows are enabled for the
                          database.
                        type: boolean
                      maintenanceWindowCycles:
                        description: Available maintenance cycles e.g. {Saturday,
                          0, 48*60}, {Wednesday, 0, 24*60}.
                        type: array
                        items:
                          description: Maintenance window time range.
                          type: object
                          properties:
                            dayOfWeek:
                              description: Day of maintenance window.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            startTime:
                              description: Start time minutes offset from 12am.
                              type: string
                            duration:
                              description: Duration of maintenance window in minutes.
                              type: string
                      minDurationInMinutes:
                        format: int32
                        description: Minimum duration of maintenance window.
                        type: integer
                      defaultDurationInMinutes:
                        format: int32
                        description: Default duration for maintenance window.
                        type: integer
                      minCycles:
                        format: int32
                        description: Minimum number of maintenance windows cycles
                          to be set on the database.
                        type: integer
                      timeGranularityInMinutes:
                        format: int32
                        description: Time granularity in minutes for maintenance windows.
                        type: integer
                      allowMultipleMaintenanceWindowsPerCycle:
                        description: Whether we allow multiple maintenance windows
                          per cycle.
                        type: boolean
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    MaintenanceWindowOptions:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            isEnabled:
              description: Whether maintenance windows are enabled for the database.
              type: boolean
            maintenanceWindowCycles:
              description: Available maintenance cycles e.g. {Saturday, 0, 48*60},
                {Wednesday, 0, 24*60}.
              type: array
              items:
                description: Maintenance window time range.
                type: object
                properties:
                  dayOfWeek:
                    description: Day of maintenance window.
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    type: string
                    x-ms-enum:
                      name: DayOfWeek
                      modelAsString: true
                  startTime:
                    description: Start time minutes offset from 12am.
                    type: string
                  duration:
                    description: Duration of maintenance window in minutes.
                    type: string
            minDurationInMinutes:
              format: int32
              description: Minimum duration of maintenance window.
              type: integer
            defaultDurationInMinutes:
              format: int32
              description: Default duration for maintenance window.
              type: integer
            minCycles:
              format: int32
              description: Minimum number of maintenance windows cycles to be set
                on the database.
              type: integer
            timeGranularityInMinutes:
              format: int32
              description: Time granularity in minutes for maintenance windows.
              type: integer
            allowMultipleMaintenanceWindowsPerCycle:
              description: Whether we allow multiple maintenance windows per cycle.
              type: boolean
      description: ARM resource.
      x-ms-azure-resource: true
    MaintenanceWindowOptionsProperties:
      description: Maintenance window options properties.
      type: object
      properties:
        isEnabled:
          description: Whether maintenance windows are enabled for the database.
          type: boolean
        maintenanceWindowCycles:
          description: Available maintenance cycles e.g. {Saturday, 0, 48*60}, {Wednesday,
            0, 24*60}.
          type: array
          items:
            description: Maintenance window time range.
            type: object
            properties:
              dayOfWeek:
                description: Day of maintenance window.
                enum:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
                type: string
                x-ms-enum:
                  name: DayOfWeek
                  modelAsString: true
              startTime:
                description: Start time minutes offset from 12am.
                type: string
              duration:
                description: Duration of maintenance window in minutes.
                type: string
        minDurationInMinutes:
          format: int32
          description: Minimum duration of maintenance window.
          type: integer
        defaultDurationInMinutes:
          format: int32
          description: Default duration for maintenance window.
          type: integer
        minCycles:
          format: int32
          description: Minimum number of maintenance windows cycles to be set on the
            database.
          type: integer
        timeGranularityInMinutes:
          format: int32
          description: Time granularity in minutes for maintenance windows.
          type: integer
        allowMultipleMaintenanceWindowsPerCycle:
          description: Whether we allow multiple maintenance windows per cycle.
          type: boolean
    MaintenanceWindowTimeRange:
      description: Maintenance window time range.
      type: object
      properties:
        dayOfWeek:
          description: Day of maintenance window.
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          x-ms-enum:
            name: DayOfWeek
            modelAsString: true
        startTime:
          description: Start time minutes offset from 12am.
          type: string
        duration:
          description: Duration of maintenance window in minutes.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
