openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations
  : get:
      tags:
      - ManagedInstanceOperations
      description: Gets a list of operations performed on the managed instance.
      operationId: ManagedInstanceOperations_ListByManagedInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: The request for getting managed instance operations has been
            executed successfully.
          content:
            application/json:
              schema:
                description: The response to a list managed instance operations request
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            managedInstanceName:
                              description: The name of the managed instance the operation
                                is being performed on.
                              type: string
                              readOnly: true
                            operation:
                              description: The name of operation.
                              type: string
                              readOnly: true
                            operationFriendlyName:
                              description: The friendly name of operation.
                              type: string
                              readOnly: true
                            percentComplete:
                              format: int32
                              description: The percentage of the operation completed.
                              type: integer
                              readOnly: true
                            startTime:
                              format: date-time
                              description: The operation start time.
                              type: string
                              readOnly: true
                            state:
                              description: The operation state.
                              enum:
                              - Pending
                              - InProgress
                              - Succeeded
                              - Failed
                              - CancelInProgress
                              - Cancelled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ManagementOperationState
                                modelAsString: true
                            errorCode:
                              format: int32
                              description: The operation error code.
                              type: integer
                              readOnly: true
                            errorDescription:
                              description: The operation error description.
                              type: string
                              readOnly: true
                            errorSeverity:
                              format: int32
                              description: The operation error severity.
                              type: integer
                              readOnly: true
                            isUserError:
                              description: Whether or not the error is a user error.
                              type: boolean
                              readOnly: true
                            estimatedCompletionTime:
                              format: date-time
                              description: The estimated completion time of the operation.
                              type: string
                              readOnly: true
                            description:
                              description: The operation description.
                              type: string
                              readOnly: true
                            isCancellable:
                              description: Whether the operation can be cancelled.
                              type: boolean
                              readOnly: true
                            operationParameters:
                              description: The operation parameters.
                              readOnly: true
                              type: object
                              properties:
                                currentParameters:
                                  description: The current parameters.
                                  readOnly: true
                                  type: object
                                  properties:
                                    family:
                                      type: string
                                    tier:
                                      type: string
                                    vCores:
                                      format: int32
                                      type: integer
                                    storageSizeInGB:
                                      format: int32
                                      type: integer
                                requestedParameters:
                                  description: The requested parameters.
                                  readOnly: true
                                  type: object
                                  properties:
                                    family:
                                      type: string
                                    tier:
                                      type: string
                                    vCores:
                                      format: int32
                                      type: integer
                                    storageSizeInGB:
                                      format: int32
                                      type: integer
                            operationSteps:
                              description: The operation steps.
                              readOnly: true
                              type: object
                              properties:
                                totalSteps:
                                  description: The total number of operation steps.
                                  type: string
                                  readOnly: true
                                currentStep:
                                  format: int32
                                  description: The number of current operation steps.
                                  type: integer
                                  readOnly: true
                                stepsList:
                                  description: The operation steps list.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      stepStartTime:
                                        format: date-time
                                        type: string
                                      stepEndTime:
                                        format: date-time
                                        type: string
                                      timeElapsed:
                                        type: string
                                      order:
                                        format: int32
                                        type: integer
                                      name:
                                        type: string
                                      status:
                                        enum:
                                        - NotStarted
                                        - InProgress
                                        - SlowedDown
                                        - Completed
                                        - Failed
                                        - Canceled
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: ManagementOperationStepState
                                          modelAsString: true
                                  readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations/{operationId}
  : get:
      tags:
      - ManagedInstanceOperations
      description: Gets a management operation on a managed instance.
      operationId: ManagedInstanceOperations_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified managed instance operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      managedInstanceName:
                        description: The name of the managed instance the operation
                          is being performed on.
                        type: string
                        readOnly: true
                      operation:
                        description: The name of operation.
                        type: string
                        readOnly: true
                      operationFriendlyName:
                        description: The friendly name of operation.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: The percentage of the operation completed.
                        type: integer
                        readOnly: true
                      startTime:
                        format: date-time
                        description: The operation start time.
                        type: string
                        readOnly: true
                      state:
                        description: The operation state.
                        enum:
                        - Pending
                        - InProgress
                        - Succeeded
                        - Failed
                        - CancelInProgress
                        - Cancelled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ManagementOperationState
                          modelAsString: true
                      errorCode:
                        format: int32
                        description: The operation error code.
                        type: integer
                        readOnly: true
                      errorDescription:
                        description: The operation error description.
                        type: string
                        readOnly: true
                      errorSeverity:
                        format: int32
                        description: The operation error severity.
                        type: integer
                        readOnly: true
                      isUserError:
                        description: Whether or not the error is a user error.
                        type: boolean
                        readOnly: true
                      estimatedCompletionTime:
                        format: date-time
                        description: The estimated completion time of the operation.
                        type: string
                        readOnly: true
                      description:
                        description: The operation description.
                        type: string
                        readOnly: true
                      isCancellable:
                        description: Whether the operation can be cancelled.
                        type: boolean
                        readOnly: true
                      operationParameters:
                        description: The operation parameters.
                        readOnly: true
                        type: object
                        properties:
                          currentParameters:
                            description: The current parameters.
                            readOnly: true
                            type: object
                            properties:
                              family:
                                type: string
                              tier:
                                type: string
                              vCores:
                                format: int32
                                type: integer
                              storageSizeInGB:
                                format: int32
                                type: integer
                          requestedParameters:
                            description: The requested parameters.
                            readOnly: true
                            type: object
                            properties:
                              family:
                                type: string
                              tier:
                                type: string
                              vCores:
                                format: int32
                                type: integer
                              storageSizeInGB:
                                format: int32
                                type: integer
                      operationSteps:
                        description: The operation steps.
                        readOnly: true
                        type: object
                        properties:
                          totalSteps:
                            description: The total number of operation steps.
                            type: string
                            readOnly: true
                          currentStep:
                            format: int32
                            description: The number of current operation steps.
                            type: integer
                            readOnly: true
                          stepsList:
                            description: The operation steps list.
                            type: array
                            items:
                              type: object
                              properties:
                                stepStartTime:
                                  format: date-time
                                  type: string
                                stepEndTime:
                                  format: date-time
                                  type: string
                                timeElapsed:
                                  type: string
                                order:
                                  format: int32
                                  type: integer
                                name:
                                  type: string
                                status:
                                  enum:
                                  - NotStarted
                                  - InProgress
                                  - SlowedDown
                                  - Completed
                                  - Failed
                                  - Canceled
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: ManagementOperationStepState
                                    modelAsString: true
                            readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/operations/{operationId}/cancel
  : post:
      tags:
      - ManagedInstanceOperations
      description: Cancels the asynchronous operation on the managed instance.
      operationId: ManagedInstanceOperations_Cancel
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: The request for cancel has been executed successfully.
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidServerName - Invalid\
            \ server name specified.\n\n * 400 InvalidIdentifier - The identifier\
            \ contains NULL or an invalid unicode character.\n\n * 400 TokenTooLong\
            \ - The provided token is too long.\n\n * 400 DeleteOfManagedInstanceIsDisabled\
            \ - Delete operation of managed instance is disabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified\
            \ server does not exist in the specified resource group and subscription.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 OperationIdNotFound - The operation with Id does not\
            \ exist.\n\n * 404 OperationIdNotFound - The operation with Id does not\
            \ exist.\n\n * 409 CannotCancelOperation - The management operation is\
            \ in a state that cannot be cancelled.\n\n * 409 OperationCancelled -\
            \ The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ManagedInstanceOperation:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            managedInstanceName:
              description: The name of the managed instance the operation is being
                performed on.
              type: string
              readOnly: true
            operation:
              description: The name of operation.
              type: string
              readOnly: true
            operationFriendlyName:
              description: The friendly name of operation.
              type: string
              readOnly: true
            percentComplete:
              format: int32
              description: The percentage of the operation completed.
              type: integer
              readOnly: true
            startTime:
              format: date-time
              description: The operation start time.
              type: string
              readOnly: true
            state:
              description: The operation state.
              enum:
              - Pending
              - InProgress
              - Succeeded
              - Failed
              - CancelInProgress
              - Cancelled
              type: string
              readOnly: true
              x-ms-enum:
                name: ManagementOperationState
                modelAsString: true
            errorCode:
              format: int32
              description: The operation error code.
              type: integer
              readOnly: true
            errorDescription:
              description: The operation error description.
              type: string
              readOnly: true
            errorSeverity:
              format: int32
              description: The operation error severity.
              type: integer
              readOnly: true
            isUserError:
              description: Whether or not the error is a user error.
              type: boolean
              readOnly: true
            estimatedCompletionTime:
              format: date-time
              description: The estimated completion time of the operation.
              type: string
              readOnly: true
            description:
              description: The operation description.
              type: string
              readOnly: true
            isCancellable:
              description: Whether the operation can be cancelled.
              type: boolean
              readOnly: true
            operationParameters:
              description: The operation parameters.
              readOnly: true
              type: object
              properties:
                currentParameters:
                  description: The current parameters.
                  readOnly: true
                  type: object
                  properties:
                    family:
                      type: string
                    tier:
                      type: string
                    vCores:
                      format: int32
                      type: integer
                    storageSizeInGB:
                      format: int32
                      type: integer
                requestedParameters:
                  description: The requested parameters.
                  readOnly: true
                  type: object
                  properties:
                    family:
                      type: string
                    tier:
                      type: string
                    vCores:
                      format: int32
                      type: integer
                    storageSizeInGB:
                      format: int32
                      type: integer
            operationSteps:
              description: The operation steps.
              readOnly: true
              type: object
              properties:
                totalSteps:
                  description: The total number of operation steps.
                  type: string
                  readOnly: true
                currentStep:
                  format: int32
                  description: The number of current operation steps.
                  type: integer
                  readOnly: true
                stepsList:
                  description: The operation steps list.
                  type: array
                  items:
                    type: object
                    properties:
                      stepStartTime:
                        format: date-time
                        type: string
                      stepEndTime:
                        format: date-time
                        type: string
                      timeElapsed:
                        type: string
                      order:
                        format: int32
                        type: integer
                      name:
                        type: string
                      status:
                        enum:
                        - NotStarted
                        - InProgress
                        - SlowedDown
                        - Completed
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ManagementOperationStepState
                          modelAsString: true
                  readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    ManagedInstanceOperationListResult:
      description: The response to a list managed instance operations request
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  managedInstanceName:
                    description: The name of the managed instance the operation is
                      being performed on.
                    type: string
                    readOnly: true
                  operation:
                    description: The name of operation.
                    type: string
                    readOnly: true
                  operationFriendlyName:
                    description: The friendly name of operation.
                    type: string
                    readOnly: true
                  percentComplete:
                    format: int32
                    description: The percentage of the operation completed.
                    type: integer
                    readOnly: true
                  startTime:
                    format: date-time
                    description: The operation start time.
                    type: string
                    readOnly: true
                  state:
                    description: The operation state.
                    enum:
                    - Pending
                    - InProgress
                    - Succeeded
                    - Failed
                    - CancelInProgress
                    - Cancelled
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: ManagementOperationState
                      modelAsString: true
                  errorCode:
                    format: int32
                    description: The operation error code.
                    type: integer
                    readOnly: true
                  errorDescription:
                    description: The operation error description.
                    type: string
                    readOnly: true
                  errorSeverity:
                    format: int32
                    description: The operation error severity.
                    type: integer
                    readOnly: true
                  isUserError:
                    description: Whether or not the error is a user error.
                    type: boolean
                    readOnly: true
                  estimatedCompletionTime:
                    format: date-time
                    description: The estimated completion time of the operation.
                    type: string
                    readOnly: true
                  description:
                    description: The operation description.
                    type: string
                    readOnly: true
                  isCancellable:
                    description: Whether the operation can be cancelled.
                    type: boolean
                    readOnly: true
                  operationParameters:
                    description: The operation parameters.
                    readOnly: true
                    type: object
                    properties:
                      currentParameters:
                        description: The current parameters.
                        readOnly: true
                        type: object
                        properties:
                          family:
                            type: string
                          tier:
                            type: string
                          vCores:
                            format: int32
                            type: integer
                          storageSizeInGB:
                            format: int32
                            type: integer
                      requestedParameters:
                        description: The requested parameters.
                        readOnly: true
                        type: object
                        properties:
                          family:
                            type: string
                          tier:
                            type: string
                          vCores:
                            format: int32
                            type: integer
                          storageSizeInGB:
                            format: int32
                            type: integer
                  operationSteps:
                    description: The operation steps.
                    readOnly: true
                    type: object
                    properties:
                      totalSteps:
                        description: The total number of operation steps.
                        type: string
                        readOnly: true
                      currentStep:
                        format: int32
                        description: The number of current operation steps.
                        type: integer
                        readOnly: true
                      stepsList:
                        description: The operation steps list.
                        type: array
                        items:
                          type: object
                          properties:
                            stepStartTime:
                              format: date-time
                              type: string
                            stepEndTime:
                              format: date-time
                              type: string
                            timeElapsed:
                              type: string
                            order:
                              format: int32
                              type: integer
                            name:
                              type: string
                            status:
                              enum:
                              - NotStarted
                              - InProgress
                              - SlowedDown
                              - Completed
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ManagementOperationStepState
                                modelAsString: true
                        readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ManagedInstanceOperationParametersPair:
      description: The parameters of a managed instance operation.
      type: object
      properties:
        currentParameters:
          description: The current parameters.
          readOnly: true
          type: object
          properties:
            family:
              type: string
            tier:
              type: string
            vCores:
              format: int32
              type: integer
            storageSizeInGB:
              format: int32
              type: integer
        requestedParameters:
          description: The requested parameters.
          readOnly: true
          type: object
          properties:
            family:
              type: string
            tier:
              type: string
            vCores:
              format: int32
              type: integer
            storageSizeInGB:
              format: int32
              type: integer
    ManagedInstanceOperationProperties:
      description: The properties of a managed instance operation.
      type: object
      properties:
        managedInstanceName:
          description: The name of the managed instance the operation is being performed
            on.
          type: string
          readOnly: true
        operation:
          description: The name of operation.
          type: string
          readOnly: true
        operationFriendlyName:
          description: The friendly name of operation.
          type: string
          readOnly: true
        percentComplete:
          format: int32
          description: The percentage of the operation completed.
          type: integer
          readOnly: true
        startTime:
          format: date-time
          description: The operation start time.
          type: string
          readOnly: true
        state:
          description: The operation state.
          enum:
          - Pending
          - InProgress
          - Succeeded
          - Failed
          - CancelInProgress
          - Cancelled
          type: string
          readOnly: true
          x-ms-enum:
            name: ManagementOperationState
            modelAsString: true
        errorCode:
          format: int32
          description: The operation error code.
          type: integer
          readOnly: true
        errorDescription:
          description: The operation error description.
          type: string
          readOnly: true
        errorSeverity:
          format: int32
          description: The operation error severity.
          type: integer
          readOnly: true
        isUserError:
          description: Whether or not the error is a user error.
          type: boolean
          readOnly: true
        estimatedCompletionTime:
          format: date-time
          description: The estimated completion time of the operation.
          type: string
          readOnly: true
        description:
          description: The operation description.
          type: string
          readOnly: true
        isCancellable:
          description: Whether the operation can be cancelled.
          type: boolean
          readOnly: true
        operationParameters:
          description: The operation parameters.
          readOnly: true
          type: object
          properties:
            currentParameters:
              description: The current parameters.
              readOnly: true
              type: object
              properties:
                family:
                  type: string
                tier:
                  type: string
                vCores:
                  format: int32
                  type: integer
                storageSizeInGB:
                  format: int32
                  type: integer
            requestedParameters:
              description: The requested parameters.
              readOnly: true
              type: object
              properties:
                family:
                  type: string
                tier:
                  type: string
                vCores:
                  format: int32
                  type: integer
                storageSizeInGB:
                  format: int32
                  type: integer
        operationSteps:
          description: The operation steps.
          readOnly: true
          type: object
          properties:
            totalSteps:
              description: The total number of operation steps.
              type: string
              readOnly: true
            currentStep:
              format: int32
              description: The number of current operation steps.
              type: integer
              readOnly: true
            stepsList:
              description: The operation steps list.
              type: array
              items:
                type: object
                properties:
                  stepStartTime:
                    format: date-time
                    type: string
                  stepEndTime:
                    format: date-time
                    type: string
                  timeElapsed:
                    type: string
                  order:
                    format: int32
                    type: integer
                  name:
                    type: string
                  status:
                    enum:
                    - NotStarted
                    - InProgress
                    - SlowedDown
                    - Completed
                    - Failed
                    - Canceled
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: ManagementOperationStepState
                      modelAsString: true
              readOnly: true
    ManagedInstanceOperationSteps:
      description: The steps of a managed instance operation.
      type: object
      properties:
        totalSteps:
          description: The total number of operation steps.
          type: string
          readOnly: true
        currentStep:
          format: int32
          description: The number of current operation steps.
          type: integer
          readOnly: true
        stepsList:
          description: The operation steps list.
          type: array
          items:
            type: object
            properties:
              stepStartTime:
                format: date-time
                type: string
              stepEndTime:
                format: date-time
                type: string
              timeElapsed:
                type: string
              order:
                format: int32
                type: integer
              name:
                type: string
              status:
                enum:
                - NotStarted
                - InProgress
                - SlowedDown
                - Completed
                - Failed
                - Canceled
                type: string
                readOnly: true
                x-ms-enum:
                  name: ManagementOperationStepState
                  modelAsString: true
          readOnly: true
    UpsertManagedServerOperationParameters:
      type: object
      properties:
        family:
          type: string
        tier:
          type: string
        vCores:
          format: int32
          type: integer
        storageSizeInGB:
          format: int32
          type: integer
    UpsertManagedServerOperationStepWithEstimatesAndDuration:
      type: object
      properties:
        stepStartTime:
          format: date-time
          type: string
        stepEndTime:
          format: date-time
          type: string
        timeElapsed:
          type: string
        order:
          format: int32
          type: integer
        name:
          type: string
        status:
          enum:
          - NotStarted
          - InProgress
          - SlowedDown
          - Completed
          - Failed
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: ManagementOperationStepState
            modelAsString: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
