openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans
  : get:
      tags:
      - ManagedDatabaseVulnerabilityAssessmentScans
      description: Lists the vulnerability assessment scans of a database.
      operationId: ManagedDatabaseVulnerabilityAssessmentScans_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the database vulnerability assessment
            scan records.
          content:
            application/json:
              schema:
                description: A list of vulnerability assessment scan records.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            scanId:
                              description: The scan ID.
                              type: string
                              readOnly: true
                            triggerType:
                              description: The scan trigger type.
                              enum:
                              - OnDemand
                              - Recurring
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VulnerabilityAssessmentScanTriggerType
                                modelAsString: true
                            state:
                              description: The scan status.
                              enum:
                              - Passed
                              - Failed
                              - FailedToRun
                              - InProgress
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VulnerabilityAssessmentScanState
                                modelAsString: true
                            startTime:
                              format: date-time
                              description: The scan start time (UTC).
                              type: string
                              readOnly: true
                            endTime:
                              format: date-time
                              description: The scan end time (UTC).
                              type: string
                              readOnly: true
                            errors:
                              description: The scan errors.
                              type: array
                              items:
                                description: Properties of a vulnerability assessment
                                  scan error.
                                type: object
                                properties:
                                  code:
                                    description: The error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: The error message.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            storageContainerPath:
                              description: The scan results storage container path.
                              type: string
                              readOnly: true
                            numberOfFailedSecurityChecks:
                              format: int32
                              description: The number of failed security checks.
                              type: integer
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 400\
            \ InvalidStorageAccountName - The provided storage account is not valid\
            \ or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The\
            \ provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 SourceDatabaseNotFound - The source database does not exist.\n\
            \n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - Vulnerability\
            \ Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}
  : get:
      tags:
      - ManagedDatabaseVulnerabilityAssessmentScans
      description: Gets a vulnerability assessment scan record of a database.
      operationId: ManagedDatabaseVulnerabilityAssessmentScans_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: scanId
        in: path
        description: The vulnerability assessment scan Id of the scan to retrieve.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the database vulnerability assessment
            scan record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      scanId:
                        description: The scan ID.
                        type: string
                        readOnly: true
                      triggerType:
                        description: The scan trigger type.
                        enum:
                        - OnDemand
                        - Recurring
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: VulnerabilityAssessmentScanTriggerType
                          modelAsString: true
                      state:
                        description: The scan status.
                        enum:
                        - Passed
                        - Failed
                        - FailedToRun
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: VulnerabilityAssessmentScanState
                          modelAsString: true
                      startTime:
                        format: date-time
                        description: The scan start time (UTC).
                        type: string
                        readOnly: true
                      endTime:
                        format: date-time
                        description: The scan end time (UTC).
                        type: string
                        readOnly: true
                      errors:
                        description: The scan errors.
                        type: array
                        items:
                          description: Properties of a vulnerability assessment scan
                            error.
                          type: object
                          properties:
                            code:
                              description: The error code.
                              type: string
                              readOnly: true
                            message:
                              description: The error message.
                              type: string
                              readOnly: true
                        readOnly: true
                      storageContainerPath:
                        description: The scan results storage container path.
                        type: string
                        readOnly: true
                      numberOfFailedSecurityChecks:
                        format: int32
                        description: The number of failed security checks.
                        type: integer
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 400\
            \ InvalidStorageAccountName - The provided storage account is not valid\
            \ or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The\
            \ provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 SourceDatabaseNotFound - The source database does not exist.\n\
            \n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - Vulnerability\
            \ Assessment scan is already in progress.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/export
  : post:
      tags:
      - ManagedDatabaseVulnerabilityAssessmentScans
      description: Convert an existing scan result to a human readable format. If
        already exists nothing happens
      operationId: ManagedDatabaseVulnerabilityAssessmentScans_Export
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the scanned database.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: scanId
        in: path
        description: The vulnerability assessment scan Id.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Scan result was converted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      exportedReportLocation:
                        description: Location of the exported report (e.g. https://myStorage.blob.core.windows.net/VaScans/scans/serverName/databaseName/scan_scanId.xlsx).
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Scan result was converted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      exportedReportLocation:
                        description: Location of the exported report (e.g. https://myStorage.blob.core.windows.net/VaScans/scans/serverName/databaseName/scan_scanId.xlsx).
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath\
            \ - Storage container path must be provided if it isn't set in server\
            \ level policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 400\
            \ InvalidStorageAccountName - The provided storage account is not valid\
            \ or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The\
            \ provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server\
            \ was not found\n\n * 404 SourceDatabaseNotFound - The source database\
            \ does not exist.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 409 VulnerabilityAssessmentStoragelessIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 500\
            \ DatabaseIsUnavailable - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/initiateScan
  : post:
      tags:
      - ManagedDatabaseVulnerabilityAssessmentScans
      description: Executes a Vulnerability Assessment database scan.
      operationId: ManagedDatabaseVulnerabilityAssessmentScans_InitiateScan
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: scanId
        in: path
        description: The vulnerability assessment scan Id of the scan to retrieve.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully executed a Vulnerability Assessment database scan.
        '202':
          description: Successfully started a Vulnerability Assessment database scan.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidVulnerabilityAssessmentScanIdLength\
            \ - The vulnerability assessment scan ID length must be below {0} characters.\n\
            \n * 400 DatabaseVulnerabilityAssessmentMissingStorageContainerPath -\
            \ Storage container path must be provided if it isn't set in server level\
            \ policy\n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 400\
            \ InvalidStorageAccountName - The provided storage account is not valid\
            \ or does not exist.\n\n * 400 InvalidStorageAccountCredentials - The\
            \ provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 SourceDatabaseNotFound - The source database does not exist.\n\
            \n * 404 OperationIdNotFound - The operation with Id does not exist.\n\
            \n * 409 VulnerabilityAssessmentStoragelessIsEnabled - Vulnerability Assessment\
            \ is enabled on this server or one of its underlying databases with an\
            \ incompatible version. Additional troubleshooting information can be\
            \ found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 409 DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress\
            \ - Vulnerability Assessment scan is already in progress.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DatabaseVulnerabilityAssessmentScanExportProperties:
      description: Properties of the export operation's result.
      type: object
      properties:
        exportedReportLocation:
          description: Location of the exported report (e.g. https://myStorage.blob.core.windows.net/VaScans/scans/serverName/databaseName/scan_scanId.xlsx).
          type: string
          readOnly: true
    DatabaseVulnerabilityAssessmentScansExport:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            exportedReportLocation:
              description: Location of the exported report (e.g. https://myStorage.blob.core.windows.net/VaScans/scans/serverName/databaseName/scan_scanId.xlsx).
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    VulnerabilityAssessmentScanError:
      description: Properties of a vulnerability assessment scan error.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    VulnerabilityAssessmentScanRecord:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            scanId:
              description: The scan ID.
              type: string
              readOnly: true
            triggerType:
              description: The scan trigger type.
              enum:
              - OnDemand
              - Recurring
              type: string
              readOnly: true
              x-ms-enum:
                name: VulnerabilityAssessmentScanTriggerType
                modelAsString: true
            state:
              description: The scan status.
              enum:
              - Passed
              - Failed
              - FailedToRun
              - InProgress
              type: string
              readOnly: true
              x-ms-enum:
                name: VulnerabilityAssessmentScanState
                modelAsString: true
            startTime:
              format: date-time
              description: The scan start time (UTC).
              type: string
              readOnly: true
            endTime:
              format: date-time
              description: The scan end time (UTC).
              type: string
              readOnly: true
            errors:
              description: The scan errors.
              type: array
              items:
                description: Properties of a vulnerability assessment scan error.
                type: object
                properties:
                  code:
                    description: The error code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
              readOnly: true
            storageContainerPath:
              description: The scan results storage container path.
              type: string
              readOnly: true
            numberOfFailedSecurityChecks:
              format: int32
              description: The number of failed security checks.
              type: integer
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    VulnerabilityAssessmentScanRecordListResult:
      description: A list of vulnerability assessment scan records.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  scanId:
                    description: The scan ID.
                    type: string
                    readOnly: true
                  triggerType:
                    description: The scan trigger type.
                    enum:
                    - OnDemand
                    - Recurring
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: VulnerabilityAssessmentScanTriggerType
                      modelAsString: true
                  state:
                    description: The scan status.
                    enum:
                    - Passed
                    - Failed
                    - FailedToRun
                    - InProgress
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: VulnerabilityAssessmentScanState
                      modelAsString: true
                  startTime:
                    format: date-time
                    description: The scan start time (UTC).
                    type: string
                    readOnly: true
                  endTime:
                    format: date-time
                    description: The scan end time (UTC).
                    type: string
                    readOnly: true
                  errors:
                    description: The scan errors.
                    type: array
                    items:
                      description: Properties of a vulnerability assessment scan error.
                      type: object
                      properties:
                        code:
                          description: The error code.
                          type: string
                          readOnly: true
                        message:
                          description: The error message.
                          type: string
                          readOnly: true
                    readOnly: true
                  storageContainerPath:
                    description: The scan results storage container path.
                    type: string
                    readOnly: true
                  numberOfFailedSecurityChecks:
                    format: int32
                    description: The number of failed security checks.
                    type: integer
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    VulnerabilityAssessmentScanRecordProperties:
      description: Properties of a vulnerability assessment scan record.
      type: object
      properties:
        scanId:
          description: The scan ID.
          type: string
          readOnly: true
        triggerType:
          description: The scan trigger type.
          enum:
          - OnDemand
          - Recurring
          type: string
          readOnly: true
          x-ms-enum:
            name: VulnerabilityAssessmentScanTriggerType
            modelAsString: true
        state:
          description: The scan status.
          enum:
          - Passed
          - Failed
          - FailedToRun
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: VulnerabilityAssessmentScanState
            modelAsString: true
        startTime:
          format: date-time
          description: The scan start time (UTC).
          type: string
          readOnly: true
        endTime:
          format: date-time
          description: The scan end time (UTC).
          type: string
          readOnly: true
        errors:
          description: The scan errors.
          type: array
          items:
            description: Properties of a vulnerability assessment scan error.
            type: object
            properties:
              code:
                description: The error code.
                type: string
                readOnly: true
              message:
                description: The error message.
                type: string
                readOnly: true
          readOnly: true
        storageContainerPath:
          description: The scan results storage container path.
          type: string
          readOnly: true
        numberOfFailedSecurityChecks:
          format: int32
          description: The number of failed security checks.
          type: integer
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
