openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/queries/{queryId}
  : get:
      tags:
      - ManagedDatabaseQueries
      description: Get query by query id.
      operationId: ManagedDatabaseQueries_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: queryId
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved query text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      queryText:
                        description: Query text.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/queries/{queryId}/statistics
  : get:
      tags:
      - ManagedDatabaseQueries
      description: Get query execution statistics by query id.
      operationId: ManagedDatabaseQueries_ListByQuery
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: queryId
        in: path
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time for observed period.
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        description: End time for observed period.
        required: false
        schema:
          type: string
      - name: interval
        in: query
        description: The time step to be used to summarize the metric values.
        required: false
        x-ms-enum:
          name: QueryTimeGrainType
          modelAsString: true
        schema:
          type: string
          enum:
          - PT1H
          - P1D
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved query text.
          content:
            application/json:
              schema:
                description: Execution statistics for one particular query
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            databaseName:
                              description: Database name of the database in which
                                this query was executed.
                              type: string
                              readOnly: true
                            queryId:
                              description: Unique query id (unique within one database).
                              type: string
                              readOnly: true
                            startTime:
                              description: The start time for the metric (ISO-8601
                                format).
                              type: string
                              readOnly: true
                            endTime:
                              description: The end time for the metric (ISO-8601 format).
                              type: string
                              readOnly: true
                            intervals:
                              description: List of intervals with appropriate metric
                                data
                              type: array
                              items:
                                description: Properties of a query metrics interval.
                                type: object
                                properties:
                                  intervalStartTime:
                                    description: The start time for the metric interval
                                      (ISO-8601 format).
                                    type: string
                                    readOnly: true
                                  intervalType:
                                    description: Interval type (length).
                                    enum:
                                    - PT1H
                                    - P1D
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: QueryTimeGrainType
                                      modelAsString: true
                                  executionCount:
                                    format: int64
                                    description: Execution count of a query in this
                                      interval.
                                    type: integer
                                    readOnly: true
                                  metrics:
                                    description: List of metric objects for this interval
                                    type: array
                                    items:
                                      description: Properties of a topquery metric
                                        in one interval.
                                      type: object
                                      properties:
                                        name:
                                          description: The name information for the
                                            metric.
                                          type: string
                                          readOnly: true
                                        displayName:
                                          description: The UI appropriate name for
                                            the metric.
                                          type: string
                                          readOnly: true
                                        unit:
                                          description: The unit of the metric.
                                          enum:
                                          - percentage
                                          - KB
                                          - microseconds
                                          - count
                                          type: string
                                          readOnly: true
                                          x-ms-enum:
                                            name: QueryMetricUnitType
                                            modelAsString: true
                                        value:
                                          format: double
                                          description: The value of the metric.
                                          type: number
                                          readOnly: true
                                        min:
                                          format: double
                                          description: Metric value when min() aggregate
                                            function is used over the interval.
                                          type: number
                                          readOnly: true
                                        max:
                                          format: double
                                          description: Metric value when max() aggregate
                                            function is used over the interval.
                                          type: number
                                          readOnly: true
                                        avg:
                                          format: double
                                          description: Metric value when avg() aggregate
                                            function is used over the interval.
                                          type: number
                                          readOnly: true
                                        sum:
                                          format: double
                                          description: Metric value when sum() aggregate
                                            function is used over the interval.
                                          type: number
                                          readOnly: true
                                        stdev:
                                          format: double
                                          description: Metric value when stdev aggregate
                                            function is used over the interval.
                                          type: number
                                          readOnly: true
                                    x-ms-identifiers: []
                              x-ms-identifiers: []
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ManagedInstanceQuery:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            queryText:
              description: Query text.
              type: string
      description: ARM resource.
      x-ms-azure-resource: true
    ManagedInstanceQueryStatistics:
      description: Execution statistics for one particular query
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  databaseName:
                    description: Database name of the database in which this query
                      was executed.
                    type: string
                    readOnly: true
                  queryId:
                    description: Unique query id (unique within one database).
                    type: string
                    readOnly: true
                  startTime:
                    description: The start time for the metric (ISO-8601 format).
                    type: string
                    readOnly: true
                  endTime:
                    description: The end time for the metric (ISO-8601 format).
                    type: string
                    readOnly: true
                  intervals:
                    description: List of intervals with appropriate metric data
                    type: array
                    items:
                      description: Properties of a query metrics interval.
                      type: object
                      properties:
                        intervalStartTime:
                          description: The start time for the metric interval (ISO-8601
                            format).
                          type: string
                          readOnly: true
                        intervalType:
                          description: Interval type (length).
                          enum:
                          - PT1H
                          - P1D
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: QueryTimeGrainType
                            modelAsString: true
                        executionCount:
                          format: int64
                          description: Execution count of a query in this interval.
                          type: integer
                          readOnly: true
                        metrics:
                          description: List of metric objects for this interval
                          type: array
                          items:
                            description: Properties of a topquery metric in one interval.
                            type: object
                            properties:
                              name:
                                description: The name information for the metric.
                                type: string
                                readOnly: true
                              displayName:
                                description: The UI appropriate name for the metric.
                                type: string
                                readOnly: true
                              unit:
                                description: The unit of the metric.
                                enum:
                                - percentage
                                - KB
                                - microseconds
                                - count
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: QueryMetricUnitType
                                  modelAsString: true
                              value:
                                format: double
                                description: The value of the metric.
                                type: number
                                readOnly: true
                              min:
                                format: double
                                description: Metric value when min() aggregate function
                                  is used over the interval.
                                type: number
                                readOnly: true
                              max:
                                format: double
                                description: Metric value when max() aggregate function
                                  is used over the interval.
                                type: number
                                readOnly: true
                              avg:
                                format: double
                                description: Metric value when avg() aggregate function
                                  is used over the interval.
                                type: number
                                readOnly: true
                              sum:
                                format: double
                                description: Metric value when sum() aggregate function
                                  is used over the interval.
                                type: number
                                readOnly: true
                              stdev:
                                format: double
                                description: Metric value when stdev aggregate function
                                  is used over the interval.
                                type: number
                                readOnly: true
                          x-ms-identifiers: []
                    x-ms-identifiers: []
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    QueryMetricInterval:
      description: Properties of a query metrics interval.
      type: object
      properties:
        intervalStartTime:
          description: The start time for the metric interval (ISO-8601 format).
          type: string
          readOnly: true
        intervalType:
          description: Interval type (length).
          enum:
          - PT1H
          - P1D
          type: string
          readOnly: true
          x-ms-enum:
            name: QueryTimeGrainType
            modelAsString: true
        executionCount:
          format: int64
          description: Execution count of a query in this interval.
          type: integer
          readOnly: true
        metrics:
          description: List of metric objects for this interval
          type: array
          items:
            description: Properties of a topquery metric in one interval.
            type: object
            properties:
              name:
                description: The name information for the metric.
                type: string
                readOnly: true
              displayName:
                description: The UI appropriate name for the metric.
                type: string
                readOnly: true
              unit:
                description: The unit of the metric.
                enum:
                - percentage
                - KB
                - microseconds
                - count
                type: string
                readOnly: true
                x-ms-enum:
                  name: QueryMetricUnitType
                  modelAsString: true
              value:
                format: double
                description: The value of the metric.
                type: number
                readOnly: true
              min:
                format: double
                description: Metric value when min() aggregate function is used over
                  the interval.
                type: number
                readOnly: true
              max:
                format: double
                description: Metric value when max() aggregate function is used over
                  the interval.
                type: number
                readOnly: true
              avg:
                format: double
                description: Metric value when avg() aggregate function is used over
                  the interval.
                type: number
                readOnly: true
              sum:
                format: double
                description: Metric value when sum() aggregate function is used over
                  the interval.
                type: number
                readOnly: true
              stdev:
                format: double
                description: Metric value when stdev aggregate function is used over
                  the interval.
                type: number
                readOnly: true
          x-ms-identifiers: []
    QueryMetricProperties:
      description: Properties of a topquery metric in one interval.
      type: object
      properties:
        name:
          description: The name information for the metric.
          type: string
          readOnly: true
        displayName:
          description: The UI appropriate name for the metric.
          type: string
          readOnly: true
        unit:
          description: The unit of the metric.
          enum:
          - percentage
          - KB
          - microseconds
          - count
          type: string
          readOnly: true
          x-ms-enum:
            name: QueryMetricUnitType
            modelAsString: true
        value:
          format: double
          description: The value of the metric.
          type: number
          readOnly: true
        min:
          format: double
          description: Metric value when min() aggregate function is used over the
            interval.
          type: number
          readOnly: true
        max:
          format: double
          description: Metric value when max() aggregate function is used over the
            interval.
          type: number
          readOnly: true
        avg:
          format: double
          description: Metric value when avg() aggregate function is used over the
            interval.
          type: number
          readOnly: true
        sum:
          format: double
          description: Metric value when sum() aggregate function is used over the
            interval.
          type: number
          readOnly: true
        stdev:
          format: double
          description: Metric value when stdev aggregate function is used over the
            interval.
          type: number
          readOnly: true
    QueryProperties:
      description: Properties of a database query.
      type: object
      properties:
        queryText:
          description: Query text.
          type: string
    QueryStatistics:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            databaseName:
              description: Database name of the database in which this query was executed.
              type: string
              readOnly: true
            queryId:
              description: Unique query id (unique within one database).
              type: string
              readOnly: true
            startTime:
              description: The start time for the metric (ISO-8601 format).
              type: string
              readOnly: true
            endTime:
              description: The end time for the metric (ISO-8601 format).
              type: string
              readOnly: true
            intervals:
              description: List of intervals with appropriate metric data
              type: array
              items:
                description: Properties of a query metrics interval.
                type: object
                properties:
                  intervalStartTime:
                    description: The start time for the metric interval (ISO-8601
                      format).
                    type: string
                    readOnly: true
                  intervalType:
                    description: Interval type (length).
                    enum:
                    - PT1H
                    - P1D
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: QueryTimeGrainType
                      modelAsString: true
                  executionCount:
                    format: int64
                    description: Execution count of a query in this interval.
                    type: integer
                    readOnly: true
                  metrics:
                    description: List of metric objects for this interval
                    type: array
                    items:
                      description: Properties of a topquery metric in one interval.
                      type: object
                      properties:
                        name:
                          description: The name information for the metric.
                          type: string
                          readOnly: true
                        displayName:
                          description: The UI appropriate name for the metric.
                          type: string
                          readOnly: true
                        unit:
                          description: The unit of the metric.
                          enum:
                          - percentage
                          - KB
                          - microseconds
                          - count
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: QueryMetricUnitType
                            modelAsString: true
                        value:
                          format: double
                          description: The value of the metric.
                          type: number
                          readOnly: true
                        min:
                          format: double
                          description: Metric value when min() aggregate function
                            is used over the interval.
                          type: number
                          readOnly: true
                        max:
                          format: double
                          description: Metric value when max() aggregate function
                            is used over the interval.
                          type: number
                          readOnly: true
                        avg:
                          format: double
                          description: Metric value when avg() aggregate function
                            is used over the interval.
                          type: number
                          readOnly: true
                        sum:
                          format: double
                          description: Metric value when sum() aggregate function
                            is used over the interval.
                          type: number
                          readOnly: true
                        stdev:
                          format: double
                          description: Metric value when stdev aggregate function
                            is used over the interval.
                          type: number
                          readOnly: true
                    x-ms-identifiers: []
              x-ms-identifiers: []
      description: ARM resource.
      x-ms-azure-resource: true
    QueryStatisticsProperties:
      description: Properties of a query execution statistics.
      type: object
      properties:
        databaseName:
          description: Database name of the database in which this query was executed.
          type: string
          readOnly: true
        queryId:
          description: Unique query id (unique within one database).
          type: string
          readOnly: true
        startTime:
          description: The start time for the metric (ISO-8601 format).
          type: string
          readOnly: true
        endTime:
          description: The end time for the metric (ISO-8601 format).
          type: string
          readOnly: true
        intervals:
          description: List of intervals with appropriate metric data
          type: array
          items:
            description: Properties of a query metrics interval.
            type: object
            properties:
              intervalStartTime:
                description: The start time for the metric interval (ISO-8601 format).
                type: string
                readOnly: true
              intervalType:
                description: Interval type (length).
                enum:
                - PT1H
                - P1D
                type: string
                readOnly: true
                x-ms-enum:
                  name: QueryTimeGrainType
                  modelAsString: true
              executionCount:
                format: int64
                description: Execution count of a query in this interval.
                type: integer
                readOnly: true
              metrics:
                description: List of metric objects for this interval
                type: array
                items:
                  description: Properties of a topquery metric in one interval.
                  type: object
                  properties:
                    name:
                      description: The name information for the metric.
                      type: string
                      readOnly: true
                    displayName:
                      description: The UI appropriate name for the metric.
                      type: string
                      readOnly: true
                    unit:
                      description: The unit of the metric.
                      enum:
                      - percentage
                      - KB
                      - microseconds
                      - count
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: QueryMetricUnitType
                        modelAsString: true
                    value:
                      format: double
                      description: The value of the metric.
                      type: number
                      readOnly: true
                    min:
                      format: double
                      description: Metric value when min() aggregate function is used
                        over the interval.
                      type: number
                      readOnly: true
                    max:
                      format: double
                      description: Metric value when max() aggregate function is used
                        over the interval.
                      type: number
                      readOnly: true
                    avg:
                      format: double
                      description: Metric value when avg() aggregate function is used
                        over the interval.
                      type: number
                      readOnly: true
                    sum:
                      format: double
                      description: Metric value when sum() aggregate function is used
                        over the interval.
                      type: number
                      readOnly: true
                    stdev:
                      format: double
                      description: Metric value when stdev aggregate function is used
                        over the interval.
                      type: number
                      readOnly: true
                x-ms-identifiers: []
          x-ms-identifiers: []
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
