openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/advancedThreatProtectionSettings
  : get:
      tags:
      - ManagedInstanceAdvancedThreatProtectionSettings
      description: Get the managed instance's Advanced Threat Protection settings.
      operationId: ManagedInstanceAdvancedThreatProtectionSettings_ListByInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the managed instance Advanced Threat
            Protection states.
          content:
            application/json:
              schema:
                description: A list of the managed instance's Advanced Threat Protection
                  settings.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        systemData:
                          description: SystemData of AdvancedThreatProtectionResource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - state
                          type: object
                          properties:
                            state:
                              description: Specifies the state of the Advanced Threat
                                Protection, whether it is enabled or disabled or a
                                state has not been applied yet on the specific database
                                or server.
                              enum:
                              - New
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: AdvancedThreatProtectionState
                                modelAsString: false
                            creationTime:
                              format: date-time
                              description: Specifies the UTC creation time of the
                                policy.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 AdvancedThreatProtectionInsufficientDiskSpace\
            \ - Insufficient disk space to save the Advanced Threat Protection settings\
            \ metadata in the database\n\n * 400 UpdateNotAllowedOnServerContainingPausedDWDatabase\
            \ - Setting the server Advanced Threat Protection settings is not allowed\
            \ on a server with a paused Data Warehouse database\n\n * 400 InvalidServerAdvancedThreatProtectionCreateRequest\
            \ - The create server Advanced Threat Protection request does not exist\
            \ or has no properties object\n\n * 400 AdvancedThreatProtectionInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 409 ServerAdvancedThreatProtectionInProgress\
            \ - Setting the server Advanced Threat Protection settings is already\
            \ in progress\n\n * 409 UpsertServerAdvancedThreatProtectionFailed - An\
            \ error has occurred while saving the Advanced Threat Protection settings,\
            \ please try again later\n\n * 500 DatabaseIsUnavailable - Loading failed.\
            \ Please try again later.\n\n * 500 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 500 GetServerAdvancedThreatProtectionFailed\
            \ - Failed to get the Advanced Threat Protection settings"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/advancedThreatProtectionSettings/{advancedThreatProtectionName}
  : get:
      tags:
      - ManagedInstanceAdvancedThreatProtectionSettings
      description: Get a managed instance's Advanced Threat Protection state.
      operationId: ManagedInstanceAdvancedThreatProtectionSettings_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: advancedThreatProtectionName
        in: path
        description: The name of the Advanced Threat Protection state.
        required: true
        x-ms-enum:
          name: AdvancedThreatProtectionName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the managed instance Advanced Threat
            Protection state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of AdvancedThreatProtectionResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the Advanced Threat Protection,
                          whether it is enabled or disabled or a state has not been
                          applied yet on the specific database or server.
                        enum:
                        - New
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: AdvancedThreatProtectionState
                          modelAsString: false
                      creationTime:
                        format: date-time
                        description: Specifies the UTC creation time of the policy.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 AdvancedThreatProtectionInsufficientDiskSpace\
            \ - Insufficient disk space to save the Advanced Threat Protection settings\
            \ metadata in the database\n\n * 400 UpdateNotAllowedOnServerContainingPausedDWDatabase\
            \ - Setting the server Advanced Threat Protection settings is not allowed\
            \ on a server with a paused Data Warehouse database\n\n * 400 InvalidServerAdvancedThreatProtectionCreateRequest\
            \ - The create server Advanced Threat Protection request does not exist\
            \ or has no properties object\n\n * 400 AdvancedThreatProtectionInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 409 ServerAdvancedThreatProtectionInProgress\
            \ - Setting the server Advanced Threat Protection settings is already\
            \ in progress\n\n * 409 UpsertServerAdvancedThreatProtectionFailed - An\
            \ error has occurred while saving the Advanced Threat Protection settings,\
            \ please try again later\n\n * 500 DatabaseIsUnavailable - Loading failed.\
            \ Please try again later.\n\n * 500 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 500 GetServerAdvancedThreatProtectionFailed\
            \ - Failed to get the Advanced Threat Protection settings"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ManagedInstanceAdvancedThreatProtectionSettings
      description: Creates or updates Advanced Threat Protection settings.
      operationId: ManagedInstanceAdvancedThreatProtectionSettings_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: advancedThreatProtectionName
        in: path
        description: The name of the Advanced Threat Protection state.
        required: true
        x-ms-enum:
          name: AdvancedThreatProtectionName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                systemData:
                  description: SystemData of AdvancedThreatProtectionResource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - state
                  type: object
                  properties:
                    state:
                      description: Specifies the state of the Advanced Threat Protection,
                        whether it is enabled or disabled or a state has not been
                        applied yet on the specific database or server.
                      enum:
                      - New
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: AdvancedThreatProtectionState
                        modelAsString: false
                    creationTime:
                      format: date-time
                      description: Specifies the UTC creation time of the policy.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The managed instance Advanced Threat Protection state.
        required: true
      responses:
        '200':
          description: Successfully created or updated the Advanced Threat Protection
            state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of AdvancedThreatProtectionResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the Advanced Threat Protection,
                          whether it is enabled or disabled or a state has not been
                          applied yet on the specific database or server.
                        enum:
                        - New
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: AdvancedThreatProtectionState
                          modelAsString: false
                      creationTime:
                        format: date-time
                        description: Specifies the UTC creation time of the policy.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Created request to set the Advanced Threat Protection state.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 AdvancedThreatProtectionInsufficientDiskSpace\
            \ - Insufficient disk space to save the Advanced Threat Protection settings\
            \ metadata in the database\n\n * 400 UpdateNotAllowedOnServerContainingPausedDWDatabase\
            \ - Setting the server Advanced Threat Protection settings is not allowed\
            \ on a server with a paused Data Warehouse database\n\n * 400 InvalidServerAdvancedThreatProtectionCreateRequest\
            \ - The create server Advanced Threat Protection request does not exist\
            \ or has no properties object\n\n * 400 AdvancedThreatProtectionInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 400 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 404 OperationIdNotFound - The\
            \ operation with Id does not exist.\n\n * 409 ServerAdvancedThreatProtectionInProgress\
            \ - Setting the server Advanced Threat Protection settings is already\
            \ in progress\n\n * 409 UpsertServerAdvancedThreatProtectionFailed - An\
            \ error has occurred while saving the Advanced Threat Protection settings,\
            \ please try again later\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later.\n\n * 500 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 500 UpsertServerAdvancedThreatProtectionFailed\
            \ - An error has occurred while saving the Advanced Threat Protection\
            \ settings, please try again later\n\n * 500 OperationTimedOut - The operation\
            \ timed out and automatically rolled back. Please retry the operation.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AdvancedThreatProtectionProperties:
      description: Properties of an Advanced Threat Protection state.
      required:
      - state
      type: object
      properties:
        state:
          description: Specifies the state of the Advanced Threat Protection, whether
            it is enabled or disabled or a state has not been applied yet on the specific
            database or server.
          enum:
          - New
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: AdvancedThreatProtectionState
            modelAsString: false
        creationTime:
          format: date-time
          description: Specifies the UTC creation time of the policy.
          type: string
          readOnly: true
    ManagedInstanceAdvancedThreatProtection:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        systemData:
          description: SystemData of AdvancedThreatProtectionResource.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - state
          type: object
          properties:
            state:
              description: Specifies the state of the Advanced Threat Protection,
                whether it is enabled or disabled or a state has not been applied
                yet on the specific database or server.
              enum:
              - New
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: AdvancedThreatProtectionState
                modelAsString: false
            creationTime:
              format: date-time
              description: Specifies the UTC creation time of the policy.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    ManagedInstanceAdvancedThreatProtectionListResult:
      description: A list of the managed instance's Advanced Threat Protection settings.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              systemData:
                description: SystemData of AdvancedThreatProtectionResource.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - state
                type: object
                properties:
                  state:
                    description: Specifies the state of the Advanced Threat Protection,
                      whether it is enabled or disabled or a state has not been applied
                      yet on the specific database or server.
                    enum:
                    - New
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: AdvancedThreatProtectionState
                      modelAsString: false
                  creationTime:
                    format: date-time
                    description: Specifies the UTC creation time of the policy.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
