openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/securityAlertPolicies
  : get:
      tags:
      - ManagedDatabaseSecurityAlertPolicies
      description: Gets a list of managed database's security alert policies.
      operationId: ManagedDatabaseSecurityAlertPolicies_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database for which the security alert
          policies are defined.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the managed database security alert
            policies.
          content:
            application/json:
              schema:
                description: A list of the managed database's security alert policies.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - state
                          type: object
                          properties:
                            state:
                              description: Specifies the state of the policy, whether
                                it is enabled or disabled or a policy has not been
                                applied yet on the specific database.
                              enum:
                              - New
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: SecurityAlertPolicyState
                                modelAsString: false
                            disabledAlerts:
                              description: 'Specifies an array of alerts that are
                                disabled. Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                                Access_Anomaly, Data_Exfiltration, Unsafe_Action,
                                Brute_Force'
                              type: array
                              items:
                                type: string
                            emailAddresses:
                              description: Specifies an array of e-mail addresses
                                to which the alert is sent.
                              type: array
                              items:
                                type: string
                            emailAccountAdmins:
                              description: Specifies that the alert is sent to the
                                account administrators.
                              type: boolean
                            storageEndpoint:
                              description: Specifies the blob storage endpoint (e.g.
                                https://MyAccount.blob.core.windows.net). This blob
                                storage will hold all Threat Detection audit logs.
                              type: string
                            storageAccountAccessKey:
                              description: Specifies the identifier key of the Threat
                                Detection audit storage account.
                              type: string
                            retentionDays:
                              format: int32
                              description: Specifies the number of days to keep in
                                the Threat Detection audit logs.
                              type: integer
                            creationTime:
                              format: date-time
                              description: Specifies the UTC creation time of the
                                policy.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SecurityAlertPoliciesInsufficientStorageAccountPermissions\
            \ - Insufficient read or write permissions on the provided storage account.\n\
            \n * 400 SecurityAlertPoliciesStorageAccountIsDisabled - The storage account\
            \ provided in the threat detection policy is disabled.\n\n * 400 SecurityAlertPoliciesInvalidStorageAccountName\
            \ - The provided storage account is not valid or does not exist.\n\n *\
            \ 400 SecurityAlertPoliciesInvalidStorageAccountCredentials - The provided\
            \ storage account access key is not valid.\n\n * 400 SecurityAlertPoliciesInsufficientDiskSpace\
            \ - Insufficient disk space to save security alert policy metadata in\
            \ the database\n\n * 400 UpdateNotAllowedOnServerContainingPausedDWDatabase\
            \ - Setting server Threat Detection settings is not allowed on a server\
            \ with a paused Data Warehouse database\n\n * 400 InvalidServerSecurityAlertPolicyCreateRequest\
            \ - The create server Threat Detection security alert policy request does\
            \ not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 400 UpsertServerSecurityAlertPolicyFailed - An\
            \ error has occurred while saving Threat detection settings, please try\
            \ again later\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 409 ServerSecurityAlertPolicyInProgress - Set\
            \ server security alert policy is already in progress\n\n * 409 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 500 DatabaseIsUnavailable - Loading failed. Please\
            \ try again later.\n\n * 500 UpsertServerSecurityAlertPolicyFailed - An\
            \ error has occurred while saving Threat detection settings, please try\
            \ again later\n\n * 500 GetServerSecurityAlertPolicyFailed - Failed to\
            \ get Threat Detection settings"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/securityAlertPolicies/{securityAlertPolicyName}
  : get:
      tags:
      - ManagedDatabaseSecurityAlertPolicies
      description: Gets a managed database's security alert policy.
      operationId: ManagedDatabaseSecurityAlertPolicies_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database for which the security alert
          policy is defined.
        required: true
        schema:
          type: string
      - name: securityAlertPolicyName
        in: path
        description: The name of the security alert policy.
        required: true
        x-ms-enum:
          name: SecurityAlertPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the managed database security alert
            policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the policy, whether it
                          is enabled or disabled or a policy has not been applied
                          yet on the specific database.
                        enum:
                        - New
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SecurityAlertPolicyState
                          modelAsString: false
                      disabledAlerts:
                        description: 'Specifies an array of alerts that are disabled.
                          Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                          Access_Anomaly, Data_Exfiltration, Unsafe_Action, Brute_Force'
                        type: array
                        items:
                          type: string
                      emailAddresses:
                        description: Specifies an array of e-mail addresses to which
                          the alert is sent.
                        type: array
                        items:
                          type: string
                      emailAccountAdmins:
                        description: Specifies that the alert is sent to the account
                          administrators.
                        type: boolean
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          This blob storage will hold all Threat Detection audit logs.
                        type: string
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the Threat Detection
                          audit storage account.
                        type: string
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the Threat
                          Detection audit logs.
                        type: integer
                      creationTime:
                        format: date-time
                        description: Specifies the UTC creation time of the policy.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SecurityAlertPoliciesInsufficientStorageAccountPermissions\
            \ - Insufficient read or write permissions on the provided storage account.\n\
            \n * 400 SecurityAlertPoliciesStorageAccountIsDisabled - The storage account\
            \ provided in the threat detection policy is disabled.\n\n * 400 SecurityAlertPoliciesInvalidStorageAccountName\
            \ - The provided storage account is not valid or does not exist.\n\n *\
            \ 400 SecurityAlertPoliciesInvalidStorageAccountCredentials - The provided\
            \ storage account access key is not valid.\n\n * 400 SecurityAlertPoliciesInsufficientDiskSpace\
            \ - Insufficient disk space to save security alert policy metadata in\
            \ the database\n\n * 400 UpdateNotAllowedOnServerContainingPausedDWDatabase\
            \ - Setting server Threat Detection settings is not allowed on a server\
            \ with a paused Data Warehouse database\n\n * 400 InvalidServerSecurityAlertPolicyCreateRequest\
            \ - The create server Threat Detection security alert policy request does\
            \ not exist or has no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 400 UpsertServerSecurityAlertPolicyFailed - An\
            \ error has occurred while saving Threat detection settings, please try\
            \ again later\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 409 ServerSecurityAlertPolicyInProgress - Set\
            \ server security alert policy is already in progress\n\n * 409 UpsertServerSecurityAlertPolicyFailed\
            \ - An error has occurred while saving Threat detection settings, please\
            \ try again later\n\n * 500 DatabaseIsUnavailable - Loading failed. Please\
            \ try again later.\n\n * 500 UpsertServerSecurityAlertPolicyFailed - An\
            \ error has occurred while saving Threat detection settings, please try\
            \ again later\n\n * 500 GetServerSecurityAlertPolicyFailed - Failed to\
            \ get Threat Detection settings"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ManagedDatabaseSecurityAlertPolicies
      description: Creates or updates a database's security alert policy.
      operationId: ManagedDatabaseSecurityAlertPolicies_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database for which the security alert
          policy is defined.
        required: true
        schema:
          type: string
      - name: securityAlertPolicyName
        in: path
        description: The name of the security alert policy.
        required: true
        x-ms-enum:
          name: SecurityAlertPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - state
                  type: object
                  properties:
                    state:
                      description: Specifies the state of the policy, whether it is
                        enabled or disabled or a policy has not been applied yet on
                        the specific database.
                      enum:
                      - New
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: SecurityAlertPolicyState
                        modelAsString: false
                    disabledAlerts:
                      description: 'Specifies an array of alerts that are disabled.
                        Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                        Access_Anomaly, Data_Exfiltration, Unsafe_Action, Brute_Force'
                      type: array
                      items:
                        type: string
                    emailAddresses:
                      description: Specifies an array of e-mail addresses to which
                        the alert is sent.
                      type: array
                      items:
                        type: string
                    emailAccountAdmins:
                      description: Specifies that the alert is sent to the account
                        administrators.
                      type: boolean
                    storageEndpoint:
                      description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                        This blob storage will hold all Threat Detection audit logs.
                      type: string
                    storageAccountAccessKey:
                      description: Specifies the identifier key of the Threat Detection
                        audit storage account.
                      type: string
                    retentionDays:
                      format: int32
                      description: Specifies the number of days to keep in the Threat
                        Detection audit logs.
                      type: integer
                    creationTime:
                      format: date-time
                      description: Specifies the UTC creation time of the policy.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The database security alert policy.
        required: true
      responses:
        '200':
          description: Successfully set the managed database security alert policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the policy, whether it
                          is enabled or disabled or a policy has not been applied
                          yet on the specific database.
                        enum:
                        - New
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SecurityAlertPolicyState
                          modelAsString: false
                      disabledAlerts:
                        description: 'Specifies an array of alerts that are disabled.
                          Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                          Access_Anomaly, Data_Exfiltration, Unsafe_Action, Brute_Force'
                        type: array
                        items:
                          type: string
                      emailAddresses:
                        description: Specifies an array of e-mail addresses to which
                          the alert is sent.
                        type: array
                        items:
                          type: string
                      emailAccountAdmins:
                        description: Specifies that the alert is sent to the account
                          administrators.
                        type: boolean
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          This blob storage will hold all Threat Detection audit logs.
                        type: string
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the Threat Detection
                          audit storage account.
                        type: string
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the Threat
                          Detection audit logs.
                        type: integer
                      creationTime:
                        format: date-time
                        description: Specifies the UTC creation time of the policy.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the managed database security alert policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the policy, whether it
                          is enabled or disabled or a policy has not been applied
                          yet on the specific database.
                        enum:
                        - New
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SecurityAlertPolicyState
                          modelAsString: false
                      disabledAlerts:
                        description: 'Specifies an array of alerts that are disabled.
                          Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                          Access_Anomaly, Data_Exfiltration, Unsafe_Action, Brute_Force'
                        type: array
                        items:
                          type: string
                      emailAddresses:
                        description: Specifies an array of e-mail addresses to which
                          the alert is sent.
                        type: array
                        items:
                          type: string
                      emailAccountAdmins:
                        description: Specifies that the alert is sent to the account
                          administrators.
                        type: boolean
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          This blob storage will hold all Threat Detection audit logs.
                        type: string
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the Threat Detection
                          audit storage account.
                        type: string
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the Threat
                          Detection audit logs.
                        type: integer
                      creationTime:
                        format: date-time
                        description: Specifies the UTC creation time of the policy.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ManagedDatabaseSecurityAlertPolicy:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - state
          type: object
          properties:
            state:
              description: Specifies the state of the policy, whether it is enabled
                or disabled or a policy has not been applied yet on the specific database.
              enum:
              - New
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: SecurityAlertPolicyState
                modelAsString: false
            disabledAlerts:
              description: 'Specifies an array of alerts that are disabled. Allowed
                values are: Sql_Injection, Sql_Injection_Vulnerability, Access_Anomaly,
                Data_Exfiltration, Unsafe_Action, Brute_Force'
              type: array
              items:
                type: string
            emailAddresses:
              description: Specifies an array of e-mail addresses to which the alert
                is sent.
              type: array
              items:
                type: string
            emailAccountAdmins:
              description: Specifies that the alert is sent to the account administrators.
              type: boolean
            storageEndpoint:
              description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                This blob storage will hold all Threat Detection audit logs.
              type: string
            storageAccountAccessKey:
              description: Specifies the identifier key of the Threat Detection audit
                storage account.
              type: string
            retentionDays:
              format: int32
              description: Specifies the number of days to keep in the Threat Detection
                audit logs.
              type: integer
            creationTime:
              format: date-time
              description: Specifies the UTC creation time of the policy.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    ManagedDatabaseSecurityAlertPolicyListResult:
      description: A list of the managed database's security alert policies.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - state
                type: object
                properties:
                  state:
                    description: Specifies the state of the policy, whether it is
                      enabled or disabled or a policy has not been applied yet on
                      the specific database.
                    enum:
                    - New
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: SecurityAlertPolicyState
                      modelAsString: false
                  disabledAlerts:
                    description: 'Specifies an array of alerts that are disabled.
                      Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
                      Access_Anomaly, Data_Exfiltration, Unsafe_Action, Brute_Force'
                    type: array
                    items:
                      type: string
                  emailAddresses:
                    description: Specifies an array of e-mail addresses to which the
                      alert is sent.
                    type: array
                    items:
                      type: string
                  emailAccountAdmins:
                    description: Specifies that the alert is sent to the account administrators.
                    type: boolean
                  storageEndpoint:
                    description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                      This blob storage will hold all Threat Detection audit logs.
                    type: string
                  storageAccountAccessKey:
                    description: Specifies the identifier key of the Threat Detection
                      audit storage account.
                    type: string
                  retentionDays:
                    format: int32
                    description: Specifies the number of days to keep in the Threat
                      Detection audit logs.
                    type: integer
                  creationTime:
                    format: date-time
                    description: Specifies the UTC creation time of the policy.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SecurityAlertPolicyProperties:
      description: Properties of a security alert policy.
      required:
      - state
      type: object
      properties:
        state:
          description: Specifies the state of the policy, whether it is enabled or
            disabled or a policy has not been applied yet on the specific database.
          enum:
          - New
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: SecurityAlertPolicyState
            modelAsString: false
        disabledAlerts:
          description: 'Specifies an array of alerts that are disabled. Allowed values
            are: Sql_Injection, Sql_Injection_Vulnerability, Access_Anomaly, Data_Exfiltration,
            Unsafe_Action, Brute_Force'
          type: array
          items:
            type: string
        emailAddresses:
          description: Specifies an array of e-mail addresses to which the alert is
            sent.
          type: array
          items:
            type: string
        emailAccountAdmins:
          description: Specifies that the alert is sent to the account administrators.
          type: boolean
        storageEndpoint:
          description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
            This blob storage will hold all Threat Detection audit logs.
          type: string
        storageAccountAccessKey:
          description: Specifies the identifier key of the Threat Detection audit
            storage account.
          type: string
        retentionDays:
          format: int32
          description: Specifies the number of days to keep in the Threat Detection
            audit logs.
          type: integer
        creationTime:
          format: date-time
          description: Specifies the UTC creation time of the policy.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
