openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/administrators
  : get:
      tags:
      - ManagedInstanceAdministrators
      description: Gets a list of managed instance administrators.
      operationId: ManagedInstanceAdministrators_ListByInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of managed instance administrators.
          content:
            application/json:
              schema:
                description: A list of managed instance administrators.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - administratorType
                          - login
                          - sid
                          type: object
                          properties:
                            administratorType:
                              description: Type of the managed instance administrator.
                              enum:
                              - ActiveDirectory
                              type: string
                              x-ms-enum:
                                name: ManagedInstanceAdministratorType
                                modelAsString: true
                            login:
                              description: Login name of the managed instance administrator.
                              type: string
                            sid:
                              format: uuid
                              description: SID (object ID) of the managed instance
                                administrator.
                              type: string
                            tenantId:
                              format: uuid
                              description: Tenant ID of the managed instance administrator.
                              type: string
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SubnetMissingRequiredDelegation\
            \ - Selected subnet is not delegated for SQL Managed Instance.\n\n * 404\
            \ ManagedInstanceNotInSubscriptionResourceGroup - Specified managed instance\
            \ does not exist in the specified resource group and subscription.\n\n\
            \ * 404 SubscriptionNotFound - The requested subscription was not found.\n\
            \n * 404 ServerNotInSubscription - Specified server does not exist on\
            \ the specified subscription.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources.\n\
            \n * 504 RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/administrators/{administratorName}
  : get:
      tags:
      - ManagedInstanceAdministrators
      description: Gets a managed instance administrator.
      operationId: ManagedInstanceAdministrators_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: administratorName
        in: path
        required: true
        x-ms-enum:
          name: AdministratorName
          modelAsString: true
        schema:
          type: string
          enum:
          - ActiveDirectory
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the the specified managed instance administrator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - administratorType
                    - login
                    - sid
                    type: object
                    properties:
                      administratorType:
                        description: Type of the managed instance administrator.
                        enum:
                        - ActiveDirectory
                        type: string
                        x-ms-enum:
                          name: ManagedInstanceAdministratorType
                          modelAsString: true
                      login:
                        description: Login name of the managed instance administrator.
                        type: string
                      sid:
                        format: uuid
                        description: SID (object ID) of the managed instance administrator.
                        type: string
                      tenantId:
                        format: uuid
                        description: Tenant ID of the managed instance administrator.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SubnetMissingRequiredDelegation\
            \ - Selected subnet is not delegated for SQL Managed Instance.\n\n * 400\
            \ InvalidManagedServerAdministratorType - Invalid administrator type specified\
            \ in properties.\n\n * 400 InvalidResourceRequestBody - The resource or\
            \ resource properties in the request body is empty or invalid.\n\n * 400\
            \ InvalidManagedServerAzureADAdminDeleteOperation - User tried to delete\
            \ managed server Azure Active Azure admin when AzureADOnlyAuthentication\
            \ is set, please use azureADOnlyAuthentications API first.\n\n * 400 InvalidManagedServerAADOnlyAuthTypePropertyName\
            \ - Managed Server Azure Active Directory only authentication type should\
            \ be Default\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup -\
            \ Specified managed instance does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 ServerNotInSubscription - Specified\
            \ server does not exist on the specified subscription.\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources.\n\
            \n * 504 RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ManagedInstanceAdministrators
      description: Creates or updates a managed instance administrator.
      operationId: ManagedInstanceAdministrators_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: administratorName
        in: path
        required: true
        x-ms-enum:
          name: AdministratorName
          modelAsString: true
        schema:
          type: string
          enum:
          - ActiveDirectory
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - administratorType
                  - login
                  - sid
                  type: object
                  properties:
                    administratorType:
                      description: Type of the managed instance administrator.
                      enum:
                      - ActiveDirectory
                      type: string
                      x-ms-enum:
                        name: ManagedInstanceAdministratorType
                        modelAsString: true
                    login:
                      description: Login name of the managed instance administrator.
                      type: string
                    sid:
                      format: uuid
                      description: SID (object ID) of the managed instance administrator.
                      type: string
                    tenantId:
                      format: uuid
                      description: Tenant ID of the managed instance administrator.
                      type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested administrator parameters.
        required: true
      responses:
        '200':
          description: Successfully updated the managed instance administrator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - administratorType
                    - login
                    - sid
                    type: object
                    properties:
                      administratorType:
                        description: Type of the managed instance administrator.
                        enum:
                        - ActiveDirectory
                        type: string
                        x-ms-enum:
                          name: ManagedInstanceAdministratorType
                          modelAsString: true
                      login:
                        description: Login name of the managed instance administrator.
                        type: string
                      sid:
                        format: uuid
                        description: SID (object ID) of the managed instance administrator.
                        type: string
                      tenantId:
                        format: uuid
                        description: Tenant ID of the managed instance administrator.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the managed instance administrator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - administratorType
                    - login
                    - sid
                    type: object
                    properties:
                      administratorType:
                        description: Type of the managed instance administrator.
                        enum:
                        - ActiveDirectory
                        type: string
                        x-ms-enum:
                          name: ManagedInstanceAdministratorType
                          modelAsString: true
                      login:
                        description: Login name of the managed instance administrator.
                        type: string
                      sid:
                        format: uuid
                        description: SID (object ID) of the managed instance administrator.
                        type: string
                      tenantId:
                        format: uuid
                        description: Tenant ID of the managed instance administrator.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 SubnetMissingRequiredDelegation\
            \ - Selected subnet is not delegated for SQL Managed Instance.\n\n * 400\
            \ InvalidManagedServerAdministratorType - Invalid administrator type specified\
            \ in properties.\n\n * 400 InvalidResourceRequestBody - The resource or\
            \ resource properties in the request body is empty or invalid.\n\n * 400\
            \ InvalidManagedServerAzureADAdminDeleteOperation - User tried to delete\
            \ managed server Azure Active Azure admin when AzureADOnlyAuthentication\
            \ is set, please use azureADOnlyAuthentications API first.\n\n * 400 InvalidManagedServerAADOnlyAuthTypePropertyName\
            \ - Managed Server Azure Active Directory only authentication type should\
            \ be Default\n\n * 400 ServerPrincipalCreateLoginBadSyntax - There was\
            \ an Syntax Error when executing Create Login statement for Azure AD Administrator.\n\
            \n * 400 ManagedInstanceIsBusy - Managed Instance is busy with another\
            \ request.\n\n * 400 InvalidLoginName - The provided login name is invalid.\n\
            \n * 400 ServicePrincipalLookupInAadFailedIdentityForbidden - AzureAD\
            \ Lookup failed because MSI was not granted read permissions on AAD.\n\
            \n * 400 PrincipalNotFoundInTenant - AzureAD Lookup returned no results\
            \ for this name.\n\n * 400 ServerPrincipalHasDuplicateDisplayNameInAad\
            \ - AzureAD Lookup returned multiple results for this name.\n\n * 400\
            \ InvalidPrincipalType - This principal type is not supported in Windows\
            \ Azure SQL Database.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 ServicePrincipalLookupInAadFailed\
            \ - AzureAD Lookup failed due to service infrastructure errors.\n\n *\
            \ 400 TenantNotFoundInActiveDirectory - Tenant is not available in active\
            \ directory.\n\n * 400 InvalidUsername - Supplied user name contains invalid\
            \ characters.\n\n * 400 ManagedInstanceHasNoPermissionsToAccessAad - Attempt\
            \ to perform operation, which involves a non-existing login or login on\
            \ which executing principal has no permissions.\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup\
            \ - Specified managed instance does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 ServerNotInSubscription - Specified\
            \ server does not exist on the specified subscription.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 404 ResourceNotFound -\
            \ The requested resource was not found.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 409 ServerPrincipalOwnsJobs - Attempt to remove\
            \ a login when it has active jobs.\n\n * 409 ServerPrincipalOwnsObjects\
            \ - Attempt to drop a login, which owns objects.\n\n * 409 ServerPrincipalIsGrantorOfPermissions\
            \ - Attempt to drop a server principal, which is a grantor of permissions.\n\
            \n * 409 ServerPrincipalOwnsDatabase - Change the owner of the database(s)\
            \ before dropping the login.\n\n * 409 ServerPrincipalCurrentlyLoggedIn\
            \ - Self-explanatory.\n\n * 409 ServerPrincipalAlreadyExists - Attempt\
            \ to create server principal with non-unique name.\n\n * 409 ServerPrincipalUsedInTriggerOrEventNotification\
            \ - Attempt to drop login, which is used as an execution context of a\
            \ trigger or event notification.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 500 ActiveDirectoryLookupTimedOut - The operation\
            \ could not be completed at this time. Please try again later.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 503 TooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 504\
            \ RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - ManagedInstanceAdministrators
      description: Deletes a managed instance administrator.
      operationId: ManagedInstanceAdministrators_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: administratorName
        in: path
        required: true
        x-ms-enum:
          name: AdministratorName
          modelAsString: true
        schema:
          type: string
          enum:
          - ActiveDirectory
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the managed instance administrator.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 SubnetMissingRequiredDelegation\
            \ - Selected subnet is not delegated for SQL Managed Instance.\n\n * 400\
            \ InvalidManagedServerAdministratorType - Invalid administrator type specified\
            \ in properties.\n\n * 400 InvalidResourceRequestBody - The resource or\
            \ resource properties in the request body is empty or invalid.\n\n * 400\
            \ InvalidManagedServerAzureADAdminDeleteOperation - User tried to delete\
            \ managed server Azure Active Azure admin when AzureADOnlyAuthentication\
            \ is set, please use azureADOnlyAuthentications API first.\n\n * 400 InvalidManagedServerAADOnlyAuthTypePropertyName\
            \ - Managed Server Azure Active Directory only authentication type should\
            \ be Default\n\n * 400 ServerPrincipalCreateLoginBadSyntax - There was\
            \ an Syntax Error when executing Create Login statement for Azure AD Administrator.\n\
            \n * 400 ManagedInstanceIsBusy - Managed Instance is busy with another\
            \ request.\n\n * 400 InvalidLoginName - The provided login name is invalid.\n\
            \n * 400 ServicePrincipalLookupInAadFailedIdentityForbidden - AzureAD\
            \ Lookup failed because MSI was not granted read permissions on AAD.\n\
            \n * 400 PrincipalNotFoundInTenant - AzureAD Lookup returned no results\
            \ for this name.\n\n * 400 ServerPrincipalHasDuplicateDisplayNameInAad\
            \ - AzureAD Lookup returned multiple results for this name.\n\n * 400\
            \ InvalidPrincipalType - This principal type is not supported in Windows\
            \ Azure SQL Database.\n\n * 400 InvalidParameterValue - An invalid value\
            \ was given to a parameter.\n\n * 400 ServicePrincipalLookupInAadFailed\
            \ - AzureAD Lookup failed due to service infrastructure errors.\n\n *\
            \ 400 TenantNotFoundInActiveDirectory - Tenant is not available in active\
            \ directory.\n\n * 400 InvalidUsername - Supplied user name contains invalid\
            \ characters.\n\n * 400 ManagedInstanceHasNoPermissionsToAccessAad - Attempt\
            \ to perform operation, which involves a non-existing login or login on\
            \ which executing principal has no permissions.\n\n * 404 ManagedInstanceNotInSubscriptionResourceGroup\
            \ - Specified managed instance does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 ServerNotInSubscription - Specified\
            \ server does not exist on the specified subscription.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 404 ResourceNotFound -\
            \ The requested resource was not found.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 409 ServerPrincipalOwnsJobs - Attempt to remove\
            \ a login when it has active jobs.\n\n * 409 ServerPrincipalOwnsObjects\
            \ - Attempt to drop a login, which owns objects.\n\n * 409 ServerPrincipalIsGrantorOfPermissions\
            \ - Attempt to drop a server principal, which is a grantor of permissions.\n\
            \n * 409 ServerPrincipalOwnsDatabase - Change the owner of the database(s)\
            \ before dropping the login.\n\n * 409 ServerPrincipalCurrentlyLoggedIn\
            \ - Self-explanatory.\n\n * 409 ServerPrincipalAlreadyExists - Attempt\
            \ to create server principal with non-unique name.\n\n * 409 ServerPrincipalUsedInTriggerOrEventNotification\
            \ - Attempt to drop login, which is used as an execution context of a\
            \ trigger or event notification.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 500 ActiveDirectoryLookupTimedOut - The operation\
            \ could not be completed at this time. Please try again later.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 503 TooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 504\
            \ RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ManagedInstanceAdministrator:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - administratorType
          - login
          - sid
          type: object
          properties:
            administratorType:
              description: Type of the managed instance administrator.
              enum:
              - ActiveDirectory
              type: string
              x-ms-enum:
                name: ManagedInstanceAdministratorType
                modelAsString: true
            login:
              description: Login name of the managed instance administrator.
              type: string
            sid:
              format: uuid
              description: SID (object ID) of the managed instance administrator.
              type: string
            tenantId:
              format: uuid
              description: Tenant ID of the managed instance administrator.
              type: string
      description: ARM resource.
      x-ms-azure-resource: true
    ManagedInstanceAdministratorListResult:
      description: A list of managed instance administrators.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - administratorType
                - login
                - sid
                type: object
                properties:
                  administratorType:
                    description: Type of the managed instance administrator.
                    enum:
                    - ActiveDirectory
                    type: string
                    x-ms-enum:
                      name: ManagedInstanceAdministratorType
                      modelAsString: true
                  login:
                    description: Login name of the managed instance administrator.
                    type: string
                  sid:
                    format: uuid
                    description: SID (object ID) of the managed instance administrator.
                    type: string
                  tenantId:
                    format: uuid
                    description: Tenant ID of the managed instance administrator.
                    type: string
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ManagedInstanceAdministratorProperties:
      description: The properties of a managed instance administrator.
      required:
      - administratorType
      - login
      - sid
      type: object
      properties:
        administratorType:
          description: Type of the managed instance administrator.
          enum:
          - ActiveDirectory
          type: string
          x-ms-enum:
            name: ManagedInstanceAdministratorType
            modelAsString: true
        login:
          description: Login name of the managed instance administrator.
          type: string
        sid:
          format: uuid
          description: SID (object ID) of the managed instance administrator.
          type: string
        tenantId:
          format: uuid
          description: Tenant ID of the managed instance administrator.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
