openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/currentSensitivityLabels
  : get:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: ManagedDatabaseSensitivityLabels_ListCurrentByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skipToken
        in: query
        required: false
        schema:
          type: string
      - name: $count
        in: query
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the sensitivity labels.
          content:
            application/json:
              schema:
                description: A list of sensitivity labels.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        managedBy:
                          description: Resource that manages the sensitivity label.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            schemaName:
                              description: The schema name.
                              type: string
                              readOnly: true
                            tableName:
                              description: The table name.
                              type: string
                              readOnly: true
                            columnName:
                              description: The column name.
                              type: string
                              readOnly: true
                            labelName:
                              description: The label name.
                              type: string
                            labelId:
                              description: The label ID.
                              type: string
                            informationType:
                              description: The information type.
                              type: string
                            informationTypeId:
                              description: The information type ID.
                              type: string
                            isDisabled:
                              description: Is sensitivity recommendation disabled.
                                Applicable for recommended sensitivity label only.
                                Specifies whether the sensitivity recommendation on
                                this column is disabled (dismissed) or not.
                              type: boolean
                              readOnly: true
                            rank:
                              enum:
                              - None
                              - Low
                              - Medium
                              - High
                              - Critical
                              type: string
                              x-ms-enum:
                                name: SensitivityLabelRank
                                modelAsString: false
                            clientClassificationSource:
                              enum:
                              - None
                              - Native
                              - Recommended
                              - MIP
                              type: string
                              x-ms-enum:
                                name: ClientClassificationSource
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelsInvalidODataQuery\
            \ - The specified OData query is either not valid or not supported\n\n\
            \ * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 503 DatabaseUnavailable\
            \ - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
    patch:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Update sensitivity labels of a given database using an operations
        batch.
      operationId: ManagedDatabaseSensitivityLabels_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: A list of sensitivity label update operations.
              type: object
              properties:
                operations:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: Resource ID.
                        type: string
                        readOnly: true
                      name:
                        description: Resource name.
                        type: string
                        readOnly: true
                      type:
                        description: Resource type.
                        type: string
                        readOnly: true
                      properties:
                        description: Resource properties.
                        x-ms-client-flatten: true
                        required:
                        - op
                        - schema
                        - table
                        - column
                        type: object
                        properties:
                          op:
                            enum:
                            - set
                            - remove
                            type: string
                            x-ms-enum:
                              name: SensitivityLabelUpdateKind
                              modelAsString: false
                          schema:
                            description: Schema name of the column to update.
                            type: string
                          table:
                            description: Table name of the column to update.
                            type: string
                          column:
                            description: Column name to update.
                            type: string
                          sensitivityLabel:
                            type: object
                            properties:
                              id:
                                description: Resource ID.
                                type: string
                                readOnly: true
                              name:
                                description: Resource name.
                                type: string
                                readOnly: true
                              type:
                                description: Resource type.
                                type: string
                                readOnly: true
                              managedBy:
                                description: Resource that manages the sensitivity
                                  label.
                                type: string
                                readOnly: true
                              properties:
                                description: Resource properties.
                                x-ms-client-flatten: true
                                type: object
                                properties:
                                  schemaName:
                                    description: The schema name.
                                    type: string
                                    readOnly: true
                                  tableName:
                                    description: The table name.
                                    type: string
                                    readOnly: true
                                  columnName:
                                    description: The column name.
                                    type: string
                                    readOnly: true
                                  labelName:
                                    description: The label name.
                                    type: string
                                  labelId:
                                    description: The label ID.
                                    type: string
                                  informationType:
                                    description: The information type.
                                    type: string
                                  informationTypeId:
                                    description: The information type ID.
                                    type: string
                                  isDisabled:
                                    description: Is sensitivity recommendation disabled.
                                      Applicable for recommended sensitivity label
                                      only. Specifies whether the sensitivity recommendation
                                      on this column is disabled (dismissed) or not.
                                    type: boolean
                                    readOnly: true
                                  rank:
                                    enum:
                                    - None
                                    - Low
                                    - Medium
                                    - High
                                    - Critical
                                    type: string
                                    x-ms-enum:
                                      name: SensitivityLabelRank
                                      modelAsString: false
                                  clientClassificationSource:
                                    enum:
                                    - None
                                    - Native
                                    - Recommended
                                    - MIP
                                    type: string
                                    x-ms-enum:
                                      name: ClientClassificationSource
                                      modelAsString: true
                            description: ARM resource.
                            x-ms-azure-resource: true
                    description: ARM resource.
                    x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Successfully updated sensitivity labels.
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported\
            \ - The specified sensitivity label source is not valid\n\n * 400 InvalidSensitivityLabelsBatch\
            \ - The specified sensitivity labels batch is not valid. Please provide\
            \ batch operations\n\n * 400 SensitivityLabelsMissingSchema - Operation[{0}]:\
            \ Missing schema information\n\n * 400 SensitivityLabelsMissingTable -\
            \ Operation[{0}]: Missing table information\n\n * 400 SensitivityLabelsMissingColumn\
            \ - Operation[{0}]: Missing column information\n\n * 400 SensitivityLabelsUpdateSameColumnMoreThanOnce\
            \ - The column {0} can not be updated more than once in a single command\n\
            \n * 400 InvalidSensitivityLabelResource - The specified sensitivity label\
            \ resource is not valid\n\n * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided\
            \ - At least one of LabelName and InformationType must be specified\n\n\
            \ * 400 LabelNameTooLong - Label name cannot exceed {0} characters\n\n\
            \ * 400 InformationTypeTooLong - Information type cannot exceed {0} characters\n\
            \n * 400 LabelIdMustBeGuid - The provided \u2018labelId\u2019 is invalid.\
            \ Value must be a GUID\n\n * 400 InformationTypeIdMustBeGuid - The provided\
            \ \u2018informationTypeId\u2019 is invalid. Value must be a GUID\n\n *\
            \ 400 LabelMissing - Label is required. At least one of \u2018labelName\u2019\
            \ or \u2018labelId\u2019 must be provided\n\n * 400 InformationTypeMissing\
            \ - Information type is required. At least one of \u2018informationType\u2019\
            \ or \u2018informationTypeId\u2019 must be provided\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server\
            \ was not found\n\n * 404 SensitivityLabelsSchemaNotFound - The schema\
            \ {0} could not be found\n\n * 404 SensitivityLabelsTableNotFound - The\
            \ table {0} could not be found in schema {1}\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity\
            \ label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported\
            \ - 'Recommended' sensitivity label source is not supported yet\n\n *\
            \ 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended'\
            \ sensitivity label source is not supported yet\n\n * 503 DatabaseUnavailable\
            \ - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/recommendedSensitivityLabels
  : get:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: ManagedDatabaseSensitivityLabels_ListRecommendedByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skipToken
        in: query
        required: false
        schema:
          type: string
      - name: includeDisabledRecommendations
        in: query
        description: Specifies whether to include disabled recommendations or not.
        required: false
        schema:
          type: boolean
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the sensitivity labels.
          content:
            application/json:
              schema:
                description: A list of sensitivity labels.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        managedBy:
                          description: Resource that manages the sensitivity label.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            schemaName:
                              description: The schema name.
                              type: string
                              readOnly: true
                            tableName:
                              description: The table name.
                              type: string
                              readOnly: true
                            columnName:
                              description: The column name.
                              type: string
                              readOnly: true
                            labelName:
                              description: The label name.
                              type: string
                            labelId:
                              description: The label ID.
                              type: string
                            informationType:
                              description: The information type.
                              type: string
                            informationTypeId:
                              description: The information type ID.
                              type: string
                            isDisabled:
                              description: Is sensitivity recommendation disabled.
                                Applicable for recommended sensitivity label only.
                                Specifies whether the sensitivity recommendation on
                                this column is disabled (dismissed) or not.
                              type: boolean
                              readOnly: true
                            rank:
                              enum:
                              - None
                              - Low
                              - Medium
                              - High
                              - Critical
                              type: string
                              x-ms-enum:
                                name: SensitivityLabelRank
                                modelAsString: false
                            clientClassificationSource:
                              enum:
                              - None
                              - Native
                              - Recommended
                              - MIP
                              type: string
                              x-ms-enum:
                                name: ClientClassificationSource
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelsInvalidODataQuery\
            \ - The specified OData query is either not valid or not supported\n\n\
            \ * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 503 DatabaseUnavailable\
            \ - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
    patch:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Update recommended sensitivity labels states of a given database
        using an operations batch.
      operationId: ManagedDatabaseRecommendedSensitivityLabels_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: A list of recommended sensitivity label update operations.
              type: object
              properties:
                operations:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: Resource ID.
                        type: string
                        readOnly: true
                      name:
                        description: Resource name.
                        type: string
                        readOnly: true
                      type:
                        description: Resource type.
                        type: string
                        readOnly: true
                      properties:
                        description: Resource properties.
                        x-ms-client-flatten: true
                        required:
                        - op
                        - schema
                        - table
                        - column
                        type: object
                        properties:
                          op:
                            enum:
                            - enable
                            - disable
                            type: string
                            x-ms-enum:
                              name: RecommendedSensitivityLabelUpdateKind
                              modelAsString: false
                          schema:
                            description: Schema name of the column to update.
                            type: string
                          table:
                            description: Table name of the column to update.
                            type: string
                          column:
                            description: Column name to update.
                            type: string
                    description: ARM resource.
                    x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Successfully updated recommended sensitivity labels.
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported\
            \ - The specified sensitivity label source is not valid\n\n * 400 InvalidRecommendedSensitivityLabelsBatch\
            \ - The specified recommended sensitivity labels operations are not valid\n\
            \n * 400 SensitivityLabelsMissingSchema - Operation[{0}]: Missing schema\
            \ information\n\n * 400 SensitivityLabelsMissingTable - Operation[{0}]:\
            \ Missing table information\n\n * 400 SensitivityLabelsMissingColumn -\
            \ Operation[{0}]: Missing column information\n\n * 400 SensitivityLabelsUpdateSameColumnMoreThanOnce\
            \ - The column {0} can not be updated more than once in a single command\n\
            \n * 400 InvalidSensitivityLabelResource - The specified sensitivity label\
            \ resource is not valid\n\n * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided\
            \ - At least one of LabelName and InformationType must be specified\n\n\
            \ * 400 LabelNameTooLong - Label name cannot exceed {0} characters\n\n\
            \ * 400 InformationTypeTooLong - Information type cannot exceed {0} characters\n\
            \n * 400 LabelIdMustBeGuid - The provided \u2018labelId\u2019 is invalid.\
            \ Value must be a GUID\n\n * 400 InformationTypeIdMustBeGuid - The provided\
            \ \u2018informationTypeId\u2019 is invalid. Value must be a GUID\n\n *\
            \ 400 LabelMissing - Label is required. At least one of \u2018labelName\u2019\
            \ or \u2018labelId\u2019 must be provided\n\n * 400 InformationTypeMissing\
            \ - Information type is required. At least one of \u2018informationType\u2019\
            \ or \u2018informationTypeId\u2019 must be provided\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server\
            \ was not found\n\n * 404 SensitivityLabelsSchemaNotFound - The schema\
            \ {0} could not be found\n\n * 404 SensitivityLabelsTableNotFound - The\
            \ table {0} could not be found in schema {1}\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity\
            \ label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported\
            \ - 'Recommended' sensitivity label source is not supported yet\n\n *\
            \ 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended'\
            \ sensitivity label source is not supported yet\n\n * 503 DatabaseUnavailable\
            \ - The operation failed because the database is unavailable."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}
  : get:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Gets the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        schema:
          type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        x-ms-enum:
          name: SensitivityLabelSource
          modelAsString: false
        schema:
          type: string
          enum:
          - current
          - recommended
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the sensitivity label.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  managedBy:
                    description: Resource that manages the sensitivity label.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      schemaName:
                        description: The schema name.
                        type: string
                        readOnly: true
                      tableName:
                        description: The table name.
                        type: string
                        readOnly: true
                      columnName:
                        description: The column name.
                        type: string
                        readOnly: true
                      labelName:
                        description: The label name.
                        type: string
                      labelId:
                        description: The label ID.
                        type: string
                      informationType:
                        description: The information type.
                        type: string
                      informationTypeId:
                        description: The information type ID.
                        type: string
                      isDisabled:
                        description: Is sensitivity recommendation disabled. Applicable
                          for recommended sensitivity label only. Specifies whether
                          the sensitivity recommendation on this column is disabled
                          (dismissed) or not.
                        type: boolean
                        readOnly: true
                      rank:
                        enum:
                        - None
                        - Low
                        - Medium
                        - High
                        - Critical
                        type: string
                        x-ms-enum:
                          name: SensitivityLabelRank
                          modelAsString: false
                      clientClassificationSource:
                        enum:
                        - None
                        - Native
                        - Recommended
                        - MIP
                        type: string
                        x-ms-enum:
                          name: ClientClassificationSource
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported\
            \ - The specified sensitivity label source is not valid\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SensitivityLabelsSchemaNotFound\
            \ - The schema {0} could not be found\n\n * 404 SensitivityLabelsTableNotFound\
            \ - The table {0} could not be found in schema {1}\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity\
            \ label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported\
            \ - 'Recommended' sensitivity label source is not supported yet\n\n *\
            \ 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended'\
            \ sensitivity label source is not supported yet"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Creates or updates the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        schema:
          type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        x-ms-enum:
          name: CurrentSensitivityLabelSource
          modelAsString: false
        schema:
          type: string
          enum:
          - current
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                managedBy:
                  description: Resource that manages the sensitivity label.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    schemaName:
                      description: The schema name.
                      type: string
                      readOnly: true
                    tableName:
                      description: The table name.
                      type: string
                      readOnly: true
                    columnName:
                      description: The column name.
                      type: string
                      readOnly: true
                    labelName:
                      description: The label name.
                      type: string
                    labelId:
                      description: The label ID.
                      type: string
                    informationType:
                      description: The information type.
                      type: string
                    informationTypeId:
                      description: The information type ID.
                      type: string
                    isDisabled:
                      description: Is sensitivity recommendation disabled. Applicable
                        for recommended sensitivity label only. Specifies whether
                        the sensitivity recommendation on this column is disabled
                        (dismissed) or not.
                      type: boolean
                      readOnly: true
                    rank:
                      enum:
                      - None
                      - Low
                      - Medium
                      - High
                      - Critical
                      type: string
                      x-ms-enum:
                        name: SensitivityLabelRank
                        modelAsString: false
                    clientClassificationSource:
                      enum:
                      - None
                      - Native
                      - Recommended
                      - MIP
                      type: string
                      x-ms-enum:
                        name: ClientClassificationSource
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The column sensitivity label resource.
        required: true
      responses:
        '200':
          description: Successfully updated the sensitivity label.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  managedBy:
                    description: Resource that manages the sensitivity label.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      schemaName:
                        description: The schema name.
                        type: string
                        readOnly: true
                      tableName:
                        description: The table name.
                        type: string
                        readOnly: true
                      columnName:
                        description: The column name.
                        type: string
                        readOnly: true
                      labelName:
                        description: The label name.
                        type: string
                      labelId:
                        description: The label ID.
                        type: string
                      informationType:
                        description: The information type.
                        type: string
                      informationTypeId:
                        description: The information type ID.
                        type: string
                      isDisabled:
                        description: Is sensitivity recommendation disabled. Applicable
                          for recommended sensitivity label only. Specifies whether
                          the sensitivity recommendation on this column is disabled
                          (dismissed) or not.
                        type: boolean
                        readOnly: true
                      rank:
                        enum:
                        - None
                        - Low
                        - Medium
                        - High
                        - Critical
                        type: string
                        x-ms-enum:
                          name: SensitivityLabelRank
                          modelAsString: false
                      clientClassificationSource:
                        enum:
                        - None
                        - Native
                        - Recommended
                        - MIP
                        type: string
                        x-ms-enum:
                          name: ClientClassificationSource
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the sensitivity label.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  managedBy:
                    description: Resource that manages the sensitivity label.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      schemaName:
                        description: The schema name.
                        type: string
                        readOnly: true
                      tableName:
                        description: The table name.
                        type: string
                        readOnly: true
                      columnName:
                        description: The column name.
                        type: string
                        readOnly: true
                      labelName:
                        description: The label name.
                        type: string
                      labelId:
                        description: The label ID.
                        type: string
                      informationType:
                        description: The information type.
                        type: string
                      informationTypeId:
                        description: The information type ID.
                        type: string
                      isDisabled:
                        description: Is sensitivity recommendation disabled. Applicable
                          for recommended sensitivity label only. Specifies whether
                          the sensitivity recommendation on this column is disabled
                          (dismissed) or not.
                        type: boolean
                        readOnly: true
                      rank:
                        enum:
                        - None
                        - Low
                        - Medium
                        - High
                        - Critical
                        type: string
                        x-ms-enum:
                          name: SensitivityLabelRank
                          modelAsString: false
                      clientClassificationSource:
                        enum:
                        - None
                        - Native
                        - Recommended
                        - MIP
                        type: string
                        x-ms-enum:
                          name: ClientClassificationSource
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported\
            \ - The specified sensitivity label source is not valid\n\n * 400 InvalidSensitivityLabelResource\
            \ - The specified sensitivity label resource is not valid\n\n * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided\
            \ - At least one of LabelName and InformationType must be specified\n\n\
            \ * 400 LabelNameTooLong - Label name cannot exceed {0} characters\n\n\
            \ * 400 InformationTypeTooLong - Information type cannot exceed {0} characters\n\
            \n * 400 LabelIdMustBeGuid - The provided \u2018labelId\u2019 is invalid.\
            \ Value must be a GUID\n\n * 400 InformationTypeIdMustBeGuid - The provided\
            \ \u2018informationTypeId\u2019 is invalid. Value must be a GUID\n\n *\
            \ 400 LabelMissing - Label is required. At least one of \u2018labelName\u2019\
            \ or \u2018labelId\u2019 must be provided\n\n * 400 InformationTypeMissing\
            \ - Information type is required. At least one of \u2018informationType\u2019\
            \ or \u2018informationTypeId\u2019 must be provided\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SensitivityLabelsSchemaNotFound\
            \ - The schema {0} could not be found\n\n * 404 SensitivityLabelsTableNotFound\
            \ - The table {0} could not be found in schema {1}\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity\
            \ label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported\
            \ - 'Recommended' sensitivity label source is not supported yet\n\n *\
            \ 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended'\
            \ sensitivity label source is not supported yet"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Deletes the sensitivity label of a given column
      operationId: ManagedDatabaseSensitivityLabels_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        schema:
          type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        x-ms-enum:
          name: CurrentSensitivityLabelSource
          modelAsString: false
        schema:
          type: string
          enum:
          - current
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the sensitivity label.
        default:
          description: "*** Error Responses: ***\n\n * 400 DatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Data Classification operation because the database\
            \ is paused. Please resume it.\n\n * 400 SensitivityLabelSourceNameNotSupported\
            \ - The specified sensitivity label source is not valid\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 SensitivityLabelsSchemaNotFound\
            \ - The schema {0} could not be found\n\n * 404 SensitivityLabelsTableNotFound\
            \ - The table {0} could not be found in schema {1}\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SensitivityLabelsLabelNotFound - The specified sensitivity\
            \ label could not be found\n\n * 501 SensitivityLabelRecommendedSourceNameNotSupported\
            \ - 'Recommended' sensitivity label source is not supported yet\n\n *\
            \ 501 SensitivityLabelRecommendedSourceNameNotSupported - 'Recommended'\
            \ sensitivity label source is not supported yet"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/disable
  : post:
      tags:
      - ManagedDatabaseSensitivityLabels
      description: Disables sensitivity recommendations on a given column
      operationId: ManagedDatabaseSensitivityLabels_DisableRecommendation
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        schema:
          type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        schema:
          type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        schema:
          type: string
      - name: sensitivityLabelSource
        in: path
        required: true
        x-ms-enum:
          name: RecommendedSensitivityLabelSource
          modelAsString: false
        schema:
          type: string
          enum:
          - recommended
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully disabled the sensitivity recommendations on the
            given column.
        default:
          description: "*** Error Responses: ***\n\n * 404 SensitivityLabelsColumnNotFound\
            \ - The column {0} could not be found in table {2}.{1}\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 CannotFindObject - Cannot find the object because\
            \ it does not exist or you do not have permissions\n\n * 404 SubscriptionNotFound\
            \ - The requested subscription was not found.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max\
            \ requests that can be processed by available resources.\n\n * 503 TooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 504 RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/enable
  : post:
      tags:
[...]
