openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/databases/{databaseName}/securityEvents
  : get:
      tags:
      - ManagedDatabaseSecurityEvents
      description: Gets a list of security events.
      operationId: ManagedDatabaseSecurityEvents_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the managed database for which the security events
          are retrieved.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: $skip
        in: query
        description: The number of elements in the collection to skip.
        required: false
        schema:
          type: integer
          format: int64
      - name: $top
        in: query
        description: The number of elements to return from the collection.
        required: false
        schema:
          type: integer
          format: int64
      - name: $skiptoken
        in: query
        description: An opaque token that identifies a starting point in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of security events.
          content:
            application/json:
              schema:
                description: A list of security events.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            eventTime:
                              format: date-time
                              description: The time when the security event occurred.
                              type: string
                              readOnly: true
                            securityEventType:
                              description: The type of the security event.
                              enum:
                              - Undefined
                              - SqlInjectionVulnerability
                              - SqlInjectionExploit
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SecurityEventType
                                modelAsString: false
                            subscription:
                              description: The subscription name
                              type: string
                              readOnly: true
                            server:
                              description: The server name
                              type: string
                              readOnly: true
                            database:
                              description: The database name
                              type: string
                              readOnly: true
                            clientIp:
                              description: The IP address of the client who executed
                                the statement.
                              type: string
                              readOnly: true
                            applicationName:
                              description: The application used to execute the statement.
                              type: string
                              readOnly: true
                            principalName:
                              description: The principal user who executed the statement
                              type: string
                              readOnly: true
                            securityEventSqlInjectionAdditionalProperties:
                              description: The sql injection additional properties,
                                populated only if the type of the security event is
                                sql injection.
                              readOnly: true
                              type: object
                              properties:
                                threatId:
                                  description: The threat ID.
                                  type: string
                                  readOnly: true
                                statement:
                                  description: The statement
                                  type: string
                                  readOnly: true
                                statementHighlightOffset:
                                  format: int32
                                  description: The statement highlight offset
                                  type: integer
                                  readOnly: true
                                statementHighlightLength:
                                  format: int32
                                  description: The statement highlight length
                                  type: integer
                                  readOnly: true
                                errorCode:
                                  format: int32
                                  description: The sql error code
                                  type: integer
                                  readOnly: true
                                errorSeverity:
                                  format: int32
                                  description: The sql error severity
                                  type: integer
                                  readOnly: true
                                errorMessage:
                                  description: The sql error message
                                  type: string
                                  readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 DatabaseDoesNotExist -\
            \ User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SourceDatabaseNotFound - The source database does\
            \ not exist.\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified\
            \ server does not exist in the specified resource group and subscription.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/SecurityEventsFilterParameters'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SecurityEvent:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            eventTime:
              format: date-time
              description: The time when the security event occurred.
              type: string
              readOnly: true
            securityEventType:
              description: The type of the security event.
              enum:
              - Undefined
              - SqlInjectionVulnerability
              - SqlInjectionExploit
              type: string
              readOnly: true
              x-ms-enum:
                name: SecurityEventType
                modelAsString: false
            subscription:
              description: The subscription name
              type: string
              readOnly: true
            server:
              description: The server name
              type: string
              readOnly: true
            database:
              description: The database name
              type: string
              readOnly: true
            clientIp:
              description: The IP address of the client who executed the statement.
              type: string
              readOnly: true
            applicationName:
              description: The application used to execute the statement.
              type: string
              readOnly: true
            principalName:
              description: The principal user who executed the statement
              type: string
              readOnly: true
            securityEventSqlInjectionAdditionalProperties:
              description: The sql injection additional properties, populated only
                if the type of the security event is sql injection.
              readOnly: true
              type: object
              properties:
                threatId:
                  description: The threat ID.
                  type: string
                  readOnly: true
                statement:
                  description: The statement
                  type: string
                  readOnly: true
                statementHighlightOffset:
                  format: int32
                  description: The statement highlight offset
                  type: integer
                  readOnly: true
                statementHighlightLength:
                  format: int32
                  description: The statement highlight length
                  type: integer
                  readOnly: true
                errorCode:
                  format: int32
                  description: The sql error code
                  type: integer
                  readOnly: true
                errorSeverity:
                  format: int32
                  description: The sql error severity
                  type: integer
                  readOnly: true
                errorMessage:
                  description: The sql error message
                  type: string
                  readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    SecurityEventCollection:
      description: A list of security events.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  eventTime:
                    format: date-time
                    description: The time when the security event occurred.
                    type: string
                    readOnly: true
                  securityEventType:
                    description: The type of the security event.
                    enum:
                    - Undefined
                    - SqlInjectionVulnerability
                    - SqlInjectionExploit
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: SecurityEventType
                      modelAsString: false
                  subscription:
                    description: The subscription name
                    type: string
                    readOnly: true
                  server:
                    description: The server name
                    type: string
                    readOnly: true
                  database:
                    description: The database name
                    type: string
                    readOnly: true
                  clientIp:
                    description: The IP address of the client who executed the statement.
                    type: string
                    readOnly: true
                  applicationName:
                    description: The application used to execute the statement.
                    type: string
                    readOnly: true
                  principalName:
                    description: The principal user who executed the statement
                    type: string
                    readOnly: true
                  securityEventSqlInjectionAdditionalProperties:
                    description: The sql injection additional properties, populated
                      only if the type of the security event is sql injection.
                    readOnly: true
                    type: object
                    properties:
                      threatId:
                        description: The threat ID.
                        type: string
                        readOnly: true
                      statement:
                        description: The statement
                        type: string
                        readOnly: true
                      statementHighlightOffset:
                        format: int32
                        description: The statement highlight offset
                        type: integer
                        readOnly: true
                      statementHighlightLength:
                        format: int32
                        description: The statement highlight length
                        type: integer
                        readOnly: true
                      errorCode:
                        format: int32
                        description: The sql error code
                        type: integer
                        readOnly: true
                      errorSeverity:
                        format: int32
                        description: The sql error severity
                        type: integer
                        readOnly: true
                      errorMessage:
                        description: The sql error message
                        type: string
                        readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SecurityEventProperties:
      description: The properties of a security event.
      type: object
      properties:
        eventTime:
          format: date-time
          description: The time when the security event occurred.
          type: string
          readOnly: true
        securityEventType:
          description: The type of the security event.
          enum:
          - Undefined
          - SqlInjectionVulnerability
          - SqlInjectionExploit
          type: string
          readOnly: true
          x-ms-enum:
            name: SecurityEventType
            modelAsString: false
        subscription:
          description: The subscription name
          type: string
          readOnly: true
        server:
          description: The server name
          type: string
          readOnly: true
        database:
          description: The database name
          type: string
          readOnly: true
        clientIp:
          description: The IP address of the client who executed the statement.
          type: string
          readOnly: true
        applicationName:
          description: The application used to execute the statement.
          type: string
          readOnly: true
        principalName:
          description: The principal user who executed the statement
          type: string
          readOnly: true
        securityEventSqlInjectionAdditionalProperties:
          description: The sql injection additional properties, populated only if
            the type of the security event is sql injection.
          readOnly: true
          type: object
          properties:
            threatId:
              description: The threat ID.
              type: string
              readOnly: true
            statement:
              description: The statement
              type: string
              readOnly: true
            statementHighlightOffset:
              format: int32
              description: The statement highlight offset
              type: integer
              readOnly: true
            statementHighlightLength:
              format: int32
              description: The statement highlight length
              type: integer
              readOnly: true
            errorCode:
              format: int32
              description: The sql error code
              type: integer
              readOnly: true
            errorSeverity:
              format: int32
              description: The sql error severity
              type: integer
              readOnly: true
            errorMessage:
              description: The sql error message
              type: string
              readOnly: true
    SecurityEventsFilterParameters:
      description: The properties that are supported in the $filter operation.
      type: object
      properties:
        eventTime:
          format: date-time
          description: Filter on the event time.
          type: string
        showServerRecords:
          description: Whether to show server records or not.
          type: boolean
    SecurityEventSqlInjectionAdditionalProperties:
      description: The properties of a security event sql injection additional properties.
      type: object
      properties:
        threatId:
          description: The threat ID.
          type: string
          readOnly: true
        statement:
          description: The statement
          type: string
          readOnly: true
        statementHighlightOffset:
          format: int32
          description: The statement highlight offset
          type: integer
          readOnly: true
        statementHighlightLength:
          format: int32
          description: The statement highlight length
          type: integer
          readOnly: true
        errorCode:
          format: int32
          description: The sql error code
          type: integer
          readOnly: true
        errorSeverity:
          format: int32
          description: The sql error severity
          type: integer
          readOnly: true
        errorMessage:
          description: The sql error message
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
