openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations
  : get:
      tags:
      - NetworkSecurityPerimeterConfigurations
      description: Gets a list of NSP configurations for a server.
      operationId: NetworkSecurityPerimeterConfigurations_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of configs.
          content:
            application/json:
              schema:
                description: A list of NSP configurations for a server.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              type: string
                              readOnly: true
                            networkSecurityPerimeter:
                              type: object
                              properties:
                                id:
                                  type: string
                                perimeterGuid:
                                  type: string
                                location:
                                  type: string
                            resourceAssociation:
                              type: object
                              properties:
                                name:
                                  type: string
                                accessMode:
                                  type: string
                            profile:
                              type: object
                              properties:
                                name:
                                  type: string
                                accessRulesVersion:
                                  type: string
                                accessRules:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      properties:
                                        type: object
                                        properties:
                                          direction:
                                            type: string
                                          addressPrefixes:
                                            type: array
                                            items:
                                              type: string
                                          fullyQualifiedDomainNames:
                                            type: array
                                            items:
                                              type: string
                                          subscriptions:
                                            type: array
                                            items:
                                              type: string
                                          networkSecurityPerimeters:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                perimeterGuid:
                                                  type: string
                                                location:
                                                  type: string
                                          serviceTags:
                                            type: array
                                            items:
                                              type: string
                                  x-ms-identifiers: []
                            provisioningIssues:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  properties:
                                    type: object
                                    properties:
                                      issueType:
                                        type: string
                                      severity:
                                        type: string
                                      description:
                                        type: string
                                      suggestedResourceIds:
                                        type: array
                                        items:
                                          type: string
                                      suggestedAccessRules:
                                        type: array
                                        items:
                                          type: string
                              x-ms-identifiers: []
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 NullResource - Request\
            \ body is empty\n\n * 400 NullProperties - Properties collection is not\
            \ included in request body\n\n * 400 NullNSP - NetworkSecurityPerimeter\
            \ property is not present in request body\n\n * 400 NullNSPId - NetworkSecurityPerimeter\
            \ is missing the ID property\n\n * 400 MalformedNSPId - NetworkSecurityPerimeter\
            \ ID is not correctly formatted\n\n * 400 NullNSPImmutableId - NetworkSecurityPerimeter\
            \ is missing the ImmutableId property\n\n * 400 MalformedNSPImmutableId\
            \ - NetworkSecurityPerimeter Immutable ID is not a GUID\n\n * 400 NullLocation\
            \ - NetworkSecurityPerimeter is missing the location property\n\n * 400\
            \ NullNetworkProfile - NetworkProfile is not present in the request body\n\
            \n * 400 NullNetworkProfileName - NetworkProfile is missing the Name property\n\
            \n * 400 NullAccessMode - Access Mode is not present in the request body\n\
            \n * 400 InvalidAccessMode - Supported Access Modes are enforced, audit\
            \ and learning\n\n * 400 InvalidClient - Client with id '{0}' is not allowed\
            \ to interact with this resource\n\n * 400 TooManyAssociations - A SQL\
            \ Server may only be associated with one NSP\n\n * 400 MalformedAssociationProxyName\
            \ - AssociationProxy name is not formed like {perimeterGuid}.{associationName}\n\
            \n * 404 AssociationNotFound - This SQL Server is not associated with\
            \ any NSP\n\n * 404 ResourceNotFound - The requested resource was not\
            \ found.\n\n * 409 OnlyOneAssociationPerServer - A SQL Server may only\
            \ be associated with one NSP"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations/{nspConfigName}
  : get:
      tags:
      - NetworkSecurityPerimeterConfigurations
      description: Gets a network security perimeter configuration.
      operationId: NetworkSecurityPerimeterConfigurations_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: nspConfigName
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the config.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                      networkSecurityPerimeter:
                        type: object
                        properties:
                          id:
                            type: string
                          perimeterGuid:
                            type: string
                          location:
                            type: string
                      resourceAssociation:
                        type: object
                        properties:
                          name:
                            type: string
                          accessMode:
                            type: string
                      profile:
                        type: object
                        properties:
                          name:
                            type: string
                          accessRulesVersion:
                            type: string
                          accessRules:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    direction:
                                      type: string
                                    addressPrefixes:
                                      type: array
                                      items:
                                        type: string
                                    fullyQualifiedDomainNames:
                                      type: array
                                      items:
                                        type: string
                                    subscriptions:
                                      type: array
                                      items:
                                        type: string
                                    networkSecurityPerimeters:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          perimeterGuid:
                                            type: string
                                          location:
                                            type: string
                                    serviceTags:
                                      type: array
                                      items:
                                        type: string
                            x-ms-identifiers: []
                      provisioningIssues:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            properties:
                              type: object
                              properties:
                                issueType:
                                  type: string
                                severity:
                                  type: string
                                description:
                                  type: string
                                suggestedResourceIds:
                                  type: array
                                  items:
                                    type: string
                                suggestedAccessRules:
                                  type: array
                                  items:
                                    type: string
                        x-ms-identifiers: []
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 NullResource - Request\
            \ body is empty\n\n * 400 NullProperties - Properties collection is not\
            \ included in request body\n\n * 400 NullNSP - NetworkSecurityPerimeter\
            \ property is not present in request body\n\n * 400 NullNSPId - NetworkSecurityPerimeter\
            \ is missing the ID property\n\n * 400 MalformedNSPId - NetworkSecurityPerimeter\
            \ ID is not correctly formatted\n\n * 400 NullNSPImmutableId - NetworkSecurityPerimeter\
            \ is missing the ImmutableId property\n\n * 400 MalformedNSPImmutableId\
            \ - NetworkSecurityPerimeter Immutable ID is not a GUID\n\n * 400 NullLocation\
            \ - NetworkSecurityPerimeter is missing the location property\n\n * 400\
            \ NullNetworkProfile - NetworkProfile is not present in the request body\n\
            \n * 400 NullNetworkProfileName - NetworkProfile is missing the Name property\n\
            \n * 400 NullAccessMode - Access Mode is not present in the request body\n\
            \n * 400 InvalidAccessMode - Supported Access Modes are enforced, audit\
            \ and learning\n\n * 400 InvalidClient - Client with id '{0}' is not allowed\
            \ to interact with this resource\n\n * 400 TooManyAssociations - A SQL\
            \ Server may only be associated with one NSP\n\n * 400 MalformedAssociationProxyName\
            \ - AssociationProxy name is not formed like {perimeterGuid}.{associationName}\n\
            \n * 404 AssociationNotFound - This SQL Server is not associated with\
            \ any NSP\n\n * 404 ResourceNotFound - The requested resource was not\
            \ found.\n\n * 409 OnlyOneAssociationPerServer - A SQL Server may only\
            \ be associated with one NSP"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations/{nspConfigName}/reconcile
  : post:
      tags:
      - NetworkSecurityPerimeterConfigurations
      description: Reconcile network security perimeter configuration for SQL Resource
        Provider
      operationId: NetworkSecurityPerimeterConfigurations_Reconcile
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: nspConfigName
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Reconcile NSP Configuration operation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                      networkSecurityPerimeter:
                        type: object
                        properties:
                          id:
                            type: string
                          perimeterGuid:
                            type: string
                          location:
                            type: string
                      resourceAssociation:
                        type: object
                        properties:
                          name:
                            type: string
                          accessMode:
                            type: string
                      profile:
                        type: object
                        properties:
                          name:
                            type: string
                          accessRulesVersion:
                            type: string
                          accessRules:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    direction:
                                      type: string
                                    addressPrefixes:
                                      type: array
                                      items:
                                        type: string
                                    fullyQualifiedDomainNames:
                                      type: array
                                      items:
                                        type: string
                                    subscriptions:
                                      type: array
                                      items:
                                        type: string
                                    networkSecurityPerimeters:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          perimeterGuid:
                                            type: string
                                          location:
                                            type: string
                                    serviceTags:
                                      type: array
                                      items:
                                        type: string
                            x-ms-identifiers: []
                      provisioningIssues:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            properties:
                              type: object
                              properties:
                                issueType:
                                  type: string
                                severity:
                                  type: string
                                description:
                                  type: string
                                suggestedResourceIds:
                                  type: array
                                  items:
                                    type: string
                                suggestedAccessRules:
                                  type: array
                                  items:
                                    type: string
                        x-ms-identifiers: []
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Reconcile NSP Configuration operation accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidServerName - Invalid\
            \ server name specified.\n\n * 400 InvalidIdentifier - The identifier\
            \ contains NULL or an invalid unicode character.\n\n * 400 TokenTooLong\
            \ - The provided token is too long.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 404 AssociationNotFound - This SQL Server\
            \ is not associated with any NSP\n\n * 409 CannotCancelOperation - The\
            \ management operation is in a state that cannot be cancelled.\n\n * 409\
            \ OperationCancelled - The operation has been cancelled by user.\n\n *\
            \ 409 OperationInterrupted - The operation on the resource could not be\
            \ completed because it was interrupted by another operation on the same\
            \ resource.\n\n * 409 OnlyOneAssociationPerServer - A SQL Server may only\
            \ be associated with one NSP\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    NetworkSecurityPerimeterConfiguration:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
            networkSecurityPerimeter:
              type: object
              properties:
                id:
                  type: string
                perimeterGuid:
                  type: string
                location:
                  type: string
            resourceAssociation:
              type: object
              properties:
                name:
                  type: string
                accessMode:
                  type: string
            profile:
              type: object
              properties:
                name:
                  type: string
                accessRulesVersion:
                  type: string
                accessRules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      properties:
                        type: object
                        properties:
                          direction:
                            type: string
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                          fullyQualifiedDomainNames:
                            type: array
                            items:
                              type: string
                          subscriptions:
                            type: array
                            items:
                              type: string
                          networkSecurityPerimeters:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                perimeterGuid:
                                  type: string
                                location:
                                  type: string
                          serviceTags:
                            type: array
                            items:
                              type: string
                  x-ms-identifiers: []
            provisioningIssues:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  properties:
                    type: object
                    properties:
                      issueType:
                        type: string
                      severity:
                        type: string
                      description:
                        type: string
                      suggestedResourceIds:
                        type: array
                        items:
                          type: string
                      suggestedAccessRules:
                        type: array
                        items:
                          type: string
              x-ms-identifiers: []
      description: ARM resource.
      x-ms-azure-resource: true
    NetworkSecurityPerimeterConfigurationListResult:
      description: A list of NSP configurations for a server.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  provisioningState:
                    type: string
                    readOnly: true
                  networkSecurityPerimeter:
                    type: object
                    properties:
                      id:
                        type: string
                      perimeterGuid:
                        type: string
                      location:
                        type: string
                  resourceAssociation:
                    type: object
                    properties:
                      name:
                        type: string
                      accessMode:
                        type: string
                  profile:
                    type: object
                    properties:
                      name:
                        type: string
                      accessRulesVersion:
                        type: string
                      accessRules:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            properties:
                              type: object
                              properties:
                                direction:
                                  type: string
                                addressPrefixes:
                                  type: array
                                  items:
                                    type: string
                                fullyQualifiedDomainNames:
                                  type: array
                                  items:
                                    type: string
                                subscriptions:
                                  type: array
                                  items:
                                    type: string
                                networkSecurityPerimeters:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      perimeterGuid:
                                        type: string
                                      location:
                                        type: string
                                serviceTags:
                                  type: array
                                  items:
                                    type: string
                        x-ms-identifiers: []
                  provisioningIssues:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        properties:
                          type: object
                          properties:
                            issueType:
                              type: string
                            severity:
                              type: string
                            description:
                              type: string
                            suggestedResourceIds:
                              type: array
                              items:
                                type: string
                            suggestedAccessRules:
                              type: array
                              items:
                                type: string
                    x-ms-identifiers: []
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    NetworkSecurityPerimeterConfigurationProperties:
      description: The properties of an NSP config.
      type: object
      properties:
        provisioningState:
          type: string
          readOnly: true
        networkSecurityPerimeter:
          type: object
          properties:
            id:
              type: string
            perimeterGuid:
              type: string
            location:
              type: string
        resourceAssociation:
          type: object
          properties:
            name:
              type: string
            accessMode:
              type: string
        profile:
          type: object
          properties:
            name:
              type: string
            accessRulesVersion:
              type: string
            accessRules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  properties:
                    type: object
                    properties:
                      direction:
                        type: string
                      addressPrefixes:
                        type: array
                        items:
                          type: string
                      fullyQualifiedDomainNames:
                        type: array
                        items:
                          type: string
                      subscriptions:
                        type: array
                        items:
                          type: string
                      networkSecurityPerimeters:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            perimeterGuid:
                              type: string
                            location:
                              type: string
                      serviceTags:
                        type: array
                        items:
                          type: string
              x-ms-identifiers: []
        provisioningIssues:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              properties:
                type: object
                properties:
                  issueType:
                    type: string
                  severity:
                    type: string
                  description:
                    type: string
                  suggestedResourceIds:
                    type: array
                    items:
                      type: string
                  suggestedAccessRules:
                    type: array
                    items:
                      type: string
          x-ms-identifiers: []
    NSPConfigAccessRule:
      type: object
      properties:
        name:
          type: string
        properties:
          type: object
          properties:
            direction:
              type: string
            addressPrefixes:
              type: array
              items:
                type: string
            fullyQualifiedDomainNames:
              type: array
              items:
                type: string
            subscriptions:
              type: array
              items:
                type: string
            networkSecurityPerimeters:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  perimeterGuid:
                    type: string
                  location:
                    type: string
            serviceTags:
              type: array
              items:
                type: string
    NSPConfigAccessRuleProperties:
      type: object
      properties:
        direction:
          type: string
        addressPrefixes:
          type: array
          items:
            type: string
        fullyQualifiedDomainNames:
          type: array
          items:
            type: string
        subscriptions:
          type: array
          items:
            type: string
        networkSecurityPerimeters:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              perimeterGuid:
                type: string
              location:
                type: string
        serviceTags:
          type: array
          items:
            type: string
    NSPConfigAssociation:
      type: object
      properties:
        name:
          type: string
        accessMode:
          type: string
    NSPConfigNetworkSecurityPerimeterRule:
      type: object
      properties:
        id:
          type: string
        perimeterGuid:
          type: string
        location:
          type: string
    NSPConfigPerimeter:
      type: object
      properties:
        id:
          type: string
        perimeterGuid:
          type: string
        location:
          type: string
    NSPConfigProfile:
      type: object
      properties:
        name:
          type: string
        accessRulesVersion:
          type: string
        accessRules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              properties:
                type: object
                properties:
                  direction:
                    type: string
                  addressPrefixes:
                    type: array
                    items:
                      type: string
                  fullyQualifiedDomainNames:
                    type: array
                    items:
                      type: string
                  subscriptions:
                    type: array
                    items:
                      type: string
                  networkSecurityPerimeters:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        perimeterGuid:
                          type: string
                        location:
                          type: string
                  serviceTags:
                    type: array
                    items:
                      type: string
          x-ms-identifiers: []
    NSPProvisioningIssue:
      type: object
      properties:
        name:
          type: string
        properties:
          type: object
          properties:
            issueType:
              type: string
            severity:
              type: string
            description:
              type: string
            suggestedResourceIds:
              type: array
              items:
                type: string
            suggestedAccessRules:
              type: array
              items:
                type: string
    NSPProvisioningIssueProperties:
      type: object
      properties:
        issueType:
          type: string
        severity:
          type: string
        description:
          type: string
        suggestedResourceIds:
          type: array
          items:
            type: string
        suggestedAccessRules:
          type: array
          items:
            type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
