openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Sql/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available SQL Rest API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved operations.
          content:
            application/json:
              schema:
                description: Result of the request to list SQL operations.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      description: SQL REST API operation definition.
                      type: object
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object.
                          type: string
                          readOnly: true
                        display:
                          description: The localized display information for this
                            particular operation / action.
                          readOnly: true
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name.
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly form of the resource
                                type related to this action/operation.
                              type: string
                              readOnly: true
                            operation:
                              description: The localized friendly name for the operation.
                              type: string
                              readOnly: true
                            description:
                              description: The localized friendly description for
                                the operation.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation.
                          enum:
                          - user
                          - system
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: OperationOrigin
                            modelAsString: true
                        properties:
                          description: Additional descriptions for the operation.
                          type: object
                          additionalProperties:
                            type: object
                          readOnly: true
                          x-ms-client-flatten: false
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Operation:
      description: SQL REST API operation definition.
      type: object
      properties:
        name:
          description: The name of the operation being performed on this particular
            object.
          type: string
          readOnly: true
        display:
          description: The localized display information for this particular operation
            / action.
          readOnly: true
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name.
              type: string
              readOnly: true
            resource:
              description: The localized friendly form of the resource type related
                to this action/operation.
              type: string
              readOnly: true
            operation:
              description: The localized friendly name for the operation.
              type: string
              readOnly: true
            description:
              description: The localized friendly description for the operation.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation.
          enum:
          - user
          - system
          type: string
          readOnly: true
          x-ms-enum:
            name: OperationOrigin
            modelAsString: true
        properties:
          description: Additional descriptions for the operation.
          type: object
          additionalProperties:
            type: object
          readOnly: true
          x-ms-client-flatten: false
    OperationDisplay:
      description: Display metadata associated with the operation.
      type: object
      properties:
        provider:
          description: The localized friendly form of the resource provider name.
          type: string
          readOnly: true
        resource:
          description: The localized friendly form of the resource type related to
            this action/operation.
          type: string
          readOnly: true
        operation:
          description: The localized friendly name for the operation.
          type: string
          readOnly: true
        description:
          description: The localized friendly description for the operation.
          type: string
          readOnly: true
    OperationListResult:
      description: Result of the request to list SQL operations.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            description: SQL REST API operation definition.
            type: object
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object.
                type: string
                readOnly: true
              display:
                description: The localized display information for this particular
                  operation / action.
                readOnly: true
                type: object
                properties:
                  provider:
                    description: The localized friendly form of the resource provider
                      name.
                    type: string
                    readOnly: true
                  resource:
                    description: The localized friendly form of the resource type
                      related to this action/operation.
                    type: string
                    readOnly: true
                  operation:
                    description: The localized friendly name for the operation.
                    type: string
                    readOnly: true
                  description:
                    description: The localized friendly description for the operation.
                    type: string
                    readOnly: true
              origin:
                description: The intended executor of the operation.
                enum:
                - user
                - system
                type: string
                readOnly: true
                x-ms-enum:
                  name: OperationOrigin
                  modelAsString: true
              properties:
                description: Additional descriptions for the operation.
                type: object
                additionalProperties:
                  type: object
                readOnly: true
                x-ms-client-flatten: false
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
