openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases
  : get:
      tags:
      - RecoverableDatabases
      description: Gets a list of recoverable databases.
      operationId: RecoverableDatabases_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of recoverable databases.
          content:
            application/json:
              schema:
                description: A list of recoverable databases.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            edition:
                              description: The edition of the database.
                              type: string
                              readOnly: true
                            serviceLevelObjective:
                              description: The service level objective name of the
                                database.
                              type: string
                              readOnly: true
                            elasticPoolName:
                              description: The elastic pool name of the database
                              type: string
                              readOnly: true
                            lastAvailableBackupDate:
                              format: date-time
                              description: The last available backup date.
                              type: string
                              readOnly: true
                            keys:
                              description: The resource ids of the user assigned identities
                                to use
                              type: object
                              additionalProperties:
                                description: Database level key used for encryption
                                  at rest.
                                type: object
                                properties:
                                  type:
                                    description: The database key type. Only supported
                                      value is 'AzureKeyVault'.
                                    enum:
                                    - AzureKeyVault
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: DatabaseKeyType
                                      modelAsString: true
                                  thumbprint:
                                    description: Thumbprint of the database key.
                                    type: string
                                    readOnly: true
                                  creationDate:
                                    format: date-time
                                    description: The database key creation date.
                                    type: string
                                    readOnly: true
                                  subregion:
                                    description: Subregion of the server key.
                                    type: string
                                    readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 SubscriptionNotFound - The requested subscription\
            \ was not found.\n\n * 429 SubscriptionTooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}
  : get:
      tags:
      - RecoverableDatabases
      description: Gets a recoverable database.
      operationId: RecoverableDatabases_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $expand
        in: query
        description: The child resources to include in the response.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified recoverable database.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      edition:
                        description: The edition of the database.
                        type: string
                        readOnly: true
                      serviceLevelObjective:
                        description: The service level objective name of the database.
                        type: string
                        readOnly: true
                      elasticPoolName:
                        description: The elastic pool name of the database
                        type: string
                        readOnly: true
                      lastAvailableBackupDate:
                        format: date-time
                        description: The last available backup date.
                        type: string
                        readOnly: true
                      keys:
                        description: The resource ids of the user assigned identities
                          to use
                        type: object
                        additionalProperties:
                          description: Database level key used for encryption at rest.
                          type: object
                          properties:
                            type:
                              description: The database key type. Only supported value
                                is 'AzureKeyVault'.
                              enum:
                              - AzureKeyVault
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: DatabaseKeyType
                                modelAsString: true
                            thumbprint:
                              description: Thumbprint of the database key.
                              type: string
                              readOnly: true
                            creationDate:
                              format: date-time
                              description: The database key creation date.
                              type: string
                              readOnly: true
                            subregion:
                              description: Subregion of the server key.
                              type: string
                              readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidRecoverableDatabaseId\
            \ - Invalid recoverable database identifier.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 SubscriptionNotFound - The requested subscription\
            \ was not found.\n\n * 429 SubscriptionTooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-odata: '#/components/schemas/RecoverableDatabase'
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DatabaseKey:
      description: Database level key used for encryption at rest.
      type: object
      properties:
        type:
          description: The database key type. Only supported value is 'AzureKeyVault'.
          enum:
          - AzureKeyVault
          type: string
          readOnly: true
          x-ms-enum:
            name: DatabaseKeyType
            modelAsString: true
        thumbprint:
          description: Thumbprint of the database key.
          type: string
          readOnly: true
        creationDate:
          format: date-time
          description: The database key creation date.
          type: string
          readOnly: true
        subregion:
          description: Subregion of the server key.
          type: string
          readOnly: true
    RecoverableDatabase:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            edition:
              description: The edition of the database.
              type: string
              readOnly: true
            serviceLevelObjective:
              description: The service level objective name of the database.
              type: string
              readOnly: true
            elasticPoolName:
              description: The elastic pool name of the database
              type: string
              readOnly: true
            lastAvailableBackupDate:
              format: date-time
              description: The last available backup date.
              type: string
              readOnly: true
            keys:
              description: The resource ids of the user assigned identities to use
              type: object
              additionalProperties:
                description: Database level key used for encryption at rest.
                type: object
                properties:
                  type:
                    description: The database key type. Only supported value is 'AzureKeyVault'.
                    enum:
                    - AzureKeyVault
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: DatabaseKeyType
                      modelAsString: true
                  thumbprint:
                    description: Thumbprint of the database key.
                    type: string
                    readOnly: true
                  creationDate:
                    format: date-time
                    description: The database key creation date.
                    type: string
                    readOnly: true
                  subregion:
                    description: Subregion of the server key.
                    type: string
                    readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    RecoverableDatabaseListResult:
      description: A list of recoverable databases.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  edition:
                    description: The edition of the database.
                    type: string
                    readOnly: true
                  serviceLevelObjective:
                    description: The service level objective name of the database.
                    type: string
                    readOnly: true
                  elasticPoolName:
                    description: The elastic pool name of the database
                    type: string
                    readOnly: true
                  lastAvailableBackupDate:
                    format: date-time
                    description: The last available backup date.
                    type: string
                    readOnly: true
                  keys:
                    description: The resource ids of the user assigned identities
                      to use
                    type: object
                    additionalProperties:
                      description: Database level key used for encryption at rest.
                      type: object
                      properties:
                        type:
                          description: The database key type. Only supported value
                            is 'AzureKeyVault'.
                          enum:
                          - AzureKeyVault
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: DatabaseKeyType
                            modelAsString: true
                        thumbprint:
                          description: Thumbprint of the database key.
                          type: string
                          readOnly: true
                        creationDate:
                          format: date-time
                          description: The database key creation date.
                          type: string
                          readOnly: true
                        subregion:
                          description: Subregion of the server key.
                          type: string
                          readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    RecoverableDatabaseProperties:
      description: The recoverable database's properties.
      type: object
      properties:
        edition:
          description: The edition of the database.
          type: string
          readOnly: true
        serviceLevelObjective:
          description: The service level objective name of the database.
          type: string
          readOnly: true
        elasticPoolName:
          description: The elastic pool name of the database
          type: string
          readOnly: true
        lastAvailableBackupDate:
          format: date-time
          description: The last available backup date.
          type: string
          readOnly: true
        keys:
          description: The resource ids of the user assigned identities to use
          type: object
          additionalProperties:
            description: Database level key used for encryption at rest.
            type: object
            properties:
              type:
                description: The database key type. Only supported value is 'AzureKeyVault'.
                enum:
                - AzureKeyVault
                type: string
                readOnly: true
                x-ms-enum:
                  name: DatabaseKeyType
                  modelAsString: true
              thumbprint:
                description: Thumbprint of the database key.
                type: string
                readOnly: true
              creationDate:
                format: date-time
                description: The database key creation date.
                type: string
                readOnly: true
              subregion:
                description: Subregion of the server key.
                type: string
                readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
