openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/recoverableDatabases
  : get:
      tags:
      - RecoverableManagedDatabases
      description: Gets a list of recoverable managed databases.
      operationId: RecoverableManagedDatabases_ListByInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of recoverable managed databases.
          content:
            application/json:
              schema:
                description: A list of recoverable managed databases.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            lastAvailableBackupDate:
                              description: The last available backup date.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 ManagementServiceManagedServerDisabled\
            \ - Operation failed since Managed Instance '{0}' is disabled. Please\
            \ enable Managed Instance and try again.\n\n * 400 MiGeoRestoreWithWrongBackupStorageRedundancy\
            \ - Geo-Restore is not allowed for managed instances with LRS/ZRS backup\
            \ storage redundancy.\n\n * 400 LastBackupNameHasNewline - Please do not\
            \ use forbidden characters ('\\n', '\\r') in lastBackupName.\n\n * 400\
            \ LastBackupNameHasNonAsciiCharacter - The operation was aborted because\
            \ the 'LastBackupName' parameter contains invalid characters. Only ASCII\
            \ characters are allowed.\n\n * 400 ProvisioningDisabled - Displays error\
            \ message from resources operation authorizer as is, without changes\n\
            \n * 400 LRSCutoverDatabaseDoesNotExist - The operation was aborted because\
            \ the database name specified in the request doesn't match any database\
            \ name on the specified server.\n\n * 400 LRSCutoverDatabaseNotInRestoringState\
            \ - The operation was aborted because the specified database is not in\
            \ restoring state.\n\n * 400 LRSCutoverDatabaseAlreadyRestored - The operation\
            \ was aborted because the specified database was already restored.\n\n\
            \ * 400 LRSCutoverAlreadyInitiated - The operation was aborted because\
            \ a cutover for the specified database is already in progress.\n\n * 400\
            \ ManagementServiceFeatureDisabled - User attempted to use a feature which\
            \ is disabled.\n\n * 400 AadOnlyAuthenticationIsEnabled - Azure Active\
            \ Directory Only Authentication is enabled. Please contact your system\
            \ administrator.\n\n * 400 UpdatingInstanceAndBackupRedundancy - Instance\
            \ zone redundancy and backup storage redundancy cannot be updated in the\
            \ same request.\n\n * 400 DeleteOfManagedInstanceIsDisabled - Delete operation\
            \ of managed instance is disabled.\n\n * 400 RequestCantLandOnPaaSv2Platform\
            \ - Request needs to land on PaaSv2 platform but PaaSv2 is not enabled.\n\
            \n * 400 CustomMaintenanceWindowIsDisabled - Custom maintenance window\
            \ is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled -\
            \ Delete of virtual cluster with version 2 is not enabled.\n\n * 400 DeleteOfVirtualClusterIsDisabled\
            \ - Delete of virtual cluster is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of DNS records\
            \ on virtual cluster is not enabled.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 409 MiCreateFailedNonDelegatedSubnet - User tried\
            \ to deploy Managed Instance or Managed Instance pool in subnet that is\
            \ not delegated to Microsoft.Sql/managedInstances.\n\n * 409 InstancePoolBusy\
            \ - An instance pool is busy with another ongoing operation\n\n * 409\
            \ ConflictingManagedInstanceOperation - An operation is currently in progress\
            \ for the managed instance.\n\n * 409 BackupRedundancyUpdateAndInstanceRedundancyConflict\
            \ - The instance is multi-az but backup storage is being updated from\
            \ zone redundant to non-zone redundant.\n\n * 409 InstanceRedundancyUpdateWhileBackupRedundancyUpdateInProgress\
            \ - Cannot update instance redundancy because backup storage redundancy\
            \ update is in progress.\n\n * 409 InstanceRedundancyUpdateAndBackupRedundancyConflict\
            \ - The backup storage is non-zone redundant but instance redundancy is\
            \ being updated to zone redundant.\n\n * 409 BackupRedundancyUpdateConflict\
            \ - Cannot update backup storage redundancy because a backup storage redundancy\
            \ update is already in progress.\n\n * 409 MiDropFailedOnAuthLocks - User\
            \ tried to drop last Managed Instance in subnet that has Lock applied\
            \ on resource(s).\n\n * 412 InstanceNotReadyForBackupRedundancyUpdate\
            \ - Cannot update backup storage redundancy because the instance is not\
            \ ready.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 504 RequestTimeout - Service request exceeded\
            \ the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/recoverableDatabases/{recoverableDatabaseName}
  : get:
      tags:
      - RecoverableManagedDatabases
      description: Gets a recoverable managed database.
      operationId: RecoverableManagedDatabases_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: recoverableDatabaseName
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified recoverable managed database.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      lastAvailableBackupDate:
                        description: The last available backup date.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidRecoverableDatabaseId\
            \ - Invalid recoverable database identifier.\n\n * 400 ManagementServiceManagedServerDisabled\
            \ - Operation failed since Managed Instance '{0}' is disabled. Please\
            \ enable Managed Instance and try again.\n\n * 400 MiGeoRestoreWithWrongBackupStorageRedundancy\
            \ - Geo-Restore is not allowed for managed instances with LRS/ZRS backup\
            \ storage redundancy.\n\n * 400 LastBackupNameHasNewline - Please do not\
            \ use forbidden characters ('\\n', '\\r') in lastBackupName.\n\n * 400\
            \ LastBackupNameHasNonAsciiCharacter - The operation was aborted because\
            \ the 'LastBackupName' parameter contains invalid characters. Only ASCII\
            \ characters are allowed.\n\n * 400 ProvisioningDisabled - Displays error\
            \ message from resources operation authorizer as is, without changes\n\
            \n * 400 LRSCutoverDatabaseDoesNotExist - The operation was aborted because\
            \ the database name specified in the request doesn't match any database\
            \ name on the specified server.\n\n * 400 LRSCutoverDatabaseNotInRestoringState\
            \ - The operation was aborted because the specified database is not in\
            \ restoring state.\n\n * 400 LRSCutoverDatabaseAlreadyRestored - The operation\
            \ was aborted because the specified database was already restored.\n\n\
            \ * 400 LRSCutoverAlreadyInitiated - The operation was aborted because\
            \ a cutover for the specified database is already in progress.\n\n * 400\
            \ ManagementServiceFeatureDisabled - User attempted to use a feature which\
            \ is disabled.\n\n * 400 AadOnlyAuthenticationIsEnabled - Azure Active\
            \ Directory Only Authentication is enabled. Please contact your system\
            \ administrator.\n\n * 400 UpdatingInstanceAndBackupRedundancy - Instance\
            \ zone redundancy and backup storage redundancy cannot be updated in the\
            \ same request.\n\n * 400 DeleteOfManagedInstanceIsDisabled - Delete operation\
            \ of managed instance is disabled.\n\n * 400 RequestCantLandOnPaaSv2Platform\
            \ - Request needs to land on PaaSv2 platform but PaaSv2 is not enabled.\n\
            \n * 400 CustomMaintenanceWindowIsDisabled - Custom maintenance window\
            \ is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled -\
            \ Delete of virtual cluster with version 2 is not enabled.\n\n * 400 DeleteOfVirtualClusterIsDisabled\
            \ - Delete of virtual cluster is not enabled.\n\n * 400 MICantBeMovedFromOrToInstancePool\
            \ - Existing managed instance can't be moved to managed instance pool.\n\
            \n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of DNS records\
            \ on virtual cluster is not enabled.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 409 MiCreateFailedNonDelegatedSubnet - User tried\
            \ to deploy Managed Instance or Managed Instance pool in subnet that is\
            \ not delegated to Microsoft.Sql/managedInstances.\n\n * 409 InstancePoolBusy\
            \ - An instance pool is busy with another ongoing operation\n\n * 409\
            \ ConflictingManagedInstanceOperation - An operation is currently in progress\
            \ for the managed instance.\n\n * 409 BackupRedundancyUpdateAndInstanceRedundancyConflict\
            \ - The instance is multi-az but backup storage is being updated from\
            \ zone redundant to non-zone redundant.\n\n * 409 InstanceRedundancyUpdateWhileBackupRedundancyUpdateInProgress\
            \ - Cannot update instance redundancy because backup storage redundancy\
            \ update is in progress.\n\n * 409 InstanceRedundancyUpdateAndBackupRedundancyConflict\
            \ - The backup storage is non-zone redundant but instance redundancy is\
            \ being updated to zone redundant.\n\n * 409 BackupRedundancyUpdateConflict\
            \ - Cannot update backup storage redundancy because a backup storage redundancy\
            \ update is already in progress.\n\n * 409 MiDropFailedOnAuthLocks - User\
            \ tried to drop last Managed Instance in subnet that has Lock applied\
            \ on resource(s).\n\n * 412 InstanceNotReadyForBackupRedundancyUpdate\
            \ - Cannot update backup storage redundancy because the instance is not\
            \ ready.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 504 RequestTimeout - Service request exceeded\
            \ the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    RecoverableManagedDatabase:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            lastAvailableBackupDate:
              description: The last available backup date.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    RecoverableManagedDatabaseListResult:
      description: A list of recoverable managed databases.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  lastAvailableBackupDate:
                    description: The last available backup date.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    RecoverableManagedDatabaseProperties:
      description: The recoverable managed database's properties.
      type: object
      properties:
        lastAvailableBackupDate:
          description: The last available backup date.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
