openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks
  : get:
      tags:
      - ReplicationLinks
      description: Gets a list of replication links on database.
      operationId: ReplicationLinks_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of replication links.
          content:
            application/json:
              schema:
                description: A list of replication links.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            partnerServer:
                              description: Resource partner server.
                              type: string
                              readOnly: true
                            partnerDatabase:
                              description: Resource partner database.
                              type: string
                              readOnly: true
                            partnerDatabaseId:
                              description: Resource partner database Id.
                              type: string
                              readOnly: true
                            partnerLocation:
                              description: Resource partner location.
                              type: string
                              readOnly: true
                            role:
                              description: Local replication role.
                              enum:
                              - Primary
                              - Secondary
                              - NonReadableSecondary
                              - Source
                              - Copy
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ReplicationRole
                                modelAsString: false
                            partnerRole:
                              description: Partner replication role.
                              enum:
                              - Primary
                              - Secondary
                              - NonReadableSecondary
                              - Source
                              - Copy
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ReplicationRole
                                modelAsString: false
                            replicationMode:
                              description: Replication mode.
                              type: string
                              readOnly: true
                            startTime:
                              format: date-time
                              description: Time at which the link was created.
                              type: string
                              readOnly: true
                            percentComplete:
                              format: int32
                              description: Seeding completion percentage for the link.
                              type: integer
                              readOnly: true
                            replicationState:
                              description: Replication state (PENDING, SEEDING, CATCHUP,
                                SUSPENDED).
                              enum:
                              - PENDING
                              - SEEDING
                              - CATCH_UP
                              - SUSPENDED
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ReplicationState
                                modelAsString: true
                            isTerminationAllowed:
                              description: Whether the user is currently allowed to
                                terminate the link.
                              type: boolean
                              readOnly: true
                            linkType:
                              description: Link type (GEO, NAMED, STANDBY). Update
                                operation does not support NAMED.
                              enum:
                              - GEO
                              - NAMED
                              - STANDBY
                              type: string
                              x-ms-enum:
                                name: ReplicationLinkType
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 ManagedInstanceStoppingOrStopped - Conflicting\
            \ operation submitted while instance is in stopping/stopped state\n\n\
            \ * 400 ManagedInstanceStarting - Conflicting operation submitted while\
            \ instance is in starting state\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}
  : get:
      tags:
      - ReplicationLinks
      description: Gets a replication link.
      operationId: ReplicationLinks_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        description: The name of the replication link.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified replication link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      partnerServer:
                        description: Resource partner server.
                        type: string
                        readOnly: true
                      partnerDatabase:
                        description: Resource partner database.
                        type: string
                        readOnly: true
                      partnerDatabaseId:
                        description: Resource partner database Id.
                        type: string
                        readOnly: true
                      partnerLocation:
                        description: Resource partner location.
                        type: string
                        readOnly: true
                      role:
                        description: Local replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      partnerRole:
                        description: Partner replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      replicationMode:
                        description: Replication mode.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: Time at which the link was created.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: Seeding completion percentage for the link.
                        type: integer
                        readOnly: true
                      replicationState:
                        description: Replication state (PENDING, SEEDING, CATCHUP,
                          SUSPENDED).
                        enum:
                        - PENDING
                        - SEEDING
                        - CATCH_UP
                        - SUSPENDED
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationState
                          modelAsString: true
                      isTerminationAllowed:
                        description: Whether the user is currently allowed to terminate
                          the link.
                        type: boolean
                        readOnly: true
                      linkType:
                        description: Link type (GEO, NAMED, STANDBY). Update operation
                          does not support NAMED.
                        enum:
                        - GEO
                        - NAMED
                        - STANDBY
                        type: string
                        x-ms-enum:
                          name: ReplicationLinkType
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 ManagedInstanceStoppingOrStopped - Conflicting\
            \ operation submitted while instance is in stopping/stopped state\n\n\
            \ * 400 ManagedInstanceStarting - Conflicting operation submitted while\
            \ instance is in starting state\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ReplicationLinks
      description: Updates the replication link type.
      operationId: ReplicationLinks_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    partnerServer:
                      description: Resource partner server.
                      type: string
                      readOnly: true
                    partnerDatabase:
                      description: Resource partner database.
                      type: string
                      readOnly: true
                    partnerDatabaseId:
                      description: Resource partner database Id.
                      type: string
                      readOnly: true
                    partnerLocation:
                      description: Resource partner location.
                      type: string
                      readOnly: true
                    role:
                      description: Local replication role.
                      enum:
                      - Primary
                      - Secondary
                      - NonReadableSecondary
                      - Source
                      - Copy
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ReplicationRole
                        modelAsString: false
                    partnerRole:
                      description: Partner replication role.
                      enum:
                      - Primary
                      - Secondary
                      - NonReadableSecondary
                      - Source
                      - Copy
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ReplicationRole
                        modelAsString: false
                    replicationMode:
                      description: Replication mode.
                      type: string
                      readOnly: true
                    startTime:
                      format: date-time
                      description: Time at which the link was created.
                      type: string
                      readOnly: true
                    percentComplete:
                      format: int32
                      description: Seeding completion percentage for the link.
                      type: integer
                      readOnly: true
                    replicationState:
                      description: Replication state (PENDING, SEEDING, CATCHUP, SUSPENDED).
                      enum:
                      - PENDING
                      - SEEDING
                      - CATCH_UP
                      - SUSPENDED
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ReplicationState
                        modelAsString: true
                    isTerminationAllowed:
                      description: Whether the user is currently allowed to terminate
                        the link.
                      type: boolean
                      readOnly: true
                    linkType:
                      description: Link type (GEO, NAMED, STANDBY). Update operation
                        does not support NAMED.
                      enum:
                      - GEO
                      - NAMED
                      - STANDBY
                      type: string
                      x-ms-enum:
                        name: ReplicationLinkType
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Successfully updated the replication link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      partnerServer:
                        description: Resource partner server.
                        type: string
                        readOnly: true
                      partnerDatabase:
                        description: Resource partner database.
                        type: string
                        readOnly: true
                      partnerDatabaseId:
                        description: Resource partner database Id.
                        type: string
                        readOnly: true
                      partnerLocation:
                        description: Resource partner location.
                        type: string
                        readOnly: true
                      role:
                        description: Local replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      partnerRole:
                        description: Partner replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      replicationMode:
                        description: Replication mode.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: Time at which the link was created.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: Seeding completion percentage for the link.
                        type: integer
                        readOnly: true
                      replicationState:
                        description: Replication state (PENDING, SEEDING, CATCHUP,
                          SUSPENDED).
                        enum:
                        - PENDING
                        - SEEDING
                        - CATCH_UP
                        - SUSPENDED
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationState
                          modelAsString: true
                      isTerminationAllowed:
                        description: Whether the user is currently allowed to terminate
                          the link.
                        type: boolean
                        readOnly: true
                      linkType:
                        description: Link type (GEO, NAMED, STANDBY). Update operation
                          does not support NAMED.
                        enum:
                        - GEO
                        - NAMED
                        - STANDBY
                        type: string
                        x-ms-enum:
                          name: ReplicationLinkType
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Update operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 InvalidIdentifier - The identifier contains NULL or an invalid\
            \ unicode character.\n\n * 400 TokenTooLong - The provided token is too\
            \ long.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 GeoReplicationDatabaseNotSecondary - The operation expects the\
            \ database to be a replication target.\n\n * 400 CannotUseTrailingWhitespacesInDatabaseName\
            \ - The database name validation failed.\n\n * 400 IncorrectReplicationLinkState\
            \ - The operation expects the database to be in an expected state on the\
            \ replication link.\n\n * 400 PlannedFailoverTimedOut - User invoked planned\
            \ failover, and it timed out while trying to contact the partner management\
            \ service.\n\n * 400 VBSEnclaveNotSupportedForGeoReplicationWithDefaultEnclave\
            \ - Configuring geo-replication is not supported for databases using different\
            \ values of the preferredEnclaveType property. The primary '{0}' database\
            \ on the '{1}' server uses the '{2}' preferredEnclaveType, whereas the\
            \ specified preferredEnclaveType for the secondary '{3}' database on the\
            \ '{4}' server is '{5}'.\n\n * 400 VBSEnclaveNotSupportedForPlannedFailoverBetweenDatabasesWithDifferentPreferredEnclaveTypes\
            \ - Planned failover between primary and secondary database with different\
            \ preferredEnclaveType is not supported for Virtualization-based security\
            \ (VBS) enclaves.\n\n * 400 CannotUseReservedDatabaseName - Cannot use\
            \ reserved database name in this operation.\n\n * 400 InvalidIdentifier\
            \ - The identifier contains NULL or an invalid unicode character.\n\n\
            \ * 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 ResourceNotFound - The requested resource was not found.\n\n *\
            \ 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 409 UpdateSloInProgress - User tried to initiate\
            \ an incompatible operation while a SLO update was in progress.\n\n *\
            \ 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication\
            \ operation was performed on a database that is not in a replication relationship.\n\
            \n * 409 ConflictingSystemOperationInProgress - A system maintenance operation\
            \ is in progress on the database and further operations need to wait until\
            \ it is completed.\n\n * 409 DuplicateGeoDrRelation - The databases are\
            \ already in a replication relation. This is a duplicate request.\n\n\
            \ * 409 GeoReplicationCannotBecomePrimaryDuringUndo - User attempted to\
            \ failover or force-terminate a geo-link while the secondary is in a state\
            \ where it may not be physically consistent and so cannot enter the primary\
            \ role.\n\n * 409 ManagementServiceDatabaseBusy - Database '{0}' is busy\
            \ with another operation. Please try your operation later.\n\n * 409 FailoverGroupAlreadySetup\
            \ - The operation cannot be performed because the geo-replication link\
            \ is part of a Failover Group. You must remove the database from the group\
            \ in order to individually terminate or failover.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - ReplicationLinks
      description: Deletes the replication link.
      operationId: ReplicationLinks_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted.
        '202':
          description: Deletion operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 InvalidIdentifier - The identifier contains NULL or an invalid\
            \ unicode character.\n\n * 400 TokenTooLong - The provided token is too\
            \ long.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 GeoReplicationDatabaseNotSecondary - The operation expects the\
            \ database to be a replication target.\n\n * 400 CannotUseTrailingWhitespacesInDatabaseName\
            \ - The database name validation failed.\n\n * 400 IncorrectReplicationLinkState\
            \ - The operation expects the database to be in an expected state on the\
            \ replication link.\n\n * 400 PlannedFailoverTimedOut - User invoked planned\
            \ failover, and it timed out while trying to contact the partner management\
            \ service.\n\n * 400 VBSEnclaveNotSupportedForGeoReplicationWithDefaultEnclave\
            \ - Configuring geo-replication is not supported for databases using different\
            \ values of the preferredEnclaveType property. The primary '{0}' database\
            \ on the '{1}' server uses the '{2}' preferredEnclaveType, whereas the\
            \ specified preferredEnclaveType for the secondary '{3}' database on the\
            \ '{4}' server is '{5}'.\n\n * 400 VBSEnclaveNotSupportedForPlannedFailoverBetweenDatabasesWithDifferentPreferredEnclaveTypes\
            \ - Planned failover between primary and secondary database with different\
            \ preferredEnclaveType is not supported for Virtualization-based security\
            \ (VBS) enclaves.\n\n * 400 CannotUseReservedDatabaseName - Cannot use\
            \ reserved database name in this operation.\n\n * 400 InvalidIdentifier\
            \ - The identifier contains NULL or an invalid unicode character.\n\n\
            \ * 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 ResourceNotFound - The requested resource was not found.\n\n *\
            \ 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 409 UpdateSloInProgress - User tried to initiate\
            \ an incompatible operation while a SLO update was in progress.\n\n *\
            \ 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication\
            \ operation was performed on a database that is not in a replication relationship.\n\
            \n * 409 ConflictingSystemOperationInProgress - A system maintenance operation\
            \ is in progress on the database and further operations need to wait until\
            \ it is completed.\n\n * 409 DuplicateGeoDrRelation - The databases are\
            \ already in a replication relation. This is a duplicate request.\n\n\
            \ * 409 GeoReplicationCannotBecomePrimaryDuringUndo - User attempted to\
            \ failover or force-terminate a geo-link while the secondary is in a state\
            \ where it may not be physically consistent and so cannot enter the primary\
            \ role.\n\n * 409 ManagementServiceDatabaseBusy - Database '{0}' is busy\
            \ with another operation. Please try your operation later.\n\n * 409 FailoverGroupAlreadySetup\
            \ - The operation cannot be performed because the geo-replication link\
            \ is part of a Failover Group. You must remove the database from the group\
            \ in order to individually terminate or failover.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - ReplicationLinks
      description: Updates the replication link type.
      operationId: ReplicationLinks_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    linkType:
                      description: Link type (GEO, NAMED, STANDBY). Update operation
                        does not support NAMED.
                      enum:
                      - GEO
                      - NAMED
                      - STANDBY
                      type: string
                      x-ms-enum:
                        name: ReplicationLinkType
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        required: true
      responses:
        '200':
          description: Successfully updated the replication link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      partnerServer:
                        description: Resource partner server.
                        type: string
                        readOnly: true
                      partnerDatabase:
                        description: Resource partner database.
                        type: string
                        readOnly: true
                      partnerDatabaseId:
                        description: Resource partner database Id.
                        type: string
                        readOnly: true
                      partnerLocation:
                        description: Resource partner location.
                        type: string
                        readOnly: true
                      role:
                        description: Local replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      partnerRole:
                        description: Partner replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      replicationMode:
                        description: Replication mode.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: Time at which the link was created.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: Seeding completion percentage for the link.
                        type: integer
                        readOnly: true
                      replicationState:
                        description: Replication state (PENDING, SEEDING, CATCHUP,
                          SUSPENDED).
                        enum:
                        - PENDING
                        - SEEDING
                        - CATCH_UP
                        - SUSPENDED
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationState
                          modelAsString: true
                      isTerminationAllowed:
                        description: Whether the user is currently allowed to terminate
                          the link.
                        type: boolean
                        readOnly: true
                      linkType:
                        description: Link type (GEO, NAMED, STANDBY). Update operation
                          does not support NAMED.
                        enum:
                        - GEO
                        - NAMED
                        - STANDBY
                        type: string
                        x-ms-enum:
                          name: ReplicationLinkType
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Update operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 InvalidIdentifier - The identifier contains NULL or an invalid\
            \ unicode character.\n\n * 400 TokenTooLong - The provided token is too\
            \ long.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 GeoReplicationDatabaseNotSecondary - The operation expects the\
            \ database to be a replication target.\n\n * 400 CannotUseTrailingWhitespacesInDatabaseName\
            \ - The database name validation failed.\n\n * 400 IncorrectReplicationLinkState\
            \ - The operation expects the database to be in an expected state on the\
            \ replication link.\n\n * 400 PlannedFailoverTimedOut - User invoked planned\
            \ failover, and it timed out while trying to contact the partner management\
            \ service.\n\n * 400 VBSEnclaveNotSupportedForGeoReplicationWithDefaultEnclave\
            \ - Configuring geo-replication is not supported for databases using different\
            \ values of the preferredEnclaveType property. The primary '{0}' database\
            \ on the '{1}' server uses the '{2}' preferredEnclaveType, whereas the\
            \ specified preferredEnclaveType for the secondary '{3}' database on the\
            \ '{4}' server is '{5}'.\n\n * 400 VBSEnclaveNotSupportedForPlannedFailoverBetweenDatabasesWithDifferentPreferredEnclaveTypes\
            \ - Planned failover between primary and secondary database with different\
            \ preferredEnclaveType is not supported for Virtualization-based security\
            \ (VBS) enclaves.\n\n * 400 CannotUseReservedDatabaseName - Cannot use\
            \ reserved database name in this operation.\n\n * 400 InvalidIdentifier\
            \ - The identifier contains NULL or an invalid unicode character.\n\n\
            \ * 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 ResourceNotFound - The requested resource was not found.\n\n *\
            \ 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 409 UpdateSloInProgress - User tried to initiate\
            \ an incompatible operation while a SLO update was in progress.\n\n *\
            \ 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication\
            \ operation was performed on a database that is not in a replication relationship.\n\
            \n * 409 ConflictingSystemOperationInProgress - A system maintenance operation\
            \ is in progress on the database and further operations need to wait until\
            \ it is completed.\n\n * 409 DuplicateGeoDrRelation - The databases are\
            \ already in a replication relation. This is a duplicate request.\n\n\
            \ * 409 GeoReplicationCannotBecomePrimaryDuringUndo - User attempted to\
            \ failover or force-terminate a geo-link while the secondary is in a state\
            \ where it may not be physically consistent and so cannot enter the primary\
            \ role.\n\n * 409 ManagementServiceDatabaseBusy - Database '{0}' is busy\
            \ with another operation. Please try your operation later.\n\n * 409 FailoverGroupAlreadySetup\
            \ - The operation cannot be performed because the geo-replication link\
            \ is part of a Failover Group. You must remove the database from the group\
            \ in order to individually terminate or failover.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover
  : post:
      tags:
      - ReplicationLinks
      description: Fails over from the current primary server to this server.
      operationId: ReplicationLinks_Failover
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        description: The name of the replication link.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully failed over.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      partnerServer:
                        description: Resource partner server.
                        type: string
                        readOnly: true
                      partnerDatabase:
                        description: Resource partner database.
                        type: string
                        readOnly: true
                      partnerDatabaseId:
                        description: Resource partner database Id.
                        type: string
                        readOnly: true
                      partnerLocation:
                        description: Resource partner location.
                        type: string
                        readOnly: true
                      role:
                        description: Local replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      partnerRole:
                        description: Partner replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      replicationMode:
                        description: Replication mode.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: Time at which the link was created.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: Seeding completion percentage for the link.
                        type: integer
                        readOnly: true
                      replicationState:
                        description: Replication state (PENDING, SEEDING, CATCHUP,
                          SUSPENDED).
                        enum:
                        - PENDING
                        - SEEDING
                        - CATCH_UP
                        - SUSPENDED
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationState
                          modelAsString: true
                      isTerminationAllowed:
                        description: Whether the user is currently allowed to terminate
                          the link.
                        type: boolean
                        readOnly: true
                      linkType:
                        description: Link type (GEO, NAMED, STANDBY). Update operation
                          does not support NAMED.
                        enum:
                        - GEO
                        - NAMED
                        - STANDBY
                        type: string
                        x-ms-enum:
                          name: ReplicationLinkType
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Failover operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
            \ - Replication link name should be a valid guid.\n\n * 400 GeoReplicationDatabaseNotSecondary\
            \ - The operation expects the database to be a replication target.\n\n\
            \ * 400 ReplicationLinksReplicationLinkTypeIsInvalid - The LinkType is\
            \ invalid. Valid values are STANDBY and GEO.\n\n * 400 ReplicationLinksCreateIsNotSupported\
            \ - Creation of Replication Link is not supported.\n\n * 400 LedgerNoDropLink\
            \ - Geo-replication cannot be stopped because the database has Ledger\
            \ Digest Uploads enabled. Disable Ledger Digest Uploads and retry the\
            \ operation.\n\n * 400 InvalidServerName - Invalid server name specified.\n\
            \n * 400 InvalidIdentifier - The identifier contains NULL or an invalid\
            \ unicode character.\n\n * 400 TokenTooLong - The provided token is too\
            \ long.\n\n * 400 ManagedInstanceStoppingOrStopped - Conflicting operation\
            \ submitted while instance is in stopping/stopped state\n\n * 400 ManagedInstanceStarting\
            \ - Conflicting operation submitted while instance is in starting state\n\
            \n * 400 InvalidServerName - Invalid server name specified.\n\n * 400\
            \ GeoReplicationDatabaseNotSecondary - The operation expects the database\
            \ to be a replication target.\n\n * 400 CannotUseTrailingWhitespacesInDatabaseName\
            \ - The database name validation failed.\n\n * 400 IncorrectReplicationLinkState\
            \ - The operation expects the database to be in an expected state on the\
            \ replication link.\n\n * 400 PlannedFailoverTimedOut - User invoked planned\
            \ failover, and it timed out while trying to contact the partner management\
            \ service.\n\n * 400 VBSEnclaveNotSupportedForGeoReplicationWithDefaultEnclave\
            \ - Configuring geo-replication is not supported for databases using different\
            \ values of the preferredEnclaveType property. The primary '{0}' database\
            \ on the '{1}' server uses the '{2}' preferredEnclaveType, whereas the\
            \ specified preferredEnclaveType for the secondary '{3}' database on the\
            \ '{4}' server is '{5}'.\n\n * 400 VBSEnclaveNotSupportedForPlannedFailoverBetweenDatabasesWithDifferentPreferredEnclaveTypes\
            \ - Planned failover between primary and secondary database with different\
            \ preferredEnclaveType is not supported for Virtualization-based security\
            \ (VBS) enclaves.\n\n * 400 CannotUseReservedDatabaseName - Cannot use\
            \ reserved database name in this operation.\n\n * 400 InvalidIdentifier\
            \ - The identifier contains NULL or an invalid unicode character.\n\n\
            \ * 404 OperationIdNotFound - The operation with Id does not exist.\n\n\
            \ * 404 ResourceNotFound - The requested resource was not found.\n\n *\
            \ 404 ServerNotInSubscriptionResourceGroup - Specified server does not\
            \ exist in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 OperationIdNotFound -\
            \ The operation with Id does not exist.\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 CannotCancelOperation - The management operation\
            \ is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 409 UpdateSloInProgress\
            \ - User tried to initiate an incompatible operation while a SLO update\
            \ was in progress.\n\n * 409 InvalidOperationForDatabaseNotInReplicationRelationship\
            \ - A replication operation was performed on a database that is not in\
            \ a replication relationship.\n\n * 409 ConflictingSystemOperationInProgress\
            \ - A system maintenance operation is in progress on the database and\
            \ further operations need to wait until it is completed.\n\n * 409 DuplicateGeoDrRelation\
            \ - The databases are already in a replication relation. This is a duplicate\
            \ request.\n\n * 409 GeoReplicationCannotBecomePrimaryDuringUndo - User\
            \ attempted to failover or force-terminate a geo-link while the secondary\
            \ is in a state where it may not be physically consistent and so cannot\
            \ enter the primary role.\n\n * 409 ManagementServiceDatabaseBusy - Database\
            \ '{0}' is busy with another operation. Please try your operation later.\n\
            \n * 409 FailoverGroupAlreadySetup - The operation cannot be performed\
            \ because the geo-replication link is part of a Failover Group. You must\
            \ remove the database from the group in order to individually terminate\
            \ or failover.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss
  : post:
      tags:
      - ReplicationLinks
      description: Fails over from the current primary server to this server allowing
        data loss.
      operationId: ReplicationLinks_FailoverAllowDataLoss
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: linkId
        in: path
        description: The name of the replication link.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully failed over.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      partnerServer:
                        description: Resource partner server.
                        type: string
                        readOnly: true
                      partnerDatabase:
                        description: Resource partner database.
                        type: string
                        readOnly: true
                      partnerDatabaseId:
                        description: Resource partner database Id.
                        type: string
                        readOnly: true
                      partnerLocation:
                        description: Resource partner location.
                        type: string
                        readOnly: true
                      role:
                        description: Local replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      partnerRole:
                        description: Partner replication role.
                        enum:
                        - Primary
                        - Secondary
                        - NonReadableSecondary
                        - Source
                        - Copy
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: false
                      replicationMode:
                        description: Replication mode.
                        type: string
                        readOnly: true
                      startTime:
                        format: date-time
                        description: Time at which the link was created.
                        type: string
                        readOnly: true
                      percentComplete:
                        format: int32
                        description: Seeding completion percentage for the link.
                        type: integer
                        readOnly: true
                      replicationState:
                        description: Replication state (PENDING, SEEDING, CATCHUP,
                          SUSPENDED).
                        enum:
                        - PENDING
                        - SEEDING
                        - CATCH_UP
                        - SUSPENDED
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ReplicationState
                          modelAsString: true
                      isTerminationAllowed:
                        description: Whether the user is currently allowed to terminate
                          the link.
                        type: boolean
                        readOnly: true
                      linkType:
                        description: Link type (GEO, NAMED, STANDBY). Update operation
                          does not support NAMED.
                        enum:
                        - GEO
                        - NAMED
                        - STANDBY
                        type: string
                        x-ms-enum:
                          name: ReplicationLinkType
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Failover operation is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ReplicationLinksReplicationLinkNameIsInvalid\
[...]
