openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/serverTrustGroups
  : get:
      tags:
      - ServerTrustGroups
      description: Lists a server trust group.
      operationId: ServerTrustGroups_ListByLocation
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The name of the region where the resource is located.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the server trust groups.
          content:
            application/json:
              schema:
                description: A list of server trust groups.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - groupMembers
                          - trustScopes
                          type: object
                          properties:
                            groupMembers:
                              description: Group members information for the server
                                trust group.
                              type: array
                              items:
                                description: Server info for the server trust group.
                                required:
                                - serverId
                                type: object
                                properties:
                                  serverId:
                                    description: Server Id.
                                    type: string
                            trustScopes:
                              description: Trust scope of the server trust group.
                              type: array
                              items:
                                enum:
                                - GlobalTransactions
                                - ServiceBroker
                                type: string
                                x-ms-enum:
                                  name: TrustScope
                                  modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerTrustGroupNotFound\
            \ - Server trust group with specified name does not exist.\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 406 ServerTrustGroupMemberIsBusy\
            \ - Group member '{0}' is not in a valid state and cannot perform Server\
            \ trust group operation.\n\n * 406 ServerTrustGroupInInvalidState - SQL\
            \ trust group '{0}' is busy and cannot perform requested operation.\n\n\
            \ * 406 ServerTrustGroupMemberNotFound - Group member '{0}' is not found,\
            \ therefore we cannot perform Server trust group operation."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/locations/{locationName}/serverTrustGroups/{serverTrustGroupName}
  : get:
      tags:
      - ServerTrustGroups
      description: Gets a server trust group.
      operationId: ServerTrustGroups_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The name of the region where the resource is located.
        required: true
        schema:
          type: string
      - name: serverTrustGroupName
        in: path
        description: The name of the server trust group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the the specified server trust group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - groupMembers
                    - trustScopes
                    type: object
                    properties:
                      groupMembers:
                        description: Group members information for the server trust
                          group.
                        type: array
                        items:
                          description: Server info for the server trust group.
                          required:
                          - serverId
                          type: object
                          properties:
                            serverId:
                              description: Server Id.
                              type: string
                      trustScopes:
                        description: Trust scope of the server trust group.
                        type: array
                        items:
                          enum:
                          - GlobalTransactions
                          - ServiceBroker
                          type: string
                          x-ms-enum:
                            name: TrustScope
                            modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerTrustGroupNotFound\
            \ - Server trust group with specified name does not exist.\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 406 ServerTrustGroupMemberIsBusy\
            \ - Group member '{0}' is not in a valid state and cannot perform Server\
            \ trust group operation.\n\n * 406 ServerTrustGroupInInvalidState - SQL\
            \ trust group '{0}' is busy and cannot perform requested operation.\n\n\
            \ * 406 ServerTrustGroupMemberNotFound - Group member '{0}' is not found,\
            \ therefore we cannot perform Server trust group operation."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ServerTrustGroups
      description: Creates or updates a server trust group.
      operationId: ServerTrustGroups_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The name of the region where the resource is located.
        required: true
        schema:
          type: string
      - name: serverTrustGroupName
        in: path
        description: The name of the server trust group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - groupMembers
                  - trustScopes
                  type: object
                  properties:
                    groupMembers:
                      description: Group members information for the server trust
                        group.
                      type: array
                      items:
                        description: Server info for the server trust group.
                        required:
                        - serverId
                        type: object
                        properties:
                          serverId:
                            description: Server Id.
                            type: string
                    trustScopes:
                      description: Trust scope of the server trust group.
                      type: array
                      items:
                        enum:
                        - GlobalTransactions
                        - ServiceBroker
                        type: string
                        x-ms-enum:
                          name: TrustScope
                          modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The server trust group parameters.
        required: true
      responses:
        '200':
          description: Successfully updated the server trust group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - groupMembers
                    - trustScopes
                    type: object
                    properties:
                      groupMembers:
                        description: Group members information for the server trust
                          group.
                        type: array
                        items:
                          description: Server info for the server trust group.
                          required:
                          - serverId
                          type: object
                          properties:
                            serverId:
                              description: Server Id.
                              type: string
                      trustScopes:
                        description: Trust scope of the server trust group.
                        type: array
                        items:
                          enum:
                          - GlobalTransactions
                          - ServiceBroker
                          type: string
                          x-ms-enum:
                            name: TrustScope
                            modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the server trust group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - groupMembers
                    - trustScopes
                    type: object
                    properties:
                      groupMembers:
                        description: Group members information for the server trust
                          group.
                        type: array
                        items:
                          description: Server info for the server trust group.
                          required:
                          - serverId
                          type: object
                          properties:
                            serverId:
                              description: Server Id.
                              type: string
                      trustScopes:
                        description: Trust scope of the server trust group.
                        type: array
                        items:
                          enum:
                          - GlobalTransactions
                          - ServiceBroker
                          type: string
                          x-ms-enum:
                            name: TrustScope
                            modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ServerTrustGroupCreateRequestInvalid\
            \ - The resource or resource properties in the request body is empty or\
            \ invalid\n\n * 400 ServerTrustGroupCreateRequestInvalidGroupMembers -\
            \ The group members property in the request body is empty or invalid\n\
            \n * 400 ServerTrustGroupCreateRequestInvalidGroupMembersCount - The group\
            \ members property has an invalid number of servers\n\n * 400 ServerTrustGroupCreateRequestInvalidServer\
            \ - The given serverId field in create server trust group request body\
            \ is empty or invalid\n\n * 400 ServerTrustGroupCreateRequestDuplicateServer\
            \ - One or more of the provided servers are duplicates.\n\n * 400 ServerTrustGroupCreateRequestInvalidTrustScopes\
            \ - The trust scope property in the request body is empty or invalid.\n\
            \n * 400 ServerTrustGroupCreateRequestInvalidTrustScopesValue - The trust\
            \ scope property in the request body has an invalid value.\n\n * 400 ServerTrustGroupCreateRequestInvalidGroupMembersCount2\
            \ - The group members property has an invalid number of servers\n\n *\
            \ 400 ManagedInstanceStoppingOrStopped - Conflicting operation submitted\
            \ while instance is in stopping/stopped state\n\n * 400 ManagedInstanceStarting\
            \ - Conflicting operation submitted while instance is in starting state\n\
            \n * 400 InvalidServerName - Invalid server name specified.\n\n * 400\
            \ InvalidIdentifier - The identifier contains NULL or an invalid unicode\
            \ character.\n\n * 400 TokenTooLong - The provided token is too long.\n\
            \n * 404 ServerTrustGroupNotFound - Server trust group with specified\
            \ name does not exist.\n\n * 404 OperationIdNotFound - The operation with\
            \ Id does not exist.\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 OperationIdNotFound - The operation with Id\
            \ does not exist.\n\n * 406 ServerTrustGroupMemberIsBusy - Group member\
            \ '{0}' is not in a valid state and cannot perform Server trust group\
            \ operation.\n\n * 406 ServerTrustGroupInInvalidState - SQL trust group\
            \ '{0}' is busy and cannot perform requested operation.\n\n * 406 ServerTrustGroupMemberNotFound\
            \ - Group member '{0}' is not found, therefore we cannot perform Server\
            \ trust group operation.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - ServerTrustGroups
      description: Deletes a server trust group.
      operationId: ServerTrustGroups_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: locationName
        in: path
        description: The name of the region where the resource is located.
        required: true
        schema:
          type: string
      - name: serverTrustGroupName
        in: path
        description: The name of the server trust group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the server trust group.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified server trust group does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 ServerTrustGroupCreateRequestInvalid\
            \ - The resource or resource properties in the request body is empty or\
            \ invalid\n\n * 400 ServerTrustGroupCreateRequestInvalidGroupMembers -\
            \ The group members property in the request body is empty or invalid\n\
            \n * 400 ServerTrustGroupCreateRequestInvalidGroupMembersCount - The group\
            \ members property has an invalid number of servers\n\n * 400 ServerTrustGroupCreateRequestInvalidServer\
            \ - The given serverId field in create server trust group request body\
            \ is empty or invalid\n\n * 400 ServerTrustGroupCreateRequestDuplicateServer\
            \ - One or more of the provided servers are duplicates.\n\n * 400 ServerTrustGroupCreateRequestInvalidTrustScopes\
            \ - The trust scope property in the request body is empty or invalid.\n\
            \n * 400 ServerTrustGroupCreateRequestInvalidTrustScopesValue - The trust\
            \ scope property in the request body has an invalid value.\n\n * 400 ServerTrustGroupCreateRequestInvalidGroupMembersCount2\
            \ - The group members property has an invalid number of servers\n\n *\
            \ 400 ManagedInstanceStoppingOrStopped - Conflicting operation submitted\
            \ while instance is in stopping/stopped state\n\n * 400 ManagedInstanceStarting\
            \ - Conflicting operation submitted while instance is in starting state\n\
            \n * 400 InvalidServerName - Invalid server name specified.\n\n * 400\
            \ InvalidIdentifier - The identifier contains NULL or an invalid unicode\
            \ character.\n\n * 400 TokenTooLong - The provided token is too long.\n\
            \n * 404 ServerTrustGroupNotFound - Server trust group with specified\
            \ name does not exist.\n\n * 404 OperationIdNotFound - The operation with\
            \ Id does not exist.\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 OperationIdNotFound - The operation with Id\
            \ does not exist.\n\n * 406 ServerTrustGroupMemberIsBusy - Group member\
            \ '{0}' is not in a valid state and cannot perform Server trust group\
            \ operation.\n\n * 406 ServerTrustGroupInInvalidState - SQL trust group\
            \ '{0}' is busy and cannot perform requested operation.\n\n * 406 ServerTrustGroupMemberNotFound\
            \ - Group member '{0}' is not found, therefore we cannot perform Server\
            \ trust group operation.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/serverTrustGroups
  : get:
      tags:
      - ServerTrustGroups
      description: Gets a server trust groups by instance name.
      operationId: ServerTrustGroups_ListByInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the server trust groups.
          content:
            application/json:
              schema:
                description: A list of server trust groups.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - groupMembers
                          - trustScopes
                          type: object
                          properties:
                            groupMembers:
                              description: Group members information for the server
                                trust group.
                              type: array
                              items:
                                description: Server info for the server trust group.
                                required:
                                - serverId
                                type: object
                                properties:
                                  serverId:
                                    description: Server Id.
                                    type: string
                            trustScopes:
                              description: Trust scope of the server trust group.
                              type: array
                              items:
                                enum:
                                - GlobalTransactions
                                - ServiceBroker
                                type: string
                                x-ms-enum:
                                  name: TrustScope
                                  modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServerInfo:
      description: Server info for the server trust group.
      required:
      - serverId
      type: object
      properties:
        serverId:
          description: Server Id.
          type: string
    ServerTrustGroup:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - groupMembers
          - trustScopes
          type: object
          properties:
            groupMembers:
              description: Group members information for the server trust group.
              type: array
              items:
                description: Server info for the server trust group.
                required:
                - serverId
                type: object
                properties:
                  serverId:
                    description: Server Id.
                    type: string
            trustScopes:
              description: Trust scope of the server trust group.
              type: array
              items:
                enum:
                - GlobalTransactions
                - ServiceBroker
                type: string
                x-ms-enum:
                  name: TrustScope
                  modelAsString: true
      description: ARM resource.
      x-ms-azure-resource: true
    ServerTrustGroupListResult:
      description: A list of server trust groups.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - groupMembers
                - trustScopes
                type: object
                properties:
                  groupMembers:
                    description: Group members information for the server trust group.
                    type: array
                    items:
                      description: Server info for the server trust group.
                      required:
                      - serverId
                      type: object
                      properties:
                        serverId:
                          description: Server Id.
                          type: string
                  trustScopes:
                    description: Trust scope of the server trust group.
                    type: array
                    items:
                      enum:
                      - GlobalTransactions
                      - ServiceBroker
                      type: string
                      x-ms-enum:
                        name: TrustScope
                        modelAsString: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ServerTrustGroupProperties:
      description: Properties of a server trust group.
      required:
      - groupMembers
      - trustScopes
      type: object
      properties:
        groupMembers:
          description: Group members information for the server trust group.
          type: array
          items:
            description: Server info for the server trust group.
            required:
            - serverId
            type: object
            properties:
              serverId:
                description: Server Id.
                type: string
        trustScopes:
          description: Trust scope of the server trust group.
          type: array
          items:
            enum:
            - GlobalTransactions
            - ServiceBroker
            type: string
            x-ms-enum:
              name: TrustScope
              modelAsString: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
