openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/automaticTuning/current
  : get:
      tags:
      - ServerAutomaticTuning
      description: Retrieves server automatic tuning options.
      operationId: ServerAutomaticTuning_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved server automatic tuning properties.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      desiredState:
                        description: Automatic tuning desired state.
                        enum:
                        - Custom
                        - Auto
                        - Unspecified
                        type: string
                        x-ms-enum:
                          name: AutomaticTuningServerMode
                          modelAsString: false
                      actualState:
                        description: Automatic tuning actual state.
                        enum:
                        - Custom
                        - Auto
                        - Unspecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AutomaticTuningServerMode
                          modelAsString: false
                      options:
                        description: Automatic tuning options definition.
                        type: object
                        additionalProperties:
                          description: Automatic tuning properties for individual
                            advisors.
                          type: object
                          properties:
                            desiredState:
                              description: Automatic tuning option desired state.
                              enum:
                              - 'Off'
                              - 'On'
                              - Default
                              type: string
                              x-ms-enum:
                                name: AutomaticTuningOptionModeDesired
                                modelAsString: false
                            actualState:
                              description: Automatic tuning option actual state.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: AutomaticTuningOptionModeActual
                                modelAsString: false
                            reasonCode:
                              format: int32
                              description: Reason code if desired and actual state
                                are different.
                              type: integer
                              readOnly: true
                            reasonDesc:
                              description: Reason description if desired and actual
                                state are different.
                              enum:
                              - Default
                              - Disabled
                              - AutoConfigured
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: AutomaticTuningServerReason
                                modelAsString: false
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 InvalidIdentifier - The identifier contains NULL\
            \ or an invalid unicode character.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool\
            \ - The requested elastic pool was not found\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 405 NotSupported - This\
            \ functionality is not supported.\n\n * 409 Conflict - Request could not\
            \ be processed because of conflict in the request.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily\
            \ unavailable.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - ServerAutomaticTuning
      description: Update automatic tuning options on server.
      operationId: ServerAutomaticTuning_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    desiredState:
                      description: Automatic tuning desired state.
                      enum:
                      - Custom
                      - Auto
                      - Unspecified
                      type: string
                      x-ms-enum:
                        name: AutomaticTuningServerMode
                        modelAsString: false
                    actualState:
                      description: Automatic tuning actual state.
                      enum:
                      - Custom
                      - Auto
                      - Unspecified
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: AutomaticTuningServerMode
                        modelAsString: false
                    options:
                      description: Automatic tuning options definition.
                      type: object
                      additionalProperties:
                        description: Automatic tuning properties for individual advisors.
                        type: object
                        properties:
                          desiredState:
                            description: Automatic tuning option desired state.
                            enum:
                            - 'Off'
                            - 'On'
                            - Default
                            type: string
                            x-ms-enum:
                              name: AutomaticTuningOptionModeDesired
                              modelAsString: false
                          actualState:
                            description: Automatic tuning option actual state.
                            enum:
                            - 'Off'
                            - 'On'
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: AutomaticTuningOptionModeActual
                              modelAsString: false
                          reasonCode:
                            format: int32
                            description: Reason code if desired and actual state are
                              different.
                            type: integer
                            readOnly: true
                          reasonDesc:
                            description: Reason description if desired and actual
                              state are different.
                            enum:
                            - Default
                            - Disabled
                            - AutoConfigured
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: AutomaticTuningServerReason
                              modelAsString: false
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested automatic tuning resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the server-level automatic tuning options.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      desiredState:
                        description: Automatic tuning desired state.
                        enum:
                        - Custom
                        - Auto
                        - Unspecified
                        type: string
                        x-ms-enum:
                          name: AutomaticTuningServerMode
                          modelAsString: false
                      actualState:
                        description: Automatic tuning actual state.
                        enum:
                        - Custom
                        - Auto
                        - Unspecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AutomaticTuningServerMode
                          modelAsString: false
                      options:
                        description: Automatic tuning options definition.
                        type: object
                        additionalProperties:
                          description: Automatic tuning properties for individual
                            advisors.
                          type: object
                          properties:
                            desiredState:
                              description: Automatic tuning option desired state.
                              enum:
                              - 'Off'
                              - 'On'
                              - Default
                              type: string
                              x-ms-enum:
                                name: AutomaticTuningOptionModeDesired
                                modelAsString: false
                            actualState:
                              description: Automatic tuning option actual state.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: AutomaticTuningOptionModeActual
                                modelAsString: false
                            reasonCode:
                              format: int32
                              description: Reason code if desired and actual state
                                are different.
                              type: integer
                              readOnly: true
                            reasonDesc:
                              description: Reason description if desired and actual
                                state are different.
                              enum:
                              - Default
                              - Disabled
                              - AutoConfigured
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: AutomaticTuningServerReason
                                modelAsString: false
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 InvalidIdentifier - The identifier contains NULL\
            \ or an invalid unicode character.\n\n * 400 InvalidAutomaticTuningUpsertRequest\
            \ - The update automatic tuning request body does not exist or has no\
            \ properties object.\n\n * 400 InvalidAdvisorAutoExecuteStatus - Specified\
            \ auto-execute status for the advisor is not allowed.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - The requested database was not found\n\n * 404 SubscriptionDoesNotHaveElasticPool\
            \ - The requested elastic pool was not found\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 404 AutomaticTuningOptionNotFound\
            \ - The requested automatic tuning option was not found.\n\n * 405 NotSupported\
            \ - This functionality is not supported.\n\n * 409 Conflict - Request\
            \ could not be processed because of conflict in the request.\n\n * 409\
            \ CannotCancelOperation - The management operation is in a state that\
            \ cannot be cancelled.\n\n * 409 OperationCancelled - The operation has\
            \ been cancelled by user.\n\n * 409 OperationInterrupted - The operation\
            \ on the resource could not be completed because it was interrupted by\
            \ another operation on the same resource.\n\n * 409 DefaultAdvisorStateNotAllowedInCustomServerMode\
            \ - DEFAULT advisor state not allowed in CUSTOM mode\n\n * 409 UpdateNotAllowedIfServerAutotuningUpdateOperationInProgress\
            \ - Automatic tuning settings from previous request have not propagated\
            \ to all user databases.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 ServiceTemporarilyUnavailable - Feature temporarily\
            \ unavailable.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AutomaticTuningServerOptions:
      description: Automatic tuning properties for individual advisors.
      type: object
      properties:
        desiredState:
          description: Automatic tuning option desired state.
          enum:
          - 'Off'
          - 'On'
          - Default
          type: string
          x-ms-enum:
            name: AutomaticTuningOptionModeDesired
            modelAsString: false
        actualState:
          description: Automatic tuning option actual state.
          enum:
          - 'Off'
          - 'On'
          type: string
          readOnly: true
          x-ms-enum:
            name: AutomaticTuningOptionModeActual
            modelAsString: false
        reasonCode:
          format: int32
          description: Reason code if desired and actual state are different.
          type: integer
          readOnly: true
        reasonDesc:
          description: Reason description if desired and actual state are different.
          enum:
          - Default
          - Disabled
          - AutoConfigured
          type: string
          readOnly: true
          x-ms-enum:
            name: AutomaticTuningServerReason
            modelAsString: false
    AutomaticTuningServerProperties:
      description: Server-level Automatic Tuning properties.
      type: object
      properties:
        desiredState:
          description: Automatic tuning desired state.
          enum:
          - Custom
          - Auto
          - Unspecified
          type: string
          x-ms-enum:
            name: AutomaticTuningServerMode
            modelAsString: false
        actualState:
          description: Automatic tuning actual state.
          enum:
          - Custom
          - Auto
          - Unspecified
          type: string
          readOnly: true
          x-ms-enum:
            name: AutomaticTuningServerMode
            modelAsString: false
        options:
          description: Automatic tuning options definition.
          type: object
          additionalProperties:
            description: Automatic tuning properties for individual advisors.
            type: object
            properties:
              desiredState:
                description: Automatic tuning option desired state.
                enum:
                - 'Off'
                - 'On'
                - Default
                type: string
                x-ms-enum:
                  name: AutomaticTuningOptionModeDesired
                  modelAsString: false
              actualState:
                description: Automatic tuning option actual state.
                enum:
                - 'Off'
                - 'On'
                type: string
                readOnly: true
                x-ms-enum:
                  name: AutomaticTuningOptionModeActual
                  modelAsString: false
              reasonCode:
                format: int32
                description: Reason code if desired and actual state are different.
                type: integer
                readOnly: true
              reasonDesc:
                description: Reason description if desired and actual state are different.
                enum:
                - Default
                - Disabled
                - AutoConfigured
                type: string
                readOnly: true
                x-ms-enum:
                  name: AutomaticTuningServerReason
                  modelAsString: false
    ServerAutomaticTuning:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            desiredState:
              description: Automatic tuning desired state.
              enum:
              - Custom
              - Auto
              - Unspecified
              type: string
              x-ms-enum:
                name: AutomaticTuningServerMode
                modelAsString: false
            actualState:
              description: Automatic tuning actual state.
              enum:
              - Custom
              - Auto
              - Unspecified
              type: string
              readOnly: true
              x-ms-enum:
                name: AutomaticTuningServerMode
                modelAsString: false
            options:
              description: Automatic tuning options definition.
              type: object
              additionalProperties:
                description: Automatic tuning properties for individual advisors.
                type: object
                properties:
                  desiredState:
                    description: Automatic tuning option desired state.
                    enum:
                    - 'Off'
                    - 'On'
                    - Default
                    type: string
                    x-ms-enum:
                      name: AutomaticTuningOptionModeDesired
                      modelAsString: false
                  actualState:
                    description: Automatic tuning option actual state.
                    enum:
                    - 'Off'
                    - 'On'
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: AutomaticTuningOptionModeActual
                      modelAsString: false
                  reasonCode:
                    format: int32
                    description: Reason code if desired and actual state are different.
                    type: integer
                    readOnly: true
                  reasonDesc:
                    description: Reason description if desired and actual state are
                      different.
                    enum:
                    - Default
                    - Disabled
                    - AutoConfigured
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: AutomaticTuningServerReason
                      modelAsString: false
      description: ARM resource.
      x-ms-azure-resource: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
