openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/devOpsAuditingSettings
  : get:
      tags:
      - ServerDevOpsAudit
      description: Lists DevOps audit settings of a server.
      operationId: ServerDevOpsAuditSettings_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved server DevOps audit settings.
          content:
            application/json:
              schema:
                description: A list of server DevOps audit settings.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        systemData:
                          description: SystemData of ServerDevOpsAuditSettingsResource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - state
                          type: object
                          properties:
                            isAzureMonitorTargetEnabled:
                              description: "Specifies whether DevOps audit events\
                                \ are sent to Azure Monitor. \r\nIn order to send\
                                \ the events to Azure Monitor, specify 'State' as\
                                \ 'Enabled' and 'IsAzureMonitorTargetEnabled' as true.\r\
                                \n\r\nWhen using REST API to configure DevOps audit,\
                                \ Diagnostic Settings with 'DevOpsOperationsAudit'\
                                \ diagnostic logs category on the master database\
                                \ should be also created.\r\n\r\nDiagnostic Settings\
                                \ URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                                \n\r\nFor more information, see [Diagnostic Settings\
                                \ REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                                \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                                \n"
                              type: boolean
                            isManagedIdentityInUse:
                              description: Specifies whether Managed Identity is used
                                to access blob storage
                              type: boolean
                            state:
                              description: Specifies the state of the audit. If state
                                is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                                are required.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: BlobAuditingPolicyState
                                modelAsString: false
                            storageEndpoint:
                              description: Specifies the blob storage endpoint (e.g.
                                https://MyAccount.blob.core.windows.net). If state
                                is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                                is required.
                              type: string
                            storageAccountAccessKey:
                              description: "Specifies the identifier key of the auditing\
                                \ storage account. \r\nIf state is Enabled and storageEndpoint\
                                \ is specified, not specifying the storageAccountAccessKey\
                                \ will use SQL server system-assigned managed identity\
                                \ to access the storage.\r\nPrerequisites for using\
                                \ managed identity authentication:\r\n1. Assign SQL\
                                \ Server a system-assigned managed identity in Azure\
                                \ Active Directory (AAD).\r\n2. Grant SQL Server identity\
                                \ access to the storage account by adding 'Storage\
                                \ Blob Data Contributor' RBAC role to the server identity.\r\
                                \nFor more information, see [Auditing to storage using\
                                \ Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                              type: string
                              x-ms-secret: true
                              x-ms-mutability:
                              - create
                              - update
                            storageAccountSubscriptionId:
                              format: uuid
                              description: Specifies the blob storage subscription
                                Id.
                              type: string
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/devOpsAuditingSettings/{devOpsAuditingSettingsName}
  : get:
      tags:
      - ServerDevOpsAudit
      description: Gets a server's DevOps audit settings.
      operationId: ServerDevOpsAuditSettings_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: devOpsAuditingSettingsName
        in: path
        required: true
        x-ms-enum:
          name: DevOpsAuditingSettingsName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the server DevOps audit settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of ServerDevOpsAuditSettingsResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether DevOps audit events are sent\
                          \ to Azure Monitor. \r\nIn order to send the events to Azure\
                          \ Monitor, specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure DevOps\
                          \ audit, Diagnostic Settings with 'DevOpsOperationsAudit'\
                          \ diagnostic logs category on the master database should\
                          \ be also created.\r\n\r\nDiagnostic Settings URI format:\r\
                          \nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      isManagedIdentityInUse:
                        description: Specifies whether Managed Identity is used to
                          access blob storage
                        type: boolean
                      state:
                        description: Specifies the state of the audit. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ServerDevOpsAudit
      description: Creates or updates a server's DevOps audit settings.
      operationId: ServerDevOpsAuditSettings_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: devOpsAuditingSettingsName
        in: path
        required: true
        x-ms-enum:
          name: DevOpsAuditingSettingsName
          modelAsString: true
        schema:
          type: string
          enum:
          - Default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                systemData:
                  description: SystemData of ServerDevOpsAuditSettingsResource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - state
                  type: object
                  properties:
                    isAzureMonitorTargetEnabled:
                      description: "Specifies whether DevOps audit events are sent\
                        \ to Azure Monitor. \r\nIn order to send the events to Azure\
                        \ Monitor, specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled'\
                        \ as true.\r\n\r\nWhen using REST API to configure DevOps\
                        \ audit, Diagnostic Settings with 'DevOpsOperationsAudit'\
                        \ diagnostic logs category on the master database should be\
                        \ also created.\r\n\r\nDiagnostic Settings URI format:\r\n\
                        PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                        \n\r\nFor more information, see [Diagnostic Settings REST\
                        \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\n\
                        or [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                        \n"
                      type: boolean
                    isManagedIdentityInUse:
                      description: Specifies whether Managed Identity is used to access
                        blob storage
                      type: boolean
                    state:
                      description: Specifies the state of the audit. If state is Enabled,
                        storageEndpoint or isAzureMonitorTargetEnabled are required.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: BlobAuditingPolicyState
                        modelAsString: false
                    storageEndpoint:
                      description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                        If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                        is required.
                      type: string
                    storageAccountAccessKey:
                      description: "Specifies the identifier key of the auditing storage\
                        \ account. \r\nIf state is Enabled and storageEndpoint is\
                        \ specified, not specifying the storageAccountAccessKey will\
                        \ use SQL server system-assigned managed identity to access\
                        \ the storage.\r\nPrerequisites for using managed identity\
                        \ authentication:\r\n1. Assign SQL Server a system-assigned\
                        \ managed identity in Azure Active Directory (AAD).\r\n2.\
                        \ Grant SQL Server identity access to the storage account\
                        \ by adding 'Storage Blob Data Contributor' RBAC role to the\
                        \ server identity.\r\nFor more information, see [Auditing\
                        \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                      type: string
                      x-ms-secret: true
                      x-ms-mutability:
                      - create
                      - update
                    storageAccountSubscriptionId:
                      format: uuid
                      description: Specifies the blob storage subscription Id.
                      type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: Properties of DevOps audit settings
        required: true
      responses:
        '200':
          description: Successfully updated the DevOps audit settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of ServerDevOpsAuditSettingsResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether DevOps audit events are sent\
                          \ to Azure Monitor. \r\nIn order to send the events to Azure\
                          \ Monitor, specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure DevOps\
                          \ audit, Diagnostic Settings with 'DevOpsOperationsAudit'\
                          \ diagnostic logs category on the master database should\
                          \ be also created.\r\n\r\nDiagnostic Settings URI format:\r\
                          \nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      isManagedIdentityInUse:
                        description: Specifies whether Managed Identity is used to
                          access blob storage
                        type: boolean
                      state:
                        description: Specifies the state of the audit. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Updating the audit DevOps settings is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidServerDevOpsAuditSettingsCreateRequest\
            \ - The create server DevOps audit policy request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidServerDevOpsAuditSettingsName\
            \ - Invalid server DevOps policy name.\n\n * 400 DevOpsAuditInvalidStorageAccountCredentials\
            \ - The provided storage account or access key is not valid.\n\n * 404\
            \ ServerNotInSubscriptionResourceGroup - Specified server does not exist\
            \ in the specified resource group and subscription.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 OperationIdNotFound -\
            \ The operation with Id does not exist.\n\n * 409 ServerDevOpsAuditSettingsInProgress\
            \ - Set server DevOps audit is already in progress.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServerDevOpsAuditingSettings:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        systemData:
          description: SystemData of ServerDevOpsAuditSettingsResource.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - state
          type: object
          properties:
            isAzureMonitorTargetEnabled:
              description: "Specifies whether DevOps audit events are sent to Azure\
                \ Monitor. \r\nIn order to send the events to Azure Monitor, specify\
                \ 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled' as true.\r\
                \n\r\nWhen using REST API to configure DevOps audit, Diagnostic Settings\
                \ with 'DevOpsOperationsAudit' diagnostic logs category on the master\
                \ database should be also created.\r\n\r\nDiagnostic Settings URI\
                \ format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                \n\r\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                \n"
              type: boolean
            isManagedIdentityInUse:
              description: Specifies whether Managed Identity is used to access blob
                storage
              type: boolean
            state:
              description: Specifies the state of the audit. If state is Enabled,
                storageEndpoint or isAzureMonitorTargetEnabled are required.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: BlobAuditingPolicyState
                modelAsString: false
            storageEndpoint:
              description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                is required.
              type: string
            storageAccountAccessKey:
              description: "Specifies the identifier key of the auditing storage account.\
                \ \r\nIf state is Enabled and storageEndpoint is specified, not specifying\
                \ the storageAccountAccessKey will use SQL server system-assigned\
                \ managed identity to access the storage.\r\nPrerequisites for using\
                \ managed identity authentication:\r\n1. Assign SQL Server a system-assigned\
                \ managed identity in Azure Active Directory (AAD).\r\n2. Grant SQL\
                \ Server identity access to the storage account by adding 'Storage\
                \ Blob Data Contributor' RBAC role to the server identity.\r\nFor\
                \ more information, see [Auditing to storage using Managed Identity\
                \ authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
              type: string
              x-ms-secret: true
              x-ms-mutability:
              - create
              - update
            storageAccountSubscriptionId:
              format: uuid
              description: Specifies the blob storage subscription Id.
              type: string
      description: ARM resource.
      x-ms-azure-resource: true
    ServerDevOpsAuditSettingsListResult:
      description: A list of server DevOps audit settings.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              systemData:
                description: SystemData of ServerDevOpsAuditSettingsResource.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - state
                type: object
                properties:
                  isAzureMonitorTargetEnabled:
                    description: "Specifies whether DevOps audit events are sent to\
                      \ Azure Monitor. \r\nIn order to send the events to Azure Monitor,\
                      \ specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled'\
                      \ as true.\r\n\r\nWhen using REST API to configure DevOps audit,\
                      \ Diagnostic Settings with 'DevOpsOperationsAudit' diagnostic\
                      \ logs category on the master database should be also created.\r\
                      \n\r\nDiagnostic Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                      \n\r\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                      \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                      \n"
                    type: boolean
                  isManagedIdentityInUse:
                    description: Specifies whether Managed Identity is used to access
                      blob storage
                    type: boolean
                  state:
                    description: Specifies the state of the audit. If state is Enabled,
                      storageEndpoint or isAzureMonitorTargetEnabled are required.
                    enum:
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: BlobAuditingPolicyState
                      modelAsString: false
                  storageEndpoint:
                    description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                      If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                      is required.
                    type: string
                  storageAccountAccessKey:
                    description: "Specifies the identifier key of the auditing storage\
                      \ account. \r\nIf state is Enabled and storageEndpoint is specified,\
                      \ not specifying the storageAccountAccessKey will use SQL server\
                      \ system-assigned managed identity to access the storage.\r\n\
                      Prerequisites for using managed identity authentication:\r\n\
                      1. Assign SQL Server a system-assigned managed identity in Azure\
                      \ Active Directory (AAD).\r\n2. Grant SQL Server identity access\
                      \ to the storage account by adding 'Storage Blob Data Contributor'\
                      \ RBAC role to the server identity.\r\nFor more information,\
                      \ see [Auditing to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                    type: string
                    x-ms-secret: true
                    x-ms-mutability:
                    - create
                    - update
                  storageAccountSubscriptionId:
                    format: uuid
                    description: Specifies the blob storage subscription Id.
                    type: string
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ServerDevOpsAuditSettingsProperties:
      description: Properties of a server DevOps audit settings.
      required:
      - state
      type: object
      properties:
        isAzureMonitorTargetEnabled:
          description: "Specifies whether DevOps audit events are sent to Azure Monitor.\
            \ \r\nIn order to send the events to Azure Monitor, specify 'State' as\
            \ 'Enabled' and 'IsAzureMonitorTargetEnabled' as true.\r\n\r\nWhen using\
            \ REST API to configure DevOps audit, Diagnostic Settings with 'DevOpsOperationsAudit'\
            \ diagnostic logs category on the master database should be also created.\r\
            \n\r\nDiagnostic Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
            \n\r\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
            \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
            \n"
          type: boolean
        isManagedIdentityInUse:
          description: Specifies whether Managed Identity is used to access blob storage
          type: boolean
        state:
          description: Specifies the state of the audit. If state is Enabled, storageEndpoint
            or isAzureMonitorTargetEnabled are required.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: BlobAuditingPolicyState
            modelAsString: false
        storageEndpoint:
          description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
            If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled is
            required.
          type: string
        storageAccountAccessKey:
          description: "Specifies the identifier key of the auditing storage account.\
            \ \r\nIf state is Enabled and storageEndpoint is specified, not specifying\
            \ the storageAccountAccessKey will use SQL server system-assigned managed\
            \ identity to access the storage.\r\nPrerequisites for using managed identity\
            \ authentication:\r\n1. Assign SQL Server a system-assigned managed identity\
            \ in Azure Active Directory (AAD).\r\n2. Grant SQL Server identity access\
            \ to the storage account by adding 'Storage Blob Data Contributor' RBAC\
            \ role to the server identity.\r\nFor more information, see [Auditing\
            \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
          type: string
          x-ms-secret: true
          x-ms-mutability:
          - create
          - update
        storageAccountSubscriptionId:
          format: uuid
          description: Specifies the blob storage subscription Id.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
