openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/vulnerabilityAssessments
  : get:
      tags:
      - ServerVulnerabilityAssessments
      description: Lists the vulnerability assessment policies associated with a server.
      operationId: ServerVulnerabilityAssessments_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the server vulnerability assessment
            policies.
          content:
            application/json:
              schema:
                description: A list of the server's vulnerability assessments.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - storageContainerPath
                          type: object
                          properties:
                            storageContainerPath:
                              description: A blob storage container path to hold the
                                scan results (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            storageContainerSasKey:
                              description: A shared access signature (SAS Key) that
                                has write access to the blob container specified in
                                'storageContainerPath' parameter. If 'storageAccountAccessKey'
                                isn't specified, StorageContainerSasKey is required.
                                Applies only if the storage account is not behind
                                a Vnet or a firewall
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            storageAccountAccessKey:
                              description: Specifies the identifier key of the storage
                                account for vulnerability assessment scan results.
                                If 'StorageContainerSasKey' isn't specified, storageAccountAccessKey
                                is required. Applies only if the storage account is
                                not behind a Vnet or a firewall
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            recurringScans:
                              description: The recurring scans settings
                              type: object
                              properties:
                                isEnabled:
                                  description: Recurring scans state.
                                  type: boolean
                                emailSubscriptionAdmins:
                                  description: Specifies that the schedule scan notification
                                    will be is sent to the subscription administrators.
                                  default: true
                                  type: boolean
                                emails:
                                  description: Specifies an array of e-mail addresses
                                    to which the scan notification is sent.
                                  type: array
                                  items:
                                    type: string
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentInsufficientStorageAccountPermissions\
            \ - Insufficient permissions on the provided storage account.\n\n * 400\
            \ VulnerabilityAssessmentStorageAccountIsDisabled - The provided storage\
            \ account is disabled.\n\n * 400 InvalidStorageAccountName - The provided\
            \ storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials\
            \ - The provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 VulnerabilityAssessmentUnsupportedStorageAccount\
            \ - The provided storage account is unsupported.\n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}
  : get:
      tags:
      - ServerVulnerabilityAssessments
      description: Gets the server's vulnerability assessment.
      operationId: ServerVulnerabilityAssessments_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server for which the vulnerability assessment
          is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the server vulnerability assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - storageContainerPath
                    type: object
                    properties:
                      storageContainerPath:
                        description: A blob storage container path to hold the scan
                          results (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageContainerSasKey:
                        description: A shared access signature (SAS Key) that has
                          write access to the blob container specified in 'storageContainerPath'
                          parameter. If 'storageAccountAccessKey' isn't specified,
                          StorageContainerSasKey is required. Applies only if the
                          storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the storage account
                          for vulnerability assessment scan results. If 'StorageContainerSasKey'
                          isn't specified, storageAccountAccessKey is required. Applies
                          only if the storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      recurringScans:
                        description: The recurring scans settings
                        type: object
                        properties:
                          isEnabled:
                            description: Recurring scans state.
                            type: boolean
                          emailSubscriptionAdmins:
                            description: Specifies that the schedule scan notification
                              will be is sent to the subscription administrators.
                            default: true
                            type: boolean
                          emails:
                            description: Specifies an array of e-mail addresses to
                              which the scan notification is sent.
                            type: array
                            items:
                              type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentInsufficientStorageAccountPermissions\
            \ - Insufficient permissions on the provided storage account.\n\n * 400\
            \ VulnerabilityAssessmentStorageAccountIsDisabled - The provided storage\
            \ account is disabled.\n\n * 400 InvalidStorageAccountName - The provided\
            \ storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials\
            \ - The provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 VulnerabilityAssessmentUnsupportedStorageAccount\
            \ - The provided storage account is unsupported.\n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - ServerVulnerabilityAssessments
      description: Creates or updates the server's vulnerability assessment. Learn
        more about setting SQL vulnerability assessment with managed identity - https://docs.microsoft.com/azure/azure-sql/database/sql-database-vulnerability-assessment-storage
      operationId: ServerVulnerabilityAssessments_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server for which the vulnerability assessment
          is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - storageContainerPath
                  type: object
                  properties:
                    storageContainerPath:
                      description: A blob storage container path to hold the scan
                        results (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    storageContainerSasKey:
                      description: A shared access signature (SAS Key) that has write
                        access to the blob container specified in 'storageContainerPath'
                        parameter. If 'storageAccountAccessKey' isn't specified, StorageContainerSasKey
                        is required. Applies only if the storage account is not behind
                        a Vnet or a firewall
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    storageAccountAccessKey:
                      description: Specifies the identifier key of the storage account
                        for vulnerability assessment scan results. If 'StorageContainerSasKey'
                        isn't specified, storageAccountAccessKey is required. Applies
                        only if the storage account is not behind a Vnet or a firewall
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    recurringScans:
                      description: The recurring scans settings
                      type: object
                      properties:
                        isEnabled:
                          description: Recurring scans state.
                          type: boolean
                        emailSubscriptionAdmins:
                          description: Specifies that the schedule scan notification
                            will be is sent to the subscription administrators.
                          default: true
                          type: boolean
                        emails:
                          description: Specifies an array of e-mail addresses to which
                            the scan notification is sent.
                          type: array
                          items:
                            type: string
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested resource.
        required: true
      responses:
        '200':
          description: Successfully set the vulnerability assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - storageContainerPath
                    type: object
                    properties:
                      storageContainerPath:
                        description: A blob storage container path to hold the scan
                          results (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageContainerSasKey:
                        description: A shared access signature (SAS Key) that has
                          write access to the blob container specified in 'storageContainerPath'
                          parameter. If 'storageAccountAccessKey' isn't specified,
                          StorageContainerSasKey is required. Applies only if the
                          storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the storage account
                          for vulnerability assessment scan results. If 'StorageContainerSasKey'
                          isn't specified, storageAccountAccessKey is required. Applies
                          only if the storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      recurringScans:
                        description: The recurring scans settings
                        type: object
                        properties:
                          isEnabled:
                            description: Recurring scans state.
                            type: boolean
                          emailSubscriptionAdmins:
                            description: Specifies that the schedule scan notification
                              will be is sent to the subscription administrators.
                            default: true
                            type: boolean
                          emails:
                            description: Specifies an array of e-mail addresses to
                              which the scan notification is sent.
                            type: array
                            items:
                              type: string
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the vulnerability assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - storageContainerPath
                    type: object
                    properties:
                      storageContainerPath:
                        description: A blob storage container path to hold the scan
                          results (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageContainerSasKey:
                        description: A shared access signature (SAS Key) that has
                          write access to the blob container specified in 'storageContainerPath'
                          parameter. If 'storageAccountAccessKey' isn't specified,
                          StorageContainerSasKey is required. Applies only if the
                          storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      storageAccountAccessKey:
                        description: Specifies the identifier key of the storage account
                          for vulnerability assessment scan results. If 'StorageContainerSasKey'
                          isn't specified, storageAccountAccessKey is required. Applies
                          only if the storage account is not behind a Vnet or a firewall
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      recurringScans:
                        description: The recurring scans settings
                        type: object
                        properties:
                          isEnabled:
                            description: Recurring scans state.
                            type: boolean
                          emailSubscriptionAdmins:
                            description: Specifies that the schedule scan notification
                              will be is sent to the subscription administrators.
                            default: true
                            type: boolean
                          emails:
                            description: Specifies an array of e-mail addresses to
                              which the scan notification is sent.
                            type: array
                            items:
                              type: string
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentInsufficientStorageAccountPermissions\
            \ - Insufficient permissions on the provided storage account.\n\n * 400\
            \ VulnerabilityAssessmentStorageAccountIsDisabled - The provided storage\
            \ account is disabled.\n\n * 400 InvalidStorageAccountName - The provided\
            \ storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials\
            \ - The provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 VulnerabilityAssessmentUnsupportedStorageAccount\
            \ - The provided storage account is unsupported.\n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 400\
            \ InvalidVulnerabilityAssessmentOperationRequest - The vulnerability assessment\
            \ operation request does not exist or has no properties object.\n\n *\
            \ 400 DataSecurityInvalidUserSuppliedParameter - An invalid parameter\
            \ value was provided by the client.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 409 VulnerabilityAssessmentStoragelessIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - ServerVulnerabilityAssessments
      description: Removes the server's vulnerability assessment.
      operationId: ServerVulnerabilityAssessments_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server for which the vulnerability assessment
          is defined.
        required: true
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the vulnerability assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed the server vulnerability assessment.
        default:
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentInsufficientStorageAccountPermissions\
            \ - Insufficient permissions on the provided storage account.\n\n * 400\
            \ VulnerabilityAssessmentStorageAccountIsDisabled - The provided storage\
            \ account is disabled.\n\n * 400 InvalidStorageAccountName - The provided\
            \ storage account is not valid or does not exist.\n\n * 400 InvalidStorageAccountCredentials\
            \ - The provided storage account shared access signature or account storage\
            \ key is not valid.\n\n * 400 VulnerabilityAssessmentUnsupportedStorageAccount\
            \ - The provided storage account is unsupported.\n\n * 400 VulnerabilityAssessmentStorageOutboundFirewallNotAllowed\
            \ - The storage account is not in the list of Outbound Firewall Rules.\n\
            \n * 400 VulnerabilityAssessmentADSIsDisabled - Advanced Data Security\
            \ should be enabled in order to use Vulnerability Assessment.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServerVulnerabilityAssessment:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - storageContainerPath
          type: object
          properties:
            storageContainerPath:
              description: A blob storage container path to hold the scan results
                (e.g. https://myStorage.blob.core.windows.net/VaScans/).
              type: string
              x-ms-mutability:
              - create
              - update
            storageContainerSasKey:
              description: A shared access signature (SAS Key) that has write access
                to the blob container specified in 'storageContainerPath' parameter.
                If 'storageAccountAccessKey' isn't specified, StorageContainerSasKey
                is required. Applies only if the storage account is not behind a Vnet
                or a firewall
              type: string
              x-ms-mutability:
              - create
              - update
            storageAccountAccessKey:
              description: Specifies the identifier key of the storage account for
                vulnerability assessment scan results. If 'StorageContainerSasKey'
                isn't specified, storageAccountAccessKey is required. Applies only
                if the storage account is not behind a Vnet or a firewall
              type: string
              x-ms-mutability:
              - create
              - update
            recurringScans:
              description: The recurring scans settings
              type: object
              properties:
                isEnabled:
                  description: Recurring scans state.
                  type: boolean
                emailSubscriptionAdmins:
                  description: Specifies that the schedule scan notification will
                    be is sent to the subscription administrators.
                  default: true
                  type: boolean
                emails:
                  description: Specifies an array of e-mail addresses to which the
                    scan notification is sent.
                  type: array
                  items:
                    type: string
      description: ARM resource.
      x-ms-azure-resource: true
    ServerVulnerabilityAssessmentListResult:
      description: A list of the server's vulnerability assessments.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - storageContainerPath
                type: object
                properties:
                  storageContainerPath:
                    description: A blob storage container path to hold the scan results
                      (e.g. https://myStorage.blob.core.windows.net/VaScans/).
                    type: string
                    x-ms-mutability:
                    - create
                    - update
                  storageContainerSasKey:
                    description: A shared access signature (SAS Key) that has write
                      access to the blob container specified in 'storageContainerPath'
                      parameter. If 'storageAccountAccessKey' isn't specified, StorageContainerSasKey
                      is required. Applies only if the storage account is not behind
                      a Vnet or a firewall
                    type: string
                    x-ms-mutability:
                    - create
                    - update
                  storageAccountAccessKey:
                    description: Specifies the identifier key of the storage account
                      for vulnerability assessment scan results. If 'StorageContainerSasKey'
                      isn't specified, storageAccountAccessKey is required. Applies
                      only if the storage account is not behind a Vnet or a firewall
                    type: string
                    x-ms-mutability:
                    - create
                    - update
                  recurringScans:
                    description: The recurring scans settings
                    type: object
                    properties:
                      isEnabled:
                        description: Recurring scans state.
                        type: boolean
                      emailSubscriptionAdmins:
                        description: Specifies that the schedule scan notification
                          will be is sent to the subscription administrators.
                        default: true
                        type: boolean
                      emails:
                        description: Specifies an array of e-mail addresses to which
                          the scan notification is sent.
                        type: array
                        items:
                          type: string
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ServerVulnerabilityAssessmentProperties:
      description: Properties of a server Vulnerability Assessment.
      required:
      - storageContainerPath
      type: object
      properties:
        storageContainerPath:
          description: A blob storage container path to hold the scan results (e.g.
            https://myStorage.blob.core.windows.net/VaScans/).
          type: string
          x-ms-mutability:
          - create
          - update
        storageContainerSasKey:
          description: A shared access signature (SAS Key) that has write access to
            the blob container specified in 'storageContainerPath' parameter. If 'storageAccountAccessKey'
            isn't specified, StorageContainerSasKey is required. Applies only if the
            storage account is not behind a Vnet or a firewall
          type: string
          x-ms-mutability:
          - create
          - update
        storageAccountAccessKey:
          description: Specifies the identifier key of the storage account for vulnerability
            assessment scan results. If 'StorageContainerSasKey' isn't specified,
            storageAccountAccessKey is required. Applies only if the storage account
            is not behind a Vnet or a firewall
          type: string
          x-ms-mutability:
          - create
          - update
        recurringScans:
          description: The recurring scans settings
          type: object
          properties:
            isEnabled:
              description: Recurring scans state.
              type: boolean
            emailSubscriptionAdmins:
              description: Specifies that the schedule scan notification will be is
                sent to the subscription administrators.
              default: true
              type: boolean
            emails:
              description: Specifies an array of e-mail addresses to which the scan
                notification is sent.
              type: array
              items:
                type: string
    VulnerabilityAssessmentRecurringScansProperties:
      description: Properties of a Vulnerability Assessment recurring scans.
      type: object
      properties:
        isEnabled:
          description: Recurring scans state.
          type: boolean
        emailSubscriptionAdmins:
          description: Specifies that the schedule scan notification will be is sent
            to the subscription administrators.
          default: true
          type: boolean
        emails:
          description: Specifies an array of e-mail addresses to which the scan notification
            is sent.
          type: array
          items:
            type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
