openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/sqlVulnerabilityAssessments
  : get:
      tags:
      - SqlVulnerabilityAssessmentsSettings
      description: Lists SQL Vulnerability Assessment policies associated with a server.
      operationId: SqlVulnerabilityAssessmentsSettings_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved SQL Vulnerability Assessment policies.
          content:
            application/json:
              schema:
                description: A list of SQL Vulnerability Assessments.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        systemData:
                          description: SystemData of SqlVulnerabilityAssessmentResource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            state:
                              description: Specifies the state of the SQL Vulnerability
                                Assessment, whether it is enabled or disabled or a
                                state has not been applied yet on the specific database
                                or server.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: SqlVulnerabilityAssessmentState
                                modelAsString: false
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SqlVulnerabilityAssessmentInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidSqlVulnerabilityAssessmentBaselineInput\
            \ - The SQL vulnerability assessment baseline input is null or empty.\n\
            \n * 400 InvalidSqlVulnerabilityAssessmentSettingsInput - The SQL vulnerability\
            \ assessment setting input is null or empty\n\n * 400 SqlVulnerabilityAssessmentScanResultsAreNotAvailableYet\
            \ - SQL vulnerability assessment results are not available yet, please\
            \ try again later.\n\n * 400 SqlVulnerabilityAssessmentInvalidRuleId -\
            \ The SQL vulnerability assessment rule id is invalid.\n\n * 400 SqlVulnerabilityAssessmentScanDoesNotExist\
            \ - SQL vulnerability assessment scan does not exist.\n\n * 400 SqlVulnerabilityAssessmentNoBaseline\
            \ - No baseline have been found for the latest scan in the resource\n\n\
            \ * 400 SqlVulnerabilityAssessmentNoRuleBaseline - No SQL vulnerability\
            \ assessment baseline was found\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResults\
            \ - No scan results have been found for rule Id. To set a baseline there\
            \ must be results for this rule in the latest scan available\n\n * 400\
            \ SqlVulnerabilityAssessmentBadBinaryRuleFormat - Input for binary rule\
            \ is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBadRuleFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadRuleWithoutRuleIdFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadBinaryRuleWithoutRuleIdFormat\
            \ - Input for binary rule is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResultsWithoutRuleId\
            \ - No scan results have been found for one of the rules. To set a baseline\
            \ there must be results for this rule in the latest scan available\n\n\
            \ * 400 SqlVulnerabilityAssessmentEmptyBaseline - Baseline not set because\
            \ the results are null or empty\n\n * 400 SqlVulnerabilityAssessmentIsDisabled\
            \ - SQL vulnerability assessment feature is disabled. please enable the\
            \ feature before executing other SQL vulnerability assessment operations.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 409 SqlVulnerabilityAssessmentStoragefullApiIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 409\
            \ DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - SQL Vulnerability\
            \ Assessment scan is already in progress\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}
  : get:
      tags:
      - SqlVulnerabilityAssessmentsSettings
      description: Gets SQL Vulnerability Assessment policy.
      operationId: SqlVulnerabilityAssessmentsSettings_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the SQL Vulnerability Assessment.
        required: true
        x-ms-enum:
          name: SqlVulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved SQL Vulnerability Assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of SqlVulnerabilityAssessmentResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the SQL Vulnerability
                          Assessment, whether it is enabled or disabled or a state
                          has not been applied yet on the specific database or server.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SqlVulnerabilityAssessmentState
                          modelAsString: false
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SqlVulnerabilityAssessmentInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidSqlVulnerabilityAssessmentBaselineInput\
            \ - The SQL vulnerability assessment baseline input is null or empty.\n\
            \n * 400 InvalidSqlVulnerabilityAssessmentSettingsInput - The SQL vulnerability\
            \ assessment setting input is null or empty\n\n * 400 SqlVulnerabilityAssessmentScanResultsAreNotAvailableYet\
            \ - SQL vulnerability assessment results are not available yet, please\
            \ try again later.\n\n * 400 SqlVulnerabilityAssessmentInvalidRuleId -\
            \ The SQL vulnerability assessment rule id is invalid.\n\n * 400 SqlVulnerabilityAssessmentScanDoesNotExist\
            \ - SQL vulnerability assessment scan does not exist.\n\n * 400 SqlVulnerabilityAssessmentNoBaseline\
            \ - No baseline have been found for the latest scan in the resource\n\n\
            \ * 400 SqlVulnerabilityAssessmentNoRuleBaseline - No SQL vulnerability\
            \ assessment baseline was found\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResults\
            \ - No scan results have been found for rule Id. To set a baseline there\
            \ must be results for this rule in the latest scan available\n\n * 400\
            \ SqlVulnerabilityAssessmentBadBinaryRuleFormat - Input for binary rule\
            \ is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBadRuleFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadRuleWithoutRuleIdFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadBinaryRuleWithoutRuleIdFormat\
            \ - Input for binary rule is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResultsWithoutRuleId\
            \ - No scan results have been found for one of the rules. To set a baseline\
            \ there must be results for this rule in the latest scan available\n\n\
            \ * 400 SqlVulnerabilityAssessmentEmptyBaseline - Baseline not set because\
            \ the results are null or empty\n\n * 400 SqlVulnerabilityAssessmentIsDisabled\
            \ - SQL vulnerability assessment feature is disabled. please enable the\
            \ feature before executing other SQL vulnerability assessment operations.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 409 SqlVulnerabilityAssessmentStoragefullApiIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 409\
            \ DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - SQL Vulnerability\
            \ Assessment scan is already in progress\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SqlVulnerabilityAssessmentsSettings
      description: Creates or updates SQL Vulnerability Assessment policy.
      operationId: SqlVulnerabilityAssessmentsSettings_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the SQL Vulnerability Assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                systemData:
                  description: SystemData of SqlVulnerabilityAssessmentResource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    state:
                      description: Specifies the state of the SQL Vulnerability Assessment,
                        whether it is enabled or disabled or a state has not been
                        applied yet on the specific database or server.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: SqlVulnerabilityAssessmentState
                        modelAsString: false
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested resource.
        required: true
      responses:
        '200':
          description: Successfully set SQL Vulnerability Assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of SqlVulnerabilityAssessmentResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the SQL Vulnerability
                          Assessment, whether it is enabled or disabled or a state
                          has not been applied yet on the specific database or server.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SqlVulnerabilityAssessmentState
                          modelAsString: false
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created SQL Vulnerability Assessment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: SystemData of SqlVulnerabilityAssessmentResource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the SQL Vulnerability
                          Assessment, whether it is enabled or disabled or a state
                          has not been applied yet on the specific database or server.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: SqlVulnerabilityAssessmentState
                          modelAsString: false
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SqlVulnerabilityAssessmentInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidSqlVulnerabilityAssessmentBaselineInput\
            \ - The SQL vulnerability assessment baseline input is null or empty.\n\
            \n * 400 InvalidSqlVulnerabilityAssessmentSettingsInput - The SQL vulnerability\
            \ assessment setting input is null or empty\n\n * 400 SqlVulnerabilityAssessmentScanResultsAreNotAvailableYet\
            \ - SQL vulnerability assessment results are not available yet, please\
            \ try again later.\n\n * 400 SqlVulnerabilityAssessmentInvalidRuleId -\
            \ The SQL vulnerability assessment rule id is invalid.\n\n * 400 SqlVulnerabilityAssessmentScanDoesNotExist\
            \ - SQL vulnerability assessment scan does not exist.\n\n * 400 SqlVulnerabilityAssessmentNoBaseline\
            \ - No baseline have been found for the latest scan in the resource\n\n\
            \ * 400 SqlVulnerabilityAssessmentNoRuleBaseline - No SQL vulnerability\
            \ assessment baseline was found\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResults\
            \ - No scan results have been found for rule Id. To set a baseline there\
            \ must be results for this rule in the latest scan available\n\n * 400\
            \ SqlVulnerabilityAssessmentBadBinaryRuleFormat - Input for binary rule\
            \ is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBadRuleFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadRuleWithoutRuleIdFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadBinaryRuleWithoutRuleIdFormat\
            \ - Input for binary rule is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResultsWithoutRuleId\
            \ - No scan results have been found for one of the rules. To set a baseline\
            \ there must be results for this rule in the latest scan available\n\n\
            \ * 400 SqlVulnerabilityAssessmentEmptyBaseline - Baseline not set because\
            \ the results are null or empty\n\n * 400 SqlVulnerabilityAssessmentIsDisabled\
            \ - SQL vulnerability assessment feature is disabled. please enable the\
            \ feature before executing other SQL vulnerability assessment operations.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 409 SqlVulnerabilityAssessmentStoragefullApiIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 409\
            \ DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - SQL Vulnerability\
            \ Assessment scan is already in progress\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - SqlVulnerabilityAssessmentsSettings
      description: Removes SQL Vulnerability Assessment.
      operationId: SqlVulnerabilityAssessments_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: vulnerabilityAssessmentName
        in: path
        description: The name of the SQL Vulnerability Assessment.
        required: true
        x-ms-enum:
          name: VulnerabilityAssessmentName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed SQL Vulnerability Assessment.
        '204':
          description: The SQL Vulnerability Assessment settings does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 SqlVulnerabilityAssessmentInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 InvalidSqlVulnerabilityAssessmentBaselineInput\
            \ - The SQL vulnerability assessment baseline input is null or empty.\n\
            \n * 400 InvalidSqlVulnerabilityAssessmentSettingsInput - The SQL vulnerability\
            \ assessment setting input is null or empty\n\n * 400 SqlVulnerabilityAssessmentScanResultsAreNotAvailableYet\
            \ - SQL vulnerability assessment results are not available yet, please\
            \ try again later.\n\n * 400 SqlVulnerabilityAssessmentInvalidRuleId -\
            \ The SQL vulnerability assessment rule id is invalid.\n\n * 400 SqlVulnerabilityAssessmentScanDoesNotExist\
            \ - SQL vulnerability assessment scan does not exist.\n\n * 400 SqlVulnerabilityAssessmentNoBaseline\
            \ - No baseline have been found for the latest scan in the resource\n\n\
            \ * 400 SqlVulnerabilityAssessmentNoRuleBaseline - No SQL vulnerability\
            \ assessment baseline was found\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResults\
            \ - No scan results have been found for rule Id. To set a baseline there\
            \ must be results for this rule in the latest scan available\n\n * 400\
            \ SqlVulnerabilityAssessmentBadBinaryRuleFormat - Input for binary rule\
            \ is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBadRuleFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadRuleWithoutRuleIdFormat\
            \ - The provided results do not comply with the actual layout of the scan\
            \ results\n\n * 400 SqlVulnerabilityAssessmentBadBinaryRuleWithoutRuleIdFormat\
            \ - Input for binary rule is not a boolean representation\n\n * 400 SqlVulnerabilityAssessmentBaselineNoScanResultsWithoutRuleId\
            \ - No scan results have been found for one of the rules. To set a baseline\
            \ there must be results for this rule in the latest scan available\n\n\
            \ * 400 SqlVulnerabilityAssessmentEmptyBaseline - Baseline not set because\
            \ the results are null or empty\n\n * 400 SqlVulnerabilityAssessmentIsDisabled\
            \ - SQL vulnerability assessment feature is disabled. please enable the\
            \ feature before executing other SQL vulnerability assessment operations.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SourceDatabaseNotFound\
            \ - The source database does not exist.\n\n * 409 SqlVulnerabilityAssessmentStoragefullApiIsEnabled\
            \ - Vulnerability Assessment is enabled on this server or one of its underlying\
            \ databases with an incompatible version. Additional troubleshooting information\
            \ can be found https://aka.ms/SQLVAStoragelessDocumentation.\n\n * 409\
            \ DatabaseVulnerabilityAssessmentScanIsAlreadyInProgress - SQL Vulnerability\
            \ Assessment scan is already in progress\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SqlVulnerabilityAssessment:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        systemData:
          description: SystemData of SqlVulnerabilityAssessmentResource.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            state:
              description: Specifies the state of the SQL Vulnerability Assessment,
                whether it is enabled or disabled or a state has not been applied
                yet on the specific database or server.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: SqlVulnerabilityAssessmentState
                modelAsString: false
      description: ARM resource.
      x-ms-azure-resource: true
    SqlVulnerabilityAssessmentListResult:
      description: A list of SQL Vulnerability Assessments.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              systemData:
                description: SystemData of SqlVulnerabilityAssessmentResource.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  state:
                    description: Specifies the state of the SQL Vulnerability Assessment,
                      whether it is enabled or disabled or a state has not been applied
                      yet on the specific database or server.
                    enum:
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: SqlVulnerabilityAssessmentState
                      modelAsString: false
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SqlVulnerabilityAssessmentPolicyProperties:
      type: object
      properties:
        state:
          description: Specifies the state of the SQL Vulnerability Assessment, whether
            it is enabled or disabled or a state has not been applied yet on the specific
            database or server.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: SqlVulnerabilityAssessmentState
            modelAsString: false
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
