openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/startStopSchedules
  : get:
      tags:
      - StartStopManagedInstanceSchedules
      description: Lists the managed instance's Start/Stop schedules.
      operationId: StartStopManagedInstanceSchedules_ListByInstance
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of Start/Stop schedules.
          content:
            application/json:
              schema:
                description: Managed instance's Start/Stop schedule list result.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        systemData:
                          description: System data of the scheduled resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - scheduleList
                          type: object
                          properties:
                            description:
                              description: The description of the schedule.
                              default: ''
                              type: string
                            timeZoneId:
                              description: The time zone of the schedule.
                              default: UTC
                              type: string
                            scheduleList:
                              description: Schedule list.
                              type: array
                              items:
                                description: Schedule info describing when the server
                                  should be started or stopped.
                                required:
                                - startDay
                                - startTime
                                - stopDay
                                - stopTime
                                type: object
                                properties:
                                  startDay:
                                    description: Start day.
                                    enum:
                                    - Sunday
                                    - Monday
                                    - Tuesday
                                    - Wednesday
                                    - Thursday
                                    - Friday
                                    - Saturday
                                    type: string
                                    x-ms-enum:
                                      name: DayOfWeek
                                      modelAsString: true
                                  startTime:
                                    description: Start time.
                                    type: string
                                  stopDay:
                                    description: Stop day.
                                    enum:
                                    - Sunday
                                    - Monday
                                    - Tuesday
                                    - Wednesday
                                    - Thursday
                                    - Friday
                                    - Saturday
                                    type: string
                                    x-ms-enum:
                                      name: DayOfWeek
                                      modelAsString: true
                                  stopTime:
                                    description: Stop time.
                                    type: string
                              x-ms-identifiers: []
                            nextRunAction:
                              description: Next action to be executed (Start or Stop)
                              type: string
                              readOnly: true
                            nextExecutionTime:
                              description: Timestamp when the next action will be
                                executed in the corresponding schedule time zone.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleSmallTimespan\
            \ - Time between two successive actions is less than 1 hour.\n\n * 400\
            \ ManagementServiceStartStopManagedInstanceScheduleSubscriptionNotEnabledForFeature\
            \ - User attempted to use Start/Stop feature without having the subscription\
            \ allowlisted for the appropriate subscription feature.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleNotSupportedOnSKU\
            \ - Scheduled Start/Stop operation is not supported on the given SKU.\n\
            \n * 400 ManagementServiceStopManagedInstanceHostedOnRdfePlatform - Stop\
            \ executed on the instance that is not running with Feature Wave November\
            \ 2022\n\n * 400 StartStopOfManagedInstanceIsDisabled - Start and stop\
            \ operation on managed instance is not enabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleFeatureDisabled\
            \ - User attempted to use the scheduled Start/Stop Azure SQL Managed Instance\
            \ feature, which is disabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleOverlap\
            \ - Overlap in schedule pairs.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 ManagementServiceStartStopManagedInstanceScheduleNotFound\
            \ - Schedule does not exist for a given managed instance.\n\n * 409 ManagementServiceStartStopManagedInstanceScheduleConflictingOperation\
            \ - The attempted create/update/delete operation of Start/Stop schedule\
            \ on the Azure SQL Managed Instance failed. The schedule was either not\
            \ created or couldn't be updated/deleted as it was busy with an ongoing\
            \ scheduled operation. Please retry your request later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/startStopSchedules/{startStopScheduleName}
  : get:
      tags:
      - StartStopManagedInstanceSchedules
      description: Gets the managed instance's Start/Stop schedule.
      operationId: StartStopManagedInstanceSchedules_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: startStopScheduleName
        in: path
        description: Name of the managed instance Start/Stop schedule.
        required: true
        x-ms-enum:
          name: StartStopScheduleName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the Start/Stop schedule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: System data of the scheduled resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - scheduleList
                    type: object
                    properties:
                      description:
                        description: The description of the schedule.
                        default: ''
                        type: string
                      timeZoneId:
                        description: The time zone of the schedule.
                        default: UTC
                        type: string
                      scheduleList:
                        description: Schedule list.
                        type: array
                        items:
                          description: Schedule info describing when the server should
                            be started or stopped.
                          required:
                          - startDay
                          - startTime
                          - stopDay
                          - stopTime
                          type: object
                          properties:
                            startDay:
                              description: Start day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            startTime:
                              description: Start time.
                              type: string
                            stopDay:
                              description: Stop day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            stopTime:
                              description: Stop time.
                              type: string
                        x-ms-identifiers: []
                      nextRunAction:
                        description: Next action to be executed (Start or Stop)
                        type: string
                        readOnly: true
                      nextExecutionTime:
                        description: Timestamp when the next action will be executed
                          in the corresponding schedule time zone.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 204 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleSmallTimespan\
            \ - Time between two successive actions is less than 1 hour.\n\n * 400\
            \ ManagementServiceStartStopManagedInstanceScheduleSubscriptionNotEnabledForFeature\
            \ - User attempted to use Start/Stop feature without having the subscription\
            \ allowlisted for the appropriate subscription feature.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleNotSupportedOnSKU\
            \ - Scheduled Start/Stop operation is not supported on the given SKU.\n\
            \n * 400 ManagementServiceStopManagedInstanceHostedOnRdfePlatform - Stop\
            \ executed on the instance that is not running with Feature Wave November\
            \ 2022\n\n * 400 StartStopOfManagedInstanceIsDisabled - Start and stop\
            \ operation on managed instance is not enabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleFeatureDisabled\
            \ - User attempted to use the scheduled Start/Stop Azure SQL Managed Instance\
            \ feature, which is disabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleOverlap\
            \ - Overlap in schedule pairs.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestParametersInvalid\
            \ - The provided set of parameters in the body of the request is either\
            \ empty or invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestTimeZoneInvalid\
            \ - The provided time zone parameter is invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestScheduleInvalid\
            \ - The provided Start/Stop schedule is invalid. The schedule either contains\
            \ no items in the schedule list or some of the items in the list have\
            \ invalid values. \n\n * 404 ServerNotInSubscriptionResourceGroup - Specified\
            \ server does not exist in the specified resource group and subscription.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 ResourceNotFound - The requested resource was not found.\n\
            \n * 404 ManagementServiceStartStopManagedInstanceScheduleNotFound - Schedule\
            \ does not exist for a given managed instance.\n\n * 404 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 409 ManagementServiceStartStopManagedInstanceScheduleConflictingOperation\
            \ - The attempted create/update/delete operation of Start/Stop schedule\
            \ on the Azure SQL Managed Instance failed. The schedule was either not\
            \ created or couldn't be updated/deleted as it was busy with an ongoing\
            \ scheduled operation. Please retry your request later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - StartStopManagedInstanceSchedules
      description: Creates or updates the managed instance's Start/Stop schedule.
      operationId: StartStopManagedInstanceSchedules_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: startStopScheduleName
        in: path
        description: Name of the managed instance Start/Stop schedule.
        required: true
        x-ms-enum:
          name: StartStopScheduleName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                systemData:
                  description: System data of the scheduled resource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - scheduleList
                  type: object
                  properties:
                    description:
                      description: The description of the schedule.
                      default: ''
                      type: string
                    timeZoneId:
                      description: The time zone of the schedule.
                      default: UTC
                      type: string
                    scheduleList:
                      description: Schedule list.
                      type: array
                      items:
                        description: Schedule info describing when the server should
                          be started or stopped.
                        required:
                        - startDay
                        - startTime
                        - stopDay
                        - stopTime
                        type: object
                        properties:
                          startDay:
                            description: Start day.
                            enum:
                            - Sunday
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            type: string
                            x-ms-enum:
                              name: DayOfWeek
                              modelAsString: true
                          startTime:
                            description: Start time.
                            type: string
                          stopDay:
                            description: Stop day.
                            enum:
                            - Sunday
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            type: string
                            x-ms-enum:
                              name: DayOfWeek
                              modelAsString: true
                          stopTime:
                            description: Stop time.
                            type: string
                      x-ms-identifiers: []
                    nextRunAction:
                      description: Next action to be executed (Start or Stop)
                      type: string
                      readOnly: true
                    nextExecutionTime:
                      description: Timestamp when the next action will be executed
                        in the corresponding schedule time zone.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested managed instance Start/Stop schedule.
        required: true
      responses:
        '200':
          description: Successfully set the Start/Stop schedule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: System data of the scheduled resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - scheduleList
                    type: object
                    properties:
                      description:
                        description: The description of the schedule.
                        default: ''
                        type: string
                      timeZoneId:
                        description: The time zone of the schedule.
                        default: UTC
                        type: string
                      scheduleList:
                        description: Schedule list.
                        type: array
                        items:
                          description: Schedule info describing when the server should
                            be started or stopped.
                          required:
                          - startDay
                          - startTime
                          - stopDay
                          - stopTime
                          type: object
                          properties:
                            startDay:
                              description: Start day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            startTime:
                              description: Start time.
                              type: string
                            stopDay:
                              description: Stop day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            stopTime:
                              description: Stop time.
                              type: string
                        x-ms-identifiers: []
                      nextRunAction:
                        description: Next action to be executed (Start or Stop)
                        type: string
                        readOnly: true
                      nextExecutionTime:
                        description: Timestamp when the next action will be executed
                          in the corresponding schedule time zone.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the Start/Stop schedule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  systemData:
                    description: System data of the scheduled resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - scheduleList
                    type: object
                    properties:
                      description:
                        description: The description of the schedule.
                        default: ''
                        type: string
                      timeZoneId:
                        description: The time zone of the schedule.
                        default: UTC
                        type: string
                      scheduleList:
                        description: Schedule list.
                        type: array
                        items:
                          description: Schedule info describing when the server should
                            be started or stopped.
                          required:
                          - startDay
                          - startTime
                          - stopDay
                          - stopTime
                          type: object
                          properties:
                            startDay:
                              description: Start day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            startTime:
                              description: Start time.
                              type: string
                            stopDay:
                              description: Stop day.
                              enum:
                              - Sunday
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              type: string
                              x-ms-enum:
                                name: DayOfWeek
                                modelAsString: true
                            stopTime:
                              description: Stop time.
                              type: string
                        x-ms-identifiers: []
                      nextRunAction:
                        description: Next action to be executed (Start or Stop)
                        type: string
                        readOnly: true
                      nextExecutionTime:
                        description: Timestamp when the next action will be executed
                          in the corresponding schedule time zone.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 204 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestParametersInvalid\
            \ - The provided set of parameters in the body of the request is either\
            \ empty or invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestTimeZoneInvalid\
            \ - The provided time zone parameter is invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestScheduleInvalid\
            \ - The provided Start/Stop schedule is invalid. The schedule either contains\
            \ no items in the schedule list or some of the items in the list have\
            \ invalid values. \n\n * 400 ManagementServiceStartStopManagedInstanceScheduleSmallTimespan\
            \ - Time between two successive actions is less than 1 hour.\n\n * 400\
            \ ManagementServiceStartStopManagedInstanceScheduleSubscriptionNotEnabledForFeature\
            \ - User attempted to use Start/Stop feature without having the subscription\
            \ allowlisted for the appropriate subscription feature.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleNotSupportedOnSKU\
            \ - Scheduled Start/Stop operation is not supported on the given SKU.\n\
            \n * 400 ManagementServiceStopManagedInstanceHostedOnRdfePlatform - Stop\
            \ executed on the instance that is not running with Feature Wave November\
            \ 2022\n\n * 400 StartStopOfManagedInstanceIsDisabled - Start and stop\
            \ operation on managed instance is not enabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleFeatureDisabled\
            \ - User attempted to use the scheduled Start/Stop Azure SQL Managed Instance\
            \ feature, which is disabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleOverlap\
            \ - Overlap in schedule pairs.\n\n * 404 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found.\n\n * 404 ManagementServiceStartStopManagedInstanceScheduleNotFound\
            \ - Schedule does not exist for a given managed instance.\n\n * 409 ManagementServiceStartStopManagedInstanceScheduleConflictingOperation\
            \ - The attempted create/update/delete operation of Start/Stop schedule\
            \ on the Azure SQL Managed Instance failed. The schedule was either not\
            \ created or couldn't be updated/deleted as it was busy with an ongoing\
            \ scheduled operation. Please retry your request later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - StartStopManagedInstanceSchedules
      description: Deletes the managed instance's Start/Stop schedule.
      operationId: StartStopManagedInstanceSchedules_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedInstanceName
        in: path
        description: The name of the managed instance.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: startStopScheduleName
        in: path
        description: Name of the managed instance Start/Stop schedule.
        required: true
        x-ms-enum:
          name: StartStopScheduleName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the Start/Stop schedule.
        '204':
          description: The specified Start/Stop schedule does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 204 ManagementServiceStartStopManagedInstanceScheduleNotFound\
            \ - Schedule does not exist for a given managed instance.\n\n * 204 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleSmallTimespan\
            \ - Time between two successive actions is less than 1 hour.\n\n * 400\
            \ ManagementServiceStartStopManagedInstanceScheduleSubscriptionNotEnabledForFeature\
            \ - User attempted to use Start/Stop feature without having the subscription\
            \ allowlisted for the appropriate subscription feature.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleNotSupportedOnSKU\
            \ - Scheduled Start/Stop operation is not supported on the given SKU.\n\
            \n * 400 ManagementServiceStopManagedInstanceHostedOnRdfePlatform - Stop\
            \ executed on the instance that is not running with Feature Wave November\
            \ 2022\n\n * 400 StartStopOfManagedInstanceIsDisabled - Start and stop\
            \ operation on managed instance is not enabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleFeatureDisabled\
            \ - User attempted to use the scheduled Start/Stop Azure SQL Managed Instance\
            \ feature, which is disabled.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleOverlap\
            \ - Overlap in schedule pairs.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestParametersInvalid\
            \ - The provided set of parameters in the body of the request is either\
            \ empty or invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestTimeZoneInvalid\
            \ - The provided time zone parameter is invalid.\n\n * 400 ManagementServiceStartStopManagedInstanceScheduleCreateOrUpdateRequestScheduleInvalid\
            \ - The provided Start/Stop schedule is invalid. The schedule either contains\
            \ no items in the schedule list or some of the items in the list have\
            \ invalid values. \n\n * 404 ServerNotInSubscriptionResourceGroup - Specified\
            \ server does not exist in the specified resource group and subscription.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 ResourceNotFound - The requested resource was not found.\n\
            \n * 404 ManagementServiceStartStopManagedInstanceScheduleNameInvalid\
            \ - User attempted to perform CRUD operation of Start/Stop schedule with\
            \ a schedule name different from 'default'\n\n * 409 ManagementServiceStartStopManagedInstanceScheduleConflictingOperation\
            \ - The attempted create/update/delete operation of Start/Stop schedule\
            \ on the Azure SQL Managed Instance failed. The schedule was either not\
            \ created or couldn't be updated/deleted as it was busy with an ongoing\
            \ scheduled operation. Please retry your request later."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ManagedInstanceNameParameter:
      name: managedInstanceName
      in: path
      description: The name of the managed instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ScheduleItem:
      description: Schedule info describing when the server should be started or stopped.
      required:
      - startDay
      - startTime
      - stopDay
      - stopTime
      type: object
      properties:
        startDay:
          description: Start day.
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          x-ms-enum:
            name: DayOfWeek
            modelAsString: true
        startTime:
          description: Start time.
          type: string
        stopDay:
          description: Stop day.
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
          x-ms-enum:
            name: DayOfWeek
            modelAsString: true
        stopTime:
          description: Stop time.
          type: string
    StartStopManagedInstanceSchedule:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        systemData:
          description: System data of the scheduled resource.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - scheduleList
          type: object
          properties:
            description:
              description: The description of the schedule.
              default: ''
              type: string
            timeZoneId:
              description: The time zone of the schedule.
              default: UTC
              type: string
            scheduleList:
              description: Schedule list.
              type: array
              items:
                description: Schedule info describing when the server should be started
                  or stopped.
                required:
                - startDay
                - startTime
                - stopDay
                - stopTime
                type: object
                properties:
                  startDay:
                    description: Start day.
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    type: string
                    x-ms-enum:
                      name: DayOfWeek
                      modelAsString: true
                  startTime:
                    description: Start time.
                    type: string
                  stopDay:
                    description: Stop day.
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    type: string
                    x-ms-enum:
                      name: DayOfWeek
                      modelAsString: true
                  stopTime:
                    description: Stop time.
                    type: string
              x-ms-identifiers: []
            nextRunAction:
              description: Next action to be executed (Start or Stop)
              type: string
              readOnly: true
            nextExecutionTime:
              description: Timestamp when the next action will be executed in the
                corresponding schedule time zone.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    StartStopManagedInstanceScheduleListResult:
      description: Managed instance's Start/Stop schedule list result.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              systemData:
                description: System data of the scheduled resource.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - scheduleList
                type: object
                properties:
                  description:
                    description: The description of the schedule.
                    default: ''
                    type: string
                  timeZoneId:
                    description: The time zone of the schedule.
                    default: UTC
                    type: string
                  scheduleList:
                    description: Schedule list.
                    type: array
                    items:
                      description: Schedule info describing when the server should
                        be started or stopped.
                      required:
                      - startDay
                      - startTime
                      - stopDay
                      - stopTime
                      type: object
                      properties:
                        startDay:
                          description: Start day.
                          enum:
                          - Sunday
                          - Monday
                          - Tuesday
                          - Wednesday
                          - Thursday
                          - Friday
                          - Saturday
                          type: string
                          x-ms-enum:
                            name: DayOfWeek
                            modelAsString: true
                        startTime:
                          description: Start time.
                          type: string
                        stopDay:
                          description: Stop day.
                          enum:
                          - Sunday
                          - Monday
                          - Tuesday
                          - Wednesday
                          - Thursday
                          - Friday
                          - Saturday
                          type: string
                          x-ms-enum:
                            name: DayOfWeek
                            modelAsString: true
                        stopTime:
                          description: Stop time.
                          type: string
                    x-ms-identifiers: []
                  nextRunAction:
                    description: Next action to be executed (Start or Stop)
                    type: string
                    readOnly: true
                  nextExecutionTime:
                    description: Timestamp when the next action will be executed in
                      the corresponding schedule time zone.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    StartStopManagedInstanceScheduleProperties:
      description: Properties of managed instance's Start/Stop schedule.
      required:
      - scheduleList
      type: object
      properties:
        description:
          description: The description of the schedule.
          default: ''
          type: string
        timeZoneId:
          description: The time zone of the schedule.
          default: UTC
          type: string
        scheduleList:
          description: Schedule list.
          type: array
          items:
            description: Schedule info describing when the server should be started
              or stopped.
            required:
            - startDay
            - startTime
            - stopDay
            - stopTime
            type: object
            properties:
              startDay:
                description: Start day.
                enum:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
                type: string
                x-ms-enum:
                  name: DayOfWeek
                  modelAsString: true
              startTime:
                description: Start time.
                type: string
              stopDay:
                description: Stop day.
                enum:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
                type: string
                x-ms-enum:
                  name: DayOfWeek
                  modelAsString: true
              stopTime:
                description: Stop time.
                type: string
          x-ms-identifiers: []
        nextRunAction:
          description: Next action to be executed (Start or Stop)
          type: string
          readOnly: true
        nextExecutionTime:
          description: Timestamp when the next action will be executed in the corresponding
            schedule time zone.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
