openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers
  : get:
      tags:
      - SyncMembers
      description: Lists sync members in the given sync group.
      operationId: SyncMembers_ListBySyncGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of sync members.
          content:
            application/json:
              schema:
                description: A list of Azure SQL Database sync members.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            databaseType:
                              description: Database type of the sync member.
                              enum:
                              - AzureSqlDatabase
                              - SqlServerDatabase
                              type: string
                              x-ms-enum:
                                name: SyncMemberDbType
                                modelAsString: true
                            syncAgentId:
                              description: ARM resource id of the sync agent in the
                                sync member.
                              type: string
                            sqlServerDatabaseId:
                              format: uuid
                              description: SQL Server database id of the sync member.
                              type: string
                            syncMemberAzureDatabaseResourceId:
                              description: ARM resource id of the sync member logical
                                database, for sync members in Azure.
                              type: string
                            usePrivateLinkConnection:
                              description: Whether to use private link connection.
                              type: boolean
                            privateEndpointName:
                              description: Private endpoint name of the sync member
                                if use private link connection is enabled, for sync
                                members in Azure.
                              type: string
                              readOnly: true
                            serverName:
                              description: Server name of the member database in the
                                sync member
                              type: string
                            databaseName:
                              description: Database name of the member database in
                                the sync member.
                              type: string
                            userName:
                              description: User name of the member database in the
                                sync member.
                              type: string
                            password:
                              description: Password of the member database in the
                                sync member.
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            syncDirection:
                              description: Sync direction of the sync member.
                              enum:
                              - Bidirectional
                              - OneWayMemberToHub
                              - OneWayHubToMember
                              type: string
                              x-ms-enum:
                                name: SyncDirection
                                modelAsString: true
                            syncState:
                              description: Sync state of the sync member.
                              enum:
                              - SyncInProgress
                              - SyncSucceeded
                              - SyncFailed
                              - DisabledTombstoneCleanup
                              - DisabledBackupRestore
                              - SyncSucceededWithWarnings
                              - SyncCancelling
                              - SyncCancelled
                              - UnProvisioned
                              - Provisioning
                              - Provisioned
                              - ProvisionFailed
                              - DeProvisioning
                              - DeProvisioned
                              - DeProvisionFailed
                              - Reprovisioning
                              - ReprovisionFailed
                              - UnReprovisioned
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SyncMemberState
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SyncOperation_HubServerNotFound - Hub logical server\
            \ does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database\
            \ is invalid.\n\n * 409 SyncOperation_DuplicateSyncMemberName - Cannot\
            \ create sync member because the sync member with the same name already\
            \ exists.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max\
            \ requests that can be processed by available resources.\n\n * 503 TooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers/{syncMemberName}
  : get:
      tags:
      - SyncMembers
      description: Gets a sync member.
      operationId: SyncMembers_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group on which the sync member is hosted.
        required: true
        schema:
          type: string
      - name: syncMemberName
        in: path
        description: The name of the sync member.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified sync member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      databaseType:
                        description: Database type of the sync member.
                        enum:
                        - AzureSqlDatabase
                        - SqlServerDatabase
                        type: string
                        x-ms-enum:
                          name: SyncMemberDbType
                          modelAsString: true
                      syncAgentId:
                        description: ARM resource id of the sync agent in the sync
                          member.
                        type: string
                      sqlServerDatabaseId:
                        format: uuid
                        description: SQL Server database id of the sync member.
                        type: string
                      syncMemberAzureDatabaseResourceId:
                        description: ARM resource id of the sync member logical database,
                          for sync members in Azure.
                        type: string
                      usePrivateLinkConnection:
                        description: Whether to use private link connection.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync member if use
                          private link connection is enabled, for sync members in
                          Azure.
                        type: string
                        readOnly: true
                      serverName:
                        description: Server name of the member database in the sync
                          member
                        type: string
                      databaseName:
                        description: Database name of the member database in the sync
                          member.
                        type: string
                      userName:
                        description: User name of the member database in the sync
                          member.
                        type: string
                      password:
                        description: Password of the member database in the sync member.
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      syncDirection:
                        description: Sync direction of the sync member.
                        enum:
                        - Bidirectional
                        - OneWayMemberToHub
                        - OneWayHubToMember
                        type: string
                        x-ms-enum:
                          name: SyncDirection
                          modelAsString: true
                      syncState:
                        description: Sync state of the sync member.
                        enum:
                        - SyncInProgress
                        - SyncSucceeded
                        - SyncFailed
                        - DisabledTombstoneCleanup
                        - DisabledBackupRestore
                        - SyncSucceededWithWarnings
                        - SyncCancelling
                        - SyncCancelled
                        - UnProvisioned
                        - Provisioning
                        - Provisioned
                        - ProvisionFailed
                        - DeProvisioning
                        - DeProvisioned
                        - DeProvisionFailed
                        - Reprovisioning
                        - ReprovisionFailed
                        - UnReprovisioned
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncMemberState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 SyncOperation_HubServerNotFound - Hub logical server\
            \ does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database\
            \ is invalid.\n\n * 409 SyncOperation_DuplicateSyncMemberName - Cannot\
            \ create sync member because the sync member with the same name already\
            \ exists.\n\n * 429 SubscriptionTooManyRequests - Requests beyond max\
            \ requests that can be processed by available resources.\n\n * 503 TooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SyncMembers
      description: Creates or updates a sync member.
      operationId: SyncMembers_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group on which the sync member is hosted.
        required: true
        schema:
          type: string
      - name: syncMemberName
        in: path
        description: The name of the sync member.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    databaseType:
                      description: Database type of the sync member.
                      enum:
                      - AzureSqlDatabase
                      - SqlServerDatabase
                      type: string
                      x-ms-enum:
                        name: SyncMemberDbType
                        modelAsString: true
                    syncAgentId:
                      description: ARM resource id of the sync agent in the sync member.
                      type: string
                    sqlServerDatabaseId:
                      format: uuid
                      description: SQL Server database id of the sync member.
                      type: string
                    syncMemberAzureDatabaseResourceId:
                      description: ARM resource id of the sync member logical database,
                        for sync members in Azure.
                      type: string
                    usePrivateLinkConnection:
                      description: Whether to use private link connection.
                      type: boolean
                    privateEndpointName:
                      description: Private endpoint name of the sync member if use
                        private link connection is enabled, for sync members in Azure.
                      type: string
                      readOnly: true
                    serverName:
                      description: Server name of the member database in the sync
                        member
                      type: string
                    databaseName:
                      description: Database name of the member database in the sync
                        member.
                      type: string
                    userName:
                      description: User name of the member database in the sync member.
                      type: string
                    password:
                      description: Password of the member database in the sync member.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    syncDirection:
                      description: Sync direction of the sync member.
                      enum:
                      - Bidirectional
                      - OneWayMemberToHub
                      - OneWayHubToMember
                      type: string
                      x-ms-enum:
                        name: SyncDirection
                        modelAsString: true
                    syncState:
                      description: Sync state of the sync member.
                      enum:
                      - SyncInProgress
                      - SyncSucceeded
                      - SyncFailed
                      - DisabledTombstoneCleanup
                      - DisabledBackupRestore
                      - SyncSucceededWithWarnings
                      - SyncCancelling
                      - SyncCancelled
                      - UnProvisioned
                      - Provisioning
                      - Provisioned
                      - ProvisionFailed
                      - DeProvisioning
                      - DeProvisioned
                      - DeProvisionFailed
                      - Reprovisioning
                      - ReprovisionFailed
                      - UnReprovisioned
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SyncMemberState
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested sync member resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the sync member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      databaseType:
                        description: Database type of the sync member.
                        enum:
                        - AzureSqlDatabase
                        - SqlServerDatabase
                        type: string
                        x-ms-enum:
                          name: SyncMemberDbType
                          modelAsString: true
                      syncAgentId:
                        description: ARM resource id of the sync agent in the sync
                          member.
                        type: string
                      sqlServerDatabaseId:
                        format: uuid
                        description: SQL Server database id of the sync member.
                        type: string
                      syncMemberAzureDatabaseResourceId:
                        description: ARM resource id of the sync member logical database,
                          for sync members in Azure.
                        type: string
                      usePrivateLinkConnection:
                        description: Whether to use private link connection.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync member if use
                          private link connection is enabled, for sync members in
                          Azure.
                        type: string
                        readOnly: true
                      serverName:
                        description: Server name of the member database in the sync
                          member
                        type: string
                      databaseName:
                        description: Database name of the member database in the sync
                          member.
                        type: string
                      userName:
                        description: User name of the member database in the sync
                          member.
                        type: string
                      password:
                        description: Password of the member database in the sync member.
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      syncDirection:
                        description: Sync direction of the sync member.
                        enum:
                        - Bidirectional
                        - OneWayMemberToHub
                        - OneWayHubToMember
                        type: string
                        x-ms-enum:
                          name: SyncDirection
                          modelAsString: true
                      syncState:
                        description: Sync state of the sync member.
                        enum:
                        - SyncInProgress
                        - SyncSucceeded
                        - SyncFailed
                        - DisabledTombstoneCleanup
                        - DisabledBackupRestore
                        - SyncSucceededWithWarnings
                        - SyncCancelling
                        - SyncCancelled
                        - UnProvisioned
                        - Provisioning
                        - Provisioned
                        - ProvisionFailed
                        - DeProvisioning
                        - DeProvisioned
                        - DeProvisionFailed
                        - Reprovisioning
                        - ReprovisionFailed
                        - UnReprovisioned
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncMemberState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the sync member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      databaseType:
                        description: Database type of the sync member.
                        enum:
                        - AzureSqlDatabase
                        - SqlServerDatabase
                        type: string
                        x-ms-enum:
                          name: SyncMemberDbType
                          modelAsString: true
                      syncAgentId:
                        description: ARM resource id of the sync agent in the sync
                          member.
                        type: string
                      sqlServerDatabaseId:
                        format: uuid
                        description: SQL Server database id of the sync member.
                        type: string
                      syncMemberAzureDatabaseResourceId:
                        description: ARM resource id of the sync member logical database,
                          for sync members in Azure.
                        type: string
                      usePrivateLinkConnection:
                        description: Whether to use private link connection.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync member if use
                          private link connection is enabled, for sync members in
                          Azure.
                        type: string
                        readOnly: true
                      serverName:
                        description: Server name of the member database in the sync
                          member
                        type: string
                      databaseName:
                        description: Database name of the member database in the sync
                          member.
                        type: string
                      userName:
                        description: User name of the member database in the sync
                          member.
                        type: string
                      password:
                        description: Password of the member database in the sync member.
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      syncDirection:
                        description: Sync direction of the sync member.
                        enum:
                        - Bidirectional
                        - OneWayMemberToHub
                        - OneWayHubToMember
                        type: string
                        x-ms-enum:
                          name: SyncDirection
                          modelAsString: true
                      syncState:
                        description: Sync state of the sync member.
                        enum:
                        - SyncInProgress
                        - SyncSucceeded
                        - SyncFailed
                        - DisabledTombstoneCleanup
                        - DisabledBackupRestore
                        - SyncSucceededWithWarnings
                        - SyncCancelling
                        - SyncCancelled
                        - UnProvisioned
                        - Provisioning
                        - Provisioned
                        - ProvisionFailed
                        - DeProvisioning
                        - DeProvisioned
                        - DeProvisionFailed
                        - Reprovisioning
                        - ReprovisionFailed
                        - UnReprovisioned
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncMemberState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Creating or updating the sync member is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer - The\
            \ requested server was not found\n\n * 404 DatabaseDoesNotExist - User\
            \ has specified a database name that does not exist on this server instance.\n\
            \n * 404 SyncOperation_HubServerNotFound - Hub logical server does not\
            \ exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database is\
            \ invalid.\n\n * 404 OperationIdNotFound - The operation with Id does\
            \ not exist.\n\n * 409 SyncOperation_DuplicateSyncMemberName - Cannot\
            \ create sync member because the sync member with the same name already\
            \ exists.\n\n * 409 CannotCancelOperation - The management operation is\
            \ in a state that cannot be cancelled.\n\n * 409 OperationCancelled -\
            \ The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - SyncMembers
      description: Deletes a sync member.
      operationId: SyncMembers_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group on which the sync member is hosted.
        required: true
        schema:
          type: string
      - name: syncMemberName
        in: path
        description: The name of the sync member.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the sync member.
        '202':
          description: Deleting the sync member is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified sync member does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer - The\
            \ requested server was not found\n\n * 404 DatabaseDoesNotExist - User\
            \ has specified a database name that does not exist on this server instance.\n\
            \n * 404 SyncOperation_HubServerNotFound - Hub logical server does not\
            \ exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database is\
            \ invalid.\n\n * 404 OperationIdNotFound - The operation with Id does\
            \ not exist.\n\n * 409 SyncOperation_DuplicateSyncMemberName - Cannot\
            \ create sync member because the sync member with the same name already\
            \ exists.\n\n * 409 CannotCancelOperation - The management operation is\
            \ in a state that cannot be cancelled.\n\n * 409 OperationCancelled -\
            \ The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - SyncMembers
      description: Updates an existing sync member.
      operationId: SyncMembers_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group on which the sync member is hosted.
        required: true
        schema:
          type: string
      - name: syncMemberName
        in: path
        description: The name of the sync member.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    databaseType:
                      description: Database type of the sync member.
                      enum:
                      - AzureSqlDatabase
                      - SqlServerDatabase
                      type: string
                      x-ms-enum:
                        name: SyncMemberDbType
                        modelAsString: true
                    syncAgentId:
                      description: ARM resource id of the sync agent in the sync member.
                      type: string
                    sqlServerDatabaseId:
                      format: uuid
                      description: SQL Server database id of the sync member.
                      type: string
                    syncMemberAzureDatabaseResourceId:
                      description: ARM resource id of the sync member logical database,
                        for sync members in Azure.
                      type: string
                    usePrivateLinkConnection:
                      description: Whether to use private link connection.
                      type: boolean
                    privateEndpointName:
                      description: Private endpoint name of the sync member if use
                        private link connection is enabled, for sync members in Azure.
                      type: string
                      readOnly: true
                    serverName:
                      description: Server name of the member database in the sync
                        member
                      type: string
                    databaseName:
                      description: Database name of the member database in the sync
                        member.
                      type: string
                    userName:
                      description: User name of the member database in the sync member.
                      type: string
                    password:
                      description: Password of the member database in the sync member.
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    syncDirection:
                      description: Sync direction of the sync member.
                      enum:
                      - Bidirectional
                      - OneWayMemberToHub
                      - OneWayHubToMember
                      type: string
                      x-ms-enum:
                        name: SyncDirection
                        modelAsString: true
                    syncState:
                      description: Sync state of the sync member.
                      enum:
                      - SyncInProgress
                      - SyncSucceeded
                      - SyncFailed
                      - DisabledTombstoneCleanup
                      - DisabledBackupRestore
                      - SyncSucceededWithWarnings
                      - SyncCancelling
                      - SyncCancelled
                      - UnProvisioned
                      - Provisioning
                      - Provisioned
                      - ProvisionFailed
                      - DeProvisioning
                      - DeProvisioned
                      - DeProvisionFailed
                      - Reprovisioning
                      - ReprovisionFailed
                      - UnReprovisioned
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SyncMemberState
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested sync member resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the sync member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      databaseType:
                        description: Database type of the sync member.
                        enum:
                        - AzureSqlDatabase
                        - SqlServerDatabase
                        type: string
                        x-ms-enum:
                          name: SyncMemberDbType
                          modelAsString: true
                      syncAgentId:
                        description: ARM resource id of the sync agent in the sync
                          member.
                        type: string
                      sqlServerDatabaseId:
                        format: uuid
                        description: SQL Server database id of the sync member.
                        type: string
                      syncMemberAzureDatabaseResourceId:
                        description: ARM resource id of the sync member logical database,
                          for sync members in Azure.
                        type: string
                      usePrivateLinkConnection:
                        description: Whether to use private link connection.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync member if use
                          private link connection is enabled, for sync members in
                          Azure.
                        type: string
                        readOnly: true
                      serverName:
                        description: Server name of the member database in the sync
                          member
                        type: string
                      databaseName:
                        description: Database name of the member database in the sync
                          member.
                        type: string
                      userName:
                        description: User name of the member database in the sync
                          member.
                        type: string
                      password:
                        description: Password of the member database in the sync member.
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      syncDirection:
                        description: Sync direction of the sync member.
                        enum:
                        - Bidirectional
                        - OneWayMemberToHub
                        - OneWayHubToMember
                        type: string
                        x-ms-enum:
                          name: SyncDirection
                          modelAsString: true
                      syncState:
                        description: Sync state of the sync member.
                        enum:
                        - SyncInProgress
                        - SyncSucceeded
                        - SyncFailed
                        - DisabledTombstoneCleanup
                        - DisabledBackupRestore
                        - SyncSucceededWithWarnings
                        - SyncCancelling
                        - SyncCancelled
                        - UnProvisioned
                        - Provisioning
                        - Provisioned
                        - ProvisionFailed
                        - DeProvisioning
                        - DeProvisioned
                        - DeProvisionFailed
                        - Reprovisioning
                        - ReprovisionFailed
                        - UnReprovisioned
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncMemberState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Updating the sync member is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer - The\
            \ requested server was not found\n\n * 404 DatabaseDoesNotExist - User\
            \ has specified a database name that does not exist on this server instance.\n\
            \n * 404 SyncOperation_HubServerNotFound - Hub logical server does not\
            \ exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database is\
            \ invalid.\n\n * 404 OperationIdNotFound - The operation with Id does\
            \ not exist.\n\n * 409 SyncOperation_DuplicateSyncMemberName - Cannot\
            \ create sync member because the sync member with the same name already\
            \ exists.\n\n * 409 CannotCancelOperation - The management operation is\
            \ in a state that cannot be cancelled.\n\n * 409 OperationCancelled -\
            \ The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/syncMembers/{syncMemberName}/refreshSchema
  : post:
      tags:
      - SyncMembers
      description: Refreshes a sync member database schema.
      operationId: SyncMembers_RefreshMemberSchema
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group on which the sync member is hosted.
        required: true
        schema:
          type: string
      - name: syncMemberName
        in: path
        description: The name of the sync member.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully refreshed a sync member schema.
        '202':
          description: The sync member schema refresh operation is on going.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidServerName - Invalid\
            \ server name specified.\n\n * 400 InvalidIdentifier - The identifier\
            \ contains NULL or an invalid unicode character.\n\n * 400 TokenTooLong\
            \ - The provided token is too long.\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 InvalidSyncMember - Sync member is\
            \ invalid.\n\n * 400 InvalidSyncAgent - Sync agent is invalid.\n\n * 400\
            \ CannotCreateSyncMemberDueToQuotaExceeded - Cannot create sync member\
            \ due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncMemberDrop\
            \ - The sync member is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 404 ResourceNotFound - The requested\
            \ resource was not found.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 404 SubscriptionDoesNotHaveServer - The\
            \ requested server was not found\n\n * 404 DatabaseDoesNotExist - User\
            \ has specified a database name that does not exist on this server instance.\n\
            \n * 404 SyncOperation_HubServerNotFound - Hub logical server does not\
            \ exist.\n\n * 404 SyncOperation_InvalidHubDatabase - Hub database is\
            \ invalid.\n\n * 409 CannotCancelOperation - The management operation\
            \ is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 409 SyncOperation_DuplicateSyncMemberName\
            \ - Cannot create sync member because the sync member with the same name\
            \ already exists.\n\n * 429 SubscriptionTooManyCreateUpdateRequests -\
            \ Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
[...]
