openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents:
    get:
      tags:
      - SyncAgents
      description: Lists sync agents in a server.
      operationId: SyncAgents_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of sync agents.
          content:
            application/json:
              schema:
                description: A list of sync agents.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            name:
                              description: Name of the sync agent.
                              type: string
                              readOnly: true
                            syncDatabaseId:
                              description: ARM resource id of the sync database in
                                the sync agent.
                              type: string
                            lastAliveTime:
                              format: date-time
                              description: Last alive time of the sync agent.
                              type: string
                              readOnly: true
                            state:
                              description: State of the sync agent.
                              enum:
                              - Online
                              - Offline
                              - NeverConnected
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SyncAgentState
                                modelAsString: true
                            isUpToDate:
                              description: If the sync agent version is up to date.
                              type: boolean
                              readOnly: true
                            expiryTime:
                              format: date-time
                              description: Expiration time of the sync agent version.
                              type: string
                              readOnly: true
                            version:
                              description: Version of the sync agent.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionNotFound - The\
            \ requested subscription was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}
  : get:
      tags:
      - SyncAgents
      description: Gets a sync agent.
      operationId: SyncAgents_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: syncAgentName
        in: path
        description: The name of the sync agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified sync agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      name:
                        description: Name of the sync agent.
                        type: string
                        readOnly: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          agent.
                        type: string
                      lastAliveTime:
                        format: date-time
                        description: Last alive time of the sync agent.
                        type: string
                        readOnly: true
                      state:
                        description: State of the sync agent.
                        enum:
                        - Online
                        - Offline
                        - NeverConnected
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncAgentState
                          modelAsString: true
                      isUpToDate:
                        description: If the sync agent version is up to date.
                        type: boolean
                        readOnly: true
                      expiryTime:
                        format: date-time
                        description: Expiration time of the sync agent version.
                        type: string
                        readOnly: true
                      version:
                        description: Version of the sync agent.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionNotFound - The\
            \ requested subscription was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SyncAgents
      description: Creates or updates a sync agent.
      operationId: SyncAgents_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: syncAgentName
        in: path
        description: The name of the sync agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    name:
                      description: Name of the sync agent.
                      type: string
                      readOnly: true
                    syncDatabaseId:
                      description: ARM resource id of the sync database in the sync
                        agent.
                      type: string
                    lastAliveTime:
                      format: date-time
                      description: Last alive time of the sync agent.
                      type: string
                      readOnly: true
                    state:
                      description: State of the sync agent.
                      enum:
                      - Online
                      - Offline
                      - NeverConnected
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SyncAgentState
                        modelAsString: true
                    isUpToDate:
                      description: If the sync agent version is up to date.
                      type: boolean
                      readOnly: true
                    expiryTime:
                      format: date-time
                      description: Expiration time of the sync agent version.
                      type: string
                      readOnly: true
                    version:
                      description: Version of the sync agent.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested sync agent resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the sync agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      name:
                        description: Name of the sync agent.
                        type: string
                        readOnly: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          agent.
                        type: string
                      lastAliveTime:
                        format: date-time
                        description: Last alive time of the sync agent.
                        type: string
                        readOnly: true
                      state:
                        description: State of the sync agent.
                        enum:
                        - Online
                        - Offline
                        - NeverConnected
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncAgentState
                          modelAsString: true
                      isUpToDate:
                        description: If the sync agent version is up to date.
                        type: boolean
                        readOnly: true
                      expiryTime:
                        format: date-time
                        description: Expiration time of the sync agent version.
                        type: string
                        readOnly: true
                      version:
                        description: Version of the sync agent.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the sync agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      name:
                        description: Name of the sync agent.
                        type: string
                        readOnly: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          agent.
                        type: string
                      lastAliveTime:
                        format: date-time
                        description: Last alive time of the sync agent.
                        type: string
                        readOnly: true
                      state:
                        description: State of the sync agent.
                        enum:
                        - Online
                        - Offline
                        - NeverConnected
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncAgentState
                          modelAsString: true
                      isUpToDate:
                        description: If the sync agent version is up to date.
                        type: boolean
                        readOnly: true
                      expiryTime:
                        format: date-time
                        description: Expiration time of the sync agent version.
                        type: string
                        readOnly: true
                      version:
                        description: Version of the sync agent.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Creating or updating the sync agent is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 OperationIdNotFound - The operation with Id does\
            \ not exist.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - SyncAgents
      description: Deletes a sync agent.
      operationId: SyncAgents_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: syncAgentName
        in: path
        description: The name of the sync agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the sync agent.
        '202':
          description: Deleting the sync agent is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified sync agent does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 404 OperationIdNotFound - The operation with Id does\
            \ not exist.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists.\n\n * 409 CannotCancelOperation\
            \ - The management operation is in a state that cannot be cancelled.\n\
            \n * 409 OperationCancelled - The operation has been cancelled by user.\n\
            \n * 409 OperationInterrupted - The operation on the resource could not\
            \ be completed because it was interrupted by another operation on the\
            \ same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/generateKey
  : post:
      tags:
      - SyncAgents
      description: Generates a sync agent key.
      operationId: SyncAgents_GenerateKey
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: syncAgentName
        in: path
        description: The name of the sync agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully generate a sync agent key.
          content:
            application/json:
              schema:
                description: Properties of an Azure SQL Database sync agent key.
                type: object
                properties:
                  syncAgentKey:
                    description: Key of sync agent.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/linkedDatabases
  : get:
      tags:
      - SyncAgents
      description: Lists databases linked to a sync agent.
      operationId: SyncAgents_ListLinkedDatabases
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server on which the sync agent is hosted.
        required: true
        schema:
          type: string
      - name: syncAgentName
        in: path
        description: The name of the sync agent.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved sync agent linked SQL server databases.
          content:
            application/json:
              schema:
                description: A list of sync agent linked databases.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            databaseType:
                              description: Type of the sync agent linked database.
                              enum:
                              - AzureSqlDatabase
                              - SqlServerDatabase
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SyncMemberDbType
                                modelAsString: true
                            databaseId:
                              description: Id of the sync agent linked database.
                              type: string
                              readOnly: true
                            description:
                              description: Description of the sync agent linked database.
                              type: string
                              readOnly: true
                            serverName:
                              description: Server name of the sync agent linked database.
                              type: string
                              readOnly: true
                            databaseName:
                              description: Database name of the sync agent linked
                                database.
                              type: string
                              readOnly: true
                            userName:
                              description: User name of the sync agent linked database.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_DwInSyncGroup - Cannot use datawarehouse edition in\
            \ data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup - Cannot use\
            \ logical master in data sync.\n\n * 400 CannotDeleteInUseSyncAgent -\
            \ Cannot delete sync agent because it is used by sync member.\n\n * 400\
            \ InvalidSyncAgent - Sync agent is invalid.\n\n * 400 InvalidSyncMetadataDatabase\
            \ - Sync metadata database is invalid.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance.\n\n * 409 SyncOperation_AgentAlreadyExists - The sync agent\
            \ with the same name already exists.\n\n * 409 SyncOperation_AgentIdAlreadyExists\
            \ - The sync agent with the same id already exists."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SyncAgent:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            name:
              description: Name of the sync agent.
              type: string
              readOnly: true
            syncDatabaseId:
              description: ARM resource id of the sync database in the sync agent.
              type: string
            lastAliveTime:
              format: date-time
              description: Last alive time of the sync agent.
              type: string
              readOnly: true
            state:
              description: State of the sync agent.
              enum:
              - Online
              - Offline
              - NeverConnected
              type: string
              readOnly: true
              x-ms-enum:
                name: SyncAgentState
                modelAsString: true
            isUpToDate:
              description: If the sync agent version is up to date.
              type: boolean
              readOnly: true
            expiryTime:
              format: date-time
              description: Expiration time of the sync agent version.
              type: string
              readOnly: true
            version:
              description: Version of the sync agent.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    SyncAgentKeyProperties:
      description: Properties of an Azure SQL Database sync agent key.
      type: object
      properties:
        syncAgentKey:
          description: Key of sync agent.
          type: string
          readOnly: true
    SyncAgentLinkedDatabase:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            databaseType:
              description: Type of the sync agent linked database.
              enum:
              - AzureSqlDatabase
              - SqlServerDatabase
              type: string
              readOnly: true
              x-ms-enum:
                name: SyncMemberDbType
                modelAsString: true
            databaseId:
              description: Id of the sync agent linked database.
              type: string
              readOnly: true
            description:
              description: Description of the sync agent linked database.
              type: string
              readOnly: true
            serverName:
              description: Server name of the sync agent linked database.
              type: string
              readOnly: true
            databaseName:
              description: Database name of the sync agent linked database.
              type: string
              readOnly: true
            userName:
              description: User name of the sync agent linked database.
              type: string
              readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
    SyncAgentLinkedDatabaseListResult:
      description: A list of sync agent linked databases.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  databaseType:
                    description: Type of the sync agent linked database.
                    enum:
                    - AzureSqlDatabase
                    - SqlServerDatabase
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: SyncMemberDbType
                      modelAsString: true
                  databaseId:
                    description: Id of the sync agent linked database.
                    type: string
                    readOnly: true
                  description:
                    description: Description of the sync agent linked database.
                    type: string
                    readOnly: true
                  serverName:
                    description: Server name of the sync agent linked database.
                    type: string
                    readOnly: true
                  databaseName:
                    description: Database name of the sync agent linked database.
                    type: string
                    readOnly: true
                  userName:
                    description: User name of the sync agent linked database.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SyncAgentLinkedDatabaseProperties:
      description: Properties of an Azure SQL Database sync agent linked database.
      type: object
      properties:
        databaseType:
          description: Type of the sync agent linked database.
          enum:
          - AzureSqlDatabase
          - SqlServerDatabase
          type: string
          readOnly: true
          x-ms-enum:
            name: SyncMemberDbType
            modelAsString: true
        databaseId:
          description: Id of the sync agent linked database.
          type: string
          readOnly: true
        description:
          description: Description of the sync agent linked database.
          type: string
          readOnly: true
        serverName:
          description: Server name of the sync agent linked database.
          type: string
          readOnly: true
        databaseName:
          description: Database name of the sync agent linked database.
          type: string
          readOnly: true
        userName:
          description: User name of the sync agent linked database.
          type: string
          readOnly: true
    SyncAgentListResult:
      description: A list of sync agents.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  name:
                    description: Name of the sync agent.
                    type: string
                    readOnly: true
                  syncDatabaseId:
                    description: ARM resource id of the sync database in the sync
                      agent.
                    type: string
                  lastAliveTime:
                    format: date-time
                    description: Last alive time of the sync agent.
                    type: string
                    readOnly: true
                  state:
                    description: State of the sync agent.
                    enum:
                    - Online
                    - Offline
                    - NeverConnected
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: SyncAgentState
                      modelAsString: true
                  isUpToDate:
                    description: If the sync agent version is up to date.
                    type: boolean
                    readOnly: true
                  expiryTime:
                    format: date-time
                    description: Expiration time of the sync agent version.
                    type: string
                    readOnly: true
                  version:
                    description: Version of the sync agent.
                    type: string
                    readOnly: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SyncAgentProperties:
      description: Properties of an Azure SQL Database sync agent.
      type: object
      properties:
        name:
          description: Name of the sync agent.
          type: string
          readOnly: true
        syncDatabaseId:
          description: ARM resource id of the sync database in the sync agent.
          type: string
        lastAliveTime:
          format: date-time
          description: Last alive time of the sync agent.
          type: string
          readOnly: true
        state:
          description: State of the sync agent.
          enum:
          - Online
          - Offline
          - NeverConnected
          type: string
          readOnly: true
          x-ms-enum:
            name: SyncAgentState
            modelAsString: true
        isUpToDate:
          description: If the sync agent version is up to date.
          type: boolean
          readOnly: true
        expiryTime:
          format: date-time
          description: Expiration time of the sync agent version.
          type: string
          readOnly: true
        version:
          description: Version of the sync agent.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
