openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/syncDatabaseIds:
    get:
      tags:
      - SyncGroups
      description: Gets a collection of sync database ids.
      operationId: SyncGroups_ListSyncDatabaseIds
      parameters:
      - name: locationName
        in: path
        description: The name of the region where the resource is located.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved collection of sync database ids.
          content:
            application/json:
              schema:
                description: A list of sync database ID properties.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      description: Properties of the sync database id.
                      type: object
                      properties:
                        id:
                          description: ARM resource id of sync database.
                          type: string
                          readOnly: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 DatabaseDoesNotExist\
            \ - User has specified a database name that does not exist on this server\
            \ instance."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups
  : get:
      tags:
      - SyncGroups
      description: Lists sync groups under a hub database.
      operationId: SyncGroups_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of sync groups.
          content:
            application/json:
              schema:
                description: A list of sync groups.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        sku:
                          description: The name and capacity of the SKU.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: The name of the SKU, typically, a letter
                                + Number code, e.g. P3.
                              type: string
                            tier:
                              description: The tier or edition of the particular SKU,
                                e.g. Basic, Premium.
                              type: string
                            size:
                              description: Size of the particular SKU
                              type: string
                            family:
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                              type: string
                            capacity:
                              format: int32
                              description: Capacity of the particular SKU.
                              type: integer
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            interval:
                              format: int32
                              description: Sync interval of the sync group.
                              type: integer
                            lastSyncTime:
                              format: date-time
                              description: Last sync time of the sync group.
                              type: string
                              readOnly: true
                            conflictResolutionPolicy:
                              description: Conflict resolution policy of the sync
                                group.
                              enum:
                              - HubWin
                              - MemberWin
                              type: string
                              x-ms-enum:
                                name: SyncConflictResolutionPolicy
                                modelAsString: true
                            syncDatabaseId:
                              description: ARM resource id of the sync database in
                                the sync group.
                              type: string
                            hubDatabaseUserName:
                              description: User name for the sync group hub database
                                credential.
                              type: string
                            hubDatabasePassword:
                              description: Password for the sync group hub database
                                credential.
                              type: string
                              x-ms-secret: true
                              x-ms-mutability:
                              - create
                              - update
                            syncState:
                              description: Sync state of the sync group.
                              enum:
                              - NotReady
                              - Error
                              - Warning
                              - Progressing
                              - Good
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SyncGroupState
                                modelAsString: true
                            schema:
                              description: Sync schema of the sync group.
                              type: object
                              properties:
                                tables:
                                  description: List of tables in sync group schema.
                                  type: array
                                  items:
                                    description: Properties of table in sync group
                                      schema.
                                    type: object
                                    properties:
                                      columns:
                                        description: List of columns in sync group
                                          schema.
                                        type: array
                                        items:
                                          description: Properties of column in sync
                                            group table.
                                          type: object
                                          properties:
                                            quotedName:
                                              description: Quoted name of sync group
                                                table column.
                                              type: string
                                            dataSize:
                                              description: Data size of the column.
                                              type: string
                                            dataType:
                                              description: Data type of the column.
                                              type: string
                                      quotedName:
                                        description: Quoted name of sync group schema
                                          table.
                                        type: string
                                masterSyncMemberName:
                                  description: Name of master sync member where the
                                    schema is from.
                                  type: string
                            enableConflictLogging:
                              description: If conflict logging is enabled.
                              type: boolean
                            conflictLoggingRetentionInDays:
                              format: int32
                              description: Conflict logging retention period.
                              type: integer
                            usePrivateLinkConnection:
                              description: If use private link connection is enabled.
                              type: boolean
                            privateEndpointName:
                              description: Private endpoint name of the sync group
                                if use private link connection is enabled.
                              type: string
                              readOnly: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 CannotCreateSyncGroupDueToQuotaExceeded - Cannot\
            \ create sync group due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncGroupDrop\
            \ - The sync group is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_UpdateSyncGroupWhenDropping - Cannot update the sync\
            \ group because it is currently being dropped.\n\n * 400 SyncOperation_DwInSyncGroup\
            \ - Cannot use datawarehouse edition in data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup\
            \ - Cannot use logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 400 SyncOperation_InvalidSyncInterval\
            \ - Cannot create or update sync group because the sync interval is invalid.\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 404 SubscriptionNotFound - The requested subscription was not found.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SyncOperation_HubServerNotFound\
            \ - Hub logical server does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase\
            \ - Hub database is invalid.\n\n * 409 SyncOperation_DuplicateSyncGroupName\
            \ - Cannot create sync group because the sync group with the same name\
            \ already exists.\n\n * 429 SubscriptionTooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}
  : get:
      tags:
      - SyncGroups
      description: Gets a sync group.
      operationId: SyncGroups_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified sync group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  sku:
                    description: The name and capacity of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      interval:
                        format: int32
                        description: Sync interval of the sync group.
                        type: integer
                      lastSyncTime:
                        format: date-time
                        description: Last sync time of the sync group.
                        type: string
                        readOnly: true
                      conflictResolutionPolicy:
                        description: Conflict resolution policy of the sync group.
                        enum:
                        - HubWin
                        - MemberWin
                        type: string
                        x-ms-enum:
                          name: SyncConflictResolutionPolicy
                          modelAsString: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          group.
                        type: string
                      hubDatabaseUserName:
                        description: User name for the sync group hub database credential.
                        type: string
                      hubDatabasePassword:
                        description: Password for the sync group hub database credential.
                        type: string
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                      syncState:
                        description: Sync state of the sync group.
                        enum:
                        - NotReady
                        - Error
                        - Warning
                        - Progressing
                        - Good
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncGroupState
                          modelAsString: true
                      schema:
                        description: Sync schema of the sync group.
                        type: object
                        properties:
                          tables:
                            description: List of tables in sync group schema.
                            type: array
                            items:
                              description: Properties of table in sync group schema.
                              type: object
                              properties:
                                columns:
                                  description: List of columns in sync group schema.
                                  type: array
                                  items:
                                    description: Properties of column in sync group
                                      table.
                                    type: object
                                    properties:
                                      quotedName:
                                        description: Quoted name of sync group table
                                          column.
                                        type: string
                                      dataSize:
                                        description: Data size of the column.
                                        type: string
                                      dataType:
                                        description: Data type of the column.
                                        type: string
                                quotedName:
                                  description: Quoted name of sync group schema table.
                                  type: string
                          masterSyncMemberName:
                            description: Name of master sync member where the schema
                              is from.
                            type: string
                      enableConflictLogging:
                        description: If conflict logging is enabled.
                        type: boolean
                      conflictLoggingRetentionInDays:
                        format: int32
                        description: Conflict logging retention period.
                        type: integer
                      usePrivateLinkConnection:
                        description: If use private link connection is enabled.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync group if use
                          private link connection is enabled.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 CannotCreateSyncGroupDueToQuotaExceeded - Cannot\
            \ create sync group due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncGroupDrop\
            \ - The sync group is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_UpdateSyncGroupWhenDropping - Cannot update the sync\
            \ group because it is currently being dropped.\n\n * 400 SyncOperation_DwInSyncGroup\
            \ - Cannot use datawarehouse edition in data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup\
            \ - Cannot use logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 400 SyncOperation_InvalidSyncInterval\
            \ - Cannot create or update sync group because the sync interval is invalid.\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 404 SubscriptionNotFound - The requested subscription was not found.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 SyncOperation_HubServerNotFound\
            \ - Hub logical server does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase\
            \ - Hub database is invalid.\n\n * 409 SyncOperation_DuplicateSyncGroupName\
            \ - Cannot create sync group because the sync group with the same name\
            \ already exists.\n\n * 429 SubscriptionTooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources.\n\n * 503\
            \ TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SyncGroups
      description: Creates or updates a sync group.
      operationId: SyncGroups_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                sku:
                  description: The name and capacity of the SKU.
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, typically, a letter + Number
                        code, e.g. P3.
                      type: string
                    tier:
                      description: The tier or edition of the particular SKU, e.g.
                        Basic, Premium.
                      type: string
                    size:
                      description: Size of the particular SKU
                      type: string
                    family:
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                      type: string
                    capacity:
                      format: int32
                      description: Capacity of the particular SKU.
                      type: integer
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    interval:
                      format: int32
                      description: Sync interval of the sync group.
                      type: integer
                    lastSyncTime:
                      format: date-time
                      description: Last sync time of the sync group.
                      type: string
                      readOnly: true
                    conflictResolutionPolicy:
                      description: Conflict resolution policy of the sync group.
                      enum:
                      - HubWin
                      - MemberWin
                      type: string
                      x-ms-enum:
                        name: SyncConflictResolutionPolicy
                        modelAsString: true
                    syncDatabaseId:
                      description: ARM resource id of the sync database in the sync
                        group.
                      type: string
                    hubDatabaseUserName:
                      description: User name for the sync group hub database credential.
                      type: string
                    hubDatabasePassword:
                      description: Password for the sync group hub database credential.
                      type: string
                      x-ms-secret: true
                      x-ms-mutability:
                      - create
                      - update
                    syncState:
                      description: Sync state of the sync group.
                      enum:
                      - NotReady
                      - Error
                      - Warning
                      - Progressing
                      - Good
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SyncGroupState
                        modelAsString: true
                    schema:
                      description: Sync schema of the sync group.
                      type: object
                      properties:
                        tables:
                          description: List of tables in sync group schema.
                          type: array
                          items:
                            description: Properties of table in sync group schema.
                            type: object
                            properties:
                              columns:
                                description: List of columns in sync group schema.
                                type: array
                                items:
                                  description: Properties of column in sync group
                                    table.
                                  type: object
                                  properties:
                                    quotedName:
                                      description: Quoted name of sync group table
                                        column.
                                      type: string
                                    dataSize:
                                      description: Data size of the column.
                                      type: string
                                    dataType:
                                      description: Data type of the column.
                                      type: string
                              quotedName:
                                description: Quoted name of sync group schema table.
                                type: string
                        masterSyncMemberName:
                          description: Name of master sync member where the schema
                            is from.
                          type: string
                    enableConflictLogging:
                      description: If conflict logging is enabled.
                      type: boolean
                    conflictLoggingRetentionInDays:
                      format: int32
                      description: Conflict logging retention period.
                      type: integer
                    usePrivateLinkConnection:
                      description: If use private link connection is enabled.
                      type: boolean
                    privateEndpointName:
                      description: Private endpoint name of the sync group if use
                        private link connection is enabled.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested sync group resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the sync group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  sku:
                    description: The name and capacity of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      interval:
                        format: int32
                        description: Sync interval of the sync group.
                        type: integer
                      lastSyncTime:
                        format: date-time
                        description: Last sync time of the sync group.
                        type: string
                        readOnly: true
                      conflictResolutionPolicy:
                        description: Conflict resolution policy of the sync group.
                        enum:
                        - HubWin
                        - MemberWin
                        type: string
                        x-ms-enum:
                          name: SyncConflictResolutionPolicy
                          modelAsString: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          group.
                        type: string
                      hubDatabaseUserName:
                        description: User name for the sync group hub database credential.
                        type: string
                      hubDatabasePassword:
                        description: Password for the sync group hub database credential.
                        type: string
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                      syncState:
                        description: Sync state of the sync group.
                        enum:
                        - NotReady
                        - Error
                        - Warning
                        - Progressing
                        - Good
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncGroupState
                          modelAsString: true
                      schema:
                        description: Sync schema of the sync group.
                        type: object
                        properties:
                          tables:
                            description: List of tables in sync group schema.
                            type: array
                            items:
                              description: Properties of table in sync group schema.
                              type: object
                              properties:
                                columns:
                                  description: List of columns in sync group schema.
                                  type: array
                                  items:
                                    description: Properties of column in sync group
                                      table.
                                    type: object
                                    properties:
                                      quotedName:
                                        description: Quoted name of sync group table
                                          column.
                                        type: string
                                      dataSize:
                                        description: Data size of the column.
                                        type: string
                                      dataType:
                                        description: Data type of the column.
                                        type: string
                                quotedName:
                                  description: Quoted name of sync group schema table.
                                  type: string
                          masterSyncMemberName:
                            description: Name of master sync member where the schema
                              is from.
                            type: string
                      enableConflictLogging:
                        description: If conflict logging is enabled.
                        type: boolean
                      conflictLoggingRetentionInDays:
                        format: int32
                        description: Conflict logging retention period.
                        type: integer
                      usePrivateLinkConnection:
                        description: If use private link connection is enabled.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync group if use
                          private link connection is enabled.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the sync group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  sku:
                    description: The name and capacity of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      interval:
                        format: int32
                        description: Sync interval of the sync group.
                        type: integer
                      lastSyncTime:
                        format: date-time
                        description: Last sync time of the sync group.
                        type: string
                        readOnly: true
                      conflictResolutionPolicy:
                        description: Conflict resolution policy of the sync group.
                        enum:
                        - HubWin
                        - MemberWin
                        type: string
                        x-ms-enum:
                          name: SyncConflictResolutionPolicy
                          modelAsString: true
                      syncDatabaseId:
                        description: ARM resource id of the sync database in the sync
                          group.
                        type: string
                      hubDatabaseUserName:
                        description: User name for the sync group hub database credential.
                        type: string
                      hubDatabasePassword:
                        description: Password for the sync group hub database credential.
                        type: string
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                      syncState:
                        description: Sync state of the sync group.
                        enum:
                        - NotReady
                        - Error
                        - Warning
                        - Progressing
                        - Good
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SyncGroupState
                          modelAsString: true
                      schema:
                        description: Sync schema of the sync group.
                        type: object
                        properties:
                          tables:
                            description: List of tables in sync group schema.
                            type: array
                            items:
                              description: Properties of table in sync group schema.
                              type: object
                              properties:
                                columns:
                                  description: List of columns in sync group schema.
                                  type: array
                                  items:
                                    description: Properties of column in sync group
                                      table.
                                    type: object
                                    properties:
                                      quotedName:
                                        description: Quoted name of sync group table
                                          column.
                                        type: string
                                      dataSize:
                                        description: Data size of the column.
                                        type: string
                                      dataType:
                                        description: Data type of the column.
                                        type: string
                                quotedName:
                                  description: Quoted name of sync group schema table.
                                  type: string
                          masterSyncMemberName:
                            description: Name of master sync member where the schema
                              is from.
                            type: string
                      enableConflictLogging:
                        description: If conflict logging is enabled.
                        type: boolean
                      conflictLoggingRetentionInDays:
                        format: int32
                        description: Conflict logging retention period.
                        type: integer
                      usePrivateLinkConnection:
                        description: If use private link connection is enabled.
                        type: boolean
                      privateEndpointName:
                        description: Private endpoint name of the sync group if use
                          private link connection is enabled.
                        type: string
                        readOnly: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Creating or updating the sync group is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 CannotCreateSyncGroupDueToQuotaExceeded - Cannot\
            \ create sync group due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncGroupDrop\
            \ - The sync group is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_UpdateSyncGroupWhenDropping - Cannot update the sync\
            \ group because it is currently being dropped.\n\n * 400 SyncOperation_DwInSyncGroup\
            \ - Cannot use datawarehouse edition in data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup\
            \ - Cannot use logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 400 SyncOperation_InvalidSyncInterval\
            \ - Cannot create or update sync group because the sync interval is invalid.\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SyncOperation_HubServerNotFound\
            \ - Hub logical server does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase\
            \ - Hub database is invalid.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 409 SyncOperation_DuplicateSyncGroupName\
            \ - Cannot create sync group because the sync group with the same name\
            \ already exists.\n\n * 409 CannotCancelOperation - The management operation\
            \ is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - SyncGroups
      description: Deletes a sync group.
      operationId: SyncGroups_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the sync group.
        '202':
          description: Deleting the sync group is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified sync group does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidSyncGroupCreateOrUpdateRequest\
            \ - The create or update sync group request body is empty.\n\n * 400 InvalidSyncMemberCreateOrUpdateRequest\
            \ - The create or update sync member request body is empty.\n\n * 400\
            \ InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent\
            \ request body is empty.\n\n * 400 InvalidDatabaseResourceId - Invalid\
            \ database resource identifier.\n\n * 400 InvalidSyncGroupName - The Sync\
            \ Group name is invalid. This field can contain letters, numbers, dashes\
            \ and underscores.\n\n * 400 InvalidSyncMemberName - The Sync Member name\
            \ is invalid. This field can contain letters, numbers, dashes and underscores.\n\
            \n * 400 MissingSyncMemberName - The Sync Member name is missing\n\n *\
            \ 400 InvalidSyncGroupInterval - Sync Interval should be greater than\
            \ or equal to 5 seconds.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.\n\
            \n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 InvalidParameterValue - An invalid value was given to a parameter.\n\
            \n * 400 MissingServerName - The Server name is missing\n\n * 400 MissingDatabaseName\
            \ - The Database name is missing\n\n * 400 MissingSyncGroupName - The\
            \ Sync Group name is missing\n\n * 400 MissingConflictResolutionPolicy\
            \ - The Conflict Resolution Policy is missing\n\n * 400 MissingSyncAgentName\
            \ - The Sync Agent name is missing\n\n * 400 SyncOperation_GenericFailure\
            \ - Failed to perform data sync operation.\n\n * 400 InvalidSyncGroup\
            \ - Sync group is invalid.\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 CannotCreateSyncGroupDueToQuotaExceeded - Cannot\
            \ create sync group due to quota exceeded.\n\n * 400 SyncOperation_DuplicateSyncGroupDrop\
            \ - The sync group is already being dropped.\n\n * 400 SyncOperation_WrongSyncDatabase\
            \ - The sync database specified does not match the existing one.\n\n *\
            \ 400 SyncOperation_UpdateSyncGroupWhenDropping - Cannot update the sync\
            \ group because it is currently being dropped.\n\n * 400 SyncOperation_DwInSyncGroup\
            \ - Cannot use datawarehouse edition in data sync.\n\n * 400 SyncOperation_MasterDbInSyncGroup\
            \ - Cannot use logical master in data sync.\n\n * 400 SyncOperation_UnsupportedDataTypeColumnInSchema\
            \ - Cannot add column to schema because the data type of the column is\
            \ unsupported.\n\n * 400 SyncOperation_InvalidCredential - Credential\
            \ of database is invalid.\n\n * 400 InvalidSyncMetadataDatabase - Sync\
            \ metadata database is invalid.\n\n * 400 SyncOperation_InvalidSyncInterval\
            \ - Cannot create or update sync group because the sync interval is invalid.\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 DatabaseDoesNotExist - User has specified a database name that\
            \ does not exist on this server instance.\n\n * 404 SyncOperation_HubServerNotFound\
            \ - Hub logical server does not exist.\n\n * 404 SyncOperation_InvalidHubDatabase\
            \ - Hub database is invalid.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 409 SyncOperation_DuplicateSyncGroupName\
            \ - Cannot create sync group because the sync group with the same name\
            \ already exists.\n\n * 409 CannotCancelOperation - The management operation\
            \ is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - SyncGroups
      description: Updates a sync group.
      operationId: SyncGroups_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database on which the sync group is hosted.
        required: true
        schema:
          type: string
      - name: syncGroupName
        in: path
        description: The name of the sync group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                sku:
                  description: The name and capacity of the SKU.
                  required:
                  - name
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, typically, a letter + Number
                        code, e.g. P3.
                      type: string
                    tier:
                      description: The tier or edition of the particular SKU, e.g.
                        Basic, Premium.
                      type: string
                    size:
                      description: Size of the particular SKU
                      type: string
                    family:
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                      type: string
                    capacity:
                      format: int32
                      description: Capacity of the particular SKU.
                      type: integer
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    interval:
                      format: int32
                      description: Sync interval of the sync group.
                      type: integer
                    lastSyncTime:
                      format: date-time
                      description: Last sync time of the sync group.
                      type: string
                      readOnly: true
                    conflictResolutionPolicy:
                      description: Conflict resolution policy of the sync group.
                      enum:
                      - HubWin
                      - MemberWin
                      type: string
                      x-ms-enum:
                        name: SyncConflictResolutionPolicy
                        modelAsString: true
                    syncDatabaseId:
                      description: ARM resource id of the sync database in the sync
                        group.
                      type: string
                    hubDatabaseUserName:
                      description: User name for the sync group hub database credential.
                      type: string
                    hubDatabasePassword:
                      description: Password for the sync group hub database credential.
                      type: string
                      x-ms-secret: true
                      x-ms-mutability:
                      - create
                      - update
                    syncState:
                      description: Sync state of the sync group.
                      enum:
                      - NotReady
                      - Error
                      - Warning
                      - Progressing
                      - Good
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SyncGroupState
                        modelAsString: true
                    schema:
                      description: Sync schema of the sync group.
                      type: object
                      properties:
                        tables:
                          description: List of tables in sync group schema.
                          type: array
                          items:
                            description: Properties of table in sync group schema.
                            type: object
                            properties:
                              columns:
                                description: List of columns in sync group schema.
                                type: array
                                items:
                                  description: Properties of column in sync group
                                    table.
                                  type: object
                                  properties:
                                    quotedName:
                                      description: Quoted name of sync group table
                                        column.
                                      type: string
                                    dataSize:
                                      description: Data size of the column.
                                      type: string
                                    dataType:
                                      description: Data type of the column.
                                      type: string
                              quotedName:
                                description: Quoted name of sync group schema table.
                                type: string
                        masterSyncMemberName:
                          description: Name of master sync member where the schema
                            is from.
                          type: string
                    enableConflictLogging:
                      description: If conflict logging is enabled.
                      type: boolean
                    conflictLoggingRetentionInDays:
                      format: int32
                      description: Conflict logging retention period.
                      type: integer
                    usePrivateLinkConnection:
                      description: If use private link connection is enabled.
                      type: boolean
                    privateEndpointName:
                      description: Private endpoint name of the sync group if use
                        private link connection is enabled.
                      type: string
                      readOnly: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested sync group resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the sync group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  sku:
                    description: The name and capacity of the SKU.
                    required:
                    - name
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, typically, a letter + Number
                          code, e.g. P3.
                        type: string
                      tier:
                        description: The tier or edition of the particular SKU, e.g.
                          Basic, Premium.
                        type: string
                      size:
                        description: Size of the particular SKU
                        type: string
                      family:
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                        type: string
                      capacity:
                        format: int32
                        description: Capacity of the particular SKU.
                        type: integer
                  properties:
                    description: Resource properties.
[...]
