openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/virtualClusters:
    get:
      tags:
      - VirtualClusters
      description: Gets a list of all virtualClusters in the subscription.
      operationId: VirtualClusters_List
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of virtual clusters.
          content:
            application/json:
              schema:
                description: A list of virtual clusters.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource location.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            subnetId:
                              description: Subnet resource ID for the virtual cluster.
                              type: string
                              readOnly: true
                            version:
                              description: Virtual cluster version.
                              type: string
                            childResources:
                              description: List of resources in this virtual cluster.
                              type: array
                              items:
                                type: string
                              readOnly: true
                      required:
                      - location
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionNotFound -\
            \ The requested subscription was not found.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/virtualClusters:
    get:
      tags:
      - VirtualClusters
      description: Gets a list of virtual clusters in a resource group.
      operationId: VirtualClusters_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of virtual clusters.
          content:
            application/json:
              schema:
                description: A list of virtual clusters.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource location.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            subnetId:
                              description: Subnet resource ID for the virtual cluster.
                              type: string
                              readOnly: true
                            version:
                              description: Virtual cluster version.
                              type: string
                            childResources:
                              description: List of resources in this virtual cluster.
                              type: array
                              items:
                                type: string
                              readOnly: true
                      required:
                      - location
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SubscriptionNotEnabledForFeature\
            \ - User subscription not enabled for feature user attempted to use.\n\
            \n * 400 RequestCantLandOnPaaSv2Platform - Request needs to land on PaaSv2\
            \ platform but PaaSv2 is not enabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of\
            \ DNS records on virtual cluster is not enabled.\n\n * 400 ManagementServiceFeatureDisabled\
            \ - User attempted to use a feature which is disabled.\n\n * 404 SubscriptionNotFound\
            \ - The requested subscription was not found.\n\n * 404 VirtualClusterDoesNotExist\
            \ - The virtual cluster does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 VirtualClusterNotInSubscriptionResourceGroup\
            \ - Specified virtual cluster does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveVirtualCluster\
            \ - The requested virtual cluster was not found\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 409 VirtualClusterRemovalAlreadyInProgress\
            \ - Removal of virtual cluster is already in progress. Virtual cluster\
            \ is automatically created with first instance creation, and automatically\
            \ removed with last instance deletion. Learn more here: https://aka.ms/sqlmi-virtual-cluster-removal.\n\
            \n * 409 VirtualClusterIsNotEmpty - Virtual cluster is not empty and cannot\
            \ be deleted.\n\n * 409 VirtualClusterIsBusy - Virtual cluster is currently\
            \ busy. Please retry operation later.\n\n * 409 VirtualClusterRemovalFailed\
            \ - Request to drop virtual cluster failed. Check if there are active\
            \ dependent resources.\n\n * 409 ConflictingVirtualClusterOperation -\
            \ An operation is currently in progress for the virtual cluster.\n\n *\
            \ 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 503 TooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/virtualClusters/{virtualClusterName}
  : get:
      tags:
      - VirtualClusters
      description: Gets a virtual cluster.
      operationId: VirtualClusters_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualClusterName
        in: path
        description: The name of the virtual cluster.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specified virtual cluster.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      subnetId:
                        description: Subnet resource ID for the virtual cluster.
                        type: string
                        readOnly: true
                      version:
                        description: Virtual cluster version.
                        type: string
                      childResources:
                        description: List of resources in this virtual cluster.
                        type: array
                        items:
                          type: string
                        readOnly: true
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 SubscriptionNotEnabledForFeature\
            \ - User subscription not enabled for feature user attempted to use.\n\
            \n * 400 RequestCantLandOnPaaSv2Platform - Request needs to land on PaaSv2\
            \ platform but PaaSv2 is not enabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of\
            \ DNS records on virtual cluster is not enabled.\n\n * 400 ManagementServiceFeatureDisabled\
            \ - User attempted to use a feature which is disabled.\n\n * 404 SubscriptionNotFound\
            \ - The requested subscription was not found.\n\n * 404 VirtualClusterDoesNotExist\
            \ - The virtual cluster does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 VirtualClusterNotInSubscriptionResourceGroup\
            \ - Specified virtual cluster does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveVirtualCluster\
            \ - The requested virtual cluster was not found\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 409 VirtualClusterRemovalAlreadyInProgress\
            \ - Removal of virtual cluster is already in progress. Virtual cluster\
            \ is automatically created with first instance creation, and automatically\
            \ removed with last instance deletion. Learn more here: https://aka.ms/sqlmi-virtual-cluster-removal.\n\
            \n * 409 VirtualClusterIsNotEmpty - Virtual cluster is not empty and cannot\
            \ be deleted.\n\n * 409 VirtualClusterIsBusy - Virtual cluster is currently\
            \ busy. Please retry operation later.\n\n * 409 VirtualClusterRemovalFailed\
            \ - Request to drop virtual cluster failed. Check if there are active\
            \ dependent resources.\n\n * 409 ConflictingVirtualClusterOperation -\
            \ An operation is currently in progress for the virtual cluster.\n\n *\
            \ 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 503 TooManyRequests - Requests beyond\
            \ max requests that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - VirtualClusters
      description: Deletes a virtual cluster.
      operationId: VirtualClusters_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualClusterName
        in: path
        description: The name of the virtual cluster.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the virtual cluster.
        '202':
          description: Deleting the virtual cluster is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified virtual cluster does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 SubscriptionNotEnabledForFeature\
            \ - User subscription not enabled for feature user attempted to use.\n\
            \n * 400 RequestCantLandOnPaaSv2Platform - Request needs to land on PaaSv2\
            \ platform but PaaSv2 is not enabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of\
            \ DNS records on virtual cluster is not enabled.\n\n * 400 ManagementServiceFeatureDisabled\
            \ - User attempted to use a feature which is disabled.\n\n * 404 VirtualClusterDoesNotExist\
            \ - The virtual cluster does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 VirtualClusterNotInSubscriptionResourceGroup\
            \ - Specified virtual cluster does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveVirtualCluster\
            \ - The requested virtual cluster was not found\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 404 ResourceNotFound -\
            \ The requested resource was not found.\n\n * 409 VirtualClusterRemovalAlreadyInProgress\
            \ - Removal of virtual cluster is already in progress. Virtual cluster\
            \ is automatically created with first instance creation, and automatically\
            \ removed with last instance deletion. Learn more here: https://aka.ms/sqlmi-virtual-cluster-removal.\n\
            \n * 409 VirtualClusterIsNotEmpty - Virtual cluster is not empty and cannot\
            \ be deleted.\n\n * 409 VirtualClusterIsBusy - Virtual cluster is currently\
            \ busy. Please retry operation later.\n\n * 409 VirtualClusterRemovalFailed\
            \ - Request to drop virtual cluster failed. Check if there are active\
            \ dependent resources.\n\n * 409 ConflictingVirtualClusterOperation -\
            \ An operation is currently in progress for the virtual cluster.\n\n *\
            \ 409 CannotCancelOperation - The management operation is in a state that\
            \ cannot be cancelled.\n\n * 409 OperationCancelled - The operation has\
            \ been cancelled by user.\n\n * 409 OperationInterrupted - The operation\
            \ on the resource could not be completed because it was interrupted by\
            \ another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests\
            \ that can be processed by available resources.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 500 OperationTimedOut - The operation timed out and automatically\
            \ rolled back. Please retry the operation.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - VirtualClusters
      description: Updates an existing virtual cluster.
      operationId: VirtualClusters_Update
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualClusterName
        in: path
        description: The name of the virtual cluster.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: An update request for virtual cluster.
              type: object
              properties:
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    subnetId:
                      description: Subnet resource ID for the virtual cluster.
                      type: string
                      readOnly: true
                    version:
                      description: Virtual cluster version.
                      type: string
                    childResources:
                      description: List of resources in this virtual cluster.
                      type: array
                      items:
                        type: string
                      readOnly: true
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
        description: The requested virtual cluster resource state.
        required: true
      responses:
        '200':
          description: Successfully updated virtual cluster.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource location.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      subnetId:
                        description: Subnet resource ID for the virtual cluster.
                        type: string
                        readOnly: true
                      version:
                        description: Virtual cluster version.
                        type: string
                      childResources:
                        description: List of resources in this virtual cluster.
                        type: array
                        items:
                          type: string
                        readOnly: true
                required:
                - location
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Updating the virtual cluster is in progress.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 SubscriptionNotEnabledForFeature\
            \ - User subscription not enabled for feature user attempted to use.\n\
            \n * 400 RequestCantLandOnPaaSv2Platform - Request needs to land on PaaSv2\
            \ platform but PaaSv2 is not enabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of\
            \ DNS records on virtual cluster is not enabled.\n\n * 400 ManagementServiceFeatureDisabled\
            \ - User attempted to use a feature which is disabled.\n\n * 404 VirtualClusterDoesNotExist\
            \ - The virtual cluster does not exist.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 VirtualClusterNotInSubscriptionResourceGroup\
            \ - Specified virtual cluster does not exist in the specified resource\
            \ group and subscription.\n\n * 404 SubscriptionNotFound - The requested\
            \ subscription was not found.\n\n * 404 SubscriptionDoesNotHaveVirtualCluster\
            \ - The requested virtual cluster was not found\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 409 VirtualClusterRemovalAlreadyInProgress\
            \ - Removal of virtual cluster is already in progress. Virtual cluster\
            \ is automatically created with first instance creation, and automatically\
            \ removed with last instance deletion. Learn more here: https://aka.ms/sqlmi-virtual-cluster-removal.\n\
            \n * 409 VirtualClusterIsNotEmpty - Virtual cluster is not empty and cannot\
            \ be deleted.\n\n * 409 VirtualClusterIsBusy - Virtual cluster is currently\
            \ busy. Please retry operation later.\n\n * 409 VirtualClusterRemovalFailed\
            \ - Request to drop virtual cluster failed. Check if there are active\
            \ dependent resources.\n\n * 409 ConflictingVirtualClusterOperation -\
            \ An operation is currently in progress for the virtual cluster.\n\n *\
            \ 409 CannotCancelOperation - The management operation is in a state that\
            \ cannot be cancelled.\n\n * 409 OperationCancelled - The operation has\
            \ been cancelled by user.\n\n * 409 OperationInterrupted - The operation\
            \ on the resource could not be completed because it was interrupted by\
            \ another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 429 ConflictingSubscriptionOperation\
            \ - An operation is currently in progress for the subscription.\n\n *\
            \ 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests\
            \ that can be processed by available resources.\n\n * 429 SubscriptionTooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 500 OperationTimedOut - The operation timed out and automatically\
            \ rolled back. Please retry the operation.\n\n * 503 TooManyRequests -\
            \ Requests beyond max requests that can be processed by available resources.\n\
            \n * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/virtualClusters/{virtualClusterName}/updateManagedInstanceDnsServers
  : post:
      tags:
      - VirtualClusters
      description: Synchronizes the DNS server settings used by the managed instances
        inside the given virtual cluster.
      operationId: VirtualClusters_UpdateDnsServers
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualClusterName
        in: path
        description: The name of the virtual cluster.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully performed synchronize of DNS servers inside virtual
            cluster.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      status:
                        description: The status of the DNS refresh operation.
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: DNSRefreshOperationStatus
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Successfully started synchronize of DNS servers inside virtual
            cluster.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 VnetConfigHasInvalidDns\
            \ - User tried to inject Managed Server subnet with invalid custom DNS.\n\
            \n * 400 RequestCantLandOnPaaSv2Platform - Request needs to land on PaaSv2\
            \ platform but PaaSv2 is not enabled.\n\n * 400 CustomMaintenanceWindowIsDisabled\
            \ - Custom maintenance window is not enabled.\n\n * 400 DeleteOfVersion2VirtualClusterIsDisabled\
            \ - Delete of virtual cluster with version 2 is not enabled.\n\n * 400\
            \ DeleteOfVirtualClusterIsDisabled - Delete of virtual cluster is not\
            \ enabled.\n\n * 400 DnsRefreshOnVirtualClusterIsDisabled - Refresh of\
            \ DNS records on virtual cluster is not enabled.\n\n * 400 ManagementServiceFeatureDisabled\
            \ - User attempted to use a feature which is disabled.\n\n * 404 ResourceDoesNotExist\
            \ - Resource with the name '{0}' does not exist. To continue, specify\
            \ a valid resource name.\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    VirtualClusterNameParameter:
      name: virtualClusterName
      in: path
      description: The name of the virtual cluster.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UpdateVirtualClusterDnsServersOperation:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            status:
              description: The status of the DNS refresh operation.
              enum:
              - Succeeded
              - Failed
              - InProgress
              type: string
              readOnly: true
              x-ms-enum:
                name: DNSRefreshOperationStatus
                modelAsString: true
      description: ARM resource.
      x-ms-azure-resource: true
    VirtualCluster:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            subnetId:
              description: Subnet resource ID for the virtual cluster.
              type: string
              readOnly: true
            version:
              description: Virtual cluster version.
              type: string
            childResources:
              description: List of resources in this virtual cluster.
              type: array
              items:
                type: string
              readOnly: true
      required:
      - location
      description: ARM resource.
      x-ms-azure-resource: true
    VirtualClusterDnsServersProperties:
      description: The properties of dns servers on virtual cluster.
      type: object
      properties:
        status:
          description: The status of the DNS refresh operation.
          enum:
          - Succeeded
          - Failed
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: DNSRefreshOperationStatus
            modelAsString: true
    VirtualClusterListResult:
      description: A list of virtual clusters.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              location:
                description: Resource location.
                type: string
                x-ms-mutability:
                - read
                - create
              tags:
                description: Resource tags.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  subnetId:
                    description: Subnet resource ID for the virtual cluster.
                    type: string
                    readOnly: true
                  version:
                    description: Virtual cluster version.
                    type: string
                  childResources:
                    description: List of resources in this virtual cluster.
                    type: array
                    items:
                      type: string
                    readOnly: true
            required:
            - location
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    VirtualClusterProperties:
      description: The properties of a virtual cluster.
      type: object
      properties:
        subnetId:
          description: Subnet resource ID for the virtual cluster.
          type: string
          readOnly: true
        version:
          description: Virtual cluster version.
          type: string
        childResources:
          description: List of resources in this virtual cluster.
          type: array
          items:
            type: string
          readOnly: true
    VirtualClusterUpdate:
      description: An update request for virtual cluster.
      type: object
      properties:
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            subnetId:
              description: Subnet resource ID for the virtual cluster.
              type: string
              readOnly: true
            version:
              description: Virtual cluster version.
              type: string
            childResources:
              description: List of resources in this virtual cluster.
              type: array
              items:
                type: string
              readOnly: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
      description: ARM resource.
      x-ms-azure-resource: true
      required:
      - location
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
