openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a list of virtual network rules in a server.
      operationId: VirtualNetworkRules_ListByServer
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of virtual network rules.
          content:
            application/json:
              schema:
                description: A list of virtual network rules.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - virtualNetworkSubnetId
                          type: object
                          properties:
                            virtualNetworkSubnetId:
                              description: The ARM resource id of the virtual network
                                subnet.
                              type: string
                            ignoreMissingVnetServiceEndpoint:
                              description: Create firewall rule before the virtual
                                network has vnet service endpoint enabled.
                              type: boolean
                            state:
                              description: Virtual Network Rule State
                              enum:
                              - Initializing
                              - InProgress
                              - Ready
                              - Failed
                              - Deleting
                              - Unknown
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: VirtualNetworkRuleState
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules/{virtualNetworkRuleName}
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a virtual network rule.
      operationId: VirtualNetworkRules_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a specified virtual network rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - virtualNetworkSubnetId
                    type: object
                    properties:
                      virtualNetworkSubnetId:
                        description: The ARM resource id of the virtual network subnet.
                        type: string
                      ignoreMissingVnetServiceEndpoint:
                        description: Create firewall rule before the virtual network
                          has vnet service endpoint enabled.
                        type: boolean
                      state:
                        description: Virtual Network Rule State
                        enum:
                        - Initializing
                        - InProgress
                        - Ready
                        - Failed
                        - Deleting
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: VirtualNetworkRuleState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 ResourceNotFound - The requested resource\
            \ was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - VirtualNetworkRules
      description: Creates or updates an existing virtual network rule.
      operationId: VirtualNetworkRules_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - virtualNetworkSubnetId
                  type: object
                  properties:
                    virtualNetworkSubnetId:
                      description: The ARM resource id of the virtual network subnet.
                      type: string
                    ignoreMissingVnetServiceEndpoint:
                      description: Create firewall rule before the virtual network
                        has vnet service endpoint enabled.
                      type: boolean
                    state:
                      description: Virtual Network Rule State
                      enum:
                      - Initializing
                      - InProgress
                      - Ready
                      - Failed
                      - Deleting
                      - Unknown
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: VirtualNetworkRuleState
                        modelAsString: true
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested virtual Network Rule Resource state.
        required: true
      responses:
        '200':
          description: Successfully updated a virtual network rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - virtualNetworkSubnetId
                    type: object
                    properties:
                      virtualNetworkSubnetId:
                        description: The ARM resource id of the virtual network subnet.
                        type: string
                      ignoreMissingVnetServiceEndpoint:
                        description: Create firewall rule before the virtual network
                          has vnet service endpoint enabled.
                        type: boolean
                      state:
                        description: Virtual Network Rule State
                        enum:
                        - Initializing
                        - InProgress
                        - Ready
                        - Failed
                        - Deleting
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: VirtualNetworkRuleState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created a virtual network rule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - virtualNetworkSubnetId
                    type: object
                    properties:
                      virtualNetworkSubnetId:
                        description: The ARM resource id of the virtual network subnet.
                        type: string
                      ignoreMissingVnetServiceEndpoint:
                        description: Create firewall rule before the virtual network
                          has vnet service endpoint enabled.
                        type: boolean
                      state:
                        description: Virtual Network Rule State
                        enum:
                        - Initializing
                        - InProgress
                        - Ready
                        - Failed
                        - Deleting
                        - Unknown
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: VirtualNetworkRuleState
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n\
            \ * 400 NullVirtualNetworkRequestParameters - Virtual Network Request\
            \ Parameters are Null\n\n * 400 VirtualNetworkRuleBadRequest - Azure SQL\
            \ Server Virtual Network Rule encountered an user error\n\n * 400 VirtualNetworkRuleWithFailoverGroupsNotSupported\
            \ - Virtual network firewall rules are not currently supported on servers\
            \ with failover groups configured with automatic failover policy. Please\
            \ configure the failover groups on the server with manual failover policy.\n\
            \n * 400 FirewallChangesDeniedBecausePublicEndpointDisabled - Unable to\
            \ create or modify firewall rules when public network access for the server\
            \ is disabled. (https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#deny-public-network-access)\n\
            \n * 400 FirewallChangesDeniedBecauseOperationInProgress - Another operation\
            \ is in progress on virtual network firewall rule {0} on server {1}.\n\
            \n * 400 NullVirtualNetworkSubnetId - The Virtual Network Subnet Id is\
            \ null\n\n * 403 VirtualNetworkRuleAccessDenied - Azure SQL Server Virtual\
            \ Network Rule encountered permissions error\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 VirtualNetworkRuleResourceNotFound -\
            \ Azure SQL Server Virtual Network Rule encountered a resource not found\
            \ error\n\n * 404 VirtualNetworkRuleSubscriptionNotFound - Azure SQL Server\
            \ Virtual Network Subscription id not found or is in disabled state \n\
            \n * 404 VirtualNetworkRuleNotEnabled - Azure SQL Server Virtual Network\
            \ Rule feature is not enabled\n\n * 404 OperationIdNotFound - The operation\
            \ with Id does not exist.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources.\n\n * 504 VirtualNetworkRuleTimedOut\
            \ - Azure SQL Server Virtual Network Rule encountered a timeout"
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - VirtualNetworkRules
      description: Deletes the virtual network rule with the given name.
      operationId: VirtualNetworkRules_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the virtual network rule.
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified virtual network rule does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 InvalidResourceId - Invalid\
            \ resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The\
            \ provided subscription did not match the subscription in the Url.\n\n\
            \ * 400 MismatchingResourceGroupNameWithUrl - The provided resource group\
            \ name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl\
            \ - The provided server name did not match the name in the Url.\n\n *\
            \ 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n\
            \ * 400 NullVirtualNetworkRequestParameters - Virtual Network Request\
            \ Parameters are Null\n\n * 404 ServerNotInSubscriptionResourceGroup -\
            \ Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 OperationIdNotFound - The operation with\
            \ Id does not exist.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 TooManyRequests - Requests beyond max requests\
            \ that can be processed by available resources."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VirtualNetworkRule:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - virtualNetworkSubnetId
          type: object
          properties:
            virtualNetworkSubnetId:
              description: The ARM resource id of the virtual network subnet.
              type: string
            ignoreMissingVnetServiceEndpoint:
              description: Create firewall rule before the virtual network has vnet
                service endpoint enabled.
              type: boolean
            state:
              description: Virtual Network Rule State
              enum:
              - Initializing
              - InProgress
              - Ready
              - Failed
              - Deleting
              - Unknown
              type: string
              readOnly: true
              x-ms-enum:
                name: VirtualNetworkRuleState
                modelAsString: true
      description: ARM resource.
      x-ms-azure-resource: true
    VirtualNetworkRuleListResult:
      description: A list of virtual network rules.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - virtualNetworkSubnetId
                type: object
                properties:
                  virtualNetworkSubnetId:
                    description: The ARM resource id of the virtual network subnet.
                    type: string
                  ignoreMissingVnetServiceEndpoint:
                    description: Create firewall rule before the virtual network has
                      vnet service endpoint enabled.
                    type: boolean
                  state:
                    description: Virtual Network Rule State
                    enum:
                    - Initializing
                    - InProgress
                    - Ready
                    - Failed
                    - Deleting
                    - Unknown
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: VirtualNetworkRuleState
                      modelAsString: true
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    VirtualNetworkRuleProperties:
      description: Properties of a virtual network rule.
      required:
      - virtualNetworkSubnetId
      type: object
      properties:
        virtualNetworkSubnetId:
          description: The ARM resource id of the virtual network subnet.
          type: string
        ignoreMissingVnetServiceEndpoint:
          description: Create firewall rule before the virtual network has vnet service
            endpoint enabled.
          type: boolean
        state:
          description: Virtual Network Rule State
          enum:
          - Initializing
          - InProgress
          - Ready
          - Failed
          - Deleting
          - Unknown
          type: string
          readOnly: true
          x-ms-enum:
            name: VirtualNetworkRuleState
            modelAsString: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
