openapi: 3.0.0
info:
  version: 2023-08-01
  title: SqlManagementClient
  description: The Azure SQL Database management API provides a RESTful set of web
    APIs that interact with Azure SQL Database services to manage your databases.
    The API enables users to create, retrieve, update, and delete databases, servers,
    and other entities.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/workloadGroups
  : get:
      tags:
      - WorkloadGroups
      description: Gets the list of workload groups
      operationId: WorkloadGroups_ListByDatabase
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of workload groups.
          content:
            application/json:
              schema:
                description: A list of workload groups.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - minResourcePercent
                          - maxResourcePercent
                          - minResourcePercentPerRequest
                          type: object
                          properties:
                            minResourcePercent:
                              format: int32
                              description: The workload group minimum percentage resource.
                              type: integer
                            maxResourcePercent:
                              format: int32
                              description: The workload group cap percentage resource.
                              type: integer
                            minResourcePercentPerRequest:
                              format: double
                              description: The workload group request minimum grant
                                percentage.
                              type: number
                            maxResourcePercentPerRequest:
                              format: double
                              description: The workload group request maximum grant
                                percentage.
                              type: number
                            importance:
                              description: The workload group importance level.
                              type: string
                            queryExecutionTimeout:
                              format: int32
                              description: The workload group query execution timeout.
                              type: integer
                      description: ARM resource.
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 OperationNotAllowedOnPausedDatabase - Operation is\
            \ not allowed on a paused database.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 409 ConflictingSystemOperationInProgress\
            \ - A system maintenance operation is in progress on the database and\
            \ further operations need to wait until it is completed.\n\n * 409 ConflictingDatabaseOperation\
            \ - There is already some operation on the database and the current operation\
            \ should wait till it is done.\n\n * 503 DatabaseUnavailable - The operation\
            \ failed because the database is unavailable.\n\n * 503 TooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 504 RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/workloadGroups/{workloadGroupName}
  : get:
      tags:
      - WorkloadGroups
      description: Gets a workload group
      operationId: WorkloadGroups_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: workloadGroupName
        in: path
        description: The name of the workload group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the specifies workload group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - minResourcePercent
                    - maxResourcePercent
                    - minResourcePercentPerRequest
                    type: object
                    properties:
                      minResourcePercent:
                        format: int32
                        description: The workload group minimum percentage resource.
                        type: integer
                      maxResourcePercent:
                        format: int32
                        description: The workload group cap percentage resource.
                        type: integer
                      minResourcePercentPerRequest:
                        format: double
                        description: The workload group request minimum grant percentage.
                        type: number
                      maxResourcePercentPerRequest:
                        format: double
                        description: The workload group request maximum grant percentage.
                        type: number
                      importance:
                        description: The workload group importance level.
                        type: string
                      queryExecutionTimeout:
                        format: int32
                        description: The workload group query execution timeout.
                        type: integer
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 OperationNotAllowedOnPausedDatabase - Operation is\
            \ not allowed on a paused database.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 409 ConflictingSystemOperationInProgress\
            \ - A system maintenance operation is in progress on the database and\
            \ further operations need to wait until it is completed.\n\n * 409 ConflictingDatabaseOperation\
            \ - There is already some operation on the database and the current operation\
            \ should wait till it is done.\n\n * 503 DatabaseUnavailable - The operation\
            \ failed because the database is unavailable.\n\n * 503 TooManyRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 504 RequestTimeout - Service request exceeded the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - WorkloadGroups
      description: Creates or updates a workload group.
      operationId: WorkloadGroups_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: workloadGroupName
        in: path
        description: The name of the workload group.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource name.
                  type: string
                  readOnly: true
                type:
                  description: Resource type.
                  type: string
                  readOnly: true
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - minResourcePercent
                  - maxResourcePercent
                  - minResourcePercentPerRequest
                  type: object
                  properties:
                    minResourcePercent:
                      format: int32
                      description: The workload group minimum percentage resource.
                      type: integer
                    maxResourcePercent:
                      format: int32
                      description: The workload group cap percentage resource.
                      type: integer
                    minResourcePercentPerRequest:
                      format: double
                      description: The workload group request minimum grant percentage.
                      type: number
                    maxResourcePercentPerRequest:
                      format: double
                      description: The workload group request maximum grant percentage.
                      type: number
                    importance:
                      description: The workload group importance level.
                      type: string
                    queryExecutionTimeout:
                      format: int32
                      description: The workload group query execution timeout.
                      type: integer
              description: ARM resource.
              x-ms-azure-resource: true
        description: The requested workload group state.
        required: true
      responses:
        '200':
          description: Successfully updated the workload group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - minResourcePercent
                    - maxResourcePercent
                    - minResourcePercentPerRequest
                    type: object
                    properties:
                      minResourcePercent:
                        format: int32
                        description: The workload group minimum percentage resource.
                        type: integer
                      maxResourcePercent:
                        format: int32
                        description: The workload group cap percentage resource.
                        type: integer
                      minResourcePercentPerRequest:
                        format: double
                        description: The workload group request minimum grant percentage.
                        type: number
                      maxResourcePercentPerRequest:
                        format: double
                        description: The workload group request maximum grant percentage.
                        type: number
                      importance:
                        description: The workload group importance level.
                        type: string
                      queryExecutionTimeout:
                        format: int32
                        description: The workload group query execution timeout.
                        type: integer
                description: ARM resource.
                x-ms-azure-resource: true
        '201':
          description: Successfully created the workload group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - minResourcePercent
                    - maxResourcePercent
                    - minResourcePercentPerRequest
                    type: object
                    properties:
                      minResourcePercent:
                        format: int32
                        description: The workload group minimum percentage resource.
                        type: integer
                      maxResourcePercent:
                        format: int32
                        description: The workload group cap percentage resource.
                        type: integer
                      minResourcePercentPerRequest:
                        format: double
                        description: The workload group request minimum grant percentage.
                        type: number
                      maxResourcePercentPerRequest:
                        format: double
                        description: The workload group request maximum grant percentage.
                        type: number
                      importance:
                        description: The workload group importance level.
                        type: string
                      queryExecutionTimeout:
                        format: int32
                        description: The workload group query execution timeout.
                        type: integer
                description: ARM resource.
                x-ms-azure-resource: true
        '202':
          description: Create or update for the workload group accepted.
          headers:
            Location:
              schema:
                type: string
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 OperationNotAllowedOnPausedDatabase - Operation is\
            \ not allowed on a paused database.\n\n * 400 InvalidWorkloadGroupNameParameter\
            \ - Invalid workload group name\n\n * 400 InvalidMinResourcePercentParameter\
            \ - Invalid min resource percent for this workload group.\n\n * 400 InvalidMinResourcePercentPerRequestParameter\
            \ - Invalid min resource percent per query for this workload group.\n\n\
            \ * 400 InvalidMaxResourcePercentParameter - Invalid max resource percent\
            \ to allocate for this workload group.\n\n * 400 InvalidMaxResourcePercentPerRequestParameter\
            \ - Invalid max resource percent per query for this workload group.\n\n\
            \ * 400 InvalidImportanceParameter - Importance must be one of the following\
            \ strings: Low, Below_Normal, Normal, Above_Normal, High.\n\n * 400 InvalidQueryExecutionTimeoutParameter\
            \ - Invalid query execution timeout value for this workload group.\n\n\
            \ * 400 InvalidResourceRequestBody - The resource or resource properties\
            \ in the request body is empty or invalid.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 409 ConflictingSystemOperationInProgress\
            \ - A system maintenance operation is in progress on the database and\
            \ further operations need to wait until it is completed.\n\n * 409 ConflictingDatabaseOperation\
            \ - There is already some operation on the database and the current operation\
            \ should wait till it is done.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 DatabaseUnavailable - The operation failed\
            \ because the database is unavailable.\n\n * 503 TooManyRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 504 RequestTimeout - Service request exceeded\
            \ the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    delete:
      tags:
      - WorkloadGroups
      description: Deletes a workload group.
      operationId: WorkloadGroups_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serverName
        in: path
        description: The name of the server.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        in: path
        description: The name of the database.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: workloadGroupName
        in: path
        description: The name of the workload group to delete.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The subscription ID that identifies an Azure subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for the request.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted the workload group.
        '202':
          description: Deleting the workload group is in progress.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: The specified workload group does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped\
            \ - Conflicting operation submitted while instance is in stopping/stopped\
            \ state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted\
            \ while instance is in starting state\n\n * 400 FeatureDisabledOnSelectedEdition\
            \ - User attempted to use a feature which is disabled on current database\
            \ edition.\n\n * 400 OperationNotAllowedOnPausedDatabase - Operation is\
            \ not allowed on a paused database.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 404 SubscriptionDoesNotHaveServer - The requested\
            \ server was not found\n\n * 404 DatabaseDoesNotExist - User has specified\
            \ a database name that does not exist on this server instance.\n\n * 404\
            \ ResourceNotFound - The requested resource was not found.\n\n * 404 OperationIdNotFound\
            \ - The operation with Id does not exist.\n\n * 409 ConflictingSystemOperationInProgress\
            \ - A system maintenance operation is in progress on the database and\
            \ further operations need to wait until it is completed.\n\n * 409 ConflictingDatabaseOperation\
            \ - There is already some operation on the database and the current operation\
            \ should wait till it is done.\n\n * 409 CannotCancelOperation - The management\
            \ operation is in a state that cannot be cancelled.\n\n * 409 OperationCancelled\
            \ - The operation has been cancelled by user.\n\n * 409 OperationInterrupted\
            \ - The operation on the resource could not be completed because it was\
            \ interrupted by another operation on the same resource.\n\n * 429 SubscriptionTooManyCreateUpdateRequests\
            \ - Requests beyond max requests that can be processed by available resources.\n\
            \n * 429 SubscriptionTooManyRequests - Requests beyond max requests that\
            \ can be processed by available resources.\n\n * 500 OperationTimedOut\
            \ - The operation timed out and automatically rolled back. Please retry\
            \ the operation.\n\n * 503 DatabaseUnavailable - The operation failed\
            \ because the database is unavailable.\n\n * 503 TooManyRequests - Requests\
            \ beyond max requests that can be processed by available resources.\n\n\
            \ * 503 TooManyRequests - Requests beyond max requests that can be processed\
            \ by available resources.\n\n * 504 RequestTimeout - Service request exceeded\
            \ the allowed timeout."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
components:
  parameters:
    DatabaseNameParameter:
      name: databaseName
      in: path
      description: The name of the database.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      description: The name of the server.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    WorkloadGroup:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          required:
          - minResourcePercent
          - maxResourcePercent
          - minResourcePercentPerRequest
          type: object
          properties:
            minResourcePercent:
              format: int32
              description: The workload group minimum percentage resource.
              type: integer
            maxResourcePercent:
              format: int32
              description: The workload group cap percentage resource.
              type: integer
            minResourcePercentPerRequest:
              format: double
              description: The workload group request minimum grant percentage.
              type: number
            maxResourcePercentPerRequest:
              format: double
              description: The workload group request maximum grant percentage.
              type: number
            importance:
              description: The workload group importance level.
              type: string
            queryExecutionTimeout:
              format: int32
              description: The workload group query execution timeout.
              type: integer
      description: ARM resource.
      x-ms-azure-resource: true
    WorkloadGroupListResult:
      description: A list of workload groups.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource name.
                type: string
                readOnly: true
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                required:
                - minResourcePercent
                - maxResourcePercent
                - minResourcePercentPerRequest
                type: object
                properties:
                  minResourcePercent:
                    format: int32
                    description: The workload group minimum percentage resource.
                    type: integer
                  maxResourcePercent:
                    format: int32
                    description: The workload group cap percentage resource.
                    type: integer
                  minResourcePercentPerRequest:
                    format: double
                    description: The workload group request minimum grant percentage.
                    type: number
                  maxResourcePercentPerRequest:
                    format: double
                    description: The workload group request maximum grant percentage.
                    type: number
                  importance:
                    description: The workload group importance level.
                    type: string
                  queryExecutionTimeout:
                    format: int32
                    description: The workload group query execution timeout.
                    type: integer
            description: ARM resource.
            x-ms-azure-resource: true
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    WorkloadGroupProperties:
      description: Workload group definition. For more information look at sys.workload_management_workload_groups
        (DMV).
      required:
      - minResourcePercent
      - maxResourcePercent
      - minResourcePercentPerRequest
      type: object
      properties:
        minResourcePercent:
          format: int32
          description: The workload group minimum percentage resource.
          type: integer
        maxResourcePercent:
          format: int32
          description: The workload group cap percentage resource.
          type: integer
        minResourcePercentPerRequest:
          format: double
          description: The workload group request minimum grant percentage.
          type: number
        maxResourcePercentPerRequest:
          format: double
          description: The workload group request maximum grant percentage.
          type: number
        importance:
          description: The workload group importance level.
          type: string
        queryExecutionTimeout:
          format: int32
          description: The workload group query execution timeout.
          type: integer
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    Resource:
      description: ARM resource.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
      description: ARM resource.
      x-ms-azure-resource: true
