openapi: 3.0.0
info:
  version: 2022-06-01
  title: AzureStack Azure Bridge Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions
  : get:
      tags:
      - CustomerSubscription
      description: Returns a list of products.
      operationId: CustomerSubscriptions_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of customer subscriptions.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of customer subscriptions.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Customer subscription properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            tenantId:
                              description: Tenant Id.
                              type: string
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/customerSubscriptions/{customerSubscriptionName}
  : get:
      tags:
      - CustomerSubscription
      description: Returns the specified product.
      operationId: CustomerSubscriptions_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: customerSubscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Customer subscription properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      tenantId:
                        description: Tenant Id.
                        type: string
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    delete:
      tags:
      - CustomerSubscription
      description: Deletes a customer subscription under a registration.
      operationId: CustomerSubscriptions_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: customerSubscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
        '204':
          description: NO CONTENT
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    put:
      tags:
      - CustomerSubscription
      description: Creates a new customer subscription under a registration.
      operationId: CustomerSubscriptions_Create
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: customerSubscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  description: ID of the resource.
                  type: string
                name:
                  readOnly: true
                  description: Name of the resource.
                  type: string
                type:
                  readOnly: true
                  description: Type of Resource.
                  type: string
                etag:
                  description: The entity tag used for optimistic concurrency when
                    modifying the resource.
                  type: string
                properties:
                  description: Customer subscription properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    tenantId:
                      description: Tenant Id.
                      type: string
              description: Base resource object.
              x-ms-azure-resource: true
        description: Parameters use to create a customer subscription.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Customer subscription properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      tenantId:
                        description: Tenant Id.
                        type: string
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
components:
  parameters:
    CustomerSubscriptionNameParameter:
      description: Name of the product.
      name: customerSubscriptionName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: Name of the resource group.
      name: resourceGroup
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    RegistrationNameParameter:
      description: Name of the Azure Stack registration.
      name: registrationName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2017-06-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CustomerSubscription:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        etag:
          description: The entity tag used for optimistic concurrency when modifying
            the resource.
          type: string
        properties:
          description: Customer subscription properties.
          x-ms-client-flatten: true
          type: object
          properties:
            tenantId:
              description: Tenant Id.
              type: string
      description: Base resource object.
      x-ms-azure-resource: true
    CustomerSubscriptionProperties:
      description: Customer subscription properties.
      type: object
      properties:
        tenantId:
          description: Tenant Id.
          type: string
    CustomerSubscriptionList:
      description: Pageable list of customer subscriptions.
      type: object
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of customer subscriptions.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              etag:
                description: The entity tag used for optimistic concurrency when modifying
                  the resource.
                type: string
              properties:
                description: Customer subscription properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  tenantId:
                    description: Tenant Id.
                    type: string
            description: Base resource object.
            x-ms-azure-resource: true
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
            target:
              description: The target of the particular error.
              type: string
              readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        etag:
          description: The entity tag used for optimistic concurrency when modifying
            the resource.
          type: string
      x-ms-azure-resource: true
