openapi: 3.0.0
info:
  version: 2022-06-01
  title: AzureStack Azure Bridge Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products
  : get:
      tags:
      - Product
      description: Returns a list of products.
      operationId: Products_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of products.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of products.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Properties of the product resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              description: The display name of the product.
                              type: string
                            description:
                              description: The description of the product.
                              type: string
                            publisherDisplayName:
                              description: The user-friendly name of the product publisher.
                              type: string
                            publisherIdentifier:
                              description: Publisher identifier.
                              type: string
                            offer:
                              description: The offer representing the product.
                              type: string
                            offerVersion:
                              description: The version of the product offer.
                              type: string
                            sku:
                              description: The product SKU.
                              type: string
                            billingPartNumber:
                              description: The part number used for billing purposes.
                              type: string
                            vmExtensionType:
                              description: The type of the Virtual Machine Extension.
                              type: string
                            galleryItemIdentity:
                              description: The identifier of the gallery item corresponding
                                to the product.
                              type: string
                            iconUris:
                              description: Additional links available for this product.
                              type: object
                              properties:
                                large:
                                  description: URI to large icon.
                                  type: string
                                wide:
                                  description: URI to wide icon.
                                  type: string
                                medium:
                                  description: URI to medium icon.
                                  type: string
                                small:
                                  description: URI to small icon.
                                  type: string
                                hero:
                                  description: URI to hero icon.
                                  type: string
                            links:
                              description: Additional links available for this product.
                              type: array
                              items:
                                description: Link with additional information about
                                  a product.
                                type: object
                                properties:
                                  displayName:
                                    description: The description of the link.
                                    type: string
                                  uri:
                                    description: The URI corresponding to the link.
                                    type: string
                              x-ms-identifiers:
                              - uri
                            legalTerms:
                              description: The legal terms.
                              type: string
                            privacyPolicy:
                              description: The privacy policy.
                              type: string
                            payloadLength:
                              description: The length of product content.
                              type: integer
                              format: int64
                            productKind:
                              description: The kind of the product (virtualMachine
                                or virtualMachineExtension)
                              type: string
                            productProperties:
                              description: Additional properties for the product.
                              type: object
                              properties:
                                version:
                                  description: The version.
                                  type: string
                            compatibility:
                              description: Product compatibility with current device.
                              type: object
                              properties:
                                isCompatible:
                                  description: Tells if product is compatible with
                                    current device
                                  type: boolean
                                message:
                                  description: Short error message if any compatibility
                                    issues are found
                                  type: string
                                description:
                                  description: Full error message if any compatibility
                                    issues are found
                                  type: string
                                issues:
                                  description: List of all issues found
                                  type: array
                                  items:
                                    description: Compatibility issue
                                    type: string
                                    enum:
                                    - HigherDeviceVersionRequired
                                    - LowerDeviceVersionRequired
                                    - CapacityBillingModelRequired
                                    - PayAsYouGoBillingModelRequired
                                    - DevelopmentBillingModelRequired
                                    - AzureADIdentitySystemRequired
                                    - ADFSIdentitySystemRequired
                                    - ConnectionToInternetRequired
                                    - ConnectionToAzureRequired
                                    - DisconnectedEnvironmentRequired
                                    x-ms-enum:
                                      name: CompatibilityIssue
                                      modelAsString: true
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}
  : get:
      tags:
      - Product
      description: Returns the specified product.
      operationId: Products_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Properties of the product resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        description: The display name of the product.
                        type: string
                      description:
                        description: The description of the product.
                        type: string
                      publisherDisplayName:
                        description: The user-friendly name of the product publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      offer:
                        description: The offer representing the product.
                        type: string
                      offerVersion:
                        description: The version of the product offer.
                        type: string
                      sku:
                        description: The product SKU.
                        type: string
                      billingPartNumber:
                        description: The part number used for billing purposes.
                        type: string
                      vmExtensionType:
                        description: The type of the Virtual Machine Extension.
                        type: string
                      galleryItemIdentity:
                        description: The identifier of the gallery item corresponding
                          to the product.
                        type: string
                      iconUris:
                        description: Additional links available for this product.
                        type: object
                        properties:
                          large:
                            description: URI to large icon.
                            type: string
                          wide:
                            description: URI to wide icon.
                            type: string
                          medium:
                            description: URI to medium icon.
                            type: string
                          small:
                            description: URI to small icon.
                            type: string
                          hero:
                            description: URI to hero icon.
                            type: string
                      links:
                        description: Additional links available for this product.
                        type: array
                        items:
                          description: Link with additional information about a product.
                          type: object
                          properties:
                            displayName:
                              description: The description of the link.
                              type: string
                            uri:
                              description: The URI corresponding to the link.
                              type: string
                        x-ms-identifiers:
                        - uri
                      legalTerms:
                        description: The legal terms.
                        type: string
                      privacyPolicy:
                        description: The privacy policy.
                        type: string
                      payloadLength:
                        description: The length of product content.
                        type: integer
                        format: int64
                      productKind:
                        description: The kind of the product (virtualMachine or virtualMachineExtension)
                        type: string
                      productProperties:
                        description: Additional properties for the product.
                        type: object
                        properties:
                          version:
                            description: The version.
                            type: string
                      compatibility:
                        description: Product compatibility with current device.
                        type: object
                        properties:
                          isCompatible:
                            description: Tells if product is compatible with current
                              device
                            type: boolean
                          message:
                            description: Short error message if any compatibility
                              issues are found
                            type: string
                          description:
                            description: Full error message if any compatibility issues
                              are found
                            type: string
                          issues:
                            description: List of all issues found
                            type: array
                            items:
                              description: Compatibility issue
                              type: string
                              enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                              x-ms-enum:
                                name: CompatibilityIssue
                                modelAsString: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listDetails
  : post:
      tags:
      - Product
      description: Returns the extended properties of a product.
      operationId: Products_ListDetails
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Extended description about the product required for installing
                  it into Azure Stack.
                type: object
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information
                      required for showing product in the gallery.
                    type: string
                    readOnly: true
                  productKind:
                    description: Specifies the kind of the product (virtualMachine
                      or virtualMachineExtension).
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      computeRole:
                        description: Specifies kind of compute role included in the
                          package.
                        readOnly: true
                        type: string
                        enum:
                        - None
                        - IaaS
                        - PaaS
                        x-ms-enum:
                          name: ComputeRole
                          modelAsString: true
                      isSystemExtension:
                        description: Specifies if product is a Virtual Machine Extension.
                        type: boolean
                        readOnly: true
                      sourceBlob:
                        description: Specifies a download location where content can
                          be downloaded from.
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          uri:
                            description: The URI.
                            type: string
                            readOnly: true
                      supportMultipleExtensions:
                        description: Indicates if specified product supports multiple
                          extensions.
                        type: boolean
                        readOnly: true
                      version:
                        description: Specifies product version.
                        type: string
                        readOnly: true
                      vmOsType:
                        description: Specifies operating system used by the product.
                        readOnly: true
                        type: string
                        enum:
                        - None
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystem
                          modelAsString: true
                      vmScaleSetEnabled:
                        description: Indicates if virtual machine Scale Set is enabled
                          in the specified product.
                        type: boolean
                        readOnly: true
                      osDiskImage:
                        description: OS disk image used by product.
                        readOnly: true
                        type: object
                        properties:
                          operatingSystem:
                            description: OS operating system type.
                            readOnly: true
                            type: string
                            enum:
                            - None
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OperatingSystem
                              modelAsString: true
                          sourceBlobSasUri:
                            description: SAS key for source blob.
                            type: string
                            readOnly: true
                      dataDiskImages:
                        description: List of attached data disks.
                        type: array
                        items:
                          description: Data disk image.
                          type: object
                          properties:
                            lun:
                              description: The LUN.
                              type: integer
                              format: int32
                              readOnly: true
                            sourceBlobSasUri:
                              description: SAS key for source blob.
                              type: string
                              readOnly: true
                        x-ms-identifiers:
                        - lun
                        readOnly: true
                    description: Product information.
                    readOnly: true
                    x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listProducts
  : post:
      tags:
      - Product
      description: Returns a list of products.
      operationId: Products_ListProducts
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Device Configuration.
              properties:
                deviceVersion:
                  description: Version of the device.
                  type: string
                  readOnly: true
                identitySystem:
                  description: Identity system of the device.
                  enum:
                  - AzureAD
                  - ADFS
                  type: string
                  x-ms-enum:
                    name: category
                    modelAsString: true
                  readOnly: true
        description: Device configuration.
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of products.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of products.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Properties of the product resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              description: The display name of the product.
                              type: string
                            description:
                              description: The description of the product.
                              type: string
                            publisherDisplayName:
                              description: The user-friendly name of the product publisher.
                              type: string
                            publisherIdentifier:
                              description: Publisher identifier.
                              type: string
                            offer:
                              description: The offer representing the product.
                              type: string
                            offerVersion:
                              description: The version of the product offer.
                              type: string
                            sku:
                              description: The product SKU.
                              type: string
                            billingPartNumber:
                              description: The part number used for billing purposes.
                              type: string
                            vmExtensionType:
                              description: The type of the Virtual Machine Extension.
                              type: string
                            galleryItemIdentity:
                              description: The identifier of the gallery item corresponding
                                to the product.
                              type: string
                            iconUris:
                              description: Additional links available for this product.
                              type: object
                              properties:
                                large:
                                  description: URI to large icon.
                                  type: string
                                wide:
                                  description: URI to wide icon.
                                  type: string
                                medium:
                                  description: URI to medium icon.
                                  type: string
                                small:
                                  description: URI to small icon.
                                  type: string
                                hero:
                                  description: URI to hero icon.
                                  type: string
                            links:
                              description: Additional links available for this product.
                              type: array
                              items:
                                description: Link with additional information about
                                  a product.
                                type: object
                                properties:
                                  displayName:
                                    description: The description of the link.
                                    type: string
                                  uri:
                                    description: The URI corresponding to the link.
                                    type: string
                              x-ms-identifiers:
                              - uri
                            legalTerms:
                              description: The legal terms.
                              type: string
                            privacyPolicy:
                              description: The privacy policy.
                              type: string
                            payloadLength:
                              description: The length of product content.
                              type: integer
                              format: int64
                            productKind:
                              description: The kind of the product (virtualMachine
                                or virtualMachineExtension)
                              type: string
                            productProperties:
                              description: Additional properties for the product.
                              type: object
                              properties:
                                version:
                                  description: The version.
                                  type: string
                            compatibility:
                              description: Product compatibility with current device.
                              type: object
                              properties:
                                isCompatible:
                                  description: Tells if product is compatible with
                                    current device
                                  type: boolean
                                message:
                                  description: Short error message if any compatibility
                                    issues are found
                                  type: string
                                description:
                                  description: Full error message if any compatibility
                                    issues are found
                                  type: string
                                issues:
                                  description: List of all issues found
                                  type: array
                                  items:
                                    description: Compatibility issue
                                    type: string
                                    enum:
                                    - HigherDeviceVersionRequired
                                    - LowerDeviceVersionRequired
                                    - CapacityBillingModelRequired
                                    - PayAsYouGoBillingModelRequired
                                    - DevelopmentBillingModelRequired
                                    - AzureADIdentitySystemRequired
                                    - ADFSIdentitySystemRequired
                                    - ConnectionToInternetRequired
                                    - ConnectionToAzureRequired
                                    - DisconnectedEnvironmentRequired
                                    x-ms-enum:
                                      name: CompatibilityIssue
                                      modelAsString: true
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProducts
  : post:
      tags:
      - Product
      description: Returns a list of products.
      operationId: Products_GetProducts
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Device Configuration.
              properties:
                deviceVersion:
                  description: Version of the device.
                  type: string
                  readOnly: true
                identitySystem:
                  description: Identity system of the device.
                  enum:
                  - AzureAD
                  - ADFS
                  type: string
                  x-ms-enum:
                    name: category
                    modelAsString: true
                  readOnly: true
        description: Device configuration.
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of products.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of products.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Properties of the product resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              description: The display name of the product.
                              type: string
                            description:
                              description: The description of the product.
                              type: string
                            publisherDisplayName:
                              description: The user-friendly name of the product publisher.
                              type: string
                            publisherIdentifier:
                              description: Publisher identifier.
                              type: string
                            offer:
                              description: The offer representing the product.
                              type: string
                            offerVersion:
                              description: The version of the product offer.
                              type: string
                            sku:
                              description: The product SKU.
                              type: string
                            billingPartNumber:
                              description: The part number used for billing purposes.
                              type: string
                            vmExtensionType:
                              description: The type of the Virtual Machine Extension.
                              type: string
                            galleryItemIdentity:
                              description: The identifier of the gallery item corresponding
                                to the product.
                              type: string
                            iconUris:
                              description: Additional links available for this product.
                              type: object
                              properties:
                                large:
                                  description: URI to large icon.
                                  type: string
                                wide:
                                  description: URI to wide icon.
                                  type: string
                                medium:
                                  description: URI to medium icon.
                                  type: string
                                small:
                                  description: URI to small icon.
                                  type: string
                                hero:
                                  description: URI to hero icon.
                                  type: string
                            links:
                              description: Additional links available for this product.
                              type: array
                              items:
                                description: Link with additional information about
                                  a product.
                                type: object
                                properties:
                                  displayName:
                                    description: The description of the link.
                                    type: string
                                  uri:
                                    description: The URI corresponding to the link.
                                    type: string
                              x-ms-identifiers:
                              - uri
                            legalTerms:
                              description: The legal terms.
                              type: string
                            privacyPolicy:
                              description: The privacy policy.
                              type: string
                            payloadLength:
                              description: The length of product content.
                              type: integer
                              format: int64
                            productKind:
                              description: The kind of the product (virtualMachine
                                or virtualMachineExtension)
                              type: string
                            productProperties:
                              description: Additional properties for the product.
                              type: object
                              properties:
                                version:
                                  description: The version.
                                  type: string
                            compatibility:
                              description: Product compatibility with current device.
                              type: object
                              properties:
                                isCompatible:
                                  description: Tells if product is compatible with
                                    current device
                                  type: boolean
                                message:
                                  description: Short error message if any compatibility
                                    issues are found
                                  type: string
                                description:
                                  description: Full error message if any compatibility
                                    issues are found
                                  type: string
                                issues:
                                  description: List of all issues found
                                  type: array
                                  items:
                                    description: Compatibility issue
                                    type: string
                                    enum:
                                    - HigherDeviceVersionRequired
                                    - LowerDeviceVersionRequired
                                    - CapacityBillingModelRequired
                                    - PayAsYouGoBillingModelRequired
                                    - DevelopmentBillingModelRequired
                                    - AzureADIdentitySystemRequired
                                    - ADFSIdentitySystemRequired
                                    - ConnectionToInternetRequired
                                    - ConnectionToAzureRequired
                                    - DisconnectedEnvironmentRequired
                                    x-ms-enum:
                                      name: CompatibilityIssue
                                      modelAsString: true
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProduct
  : post:
      tags:
      - Product
      description: Returns the specified product.
      operationId: Products_GetProduct
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Device Configuration.
              properties:
                deviceVersion:
                  description: Version of the device.
                  type: string
                  readOnly: true
                identitySystem:
                  description: Identity system of the device.
                  enum:
                  - AzureAD
                  - ADFS
                  type: string
                  x-ms-enum:
                    name: category
                    modelAsString: true
                  readOnly: true
        description: Device configuration.
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Properties of the product resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        description: The display name of the product.
                        type: string
                      description:
                        description: The description of the product.
                        type: string
                      publisherDisplayName:
                        description: The user-friendly name of the product publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      offer:
                        description: The offer representing the product.
                        type: string
                      offerVersion:
                        description: The version of the product offer.
                        type: string
                      sku:
                        description: The product SKU.
                        type: string
                      billingPartNumber:
                        description: The part number used for billing purposes.
                        type: string
                      vmExtensionType:
                        description: The type of the Virtual Machine Extension.
                        type: string
                      galleryItemIdentity:
                        description: The identifier of the gallery item corresponding
                          to the product.
                        type: string
                      iconUris:
                        description: Additional links available for this product.
                        type: object
                        properties:
                          large:
                            description: URI to large icon.
                            type: string
                          wide:
                            description: URI to wide icon.
                            type: string
                          medium:
                            description: URI to medium icon.
                            type: string
                          small:
                            description: URI to small icon.
                            type: string
                          hero:
                            description: URI to hero icon.
                            type: string
                      links:
                        description: Additional links available for this product.
                        type: array
                        items:
                          description: Link with additional information about a product.
                          type: object
                          properties:
                            displayName:
                              description: The description of the link.
                              type: string
                            uri:
                              description: The URI corresponding to the link.
                              type: string
                        x-ms-identifiers:
                        - uri
                      legalTerms:
                        description: The legal terms.
                        type: string
                      privacyPolicy:
                        description: The privacy policy.
                        type: string
                      payloadLength:
                        description: The length of product content.
                        type: integer
                        format: int64
                      productKind:
                        description: The kind of the product (virtualMachine or virtualMachineExtension)
                        type: string
                      productProperties:
                        description: Additional properties for the product.
                        type: object
                        properties:
                          version:
                            description: The version.
                            type: string
                      compatibility:
                        description: Product compatibility with current device.
                        type: object
                        properties:
                          isCompatible:
                            description: Tells if product is compatible with current
                              device
                            type: boolean
                          message:
                            description: Short error message if any compatibility
                              issues are found
                            type: string
                          description:
                            description: Full error message if any compatibility issues
                              are found
                            type: string
                          issues:
                            description: List of all issues found
                            type: array
                            items:
                              description: Compatibility issue
                              type: string
                              enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                              x-ms-enum:
                                name: CompatibilityIssue
                                modelAsString: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/uploadProductLog
  : post:
      tags:
      - Product
      description: Returns the specified product.
      operationId: Products_UploadLog
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the product.
        name: productName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Update details for product log.
              properties:
                operation:
                  description: Operation to log.
                  type: string
                  readOnly: true
                status:
                  description: Operation status to log.
                  type: string
                  readOnly: true
                error:
                  description: Error related to the operation.
                  type: string
                  readOnly: true
                details:
                  description: Error details related to operation.
                  type: string
                  readOnly: true
        description: Update details for product log.
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Product action log.
                properties:
                  id:
                    description: Log ID.
                    type: string
                    readOnly: true
                  productId:
                    description: Logged product ID.
                    type: string
                    readOnly: true
                  subscriptionId:
                    description: Logged subscription ID.
                    type: string
                    readOnly: true
                  registrationName:
                    description: Logged registration name.
                    type: string
                    readOnly: true
                  resourceGroupName:
                    description: Logged resource group name.
                    type: string
                    readOnly: true
                  operation:
                    description: Logged operation.
                    type: string
                    readOnly: true
                  startDate:
                    description: Operation start datetime.
                    type: string
                    readOnly: true
                  endDate:
                    description: Operation end datetime.
                    type: string
                    readOnly: true
                  status:
                    description: Operation status.
                    type: string
                    readOnly: true
                  error:
                    description: Operation error data.
                    type: string
                    readOnly: true
                  details:
                    description: Operation error details.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
components:
  parameters:
    ProductNameParameter:
      description: Name of the product.
      name: productName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: Name of the resource group.
      name: resourceGroup
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    RegistrationNameParameter:
      description: Name of the Azure Stack registration.
      name: registrationName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2017-06-01
  requestBodies:
    Products_ListProductsDeviceconfiguration:
      content:
        application/json:
          schema:
            description: Device Configuration.
            properties:
              deviceVersion:
                description: Version of the device.
                type: string
                readOnly: true
              identitySystem:
                description: Identity system of the device.
                enum:
                - AzureAD
                - ADFS
                type: string
                x-ms-enum:
                  name: category
                  modelAsString: true
                readOnly: true
      description: Device configuration.
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ComputeRole:
      description: Compute role type (IaaS or PaaS).
      type: string
      enum:
      - None
      - IaaS
      - PaaS
      x-ms-enum:
        name: ComputeRole
        modelAsString: true
    OperatingSystem:
      description: Operating system type (Windows or Linux).
      type: string
      enum:
      - None
      - Windows
      - Linux
      x-ms-enum:
        name: OperatingSystem
        modelAsString: true
    Uri:
      description: The URI.
      type: object
      properties:
        uri:
          description: The URI.
          type: string
          readOnly: true
    ExtendedProduct:
      description: Extended description about the product required for installing
        it into Azure Stack.
      type: object
      properties:
        galleryPackageBlobSasUri:
          description: The URI to the .azpkg file that provides information required
            for showing product in the gallery.
          type: string
          readOnly: true
        productKind:
          description: Specifies the kind of the product (virtualMachine or virtualMachineExtension).
          type: string
          readOnly: true
        properties:
          type: object
          properties:
            computeRole:
              description: Specifies kind of compute role included in the package.
              readOnly: true
              type: string
              enum:
              - None
              - IaaS
              - PaaS
              x-ms-enum:
                name: ComputeRole
                modelAsString: true
            isSystemExtension:
              description: Specifies if product is a Virtual Machine Extension.
              type: boolean
              readOnly: true
            sourceBlob:
              description: Specifies a download location where content can be downloaded
                from.
              x-ms-client-flatten: true
              readOnly: true
              type: object
              properties:
                uri:
                  description: The URI.
                  type: string
                  readOnly: true
            supportMultipleExtensions:
              description: Indicates if specified product supports multiple extensions.
              type: boolean
              readOnly: true
            version:
              description: Specifies product version.
              type: string
              readOnly: true
            vmOsType:
              description: Specifies operating system used by the product.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            vmScaleSetEnabled:
              description: Indicates if virtual machine Scale Set is enabled in the
                specified product.
              type: boolean
              readOnly: true
            osDiskImage:
              description: OS disk image used by product.
              readOnly: true
              type: object
              properties:
                operatingSystem:
                  description: OS operating system type.
                  readOnly: true
                  type: string
                  enum:
                  - None
                  - Windows
                  - Linux
                  x-ms-enum:
                    name: OperatingSystem
                    modelAsString: true
                sourceBlobSasUri:
                  description: SAS key for source blob.
                  type: string
                  readOnly: true
            dataDiskImages:
              description: List of attached data disks.
              type: array
              items:
                description: Data disk image.
                type: object
                properties:
                  lun:
                    description: The LUN.
                    type: integer
                    format: int32
                    readOnly: true
                  sourceBlobSasUri:
                    description: SAS key for source blob.
                    type: string
                    readOnly: true
              x-ms-identifiers:
              - lun
              readOnly: true
          description: Product information.
          readOnly: true
          x-ms-client-flatten: true
    ExtendedProductProperties:
      type: object
      properties:
        computeRole:
          description: Specifies kind of compute role included in the package.
          readOnly: true
          type: string
          enum:
          - None
          - IaaS
          - PaaS
          x-ms-enum:
            name: ComputeRole
            modelAsString: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
          readOnly: true
        sourceBlob:
          description: Specifies a download location where content can be downloaded
            from.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            uri:
              description: The URI.
              type: string
              readOnly: true
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
          readOnly: true
        version:
          description: Specifies product version.
          type: string
          readOnly: true
        vmOsType:
          description: Specifies operating system used by the product.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified
            product.
          type: boolean
          readOnly: true
        osDiskImage:
          description: OS disk image used by product.
          readOnly: true
          type: object
          properties:
            operatingSystem:
              description: OS operating system type.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            sourceBlobSasUri:
              description: SAS key for source blob.
              type: string
              readOnly: true
        dataDiskImages:
          description: List of attached data disks.
          type: array
          items:
            description: Data disk image.
            type: object
            properties:
              lun:
                description: The LUN.
                type: integer
                format: int32
                readOnly: true
              sourceBlobSasUri:
                description: SAS key for source blob.
                type: string
                readOnly: true
          x-ms-identifiers:
          - lun
          readOnly: true
      description: Product information.
    VirtualMachineExtensionProductProperties:
      description: Product information.
      type: object
      properties:
        computeRole:
          description: Specifies kind of compute role included in the package.
          readOnly: true
          type: string
          enum:
          - None
          - IaaS
          - PaaS
          x-ms-enum:
            name: ComputeRole
            modelAsString: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
          readOnly: true
        sourceBlob:
          description: Specifies a download location where content can be downloaded
            from.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            uri:
              description: The URI.
              type: string
              readOnly: true
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
          readOnly: true
        version:
          description: Specifies product version.
          type: string
          readOnly: true
        vmOsType:
          description: Specifies operating system used by the product.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified
            product.
          type: boolean
          readOnly: true
    VirtualMachineProductProperties:
      description: Product information.
      type: object
      properties:
        version:
          description: Specifies product version.
          type: string
          readOnly: true
        osDiskImage:
          description: OS disk image used by product.
          readOnly: true
          type: object
          properties:
            operatingSystem:
              description: OS operating system type.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            sourceBlobSasUri:
              description: SAS key for source blob.
              type: string
              readOnly: true
        dataDiskImages:
          description: List of attached data disks.
          type: array
          items:
            description: Data disk image.
            type: object
            properties:
              lun:
                description: The LUN.
                type: integer
                format: int32
                readOnly: true
              sourceBlobSasUri:
                description: SAS key for source blob.
                type: string
                readOnly: true
          x-ms-identifiers:
          - lun
          readOnly: true
    OsDiskImage:
      description: OS disk image.
      type: object
      properties:
        operatingSystem:
          description: OS operating system type.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    DataDiskImage:
      description: Data disk image.
      type: object
      properties:
        lun:
          description: The LUN.
          type: integer
          format: int32
          readOnly: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    Product:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        etag:
          description: The entity tag used for optimistic concurrency when modifying
            the resource.
          type: string
        properties:
          description: Properties of the product resource.
          x-ms-client-flatten: true
          type: object
          properties:
            displayName:
              description: The display name of the product.
              type: string
            description:
              description: The description of the product.
              type: string
            publisherDisplayName:
              description: The user-friendly name of the product publisher.
              type: string
            publisherIdentifier:
              description: Publisher identifier.
              type: string
            offer:
              description: The offer representing the product.
              type: string
            offerVersion:
              description: The version of the product offer.
              type: string
            sku:
              description: The product SKU.
              type: string
            billingPartNumber:
              description: The part number used for billing purposes.
              type: string
            vmExtensionType:
              description: The type of the Virtual Machine Extension.
              type: string
            galleryItemIdentity:
              description: The identifier of the gallery item corresponding to the
                product.
              type: string
            iconUris:
              description: Additional links available for this product.
              type: object
              properties:
                large:
                  description: URI to large icon.
                  type: string
                wide:
                  description: URI to wide icon.
                  type: string
                medium:
                  description: URI to medium icon.
                  type: string
                small:
                  description: URI to small icon.
                  type: string
                hero:
                  description: URI to hero icon.
                  type: string
            links:
              description: Additional links available for this product.
              type: array
              items:
                description: Link with additional information about a product.
                type: object
                properties:
                  displayName:
                    description: The description of the link.
                    type: string
                  uri:
                    description: The URI corresponding to the link.
                    type: string
              x-ms-identifiers:
              - uri
            legalTerms:
              description: The legal terms.
              type: string
            privacyPolicy:
              description: The privacy policy.
              type: string
            payloadLength:
              description: The length of product content.
              type: integer
              format: int64
            productKind:
              description: The kind of the product (virtualMachine or virtualMachineExtension)
              type: string
            productProperties:
              description: Additional properties for the product.
              type: object
              properties:
                version:
                  description: The version.
                  type: string
            compatibility:
              description: Product compatibility with current device.
              type: object
              properties:
                isCompatible:
                  description: Tells if product is compatible with current device
                  type: boolean
                message:
                  description: Short error message if any compatibility issues are
                    found
                  type: string
                description:
                  description: Full error message if any compatibility issues are
                    found
                  type: string
                issues:
                  description: List of all issues found
                  type: array
                  items:
                    description: Compatibility issue
                    type: string
                    enum:
                    - HigherDeviceVersionRequired
                    - LowerDeviceVersionRequired
                    - CapacityBillingModelRequired
                    - PayAsYouGoBillingModelRequired
                    - DevelopmentBillingModelRequired
                    - AzureADIdentitySystemRequired
                    - ADFSIdentitySystemRequired
                    - ConnectionToInternetRequired
                    - ConnectionToAzureRequired
                    - DisconnectedEnvironmentRequired
                    x-ms-enum:
                      name: CompatibilityIssue
                      modelAsString: true
      description: Base resource object.
      x-ms-azure-resource: true
    ProductNestedProperties:
      description: Properties portion of the product resource.
      type: object
      properties:
        displayName:
          description: The display name of the product.
          type: string
        description:
          description: The description of the product.
          type: string
        publisherDisplayName:
          description: The user-friendly name of the product publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        offer:
          description: The offer representing the product.
          type: string
        offerVersion:
          description: The version of the product offer.
          type: string
        sku:
          description: The product SKU.
          type: string
        billingPartNumber:
          description: The part number used for billing purposes.
          type: string
        vmExtensionType:
          description: The type of the Virtual Machine Extension.
          type: string
        galleryItemIdentity:
          description: The identifier of the gallery item corresponding to the product.
          type: string
        iconUris:
          description: Additional links available for this product.
          type: object
          properties:
            large:
              description: URI to large icon.
              type: string
            wide:
              description: URI to wide icon.
              type: string
            medium:
              description: URI to medium icon.
              type: string
            small:
              description: URI to small icon.
              type: string
            hero:
              description: URI to hero icon.
              type: string
        links:
          description: Additional links available for this product.
          type: array
          items:
            description: Link with additional information about a product.
            type: object
            properties:
              displayName:
                description: The description of the link.
                type: string
              uri:
                description: The URI corresponding to the link.
                type: string
          x-ms-identifiers:
          - uri
        legalTerms:
          description: The legal terms.
          type: string
        privacyPolicy:
          description: The privacy policy.
          type: string
        payloadLength:
          description: The length of product content.
          type: integer
          format: int64
        productKind:
          description: The kind of the product (virtualMachine or virtualMachineExtension)
          type: string
        productProperties:
          description: Additional properties for the product.
          type: object
          properties:
            version:
              description: The version.
              type: string
        compatibility:
          description: Product compatibility with current device.
          type: object
          properties:
            isCompatible:
              description: Tells if product is compatible with current device
              type: boolean
            message:
              description: Short error message if any compatibility issues are found
              type: string
            description:
              description: Full error message if any compatibility issues are found
              type: string
            issues:
              description: List of all issues found
              type: array
              items:
                description: Compatibility issue
                type: string
                enum:
                - HigherDeviceVersionRequired
                - LowerDeviceVersionRequired
                - CapacityBillingModelRequired
                - PayAsYouGoBillingModelRequired
                - DevelopmentBillingModelRequired
                - AzureADIdentitySystemRequired
                - ADFSIdentitySystemRequired
                - ConnectionToInternetRequired
                - ConnectionToAzureRequired
                - DisconnectedEnvironmentRequired
                x-ms-enum:
                  name: CompatibilityIssue
                  modelAsString: true
    Compatibility:
      description: Product compatibility
      type: object
      properties:
        isCompatible:
          description: Tells if product is compatible with current device
          type: boolean
        message:
          description: Short error message if any compatibility issues are found
          type: string
        description:
          description: Full error message if any compatibility issues are found
          type: string
        issues:
          description: List of all issues found
          type: array
          items:
            description: Compatibility issue
            type: string
            enum:
            - HigherDeviceVersionRequired
            - LowerDeviceVersionRequired
            - CapacityBillingModelRequired
            - PayAsYouGoBillingModelRequired
            - DevelopmentBillingModelRequired
            - AzureADIdentitySystemRequired
            - ADFSIdentitySystemRequired
            - ConnectionToInternetRequired
            - ConnectionToAzureRequired
            - DisconnectedEnvironmentRequired
            x-ms-enum:
              name: CompatibilityIssue
              modelAsString: true
    CompatibilityIssue:
      description: Compatibility issue
      type: string
      enum:
      - HigherDeviceVersionRequired
      - LowerDeviceVersionRequired
      - CapacityBillingModelRequired
      - PayAsYouGoBillingModelRequired
      - DevelopmentBillingModelRequired
      - AzureADIdentitySystemRequired
      - ADFSIdentitySystemRequired
      - ConnectionToInternetRequired
      - ConnectionToAzureRequired
      - DisconnectedEnvironmentRequired
      x-ms-enum:
        name: CompatibilityIssue
        modelAsString: true
    IconUris:
      description: Links to product icons.
      type: object
      properties:
        large:
          description: URI to large icon.
          type: string
        wide:
          description: URI to wide icon.
          type: string
        medium:
          description: URI to medium icon.
          type: string
        small:
          description: URI to small icon.
          type: string
        hero:
          description: URI to hero icon.
          type: string
    ProductProperties:
      description: Additional properties of the product
      type: object
      properties:
        version:
          description: The version.
          type: string
    ProductLink:
      description: Link with additional information about a product.
      type: object
      properties:
        displayName:
          description: The description of the link.
          type: string
        uri:
          description: The URI corresponding to the link.
          type: string
    ProductList:
      description: Pageable list of products.
      type: object
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of products.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              etag:
                description: The entity tag used for optimistic concurrency when modifying
                  the resource.
                type: string
              properties:
                description: Properties of the product resource.
                x-ms-client-flatten: true
                type: object
                properties:
                  displayName:
                    description: The display name of the product.
                    type: string
                  description:
                    description: The description of the product.
                    type: string
                  publisherDisplayName:
                    description: The user-friendly name of the product publisher.
                    type: string
                  publisherIdentifier:
                    description: Publisher identifier.
                    type: string
                  offer:
                    description: The offer representing the product.
                    type: string
                  offerVersion:
                    description: The version of the product offer.
                    type: string
                  sku:
                    description: The product SKU.
                    type: string
                  billingPartNumber:
                    description: The part number used for billing purposes.
                    type: string
                  vmExtensionType:
                    description: The type of the Virtual Machine Extension.
                    type: string
                  galleryItemIdentity:
                    description: The identifier of the gallery item corresponding
                      to the product.
                    type: string
                  iconUris:
                    description: Additional links available for this product.
                    type: object
                    properties:
                      large:
                        description: URI to large icon.
                        type: string
                      wide:
                        description: URI to wide icon.
                        type: string
                      medium:
                        description: URI to medium icon.
                        type: string
                      small:
                        description: URI to small icon.
                        type: string
                      hero:
                        description: URI to hero icon.
                        type: string
                  links:
                    description: Additional links available for this product.
                    type: array
                    items:
                      description: Link with additional information about a product.
                      type: object
                      properties:
                        displayName:
                          description: The description of the link.
                          type: string
                        uri:
                          description: The URI corresponding to the link.
                          type: string
                    x-ms-identifiers:
                    - uri
                  legalTerms:
                    description: The legal terms.
                    type: string
                  privacyPolicy:
                    description: The privacy policy.
                    type: string
                  payloadLength:
                    description: The length of product content.
                    type: integer
                    format: int64
                  productKind:
                    description: The kind of the product (virtualMachine or virtualMachineExtension)
                    type: string
                  productProperties:
                    description: Additional properties for the product.
                    type: object
                    properties:
                      version:
                        description: The version.
                        type: string
                  compatibility:
                    description: Product compatibility with current device.
                    type: object
                    properties:
                      isCompatible:
                        description: Tells if product is compatible with current device
                        type: boolean
                      message:
                        description: Short error message if any compatibility issues
                          are found
                        type: string
                      description:
                        description: Full error message if any compatibility issues
                          are found
                        type: string
                      issues:
                        description: List of all issues found
                        type: array
                        items:
                          description: Compatibility issue
                          type: string
                          enum:
                          - HigherDeviceVersionRequired
                          - LowerDeviceVersionRequired
                          - CapacityBillingModelRequired
                          - PayAsYouGoBillingModelRequired
                          - DevelopmentBillingModelRequired
                          - AzureADIdentitySystemRequired
                          - ADFSIdentitySystemRequired
                          - ConnectionToInternetRequired
                          - ConnectionToAzureRequired
                          - DisconnectedEnvironmentRequired
                          x-ms-enum:
                            name: CompatibilityIssue
                            modelAsString: true
            description: Base resource object.
            x-ms-azure-resource: true
    DeviceConfiguration:
      description: Device Configuration.
      properties:
        deviceVersion:
          description: Version of the device.
          type: string
          readOnly: true
        identitySystem:
          description: Identity system of the device.
          enum:
          - AzureAD
          - ADFS
          type: string
          x-ms-enum:
            name: category
            modelAsString: true
          readOnly: true
    MarketplaceProductLogUpdate:
      description: Update details for product log.
      properties:
        operation:
          description: Operation to log.
          type: string
          readOnly: true
        status:
          description: Operation status to log.
          type: string
          readOnly: true
        error:
          description: Error related to the operation.
          type: string
          readOnly: true
        details:
          description: Error details related to operation.
          type: string
          readOnly: true
    ProductLog:
      description: Product action log.
      properties:
        id:
          description: Log ID.
          type: string
          readOnly: true
        productId:
          description: Logged product ID.
          type: string
          readOnly: true
        subscriptionId:
          description: Logged subscription ID.
          type: string
          readOnly: true
        registrationName:
          description: Logged registration name.
          type: string
          readOnly: true
[...]
