openapi: 3.0.0
info:
  version: 2022-06-01
  title: Azure Stack Azure Bridge Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations:
    get:
      tags:
      - Registrations
      description: Returns a list of all registrations.
      operationId: Registrations_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of registrations.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of Registrations
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                          enum:
                          - global
                          x-ms-enum:
                            name: Location
                            modelAsString: true
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          description: Custom tags for the resource.
                          type: object
                          additionalProperties:
                            type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Registration resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            objectId:
                              description: The object identifier associated with the
                                Azure Stack connecting to Azure.
                              type: string
                            cloudId:
                              description: The identifier of the registered Azure
                                Stack.
                              type: string
                            billingModel:
                              description: Specifies the billing mode for the Azure
                                Stack registration.
                              type: string
                      required:
                      - location
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureStack/registrations:
    get:
      tags:
      - Registrations
      description: Returns a list of all registrations under current subscription.
      operationId: Registrations_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of registrations.
                type: object
                properties:
                  nextLink:
                    description: URI to the next page.
                    type: string
                  value:
                    description: List of Registrations
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                          enum:
                          - global
                          x-ms-enum:
                            name: Location
                            modelAsString: true
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          description: Custom tags for the resource.
                          type: object
                          additionalProperties:
                            type: string
                        etag:
                          description: The entity tag used for optimistic concurrency
                            when modifying the resource.
                          type: string
                        properties:
                          description: Registration resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            objectId:
                              description: The object identifier associated with the
                                Azure Stack connecting to Azure.
                              type: string
                            cloudId:
                              description: The identifier of the registered Azure
                                Stack.
                              type: string
                            billingModel:
                              description: Specifies the billing mode for the Azure
                                Stack registration.
                              type: string
                      required:
                      - location
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}
  : get:
      tags:
      - Registrations
      description: Returns the properties of an Azure Stack registration.
      operationId: Registrations_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                    enum:
                    - global
                    x-ms-enum:
                      name: Location
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    description: Custom tags for the resource.
                    type: object
                    additionalProperties:
                      type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Registration resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        description: The object identifier associated with the Azure
                          Stack connecting to Azure.
                        type: string
                      cloudId:
                        description: The identifier of the registered Azure Stack.
                        type: string
                      billingModel:
                        description: Specifies the billing mode for the Azure Stack
                          registration.
                        type: string
                required:
                - location
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    delete:
      tags:
      - Registrations
      description: Delete the requested Azure Stack registration.
      operationId: Registrations_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
        '204':
          description: NO CONTENT
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    put:
      tags:
      - Registrations
      description: Create or update an Azure Stack registration.
      operationId: Registrations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Registration resource
              type: object
              properties:
                properties:
                  description: Properties of the Azure Stack registration resource
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    registrationToken:
                      description: The token identifying registered Azure Stack
                      type: string
                  required:
                  - registrationToken
                location:
                  description: Location of the resource.
                  type: string
                  enum:
                  - global
                  x-ms-enum:
                    name: Location
                    modelAsString: true
                  x-ms-mutability:
                  - create
                  - read
              required:
              - properties
              - location
        description: Registration token
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                    enum:
                    - global
                    x-ms-enum:
                      name: Location
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    description: Custom tags for the resource.
                    type: object
                    additionalProperties:
                      type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Registration resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        description: The object identifier associated with the Azure
                          Stack connecting to Azure.
                        type: string
                      cloudId:
                        description: The identifier of the registered Azure Stack.
                        type: string
                      billingModel:
                        description: Specifies the billing mode for the Azure Stack
                          registration.
                        type: string
                required:
                - location
                description: Base resource object.
                x-ms-azure-resource: true
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                    enum:
                    - global
                    x-ms-enum:
                      name: Location
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    description: Custom tags for the resource.
                    type: object
                    additionalProperties:
                      type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Registration resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        description: The object identifier associated with the Azure
                          Stack connecting to Azure.
                        type: string
                      cloudId:
                        description: The identifier of the registered Azure Stack.
                        type: string
                      billingModel:
                        description: Specifies the billing mode for the Azure Stack
                          registration.
                        type: string
                required:
                - location
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    patch:
      tags:
      - Registrations
      description: Patch an Azure Stack registration.
      operationId: Registrations_Update
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      requestBody:
        content:
          application/json:
            schema:
              description: Registration resource
              type: object
              properties:
                properties:
                  description: Properties of the Azure Stack registration resource
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    registrationToken:
                      description: The token identifying registered Azure Stack
                      type: string
                  required:
                  - registrationToken
                location:
                  description: Location of the resource.
                  type: string
                  enum:
                  - global
                  x-ms-enum:
                    name: Location
                    modelAsString: true
                  x-ms-mutability:
                  - create
                  - read
              required:
              - properties
              - location
        description: Registration token
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                    enum:
                    - global
                    x-ms-enum:
                      name: Location
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    description: Custom tags for the resource.
                    type: object
                    additionalProperties:
                      type: string
                  etag:
                    description: The entity tag used for optimistic concurrency when
                      modifying the resource.
                    type: string
                  properties:
                    description: Registration resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        description: The object identifier associated with the Azure
                          Stack connecting to Azure.
                        type: string
                      cloudId:
                        description: The identifier of the registered Azure Stack.
                        type: string
                      billingModel:
                        description: Specifies the billing mode for the Azure Stack
                          registration.
                        type: string
                required:
                - location
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey
  : post:
      tags:
      - Registrations
      description: Returns Azure Stack Activation Key.
      operationId: Registrations_GetActivationKey
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2017-06-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The resource containing the Azure Stack activation key.
                type: object
                properties:
                  activationKey:
                    description: Azure Stack activation key.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/enableRemoteManagement
  : post:
      tags:
      - Registrations
      description: Enables remote management for device under the Azure Stack registration.
      operationId: Registrations_EnableRemoteManagement
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Azure Stack registration.
        name: registrationName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: Name of the resource group.
      name: resourceGroup
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2017-06-01
    RegistrationNameParameter:
      description: Name of the Azure Stack registration.
      name: registrationName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    Registrations_CreateOrUpdateToken:
      content:
        application/json:
          schema:
            description: Registration resource
            type: object
            properties:
              properties:
                description: Properties of the Azure Stack registration resource
                x-ms-client-flatten: true
                type: object
                properties:
                  registrationToken:
                    description: The token identifying registered Azure Stack
                    type: string
                required:
                - registrationToken
              location:
                description: Location of the resource.
                type: string
                enum:
                - global
                x-ms-enum:
                  name: Location
                  modelAsString: true
                x-ms-mutability:
                - create
                - read
            required:
            - properties
            - location
      description: Registration token
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Registration:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
          enum:
          - global
          x-ms-enum:
            name: Location
            modelAsString: true
          x-ms-mutability:
          - create
          - read
        tags:
          description: Custom tags for the resource.
          type: object
          additionalProperties:
            type: string
        etag:
          description: The entity tag used for optimistic concurrency when modifying
            the resource.
          type: string
        properties:
          description: Registration resource.
          x-ms-client-flatten: true
          type: object
          properties:
            objectId:
              description: The object identifier associated with the Azure Stack connecting
                to Azure.
              type: string
            cloudId:
              description: The identifier of the registered Azure Stack.
              type: string
            billingModel:
              description: Specifies the billing mode for the Azure Stack registration.
              type: string
      required:
      - location
      description: Base resource object.
      x-ms-azure-resource: true
    RegistrationProperties:
      description: Properties portion of the registration resource.
      type: object
      properties:
        objectId:
          description: The object identifier associated with the Azure Stack connecting
            to Azure.
          type: string
        cloudId:
          description: The identifier of the registered Azure Stack.
          type: string
        billingModel:
          description: Specifies the billing mode for the Azure Stack registration.
          type: string
    RegistrationList:
      description: Pageable list of registrations.
      type: object
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of Registrations
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
                enum:
                - global
                x-ms-enum:
                  name: Location
                  modelAsString: true
                x-ms-mutability:
                - create
                - read
              tags:
                description: Custom tags for the resource.
                type: object
                additionalProperties:
                  type: string
              etag:
                description: The entity tag used for optimistic concurrency when modifying
                  the resource.
                type: string
              properties:
                description: Registration resource.
                x-ms-client-flatten: true
                type: object
                properties:
                  objectId:
                    description: The object identifier associated with the Azure Stack
                      connecting to Azure.
                    type: string
                  cloudId:
                    description: The identifier of the registered Azure Stack.
                    type: string
                  billingModel:
                    description: Specifies the billing mode for the Azure Stack registration.
                    type: string
            required:
            - location
            description: Base resource object.
            x-ms-azure-resource: true
    ActivationKeyResult:
      description: The resource containing the Azure Stack activation key.
      type: object
      properties:
        activationKey:
          description: Azure Stack activation key.
          type: string
    RegistrationParameter:
      description: Registration resource
      type: object
      properties:
        properties:
          description: Properties of the Azure Stack registration resource
          x-ms-client-flatten: true
          type: object
          properties:
            registrationToken:
              description: The token identifying registered Azure Stack
              type: string
          required:
          - registrationToken
        location:
          description: Location of the resource.
          type: string
          enum:
          - global
          x-ms-enum:
            name: Location
            modelAsString: true
          x-ms-mutability:
          - create
          - read
      required:
      - properties
      - location
    RegistrationParameterProperties:
      description: Properties of the Azure Stack registration resource
      type: object
      properties:
        registrationToken:
          description: The token identifying registered Azure Stack
          type: string
      required:
      - registrationToken
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
            target:
              description: The target of the particular error.
              type: string
              readOnly: true
    TrackedResource:
      description: Base resource object.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
          enum:
          - global
          x-ms-enum:
            name: Location
            modelAsString: true
          x-ms-mutability:
          - create
          - read
        tags:
          description: Custom tags for the resource.
          type: object
          additionalProperties:
            type: string
        etag:
          description: The entity tag used for optimistic concurrency when modifying
            the resource.
          type: string
      required:
      - location
      x-ms-azure-resource: true
