openapi: 3.0.0
info:
  version: 2023-04-06
  title: bareMetalInfrastructureClient
  description: The BareMetalInfrastructure Management client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.BareMetalInfrastructure/bareMetalInstances:
    get:
      tags:
      - BareMetalInfrastructure
      operationId: AzureBareMetalInstances_ListBySubscription
      summary: Gets a list of Azure BareMetal instances in the specified subscription.
      description: Gets a list of AzureBareMetal instances in the specified subscription.
        The operations returns various properties of each Azure BareMetal instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: AzureBareMetal instance properties
                          properties:
                            hardwareProfile:
                              description: Specifies the hardware settings for the
                                AzureBareMetal instance.
                              properties:
                                hardwareType:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Cisco_UCS
                                  - HPE
                                  x-ms-enum:
                                    name: AzureBareMetalHardwareTypeNamesEnum
                                    modelAsString: true
                                  description: Name of the hardware type (vendor and/or
                                    their product name)
                                azureBareMetalInstanceSize:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - S72m
                                  - S144m
                                  - S72
                                  - S144
                                  - S192
                                  - S192m
                                  - S192xm
                                  - S96
                                  - S112
                                  - S224
                                  - S224m
                                  - S224om
                                  - S224oo
                                  - S224oom
                                  - S224ooo
                                  - S384
                                  - S384m
                                  - S384xm
                                  - S384xxm
                                  - S448
                                  - S448m
                                  - S448om
                                  - S448oo
                                  - S448oom
                                  - S448ooo
                                  - S576m
                                  - S576xm
                                  - S672
                                  - S672m
                                  - S672om
                                  - S672oo
                                  - S672oom
                                  - S672ooo
                                  - S768
                                  - S768m
                                  - S768xm
                                  - S896
                                  - S896m
                                  - S896om
                                  - S896oo
                                  - S896oom
                                  - S896ooo
                                  - S960m
                                  x-ms-enum:
                                    name: azureBareMetalInstanceSizeNamesEnum
                                    modelAsString: true
                                  description: Specifies the AzureBareMetal instance
                                    SKU.
                            storageProfile:
                              description: Specifies the storage settings for the
                                AzureBareMetal instance disks.
                              properties:
                                nfsIpAddress:
                                  readOnly: true
                                  type: string
                                  description: IP Address to connect to storage.
                                osDisks:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: The disk name.
                                      diskSizeGB:
                                        type: integer
                                        format: int32
                                        description: Specifies the size of an empty
                                          data disk in gigabytes.
                                      lun:
                                        readOnly: true
                                        type: integer
                                        format: int32
                                        description: Specifies the logical unit number
                                          of the data disk. This value is used to
                                          identify data disks within the VM and therefore
                                          must be unique for each data disk attached
                                          to a VM.
                                    description: Specifies the disk information fo
                                      the AzureBareMetal instance
                                  x-ms-identifiers:
                                  - name
                                  description: Specifies information about the operating
                                    system disk used by baremetal instance.
                            osProfile:
                              description: Specifies the operating system settings
                                for the AzureBareMetal instance.
                              properties:
                                computerName:
                                  type: string
                                  description: Specifies the host OS name of the AzureBareMetal
                                    instance.
                                osType:
                                  readOnly: true
                                  type: string
                                  description: This property allows you to specify
                                    the type of the OS.
                                version:
                                  readOnly: true
                                  type: string
                                  description: Specifies version of operating system.
                                sshPublicKey:
                                  type: string
                                  description: Specifies the SSH public key used to
                                    access the operating system.
                            networkProfile:
                              description: Specifies the network settings for the
                                AzureBareMetal instance.
                              properties:
                                networkInterfaces:
                                  type: array
                                  items:
                                    properties:
                                      ipAddress:
                                        type: string
                                        description: Specifies the IP address of the
                                          network interface.
                                    description: Specifies the IP address of the network
                                      interface.
                                  x-ms-identifiers:
                                  - ipAddress
                                  description: Specifies the network interfaces for
                                    the AzureBareMetal instance.
                                circuitId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the circuit id for connecting
                                    to express route.
                            azureBareMetalInstanceId:
                              readOnly: true
                              type: string
                              description: Specifies the AzureBareMetal instance unique
                                ID.
                            powerState:
                              readOnly: true
                              type: string
                              enum:
                              - starting
                              - started
                              - stopping
                              - stopped
                              - restarting
                              - unknown
                              x-ms-enum:
                                name: AzureBareMetalInstancePowerStateEnum
                                modelAsString: true
                              description: Resource power state
                            proximityPlacementGroup:
                              readOnly: true
                              type: string
                              description: Resource proximity placement group
                            hwRevision:
                              readOnly: true
                              type: string
                              description: Hardware revision of an AzureBareMetal
                                instance
                            partnerNodeId:
                              type: string
                              description: ARM ID of another AzureBareMetalInstance
                                that will share a network with this AzureBareMetalInstance
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              x-ms-enum:
                                name: AzureBareMetalProvisioningStatesEnum
                                modelAsString: true
                              description: State of provisioning of the AzureBareMetalInstance
                        systemData:
                          description: The system metadata relating to this resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Azure BareMetal instances.
                  nextLink:
                    type: string
                    description: The URL to get the next set of AzureBareMetal instances.
                description: The response from the List AzureBareMetal Instances operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/bareMetalInstances
  : get:
      operationId: AzureBareMetalInstances_ListByResourceGroup
      summary: Gets a list of Azure BareMetal instances in the specified subscription
        and resource group.
      description: Gets a list of AzureBareMetal instances in the specified subscription
        and resource group. The operations returns various properties of each Azure
        BareMetal instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: AzureBareMetal instance properties
                          properties:
                            hardwareProfile:
                              description: Specifies the hardware settings for the
                                AzureBareMetal instance.
                              properties:
                                hardwareType:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Cisco_UCS
                                  - HPE
                                  x-ms-enum:
                                    name: AzureBareMetalHardwareTypeNamesEnum
                                    modelAsString: true
                                  description: Name of the hardware type (vendor and/or
                                    their product name)
                                azureBareMetalInstanceSize:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - S72m
                                  - S144m
                                  - S72
                                  - S144
                                  - S192
                                  - S192m
                                  - S192xm
                                  - S96
                                  - S112
                                  - S224
                                  - S224m
                                  - S224om
                                  - S224oo
                                  - S224oom
                                  - S224ooo
                                  - S384
                                  - S384m
                                  - S384xm
                                  - S384xxm
                                  - S448
                                  - S448m
                                  - S448om
                                  - S448oo
                                  - S448oom
                                  - S448ooo
                                  - S576m
                                  - S576xm
                                  - S672
                                  - S672m
                                  - S672om
                                  - S672oo
                                  - S672oom
                                  - S672ooo
                                  - S768
                                  - S768m
                                  - S768xm
                                  - S896
                                  - S896m
                                  - S896om
                                  - S896oo
                                  - S896oom
                                  - S896ooo
                                  - S960m
                                  x-ms-enum:
                                    name: azureBareMetalInstanceSizeNamesEnum
                                    modelAsString: true
                                  description: Specifies the AzureBareMetal instance
                                    SKU.
                            storageProfile:
                              description: Specifies the storage settings for the
                                AzureBareMetal instance disks.
                              properties:
                                nfsIpAddress:
                                  readOnly: true
                                  type: string
                                  description: IP Address to connect to storage.
                                osDisks:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: The disk name.
                                      diskSizeGB:
                                        type: integer
                                        format: int32
                                        description: Specifies the size of an empty
                                          data disk in gigabytes.
                                      lun:
                                        readOnly: true
                                        type: integer
                                        format: int32
                                        description: Specifies the logical unit number
                                          of the data disk. This value is used to
                                          identify data disks within the VM and therefore
                                          must be unique for each data disk attached
                                          to a VM.
                                    description: Specifies the disk information fo
                                      the AzureBareMetal instance
                                  x-ms-identifiers:
                                  - name
                                  description: Specifies information about the operating
                                    system disk used by baremetal instance.
                            osProfile:
                              description: Specifies the operating system settings
                                for the AzureBareMetal instance.
                              properties:
                                computerName:
                                  type: string
                                  description: Specifies the host OS name of the AzureBareMetal
                                    instance.
                                osType:
                                  readOnly: true
                                  type: string
                                  description: This property allows you to specify
                                    the type of the OS.
                                version:
                                  readOnly: true
                                  type: string
                                  description: Specifies version of operating system.
                                sshPublicKey:
                                  type: string
                                  description: Specifies the SSH public key used to
                                    access the operating system.
                            networkProfile:
                              description: Specifies the network settings for the
                                AzureBareMetal instance.
                              properties:
                                networkInterfaces:
                                  type: array
                                  items:
                                    properties:
                                      ipAddress:
                                        type: string
                                        description: Specifies the IP address of the
                                          network interface.
                                    description: Specifies the IP address of the network
                                      interface.
                                  x-ms-identifiers:
                                  - ipAddress
                                  description: Specifies the network interfaces for
                                    the AzureBareMetal instance.
                                circuitId:
                                  readOnly: true
                                  type: string
                                  description: Specifies the circuit id for connecting
                                    to express route.
                            azureBareMetalInstanceId:
                              readOnly: true
                              type: string
                              description: Specifies the AzureBareMetal instance unique
                                ID.
                            powerState:
                              readOnly: true
                              type: string
                              enum:
                              - starting
                              - started
                              - stopping
                              - stopped
                              - restarting
                              - unknown
                              x-ms-enum:
                                name: AzureBareMetalInstancePowerStateEnum
                                modelAsString: true
                              description: Resource power state
                            proximityPlacementGroup:
                              readOnly: true
                              type: string
                              description: Resource proximity placement group
                            hwRevision:
                              readOnly: true
                              type: string
                              description: Hardware revision of an AzureBareMetal
                                instance
                            partnerNodeId:
                              type: string
                              description: ARM ID of another AzureBareMetalInstance
                                that will share a network with this AzureBareMetalInstance
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              x-ms-enum:
                                name: AzureBareMetalProvisioningStatesEnum
                                modelAsString: true
                              description: State of provisioning of the AzureBareMetalInstance
                        systemData:
                          description: The system metadata relating to this resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Azure BareMetal instances.
                  nextLink:
                    type: string
                    description: The URL to get the next set of AzureBareMetal instances.
                description: The response from the List AzureBareMetal Instances operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.BareMetalInfrastructure/operations:
    get:
      tags:
      - AzureBareMetal
      operationId: Operations_List
      description: Gets a list of AzureBareMetal management operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: The name of the operation being performed on
                            this particular object. This name should match the action
                            name that appears in RBAC / the event service.
                        display:
                          description: Displayed AzureBareMetal operation information
                          type: object
                          properties:
                            provider:
                              readOnly: true
                              type: string
                              description: The localized friendly form of the resource
                                provider name.
                            resource:
                              readOnly: true
                              type: string
                              description: The localized friendly form of the resource
                                type related to this action/operation.
                            operation:
                              readOnly: true
                              type: string
                              description: The localized friendly name for the operation
                                as shown to the user.
                            description:
                              readOnly: true
                              type: string
                              description: The localized friendly description for
                                the operation as shown to the user.
                        isDataAction:
                          readOnly: true
                          description: indicates whether an operation is a data action
                            or not.
                          type: boolean
                      description: AzureBareMetal operation information
                    x-ms-identifiers:
                    - name
                    description: List of AzureBareMetal operations
                description: List of AzureBareMetal operations
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/bareMetalInstances/{azureBareMetalInstanceName}
  : get:
      tags:
      - BareMetalInfrastructure
      operationId: AzureBareMetalInstances_Get
      summary: Gets an Azure BareMetal instance.
      description: Gets an Azure BareMetal instance for the specified subscription,
        resource group, and instance name.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: azureBareMetalInstanceName
        in: path
        required: true
        description: Name of the Azure BareMetal on Azure instance.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: AzureBareMetal instance properties
                    properties:
                      hardwareProfile:
                        description: Specifies the hardware settings for the AzureBareMetal
                          instance.
                        properties:
                          hardwareType:
                            readOnly: true
                            type: string
                            enum:
                            - Cisco_UCS
                            - HPE
                            x-ms-enum:
                              name: AzureBareMetalHardwareTypeNamesEnum
                              modelAsString: true
                            description: Name of the hardware type (vendor and/or
                              their product name)
                          azureBareMetalInstanceSize:
                            readOnly: true
                            type: string
                            enum:
                            - S72m
                            - S144m
                            - S72
                            - S144
                            - S192
                            - S192m
                            - S192xm
                            - S96
                            - S112
                            - S224
                            - S224m
                            - S224om
                            - S224oo
                            - S224oom
                            - S224ooo
                            - S384
                            - S384m
                            - S384xm
                            - S384xxm
                            - S448
                            - S448m
                            - S448om
                            - S448oo
                            - S448oom
                            - S448ooo
                            - S576m
                            - S576xm
                            - S672
                            - S672m
                            - S672om
                            - S672oo
                            - S672oom
                            - S672ooo
                            - S768
                            - S768m
                            - S768xm
                            - S896
                            - S896m
                            - S896om
                            - S896oo
                            - S896oom
                            - S896ooo
                            - S960m
                            x-ms-enum:
                              name: azureBareMetalInstanceSizeNamesEnum
                              modelAsString: true
                            description: Specifies the AzureBareMetal instance SKU.
                      storageProfile:
                        description: Specifies the storage settings for the AzureBareMetal
                          instance disks.
                        properties:
                          nfsIpAddress:
                            readOnly: true
                            type: string
                            description: IP Address to connect to storage.
                          osDisks:
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  description: The disk name.
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of an empty data
                                    disk in gigabytes.
                                lun:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Specifies the disk information fo the AzureBareMetal
                                instance
                            x-ms-identifiers:
                            - name
                            description: Specifies information about the operating
                              system disk used by baremetal instance.
                      osProfile:
                        description: Specifies the operating system settings for the
                          AzureBareMetal instance.
                        properties:
                          computerName:
                            type: string
                            description: Specifies the host OS name of the AzureBareMetal
                              instance.
                          osType:
                            readOnly: true
                            type: string
                            description: This property allows you to specify the type
                              of the OS.
                          version:
                            readOnly: true
                            type: string
                            description: Specifies version of operating system.
                          sshPublicKey:
                            type: string
                            description: Specifies the SSH public key used to access
                              the operating system.
                      networkProfile:
                        description: Specifies the network settings for the AzureBareMetal
                          instance.
                        properties:
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                ipAddress:
                                  type: string
                                  description: Specifies the IP address of the network
                                    interface.
                              description: Specifies the IP address of the network
                                interface.
                            x-ms-identifiers:
                            - ipAddress
                            description: Specifies the network interfaces for the
                              AzureBareMetal instance.
                          circuitId:
                            readOnly: true
                            type: string
                            description: Specifies the circuit id for connecting to
                              express route.
                      azureBareMetalInstanceId:
                        readOnly: true
                        type: string
                        description: Specifies the AzureBareMetal instance unique
                          ID.
                      powerState:
                        readOnly: true
                        type: string
                        enum:
                        - starting
                        - started
                        - stopping
                        - stopped
                        - restarting
                        - unknown
                        x-ms-enum:
                          name: AzureBareMetalInstancePowerStateEnum
                          modelAsString: true
                        description: Resource power state
                      proximityPlacementGroup:
                        readOnly: true
                        type: string
                        description: Resource proximity placement group
                      hwRevision:
                        readOnly: true
                        type: string
                        description: Hardware revision of an AzureBareMetal instance
                      partnerNodeId:
                        type: string
                        description: ARM ID of another AzureBareMetalInstance that
                          will share a network with this AzureBareMetalInstance
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: AzureBareMetalProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the AzureBareMetalInstance
                  systemData:
                    description: The system metadata relating to this resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - BareMetalInfrastructure
      operationId: AzureBareMetalInstances_Update
      summary: Patches the Tags field of a Azure BareMetal instance.
      description: Patches the Tags field of a Azure BareMetal instance for the specified
        subscription, resource group, and instance name.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: azureBareMetalInstanceName
        in: path
        required: true
        description: Name of the Azure BareMetal on Azure instance.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Tags field of the AzureBareMetal/AzureBareMetaStorage
                    instance.
              description: Tags field of the AzureBareMetal/AzureBareMetaStorage instance.
        description: Request body that only contains the new Tags field
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: AzureBareMetal instance properties
                    properties:
                      hardwareProfile:
                        description: Specifies the hardware settings for the AzureBareMetal
                          instance.
                        properties:
                          hardwareType:
                            readOnly: true
                            type: string
                            enum:
                            - Cisco_UCS
                            - HPE
                            x-ms-enum:
                              name: AzureBareMetalHardwareTypeNamesEnum
                              modelAsString: true
                            description: Name of the hardware type (vendor and/or
                              their product name)
                          azureBareMetalInstanceSize:
                            readOnly: true
                            type: string
                            enum:
                            - S72m
                            - S144m
                            - S72
                            - S144
                            - S192
                            - S192m
                            - S192xm
                            - S96
                            - S112
                            - S224
                            - S224m
                            - S224om
                            - S224oo
                            - S224oom
                            - S224ooo
                            - S384
                            - S384m
                            - S384xm
                            - S384xxm
                            - S448
                            - S448m
                            - S448om
                            - S448oo
                            - S448oom
                            - S448ooo
                            - S576m
                            - S576xm
                            - S672
                            - S672m
                            - S672om
                            - S672oo
                            - S672oom
                            - S672ooo
                            - S768
                            - S768m
                            - S768xm
                            - S896
                            - S896m
                            - S896om
                            - S896oo
                            - S896oom
                            - S896ooo
                            - S960m
                            x-ms-enum:
                              name: azureBareMetalInstanceSizeNamesEnum
                              modelAsString: true
                            description: Specifies the AzureBareMetal instance SKU.
                      storageProfile:
                        description: Specifies the storage settings for the AzureBareMetal
                          instance disks.
                        properties:
                          nfsIpAddress:
                            readOnly: true
                            type: string
                            description: IP Address to connect to storage.
                          osDisks:
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  description: The disk name.
                                diskSizeGB:
                                  type: integer
                                  format: int32
                                  description: Specifies the size of an empty data
                                    disk in gigabytes.
                                lun:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  description: Specifies the logical unit number of
                                    the data disk. This value is used to identify
                                    data disks within the VM and therefore must be
                                    unique for each data disk attached to a VM.
                              description: Specifies the disk information fo the AzureBareMetal
                                instance
                            x-ms-identifiers:
                            - name
                            description: Specifies information about the operating
                              system disk used by baremetal instance.
                      osProfile:
                        description: Specifies the operating system settings for the
                          AzureBareMetal instance.
                        properties:
                          computerName:
                            type: string
                            description: Specifies the host OS name of the AzureBareMetal
                              instance.
                          osType:
                            readOnly: true
                            type: string
                            description: This property allows you to specify the type
                              of the OS.
                          version:
                            readOnly: true
                            type: string
                            description: Specifies version of operating system.
                          sshPublicKey:
                            type: string
                            description: Specifies the SSH public key used to access
                              the operating system.
                      networkProfile:
                        description: Specifies the network settings for the AzureBareMetal
                          instance.
                        properties:
                          networkInterfaces:
                            type: array
                            items:
                              properties:
                                ipAddress:
                                  type: string
                                  description: Specifies the IP address of the network
                                    interface.
                              description: Specifies the IP address of the network
                                interface.
                            x-ms-identifiers:
                            - ipAddress
                            description: Specifies the network interfaces for the
                              AzureBareMetal instance.
                          circuitId:
                            readOnly: true
                            type: string
                            description: Specifies the circuit id for connecting to
                              express route.
                      azureBareMetalInstanceId:
                        readOnly: true
                        type: string
                        description: Specifies the AzureBareMetal instance unique
                          ID.
                      powerState:
                        readOnly: true
                        type: string
                        enum:
                        - starting
                        - started
                        - stopping
                        - stopped
                        - restarting
                        - unknown
                        x-ms-enum:
                          name: AzureBareMetalInstancePowerStateEnum
                          modelAsString: true
                        description: Resource power state
                      proximityPlacementGroup:
                        readOnly: true
                        type: string
                        description: Resource proximity placement group
                      hwRevision:
                        readOnly: true
                        type: string
                        description: Hardware revision of an AzureBareMetal instance
                      partnerNodeId:
                        type: string
                        description: ARM ID of another AzureBareMetalInstance that
                          will share a network with this AzureBareMetalInstance
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: AzureBareMetalProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the AzureBareMetalInstance
                  systemData:
                    description: The system metadata relating to this resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.BareMetalInfrastructure/bareMetalStorageInstances:
    get:
      tags:
      - BareMetalInfrastructure
      operationId: AzureBareMetalStorageInstances_ListBySubscription
      summary: Gets a list of Azure BareMetalStorage instances in the specified subscription.
      description: Gets a list of AzureBareMetalStorage instances in the specified
        subscription. The operations returns various properties of each Azure BareMetal
        instance.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: AzureBareMetalStorageInstance properties
                          type: object
                          properties:
                            azureBareMetalStorageInstanceUniqueIdentifier:
                              type: string
                              description: Specifies the AzureBareMetaStorageInstance
                                unique ID.
                            storageProperties:
                              description: Specifies the storage properties for the
                                AzureBareMetalStorage instance.
                              type: object
                              properties:
                                provisioningState:
                                  type: string
                                  enum:
                                  - Accepted
                                  - Creating
                                  - Updating
                                  - Failed
                                  - Succeeded
                                  - Deleting
                                  - Canceled
                                  - Migrating
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                  description: State of provisioning of the AzureBareMetalStorageInstance
                                offeringType:
                                  type: string
                                  description: the offering type for which the resource
                                    is getting provisioned
                                storageType:
                                  type: string
                                  description: the storage protocol for which the
                                    resource is getting provisioned
                                generation:
                                  type: string
                                  description: the kind of storage instance
                                hardwareType:
                                  type: string
                                  description: the hardware type of the storage instance
                                workloadType:
                                  type: string
                                  description: the workload for which the resource
                                    is getting provisioned
                                storageBillingProperties:
                                  description: the billing related information for
                                    the resource
                                  type: object
                                  properties:
                                    billingMode:
                                      type: string
                                      description: the billing mode for the storage
                                        instance
                                    azureBareMetalStorageInstanceSize:
                                      type: string
                                      description: the SKU type that is provisioned
                        systemData:
                          description: The system metadata relating to this resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of AzureBareMetalStorage instances.
                    x-ms-identifiers: []
                  nextLink:
                    type: string
                    description: The URL to get the next set of AzureBareMetalStorage
                      instances.
                description: The response from the Get AzureBareMetalStorageInstances
                  operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
[...]
