openapi: 3.0.0
info:
  title: Test Base
  description: Restful APIs for Test Base Action Requests.
  version: 2023-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests/{actionRequestName}
  : get:
      tags:
      - Test Base Action Requests
      operationId: ActionRequests_Get
      description: Get the action request under the specified test base account.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: actionRequestName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      responses:
        '200':
          description: Succeeded to get the action request under the specified test
            base account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base Draft Package properties.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      requestType:
                        type: string
                        enum:
                        - PreReleaseAccess
                        x-ms-enum:
                          name: requestTypes
                          modelAsString: true
                      preReleaseAccessRequestSpec:
                        type: object
                        properties:
                          organizationName:
                            type: string
                          email:
                            type: string
                          engagements:
                            type: array
                            items:
                              type: string
                              enum:
                              - MVI
                              - MVP
                              - SUVP
                              - MAPP
                              - Other
                              x-ms-enum:
                                name: engagements
                                modelAsString: true
                          streetAddress:
                            type: string
                          city:
                            type: string
                          stateOrProvince:
                            type: string
                          zipCode:
                            type: string
                          countryAndRegion:
                            type: string
                          companyWebsite:
                            type: string
                      creationDate:
                        type: string
                        format: date-time
                        readOnly: true
                      status:
                        type: string
                        enum:
                        - InReview
                        - Approved
                        - Declined
                        x-ms-enum:
                          name: requestStatus
                          modelAsString: true
                        readOnly: true
                    required:
                    - requestType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Test Base Action Requests
      operationId: ActionRequests_Put
      description: Create (submit) an action request.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: actionRequestName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: Test Base Draft Package properties.
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Cancelled
                      - Creating
                      - Deleting
                      - Updating
                      readOnly: true
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                    requestType:
                      type: string
                      enum:
                      - PreReleaseAccess
                      x-ms-enum:
                        name: requestTypes
                        modelAsString: true
                    preReleaseAccessRequestSpec:
                      type: object
                      properties:
                        organizationName:
                          type: string
                        email:
                          type: string
                        engagements:
                          type: array
                          items:
                            type: string
                            enum:
                            - MVI
                            - MVP
                            - SUVP
                            - MAPP
                            - Other
                            x-ms-enum:
                              name: engagements
                              modelAsString: true
                        streetAddress:
                          type: string
                        city:
                          type: string
                        stateOrProvince:
                          type: string
                        zipCode:
                          type: string
                        countryAndRegion:
                          type: string
                        companyWebsite:
                          type: string
                    creationDate:
                      type: string
                      format: date-time
                      readOnly: true
                    status:
                      type: string
                      enum:
                      - InReview
                      - Approved
                      - Declined
                      x-ms-enum:
                        name: requestStatus
                        modelAsString: true
                      readOnly: true
                  required:
                  - requestType
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
      responses:
        '200':
          description: Succeeded to update an action request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base Draft Package properties.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      requestType:
                        type: string
                        enum:
                        - PreReleaseAccess
                        x-ms-enum:
                          name: requestTypes
                          modelAsString: true
                      preReleaseAccessRequestSpec:
                        type: object
                        properties:
                          organizationName:
                            type: string
                          email:
                            type: string
                          engagements:
                            type: array
                            items:
                              type: string
                              enum:
                              - MVI
                              - MVP
                              - SUVP
                              - MAPP
                              - Other
                              x-ms-enum:
                                name: engagements
                                modelAsString: true
                          streetAddress:
                            type: string
                          city:
                            type: string
                          stateOrProvince:
                            type: string
                          zipCode:
                            type: string
                          countryAndRegion:
                            type: string
                          companyWebsite:
                            type: string
                      creationDate:
                        type: string
                        format: date-time
                        readOnly: true
                      status:
                        type: string
                        enum:
                        - InReview
                        - Approved
                        - Declined
                        x-ms-enum:
                          name: requestStatus
                          modelAsString: true
                        readOnly: true
                    required:
                    - requestType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Succeeded to create (submit) an action request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base Draft Package properties.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      requestType:
                        type: string
                        enum:
                        - PreReleaseAccess
                        x-ms-enum:
                          name: requestTypes
                          modelAsString: true
                      preReleaseAccessRequestSpec:
                        type: object
                        properties:
                          organizationName:
                            type: string
                          email:
                            type: string
                          engagements:
                            type: array
                            items:
                              type: string
                              enum:
                              - MVI
                              - MVP
                              - SUVP
                              - MAPP
                              - Other
                              x-ms-enum:
                                name: engagements
                                modelAsString: true
                          streetAddress:
                            type: string
                          city:
                            type: string
                          stateOrProvince:
                            type: string
                          zipCode:
                            type: string
                          countryAndRegion:
                            type: string
                          companyWebsite:
                            type: string
                      creationDate:
                        type: string
                        format: date-time
                        readOnly: true
                      status:
                        type: string
                        enum:
                        - InReview
                        - Approved
                        - Declined
                        x-ms-enum:
                          name: requestStatus
                          modelAsString: true
                        readOnly: true
                    required:
                    - requestType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Test Base Action Requests
      operationId: ActionRequests_Delete
      description: Delete (revoke) an action request. Only requests in review can
        be deleted.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: actionRequestName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Succeeded to delete the specified action request.
        '204':
          description: Succeeded to delete the specified action request.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests
  : get:
      tags:
      - Test Base Action Requests
      operationId: ActionRequests_List
      description: List all action requests under the specified test base account.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: requestType
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: top
        in: query
        required: false
        x-ms-parameter-location: method
        description: How many of the sorted items to consider including in the result
          set.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Succeeded to list all action requests under the specified test
            base account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Test Base Draft Package properties.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Cancelled
                              - Creating
                              - Deleting
                              - Updating
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            requestType:
                              type: string
                              enum:
                              - PreReleaseAccess
                              x-ms-enum:
                                name: requestTypes
                                modelAsString: true
                            preReleaseAccessRequestSpec:
                              type: object
                              properties:
                                organizationName:
                                  type: string
                                email:
                                  type: string
                                engagements:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - MVI
                                    - MVP
                                    - SUVP
                                    - MAPP
                                    - Other
                                    x-ms-enum:
                                      name: engagements
                                      modelAsString: true
                                streetAddress:
                                  type: string
                                city:
                                  type: string
                                stateOrProvince:
                                  type: string
                                zipCode:
                                  type: string
                                countryAndRegion:
                                  type: string
                                companyWebsite:
                                  type: string
                            creationDate:
                              type: string
                              format: date-time
                              readOnly: true
                            status:
                              type: string
                              enum:
                              - InReview
                              - Approved
                              - Declined
                              x-ms-enum:
                                name: requestStatus
                                modelAsString: true
                              readOnly: true
                          required:
                          - requestType
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ActionRequestName:
      name: actionRequestName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
    RequestTypeFilter:
      name: requestType
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    TestBaseAccountNameParameter:
      name: testBaseAccountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The resource name of the Test Base Account.
      schema:
        type: string
        pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    TopFilter:
      name: top
      in: query
      required: false
      x-ms-parameter-location: method
      description: How many of the sorted items to consider including in the result
        set.
      schema:
        type: integer
        format: int32
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ActionRequests:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: Test Base Draft Package properties.
                type: object
                properties:
                  provisioningState:
                    description: The provisioning state of the resource.
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - Cancelled
                    - Creating
                    - Deleting
                    - Updating
                    readOnly: true
                    x-ms-enum:
                      name: provisioningState
                      modelAsString: true
                  requestType:
                    type: string
                    enum:
                    - PreReleaseAccess
                    x-ms-enum:
                      name: requestTypes
                      modelAsString: true
                  preReleaseAccessRequestSpec:
                    type: object
                    properties:
                      organizationName:
                        type: string
                      email:
                        type: string
                      engagements:
                        type: array
                        items:
                          type: string
                          enum:
                          - MVI
                          - MVP
                          - SUVP
                          - MAPP
                          - Other
                          x-ms-enum:
                            name: engagements
                            modelAsString: true
                      streetAddress:
                        type: string
                      city:
                        type: string
                      stateOrProvince:
                        type: string
                      zipCode:
                        type: string
                      countryAndRegion:
                        type: string
                      companyWebsite:
                        type: string
                  creationDate:
                    type: string
                    format: date-time
                    readOnly: true
                  status:
                    type: string
                    enum:
                    - InReview
                    - Approved
                    - Declined
                    x-ms-enum:
                      name: requestStatus
                      modelAsString: true
                    readOnly: true
                required:
                - requestType
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if value contains
            incomplete list of results.
    ActionRequest:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: Test Base Draft Package properties.
          type: object
          properties:
            provisioningState:
              description: The provisioning state of the resource.
              type: string
              enum:
              - Succeeded
              - Failed
              - Cancelled
              - Creating
              - Deleting
              - Updating
              readOnly: true
              x-ms-enum:
                name: provisioningState
                modelAsString: true
            requestType:
              type: string
              enum:
              - PreReleaseAccess
              x-ms-enum:
                name: requestTypes
                modelAsString: true
            preReleaseAccessRequestSpec:
              type: object
              properties:
                organizationName:
                  type: string
                email:
                  type: string
                engagements:
                  type: array
                  items:
                    type: string
                    enum:
                    - MVI
                    - MVP
                    - SUVP
                    - MAPP
                    - Other
                    x-ms-enum:
                      name: engagements
                      modelAsString: true
                streetAddress:
                  type: string
                city:
                  type: string
                stateOrProvince:
                  type: string
                zipCode:
                  type: string
                countryAndRegion:
                  type: string
                companyWebsite:
                  type: string
            creationDate:
              type: string
              format: date-time
              readOnly: true
            status:
              type: string
              enum:
              - InReview
              - Approved
              - Declined
              x-ms-enum:
                name: requestStatus
                modelAsString: true
              readOnly: true
          required:
          - requestType
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ActionRequestProperties:
      type: object
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          type: string
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Creating
          - Deleting
          - Updating
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        requestType:
          type: string
          enum:
          - PreReleaseAccess
          x-ms-enum:
            name: requestTypes
            modelAsString: true
        preReleaseAccessRequestSpec:
          type: object
          properties:
            organizationName:
              type: string
            email:
              type: string
            engagements:
              type: array
              items:
                type: string
                enum:
                - MVI
                - MVP
                - SUVP
                - MAPP
                - Other
                x-ms-enum:
                  name: engagements
                  modelAsString: true
            streetAddress:
              type: string
            city:
              type: string
            stateOrProvince:
              type: string
            zipCode:
              type: string
            countryAndRegion:
              type: string
            companyWebsite:
              type: string
        creationDate:
          type: string
          format: date-time
          readOnly: true
        status:
          type: string
          enum:
          - InReview
          - Approved
          - Declined
          x-ms-enum:
            name: requestStatus
            modelAsString: true
          readOnly: true
      required:
      - requestType
    RequestTypes:
      type: string
      enum:
      - PreReleaseAccess
      x-ms-enum:
        name: requestTypes
        modelAsString: true
    PreReleaseAccessRequestSpec:
      type: object
      properties:
        organizationName:
          type: string
        email:
          type: string
        engagements:
          type: array
          items:
            type: string
            enum:
            - MVI
            - MVP
            - SUVP
            - MAPP
            - Other
            x-ms-enum:
              name: engagements
              modelAsString: true
        streetAddress:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
        zipCode:
          type: string
        countryAndRegion:
          type: string
        companyWebsite:
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      description: ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
      enum:
      - Succeeded
      - Failed
      - Cancelled
      - Creating
      - Deleting
      - Updating
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
