openapi: 3.0.0
info:
  title: Test Base
  description: Use these REST APIs for Test Base Custom Image controls.
  version: 2023-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/customImages
  : get:
      tags:
      - Test Base Custom Image
      operationId: CustomImages_ListByTestBaseAccount
      description: Lists all the custom images under a test base account.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                description: A list of Test Base custom images.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Test Base custom image properties.
                          type: object
                          properties:
                            vhdId:
                              type: string
                              description: The Id of the associated VHD resource.
                            definitionName:
                              type: string
                              description: Image definition name.
                            versionName:
                              type: string
                              description: Image version name.
                            source:
                              type: string
                              description: Custom image source type.
                              default: VHD
                              enum:
                              - Unknown
                              - VHD
                              x-ms-enum:
                                name: ImageSource
                                modelAsString: true
                                values:
                                - value: Unknown
                                  description: Unknown image source type.
                                - value: VHD
                                  description: Specify image onboarding through VHD.
                            product:
                              type: string
                              description: Product of the custom image.
                              readOnly: true
                            release:
                              type: string
                              description: Release of the custom image OS.
                              readOnly: true
                            status:
                              type: string
                              description: Status of the custom image.
                              readOnly: true
                              enum:
                              - Unknown
                              - Ready
                              - Failed
                              - Validating
                              x-ms-enum:
                                name: ImageStatus
                                modelAsString: true
                                values:
                                - value: Unknown
                                  description: Unknown image status.
                                - value: Ready
                                  description: Completed validation and is ready for
                                    use.
                                - value: Failed
                                  description: Failed to onboard or pass validation.
                                - value: Validating
                                  description: Succeed to onboard but is in validation
                                    process.
                            creationTime:
                              type: string
                              format: date-time
                              description: The UTC timestamp when the custom image
                                was published.
                              readOnly: true
                            validationResults:
                              description: The validation result of the custom image.
                              readOnly: true
                              type: object
                              properties:
                                results:
                                  type: array
                                  items:
                                    description: The detailed result of a validation
                                      or rule checking.
                                    type: object
                                    properties:
                                      verificationName:
                                        type: string
                                        description: The name of the verification
                                          rule.
                                      result:
                                        type: string
                                        enum:
                                        - Passed
                                        - Failed
                                        description: Indicates if the validation or
                                          rule checking is passed.
                                        x-ms-enum:
                                          name: VerificationStatus
                                          modelAsString: true
                                          values:
                                          - value: Passed
                                            description: Validation or rule checking
                                              passed.
                                          - value: Failed
                                            description: Validation or rule checking
                                              failed.
                                      message:
                                        type: string
                                        description: Message for clarification.
                                    required:
                                    - result
                                  x-ms-identifiers: []
                                  description: The validation results of the image.
                            osDiskImageSizeInGB:
                              type: integer
                              format: int64
                              readOnly: true
                              description: This property indicates the size of the
                                VHD to be created.
                            releaseVersionDate:
                              type: string
                              format: date-time
                              description: The release version date of the release
                                of the custom image OS.
                              readOnly: true
                            vhdFileName:
                              type: string
                              description: The file name of the associated VHD resource.
                              readOnly: true
                            provisioningState:
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Cancelled
                              - Creating
                              - Deleting
                              - Updating
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                          required:
                          - definitionName
                          - versionName
                          - source
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Test Base custom images.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/customImages/{customImageName}
  : put:
      tags:
      - Test Base Custom Image
      operationId: CustomImages_Create
      description: Creates a test base custom image.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: customImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the test base custom image.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: Test Base custom image properties.
                  type: object
                  properties:
                    vhdId:
                      type: string
                      description: The Id of the associated VHD resource.
                    definitionName:
                      type: string
                      description: Image definition name.
                    versionName:
                      type: string
                      description: Image version name.
                    source:
                      type: string
                      description: Custom image source type.
                      default: VHD
                      enum:
                      - Unknown
                      - VHD
                      x-ms-enum:
                        name: ImageSource
                        modelAsString: true
                        values:
                        - value: Unknown
                          description: Unknown image source type.
                        - value: VHD
                          description: Specify image onboarding through VHD.
                    product:
                      type: string
                      description: Product of the custom image.
                      readOnly: true
                    release:
                      type: string
                      description: Release of the custom image OS.
                      readOnly: true
                    status:
                      type: string
                      description: Status of the custom image.
                      readOnly: true
                      enum:
                      - Unknown
                      - Ready
                      - Failed
                      - Validating
                      x-ms-enum:
                        name: ImageStatus
                        modelAsString: true
                        values:
                        - value: Unknown
                          description: Unknown image status.
                        - value: Ready
                          description: Completed validation and is ready for use.
                        - value: Failed
                          description: Failed to onboard or pass validation.
                        - value: Validating
                          description: Succeed to onboard but is in validation process.
                    creationTime:
                      type: string
                      format: date-time
                      description: The UTC timestamp when the custom image was published.
                      readOnly: true
                    validationResults:
                      description: The validation result of the custom image.
                      readOnly: true
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            description: The detailed result of a validation or rule
                              checking.
                            type: object
                            properties:
                              verificationName:
                                type: string
                                description: The name of the verification rule.
                              result:
                                type: string
                                enum:
                                - Passed
                                - Failed
                                description: Indicates if the validation or rule checking
                                  is passed.
                                x-ms-enum:
                                  name: VerificationStatus
                                  modelAsString: true
                                  values:
                                  - value: Passed
                                    description: Validation or rule checking passed.
                                  - value: Failed
                                    description: Validation or rule checking failed.
                              message:
                                type: string
                                description: Message for clarification.
                            required:
                            - result
                          x-ms-identifiers: []
                          description: The validation results of the image.
                    osDiskImageSizeInGB:
                      type: integer
                      format: int64
                      readOnly: true
                      description: This property indicates the size of the VHD to
                        be created.
                    releaseVersionDate:
                      type: string
                      format: date-time
                      description: The release version date of the release of the
                        custom image OS.
                      readOnly: true
                    vhdFileName:
                      type: string
                      description: The file name of the associated VHD resource.
                      readOnly: true
                    provisioningState:
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Cancelled
                      - Creating
                      - Deleting
                      - Updating
                      readOnly: true
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                  required:
                  - definitionName
                  - versionName
                  - source
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a test base custom image.
        required: true
      responses:
        '200':
          description: The test base custom image was successfully created or updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base custom image properties.
                    type: object
                    properties:
                      vhdId:
                        type: string
                        description: The Id of the associated VHD resource.
                      definitionName:
                        type: string
                        description: Image definition name.
                      versionName:
                        type: string
                        description: Image version name.
                      source:
                        type: string
                        description: Custom image source type.
                        default: VHD
                        enum:
                        - Unknown
                        - VHD
                        x-ms-enum:
                          name: ImageSource
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image source type.
                          - value: VHD
                            description: Specify image onboarding through VHD.
                      product:
                        type: string
                        description: Product of the custom image.
                        readOnly: true
                      release:
                        type: string
                        description: Release of the custom image OS.
                        readOnly: true
                      status:
                        type: string
                        description: Status of the custom image.
                        readOnly: true
                        enum:
                        - Unknown
                        - Ready
                        - Failed
                        - Validating
                        x-ms-enum:
                          name: ImageStatus
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image status.
                          - value: Ready
                            description: Completed validation and is ready for use.
                          - value: Failed
                            description: Failed to onboard or pass validation.
                          - value: Validating
                            description: Succeed to onboard but is in validation process.
                      creationTime:
                        type: string
                        format: date-time
                        description: The UTC timestamp when the custom image was published.
                        readOnly: true
                      validationResults:
                        description: The validation result of the custom image.
                        readOnly: true
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              description: The detailed result of a validation or
                                rule checking.
                              type: object
                              properties:
                                verificationName:
                                  type: string
                                  description: The name of the verification rule.
                                result:
                                  type: string
                                  enum:
                                  - Passed
                                  - Failed
                                  description: Indicates if the validation or rule
                                    checking is passed.
                                  x-ms-enum:
                                    name: VerificationStatus
                                    modelAsString: true
                                    values:
                                    - value: Passed
                                      description: Validation or rule checking passed.
                                    - value: Failed
                                      description: Validation or rule checking failed.
                                message:
                                  type: string
                                  description: Message for clarification.
                              required:
                              - result
                            x-ms-identifiers: []
                            description: The validation results of the image.
                      osDiskImageSizeInGB:
                        type: integer
                        format: int64
                        readOnly: true
                        description: This property indicates the size of the VHD to
                          be created.
                      releaseVersionDate:
                        type: string
                        format: date-time
                        description: The release version date of the release of the
                          custom image OS.
                        readOnly: true
                      vhdFileName:
                        type: string
                        description: The file name of the associated VHD resource.
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                    required:
                    - definitionName
                    - versionName
                    - source
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The test base custom image 'create' operation was successfully
            enqueued. Check provisioningState to track execution status.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base custom image properties.
                    type: object
                    properties:
                      vhdId:
                        type: string
                        description: The Id of the associated VHD resource.
                      definitionName:
                        type: string
                        description: Image definition name.
                      versionName:
                        type: string
                        description: Image version name.
                      source:
                        type: string
                        description: Custom image source type.
                        default: VHD
                        enum:
                        - Unknown
                        - VHD
                        x-ms-enum:
                          name: ImageSource
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image source type.
                          - value: VHD
                            description: Specify image onboarding through VHD.
                      product:
                        type: string
                        description: Product of the custom image.
                        readOnly: true
                      release:
                        type: string
                        description: Release of the custom image OS.
                        readOnly: true
                      status:
                        type: string
                        description: Status of the custom image.
                        readOnly: true
                        enum:
                        - Unknown
                        - Ready
                        - Failed
                        - Validating
                        x-ms-enum:
                          name: ImageStatus
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image status.
                          - value: Ready
                            description: Completed validation and is ready for use.
                          - value: Failed
                            description: Failed to onboard or pass validation.
                          - value: Validating
                            description: Succeed to onboard but is in validation process.
                      creationTime:
                        type: string
                        format: date-time
                        description: The UTC timestamp when the custom image was published.
                        readOnly: true
                      validationResults:
                        description: The validation result of the custom image.
                        readOnly: true
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              description: The detailed result of a validation or
                                rule checking.
                              type: object
                              properties:
                                verificationName:
                                  type: string
                                  description: The name of the verification rule.
                                result:
                                  type: string
                                  enum:
                                  - Passed
                                  - Failed
                                  description: Indicates if the validation or rule
                                    checking is passed.
                                  x-ms-enum:
                                    name: VerificationStatus
                                    modelAsString: true
                                    values:
                                    - value: Passed
                                      description: Validation or rule checking passed.
                                    - value: Failed
                                      description: Validation or rule checking failed.
                                message:
                                  type: string
                                  description: Message for clarification.
                              required:
                              - result
                            x-ms-identifiers: []
                            description: The validation results of the image.
                      osDiskImageSizeInGB:
                        type: integer
                        format: int64
                        readOnly: true
                        description: This property indicates the size of the VHD to
                          be created.
                      releaseVersionDate:
                        type: string
                        format: date-time
                        description: The release version date of the release of the
                          custom image OS.
                        readOnly: true
                      vhdFileName:
                        type: string
                        description: The file name of the associated VHD resource.
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                    required:
                    - definitionName
                    - versionName
                    - source
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Test Base Custom Image
      operationId: CustomImages_Delete
      description: Deletes a test base custom image.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: customImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the test base custom image.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: The test base custom image 'delete' operation was successfully
            enqueued. Follow the Location header to poll for final outcome.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: The test base custom image was deleted successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Test Base Custom Image
      operationId: CustomImages_Get
      description: Gets a test base custom image.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: customImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the test base custom image.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The test base custom image was successfully found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base custom image properties.
                    type: object
                    properties:
                      vhdId:
                        type: string
                        description: The Id of the associated VHD resource.
                      definitionName:
                        type: string
                        description: Image definition name.
                      versionName:
                        type: string
                        description: Image version name.
                      source:
                        type: string
                        description: Custom image source type.
                        default: VHD
                        enum:
                        - Unknown
                        - VHD
                        x-ms-enum:
                          name: ImageSource
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image source type.
                          - value: VHD
                            description: Specify image onboarding through VHD.
                      product:
                        type: string
                        description: Product of the custom image.
                        readOnly: true
                      release:
                        type: string
                        description: Release of the custom image OS.
                        readOnly: true
                      status:
                        type: string
                        description: Status of the custom image.
                        readOnly: true
                        enum:
                        - Unknown
                        - Ready
                        - Failed
                        - Validating
                        x-ms-enum:
                          name: ImageStatus
                          modelAsString: true
                          values:
                          - value: Unknown
                            description: Unknown image status.
                          - value: Ready
                            description: Completed validation and is ready for use.
                          - value: Failed
                            description: Failed to onboard or pass validation.
                          - value: Validating
                            description: Succeed to onboard but is in validation process.
                      creationTime:
                        type: string
                        format: date-time
                        description: The UTC timestamp when the custom image was published.
                        readOnly: true
                      validationResults:
                        description: The validation result of the custom image.
                        readOnly: true
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              description: The detailed result of a validation or
                                rule checking.
                              type: object
                              properties:
                                verificationName:
                                  type: string
                                  description: The name of the verification rule.
                                result:
                                  type: string
                                  enum:
                                  - Passed
                                  - Failed
                                  description: Indicates if the validation or rule
                                    checking is passed.
                                  x-ms-enum:
                                    name: VerificationStatus
                                    modelAsString: true
                                    values:
                                    - value: Passed
                                      description: Validation or rule checking passed.
                                    - value: Failed
                                      description: Validation or rule checking failed.
                                message:
                                  type: string
                                  description: Message for clarification.
                              required:
                              - result
                            x-ms-identifiers: []
                            description: The validation results of the image.
                      osDiskImageSizeInGB:
                        type: integer
                        format: int64
                        readOnly: true
                        description: This property indicates the size of the VHD to
                          be created.
                      releaseVersionDate:
                        type: string
                        format: date-time
                        description: The release version date of the release of the
                          custom image OS.
                        readOnly: true
                      vhdFileName:
                        type: string
                        description: The file name of the associated VHD resource.
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                    required:
                    - definitionName
                    - versionName
                    - source
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/checkImageNameAvailability
  : post:
      tags:
      - Test Base Custom Image
      operationId: CustomImages_CheckImageNameAvailability
      description: Checks that the test vase custom image generated from VHD resource
        has valid and unique definition and version, return architecture and OS state
        of potential existing image definition.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameter body to request test base custom image availability.
              type: object
              properties:
                definitionName:
                  type: string
                  description: Image definition name.
                versionName:
                  type: string
                  description: Image version name.
              required:
              - definitionName
              - versionName
        description: Parameters supplied to the test base custom image CheckAvailability
          operation.
        required: true
      responses:
        '200':
          description: Image definition and version is available.
          content:
            application/json:
              schema:
                description: The detailed result of a validation or rule checking.
                type: object
                properties:
                  verificationName:
                    type: string
                    description: The name of the verification rule.
                  result:
                    type: string
                    enum:
                    - Passed
                    - Failed
                    description: Indicates if the validation or rule checking is passed.
                    x-ms-enum:
                      name: VerificationStatus
                      modelAsString: true
                      values:
                      - value: Passed
                        description: Validation or rule checking passed.
                      - value: Failed
                        description: Validation or rule checking failed.
                  message:
                    type: string
                    description: Message for clarification.
                required:
                - result
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/imageDefinitions
  : get:
      tags:
      - 'Test Base Image Definition // Reminder: Need renaming.'
      operationId: ImageDefinitions_ListByTestBaseAccount
      description: List all image definition properties created by test base custom
        images which are derived from 'VHD' source.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Get image definition existence and get detailed properties
            if applicable.
          content:
            application/json:
              schema:
                description: The result of all available image definition under a
                  test base account.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Test Base custom image properties.
                          type: object
                          properties:
                            architecture:
                              description: Custom image architecture.
                              type: string
                              enum:
                              - x64
                              x-ms-enum:
                                name: ImageArchitecture
                                modelAsString: true
                                values:
                                - value: x64
                                  description: 64-bit architecture.
                            osState:
                              description: Custom image OS state.
                              type: string
                              enum:
                              - Generalized
                              - Specialized
                              x-ms-enum:
                                name: ImageOSState
                                modelAsString: true
                                values:
                                - value: Generalized
                                  description: Sysprep generalization processed.
                                - value: Specialized
                                  description: Fully kept with user specified settings.
                            securityType:
                              description: Custom image security type.
                              type: string
                              enum:
                              - Standard
                              - TrustedLaunch
                              x-ms-enum:
                                name: ImageSecurityType
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: Standard security type.
                                - value: TrustedLaunch
                                  description: Specify higher security level compared
                                    to Standard.
                            provisioningState:
                              type: string
                              readOnly: true
                          required:
                          - architecture
                          - osState
                          - securityType
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of image definitions.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/imageDefinitions/{imageDefinitionName}
  : put:
      tags:
      - Test Base Image Definition
      operationId: ImageDefinitions_Create
      description: Create image definition for test base custom images which are derived
        from 'VHD' source.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: imageDefinitionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the test base image definition.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
[...]
