openapi: 3.0.0
info:
  title: Test Base
  description: Use these REST APIs for performing operations on Test Base Draft Packages,
    which are used to facilitate the creation and update of Test Base Package.
  version: 2023-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/draftPackages
  : get:
      tags:
      - Test Base Draft Package
      operationId: DraftPackages_ListByTestBaseAccount
      description: Lists all the draft packages under a test base account.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: packageName
        in: query
        x-ms-parameter-location: method
        description: Parameter used to filter draft packages by linked Test Base Package.
        schema:
          type: string
      - name: editPackage
        in: query
        required: false
        x-ms-parameter-location: method
        description: Parameter used to filter draft packages by editPackage property.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                description: A list of Test Base Draft Packages.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Test Base Draft Package properties.
                          type: object
                          properties:
                            applicationName:
                              type: string
                              description: Application name
                            version:
                              type: string
                              description: Application version
                            draftPackagePath:
                              type: string
                              readOnly: true
                              description: The relative path of the folder hosting
                                package files.
                            workingPath:
                              type: string
                              readOnly: true
                              description: The relative path for a temporarily folder
                                for package creation work.
                            appFileName:
                              type: string
                              description: The name of the app file.
                            sourceType:
                              description: The source type.
                              default: Native
                              type: string
                              enum:
                              - Native
                              - IntuneWin
                              - TestBasePackage
                              - GalleryApp
                              - IntuneEnrollment
                              x-ms-enum:
                                name: draftPackageSourceType
                                modelAsString: true
                            useSample:
                              type: boolean
                              description: Specifies whether a sample package should
                                be used instead of the one uploaded by the user.
                            comments:
                              type: string
                              description: Comments added by user.
                            intuneMetadata:
                              type: object
                              description: Metadata used to generate draft package
                                folder and scripts.
                              properties:
                                intuneApp:
                                  description: The Metadata of the Intune App through
                                    intunewin file uploading.
                                  type: object
                                  properties:
                                    appName:
                                      type: string
                                      description: Intune app name.
                                    version:
                                      type: string
                                      description: Intune app version.
                                    appId:
                                      type: string
                                      description: Intune app id.
                                    publisher:
                                      type: string
                                      description: Publisher of the app.
                                    description:
                                      type: string
                                      description: Description of the app.
                                    owner:
                                      type: string
                                      description: Owner of the app.
                                    createDate:
                                      type: string
                                      format: date-time
                                      description: Creation date of the app.
                                    dependentAppCount:
                                      type: integer
                                      format: int32
                                      description: Count of dependency apps.
                                    installCommand:
                                      type: string
                                      description: Install command.
                                    uninstallCommand:
                                      type: string
                                      description: Uninstall command.
                                    lastProcessed:
                                      type: integer
                                      format: int64
                                      description: last processed time tickets.
                                    dependencyIds:
                                      type: array
                                      items:
                                        type: string
                                      description: Ids of dependency apps.
                                    setupFile:
                                      type: string
                                      description: Setup file path.
                                    minimumSupportedOS:
                                      type: string
                                      description: Minimum supported OS. The OS version
                                        must be greater than this version to run this
                                        app.
                                    status:
                                      enum:
                                      - Ready
                                      - Uploading
                                      - UploadFailed
                                      - ExtractFailed
                                      - NoDependencyApp
                                      type: string
                                      x-ms-enum:
                                        name: intuneExtractStatus
                                        modelAsString: true
                                      description: Extract status.
                                    expectedExitCodes:
                                      type: array
                                      items:
                                        type: string
                                      description: Expected exit codes returned from
                                        Intune App.
                                intuneAppDependencies:
                                  type: array
                                  items:
                                    description: The Metadata of a single Intune App.
                                    type: object
                                    properties:
                                      appName:
                                        type: string
                                        description: Intune app name.
                                      version:
                                        type: string
                                        description: Intune app version.
                                      appId:
                                        type: string
                                        description: Intune app id.
                                      publisher:
                                        type: string
                                        description: Publisher of the app.
                                      description:
                                        type: string
                                        description: Description of the app.
                                      owner:
                                        type: string
                                        description: Owner of the app.
                                      createDate:
                                        type: string
                                        format: date-time
                                        description: Creation date of the app.
                                      dependentAppCount:
                                        type: integer
                                        format: int32
                                        description: Count of dependency apps.
                                      installCommand:
                                        type: string
                                        description: Install command.
                                      uninstallCommand:
                                        type: string
                                        description: Uninstall command.
                                      lastProcessed:
                                        type: integer
                                        format: int64
                                        description: last processed time tickets.
                                      dependencyIds:
                                        type: array
                                        items:
                                          type: string
                                        description: Ids of dependency apps.
                                      setupFile:
                                        type: string
                                        description: Setup file path.
                                      minimumSupportedOS:
                                        type: string
                                        description: Minimum supported OS. The OS
                                          version must be greater than this version
                                          to run this app.
                                      status:
                                        enum:
                                        - Ready
                                        - Uploading
                                        - UploadFailed
                                        - ExtractFailed
                                        - NoDependencyApp
                                        type: string
                                        x-ms-enum:
                                          name: intuneExtractStatus
                                          modelAsString: true
                                        description: Extract status.
                                      expectedExitCodes:
                                        type: array
                                        items:
                                          type: string
                                        description: Expected exit codes returned
                                          from Intune App.
                                  x-ms-identifiers: []
                                  description: The Metadata of dependencies of the
                                    Intune App through intunewin file uploading.
                            highlightedFiles:
                              type: array
                              items:
                                description: The information of a highlighted file
                                  that user should pay attention to.
                                type: object
                                properties:
                                  path:
                                    type: string
                                    description: The path of the highlighted file.
                                  visited:
                                    type: boolean
                                    description: A flag to save whether this file
                                      is viewed by user.
                                    default: false
                                  sections:
                                    type: array
                                    items:
                                      type: string
                                    description: The name of sections to highlight.
                                required:
                                - path
                              x-ms-identifiers: []
                              description: The highlight files in the package.
                            packageTags:
                              description: Tags of the package to be created.
                              type: object
                              additionalProperties:
                                type: string
                            editPackage:
                              type: boolean
                              description: Specifies whether this draft package is
                                used to edit a package.
                              default: false
                            packageId:
                              type: string
                              description: Specifies the package id from which the
                                draft package copied.
                            useAutofill:
                              type: boolean
                              description: Indicates whether user choose to enable
                                script auto-fill.
                            executableLaunchCommand:
                              type: string
                              description: The executable launch command for script
                                auto-fill. Will be used to run the application.
                            processName:
                              type: string
                              description: The process name for script auto-fill.
                                Will be used to identify the application process.
                            tabState:
                              type: object
                              description: Tab state.
                              properties:
                                currentTab:
                                  description: Current tab.
                                  type: string
                                  enum:
                                  - Unspecified
                                  - BasicsTab
                                  - ConfigureTestTab
                                  - EditPackageTab
                                  - TestMatrixTab
                                  - TagsTab
                                  - ReviewAndCreateTab
                                  x-ms-enum:
                                    name: packageStudioTabs
                                    modelAsString: true
                                visitedTabs:
                                  type: array
                                  items:
                                    description: Specifies the tabs when creating
                                      / cloning / editing a package.
                                    type: string
                                    enum:
                                    - Unspecified
                                    - BasicsTab
                                    - ConfigureTestTab
                                    - EditPackageTab
                                    - TestMatrixTab
                                    - TagsTab
                                    - ReviewAndCreateTab
                                    x-ms-enum:
                                      name: packageStudioTabs
                                      modelAsString: true
                                  description: visited tabs.
                            testTypes:
                              type: array
                              items:
                                type: string
                                description: The test type.
                                enum:
                                - OutOfBoxTest
                                - FunctionalTest
                                - FlowDrivenTest
                                x-ms-enum:
                                  name: testType
                                  modelAsString: true
                              description: OOB, functional or flow driven. Mapped
                                to the data in 'tests' property.
                            provisioningState:
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Cancelled
                              - Creating
                              - Deleting
                              - Updating
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            targetOSList:
                              type: array
                              items:
                                description: The information of the target OS to be
                                  tested.
                                type: object
                                properties:
                                  osUpdateType:
                                    type: string
                                    description: Specifies the OS update type to test
                                      against, e.g., 'Security updates' or 'Feature
                                      updates'.
                                  targetOSs:
                                    type: array
                                    items:
                                      type: string
                                    description: Specifies the target OSs to be tested.
                                  insiderChannelIds:
                                    type: array
                                    items:
                                      type: string
                                    description: Insider Channel Ids. Only used for
                                      feature update.
                                  baselineOSs:
                                    type: array
                                    items:
                                      type: string
                                    description: Specifies the baseline OSs to be
                                      tested.
                                  targetOSImageIds:
                                    type: array
                                    items:
                                      type: string
                                    description: Specifies the ids of the target OSs
                                      from Custom Images to be tested.
                                required:
                                - osUpdateType
                              x-ms-identifiers: []
                              description: Specifies the target OSs of specific OS
                                Update types.
                            inplaceUpgradeOSPair:
                              description: Specifies the baseline os and target os
                                for inplace upgrade.
                              type: object
                              properties:
                                baselineOS:
                                  description: Specifies the baseline os for in-place
                                    upgrade tests.
                                  type: object
                                  properties:
                                    osName:
                                      type: string
                                      description: The name of the OS.
                                    customImageId:
                                      type: string
                                      description: Specify the referenced Test Base
                                        Custom Image Id if available.
                                    customImageDisplayName:
                                      type: string
                                      description: The name of the custom image resource.
                                      readOnly: true
                                    releaseProperties:
                                      description: The properties of the OS release.
                                      type: object
                                      properties:
                                        releaseName:
                                          type: string
                                          description: The name of the OS release.
                                        buildNumber:
                                          type: string
                                          description: The build number of the OS
                                            release.
                                        buildRevision:
                                          type: string
                                          description: The build revision of the OS
                                            release.
                                        releaseVersionDate:
                                          type: string
                                          format: date-time
                                          description: The release version date of
                                            the OS release.
                                targetOS:
                                  type: string
                                  description: Specifies the target os for in-place
                                    upgrade tests.
                            lastModifiedTime:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The UTC timestamp when the package was
                                last modified.
                            flightingRing:
                              type: string
                              description: The flighting ring for feature update.
                            firstPartyApps:
                              description: The list of first party applications to
                                test along with user application.
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Properties of the definition of a first
                                  party application of the Test Base package.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The media name of a first party application
                                      of a Test Base Account.
                                  architecture:
                                    description: The architecture of a first party
                                      application of a Test Base Account.
                                    type: string
                                    enum:
                                    - x86
                                    - x64
                                    - arm64
                                    x-ms-enum:
                                      name: architecture
                                      modelAsString: true
                                  channel:
                                    type: string
                                    description: The channel info of a first party
                                      application of a Test Base Account.
                                  ring:
                                    type: string
                                    description: The ring info of a first party application
                                      of a Test Base Account.
                                  interopExecutionMode:
                                    type: string
                                    description: Specifies how the first party applications
                                      should be inter-operated with user's application.
                                    enum:
                                    - firstPartyAppWithTests
                                    - firstPartyApp
                                    default: firstPartyAppWithTests
                                    x-ms-enum:
                                      name: interopExecutionMode
                                      modelAsString: true
                                      values:
                                      - value: firstPartyAppWithTests
                                        description: User application will test with
                                          the first party applications. For out-of-box
                                          tests, additional test cases for first party
                                          applications will also be run.
                                      - value: firstPartyApp
                                        description: User application will test with
                                          the first party applications.
                            galleryApps:
                              description: The list of gallery apps to test along
                                with user application.
                              type: array
                              x-ms-identifiers:
                              - skuId
                              items:
                                description: Properties of the definition of a gallery
                                  application used in Test Base package.
                                type: object
                                properties:
                                  skuId:
                                    type: string
                                    description: The SKU id of the gallery application.
                                  isConsented:
                                    type: boolean
                                    description: Whether the disclaimer of the gallery
                                      application is accepted.
                                    default: false
                                required:
                                - skuId
                            tests:
                              type: array
                              items:
                                description: The definition of a Test.
                                type: object
                                properties:
                                  testType:
                                    description: The type of the test.
                                    type: string
                                    enum:
                                    - OutOfBoxTest
                                    - FunctionalTest
                                    - FlowDrivenTest
                                    x-ms-enum:
                                      name: testType
                                      modelAsString: true
                                  validationRunStatus:
                                    readOnly: true
                                    type: string
                                    description: The status of the validation run
                                      of the package.
                                    enum:
                                    - Unknown
                                    - Pending
                                    - Passed
                                    - Failed
                                    x-ms-enum:
                                      name: validationRunStatus
                                      modelAsString: true
                                  validationResultId:
                                    readOnly: true
                                    type: string
                                    description: Resource identifier of the validation
                                      test result.
                                  isActive:
                                    type: boolean
                                    description: Indicates if this test is active.It
                                      doesn't schedule test for not active Test.
                                  commands:
                                    type: array
                                    items:
                                      description: The command used in the test
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of the command.
                                        action:
                                          type: string
                                          description: The action of the command.
                                          enum:
                                          - Install
                                          - Launch
                                          - Close
                                          - Uninstall
                                          - Custom
                                          - FlowDrivenCustom
                                          x-ms-enum:
                                            name: action
                                            modelAsString: true
                                        contentType:
                                          type: string
                                          description: The type of command content.
                                          enum:
                                          - Inline
                                          - File
                                          - Path
                                          x-ms-enum:
                                            name: contentType
                                            modelAsString: true
                                        content:
                                          type: string
                                          description: The content of the command.
                                            The content depends on source type.
                                        runElevated:
                                          type: boolean
                                          description: Specifies whether to run the
                                            command as administrator.
                                        restartAfter:
                                          type: boolean
                                          description: Specifies whether to restart
                                            the VM after the command executed.
                                        maxRunTime:
                                          type: integer
                                          format: int32
                                          description: Specifies the max run time
                                            of the command.
                                        runAsInteractive:
                                          type: boolean
                                          description: Specifies whether to run the
                                            command in interactive mode.
                                        alwaysRun:
                                          type: boolean
                                          description: Specifies whether to run the
                                            command even if a previous command is
                                            failed.
                                        applyUpdateBefore:
                                          type: boolean
                                          description: Specifies whether to apply
                                            update before the command.
                                        install1PAppBefore:
                                          type: boolean
                                          description: Specifies whether to install
                                            first party applications before running
                                            the command.
                                        preUpgrade:
                                          type: boolean
                                          description: Specifies whether the command
                                            is assigned to be executed before in-place
                                            upgrade.
                                        postUpgrade:
                                          type: boolean
                                          description: Specifies whether the command
                                            is assigned to be executed after in-place
                                            upgrade.
                                        enrollIntuneBefore:
                                          type: boolean
                                          description: Specifies whether to enroll
                                            Intune before the command.
                                      required:
                                      - name
                                      - action
                                      - contentType
                                      - content
                                    x-ms-identifiers: []
                                    description: The commands used in the test.
                                required:
                                - testType
                                - commands
                              x-ms-identifiers: []
                              description: The detailed test information.
                            intuneEnrollmentMetadata:
                              description: The metadata of Intune enrollment.
                              type: object
                              properties:
                                appList:
                                  type: array
                                  items:
                                    description: Metadata of the enrolled Intune app.
                                    type: object
                                    properties:
                                      appName:
                                        type: string
                                        description: Intune app name.
                                      appId:
                                        type: string
                                        description: Intune app id.
                                      expectedInstallationPath:
                                        type: string
                                        description: Intune app expected installation
                                          path.
                                    required:
                                    - appName
                                    - appId
                                    - expectedInstallationPath
                                  x-ms-identifiers: []
                                  description: The enrolled Intune apps.
                                credentialId:
                                  description: The id of the Intune enrollment credential.
                                  type: string
                                expectedDeploymentDurationInMinute:
                                  description: The expected duration of Intune applications
                                    and policies deployment.
                                  type: integer
                                  format: int32
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Test Base Draft Packages.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/draftPackages/{draftPackageName}
  : put:
      tags:
      - Test Base Draft Package
      operationId: DraftPackages_Create
      description: Creates or replaces a Test Base Draft Package.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: draftPackageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Draft Package.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: Test Base Draft Package properties.
                  type: object
                  properties:
                    applicationName:
                      type: string
                      description: Application name
                    version:
                      type: string
                      description: Application version
                    draftPackagePath:
                      type: string
                      readOnly: true
                      description: The relative path of the folder hosting package
                        files.
                    workingPath:
                      type: string
                      readOnly: true
                      description: The relative path for a temporarily folder for
                        package creation work.
                    appFileName:
                      type: string
                      description: The name of the app file.
                    sourceType:
                      description: The source type.
                      default: Native
                      type: string
                      enum:
                      - Native
                      - IntuneWin
                      - TestBasePackage
                      - GalleryApp
                      - IntuneEnrollment
                      x-ms-enum:
                        name: draftPackageSourceType
                        modelAsString: true
                    useSample:
                      type: boolean
                      description: Specifies whether a sample package should be used
                        instead of the one uploaded by the user.
                    comments:
                      type: string
                      description: Comments added by user.
                    intuneMetadata:
                      type: object
                      description: Metadata used to generate draft package folder
                        and scripts.
                      properties:
                        intuneApp:
                          description: The Metadata of the Intune App through intunewin
                            file uploading.
                          type: object
                          properties:
                            appName:
                              type: string
                              description: Intune app name.
                            version:
                              type: string
                              description: Intune app version.
                            appId:
                              type: string
                              description: Intune app id.
                            publisher:
                              type: string
                              description: Publisher of the app.
                            description:
                              type: string
                              description: Description of the app.
                            owner:
                              type: string
                              description: Owner of the app.
                            createDate:
                              type: string
                              format: date-time
                              description: Creation date of the app.
                            dependentAppCount:
                              type: integer
                              format: int32
                              description: Count of dependency apps.
                            installCommand:
                              type: string
                              description: Install command.
                            uninstallCommand:
                              type: string
                              description: Uninstall command.
                            lastProcessed:
                              type: integer
                              format: int64
                              description: last processed time tickets.
                            dependencyIds:
                              type: array
                              items:
                                type: string
                              description: Ids of dependency apps.
                            setupFile:
                              type: string
                              description: Setup file path.
                            minimumSupportedOS:
                              type: string
                              description: Minimum supported OS. The OS version must
                                be greater than this version to run this app.
                            status:
                              enum:
                              - Ready
                              - Uploading
                              - UploadFailed
                              - ExtractFailed
                              - NoDependencyApp
                              type: string
                              x-ms-enum:
                                name: intuneExtractStatus
                                modelAsString: true
                              description: Extract status.
                            expectedExitCodes:
                              type: array
                              items:
                                type: string
                              description: Expected exit codes returned from Intune
                                App.
                        intuneAppDependencies:
                          type: array
                          items:
                            description: The Metadata of a single Intune App.
                            type: object
                            properties:
                              appName:
                                type: string
                                description: Intune app name.
                              version:
                                type: string
                                description: Intune app version.
                              appId:
                                type: string
                                description: Intune app id.
                              publisher:
                                type: string
                                description: Publisher of the app.
                              description:
                                type: string
                                description: Description of the app.
                              owner:
                                type: string
                                description: Owner of the app.
                              createDate:
                                type: string
                                format: date-time
                                description: Creation date of the app.
                              dependentAppCount:
                                type: integer
                                format: int32
                                description: Count of dependency apps.
                              installCommand:
                                type: string
                                description: Install command.
                              uninstallCommand:
                                type: string
                                description: Uninstall command.
                              lastProcessed:
                                type: integer
                                format: int64
                                description: last processed time tickets.
                              dependencyIds:
                                type: array
                                items:
                                  type: string
                                description: Ids of dependency apps.
                              setupFile:
                                type: string
                                description: Setup file path.
                              minimumSupportedOS:
                                type: string
                                description: Minimum supported OS. The OS version
                                  must be greater than this version to run this app.
                              status:
                                enum:
                                - Ready
                                - Uploading
                                - UploadFailed
                                - ExtractFailed
                                - NoDependencyApp
                                type: string
                                x-ms-enum:
                                  name: intuneExtractStatus
                                  modelAsString: true
                                description: Extract status.
                              expectedExitCodes:
                                type: array
                                items:
                                  type: string
                                description: Expected exit codes returned from Intune
                                  App.
                          x-ms-identifiers: []
                          description: The Metadata of dependencies of the Intune
                            App through intunewin file uploading.
                    highlightedFiles:
                      type: array
                      items:
                        description: The information of a highlighted file that user
                          should pay attention to.
                        type: object
                        properties:
                          path:
                            type: string
                            description: The path of the highlighted file.
                          visited:
                            type: boolean
                            description: A flag to save whether this file is viewed
                              by user.
                            default: false
                          sections:
                            type: array
                            items:
                              type: string
                            description: The name of sections to highlight.
                        required:
                        - path
                      x-ms-identifiers: []
                      description: The highlight files in the package.
                    packageTags:
                      description: Tags of the package to be created.
                      type: object
                      additionalProperties:
                        type: string
                    editPackage:
                      type: boolean
                      description: Specifies whether this draft package is used to
                        edit a package.
                      default: false
                    packageId:
                      type: string
                      description: Specifies the package id from which the draft package
                        copied.
                    useAutofill:
                      type: boolean
                      description: Indicates whether user choose to enable script
                        auto-fill.
                    executableLaunchCommand:
                      type: string
                      description: The executable launch command for script auto-fill.
                        Will be used to run the application.
                    processName:
                      type: string
                      description: The process name for script auto-fill. Will be
                        used to identify the application process.
                    tabState:
                      type: object
                      description: Tab state.
                      properties:
                        currentTab:
                          description: Current tab.
                          type: string
                          enum:
                          - Unspecified
                          - BasicsTab
                          - ConfigureTestTab
                          - EditPackageTab
                          - TestMatrixTab
                          - TagsTab
                          - ReviewAndCreateTab
                          x-ms-enum:
                            name: packageStudioTabs
                            modelAsString: true
                        visitedTabs:
                          type: array
                          items:
                            description: Specifies the tabs when creating / cloning
                              / editing a package.
                            type: string
                            enum:
                            - Unspecified
                            - BasicsTab
                            - ConfigureTestTab
                            - EditPackageTab
                            - TestMatrixTab
                            - TagsTab
                            - ReviewAndCreateTab
                            x-ms-enum:
                              name: packageStudioTabs
                              modelAsString: true
                          description: visited tabs.
                    testTypes:
                      type: array
                      items:
                        type: string
                        description: The test type.
                        enum:
                        - OutOfBoxTest
                        - FunctionalTest
                        - FlowDrivenTest
                        x-ms-enum:
                          name: testType
                          modelAsString: true
                      description: OOB, functional or flow driven. Mapped to the data
                        in 'tests' property.
                    provisioningState:
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Cancelled
                      - Creating
                      - Deleting
                      - Updating
                      readOnly: true
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                    targetOSList:
                      type: array
                      items:
                        description: The information of the target OS to be tested.
                        type: object
                        properties:
                          osUpdateType:
                            type: string
                            description: Specifies the OS update type to test against,
                              e.g., 'Security updates' or 'Feature updates'.
                          targetOSs:
                            type: array
                            items:
                              type: string
                            description: Specifies the target OSs to be tested.
                          insiderChannelIds:
                            type: array
                            items:
                              type: string
                            description: Insider Channel Ids. Only used for feature
                              update.
                          baselineOSs:
                            type: array
                            items:
                              type: string
                            description: Specifies the baseline OSs to be tested.
                          targetOSImageIds:
                            type: array
                            items:
                              type: string
                            description: Specifies the ids of the target OSs from
                              Custom Images to be tested.
                        required:
                        - osUpdateType
                      x-ms-identifiers: []
                      description: Specifies the target OSs of specific OS Update
                        types.
                    inplaceUpgradeOSPair:
                      description: Specifies the baseline os and target os for inplace
                        upgrade.
                      type: object
                      properties:
                        baselineOS:
                          description: Specifies the baseline os for in-place upgrade
                            tests.
                          type: object
                          properties:
                            osName:
                              type: string
                              description: The name of the OS.
                            customImageId:
                              type: string
                              description: Specify the referenced Test Base Custom
                                Image Id if available.
                            customImageDisplayName:
                              type: string
                              description: The name of the custom image resource.
                              readOnly: true
                            releaseProperties:
                              description: The properties of the OS release.
                              type: object
                              properties:
                                releaseName:
                                  type: string
                                  description: The name of the OS release.
                                buildNumber:
                                  type: string
                                  description: The build number of the OS release.
                                buildRevision:
                                  type: string
                                  description: The build revision of the OS release.
                                releaseVersionDate:
                                  type: string
                                  format: date-time
                                  description: The release version date of the OS
                                    release.
                        targetOS:
                          type: string
                          description: Specifies the target os for in-place upgrade
                            tests.
                    lastModifiedTime:
                      readOnly: true
                      type: string
                      format: date-time
                      description: The UTC timestamp when the package was last modified.
                    flightingRing:
                      type: string
                      description: The flighting ring for feature update.
                    firstPartyApps:
                      description: The list of first party applications to test along
                        with user application.
                      type: array
                      x-ms-identifiers: []
                      items:
                        description: Properties of the definition of a first party
                          application of the Test Base package.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The media name of a first party application
                              of a Test Base Account.
                          architecture:
                            description: The architecture of a first party application
                              of a Test Base Account.
                            type: string
                            enum:
                            - x86
                            - x64
                            - arm64
                            x-ms-enum:
                              name: architecture
                              modelAsString: true
                          channel:
                            type: string
                            description: The channel info of a first party application
                              of a Test Base Account.
                          ring:
                            type: string
                            description: The ring info of a first party application
                              of a Test Base Account.
                          interopExecutionMode:
                            type: string
                            description: Specifies how the first party applications
                              should be inter-operated with user's application.
                            enum:
                            - firstPartyAppWithTests
                            - firstPartyApp
                            default: firstPartyAppWithTests
                            x-ms-enum:
                              name: interopExecutionMode
                              modelAsString: true
                              values:
                              - value: firstPartyAppWithTests
                                description: User application will test with the first
                                  party applications. For out-of-box tests, additional
                                  test cases for first party applications will also
                                  be run.
                              - value: firstPartyApp
                                description: User application will test with the first
                                  party applications.
                    galleryApps:
                      description: The list of gallery apps to test along with user
                        application.
                      type: array
                      x-ms-identifiers:
                      - skuId
                      items:
                        description: Properties of the definition of a gallery application
                          used in Test Base package.
                        type: object
                        properties:
                          skuId:
                            type: string
                            description: The SKU id of the gallery application.
                          isConsented:
                            type: boolean
                            description: Whether the disclaimer of the gallery application
                              is accepted.
                            default: false
                        required:
                        - skuId
                    tests:
                      type: array
                      items:
                        description: The definition of a Test.
                        type: object
                        properties:
                          testType:
                            description: The type of the test.
                            type: string
                            enum:
                            - OutOfBoxTest
                            - FunctionalTest
                            - FlowDrivenTest
                            x-ms-enum:
                              name: testType
                              modelAsString: true
                          validationRunStatus:
                            readOnly: true
                            type: string
                            description: The status of the validation run of the package.
                            enum:
                            - Unknown
                            - Pending
                            - Passed
                            - Failed
                            x-ms-enum:
                              name: validationRunStatus
                              modelAsString: true
                          validationResultId:
                            readOnly: true
                            type: string
                            description: Resource identifier of the validation test
                              result.
                          isActive:
                            type: boolean
                            description: Indicates if this test is active.It doesn't
                              schedule test for not active Test.
                          commands:
                            type: array
                            items:
                              description: The command used in the test
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the command.
                                action:
                                  type: string
                                  description: The action of the command.
                                  enum:
                                  - Install
                                  - Launch
                                  - Close
                                  - Uninstall
                                  - Custom
                                  - FlowDrivenCustom
                                  x-ms-enum:
                                    name: action
                                    modelAsString: true
                                contentType:
                                  type: string
                                  description: The type of command content.
                                  enum:
                                  - Inline
                                  - File
                                  - Path
                                  x-ms-enum:
                                    name: contentType
                                    modelAsString: true
                                content:
                                  type: string
                                  description: The content of the command. The content
                                    depends on source type.
                                runElevated:
                                  type: boolean
                                  description: Specifies whether to run the command
                                    as administrator.
                                restartAfter:
                                  type: boolean
                                  description: Specifies whether to restart the VM
                                    after the command executed.
                                maxRunTime:
                                  type: integer
                                  format: int32
                                  description: Specifies the max run time of the command.
                                runAsInteractive:
                                  type: boolean
                                  description: Specifies whether to run the command
                                    in interactive mode.
                                alwaysRun:
                                  type: boolean
                                  description: Specifies whether to run the command
                                    even if a previous command is failed.
                                applyUpdateBefore:
                                  type: boolean
                                  description: Specifies whether to apply update before
                                    the command.
                                install1PAppBefore:
                                  type: boolean
                                  description: Specifies whether to install first
                                    party applications before running the command.
                                preUpgrade:
                                  type: boolean
                                  description: Specifies whether the command is assigned
                                    to be executed before in-place upgrade.
                                postUpgrade:
                                  type: boolean
                                  description: Specifies whether the command is assigned
                                    to be executed after in-place upgrade.
                                enrollIntuneBefore:
                                  type: boolean
                                  description: Specifies whether to enroll Intune
                                    before the command.
                              required:
                              - name
                              - action
                              - contentType
                              - content
                            x-ms-identifiers: []
                            description: The commands used in the test.
                        required:
                        - testType
                        - commands
                      x-ms-identifiers: []
                      description: The detailed test information.
                    intuneEnrollmentMetadata:
                      description: The metadata of Intune enrollment.
                      type: object
                      properties:
                        appList:
                          type: array
                          items:
                            description: Metadata of the enrolled Intune app.
                            type: object
                            properties:
                              appName:
                                type: string
                                description: Intune app name.
                              appId:
                                type: string
                                description: Intune app id.
                              expectedInstallationPath:
                                type: string
                                description: Intune app expected installation path.
                            required:
                            - appName
                            - appId
                            - expectedInstallationPath
                          x-ms-identifiers: []
                          description: The enrolled Intune apps.
                        credentialId:
                          description: The id of the Intune enrollment credential.
                          type: string
                        expectedDeploymentDurationInMinute:
                          description: The expected duration of Intune applications
                            and policies deployment.
                          type: integer
                          format: int32
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a Test Base Draft Package.
        required: true
      responses:
        '200':
          description: The Test Base Draft Package was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Test Base Draft Package properties.
                    type: object
                    properties:
                      applicationName:
                        type: string
                        description: Application name
                      version:
                        type: string
                        description: Application version
                      draftPackagePath:
                        type: string
                        readOnly: true
                        description: The relative path of the folder hosting package
                          files.
                      workingPath:
                        type: string
                        readOnly: true
                        description: The relative path for a temporarily folder for
                          package creation work.
                      appFileName:
                        type: string
                        description: The name of the app file.
                      sourceType:
                        description: The source type.
                        default: Native
                        type: string
                        enum:
                        - Native
                        - IntuneWin
                        - TestBasePackage
                        - GalleryApp
                        - IntuneEnrollment
                        x-ms-enum:
                          name: draftPackageSourceType
                          modelAsString: true
                      useSample:
                        type: boolean
                        description: Specifies whether a sample package should be
                          used instead of the one uploaded by the user.
                      comments:
                        type: string
                        description: Comments added by user.
                      intuneMetadata:
                        type: object
                        description: Metadata used to generate draft package folder
                          and scripts.
                        properties:
                          intuneApp:
                            description: The Metadata of the Intune App through intunewin
                              file uploading.
                            type: object
                            properties:
                              appName:
                                type: string
                                description: Intune app name.
                              version:
                                type: string
                                description: Intune app version.
                              appId:
                                type: string
                                description: Intune app id.
                              publisher:
                                type: string
                                description: Publisher of the app.
                              description:
                                type: string
                                description: Description of the app.
                              owner:
                                type: string
                                description: Owner of the app.
                              createDate:
                                type: string
                                format: date-time
                                description: Creation date of the app.
                              dependentAppCount:
                                type: integer
                                format: int32
                                description: Count of dependency apps.
                              installCommand:
                                type: string
                                description: Install command.
                              uninstallCommand:
                                type: string
                                description: Uninstall command.
                              lastProcessed:
                                type: integer
                                format: int64
                                description: last processed time tickets.
                              dependencyIds:
                                type: array
                                items:
                                  type: string
                                description: Ids of dependency apps.
                              setupFile:
                                type: string
                                description: Setup file path.
                              minimumSupportedOS:
                                type: string
                                description: Minimum supported OS. The OS version
                                  must be greater than this version to run this app.
                              status:
                                enum:
                                - Ready
                                - Uploading
                                - UploadFailed
                                - ExtractFailed
                                - NoDependencyApp
                                type: string
                                x-ms-enum:
                                  name: intuneExtractStatus
                                  modelAsString: true
                                description: Extract status.
                              expectedExitCodes:
                                type: array
                                items:
                                  type: string
                                description: Expected exit codes returned from Intune
                                  App.
                          intuneAppDependencies:
                            type: array
                            items:
                              description: The Metadata of a single Intune App.
                              type: object
                              properties:
                                appName:
                                  type: string
                                  description: Intune app name.
                                version:
                                  type: string
                                  description: Intune app version.
                                appId:
                                  type: string
                                  description: Intune app id.
                                publisher:
                                  type: string
                                  description: Publisher of the app.
                                description:
                                  type: string
                                  description: Description of the app.
                                owner:
                                  type: string
                                  description: Owner of the app.
                                createDate:
                                  type: string
                                  format: date-time
                                  description: Creation date of the app.
                                dependentAppCount:
                                  type: integer
                                  format: int32
                                  description: Count of dependency apps.
                                installCommand:
                                  type: string
                                  description: Install command.
                                uninstallCommand:
                                  type: string
                                  description: Uninstall command.
                                lastProcessed:
                                  type: integer
                                  format: int64
                                  description: last processed time tickets.
                                dependencyIds:
                                  type: array
                                  items:
                                    type: string
                                  description: Ids of dependency apps.
                                setupFile:
                                  type: string
                                  description: Setup file path.
                                minimumSupportedOS:
                                  type: string
                                  description: Minimum supported OS. The OS version
                                    must be greater than this version to run this
                                    app.
                                status:
                                  enum:
                                  - Ready
                                  - Uploading
                                  - UploadFailed
                                  - ExtractFailed
                                  - NoDependencyApp
                                  type: string
                                  x-ms-enum:
                                    name: intuneExtractStatus
                                    modelAsString: true
                                  description: Extract status.
                                expectedExitCodes:
                                  type: array
                                  items:
                                    type: string
                                  description: Expected exit codes returned from Intune
                                    App.
                            x-ms-identifiers: []
                            description: The Metadata of dependencies of the Intune
                              App through intunewin file uploading.
                      highlightedFiles:
                        type: array
                        items:
                          description: The information of a highlighted file that
                            user should pay attention to.
                          type: object
                          properties:
                            path:
                              type: string
                              description: The path of the highlighted file.
                            visited:
                              type: boolean
                              description: A flag to save whether this file is viewed
                                by user.
                              default: false
                            sections:
                              type: array
                              items:
                                type: string
                              description: The name of sections to highlight.
                          required:
                          - path
                        x-ms-identifiers: []
                        description: The highlight files in the package.
                      packageTags:
                        description: Tags of the package to be created.
                        type: object
                        additionalProperties:
                          type: string
                      editPackage:
                        type: boolean
                        description: Specifies whether this draft package is used
                          to edit a package.
                        default: false
                      packageId:
                        type: string
                        description: Specifies the package id from which the draft
                          package copied.
                      useAutofill:
                        type: boolean
                        description: Indicates whether user choose to enable script
                          auto-fill.
                      executableLaunchCommand:
                        type: string
                        description: The executable launch command for script auto-fill.
                          Will be used to run the application.
                      processName:
                        type: string
                        description: The process name for script auto-fill. Will be
                          used to identify the application process.
                      tabState:
                        type: object
                        description: Tab state.
                        properties:
                          currentTab:
                            description: Current tab.
                            type: string
                            enum:
                            - Unspecified
                            - BasicsTab
                            - ConfigureTestTab
                            - EditPackageTab
                            - TestMatrixTab
                            - TagsTab
                            - ReviewAndCreateTab
                            x-ms-enum:
                              name: packageStudioTabs
                              modelAsString: true
                          visitedTabs:
                            type: array
                            items:
                              description: Specifies the tabs when creating / cloning
                                / editing a package.
                              type: string
                              enum:
                              - Unspecified
                              - BasicsTab
                              - ConfigureTestTab
                              - EditPackageTab
                              - TestMatrixTab
                              - TagsTab
                              - ReviewAndCreateTab
                              x-ms-enum:
                                name: packageStudioTabs
                                modelAsString: true
                            description: visited tabs.
                      testTypes:
                        type: array
                        items:
                          type: string
                          description: The test type.
                          enum:
                          - OutOfBoxTest
[...]
