openapi: 3.0.0
info:
  title: Test Base
  description: Test Base
  version: 2023-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/freeHourBalances
  : get:
      tags:
      - Free Hour Balances
      operationId: FreeHourBalances_List
      summary: List all the free hour balances of a test base account. The result
        collection will only contain one element as all the data will be nested in
        a singleton object.
      description: Return the Test Base free hour balances list.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Succeeded to list the Test Base free hour balances.
          content:
            application/json:
              schema:
                description: A list of Test Base Free Hour Balances. It will only
                  contain one element as all the data will be nested in a singleton
                  object.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a Free Hour Balance.
                          type: object
                          properties:
                            totalRemainingFreeHours:
                              type: number
                              format: double
                            incrementEntries:
                              type: array
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  freeHourType:
                                    type: string
                                    enum:
                                    - Permanent
                                    - Temporary
                                    x-ms-enum:
                                      name: freeHourType
                                      modelAsString: true
                                  freeHourStatus:
                                    type: string
                                    enum:
                                    - Enabled
                                    - Suspended
                                    x-ms-enum:
                                      name: freeHourStatus
                                      modelAsString: true
                                  createTimeStamp:
                                    type: string
                                    format: date-time
                                  expirationTimeStamp:
                                    type: string
                                    format: date-time
                                  incrementalFreeHours:
                                    type: number
                                    format: double
                                  remainingFreeHours:
                                    type: number
                                    format: double
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of FreeHourBalances.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/freeHourBalances/{freeHourBalanceName}
  : get:
      tags:
      - Free Hour Balances
      operationId: FreeHourBalances_Get
      summary: Get the free hour balance of a test base account.
      description: Return the Test Base free hour balance.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: freeHourBalanceName
        in: path
        required: true
        x-ms-enum:
          name: freeHourBalanceName
          modelAsString: true
        x-ms-parameter-location: method
        description: The name of the free hour balance of a Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z]+$
          enum:
          - TenantLevel
          - SubscriptionLevel
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Succeeded to get the Test Base free hour balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a Free Hour Balance.
                    type: object
                    properties:
                      totalRemainingFreeHours:
                        type: number
                        format: double
                      incrementEntries:
                        type: array
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            freeHourType:
                              type: string
                              enum:
                              - Permanent
                              - Temporary
                              x-ms-enum:
                                name: freeHourType
                                modelAsString: true
                            freeHourStatus:
                              type: string
                              enum:
                              - Enabled
                              - Suspended
                              x-ms-enum:
                                name: freeHourStatus
                                modelAsString: true
                            createTimeStamp:
                              type: string
                              format: date-time
                            expirationTimeStamp:
                              type: string
                              format: date-time
                            incrementalFreeHours:
                              type: number
                              format: double
                            remainingFreeHours:
                              type: number
                              format: double
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.TestBase/skus:
    get:
      tags:
      - test base account
      operationId: Skus_List
      description: Lists the available SKUs of Test Base Account in a subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                description: A list of Test Base Account SKUs.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      description: Describes a Test Base Account SKU.
                      type: object
                      properties:
                        resourceType:
                          type: string
                          description: The type of resource the SKU applies to.
                        name:
                          type: string
                          description: The name of the SKU. This is typically a letter
                            + number code, such as B0 or S0.
                        tier:
                          type: string
                          description: The tier of this particular SKU.
                          enum:
                          - Standard
                          x-ms-enum:
                            name: tier
                            modelAsString: true
                        capabilities:
                          type: array
                          description: The capabilities of a SKU.
                          readOnly: true
                          items:
                            description: Properties of the Test Base Account SKU Capability.
                            type: object
                            properties:
                              name:
                                type: string
                                description: An invariant to describe the feature,
                                  such as 'SLA'.
                              value:
                                type: string
                                description: An invariant if the feature is measured
                                  by quantity, such as 99.9%.
                            required:
                            - name
                            - value
                          x-ms-identifiers:
                          - name
                        locations:
                          description: The locations that the SKU is available.
                          uniqueItems: false
                          type: array
                          items:
                            type: string
                      required:
                      - name
                      - tier
                    x-ms-identifiers:
                    - name
                    description: The list of Test Base Account SKUs.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.TestBase/testBaseAccounts:
    get:
      tags:
      - Test Base Account
      operationId: TestBaseAccounts_ListBySubscription
      description: Lists all the Test Base Accounts in a subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: getDeleted
        in: query
        required: false
        x-ms-parameter-location: method
        description: The flag indicating if we need to include the Test Base Accounts
          which were soft deleted before.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                description: A list of Test Base Accounts.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a Test Base Account.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Cancelled
                              - Creating
                              - Deleting
                              - Updating
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            sku:
                              description: The SKU of the Test Base Account.
                              type: object
                              properties:
                                resourceType:
                                  type: string
                                  description: The type of resource the SKU applies
                                    to.
                                name:
                                  type: string
                                  description: The name of the SKU. This is typically
                                    a letter + number code, such as B0 or S0.
                                tier:
                                  type: string
                                  description: The tier of this particular SKU.
                                  enum:
                                  - Standard
                                  x-ms-enum:
                                    name: tier
                                    modelAsString: true
                                capabilities:
                                  type: array
                                  description: The capabilities of a SKU.
                                  readOnly: true
                                  items:
                                    description: Properties of the Test Base Account
                                      SKU Capability.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: An invariant to describe the
                                          feature, such as 'SLA'.
                                      value:
                                        type: string
                                        description: An invariant if the feature is
                                          measured by quantity, such as 99.9%.
                                    required:
                                    - name
                                    - value
                                  x-ms-identifiers:
                                  - name
                                locations:
                                  description: The locations that the SKU is available.
                                  uniqueItems: false
                                  type: array
                                  items:
                                    type: string
                              required:
                              - name
                              - tier
                            accessLevel:
                              description: The access level of the Test Base Account.
                              readOnly: true
                              type: string
                          required:
                          - sku
                        identity:
                          description: The identity of the testBaseAccount.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (either
                                system assigned, or none).
                              enum:
                              - None
                              - SystemAssigned
                              x-ms-enum:
                                name: SystemAssignedServiceIdentityType
                                modelAsString: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Test Base Accounts.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts:
    get:
      tags:
      - Test Base Account
      operationId: TestBaseAccounts_ListByResourceGroup
      description: Lists all the Test Base Accounts in a resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: getDeleted
        in: query
        required: false
        x-ms-parameter-location: method
        description: The flag indicating if we need to include the Test Base Accounts
          which were soft deleted before.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                description: A list of Test Base Accounts.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a Test Base Account.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Cancelled
                              - Creating
                              - Deleting
                              - Updating
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            sku:
                              description: The SKU of the Test Base Account.
                              type: object
                              properties:
                                resourceType:
                                  type: string
                                  description: The type of resource the SKU applies
                                    to.
                                name:
                                  type: string
                                  description: The name of the SKU. This is typically
                                    a letter + number code, such as B0 or S0.
                                tier:
                                  type: string
                                  description: The tier of this particular SKU.
                                  enum:
                                  - Standard
                                  x-ms-enum:
                                    name: tier
                                    modelAsString: true
                                capabilities:
                                  type: array
                                  description: The capabilities of a SKU.
                                  readOnly: true
                                  items:
                                    description: Properties of the Test Base Account
                                      SKU Capability.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: An invariant to describe the
                                          feature, such as 'SLA'.
                                      value:
                                        type: string
                                        description: An invariant if the feature is
                                          measured by quantity, such as 99.9%.
                                    required:
                                    - name
                                    - value
                                  x-ms-identifiers:
                                  - name
                                locations:
                                  description: The locations that the SKU is available.
                                  uniqueItems: false
                                  type: array
                                  items:
                                    type: string
                              required:
                              - name
                              - tier
                            accessLevel:
                              description: The access level of the Test Base Account.
                              readOnly: true
                              type: string
                          required:
                          - sku
                        identity:
                          description: The identity of the testBaseAccount.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (either
                                system assigned, or none).
                              enum:
                              - None
                              - SystemAssigned
                              x-ms-enum:
                                name: SystemAssignedServiceIdentityType
                                modelAsString: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of Test Base Accounts.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if value
                      contains incomplete list of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}
  : put:
      tags:
      - Test Base Account
      operationId: TestBaseAccounts_Create
      description: Create or replace (overwrite/recreate, with potential downtime)
        a Test Base Account in the specified subscription.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: restore
        in: query
        required: false
        x-ms-parameter-location: method
        description: The flag indicating if we would like to restore the Test Base
          Accounts which were soft deleted before.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Properties of a Test Base Account.
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Cancelled
                      - Creating
                      - Deleting
                      - Updating
                      readOnly: true
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                    sku:
                      description: The SKU of the Test Base Account.
                      type: object
                      properties:
                        resourceType:
                          type: string
                          description: The type of resource the SKU applies to.
                        name:
                          type: string
                          description: The name of the SKU. This is typically a letter
                            + number code, such as B0 or S0.
                        tier:
                          type: string
                          description: The tier of this particular SKU.
                          enum:
                          - Standard
                          x-ms-enum:
                            name: tier
                            modelAsString: true
                        capabilities:
                          type: array
                          description: The capabilities of a SKU.
                          readOnly: true
                          items:
                            description: Properties of the Test Base Account SKU Capability.
                            type: object
                            properties:
                              name:
                                type: string
                                description: An invariant to describe the feature,
                                  such as 'SLA'.
                              value:
                                type: string
                                description: An invariant if the feature is measured
                                  by quantity, such as 99.9%.
                            required:
                            - name
                            - value
                          x-ms-identifiers:
                          - name
                        locations:
                          description: The locations that the SKU is available.
                          uniqueItems: false
                          type: array
                          items:
                            type: string
                      required:
                      - name
                      - tier
                    accessLevel:
                      description: The access level of the Test Base Account.
                      readOnly: true
                      type: string
                  required:
                  - sku
                identity:
                  description: The identity of the testBaseAccount.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (either system
                        assigned, or none).
                      enum:
                      - None
                      - SystemAssigned
                      x-ms-enum:
                        name: SystemAssignedServiceIdentityType
                        modelAsString: true
                  required:
                  - type
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a Test Base Account.
        required: true
      responses:
        '200':
          description: The Test Base Account was successfully created or updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a Test Base Account.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      sku:
                        description: The SKU of the Test Base Account.
                        type: object
                        properties:
                          resourceType:
                            type: string
                            description: The type of resource the SKU applies to.
                          name:
                            type: string
                            description: The name of the SKU. This is typically a
                              letter + number code, such as B0 or S0.
                          tier:
                            type: string
                            description: The tier of this particular SKU.
                            enum:
                            - Standard
                            x-ms-enum:
                              name: tier
                              modelAsString: true
                          capabilities:
                            type: array
                            description: The capabilities of a SKU.
                            readOnly: true
                            items:
                              description: Properties of the Test Base Account SKU
                                Capability.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: An invariant to describe the feature,
                                    such as 'SLA'.
                                value:
                                  type: string
                                  description: An invariant if the feature is measured
                                    by quantity, such as 99.9%.
                              required:
                              - name
                              - value
                            x-ms-identifiers:
                            - name
                          locations:
                            description: The locations that the SKU is available.
                            uniqueItems: false
                            type: array
                            items:
                              type: string
                        required:
                        - name
                        - tier
                      accessLevel:
                        description: The access level of the Test Base Account.
                        readOnly: true
                        type: string
                    required:
                    - sku
                  identity:
                    description: The identity of the testBaseAccount.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (either system
                          assigned, or none).
                        enum:
                        - None
                        - SystemAssigned
                        x-ms-enum:
                          name: SystemAssignedServiceIdentityType
                          modelAsString: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The Test Base Account 'create' or 'update' operation was successfully
            enqueued. Check provisioningState to see detailed status.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a Test Base Account.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Creating
                        - Deleting
                        - Updating
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      sku:
                        description: The SKU of the Test Base Account.
                        type: object
                        properties:
                          resourceType:
                            type: string
                            description: The type of resource the SKU applies to.
                          name:
                            type: string
                            description: The name of the SKU. This is typically a
                              letter + number code, such as B0 or S0.
                          tier:
                            type: string
                            description: The tier of this particular SKU.
                            enum:
                            - Standard
                            x-ms-enum:
                              name: tier
                              modelAsString: true
                          capabilities:
                            type: array
                            description: The capabilities of a SKU.
                            readOnly: true
                            items:
                              description: Properties of the Test Base Account SKU
                                Capability.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: An invariant to describe the feature,
                                    such as 'SLA'.
                                value:
                                  type: string
                                  description: An invariant if the feature is measured
                                    by quantity, such as 99.9%.
                              required:
                              - name
                              - value
                            x-ms-identifiers:
                            - name
                          locations:
                            description: The locations that the SKU is available.
                            uniqueItems: false
                            type: array
                            items:
                              type: string
                        required:
                        - name
                        - tier
                      accessLevel:
                        description: The access level of the Test Base Account.
                        readOnly: true
                        type: string
                    required:
                    - sku
                  identity:
                    description: The identity of the testBaseAccount.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (either system
                          assigned, or none).
                        enum:
                        - None
                        - SystemAssigned
                        x-ms-enum:
                          name: SystemAssignedServiceIdentityType
                          modelAsString: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Test Base Account
      operationId: TestBaseAccounts_Update
      description: Update an existing Test Base Account.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: testBaseAccountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of the Test Base Account.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters supplied to update a Test Base Account.
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Test Base Account update parameters.
                  type: object
                  properties:
                    sku:
                      description: The SKU of the Test Base Account.
                      type: object
                      properties:
                        resourceType:
                          type: string
                          description: The type of resource the SKU applies to.
                        name:
                          type: string
                          description: The name of the SKU. This is typically a letter
                            + number code, such as B0 or S0.
                        tier:
[...]
