openapi: 3.0.0
info:
  version: 2020-01-01
  title: MariaDBManagementClient
  description: The Microsoft Azure management API provides create, read, update, and
    delete functionality for Azure MariaDB resources including servers, databases,
    firewall rules, VNET rules, security alert policies, log files, encryption keys,
    active directory administrator and configurations.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/start
  : post:
      tags:
      - ServerStart
      operationId: Servers_Start
      description: Starts a stopped server.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Error message
                    title: Error Response
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response from the Batch service.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/stop
  : post:
      tags:
      - ServerStop
      operationId: Servers_Stop
      description: Stops a running server.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Error message
                    title: Error Response
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response from the Batch service.
      x-ms-long-running-operation: true
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Error message
          title: Error Response
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                title: Error Response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.)
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      title: Error Response
                      description: Common error response for all Azure Resource Manager
                        APIs to return error details for failed operations. (This
                        also follows the OData error response format.)
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
      description: An error response from the Batch service.
    ErrorResponse:
      title: Error Response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.)
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            title: Error Response
            description: Common error response for all Azure Resource Manager APIs
              to return error details for failed operations. (This also follows the
              OData error response format.)
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  title: Error Response
                  description: Common error response for all Azure Resource Manager
                    APIs to return error details for failed operations. (This also
                    follows the OData error response format.)
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
