openapi: 3.0.0
info:
  title: Azure Machine Learning Services
  description: These APIs allow end users to operate on Azure Machine Learning Workspace
    resources.
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages:
    get:
      tags:
      - Usage
      operationId: Usages_List
      description: Gets the current usage information as well as limits for AML resources
        for given subscription and location.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        description: The location for which resource usage is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Specifies the resource ID.
                        amlWorkspaceLocation:
                          readOnly: true
                          type: string
                          description: Region of the AML workspace in the id.
                        type:
                          readOnly: true
                          type: string
                          description: Specifies the resource type.
                        unit:
                          readOnly: true
                          type: string
                          description: An enum describing the unit of usage measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: UsageUnit
                            modelAsString: true
                        currentValue:
                          readOnly: true
                          type: integer
                          format: int64
                          description: The current usage of the resource.
                        limit:
                          readOnly: true
                          type: integer
                          format: int64
                          description: The maximum permitted usage of the resource.
                        name:
                          readOnly: true
                          description: The name of the type of usage.
                          type: object
                          properties:
                            value:
                              readOnly: true
                              type: string
                              description: The name of the resource.
                            localizedValue:
                              readOnly: true
                              type: string
                              description: The localized name of the resource.
                      description: Describes AML Resource Usage.
                    description: The list of AML resource usages.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URI to fetch the next page of AML resource usage
                      information. Call ListNext() with this to fetch the next page
                      of AML resource usage information.
                description: The List Usages operation response.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes:
    get:
      tags:
      - VirtualMachineSizes
      operationId: VirtualMachineSizes_List
      description: Returns supported VM Sizes in a location
      parameters:
      - name: location
        in: path
        required: true
        description: The location upon which virtual-machine-sizes is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          title: Virtual Machine size name
                          description: The name of the virtual machine size.
                          readOnly: true
                        family:
                          type: string
                          title: Virtual Machine family name
                          description: The family name of the virtual machine size.
                          readOnly: true
                        vCPUs:
                          type: integer
                          format: int32
                          title: Number of vPUs
                          description: The number of vCPUs supported by the virtual
                            machine size.
                          readOnly: true
                        gpus:
                          type: integer
                          format: int32
                          title: Number of gPUs
                          description: The number of gPUs supported by the virtual
                            machine size.
                          readOnly: true
                        osVhdSizeMB:
                          type: integer
                          format: int32
                          title: OS VHD Disk size
                          description: The OS VHD disk size, in MB, allowed by the
                            virtual machine size.
                          readOnly: true
                        maxResourceVolumeMB:
                          type: integer
                          format: int32
                          title: Resource volume size
                          description: The resource volume size, in MB, allowed by
                            the virtual machine size.
                          readOnly: true
                        memoryGB:
                          type: number
                          format: double
                          title: Memory size
                          description: The amount of memory, in GB, supported by the
                            virtual machine size.
                          readOnly: true
                        lowPriorityCapable:
                          type: boolean
                          title: Low priority capable
                          description: Specifies if the virtual machine size supports
                            low priority VMs.
                          readOnly: true
                        premiumIO:
                          type: boolean
                          title: Premium IO supported
                          description: Specifies if the virtual machine size supports
                            premium IO.
                          readOnly: true
                        estimatedVMPrices:
                          title: Estimated VM prices
                          description: The estimated price information for using a
                            VM.
                          type: object
                          properties:
                            billingCurrency:
                              type: string
                              title: Billing currency
                              description: 'Three lettered code specifying the currency
                                of the VM price. Example: USD'
                              enum:
                              - USD
                              x-ms-enum:
                                name: BillingCurrency
                                modelAsString: true
                            unitOfMeasure:
                              type: string
                              title: Unit of time measure
                              description: 'The unit of time measurement for the specified
                                VM price. Example: OneHour'
                              enum:
                              - OneHour
                              x-ms-enum:
                                name: UnitOfMeasure
                                modelAsString: true
                            values:
                              type: array
                              items:
                                type: object
                                properties:
                                  retailPrice:
                                    type: number
                                    format: double
                                    title: Retail price
                                    description: The price charged for using the VM.
                                  osType:
                                    type: string
                                    title: OS type
                                    description: Operating system type used by the
                                      VM.
                                    enum:
                                    - Linux
                                    - Windows
                                    x-ms-enum:
                                      name: VMPriceOSType
                                      modelAsString: true
                                  vmTier:
                                    type: string
                                    title: VM tier
                                    description: The type of the VM.
                                    enum:
                                    - Standard
                                    - LowPriority
                                    - Spot
                                    x-ms-enum:
                                      name: VMTier
                                      modelAsString: true
                                required:
                                - retailPrice
                                - osType
                                - vmTier
                                description: The estimated price info for using a
                                  VM of a particular OS type, tier, etc.
                              x-ms-identifiers: []
                              title: List of estimated VM prices.
                              description: The list of estimated prices for using
                                a VM of a particular OS type, tier, etc.
                          required:
                          - billingCurrency
                          - unitOfMeasure
                          - values
                        supportedComputeTypes:
                          type: array
                          items:
                            type: string
                          title: Supported Compute Types
                          description: Specifies the compute types supported by the
                            virtual machine size.
                      description: Describes the properties of a VM size.
                    x-ms-identifiers:
                    - name
                    description: The list of virtual machine sizes supported by AmlCompute.
                description: The List Virtual Machine size operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas:
    post:
      tags:
      - Quota
      operationId: Quotas_Update
      description: Update quota for each VM family in workspace.
      parameters:
      - name: location
        in: path
        required: true
        description: The location for update quota is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: The list for update quota.
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Specifies the resource ID.
                      type:
                        type: string
                        description: Specifies the resource type.
                      limit:
                        type: integer
                        format: int64
                        title: Limit.
                        description: The maximum permitted quota of the resource.
                      unit:
                        type: string
                        description: An enum describing the unit of quota measurement.
                        enum:
                        - Count
                        x-ms-enum:
                          name: QuotaUnit
                          modelAsString: true
                    description: The properties for Quota update or retrieval.
                location:
                  description: Region of workspace quota to be updated.
                  type: string
              description: Quota update parameters.
        description: Quota update parameters.
        required: true
      responses:
        '200':
          description: The operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    description: The list of workspace quota update result.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Specifies the resource ID.
                        type:
                          readOnly: true
                          type: string
                          description: Specifies the resource type.
                        limit:
                          type: integer
                          format: int64
                          title: Limit.
                          description: The maximum permitted quota of the resource.
                        unit:
                          readOnly: true
                          type: string
                          description: An enum describing the unit of quota measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: QuotaUnit
                            modelAsString: true
                        status:
                          type: string
                          readOnly: false
                          title: Update Workspace Quota Status.
                          description: Status of update workspace quota.
                          enum:
                          - Undefined
                          - Success
                          - Failure
                          - InvalidQuotaBelowClusterMinimum
                          - InvalidQuotaExceedsSubscriptionLimit
                          - InvalidVMFamilyName
                          - OperationNotSupportedForSku
                          - OperationNotEnabledForRegion
                          x-ms-enum:
                            name: status
                            modelAsString: true
                      description: The properties for update Quota response.
                    readOnly: true
                    type: array
                  nextLink:
                    description: The URI to fetch the next page of workspace quota
                      update result. Call ListNext() with this to fetch the next page
                      of Workspace Quota update result.
                    readOnly: true
                    type: string
                description: The result of update workspace quota.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/quotas:
    get:
      tags:
      - Quota
      operationId: Quotas_List
      description: Gets the currently assigned Workspace Quotas based on VMFamily.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        description: The location for which resource usage is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    description: The list of Workspace Quotas by VM Family
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Specifies the resource ID.
                        amlWorkspaceLocation:
                          readOnly: true
                          type: string
                          description: Region of the AML workspace in the id.
                        type:
                          readOnly: true
                          type: string
                          description: Specifies the resource type.
                        name:
                          description: Name of the resource.
                          readOnly: true
                          type: object
                          properties:
                            value:
                              readOnly: true
                              type: string
                              description: The name of the resource.
                            localizedValue:
                              readOnly: true
                              type: string
                              description: The localized name of the resource.
                        limit:
                          readOnly: true
                          type: integer
                          format: int64
                          title: Limit.
                          description: The maximum permitted quota of the resource.
                        unit:
                          readOnly: true
                          type: string
                          description: An enum describing the unit of quota measurement.
                          enum:
                          - Count
                          x-ms-enum:
                            name: QuotaUnit
                            modelAsString: true
                      description: The quota assigned to a resource.
                    readOnly: true
                    type: array
                  nextLink:
                    description: The URI to fetch the next page of workspace quota
                      information by VM Family. Call ListNext() with this to fetch
                      the next page of Workspace Quota information.
                    readOnly: true
                    type: string
                description: The List WorkspaceQuotasByVMFamily operation response.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes
  : get:
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      x-ms-pageable:
        nextLinkName: nextLink
      operationId: Compute_List
      description: Gets computes in specified workspace.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        description: Name of Azure Machine Learning workspace.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: $skip
        description: Continuation token for pagination.
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The response includes a paginated array of Machine Learning
            computes and a URI to the next set of results, if any. For the more information
            the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
          content:
            application/json:
              schema:
                type: object
                description: Paginated list of Machine Learning compute objects wrapped
                  in ARM resource envelope.
                properties:
                  value:
                    type: array
                    description: An array of Machine Learning compute objects wrapped
                      in ARM resource envelope.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Compute properties
                          type: object
                          discriminator:
                            propertyName: computeType
                          properties:
                            computeType:
                              description: The type of compute
                              type: string
                              enum:
                              - AKS
                              - Kubernetes
                              - AmlCompute
                              - ComputeInstance
                              - DataFactory
                              - VirtualMachine
                              - HDInsight
                              - Databricks
                              - DataLakeAnalytics
                              - SynapseSpark
                              x-ms-enum:
                                name: ComputeType
                                modelAsString: true
                            computeLocation:
                              description: Location for the underlying compute
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            provisioningState:
                              type: string
                              description: The provision state of the cluster. Valid
                                values are Unknown, Updating, Provisioning, Succeeded,
                                and Failed.
                              enum:
                              - Unknown
                              - Updating
                              - Creating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            description:
                              type: string
                              description: The description of the Machine Learning
                                compute.
                              nullable: true
                            createdOn:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The time at which the compute was created.
                            modifiedOn:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The time at which the compute was last
                                modified.
                            resourceId:
                              type: string
                              description: ARM resource id of the underlying compute
                              nullable: true
                            provisioningErrors:
                              type: array
                              description: Errors during provisioning
                              items:
                                type: object
                                title: Error response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.).
                                properties:
                                  error:
                                    description: The error object.
                                    type: object
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                            details:
                                              type: array
                                              description: The error details.
                                              items:
                                                type: object
                                                description: The error detail.
                                                properties:
                                                  code:
                                                    type: string
                                                    description: The error code.
                                                    readOnly: true
                                                  message:
                                                    type: string
                                                    description: The error message.
                                                    readOnly: true
                                                  target:
                                                    type: string
                                                    description: The error target.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers:
                                              - message
                                              - target
                                            additionalInfo:
                                              type: array
                                              description: The error additional info.
                                              items:
                                                type: object
                                                description: The resource management
                                                  error additional info.
                                                properties:
                                                  type:
                                                    type: string
                                                    description: The additional info
                                                      type.
                                                    readOnly: true
                                                  info:
                                                    type: object
                                                    description: The additional info.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers: []
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                              x-ms-identifiers:
                              - /error/code
                              readOnly: true
                              nullable: true
                            isAttachedCompute:
                              type: boolean
                              description: Indicating whether the compute was provisioned
                                by user and brought from outside if true, or machine
                                learning service provisioned it if false.
                              readOnly: true
                            disableLocalAuth:
                              type: boolean
                              description: Opt-out of local authentication and ensure
                                customers can use only MSI and AAD exclusively for
                                authentication.
                              x-ms-mutability:
                              - read
                              - create
                          required:
                          - computeType
                        identity:
                          description: The identity of the resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        location:
                          description: Specifies the location of the resource.
                          type: string
                        tags:
                          description: Contains resource tags defined as key/value
                            pairs.
                          type: object
                          additionalProperties:
                            type: string
                          nullable: true
                        sku:
                          description: The sku of the workspace.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                          nullable: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: A continuation link (absolute URI) to the next page
                      of results in the list.
        default:
          description: Error response describing why the request failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}
  : get:
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      operationId: Compute_Get
      description: Gets compute definition by its name. Any secrets (storage keys,
        service credentials, etc) are not returned - use 'keys' nested resource to
        get them.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        description: Name of Azure Machine Learning workspace.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
      - name: computeName
        description: Name of the Azure Machine Learning compute.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Compute properties
                    type: object
                    discriminator:
                      propertyName: computeType
                    properties:
                      computeType:
                        description: The type of compute
                        type: string
                        enum:
                        - AKS
                        - Kubernetes
                        - AmlCompute
                        - ComputeInstance
                        - DataFactory
                        - VirtualMachine
                        - HDInsight
                        - Databricks
                        - DataLakeAnalytics
                        - SynapseSpark
                        x-ms-enum:
                          name: ComputeType
                          modelAsString: true
                      computeLocation:
                        description: Location for the underlying compute
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      provisioningState:
                        type: string
                        description: The provision state of the cluster. Valid values
                          are Unknown, Updating, Provisioning, Succeeded, and Failed.
                        enum:
                        - Unknown
                        - Updating
                        - Creating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      description:
                        type: string
                        description: The description of the Machine Learning compute.
                        nullable: true
                      createdOn:
                        type: string
                        readOnly: true
                        format: date-time
                        description: The time at which the compute was created.
                      modifiedOn:
                        type: string
                        readOnly: true
                        format: date-time
                        description: The time at which the compute was last modified.
                      resourceId:
                        type: string
                        description: ARM resource id of the underlying compute
                        nullable: true
                      provisioningErrors:
                        type: array
                        description: Errors during provisioning
                        items:
                          type: object
                          title: Error response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.).
                          properties:
                            error:
                              description: The error object.
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                        x-ms-identifiers:
                        - /error/code
                        readOnly: true
                        nullable: true
                      isAttachedCompute:
                        type: boolean
                        description: Indicating whether the compute was provisioned
                          by user and brought from outside if true, or machine learning
                          service provisioned it if false.
                        readOnly: true
                      disableLocalAuth:
                        type: boolean
                        description: Opt-out of local authentication and ensure customers
                          can use only MSI and AAD exclusively for authentication.
                        x-ms-mutability:
                        - read
                        - create
                    required:
                    - computeType
                  identity:
                    description: The identity of the resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                    nullable: true
                  sku:
                    description: The sku of the workspace.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                    nullable: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the request failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - OperationalizationClusters
      - MachineLearningComputes
      operationId: Compute_CreateOrUpdate
      description: Creates or updates compute. This call will overwrite a compute
        if it exists. This is a nonrecoverable operation. If your intent is to create
        a new compute, do a GET first to verify that it does not exist yet.
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        description: Name of Azure Machine Learning workspace.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
      - name: computeName
        description: Name of the Azure Machine Learning compute.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Compute properties
                  type: object
                  discriminator:
                    propertyName: computeType
                  properties:
                    computeType:
                      description: The type of compute
                      type: string
                      enum:
                      - AKS
                      - Kubernetes
                      - AmlCompute
                      - ComputeInstance
                      - DataFactory
                      - VirtualMachine
                      - HDInsight
                      - Databricks
                      - DataLakeAnalytics
                      - SynapseSpark
                      x-ms-enum:
                        name: ComputeType
                        modelAsString: true
                    computeLocation:
                      description: Location for the underlying compute
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    provisioningState:
                      type: string
                      description: The provision state of the cluster. Valid values
                        are Unknown, Updating, Provisioning, Succeeded, and Failed.
                      enum:
                      - Unknown
                      - Updating
                      - Creating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    description:
                      type: string
                      description: The description of the Machine Learning compute.
                      nullable: true
                    createdOn:
                      type: string
                      readOnly: true
                      format: date-time
                      description: The time at which the compute was created.
                    modifiedOn:
                      type: string
                      readOnly: true
                      format: date-time
                      description: The time at which the compute was last modified.
                    resourceId:
                      type: string
                      description: ARM resource id of the underlying compute
                      nullable: true
                    provisioningErrors:
                      type: array
                      description: Errors during provisioning
                      items:
                        type: object
                        title: Error response
[...]
