openapi: 3.0.0
info:
  title: Azure Machine Learning Services
  version: 2025-06-01
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/registries:
    get:
      tags:
      - RegistryManagement
      summary: List registries by subscription
      operationId: Registries_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: A paginated list of Registry entities.
                type: object
                properties:
                  nextLink:
                    description: The link to the next page of Registry objects. If
                      null, there are no additional pages.
                    type: string
                  value:
                    description: An array of objects of type Registry.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        kind:
                          description: Metadata used by portal/tooling/etc to render
                            different UX experiences for resources of the same type.
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: '[Required] Additional attributes of the entity.'
                          type: object
                          properties:
                            discoveryUrl:
                              description: Discovery URL for the Registry
                              type: string
                              nullable: true
                            intellectualPropertyPublisher:
                              description: IntellectualPropertyPublisher for the registry
                              type: string
                              nullable: true
                            managedResourceGroup:
                              description: ResourceId of the managed RG if the registry
                                has system created resources
                              type: object
                              properties:
                                resourceId:
                                  description: "Arm ResourceId is in the format \"\
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                  type: string
                                  nullable: true
                              additionalProperties: false
                              nullable: true
                            managedResourceGroupSettings:
                              description: Managed resource group specific settings
                              type: object
                              properties:
                                assignedIdentities:
                                  description: List of assigned identities for the
                                    managed resource group
                                  type: array
                                  items:
                                    description: Details for managed resource group
                                      assigned identities.
                                    type: object
                                    properties:
                                      principalId:
                                        description: Identity principal Id
                                        type: string
                                        readOnly: true
                                        nullable: false
                                    additionalProperties: false
                                  x-ms-identifiers: []
                                  nullable: true
                              additionalProperties: false
                              nullable: true
                            mlFlowRegistryUri:
                              description: MLFlow Registry URI for the Registry
                              type: string
                              nullable: true
                            registryPrivateEndpointConnections:
                              description: Private endpoint connections info used
                                for pending connections in private link portal
                              type: array
                              items:
                                description: Private endpoint connection definition.
                                type: object
                                properties:
                                  id:
                                    description: "This is the private endpoint connection\
                                      \ name created on SRP\r\nFull resource id: /subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.MachineLearningServices/{resourceType}/{resourceName}/registryPrivateEndpointConnections/{peConnectionName}"
                                    type: string
                                    nullable: true
                                  location:
                                    description: Same as workspace location.
                                    type: string
                                    x-ms-mutability:
                                    - create
                                    - read
                                    nullable: true
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Properties of the Private Endpoint
                                      Connection
                                    type: object
                                    properties:
                                      groupIds:
                                        description: The group ids
                                        type: array
                                        items:
                                          type: string
                                        nullable: true
                                      privateEndpoint:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                          subnetArmId:
                                            description: The subnetId that the private
                                              endpoint is connected to.
                                            type: string
                                            nullable: true
                                        description: The Private Endpoint resource.
                                        additionalProperties: false
                                        nullable: true
                                      registryPrivateLinkServiceConnectionState:
                                        description: The connection state.
                                        type: object
                                        properties:
                                          actionsRequired:
                                            description: Some RP chose "None". Other
                                              RPs use this for region expansion.
                                            type: string
                                            nullable: true
                                          description:
                                            description: User-defined message that,
                                              per NRP doc, may be used for approval-related
                                              message.
                                            type: string
                                            nullable: true
                                          status:
                                            description: Connection status of the
                                              service consumer with the service provider
                                            enum:
                                            - Approved
                                            - Pending
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: EndpointServiceConnectionStatus
                                              modelAsString: true
                                            additionalProperties: false
                                        additionalProperties: false
                                        nullable: true
                                      provisioningState:
                                        description: One of null, "Succeeded", "Provisioning",
                                          "Failed". While not approved, it's null.
                                        type: string
                                        nullable: true
                                    additionalProperties: false
                                    nullable: true
                                additionalProperties: false
                              nullable: true
                            publicNetworkAccess:
                              description: "Is the Registry accessible from the internet?\r\
                                \nPossible values: \"Enabled\" or \"Disabled\""
                              type: string
                              nullable: true
                            regionDetails:
                              description: Details of each region the registry is
                                in
                              type: array
                              items:
                                description: Details for each region the registry
                                  is in
                                type: object
                                properties:
                                  acrDetails:
                                    description: List of ACR accounts
                                    type: array
                                    items:
                                      description: Details of ACR account to be used
                                        for the Registry
                                      type: object
                                      properties:
                                        systemCreatedAcrAccount:
                                          description: Details of system created ACR
                                            account to be used for the Registry
                                          type: object
                                          properties:
                                            acrAccountName:
                                              description: Name of the ACR account
                                              type: string
                                              nullable: true
                                            acrAccountSku:
                                              description: SKU of the ACR account
                                              type: string
                                              nullable: true
                                            armResourceId:
                                              description: This is populated once
                                                the ACR account is created.
                                              type: object
                                              properties:
                                                resourceId:
                                                  description: "Arm ResourceId is\
                                                    \ in the format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                                  type: string
                                                  nullable: true
                                              additionalProperties: false
                                              nullable: true
                                          additionalProperties: false
                                          nullable: true
                                      additionalProperties: false
                                    x-ms-identifiers: []
                                    nullable: true
                                  location:
                                    description: The location where the registry exists
                                    type: string
                                    nullable: true
                                  storageAccountDetails:
                                    description: List of storage accounts
                                    type: array
                                    items:
                                      description: Details of storage account to be
                                        used for the Registry
                                      type: object
                                      properties:
                                        systemCreatedStorageAccount:
                                          description: Details of system created storage
                                            account to be used for the registry
                                          type: object
                                          properties:
                                            allowBlobPublicAccess:
                                              description: Public blob access allowed
                                              type: boolean
                                            armResourceId:
                                              description: This is populated once
                                                the storage account is created.
                                              type: object
                                              properties:
                                                resourceId:
                                                  description: "Arm ResourceId is\
                                                    \ in the format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                                  type: string
                                                  nullable: true
                                              additionalProperties: false
                                              nullable: true
                                            storageAccountHnsEnabled:
                                              description: HNS enabled for storage
                                                account
                                              type: boolean
                                            storageAccountName:
                                              description: Name of the storage account
                                              type: string
                                              nullable: true
                                            storageAccountType:
                                              description: "Allowed values:\r\n\"\
                                                Standard_LRS\",\r\n\"Standard_GRS\"\
                                                ,\r\n\"Standard_RAGRS\",\r\n\"Standard_ZRS\"\
                                                ,\r\n\"Standard_GZRS\",\r\n\"Standard_RAGZRS\"\
                                                ,\r\n\"Premium_LRS\",\r\n\"Premium_ZRS\""
                                              type: string
                                              nullable: true
                                          additionalProperties: false
                                          nullable: true
                                      additionalProperties: false
                                    x-ms-identifiers: []
                                    nullable: true
                                additionalProperties: false
                              x-ms-identifiers: []
                              nullable: true
                          x-ms-client-name: RegistryProperties
                          additionalProperties: false
                        sku:
                          description: Sku details required for ARM contract for Autoscaling.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      additionalProperties: false
                      x-ms-client-name: Registry
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries:
    get:
      tags:
      - RegistryManagement
      summary: List registries
      operationId: Registries_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: A paginated list of Registry entities.
                type: object
                properties:
                  nextLink:
                    description: The link to the next page of Registry objects. If
                      null, there are no additional pages.
                    type: string
                  value:
                    description: An array of objects of type Registry.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        kind:
                          description: Metadata used by portal/tooling/etc to render
                            different UX experiences for resources of the same type.
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: '[Required] Additional attributes of the entity.'
                          type: object
                          properties:
                            discoveryUrl:
                              description: Discovery URL for the Registry
                              type: string
                              nullable: true
                            intellectualPropertyPublisher:
                              description: IntellectualPropertyPublisher for the registry
                              type: string
                              nullable: true
                            managedResourceGroup:
                              description: ResourceId of the managed RG if the registry
                                has system created resources
                              type: object
                              properties:
                                resourceId:
                                  description: "Arm ResourceId is in the format \"\
                                    /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                  type: string
                                  nullable: true
                              additionalProperties: false
                              nullable: true
                            managedResourceGroupSettings:
                              description: Managed resource group specific settings
                              type: object
                              properties:
                                assignedIdentities:
                                  description: List of assigned identities for the
                                    managed resource group
                                  type: array
                                  items:
                                    description: Details for managed resource group
                                      assigned identities.
                                    type: object
                                    properties:
                                      principalId:
                                        description: Identity principal Id
                                        type: string
                                        readOnly: true
                                        nullable: false
                                    additionalProperties: false
                                  x-ms-identifiers: []
                                  nullable: true
                              additionalProperties: false
                              nullable: true
                            mlFlowRegistryUri:
                              description: MLFlow Registry URI for the Registry
                              type: string
                              nullable: true
                            registryPrivateEndpointConnections:
                              description: Private endpoint connections info used
                                for pending connections in private link portal
                              type: array
                              items:
                                description: Private endpoint connection definition.
                                type: object
                                properties:
                                  id:
                                    description: "This is the private endpoint connection\
                                      \ name created on SRP\r\nFull resource id: /subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.MachineLearningServices/{resourceType}/{resourceName}/registryPrivateEndpointConnections/{peConnectionName}"
                                    type: string
                                    nullable: true
                                  location:
                                    description: Same as workspace location.
                                    type: string
                                    x-ms-mutability:
                                    - create
                                    - read
                                    nullable: true
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Properties of the Private Endpoint
                                      Connection
                                    type: object
                                    properties:
                                      groupIds:
                                        description: The group ids
                                        type: array
                                        items:
                                          type: string
                                        nullable: true
                                      privateEndpoint:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for Private
                                              Endpoint
                                            readOnly: true
                                          subnetArmId:
                                            description: The subnetId that the private
                                              endpoint is connected to.
                                            type: string
                                            nullable: true
                                        description: The Private Endpoint resource.
                                        additionalProperties: false
                                        nullable: true
                                      registryPrivateLinkServiceConnectionState:
                                        description: The connection state.
                                        type: object
                                        properties:
                                          actionsRequired:
                                            description: Some RP chose "None". Other
                                              RPs use this for region expansion.
                                            type: string
                                            nullable: true
                                          description:
                                            description: User-defined message that,
                                              per NRP doc, may be used for approval-related
                                              message.
                                            type: string
                                            nullable: true
                                          status:
                                            description: Connection status of the
                                              service consumer with the service provider
                                            enum:
                                            - Approved
                                            - Pending
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: EndpointServiceConnectionStatus
                                              modelAsString: true
                                            additionalProperties: false
                                        additionalProperties: false
                                        nullable: true
                                      provisioningState:
                                        description: One of null, "Succeeded", "Provisioning",
                                          "Failed". While not approved, it's null.
                                        type: string
                                        nullable: true
                                    additionalProperties: false
                                    nullable: true
                                additionalProperties: false
                              nullable: true
                            publicNetworkAccess:
                              description: "Is the Registry accessible from the internet?\r\
                                \nPossible values: \"Enabled\" or \"Disabled\""
                              type: string
                              nullable: true
                            regionDetails:
                              description: Details of each region the registry is
                                in
                              type: array
                              items:
                                description: Details for each region the registry
                                  is in
                                type: object
                                properties:
                                  acrDetails:
                                    description: List of ACR accounts
                                    type: array
                                    items:
                                      description: Details of ACR account to be used
                                        for the Registry
                                      type: object
                                      properties:
                                        systemCreatedAcrAccount:
                                          description: Details of system created ACR
                                            account to be used for the Registry
                                          type: object
                                          properties:
                                            acrAccountName:
                                              description: Name of the ACR account
                                              type: string
                                              nullable: true
                                            acrAccountSku:
                                              description: SKU of the ACR account
                                              type: string
                                              nullable: true
                                            armResourceId:
                                              description: This is populated once
                                                the ACR account is created.
                                              type: object
                                              properties:
                                                resourceId:
                                                  description: "Arm ResourceId is\
                                                    \ in the format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                                  type: string
                                                  nullable: true
                                              additionalProperties: false
                                              nullable: true
                                          additionalProperties: false
                                          nullable: true
                                      additionalProperties: false
                                    x-ms-identifiers: []
                                    nullable: true
                                  location:
                                    description: The location where the registry exists
                                    type: string
                                    nullable: true
                                  storageAccountDetails:
                                    description: List of storage accounts
                                    type: array
                                    items:
                                      description: Details of storage account to be
                                        used for the Registry
                                      type: object
                                      properties:
                                        systemCreatedStorageAccount:
                                          description: Details of system created storage
                                            account to be used for the registry
                                          type: object
                                          properties:
                                            allowBlobPublicAccess:
                                              description: Public blob access allowed
                                              type: boolean
                                            armResourceId:
                                              description: This is populated once
                                                the storage account is created.
                                              type: object
                                              properties:
                                                resourceId:
                                                  description: "Arm ResourceId is\
                                                    \ in the format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                                    \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                                  type: string
                                                  nullable: true
                                              additionalProperties: false
                                              nullable: true
                                            storageAccountHnsEnabled:
                                              description: HNS enabled for storage
                                                account
                                              type: boolean
                                            storageAccountName:
                                              description: Name of the storage account
                                              type: string
                                              nullable: true
                                            storageAccountType:
                                              description: "Allowed values:\r\n\"\
                                                Standard_LRS\",\r\n\"Standard_GRS\"\
                                                ,\r\n\"Standard_RAGRS\",\r\n\"Standard_ZRS\"\
                                                ,\r\n\"Standard_GZRS\",\r\n\"Standard_RAGZRS\"\
                                                ,\r\n\"Premium_LRS\",\r\n\"Premium_ZRS\""
                                              type: string
                                              nullable: true
                                          additionalProperties: false
                                          nullable: true
                                      additionalProperties: false
                                    x-ms-identifiers: []
                                    nullable: true
                                additionalProperties: false
                              x-ms-identifiers: []
                              nullable: true
                          x-ms-client-name: RegistryProperties
                          additionalProperties: false
                        sku:
                          description: Sku details required for ARM contract for Autoscaling.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      additionalProperties: false
                      x-ms-client-name: Registry
                additionalProperties: false
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}
  : delete:
      tags:
      - RegistryManagement
      summary: Delete registry
      operationId: Registries_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: registryName
        description: Name of Azure Machine Learning registry. This is case-insensitive
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{2,32}$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            x-ms-async-operation-timeout:
              description: Timeout for the client to use when polling the asynchronous
                operation.
              schema:
                type: string
                format: duration
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
            Retry-After:
              description: Duration the client should wait between requests, in seconds.
              schema:
                type: integer
                format: int32
                minimum: 10
                maximum: 600
        '204':
          description: No content
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - RegistryManagement
      summary: Get registry
      operationId: Registries_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: registryName
        description: Name of Azure Machine Learning registry. This is case-insensitive
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{2,32}$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  kind:
                    description: Metadata used by portal/tooling/etc to render different
                      UX experiences for resources of the same type.
                    type: string
                  properties:
                    x-ms-client-flatten: true
                    description: '[Required] Additional attributes of the entity.'
                    type: object
                    properties:
                      discoveryUrl:
                        description: Discovery URL for the Registry
                        type: string
                        nullable: true
                      intellectualPropertyPublisher:
                        description: IntellectualPropertyPublisher for the registry
                        type: string
                        nullable: true
                      managedResourceGroup:
                        description: ResourceId of the managed RG if the registry
                          has system created resources
                        type: object
                        properties:
                          resourceId:
                            description: "Arm ResourceId is in the format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                              \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                            type: string
                            nullable: true
                        additionalProperties: false
                        nullable: true
                      managedResourceGroupSettings:
                        description: Managed resource group specific settings
                        type: object
                        properties:
                          assignedIdentities:
                            description: List of assigned identities for the managed
                              resource group
                            type: array
                            items:
                              description: Details for managed resource group assigned
                                identities.
                              type: object
                              properties:
                                principalId:
                                  description: Identity principal Id
                                  type: string
                                  readOnly: true
                                  nullable: false
                              additionalProperties: false
                            x-ms-identifiers: []
                            nullable: true
                        additionalProperties: false
                        nullable: true
                      mlFlowRegistryUri:
                        description: MLFlow Registry URI for the Registry
                        type: string
                        nullable: true
                      registryPrivateEndpointConnections:
                        description: Private endpoint connections info used for pending
                          connections in private link portal
                        type: array
                        items:
                          description: Private endpoint connection definition.
                          type: object
                          properties:
                            id:
                              description: "This is the private endpoint connection\
                                \ name created on SRP\r\nFull resource id: /subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.MachineLearningServices/{resourceType}/{resourceName}/registryPrivateEndpointConnections/{peConnectionName}"
                              type: string
                              nullable: true
                            location:
                              description: Same as workspace location.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              nullable: true
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the Private Endpoint Connection
                              type: object
                              properties:
                                groupIds:
                                  description: The group ids
                                  type: array
                                  items:
                                    type: string
                                  nullable: true
                                privateEndpoint:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                      readOnly: true
                                    subnetArmId:
                                      description: The subnetId that the private endpoint
                                        is connected to.
                                      type: string
                                      nullable: true
                                  description: The Private Endpoint resource.
                                  additionalProperties: false
                                  nullable: true
                                registryPrivateLinkServiceConnectionState:
                                  description: The connection state.
                                  type: object
                                  properties:
                                    actionsRequired:
                                      description: Some RP chose "None". Other RPs
                                        use this for region expansion.
                                      type: string
                                      nullable: true
                                    description:
                                      description: User-defined message that, per
                                        NRP doc, may be used for approval-related
                                        message.
                                      type: string
                                      nullable: true
                                    status:
                                      description: Connection status of the service
                                        consumer with the service provider
                                      enum:
                                      - Approved
                                      - Pending
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: EndpointServiceConnectionStatus
                                        modelAsString: true
                                      additionalProperties: false
                                  additionalProperties: false
                                  nullable: true
                                provisioningState:
                                  description: One of null, "Succeeded", "Provisioning",
                                    "Failed". While not approved, it's null.
                                  type: string
                                  nullable: true
                              additionalProperties: false
                              nullable: true
                          additionalProperties: false
                        nullable: true
                      publicNetworkAccess:
                        description: "Is the Registry accessible from the internet?\r\
                          \nPossible values: \"Enabled\" or \"Disabled\""
                        type: string
                        nullable: true
                      regionDetails:
                        description: Details of each region the registry is in
                        type: array
                        items:
                          description: Details for each region the registry is in
                          type: object
                          properties:
                            acrDetails:
                              description: List of ACR accounts
                              type: array
                              items:
                                description: Details of ACR account to be used for
                                  the Registry
                                type: object
                                properties:
                                  systemCreatedAcrAccount:
                                    description: Details of system created ACR account
                                      to be used for the Registry
                                    type: object
                                    properties:
                                      acrAccountName:
                                        description: Name of the ACR account
                                        type: string
                                        nullable: true
                                      acrAccountSku:
                                        description: SKU of the ACR account
                                        type: string
                                        nullable: true
                                      armResourceId:
                                        description: This is populated once the ACR
                                          account is created.
                                        type: object
                                        properties:
                                          resourceId:
                                            description: "Arm ResourceId is in the\
                                              \ format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                              \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                            type: string
                                            nullable: true
                                        additionalProperties: false
                                        nullable: true
                                    additionalProperties: false
                                    nullable: true
                                additionalProperties: false
                              x-ms-identifiers: []
                              nullable: true
                            location:
                              description: The location where the registry exists
                              type: string
                              nullable: true
                            storageAccountDetails:
                              description: List of storage accounts
                              type: array
                              items:
                                description: Details of storage account to be used
                                  for the Registry
                                type: object
                                properties:
                                  systemCreatedStorageAccount:
                                    description: Details of system created storage
                                      account to be used for the registry
                                    type: object
                                    properties:
                                      allowBlobPublicAccess:
                                        description: Public blob access allowed
                                        type: boolean
                                      armResourceId:
                                        description: This is populated once the storage
                                          account is created.
                                        type: object
                                        properties:
                                          resourceId:
                                            description: "Arm ResourceId is in the\
                                              \ format \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Storage/storageAccounts/{StorageAccountName}\"\
                                              \r\nor \"/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{AcrName}\""
                                            type: string
                                            nullable: true
                                        additionalProperties: false
                                        nullable: true
                                      storageAccountHnsEnabled:
                                        description: HNS enabled for storage account
                                        type: boolean
                                      storageAccountName:
                                        description: Name of the storage account
                                        type: string
                                        nullable: true
                                      storageAccountType:
                                        description: "Allowed values:\r\n\"Standard_LRS\"\
                                          ,\r\n\"Standard_GRS\",\r\n\"Standard_RAGRS\"\
                                          ,\r\n\"Standard_ZRS\",\r\n\"Standard_GZRS\"\
                                          ,\r\n\"Standard_RAGZRS\",\r\n\"Premium_LRS\"\
                                          ,\r\n\"Premium_ZRS\""
                                        type: string
                                        nullable: true
                                    additionalProperties: false
                                    nullable: true
                                additionalProperties: false
                              x-ms-identifiers: []
                              nullable: true
                          additionalProperties: false
                        x-ms-identifiers: []
                        nullable: true
                    x-ms-client-name: RegistryProperties
                    additionalProperties: false
                  sku:
                    description: Sku details required for ARM contract for Autoscaling.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                additionalProperties: false
                x-ms-client-name: Registry
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
[...]
