openapi: 3.0.0
info:
  title: Azure Machine Learning Services
  description: These APIs allow end users to operate on Azure Machine Learning Workspace
    resources.
  version: 2025-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      tags:
      - Operation
      description: Lists all of the available Azure Machine Learning Workspaces REST
        API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}
  : get:
      tags:
      - Workspaces
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        description: Name of Azure Machine Learning workspace.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the machine learning workspace.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      workspaceId:
                        description: The immutable id associated with this workspace.
                        type: string
                        readOnly: true
                      description:
                        description: The description of this workspace.
                        type: string
                      friendlyName:
                        description: The friendly name for this workspace. This name
                          in mutable
                        type: string
                      keyVault:
                        description: ARM id of the key vault associated with this
                          workspace. This cannot be changed once the workspace has
                          been created
                        type: string
                      applicationInsights:
                        description: ARM id of the application insights associated
                          with this workspace.
                        type: string
                      containerRegistry:
                        description: ARM id of the container registry associated with
                          this workspace.
                        type: string
                        nullable: true
                      storageAccount:
                        description: ARM id of the storage account associated with
                          this workspace. This cannot be changed once the workspace
                          has been created
                        type: string
                      discoveryUrl:
                        description: Url for the discovery service to identify regional
                          endpoints for machine learning experimentation services
                        type: string
                      provisioningState:
                        type: string
                        enum:
                        - Unknown
                        - Updating
                        - Creating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of workspace resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                      encryption:
                        description: The encryption settings of Azure ML workspace.
                        properties:
                          status:
                            description: Indicates whether or not the encryption is
                              enabled for the workspace.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: EncryptionStatus
                              modelAsString: true
                          identity:
                            description: The identity that will be used to access
                              the key vault for encryption at rest.
                            type: object
                            properties:
                              userAssignedIdentity:
                                description: The ArmId of the user assigned identity
                                  that will be used to access the customer managed
                                  key vault
                                type: string
                          keyVaultProperties:
                            description: Customer Key vault properties.
                            properties:
                              keyVaultArmId:
                                description: The ArmId of the keyVault where the customer
                                  owned encryption key is present.
                                type: string
                              keyIdentifier:
                                description: Key vault uri to access the encryption
                                  key.
                                type: string
                              identityClientId:
                                description: For future use - The client id of the
                                  identity which will be used to access key vault.
                                type: string
                            required:
                            - keyIdentifier
                            - keyVaultArmId
                            type: object
                        required:
                        - status
                        - keyVaultProperties
                        type: object
                      hbiWorkspace:
                        type: boolean
                        description: The flag to signal HBI data in the workspace
                          and reduce diagnostic data collected by the service
                        default: false
                      serviceProvisionedResourceGroup:
                        type: string
                        description: The name of the managed resource group created
                          by workspace RP in customer subscription if the workspace
                          is CMK workspace
                        readOnly: true
                      privateLinkCount:
                        type: integer
                        format: int32
                        description: Count of private connections in the workspace
                        readOnly: true
                      provisionNetworkNow:
                        description: Set to trigger the provisioning of the managed
                          VNet with the default Options when creating a Workspace
                          with the managed VNet enabled, or else it does nothing.
                        type: boolean
                      imageBuildCompute:
                        description: The compute name for image build
                        type: string
                      allowPublicAccessWhenBehindVnet:
                        type: boolean
                        description: The flag to indicate whether to allow public
                          access when behind VNet.
                        default: false
                      publicNetworkAccess:
                        type: string
                        description: Whether requests from Public Network are allowed.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          modelAsString: true
                          name: PublicNetworkAccess
                      privateEndpointConnections:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              type: object
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      - Timeout
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                              required:
                              - privateLinkServiceConnectionState
                            identity:
                              description: The identity of the resource.
                              type: object
                              properties:
                                principalId:
                                  type: string
                                  format: uuid
                                  description: The service principal ID of the system
                                    assigned identity. This property will only be
                                    provided for a system assigned identity.
                                  readOnly: true
                                tenantId:
                                  type: string
                                  format: uuid
                                  description: The tenant ID of the system assigned
                                    identity. This property will only be provided
                                    for a system assigned identity.
                                  readOnly: true
                                type:
                                  type: string
                                  description: Type of managed service identity (where
                                    both SystemAssigned and UserAssigned types are
                                    allowed).
                                  enum:
                                  - None
                                  - SystemAssigned
                                  - UserAssigned
                                  - SystemAssigned,UserAssigned
                                  x-ms-enum:
                                    name: ManagedServiceIdentityType
                                    modelAsString: true
                                userAssignedIdentities:
                                  type: object
                                  title: User-Assigned Identities
                                  description: 'The set of user assigned identities
                                    associated with the resource. The userAssignedIdentities
                                    dictionary keys will be ARM resource ids in the
                                    form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                    The dictionary values can be empty objects ({})
                                    in requests.'
                                  additionalProperties:
                                    type: object
                                    description: User assigned identity properties
                                    properties:
                                      principalId:
                                        type: string
                                        format: uuid
                                        description: The principal ID of the assigned
                                          identity.
                                        readOnly: true
                                      clientId:
                                        type: string
                                        format: uuid
                                        description: The client ID of the assigned
                                          identity.
                                        readOnly: true
                              required:
                              - type
                            location:
                              description: Specifies the location of the resource.
                              type: string
                            tags:
                              description: Contains resource tags defined as key/value
                                pairs.
                              type: object
                              additionalProperties:
                                type: string
                            sku:
                              description: The sku of the workspace.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The name of the SKU. Ex - P3. It is
                                    typically a letter+number code
                                tier:
                                  type: string
                                  description: This field is required to be implemented
                                    by the Resource Provider if the service has more
                                    than one tier, but is not required on a PUT.
                                  enum:
                                  - Free
                                  - Basic
                                  - Standard
                                  - Premium
                                  x-ms-enum:
                                    name: SkuTier
                                    modelAsString: false
                                size:
                                  type: string
                                  description: 'The SKU size. When the name field
                                    is the combination of tier and some other value,
                                    this would be the standalone code. '
                                family:
                                  type: string
                                  description: If the service has different generations
                                    of hardware, for the same SKU, then that can be
                                    captured here.
                                capacity:
                                  type: integer
                                  format: int32
                                  description: If the SKU supports scale out/in then
                                    the capacity integer should be included. If scale
                                    out/in is not possible for the resource this may
                                    be omitted.
                              required:
                              - name
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        x-ms-identifiers:
                        - name
                        description: The list of private endpoint connections in the
                          workspace.
                      serverlessComputeSettings:
                        description: Settings for serverless compute created in the
                          workspace
                        type: object
                        properties:
                          serverlessComputeCustomSubnet:
                            description: The resource ID of an existing virtual network
                              subnet in which serverless compute nodes should be deployed
                            type: string
                            format: arm-id
                          serverlessComputeNoPublicIP:
                            description: The flag to signal if serverless compute
                              nodes deployed in custom vNet would have no public IP
                              addresses for a workspace with private endpoint
                            type: boolean
                      sharedPrivateLinkResources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Unique name of the private link.
                              type: string
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              type: object
                              properties:
                                privateLinkResourceId:
                                  description: The resource id that private link links
                                    to.
                                  type: string
                                groupId:
                                  description: The private link resource group id.
                                  type: string
                                requestMessage:
                                  description: Request message.
                                  type: string
                                status:
                                  description: Indicates whether the connection has
                                    been Approved/Rejected/Removed by the owner of
                                    the service.
                                  type: string
                                  enum:
                                  - Pending
                                  - Approved
                                  - Rejected
                                  - Disconnected
                                  - Timeout
                                  x-ms-enum:
                                    name: PrivateEndpointServiceConnectionStatus
                                    modelAsString: true
                        x-ms-identifiers:
                        - name
                        description: The list of shared private link resources in
                          this workspace.
                      notebookInfo:
                        readOnly: true
                        description: The notebook info of Azure ML workspace.
                        type: object
                        properties:
                          fqdn:
                            type: string
                          resourceId:
                            type: string
                            description: the data plane resourceId that used to initialize
                              notebook component
                          notebookPreparationError:
                            description: The error that occurs when preparing notebook.
                            type: object
                            properties:
                              errorMessage:
                                type: string
                              statusCode:
                                format: int32
                                type: integer
                            nullable: true
                      serviceManagedResourcesSettings:
                        description: The service managed resource settings.
                        type: object
                        properties:
                          cosmosDb:
                            description: The settings for the service managed cosmosdb
                              account.
                            type: object
                            properties:
                              collectionsThroughput:
                                type: integer
                                format: int32
                                description: The throughput of the collections in
                                  cosmosdb database
                      primaryUserAssignedIdentity:
                        description: The user assigned identity resource id that represents
                          the workspace identity.
                        type: string
                      tenantId:
                        description: The tenant id associated with this workspace.
                        type: string
                        readOnly: true
                      storageHnsEnabled:
                        description: If the storage associated with the workspace
                          has hierarchical namespace(HNS) enabled.
                        type: boolean
                        readOnly: true
                      systemDatastoresAuthMode:
                        description: The auth mode used for accessing the system datastores
                          of the workspace.
                        type: string
                        enum:
                        - AccessKey
                        - Identity
                        - UserDelegationSAS
                        x-ms-enum:
                          name: systemDatastoresAuthMode
                          modelAsString: true
                      mlFlowTrackingUri:
                        description: The URI associated with this workspace that machine
                          learning flow must point at to set up tracking.
                        type: string
                        readOnly: true
                      v1LegacyMode:
                        description: Enabling v1_legacy_mode may prevent you from
                          using features provided by the v2 API.
                        default: false
                        type: boolean
                      managedNetwork:
                        description: Managed Network settings for a machine learning
                          workspace.
                        type: object
                        properties:
                          isolationMode:
                            description: Isolation mode for the managed network of
                              a machine learning workspace.
                            enum:
                            - Disabled
                            - AllowInternetOutbound
                            - AllowOnlyApprovedOutbound
                            type: string
                            x-ms-enum:
                              name: IsolationMode
                              modelAsString: true
                          networkId:
                            type: string
                            readOnly: true
                          outboundRules:
                            type: object
                            additionalProperties:
                              description: Outbound Rule for the managed network of
                                a machine learning workspace.
                              required:
                              - type
                              type: object
                              properties:
                                category:
                                  description: Category of a managed network Outbound
                                    Rule of a machine learning workspace.
                                  enum:
                                  - Required
                                  - Recommended
                                  - UserDefined
                                  - Dependency
                                  type: string
                                  x-ms-enum:
                                    name: RuleCategory
                                    modelAsString: true
                                status:
                                  description: Type of a managed network Outbound
                                    Rule of a machine learning workspace.
                                  enum:
                                  - Inactive
                                  - Active
                                  - Provisioning
                                  - Deleting
                                  - Failed
                                  type: string
                                  x-ms-enum:
                                    name: RuleStatus
                                    modelAsString: true
                                type:
                                  description: Type of a managed network Outbound
                                    Rule of a machine learning workspace.
                                  enum:
                                  - FQDN
                                  - PrivateEndpoint
                                  - ServiceTag
                                  type: string
                                  x-ms-enum:
                                    name: RuleType
                                    modelAsString: true
                                errorInformation:
                                  description: Error information about an outbound
                                    rule of a machine learning workspace if RuleStatus
                                    is failed.
                                  type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                                parentRuleNames:
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                                  x-ms-mutability:
                                  - read
                              discriminator:
                                propertyName: type
                            nullable: true
                          status:
                            description: Status of the Provisioning for the managed
                              network of a machine learning workspace.
                            type: object
                            properties:
                              sparkReady:
                                type: boolean
                              status:
                                description: Status for the managed network of a machine
                                  learning workspace.
                                enum:
                                - Inactive
                                - Active
                                type: string
                                x-ms-enum:
                                  name: ManagedNetworkStatus
                                  modelAsString: true
                          firewallSku:
                            description: Firewall Sku used for FQDN Rules
                            enum:
                            - Standard
                            - Basic
                            type: string
                            x-ms-enum:
                              name: FirewallSku
                              modelAsString: true
                          managedNetworkKind:
                            description: The Kind of the managed network. Users can
                              switch from V1 to V2 for granular access controls, but
                              cannot switch back to V1 once V2 is enabled.
                            enum:
                            - V1
                            - V2
                            type: string
                            x-ms-enum:
                              name: ManagedNetworkKind
                              modelAsString: true
                          firewallPublicIpAddress:
                            description: Public IP address assigned to the Azure Firewall.
                            type: string
                      featureStoreSettings:
                        description: Settings for feature store type workspace.
                        type: object
                        properties:
                          computeRuntime:
                            type: object
                            description: Compute runtime config for feature store
                              type workspace.
                            properties:
                              sparkRuntimeVersion:
                                type: string
                          offlineStoreConnectionName:
                            type: string
                          onlineStoreConnectionName:
                            type: string
                      associatedWorkspaces:
                        type: array
                        items:
                          type: string
                      enableDataIsolation:
                        type: boolean
                      enableServiceSideCMKEncryption:
                        type: boolean
                      hubResourceId:
                        type: string
                      workspaceHubConfig:
                        description: WorkspaceHub's configuration object.
                        type: object
                        properties:
                          additionalWorkspaceStorageAccounts:
                            type: array
                            items:
                              type: string
                          defaultWorkspaceResourceGroup:
                            type: string
                  identity:
                    description: The identity of the resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  kind:
                    type: string
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: The sku of the workspace.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Workspaces
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      x-ms-long-running-operation: true
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        description: Name of Azure Machine Learning workspace.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The properties of the machine learning workspace.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    workspaceId:
                      description: The immutable id associated with this workspace.
                      type: string
                      readOnly: true
                    description:
                      description: The description of this workspace.
                      type: string
                    friendlyName:
                      description: The friendly name for this workspace. This name
                        in mutable
                      type: string
                    keyVault:
                      description: ARM id of the key vault associated with this workspace.
                        This cannot be changed once the workspace has been created
                      type: string
                    applicationInsights:
                      description: ARM id of the application insights associated with
                        this workspace.
                      type: string
                    containerRegistry:
                      description: ARM id of the container registry associated with
                        this workspace.
                      type: string
                      nullable: true
                    storageAccount:
                      description: ARM id of the storage account associated with this
                        workspace. This cannot be changed once the workspace has been
                        created
                      type: string
                    discoveryUrl:
                      description: Url for the discovery service to identify regional
                        endpoints for machine learning experimentation services
                      type: string
                    provisioningState:
                      type: string
                      enum:
                      - Unknown
                      - Updating
                      - Creating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                      description: The current deployment state of workspace resource.
                        The provisioningState is to indicate states for resource provisioning.
                    encryption:
                      description: The encryption settings of Azure ML workspace.
                      properties:
                        status:
                          description: Indicates whether or not the encryption is
                            enabled for the workspace.
                          enum:
                          - Enabled
                          - Disabled
                          type: string
                          x-ms-enum:
                            name: EncryptionStatus
                            modelAsString: true
                        identity:
                          description: The identity that will be used to access the
                            key vault for encryption at rest.
                          type: object
                          properties:
                            userAssignedIdentity:
                              description: The ArmId of the user assigned identity
                                that will be used to access the customer managed key
                                vault
                              type: string
                        keyVaultProperties:
                          description: Customer Key vault properties.
                          properties:
                            keyVaultArmId:
                              description: The ArmId of the keyVault where the customer
                                owned encryption key is present.
                              type: string
                            keyIdentifier:
                              description: Key vault uri to access the encryption
                                key.
                              type: string
                            identityClientId:
                              description: For future use - The client id of the identity
                                which will be used to access key vault.
                              type: string
                          required:
                          - keyIdentifier
                          - keyVaultArmId
                          type: object
                      required:
                      - status
                      - keyVaultProperties
                      type: object
                    hbiWorkspace:
                      type: boolean
                      description: The flag to signal HBI data in the workspace and
                        reduce diagnostic data collected by the service
                      default: false
                    serviceProvisionedResourceGroup:
                      type: string
                      description: The name of the managed resource group created
                        by workspace RP in customer subscription if the workspace
                        is CMK workspace
                      readOnly: true
                    privateLinkCount:
                      type: integer
                      format: int32
                      description: Count of private connections in the workspace
                      readOnly: true
                    provisionNetworkNow:
                      description: Set to trigger the provisioning of the managed
                        VNet with the default Options when creating a Workspace with
                        the managed VNet enabled, or else it does nothing.
                      type: boolean
                    imageBuildCompute:
                      description: The compute name for image build
                      type: string
                    allowPublicAccessWhenBehindVnet:
                      type: boolean
                      description: The flag to indicate whether to allow public access
                        when behind VNet.
                      default: false
                    publicNetworkAccess:
                      type: string
                      description: Whether requests from Public Network are allowed.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        modelAsString: true
                        name: PublicNetworkAccess
                    privateEndpointConnections:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            readOnly: true
                          name:
                            type: string
                            description: The name of the resource
                            readOnly: true
                          type:
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                            readOnly: true
                          systemData:
                            type: object
                            description: Azure Resource Manager metadata containing
                              createdBy and modifiedBy information.
                            readOnly: true
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            x-ms-client-flatten: true
                            description: Resource properties.
                            type: object
                            properties:
                              privateEndpoint:
                                description: The resource of private end point.
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: The ARM identifier for Private Endpoint
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    - Timeout
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                readOnly: true
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                            required:
                            - privateLinkServiceConnectionState
                          identity:
                            description: The identity of the resource.
                            type: object
                            properties:
                              principalId:
                                type: string
                                format: uuid
                                description: The service principal ID of the system
                                  assigned identity. This property will only be provided
                                  for a system assigned identity.
                                readOnly: true
                              tenantId:
                                type: string
                                format: uuid
                                description: The tenant ID of the system assigned
                                  identity. This property will only be provided for
                                  a system assigned identity.
                                readOnly: true
                              type:
                                type: string
                                description: Type of managed service identity (where
                                  both SystemAssigned and UserAssigned types are allowed).
                                enum:
                                - None
                                - SystemAssigned
                                - UserAssigned
                                - SystemAssigned,UserAssigned
                                x-ms-enum:
                                  name: ManagedServiceIdentityType
                                  modelAsString: true
                              userAssignedIdentities:
                                type: object
                                title: User-Assigned Identities
                                description: 'The set of user assigned identities
                                  associated with the resource. The userAssignedIdentities
                                  dictionary keys will be ARM resource ids in the
                                  form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                  The dictionary values can be empty objects ({})
                                  in requests.'
                                additionalProperties:
                                  type: object
                                  description: User assigned identity properties
                                  properties:
                                    principalId:
                                      type: string
                                      format: uuid
                                      description: The principal ID of the assigned
                                        identity.
                                      readOnly: true
                                    clientId:
                                      type: string
                                      format: uuid
                                      description: The client ID of the assigned identity.
                                      readOnly: true
                            required:
                            - type
                          location:
                            description: Specifies the location of the resource.
                            type: string
                          tags:
                            description: Contains resource tags defined as key/value
                              pairs.
                            type: object
                            additionalProperties:
                              type: string
                          sku:
                            description: The sku of the workspace.
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the SKU. Ex - P3. It is typically
                                  a letter+number code
                              tier:
                                type: string
                                description: This field is required to be implemented
                                  by the Resource Provider if the service has more
                                  than one tier, but is not required on a PUT.
                                enum:
                                - Free
                                - Basic
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: false
                              size:
                                type: string
                                description: 'The SKU size. When the name field is
                                  the combination of tier and some other value, this
                                  would be the standalone code. '
                              family:
                                type: string
                                description: If the service has different generations
                                  of hardware, for the same SKU, then that can be
                                  captured here.
                              capacity:
                                type: integer
                                format: int32
                                description: If the SKU supports scale out/in then
                                  the capacity integer should be included. If scale
                                  out/in is not possible for the resource this may
                                  be omitted.
                            required:
                            - name
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      x-ms-identifiers:
                      - name
                      description: The list of private endpoint connections in the
                        workspace.
                    serverlessComputeSettings:
                      description: Settings for serverless compute created in the
                        workspace
                      type: object
                      properties:
                        serverlessComputeCustomSubnet:
                          description: The resource ID of an existing virtual network
                            subnet in which serverless compute nodes should be deployed
                          type: string
                          format: arm-id
                        serverlessComputeNoPublicIP:
                          description: The flag to signal if serverless compute nodes
                            deployed in custom vNet would have no public IP addresses
                            for a workspace with private endpoint
                          type: boolean
                    sharedPrivateLinkResources:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            description: Unique name of the private link.
                            type: string
                          properties:
                            x-ms-client-flatten: true
                            description: Resource properties.
                            type: object
                            properties:
                              privateLinkResourceId:
                                description: The resource id that private link links
                                  to.
                                type: string
                              groupId:
                                description: The private link resource group id.
                                type: string
                              requestMessage:
                                description: Request message.
                                type: string
                              status:
                                description: Indicates whether the connection has
                                  been Approved/Rejected/Removed by the owner of the
                                  service.
                                type: string
                                enum:
                                - Pending
                                - Approved
                                - Rejected
                                - Disconnected
                                - Timeout
                                x-ms-enum:
                                  name: PrivateEndpointServiceConnectionStatus
                                  modelAsString: true
                      x-ms-identifiers:
                      - name
                      description: The list of shared private link resources in this
                        workspace.
                    notebookInfo:
                      readOnly: true
                      description: The notebook info of Azure ML workspace.
                      type: object
                      properties:
                        fqdn:
                          type: string
                        resourceId:
                          type: string
                          description: the data plane resourceId that used to initialize
                            notebook component
                        notebookPreparationError:
                          description: The error that occurs when preparing notebook.
                          type: object
                          properties:
                            errorMessage:
                              type: string
                            statusCode:
                              format: int32
                              type: integer
                          nullable: true
                    serviceManagedResourcesSettings:
                      description: The service managed resource settings.
                      type: object
                      properties:
                        cosmosDb:
                          description: The settings for the service managed cosmosdb
                            account.
                          type: object
                          properties:
                            collectionsThroughput:
                              type: integer
                              format: int32
                              description: The throughput of the collections in cosmosdb
                                database
                    primaryUserAssignedIdentity:
                      description: The user assigned identity resource id that represents
                        the workspace identity.
                      type: string
                    tenantId:
                      description: The tenant id associated with this workspace.
                      type: string
                      readOnly: true
                    storageHnsEnabled:
                      description: If the storage associated with the workspace has
                        hierarchical namespace(HNS) enabled.
                      type: boolean
                      readOnly: true
                    systemDatastoresAuthMode:
                      description: The auth mode used for accessing the system datastores
                        of the workspace.
                      type: string
                      enum:
                      - AccessKey
                      - Identity
                      - UserDelegationSAS
                      x-ms-enum:
                        name: systemDatastoresAuthMode
                        modelAsString: true
                    mlFlowTrackingUri:
                      description: The URI associated with this workspace that machine
                        learning flow must point at to set up tracking.
                      type: string
                      readOnly: true
                    v1LegacyMode:
                      description: Enabling v1_legacy_mode may prevent you from using
                        features provided by the v2 API.
                      default: false
                      type: boolean
                    managedNetwork:
                      description: Managed Network settings for a machine learning
                        workspace.
                      type: object
                      properties:
                        isolationMode:
                          description: Isolation mode for the managed network of a
                            machine learning workspace.
                          enum:
                          - Disabled
                          - AllowInternetOutbound
                          - AllowOnlyApprovedOutbound
                          type: string
                          x-ms-enum:
                            name: IsolationMode
                            modelAsString: true
                        networkId:
                          type: string
                          readOnly: true
                        outboundRules:
                          type: object
                          additionalProperties:
                            description: Outbound Rule for the managed network of
                              a machine learning workspace.
                            required:
                            - type
                            type: object
                            properties:
                              category:
                                description: Category of a managed network Outbound
                                  Rule of a machine learning workspace.
                                enum:
                                - Required
                                - Recommended
                                - UserDefined
                                - Dependency
                                type: string
                                x-ms-enum:
                                  name: RuleCategory
                                  modelAsString: true
                              status:
                                description: Type of a managed network Outbound Rule
                                  of a machine learning workspace.
                                enum:
                                - Inactive
                                - Active
                                - Provisioning
                                - Deleting
                                - Failed
                                type: string
                                x-ms-enum:
                                  name: RuleStatus
                                  modelAsString: true
                              type:
                                description: Type of a managed network Outbound Rule
                                  of a machine learning workspace.
                                enum:
                                - FQDN
                                - PrivateEndpoint
                                - ServiceTag
                                type: string
                                x-ms-enum:
                                  name: RuleType
                                  modelAsString: true
                              errorInformation:
                                description: Error information about an outbound rule
                                  of a machine learning workspace if RuleStatus is
                                  failed.
                                type: string
                                readOnly: true
                                x-ms-mutability:
                                - read
                              parentRuleNames:
                                type: array
                                items:
                                  type: string
                                readOnly: true
                                x-ms-mutability:
                                - read
                            discriminator:
                              propertyName: type
                          nullable: true
                        status:
                          description: Status of the Provisioning for the managed
                            network of a machine learning workspace.
                          type: object
                          properties:
                            sparkReady:
                              type: boolean
                            status:
                              description: Status for the managed network of a machine
                                learning workspace.
                              enum:
                              - Inactive
                              - Active
                              type: string
                              x-ms-enum:
                                name: ManagedNetworkStatus
                                modelAsString: true
                        firewallSku:
                          description: Firewall Sku used for FQDN Rules
                          enum:
                          - Standard
                          - Basic
                          type: string
                          x-ms-enum:
                            name: FirewallSku
                            modelAsString: true
                        managedNetworkKind:
                          description: The Kind of the managed network. Users can
                            switch from V1 to V2 for granular access controls, but
                            cannot switch back to V1 once V2 is enabled.
                          enum:
                          - V1
                          - V2
                          type: string
                          x-ms-enum:
                            name: ManagedNetworkKind
                            modelAsString: true
                        firewallPublicIpAddress:
                          description: Public IP address assigned to the Azure Firewall.
                          type: string
                    featureStoreSettings:
                      description: Settings for feature store type workspace.
                      type: object
                      properties:
                        computeRuntime:
                          type: object
                          description: Compute runtime config for feature store type
                            workspace.
                          properties:
                            sparkRuntimeVersion:
                              type: string
                        offlineStoreConnectionName:
                          type: string
                        onlineStoreConnectionName:
                          type: string
                    associatedWorkspaces:
                      type: array
                      items:
                        type: string
                    enableDataIsolation:
                      type: boolean
                    enableServiceSideCMKEncryption:
                      type: boolean
                    hubResourceId:
                      type: string
                    workspaceHubConfig:
                      description: WorkspaceHub's configuration object.
                      type: object
                      properties:
                        additionalWorkspaceStorageAccounts:
                          type: array
                          items:
                            type: string
                        defaultWorkspaceResourceGroup:
                          type: string
                identity:
                  description: The identity of the resource.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                kind:
                  type: string
                location:
                  description: Specifies the location of the resource.
                  type: string
                tags:
                  description: Contains resource tags defined as key/value pairs.
                  type: object
                  additionalProperties:
                    type: string
                sku:
[...]
