openapi: 3.0.0
info:
  version: 2018-09-01
  title: BackupManagementClient
  description: The Admin Backup Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Backup.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      tags:
      - Backup
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Operations
                properties:
                  value:
                    description: Array of operations
                    type: array
                    items:
                      description: Describes the supported REST operation.
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object. This name should match the name
                            that appears in RBAC or the event service.
                          type: string
                          readOnly: true
                        display:
                          description: Contains the localized display information
                            for this particular operation / action.
                          readOnly: true
                          properties:
                            provider:
                              description: "The localized friendly form of the resource\
                                \ provider name \u2013 it is expected to also include\
                                \ the publisher/company responsible. It should use\
                                \ Title Casing and begin with \"Microsoft\" for 1st\
                                \ party services. e.g. \"Microsoft Monitoring Insights\"\
                                \ or \"Microsoft Compute.\""
                              type: string
                              readOnly: true
                            resource:
                              description: The localized, friendly version of the
                                resource type related to this action or operation;
                                the resource type should match the public documentation
                                for the resource provider.
                              type: string
                              readOnly: true
                            operation:
                              description: The localized, friendly name for the operation.
                                Use the name as it will displayed to the user.
                              type: string
                              readOnly: true
                            description:
                              description: The localized, friendly description for
                                the operation. The description will be displayed to
                                the user. It should be thorough and concise for used
                                in both tooltips and detailed views.
                              type: string
                              readOnly: true
                    x-ms-identifiers:
                    - name
                    readOnly: true
                  nextLink:
                    description: URI to the next page of operations.
                    type: string
                    readOnly: true
        default:
          description: Error response.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: 2018-09-01
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TopParameter:
      description: OData top parameter.
      name: $top
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SkipParameter:
      description: OData skip parameter.
      name: $skip
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Operation:
      description: Describes the supported REST operation.
      properties:
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          type: string
          readOnly: true
        display:
          description: Contains the localized display information for this particular
            operation / action.
          readOnly: true
          properties:
            provider:
              description: "The localized friendly form of the resource provider name\
                \ \u2013 it is expected to also include the publisher/company responsible.\
                \ It should use Title Casing and begin with \"Microsoft\" for 1st\
                \ party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft\
                \ Compute.\""
              type: string
              readOnly: true
            resource:
              description: The localized, friendly version of the resource type related
                to this action or operation; the resource type should match the public
                documentation for the resource provider.
              type: string
              readOnly: true
            operation:
              description: The localized, friendly name for the operation. Use the
                name as it will displayed to the user.
              type: string
              readOnly: true
            description:
              description: The localized, friendly description for the operation.
                The description will be displayed to the user. It should be thorough
                and concise for used in both tooltips and detailed views.
              type: string
              readOnly: true
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      properties:
        provider:
          description: "The localized friendly form of the resource provider name\
            \ \u2013 it is expected to also include the publisher/company responsible.\
            \ It should use Title Casing and begin with \"Microsoft\" for 1st party\
            \ services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""
          type: string
          readOnly: true
        resource:
          description: The localized, friendly version of the resource type related
            to this action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
          readOnly: true
        operation:
          description: The localized, friendly name for the operation. Use the name
            as it will displayed to the user.
          type: string
          readOnly: true
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and concise
            for used in both tooltips and detailed views.
          type: string
          readOnly: true
    OperationList:
      description: List of Operations
      properties:
        value:
          description: Array of operations
          type: array
          items:
            description: Describes the supported REST operation.
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object. This name should match the name that appears in RBAC or
                  the event service.
                type: string
                readOnly: true
              display:
                description: Contains the localized display information for this particular
                  operation / action.
                readOnly: true
                properties:
                  provider:
                    description: "The localized friendly form of the resource provider\
                      \ name \u2013 it is expected to also include the publisher/company\
                      \ responsible. It should use Title Casing and begin with \"\
                      Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring\
                      \ Insights\" or \"Microsoft Compute.\""
                    type: string
                    readOnly: true
                  resource:
                    description: The localized, friendly version of the resource type
                      related to this action or operation; the resource type should
                      match the public documentation for the resource provider.
                    type: string
                    readOnly: true
                  operation:
                    description: The localized, friendly name for the operation. Use
                      the name as it will displayed to the user.
                    type: string
                    readOnly: true
                  description:
                    description: The localized, friendly description for the operation.
                      The description will be displayed to the user. It should be
                      thorough and concise for used in both tooltips and detailed
                      views.
                    type: string
                    readOnly: true
          x-ms-identifiers:
          - name
          readOnly: true
        nextLink:
          description: URI to the next page of operations.
          type: string
          readOnly: true
    LongRunningOperationStatus:
      description: Status of a long running operation.
      type: object
      properties:
        code:
          description: Operation result code.
          type: string
          readOnly: true
        message:
          description: Description of the operation status.
          type: string
          readOnly: true
