openapi: 3.0.0
info:
  version: 2018-09-01
  title: BackupManagementClient
  description: The Admin Backup Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups
  : get:
      description: Returns a list of backups from a location.
      tags:
      - Backups
      operationId: Backups_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      - description: OData top parameter.
        name: $top
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData skip parameter.
        name: $skip
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: List of backups.
                properties:
                  value:
                    description: List of backups.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Location of the resource.
                          type: string
                          readOnly: false
                        tags:
                          description: List of key value pairs.
                          type: object
                          readOnly: false
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties for a backup.
                          x-ms-client-flatten: true
                          properties:
                            backupInfo:
                              description: Holds information for a backup.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                backupDataVersion:
                                  description: Version of the backup data.
                                  type: string
                                  readOnly: true
                                roleStatus:
                                  description: Backup status for each role.
                                  readOnly: true
                                  type: array
                                  items:
                                    description: Backup status for a role.
                                    type: object
                                    properties:
                                      roleName:
                                        description: Name of the role.
                                        type: string
                                      status:
                                        description: Status of the role.
                                        type: string
                                        enum:
                                        - Creating
                                        - Queued
                                        - Running
                                        - Deleted
                                        - Failed
                                        - PartialSucceeded
                                        - Succeeded
                                        x-ms-enum:
                                          name: OperationStatus
                                          modelAsString: false
                                status:
                                  description: Current status of the backup.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Creating
                                  - Queued
                                  - Running
                                  - Deleted
                                  - Failed
                                  - PartialSucceeded
                                  - Succeeded
                                  x-ms-enum:
                                    name: OperationStatus
                                    modelAsString: false
                                createdDateTime:
                                  description: Creation time of the backup.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                timeTakenToCreate:
                                  description: Duration to create the backup.
                                  type: string
                                  readOnly: true
                                deploymentID:
                                  description: Deployment Id of the stamp.
                                  type: string
                                  readOnly: true
                                stampVersion:
                                  description: Azure Stack stamp version of the backup.
                                  type: string
                                  readOnly: true
                                oemVersion:
                                  description: OEM version.
                                  type: string
                                  readOnly: true
                                isCloudRecoveryReady:
                                  description: True if the backup can be used for
                                    cloud recovery scenario.
                                  type: boolean
                                  readOnly: true
                                encryptionCertThumbprint:
                                  description: The thumbprint of the certificate used
                                    to encrypt the backup encryption key.
                                  type: string
                                  readOnly: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}
  : get:
      description: Returns a backup from a location based on name.
      tags:
      - Backups
      operationId: Backups_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: backup
        in: path
        description: Name of the backup.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties for a backup.
                    x-ms-client-flatten: true
                    properties:
                      backupInfo:
                        description: Holds information for a backup.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          backupDataVersion:
                            description: Version of the backup data.
                            type: string
                            readOnly: true
                          roleStatus:
                            description: Backup status for each role.
                            readOnly: true
                            type: array
                            items:
                              description: Backup status for a role.
                              type: object
                              properties:
                                roleName:
                                  description: Name of the role.
                                  type: string
                                status:
                                  description: Status of the role.
                                  type: string
                                  enum:
                                  - Creating
                                  - Queued
                                  - Running
                                  - Deleted
                                  - Failed
                                  - PartialSucceeded
                                  - Succeeded
                                  x-ms-enum:
                                    name: OperationStatus
                                    modelAsString: false
                          status:
                            description: Current status of the backup.
                            readOnly: true
                            type: string
                            enum:
                            - Creating
                            - Queued
                            - Running
                            - Deleted
                            - Failed
                            - PartialSucceeded
                            - Succeeded
                            x-ms-enum:
                              name: OperationStatus
                              modelAsString: false
                          createdDateTime:
                            description: Creation time of the backup.
                            type: string
                            format: date-time
                            readOnly: true
                          timeTakenToCreate:
                            description: Duration to create the backup.
                            type: string
                            readOnly: true
                          deploymentID:
                            description: Deployment Id of the stamp.
                            type: string
                            readOnly: true
                          stampVersion:
                            description: Azure Stack stamp version of the backup.
                            type: string
                            readOnly: true
                          oemVersion:
                            description: OEM version.
                            type: string
                            readOnly: true
                          isCloudRecoveryReady:
                            description: True if the backup can be used for cloud
                              recovery scenario.
                            type: boolean
                            readOnly: true
                          encryptionCertThumbprint:
                            description: The thumbprint of the certificate used to
                              encrypt the backup encryption key.
                            type: string
                            readOnly: true
                description: Base Resource Object
                x-ms-azure-resource: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore
  : post:
      description: Restore a backup.
      tags:
      - Backups
      operationId: Backups_Restore
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: backup
        in: path
        description: Name of the backup.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      requestBody:
        content:
          application/json:
            schema:
              description: Properties for restore options.
              properties:
                roleName:
                  description: The Azure Stack role name for restore, set it to empty
                    for all infrastructure role
                  type: string
                decryptionCertBase64:
                  description: The certificate file raw data in Base64 string. This
                    should be the .pfx file with the private key.
                  type: string
                decryptionCertPassword:
                  description: The password for the decryption certificate.
                  type: string
        description: Restore options.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    BackupParameter:
      name: backup
      in: path
      description: Name of the backup.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    BackupLocationParameter:
      name: location
      in: path
      description: Name of the backup location.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: 2018-09-01
    TopParameter:
      description: OData top parameter.
      name: $top
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SkipParameter:
      description: OData skip parameter.
      name: $skip
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Backup:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
        properties:
          description: Properties for a backup.
          x-ms-client-flatten: true
          properties:
            backupInfo:
              description: Holds information for a backup.
              x-ms-client-flatten: true
              type: object
              properties:
                backupDataVersion:
                  description: Version of the backup data.
                  type: string
                  readOnly: true
                roleStatus:
                  description: Backup status for each role.
                  readOnly: true
                  type: array
                  items:
                    description: Backup status for a role.
                    type: object
                    properties:
                      roleName:
                        description: Name of the role.
                        type: string
                      status:
                        description: Status of the role.
                        type: string
                        enum:
                        - Creating
                        - Queued
                        - Running
                        - Deleted
                        - Failed
                        - PartialSucceeded
                        - Succeeded
                        x-ms-enum:
                          name: OperationStatus
                          modelAsString: false
                status:
                  description: Current status of the backup.
                  readOnly: true
                  type: string
                  enum:
                  - Creating
                  - Queued
                  - Running
                  - Deleted
                  - Failed
                  - PartialSucceeded
                  - Succeeded
                  x-ms-enum:
                    name: OperationStatus
                    modelAsString: false
                createdDateTime:
                  description: Creation time of the backup.
                  type: string
                  format: date-time
                  readOnly: true
                timeTakenToCreate:
                  description: Duration to create the backup.
                  type: string
                  readOnly: true
                deploymentID:
                  description: Deployment Id of the stamp.
                  type: string
                  readOnly: true
                stampVersion:
                  description: Azure Stack stamp version of the backup.
                  type: string
                  readOnly: true
                oemVersion:
                  description: OEM version.
                  type: string
                  readOnly: true
                isCloudRecoveryReady:
                  description: True if the backup can be used for cloud recovery scenario.
                  type: boolean
                  readOnly: true
                encryptionCertThumbprint:
                  description: The thumbprint of the certificate used to encrypt the
                    backup encryption key.
                  type: string
                  readOnly: true
      description: Base Resource Object
      x-ms-azure-resource: true
    BackupModel:
      description: Properties for a backup.
      properties:
        backupInfo:
          description: Holds information for a backup.
          x-ms-client-flatten: true
          type: object
          properties:
            backupDataVersion:
              description: Version of the backup data.
              type: string
              readOnly: true
            roleStatus:
              description: Backup status for each role.
              readOnly: true
              type: array
              items:
                description: Backup status for a role.
                type: object
                properties:
                  roleName:
                    description: Name of the role.
                    type: string
                  status:
                    description: Status of the role.
                    type: string
                    enum:
                    - Creating
                    - Queued
                    - Running
                    - Deleted
                    - Failed
                    - PartialSucceeded
                    - Succeeded
                    x-ms-enum:
                      name: OperationStatus
                      modelAsString: false
            status:
              description: Current status of the backup.
              readOnly: true
              type: string
              enum:
              - Creating
              - Queued
              - Running
              - Deleted
              - Failed
              - PartialSucceeded
              - Succeeded
              x-ms-enum:
                name: OperationStatus
                modelAsString: false
            createdDateTime:
              description: Creation time of the backup.
              type: string
              format: date-time
              readOnly: true
            timeTakenToCreate:
              description: Duration to create the backup.
              type: string
              readOnly: true
            deploymentID:
              description: Deployment Id of the stamp.
              type: string
              readOnly: true
            stampVersion:
              description: Azure Stack stamp version of the backup.
              type: string
              readOnly: true
            oemVersion:
              description: OEM version.
              type: string
              readOnly: true
            isCloudRecoveryReady:
              description: True if the backup can be used for cloud recovery scenario.
              type: boolean
              readOnly: true
            encryptionCertThumbprint:
              description: The thumbprint of the certificate used to encrypt the backup
                encryption key.
              type: string
              readOnly: true
    BackupInfo:
      type: object
      description: Holds information for a backup.
      properties:
        backupDataVersion:
          description: Version of the backup data.
          type: string
          readOnly: true
        roleStatus:
          description: Backup status for each role.
          readOnly: true
          type: array
          items:
            description: Backup status for a role.
            type: object
            properties:
              roleName:
                description: Name of the role.
                type: string
              status:
                description: Status of the role.
                type: string
                enum:
                - Creating
                - Queued
                - Running
                - Deleted
                - Failed
                - PartialSucceeded
                - Succeeded
                x-ms-enum:
                  name: OperationStatus
                  modelAsString: false
        status:
          description: Current status of the backup.
          readOnly: true
          type: string
          enum:
          - Creating
          - Queued
          - Running
          - Deleted
          - Failed
          - PartialSucceeded
          - Succeeded
          x-ms-enum:
            name: OperationStatus
            modelAsString: false
        createdDateTime:
          description: Creation time of the backup.
          type: string
          format: date-time
          readOnly: true
        timeTakenToCreate:
          description: Duration to create the backup.
          type: string
          readOnly: true
        deploymentID:
          description: Deployment Id of the stamp.
          type: string
          readOnly: true
        stampVersion:
          description: Azure Stack stamp version of the backup.
          type: string
          readOnly: true
        oemVersion:
          description: OEM version.
          type: string
          readOnly: true
        isCloudRecoveryReady:
          description: True if the backup can be used for cloud recovery scenario.
          type: boolean
          readOnly: true
        encryptionCertThumbprint:
          description: The thumbprint of the certificate used to encrypt the backup
            encryption key.
          type: string
          readOnly: true
    OperationStatus:
      description: Status of an operation.
      type: string
      enum:
      - Creating
      - Queued
      - Running
      - Deleted
      - Failed
      - PartialSucceeded
      - Succeeded
      x-ms-enum:
        name: OperationStatus
        modelAsString: false
    RoleOperationStatusList:
      description: object
      type: array
      items:
        description: Backup status for a role.
        type: object
        properties:
          roleName:
            description: Name of the role.
            type: string
          status:
            description: Status of the role.
            type: string
            enum:
            - Creating
            - Queued
            - Running
            - Deleted
            - Failed
            - PartialSucceeded
            - Succeeded
            x-ms-enum:
              name: OperationStatus
              modelAsString: false
    RoleOperationStatus:
      description: Backup status for a role.
      type: object
      properties:
        roleName:
          description: Name of the role.
          type: string
        status:
          description: Status of the role.
          type: string
          enum:
          - Creating
          - Queued
          - Running
          - Deleted
          - Failed
          - PartialSucceeded
          - Succeeded
          x-ms-enum:
            name: OperationStatus
            modelAsString: false
    BackupList:
      type: object
      description: List of backups.
      properties:
        value:
          description: List of backups.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Location of the resource.
                type: string
                readOnly: false
              tags:
                description: List of key value pairs.
                type: object
                readOnly: false
                additionalProperties:
                  type: string
              properties:
                description: Properties for a backup.
                x-ms-client-flatten: true
                properties:
                  backupInfo:
                    description: Holds information for a backup.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      backupDataVersion:
                        description: Version of the backup data.
                        type: string
                        readOnly: true
                      roleStatus:
                        description: Backup status for each role.
                        readOnly: true
                        type: array
                        items:
                          description: Backup status for a role.
                          type: object
                          properties:
                            roleName:
                              description: Name of the role.
                              type: string
                            status:
                              description: Status of the role.
                              type: string
                              enum:
                              - Creating
                              - Queued
                              - Running
                              - Deleted
                              - Failed
                              - PartialSucceeded
                              - Succeeded
                              x-ms-enum:
                                name: OperationStatus
                                modelAsString: false
                      status:
                        description: Current status of the backup.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Queued
                        - Running
                        - Deleted
                        - Failed
                        - PartialSucceeded
                        - Succeeded
                        x-ms-enum:
                          name: OperationStatus
                          modelAsString: false
                      createdDateTime:
                        description: Creation time of the backup.
                        type: string
                        format: date-time
                        readOnly: true
                      timeTakenToCreate:
                        description: Duration to create the backup.
                        type: string
                        readOnly: true
                      deploymentID:
                        description: Deployment Id of the stamp.
                        type: string
                        readOnly: true
                      stampVersion:
                        description: Azure Stack stamp version of the backup.
                        type: string
                        readOnly: true
                      oemVersion:
                        description: OEM version.
                        type: string
                        readOnly: true
                      isCloudRecoveryReady:
                        description: True if the backup can be used for cloud recovery
                          scenario.
                        type: boolean
                        readOnly: true
                      encryptionCertThumbprint:
                        description: The thumbprint of the certificate used to encrypt
                          the backup encryption key.
                        type: string
                        readOnly: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    RestoreOptions:
      description: Properties for restore options.
      properties:
        roleName:
          description: The Azure Stack role name for restore, set it to empty for
            all infrastructure role
          type: string
        decryptionCertBase64:
          description: The certificate file raw data in Base64 string. This should
            be the .pfx file with the private key.
          type: string
        decryptionCertPassword:
          description: The password for the decryption certificate.
          type: string
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
      x-ms-azure-resource: true
