openapi: 3.0.0
info:
  version: 2018-09-01
  title: BackupManagementClient
  description: The Admin Backup Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations:
    get:
      description: Returns the list of backup locations.
      tags:
      - BackupLocations
      operationId: BackupLocations_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      - description: OData top parameter.
        name: $top
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData skip parameter.
        name: $skip
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: List of backup locations.
                properties:
                  value:
                    description: List of backup locations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Location of the resource.
                          type: string
                          readOnly: false
                        tags:
                          description: List of key value pairs.
                          type: object
                          readOnly: false
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a backup location.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            externalStoreDefault:
                              description: Information about an external storage location.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                path:
                                  description: Path to the update location
                                  type: string
                                userName:
                                  description: Username to access the location.
                                  type: string
                                password:
                                  description: Password to access the location.
                                  type: string
                                encryptionCertBase64:
                                  description: The base64 raw data for the backup
                                    encryption certificate.
                                  type: string
                                encryptionCertThumbprint:
                                  description: The thumbprint of the encryption certificate.
                                  type: string
                                  readOnly: true
                                backupFrequencyInHours:
                                  description: The interval, in hours, for the frequency
                                    that the scheduler takes a backup.
                                  type: integer
                                availableCapacity:
                                  description: Free space at the backup location.
                                  type: string
                                  readOnly: true
                                isBackupSchedulerEnabled:
                                  description: True if the backup scheduler is enabled.
                                  type: boolean
                                nextBackupTime:
                                  description: The scheduled time of the next backup.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                lastBackupTime:
                                  description: Time of backup.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                backupRetentionPeriodInDays:
                                  description: The retention period, in days, for
                                    backs in the storage location.
                                  type: integer
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}
  : get:
      description: Returns a specific backup location based on name.
      tags:
      - BackupLocations
      operationId: BackupLocations_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a backup location.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      externalStoreDefault:
                        description: Information about an external storage location.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          path:
                            description: Path to the update location
                            type: string
                          userName:
                            description: Username to access the location.
                            type: string
                          password:
                            description: Password to access the location.
                            type: string
                          encryptionCertBase64:
                            description: The base64 raw data for the backup encryption
                              certificate.
                            type: string
                          encryptionCertThumbprint:
                            description: The thumbprint of the encryption certificate.
                            type: string
                            readOnly: true
                          backupFrequencyInHours:
                            description: The interval, in hours, for the frequency
                              that the scheduler takes a backup.
                            type: integer
                          availableCapacity:
                            description: Free space at the backup location.
                            type: string
                            readOnly: true
                          isBackupSchedulerEnabled:
                            description: True if the backup scheduler is enabled.
                            type: boolean
                          nextBackupTime:
                            description: The scheduled time of the next backup.
                            type: string
                            format: date-time
                            readOnly: true
                          lastBackupTime:
                            description: Time of backup.
                            type: string
                            format: date-time
                            readOnly: true
                          backupRetentionPeriodInDays:
                            description: The retention period, in days, for backs
                              in the storage location.
                            type: integer
                description: Base Resource Object
                x-ms-azure-resource: true
    put:
      description: Update a backup location.
      tags:
      - BackupLocations
      operationId: BackupLocations_Update
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: URI of the resource.
                  type: string
                  readOnly: true
                name:
                  description: Name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: Type of resource.
                  type: string
                  readOnly: true
                location:
                  description: Location of the resource.
                  type: string
                  readOnly: false
                tags:
                  description: List of key value pairs.
                  type: object
                  readOnly: false
                  additionalProperties:
                    type: string
                properties:
                  description: Properties of a backup location.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    externalStoreDefault:
                      description: Information about an external storage location.
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        path:
                          description: Path to the update location
                          type: string
                        userName:
                          description: Username to access the location.
                          type: string
                        password:
                          description: Password to access the location.
                          type: string
                        encryptionCertBase64:
                          description: The base64 raw data for the backup encryption
                            certificate.
                          type: string
                        encryptionCertThumbprint:
                          description: The thumbprint of the encryption certificate.
                          type: string
                          readOnly: true
                        backupFrequencyInHours:
                          description: The interval, in hours, for the frequency that
                            the scheduler takes a backup.
                          type: integer
                        availableCapacity:
                          description: Free space at the backup location.
                          type: string
                          readOnly: true
                        isBackupSchedulerEnabled:
                          description: True if the backup scheduler is enabled.
                          type: boolean
                        nextBackupTime:
                          description: The scheduled time of the next backup.
                          type: string
                          format: date-time
                          readOnly: true
                        lastBackupTime:
                          description: Time of backup.
                          type: string
                          format: date-time
                          readOnly: true
                        backupRetentionPeriodInDays:
                          description: The retention period, in days, for backs in
                            the storage location.
                          type: integer
              description: Base Resource Object
              x-ms-azure-resource: true
        description: Backup location object.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a backup location.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      externalStoreDefault:
                        description: Information about an external storage location.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          path:
                            description: Path to the update location
                            type: string
                          userName:
                            description: Username to access the location.
                            type: string
                          password:
                            description: Password to access the location.
                            type: string
                          encryptionCertBase64:
                            description: The base64 raw data for the backup encryption
                              certificate.
                            type: string
                          encryptionCertThumbprint:
                            description: The thumbprint of the encryption certificate.
                            type: string
                            readOnly: true
                          backupFrequencyInHours:
                            description: The interval, in hours, for the frequency
                              that the scheduler takes a backup.
                            type: integer
                          availableCapacity:
                            description: Free space at the backup location.
                            type: string
                            readOnly: true
                          isBackupSchedulerEnabled:
                            description: True if the backup scheduler is enabled.
                            type: boolean
                          nextBackupTime:
                            description: The scheduled time of the next backup.
                            type: string
                            format: date-time
                            readOnly: true
                          lastBackupTime:
                            description: Time of backup.
                            type: string
                            format: date-time
                            readOnly: true
                          backupRetentionPeriodInDays:
                            description: The retention period, in days, for backs
                              in the storage location.
                            type: integer
                description: Base Resource Object
                x-ms-azure-resource: true
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a backup location.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      externalStoreDefault:
                        description: Information about an external storage location.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          path:
                            description: Path to the update location
                            type: string
                          userName:
                            description: Username to access the location.
                            type: string
                          password:
                            description: Password to access the location.
                            type: string
                          encryptionCertBase64:
                            description: The base64 raw data for the backup encryption
                              certificate.
                            type: string
                          encryptionCertThumbprint:
                            description: The thumbprint of the encryption certificate.
                            type: string
                            readOnly: true
                          backupFrequencyInHours:
                            description: The interval, in hours, for the frequency
                              that the scheduler takes a backup.
                            type: integer
                          availableCapacity:
                            description: Free space at the backup location.
                            type: string
                            readOnly: true
                          isBackupSchedulerEnabled:
                            description: True if the backup scheduler is enabled.
                            type: boolean
                          nextBackupTime:
                            description: The scheduled time of the next backup.
                            type: string
                            format: date-time
                            readOnly: true
                          lastBackupTime:
                            description: Time of backup.
                            type: string
                            format: date-time
                            readOnly: true
                          backupRetentionPeriodInDays:
                            description: The retention period, in days, for backs
                              in the storage location.
                            type: integer
                description: Base Resource Object
                x-ms-azure-resource: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/createBackup
  : post:
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Back up a specific location.
      tags:
      - BackupLocations
      operationId: BackupLocations_CreateBackup
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties for a backup.
                    x-ms-client-flatten: true
                    properties:
                      backupInfo:
                        description: Holds information for a backup.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          backupDataVersion:
                            description: Version of the backup data.
                            type: string
                            readOnly: true
                          roleStatus:
                            description: Backup status for each role.
                            readOnly: true
                            type: array
                            items:
                              description: Backup status for a role.
                              type: object
                              properties:
                                roleName:
                                  description: Name of the role.
                                  type: string
                                status:
                                  description: Status of the role.
                                  type: string
                                  enum:
                                  - Creating
                                  - Queued
                                  - Running
                                  - Deleted
                                  - Failed
                                  - PartialSucceeded
                                  - Succeeded
                                  x-ms-enum:
                                    name: OperationStatus
                                    modelAsString: false
                          status:
                            description: Current status of the backup.
                            readOnly: true
                            type: string
                            enum:
                            - Creating
                            - Queued
                            - Running
                            - Deleted
                            - Failed
                            - PartialSucceeded
                            - Succeeded
                            x-ms-enum:
                              name: OperationStatus
                              modelAsString: false
                          createdDateTime:
                            description: Creation time of the backup.
                            type: string
                            format: date-time
                            readOnly: true
                          timeTakenToCreate:
                            description: Duration to create the backup.
                            type: string
                            readOnly: true
                          deploymentID:
                            description: Deployment Id of the stamp.
                            type: string
                            readOnly: true
                          stampVersion:
                            description: Azure Stack stamp version of the backup.
                            type: string
                            readOnly: true
                          oemVersion:
                            description: OEM version.
                            type: string
                            readOnly: true
                          isCloudRecoveryReady:
                            description: True if the backup can be used for cloud
                              recovery scenario.
                            type: boolean
                            readOnly: true
                          encryptionCertThumbprint:
                            description: The thumbprint of the certificate used to
                              encrypt the backup encryption key.
                            type: string
                            readOnly: true
                description: Base Resource Object
                x-ms-azure-resource: true
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Location of the resource.
                    type: string
                    readOnly: false
                  tags:
                    description: List of key value pairs.
                    type: object
                    readOnly: false
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties for a backup.
                    x-ms-client-flatten: true
                    properties:
                      backupInfo:
                        description: Holds information for a backup.
                        x-ms-client-flatten: true
                        type: object
                        properties:
                          backupDataVersion:
                            description: Version of the backup data.
                            type: string
                            readOnly: true
                          roleStatus:
                            description: Backup status for each role.
                            readOnly: true
                            type: array
                            items:
                              description: Backup status for a role.
                              type: object
                              properties:
                                roleName:
                                  description: Name of the role.
                                  type: string
                                status:
                                  description: Status of the role.
                                  type: string
                                  enum:
                                  - Creating
                                  - Queued
                                  - Running
                                  - Deleted
                                  - Failed
                                  - PartialSucceeded
                                  - Succeeded
                                  x-ms-enum:
                                    name: OperationStatus
                                    modelAsString: false
                          status:
                            description: Current status of the backup.
                            readOnly: true
                            type: string
                            enum:
                            - Creating
                            - Queued
                            - Running
                            - Deleted
                            - Failed
                            - PartialSucceeded
                            - Succeeded
                            x-ms-enum:
                              name: OperationStatus
                              modelAsString: false
                          createdDateTime:
                            description: Creation time of the backup.
                            type: string
                            format: date-time
                            readOnly: true
                          timeTakenToCreate:
                            description: Duration to create the backup.
                            type: string
                            readOnly: true
                          deploymentID:
                            description: Deployment Id of the stamp.
                            type: string
                            readOnly: true
                          stampVersion:
                            description: Azure Stack stamp version of the backup.
                            type: string
                            readOnly: true
                          oemVersion:
                            description: OEM version.
                            type: string
                            readOnly: true
                          isCloudRecoveryReady:
                            description: True if the backup can be used for cloud
                              recovery scenario.
                            type: boolean
                            readOnly: true
                          encryptionCertThumbprint:
                            description: The thumbprint of the certificate used to
                              encrypt the backup encryption key.
                            type: string
                            readOnly: true
                description: Base Resource Object
                x-ms-azure-resource: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/pruneExternalStore
  : post:
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Prune the external backup store.
      tags:
      - BackupLocations
      operationId: BackupLocations_PruneExternalStore
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: path
        description: Name of the backup location.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
          default: 2018-09-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Prune backup store operation model.
              properties:
                operationType:
                  description: Operation type.
                  type: string
                  enum:
                  - Default
                  - DryRun
                  x-ms-enum:
                    name: PruneBackupStoreOperationType
                    modelAsString: false
        description: Prune operation option.
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: List of files to delete.
                properties:
                  properties:
                    description: Holds information for a backup.
                    x-ms-client-flatten: true
                    properties:
                      pathsToDelete:
                        description: Garbage file list.
                        type: array
                        items:
                          type: string
                        x-ms-client-flatten: true
        '202':
          description: ACCEPTED
        default:
          description: Error response.
components:
  parameters:
    BackupLocationParameter:
      name: location
      in: path
      description: Name of the backup location.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: 2018-09-01
    TopParameter:
      description: OData top parameter.
      name: $top
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SkipParameter:
      description: OData skip parameter.
      name: $skip
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    BackupLocation:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
        properties:
          description: Properties of a backup location.
          x-ms-client-flatten: true
          type: object
          properties:
            externalStoreDefault:
              description: Information about an external storage location.
              x-ms-client-flatten: true
              type: object
              properties:
                path:
                  description: Path to the update location
                  type: string
                userName:
                  description: Username to access the location.
                  type: string
                password:
                  description: Password to access the location.
                  type: string
                encryptionCertBase64:
                  description: The base64 raw data for the backup encryption certificate.
                  type: string
                encryptionCertThumbprint:
                  description: The thumbprint of the encryption certificate.
                  type: string
                  readOnly: true
                backupFrequencyInHours:
                  description: The interval, in hours, for the frequency that the
                    scheduler takes a backup.
                  type: integer
                availableCapacity:
                  description: Free space at the backup location.
                  type: string
                  readOnly: true
                isBackupSchedulerEnabled:
                  description: True if the backup scheduler is enabled.
                  type: boolean
                nextBackupTime:
                  description: The scheduled time of the next backup.
                  type: string
                  format: date-time
                  readOnly: true
                lastBackupTime:
                  description: Time of backup.
                  type: string
                  format: date-time
                  readOnly: true
                backupRetentionPeriodInDays:
                  description: The retention period, in days, for backs in the storage
                    location.
                  type: integer
      description: Base Resource Object
      x-ms-azure-resource: true
    BackupLocationModel:
      type: object
      description: Properties of a backup location.
      properties:
        externalStoreDefault:
          description: Information about an external storage location.
          x-ms-client-flatten: true
          type: object
          properties:
            path:
              description: Path to the update location
              type: string
            userName:
              description: Username to access the location.
              type: string
            password:
              description: Password to access the location.
              type: string
            encryptionCertBase64:
              description: The base64 raw data for the backup encryption certificate.
              type: string
            encryptionCertThumbprint:
              description: The thumbprint of the encryption certificate.
              type: string
              readOnly: true
            backupFrequencyInHours:
              description: The interval, in hours, for the frequency that the scheduler
                takes a backup.
              type: integer
            availableCapacity:
              description: Free space at the backup location.
              type: string
              readOnly: true
            isBackupSchedulerEnabled:
              description: True if the backup scheduler is enabled.
              type: boolean
            nextBackupTime:
              description: The scheduled time of the next backup.
              type: string
              format: date-time
              readOnly: true
            lastBackupTime:
              description: Time of backup.
              type: string
              format: date-time
              readOnly: true
            backupRetentionPeriodInDays:
              description: The retention period, in days, for backs in the storage
                location.
              type: integer
    ExternalStore:
      type: object
      description: Information about an external storage location.
      properties:
        path:
          description: Path to the update location
          type: string
        userName:
          description: Username to access the location.
          type: string
        password:
          description: Password to access the location.
          type: string
        encryptionCertBase64:
          description: The base64 raw data for the backup encryption certificate.
          type: string
        encryptionCertThumbprint:
          description: The thumbprint of the encryption certificate.
          type: string
          readOnly: true
        backupFrequencyInHours:
          description: The interval, in hours, for the frequency that the scheduler
            takes a backup.
          type: integer
        availableCapacity:
          description: Free space at the backup location.
          type: string
          readOnly: true
        isBackupSchedulerEnabled:
          description: True if the backup scheduler is enabled.
          type: boolean
        nextBackupTime:
          description: The scheduled time of the next backup.
          type: string
          format: date-time
          readOnly: true
        lastBackupTime:
          description: Time of backup.
          type: string
          format: date-time
          readOnly: true
        backupRetentionPeriodInDays:
          description: The retention period, in days, for backs in the storage location.
          type: integer
    BackupLocationList:
      type: object
      description: List of backup locations.
      properties:
        value:
          description: List of backup locations.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Location of the resource.
                type: string
                readOnly: false
              tags:
                description: List of key value pairs.
                type: object
                readOnly: false
                additionalProperties:
                  type: string
              properties:
                description: Properties of a backup location.
                x-ms-client-flatten: true
                type: object
                properties:
                  externalStoreDefault:
                    description: Information about an external storage location.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      path:
                        description: Path to the update location
                        type: string
                      userName:
                        description: Username to access the location.
                        type: string
                      password:
                        description: Password to access the location.
                        type: string
                      encryptionCertBase64:
                        description: The base64 raw data for the backup encryption
                          certificate.
                        type: string
                      encryptionCertThumbprint:
                        description: The thumbprint of the encryption certificate.
                        type: string
                        readOnly: true
                      backupFrequencyInHours:
                        description: The interval, in hours, for the frequency that
                          the scheduler takes a backup.
                        type: integer
                      availableCapacity:
                        description: Free space at the backup location.
                        type: string
                        readOnly: true
                      isBackupSchedulerEnabled:
                        description: True if the backup scheduler is enabled.
                        type: boolean
                      nextBackupTime:
                        description: The scheduled time of the next backup.
                        type: string
                        format: date-time
                        readOnly: true
                      lastBackupTime:
                        description: Time of backup.
                        type: string
                        format: date-time
                        readOnly: true
                      backupRetentionPeriodInDays:
                        description: The retention period, in days, for backs in the
                          storage location.
                        type: integer
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    PruneBackupStoreOperationType:
      description: Prune backup store operation type.
      type: string
      enum:
      - Default
      - DryRun
      x-ms-enum:
        name: PruneBackupStoreOperationType
        modelAsString: false
    PruneBackupStoreOperationOptionModel:
      type: object
      description: Prune backup store operation model.
      properties:
        operationType:
          description: Operation type.
          type: string
          enum:
          - Default
          - DryRun
          x-ms-enum:
            name: PruneBackupStoreOperationType
            modelAsString: false
    PruneModel:
      description: Properties for a prune list.
      properties:
        pathsToDelete:
          description: Garbage file list.
          type: array
          items:
            type: string
          x-ms-client-flatten: true
    PruneList:
      type: object
      description: List of files to delete.
      properties:
        properties:
          description: Holds information for a backup.
          x-ms-client-flatten: true
          properties:
            pathsToDelete:
              description: Garbage file list.
              type: array
              items:
                type: string
              x-ms-client-flatten: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    OperationStatus:
      description: Status of an operation.
      type: string
      enum:
      - Creating
      - Queued
      - Running
      - Deleted
      - Failed
      - PartialSucceeded
      - Succeeded
      x-ms-enum:
        name: OperationStatus
        modelAsString: false
    RoleOperationStatus:
      description: Backup status for a role.
      type: object
      properties:
        roleName:
          description: Name of the role.
          type: string
        status:
          description: Status of the role.
          type: string
          enum:
          - Creating
          - Queued
          - Running
          - Deleted
          - Failed
          - PartialSucceeded
          - Succeeded
          x-ms-enum:
            name: OperationStatus
            modelAsString: false
    RoleOperationStatusList:
      description: object
      type: array
      items:
        description: Backup status for a role.
        type: object
        properties:
          roleName:
            description: Name of the role.
            type: string
          status:
            description: Status of the role.
            type: string
            enum:
            - Creating
            - Queued
            - Running
            - Deleted
            - Failed
            - PartialSucceeded
            - Succeeded
            x-ms-enum:
              name: OperationStatus
              modelAsString: false
    BackupInfo:
      type: object
      description: Holds information for a backup.
      properties:
        backupDataVersion:
          description: Version of the backup data.
          type: string
          readOnly: true
        roleStatus:
          description: Backup status for each role.
          readOnly: true
          type: array
          items:
            description: Backup status for a role.
            type: object
            properties:
              roleName:
                description: Name of the role.
                type: string
              status:
                description: Status of the role.
                type: string
                enum:
                - Creating
                - Queued
                - Running
                - Deleted
                - Failed
                - PartialSucceeded
                - Succeeded
                x-ms-enum:
                  name: OperationStatus
                  modelAsString: false
        status:
          description: Current status of the backup.
          readOnly: true
          type: string
          enum:
          - Creating
          - Queued
          - Running
          - Deleted
          - Failed
          - PartialSucceeded
          - Succeeded
          x-ms-enum:
            name: OperationStatus
            modelAsString: false
        createdDateTime:
          description: Creation time of the backup.
          type: string
          format: date-time
          readOnly: true
        timeTakenToCreate:
          description: Duration to create the backup.
          type: string
          readOnly: true
        deploymentID:
          description: Deployment Id of the stamp.
          type: string
          readOnly: true
        stampVersion:
          description: Azure Stack stamp version of the backup.
          type: string
          readOnly: true
        oemVersion:
          description: OEM version.
          type: string
          readOnly: true
        isCloudRecoveryReady:
          description: True if the backup can be used for cloud recovery scenario.
          type: boolean
          readOnly: true
        encryptionCertThumbprint:
          description: The thumbprint of the certificate used to encrypt the backup
            encryption key.
          type: string
          readOnly: true
    BackupModel:
      description: Properties for a backup.
      properties:
        backupInfo:
          description: Holds information for a backup.
          x-ms-client-flatten: true
          type: object
          properties:
            backupDataVersion:
              description: Version of the backup data.
              type: string
              readOnly: true
            roleStatus:
              description: Backup status for each role.
              readOnly: true
              type: array
              items:
                description: Backup status for a role.
                type: object
                properties:
                  roleName:
                    description: Name of the role.
                    type: string
                  status:
                    description: Status of the role.
                    type: string
                    enum:
                    - Creating
                    - Queued
                    - Running
                    - Deleted
                    - Failed
                    - PartialSucceeded
                    - Succeeded
                    x-ms-enum:
                      name: OperationStatus
                      modelAsString: false
            status:
              description: Current status of the backup.
              readOnly: true
              type: string
              enum:
              - Creating
              - Queued
              - Running
              - Deleted
              - Failed
              - PartialSucceeded
              - Succeeded
              x-ms-enum:
                name: OperationStatus
                modelAsString: false
            createdDateTime:
              description: Creation time of the backup.
              type: string
              format: date-time
              readOnly: true
            timeTakenToCreate:
              description: Duration to create the backup.
              type: string
              readOnly: true
            deploymentID:
              description: Deployment Id of the stamp.
              type: string
              readOnly: true
            stampVersion:
              description: Azure Stack stamp version of the backup.
              type: string
              readOnly: true
            oemVersion:
              description: OEM version.
              type: string
              readOnly: true
            isCloudRecoveryReady:
              description: True if the backup can be used for cloud recovery scenario.
              type: boolean
              readOnly: true
            encryptionCertThumbprint:
              description: The thumbprint of the certificate used to encrypt the backup
                encryption key.
              type: string
              readOnly: true
    Backup:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Location of the resource.
          type: string
          readOnly: false
        tags:
          description: List of key value pairs.
          type: object
          readOnly: false
          additionalProperties:
            type: string
        properties:
          description: Properties for a backup.
          x-ms-client-flatten: true
          properties:
            backupInfo:
              description: Holds information for a backup.
              x-ms-client-flatten: true
              type: object
              properties:
                backupDataVersion:
                  description: Version of the backup data.
                  type: string
                  readOnly: true
                roleStatus:
                  description: Backup status for each role.
                  readOnly: true
                  type: array
                  items:
                    description: Backup status for a role.
                    type: object
                    properties:
                      roleName:
                        description: Name of the role.
                        type: string
                      status:
                        description: Status of the role.
                        type: string
                        enum:
                        - Creating
                        - Queued
                        - Running
                        - Deleted
                        - Failed
                        - PartialSucceeded
                        - Succeeded
                        x-ms-enum:
                          name: OperationStatus
                          modelAsString: false
                status:
                  description: Current status of the backup.
                  readOnly: true
                  type: string
                  enum:
                  - Creating
                  - Queued
                  - Running
                  - Deleted
                  - Failed
                  - PartialSucceeded
                  - Succeeded
                  x-ms-enum:
                    name: OperationStatus
                    modelAsString: false
                createdDateTime:
                  description: Creation time of the backup.
                  type: string
                  format: date-time
                  readOnly: true
                timeTakenToCreate:
                  description: Duration to create the backup.
                  type: string
                  readOnly: true
                deploymentID:
                  description: Deployment Id of the stamp.
                  type: string
                  readOnly: true
                stampVersion:
                  description: Azure Stack stamp version of the backup.
                  type: string
                  readOnly: true
                oemVersion:
                  description: OEM version.
                  type: string
                  readOnly: true
                isCloudRecoveryReady:
                  description: True if the backup can be used for cloud recovery scenario.
                  type: boolean
                  readOnly: true
                encryptionCertThumbprint:
                  description: The thumbprint of the certificate used to encrypt the
                    backup encryption key.
                  type: string
                  readOnly: true
      description: Base Resource Object
      x-ms-azure-resource: true
