openapi: 3.0.0
info:
  title: DeploymentScriptsClient
  description: The APIs listed in this specification can be used to manage Deployment
    Scripts resource through the Azure Resource Manager.
  version: 2023-08-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}
  : put:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_Create
      x-ms-long-running-operation: true
      description: Creates a deployment script.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                identity:
                  description: Optional property. Managed identity to be used for
                    this deployment script. Currently, only user-assigned MSI is supported.
                  type: object
                  properties:
                    type:
                      type: string
                      description: Type of the managed identity.
                      enum:
                      - UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    tenantId:
                      readOnly: true
                      type: string
                      description: ID of the Azure Active Directory.
                    userAssignedIdentities:
                      type: object
                      description: The list of user-assigned managed identities associated
                        with the resource. Key is the Azure resource Id of the managed
                        identity.
                      additionalProperties:
                        description: User-assigned managed identity.
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: Azure Active Directory principal ID associated
                              with this identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: Client App Id associated with this identity.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The location of the ACI and the storage account for
                    the deployment script.
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                kind:
                  type: string
                  description: Type of the script.
                  enum:
                  - AzurePowerShell
                  - AzureCLI
                  x-ms-enum:
                    name: ScriptType
                    modelAsString: true
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
              required:
              - location
              - kind
              discriminator:
                propertyName: kind
        description: Deployment script supplied to the operation.
        required: true
      responses:
        '200':
          description: OK -- Deployment script is updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  identity:
                    description: Optional property. Managed identity to be used for
                      this deployment script. Currently, only user-assigned MSI is
                      supported.
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of the managed identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      tenantId:
                        readOnly: true
                        type: string
                        description: ID of the Azure Active Directory.
                      userAssignedIdentities:
                        type: object
                        description: The list of user-assigned managed identities
                          associated with the resource. Key is the Azure resource
                          Id of the managed identity.
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the ACI and the storage account for
                      the deployment script.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                  kind:
                    type: string
                    description: Type of the script.
                    enum:
                    - AzurePowerShell
                    - AzureCLI
                    x-ms-enum:
                      name: ScriptType
                      modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
                - kind
                discriminator:
                  propertyName: kind
        '201':
          description: Created -- Deployment script created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  identity:
                    description: Optional property. Managed identity to be used for
                      this deployment script. Currently, only user-assigned MSI is
                      supported.
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of the managed identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      tenantId:
                        readOnly: true
                        type: string
                        description: ID of the Azure Active Directory.
                      userAssignedIdentities:
                        type: object
                        description: The list of user-assigned managed identities
                          associated with the resource. Key is the Azure resource
                          Id of the managed identity.
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the ACI and the storage account for
                      the deployment script.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                  kind:
                    type: string
                    description: Type of the script.
                    enum:
                    - AzurePowerShell
                    - AzureCLI
                    x-ms-enum:
                      name: ScriptType
                      modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
    patch:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_Update
      description: Updates deployment script tags with specified values.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                tags:
                  type: object
                  description: Resource tags to be updated.
                  additionalProperties:
                    type: string
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
        description: Deployment script resource with the tags to be updated.
      responses:
        '200':
          description: OK -- Deployment script tags are updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  identity:
                    description: Optional property. Managed identity to be used for
                      this deployment script. Currently, only user-assigned MSI is
                      supported.
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of the managed identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      tenantId:
                        readOnly: true
                        type: string
                        description: ID of the Azure Active Directory.
                      userAssignedIdentities:
                        type: object
                        description: The list of user-assigned managed identities
                          associated with the resource. Key is the Azure resource
                          Id of the managed identity.
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the ACI and the storage account for
                      the deployment script.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                  kind:
                    type: string
                    description: Type of the script.
                    enum:
                    - AzurePowerShell
                    - AzureCLI
                    x-ms-enum:
                      name: ScriptType
                      modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
    get:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_Get
      description: Gets a deployment script with a given name.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns information about the deployment script.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  identity:
                    description: Optional property. Managed identity to be used for
                      this deployment script. Currently, only user-assigned MSI is
                      supported.
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of the managed identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      tenantId:
                        readOnly: true
                        type: string
                        description: ID of the Azure Active Directory.
                      userAssignedIdentities:
                        type: object
                        description: The list of user-assigned managed identities
                          associated with the resource. Key is the Azure resource
                          Id of the managed identity.
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The location of the ACI and the storage account for
                      the deployment script.
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                  kind:
                    type: string
                    description: Type of the script.
                    enum:
                    - AzurePowerShell
                    - AzureCLI
                    x-ms-enum:
                      name: ScriptType
                      modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - location
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
    delete:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_Delete
      description: Deletes a deployment script. When operation completes, status code
        200 returned without content.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Deployment script deleted.
        '204':
          description: Deployment script does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentScripts:
    get:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_ListBySubscription
      description: Lists all deployment scripts for a given subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns a list of deployment scripts.
          content:
            application/json:
              schema:
                description: List of deployment scripts.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        identity:
                          description: Optional property. Managed identity to be used
                            for this deployment script. Currently, only user-assigned
                            MSI is supported.
                          type: object
                          properties:
                            type:
                              type: string
                              description: Type of the managed identity.
                              enum:
                              - UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            tenantId:
                              readOnly: true
                              type: string
                              description: ID of the Azure Active Directory.
                            userAssignedIdentities:
                              type: object
                              description: The list of user-assigned managed identities
                                associated with the resource. Key is the Azure resource
                                Id of the managed identity.
                              additionalProperties:
                                description: User-assigned managed identity.
                                type: object
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: Azure Active Directory principal
                                      ID associated with this identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: Client App Id associated with this
                                      identity.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The location of the ACI and the storage account
                            for the deployment script.
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                        kind:
                          type: string
                          description: Type of the script.
                          enum:
                          - AzurePowerShell
                          - AzureCLI
                          x-ms-enum:
                            name: ScriptType
                            modelAsString: true
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                      required:
                      - location
                      - kind
                      discriminator:
                        propertyName: kind
                    description: An array of deployment scripts.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to use for getting the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs
  : get:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_GetLogs
      description: Gets deployment script logs for a given deployment script name.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns deployment script logs if available.
          content:
            application/json:
              schema:
                description: Deployment script execution logs.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: Script log properties.
                          properties:
                            log:
                              type: string
                              readOnly: true
                              description: Script execution logs in text format.
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                    description: Deployment scripts logs.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs/default
  : get:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_GetLogsDefault
      description: Gets deployment script logs for a given deployment script name.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: scriptName
        in: path
        required: true
        description: Name of the deployment script.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      - name: tail
        in: query
        description: The number of lines to show from the tail of the deployment script
          log. Valid value is a positive number up to 1000. If 'tail' is not provided,
          all available logs are shown up to container instance log capacity of 4mb.
        schema:
          type: integer
      responses:
        '200':
          description: OK -- Returns deployment script logs if available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: Script log properties.
                    properties:
                      log:
                        type: string
                        readOnly: true
                        description: Script execution logs in text format.
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts:
    get:
      tags:
      - DeploymentScripts
      operationId: DeploymentScripts_ListByResourceGroup
      description: Lists deployments scripts.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: client
        description: Subscription Id which forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client Api version.
        schema:
          type: string
      responses:
        '200':
          description: OK -- Returns a list of deployment scripts.
          content:
            application/json:
              schema:
                description: List of deployment scripts.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        identity:
                          description: Optional property. Managed identity to be used
                            for this deployment script. Currently, only user-assigned
                            MSI is supported.
                          type: object
                          properties:
                            type:
                              type: string
                              description: Type of the managed identity.
                              enum:
                              - UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            tenantId:
                              readOnly: true
                              type: string
                              description: ID of the Azure Active Directory.
                            userAssignedIdentities:
                              type: object
                              description: The list of user-assigned managed identities
                                associated with the resource. Key is the Azure resource
                                Id of the managed identity.
                              additionalProperties:
                                description: User-assigned managed identity.
                                type: object
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: Azure Active Directory principal
                                      ID associated with this identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: Client App Id associated with this
                                      identity.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The location of the ACI and the storage account
                            for the deployment script.
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                        kind:
                          type: string
                          description: Type of the script.
                          enum:
                          - AzurePowerShell
                          - AzureCLI
                          x-ms-enum:
                            name: ScriptType
                            modelAsString: true
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                      required:
                      - location
                      - kind
                      discriminator:
                        propertyName: kind
                    description: An array of deployment scripts.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to use for getting the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: Deployment scripts error response.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: client
      description: Subscription Id which forms part of the URI for every service call.
      schema:
        type: string
    ScriptNameParameter:
      name: scriptName
      in: path
      required: true
      description: Name of the deployment script.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client Api version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DeploymentScript:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        identity:
          description: Optional property. Managed identity to be used for this deployment
            script. Currently, only user-assigned MSI is supported.
          type: object
          properties:
            type:
              type: string
              description: Type of the managed identity.
              enum:
              - UserAssigned
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
            tenantId:
              readOnly: true
              type: string
              description: ID of the Azure Active Directory.
            userAssignedIdentities:
[...]
