openapi: 3.0.0
info:
  version: 2025-02-01
  title: DevCenter
  description: DevCenter Management API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/skus:
    parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    - name: $top
      in: query
      description: 'The maximum number of resources to return from the operation.
        Example: ''$top=10''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    get:
      tags:
      - SKUs
      description: Lists the Microsoft.DevCenter SKUs available in a subscription
      operationId: Skus_ListBySubscription
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Results of the Microsoft.DevCenter SKU list operation.
                type: object
                properties:
                  value:
                    description: Current page of results.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the SKU. E.g. P3. It is typically
                            a letter+number code
                        tier:
                          type: string
                          description: This field is required to be implemented by
                            the Resource Provider if the service has more than one
                            tier, but is not required on a PUT.
                          enum:
                          - Free
                          - Basic
                          - Standard
                          - Premium
                          x-ms-enum:
                            name: SkuTier
                            modelAsString: false
                        size:
                          type: string
                          description: 'The SKU size. When the name field is the combination
                            of tier and some other value, this would be the standalone
                            code. '
                        family:
                          type: string
                          description: If the service has different generations of
                            hardware, for the same SKU, then that can be captured
                            here.
                        capacity:
                          type: integer
                          format: int32
                          description: If the SKU supports scale out/in then the capacity
                            integer should be included. If scale out/in is not possible
                            for the resource this may be omitted.
                        resourceType:
                          type: string
                          description: The name of the resource type
                          readOnly: true
                        locations:
                          description: SKU supported locations.
                          type: array
                          readOnly: true
                          items:
                            type: string
                        capabilities:
                          description: Collection of name/value pairs to describe
                            the SKU capabilities.
                          type: array
                          readOnly: true
                          items:
                            description: A name/value pair to describe a capability.
                            type: object
                            properties:
                              name:
                                description: Name of the capability.
                                type: string
                                readOnly: true
                              value:
                                description: Value of the capability.
                                type: string
                                readOnly: true
                          x-ms-identifiers: []
                      required:
                      - name
                      description: The resource model definition representing SKU
                    x-ms-identifiers: []
                    readOnly: true
                  nextLink:
                    description: URL to get the next set of results if there are any.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: projectName
      in: path
      required: true
      description: The name of the project.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
    - name: $top
      in: query
      description: 'The maximum number of resources to return from the operation.
        Example: ''$top=10''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    get:
      tags:
      - Pools
      description: Lists pools for a project
      operationId: Pools_ListByProject
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Results of the machine pool list operation.
                type: object
                properties:
                  value:
                    description: Current page of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            devBoxDefinitionType:
                              description: Indicates if the pool is created from an
                                existing Dev Box Definition or if one is provided
                                directly.
                              type: string
                              enum:
                              - Reference
                              - Value
                              x-ms-enum:
                                name: PoolDevBoxDefinitionType
                                modelAsString: true
                            devBoxDefinitionName:
                              description: Name of a Dev Box definition in parent
                                Project of this Pool. Will be ignored if devBoxDefinitionType
                                is Value.
                              type: string
                            devBoxDefinition:
                              description: A definition of the machines that are created
                                from this Pool. Will be ignored if devBoxDefinitionType
                                is Reference or not provided.
                              type: object
                              properties:
                                imageReference:
                                  description: Image reference information.
                                  type: object
                                  properties:
                                    id:
                                      description: Image ID, or Image version ID.
                                        When Image ID is provided, its latest version
                                        will be used.
                                      type: string
                                    exactVersion:
                                      type: string
                                      readOnly: true
                                      description: The actual version of the image
                                        after use. When id references a gallery image
                                        latest version, this will indicate the actual
                                        version in use.
                                sku:
                                  description: The SKU for Dev Boxes created from
                                    the Pool.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the SKU. E.g. P3. It
                                        is typically a letter+number code
                                    tier:
                                      type: string
                                      description: This field is required to be implemented
                                        by the Resource Provider if the service has
                                        more than one tier, but is not required on
                                        a PUT.
                                      enum:
                                      - Free
                                      - Basic
                                      - Standard
                                      - Premium
                                      x-ms-enum:
                                        name: SkuTier
                                        modelAsString: false
                                    size:
                                      type: string
                                      description: 'The SKU size. When the name field
                                        is the combination of tier and some other
                                        value, this would be the standalone code. '
                                    family:
                                      type: string
                                      description: If the service has different generations
                                        of hardware, for the same SKU, then that can
                                        be captured here.
                                    capacity:
                                      type: integer
                                      format: int32
                                      description: If the SKU supports scale out/in
                                        then the capacity integer should be included.
                                        If scale out/in is not possible for the resource
                                        this may be omitted.
                                  required:
                                  - name
                                activeImageReference:
                                  description: Image reference information for the
                                    currently active image (only populated during
                                    updates).
                                  readOnly: true
                                  type: object
                                  properties:
                                    id:
                                      description: Image ID, or Image version ID.
                                        When Image ID is provided, its latest version
                                        will be used.
                                      type: string
                                    exactVersion:
                                      type: string
                                      readOnly: true
                                      description: The actual version of the image
                                        after use. When id references a gallery image
                                        latest version, this will indicate the actual
                                        version in use.
                            networkConnectionName:
                              description: Name of a Network Connection in parent
                                Project of this Pool
                              type: string
                            licenseType:
                              description: Specifies the license type indicating the
                                caller has already acquired licenses for the Dev Boxes
                                that will be created.
                              enum:
                              - Windows_Client
                              type: string
                              x-ms-enum:
                                name: LicenseType
                                modelAsString: true
                            localAdministrator:
                              description: Indicates whether owners of Dev Boxes in
                                this pool are added as local administrators on the
                                Dev Box.
                              type: string
                              enum:
                              - Disabled
                              - Enabled
                              x-ms-enum:
                                name: LocalAdminStatus
                                modelAsString: true
                            stopOnDisconnect:
                              description: Stop on disconnect configuration settings
                                for Dev Boxes created in this pool.
                              type: object
                              properties:
                                status:
                                  description: Whether the feature to stop the Dev
                                    Box on disconnect once the grace period has lapsed
                                    is enabled.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    name: StopOnDisconnectEnableStatus
                                    modelAsString: true
                                gracePeriodMinutes:
                                  description: The specified time in minutes to wait
                                    before stopping a Dev Box once disconnect is detected.
                                  type: integer
                                  format: int32
                            stopOnNoConnect:
                              description: Stop on no connect configuration settings
                                for Dev Boxes created in this pool.
                              type: object
                              properties:
                                status:
                                  description: Enables the feature to stop a started
                                    Dev Box when it has not been connected to, once
                                    the grace period has lapsed.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    name: StopOnNoConnectEnableStatus
                                    modelAsString: true
                                gracePeriodMinutes:
                                  description: The specified time in minutes to wait
                                    before stopping a Dev Box if no connection is
                                    made.
                                  type: integer
                                  format: int32
                            singleSignOnStatus:
                              description: Indicates whether Dev Boxes in this pool
                                are created with single sign on enabled. The also
                                requires that single sign on be enabled on the tenant.
                              type: string
                              enum:
                              - Disabled
                              - Enabled
                              x-ms-enum:
                                name: SingleSignOnStatus
                                modelAsString: true
                            displayName:
                              type: string
                              description: The display name of the pool.
                            virtualNetworkType:
                              description: Indicates whether the pool uses a Virtual
                                Network managed by Microsoft or a customer provided
                                network.
                              type: string
                              enum:
                              - Managed
                              - Unmanaged
                              x-ms-enum:
                                name: VirtualNetworkType
                                modelAsString: true
                            managedVirtualNetworkRegions:
                              type: array
                              description: The regions of the managed virtual network
                                (required when managedNetworkType is Managed).
                              items:
                                type: string
                            healthStatus:
                              description: Overall health status of the Pool. Indicates
                                whether or not the Pool is available to create Dev
                                Boxes.
                              readOnly: true
                              enum:
                              - Unknown
                              - Pending
                              - Healthy
                              - Warning
                              - Unhealthy
                              type: string
                              x-ms-enum:
                                name: HealthStatus
                                modelAsString: true
                            healthStatusDetails:
                              description: Details on the Pool health status to help
                                diagnose issues. This is only populated when the pool
                                status indicates the pool is in a non-healthy state
                              type: array
                              items:
                                type: object
                                description: Pool health status detail.
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the issue.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: A message describing the issue, intended
                                      to be suitable for display in a user interface
                                    readOnly: true
                              x-ms-identifiers:
                              - code
                              readOnly: true
                            devBoxCount:
                              description: Indicates the number of provisioned Dev
                                Boxes in this pool.
                              type: integer
                              format: int32
                              readOnly: true
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - NotSpecified
                              - Accepted
                              - Running
                              - Creating
                              - Created
                              - Updating
                              - Updated
                              - Deleting
                              - Deleted
                              - Succeeded
                              - Failed
                              - Canceled
                              - MovingResources
                              - TransientFailure
                              - RolloutInProgress
                              - StorageProvisioningFailed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                          description: Properties of a Pool. These properties can
                            be updated after the resource has been created.
                          required:
                          - devBoxDefinitionName
                          - networkConnectionName
                          - licenseType
                          - localAdministrator
                          x-ms-client-flatten: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: URL to get the next set of results if there are any.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools/{poolName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: projectName
      in: path
      required: true
      description: The name of the project.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
    - name: poolName
      in: path
      required: true
      description: Name of the pool.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
    get:
      tags:
      - Pools
      description: Gets a machine pool
      operationId: Pools_Get
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      devBoxDefinitionType:
                        description: Indicates if the pool is created from an existing
                          Dev Box Definition or if one is provided directly.
                        type: string
                        enum:
                        - Reference
                        - Value
                        x-ms-enum:
                          name: PoolDevBoxDefinitionType
                          modelAsString: true
                      devBoxDefinitionName:
                        description: Name of a Dev Box definition in parent Project
                          of this Pool. Will be ignored if devBoxDefinitionType is
                          Value.
                        type: string
                      devBoxDefinition:
                        description: A definition of the machines that are created
                          from this Pool. Will be ignored if devBoxDefinitionType
                          is Reference or not provided.
                        type: object
                        properties:
                          imageReference:
                            description: Image reference information.
                            type: object
                            properties:
                              id:
                                description: Image ID, or Image version ID. When Image
                                  ID is provided, its latest version will be used.
                                type: string
                              exactVersion:
                                type: string
                                readOnly: true
                                description: The actual version of the image after
                                  use. When id references a gallery image latest version,
                                  this will indicate the actual version in use.
                          sku:
                            description: The SKU for Dev Boxes created from the Pool.
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the SKU. E.g. P3. It is typically
                                  a letter+number code
                              tier:
                                type: string
                                description: This field is required to be implemented
                                  by the Resource Provider if the service has more
                                  than one tier, but is not required on a PUT.
                                enum:
                                - Free
                                - Basic
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: false
                              size:
                                type: string
                                description: 'The SKU size. When the name field is
                                  the combination of tier and some other value, this
                                  would be the standalone code. '
                              family:
                                type: string
                                description: If the service has different generations
                                  of hardware, for the same SKU, then that can be
                                  captured here.
                              capacity:
                                type: integer
                                format: int32
                                description: If the SKU supports scale out/in then
                                  the capacity integer should be included. If scale
                                  out/in is not possible for the resource this may
                                  be omitted.
                            required:
                            - name
                          activeImageReference:
                            description: Image reference information for the currently
                              active image (only populated during updates).
                            readOnly: true
                            type: object
                            properties:
                              id:
                                description: Image ID, or Image version ID. When Image
                                  ID is provided, its latest version will be used.
                                type: string
                              exactVersion:
                                type: string
                                readOnly: true
                                description: The actual version of the image after
                                  use. When id references a gallery image latest version,
                                  this will indicate the actual version in use.
                      networkConnectionName:
                        description: Name of a Network Connection in parent Project
                          of this Pool
                        type: string
                      licenseType:
                        description: Specifies the license type indicating the caller
                          has already acquired licenses for the Dev Boxes that will
                          be created.
                        enum:
                        - Windows_Client
                        type: string
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      localAdministrator:
                        description: Indicates whether owners of Dev Boxes in this
                          pool are added as local administrators on the Dev Box.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        x-ms-enum:
                          name: LocalAdminStatus
                          modelAsString: true
                      stopOnDisconnect:
                        description: Stop on disconnect configuration settings for
                          Dev Boxes created in this pool.
                        type: object
                        properties:
                          status:
                            description: Whether the feature to stop the Dev Box on
                              disconnect once the grace period has lapsed is enabled.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: StopOnDisconnectEnableStatus
                              modelAsString: true
                          gracePeriodMinutes:
                            description: The specified time in minutes to wait before
                              stopping a Dev Box once disconnect is detected.
                            type: integer
                            format: int32
                      stopOnNoConnect:
                        description: Stop on no connect configuration settings for
                          Dev Boxes created in this pool.
                        type: object
                        properties:
                          status:
                            description: Enables the feature to stop a started Dev
                              Box when it has not been connected to, once the grace
                              period has lapsed.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: StopOnNoConnectEnableStatus
                              modelAsString: true
                          gracePeriodMinutes:
                            description: The specified time in minutes to wait before
                              stopping a Dev Box if no connection is made.
                            type: integer
                            format: int32
                      singleSignOnStatus:
                        description: Indicates whether Dev Boxes in this pool are
                          created with single sign on enabled. The also requires that
                          single sign on be enabled on the tenant.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        x-ms-enum:
                          name: SingleSignOnStatus
                          modelAsString: true
                      displayName:
                        type: string
                        description: The display name of the pool.
                      virtualNetworkType:
                        description: Indicates whether the pool uses a Virtual Network
                          managed by Microsoft or a customer provided network.
                        type: string
                        enum:
                        - Managed
                        - Unmanaged
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                      managedVirtualNetworkRegions:
                        type: array
                        description: The regions of the managed virtual network (required
                          when managedNetworkType is Managed).
                        items:
                          type: string
                      healthStatus:
                        description: Overall health status of the Pool. Indicates
                          whether or not the Pool is available to create Dev Boxes.
                        readOnly: true
                        enum:
                        - Unknown
                        - Pending
                        - Healthy
                        - Warning
                        - Unhealthy
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                      healthStatusDetails:
                        description: Details on the Pool health status to help diagnose
                          issues. This is only populated when the pool status indicates
                          the pool is in a non-healthy state
                        type: array
                        items:
                          type: object
                          description: Pool health status detail.
                          properties:
                            code:
                              type: string
                              description: An identifier for the issue.
                              readOnly: true
                            message:
                              type: string
                              description: A message describing the issue, intended
                                to be suitable for display in a user interface
                              readOnly: true
                        x-ms-identifiers:
                        - code
                        readOnly: true
                      devBoxCount:
                        description: Indicates the number of provisioned Dev Boxes
                          in this pool.
                        type: integer
                        format: int32
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Running
                        - Creating
                        - Created
                        - Updating
                        - Updated
                        - Deleting
                        - Deleted
                        - Succeeded
                        - Failed
                        - Canceled
                        - MovingResources
                        - TransientFailure
                        - RolloutInProgress
                        - StorageProvisioningFailed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Properties of a Pool. These properties can be updated
                      after the resource has been created.
                    required:
                    - devBoxDefinitionName
                    - networkConnectionName
                    - licenseType
                    - localAdministrator
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Pools
      description: Creates or updates a machine pool
      operationId: Pools_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    devBoxDefinitionType:
                      description: Indicates if the pool is created from an existing
                        Dev Box Definition or if one is provided directly.
                      type: string
                      enum:
                      - Reference
                      - Value
                      x-ms-enum:
                        name: PoolDevBoxDefinitionType
                        modelAsString: true
                    devBoxDefinitionName:
                      description: Name of a Dev Box definition in parent Project
                        of this Pool. Will be ignored if devBoxDefinitionType is Value.
                      type: string
                    devBoxDefinition:
                      description: A definition of the machines that are created from
                        this Pool. Will be ignored if devBoxDefinitionType is Reference
                        or not provided.
                      type: object
                      properties:
                        imageReference:
                          description: Image reference information.
                          type: object
                          properties:
                            id:
                              description: Image ID, or Image version ID. When Image
                                ID is provided, its latest version will be used.
                              type: string
                            exactVersion:
                              type: string
                              readOnly: true
                              description: The actual version of the image after use.
                                When id references a gallery image latest version,
                                this will indicate the actual version in use.
                        sku:
                          description: The SKU for Dev Boxes created from the Pool.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. E.g. P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        activeImageReference:
                          description: Image reference information for the currently
                            active image (only populated during updates).
                          readOnly: true
                          type: object
                          properties:
                            id:
                              description: Image ID, or Image version ID. When Image
                                ID is provided, its latest version will be used.
                              type: string
                            exactVersion:
                              type: string
                              readOnly: true
                              description: The actual version of the image after use.
                                When id references a gallery image latest version,
                                this will indicate the actual version in use.
                    networkConnectionName:
                      description: Name of a Network Connection in parent Project
                        of this Pool
                      type: string
                    licenseType:
                      description: Specifies the license type indicating the caller
                        has already acquired licenses for the Dev Boxes that will
                        be created.
                      enum:
                      - Windows_Client
                      type: string
                      x-ms-enum:
                        name: LicenseType
                        modelAsString: true
                    localAdministrator:
                      description: Indicates whether owners of Dev Boxes in this pool
                        are added as local administrators on the Dev Box.
                      type: string
                      enum:
                      - Disabled
                      - Enabled
                      x-ms-enum:
                        name: LocalAdminStatus
                        modelAsString: true
                    stopOnDisconnect:
                      description: Stop on disconnect configuration settings for Dev
                        Boxes created in this pool.
                      type: object
                      properties:
                        status:
                          description: Whether the feature to stop the Dev Box on
                            disconnect once the grace period has lapsed is enabled.
                          enum:
                          - Enabled
                          - Disabled
                          type: string
                          x-ms-enum:
                            name: StopOnDisconnectEnableStatus
                            modelAsString: true
                        gracePeriodMinutes:
                          description: The specified time in minutes to wait before
                            stopping a Dev Box once disconnect is detected.
                          type: integer
                          format: int32
                    stopOnNoConnect:
                      description: Stop on no connect configuration settings for Dev
                        Boxes created in this pool.
                      type: object
                      properties:
                        status:
                          description: Enables the feature to stop a started Dev Box
                            when it has not been connected to, once the grace period
                            has lapsed.
                          enum:
                          - Enabled
                          - Disabled
                          type: string
                          x-ms-enum:
                            name: StopOnNoConnectEnableStatus
                            modelAsString: true
                        gracePeriodMinutes:
                          description: The specified time in minutes to wait before
                            stopping a Dev Box if no connection is made.
                          type: integer
                          format: int32
                    singleSignOnStatus:
                      description: Indicates whether Dev Boxes in this pool are created
                        with single sign on enabled. The also requires that single
                        sign on be enabled on the tenant.
                      type: string
                      enum:
                      - Disabled
                      - Enabled
                      x-ms-enum:
                        name: SingleSignOnStatus
                        modelAsString: true
                    displayName:
                      type: string
                      description: The display name of the pool.
                    virtualNetworkType:
                      description: Indicates whether the pool uses a Virtual Network
                        managed by Microsoft or a customer provided network.
                      type: string
                      enum:
                      - Managed
                      - Unmanaged
                      x-ms-enum:
                        name: VirtualNetworkType
                        modelAsString: true
                    managedVirtualNetworkRegions:
                      type: array
                      description: The regions of the managed virtual network (required
                        when managedNetworkType is Managed).
                      items:
                        type: string
                    healthStatus:
                      description: Overall health status of the Pool. Indicates whether
                        or not the Pool is available to create Dev Boxes.
                      readOnly: true
                      enum:
                      - Unknown
                      - Pending
                      - Healthy
                      - Warning
                      - Unhealthy
                      type: string
                      x-ms-enum:
                        name: HealthStatus
                        modelAsString: true
                    healthStatusDetails:
                      description: Details on the Pool health status to help diagnose
                        issues. This is only populated when the pool status indicates
                        the pool is in a non-healthy state
                      type: array
                      items:
                        type: object
                        description: Pool health status detail.
                        properties:
                          code:
                            type: string
                            description: An identifier for the issue.
                            readOnly: true
                          message:
                            type: string
                            description: A message describing the issue, intended
                              to be suitable for display in a user interface
                            readOnly: true
                      x-ms-identifiers:
                      - code
                      readOnly: true
                    devBoxCount:
                      description: Indicates the number of provisioned Dev Boxes in
                        this pool.
                      type: integer
                      format: int32
                      readOnly: true
                    provisioningState:
                      description: The provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - NotSpecified
                      - Accepted
                      - Running
                      - Creating
                      - Created
                      - Updating
                      - Updated
                      - Deleting
                      - Deleted
                      - Succeeded
                      - Failed
                      - Canceled
                      - MovingResources
                      - TransientFailure
                      - RolloutInProgress
                      - StorageProvisioningFailed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                  description: Properties of a Pool. These properties can be updated
                    after the resource has been created.
                  required:
                  - devBoxDefinitionName
                  - networkConnectionName
                  - licenseType
                  - localAdministrator
                  x-ms-client-flatten: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Represents a machine pool
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      devBoxDefinitionType:
                        description: Indicates if the pool is created from an existing
                          Dev Box Definition or if one is provided directly.
                        type: string
                        enum:
                        - Reference
                        - Value
                        x-ms-enum:
                          name: PoolDevBoxDefinitionType
                          modelAsString: true
                      devBoxDefinitionName:
                        description: Name of a Dev Box definition in parent Project
                          of this Pool. Will be ignored if devBoxDefinitionType is
                          Value.
                        type: string
                      devBoxDefinition:
                        description: A definition of the machines that are created
                          from this Pool. Will be ignored if devBoxDefinitionType
                          is Reference or not provided.
                        type: object
                        properties:
                          imageReference:
                            description: Image reference information.
                            type: object
                            properties:
                              id:
                                description: Image ID, or Image version ID. When Image
                                  ID is provided, its latest version will be used.
                                type: string
                              exactVersion:
                                type: string
                                readOnly: true
                                description: The actual version of the image after
                                  use. When id references a gallery image latest version,
                                  this will indicate the actual version in use.
                          sku:
                            description: The SKU for Dev Boxes created from the Pool.
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the SKU. E.g. P3. It is typically
                                  a letter+number code
                              tier:
                                type: string
                                description: This field is required to be implemented
                                  by the Resource Provider if the service has more
                                  than one tier, but is not required on a PUT.
                                enum:
                                - Free
                                - Basic
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: false
                              size:
                                type: string
                                description: 'The SKU size. When the name field is
                                  the combination of tier and some other value, this
                                  would be the standalone code. '
                              family:
                                type: string
                                description: If the service has different generations
                                  of hardware, for the same SKU, then that can be
                                  captured here.
                              capacity:
                                type: integer
                                format: int32
                                description: If the SKU supports scale out/in then
                                  the capacity integer should be included. If scale
                                  out/in is not possible for the resource this may
                                  be omitted.
                            required:
                            - name
                          activeImageReference:
                            description: Image reference information for the currently
                              active image (only populated during updates).
                            readOnly: true
                            type: object
                            properties:
                              id:
                                description: Image ID, or Image version ID. When Image
                                  ID is provided, its latest version will be used.
                                type: string
                              exactVersion:
                                type: string
                                readOnly: true
                                description: The actual version of the image after
                                  use. When id references a gallery image latest version,
                                  this will indicate the actual version in use.
                      networkConnectionName:
                        description: Name of a Network Connection in parent Project
                          of this Pool
                        type: string
                      licenseType:
                        description: Specifies the license type indicating the caller
                          has already acquired licenses for the Dev Boxes that will
                          be created.
                        enum:
                        - Windows_Client
                        type: string
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      localAdministrator:
                        description: Indicates whether owners of Dev Boxes in this
                          pool are added as local administrators on the Dev Box.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        x-ms-enum:
                          name: LocalAdminStatus
                          modelAsString: true
                      stopOnDisconnect:
                        description: Stop on disconnect configuration settings for
                          Dev Boxes created in this pool.
                        type: object
                        properties:
                          status:
                            description: Whether the feature to stop the Dev Box on
                              disconnect once the grace period has lapsed is enabled.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: StopOnDisconnectEnableStatus
                              modelAsString: true
                          gracePeriodMinutes:
                            description: The specified time in minutes to wait before
                              stopping a Dev Box once disconnect is detected.
                            type: integer
                            format: int32
                      stopOnNoConnect:
                        description: Stop on no connect configuration settings for
                          Dev Boxes created in this pool.
                        type: object
                        properties:
                          status:
                            description: Enables the feature to stop a started Dev
                              Box when it has not been connected to, once the grace
                              period has lapsed.
                            enum:
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: StopOnNoConnectEnableStatus
                              modelAsString: true
                          gracePeriodMinutes:
                            description: The specified time in minutes to wait before
                              stopping a Dev Box if no connection is made.
                            type: integer
                            format: int32
                      singleSignOnStatus:
                        description: Indicates whether Dev Boxes in this pool are
                          created with single sign on enabled. The also requires that
                          single sign on be enabled on the tenant.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        x-ms-enum:
                          name: SingleSignOnStatus
                          modelAsString: true
                      displayName:
                        type: string
                        description: The display name of the pool.
                      virtualNetworkType:
                        description: Indicates whether the pool uses a Virtual Network
                          managed by Microsoft or a customer provided network.
                        type: string
                        enum:
                        - Managed
                        - Unmanaged
                        x-ms-enum:
                          name: VirtualNetworkType
                          modelAsString: true
                      managedVirtualNetworkRegions:
                        type: array
                        description: The regions of the managed virtual network (required
                          when managedNetworkType is Managed).
                        items:
                          type: string
                      healthStatus:
                        description: Overall health status of the Pool. Indicates
                          whether or not the Pool is available to create Dev Boxes.
                        readOnly: true
                        enum:
                        - Unknown
                        - Pending
                        - Healthy
                        - Warning
                        - Unhealthy
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                      healthStatusDetails:
                        description: Details on the Pool health status to help diagnose
                          issues. This is only populated when the pool status indicates
                          the pool is in a non-healthy state
                        type: array
                        items:
                          type: object
                          description: Pool health status detail.
                          properties:
                            code:
                              type: string
                              description: An identifier for the issue.
                              readOnly: true
                            message:
                              type: string
                              description: A message describing the issue, intended
                                to be suitable for display in a user interface
                              readOnly: true
                        x-ms-identifiers:
                        - code
                        readOnly: true
                      devBoxCount:
                        description: Indicates the number of provisioned Dev Boxes
                          in this pool.
                        type: integer
                        format: int32
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - NotSpecified
                        - Accepted
                        - Running
                        - Creating
                        - Created
                        - Updating
                        - Updated
                        - Deleting
                        - Deleted
                        - Succeeded
                        - Failed
                        - Canceled
                        - MovingResources
                        - TransientFailure
                        - RolloutInProgress
                        - StorageProvisioningFailed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Properties of a Pool. These properties can be updated
                      after the resource has been created.
                    required:
                    - devBoxDefinitionName
                    - networkConnectionName
                    - licenseType
                    - localAdministrator
                    x-ms-client-flatten: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created. Operation will complete asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      devBoxDefinitionType:
                        description: Indicates if the pool is created from an existing
                          Dev Box Definition or if one is provided directly.
                        type: string
                        enum:
                        - Reference
                        - Value
                        x-ms-enum:
                          name: PoolDevBoxDefinitionType
                          modelAsString: true
                      devBoxDefinitionName:
                        description: Name of a Dev Box definition in parent Project
                          of this Pool. Will be ignored if devBoxDefinitionType is
                          Value.
                        type: string
                      devBoxDefinition:
                        description: A definition of the machines that are created
                          from this Pool. Will be ignored if devBoxDefinitionType
                          is Reference or not provided.
                        type: object
                        properties:
                          imageReference:
                            description: Image reference information.
                            type: object
                            properties:
                              id:
                                description: Image ID, or Image version ID. When Image
                                  ID is provided, its latest version will be used.
                                type: string
                              exactVersion:
                                type: string
                                readOnly: true
                                description: The actual version of the image after
                                  use. When id references a gallery image latest version,
                                  this will indicate the actual version in use.
                          sku:
                            description: The SKU for Dev Boxes created from the Pool.
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the SKU. E.g. P3. It is typically
                                  a letter+number code
                              tier:
                                type: string
                                description: This field is required to be implemented
                                  by the Resource Provider if the service has more
                                  than one tier, but is not required on a PUT.
                                enum:
                                - Free
                                - Basic
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: false
                              size:
                                type: string
                                description: 'The SKU size. When the name field is
[...]
