openapi: 3.0.0
info:
  title: Service Map
  description: Service Map API Reference
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines
  : get:
      tags:
      - Machines
      operationId: Machines_ListByWorkspace
      description: Returns a collection of machines matching the specified conditions.  The
        returned collection represents either machines that are active/live during
        the specified interval  of time (`live=true` and `startTime`/`endTime` are
        specified) or that are known to have existed at or  some time prior to the
        specified point in time (`live=false` and `timestamp` is specified).
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: live
        in: query
        required: false
        description: Specifies whether to return live resources (true) or inventory
          resources (false). Defaults to **true**. When retrieving live resources,
          the start time (`startTime`) and end time (`endTime`) of the desired interval
          should be included. When retrieving inventory resources, an optional timestamp
          (`timestamp`) parameter can be specified to return the version of each resource
          closest (not-after) that timestamp.
        schema:
          type: boolean
          default: true
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which
          to evaluate each machine resource. Only applies when `live=false`. When
          not specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      - name: $top
        in: query
        required: false
        description: Page size to use. When not specified, the default page size is
          100 records.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Collection of Machine resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource identifier.
                          readOnly: true
                        type:
                          type: string
                          description: Resource type.
                          readOnly: true
                        name:
                          type: string
                          description: Resource name.
                          readOnly: true
                        etag:
                          type: string
                          description: Resource ETAG.
                        kind:
                          type: string
                          description: Additional resource type qualifier.
                          enum:
                          - machine
                          - process
                          - port
                          - clientGroup
                          - machineGroup
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: Resource properties.
                          properties:
                            timestamp:
                              type: string
                              format: date-time
                              description: UTC date and time when this resource was
                                updated in the system.
                            monitoringState:
                              description: Specifies whether the machine is actively
                                monitored or discovered.
                              type: string
                              enum:
                              - monitored
                              - discovered
                              x-ms-enum:
                                name: MonitoringState
                                modelAsString: false
                            virtualizationState:
                              description: Specifies whether the machine is virtualized.
                              type: string
                              enum:
                              - unknown
                              - physical
                              - virtual
                              - hypervisor
                              x-ms-enum:
                                name: VirtualizationState
                                modelAsString: false
                            displayName:
                              type: string
                              description: Name to use for display purposes
                            computerName:
                              type: string
                              description: Name of the machine, e.g., server
                            fullyQualifiedDomainName:
                              type: string
                              description: Fully-qualified name of the machine, e.g.,
                                server.company.com
                            bootTime:
                              type: string
                              format: date-time
                              description: UTC date and time when the machine last
                                booted
                            timezone:
                              description: Timezone of the machine.
                              properties:
                                fullName:
                                  type: string
                                  description: Timezone full name.
                            agent:
                              description: Dependency Agent configuration.
                              properties:
                                agentId:
                                  type: string
                                  description: Health Service Agent unique identifier.
                                dependencyAgentId:
                                  type: string
                                  description: Dependency Agent unique identifier.
                                dependencyAgentVersion:
                                  type: string
                                  description: Dependency Agent version number.
                                dependencyAgentRevision:
                                  type: string
                                  description: Dependency Agent revision number.
                                rebootStatus:
                                  description: Specifies whether the machine has been
                                    rebooted since the Dependency Agent installation.
                                  type: string
                                  enum:
                                  - unknown
                                  - rebooted
                                  - notRebooted
                                  x-ms-enum:
                                    name: MachineRebootStatus
                                    modelAsString: false
                                clockGranularity:
                                  type: integer
                                  format: int32
                                  description: Machine clock granularity in milliseconds.
                              required:
                              - agentId
                            resources:
                              description: Machine resources (memory, cpu, etc.).
                              properties:
                                physicalMemory:
                                  type: integer
                                  format: int32
                                  description: Physical memory in megabytes (MB).
                                cpus:
                                  type: integer
                                  format: int32
                                  description: Number of CPUs.
                                cpuSpeed:
                                  type: integer
                                  format: int32
                                  description: CPU speed in megahertz (Mhz).
                                cpuSpeedAccuracy:
                                  description: Describes the accuracy of the cpuSpeed
                                    field.
                                  type: string
                                  enum:
                                  - actual
                                  - estimated
                                  x-ms-enum:
                                    name: Accuracy
                                    modelAsString: false
                            networking:
                              description: Network configuration (ips, gateways, dns,
                                etc.)
                              properties:
                                ipv4Interfaces:
                                  type: array
                                  items:
                                    description: Describes an IPv4 network interface.
                                    properties:
                                      ipAddress:
                                        type: string
                                        description: IPv4 address.
                                      subnetMask:
                                        type: string
                                        default: 255.255.255.255
                                        description: IPv4 subnet mask.
                                    required:
                                    - ipAddress
                                  x-ms-identifiers:
                                  - ipAddress
                                  - subnetMask
                                  description: IPv4 interfaces.
                                ipv6Interfaces:
                                  type: array
                                  items:
                                    description: Describes an IPv6 network interface.
                                    properties:
                                      ipAddress:
                                        type: string
                                        description: IPv6 address.
                                    required:
                                    - ipAddress
                                  x-ms-identifiers:
                                  - ipAddress
                                  description: IPv6 interfaces.
                                defaultIpv4Gateways:
                                  type: array
                                  items:
                                    type: string
                                    description: IPv4 address.
                                  description: Default IPv4 gateways.
                                macAddresses:
                                  type: array
                                  items:
                                    type: string
                                    description: MAC address.
                                  description: MAC addresses of all active network
                                    interfaces.
                                dnsNames:
                                  type: array
                                  items:
                                    type: string
                                    description: DNS name.
                                  description: DNS names associated with the machine.
                            operatingSystem:
                              description: Operating system information.
                              properties:
                                family:
                                  description: Windows, Linux, etc.
                                  type: string
                                  enum:
                                  - unknown
                                  - windows
                                  - linux
                                  - solaris
                                  - aix
                                  x-ms-enum:
                                    name: OperatingSystemFamily
                                    modelAsString: false
                                fullName:
                                  type: string
                                  description: Operating system full name.
                                bitness:
                                  description: Operating system bitness (32-bit or
                                    64-bit).
                                  type: string
                                  enum:
                                  - 32bit
                                  - 64bit
                                  x-ms-enum:
                                    name: Bitness
                                    modelAsString: false
                              required:
                              - family
                              - fullName
                              - bitness
                            virtualMachine:
                              description: Virtualization-related configuration. Present
                                only when `virtualizationState` is `virtual`.
                              properties:
                                virtualMachineType:
                                  description: Specifies the virtualization technology
                                    used by the machine (hyperv, vmware, etc.)
                                  type: string
                                  enum:
                                  - unknown
                                  - hyperv
                                  - ldom
                                  - lpar
                                  - vmware
                                  - virtualPc
                                  - xen
                                  x-ms-enum:
                                    name: VirtualMachineType
                                    modelAsString: false
                                nativeMachineId:
                                  type: string
                                  description: The unique identifier of the virtual
                                    machine as reported by the underlying virtualization
                                    system.
                                virtualMachineName:
                                  type: string
                                  description: The Name of the virtual machine.
                                nativeHostMachineId:
                                  type: string
                                  description: The unique identifier of the host of
                                    this virtual machine as reported by the underlying
                                    virtualization system.
                            hypervisor:
                              description: Hypervisor-related configuration. Present
                                only when 'virtualizationState' is `hypervisor`.
                              properties:
                                hypervisorType:
                                  description: Specifies the virtualization technology
                                    used by the hypervisor (hyperv, vmware, etc.)
                                  type: string
                                  enum:
                                  - unknown
                                  - hyperv
                                  x-ms-enum:
                                    name: HypervisorType
                                    modelAsString: false
                                nativeHostMachineId:
                                  type: string
                                  description: The unique identifier of the hypervisor
                                    machine as reported by the underlying virtualization
                                    system.
                            hosting:
                              description: Hosting-related configuration. Present
                                if hosting information is discovered for the VM.
                              discriminator:
                                propertyName: kind
                              properties:
                                provider:
                                  type: string
                                  description: The hosting provider of the VM.
                                  enum:
                                  - azure
                                kind:
                                  type: string
                                  description: Additional hosting configuration type
                                    qualifier.
                                  enum:
                                  - provider:azure
                              required:
                              - kind
                      required:
                      - kind
                      description: Resource model definition.
                      discriminator:
                        propertyName: kind
                      x-ms-azure-resource: true
                      x-ms-discriminator-value: machine
                    description: Collection of Machine resources.
                  nextLink:
                    type: string
                    description: The URL to the next set of resources.
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}
  : get:
      tags:
      - Machines
      operationId: Machines_Get
      description: Returns the specified machine.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which
          to evaluate the machine resource. When not specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource identifier.
                    readOnly: true
                  type:
                    type: string
                    description: Resource type.
                    readOnly: true
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  etag:
                    type: string
                    description: Resource ETAG.
                  kind:
                    type: string
                    description: Additional resource type qualifier.
                    enum:
                    - machine
                    - process
                    - port
                    - clientGroup
                    - machineGroup
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: Resource properties.
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                        description: UTC date and time when this resource was updated
                          in the system.
                      monitoringState:
                        description: Specifies whether the machine is actively monitored
                          or discovered.
                        type: string
                        enum:
                        - monitored
                        - discovered
                        x-ms-enum:
                          name: MonitoringState
                          modelAsString: false
                      virtualizationState:
                        description: Specifies whether the machine is virtualized.
                        type: string
                        enum:
                        - unknown
                        - physical
                        - virtual
                        - hypervisor
                        x-ms-enum:
                          name: VirtualizationState
                          modelAsString: false
                      displayName:
                        type: string
                        description: Name to use for display purposes
                      computerName:
                        type: string
                        description: Name of the machine, e.g., server
                      fullyQualifiedDomainName:
                        type: string
                        description: Fully-qualified name of the machine, e.g., server.company.com
                      bootTime:
                        type: string
                        format: date-time
                        description: UTC date and time when the machine last booted
                      timezone:
                        description: Timezone of the machine.
                        properties:
                          fullName:
                            type: string
                            description: Timezone full name.
                      agent:
                        description: Dependency Agent configuration.
                        properties:
                          agentId:
                            type: string
                            description: Health Service Agent unique identifier.
                          dependencyAgentId:
                            type: string
                            description: Dependency Agent unique identifier.
                          dependencyAgentVersion:
                            type: string
                            description: Dependency Agent version number.
                          dependencyAgentRevision:
                            type: string
                            description: Dependency Agent revision number.
                          rebootStatus:
                            description: Specifies whether the machine has been rebooted
                              since the Dependency Agent installation.
                            type: string
                            enum:
                            - unknown
                            - rebooted
                            - notRebooted
                            x-ms-enum:
                              name: MachineRebootStatus
                              modelAsString: false
                          clockGranularity:
                            type: integer
                            format: int32
                            description: Machine clock granularity in milliseconds.
                        required:
                        - agentId
                      resources:
                        description: Machine resources (memory, cpu, etc.).
                        properties:
                          physicalMemory:
                            type: integer
                            format: int32
                            description: Physical memory in megabytes (MB).
                          cpus:
                            type: integer
                            format: int32
                            description: Number of CPUs.
                          cpuSpeed:
                            type: integer
                            format: int32
                            description: CPU speed in megahertz (Mhz).
                          cpuSpeedAccuracy:
                            description: Describes the accuracy of the cpuSpeed field.
                            type: string
                            enum:
                            - actual
                            - estimated
                            x-ms-enum:
                              name: Accuracy
                              modelAsString: false
                      networking:
                        description: Network configuration (ips, gateways, dns, etc.)
                        properties:
                          ipv4Interfaces:
                            type: array
                            items:
                              description: Describes an IPv4 network interface.
                              properties:
                                ipAddress:
                                  type: string
                                  description: IPv4 address.
                                subnetMask:
                                  type: string
                                  default: 255.255.255.255
                                  description: IPv4 subnet mask.
                              required:
                              - ipAddress
                            x-ms-identifiers:
                            - ipAddress
                            - subnetMask
                            description: IPv4 interfaces.
                          ipv6Interfaces:
                            type: array
                            items:
                              description: Describes an IPv6 network interface.
                              properties:
                                ipAddress:
                                  type: string
                                  description: IPv6 address.
                              required:
                              - ipAddress
                            x-ms-identifiers:
                            - ipAddress
                            description: IPv6 interfaces.
                          defaultIpv4Gateways:
                            type: array
                            items:
                              type: string
                              description: IPv4 address.
                            description: Default IPv4 gateways.
                          macAddresses:
                            type: array
                            items:
                              type: string
                              description: MAC address.
                            description: MAC addresses of all active network interfaces.
                          dnsNames:
                            type: array
                            items:
                              type: string
                              description: DNS name.
                            description: DNS names associated with the machine.
                      operatingSystem:
                        description: Operating system information.
                        properties:
                          family:
                            description: Windows, Linux, etc.
                            type: string
                            enum:
                            - unknown
                            - windows
                            - linux
                            - solaris
                            - aix
                            x-ms-enum:
                              name: OperatingSystemFamily
                              modelAsString: false
                          fullName:
                            type: string
                            description: Operating system full name.
                          bitness:
                            description: Operating system bitness (32-bit or 64-bit).
                            type: string
                            enum:
                            - 32bit
                            - 64bit
                            x-ms-enum:
                              name: Bitness
                              modelAsString: false
                        required:
                        - family
                        - fullName
                        - bitness
                      virtualMachine:
                        description: Virtualization-related configuration. Present
                          only when `virtualizationState` is `virtual`.
                        properties:
                          virtualMachineType:
                            description: Specifies the virtualization technology used
                              by the machine (hyperv, vmware, etc.)
                            type: string
                            enum:
                            - unknown
                            - hyperv
                            - ldom
                            - lpar
                            - vmware
                            - virtualPc
                            - xen
                            x-ms-enum:
                              name: VirtualMachineType
                              modelAsString: false
                          nativeMachineId:
                            type: string
                            description: The unique identifier of the virtual machine
                              as reported by the underlying virtualization system.
                          virtualMachineName:
                            type: string
                            description: The Name of the virtual machine.
                          nativeHostMachineId:
                            type: string
                            description: The unique identifier of the host of this
                              virtual machine as reported by the underlying virtualization
                              system.
                      hypervisor:
                        description: Hypervisor-related configuration. Present only
                          when 'virtualizationState' is `hypervisor`.
                        properties:
                          hypervisorType:
                            description: Specifies the virtualization technology used
                              by the hypervisor (hyperv, vmware, etc.)
                            type: string
                            enum:
                            - unknown
                            - hyperv
                            x-ms-enum:
                              name: HypervisorType
                              modelAsString: false
                          nativeHostMachineId:
                            type: string
                            description: The unique identifier of the hypervisor machine
                              as reported by the underlying virtualization system.
                      hosting:
                        description: Hosting-related configuration. Present if hosting
                          information is discovered for the VM.
                        discriminator:
                          propertyName: kind
                        properties:
                          provider:
                            type: string
                            description: The hosting provider of the VM.
                            enum:
                            - azure
                          kind:
                            type: string
                            description: Additional hosting configuration type qualifier.
                            enum:
                            - provider:azure
                        required:
                        - kind
                required:
                - kind
                description: Resource model definition.
                discriminator:
                  propertyName: kind
                x-ms-azure-resource: true
                x-ms-discriminator-value: machine
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/liveness
  : get:
      tags:
      - Machines
      operationId: Machines_GetLiveness
      description: Obtains the liveness status of the machine during the specified
        time interval.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                description: Specifies the contents of a check liveness response.
                type: object
                properties:
                  startTime:
                    type: string
                    format: date-time
                    description: Liveness interval start time.
                  endTime:
                    type: string
                    format: date-time
                    description: Liveness interval end time.
                  live:
                    type: boolean
                    description: '`true` if the resource is live during [startTime,
                      endTime], `false` otherwise'
                required:
                - startTime
                - endTime
                - live
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/connections
  : get:
      tags:
      - Machines
      operationId: Machines_ListConnections
      description: Returns a collection of connections terminating or originating
        at the specified machine
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Collection of Connection resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource identifier.
                          readOnly: true
                        type:
                          type: string
                          description: Resource type.
                          readOnly: true
                        name:
                          type: string
                          description: Resource name.
                          readOnly: true
                        kind:
                          type: string
                          description: Additional resource type qualifier.
                          enum:
                          - rel:connection
                          - rel:acceptor
                        properties:
                          type: object
                          properties:
                            source:
                              description: Source resource of the relationship.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            destination:
                              description: Destination resource of the relationship.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            startTime:
                              type: string
                              format: date-time
                              description: Relationship start time.
                            endTime:
                              type: string
                              format: date-time
                              description: Relationship end time.
                            serverPort:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                                properties:
                                  x-ms-client-flatten: true
                                  type: object
                                  description: Resource properties.
                                  properties:
                                    machine:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Resource URI.
                                        type:
                                          type: string
                                          description: Resource type qualifier.
                                          readOnly: true
                                        name:
                                          type: string
                                          description: Resource name.
                                          readOnly: true
                                        kind:
                                          type: string
                                          description: Specifies the sub-class of
                                            the reference.
                                          enum:
                                          - ref:machine
                                          - ref:machinewithhints
                                          - ref:process
                                          - ref:port
                                          - ref:onmachine
                                          - ref:clientgroup
                                      required:
                                      - id
                                      - kind
                                      description: Represents a reference to another
                                        resource.
                                      discriminator:
                                        propertyName: kind
                                      readOnly: true
                                      x-ms-discriminator-value: ref:machine
                                    ipAddress:
                                      type: string
                                      description: IP address of the port.
                                      readOnly: true
                                    portNumber:
                                      type: integer
                                      format: int32
                                      description: Port number.
                              required:
                              - id
                              - kind
                              description: Represents a reference to another resource.
                              discriminator:
                                propertyName: kind
                              x-ms-discriminator-value: ref:port
                            failureState:
                              description: Specifies whether there are only successful,
                                failed or a mixture of both connections represented
                                by this resource.
                              type: string
                              enum:
                              - ok
                              - failed
                              - mixed
                              x-ms-enum:
                                name: ConnectionFailureState
                                modelAsString: false
                          required:
                          - source
                          - destination
                          description: Relationship properties.
                          x-ms-client-flatten: true
                      required:
                      - kind
                      description: Resource model definition.
                      discriminator:
                        propertyName: kind
                      x-ms-azure-resource: true
                      x-ms-discriminator-value: rel:connection
                    description: Collection of Connection resources.
                  nextLink:
                    type: string
                    description: The URL to the next set of resources.
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes
  : get:
      tags:
      - Processes
      - Machines
      operationId: Machines_ListProcesses
      description: 'Returns a collection of processes on the specified machine matching
        the specified conditions. The returned collection represents either processes
        that are active/live during the specified interval  of time (`live=true` and
        `startTime`/`endTime` are specified) or that are known to have existed at
        or  some time prior to the specified point in time (`live=false` and `timestamp`
        is specified).        '
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: live
        in: query
        required: false
        description: Specifies whether to return live resources (true) or inventory
          resources (false). Defaults to **true**. When retrieving live resources,
          the start time (`startTime`) and end time (`endTime`) of the desired interval
          should be included. When retrieving inventory resources, an optional timestamp
          (`timestamp`) parameter can be specified to return the version of each resource
          closest (not-after) that timestamp.
        schema:
          type: boolean
          default: true
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which
          to evaluate all process resource. Only applies when `live=false`. When not
          specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Collection of Process resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource identifier.
                          readOnly: true
                        type:
                          type: string
                          description: Resource type.
                          readOnly: true
                        name:
                          type: string
                          description: Resource name.
                          readOnly: true
                        etag:
                          type: string
                          description: Resource ETAG.
                        kind:
                          type: string
                          description: Additional resource type qualifier.
                          enum:
                          - machine
                          - process
                          - port
                          - clientGroup
                          - machineGroup
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: Resource properties.
                          properties:
                            timestamp:
                              type: string
                              format: date-time
                              description: UTC date and time when this process resource
                                was updated in the system
                            monitoringState:
                              description: Specifies whether the process is actively
                                monitored or discovered.
                              type: string
                              enum:
                              - monitored
                              - discovered
                              x-ms-enum:
                                name: MonitoringState
                                modelAsString: false
                            machine:
                              description: Machine hosting this process.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            executableName:
                              type: string
                              description: The name of the process executable
                            displayName:
                              type: string
                              description: Name to use for display purposes
                            startTime:
                              type: string
                              format: date-time
                              description: UTC date and time when the process started
                            role:
                              type: string
                              enum:
                              - webServer
                              - appServer
                              - databaseServer
                              - ldapServer
                              - smbServer
                              x-ms-enum:
                                name: ProcessRole
                                modelAsString: true
                              description: The inferred role of this process based
                                on its name, command line, etc.
                            group:
                              type: string
                              description: The name of the product or suite of the
                                process. The group is determined by its executable
                                name, command line, etc.
                            details:
                              description: Process metadata (command line, product
                                name, etc.).
                              properties:
                                persistentKey:
                                  type: string
                                  description: A unique identifier for a process,
                                    generally resilient to process restart, computed
                                    by Service Map.
                                poolId:
                                  type: integer
                                  format: int32
                                  description: Represents the identity of the process
                                    pool assigned to the process by Dependency Agent.
                                firstPid:
                                  type: integer
                                  format: int32
                                  description: The Operating System Process Identifier
                                    (PID) of the first process in this process pool.
                                description:
                                  type: string
                                  description: Process description.
                                companyName:
                                  type: string
                                  description: Name of company that created the process
                                    executable.
                                internalName:
                                  type: string
                                  description: Internal process name.
                                productName:
                                  type: string
                                  description: Product name.
                                productVersion:
                                  type: string
                                  description: Product version.
                                fileVersion:
                                  type: string
                                  description: File version.
                                commandLine:
                                  type: string
                                  description: Process command line.
                                executablePath:
                                  type: string
                                  description: Process executable path.
                                workingDirectory:
                                  type: string
                                  description: Process workingDirectory.
                                services:
                                  type: array
                                  items:
                                    description: A service hosted by a process.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the service.
                                      displayName:
                                        type: string
                                        description: The service's display name.
                                  x-ms-identifiers: []
                                  description: Collection of services hosted by this
                                    Process (Windows only).
                                zoneName:
                                  type: string
                                  description: Process zone name (Linux only).
                            user:
                              description: Information about the account under which
                                the process is executing.
                              properties:
                                userName:
                                  type: string
                                  description: User name under which the process is
                                    running.
                                userDomain:
                                  type: string
                                  description: Domain name for the user.
                            clientOf:
                              description: Present only for a discovered process acting
                                as a client of a monitored process/machine/port. References
                                the monitored process/machine/port that this process
                                is a client of.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            acceptorOf:
                              description: Present only for a discovered process acting
                                as a server. References the port on which the discovered
                                process is accepting.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            hosting:
                              description: Information about the hosting environment
                              discriminator:
                                propertyName: kind
                              properties:
                                provider:
                                  type: string
                                  description: The hosting provider of the VM.
                                  enum:
                                  - azure
                                kind:
                                  type: string
                                  description: Additional hosting configuration type
                                    qualifier.
                                  enum:
                                  - provider:azure
                              required:
                              - kind
                      required:
                      - kind
                      description: Resource model definition.
                      discriminator:
                        propertyName: kind
                      x-ms-azure-resource: true
                      x-ms-discriminator-value: process
                    description: Collection of Process resources.
                  nextLink:
                    type: string
                    description: The URL to the next set of resources.
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}
  : get:
      tags:
      - Processes
      operationId: Processes_Get
      description: Returns the specified process.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: processName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Process resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 128
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which
          to evaluate a resource. When not specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource identifier.
                    readOnly: true
                  type:
                    type: string
                    description: Resource type.
                    readOnly: true
                  name:
                    type: string
                    description: Resource name.
                    readOnly: true
                  etag:
                    type: string
                    description: Resource ETAG.
                  kind:
                    type: string
                    description: Additional resource type qualifier.
                    enum:
                    - machine
                    - process
                    - port
                    - clientGroup
                    - machineGroup
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: Resource properties.
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                        description: UTC date and time when this process resource
                          was updated in the system
                      monitoringState:
                        description: Specifies whether the process is actively monitored
                          or discovered.
                        type: string
                        enum:
                        - monitored
                        - discovered
                        x-ms-enum:
                          name: MonitoringState
                          modelAsString: false
                      machine:
                        description: Machine hosting this process.
                        discriminator:
                          propertyName: kind
                        properties:
                          id:
                            type: string
                            description: Resource URI.
                          type:
                            type: string
                            description: Resource type qualifier.
                            readOnly: true
                          name:
                            type: string
                            description: Resource name.
                            readOnly: true
                          kind:
                            type: string
                            description: Specifies the sub-class of the reference.
                            enum:
                            - ref:machine
                            - ref:machinewithhints
                            - ref:process
                            - ref:port
                            - ref:onmachine
                            - ref:clientgroup
                        required:
                        - id
                        - kind
                      executableName:
                        type: string
                        description: The name of the process executable
                      displayName:
                        type: string
                        description: Name to use for display purposes
                      startTime:
                        type: string
                        format: date-time
                        description: UTC date and time when the process started
                      role:
                        type: string
                        enum:
                        - webServer
                        - appServer
                        - databaseServer
                        - ldapServer
                        - smbServer
                        x-ms-enum:
                          name: ProcessRole
                          modelAsString: true
                        description: The inferred role of this process based on its
                          name, command line, etc.
                      group:
                        type: string
                        description: The name of the product or suite of the process.
                          The group is determined by its executable name, command
                          line, etc.
                      details:
                        description: Process metadata (command line, product name,
                          etc.).
                        properties:
                          persistentKey:
                            type: string
                            description: A unique identifier for a process, generally
                              resilient to process restart, computed by Service Map.
                          poolId:
                            type: integer
                            format: int32
                            description: Represents the identity of the process pool
                              assigned to the process by Dependency Agent.
                          firstPid:
                            type: integer
                            format: int32
                            description: The Operating System Process Identifier (PID)
                              of the first process in this process pool.
                          description:
                            type: string
                            description: Process description.
                          companyName:
                            type: string
                            description: Name of company that created the process
                              executable.
                          internalName:
                            type: string
                            description: Internal process name.
                          productName:
                            type: string
                            description: Product name.
                          productVersion:
                            type: string
                            description: Product version.
                          fileVersion:
                            type: string
                            description: File version.
                          commandLine:
                            type: string
                            description: Process command line.
                          executablePath:
                            type: string
                            description: Process executable path.
                          workingDirectory:
                            type: string
                            description: Process workingDirectory.
                          services:
                            type: array
                            items:
                              description: A service hosted by a process.
                              properties:
                                name:
                                  type: string
                                  description: The name of the service.
                                displayName:
                                  type: string
                                  description: The service's display name.
                            x-ms-identifiers: []
                            description: Collection of services hosted by this Process
                              (Windows only).
                          zoneName:
                            type: string
                            description: Process zone name (Linux only).
                      user:
                        description: Information about the account under which the
                          process is executing.
                        properties:
                          userName:
                            type: string
                            description: User name under which the process is running.
                          userDomain:
                            type: string
                            description: Domain name for the user.
                      clientOf:
                        description: Present only for a discovered process acting
                          as a client of a monitored process/machine/port. References
                          the monitored process/machine/port that this process is
                          a client of.
                        discriminator:
                          propertyName: kind
                        properties:
                          id:
                            type: string
                            description: Resource URI.
                          type:
                            type: string
                            description: Resource type qualifier.
                            readOnly: true
                          name:
                            type: string
                            description: Resource name.
                            readOnly: true
                          kind:
                            type: string
                            description: Specifies the sub-class of the reference.
                            enum:
                            - ref:machine
                            - ref:machinewithhints
                            - ref:process
                            - ref:port
                            - ref:onmachine
                            - ref:clientgroup
                        required:
                        - id
                        - kind
                      acceptorOf:
                        description: Present only for a discovered process acting
                          as a server. References the port on which the discovered
                          process is accepting.
                        discriminator:
                          propertyName: kind
                        properties:
                          id:
                            type: string
                            description: Resource URI.
                          type:
                            type: string
                            description: Resource type qualifier.
                            readOnly: true
                          name:
                            type: string
                            description: Resource name.
                            readOnly: true
                          kind:
                            type: string
                            description: Specifies the sub-class of the reference.
                            enum:
                            - ref:machine
                            - ref:machinewithhints
                            - ref:process
                            - ref:port
                            - ref:onmachine
                            - ref:clientgroup
                        required:
                        - id
                        - kind
                      hosting:
                        description: Information about the hosting environment
                        discriminator:
                          propertyName: kind
                        properties:
                          provider:
                            type: string
                            description: The hosting provider of the VM.
                            enum:
                            - azure
                          kind:
                            type: string
                            description: Additional hosting configuration type qualifier.
                            enum:
                            - provider:azure
                        required:
                        - kind
                required:
                - kind
                description: Resource model definition.
                discriminator:
                  propertyName: kind
                x-ms-azure-resource: true
                x-ms-discriminator-value: process
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/liveness
  : get:
      tags:
      - Processes
      operationId: Processes_GetLiveness
      description: Obtains the liveness status of the process during the specified
        time interval.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: processName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Process resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 128
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                description: Specifies the contents of a check liveness response.
                type: object
                properties:
                  startTime:
                    type: string
                    format: date-time
                    description: Liveness interval start time.
                  endTime:
                    type: string
                    format: date-time
                    description: Liveness interval end time.
                  live:
                    type: boolean
                    description: '`true` if the resource is live during [startTime,
                      endTime], `false` otherwise'
                required:
                - startTime
                - endTime
                - live
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/acceptingPorts
  : get:
      tags:
      - Processes
      operationId: Processes_ListAcceptingPorts
      description: Returns a collection of ports on which this process is accepting
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Azure subscription identifier.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Resource group name within the specified subscriptionId.
        schema:
          type: string
          minLength: 1
          maxLength: 64
          pattern: '[a-zA-Z0-9_-]+'
      - name: workspaceName
        in: path
        x-ms-parameter-location: method
        required: true
        description: OMS workspace containing the resources of interest.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
      - name: api-version
        in: query
        required: true
        description: API version.
        schema:
          type: string
      - name: machineName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Machine resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: processName
        in: path
        x-ms-parameter-location: method
        required: true
        description: Process resource name.
        schema:
          type: string
          minLength: 3
          maxLength: 128
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Collection of Port resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource identifier.
                          readOnly: true
                        type:
                          type: string
                          description: Resource type.
                          readOnly: true
                        name:
                          type: string
                          description: Resource name.
                          readOnly: true
                        etag:
                          type: string
                          description: Resource ETAG.
                        kind:
                          type: string
                          description: Additional resource type qualifier.
                          enum:
                          - machine
                          - process
                          - port
                          - clientGroup
                          - machineGroup
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: Resource properties.
                          properties:
                            monitoringState:
                              description: Specifies whether the port is actively
                                monitored or discovered.
                              type: string
                              enum:
                              - monitored
                              - discovered
                              x-ms-enum:
                                name: MonitoringState
                                modelAsString: false
                            machine:
                              description: Machine hosting this port.
                              discriminator:
                                propertyName: kind
                              properties:
                                id:
                                  type: string
                                  description: Resource URI.
                                type:
                                  type: string
                                  description: Resource type qualifier.
                                  readOnly: true
                                name:
                                  type: string
                                  description: Resource name.
                                  readOnly: true
                                kind:
                                  type: string
                                  description: Specifies the sub-class of the reference.
                                  enum:
                                  - ref:machine
                                  - ref:machinewithhints
                                  - ref:process
                                  - ref:port
                                  - ref:onmachine
                                  - ref:clientgroup
                              required:
                              - id
                              - kind
                            displayName:
                              type: string
                              description: Name to use for display purposes.
                            ipAddress:
                              type: string
                              description: IP address associated with the port. At
                                present only IPv4 addresses are supported.
                            portNumber:
                              type: integer
                              format: int32
                              description: Port number.
                      required:
                      - kind
                      description: Resource model definition.
                      discriminator:
                        propertyName: kind
                      x-ms-azure-resource: true
                      x-ms-discriminator-value: port
                    description: Collection of Port resources.
                  nextLink:
                    type: string
                    description: The URL to the next set of resources.
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          content:
            application/json:
              schema:
                type: object
                description: An error response from the API.
                properties:
                  error:
                    description: Error information.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code identifying the specific error.
                      message:
                        type: string
                        description: Error message in the caller's locale.
                    required:
                    - code
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/connections
[...]
