openapi: 3.0.0
info:
  title: Azure Maps Geolocation Service
  version: '1.0'
  description: Azure Maps Geolocation REST APIs
servers:
- url: https://atlas.microsoft.com
security:
- AADToken:
  - https://atlas.microsoft.com/.default
- SharedKey: []
- SasToken: []
paths:
  /geolocation/ip/{format}:
    get:
      summary: Use to get the ISO country/region code for a given IP address.
      description: '


        The `Get IP To Location` API is an HTTP `GET` request that returns the ISO
        country/region code for a given IP address. Developers can use this information
        to block or modify content based on the geographical location from which the
        application is accessed.'
      operationId: Geolocation_GetIPToLocation
      x-ms-client-name: GetLocation
      parameters:
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Indicates the account intended for use with the Microsoft Entra
          ID security model. This unique ID for the Azure Maps account can be obtained
          from the [Azure Maps management plane Account API](/rest/api/maps-management/accounts).
          For more information on using Microsoft Entra ID security in Azure Maps,
          see [Manage authentication in Azure Maps](/azure/azure-maps/how-to-manage-authentication).
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
          default: '1.0'
      - name: format
        description: Desired format of the response. Only `json` format is supported.
        in: path
        required: true
        x-ms-enum:
          name: JsonFormat
          modelAsString: true
          values:
          - value: json
            description: '[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)'
        x-ms-client-default: json
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - json
      - name: ip
        x-ms-client-name: ipAddress
        in: query
        description: The IP address. Both IPv4 and IPv6 are allowed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request succeeded. The resource has been fetched and included
            in the message body.
          content:
            application/json:
              schema:
                description: This object is returned from a successful call to IP
                  Address to country/region API
                type: object
                readOnly: true
                properties:
                  countryRegion:
                    description: The object containing the country/region information.
                    type: object
                    readOnly: true
                    properties:
                      isoCode:
                        description: The IP address's 2-character country or region
                          code ([ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html)).
                          Note that IP addresses in ranges reserved for special purposes
                          will return Null for country/region.
                        type: string
                        readOnly: true
                  ipAddress:
                    description: The IP Address of the request.
                    type: string
                    readOnly: true
        default:
          description: An unexpected error occurred.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers: []
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    ApiVersion:
      name: api-version
      description: Version number of Azure Maps API.
      in: query
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        default: '1.0'
    ClientId:
      name: x-ms-client-id
      x-ms-client-name: clientId
      description: Indicates the account intended for use with the Microsoft Entra
        ID security model. This unique ID for the Azure Maps account can be obtained
        from the [Azure Maps management plane Account API](/rest/api/maps-management/accounts).
        For more information on using Microsoft Entra ID security in Azure Maps, see
        [Manage authentication in Azure Maps](/azure/azure-maps/how-to-manage-authentication).
      in: header
      x-ms-parameter-location: client
      schema:
        type: string
    JsonFormat:
      name: format
      description: Desired format of the response. Only `json` format is supported.
      in: path
      required: true
      x-ms-enum:
        name: JsonFormat
        modelAsString: true
        values:
        - value: json
          description: '[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)'
      x-ms-client-default: json
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - json
  responses:
    default:
      description: An unexpected error occurred.
      x-ms-error-response: true
      content:
        application/json:
          schema:
            type: object
            title: Error response
            description: Common error response for all Azure Resource Manager APIs
              to return error details for failed operations. (This also follows the
              OData error response format.).
            properties:
              error:
                description: The error object.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                        details:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            description: The error detail.
                            properties:
                              code:
                                readOnly: true
                                type: string
                                description: The error code.
                              message:
                                readOnly: true
                                type: string
                                description: The error message.
                              target:
                                readOnly: true
                                type: string
                                description: The error target.
                          x-ms-identifiers: []
                          description: The error details.
                        additionalInfo:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The additional info type.
                              info:
                                readOnly: true
                                type: object
                                description: The additional info.
                            description: The resource management error additional
                              info.
                          x-ms-identifiers: []
                          description: The error additional info.
                    x-ms-identifiers: []
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
  securitySchemes:
    AADToken:
      type: oauth2
      description: "These are the [Microsoft Entra OAuth 2.0](https://docs.microsoft.com/azure/active-directory/develop/v1-overview)\
        \ Flows. When paired with [Azure role-based access](https://docs.microsoft.com/azure/role-based-access-control/overview)\
        \ control it can be used to control access to Azure Maps REST APIs. Azure\
        \ role-based access controls are used to designate access to one or more Azure\
        \ Maps resource account or sub-resources. Any user, group, or service principal\
        \ can be granted access via a  built-in role or a custom role composed of\
        \ one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios,\
        \ we recommend viewing [authentication concepts](https://aka.ms/amauth). In\
        \ summary, this security definition provides a solution for modeling application(s)\
        \ via objects capable of access control on specific APIs and scopes.\n\n####\
        \ Notes\n* This security definition **requires** the use of the `x-ms-client-id`\
        \ header to indicate which Azure Maps resource the application is requesting\
        \ access to. This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n\
        * \nThe `Authorization URL` is specific to the Azure public cloud instance.\
        \ Sovereign clouds have unique Authorization URLs and Microsoft Entra ID configurations.\
        \ \n* \nThe Azure role-based access control is configured from the [Azure\
        \ management plane](https://aka.ms/amrbac) via Azure portal, PowerShell, CLI,\
        \ Azure SDKs, or REST APIs.\n* \nUsage of the [Azure Maps Web SDK](https://aka.ms/amaadmc)\
        \ allows for configuration based setup of an application for multiple use\
        \ cases.\n* For more information on Microsoft identity platform, see [Microsoft\
        \ identity platform overview](https://learn.microsoft.com/entra/identity-platform/v2-overview)."
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://atlas.microsoft.com/.default: https://atlas.microsoft.com/.default
    SharedKey:
      type: apiKey
      description: "This is a shared key that is provisioned when you [Create an Azure\
        \ Maps account](https://docs.microsoft.com/azure/azure-maps/quick-demo-map-app#create-an-azure-maps-account)\
        \ in the Azure portal or using PowerShell, CLI, Azure SDKs, or REST API.\n\
        \n With this key, any application can access all REST API. In other words,\
        \ this key can be used as a master key in the account that they are issued\
        \ in.\n\n For publicly exposed applications, our recommendation is to use\
        \ the [confidential client applications](https://docs.microsoft.com/azure/azure-maps/authentication-best-practices#confidential-client-applications)\
        \ approach to access Azure Maps REST APIs so your key can be securely stored."
      name: subscription-key
      in: query
    SasToken:
      type: apiKey
      description: "This is a shared access signature token is created from the List\
        \ SAS operation on the [Azure Maps resource](https://aka.ms/amauth) through\
        \ the Azure management plane via Azure portal, PowerShell, CLI, Azure SDKs,\
        \ or REST APIs.\n\n With this token, any application is authorized to access\
        \ with Azure role-based access controls and fine-grain control to the expiration,\
        \ rate, and region(s) of use for the particular token. In other words, the\
        \ SAS Token can be used to allow applications to control access in a more\
        \ secured way than the shared key.\n\n For publicly exposed applications,\
        \ our recommendation is to configure a specific list of allowed origins on\
        \ the [Map account resource](https://aka.ms/amauth) to limit rendering abuse\
        \ and regularly renew the SAS Token."
      name: SAS Token
      in: header
  schemas:
    IpAddressToLocationResult:
      description: This object is returned from a successful call to IP Address to
        country/region API
      type: object
      readOnly: true
      properties:
        countryRegion:
          description: The object containing the country/region information.
          type: object
          readOnly: true
          properties:
            isoCode:
              description: The IP address's 2-character country or region code ([ISO
                3166-1](https://www.iso.org/iso-3166-country-codes.html)). Note that
                IP addresses in ranges reserved for special purposes will return Null
                for country/region.
              type: string
              readOnly: true
        ipAddress:
          description: The IP Address of the request.
          type: string
          readOnly: true
    CountryRegion:
      description: The object containing the country/region information.
      type: object
      readOnly: true
      properties:
        isoCode:
          description: The IP address's 2-character country or region code ([ISO 3166-1](https://www.iso.org/iso-3166-country-codes.html)).
            Note that IP addresses in ranges reserved for special purposes will return
            Null for country/region.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            type: object
            description: The error detail.
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers: []
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers: []
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers: []
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
