openapi: 3.0.0
info:
  version: 2015-06-01-preview
  title: CommerceManagementClient
  description: The Admin Commerce Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Commerce.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      tags:
      - Commerce
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Operations
                properties:
                  value:
                    description: Array of operations
                    type: array
                    items:
                      description: Describes the supported REST operation.
                      type: object
                      properties:
                        display:
                          description: Contains the localized display information
                            for this particular operation or action.
                          readOnly: true
                          properties:
                            provider:
                              description: "The localized friendly form of the resource\
                                \ provider name \u2013 it is expected to also include\
                                \ the publisher/company responsible. It should use\
                                \ Title Casing and begin with \"Microsoft\" for 1st\
                                \ party services. e.g. \"Microsoft Monitoring Insights\"\
                                \ or \"Microsoft Compute.\""
                              type: string
                              readOnly: true
                            resource:
                              description: The localized, friendly version of the
                                resource type related to this action or operation;
                                the resource type should match the public documentation
                                for the resource provider.
                              type: string
                              readOnly: true
                            operation:
                              description: The localized, friendly name for the operation.
                                Use the name as it will displayed to the user.
                              type: string
                              readOnly: true
                            description:
                              description: The localized, friendly description for
                                the operation. The description will be displayed to
                                the user. It should be thorough and concise for used
                                in both tooltips and detailed views.
                              type: string
                              readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        name:
                          description: The name of the operation performed on the
                            object. The name should match the action name that appears
                            in RBAC or the event service.
                          type: string
                          readOnly: true
                        origin:
                          description: Origin for the operation.
                          type: string
                          readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: URI to the next page of operations.
                    type: string
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates:
    get:
      description: Gets a collection of SubscriberUsageAggregates, which are UsageAggregates
        from users.
      tags:
      - Commerce
      operationId: SubscriberUsageAggregates_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-01-preview
      - description: The reported start time (inclusive).
        name: reportedStartTime
        in: query
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - description: The reported end time (exclusive).
        name: reportedEndTime
        in: query
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - description: The aggregation granularity.
        name: aggregationGranularity
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The tenant subscription identifier.
        name: subscriberId
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The continuation token.
        name: continuationToken
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of usage aggregates
                properties:
                  value:
                    description: List of usage aggregates.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          readOnly: true
                          description: Location where resource is location.
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Properties for aggregate usage.
                          type: object
                          properties:
                            subscriptionId:
                              type: string
                              description: Subscription ID of tenant using plan.
                            usageStartTime:
                              type: string
                              format: date-time
                              description: UTC start time for the usage category to
                                which this usage aggregate belongs.
                            usageEndTime:
                              type: string
                              format: date-time
                              description: UTC end time for the usage category to
                                which this usage aggregate belongs.
                            instanceData:
                              description: Key-value pairs of instance details represented
                                as a string.
                              type: string
                            quantity:
                              description: The amount of the resource consumption
                                that occurred in this time frame.
                              type: number
                              format: double
                            meterId:
                              description: Unique ID for the resource that was consumed,
                                for example, the Resource ID.
                              type: string
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to the next page.
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption:
    post:
      description: Update the encryption.
      tags:
      - Commerce
      operationId: Commerce_UpdateEncryption
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-01-preview
      responses:
        '200':
          description: OK
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2015-06-01-preview
    ReportedStartTimeParameter:
      description: The reported start time (inclusive).
      name: reportedStartTime
      in: query
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    ReportedEndTimeParameter:
      description: The reported end time (exclusive).
      name: reportedEndTime
      in: query
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    AggregationGranularityParameter:
      description: The aggregation granularity.
      name: aggregationGranularity
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TenantSubscriptionIdParameter:
      description: The tenant subscription identifier.
      name: subscriberId
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ContinuationTokenParameter:
      description: The continuation token.
      name: continuationToken
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location where resource is location.
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    UsageAggregate:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location where resource is location.
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          x-ms-client-flatten: true
          description: Properties for aggregate usage.
          type: object
          properties:
            subscriptionId:
              type: string
              description: Subscription ID of tenant using plan.
            usageStartTime:
              type: string
              format: date-time
              description: UTC start time for the usage category to which this usage
                aggregate belongs.
            usageEndTime:
              type: string
              format: date-time
              description: UTC end time for the usage category to which this usage
                aggregate belongs.
            instanceData:
              description: Key-value pairs of instance details represented as a string.
              type: string
            quantity:
              description: The amount of the resource consumption that occurred in
                this time frame.
              type: number
              format: double
            meterId:
              description: Unique ID for the resource that was consumed, for example,
                the Resource ID.
              type: string
      description: Base Resource Object
      x-ms-azure-resource: true
    UsageAggregateModel:
      description: Properties for aggregate usage.
      type: object
      properties:
        subscriptionId:
          type: string
          description: Subscription ID of tenant using plan.
        usageStartTime:
          type: string
          format: date-time
          description: UTC start time for the usage category to which this usage aggregate
            belongs.
        usageEndTime:
          type: string
          format: date-time
          description: UTC end time for the usage category to which this usage aggregate
            belongs.
        instanceData:
          description: Key-value pairs of instance details represented as a string.
          type: string
        quantity:
          description: The amount of the resource consumption that occurred in this
            time frame.
          type: number
          format: double
        meterId:
          description: Unique ID for the resource that was consumed, for example,
            the Resource ID.
          type: string
    UsageAggregatePage:
      description: Pageable list of usage aggregates
      properties:
        value:
          description: List of usage aggregates.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                readOnly: true
                description: Location where resource is location.
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                x-ms-client-flatten: true
                description: Properties for aggregate usage.
                type: object
                properties:
                  subscriptionId:
                    type: string
                    description: Subscription ID of tenant using plan.
                  usageStartTime:
                    type: string
                    format: date-time
                    description: UTC start time for the usage category to which this
                      usage aggregate belongs.
                  usageEndTime:
                    type: string
                    format: date-time
                    description: UTC end time for the usage category to which this
                      usage aggregate belongs.
                  instanceData:
                    description: Key-value pairs of instance details represented as
                      a string.
                    type: string
                  quantity:
                    description: The amount of the resource consumption that occurred
                      in this time frame.
                    type: number
                    format: double
                  meterId:
                    description: Unique ID for the resource that was consumed, for
                      example, the Resource ID.
                    type: string
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: URI to the next page.
    Operation:
      description: Describes the supported REST operation.
      type: object
      properties:
        display:
          description: Contains the localized display information for this particular
            operation or action.
          readOnly: true
          properties:
            provider:
              description: "The localized friendly form of the resource provider name\
                \ \u2013 it is expected to also include the publisher/company responsible.\
                \ It should use Title Casing and begin with \"Microsoft\" for 1st\
                \ party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft\
                \ Compute.\""
              type: string
              readOnly: true
            resource:
              description: The localized, friendly version of the resource type related
                to this action or operation; the resource type should match the public
                documentation for the resource provider.
              type: string
              readOnly: true
            operation:
              description: The localized, friendly name for the operation. Use the
                name as it will displayed to the user.
              type: string
              readOnly: true
            description:
              description: The localized, friendly description for the operation.
                The description will be displayed to the user. It should be thorough
                and concise for used in both tooltips and detailed views.
              type: string
              readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        name:
          description: The name of the operation performed on the object. The name
            should match the action name that appears in RBAC or the event service.
          type: string
          readOnly: true
        origin:
          description: Origin for the operation.
          type: string
          readOnly: true
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      properties:
        provider:
          description: "The localized friendly form of the resource provider name\
            \ \u2013 it is expected to also include the publisher/company responsible.\
            \ It should use Title Casing and begin with \"Microsoft\" for 1st party\
            \ services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""
          type: string
          readOnly: true
        resource:
          description: The localized, friendly version of the resource type related
            to this action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
          readOnly: true
        operation:
          description: The localized, friendly name for the operation. Use the name
            as it will displayed to the user.
          type: string
          readOnly: true
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and concise
            for used in both tooltips and detailed views.
          type: string
          readOnly: true
    OperationList:
      description: List of Operations
      properties:
        value:
          description: Array of operations
          type: array
          items:
            description: Describes the supported REST operation.
            type: object
            properties:
              display:
                description: Contains the localized display information for this particular
                  operation or action.
                readOnly: true
                properties:
                  provider:
                    description: "The localized friendly form of the resource provider\
                      \ name \u2013 it is expected to also include the publisher/company\
                      \ responsible. It should use Title Casing and begin with \"\
                      Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring\
                      \ Insights\" or \"Microsoft Compute.\""
                    type: string
                    readOnly: true
                  resource:
                    description: The localized, friendly version of the resource type
                      related to this action or operation; the resource type should
                      match the public documentation for the resource provider.
                    type: string
                    readOnly: true
                  operation:
                    description: The localized, friendly name for the operation. Use
                      the name as it will displayed to the user.
                    type: string
                    readOnly: true
                  description:
                    description: The localized, friendly description for the operation.
                      The description will be displayed to the user. It should be
                      thorough and concise for used in both tooltips and detailed
                      views.
                    type: string
                    readOnly: true
              isDataAction:
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                type: boolean
                readOnly: true
              name:
                description: The name of the operation performed on the object. The
                  name should match the action name that appears in RBAC or the event
                  service.
                type: string
                readOnly: true
              origin:
                description: Origin for the operation.
                type: string
                readOnly: true
          x-ms-identifiers:
          - name
        nextLink:
          description: URI to the next page of operations.
          type: string
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
