openapi: 3.0.0
info:
  description: Update run operation endpoints and objects.
  title: UpdateAdminClient
  version: 2021-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns
  : get:
      tags:
      - UpdateRuns
      description: Get the list of update runs.
      operationId: UpdateRuns_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of update runs.
                type: object
                properties:
                  value:
                    description: List of update runs.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a update run.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            progress:
                              description: Current progress of the update run.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                      steps:
                                        description: Inner steps
                                        type: array
                                        items:
                                          description: Information about each step
                                            of the update process.
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the step.
                                              type: string
                                            description:
                                              description: Description of the step.
                                              type: string
                                            errorMessage:
                                              description: Error message, if any.
                                              type: string
                                            status:
                                              description: State of the step.
                                              type: string
                                            startTimeUtc:
                                              description: Time at which this step
                                                started executing
                                              type: string
                                              format: date-time
                                            endTimeUtc:
                                              description: Time at which this step
                                                stopped executing
                                              type: string
                                              format: date-time
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                            timeStarted:
                              description: Update start time.
                              type: string
                              format: date-time
                            duration:
                              description: Duration of the update.
                              type: string
                            state:
                              description: State of the update run.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - InProgress
                              - Failed
                              x-ms-enum:
                                name: UpdateRunState
                                modelAsString: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}
  : get:
      tags:
      - UpdateRuns
      description: Get an instance of update run using the ID.
      operationId: UpdateRuns_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runName
        description: Update run identifier.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns
  : get:
      tags:
      - UpdateRuns
      description: Get the list of update runs.
      operationId: UpdateRuns_ListTopLevel
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of update runs.
                type: object
                properties:
                  value:
                    description: List of update runs.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a update run.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            progress:
                              description: Current progress of the update run.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                      steps:
                                        description: Inner steps
                                        type: array
                                        items:
                                          description: Information about each step
                                            of the update process.
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the step.
                                              type: string
                                            description:
                                              description: Description of the step.
                                              type: string
                                            errorMessage:
                                              description: Error message, if any.
                                              type: string
                                            status:
                                              description: State of the step.
                                              type: string
                                            startTimeUtc:
                                              description: Time at which this step
                                                started executing
                                              type: string
                                              format: date-time
                                            endTimeUtc:
                                              description: Time at which this step
                                                stopped executing
                                              type: string
                                              format: date-time
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                            timeStarted:
                              description: Update start time.
                              type: string
                              format: date-time
                            duration:
                              description: Duration of the update.
                              type: string
                            state:
                              description: State of the update run.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - InProgress
                              - Failed
                              x-ms-enum:
                                name: UpdateRunState
                                modelAsString: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns/{runName}
  : get:
      tags:
      - UpdateRuns
      description: Get an instance of update run using the ID.
      operationId: UpdateRuns_GetTopLevel
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runName
        description: Update run identifier.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}/rerun
  : post:
      tags:
      - UpdateRuns
      description: Resume a failed update.
      operationId: UpdateRuns_Rerun
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runName
        description: Update run identifier.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    UpdateRunParameter:
      name: runName
      description: Update run identifier.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    UpdateLocationParameter:
      name: updateLocation
      description: The name of the update location.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    UpdateParameter:
      name: updateName
      description: Name of the update.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UpdateRun:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of a update run.
          x-ms-client-flatten: true
          type: object
          properties:
            progress:
              description: Current progress of the update run.
              type: object
              properties:
                name:
                  description: Name of the step.
                  type: string
                description:
                  description: Description of the step.
                  type: string
                errorMessage:
                  description: Error message, if any.
                  type: string
                status:
                  description: State of the step.
                  type: string
                startTimeUtc:
                  description: Time at which this step started executing
                  type: string
                  format: date-time
                endTimeUtc:
                  description: Time at which this step stopped executing
                  type: string
                  format: date-time
                steps:
                  description: Inner steps
                  type: array
                  items:
                    description: Information about each step of the update process.
                    type: object
                    properties:
                      name:
                        description: Name of the step.
                        type: string
                      description:
                        description: Description of the step.
                        type: string
                      errorMessage:
                        description: Error message, if any.
                        type: string
                      status:
                        description: State of the step.
                        type: string
                      startTimeUtc:
                        description: Time at which this step started executing
                        type: string
                        format: date-time
                      endTimeUtc:
                        description: Time at which this step stopped executing
                        type: string
                        format: date-time
                      steps:
                        description: Inner steps
                        type: array
                        items:
                          description: Information about each step of the update process.
                          type: object
                          properties:
                            name:
                              description: Name of the step.
                              type: string
                            description:
                              description: Description of the step.
                              type: string
                            errorMessage:
                              description: Error message, if any.
                              type: string
                            status:
                              description: State of the step.
                              type: string
                            startTimeUtc:
                              description: Time at which this step started executing
                              type: string
                              format: date-time
                            endTimeUtc:
                              description: Time at which this step stopped executing
                              type: string
                              format: date-time
                        x-ms-identifiers: []
                  x-ms-identifiers: []
            timeStarted:
              description: Update start time.
              type: string
              format: date-time
            duration:
              description: Duration of the update.
              type: string
            state:
              description: State of the update run.
              type: string
              enum:
              - Unknown
              - Succeeded
              - InProgress
              - Failed
              x-ms-enum:
                name: UpdateRunState
                modelAsString: true
      description: Base Resource Object
      x-ms-azure-resource: true
    UpdateRunModel:
      description: Properties of an update run.
      type: object
      properties:
        progress:
          description: Current progress of the update run.
          type: object
          properties:
            name:
              description: Name of the step.
              type: string
            description:
              description: Description of the step.
              type: string
            errorMessage:
              description: Error message, if any.
              type: string
            status:
              description: State of the step.
              type: string
            startTimeUtc:
              description: Time at which this step started executing
              type: string
              format: date-time
            endTimeUtc:
              description: Time at which this step stopped executing
              type: string
              format: date-time
            steps:
              description: Inner steps
              type: array
              items:
                description: Information about each step of the update process.
                type: object
                properties:
                  name:
                    description: Name of the step.
                    type: string
                  description:
                    description: Description of the step.
                    type: string
                  errorMessage:
                    description: Error message, if any.
                    type: string
                  status:
                    description: State of the step.
                    type: string
                  startTimeUtc:
                    description: Time at which this step started executing
                    type: string
                    format: date-time
                  endTimeUtc:
                    description: Time at which this step stopped executing
                    type: string
                    format: date-time
                  steps:
                    description: Inner steps
                    type: array
                    items:
                      description: Information about each step of the update process.
                      type: object
                      properties:
                        name:
                          description: Name of the step.
                          type: string
                        description:
                          description: Description of the step.
                          type: string
                        errorMessage:
                          description: Error message, if any.
                          type: string
                        status:
                          description: State of the step.
                          type: string
                        startTimeUtc:
                          description: Time at which this step started executing
                          type: string
                          format: date-time
                        endTimeUtc:
                          description: Time at which this step stopped executing
                          type: string
                          format: date-time
                    x-ms-identifiers: []
              x-ms-identifiers: []
        timeStarted:
          description: Update start time.
          type: string
          format: date-time
        duration:
          description: Duration of the update.
          type: string
        state:
          description: State of the update run.
          type: string
          enum:
          - Unknown
          - Succeeded
          - InProgress
          - Failed
          x-ms-enum:
            name: UpdateRunState
            modelAsString: true
    UpdateRunList:
      description: Pageable list of update runs.
      type: object
      properties:
        value:
          description: List of update runs.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Properties of a update run.
                x-ms-client-flatten: true
                type: object
                properties:
                  progress:
                    description: Current progress of the update run.
                    type: object
                    properties:
                      name:
                        description: Name of the step.
                        type: string
                      description:
                        description: Description of the step.
                        type: string
                      errorMessage:
                        description: Error message, if any.
                        type: string
                      status:
                        description: State of the step.
                        type: string
                      startTimeUtc:
                        description: Time at which this step started executing
                        type: string
                        format: date-time
                      endTimeUtc:
                        description: Time at which this step stopped executing
                        type: string
                        format: date-time
                      steps:
                        description: Inner steps
                        type: array
                        items:
                          description: Information about each step of the update process.
                          type: object
                          properties:
                            name:
                              description: Name of the step.
                              type: string
                            description:
                              description: Description of the step.
                              type: string
                            errorMessage:
                              description: Error message, if any.
                              type: string
                            status:
                              description: State of the step.
                              type: string
                            startTimeUtc:
                              description: Time at which this step started executing
                              type: string
                              format: date-time
                            endTimeUtc:
                              description: Time at which this step stopped executing
                              type: string
                              format: date-time
                            steps:
                              description: Inner steps
                              type: array
                              items:
                                description: Information about each step of the update
                                  process.
                                type: object
                                properties:
                                  name:
                                    description: Name of the step.
                                    type: string
                                  description:
                                    description: Description of the step.
                                    type: string
                                  errorMessage:
                                    description: Error message, if any.
                                    type: string
                                  status:
                                    description: State of the step.
                                    type: string
                                  startTimeUtc:
                                    description: Time at which this step started executing
                                    type: string
                                    format: date-time
                                  endTimeUtc:
                                    description: Time at which this step stopped executing
                                    type: string
                                    format: date-time
                              x-ms-identifiers: []
                        x-ms-identifiers: []
                  timeStarted:
                    description: Update start time.
                    type: string
                    format: date-time
                  duration:
                    description: Duration of the update.
                    type: string
                  state:
                    description: State of the update run.
                    type: string
                    enum:
                    - Unknown
                    - Succeeded
                    - InProgress
                    - Failed
                    x-ms-enum:
                      name: UpdateRunState
                      modelAsString: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    Step:
      description: Information about each step of the update process.
      type: object
      properties:
        name:
          description: Name of the step.
          type: string
        description:
          description: Description of the step.
          type: string
        errorMessage:
          description: Error message, if any.
          type: string
        status:
          description: State of the step.
          type: string
        startTimeUtc:
          description: Time at which this step started executing
          type: string
          format: date-time
        endTimeUtc:
          description: Time at which this step stopped executing
          type: string
          format: date-time
        steps:
          description: Inner steps
          type: array
          items:
            description: Information about each step of the update process.
            type: object
            properties:
              name:
                description: Name of the step.
                type: string
              description:
                description: Description of the step.
                type: string
              errorMessage:
                description: Error message, if any.
                type: string
              status:
                description: State of the step.
                type: string
              startTimeUtc:
                description: Time at which this step started executing
                type: string
                format: date-time
              endTimeUtc:
                description: Time at which this step stopped executing
                type: string
                format: date-time
              steps:
                description: Inner steps
                type: array
                items:
                  description: Information about each step of the update process.
                  type: object
                  properties:
                    name:
                      description: Name of the step.
                      type: string
                    description:
                      description: Description of the step.
                      type: string
                    errorMessage:
                      description: Error message, if any.
                      type: string
                    status:
                      description: State of the step.
                      type: string
                    startTimeUtc:
                      description: Time at which this step started executing
                      type: string
                      format: date-time
                    endTimeUtc:
                      description: Time at which this step stopped executing
                      type: string
                      format: date-time
                x-ms-identifiers: []
          x-ms-identifiers: []
    UpdateRunState:
      description: State of the update run.
      type: string
      enum:
      - Unknown
      - Succeeded
      - InProgress
      - Failed
      x-ms-enum:
        name: UpdateRunState
        modelAsString: true
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
