openapi: 3.0.0
info:
  version: 2021-07-01
  title: UpdateAdminClient
  description: The Update Admin Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Update.Admin/operations:
    get:
      description: Get the list of support rest operations.
      tags:
      - Updates
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Operations
                type: object
                properties:
                  value:
                    description: Array of operations
                    type: array
                    items:
                      description: Describes the supported REST operation.
                      type: object
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object. It should match the action name
                            that appears in RBAC / the event service.
                          type: string
                        display:
                          description: Contains the localized display information
                            for this particular operation or action.
                          type: object
                          properties:
                            provider:
                              description: The localized, friendly version of the
                                resource provider name. The provider name is expected
                                to include the name of the publisher or company responsible.
                                The provider name format should use title case and
                                begin with Microsoft for first-party services. For
                                example, the provider name may be Microsoft Monitoring
                                Insights or Microsoft Compute.
                              type: string
                            resource:
                              description: The localized, friendly version of the
                                resource type related to this action or operation;
                                the resource type should match the public documentation
                                for the resource provider.
                              type: string
                            operation:
                              description: The localized friendly name for the operation,
                                as it should be shown to the user.
                              type: string
                            description:
                              description: The localized, friendly description for
                                the operation. The description will be displayed to
                                the user. It should be thorough and concise for used
                                in both tooltips and detailed views.
                              type: string
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: URI to the next page of operations.
                    type: string
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Operation:
      description: Describes the supported REST operation.
      type: object
      properties:
        name:
          description: The name of the operation being performed on this particular
            object. It should match the action name that appears in RBAC / the event
            service.
          type: string
        display:
          description: Contains the localized display information for this particular
            operation or action.
          type: object
          properties:
            provider:
              description: The localized, friendly version of the resource provider
                name. The provider name is expected to include the name of the publisher
                or company responsible. The provider name format should use title
                case and begin with Microsoft for first-party services. For example,
                the provider name may be Microsoft Monitoring Insights or Microsoft
                Compute.
              type: string
            resource:
              description: The localized, friendly version of the resource type related
                to this action or operation; the resource type should match the public
                documentation for the resource provider.
              type: string
            operation:
              description: The localized friendly name for the operation, as it should
                be shown to the user.
              type: string
            description:
              description: The localized, friendly description for the operation.
                The description will be displayed to the user. It should be thorough
                and concise for used in both tooltips and detailed views.
              type: string
    Display:
      description: Contains the localized display information for this particular
        operation or action.
      type: object
      properties:
        provider:
          description: The localized, friendly version of the resource provider name.
            The provider name is expected to include the name of the publisher or
            company responsible. The provider name format should use title case and
            begin with Microsoft for first-party services. For example, the provider
            name may be Microsoft Monitoring Insights or Microsoft Compute.
          type: string
        resource:
          description: The localized, friendly version of the resource type related
            to this action or operation; the resource type should match the public
            documentation for the resource provider.
          type: string
        operation:
          description: The localized friendly name for the operation, as it should
            be shown to the user.
          type: string
        description:
          description: The localized, friendly description for the operation. The
            description will be displayed to the user. It should be thorough and concise
            for used in both tooltips and detailed views.
          type: string
    OperationList:
      description: List of Operations
      type: object
      properties:
        value:
          description: Array of operations
          type: array
          items:
            description: Describes the supported REST operation.
            type: object
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object. It should match the action name that appears in RBAC / the
                  event service.
                type: string
              display:
                description: Contains the localized display information for this particular
                  operation or action.
                type: object
                properties:
                  provider:
                    description: The localized, friendly version of the resource provider
                      name. The provider name is expected to include the name of the
                      publisher or company responsible. The provider name format should
                      use title case and begin with Microsoft for first-party services.
                      For example, the provider name may be Microsoft Monitoring Insights
                      or Microsoft Compute.
                    type: string
                  resource:
                    description: The localized, friendly version of the resource type
                      related to this action or operation; the resource type should
                      match the public documentation for the resource provider.
                    type: string
                  operation:
                    description: The localized friendly name for the operation, as
                      it should be shown to the user.
                    type: string
                  description:
                    description: The localized, friendly description for the operation.
                      The description will be displayed to the user. It should be
                      thorough and concise for used in both tooltips and detailed
                      views.
                    type: string
          x-ms-identifiers:
          - name
        nextLink:
          description: URI to the next page of operations.
          type: string
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
