openapi: 3.0.0
info:
  description: Update location operation endpoints and objects.
  title: UpdateAdminClient
  version: 2021-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/:
    get:
      tags:
      - UpdateLocations
      description: Get the list of update locations.
      operationId: UpdateLocations_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The list of update locations.
                type: object
                properties:
                  nextLink:
                    description: The link to get the next page of update locations.
                    type: string
                  value:
                    description: The list of update locations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Model which holds information related to update
                            location.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            oemFamily:
                              description: OEM family of your Azure Stack Hub deployment.
                              type: string
                            hardwareModel:
                              description: Hardware model of your Azure Stack Hub
                                deployment.
                              type: string
                            packageVersions:
                              description: Package map of your Azure Stack Hub deployment.
                              type: array
                              items:
                                description: Package information of your Azure Stack
                                  Hub deployment.
                                type: object
                                properties:
                                  packageType:
                                    description: Type of the update.
                                    type: string
                                  version:
                                    description: Version of the update.
                                    type: string
                                  lastUpdated:
                                    description: Date of last update.
                                    format: date-time
                                    type: string
                              x-ms-identifiers:
                              - packageType
                              - version
                            currentVersion:
                              description: Current version of your Azure Stack Hub
                                deployment.
                              type: string
                            currentOemVersion:
                              description: Current OEM version of your Azure Stack
                                Hub deployment.
                              type: string
                            lastUpdated:
                              description: Date of last update.
                              format: date-time
                              type: string
                            lastChecked:
                              description: Time of last successful check for new available
                                updates.
                              format: date-time
                              type: string
                            state:
                              description: State with respect to the update.
                              type: string
                              enum:
                              - Unknown
                              - UpdateAvailable
                              - PreparationInProgress
                              - PreparationFailed
                              - AppliedSuccessfully
                              - AppliedUpdateAvailableSuccessfully
                              - UpdateInProgress
                              - UpdateFailed
                              - NeedsAttention
                              x-ms-enum:
                                name: RegionUpdateState
                                modelAsString: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}
  : get:
      tags:
      - UpdateLocations
      description: Get an update location based on name.
      operationId: UpdateLocations_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Model which holds information related to update location.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      oemFamily:
                        description: OEM family of your Azure Stack Hub deployment.
                        type: string
                      hardwareModel:
                        description: Hardware model of your Azure Stack Hub deployment.
                        type: string
                      packageVersions:
                        description: Package map of your Azure Stack Hub deployment.
                        type: array
                        items:
                          description: Package information of your Azure Stack Hub
                            deployment.
                          type: object
                          properties:
                            packageType:
                              description: Type of the update.
                              type: string
                            version:
                              description: Version of the update.
                              type: string
                            lastUpdated:
                              description: Date of last update.
                              format: date-time
                              type: string
                        x-ms-identifiers:
                        - packageType
                        - version
                      currentVersion:
                        description: Current version of your Azure Stack Hub deployment.
                        type: string
                      currentOemVersion:
                        description: Current OEM version of your Azure Stack Hub deployment.
                        type: string
                      lastUpdated:
                        description: Date of last update.
                        format: date-time
                        type: string
                      lastChecked:
                        description: Time of last successful check for new available
                          updates.
                        format: date-time
                        type: string
                      state:
                        description: State with respect to the update.
                        type: string
                        enum:
                        - Unknown
                        - UpdateAvailable
                        - PreparationInProgress
                        - PreparationFailed
                        - AppliedSuccessfully
                        - AppliedUpdateAvailableSuccessfully
                        - UpdateInProgress
                        - UpdateFailed
                        - NeedsAttention
                        x-ms-enum:
                          name: RegionUpdateState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    UpdateLocationParameter:
      name: updateLocation
      description: The name of the update location.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UpdateLocation:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Model which holds information related to update location.
          x-ms-client-flatten: true
          type: object
          properties:
            oemFamily:
              description: OEM family of your Azure Stack Hub deployment.
              type: string
            hardwareModel:
              description: Hardware model of your Azure Stack Hub deployment.
              type: string
            packageVersions:
              description: Package map of your Azure Stack Hub deployment.
              type: array
              items:
                description: Package information of your Azure Stack Hub deployment.
                type: object
                properties:
                  packageType:
                    description: Type of the update.
                    type: string
                  version:
                    description: Version of the update.
                    type: string
                  lastUpdated:
                    description: Date of last update.
                    format: date-time
                    type: string
              x-ms-identifiers:
              - packageType
              - version
            currentVersion:
              description: Current version of your Azure Stack Hub deployment.
              type: string
            currentOemVersion:
              description: Current OEM version of your Azure Stack Hub deployment.
              type: string
            lastUpdated:
              description: Date of last update.
              format: date-time
              type: string
            lastChecked:
              description: Time of last successful check for new available updates.
              format: date-time
              type: string
            state:
              description: State with respect to the update.
              type: string
              enum:
              - Unknown
              - UpdateAvailable
              - PreparationInProgress
              - PreparationFailed
              - AppliedSuccessfully
              - AppliedUpdateAvailableSuccessfully
              - UpdateInProgress
              - UpdateFailed
              - NeedsAttention
              x-ms-enum:
                name: RegionUpdateState
                modelAsString: true
      description: Base Resource Object
      x-ms-azure-resource: true
    UpdateLocationModel:
      description: Model which holds information related to update location.
      type: object
      properties:
        oemFamily:
          description: OEM family of your Azure Stack Hub deployment.
          type: string
        hardwareModel:
          description: Hardware model of your Azure Stack Hub deployment.
          type: string
        packageVersions:
          description: Package map of your Azure Stack Hub deployment.
          type: array
          items:
            description: Package information of your Azure Stack Hub deployment.
            type: object
            properties:
              packageType:
                description: Type of the update.
                type: string
              version:
                description: Version of the update.
                type: string
              lastUpdated:
                description: Date of last update.
                format: date-time
                type: string
          x-ms-identifiers:
          - packageType
          - version
        currentVersion:
          description: Current version of your Azure Stack Hub deployment.
          type: string
        currentOemVersion:
          description: Current OEM version of your Azure Stack Hub deployment.
          type: string
        lastUpdated:
          description: Date of last update.
          format: date-time
          type: string
        lastChecked:
          description: Time of last successful check for new available updates.
          format: date-time
          type: string
        state:
          description: State with respect to the update.
          type: string
          enum:
          - Unknown
          - UpdateAvailable
          - PreparationInProgress
          - PreparationFailed
          - AppliedSuccessfully
          - AppliedUpdateAvailableSuccessfully
          - UpdateInProgress
          - UpdateFailed
          - NeedsAttention
          x-ms-enum:
            name: RegionUpdateState
            modelAsString: true
    PackageVersionInfo:
      description: Package information of your Azure Stack Hub deployment.
      type: object
      properties:
        packageType:
          description: Type of the update.
          type: string
        version:
          description: Version of the update.
          type: string
        lastUpdated:
          description: Date of last update.
          format: date-time
          type: string
    RegionUpdateState:
      description: State of the region in regard to update.
      type: string
      enum:
      - Unknown
      - UpdateAvailable
      - PreparationInProgress
      - PreparationFailed
      - AppliedSuccessfully
      - AppliedUpdateAvailableSuccessfully
      - UpdateInProgress
      - UpdateFailed
      - NeedsAttention
      x-ms-enum:
        name: RegionUpdateState
        modelAsString: true
    UpdateLocationList:
      description: The list of update locations.
      type: object
      properties:
        nextLink:
          description: The link to get the next page of update locations.
          type: string
        value:
          description: The list of update locations.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Model which holds information related to update location.
                x-ms-client-flatten: true
                type: object
                properties:
                  oemFamily:
                    description: OEM family of your Azure Stack Hub deployment.
                    type: string
                  hardwareModel:
                    description: Hardware model of your Azure Stack Hub deployment.
                    type: string
                  packageVersions:
                    description: Package map of your Azure Stack Hub deployment.
                    type: array
                    items:
                      description: Package information of your Azure Stack Hub deployment.
                      type: object
                      properties:
                        packageType:
                          description: Type of the update.
                          type: string
                        version:
                          description: Version of the update.
                          type: string
                        lastUpdated:
                          description: Date of last update.
                          format: date-time
                          type: string
                    x-ms-identifiers:
                    - packageType
                    - version
                  currentVersion:
                    description: Current version of your Azure Stack Hub deployment.
                    type: string
                  currentOemVersion:
                    description: Current OEM version of your Azure Stack Hub deployment.
                    type: string
                  lastUpdated:
                    description: Date of last update.
                    format: date-time
                    type: string
                  lastChecked:
                    description: Time of last successful check for new available updates.
                    format: date-time
                    type: string
                  state:
                    description: State with respect to the update.
                    type: string
                    enum:
                    - Unknown
                    - UpdateAvailable
                    - PreparationInProgress
                    - PreparationFailed
                    - AppliedSuccessfully
                    - AppliedUpdateAvailableSuccessfully
                    - UpdateInProgress
                    - UpdateFailed
                    - NeedsAttention
                    x-ms-enum:
                      name: RegionUpdateState
                      modelAsString: true
            description: Base Resource Object
            x-ms-azure-resource: true
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
