openapi: 3.0.0
info:
  description: Update operation endpoints and objects.
  title: UpdateAdminClient
  version: 2021-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates
  : get:
      tags:
      - Updates
      description: Get the list of updates at an update locations
      operationId: Updates_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of updates.
                type: object
                properties:
                  value:
                    description: List of updates.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of an update.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              description: Name of the update.
                              type: string
                            description:
                              description: Description of the update.
                              type: string
                            version:
                              description: Version of the update.
                              type: string
                            oemVersion:
                              description: OEM version of the update.
                              type: string
                            state:
                              description: Current state of the update.
                              type: string
                              enum:
                              - Ready
                              - Downloading
                              - DownloadFailed
                              - HealthChecking
                              - HealthCheckFailed
                              - Preparing
                              - PreparationFailed
                              - Invalid
                              - HasPrerequisite
                              - Recalled
                              - Obsolete
                              - ReadyToInstall
                              - NotApplicableBecauseAnotherUpdateIsInProgress
                              - Installing
                              - Installed
                              - InstallationFailed
                              x-ms-enum:
                                name: UpdateState
                                modelAsString: true
                            availabilityType:
                              description: The availability type of the update. The
                                location where the update is available.
                              type: string
                              enum:
                              - online
                              - local
                              - notify
                              x-ms-enum:
                                name: AvailabilityType
                                modelAsString: true
                            releaseLink:
                              description: Link to release notes or other details
                                about the update.
                              type: string
                            packagePath:
                              description: Path to the update package.
                              type: string
                            packageSizeInMb:
                              description: Size of update package.
                              type: integer
                              format: int64
                            publisher:
                              description: Publisher of the update.
                              type: string
                            packageType:
                              description: Type of the package.
                              type: string
                            updatePrerequisites:
                              description: List of update prerequisites.
                              type: array
                              items:
                                description: Prerequisite of the update.
                                type: object
                                properties:
                                  updateType:
                                    description: Update type of prerequisite update.
                                    type: string
                                  packageName:
                                    description: Name of prerequisite update.
                                    type: string
                                  version:
                                    description: Version of prerequisite update.
                                    type: string
                              x-ms-identifiers:
                              - packageName
                            updateStateProperties:
                              description: Properties when update is in a specific
                                state.
                              type: object
                              properties:
                                progressPercentage:
                                  description: Progress percentage of a running operation.
                                  type: integer
                                  format: int64
                                notifyMessage:
                                  description: Notify message of the update in this
                                    state.
                                  type: string
                            additionalProperties:
                              description: Additional properties of the update.
                              type: string
                            kbLink:
                              description: Link to the KB article about the update.
                              type: string
                            minVersionRequired:
                              description: The minimum version required to install.
                              type: string
                            minOemVersionRequired:
                              description: The minimum OEM version required to install.
                              type: string
                            installedDate:
                              description: Date update was installed.
                              type: string
                              format: date-time
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page of updates.
                    type: string
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}
  : get:
      tags:
      - Updates
      description: Get a specific update at an update location.
      operationId: Updates_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of an update.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        description: Name of the update.
                        type: string
                      description:
                        description: Description of the update.
                        type: string
                      version:
                        description: Version of the update.
                        type: string
                      oemVersion:
                        description: OEM version of the update.
                        type: string
                      state:
                        description: Current state of the update.
                        type: string
                        enum:
                        - Ready
                        - Downloading
                        - DownloadFailed
                        - HealthChecking
                        - HealthCheckFailed
                        - Preparing
                        - PreparationFailed
                        - Invalid
                        - HasPrerequisite
                        - Recalled
                        - Obsolete
                        - ReadyToInstall
                        - NotApplicableBecauseAnotherUpdateIsInProgress
                        - Installing
                        - Installed
                        - InstallationFailed
                        x-ms-enum:
                          name: UpdateState
                          modelAsString: true
                      availabilityType:
                        description: The availability type of the update. The location
                          where the update is available.
                        type: string
                        enum:
                        - online
                        - local
                        - notify
                        x-ms-enum:
                          name: AvailabilityType
                          modelAsString: true
                      releaseLink:
                        description: Link to release notes or other details about
                          the update.
                        type: string
                      packagePath:
                        description: Path to the update package.
                        type: string
                      packageSizeInMb:
                        description: Size of update package.
                        type: integer
                        format: int64
                      publisher:
                        description: Publisher of the update.
                        type: string
                      packageType:
                        description: Type of the package.
                        type: string
                      updatePrerequisites:
                        description: List of update prerequisites.
                        type: array
                        items:
                          description: Prerequisite of the update.
                          type: object
                          properties:
                            updateType:
                              description: Update type of prerequisite update.
                              type: string
                            packageName:
                              description: Name of prerequisite update.
                              type: string
                            version:
                              description: Version of prerequisite update.
                              type: string
                        x-ms-identifiers:
                        - packageName
                      updateStateProperties:
                        description: Properties when update is in a specific state.
                        type: object
                        properties:
                          progressPercentage:
                            description: Progress percentage of a running operation.
                            type: integer
                            format: int64
                          notifyMessage:
                            description: Notify message of the update in this state.
                            type: string
                      additionalProperties:
                        description: Additional properties of the update.
                        type: string
                      kbLink:
                        description: Link to the KB article about the update.
                        type: string
                      minVersionRequired:
                        description: The minimum version required to install.
                        type: string
                      minOemVersionRequired:
                        description: The minimum OEM version required to install.
                        type: string
                      installedDate:
                        description: Date update was installed.
                        type: string
                        format: date-time
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/prepare
  : post:
      tags:
      - Updates
      description: Prepare a specified update at an update location.
      operationId: Updates_Prepare
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/checkHealth
  : post:
      tags:
      - Updates
      description: Run health check for a specified update at an update location.
      operationId: Updates_HealthCheck
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/apply
  : post:
      tags:
      - Updates
      description: Apply a specific update at an update location.
      operationId: Updates_Apply
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: updateLocation
        description: The name of the update location.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: updateName
        description: Name of the update.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a update run.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      progress:
                        description: Current progress of the update run.
                        type: object
                        properties:
                          name:
                            description: Name of the step.
                            type: string
                          description:
                            description: Description of the step.
                            type: string
                          errorMessage:
                            description: Error message, if any.
                            type: string
                          status:
                            description: State of the step.
                            type: string
                          startTimeUtc:
                            description: Time at which this step started executing
                            type: string
                            format: date-time
                          endTimeUtc:
                            description: Time at which this step stopped executing
                            type: string
                            format: date-time
                          steps:
                            description: Inner steps
                            type: array
                            items:
                              description: Information about each step of the update
                                process.
                              type: object
                              properties:
                                name:
                                  description: Name of the step.
                                  type: string
                                description:
                                  description: Description of the step.
                                  type: string
                                errorMessage:
                                  description: Error message, if any.
                                  type: string
                                status:
                                  description: State of the step.
                                  type: string
                                startTimeUtc:
                                  description: Time at which this step started executing
                                  type: string
                                  format: date-time
                                endTimeUtc:
                                  description: Time at which this step stopped executing
                                  type: string
                                  format: date-time
                                steps:
                                  description: Inner steps
                                  type: array
                                  items:
                                    description: Information about each step of the
                                      update process.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the step.
                                        type: string
                                      description:
                                        description: Description of the step.
                                        type: string
                                      errorMessage:
                                        description: Error message, if any.
                                        type: string
                                      status:
                                        description: State of the step.
                                        type: string
                                      startTimeUtc:
                                        description: Time at which this step started
                                          executing
                                        type: string
                                        format: date-time
                                      endTimeUtc:
                                        description: Time at which this step stopped
                                          executing
                                        type: string
                                        format: date-time
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      timeStarted:
                        description: Update start time.
                        type: string
                        format: date-time
                      duration:
                        description: Duration of the update.
                        type: string
                      state:
                        description: State of the update run.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - InProgress
                        - Failed
                        x-ms-enum:
                          name: UpdateRunState
                          modelAsString: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
components:
  parameters:
    UpdateParameter:
      name: updateName
      description: Name of the update.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    UpdateLocationParameter:
      name: updateLocation
      description: The name of the update location.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Update:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of an update.
          x-ms-client-flatten: true
          type: object
          properties:
            displayName:
              description: Name of the update.
              type: string
            description:
              description: Description of the update.
              type: string
            version:
              description: Version of the update.
              type: string
            oemVersion:
              description: OEM version of the update.
              type: string
            state:
              description: Current state of the update.
              type: string
              enum:
              - Ready
              - Downloading
              - DownloadFailed
              - HealthChecking
              - HealthCheckFailed
              - Preparing
              - PreparationFailed
              - Invalid
              - HasPrerequisite
              - Recalled
              - Obsolete
              - ReadyToInstall
              - NotApplicableBecauseAnotherUpdateIsInProgress
              - Installing
              - Installed
              - InstallationFailed
              x-ms-enum:
                name: UpdateState
                modelAsString: true
            availabilityType:
              description: The availability type of the update. The location where
                the update is available.
              type: string
              enum:
              - online
              - local
              - notify
              x-ms-enum:
                name: AvailabilityType
                modelAsString: true
            releaseLink:
              description: Link to release notes or other details about the update.
              type: string
            packagePath:
              description: Path to the update package.
              type: string
            packageSizeInMb:
              description: Size of update package.
              type: integer
              format: int64
            publisher:
              description: Publisher of the update.
              type: string
            packageType:
              description: Type of the package.
              type: string
            updatePrerequisites:
              description: List of update prerequisites.
              type: array
              items:
                description: Prerequisite of the update.
                type: object
                properties:
                  updateType:
                    description: Update type of prerequisite update.
                    type: string
                  packageName:
                    description: Name of prerequisite update.
                    type: string
                  version:
                    description: Version of prerequisite update.
                    type: string
              x-ms-identifiers:
              - packageName
            updateStateProperties:
              description: Properties when update is in a specific state.
              type: object
              properties:
                progressPercentage:
                  description: Progress percentage of a running operation.
                  type: integer
                  format: int64
                notifyMessage:
                  description: Notify message of the update in this state.
                  type: string
            additionalProperties:
              description: Additional properties of the update.
              type: string
            kbLink:
              description: Link to the KB article about the update.
              type: string
            minVersionRequired:
              description: The minimum version required to install.
              type: string
            minOemVersionRequired:
              description: The minimum OEM version required to install.
              type: string
            installedDate:
              description: Date update was installed.
              type: string
              format: date-time
      description: Base Resource Object
      x-ms-azure-resource: true
    UpdateModel:
      description: Properties of an update.
      type: object
      properties:
        displayName:
          description: Name of the update.
          type: string
        description:
          description: Description of the update.
          type: string
        version:
          description: Version of the update.
          type: string
        oemVersion:
          description: OEM version of the update.
          type: string
        state:
          description: Current state of the update.
          type: string
          enum:
          - Ready
          - Downloading
          - DownloadFailed
          - HealthChecking
          - HealthCheckFailed
          - Preparing
          - PreparationFailed
          - Invalid
          - HasPrerequisite
          - Recalled
          - Obsolete
          - ReadyToInstall
          - NotApplicableBecauseAnotherUpdateIsInProgress
          - Installing
          - Installed
          - InstallationFailed
          x-ms-enum:
            name: UpdateState
            modelAsString: true
        availabilityType:
          description: The availability type of the update. The location where the
            update is available.
          type: string
          enum:
          - online
          - local
          - notify
          x-ms-enum:
            name: AvailabilityType
            modelAsString: true
        releaseLink:
          description: Link to release notes or other details about the update.
          type: string
        packagePath:
          description: Path to the update package.
          type: string
        packageSizeInMb:
          description: Size of update package.
          type: integer
          format: int64
        publisher:
          description: Publisher of the update.
          type: string
        packageType:
          description: Type of the package.
          type: string
        updatePrerequisites:
          description: List of update prerequisites.
          type: array
          items:
            description: Prerequisite of the update.
            type: object
            properties:
              updateType:
                description: Update type of prerequisite update.
                type: string
              packageName:
                description: Name of prerequisite update.
                type: string
              version:
                description: Version of prerequisite update.
                type: string
          x-ms-identifiers:
          - packageName
        updateStateProperties:
          description: Properties when update is in a specific state.
          type: object
          properties:
            progressPercentage:
              description: Progress percentage of a running operation.
              type: integer
              format: int64
            notifyMessage:
              description: Notify message of the update in this state.
              type: string
        additionalProperties:
          description: Additional properties of the update.
          type: string
        kbLink:
          description: Link to the KB article about the update.
          type: string
        minVersionRequired:
          description: The minimum version required to install.
          type: string
        minOemVersionRequired:
          description: The minimum OEM version required to install.
          type: string
        installedDate:
          description: Date update was installed.
          type: string
          format: date-time
    UpdateList:
      description: List of updates.
      type: object
      properties:
        value:
          description: List of updates.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Properties of an update.
                x-ms-client-flatten: true
                type: object
                properties:
                  displayName:
                    description: Name of the update.
                    type: string
                  description:
                    description: Description of the update.
                    type: string
                  version:
                    description: Version of the update.
                    type: string
                  oemVersion:
                    description: OEM version of the update.
                    type: string
                  state:
                    description: Current state of the update.
                    type: string
                    enum:
                    - Ready
                    - Downloading
                    - DownloadFailed
                    - HealthChecking
                    - HealthCheckFailed
                    - Preparing
                    - PreparationFailed
                    - Invalid
                    - HasPrerequisite
                    - Recalled
                    - Obsolete
                    - ReadyToInstall
                    - NotApplicableBecauseAnotherUpdateIsInProgress
                    - Installing
                    - Installed
                    - InstallationFailed
                    x-ms-enum:
                      name: UpdateState
                      modelAsString: true
                  availabilityType:
                    description: The availability type of the update. The location
                      where the update is available.
                    type: string
                    enum:
                    - online
                    - local
                    - notify
                    x-ms-enum:
                      name: AvailabilityType
                      modelAsString: true
                  releaseLink:
                    description: Link to release notes or other details about the
                      update.
                    type: string
                  packagePath:
                    description: Path to the update package.
                    type: string
                  packageSizeInMb:
                    description: Size of update package.
                    type: integer
                    format: int64
                  publisher:
                    description: Publisher of the update.
                    type: string
                  packageType:
                    description: Type of the package.
                    type: string
                  updatePrerequisites:
                    description: List of update prerequisites.
                    type: array
                    items:
                      description: Prerequisite of the update.
                      type: object
                      properties:
                        updateType:
                          description: Update type of prerequisite update.
                          type: string
                        packageName:
                          description: Name of prerequisite update.
                          type: string
                        version:
                          description: Version of prerequisite update.
                          type: string
                    x-ms-identifiers:
                    - packageName
                  updateStateProperties:
                    description: Properties when update is in a specific state.
                    type: object
                    properties:
                      progressPercentage:
                        description: Progress percentage of a running operation.
                        type: integer
                        format: int64
                      notifyMessage:
                        description: Notify message of the update in this state.
                        type: string
                  additionalProperties:
                    description: Additional properties of the update.
                    type: string
                  kbLink:
                    description: Link to the KB article about the update.
                    type: string
                  minVersionRequired:
                    description: The minimum version required to install.
                    type: string
                  minOemVersionRequired:
                    description: The minimum OEM version required to install.
                    type: string
                  installedDate:
                    description: Date update was installed.
                    type: string
                    format: date-time
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page of updates.
          type: string
    UpdateState:
      description: State of the update.
      type: string
      enum:
      - Ready
      - Downloading
      - DownloadFailed
      - HealthChecking
      - HealthCheckFailed
      - Preparing
      - PreparationFailed
      - Invalid
      - HasPrerequisite
      - Recalled
      - Obsolete
      - ReadyToInstall
      - NotApplicableBecauseAnotherUpdateIsInProgress
      - Installing
      - Installed
      - InstallationFailed
      x-ms-enum:
        name: UpdateState
        modelAsString: true
    AvailabilityType:
      description: Availability type of update.
      type: string
      enum:
      - online
      - local
      - notify
      x-ms-enum:
        name: AvailabilityType
        modelAsString: true
    UpdatePrerequisite:
      description: Prerequisite of the update.
      type: object
      properties:
        updateType:
          description: Update type of prerequisite update.
          type: string
        packageName:
          description: Name of prerequisite update.
          type: string
        version:
          description: Version of prerequisite update.
          type: string
    UpdateStateProperties:
      description: State related properties of the update.
      type: object
      properties:
        progressPercentage:
          description: Progress percentage of a running operation.
          type: integer
          format: int64
        notifyMessage:
          description: Notify message of the update in this state.
          type: string
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Step:
      description: Information about each step of the update process.
      type: object
      properties:
        name:
          description: Name of the step.
          type: string
        description:
          description: Description of the step.
          type: string
        errorMessage:
          description: Error message, if any.
          type: string
        status:
          description: State of the step.
          type: string
        startTimeUtc:
          description: Time at which this step started executing
          type: string
          format: date-time
        endTimeUtc:
          description: Time at which this step stopped executing
          type: string
          format: date-time
        steps:
          description: Inner steps
          type: array
          items:
            description: Information about each step of the update process.
            type: object
            properties:
              name:
                description: Name of the step.
                type: string
              description:
                description: Description of the step.
                type: string
              errorMessage:
                description: Error message, if any.
                type: string
              status:
                description: State of the step.
                type: string
              startTimeUtc:
                description: Time at which this step started executing
                type: string
                format: date-time
              endTimeUtc:
                description: Time at which this step stopped executing
                type: string
                format: date-time
              steps:
                description: Inner steps
                type: array
                items:
                  description: Information about each step of the update process.
                  type: object
                  properties:
                    name:
                      description: Name of the step.
                      type: string
                    description:
                      description: Description of the step.
                      type: string
                    errorMessage:
                      description: Error message, if any.
                      type: string
                    status:
                      description: State of the step.
                      type: string
                    startTimeUtc:
                      description: Time at which this step started executing
                      type: string
                      format: date-time
                    endTimeUtc:
                      description: Time at which this step stopped executing
                      type: string
                      format: date-time
                x-ms-identifiers: []
          x-ms-identifiers: []
    UpdateRunState:
      description: State of the update run.
      type: string
      enum:
      - Unknown
      - Succeeded
      - InProgress
      - Failed
      x-ms-enum:
        name: UpdateRunState
        modelAsString: true
    UpdateRunModel:
      description: Properties of an update run.
      type: object
      properties:
        progress:
          description: Current progress of the update run.
          type: object
          properties:
            name:
              description: Name of the step.
              type: string
            description:
              description: Description of the step.
              type: string
            errorMessage:
              description: Error message, if any.
              type: string
            status:
              description: State of the step.
              type: string
            startTimeUtc:
              description: Time at which this step started executing
              type: string
              format: date-time
            endTimeUtc:
              description: Time at which this step stopped executing
              type: string
              format: date-time
            steps:
              description: Inner steps
              type: array
              items:
                description: Information about each step of the update process.
                type: object
                properties:
                  name:
                    description: Name of the step.
                    type: string
                  description:
                    description: Description of the step.
                    type: string
                  errorMessage:
                    description: Error message, if any.
                    type: string
                  status:
                    description: State of the step.
                    type: string
                  startTimeUtc:
                    description: Time at which this step started executing
                    type: string
                    format: date-time
                  endTimeUtc:
                    description: Time at which this step stopped executing
                    type: string
                    format: date-time
                  steps:
                    description: Inner steps
                    type: array
                    items:
                      description: Information about each step of the update process.
                      type: object
                      properties:
                        name:
                          description: Name of the step.
                          type: string
                        description:
                          description: Description of the step.
                          type: string
                        errorMessage:
                          description: Error message, if any.
                          type: string
                        status:
                          description: State of the step.
                          type: string
                        startTimeUtc:
                          description: Time at which this step started executing
                          type: string
                          format: date-time
                        endTimeUtc:
                          description: Time at which this step stopped executing
                          type: string
                          format: date-time
                    x-ms-identifiers: []
              x-ms-identifiers: []
        timeStarted:
          description: Update start time.
          type: string
          format: date-time
        duration:
          description: Duration of the update.
          type: string
        state:
          description: State of the update run.
          type: string
          enum:
          - Unknown
          - Succeeded
          - InProgress
          - Failed
          x-ms-enum:
            name: UpdateRunState
            modelAsString: true
    UpdateRun:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of a update run.
          x-ms-client-flatten: true
          type: object
          properties:
            progress:
              description: Current progress of the update run.
              type: object
              properties:
                name:
                  description: Name of the step.
                  type: string
                description:
                  description: Description of the step.
                  type: string
                errorMessage:
                  description: Error message, if any.
                  type: string
                status:
                  description: State of the step.
                  type: string
                startTimeUtc:
                  description: Time at which this step started executing
                  type: string
                  format: date-time
                endTimeUtc:
                  description: Time at which this step stopped executing
                  type: string
                  format: date-time
                steps:
                  description: Inner steps
                  type: array
                  items:
                    description: Information about each step of the update process.
                    type: object
                    properties:
                      name:
                        description: Name of the step.
                        type: string
                      description:
                        description: Description of the step.
                        type: string
                      errorMessage:
                        description: Error message, if any.
                        type: string
                      status:
                        description: State of the step.
                        type: string
                      startTimeUtc:
                        description: Time at which this step started executing
                        type: string
                        format: date-time
                      endTimeUtc:
                        description: Time at which this step stopped executing
                        type: string
                        format: date-time
                      steps:
                        description: Inner steps
                        type: array
                        items:
                          description: Information about each step of the update process.
                          type: object
                          properties:
                            name:
                              description: Name of the step.
                              type: string
                            description:
                              description: Description of the step.
                              type: string
                            errorMessage:
                              description: Error message, if any.
                              type: string
                            status:
                              description: State of the step.
                              type: string
                            startTimeUtc:
[...]
