openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}
  : patch:
      tags:
      - AutomationAccount
      operationId: AutomationAccount_Update
      description: Update an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets account update properties.
                  properties:
                    sku:
                      description: Gets or sets account SKU.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the SKU name of the account.
                          enum:
                          - Free
                          - Basic
                          x-ms-enum:
                            name: SkuNameEnum
                            modelAsString: true
                        family:
                          type: string
                          description: Gets or sets the SKU family.
                        capacity:
                          type: integer
                          format: int32
                          description: Gets or sets the SKU capacity.
                      required:
                      - name
                    encryption:
                      description: Set the encryption properties for the automation
                        account
                      properties:
                        keyVaultProperties:
                          description: Key vault properties.
                          type: object
                          properties:
                            keyvaultUri:
                              description: The URI of the key vault key used to encrypt
                                data.
                              type: string
                            keyName:
                              description: The name of key used to encrypt data.
                              type: string
                            keyVersion:
                              description: The key version of the key used to encrypt
                                data.
                              type: string
                        keySource:
                          type: string
                          description: Encryption Key Source
                          enum:
                          - Microsoft.Automation
                          - Microsoft.Keyvault
                          x-ms-enum:
                            name: EncryptionKeySourceType
                            modelAsString: false
                        identity:
                          description: User identity used for CMK.
                          properties:
                            userAssignedIdentity:
                              type: object
                              description: 'The user identity used for CMK. It will
                                be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                    publicNetworkAccess:
                      type: boolean
                      description: Indicates whether traffic on the non-ARM endpoint
                        (Webhook/Agent) is allowed from the public internet
                    disableLocalAuth:
                      type: boolean
                      description: Indicates whether requests using non-AAD authentication
                        are blocked
                name:
                  type: string
                  description: Gets or sets the name of the resource.
                location:
                  type: string
                  description: Gets or sets the location of the resource.
                identity:
                  type: object
                  description: Sets the identity property for automation account
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      description: 'The list of user identities associated with the
                        resource. The user identity dictionary key references will
                        be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets the tags attached to the resource.
              description: The parameters supplied to the update automation account
                operation.
        description: Parameters supplied to the update automation account.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the automation account properties.
                    properties:
                      sku:
                        description: Gets or sets the SKU of account.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the SKU name of the account.
                            enum:
                            - Free
                            - Basic
                            x-ms-enum:
                              name: SkuNameEnum
                              modelAsString: true
                          family:
                            type: string
                            description: Gets or sets the SKU family.
                          capacity:
                            type: integer
                            format: int32
                            description: Gets or sets the SKU capacity.
                        required:
                        - name
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      state:
                        type: string
                        readOnly: true
                        description: Gets status of account.
                        enum:
                        - Ok
                        - Unavailable
                        - Suspended
                        x-ms-enum:
                          name: AutomationAccountState
                          modelAsString: true
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      encryption:
                        description: Encryption properties for the automation account
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyvaultUri:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              keyName:
                                description: The name of key used to encrypt data.
                                type: string
                              keyVersion:
                                description: The key version of the key used to encrypt
                                  data.
                                type: string
                          keySource:
                            type: string
                            description: Encryption Key Source
                            enum:
                            - Microsoft.Automation
                            - Microsoft.Keyvault
                            x-ms-enum:
                              name: EncryptionKeySourceType
                              modelAsString: false
                          identity:
                            description: User identity used for CMK.
                            properties:
                              userAssignedIdentity:
                                type: object
                                description: 'The user identity used for CMK. It will
                                  be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource Id for the resource
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource.
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource id of the private endpoint.
                                groupIds:
                                  description: Gets the groupIds.
                                  type: array
                                  items:
                                    type: string
                                privateLinkServiceConnectionState:
                                  description: Connection State of the Private Endpoint
                                    Connection.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The private link service connection
                                        status.
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      type: string
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      readOnly: true
                          description: The core properties of ARM resources
                          x-ms-azure-resource: true
                        description: List of Automation operations supported by the
                          Automation resource provider.
                      publicNetworkAccess:
                        type: boolean
                        description: Indicates whether traffic on the non-ARM endpoint
                          (Webhook/Agent) is allowed from the public internet
                      disableLocalAuth:
                        type: boolean
                        description: Indicates whether requests using non-AAD authentication
                          are blocked
                      automationHybridServiceUrl:
                        type: string
                        description: URL of automation hybrid service which is used
                          for hybrid worker on-boarding.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                  identity:
                    description: Identity for the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - AutomationAccount
      operationId: AutomationAccount_CreateOrUpdate
      description: Create or update automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets account create or update properties.
                  properties:
                    sku:
                      description: Gets or sets account SKU.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the SKU name of the account.
                          enum:
                          - Free
                          - Basic
                          x-ms-enum:
                            name: SkuNameEnum
                            modelAsString: true
                        family:
                          type: string
                          description: Gets or sets the SKU family.
                        capacity:
                          type: integer
                          format: int32
                          description: Gets or sets the SKU capacity.
                      required:
                      - name
                    encryption:
                      description: Set the encryption properties for the automation
                        account
                      properties:
                        keyVaultProperties:
                          description: Key vault properties.
                          type: object
                          properties:
                            keyvaultUri:
                              description: The URI of the key vault key used to encrypt
                                data.
                              type: string
                            keyName:
                              description: The name of key used to encrypt data.
                              type: string
                            keyVersion:
                              description: The key version of the key used to encrypt
                                data.
                              type: string
                        keySource:
                          type: string
                          description: Encryption Key Source
                          enum:
                          - Microsoft.Automation
                          - Microsoft.Keyvault
                          x-ms-enum:
                            name: EncryptionKeySourceType
                            modelAsString: false
                        identity:
                          description: User identity used for CMK.
                          properties:
                            userAssignedIdentity:
                              type: object
                              description: 'The user identity used for CMK. It will
                                be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                    publicNetworkAccess:
                      type: boolean
                      description: Indicates whether traffic on the non-ARM endpoint
                        (Webhook/Agent) is allowed from the public internet
                    disableLocalAuth:
                      type: boolean
                      description: Indicates whether requests using non-AAD authentication
                        are blocked
                name:
                  type: string
                  description: Gets or sets name of the resource.
                location:
                  type: string
                  description: Gets or sets the location of the resource.
                identity:
                  type: object
                  description: Sets the identity property for automation account
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      description: 'The list of user identities associated with the
                        resource. The user identity dictionary key references will
                        be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets the tags attached to the resource.
              description: The parameters supplied to the create or update automation
                account operation.
        description: Parameters supplied to the create or update automation account.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the automation account properties.
                    properties:
                      sku:
                        description: Gets or sets the SKU of account.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the SKU name of the account.
                            enum:
                            - Free
                            - Basic
                            x-ms-enum:
                              name: SkuNameEnum
                              modelAsString: true
                          family:
                            type: string
                            description: Gets or sets the SKU family.
                          capacity:
                            type: integer
                            format: int32
                            description: Gets or sets the SKU capacity.
                        required:
                        - name
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      state:
                        type: string
                        readOnly: true
                        description: Gets status of account.
                        enum:
                        - Ok
                        - Unavailable
                        - Suspended
                        x-ms-enum:
                          name: AutomationAccountState
                          modelAsString: true
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      encryption:
                        description: Encryption properties for the automation account
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyvaultUri:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              keyName:
                                description: The name of key used to encrypt data.
                                type: string
                              keyVersion:
                                description: The key version of the key used to encrypt
                                  data.
                                type: string
                          keySource:
                            type: string
                            description: Encryption Key Source
                            enum:
                            - Microsoft.Automation
                            - Microsoft.Keyvault
                            x-ms-enum:
                              name: EncryptionKeySourceType
                              modelAsString: false
                          identity:
                            description: User identity used for CMK.
                            properties:
                              userAssignedIdentity:
                                type: object
                                description: 'The user identity used for CMK. It will
                                  be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource Id for the resource
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource.
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource id of the private endpoint.
                                groupIds:
                                  description: Gets the groupIds.
                                  type: array
                                  items:
                                    type: string
                                privateLinkServiceConnectionState:
                                  description: Connection State of the Private Endpoint
                                    Connection.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The private link service connection
                                        status.
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      type: string
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      readOnly: true
                          description: The core properties of ARM resources
                          x-ms-azure-resource: true
                        description: List of Automation operations supported by the
                          Automation resource provider.
                      publicNetworkAccess:
                        type: boolean
                        description: Indicates whether traffic on the non-ARM endpoint
                          (Webhook/Agent) is allowed from the public internet
                      disableLocalAuth:
                        type: boolean
                        description: Indicates whether requests using non-AAD authentication
                          are blocked
                      automationHybridServiceUrl:
                        type: string
                        description: URL of automation hybrid service which is used
                          for hybrid worker on-boarding.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                  identity:
                    description: Identity for the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the automation account properties.
                    properties:
                      sku:
                        description: Gets or sets the SKU of account.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the SKU name of the account.
                            enum:
                            - Free
                            - Basic
                            x-ms-enum:
                              name: SkuNameEnum
                              modelAsString: true
                          family:
                            type: string
                            description: Gets or sets the SKU family.
                          capacity:
                            type: integer
                            format: int32
                            description: Gets or sets the SKU capacity.
                        required:
                        - name
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      state:
                        type: string
                        readOnly: true
                        description: Gets status of account.
                        enum:
                        - Ok
                        - Unavailable
                        - Suspended
                        x-ms-enum:
                          name: AutomationAccountState
                          modelAsString: true
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      encryption:
                        description: Encryption properties for the automation account
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyvaultUri:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              keyName:
                                description: The name of key used to encrypt data.
                                type: string
                              keyVersion:
                                description: The key version of the key used to encrypt
                                  data.
                                type: string
                          keySource:
                            type: string
                            description: Encryption Key Source
                            enum:
                            - Microsoft.Automation
                            - Microsoft.Keyvault
                            x-ms-enum:
                              name: EncryptionKeySourceType
                              modelAsString: false
                          identity:
                            description: User identity used for CMK.
                            properties:
                              userAssignedIdentity:
                                type: object
                                description: 'The user identity used for CMK. It will
                                  be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource Id for the resource
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource.
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource id of the private endpoint.
                                groupIds:
                                  description: Gets the groupIds.
                                  type: array
                                  items:
                                    type: string
                                privateLinkServiceConnectionState:
                                  description: Connection State of the Private Endpoint
                                    Connection.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The private link service connection
                                        status.
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      type: string
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      readOnly: true
                          description: The core properties of ARM resources
                          x-ms-azure-resource: true
                        description: List of Automation operations supported by the
                          Automation resource provider.
                      publicNetworkAccess:
                        type: boolean
                        description: Indicates whether traffic on the non-ARM endpoint
                          (Webhook/Agent) is allowed from the public internet
                      disableLocalAuth:
                        type: boolean
                        description: Indicates whether requests using non-AAD authentication
                          are blocked
                      automationHybridServiceUrl:
                        type: string
                        description: URL of automation hybrid service which is used
                          for hybrid worker on-boarding.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                  identity:
                    description: Identity for the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    delete:
      tags:
      - AutomationAccount
      operationId: AutomationAccount_Delete
      description: Delete an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - AutomationAccount
      operationId: AutomationAccount_Get
      description: Get information about an Automation Account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the automation account properties.
                    properties:
                      sku:
                        description: Gets or sets the SKU of account.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the SKU name of the account.
                            enum:
                            - Free
                            - Basic
                            x-ms-enum:
                              name: SkuNameEnum
                              modelAsString: true
                          family:
                            type: string
                            description: Gets or sets the SKU family.
                          capacity:
                            type: integer
                            format: int32
                            description: Gets or sets the SKU capacity.
                        required:
                        - name
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      state:
                        type: string
                        readOnly: true
                        description: Gets status of account.
                        enum:
                        - Ok
                        - Unavailable
                        - Suspended
                        x-ms-enum:
                          name: AutomationAccountState
                          modelAsString: true
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      encryption:
                        description: Encryption properties for the automation account
                        properties:
                          keyVaultProperties:
                            description: Key vault properties.
                            type: object
                            properties:
                              keyvaultUri:
                                description: The URI of the key vault key used to
                                  encrypt data.
                                type: string
                              keyName:
                                description: The name of key used to encrypt data.
                                type: string
                              keyVersion:
                                description: The key version of the key used to encrypt
                                  data.
                                type: string
                          keySource:
                            type: string
                            description: Encryption Key Source
                            enum:
                            - Microsoft.Automation
                            - Microsoft.Keyvault
                            x-ms-enum:
                              name: EncryptionKeySourceType
                              modelAsString: false
                          identity:
                            description: User identity used for CMK.
                            properties:
                              userAssignedIdentity:
                                type: object
                                description: 'The user identity used for CMK. It will
                                  be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource Id for the resource
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource.
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Resource id of the private endpoint.
                                groupIds:
                                  description: Gets the groupIds.
                                  type: array
                                  items:
                                    type: string
                                privateLinkServiceConnectionState:
                                  description: Connection State of the Private Endpoint
                                    Connection.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The private link service connection
                                        status.
                                    description:
                                      type: string
                                      description: The private link service connection
                                        description.
                                    actionsRequired:
                                      type: string
                                      description: Any action that is required beyond
                                        basic workflow (approve/ reject/ disconnect)
                                      readOnly: true
                          description: The core properties of ARM resources
                          x-ms-azure-resource: true
                        description: List of Automation operations supported by the
                          Automation resource provider.
                      publicNetworkAccess:
                        type: boolean
                        description: Indicates whether traffic on the non-ARM endpoint
                          (Webhook/Agent) is allowed from the public internet
                      disableLocalAuth:
                        type: boolean
                        description: Indicates whether requests using non-AAD authentication
                          are blocked
                      automationHybridServiceUrl:
                        type: string
                        description: URL of automation hybrid service which is used
                          for hybrid worker on-boarding.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                  identity:
                    description: Identity for the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts:
    get:
      tags:
      - AutomationAccount
      operationId: AutomationAccount_ListByResourceGroup
      description: Retrieve a list of accounts within a given resource group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the automation account properties.
                          properties:
                            sku:
                              description: Gets or sets the SKU of account.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the SKU name of the account.
                                  enum:
                                  - Free
                                  - Basic
                                  x-ms-enum:
                                    name: SkuNameEnum
                                    modelAsString: true
                                family:
                                  type: string
                                  description: Gets or sets the SKU family.
                                capacity:
                                  type: integer
                                  format: int32
                                  description: Gets or sets the SKU capacity.
                              required:
                              - name
                            lastModifiedBy:
                              type: string
                              description: Gets or sets the last modified by.
                            state:
                              type: string
                              readOnly: true
                              description: Gets status of account.
                              enum:
                              - Ok
                              - Unavailable
                              - Suspended
                              x-ms-enum:
                                name: AutomationAccountState
                                modelAsString: true
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                            encryption:
                              description: Encryption properties for the automation
                                account
                              properties:
                                keyVaultProperties:
                                  description: Key vault properties.
                                  type: object
                                  properties:
                                    keyvaultUri:
                                      description: The URI of the key vault key used
                                        to encrypt data.
                                      type: string
                                    keyName:
                                      description: The name of key used to encrypt
                                        data.
                                      type: string
                                    keyVersion:
                                      description: The key version of the key used
                                        to encrypt data.
                                      type: string
                                keySource:
                                  type: string
                                  description: Encryption Key Source
                                  enum:
                                  - Microsoft.Automation
                                  - Microsoft.Keyvault
                                  x-ms-enum:
                                    name: EncryptionKeySourceType
                                    modelAsString: false
                                identity:
                                  description: User identity used for CMK.
                                  properties:
                                    userAssignedIdentity:
                                      type: object
                                      description: 'The user identity used for CMK.
                                        It will be an ARM resource id in the form:
                                        ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                            privateEndpointConnections:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource Id for the
                                      resource
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource.
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: Private endpoint which the connection
                                          belongs to.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: Resource id of the private
                                              endpoint.
                                      groupIds:
                                        description: Gets the groupIds.
                                        type: array
                                        items:
                                          type: string
                                      privateLinkServiceConnectionState:
                                        description: Connection State of the Private
                                          Endpoint Connection.
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            description: The private link service
                                              connection status.
                                          description:
                                            type: string
                                            description: The private link service
                                              connection description.
                                          actionsRequired:
                                            type: string
                                            description: Any action that is required
                                              beyond basic workflow (approve/ reject/
                                              disconnect)
                                            readOnly: true
                                description: The core properties of ARM resources
                                x-ms-azure-resource: true
                              description: List of Automation operations supported
                                by the Automation resource provider.
                            publicNetworkAccess:
                              type: boolean
                              description: Indicates whether traffic on the non-ARM
                                endpoint (Webhook/Agent) is allowed from the public
                                internet
                            disableLocalAuth:
                              type: boolean
                              description: Indicates whether requests using non-AAD
                                authentication are blocked
                            automationHybridServiceUrl:
                              type: string
                              description: URL of automation hybrid service which
                                is used for hybrid worker on-boarding.
                        etag:
                          type: string
                          description: Gets or sets the etag of the resource.
                        identity:
                          description: Identity for the resource.
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              - None
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              type: object
                              description: 'The list of user identities associated
                                with the resource. The user identity dictionary key
                                references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                              additionalProperties:
                                type: object
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: The principal id of user assigned
                                      identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: The client id of user assigned identity.
                        systemData:
                          description: Resource system metadata.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets list of accounts.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list account operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts:
    get:
      tags:
      - AutomationAccount
      summary: Lists the Automation Accounts within an Azure subscription.
      operationId: AutomationAccount_List
      description: Retrieve a list of accounts within a given subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the automation account properties.
                          properties:
                            sku:
                              description: Gets or sets the SKU of account.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the SKU name of the account.
                                  enum:
                                  - Free
                                  - Basic
                                  x-ms-enum:
                                    name: SkuNameEnum
                                    modelAsString: true
                                family:
                                  type: string
                                  description: Gets or sets the SKU family.
                                capacity:
                                  type: integer
                                  format: int32
                                  description: Gets or sets the SKU capacity.
                              required:
                              - name
                            lastModifiedBy:
                              type: string
                              description: Gets or sets the last modified by.
                            state:
                              type: string
                              readOnly: true
                              description: Gets status of account.
                              enum:
                              - Ok
                              - Unavailable
                              - Suspended
                              x-ms-enum:
                                name: AutomationAccountState
                                modelAsString: true
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                            encryption:
                              description: Encryption properties for the automation
                                account
                              properties:
                                keyVaultProperties:
                                  description: Key vault properties.
                                  type: object
                                  properties:
                                    keyvaultUri:
                                      description: The URI of the key vault key used
                                        to encrypt data.
                                      type: string
                                    keyName:
                                      description: The name of key used to encrypt
                                        data.
                                      type: string
                                    keyVersion:
                                      description: The key version of the key used
                                        to encrypt data.
                                      type: string
                                keySource:
                                  type: string
                                  description: Encryption Key Source
                                  enum:
                                  - Microsoft.Automation
                                  - Microsoft.Keyvault
                                  x-ms-enum:
                                    name: EncryptionKeySourceType
                                    modelAsString: false
                                identity:
                                  description: User identity used for CMK.
                                  properties:
                                    userAssignedIdentity:
                                      type: object
                                      description: 'The user identity used for CMK.
                                        It will be an ARM resource id in the form:
                                        ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                            privateEndpointConnections:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource Id for the
                                      resource
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource.
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: Private endpoint which the connection
                                          belongs to.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: Resource id of the private
                                              endpoint.
                                      groupIds:
                                        description: Gets the groupIds.
                                        type: array
                                        items:
                                          type: string
                                      privateLinkServiceConnectionState:
                                        description: Connection State of the Private
                                          Endpoint Connection.
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            description: The private link service
                                              connection status.
                                          description:
                                            type: string
                                            description: The private link service
                                              connection description.
                                          actionsRequired:
[...]
