openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates/{certificateName}
  : delete:
      tags:
      - Certificate
      operationId: Certificate_Delete
      description: Delete the certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: The name of certificate.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Certificate
      operationId: Certificate_Get
      description: Retrieve the certificate identified by certificate name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: The name of certificate.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the certificate.
                    properties:
                      thumbprint:
                        type: string
                        readOnly: true
                        description: Gets the thumbprint of the certificate.
                      expiryTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the expiry time of the certificate.
                        nullable: false
                      isExportable:
                        type: boolean
                        readOnly: true
                        description: Gets the is exportable flag of the certificate.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Certificate
      operationId: Certificate_CreateOrUpdate
      description: Create a certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: The parameters supplied to the create or update certificate operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the certificate.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the certificate.
                  properties:
                    base64Value:
                      type: string
                      description: Gets or sets the base64 encoded value of the certificate.
                    description:
                      type: string
                      description: Gets or sets the description of the certificate.
                    thumbprint:
                      type: string
                      description: Gets or sets the thumbprint of the certificate.
                    isExportable:
                      type: boolean
                      description: Gets or sets the is exportable flag of the certificate.
                      nullable: false
                  required:
                  - base64Value
              required:
              - name
              - properties
              description: The parameters supplied to the create or update or replace
                certificate operation.
        description: The parameters supplied to the create or update certificate operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the certificate.
                    properties:
                      thumbprint:
                        type: string
                        readOnly: true
                        description: Gets the thumbprint of the certificate.
                      expiryTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the expiry time of the certificate.
                        nullable: false
                      isExportable:
                        type: boolean
                        readOnly: true
                        description: Gets the is exportable flag of the certificate.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the certificate.
                    properties:
                      thumbprint:
                        type: string
                        readOnly: true
                        description: Gets the thumbprint of the certificate.
                      expiryTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the expiry time of the certificate.
                        nullable: false
                      isExportable:
                        type: boolean
                        readOnly: true
                        description: Gets the is exportable flag of the certificate.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Certificate
      operationId: Certificate_Update
      description: Update a certificate.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: The parameters supplied to the update certificate operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the certificate.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the certificate.
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the certificate.
              description: The parameters supplied to the update certificate operation.
        description: The parameters supplied to the update certificate operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the certificate.
                    properties:
                      thumbprint:
                        type: string
                        readOnly: true
                        description: Gets the thumbprint of the certificate.
                      expiryTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the expiry time of the certificate.
                        nullable: false
                      isExportable:
                        type: boolean
                        readOnly: true
                        description: Gets the is exportable flag of the certificate.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates
  : get:
      tags:
      - Certificate
      operationId: Certificate_ListByAutomationAccount
      description: Retrieve a list of certificates.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/certificateoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the certificate.
                          properties:
                            thumbprint:
                              type: string
                              readOnly: true
                              description: Gets the thumbprint of the certificate.
                            expiryTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the expiry time of the certificate.
                              nullable: false
                            isExportable:
                              type: boolean
                              readOnly: true
                              description: Gets the is exportable flag of the certificate.
                              nullable: false
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of certificates.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list certificate operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CertificateCreateOrUpdateProperties:
      properties:
        base64Value:
          type: string
          description: Gets or sets the base64 encoded value of the certificate.
        description:
          type: string
          description: Gets or sets the description of the certificate.
        thumbprint:
          type: string
          description: Gets or sets the thumbprint of the certificate.
        isExportable:
          type: boolean
          description: Gets or sets the is exportable flag of the certificate.
          nullable: false
      required:
      - base64Value
      description: The properties of the create certificate operation.
    CertificateCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the certificate.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
          properties:
            base64Value:
              type: string
              description: Gets or sets the base64 encoded value of the certificate.
            description:
              type: string
              description: Gets or sets the description of the certificate.
            thumbprint:
              type: string
              description: Gets or sets the thumbprint of the certificate.
            isExportable:
              type: boolean
              description: Gets or sets the is exportable flag of the certificate.
              nullable: false
          required:
          - base64Value
      required:
      - name
      - properties
      description: The parameters supplied to the create or update or replace certificate
        operation.
    CertificateProperties:
      properties:
        thumbprint:
          type: string
          readOnly: true
          description: Gets the thumbprint of the certificate.
        expiryTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the expiry time of the certificate.
          nullable: false
        isExportable:
          type: boolean
          readOnly: true
          description: Gets the is exportable flag of the certificate.
          nullable: false
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Properties of the certificate.
    Certificate:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
          properties:
            thumbprint:
              type: string
              readOnly: true
              description: Gets the thumbprint of the certificate.
            expiryTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the expiry time of the certificate.
              nullable: false
            isExportable:
              type: boolean
              readOnly: true
              description: Gets the is exportable flag of the certificate.
              nullable: false
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    CertificateListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the certificate.
                properties:
                  thumbprint:
                    type: string
                    readOnly: true
                    description: Gets the thumbprint of the certificate.
                  expiryTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the expiry time of the certificate.
                    nullable: false
                  isExportable:
                    type: boolean
                    readOnly: true
                    description: Gets the is exportable flag of the certificate.
                    nullable: false
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of certificates.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list certificate operation.
    CertificateUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the certificate.
      description: The properties of the update certificate operation
    CertificateUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the certificate.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
          properties:
            description:
              type: string
              description: Gets or sets the description of the certificate.
      description: The parameters supplied to the update certificate operation.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
