openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}
  : delete:
      tags:
      - ConnectionType
      operationId: ConnectionType_Delete
      description: Delete the connection type.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectiontypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionTypeName
        in: path
        required: true
        description: The name of connection type.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - ConnectionType
      operationId: ConnectionType_Get
      description: Retrieve the connection type identified by connection type name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectiontypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionTypeName
        in: path
        required: true
        description: The name of connection type.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Gets the id of the resource.
                  name:
                    type: string
                    readOnly: true
                    description: Gets the name of the connection type.
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection type.
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets or sets a Boolean value to indicate if the
                          connection type is global.
                      fieldDefinitions:
                        type: object
                        additionalProperties:
                          properties:
                            isEncrypted:
                              type: boolean
                              description: Gets or sets the isEncrypted flag of the
                                connection field definition.
                            isOptional:
                              type: boolean
                              description: Gets or sets the isOptional flag of the
                                connection field definition.
                            type:
                              type: string
                              description: Gets or sets the type of the connection
                                field definition.
                          required:
                          - type
                          description: Definition of the connection fields.
                        readOnly: true
                        description: Gets the field definitions of the connection
                          type.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: Definition of the connection type.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - ConnectionType
      operationId: ConnectionType_CreateOrUpdate
      description: Create a connection type.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectiontypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionTypeName
        in: path
        required: true
        description: The parameters supplied to the create or update connection type
          operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the connection type.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the value of the connection type.
                  properties:
                    isGlobal:
                      type: boolean
                      description: Gets or sets a Boolean value to indicate if the
                        connection type is global.
                    fieldDefinitions:
                      type: object
                      additionalProperties:
                        properties:
                          isEncrypted:
                            type: boolean
                            description: Gets or sets the isEncrypted flag of the
                              connection field definition.
                          isOptional:
                            type: boolean
                            description: Gets or sets the isOptional flag of the connection
                              field definition.
                          type:
                            type: string
                            description: Gets or sets the type of the connection field
                              definition.
                        required:
                        - type
                        description: Definition of the connection fields.
                      description: Gets or sets the field definitions of the connection
                        type.
                  required:
                  - fieldDefinitions
              required:
              - name
              - properties
              description: The parameters supplied to the create or update connection
                type operation.
        description: The parameters supplied to the create or update connection type
          operation.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Gets the id of the resource.
                  name:
                    type: string
                    readOnly: true
                    description: Gets the name of the connection type.
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection type.
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets or sets a Boolean value to indicate if the
                          connection type is global.
                      fieldDefinitions:
                        type: object
                        additionalProperties:
                          properties:
                            isEncrypted:
                              type: boolean
                              description: Gets or sets the isEncrypted flag of the
                                connection field definition.
                            isOptional:
                              type: boolean
                              description: Gets or sets the isOptional flag of the
                                connection field definition.
                            type:
                              type: string
                              description: Gets or sets the type of the connection
                                field definition.
                          required:
                          - type
                          description: Definition of the connection fields.
                        readOnly: true
                        description: Gets the field definitions of the connection
                          type.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: Definition of the connection type.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes
  : get:
      tags:
      - ConnectionType
      operationId: ConnectionType_ListByAutomationAccount
      description: Retrieve a list of connection types.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectiontypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Gets the id of the resource.
                        name:
                          type: string
                          readOnly: true
                          description: Gets the name of the connection type.
                        type:
                          type: string
                          readOnly: true
                          description: Resource type
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the connection
                            type.
                          properties:
                            isGlobal:
                              type: boolean
                              description: Gets or sets a Boolean value to indicate
                                if the connection type is global.
                            fieldDefinitions:
                              type: object
                              additionalProperties:
                                properties:
                                  isEncrypted:
                                    type: boolean
                                    description: Gets or sets the isEncrypted flag
                                      of the connection field definition.
                                  isOptional:
                                    type: boolean
                                    description: Gets or sets the isOptional flag
                                      of the connection field definition.
                                  type:
                                    type: string
                                    description: Gets or sets the type of the connection
                                      field definition.
                                required:
                                - type
                                description: Definition of the connection fields.
                              readOnly: true
                              description: Gets the field definitions of the connection
                                type.
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: Definition of the connection type.
                    description: Gets or sets a list of connection types.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list connection type operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    FieldDefinition:
      properties:
        isEncrypted:
          type: boolean
          description: Gets or sets the isEncrypted flag of the connection field definition.
        isOptional:
          type: boolean
          description: Gets or sets the isOptional flag of the connection field definition.
        type:
          type: string
          description: Gets or sets the type of the connection field definition.
      required:
      - type
      description: Definition of the connection fields.
    ConnectionTypeProperties:
      properties:
        isGlobal:
          type: boolean
          description: Gets or sets a Boolean value to indicate if the connection
            type is global.
        fieldDefinitions:
          type: object
          additionalProperties:
            properties:
              isEncrypted:
                type: boolean
                description: Gets or sets the isEncrypted flag of the connection field
                  definition.
              isOptional:
                type: boolean
                description: Gets or sets the isOptional flag of the connection field
                  definition.
              type:
                type: string
                description: Gets or sets the type of the connection field definition.
            required:
            - type
            description: Definition of the connection fields.
          readOnly: true
          description: Gets the field definitions of the connection type.
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Properties of the connection type.
    ConnectionType:
      properties:
        id:
          type: string
          readOnly: true
          description: Gets the id of the resource.
        name:
          type: string
          readOnly: true
          description: Gets the name of the connection type.
        type:
          type: string
          readOnly: true
          description: Resource type
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the connection type.
          properties:
            isGlobal:
              type: boolean
              description: Gets or sets a Boolean value to indicate if the connection
                type is global.
            fieldDefinitions:
              type: object
              additionalProperties:
                properties:
                  isEncrypted:
                    type: boolean
                    description: Gets or sets the isEncrypted flag of the connection
                      field definition.
                  isOptional:
                    type: boolean
                    description: Gets or sets the isOptional flag of the connection
                      field definition.
                  type:
                    type: string
                    description: Gets or sets the type of the connection field definition.
                required:
                - type
                description: Definition of the connection fields.
              readOnly: true
              description: Gets the field definitions of the connection type.
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: Definition of the connection type.
    ConnectionTypeListResult:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                type: string
                readOnly: true
                description: Gets the id of the resource.
              name:
                type: string
                readOnly: true
                description: Gets the name of the connection type.
              type:
                type: string
                readOnly: true
                description: Resource type
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the connection type.
                properties:
                  isGlobal:
                    type: boolean
                    description: Gets or sets a Boolean value to indicate if the connection
                      type is global.
                  fieldDefinitions:
                    type: object
                    additionalProperties:
                      properties:
                        isEncrypted:
                          type: boolean
                          description: Gets or sets the isEncrypted flag of the connection
                            field definition.
                        isOptional:
                          type: boolean
                          description: Gets or sets the isOptional flag of the connection
                            field definition.
                        type:
                          type: string
                          description: Gets or sets the type of the connection field
                            definition.
                      required:
                      - type
                      description: Definition of the connection fields.
                    readOnly: true
                    description: Gets the field definitions of the connection type.
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets or sets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: Definition of the connection type.
          description: Gets or sets a list of connection types.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list connection type operation.
    ConnectionTypeCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the connection type.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the value of the connection type.
          properties:
            isGlobal:
              type: boolean
              description: Gets or sets a Boolean value to indicate if the connection
                type is global.
            fieldDefinitions:
              type: object
              additionalProperties:
                properties:
                  isEncrypted:
                    type: boolean
                    description: Gets or sets the isEncrypted flag of the connection
                      field definition.
                  isOptional:
                    type: boolean
                    description: Gets or sets the isOptional flag of the connection
                      field definition.
                  type:
                    type: string
                    description: Gets or sets the type of the connection field definition.
                required:
                - type
                description: Definition of the connection fields.
              description: Gets or sets the field definitions of the connection type.
          required:
          - fieldDefinitions
      required:
      - name
      - properties
      description: The parameters supplied to the create or update connection type
        operation.
    ConnectionTypeCreateOrUpdateProperties:
      properties:
        isGlobal:
          type: boolean
          description: Gets or sets a Boolean value to indicate if the connection
            type is global.
        fieldDefinitions:
          type: object
          additionalProperties:
            properties:
              isEncrypted:
                type: boolean
                description: Gets or sets the isEncrypted flag of the connection field
                  definition.
              isOptional:
                type: boolean
                description: Gets or sets the isOptional flag of the connection field
                  definition.
              type:
                type: string
                description: Gets or sets the type of the connection field definition.
            required:
            - type
            description: Definition of the connection fields.
          description: Gets or sets the field definitions of the connection type.
      required:
      - fieldDefinitions
      description: The properties of the create connection type.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
