openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections/{connectionName}
  : delete:
      tags:
      - Connection
      operationId: Connection_Delete
      description: Delete the connection.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectionoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of connection.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Connection
      operationId: Connection_Get
      description: Retrieve the connection identified by connection name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectionoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of connection.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection.
                    properties:
                      connectionType:
                        description: Gets or sets the connectionType of the connection.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the connection type.
                      fieldDefinitionValues:
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                        description: Gets the field definition values of the connection.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Connection
      operationId: Connection_CreateOrUpdate
      description: Create or update a connection.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectionoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The parameters supplied to the create or update connection operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the connection.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the connection.
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the connection.
                    connectionType:
                      description: Gets or sets the connectionType of the connection.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the connection type.
                    fieldDefinitionValues:
                      type: object
                      additionalProperties:
                        type: string
                      description: Gets or sets the field definition properties of
                        the connection.
                  required:
                  - connectionType
              required:
              - name
              - properties
              description: The parameters supplied to the create or update connection
                operation.
        description: The parameters supplied to the create or update connection operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection.
                    properties:
                      connectionType:
                        description: Gets or sets the connectionType of the connection.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the connection type.
                      fieldDefinitionValues:
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                        description: Gets the field definition values of the connection.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection.
                    properties:
                      connectionType:
                        description: Gets or sets the connectionType of the connection.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the connection type.
                      fieldDefinitionValues:
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                        description: Gets the field definition values of the connection.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Connection
      operationId: Connection_Update
      description: Update a connection.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectionoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The parameters supplied to the update a connection operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the connection.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the connection.
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the connection.
                    fieldDefinitionValues:
                      type: object
                      additionalProperties:
                        type: string
                      description: Gets or sets the field definition values of the
                        connection.
              description: The parameters supplied to the update connection operation.
        description: The parameters supplied to the update a connection operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the connection.
                    properties:
                      connectionType:
                        description: Gets or sets the connectionType of the connection.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the connection type.
                      fieldDefinitionValues:
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                        description: Gets the field definition values of the connection.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections
  : get:
      tags:
      - Connection
      operationId: Connection_ListByAutomationAccount
      description: Retrieve a list of connections.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectionoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the connection.
                          properties:
                            connectionType:
                              description: Gets or sets the connectionType of the
                                connection.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the name of the connection
                                    type.
                            fieldDefinitionValues:
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                              description: Gets the field definition values of the
                                connection.
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of connection.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list connection operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConnectionCreateOrUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the connection.
        connectionType:
          description: Gets or sets the connectionType of the connection.
          properties:
            name:
              type: string
              description: Gets or sets the name of the connection type.
        fieldDefinitionValues:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the field definition properties of the connection.
      required:
      - connectionType
      description: The properties of the create connection properties
    ConnectionCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the connection.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the connection.
          properties:
            description:
              type: string
              description: Gets or sets the description of the connection.
            connectionType:
              description: Gets or sets the connectionType of the connection.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the connection type.
            fieldDefinitionValues:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets the field definition properties of the connection.
          required:
          - connectionType
      required:
      - name
      - properties
      description: The parameters supplied to the create or update connection operation.
    ConnectionProperties:
      properties:
        connectionType:
          description: Gets or sets the connectionType of the connection.
          properties:
            name:
              type: string
              description: Gets or sets the name of the connection type.
        fieldDefinitionValues:
          type: object
          additionalProperties:
            type: string
          readOnly: true
          description: Gets the field definition values of the connection.
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of the connection properties.
    Connection:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the connection.
          properties:
            connectionType:
              description: Gets or sets the connectionType of the connection.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the connection type.
            fieldDefinitionValues:
              type: object
              additionalProperties:
                type: string
              readOnly: true
              description: Gets the field definition values of the connection.
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    ConnectionListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the connection.
                properties:
                  connectionType:
                    description: Gets or sets the connectionType of the connection.
                    properties:
                      name:
                        type: string
                        description: Gets or sets the name of the connection type.
                  fieldDefinitionValues:
                    type: object
                    additionalProperties:
                      type: string
                    readOnly: true
                    description: Gets the field definition values of the connection.
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of connection.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list connection operation.
    ConnectionUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the connection.
        fieldDefinitionValues:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the field definition values of the connection.
      description: The properties of the update connection operation.
    ConnectionUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the connection.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the connection.
          properties:
            description:
              type: string
              description: Gets or sets the description of the connection.
            fieldDefinitionValues:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets the field definition values of the connection.
      description: The parameters supplied to the update connection operation.
    ConnectionTypeAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the connection type.
      description: The connection type property associated with the entity.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
