openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}
  : delete:
      tags:
      - Credential
      operationId: Credential_Delete
      description: Delete the credential.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: credentialName
        in: path
        required: true
        description: The name of credential.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Credential
      operationId: Credential_Get
      description: Retrieve the credential identified by credential name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: credentialName
        in: path
        required: true
        description: The name of credential.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the credential.
                    properties:
                      userName:
                        type: string
                        readOnly: true
                        description: Gets the user name of the credential.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Credential
      operationId: Credential_CreateOrUpdate
      description: Create a credential.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: credentialName
        in: path
        required: true
        description: The parameters supplied to the create or update credential operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the credential.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the credential.
                  properties:
                    userName:
                      type: string
                      description: Gets or sets the user name of the credential.
                    password:
                      type: string
                      description: Gets or sets the password of the credential.
                    description:
                      type: string
                      description: Gets or sets the description of the credential.
                  required:
                  - userName
                  - password
              required:
              - name
              - properties
              description: The parameters supplied to the create or update credential
                operation.
        description: The parameters supplied to the create or update credential operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the credential.
                    properties:
                      userName:
                        type: string
                        readOnly: true
                        description: Gets the user name of the credential.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the credential.
                    properties:
                      userName:
                        type: string
                        readOnly: true
                        description: Gets the user name of the credential.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Credential
      operationId: Credential_Update
      description: Update a credential.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: credentialName
        in: path
        required: true
        description: The parameters supplied to the Update credential operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the credential.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the variable.
                  properties:
                    userName:
                      type: string
                      description: Gets or sets the user name of the credential.
                    password:
                      type: string
                      description: Gets or sets the password of the credential.
                    description:
                      type: string
                      description: Gets or sets the description of the credential.
              description: The parameters supplied to the Update credential operation.
        description: The parameters supplied to the Update credential operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the credential.
                    properties:
                      userName:
                        type: string
                        readOnly: true
                        description: Gets the user name of the credential.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials
  : get:
      tags:
      - Credential
      operationId: Credential_ListByAutomationAccount
      description: Retrieve a list of credentials.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the credential.
                          properties:
                            userName:
                              type: string
                              readOnly: true
                              description: Gets the user name of the credential.
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of credentials.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list credential operation.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CredentialCreateOrUpdateProperties:
      properties:
        userName:
          type: string
          description: Gets or sets the user name of the credential.
        password:
          type: string
          description: Gets or sets the password of the credential.
        description:
          type: string
          description: Gets or sets the description of the credential.
      required:
      - userName
      - password
      description: The properties of the create credential operation.
    CredentialCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the credential.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the credential.
          properties:
            userName:
              type: string
              description: Gets or sets the user name of the credential.
            password:
              type: string
              description: Gets or sets the password of the credential.
            description:
              type: string
              description: Gets or sets the description of the credential.
          required:
          - userName
          - password
      required:
      - name
      - properties
      description: The parameters supplied to the create or update credential operation.
    CredentialProperties:
      properties:
        userName:
          type: string
          readOnly: true
          description: Gets the user name of the credential.
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of the credential properties
    Credential:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the credential.
          properties:
            userName:
              type: string
              readOnly: true
              description: Gets the user name of the credential.
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              readOnly: true
              description: Gets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    CredentialListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the credential.
                properties:
                  userName:
                    type: string
                    readOnly: true
                    description: Gets the user name of the credential.
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: Gets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of credentials.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list credential operation.
    CredentialUpdateProperties:
      properties:
        userName:
          type: string
          description: Gets or sets the user name of the credential.
        password:
          type: string
          description: Gets or sets the password of the credential.
        description:
          type: string
          description: Gets or sets the description of the credential.
      description: The properties of the Update credential
    CredentialUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the credential.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the variable.
          properties:
            userName:
              type: string
              description: Gets or sets the user name of the credential.
            password:
              type: string
              description: Gets or sets the password of the credential.
            description:
              type: string
              description: Gets or sets the description of the credential.
      description: The parameters supplied to the Update credential operation.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
