openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}
  : delete:
      tags:
      - DscNodeConfiguration
      operationId: DscNodeConfiguration_Delete
      description: Delete the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: nodeConfigurationName
        in: path
        required: true
        description: The Dsc node configuration name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - DscNodeConfiguration
      operationId: DscNodeConfiguration_Get
      description: Retrieve the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: nodeConfigurationName
        in: path
        required: true
        description: The Dsc node configuration name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the configuration properties.
                    properties:
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets creation time.
                        nullable: false
                      configuration:
                        description: Gets or sets the configuration of the node.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the Dsc configuration.
                      source:
                        type: string
                        description: Source of node configuration.
                      nodeCount:
                        type: integer
                        format: int64
                        description: Number of nodes with this node configuration
                          assigned
                      incrementNodeConfigurationBuild:
                        type: boolean
                        description: If a new build version of NodeConfiguration is
                          required.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - DscNodeConfiguration
      operationId: DscNodeConfiguration_CreateOrUpdate
      x-ms-long-running-operation: true
      description: Create the node configuration identified by node configuration
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: nodeConfigurationName
        in: path
        required: true
        description: The Dsc node configuration name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The parameters supplied to the create or update node configuration
                operation.
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Node configuration properties
                  properties:
                    source:
                      description: Gets or sets the source.
                      properties:
                        hash:
                          description: Gets or sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        type:
                          type: string
                          description: Gets or sets the content source type.
                          enum:
                          - embeddedContent
                          - uri
                          x-ms-enum:
                            name: ContentSourceType
                            modelAsString: true
                        value:
                          type: string
                          description: Gets or sets the value of the content. This
                            is based on the content source type.
                        version:
                          type: string
                          description: Gets or sets the version of the content.
                    configuration:
                      description: Gets or sets the configuration of the node.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the Dsc configuration.
                    incrementNodeConfigurationBuild:
                      type: boolean
                      description: If a new build version of NodeConfiguration is
                        required.
                  required:
                  - source
                  - configuration
                name:
                  type: string
                  description: Name of the node configuration.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets the tags attached to the resource.
        description: The create or update parameters for configuration.
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the configuration properties.
                    properties:
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets creation time.
                        nullable: false
                      configuration:
                        description: Gets or sets the configuration of the node.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the Dsc configuration.
                      source:
                        type: string
                        description: Source of node configuration.
                      nodeCount:
                        type: integer
                        format: int64
                        description: Number of nodes with this node configuration
                          assigned
                      incrementNodeConfigurationBuild:
                        type: boolean
                        description: If a new build version of NodeConfiguration is
                          required.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations
  : get:
      tags:
      - DscNodeConfiguration
      operationId: DscNodeConfiguration_ListByAutomationAccount
      description: Retrieve a list of dsc node configurations.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $skip
        in: query
        required: false
        description: The number of rows to skip.
        schema:
          type: integer
      - name: $top
        in: query
        required: false
        description: The number of rows to take.
        schema:
          type: integer
      - name: $inlinecount
        in: query
        required: false
        description: Return total rows.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the configuration properties.
                          properties:
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets or sets creation time.
                              nullable: false
                            configuration:
                              description: Gets or sets the configuration of the node.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the name of the Dsc configuration.
                            source:
                              type: string
                              description: Source of node configuration.
                            nodeCount:
                              type: integer
                              format: int64
                              description: Number of nodes with this node configuration
                                assigned
                            incrementNodeConfigurationBuild:
                              type: boolean
                              description: If a new build version of NodeConfiguration
                                is required.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of Dsc node configurations.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                  totalCount:
                    type: integer
                    description: Gets or sets the total rows in query.
                description: The response model for the list job operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DscNodeConfiguration'
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ContentHash:
      type: object
      properties:
        algorithm:
          type: string
          description: Gets or sets the content hash algorithm used to hash the content.
        value:
          type: string
          description: Gets or sets expected hash value of the content.
      required:
      - algorithm
      - value
      description: Definition of the runbook property type.
    ContentSource:
      properties:
        hash:
          description: Gets or sets the hash.
          type: object
          properties:
            algorithm:
              type: string
              description: Gets or sets the content hash algorithm used to hash the
                content.
            value:
              type: string
              description: Gets or sets expected hash value of the content.
          required:
          - algorithm
          - value
        type:
          type: string
          description: Gets or sets the content source type.
          enum:
          - embeddedContent
          - uri
          x-ms-enum:
            name: ContentSourceType
            modelAsString: true
        value:
          type: string
          description: Gets or sets the value of the content. This is based on the
            content source type.
        version:
          type: string
          description: Gets or sets the version of the content.
      description: Definition of the content source.
    DscNodeConfiguration:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the configuration properties.
          properties:
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time.
              nullable: false
            creationTime:
              type: string
              format: date-time
              description: Gets or sets creation time.
              nullable: false
            configuration:
              description: Gets or sets the configuration of the node.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Dsc configuration.
            source:
              type: string
              description: Source of node configuration.
            nodeCount:
              type: integer
              format: int64
              description: Number of nodes with this node configuration assigned
            incrementNodeConfigurationBuild:
              type: boolean
              description: If a new build version of NodeConfiguration is required.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    DscNodeConfigurationProperties:
      description: Properties for the DscNodeConfiguration
      properties:
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        creationTime:
          type: string
          format: date-time
          description: Gets or sets creation time.
          nullable: false
        configuration:
          description: Gets or sets the configuration of the node.
          properties:
            name:
              type: string
              description: Gets or sets the name of the Dsc configuration.
        source:
          type: string
          description: Source of node configuration.
        nodeCount:
          type: integer
          format: int64
          description: Number of nodes with this node configuration assigned
        incrementNodeConfigurationBuild:
          type: boolean
          description: If a new build version of NodeConfiguration is required.
    DscNodeConfigurationListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the configuration properties.
                properties:
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets or sets the last modified time.
                    nullable: false
                  creationTime:
                    type: string
                    format: date-time
                    description: Gets or sets creation time.
                    nullable: false
                  configuration:
                    description: Gets or sets the configuration of the node.
                    properties:
                      name:
                        type: string
                        description: Gets or sets the name of the Dsc configuration.
                  source:
                    type: string
                    description: Source of node configuration.
                  nodeCount:
                    type: integer
                    format: int64
                    description: Number of nodes with this node configuration assigned
                  incrementNodeConfigurationBuild:
                    type: boolean
                    description: If a new build version of NodeConfiguration is required.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of Dsc node configurations.
        nextLink:
          type: string
          description: Gets or sets the next link.
        totalCount:
          type: integer
          description: Gets or sets the total rows in query.
      description: The response model for the list job operation.
    DscNodeExtensionHandlerAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the extension handler.
        version:
          type: string
          description: Gets or sets the version of the extension handler.
      description: The dsc extensionHandler property associated with the node
    DscNodeConfigurationCreateOrUpdateParameters:
      description: The parameters supplied to the create or update node configuration
        operation.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Node configuration properties
          properties:
            source:
              description: Gets or sets the source.
              properties:
                hash:
                  description: Gets or sets the hash.
                  type: object
                  properties:
                    algorithm:
                      type: string
                      description: Gets or sets the content hash algorithm used to
                        hash the content.
                    value:
                      type: string
                      description: Gets or sets expected hash value of the content.
                  required:
                  - algorithm
                  - value
                type:
                  type: string
                  description: Gets or sets the content source type.
                  enum:
                  - embeddedContent
                  - uri
                  x-ms-enum:
                    name: ContentSourceType
                    modelAsString: true
                value:
                  type: string
                  description: Gets or sets the value of the content. This is based
                    on the content source type.
                version:
                  type: string
                  description: Gets or sets the version of the content.
            configuration:
              description: Gets or sets the configuration of the node.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Dsc configuration.
            incrementNodeConfigurationBuild:
              type: boolean
              description: If a new build version of NodeConfiguration is required.
          required:
          - source
          - configuration
        name:
          type: string
          description: Name of the node configuration.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
    DscNodeConfigurationCreateOrUpdateParametersProperties:
      properties:
        source:
          description: Gets or sets the source.
          properties:
            hash:
              description: Gets or sets the hash.
              type: object
              properties:
                algorithm:
                  type: string
                  description: Gets or sets the content hash algorithm used to hash
                    the content.
                value:
                  type: string
                  description: Gets or sets expected hash value of the content.
              required:
              - algorithm
              - value
            type:
              type: string
              description: Gets or sets the content source type.
              enum:
              - embeddedContent
              - uri
              x-ms-enum:
                name: ContentSourceType
                modelAsString: true
            value:
              type: string
              description: Gets or sets the value of the content. This is based on
                the content source type.
            version:
              type: string
              description: Gets or sets the version of the content.
        configuration:
          description: Gets or sets the configuration of the node.
          properties:
            name:
              type: string
              description: Gets or sets the name of the Dsc configuration.
        incrementNodeConfigurationBuild:
          type: boolean
          description: If a new build version of NodeConfiguration is required.
      required:
      - source
      - configuration
      description: The parameter properties supplied to the create or update node
        configuration operation.
    DscConfigurationAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Dsc configuration.
      description: The Dsc configuration property associated with the entity.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
