openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers/{hybridRunbookWorkerId}
  : delete:
      tags:
      - HybridRunbookWorker
      operationId: HybridRunbookWorkers_Delete
      description: Delete a hybrid runbook worker.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: hybridRunbookWorkerGroupName
        in: path
        required: true
        description: The hybrid runbook worker group name
        schema:
          type: string
      - name: hybridRunbookWorkerId
        in: path
        required: true
        description: The hybrid runbook worker id
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: ''
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - HybridRunbookWorker
      operationId: HybridRunbookWorkers_Get
      description: Retrieve a hybrid runbook worker.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: hybridRunbookWorkerGroupName
        in: path
        required: true
        description: The hybrid runbook worker group name
        schema:
          type: string
      - name: hybridRunbookWorkerId
        in: path
        required: true
        description: The hybrid runbook worker id
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the hybrid worker group properties.
                    type: object
                    properties:
                      ip:
                        type: string
                        description: Gets or sets the assigned machine IP address.
                      registeredDateTime:
                        type: string
                        format: date-time
                        description: Gets or sets the registration time of the worker
                          machine.
                        nullable: false
                      lastSeenDateTime:
                        type: string
                        format: date-time
                        description: Last Heartbeat from the Worker
                        nullable: false
                      vmResourceId:
                        type: string
                        description: Azure Resource Manager Id for a virtual machine.
                      workerType:
                        type: string
                        description: Type of the HybridWorker.
                        enum:
                        - HybridV1
                        - HybridV2
                        x-ms-enum:
                          name: WorkerType
                          modelAsString: true
                      workerName:
                        type: string
                        description: Name of the HybridWorker.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - HybridRunbookWorker
      operationId: HybridRunbookWorkers_Create
      description: Create a hybrid runbook worker.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: hybridRunbookWorkerGroupName
        in: path
        required: true
        description: The hybrid runbook worker group name
        schema:
          type: string
      - name: hybridRunbookWorkerId
        in: path
        required: true
        description: The hybrid runbook worker id
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets hybrid runbook worker group create or
                    update properties.
                  type: object
                  properties:
                    vmResourceId:
                      type: string
                      description: Azure Resource Manager Id for a virtual machine.
                name:
                  type: string
                  description: Gets or sets the name of the resource.
              required:
              - properties
              description: The parameters supplied to the create hybrid runbook worker
                operation.
        description: The create or update parameters for hybrid runbook worker.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the hybrid worker group properties.
                    type: object
                    properties:
                      ip:
                        type: string
                        description: Gets or sets the assigned machine IP address.
                      registeredDateTime:
                        type: string
                        format: date-time
                        description: Gets or sets the registration time of the worker
                          machine.
                        nullable: false
                      lastSeenDateTime:
                        type: string
                        format: date-time
                        description: Last Heartbeat from the Worker
                        nullable: false
                      vmResourceId:
                        type: string
                        description: Azure Resource Manager Id for a virtual machine.
                      workerType:
                        type: string
                        description: Type of the HybridWorker.
                        enum:
                        - HybridV1
                        - HybridV2
                        x-ms-enum:
                          name: WorkerType
                          modelAsString: true
                      workerName:
                        type: string
                        description: Name of the HybridWorker.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the hybrid worker group properties.
                    type: object
                    properties:
                      ip:
                        type: string
                        description: Gets or sets the assigned machine IP address.
                      registeredDateTime:
                        type: string
                        format: date-time
                        description: Gets or sets the registration time of the worker
                          machine.
                        nullable: false
                      lastSeenDateTime:
                        type: string
                        format: date-time
                        description: Last Heartbeat from the Worker
                        nullable: false
                      vmResourceId:
                        type: string
                        description: Azure Resource Manager Id for a virtual machine.
                      workerType:
                        type: string
                        description: Type of the HybridWorker.
                        enum:
                        - HybridV1
                        - HybridV2
                        x-ms-enum:
                          name: WorkerType
                          modelAsString: true
                      workerName:
                        type: string
                        description: Name of the HybridWorker.
                  systemData:
                    description: Resource system metadata.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers/{hybridRunbookWorkerId}/move
  : post:
      tags:
      - HybridRunbookWorker
      operationId: HybridRunbookWorkers_Move
      description: Move a hybrid worker to a different group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: hybridRunbookWorkerGroupName
        in: path
        required: true
        description: The hybrid runbook worker group name
        schema:
          type: string
      - name: hybridRunbookWorkerId
        in: path
        required: true
        description: The hybrid runbook worker id
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hybridRunbookWorkerGroupName:
                  type: string
                  description: Gets or sets the target hybrid runbook worker group.
              description: Parameters supplied to move hybrid worker operation.
        description: The hybrid runbook worker move parameters
        required: true
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers
  : get:
      tags:
      - HybridRunbookWorker
      operationId: HybridRunbookWorkers_ListByHybridRunbookWorkerGroup
      description: Retrieve a list of hybrid runbook workers.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: hybridRunbookWorkerGroupName
        in: path
        required: true
        description: The hybrid runbook worker group name
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the hybrid worker group properties.
                          type: object
                          properties:
                            ip:
                              type: string
                              description: Gets or sets the assigned machine IP address.
                            registeredDateTime:
                              type: string
                              format: date-time
                              description: Gets or sets the registration time of the
                                worker machine.
                              nullable: false
                            lastSeenDateTime:
                              type: string
                              format: date-time
                              description: Last Heartbeat from the Worker
                              nullable: false
                            vmResourceId:
                              type: string
                              description: Azure Resource Manager Id for a virtual
                                machine.
                            workerType:
                              type: string
                              description: Type of the HybridWorker.
                              enum:
                              - HybridV1
                              - HybridV2
                              x-ms-enum:
                                name: WorkerType
                                modelAsString: true
                            workerName:
                              type: string
                              description: Name of the HybridWorker.
                        systemData:
                          description: Resource system metadata.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of hybrid runbook workers.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list hybrid runbook workers.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/HybridRunbookWorker'
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    HybridRunbookWorker:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the hybrid worker group properties.
          type: object
          properties:
            ip:
              type: string
              description: Gets or sets the assigned machine IP address.
            registeredDateTime:
              type: string
              format: date-time
              description: Gets or sets the registration time of the worker machine.
              nullable: false
            lastSeenDateTime:
              type: string
              format: date-time
              description: Last Heartbeat from the Worker
              nullable: false
            vmResourceId:
              type: string
              description: Azure Resource Manager Id for a virtual machine.
            workerType:
              type: string
              description: Type of the HybridWorker.
              enum:
              - HybridV1
              - HybridV2
              x-ms-enum:
                name: WorkerType
                modelAsString: true
            workerName:
              type: string
              description: Name of the HybridWorker.
        systemData:
          description: Resource system metadata.
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    HybridRunbookWorkerProperties:
      type: object
      properties:
        ip:
          type: string
          description: Gets or sets the assigned machine IP address.
        registeredDateTime:
          type: string
          format: date-time
          description: Gets or sets the registration time of the worker machine.
          nullable: false
        lastSeenDateTime:
          type: string
          format: date-time
          description: Last Heartbeat from the Worker
          nullable: false
        vmResourceId:
          type: string
          description: Azure Resource Manager Id for a virtual machine.
        workerType:
          type: string
          description: Type of the HybridWorker.
          enum:
          - HybridV1
          - HybridV2
          x-ms-enum:
            name: WorkerType
            modelAsString: true
        workerName:
          type: string
          description: Name of the HybridWorker.
      description: Definition of hybrid runbook worker property.
    HybridRunbookWorkersListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the hybrid worker group properties.
                type: object
                properties:
                  ip:
                    type: string
                    description: Gets or sets the assigned machine IP address.
                  registeredDateTime:
                    type: string
                    format: date-time
                    description: Gets or sets the registration time of the worker
                      machine.
                    nullable: false
                  lastSeenDateTime:
                    type: string
                    format: date-time
                    description: Last Heartbeat from the Worker
                    nullable: false
                  vmResourceId:
                    type: string
                    description: Azure Resource Manager Id for a virtual machine.
                  workerType:
                    type: string
                    description: Type of the HybridWorker.
                    enum:
                    - HybridV1
                    - HybridV2
                    x-ms-enum:
                      name: WorkerType
                      modelAsString: true
                  workerName:
                    type: string
                    description: Name of the HybridWorker.
              systemData:
                description: Resource system metadata.
                type: object
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of hybrid runbook workers.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list hybrid runbook workers.
    HybridRunbookWorkerMoveParameters:
      type: object
      properties:
        hybridRunbookWorkerGroupName:
          type: string
          description: Gets or sets the target hybrid runbook worker group.
      description: Parameters supplied to move hybrid worker operation.
    HybridRunbookWorkerCreateOrUpdateParameters:
      type: object
      properties:
        vmResourceId:
          type: string
          description: Azure Resource Manager Id for a virtual machine.
      description: The parameters supplied to the create or update hybrid runbook
        worker operation.
    HybridRunbookWorkerCreateParameters:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Gets or sets hybrid runbook worker group create or update properties.
          type: object
          properties:
            vmResourceId:
              type: string
              description: Azure Resource Manager Id for a virtual machine.
        name:
          type: string
          description: Gets or sets the name of the resource.
      required:
      - properties
      description: The parameters supplied to the create hybrid runbook worker operation.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
