openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/output
  : get:
      tags:
      - Job
      operationId: Job_GetOutput
      description: Retrieve the job output identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The name of the job to be created.
        required: true
        in: path
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        default:
          description: Automation error response describing why the operation failed.
          content:
            text/plain:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/runbookContent
  : get:
      tags:
      - Job
      operationId: Job_GetRunbookContent
      description: Retrieve the runbook content of the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/powershell:
              schema:
                type: string
        default:
          description: Automation error response describing why the operation failed.
          content:
            text/powershell:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/suspend
  : post:
      tags:
      - Job
      operationId: Job_Suspend
      description: Suspend the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/stop
  : post:
      tags:
      - Job
      operationId: Job_Stop
      description: Stop the job identified by jobName.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}
  : get:
      tags:
      - Job
      operationId: Job_Get
      description: Retrieve the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the job.
                    properties:
                      runbook:
                        description: Gets or sets the runbook.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the runbook.
                      startedBy:
                        type: string
                        description: Gets or sets the job started by.
                      runOn:
                        type: string
                        description: Gets or sets the runOn which specifies the group
                          name where the job is to be executed.
                      jobId:
                        type: string
                        format: uuid
                        description: Gets or sets the id of the job.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time of the job.
                        nullable: false
                      status:
                        type: string
                        description: Gets or sets the status of the job.
                        enum:
                        - New
                        - Activating
                        - Running
                        - Completed
                        - Failed
                        - Stopped
                        - Blocked
                        - Suspended
                        - Disconnected
                        - Suspending
                        - Stopping
                        - Resuming
                        - Removing
                        x-ms-enum:
                          name: JobStatus
                          modelAsString: true
                      statusDetails:
                        type: string
                        description: Gets or sets the status details of the job.
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the job.
                        nullable: true
                      endTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the job.
                        nullable: true
                      exception:
                        type: string
                        description: Gets or sets the exception of the job.
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time of the job.
                        nullable: true
                      lastStatusModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last status modified time of
                          the job.
                        nullable: true
                      parameters:
                        type: object
                        additionalProperties:
                          type: string
                        description: Gets or sets the parameters of the job.
                      provisioningState:
                        description: The current provisioning state of the job.
                        readOnly: true
                        type: string
                        enum:
                        - Failed
                        - Succeeded
                        - Suspended
                        - Processing
                        x-ms-enum:
                          name: JobProvisioningState
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
                x-ms-mutability:
                - read
                - create
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Job
      operationId: Job_Create
      description: Create a job of the runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the list of job properties.
                  properties:
                    runbook:
                      description: Gets or sets the runbook.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the runbook.
                    parameters:
                      type: object
                      additionalProperties:
                        type: string
                      description: Gets or sets the parameters of the job.
                    runOn:
                      type: string
                      description: Gets or sets the runOn which specifies the group
                        name where the job is to be executed.
              required:
              - properties
              description: The parameters supplied to the create job operation.
        description: The parameters supplied to the create job operation.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the job.
                    properties:
                      runbook:
                        description: Gets or sets the runbook.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the runbook.
                      startedBy:
                        type: string
                        description: Gets or sets the job started by.
                      runOn:
                        type: string
                        description: Gets or sets the runOn which specifies the group
                          name where the job is to be executed.
                      jobId:
                        type: string
                        format: uuid
                        description: Gets or sets the id of the job.
                        nullable: false
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time of the job.
                        nullable: false
                      status:
                        type: string
                        description: Gets or sets the status of the job.
                        enum:
                        - New
                        - Activating
                        - Running
                        - Completed
                        - Failed
                        - Stopped
                        - Blocked
                        - Suspended
                        - Disconnected
                        - Suspending
                        - Stopping
                        - Resuming
                        - Removing
                        x-ms-enum:
                          name: JobStatus
                          modelAsString: true
                      statusDetails:
                        type: string
                        description: Gets or sets the status details of the job.
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the job.
                        nullable: true
                      endTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the job.
                        nullable: true
                      exception:
                        type: string
                        description: Gets or sets the exception of the job.
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time of the job.
                        nullable: true
                      lastStatusModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last status modified time of
                          the job.
                        nullable: true
                      parameters:
                        type: object
                        additionalProperties:
                          type: string
                        description: Gets or sets the parameters of the job.
                      provisioningState:
                        description: The current provisioning state of the job.
                        readOnly: true
                        type: string
                        enum:
                        - Failed
                        - Succeeded
                        - Suspended
                        - Processing
                        x-ms-enum:
                          name: JobProvisioningState
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
                x-ms-mutability:
                - read
                - create
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs
  : get:
      tags:
      - Job
      operationId: Job_ListByAutomationAccount
      description: Retrieve a list of jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Job properties.
                          properties:
                            runbook:
                              readOnly: true
                              description: The runbook association.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the name of the runbook.
                            jobId:
                              type: string
                              format: uuid
                              readOnly: true
                              description: The id of the job.
                              nullable: false
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The creation time of the job.
                              nullable: false
                            status:
                              type: string
                              readOnly: true
                              description: The status of the job.
                              enum:
                              - New
                              - Activating
                              - Running
                              - Completed
                              - Failed
                              - Stopped
                              - Blocked
                              - Suspended
                              - Disconnected
                              - Suspending
                              - Stopping
                              - Resuming
                              - Removing
                              x-ms-enum:
                                name: JobStatus
                                modelAsString: true
                            startTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The start time of the job.
                              nullable: true
                            endTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The end time of the job.
                              nullable: true
                            lastModifiedTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The last modified time of the job.
                              nullable: true
                            provisioningState:
                              type: string
                              description: The provisioning state of a resource.
                              readOnly: true
                            runOn:
                              type: string
                              description: Specifies the runOn group name where the
                                job was executed.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                      readOnly: true
                    description: List of jobs.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The  link to the next page.
                description: The response model for the list job operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/JobCollectionItem'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/resume
  : post:
      tags:
      - Job
      operationId: Job_Resume
      description: Resume the job identified by jobName.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams/{jobStreamId}
  : get:
      tags:
      - JobStream
      operationId: JobStream_Get
      description: Retrieve the job stream identified by job stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: jobStreamId
        in: path
        required: true
        description: The job stream id.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Gets or sets the id of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the id of the job stream.
                    type: object
                    properties:
                      jobStreamId:
                        type: string
                        description: Gets or sets the id of the job stream.
                      time:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time of the job.
                        nullable: false
                      streamType:
                        type: string
                        description: Gets or sets the stream type.
                        enum:
                        - Progress
                        - Output
                        - Warning
                        - Error
                        - Debug
                        - Verbose
                        - Any
                        x-ms-enum:
                          name: JobStreamType
                          modelAsString: true
                      streamText:
                        type: string
                        description: Gets or sets the stream text.
                      summary:
                        type: string
                        description: Gets or sets the summary.
                      value:
                        type: object
                        additionalProperties:
                          type: object
                        description: Gets or sets the values of the job stream.
                description: Definition of the job stream.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams
  : get:
      tags:
      - JobStream
      operationId: JobStream_ListByJob
      description: Retrieve a list of jobs streams identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobName
        description: The job name.
        required: true
        in: path
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Gets or sets the id of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the id of the job stream.
                          type: object
                          properties:
                            jobStreamId:
                              type: string
                              description: Gets or sets the id of the job stream.
                            time:
                              type: string
                              format: date-time
                              description: Gets or sets the creation time of the job.
                              nullable: false
                            streamType:
                              type: string
                              description: Gets or sets the stream type.
                              enum:
                              - Progress
                              - Output
                              - Warning
                              - Error
                              - Debug
                              - Verbose
                              - Any
                              x-ms-enum:
                                name: JobStreamType
                                modelAsString: true
                            streamText:
                              type: string
                              description: Gets or sets the stream text.
                            summary:
                              type: string
                              description: Gets or sets the summary.
                            value:
                              type: object
                              additionalProperties:
                                type: object
                              description: Gets or sets the values of the job stream.
                      description: Definition of the job stream.
                    description: A list of job streams.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list job stream operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    clientRequestId:
      name: clientRequestId
      description: Identifies this specific client request.
      required: false
      in: header
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    JobStream:
      type: object
      properties:
        id:
          type: string
          description: Gets or sets the id of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the id of the job stream.
          type: object
          properties:
            jobStreamId:
              type: string
              description: Gets or sets the id of the job stream.
            time:
              type: string
              format: date-time
              description: Gets or sets the creation time of the job.
              nullable: false
            streamType:
              type: string
              description: Gets or sets the stream type.
              enum:
              - Progress
              - Output
              - Warning
              - Error
              - Debug
              - Verbose
              - Any
              x-ms-enum:
                name: JobStreamType
                modelAsString: true
            streamText:
              type: string
              description: Gets or sets the stream text.
            summary:
              type: string
              description: Gets or sets the summary.
            value:
              type: object
              additionalProperties:
                type: object
              description: Gets or sets the values of the job stream.
      description: Definition of the job stream.
    JobStreamProperties:
      type: object
      properties:
        jobStreamId:
          type: string
          description: Gets or sets the id of the job stream.
        time:
          type: string
          format: date-time
          description: Gets or sets the creation time of the job.
          nullable: false
        streamType:
          type: string
          description: Gets or sets the stream type.
          enum:
          - Progress
          - Output
          - Warning
          - Error
          - Debug
          - Verbose
          - Any
          x-ms-enum:
            name: JobStreamType
            modelAsString: true
        streamText:
          type: string
          description: Gets or sets the stream text.
        summary:
          type: string
          description: Gets or sets the summary.
        value:
          type: object
          additionalProperties:
            type: object
          description: Gets or sets the values of the job stream.
      x-ms-client-flatten: true
      description: Definition of the job stream.
    JobStreamListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Gets or sets the id of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the id of the job stream.
                type: object
                properties:
                  jobStreamId:
                    type: string
                    description: Gets or sets the id of the job stream.
                  time:
                    type: string
                    format: date-time
                    description: Gets or sets the creation time of the job.
                    nullable: false
                  streamType:
                    type: string
                    description: Gets or sets the stream type.
                    enum:
                    - Progress
                    - Output
                    - Warning
                    - Error
                    - Debug
                    - Verbose
                    - Any
                    x-ms-enum:
                      name: JobStreamType
                      modelAsString: true
                  streamText:
                    type: string
                    description: Gets or sets the stream text.
                  summary:
                    type: string
                    description: Gets or sets the summary.
                  value:
                    type: object
                    additionalProperties:
                      type: object
                    description: Gets or sets the values of the job stream.
            description: Definition of the job stream.
          description: A list of job streams.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list job stream operation.
    Job:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: The properties of the job.
          properties:
            runbook:
              description: Gets or sets the runbook.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the runbook.
            startedBy:
              type: string
              description: Gets or sets the job started by.
            runOn:
              type: string
              description: Gets or sets the runOn which specifies the group name where
                the job is to be executed.
            jobId:
              type: string
              format: uuid
              description: Gets or sets the id of the job.
              nullable: false
            creationTime:
              type: string
              format: date-time
              description: Gets or sets the creation time of the job.
              nullable: false
            status:
              type: string
              description: Gets or sets the status of the job.
              enum:
              - New
              - Activating
              - Running
              - Completed
              - Failed
              - Stopped
              - Blocked
              - Suspended
              - Disconnected
              - Suspending
              - Stopping
              - Resuming
              - Removing
              x-ms-enum:
                name: JobStatus
                modelAsString: true
            statusDetails:
              type: string
              description: Gets or sets the status details of the job.
            startTime:
              type: string
              format: date-time
              description: Gets or sets the start time of the job.
              nullable: true
            endTime:
              type: string
              format: date-time
              description: Gets or sets the end time of the job.
              nullable: true
            exception:
              type: string
              description: Gets or sets the exception of the job.
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time of the job.
              nullable: true
            lastStatusModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last status modified time of the job.
              nullable: true
            parameters:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets the parameters of the job.
            provisioningState:
              description: The current provisioning state of the job.
              readOnly: true
              type: string
              enum:
              - Failed
              - Succeeded
              - Suspended
              - Processing
              x-ms-enum:
                name: JobProvisioningState
                modelAsString: true
      description: The core properties of ARM resources
      x-ms-azure-resource: true
      x-ms-mutability:
      - read
      - create
    JobListResultV2:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Job properties.
                properties:
                  runbook:
                    readOnly: true
                    description: The runbook association.
                    properties:
                      name:
                        type: string
                        description: Gets or sets the name of the runbook.
                  jobId:
                    type: string
                    format: uuid
                    readOnly: true
                    description: The id of the job.
                    nullable: false
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The creation time of the job.
                    nullable: false
                  status:
                    type: string
                    readOnly: true
                    description: The status of the job.
                    enum:
                    - New
                    - Activating
                    - Running
                    - Completed
                    - Failed
                    - Stopped
                    - Blocked
                    - Suspended
                    - Disconnected
                    - Suspending
                    - Stopping
                    - Resuming
                    - Removing
                    x-ms-enum:
                      name: JobStatus
                      modelAsString: true
                  startTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The start time of the job.
                    nullable: true
                  endTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The end time of the job.
                    nullable: true
                  lastModifiedTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The last modified time of the job.
                    nullable: true
                  provisioningState:
                    type: string
                    description: The provisioning state of a resource.
                    readOnly: true
                  runOn:
                    type: string
                    description: Specifies the runOn group name where the job was
                      executed.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
            required:
            - properties
            readOnly: true
          description: List of jobs.
        nextLink:
          type: string
          readOnly: true
          description: The  link to the next page.
      description: The response model for the list job operation.
    JobCollectionItem:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Job properties.
          properties:
            runbook:
              readOnly: true
              description: The runbook association.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the runbook.
            jobId:
              type: string
              format: uuid
              readOnly: true
              description: The id of the job.
              nullable: false
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: The creation time of the job.
              nullable: false
            status:
              type: string
              readOnly: true
              description: The status of the job.
              enum:
              - New
              - Activating
              - Running
              - Completed
              - Failed
              - Stopped
              - Blocked
              - Suspended
              - Disconnected
              - Suspending
              - Stopping
              - Resuming
              - Removing
              x-ms-enum:
                name: JobStatus
                modelAsString: true
            startTime:
              type: string
              format: date-time
              readOnly: true
              description: The start time of the job.
              nullable: true
            endTime:
              type: string
              format: date-time
              readOnly: true
              description: The end time of the job.
              nullable: true
            lastModifiedTime:
              type: string
              format: date-time
              readOnly: true
              description: The last modified time of the job.
              nullable: true
            provisioningState:
              type: string
              description: The provisioning state of a resource.
              readOnly: true
            runOn:
              type: string
              description: Specifies the runOn group name where the job was executed.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
      required:
      - properties
    JobProperties:
      properties:
        runbook:
          description: Gets or sets the runbook.
          properties:
            name:
              type: string
              description: Gets or sets the name of the runbook.
        startedBy:
          type: string
          description: Gets or sets the job started by.
        runOn:
          type: string
          description: Gets or sets the runOn which specifies the group name where
            the job is to be executed.
        jobId:
          type: string
          format: uuid
          description: Gets or sets the id of the job.
          nullable: false
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time of the job.
          nullable: false
        status:
          type: string
          description: Gets or sets the status of the job.
          enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
          x-ms-enum:
            name: JobStatus
            modelAsString: true
        statusDetails:
          type: string
          description: Gets or sets the status details of the job.
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the job.
          nullable: true
        endTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the job.
          nullable: true
        exception:
          type: string
          description: Gets or sets the exception of the job.
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time of the job.
          nullable: true
        lastStatusModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last status modified time of the job.
          nullable: true
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        provisioningState:
          description: The current provisioning state of the job.
          readOnly: true
          type: string
          enum:
          - Failed
          - Succeeded
          - Suspended
          - Processing
          x-ms-enum:
            name: JobProvisioningState
            modelAsString: true
      description: Definition of job properties.
    RunbookAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the runbook.
      description: The runbook property associated with the entity.
    JobCreateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the list of job properties.
          properties:
            runbook:
              description: Gets or sets the runbook.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the runbook.
            parameters:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets the parameters of the job.
            runOn:
              type: string
              description: Gets or sets the runOn which specifies the group name where
                the job is to be executed.
      required:
      - properties
      description: The parameters supplied to the create job operation.
    JobCollectionItemProperties:
      description: Job collection item properties.
      properties:
        runbook:
          readOnly: true
          description: The runbook association.
          properties:
            name:
              type: string
              description: Gets or sets the name of the runbook.
        jobId:
          type: string
          format: uuid
          readOnly: true
          description: The id of the job.
          nullable: false
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: The creation time of the job.
          nullable: false
        status:
          type: string
          readOnly: true
          description: The status of the job.
          enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
          x-ms-enum:
            name: JobStatus
            modelAsString: true
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: The start time of the job.
          nullable: true
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: The end time of the job.
          nullable: true
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: The last modified time of the job.
          nullable: true
        provisioningState:
          type: string
          description: The provisioning state of a resource.
          readOnly: true
        runOn:
          type: string
          description: Specifies the runOn group name where the job was executed.
    JobCreateProperties:
      properties:
        runbook:
          description: Gets or sets the runbook.
          properties:
            name:
              type: string
              description: Gets or sets the name of the runbook.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        runOn:
          type: string
          description: Gets or sets the runOn which specifies the group name where
            the job is to be executed.
    JobProvisioningStateProperty:
      readOnly: true
      type: string
      description: The provisioning state of the resource.
      enum:
      - Failed
      - Succeeded
      - Suspended
      - Processing
      x-ms-enum:
        name: JobProvisioningState
        modelAsString: true
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
