openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}
  : delete:
      tags:
      - JobSchedule
      operationId: JobSchedule_Delete
      description: Delete the job schedule identified by job schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobScheduleId
        in: path
        required: true
        description: The job schedule name.
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - JobSchedule
      operationId: JobSchedule_Get
      description: Retrieve the job schedule identified by job schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobScheduleId
        in: path
        required: true
        description: The job schedule name.
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Gets the id of the resource.
                  name:
                    type: string
                    readOnly: true
                    description: Gets the name of the variable.
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the job schedule.
                    properties:
                      jobScheduleId:
                        type: string
                        description: Gets or sets the id of job schedule.
                      schedule:
                        description: Gets or sets the schedule.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the Schedule.
                      runbook:
                        description: Gets or sets the runbook.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the runbook.
                      runOn:
                        type: string
                        description: Gets or sets the hybrid worker group that the
                          scheduled job should run on.
                      parameters:
                        type: object
                        additionalProperties:
                          type: string
                        description: Gets or sets the parameters of the job schedule.
                description: Definition of the job schedule.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - JobSchedule
      operationId: JobSchedule_Create
      description: Create a job schedule.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: jobScheduleId
        in: path
        required: true
        description: The job schedule name.
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the list of job schedule properties.
                  properties:
                    schedule:
                      description: Gets or sets the schedule.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the Schedule.
                    runbook:
                      description: Gets or sets the runbook.
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the runbook.
                    runOn:
                      type: string
                      description: Gets or sets the hybrid worker group that the scheduled
                        job should run on.
                    parameters:
                      type: object
                      additionalProperties:
                        type: string
                      description: Gets or sets a list of job properties.
                  required:
                  - schedule
                  - runbook
              required:
              - properties
              description: The parameters supplied to the create job schedule operation.
        description: The parameters supplied to the create job schedule operation.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Gets the id of the resource.
                  name:
                    type: string
                    readOnly: true
                    description: Gets the name of the variable.
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the job schedule.
                    properties:
                      jobScheduleId:
                        type: string
                        description: Gets or sets the id of job schedule.
                      schedule:
                        description: Gets or sets the schedule.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the Schedule.
                      runbook:
                        description: Gets or sets the runbook.
                        properties:
                          name:
                            type: string
                            description: Gets or sets the name of the runbook.
                      runOn:
                        type: string
                        description: Gets or sets the hybrid worker group that the
                          scheduled job should run on.
                      parameters:
                        type: object
                        additionalProperties:
                          type: string
                        description: Gets or sets the parameters of the job schedule.
                description: Definition of the job schedule.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules
  : get:
      tags:
      - JobSchedule
      operationId: JobSchedule_ListByAutomationAccount
      description: Retrieve a list of job schedules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobscheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Gets the id of the resource.
                        name:
                          type: string
                          readOnly: true
                          description: Gets the name of the variable.
                        type:
                          type: string
                          readOnly: true
                          description: Resource type
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the job schedule.
                          properties:
                            jobScheduleId:
                              type: string
                              description: Gets or sets the id of job schedule.
                            schedule:
                              description: Gets or sets the schedule.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the name of the Schedule.
                            runbook:
                              description: Gets or sets the runbook.
                              properties:
                                name:
                                  type: string
                                  description: Gets or sets the name of the runbook.
                            runOn:
                              type: string
                              description: Gets or sets the hybrid worker group that
                                the scheduled job should run on.
                            parameters:
                              type: object
                              additionalProperties:
                                type: string
                              description: Gets or sets the parameters of the job
                                schedule.
                      description: Definition of the job schedule.
                    description: Gets or sets a list of job schedules.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list job schedule operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/JobSchedule'
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    JobScheduleListResult:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                type: string
                readOnly: true
                description: Gets the id of the resource.
              name:
                type: string
                readOnly: true
                description: Gets the name of the variable.
              type:
                type: string
                readOnly: true
                description: Resource type
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the job schedule.
                properties:
                  jobScheduleId:
                    type: string
                    description: Gets or sets the id of job schedule.
                  schedule:
                    description: Gets or sets the schedule.
                    properties:
                      name:
                        type: string
                        description: Gets or sets the name of the Schedule.
                  runbook:
                    description: Gets or sets the runbook.
                    properties:
                      name:
                        type: string
                        description: Gets or sets the name of the runbook.
                  runOn:
                    type: string
                    description: Gets or sets the hybrid worker group that the scheduled
                      job should run on.
                  parameters:
                    type: object
                    additionalProperties:
                      type: string
                    description: Gets or sets the parameters of the job schedule.
            description: Definition of the job schedule.
          description: Gets or sets a list of job schedules.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list job schedule operation.
    JobSchedule:
      properties:
        id:
          type: string
          readOnly: true
          description: Gets the id of the resource.
        name:
          type: string
          readOnly: true
          description: Gets the name of the variable.
        type:
          type: string
          readOnly: true
          description: Resource type
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the job schedule.
          properties:
            jobScheduleId:
              type: string
              description: Gets or sets the id of job schedule.
            schedule:
              description: Gets or sets the schedule.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Schedule.
            runbook:
              description: Gets or sets the runbook.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the runbook.
            runOn:
              type: string
              description: Gets or sets the hybrid worker group that the scheduled
                job should run on.
            parameters:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets the parameters of the job schedule.
      description: Definition of the job schedule.
    ScheduleAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Schedule.
      description: The schedule property associated with the entity.
    RunbookAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the runbook.
      description: The runbook property associated with the entity.
    JobScheduleProperties:
      properties:
        jobScheduleId:
          type: string
          description: Gets or sets the id of job schedule.
        schedule:
          description: Gets or sets the schedule.
          properties:
            name:
              type: string
              description: Gets or sets the name of the Schedule.
        runbook:
          description: Gets or sets the runbook.
          properties:
            name:
              type: string
              description: Gets or sets the name of the runbook.
        runOn:
          type: string
          description: Gets or sets the hybrid worker group that the scheduled job
            should run on.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job schedule.
      description: Definition of job schedule parameters.
    JobScheduleCreateProperties:
      properties:
        schedule:
          description: Gets or sets the schedule.
          properties:
            name:
              type: string
              description: Gets or sets the name of the Schedule.
        runbook:
          description: Gets or sets the runbook.
          properties:
            name:
              type: string
              description: Gets or sets the name of the runbook.
        runOn:
          type: string
          description: Gets or sets the hybrid worker group that the scheduled job
            should run on.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets a list of job properties.
      required:
      - schedule
      - runbook
      description: The parameters supplied to the create job schedule operation.
    JobScheduleCreateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the list of job schedule properties.
          properties:
            schedule:
              description: Gets or sets the schedule.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Schedule.
            runbook:
              description: Gets or sets the runbook.
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the runbook.
            runOn:
              type: string
              description: Gets or sets the hybrid worker group that the scheduled
                job should run on.
            parameters:
              type: object
              additionalProperties:
                type: string
              description: Gets or sets a list of job properties.
          required:
          - schedule
          - runbook
      required:
      - properties
      description: The parameters supplied to the create job schedule operation.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
