openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities/{activityName}
  : get:
      tags:
      - Activity
      operationId: Activity_Get
      description: Retrieve the activity in the module identified by module name and
        activity name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/activityoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: activityName
        in: path
        required: true
        description: The name of activity.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Gets or sets the id of the resource.
                  name:
                    type: string
                    readOnly: true
                    description: Gets the name of the activity.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the activity.
                    type: object
                    properties:
                      definition:
                        type: string
                        description: Gets or sets the user name of the activity.
                      parameterSets:
                        type: array
                        x-ms-identifiers:
                        - name
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Gets or sets the name of the activity parameter
                                set.
                            parameters:
                              type: array
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Gets or sets the name of the activity
                                      parameter.
                                  type:
                                    type: string
                                    description: Gets or sets the type of the activity
                                      parameter.
                                  isMandatory:
                                    type: boolean
                                    description: Gets or sets a Boolean value that
                                      indicates true if the parameter is required.
                                      If the value is false, the parameter is optional.
                                  isDynamic:
                                    type: boolean
                                    description: Gets or sets a Boolean value that
                                      indicates true if the parameter is dynamic.
                                  position:
                                    type: integer
                                    format: int64
                                    description: Gets or sets the position of the
                                      activity parameter.
                                  valueFromPipeline:
                                    type: boolean
                                    description: Gets or sets a Boolean value that
                                      indicates true if the parameter can take values
                                      from the incoming pipeline objects. This setting
                                      is used if the cmdlet must access the complete
                                      input object. false indicates that the parameter
                                      cannot take values from the complete input object.
                                  valueFromPipelineByPropertyName:
                                    type: boolean
                                    description: 'Gets or sets a Boolean value that
                                      indicates true if the parameter can be filled
                                      from a property of the incoming pipeline object
                                      that has the same name as this parameter. false
                                      indicates that the parameter cannot be filled
                                      from the incoming pipeline object property with
                                      the same name. '
                                  valueFromRemainingArguments:
                                    type: boolean
                                    description: Gets or sets a Boolean value that
                                      indicates true if the cmdlet parameter accepts
                                      all the remaining command-line arguments that
                                      are associated with this parameter in the form
                                      of an array. false if the cmdlet parameter does
                                      not accept all the remaining argument values.
                                  description:
                                    type: string
                                    description: Gets or sets the description of the
                                      activity parameter.
                                  validationSet:
                                    type: array
                                    x-ms-identifiers: []
                                    items:
                                      type: object
                                      properties:
                                        memberValue:
                                          type: string
                                          description: Gets or sets the name of the
                                            activity parameter validation set member.
                                      description: Definition of the activity parameter
                                        validation set.
                                    description: Gets or sets the validation set of
                                      activity parameter.
                                description: Definition of the activity parameter.
                              description: Gets or sets the parameters of the activity
                                parameter set.
                          description: Definition of the activity parameter set.
                        description: Gets or sets the parameter sets of the activity.
                      outputTypes:
                        type: array
                        x-ms-identifiers:
                        - name
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Gets or sets the name of the activity output
                                type.
                            type:
                              type: string
                              description: Gets or sets the type of the activity output
                                type.
                          description: Definition of the activity output type.
                        description: Gets or sets the output types of the activity.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: Definition of the activity.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities
  : get:
      tags:
      - Activity
      operationId: Activity_ListByModule
      description: Retrieve a list of activities in the module identified by module
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/activityoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Gets or sets the id of the resource.
                        name:
                          type: string
                          readOnly: true
                          description: Gets the name of the activity.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the activity.
                          type: object
                          properties:
                            definition:
                              type: string
                              description: Gets or sets the user name of the activity.
                            parameterSets:
                              type: array
                              x-ms-identifiers:
                              - name
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Gets or sets the name of the activity
                                      parameter set.
                                  parameters:
                                    type: array
                                    x-ms-identifiers: []
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: Gets or sets the name of the
                                            activity parameter.
                                        type:
                                          type: string
                                          description: Gets or sets the type of the
                                            activity parameter.
                                        isMandatory:
                                          type: boolean
                                          description: Gets or sets a Boolean value
                                            that indicates true if the parameter is
                                            required. If the value is false, the parameter
                                            is optional.
                                        isDynamic:
                                          type: boolean
                                          description: Gets or sets a Boolean value
                                            that indicates true if the parameter is
                                            dynamic.
                                        position:
                                          type: integer
                                          format: int64
                                          description: Gets or sets the position of
                                            the activity parameter.
                                        valueFromPipeline:
                                          type: boolean
                                          description: Gets or sets a Boolean value
                                            that indicates true if the parameter can
                                            take values from the incoming pipeline
                                            objects. This setting is used if the cmdlet
                                            must access the complete input object.
                                            false indicates that the parameter cannot
                                            take values from the complete input object.
                                        valueFromPipelineByPropertyName:
                                          type: boolean
                                          description: 'Gets or sets a Boolean value
                                            that indicates true if the parameter can
                                            be filled from a property of the incoming
                                            pipeline object that has the same name
                                            as this parameter. false indicates that
                                            the parameter cannot be filled from the
                                            incoming pipeline object property with
                                            the same name. '
                                        valueFromRemainingArguments:
                                          type: boolean
                                          description: Gets or sets a Boolean value
                                            that indicates true if the cmdlet parameter
                                            accepts all the remaining command-line
                                            arguments that are associated with this
                                            parameter in the form of an array. false
                                            if the cmdlet parameter does not accept
                                            all the remaining argument values.
                                        description:
                                          type: string
                                          description: Gets or sets the description
                                            of the activity parameter.
                                        validationSet:
                                          type: array
                                          x-ms-identifiers: []
                                          items:
                                            type: object
                                            properties:
                                              memberValue:
                                                type: string
                                                description: Gets or sets the name
                                                  of the activity parameter validation
                                                  set member.
                                            description: Definition of the activity
                                              parameter validation set.
                                          description: Gets or sets the validation
                                            set of activity parameter.
                                      description: Definition of the activity parameter.
                                    description: Gets or sets the parameters of the
                                      activity parameter set.
                                description: Definition of the activity parameter
                                  set.
                              description: Gets or sets the parameter sets of the
                                activity.
                            outputTypes:
                              type: array
                              x-ms-identifiers:
                              - name
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Gets or sets the name of the activity
                                      output type.
                                  type:
                                    type: string
                                    description: Gets or sets the type of the activity
                                      output type.
                                description: Definition of the activity output type.
                              description: Gets or sets the output types of the activity.
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets or sets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: Definition of the activity.
                    description: Gets or sets a list of activities.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list activity operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}
  : delete:
      tags:
      - Module
      operationId: Module_Delete
      description: Delete the module by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The module name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Module
      operationId: Module_Get
      description: Retrieve the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The module name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Module
      operationId: Module_CreateOrUpdate
      description: Create or Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Sets the module create properties.
                  type: object
                  properties:
                    contentLink:
                      description: Sets the hash.
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Sets the uri of the content.
                        contentHash:
                          description: Sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        version:
                          type: string
                          description: Sets the version of the content.
                      x-ms-mutability:
                      - create
                      - update
                  required:
                  - contentLink
                name:
                  type: string
                  description: Sets name of the resource.
                location:
                  type: string
                  description: Sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Sets the tags attached to the resource.
              required:
              - properties
              description: The parameters supplied to the create or update module
                operation.
        description: The create or update parameters for module.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Module
      operationId: Module_Update
      description: Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Sets the module update properties.
                  type: object
                  properties:
                    contentLink:
                      description: Sets the module content link.
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Sets the uri of the content.
                        contentHash:
                          description: Sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        version:
                          type: string
                          description: Sets the version of the content.
                      x-ms-mutability:
                      - create
                      - update
                name:
                  type: string
                  readOnly: true
                  description: Sets name of the resource.
                location:
                  type: string
                  readOnly: true
                  description: Sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Sets the tags attached to the resource.
              description: The parameters supplied to the update module operation.
        description: The update parameters for module.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules
  : get:
      tags:
      - Module
      operationId: Module_ListByAutomationAccount
      description: Retrieve a list of modules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Gets the module properties.
                          type: object
                          properties:
                            isGlobal:
                              type: boolean
                              description: Gets the isGlobal flag of the module.
                            version:
                              type: string
                              description: Gets the version of the module.
                            sizeInBytes:
                              type: integer
                              format: int64
                              description: Gets the size in bytes of the module.
                            activityCount:
                              type: integer
                              format: int32
                              description: Gets the activity count of the module.
                            provisioningState:
                              type: string
                              description: Gets the provisioning state of the module.
                              enum:
                              - Created
                              - Creating
                              - StartingImportModuleRunbook
                              - RunningImportModuleRunbook
                              - ContentRetrieved
                              - ContentDownloaded
                              - ContentValidated
                              - ConnectionTypeImported
                              - ContentStored
                              - ModuleDataStored
                              - ActivitiesStored
                              - ModuleImportRunbookComplete
                              - Succeeded
                              - Failed
                              - Canceled
                              - Updating
                              x-ms-enum:
                                name: ModuleProvisioningState
                                modelAsString: true
                            contentLink:
                              description: Gets or sets the contentLink of the module.
                              type: object
                              properties:
                                uri:
                                  type: string
                                  description: Sets the uri of the content.
                                contentHash:
                                  description: Sets the hash.
                                  type: object
                                  properties:
                                    algorithm:
                                      type: string
                                      description: Gets or sets the content hash algorithm
                                        used to hash the content.
                                    value:
                                      type: string
                                      description: Gets or sets expected hash value
                                        of the content.
                                  required:
                                  - algorithm
                                  - value
                                version:
                                  type: string
                                  description: Sets the version of the content.
                              x-ms-mutability:
                              - create
                              - update
                            error:
                              description: Gets the error info of the module.
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: Gets the error code.
                                message:
                                  type: string
                                  description: Gets the error message.
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                            isComposite:
                              type: boolean
                              description: Gets type of module, if its composite or
                                not.
                        etag:
                          type: string
                          description: Gets the etag of the resource.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets a list of modules.
                  nextLink:
                    type: string
                    description: Gets the next link.
                description: The response model for the list module operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/objectDataTypes/{typeName}/fields
  : get:
      tags:
      - ObjectDataTypes
      operationId: ObjectDataTypes_ListFieldsByModuleAndType
      description: Retrieve a list of fields of a given type identified by module
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/objectdatatypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: typeName
        in: path
        required: true
        description: The name of type.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the field.
                        type:
                          type: string
                          description: Gets or sets the type of the field.
                      description: Information about a field of a type.
                    description: Gets or sets a list of fields.
                description: The response model for the list fields operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/objectDataTypes/{typeName}/fields
  : get:
      tags:
      - ObjectDataTypes
      operationId: ObjectDataTypes_ListFieldsByType
      description: Retrieve a list of fields of a given type across all accessible
        modules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/objectdatatypeoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: typeName
        in: path
        required: true
        description: The name of type.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the field.
                        type:
                          type: string
                          description: Gets or sets the type of the field.
                      description: Information about a field of a type.
                    description: Gets or sets a list of fields.
                description: The response model for the list fields operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/types/{typeName}/fields
  : get:
      tags:
      - TypeFields
      operationId: Fields_ListByType
      description: Retrieve a list of fields of a given type identified by module
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/typefieldoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: moduleName
        in: path
        required: true
        description: The name of module.
        schema:
          type: string
      - name: typeName
        in: path
        required: true
        description: The name of type.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the field.
                        type:
                          type: string
                          description: Gets or sets the type of the field.
                      description: Information about a field of a type.
                    description: Gets or sets a list of fields.
                description: The response model for the list fields operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable: {}
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ActivityParameter:
      type: object
      properties:
        name:
          type: string
          description: Gets or sets the name of the activity parameter.
        type:
          type: string
          description: Gets or sets the type of the activity parameter.
        isMandatory:
          type: boolean
          description: Gets or sets a Boolean value that indicates true if the parameter
            is required. If the value is false, the parameter is optional.
        isDynamic:
          type: boolean
          description: Gets or sets a Boolean value that indicates true if the parameter
            is dynamic.
        position:
          type: integer
          format: int64
          description: Gets or sets the position of the activity parameter.
        valueFromPipeline:
          type: boolean
          description: Gets or sets a Boolean value that indicates true if the parameter
            can take values from the incoming pipeline objects. This setting is used
            if the cmdlet must access the complete input object. false indicates that
            the parameter cannot take values from the complete input object.
        valueFromPipelineByPropertyName:
          type: boolean
          description: 'Gets or sets a Boolean value that indicates true if the parameter
            can be filled from a property of the incoming pipeline object that has
            the same name as this parameter. false indicates that the parameter cannot
            be filled from the incoming pipeline object property with the same name. '
        valueFromRemainingArguments:
          type: boolean
          description: Gets or sets a Boolean value that indicates true if the cmdlet
            parameter accepts all the remaining command-line arguments that are associated
            with this parameter in the form of an array. false if the cmdlet parameter
            does not accept all the remaining argument values.
        description:
          type: string
          description: Gets or sets the description of the activity parameter.
        validationSet:
          type: array
          x-ms-identifiers: []
          items:
            type: object
            properties:
              memberValue:
                type: string
                description: Gets or sets the name of the activity parameter validation
                  set member.
            description: Definition of the activity parameter validation set.
          description: Gets or sets the validation set of activity parameter.
      description: Definition of the activity parameter.
    ActivityParameterSet:
      type: object
      properties:
        name:
          type: string
          description: Gets or sets the name of the activity parameter set.
        parameters:
          type: array
          x-ms-identifiers: []
          items:
            type: object
            properties:
              name:
                type: string
                description: Gets or sets the name of the activity parameter.
              type:
                type: string
                description: Gets or sets the type of the activity parameter.
              isMandatory:
                type: boolean
                description: Gets or sets a Boolean value that indicates true if the
                  parameter is required. If the value is false, the parameter is optional.
              isDynamic:
                type: boolean
                description: Gets or sets a Boolean value that indicates true if the
                  parameter is dynamic.
              position:
                type: integer
                format: int64
                description: Gets or sets the position of the activity parameter.
              valueFromPipeline:
                type: boolean
                description: Gets or sets a Boolean value that indicates true if the
                  parameter can take values from the incoming pipeline objects. This
                  setting is used if the cmdlet must access the complete input object.
                  false indicates that the parameter cannot take values from the complete
                  input object.
              valueFromPipelineByPropertyName:
                type: boolean
                description: 'Gets or sets a Boolean value that indicates true if
                  the parameter can be filled from a property of the incoming pipeline
                  object that has the same name as this parameter. false indicates
                  that the parameter cannot be filled from the incoming pipeline object
                  property with the same name. '
              valueFromRemainingArguments:
                type: boolean
                description: Gets or sets a Boolean value that indicates true if the
                  cmdlet parameter accepts all the remaining command-line arguments
                  that are associated with this parameter in the form of an array.
                  false if the cmdlet parameter does not accept all the remaining
                  argument values.
              description:
                type: string
                description: Gets or sets the description of the activity parameter.
              validationSet:
                type: array
                x-ms-identifiers: []
                items:
                  type: object
                  properties:
                    memberValue:
                      type: string
                      description: Gets or sets the name of the activity parameter
                        validation set member.
                  description: Definition of the activity parameter validation set.
                description: Gets or sets the validation set of activity parameter.
            description: Definition of the activity parameter.
          description: Gets or sets the parameters of the activity parameter set.
      description: Definition of the activity parameter set.
    ActivityParameterValidationSet:
      type: object
      properties:
        memberValue:
          type: string
          description: Gets or sets the name of the activity parameter validation
            set member.
      description: Definition of the activity parameter validation set.
    ActivityOutputType:
      type: object
      properties:
        name:
          type: string
          description: Gets or sets the name of the activity output type.
        type:
          type: string
          description: Gets or sets the type of the activity output type.
      description: Definition of the activity output type.
    ActivityProperties:
      type: object
      properties:
        definition:
          type: string
          description: Gets or sets the user name of the activity.
        parameterSets:
          type: array
          x-ms-identifiers:
          - name
          items:
            type: object
            properties:
              name:
                type: string
                description: Gets or sets the name of the activity parameter set.
              parameters:
                type: array
                x-ms-identifiers: []
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Gets or sets the name of the activity parameter.
                    type:
                      type: string
                      description: Gets or sets the type of the activity parameter.
                    isMandatory:
                      type: boolean
                      description: Gets or sets a Boolean value that indicates true
                        if the parameter is required. If the value is false, the parameter
                        is optional.
                    isDynamic:
                      type: boolean
                      description: Gets or sets a Boolean value that indicates true
                        if the parameter is dynamic.
                    position:
                      type: integer
                      format: int64
                      description: Gets or sets the position of the activity parameter.
                    valueFromPipeline:
                      type: boolean
                      description: Gets or sets a Boolean value that indicates true
                        if the parameter can take values from the incoming pipeline
                        objects. This setting is used if the cmdlet must access the
                        complete input object. false indicates that the parameter
                        cannot take values from the complete input object.
                    valueFromPipelineByPropertyName:
                      type: boolean
                      description: 'Gets or sets a Boolean value that indicates true
                        if the parameter can be filled from a property of the incoming
                        pipeline object that has the same name as this parameter.
                        false indicates that the parameter cannot be filled from the
                        incoming pipeline object property with the same name. '
                    valueFromRemainingArguments:
                      type: boolean
                      description: Gets or sets a Boolean value that indicates true
                        if the cmdlet parameter accepts all the remaining command-line
                        arguments that are associated with this parameter in the form
                        of an array. false if the cmdlet parameter does not accept
                        all the remaining argument values.
                    description:
                      type: string
                      description: Gets or sets the description of the activity parameter.
                    validationSet:
                      type: array
                      x-ms-identifiers: []
                      items:
                        type: object
                        properties:
                          memberValue:
                            type: string
                            description: Gets or sets the name of the activity parameter
                              validation set member.
                        description: Definition of the activity parameter validation
                          set.
                      description: Gets or sets the validation set of activity parameter.
                  description: Definition of the activity parameter.
                description: Gets or sets the parameters of the activity parameter
                  set.
            description: Definition of the activity parameter set.
          description: Gets or sets the parameter sets of the activity.
        outputTypes:
          type: array
          x-ms-identifiers:
          - name
          items:
            type: object
            properties:
              name:
                type: string
                description: Gets or sets the name of the activity output type.
              type:
                type: string
                description: Gets or sets the type of the activity output type.
            description: Definition of the activity output type.
          description: Gets or sets the output types of the activity.
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Properties of the activity.
    Activity:
      type: object
      properties:
        id:
          type: string
          description: Gets or sets the id of the resource.
        name:
          type: string
          readOnly: true
          description: Gets the name of the activity.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the activity.
          type: object
          properties:
            definition:
              type: string
              description: Gets or sets the user name of the activity.
            parameterSets:
              type: array
              x-ms-identifiers:
              - name
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Gets or sets the name of the activity parameter set.
                  parameters:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the activity parameter.
                        type:
                          type: string
                          description: Gets or sets the type of the activity parameter.
                        isMandatory:
                          type: boolean
                          description: Gets or sets a Boolean value that indicates
                            true if the parameter is required. If the value is false,
                            the parameter is optional.
                        isDynamic:
                          type: boolean
                          description: Gets or sets a Boolean value that indicates
                            true if the parameter is dynamic.
                        position:
                          type: integer
                          format: int64
                          description: Gets or sets the position of the activity parameter.
                        valueFromPipeline:
                          type: boolean
                          description: Gets or sets a Boolean value that indicates
                            true if the parameter can take values from the incoming
                            pipeline objects. This setting is used if the cmdlet must
                            access the complete input object. false indicates that
                            the parameter cannot take values from the complete input
                            object.
                        valueFromPipelineByPropertyName:
                          type: boolean
                          description: 'Gets or sets a Boolean value that indicates
                            true if the parameter can be filled from a property of
                            the incoming pipeline object that has the same name as
                            this parameter. false indicates that the parameter cannot
                            be filled from the incoming pipeline object property with
                            the same name. '
                        valueFromRemainingArguments:
                          type: boolean
                          description: Gets or sets a Boolean value that indicates
                            true if the cmdlet parameter accepts all the remaining
                            command-line arguments that are associated with this parameter
                            in the form of an array. false if the cmdlet parameter
                            does not accept all the remaining argument values.
                        description:
                          type: string
                          description: Gets or sets the description of the activity
                            parameter.
                        validationSet:
                          type: array
                          x-ms-identifiers: []
                          items:
                            type: object
                            properties:
                              memberValue:
                                type: string
                                description: Gets or sets the name of the activity
                                  parameter validation set member.
                            description: Definition of the activity parameter validation
                              set.
                          description: Gets or sets the validation set of activity
                            parameter.
                      description: Definition of the activity parameter.
                    description: Gets or sets the parameters of the activity parameter
                      set.
                description: Definition of the activity parameter set.
              description: Gets or sets the parameter sets of the activity.
            outputTypes:
              type: array
              x-ms-identifiers:
              - name
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Gets or sets the name of the activity output type.
                  type:
                    type: string
                    description: Gets or sets the type of the activity output type.
                description: Definition of the activity output type.
              description: Gets or sets the output types of the activity.
            creationTime:
              type: string
              format: date-time
              description: Gets or sets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: Definition of the activity.
    ActivityListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Gets or sets the id of the resource.
              name:
                type: string
                readOnly: true
                description: Gets the name of the activity.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the activity.
                type: object
                properties:
                  definition:
                    type: string
                    description: Gets or sets the user name of the activity.
                  parameterSets:
                    type: array
                    x-ms-identifiers:
                    - name
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Gets or sets the name of the activity parameter
                            set.
                        parameters:
                          type: array
                          x-ms-identifiers: []
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Gets or sets the name of the activity
                                  parameter.
                              type:
                                type: string
                                description: Gets or sets the type of the activity
                                  parameter.
                              isMandatory:
                                type: boolean
                                description: Gets or sets a Boolean value that indicates
                                  true if the parameter is required. If the value
                                  is false, the parameter is optional.
                              isDynamic:
                                type: boolean
                                description: Gets or sets a Boolean value that indicates
                                  true if the parameter is dynamic.
                              position:
                                type: integer
                                format: int64
                                description: Gets or sets the position of the activity
                                  parameter.
                              valueFromPipeline:
                                type: boolean
                                description: Gets or sets a Boolean value that indicates
                                  true if the parameter can take values from the incoming
                                  pipeline objects. This setting is used if the cmdlet
                                  must access the complete input object. false indicates
                                  that the parameter cannot take values from the complete
                                  input object.
                              valueFromPipelineByPropertyName:
                                type: boolean
                                description: 'Gets or sets a Boolean value that indicates
                                  true if the parameter can be filled from a property
                                  of the incoming pipeline object that has the same
                                  name as this parameter. false indicates that the
                                  parameter cannot be filled from the incoming pipeline
                                  object property with the same name. '
                              valueFromRemainingArguments:
                                type: boolean
                                description: Gets or sets a Boolean value that indicates
                                  true if the cmdlet parameter accepts all the remaining
                                  command-line arguments that are associated with
                                  this parameter in the form of an array. false if
                                  the cmdlet parameter does not accept all the remaining
                                  argument values.
                              description:
                                type: string
                                description: Gets or sets the description of the activity
                                  parameter.
                              validationSet:
                                type: array
                                x-ms-identifiers: []
                                items:
                                  type: object
                                  properties:
                                    memberValue:
                                      type: string
                                      description: Gets or sets the name of the activity
                                        parameter validation set member.
                                  description: Definition of the activity parameter
                                    validation set.
[...]
