openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Automation/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Automation REST API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      description: Automation REST API operation
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          properties:
                            provider:
                              description: 'Service provider: Microsoft.Automation'
                              type: string
                            resource:
                              description: 'Resource on which the operation is performed:
                                Runbooks, Jobs etc.'
                              type: string
                            operation:
                              description: 'Operation type: Read, write, delete, etc.'
                              type: string
                            description:
                              description: Description of the operation.
                              type: string
                          description: Provider, Resource and Operation values
                        origin:
                          description: Origin of the operation.
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Operation properties format.
                          type: object
                          properties:
                            serviceSpecification:
                              description: Specification of the service.
                              type: object
                              properties:
                                metricSpecifications:
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    description: Description of metrics specification.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the metric.
                                      displayName:
                                        type: string
                                        description: The display name of the metric.
                                      displayDescription:
                                        type: string
                                        description: The description of the metric.
                                      unit:
                                        type: string
                                        description: Units the metric to be displayed
                                          in.
                                      aggregationType:
                                        type: string
                                        description: The aggregation type.
                                      dimensions:
                                        type: array
                                        x-ms-identifiers: []
                                        items:
                                          description: Dimension of the metric.
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                              description: The name of the dimension.
                                            displayName:
                                              type: string
                                              description: The display name of the
                                                dimension.
                                        description: List of dimensions.
                                  description: Operation service specification.
                                logSpecifications:
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    description: Description of logging specification.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the specification.
                                      displayName:
                                        type: string
                                        description: The display name of the specification.
                                      blobDuration:
                                        type: string
                                        description: Duration of the blob.
                                  description: Operation log specification.
                    x-ms-identifiers:
                    - name
                    description: List of Automation operations supported by the Automation
                      resource provider.
                description: The response model for the list of Automation operations
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/convertGraphRunbookContent
  : post:
      tags:
      - Operations
      description: Post operation to serialize or deserialize GraphRunbookContent
      operationId: convertGraphRunbookContent
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Graphical Runbook Content
              properties:
                rawContent:
                  description: Raw graphical Runbook content.
                  type: object
                  properties:
                    schemaVersion:
                      type: string
                      description: Schema version of the serializer.
                    runbookDefinition:
                      type: string
                      description: Serialized Graphical runbook
                    runbookType:
                      type: string
                      description: Runbook Type
                      enum:
                      - GraphPowerShell
                      - GraphPowerShellWorkflow
                      x-ms-enum:
                        name: GraphRunbookType
                        modelAsString: true
                  nullable: true
                graphRunbookJson:
                  type: string
                  description: Graphical Runbook content as JSON
                  nullable: true
        description: Input data describing the graphical runbook.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Graphical Runbook Content
                properties:
                  rawContent:
                    description: Raw graphical Runbook content.
                    type: object
                    properties:
                      schemaVersion:
                        type: string
                        description: Schema version of the serializer.
                      runbookDefinition:
                        type: string
                        description: Serialized Graphical runbook
                      runbookType:
                        type: string
                        description: Runbook Type
                        enum:
                        - GraphPowerShell
                        - GraphPowerShellWorkflow
                        x-ms-enum:
                          name: GraphRunbookType
                          modelAsString: true
                    nullable: true
                  graphRunbookJson:
                    type: string
                    description: Graphical Runbook content as JSON
                    nullable: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      properties:
        value:
          type: array
          items:
            description: Automation REST API operation
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}'
                type: string
              display:
                properties:
                  provider:
                    description: 'Service provider: Microsoft.Automation'
                    type: string
                  resource:
                    description: 'Resource on which the operation is performed: Runbooks,
                      Jobs etc.'
                    type: string
                  operation:
                    description: 'Operation type: Read, write, delete, etc.'
                    type: string
                  description:
                    description: Description of the operation.
                    type: string
                description: Provider, Resource and Operation values
              origin:
                description: Origin of the operation.
                type: string
              properties:
                x-ms-client-flatten: true
                description: Operation properties format.
                type: object
                properties:
                  serviceSpecification:
                    description: Specification of the service.
                    type: object
                    properties:
                      metricSpecifications:
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Description of metrics specification.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the metric.
                            displayName:
                              type: string
                              description: The display name of the metric.
                            displayDescription:
                              type: string
                              description: The description of the metric.
                            unit:
                              type: string
                              description: Units the metric to be displayed in.
                            aggregationType:
                              type: string
                              description: The aggregation type.
                            dimensions:
                              type: array
                              x-ms-identifiers: []
                              items:
                                description: Dimension of the metric.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the dimension.
                                  displayName:
                                    type: string
                                    description: The display name of the dimension.
                              description: List of dimensions.
                        description: Operation service specification.
                      logSpecifications:
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Description of logging specification.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the specification.
                            displayName:
                              type: string
                              description: The display name of the specification.
                            blobDuration:
                              type: string
                              description: Duration of the blob.
                        description: Operation log specification.
          x-ms-identifiers:
          - name
          description: List of Automation operations supported by the Automation resource
            provider.
      description: The response model for the list of Automation operations
    Operation:
      description: Automation REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          properties:
            provider:
              description: 'Service provider: Microsoft.Automation'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Runbooks,
                Jobs etc.'
              type: string
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            description:
              description: Description of the operation.
              type: string
          description: Provider, Resource and Operation values
        origin:
          description: Origin of the operation.
          type: string
        properties:
          x-ms-client-flatten: true
          description: Operation properties format.
          type: object
          properties:
            serviceSpecification:
              description: Specification of the service.
              type: object
              properties:
                metricSpecifications:
                  type: array
                  x-ms-identifiers: []
                  items:
                    description: Description of metrics specification.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the metric.
                      displayName:
                        type: string
                        description: The display name of the metric.
                      displayDescription:
                        type: string
                        description: The description of the metric.
                      unit:
                        type: string
                        description: Units the metric to be displayed in.
                      aggregationType:
                        type: string
                        description: The aggregation type.
                      dimensions:
                        type: array
                        x-ms-identifiers: []
                        items:
                          description: Dimension of the metric.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the dimension.
                            displayName:
                              type: string
                              description: The display name of the dimension.
                        description: List of dimensions.
                  description: Operation service specification.
                logSpecifications:
                  type: array
                  x-ms-identifiers: []
                  items:
                    description: Description of logging specification.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the specification.
                      displayName:
                        type: string
                        description: The display name of the specification.
                      blobDuration:
                        type: string
                        description: Duration of the blob.
                  description: Operation log specification.
    OperationPropertiesFormat:
      description: Description of operation properties format.
      type: object
      properties:
        serviceSpecification:
          description: Specification of the service.
          type: object
          properties:
            metricSpecifications:
              type: array
              x-ms-identifiers: []
              items:
                description: Description of metrics specification.
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the metric.
                  displayName:
                    type: string
                    description: The display name of the metric.
                  displayDescription:
                    type: string
                    description: The description of the metric.
                  unit:
                    type: string
                    description: Units the metric to be displayed in.
                  aggregationType:
                    type: string
                    description: The aggregation type.
                  dimensions:
                    type: array
                    x-ms-identifiers: []
                    items:
                      description: Dimension of the metric.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the dimension.
                        displayName:
                          type: string
                          description: The display name of the dimension.
                    description: List of dimensions.
              description: Operation service specification.
            logSpecifications:
              type: array
              x-ms-identifiers: []
              items:
                description: Description of logging specification.
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the specification.
                  displayName:
                    type: string
                    description: The display name of the specification.
                  blobDuration:
                    type: string
                    description: Duration of the blob.
              description: Operation log specification.
    LogSpecification:
      description: Description of logging specification.
      type: object
      properties:
        name:
          type: string
          description: The name of the specification.
        displayName:
          type: string
          description: The display name of the specification.
        blobDuration:
          type: string
          description: Duration of the blob.
    MetricSpecification:
      description: Description of metrics specification.
      type: object
      properties:
        name:
          type: string
          description: The name of the metric.
        displayName:
          type: string
          description: The display name of the metric.
        displayDescription:
          type: string
          description: The description of the metric.
        unit:
          type: string
          description: Units the metric to be displayed in.
        aggregationType:
          type: string
          description: The aggregation type.
        dimensions:
          type: array
          x-ms-identifiers: []
          items:
            description: Dimension of the metric.
            type: object
            properties:
              name:
                type: string
                description: The name of the dimension.
              displayName:
                type: string
                description: The display name of the dimension.
          description: List of dimensions.
    Dimension:
      description: Dimension of the metric.
      type: object
      properties:
        name:
          type: string
          description: The name of the dimension.
        displayName:
          type: string
          description: The display name of the dimension.
    GraphicalRunbookContent:
      type: object
      description: Graphical Runbook Content
      properties:
        rawContent:
          description: Raw graphical Runbook content.
          type: object
          properties:
            schemaVersion:
              type: string
              description: Schema version of the serializer.
            runbookDefinition:
              type: string
              description: Serialized Graphical runbook
            runbookType:
              type: string
              description: Runbook Type
              enum:
              - GraphPowerShell
              - GraphPowerShellWorkflow
              x-ms-enum:
                name: GraphRunbookType
                modelAsString: true
          nullable: true
        graphRunbookJson:
          type: string
          description: Graphical Runbook content as JSON
          nullable: true
    RawGraphicalRunbookContent:
      type: object
      description: Raw Graphical Runbook content
      properties:
        schemaVersion:
          type: string
          description: Schema version of the serializer.
        runbookDefinition:
          type: string
          description: Serialized Graphical runbook
        runbookType:
          type: string
          description: Runbook Type
          enum:
          - GraphPowerShell
          - GraphPowerShellWorkflow
          x-ms-enum:
            name: GraphRunbookType
            modelAsString: true
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
