openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/powerShell72Modules/{moduleName}
  : delete:
      tags:
      - Module
      operationId: PowerShell72Module_Delete
      description: Delete the module by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: moduleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of module.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-._0-9]*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Module
      operationId: PowerShell72Module_Get
      description: Retrieve the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: moduleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of module.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-._0-9]*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Module
      operationId: PowerShell72Module_CreateOrUpdate
      description: Create or Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: moduleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of module.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-._0-9]*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Sets the module create properties.
                  type: object
                  properties:
                    contentLink:
                      description: Sets the hash.
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Sets the uri of the content.
                        contentHash:
                          description: Sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        version:
                          type: string
                          description: Sets the version of the content.
                      x-ms-mutability:
                      - create
                      - update
                  required:
                  - contentLink
                name:
                  type: string
                  description: Sets name of the resource.
                location:
                  type: string
                  description: Sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Sets the tags attached to the resource.
              required:
              - properties
              description: The parameters supplied to the create or update module
                operation.
        description: The create or update parameters for module.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Module
      operationId: PowerShell72Module_Update
      description: Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: moduleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of module.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-._0-9]*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Sets the module update properties.
                  type: object
                  properties:
                    contentLink:
                      description: Sets the module content link.
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Sets the uri of the content.
                        contentHash:
                          description: Sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        version:
                          type: string
                          description: Sets the version of the content.
                      x-ms-mutability:
                      - create
                      - update
                name:
                  type: string
                  readOnly: true
                  description: Sets name of the resource.
                location:
                  type: string
                  readOnly: true
                  description: Sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Sets the tags attached to the resource.
              description: The parameters supplied to the update module operation.
        description: The update parameters for module.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets the module properties.
                    type: object
                    properties:
                      isGlobal:
                        type: boolean
                        description: Gets the isGlobal flag of the module.
                      version:
                        type: string
                        description: Gets the version of the module.
                      sizeInBytes:
                        type: integer
                        format: int64
                        description: Gets the size in bytes of the module.
                      activityCount:
                        type: integer
                        format: int32
                        description: Gets the activity count of the module.
                      provisioningState:
                        type: string
                        description: Gets the provisioning state of the module.
                        enum:
                        - Created
                        - Creating
                        - StartingImportModuleRunbook
                        - RunningImportModuleRunbook
                        - ContentRetrieved
                        - ContentDownloaded
                        - ContentValidated
                        - ConnectionTypeImported
                        - ContentStored
                        - ModuleDataStored
                        - ActivitiesStored
                        - ModuleImportRunbookComplete
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        x-ms-enum:
                          name: ModuleProvisioningState
                          modelAsString: true
                      contentLink:
                        description: Gets or sets the contentLink of the module.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      error:
                        description: Gets the error info of the module.
                        type: object
                        properties:
                          code:
                            type: string
                            description: Gets the error code.
                          message:
                            type: string
                            description: Gets the error message.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                      isComposite:
                        type: boolean
                        description: Gets type of module, if its composite or not.
                  etag:
                    type: string
                    description: Gets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/powerShell72Modules
  : get:
      tags:
      - Module
      operationId: PowerShell72Module_ListByAutomationAccount
      description: Retrieve a list of PowerShell72 modules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Gets the module properties.
                          type: object
                          properties:
                            isGlobal:
                              type: boolean
                              description: Gets the isGlobal flag of the module.
                            version:
                              type: string
                              description: Gets the version of the module.
                            sizeInBytes:
                              type: integer
                              format: int64
                              description: Gets the size in bytes of the module.
                            activityCount:
                              type: integer
                              format: int32
                              description: Gets the activity count of the module.
                            provisioningState:
                              type: string
                              description: Gets the provisioning state of the module.
                              enum:
                              - Created
                              - Creating
                              - StartingImportModuleRunbook
                              - RunningImportModuleRunbook
                              - ContentRetrieved
                              - ContentDownloaded
                              - ContentValidated
                              - ConnectionTypeImported
                              - ContentStored
                              - ModuleDataStored
                              - ActivitiesStored
                              - ModuleImportRunbookComplete
                              - Succeeded
                              - Failed
                              - Canceled
                              - Updating
                              x-ms-enum:
                                name: ModuleProvisioningState
                                modelAsString: true
                            contentLink:
                              description: Gets or sets the contentLink of the module.
                              type: object
                              properties:
                                uri:
                                  type: string
                                  description: Sets the uri of the content.
                                contentHash:
                                  description: Sets the hash.
                                  type: object
                                  properties:
                                    algorithm:
                                      type: string
                                      description: Gets or sets the content hash algorithm
                                        used to hash the content.
                                    value:
                                      type: string
                                      description: Gets or sets expected hash value
                                        of the content.
                                  required:
                                  - algorithm
                                  - value
                                version:
                                  type: string
                                  description: Sets the version of the content.
                              x-ms-mutability:
                              - create
                              - update
                            error:
                              description: Gets the error info of the module.
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: Gets the error code.
                                message:
                                  type: string
                                  description: Gets the error message.
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                            isComposite:
                              type: boolean
                              description: Gets type of module, if its composite or
                                not.
                        etag:
                          type: string
                          description: Gets the etag of the resource.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets a list of modules.
                  nextLink:
                    type: string
                    description: Gets the next link.
                description: The response model for the list module operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
    ModuleNameParameter:
      name: moduleName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of module.
      schema:
        type: string
        pattern: ^[a-zA-Z][a-zA-Z-._0-9]*$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ModuleErrorInfo:
      type: object
      properties:
        code:
          type: string
          description: Gets the error code.
        message:
          type: string
          description: Gets the error message.
      description: Definition of the module error info type.
    ModuleListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The Azure Region where the resource lives
              properties:
                x-ms-client-flatten: true
                description: Gets the module properties.
                type: object
                properties:
                  isGlobal:
                    type: boolean
                    description: Gets the isGlobal flag of the module.
                  version:
                    type: string
                    description: Gets the version of the module.
                  sizeInBytes:
                    type: integer
                    format: int64
                    description: Gets the size in bytes of the module.
                  activityCount:
                    type: integer
                    format: int32
                    description: Gets the activity count of the module.
                  provisioningState:
                    type: string
                    description: Gets the provisioning state of the module.
                    enum:
                    - Created
                    - Creating
                    - StartingImportModuleRunbook
                    - RunningImportModuleRunbook
                    - ContentRetrieved
                    - ContentDownloaded
                    - ContentValidated
                    - ConnectionTypeImported
                    - ContentStored
                    - ModuleDataStored
                    - ActivitiesStored
                    - ModuleImportRunbookComplete
                    - Succeeded
                    - Failed
                    - Canceled
                    - Updating
                    x-ms-enum:
                      name: ModuleProvisioningState
                      modelAsString: true
                  contentLink:
                    description: Gets or sets the contentLink of the module.
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Sets the uri of the content.
                      contentHash:
                        description: Sets the hash.
                        type: object
                        properties:
                          algorithm:
                            type: string
                            description: Gets or sets the content hash algorithm used
                              to hash the content.
                          value:
                            type: string
                            description: Gets or sets expected hash value of the content.
                        required:
                        - algorithm
                        - value
                      version:
                        type: string
                        description: Sets the version of the content.
                    x-ms-mutability:
                    - create
                    - update
                  error:
                    description: Gets the error info of the module.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Gets the error code.
                      message:
                        type: string
                        description: Gets the error message.
                  creationTime:
                    type: string
                    format: date-time
                    description: Gets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
                  isComposite:
                    type: boolean
                    description: Gets type of module, if its composite or not.
              etag:
                type: string
                description: Gets the etag of the resource.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets a list of modules.
        nextLink:
          type: string
          description: Gets the next link.
      description: The response model for the list module operation.
    ContentHash:
      type: object
      properties:
        algorithm:
          type: string
          description: Gets or sets the content hash algorithm used to hash the content.
        value:
          type: string
          description: Gets or sets expected hash value of the content.
      required:
      - algorithm
      - value
      description: Definition of the runbook property type.
    ContentLink:
      type: object
      properties:
        uri:
          type: string
          description: Sets the uri of the content.
        contentHash:
          description: Sets the hash.
          type: object
          properties:
            algorithm:
              type: string
              description: Gets or sets the content hash algorithm used to hash the
                content.
            value:
              type: string
              description: Gets or sets expected hash value of the content.
          required:
          - algorithm
          - value
        version:
          type: string
          description: Sets the version of the content.
      x-ms-mutability:
      - create
      - update
      description: Definition of the content link.
    ModuleCreateOrUpdateProperties:
      type: object
      properties:
        contentLink:
          description: Sets the hash.
          type: object
          properties:
            uri:
              type: string
              description: Sets the uri of the content.
            contentHash:
              description: Sets the hash.
              type: object
              properties:
                algorithm:
                  type: string
                  description: Gets or sets the content hash algorithm used to hash
                    the content.
                value:
                  type: string
                  description: Gets or sets expected hash value of the content.
              required:
              - algorithm
              - value
            version:
              type: string
              description: Sets the version of the content.
          x-ms-mutability:
          - create
          - update
      required:
      - contentLink
      description: 'The parameters supplied to the create or update module properties. '
    ModuleCreateOrUpdateParameters:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Sets the module create properties.
          type: object
          properties:
            contentLink:
              description: Sets the hash.
              type: object
              properties:
                uri:
                  type: string
                  description: Sets the uri of the content.
                contentHash:
                  description: Sets the hash.
                  type: object
                  properties:
                    algorithm:
                      type: string
                      description: Gets or sets the content hash algorithm used to
                        hash the content.
                    value:
                      type: string
                      description: Gets or sets expected hash value of the content.
                  required:
                  - algorithm
                  - value
                version:
                  type: string
                  description: Sets the version of the content.
              x-ms-mutability:
              - create
              - update
          required:
          - contentLink
        name:
          type: string
          description: Sets name of the resource.
        location:
          type: string
          description: Sets the location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Sets the tags attached to the resource.
      required:
      - properties
      description: The parameters supplied to the create or update module operation.
    ModuleProperties:
      type: object
      properties:
        isGlobal:
          type: boolean
          description: Gets the isGlobal flag of the module.
        version:
          type: string
          description: Gets the version of the module.
        sizeInBytes:
          type: integer
          format: int64
          description: Gets the size in bytes of the module.
        activityCount:
          type: integer
          format: int32
          description: Gets the activity count of the module.
        provisioningState:
          type: string
          description: Gets the provisioning state of the module.
          enum:
          - Created
          - Creating
          - StartingImportModuleRunbook
          - RunningImportModuleRunbook
          - ContentRetrieved
          - ContentDownloaded
          - ContentValidated
          - ConnectionTypeImported
          - ContentStored
          - ModuleDataStored
          - ActivitiesStored
          - ModuleImportRunbookComplete
          - Succeeded
          - Failed
          - Canceled
          - Updating
          x-ms-enum:
            name: ModuleProvisioningState
            modelAsString: true
        contentLink:
          description: Gets or sets the contentLink of the module.
          type: object
          properties:
            uri:
              type: string
              description: Sets the uri of the content.
            contentHash:
              description: Sets the hash.
              type: object
              properties:
                algorithm:
                  type: string
                  description: Gets or sets the content hash algorithm used to hash
                    the content.
                value:
                  type: string
                  description: Gets or sets expected hash value of the content.
              required:
              - algorithm
              - value
            version:
              type: string
              description: Sets the version of the content.
          x-ms-mutability:
          - create
          - update
        error:
          description: Gets the error info of the module.
          type: object
          properties:
            code:
              type: string
              description: Gets the error code.
            message:
              type: string
              description: Gets the error message.
        creationTime:
          type: string
          format: date-time
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
        isComposite:
          type: boolean
          description: Gets type of module, if its composite or not.
      description: Definition of the module property type.
    ModuleUpdateProperties:
      type: object
      properties:
        contentLink:
          description: Sets the module content link.
          type: object
          properties:
            uri:
              type: string
              description: Sets the uri of the content.
            contentHash:
              description: Sets the hash.
              type: object
              properties:
                algorithm:
                  type: string
                  description: Gets or sets the content hash algorithm used to hash
                    the content.
                value:
                  type: string
                  description: Gets or sets expected hash value of the content.
              required:
              - algorithm
              - value
            version:
              type: string
              description: Sets the version of the content.
          x-ms-mutability:
          - create
          - update
      description: The parameters supplied to the update properties.
    ModuleUpdateParameters:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Sets the module update properties.
          type: object
          properties:
            contentLink:
              description: Sets the module content link.
              type: object
              properties:
                uri:
                  type: string
                  description: Sets the uri of the content.
                contentHash:
                  description: Sets the hash.
                  type: object
                  properties:
                    algorithm:
                      type: string
                      description: Gets or sets the content hash algorithm used to
                        hash the content.
                    value:
                      type: string
                      description: Gets or sets expected hash value of the content.
                  required:
                  - algorithm
                  - value
                version:
                  type: string
                  description: Sets the version of the content.
              x-ms-mutability:
              - create
              - update
        name:
          type: string
          readOnly: true
          description: Sets name of the resource.
        location:
          type: string
          readOnly: true
          description: Sets the location of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Sets the tags attached to the resource.
      description: The parameters supplied to the update module operation.
    Module:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
        properties:
          x-ms-client-flatten: true
          description: Gets the module properties.
          type: object
          properties:
            isGlobal:
              type: boolean
              description: Gets the isGlobal flag of the module.
            version:
              type: string
              description: Gets the version of the module.
            sizeInBytes:
              type: integer
              format: int64
              description: Gets the size in bytes of the module.
            activityCount:
              type: integer
              format: int32
              description: Gets the activity count of the module.
            provisioningState:
              type: string
              description: Gets the provisioning state of the module.
              enum:
              - Created
              - Creating
              - StartingImportModuleRunbook
              - RunningImportModuleRunbook
              - ContentRetrieved
              - ContentDownloaded
              - ContentValidated
              - ConnectionTypeImported
              - ContentStored
              - ModuleDataStored
              - ActivitiesStored
              - ModuleImportRunbookComplete
              - Succeeded
              - Failed
              - Canceled
              - Updating
              x-ms-enum:
                name: ModuleProvisioningState
                modelAsString: true
            contentLink:
              description: Gets or sets the contentLink of the module.
              type: object
              properties:
                uri:
                  type: string
                  description: Sets the uri of the content.
                contentHash:
                  description: Sets the hash.
                  type: object
                  properties:
                    algorithm:
                      type: string
                      description: Gets or sets the content hash algorithm used to
                        hash the content.
                    value:
                      type: string
                      description: Gets or sets expected hash value of the content.
                  required:
                  - algorithm
                  - value
                version:
                  type: string
                  description: Sets the version of the content.
              x-ms-mutability:
              - create
              - update
            error:
              description: Gets the error info of the module.
              type: object
              properties:
                code:
                  type: string
                  description: Gets the error code.
                message:
                  type: string
                  description: Gets the error message.
            creationTime:
              type: string
              format: date-time
              description: Gets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
            isComposite:
              type: boolean
              description: Gets type of module, if its composite or not.
        etag:
          type: string
          description: Gets the etag of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
      description: The core properties of ARM resources
      x-ms-azure-resource: true
