openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content
  : get:
      tags:
      - RunbookDraft
      operationId: RunbookDraft_GetContent
      description: Retrieve the content of runbook draft identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/powershell:
              schema:
                type: string
                format: binary
        default:
          description: Automation error response describing why the operation failed.
          content:
            text/powershell:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - RunbookDraft
      operationId: RunbookDraft_ReplaceContent
      description: Replaces the runbook draft content.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          text/powershell:
            schema:
              type: object
              format: file
        description: The runbook draft content.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: binary
        '202':
          description: Accepted and  the operation will complete asynchronously.
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft
  : get:
      tags:
      - RunbookDraft
      operationId: RunbookDraft_Get
      description: Retrieve the runbook draft identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  inEdit:
                    type: boolean
                    description: Gets or sets whether runbook is in edit mode.
                  draftContentLink:
                    description: Gets or sets the draft runbook content link.
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Sets the uri of the content.
                      contentHash:
                        description: Sets the hash.
                        type: object
                        properties:
                          algorithm:
                            type: string
                            description: Gets or sets the content hash algorithm used
                              to hash the content.
                          value:
                            type: string
                            description: Gets or sets expected hash value of the content.
                        required:
                        - algorithm
                        - value
                      version:
                        type: string
                        description: Sets the version of the content.
                    x-ms-mutability:
                    - create
                    - update
                  creationTime:
                    type: string
                    format: date-time
                    description: Gets or sets the creation time of the runbook draft.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets or sets the last modified time of the runbook
                      draft.
                    nullable: false
                  parameters:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Gets or sets the type of the parameter.
                        isMandatory:
                          type: boolean
                          description: Gets or sets a Boolean value to indicate whether
                            the parameter is mandatory or not.
                        position:
                          type: integer
                          format: int32
                          description: Get or sets the position of the parameter.
                        defaultValue:
                          type: string
                          description: Gets or sets the default value of parameter.
                      description: Definition of the runbook parameter type.
                    description: Gets or sets the runbook draft parameters.
                  outputTypes:
                    type: array
                    items:
                      type: string
                    description: Gets or sets the runbook output types.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/publish
  : post:
      tags:
      - Runbook
      operationId: Runbook_Publish
      description: Publish runbook draft.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The parameters supplied to the publish runbook operation.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '202':
          description: Accepted and  the operation will complete asynchronously.
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit
  : post:
      tags:
      - RunbookDraft
      operationId: RunbookDraft_UndoEdit
      description: Undo draft edit to last known published state identified by runbook
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    enum:
                    - Continue
                    - SwitchingProtocols
                    - OK
                    - Created
                    - Accepted
                    - NonAuthoritativeInformation
                    - NoContent
                    - ResetContent
                    - PartialContent
                    - MultipleChoices
                    - Ambiguous
                    - MovedPermanently
                    - Moved
                    - Found
                    - Redirect
                    - SeeOther
                    - RedirectMethod
                    - NotModified
                    - UseProxy
                    - Unused
                    - TemporaryRedirect
                    - RedirectKeepVerb
                    - BadRequest
                    - Unauthorized
                    - PaymentRequired
                    - Forbidden
                    - NotFound
                    - MethodNotAllowed
                    - NotAcceptable
                    - ProxyAuthenticationRequired
                    - RequestTimeout
                    - Conflict
                    - Gone
                    - LengthRequired
                    - PreconditionFailed
                    - RequestEntityTooLarge
                    - RequestUriTooLong
                    - UnsupportedMediaType
                    - RequestedRangeNotSatisfiable
                    - ExpectationFailed
                    - UpgradeRequired
                    - InternalServerError
                    - NotImplemented
                    - BadGateway
                    - ServiceUnavailable
                    - GatewayTimeout
                    - HttpVersionNotSupported
                    x-ms-enum:
                      name: HttpStatusCode
                      modelAsString: true
                  requestId:
                    type: string
                description: The response model for the undo edit runbook operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/content
  : get:
      tags:
      - Runbook
      operationId: Runbook_GetContent
      description: Retrieve the content of runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/powershell:
              schema:
                type: string
                format: binary
        default:
          description: Automation error response describing why the operation failed.
          content:
            text/powershell:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}
  : get:
      tags:
      - Runbook
      operationId: Runbook_Get
      description: Retrieve the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the runbook properties.
                    type: object
                    properties:
                      runbookType:
                        type: string
                        description: Gets or sets the type of the runbook.
                        enum:
                        - Script
                        - Graph
                        - PowerShellWorkflow
                        - PowerShell
                        - GraphPowerShellWorkflow
                        - GraphPowerShell
                        - Python2
                        - Python3
                        - PowerShell72
                        x-ms-enum:
                          name: RunbookTypeEnum
                          modelAsString: true
                      publishContentLink:
                        description: Gets or sets the published runbook content link.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      state:
                        type: string
                        description: Gets or sets the state of the runbook.
                        enum:
                        - New
                        - Edit
                        - Published
                        x-ms-enum:
                          name: RunbookState
                          modelAsString: true
                      logVerbose:
                        type: boolean
                        description: Gets or sets verbose log option.
                      logProgress:
                        type: boolean
                        description: Gets or sets progress log option.
                      logActivityTrace:
                        type: integer
                        format: int32
                        description: Gets or sets the option to log activity trace
                          of the runbook.
                      jobCount:
                        type: integer
                        format: int32
                        description: Gets or sets the job count of the runbook.
                      parameters:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Gets or sets the type of the parameter.
                            isMandatory:
                              type: boolean
                              description: Gets or sets a Boolean value to indicate
                                whether the parameter is mandatory or not.
                            position:
                              type: integer
                              format: int32
                              description: Get or sets the position of the parameter.
                            defaultValue:
                              type: string
                              description: Gets or sets the default value of parameter.
                          description: Definition of the runbook parameter type.
                        description: Gets or sets the runbook parameters.
                      outputTypes:
                        type: array
                        items:
                          type: string
                        description: Gets or sets the runbook output types.
                      draft:
                        description: Gets or sets the draft runbook properties.
                        type: object
                        properties:
                          inEdit:
                            type: boolean
                            description: Gets or sets whether runbook is in edit mode.
                          draftContentLink:
                            description: Gets or sets the draft runbook content link.
                            type: object
                            properties:
                              uri:
                                type: string
                                description: Sets the uri of the content.
                              contentHash:
                                description: Sets the hash.
                                type: object
                                properties:
                                  algorithm:
                                    type: string
                                    description: Gets or sets the content hash algorithm
                                      used to hash the content.
                                  value:
                                    type: string
                                    description: Gets or sets expected hash value
                                      of the content.
                                required:
                                - algorithm
                                - value
                              version:
                                type: string
                                description: Sets the version of the content.
                            x-ms-mutability:
                            - create
                            - update
                          creationTime:
                            type: string
                            format: date-time
                            description: Gets or sets the creation time of the runbook
                              draft.
                            nullable: false
                          lastModifiedTime:
                            type: string
                            format: date-time
                            description: Gets or sets the last modified time of the
                              runbook draft.
                            nullable: false
                          parameters:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Gets or sets the type of the parameter.
                                isMandatory:
                                  type: boolean
                                  description: Gets or sets a Boolean value to indicate
                                    whether the parameter is mandatory or not.
                                position:
                                  type: integer
                                  format: int32
                                  description: Get or sets the position of the parameter.
                                defaultValue:
                                  type: string
                                  description: Gets or sets the default value of parameter.
                              description: Definition of the runbook parameter type.
                            description: Gets or sets the runbook draft parameters.
                          outputTypes:
                            type: array
                            items:
                              type: string
                            description: Gets or sets the runbook output types.
                      provisioningState:
                        type: string
                        description: Gets or sets the provisioning state of the runbook.
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: RunbookProvisioningState
                          modelAsString: false
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    put:
      tags:
      - Runbook
      operationId: Runbook_CreateOrUpdate
      description: Create the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets runbook create or update properties.
                  type: object
                  properties:
                    logVerbose:
                      type: boolean
                      description: Gets or sets verbose log option.
                    logProgress:
                      type: boolean
                      description: Gets or sets progress log option.
                    runbookType:
                      type: string
                      description: Gets or sets the type of the runbook.
                      enum:
                      - Script
                      - Graph
                      - PowerShellWorkflow
                      - PowerShell
                      - GraphPowerShellWorkflow
                      - GraphPowerShell
                      - Python2
                      - Python3
                      - PowerShell72
                      x-ms-enum:
                        name: RunbookTypeEnum
                        modelAsString: true
                    draft:
                      description: Gets or sets the draft runbook properties.
                      type: object
                      properties:
                        inEdit:
                          type: boolean
                          description: Gets or sets whether runbook is in edit mode.
                        draftContentLink:
                          description: Gets or sets the draft runbook content link.
                          type: object
                          properties:
                            uri:
                              type: string
                              description: Sets the uri of the content.
                            contentHash:
                              description: Sets the hash.
                              type: object
                              properties:
                                algorithm:
                                  type: string
                                  description: Gets or sets the content hash algorithm
                                    used to hash the content.
                                value:
                                  type: string
                                  description: Gets or sets expected hash value of
                                    the content.
                              required:
                              - algorithm
                              - value
                            version:
                              type: string
                              description: Sets the version of the content.
                          x-ms-mutability:
                          - create
                          - update
                        creationTime:
                          type: string
                          format: date-time
                          description: Gets or sets the creation time of the runbook
                            draft.
                          nullable: false
                        lastModifiedTime:
                          type: string
                          format: date-time
                          description: Gets or sets the last modified time of the
                            runbook draft.
                          nullable: false
                        parameters:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              type:
                                type: string
                                description: Gets or sets the type of the parameter.
                              isMandatory:
                                type: boolean
                                description: Gets or sets a Boolean value to indicate
                                  whether the parameter is mandatory or not.
                              position:
                                type: integer
                                format: int32
                                description: Get or sets the position of the parameter.
                              defaultValue:
                                type: string
                                description: Gets or sets the default value of parameter.
                            description: Definition of the runbook parameter type.
                          description: Gets or sets the runbook draft parameters.
                        outputTypes:
                          type: array
                          items:
                            type: string
                          description: Gets or sets the runbook output types.
                    publishContentLink:
                      description: Gets or sets the published runbook content link.
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Sets the uri of the content.
                        contentHash:
                          description: Sets the hash.
                          type: object
                          properties:
                            algorithm:
                              type: string
                              description: Gets or sets the content hash algorithm
                                used to hash the content.
                            value:
                              type: string
                              description: Gets or sets expected hash value of the
                                content.
                          required:
                          - algorithm
                          - value
                        version:
                          type: string
                          description: Sets the version of the content.
                      x-ms-mutability:
                      - create
                      - update
                    description:
                      type: string
                      description: Gets or sets the description of the runbook.
                    logActivityTrace:
                      type: integer
                      format: int32
                      description: Gets or sets the activity-level tracing options
                        of the runbook.
                  required:
                  - runbookType
                name:
                  type: string
                  description: Gets or sets the name of the resource.
                location:
                  type: string
                  description: Gets or sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets the tags attached to the resource.
              required:
              - properties
              description: The parameters supplied to the create or update runbook
                operation.
        description: The create or update parameters for runbook. Provide either content
          link for a published runbook or draft, not both.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the runbook properties.
                    type: object
                    properties:
                      runbookType:
                        type: string
                        description: Gets or sets the type of the runbook.
                        enum:
                        - Script
                        - Graph
                        - PowerShellWorkflow
                        - PowerShell
                        - GraphPowerShellWorkflow
                        - GraphPowerShell
                        - Python2
                        - Python3
                        - PowerShell72
                        x-ms-enum:
                          name: RunbookTypeEnum
                          modelAsString: true
                      publishContentLink:
                        description: Gets or sets the published runbook content link.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      state:
                        type: string
                        description: Gets or sets the state of the runbook.
                        enum:
                        - New
                        - Edit
                        - Published
                        x-ms-enum:
                          name: RunbookState
                          modelAsString: true
                      logVerbose:
                        type: boolean
                        description: Gets or sets verbose log option.
                      logProgress:
                        type: boolean
                        description: Gets or sets progress log option.
                      logActivityTrace:
                        type: integer
                        format: int32
                        description: Gets or sets the option to log activity trace
                          of the runbook.
                      jobCount:
                        type: integer
                        format: int32
                        description: Gets or sets the job count of the runbook.
                      parameters:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Gets or sets the type of the parameter.
                            isMandatory:
                              type: boolean
                              description: Gets or sets a Boolean value to indicate
                                whether the parameter is mandatory or not.
                            position:
                              type: integer
                              format: int32
                              description: Get or sets the position of the parameter.
                            defaultValue:
                              type: string
                              description: Gets or sets the default value of parameter.
                          description: Definition of the runbook parameter type.
                        description: Gets or sets the runbook parameters.
                      outputTypes:
                        type: array
                        items:
                          type: string
                        description: Gets or sets the runbook output types.
                      draft:
                        description: Gets or sets the draft runbook properties.
                        type: object
                        properties:
                          inEdit:
                            type: boolean
                            description: Gets or sets whether runbook is in edit mode.
                          draftContentLink:
                            description: Gets or sets the draft runbook content link.
                            type: object
                            properties:
                              uri:
                                type: string
                                description: Sets the uri of the content.
                              contentHash:
                                description: Sets the hash.
                                type: object
                                properties:
                                  algorithm:
                                    type: string
                                    description: Gets or sets the content hash algorithm
                                      used to hash the content.
                                  value:
                                    type: string
                                    description: Gets or sets expected hash value
                                      of the content.
                                required:
                                - algorithm
                                - value
                              version:
                                type: string
                                description: Sets the version of the content.
                            x-ms-mutability:
                            - create
                            - update
                          creationTime:
                            type: string
                            format: date-time
                            description: Gets or sets the creation time of the runbook
                              draft.
                            nullable: false
                          lastModifiedTime:
                            type: string
                            format: date-time
                            description: Gets or sets the last modified time of the
                              runbook draft.
                            nullable: false
                          parameters:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Gets or sets the type of the parameter.
                                isMandatory:
                                  type: boolean
                                  description: Gets or sets a Boolean value to indicate
                                    whether the parameter is mandatory or not.
                                position:
                                  type: integer
                                  format: int32
                                  description: Get or sets the position of the parameter.
                                defaultValue:
                                  type: string
                                  description: Gets or sets the default value of parameter.
                              description: Definition of the runbook parameter type.
                            description: Gets or sets the runbook draft parameters.
                          outputTypes:
                            type: array
                            items:
                              type: string
                            description: Gets or sets the runbook output types.
                      provisioningState:
                        type: string
                        description: Gets or sets the provisioning state of the runbook.
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: RunbookProvisioningState
                          modelAsString: false
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the runbook properties.
                    type: object
                    properties:
                      runbookType:
                        type: string
                        description: Gets or sets the type of the runbook.
                        enum:
                        - Script
                        - Graph
                        - PowerShellWorkflow
                        - PowerShell
                        - GraphPowerShellWorkflow
                        - GraphPowerShell
                        - Python2
                        - Python3
                        - PowerShell72
                        x-ms-enum:
                          name: RunbookTypeEnum
                          modelAsString: true
                      publishContentLink:
                        description: Gets or sets the published runbook content link.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      state:
                        type: string
                        description: Gets or sets the state of the runbook.
                        enum:
                        - New
                        - Edit
                        - Published
                        x-ms-enum:
                          name: RunbookState
                          modelAsString: true
                      logVerbose:
                        type: boolean
                        description: Gets or sets verbose log option.
                      logProgress:
                        type: boolean
                        description: Gets or sets progress log option.
                      logActivityTrace:
                        type: integer
                        format: int32
                        description: Gets or sets the option to log activity trace
                          of the runbook.
                      jobCount:
                        type: integer
                        format: int32
                        description: Gets or sets the job count of the runbook.
                      parameters:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Gets or sets the type of the parameter.
                            isMandatory:
                              type: boolean
                              description: Gets or sets a Boolean value to indicate
                                whether the parameter is mandatory or not.
                            position:
                              type: integer
                              format: int32
                              description: Get or sets the position of the parameter.
                            defaultValue:
                              type: string
                              description: Gets or sets the default value of parameter.
                          description: Definition of the runbook parameter type.
                        description: Gets or sets the runbook parameters.
                      outputTypes:
                        type: array
                        items:
                          type: string
                        description: Gets or sets the runbook output types.
                      draft:
                        description: Gets or sets the draft runbook properties.
                        type: object
                        properties:
                          inEdit:
                            type: boolean
                            description: Gets or sets whether runbook is in edit mode.
                          draftContentLink:
                            description: Gets or sets the draft runbook content link.
                            type: object
                            properties:
                              uri:
                                type: string
                                description: Sets the uri of the content.
                              contentHash:
                                description: Sets the hash.
                                type: object
                                properties:
                                  algorithm:
                                    type: string
                                    description: Gets or sets the content hash algorithm
                                      used to hash the content.
                                  value:
                                    type: string
                                    description: Gets or sets expected hash value
                                      of the content.
                                required:
                                - algorithm
                                - value
                              version:
                                type: string
                                description: Sets the version of the content.
                            x-ms-mutability:
                            - create
                            - update
                          creationTime:
                            type: string
                            format: date-time
                            description: Gets or sets the creation time of the runbook
                              draft.
                            nullable: false
                          lastModifiedTime:
                            type: string
                            format: date-time
                            description: Gets or sets the last modified time of the
                              runbook draft.
                            nullable: false
                          parameters:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Gets or sets the type of the parameter.
                                isMandatory:
                                  type: boolean
                                  description: Gets or sets a Boolean value to indicate
                                    whether the parameter is mandatory or not.
                                position:
                                  type: integer
                                  format: int32
                                  description: Get or sets the position of the parameter.
                                defaultValue:
                                  type: string
                                  description: Gets or sets the default value of parameter.
                              description: Definition of the runbook parameter type.
                            description: Gets or sets the runbook draft parameters.
                          outputTypes:
                            type: array
                            items:
                              type: string
                            description: Gets or sets the runbook output types.
                      provisioningState:
                        type: string
                        description: Gets or sets the provisioning state of the runbook.
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: RunbookProvisioningState
                          modelAsString: false
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Runbook
      operationId: Runbook_Update
      description: Update the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the runbook update properties.
                  type: object
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the runbook.
                    logVerbose:
                      type: boolean
                      description: Gets or sets verbose log option.
                    logProgress:
                      type: boolean
                      description: Gets or sets progress log option.
                    logActivityTrace:
                      type: integer
                      format: int32
                      description: Gets or sets the activity-level tracing options
                        of the runbook.
                name:
                  type: string
                  description: Gets or sets the name of the resource.
                location:
                  type: string
                  description: Gets or sets the location of the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets the tags attached to the resource.
              description: The parameters supplied to the update runbook operation.
        description: The update parameters for runbook.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Azure Region where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the runbook properties.
                    type: object
                    properties:
                      runbookType:
                        type: string
                        description: Gets or sets the type of the runbook.
                        enum:
                        - Script
                        - Graph
                        - PowerShellWorkflow
                        - PowerShell
                        - GraphPowerShellWorkflow
                        - GraphPowerShell
                        - Python2
                        - Python3
                        - PowerShell72
                        x-ms-enum:
                          name: RunbookTypeEnum
                          modelAsString: true
                      publishContentLink:
                        description: Gets or sets the published runbook content link.
                        type: object
                        properties:
                          uri:
                            type: string
                            description: Sets the uri of the content.
                          contentHash:
                            description: Sets the hash.
                            type: object
                            properties:
                              algorithm:
                                type: string
                                description: Gets or sets the content hash algorithm
                                  used to hash the content.
                              value:
                                type: string
                                description: Gets or sets expected hash value of the
                                  content.
                            required:
                            - algorithm
                            - value
                          version:
                            type: string
                            description: Sets the version of the content.
                        x-ms-mutability:
                        - create
                        - update
                      state:
                        type: string
                        description: Gets or sets the state of the runbook.
                        enum:
                        - New
                        - Edit
                        - Published
                        x-ms-enum:
                          name: RunbookState
                          modelAsString: true
                      logVerbose:
                        type: boolean
                        description: Gets or sets verbose log option.
                      logProgress:
                        type: boolean
                        description: Gets or sets progress log option.
                      logActivityTrace:
                        type: integer
                        format: int32
                        description: Gets or sets the option to log activity trace
                          of the runbook.
                      jobCount:
                        type: integer
                        format: int32
                        description: Gets or sets the job count of the runbook.
                      parameters:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Gets or sets the type of the parameter.
                            isMandatory:
                              type: boolean
                              description: Gets or sets a Boolean value to indicate
                                whether the parameter is mandatory or not.
                            position:
                              type: integer
                              format: int32
                              description: Get or sets the position of the parameter.
                            defaultValue:
                              type: string
                              description: Gets or sets the default value of parameter.
                          description: Definition of the runbook parameter type.
                        description: Gets or sets the runbook parameters.
                      outputTypes:
                        type: array
                        items:
                          type: string
                        description: Gets or sets the runbook output types.
                      draft:
                        description: Gets or sets the draft runbook properties.
                        type: object
                        properties:
                          inEdit:
                            type: boolean
                            description: Gets or sets whether runbook is in edit mode.
                          draftContentLink:
                            description: Gets or sets the draft runbook content link.
                            type: object
                            properties:
                              uri:
                                type: string
                                description: Sets the uri of the content.
                              contentHash:
                                description: Sets the hash.
                                type: object
                                properties:
                                  algorithm:
                                    type: string
                                    description: Gets or sets the content hash algorithm
                                      used to hash the content.
                                  value:
                                    type: string
                                    description: Gets or sets expected hash value
                                      of the content.
                                required:
                                - algorithm
                                - value
                              version:
                                type: string
                                description: Sets the version of the content.
                            x-ms-mutability:
                            - create
                            - update
                          creationTime:
                            type: string
                            format: date-time
                            description: Gets or sets the creation time of the runbook
                              draft.
                            nullable: false
                          lastModifiedTime:
                            type: string
                            format: date-time
                            description: Gets or sets the last modified time of the
                              runbook draft.
                            nullable: false
                          parameters:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Gets or sets the type of the parameter.
                                isMandatory:
                                  type: boolean
                                  description: Gets or sets a Boolean value to indicate
                                    whether the parameter is mandatory or not.
                                position:
                                  type: integer
                                  format: int32
                                  description: Get or sets the position of the parameter.
                                defaultValue:
                                  type: string
                                  description: Gets or sets the default value of parameter.
                              description: Definition of the runbook parameter type.
                            description: Gets or sets the runbook draft parameters.
                          outputTypes:
                            type: array
                            items:
                              type: string
                            description: Gets or sets the runbook output types.
                      provisioningState:
                        type: string
                        description: Gets or sets the provisioning state of the runbook.
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: RunbookProvisioningState
                          modelAsString: false
                      lastModifiedBy:
                        type: string
                        description: Gets or sets the last modified by.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                  etag:
                    type: string
                    description: Gets or sets the etag of the resource.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    delete:
      tags:
      - Runbook
      operationId: Runbook_Delete
      description: Delete the runbook by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks
  : get:
      tags:
      - Runbook
      operationId: Runbook_ListByAutomationAccount
      description: Retrieve a list of runbooks.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the runbook properties.
                          type: object
                          properties:
                            runbookType:
                              type: string
                              description: Gets or sets the type of the runbook.
                              enum:
                              - Script
                              - Graph
                              - PowerShellWorkflow
                              - PowerShell
                              - GraphPowerShellWorkflow
                              - GraphPowerShell
                              - Python2
                              - Python3
                              - PowerShell72
                              x-ms-enum:
                                name: RunbookTypeEnum
                                modelAsString: true
                            publishContentLink:
                              description: Gets or sets the published runbook content
                                link.
                              type: object
                              properties:
                                uri:
                                  type: string
                                  description: Sets the uri of the content.
                                contentHash:
                                  description: Sets the hash.
                                  type: object
                                  properties:
                                    algorithm:
                                      type: string
                                      description: Gets or sets the content hash algorithm
                                        used to hash the content.
                                    value:
                                      type: string
                                      description: Gets or sets expected hash value
                                        of the content.
                                  required:
                                  - algorithm
                                  - value
                                version:
                                  type: string
                                  description: Sets the version of the content.
                              x-ms-mutability:
                              - create
                              - update
                            state:
                              type: string
                              description: Gets or sets the state of the runbook.
                              enum:
                              - New
                              - Edit
                              - Published
                              x-ms-enum:
                                name: RunbookState
                                modelAsString: true
                            logVerbose:
                              type: boolean
                              description: Gets or sets verbose log option.
                            logProgress:
                              type: boolean
                              description: Gets or sets progress log option.
                            logActivityTrace:
                              type: integer
                              format: int32
                              description: Gets or sets the option to log activity
                                trace of the runbook.
                            jobCount:
                              type: integer
                              format: int32
                              description: Gets or sets the job count of the runbook.
                            parameters:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Gets or sets the type of the parameter.
                                  isMandatory:
                                    type: boolean
                                    description: Gets or sets a Boolean value to indicate
                                      whether the parameter is mandatory or not.
                                  position:
                                    type: integer
                                    format: int32
                                    description: Get or sets the position of the parameter.
                                  defaultValue:
                                    type: string
                                    description: Gets or sets the default value of
                                      parameter.
                                description: Definition of the runbook parameter type.
                              description: Gets or sets the runbook parameters.
                            outputTypes:
                              type: array
                              items:
                                type: string
                              description: Gets or sets the runbook output types.
                            draft:
                              description: Gets or sets the draft runbook properties.
                              type: object
                              properties:
                                inEdit:
                                  type: boolean
                                  description: Gets or sets whether runbook is in
                                    edit mode.
                                draftContentLink:
                                  description: Gets or sets the draft runbook content
                                    link.
                                  type: object
                                  properties:
                                    uri:
                                      type: string
                                      description: Sets the uri of the content.
                                    contentHash:
                                      description: Sets the hash.
                                      type: object
                                      properties:
                                        algorithm:
                                          type: string
                                          description: Gets or sets the content hash
                                            algorithm used to hash the content.
                                        value:
                                          type: string
                                          description: Gets or sets expected hash
                                            value of the content.
                                      required:
                                      - algorithm
                                      - value
                                    version:
                                      type: string
                                      description: Sets the version of the content.
                                  x-ms-mutability:
                                  - create
                                  - update
                                creationTime:
                                  type: string
                                  format: date-time
                                  description: Gets or sets the creation time of the
                                    runbook draft.
                                  nullable: false
                                lastModifiedTime:
                                  type: string
                                  format: date-time
                                  description: Gets or sets the last modified time
                                    of the runbook draft.
                                  nullable: false
                                parameters:
                                  type: object
                                  additionalProperties:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: Gets or sets the type of the
                                          parameter.
                                      isMandatory:
                                        type: boolean
                                        description: Gets or sets a Boolean value
                                          to indicate whether the parameter is mandatory
                                          or not.
                                      position:
                                        type: integer
                                        format: int32
                                        description: Get or sets the position of the
                                          parameter.
                                      defaultValue:
                                        type: string
                                        description: Gets or sets the default value
                                          of parameter.
                                    description: Definition of the runbook parameter
                                      type.
                                  description: Gets or sets the runbook draft parameters.
                                outputTypes:
                                  type: array
                                  items:
                                    type: string
                                  description: Gets or sets the runbook output types.
                            provisioningState:
                              type: string
                              description: Gets or sets the provisioning state of
                                the runbook.
                              enum:
                              - Succeeded
                              x-ms-enum:
                                name: RunbookProvisioningState
                                modelAsString: false
                            lastModifiedBy:
                              type: string
                              description: Gets or sets the last modified by.
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets or sets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                        etag:
                          type: string
                          description: Gets or sets the etag of the resource.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of runbooks.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list runbook operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}
  : get:
      tags:
      - TestJobStream
      operationId: TestJobStreams_Get
      description: Retrieve a test job stream of the test job identified by runbook
        name and stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: runbookName
        in: path
        required: true
        description: The runbook name.
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z-_0-9]*$
      - name: jobStreamId
        in: path
        required: true
        description: The job stream id.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Gets or sets the id of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the id of the job stream.
                    type: object
                    properties:
                      jobStreamId:
                        type: string
                        description: Gets or sets the id of the job stream.
                      time:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time of the job.
                        nullable: false
                      streamType:
                        type: string
                        description: Gets or sets the stream type.
                        enum:
                        - Progress
                        - Output
                        - Warning
                        - Error
                        - Debug
                        - Verbose
                        - Any
                        x-ms-enum:
                          name: JobStreamType
                          modelAsString: true
                      streamText:
                        type: string
                        description: Gets or sets the stream text.
                      summary:
                        type: string
                        description: Gets or sets the summary.
                      value:
                        type: object
                        additionalProperties:
                          type: object
                        description: Gets or sets the values of the job stream.
                description: Definition of the job stream.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
[...]
