openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules/{scheduleName}
  : put:
      tags:
      - Schedule
      operationId: Schedule_CreateOrUpdate
      description: Create a schedule.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scheduleName
        in: path
        required: true
        description: The schedule name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Schedule.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the list of schedule properties.
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the schedule.
                    startTime:
                      type: string
                      format: date-time
                      description: Gets or sets the start time of the schedule.
                      nullable: false
                    expiryTime:
                      type: string
                      format: date-time
                      description: Gets or sets the end time of the schedule.
                      nullable: true
                    interval:
                      description: Gets or sets the interval of the schedule.
                    frequency:
                      type: string
                      description: Gets or sets the frequency of the schedule.
                      enum:
                      - OneTime
                      - Day
                      - Hour
                      - Week
                      - Month
                      - Minute
                      x-ms-enum:
                        name: ScheduleFrequency
                        modelAsString: true
                        values:
                        - value: OneTime
                        - value: Day
                        - value: Hour
                        - value: Week
                        - value: Month
                        - value: Minute
                          description: The minimum allowed interval for Minute schedules
                            is 15 minutes.
                    timeZone:
                      type: string
                      description: Gets or sets the time zone of the schedule.
                    advancedSchedule:
                      description: Gets or sets the AdvancedSchedule.
                      properties:
                        weekDays:
                          type: array
                          items:
                            type: string
                          description: Days of the week that the job should execute
                            on.
                        monthDays:
                          type: array
                          items:
                            type: integer
                            format: int32
                            nullable: false
                          description: Days of the month that the job should execute
                            on. Must be between 1 and 31.
                        monthlyOccurrences:
                          type: array
                          items:
                            properties:
                              occurrence:
                                type: integer
                                format: int32
                                description: Occurrence of the week within the month.
                                  Must be between 1 and 5
                              day:
                                type: string
                                description: Day of the occurrence. Must be one of
                                  monday, tuesday, wednesday, thursday, friday, saturday,
                                  sunday.
                                enum:
                                - Monday
                                - Tuesday
                                - Wednesday
                                - Thursday
                                - Friday
                                - Saturday
                                - Sunday
                                x-ms-enum:
                                  name: ScheduleDay
                                  modelAsString: true
                            description: The properties of the create advanced schedule
                              monthly occurrence.
                          x-ms-identifiers: []
                          description: Occurrences of days within a month.
                  required:
                  - startTime
                  - frequency
              required:
              - name
              - properties
              description: The parameters supplied to the create or update schedule
                operation.
        description: The parameters supplied to the create or update schedule operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the schedule.
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the schedule.
                        nullable: false
                      startTimeOffsetMinutes:
                        readOnly: true
                        type: number
                        format: double
                        description: Gets the start time's offset in minutes.
                        nullable: false
                      expiryTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the schedule.
                        nullable: true
                      expiryTimeOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the expiry time's offset in minutes.
                        nullable: false
                      isEnabled:
                        type: boolean
                        default: false
                        description: Gets or sets a value indicating whether this
                          schedule is enabled.
                      nextRun:
                        type: string
                        format: date-time
                        description: Gets or sets the next run time of the schedule.
                        nullable: true
                      nextRunOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the next run time's offset in minutes.
                        nullable: false
                      interval:
                        description: Gets or sets the interval of the schedule.
                      frequency:
                        type: string
                        description: Gets or sets the frequency of the schedule.
                        enum:
                        - OneTime
                        - Day
                        - Hour
                        - Week
                        - Month
                        - Minute
                        x-ms-enum:
                          name: ScheduleFrequency
                          modelAsString: true
                          values:
                          - value: OneTime
                          - value: Day
                          - value: Hour
                          - value: Week
                          - value: Month
                          - value: Minute
                            description: The minimum allowed interval for Minute schedules
                              is 15 minutes.
                      timeZone:
                        type: string
                        description: Gets or sets the time zone of the schedule.
                      advancedSchedule:
                        description: Gets or sets the advanced schedule.
                        properties:
                          weekDays:
                            type: array
                            items:
                              type: string
                            description: Days of the week that the job should execute
                              on.
                          monthDays:
                            type: array
                            items:
                              type: integer
                              format: int32
                              nullable: false
                            description: Days of the month that the job should execute
                              on. Must be between 1 and 31.
                          monthlyOccurrences:
                            type: array
                            items:
                              properties:
                                occurrence:
                                  type: integer
                                  format: int32
                                  description: Occurrence of the week within the month.
                                    Must be between 1 and 5
                                day:
                                  type: string
                                  description: Day of the occurrence. Must be one
                                    of monday, tuesday, wednesday, thursday, friday,
                                    saturday, sunday.
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: ScheduleDay
                                    modelAsString: true
                              description: The properties of the create advanced schedule
                                monthly occurrence.
                            x-ms-identifiers: []
                            description: Occurrences of days within a month.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the schedule.
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the schedule.
                        nullable: false
                      startTimeOffsetMinutes:
                        readOnly: true
                        type: number
                        format: double
                        description: Gets the start time's offset in minutes.
                        nullable: false
                      expiryTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the schedule.
                        nullable: true
                      expiryTimeOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the expiry time's offset in minutes.
                        nullable: false
                      isEnabled:
                        type: boolean
                        default: false
                        description: Gets or sets a value indicating whether this
                          schedule is enabled.
                      nextRun:
                        type: string
                        format: date-time
                        description: Gets or sets the next run time of the schedule.
                        nullable: true
                      nextRunOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the next run time's offset in minutes.
                        nullable: false
                      interval:
                        description: Gets or sets the interval of the schedule.
                      frequency:
                        type: string
                        description: Gets or sets the frequency of the schedule.
                        enum:
                        - OneTime
                        - Day
                        - Hour
                        - Week
                        - Month
                        - Minute
                        x-ms-enum:
                          name: ScheduleFrequency
                          modelAsString: true
                          values:
                          - value: OneTime
                          - value: Day
                          - value: Hour
                          - value: Week
                          - value: Month
                          - value: Minute
                            description: The minimum allowed interval for Minute schedules
                              is 15 minutes.
                      timeZone:
                        type: string
                        description: Gets or sets the time zone of the schedule.
                      advancedSchedule:
                        description: Gets or sets the advanced schedule.
                        properties:
                          weekDays:
                            type: array
                            items:
                              type: string
                            description: Days of the week that the job should execute
                              on.
                          monthDays:
                            type: array
                            items:
                              type: integer
                              format: int32
                              nullable: false
                            description: Days of the month that the job should execute
                              on. Must be between 1 and 31.
                          monthlyOccurrences:
                            type: array
                            items:
                              properties:
                                occurrence:
                                  type: integer
                                  format: int32
                                  description: Occurrence of the week within the month.
                                    Must be between 1 and 5
                                day:
                                  type: string
                                  description: Day of the occurrence. Must be one
                                    of monday, tuesday, wednesday, thursday, friday,
                                    saturday, sunday.
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: ScheduleDay
                                    modelAsString: true
                              description: The properties of the create advanced schedule
                                monthly occurrence.
                            x-ms-identifiers: []
                            description: Occurrences of days within a month.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '409':
          description: Conflict
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Schedule
      operationId: Schedule_Update
      description: Update the schedule identified by schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scheduleName
        in: path
        required: true
        description: The schedule name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the Schedule.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the list of schedule properties.
                  properties:
                    description:
                      type: string
                      description: Gets or sets the description of the schedule.
                    isEnabled:
                      type: boolean
                      description: Gets or sets a value indicating whether this schedule
                        is enabled.
              description: The parameters supplied to the update schedule operation.
        description: The parameters supplied to the update schedule operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the schedule.
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the schedule.
                        nullable: false
                      startTimeOffsetMinutes:
                        readOnly: true
                        type: number
                        format: double
                        description: Gets the start time's offset in minutes.
                        nullable: false
                      expiryTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the schedule.
                        nullable: true
                      expiryTimeOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the expiry time's offset in minutes.
                        nullable: false
                      isEnabled:
                        type: boolean
                        default: false
                        description: Gets or sets a value indicating whether this
                          schedule is enabled.
                      nextRun:
                        type: string
                        format: date-time
                        description: Gets or sets the next run time of the schedule.
                        nullable: true
                      nextRunOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the next run time's offset in minutes.
                        nullable: false
                      interval:
                        description: Gets or sets the interval of the schedule.
                      frequency:
                        type: string
                        description: Gets or sets the frequency of the schedule.
                        enum:
                        - OneTime
                        - Day
                        - Hour
                        - Week
                        - Month
                        - Minute
                        x-ms-enum:
                          name: ScheduleFrequency
                          modelAsString: true
                          values:
                          - value: OneTime
                          - value: Day
                          - value: Hour
                          - value: Week
                          - value: Month
                          - value: Minute
                            description: The minimum allowed interval for Minute schedules
                              is 15 minutes.
                      timeZone:
                        type: string
                        description: Gets or sets the time zone of the schedule.
                      advancedSchedule:
                        description: Gets or sets the advanced schedule.
                        properties:
                          weekDays:
                            type: array
                            items:
                              type: string
                            description: Days of the week that the job should execute
                              on.
                          monthDays:
                            type: array
                            items:
                              type: integer
                              format: int32
                              nullable: false
                            description: Days of the month that the job should execute
                              on. Must be between 1 and 31.
                          monthlyOccurrences:
                            type: array
                            items:
                              properties:
                                occurrence:
                                  type: integer
                                  format: int32
                                  description: Occurrence of the week within the month.
                                    Must be between 1 and 5
                                day:
                                  type: string
                                  description: Day of the occurrence. Must be one
                                    of monday, tuesday, wednesday, thursday, friday,
                                    saturday, sunday.
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: ScheduleDay
                                    modelAsString: true
                              description: The properties of the create advanced schedule
                                monthly occurrence.
                            x-ms-identifiers: []
                            description: Occurrences of days within a month.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Schedule
      operationId: Schedule_Get
      description: Retrieve the schedule identified by schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scheduleName
        in: path
        required: true
        description: The schedule name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the schedule.
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: Gets or sets the start time of the schedule.
                        nullable: false
                      startTimeOffsetMinutes:
                        readOnly: true
                        type: number
                        format: double
                        description: Gets the start time's offset in minutes.
                        nullable: false
                      expiryTime:
                        type: string
                        format: date-time
                        description: Gets or sets the end time of the schedule.
                        nullable: true
                      expiryTimeOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the expiry time's offset in minutes.
                        nullable: false
                      isEnabled:
                        type: boolean
                        default: false
                        description: Gets or sets a value indicating whether this
                          schedule is enabled.
                      nextRun:
                        type: string
                        format: date-time
                        description: Gets or sets the next run time of the schedule.
                        nullable: true
                      nextRunOffsetMinutes:
                        type: number
                        format: double
                        description: Gets or sets the next run time's offset in minutes.
                        nullable: false
                      interval:
                        description: Gets or sets the interval of the schedule.
                      frequency:
                        type: string
                        description: Gets or sets the frequency of the schedule.
                        enum:
                        - OneTime
                        - Day
                        - Hour
                        - Week
                        - Month
                        - Minute
                        x-ms-enum:
                          name: ScheduleFrequency
                          modelAsString: true
                          values:
                          - value: OneTime
                          - value: Day
                          - value: Hour
                          - value: Week
                          - value: Month
                          - value: Minute
                            description: The minimum allowed interval for Minute schedules
                              is 15 minutes.
                      timeZone:
                        type: string
                        description: Gets or sets the time zone of the schedule.
                      advancedSchedule:
                        description: Gets or sets the advanced schedule.
                        properties:
                          weekDays:
                            type: array
                            items:
                              type: string
                            description: Days of the week that the job should execute
                              on.
                          monthDays:
                            type: array
                            items:
                              type: integer
                              format: int32
                              nullable: false
                            description: Days of the month that the job should execute
                              on. Must be between 1 and 31.
                          monthlyOccurrences:
                            type: array
                            items:
                              properties:
                                occurrence:
                                  type: integer
                                  format: int32
                                  description: Occurrence of the week within the month.
                                    Must be between 1 and 5
                                day:
                                  type: string
                                  description: Day of the occurrence. Must be one
                                    of monday, tuesday, wednesday, thursday, friday,
                                    saturday, sunday.
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: ScheduleDay
                                    modelAsString: true
                              description: The properties of the create advanced schedule
                                monthly occurrence.
                            x-ms-identifiers: []
                            description: Occurrences of days within a month.
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    delete:
      tags:
      - Schedule
      operationId: Schedule_Delete
      description: Delete the schedule identified by schedule name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scheduleName
        in: path
        required: true
        description: The schedule name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules
  : get:
      tags:
      - Schedule
      operationId: Schedule_ListByAutomationAccount
      description: Retrieve a list of schedules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the schedule.
                          properties:
                            startTime:
                              type: string
                              format: date-time
                              description: Gets or sets the start time of the schedule.
                              nullable: false
                            startTimeOffsetMinutes:
                              readOnly: true
                              type: number
                              format: double
                              description: Gets the start time's offset in minutes.
                              nullable: false
                            expiryTime:
                              type: string
                              format: date-time
                              description: Gets or sets the end time of the schedule.
                              nullable: true
                            expiryTimeOffsetMinutes:
                              type: number
                              format: double
                              description: Gets or sets the expiry time's offset in
                                minutes.
                              nullable: false
                            isEnabled:
                              type: boolean
                              default: false
                              description: Gets or sets a value indicating whether
                                this schedule is enabled.
                            nextRun:
                              type: string
                              format: date-time
                              description: Gets or sets the next run time of the schedule.
                              nullable: true
                            nextRunOffsetMinutes:
                              type: number
                              format: double
                              description: Gets or sets the next run time's offset
                                in minutes.
                              nullable: false
                            interval:
                              description: Gets or sets the interval of the schedule.
                            frequency:
                              type: string
                              description: Gets or sets the frequency of the schedule.
                              enum:
                              - OneTime
                              - Day
                              - Hour
                              - Week
                              - Month
                              - Minute
                              x-ms-enum:
                                name: ScheduleFrequency
                                modelAsString: true
                                values:
                                - value: OneTime
                                - value: Day
                                - value: Hour
                                - value: Week
                                - value: Month
                                - value: Minute
                                  description: The minimum allowed interval for Minute
                                    schedules is 15 minutes.
                            timeZone:
                              type: string
                              description: Gets or sets the time zone of the schedule.
                            advancedSchedule:
                              description: Gets or sets the advanced schedule.
                              properties:
                                weekDays:
                                  type: array
                                  items:
                                    type: string
                                  description: Days of the week that the job should
                                    execute on.
                                monthDays:
                                  type: array
                                  items:
                                    type: integer
                                    format: int32
                                    nullable: false
                                  description: Days of the month that the job should
                                    execute on. Must be between 1 and 31.
                                monthlyOccurrences:
                                  type: array
                                  items:
                                    properties:
                                      occurrence:
                                        type: integer
                                        format: int32
                                        description: Occurrence of the week within
                                          the month. Must be between 1 and 5
                                      day:
                                        type: string
                                        description: Day of the occurrence. Must be
                                          one of monday, tuesday, wednesday, thursday,
                                          friday, saturday, sunday.
                                        enum:
                                        - Monday
                                        - Tuesday
                                        - Wednesday
                                        - Thursday
                                        - Friday
                                        - Saturday
                                        - Sunday
                                        x-ms-enum:
                                          name: ScheduleDay
                                          modelAsString: true
                                    description: The properties of the create advanced
                                      schedule monthly occurrence.
                                  x-ms-identifiers: []
                                  description: Occurrences of days within a month.
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets or sets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of schedules.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list schedule operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AdvancedSchedule:
      properties:
        weekDays:
          type: array
          items:
            type: string
          description: Days of the week that the job should execute on.
        monthDays:
          type: array
          items:
            type: integer
            format: int32
            nullable: false
          description: Days of the month that the job should execute on. Must be between
            1 and 31.
        monthlyOccurrences:
          type: array
          items:
            properties:
              occurrence:
                type: integer
                format: int32
                description: Occurrence of the week within the month. Must be between
                  1 and 5
              day:
                type: string
                description: Day of the occurrence. Must be one of monday, tuesday,
                  wednesday, thursday, friday, saturday, sunday.
                enum:
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
                - Sunday
                x-ms-enum:
                  name: ScheduleDay
                  modelAsString: true
            description: The properties of the create advanced schedule monthly occurrence.
          x-ms-identifiers: []
          description: Occurrences of days within a month.
      description: The properties of the create Advanced Schedule.
    AdvancedScheduleMonthlyOccurrence:
      properties:
        occurrence:
          type: integer
          format: int32
          description: Occurrence of the week within the month. Must be between 1
            and 5
        day:
          type: string
          description: Day of the occurrence. Must be one of monday, tuesday, wednesday,
            thursday, friday, saturday, sunday.
          enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          x-ms-enum:
            name: ScheduleDay
            modelAsString: true
      description: The properties of the create advanced schedule monthly occurrence.
    ScheduleCreateOrUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the schedule.
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the schedule.
          nullable: false
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the schedule.
          nullable: true
        interval:
          description: Gets or sets the interval of the schedule.
        frequency:
          type: string
          description: Gets or sets the frequency of the schedule.
          enum:
          - OneTime
          - Day
          - Hour
          - Week
          - Month
          - Minute
          x-ms-enum:
            name: ScheduleFrequency
            modelAsString: true
            values:
            - value: OneTime
            - value: Day
            - value: Hour
            - value: Week
            - value: Month
            - value: Minute
              description: The minimum allowed interval for Minute schedules is 15
                minutes.
        timeZone:
          type: string
          description: Gets or sets the time zone of the schedule.
        advancedSchedule:
          description: Gets or sets the AdvancedSchedule.
          properties:
            weekDays:
              type: array
              items:
                type: string
              description: Days of the week that the job should execute on.
            monthDays:
              type: array
              items:
                type: integer
                format: int32
                nullable: false
              description: Days of the month that the job should execute on. Must
                be between 1 and 31.
            monthlyOccurrences:
              type: array
              items:
                properties:
                  occurrence:
                    type: integer
                    format: int32
                    description: Occurrence of the week within the month. Must be
                      between 1 and 5
                  day:
                    type: string
                    description: Day of the occurrence. Must be one of monday, tuesday,
                      wednesday, thursday, friday, saturday, sunday.
                    enum:
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    - Sunday
                    x-ms-enum:
                      name: ScheduleDay
                      modelAsString: true
                description: The properties of the create advanced schedule monthly
                  occurrence.
              x-ms-identifiers: []
              description: Occurrences of days within a month.
      required:
      - startTime
      - frequency
      description: The parameters supplied to the create or update schedule operation.
    scheduleFrequency:
      type: string
      description: Gets or sets the frequency of the schedule.
      enum:
      - OneTime
      - Day
      - Hour
      - Week
      - Month
      - Minute
      x-ms-enum:
        name: ScheduleFrequency
        modelAsString: true
        values:
        - value: OneTime
        - value: Day
        - value: Hour
        - value: Week
        - value: Month
        - value: Minute
          description: The minimum allowed interval for Minute schedules is 15 minutes.
    ScheduleCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Schedule.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the list of schedule properties.
          properties:
            description:
              type: string
              description: Gets or sets the description of the schedule.
            startTime:
              type: string
              format: date-time
              description: Gets or sets the start time of the schedule.
              nullable: false
            expiryTime:
              type: string
              format: date-time
              description: Gets or sets the end time of the schedule.
              nullable: true
            interval:
              description: Gets or sets the interval of the schedule.
            frequency:
              type: string
              description: Gets or sets the frequency of the schedule.
              enum:
              - OneTime
              - Day
              - Hour
              - Week
              - Month
              - Minute
              x-ms-enum:
                name: ScheduleFrequency
                modelAsString: true
                values:
                - value: OneTime
                - value: Day
                - value: Hour
                - value: Week
                - value: Month
                - value: Minute
                  description: The minimum allowed interval for Minute schedules is
                    15 minutes.
            timeZone:
              type: string
              description: Gets or sets the time zone of the schedule.
            advancedSchedule:
              description: Gets or sets the AdvancedSchedule.
              properties:
                weekDays:
                  type: array
                  items:
                    type: string
                  description: Days of the week that the job should execute on.
                monthDays:
                  type: array
                  items:
                    type: integer
                    format: int32
                    nullable: false
                  description: Days of the month that the job should execute on. Must
                    be between 1 and 31.
                monthlyOccurrences:
                  type: array
                  items:
                    properties:
                      occurrence:
                        type: integer
                        format: int32
                        description: Occurrence of the week within the month. Must
                          be between 1 and 5
                      day:
                        type: string
                        description: Day of the occurrence. Must be one of monday,
                          tuesday, wednesday, thursday, friday, saturday, sunday.
                        enum:
                        - Monday
                        - Tuesday
                        - Wednesday
                        - Thursday
                        - Friday
                        - Saturday
                        - Sunday
                        x-ms-enum:
                          name: ScheduleDay
                          modelAsString: true
                    description: The properties of the create advanced schedule monthly
                      occurrence.
                  x-ms-identifiers: []
                  description: Occurrences of days within a month.
          required:
          - startTime
          - frequency
      required:
      - name
      - properties
      description: The parameters supplied to the create or update schedule operation.
    Schedule:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the schedule.
          properties:
            startTime:
              type: string
              format: date-time
              description: Gets or sets the start time of the schedule.
              nullable: false
            startTimeOffsetMinutes:
              readOnly: true
              type: number
              format: double
              description: Gets the start time's offset in minutes.
              nullable: false
            expiryTime:
              type: string
              format: date-time
              description: Gets or sets the end time of the schedule.
              nullable: true
            expiryTimeOffsetMinutes:
              type: number
              format: double
              description: Gets or sets the expiry time's offset in minutes.
              nullable: false
            isEnabled:
              type: boolean
              default: false
              description: Gets or sets a value indicating whether this schedule is
                enabled.
            nextRun:
              type: string
              format: date-time
              description: Gets or sets the next run time of the schedule.
              nullable: true
            nextRunOffsetMinutes:
              type: number
              format: double
              description: Gets or sets the next run time's offset in minutes.
              nullable: false
            interval:
              description: Gets or sets the interval of the schedule.
            frequency:
              type: string
              description: Gets or sets the frequency of the schedule.
              enum:
              - OneTime
              - Day
              - Hour
              - Week
              - Month
              - Minute
              x-ms-enum:
                name: ScheduleFrequency
                modelAsString: true
                values:
                - value: OneTime
                - value: Day
                - value: Hour
                - value: Week
                - value: Month
                - value: Minute
                  description: The minimum allowed interval for Minute schedules is
                    15 minutes.
            timeZone:
              type: string
              description: Gets or sets the time zone of the schedule.
            advancedSchedule:
              description: Gets or sets the advanced schedule.
              properties:
                weekDays:
                  type: array
                  items:
                    type: string
                  description: Days of the week that the job should execute on.
                monthDays:
                  type: array
                  items:
                    type: integer
                    format: int32
                    nullable: false
                  description: Days of the month that the job should execute on. Must
                    be between 1 and 31.
                monthlyOccurrences:
                  type: array
                  items:
                    properties:
                      occurrence:
                        type: integer
                        format: int32
                        description: Occurrence of the week within the month. Must
                          be between 1 and 5
                      day:
                        type: string
                        description: Day of the occurrence. Must be one of monday,
                          tuesday, wednesday, thursday, friday, saturday, sunday.
                        enum:
                        - Monday
                        - Tuesday
                        - Wednesday
                        - Thursday
                        - Friday
                        - Saturday
                        - Sunday
                        x-ms-enum:
                          name: ScheduleDay
                          modelAsString: true
                    description: The properties of the create advanced schedule monthly
                      occurrence.
                  x-ms-identifiers: []
                  description: Occurrences of days within a month.
            creationTime:
              type: string
              format: date-time
              description: Gets or sets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    ScheduleProperties:
      properties:
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the schedule.
          nullable: false
        startTimeOffsetMinutes:
          readOnly: true
          type: number
          format: double
          description: Gets the start time's offset in minutes.
          nullable: false
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the schedule.
          nullable: true
        expiryTimeOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the expiry time's offset in minutes.
          nullable: false
        isEnabled:
          type: boolean
          default: false
          description: Gets or sets a value indicating whether this schedule is enabled.
        nextRun:
          type: string
          format: date-time
          description: Gets or sets the next run time of the schedule.
          nullable: true
        nextRunOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the next run time's offset in minutes.
          nullable: false
        interval:
          description: Gets or sets the interval of the schedule.
        frequency:
          type: string
          description: Gets or sets the frequency of the schedule.
          enum:
          - OneTime
          - Day
          - Hour
          - Week
          - Month
          - Minute
          x-ms-enum:
            name: ScheduleFrequency
            modelAsString: true
            values:
            - value: OneTime
            - value: Day
            - value: Hour
            - value: Week
            - value: Month
            - value: Minute
              description: The minimum allowed interval for Minute schedules is 15
                minutes.
        timeZone:
          type: string
          description: Gets or sets the time zone of the schedule.
        advancedSchedule:
          description: Gets or sets the advanced schedule.
          properties:
            weekDays:
              type: array
              items:
                type: string
              description: Days of the week that the job should execute on.
            monthDays:
              type: array
              items:
                type: integer
                format: int32
                nullable: false
              description: Days of the month that the job should execute on. Must
                be between 1 and 31.
            monthlyOccurrences:
              type: array
              items:
                properties:
                  occurrence:
                    type: integer
                    format: int32
                    description: Occurrence of the week within the month. Must be
                      between 1 and 5
                  day:
                    type: string
                    description: Day of the occurrence. Must be one of monday, tuesday,
                      wednesday, thursday, friday, saturday, sunday.
                    enum:
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                    - Sunday
                    x-ms-enum:
                      name: ScheduleDay
                      modelAsString: true
                description: The properties of the create advanced schedule monthly
                  occurrence.
              x-ms-identifiers: []
              description: Occurrences of days within a month.
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of schedule parameters.
    ScheduleUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the schedule.
        isEnabled:
          type: boolean
          description: Gets or sets a value indicating whether this schedule is enabled.
      description: The parameters supplied to the update schedule operation.
    ScheduleUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Schedule.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the list of schedule properties.
          properties:
            description:
              type: string
              description: Gets or sets the description of the schedule.
            isEnabled:
              type: boolean
              description: Gets or sets a value indicating whether this schedule is
                enabled.
      description: The parameters supplied to the update schedule operation.
    ScheduleListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the schedule.
                properties:
                  startTime:
                    type: string
                    format: date-time
                    description: Gets or sets the start time of the schedule.
                    nullable: false
                  startTimeOffsetMinutes:
                    readOnly: true
                    type: number
                    format: double
                    description: Gets the start time's offset in minutes.
                    nullable: false
                  expiryTime:
                    type: string
                    format: date-time
                    description: Gets or sets the end time of the schedule.
                    nullable: true
                  expiryTimeOffsetMinutes:
                    type: number
                    format: double
                    description: Gets or sets the expiry time's offset in minutes.
                    nullable: false
                  isEnabled:
                    type: boolean
                    default: false
                    description: Gets or sets a value indicating whether this schedule
                      is enabled.
                  nextRun:
                    type: string
                    format: date-time
                    description: Gets or sets the next run time of the schedule.
                    nullable: true
                  nextRunOffsetMinutes:
                    type: number
                    format: double
                    description: Gets or sets the next run time's offset in minutes.
                    nullable: false
                  interval:
                    description: Gets or sets the interval of the schedule.
                  frequency:
                    type: string
                    description: Gets or sets the frequency of the schedule.
                    enum:
                    - OneTime
                    - Day
                    - Hour
                    - Week
                    - Month
                    - Minute
                    x-ms-enum:
                      name: ScheduleFrequency
                      modelAsString: true
                      values:
                      - value: OneTime
                      - value: Day
                      - value: Hour
                      - value: Week
                      - value: Month
                      - value: Minute
                        description: The minimum allowed interval for Minute schedules
                          is 15 minutes.
                  timeZone:
                    type: string
                    description: Gets or sets the time zone of the schedule.
                  advancedSchedule:
                    description: Gets or sets the advanced schedule.
                    properties:
                      weekDays:
                        type: array
                        items:
                          type: string
                        description: Days of the week that the job should execute
                          on.
                      monthDays:
                        type: array
                        items:
                          type: integer
                          format: int32
                          nullable: false
                        description: Days of the month that the job should execute
                          on. Must be between 1 and 31.
                      monthlyOccurrences:
                        type: array
                        items:
                          properties:
                            occurrence:
                              type: integer
                              format: int32
                              description: Occurrence of the week within the month.
                                Must be between 1 and 5
                            day:
                              type: string
                              description: Day of the occurrence. Must be one of monday,
                                tuesday, wednesday, thursday, friday, saturday, sunday.
                              enum:
                              - Monday
                              - Tuesday
                              - Wednesday
                              - Thursday
                              - Friday
                              - Saturday
                              - Sunday
                              x-ms-enum:
                                name: ScheduleDay
                                modelAsString: true
                          description: The properties of the create advanced schedule
                            monthly occurrence.
                        x-ms-identifiers: []
                        description: Occurrences of days within a month.
                  creationTime:
                    type: string
                    format: date-time
                    description: Gets or sets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets or sets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of schedules.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list schedule operation.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
