openapi: 3.0.0
info:
  title: Update Management API
  description: APIs for managing software update configurations.
  contact:
    name: Mohamed Enein
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns/{softwareUpdateConfigurationRunId}
  : get:
      tags:
      - Software Update Configuration Run
      description: Get a single software update configuration Run by Id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationrunoperations
      operationId: SoftwareUpdateConfigurationRuns_GetById
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: softwareUpdateConfigurationRunId
        description: The Id of the software update configuration run.
        required: true
        in: path
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A single software update configuration Run.
          content:
            application/json:
              schema:
                description: Software update configuration Run properties.
                x-ms-azure-resource: false
                type: object
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: Name of the software update configuration run.
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id of the software update configuration
                      run
                  properties:
                    x-ms-client-flatten: true
                    description: Software update configuration Run properties.
                    properties:
                      softwareUpdateConfiguration:
                        description: software update configuration triggered this
                          run
                        type: object
                        properties:
                          name:
                            description: Name of the software update configuration
                              triggered the software update configuration run
                            type: string
                            readOnly: true
                      status:
                        type: string
                        description: Status of the software update configuration run.
                        readOnly: true
                      configuredDuration:
                        type: string
                        description: Configured duration for the software update configuration
                          run.
                        readOnly: true
                      osType:
                        type: string
                        description: Operating system target of the software update
                          configuration triggered this run
                        readOnly: true
                      startTime:
                        type: string
                        format: date-time
                        description: Start time of the software update configuration
                          run.
                        readOnly: true
                        nullable: false
                      endTime:
                        type: string
                        format: date-time
                        description: End time of the software update configuration
                          run.
                        readOnly: true
                        nullable: true
                      computerCount:
                        type: integer
                        description: Number of computers in the software update configuration
                          run.
                        readOnly: true
                      failedCount:
                        type: integer
                        description: Number of computers with failed status.
                        readOnly: true
                      creationTime:
                        type: string
                        description: Creation time of the resource, which only appears
                          in the response.
                        format: date-time
                        readOnly: true
                        nullable: false
                      createdBy:
                        type: string
                        description: CreatedBy property, which only appears in the
                          response.
                        readOnly: true
                      lastModifiedTime:
                        type: string
                        description: Last time resource was modified, which only appears
                          in the response.
                        format: date-time
                        readOnly: true
                        nullable: false
                      lastModifiedBy:
                        type: string
                        description: LastModifiedBy property, which only appears in
                          the response.
                        readOnly: true
                      tasks:
                        description: Software update configuration tasks triggered
                          in this run
                        type: object
                        properties:
                          preTask:
                            description: Pre task properties.
                            type: object
                            properties:
                              status:
                                type: string
                                description: The status of the task.
                              source:
                                type: string
                                description: The name of the source of the task.
                              jobId:
                                type: string
                                description: The job id of the task.
                          postTask:
                            description: Post task properties.
                            type: object
                            properties:
                              status:
                                type: string
                                description: The status of the task.
                              source:
                                type: string
                                description: The name of the source of the task.
                              jobId:
                                type: string
                                description: The job id of the task.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns
  : get:
      tags:
      - Software Update Configuration Run
      description: Return list of software update configuration runs
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurationRuns_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: clientRequestId
        description: Identifies this specific client request.
        required: false
        in: header
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: 'The filter to apply on the operation. You can use the following
          filters: ''properties/osType'', ''properties/status'', ''properties/startTime'',
          and ''properties/softwareUpdateConfiguration/name'''
        schema:
          type: string
      - name: $skip
        in: query
        required: false
        description: Number of entries you skip before returning results
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Maximum number of entries returned in the results collection
        schema:
          type: string
      responses:
        '200':
          description: Return list of software update configurations runs.
          content:
            application/json:
              schema:
                description: result of listing all software update configuration runs
                properties:
                  value:
                    description: outer object returned when listing all software update
                      configuration runs
                    type: array
                    items:
                      description: Software update configuration Run properties.
                      x-ms-azure-resource: false
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: Name of the software update configuration run.
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id of the software update configuration
                            run
                        properties:
                          x-ms-client-flatten: true
                          description: Software update configuration Run properties.
                          properties:
                            softwareUpdateConfiguration:
                              description: software update configuration triggered
                                this run
                              type: object
                              properties:
                                name:
                                  description: Name of the software update configuration
                                    triggered the software update configuration run
                                  type: string
                                  readOnly: true
                            status:
                              type: string
                              description: Status of the software update configuration
                                run.
                              readOnly: true
                            configuredDuration:
                              type: string
                              description: Configured duration for the software update
                                configuration run.
                              readOnly: true
                            osType:
                              type: string
                              description: Operating system target of the software
                                update configuration triggered this run
                              readOnly: true
                            startTime:
                              type: string
                              format: date-time
                              description: Start time of the software update configuration
                                run.
                              readOnly: true
                              nullable: false
                            endTime:
                              type: string
                              format: date-time
                              description: End time of the software update configuration
                                run.
                              readOnly: true
                              nullable: true
                            computerCount:
                              type: integer
                              description: Number of computers in the software update
                                configuration run.
                              readOnly: true
                            failedCount:
                              type: integer
                              description: Number of computers with failed status.
                              readOnly: true
                            creationTime:
                              type: string
                              description: Creation time of the resource, which only
                                appears in the response.
                              format: date-time
                              readOnly: true
                              nullable: false
                            createdBy:
                              type: string
                              description: CreatedBy property, which only appears
                                in the response.
                              readOnly: true
                            lastModifiedTime:
                              type: string
                              description: Last time resource was modified, which
                                only appears in the response.
                              format: date-time
                              readOnly: true
                              nullable: false
                            lastModifiedBy:
                              type: string
                              description: LastModifiedBy property, which only appears
                                in the response.
                              readOnly: true
                            tasks:
                              description: Software update configuration tasks triggered
                                in this run
                              type: object
                              properties:
                                preTask:
                                  description: Pre task properties.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The status of the task.
                                    source:
                                      type: string
                                      description: The name of the source of the task.
                                    jobId:
                                      type: string
                                      description: The job id of the task.
                                postTask:
                                  description: Post task properties.
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: The status of the task.
                                    source:
                                      type: string
                                      description: The name of the source of the task.
                                    jobId:
                                      type: string
                                      description: The job id of the task.
                  nextLink:
                    type: string
                    description: link to next page of results.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    clientRequestId:
      name: clientRequestId
      description: Identifies this specific client request.
      required: false
      in: header
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    softwareUpdateConfigurationRun:
      description: Software update configuration Run properties.
      x-ms-azure-resource: false
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Name of the software update configuration run.
        id:
          readOnly: true
          type: string
          description: Resource Id of the software update configuration run
        properties:
          x-ms-client-flatten: true
          description: Software update configuration Run properties.
          properties:
            softwareUpdateConfiguration:
              description: software update configuration triggered this run
              type: object
              properties:
                name:
                  description: Name of the software update configuration triggered
                    the software update configuration run
                  type: string
                  readOnly: true
            status:
              type: string
              description: Status of the software update configuration run.
              readOnly: true
            configuredDuration:
              type: string
              description: Configured duration for the software update configuration
                run.
              readOnly: true
            osType:
              type: string
              description: Operating system target of the software update configuration
                triggered this run
              readOnly: true
            startTime:
              type: string
              format: date-time
              description: Start time of the software update configuration run.
              readOnly: true
              nullable: false
            endTime:
              type: string
              format: date-time
              description: End time of the software update configuration run.
              readOnly: true
              nullable: true
            computerCount:
              type: integer
              description: Number of computers in the software update configuration
                run.
              readOnly: true
            failedCount:
              type: integer
              description: Number of computers with failed status.
              readOnly: true
            creationTime:
              type: string
              description: Creation time of the resource, which only appears in the
                response.
              format: date-time
              readOnly: true
              nullable: false
            createdBy:
              type: string
              description: CreatedBy property, which only appears in the response.
              readOnly: true
            lastModifiedTime:
              type: string
              description: Last time resource was modified, which only appears in
                the response.
              format: date-time
              readOnly: true
              nullable: false
            lastModifiedBy:
              type: string
              description: LastModifiedBy property, which only appears in the response.
              readOnly: true
            tasks:
              description: Software update configuration tasks triggered in this run
              type: object
              properties:
                preTask:
                  description: Pre task properties.
                  type: object
                  properties:
                    status:
                      type: string
                      description: The status of the task.
                    source:
                      type: string
                      description: The name of the source of the task.
                    jobId:
                      type: string
                      description: The job id of the task.
                postTask:
                  description: Post task properties.
                  type: object
                  properties:
                    status:
                      type: string
                      description: The status of the task.
                    source:
                      type: string
                      description: The name of the source of the task.
                    jobId:
                      type: string
                      description: The job id of the task.
    softwareUpdateConfigurationRunProperties:
      description: Software update configuration properties.
      properties:
        softwareUpdateConfiguration:
          description: software update configuration triggered this run
          type: object
          properties:
            name:
              description: Name of the software update configuration triggered the
                software update configuration run
              type: string
              readOnly: true
        status:
          type: string
          description: Status of the software update configuration run.
          readOnly: true
        configuredDuration:
          type: string
          description: Configured duration for the software update configuration run.
          readOnly: true
        osType:
          type: string
          description: Operating system target of the software update configuration
            triggered this run
          readOnly: true
        startTime:
          type: string
          format: date-time
          description: Start time of the software update configuration run.
          readOnly: true
          nullable: false
        endTime:
          type: string
          format: date-time
          description: End time of the software update configuration run.
          readOnly: true
          nullable: true
        computerCount:
          type: integer
          description: Number of computers in the software update configuration run.
          readOnly: true
        failedCount:
          type: integer
          description: Number of computers with failed status.
          readOnly: true
        creationTime:
          type: string
          description: Creation time of the resource, which only appears in the response.
          format: date-time
          readOnly: true
          nullable: false
        createdBy:
          type: string
          description: CreatedBy property, which only appears in the response.
          readOnly: true
        lastModifiedTime:
          type: string
          description: Last time resource was modified, which only appears in the
            response.
          format: date-time
          readOnly: true
          nullable: false
        lastModifiedBy:
          type: string
          description: LastModifiedBy property, which only appears in the response.
          readOnly: true
        tasks:
          description: Software update configuration tasks triggered in this run
          type: object
          properties:
            preTask:
              description: Pre task properties.
              type: object
              properties:
                status:
                  type: string
                  description: The status of the task.
                source:
                  type: string
                  description: The name of the source of the task.
                jobId:
                  type: string
                  description: The job id of the task.
            postTask:
              description: Post task properties.
              type: object
              properties:
                status:
                  type: string
                  description: The status of the task.
                source:
                  type: string
                  description: The name of the source of the task.
                jobId:
                  type: string
                  description: The job id of the task.
    softwareUpdateConfigurationRunTasks:
      description: Software update configuration run tasks model.
      type: object
      properties:
        preTask:
          description: Pre task properties.
          type: object
          properties:
            status:
              type: string
              description: The status of the task.
            source:
              type: string
              description: The name of the source of the task.
            jobId:
              type: string
              description: The job id of the task.
        postTask:
          description: Post task properties.
          type: object
          properties:
            status:
              type: string
              description: The status of the task.
            source:
              type: string
              description: The name of the source of the task.
            jobId:
              type: string
              description: The job id of the task.
    softwareUpdateConfigurationRunTaskProperties:
      type: object
      description: Task properties of the software update configuration.
      properties:
        status:
          type: string
          description: The status of the task.
        source:
          type: string
          description: The name of the source of the task.
        jobId:
          type: string
          description: The job id of the task.
    updateConfigurationNavigation:
      description: Software update configuration Run Navigation model.
      type: object
      properties:
        name:
          description: Name of the software update configuration triggered the software
            update configuration run
          type: string
          readOnly: true
    softwareUpdateConfigurationRunListResult:
      description: result of listing all software update configuration runs
      properties:
        value:
          description: outer object returned when listing all software update configuration
            runs
          type: array
          items:
            description: Software update configuration Run properties.
            x-ms-azure-resource: false
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: Name of the software update configuration run.
              id:
                readOnly: true
                type: string
                description: Resource Id of the software update configuration run
              properties:
                x-ms-client-flatten: true
                description: Software update configuration Run properties.
                properties:
                  softwareUpdateConfiguration:
                    description: software update configuration triggered this run
                    type: object
                    properties:
                      name:
                        description: Name of the software update configuration triggered
                          the software update configuration run
                        type: string
                        readOnly: true
                  status:
                    type: string
                    description: Status of the software update configuration run.
                    readOnly: true
                  configuredDuration:
                    type: string
                    description: Configured duration for the software update configuration
                      run.
                    readOnly: true
                  osType:
                    type: string
                    description: Operating system target of the software update configuration
                      triggered this run
                    readOnly: true
                  startTime:
                    type: string
                    format: date-time
                    description: Start time of the software update configuration run.
                    readOnly: true
                    nullable: false
                  endTime:
                    type: string
                    format: date-time
                    description: End time of the software update configuration run.
                    readOnly: true
                    nullable: true
                  computerCount:
                    type: integer
                    description: Number of computers in the software update configuration
                      run.
                    readOnly: true
                  failedCount:
                    type: integer
                    description: Number of computers with failed status.
                    readOnly: true
                  creationTime:
                    type: string
                    description: Creation time of the resource, which only appears
                      in the response.
                    format: date-time
                    readOnly: true
                    nullable: false
                  createdBy:
                    type: string
                    description: CreatedBy property, which only appears in the response.
                    readOnly: true
                  lastModifiedTime:
                    type: string
                    description: Last time resource was modified, which only appears
                      in the response.
                    format: date-time
                    readOnly: true
                    nullable: false
                  lastModifiedBy:
                    type: string
                    description: LastModifiedBy property, which only appears in the
                      response.
                    readOnly: true
                  tasks:
                    description: Software update configuration tasks triggered in
                      this run
                    type: object
                    properties:
                      preTask:
                        description: Pre task properties.
                        type: object
                        properties:
                          status:
                            type: string
                            description: The status of the task.
                          source:
                            type: string
                            description: The name of the source of the task.
                          jobId:
                            type: string
                            description: The job id of the task.
                      postTask:
                        description: Post task properties.
                        type: object
                        properties:
                          status:
                            type: string
                            description: The status of the task.
                          source:
                            type: string
                            description: The name of the source of the task.
                          jobId:
                            type: string
                            description: The job id of the task.
        nextLink:
          type: string
          description: link to next page of results.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
