openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams
  : get:
      tags:
      - SourceControlSyncJobStreams
      operationId: SourceControlSyncJobStreams_ListBySyncJob
      description: Retrieve a list of sync job streams identified by sync job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: sourceControlSyncJobId
        in: path
        required: true
        description: The source control sync job id.
        schema:
          type: string
          format: uuid
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource id.
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of the source control sync job
                            stream.
                          properties:
                            sourceControlSyncJobStreamId:
                              type: string
                              description: The sync job stream id.
                            summary:
                              type: string
                              description: The summary of the sync job stream.
                            time:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time of the sync job stream.
                              nullable: true
                            streamType:
                              type: string
                              description: The type of the sync job stream.
                              enum:
                              - Error
                              - Output
                              x-ms-enum:
                                name: streamType
                                modelAsString: true
                      description: Definition of the source control sync job stream.
                    description: The list of source control sync job streams.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The next link.
                description: The response model for the list source control sync job
                  streams operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams/{streamId}
  : get:
      tags:
      - SourceControlSyncJobStreams
      operationId: SourceControlSyncJobStreams_Get
      description: Retrieve a sync job stream identified by stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: sourceControlSyncJobId
        in: path
        required: true
        description: The source control sync job id.
        schema:
          type: string
          format: uuid
      - name: streamId
        in: path
        required: true
        description: The id of the sync job stream.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource id.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control sync job stream.
                    properties:
                      sourceControlSyncJobStreamId:
                        type: string
                        description: The sync job stream id.
                      summary:
                        type: string
                        description: The summary of the sync job stream.
                      time:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time of the sync job stream.
                        nullable: true
                      streamType:
                        type: string
                        description: The type of the sync job stream.
                        enum:
                        - Error
                        - Output
                        x-ms-enum:
                          name: streamType
                          modelAsString: true
                      streamText:
                        type: string
                        description: The text of the sync job stream.
                      value:
                        type: object
                        additionalProperties:
                          type: object
                        description: The values of the job stream.
                description: Definition of the source control sync job stream by id.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SourceControlSyncJobStreamsListBySyncJob:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                readOnly: true
                type: string
                description: Resource id.
              properties:
                x-ms-client-flatten: true
                description: The properties of the source control sync job stream.
                properties:
                  sourceControlSyncJobStreamId:
                    type: string
                    description: The sync job stream id.
                  summary:
                    type: string
                    description: The summary of the sync job stream.
                  time:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The time of the sync job stream.
                    nullable: true
                  streamType:
                    type: string
                    description: The type of the sync job stream.
                    enum:
                    - Error
                    - Output
                    x-ms-enum:
                      name: streamType
                      modelAsString: true
            description: Definition of the source control sync job stream.
          description: The list of source control sync job streams.
        nextLink:
          type: string
          readOnly: true
          description: The next link.
      description: The response model for the list source control sync job streams
        operation.
    SourceControlSyncJobStream:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource id.
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control sync job stream.
          properties:
            sourceControlSyncJobStreamId:
              type: string
              description: The sync job stream id.
            summary:
              type: string
              description: The summary of the sync job stream.
            time:
              type: string
              format: date-time
              readOnly: true
              description: The time of the sync job stream.
              nullable: true
            streamType:
              type: string
              description: The type of the sync job stream.
              enum:
              - Error
              - Output
              x-ms-enum:
                name: streamType
                modelAsString: true
      description: Definition of the source control sync job stream.
    SourceControlSyncJobStreamProperties:
      properties:
        sourceControlSyncJobStreamId:
          type: string
          description: The sync job stream id.
        summary:
          type: string
          description: The summary of the sync job stream.
        time:
          type: string
          format: date-time
          readOnly: true
          description: The time of the sync job stream.
          nullable: true
        streamType:
          type: string
          description: The type of the sync job stream.
          enum:
          - Error
          - Output
          x-ms-enum:
            name: streamType
            modelAsString: true
      description: Definition of source control sync job stream properties.
    SourceControlSyncJobStreamById:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource id.
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control sync job stream.
          properties:
            sourceControlSyncJobStreamId:
              type: string
              description: The sync job stream id.
            summary:
              type: string
              description: The summary of the sync job stream.
            time:
              type: string
              format: date-time
              readOnly: true
              description: The time of the sync job stream.
              nullable: true
            streamType:
              type: string
              description: The type of the sync job stream.
              enum:
              - Error
              - Output
              x-ms-enum:
                name: streamType
                modelAsString: true
            streamText:
              type: string
              description: The text of the sync job stream.
            value:
              type: object
              additionalProperties:
                type: object
              description: The values of the job stream.
      description: Definition of the source control sync job stream by id.
    SourceControlSyncJobStreamByIdProperties:
      properties:
        sourceControlSyncJobStreamId:
          type: string
          description: The sync job stream id.
        summary:
          type: string
          description: The summary of the sync job stream.
        time:
          type: string
          format: date-time
          readOnly: true
          description: The time of the sync job stream.
          nullable: true
        streamType:
          type: string
          description: The type of the sync job stream.
          enum:
          - Error
          - Output
          x-ms-enum:
            name: streamType
            modelAsString: true
        streamText:
          type: string
          description: The text of the sync job stream.
        value:
          type: object
          additionalProperties:
            type: object
          description: The values of the job stream.
      description: Definition of source control sync job stream by id properties.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
