openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}
  : put:
      tags:
      - SourceControlSyncJob
      operationId: SourceControlSyncJob_Create
      description: Creates the sync job for a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: sourceControlSyncJobId
        in: path
        required: true
        description: The source control sync job id.
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The properties of the source control sync job.
                  properties:
                    commitId:
                      type: string
                      description: The commit id of the source control sync job. If
                        not syncing to a commitId, enter an empty string.
                      minLength: 0
                  required:
                  - commitId
              required:
              - properties
              description: The parameters supplied to the create source control sync
                job operation.
        description: The parameters supplied to the create source control sync job
          operation.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                properties:
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  id:
                    readOnly: true
                    type: string
                    description: Resource id.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control sync job.
                    properties:
                      sourceControlSyncJobId:
                        type: string
                        description: The source control sync job id.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The creation time of the job.
                        nullable: false
                      provisioningState:
                        type: string
                        description: The provisioning state of the job.
                        enum:
                        - Completed
                        - Failed
                        - Running
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      startTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The start time of the job.
                        nullable: true
                      endTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time of the job.
                        nullable: true
                      syncType:
                        type: string
                        description: The sync type.
                        enum:
                        - PartialSync
                        - FullSync
                        x-ms-enum:
                          name: syncType
                          modelAsString: true
                description: Definition of the source control sync job.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - SourceControlSyncJob
      operationId: SourceControlSyncJob_Get
      description: Retrieve the source control sync job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: sourceControlSyncJobId
        in: path
        required: true
        description: The source control sync job id.
        schema:
          type: string
          format: uuid
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: The id of the job.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control sync job.
                    properties:
                      sourceControlSyncJobId:
                        type: string
                        description: The source control sync job id.
                      creationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The creation time of the job.
                        nullable: false
                      provisioningState:
                        type: string
                        description: The provisioning state of the job.
                        enum:
                        - Completed
                        - Failed
                        - Running
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      startTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The start time of the job.
                        nullable: true
                      endTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time of the job.
                        nullable: true
                      syncType:
                        type: string
                        description: The sync type.
                        enum:
                        - PartialSync
                        - FullSync
                        x-ms-enum:
                          name: syncType
                          modelAsString: true
                      exception:
                        type: string
                        description: The exceptions that occurred while running the
                          sync job.
                description: Definition of the source control sync job.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs
  : get:
      tags:
      - SourceControlSyncJob
      operationId: SourceControlSyncJob_ListByAutomationAccount
      description: Retrieve a list of source control sync jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        id:
                          readOnly: true
                          type: string
                          description: Resource id.
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of the source control sync job.
                          properties:
                            sourceControlSyncJobId:
                              type: string
                              description: The source control sync job id.
                            creationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The creation time of the job.
                              nullable: false
                            provisioningState:
                              type: string
                              description: The provisioning state of the job.
                              enum:
                              - Completed
                              - Failed
                              - Running
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            startTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The start time of the job.
                              nullable: true
                            endTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The end time of the job.
                              nullable: true
                            syncType:
                              type: string
                              description: The sync type.
                              enum:
                              - PartialSync
                              - FullSync
                              x-ms-enum:
                                name: syncType
                                modelAsString: true
                      description: Definition of the source control sync job.
                    description: The list of source control sync jobs.
                  nextLink:
                    type: string
                    description: The next link.
                description: The response model for the list source control sync jobs
                  operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SourceControlSyncJobListResult:
      properties:
        value:
          type: array
          items:
            properties:
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              id:
                readOnly: true
                type: string
                description: Resource id.
              properties:
                x-ms-client-flatten: true
                description: The properties of the source control sync job.
                properties:
                  sourceControlSyncJobId:
                    type: string
                    description: The source control sync job id.
                  creationTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The creation time of the job.
                    nullable: false
                  provisioningState:
                    type: string
                    description: The provisioning state of the job.
                    enum:
                    - Completed
                    - Failed
                    - Running
                    x-ms-enum:
                      name: provisioningState
                      modelAsString: true
                  startTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The start time of the job.
                    nullable: true
                  endTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The end time of the job.
                    nullable: true
                  syncType:
                    type: string
                    description: The sync type.
                    enum:
                    - PartialSync
                    - FullSync
                    x-ms-enum:
                      name: syncType
                      modelAsString: true
            description: Definition of the source control sync job.
          description: The list of source control sync jobs.
        nextLink:
          type: string
          description: The next link.
      description: The response model for the list source control sync jobs operation.
    SourceControlSyncJobCreateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control sync job.
          properties:
            commitId:
              type: string
              description: The commit id of the source control sync job. If not syncing
                to a commitId, enter an empty string.
              minLength: 0
          required:
          - commitId
      required:
      - properties
      description: The parameters supplied to the create source control sync job operation.
    SourceControlSyncJobCreateProperties:
      properties:
        commitId:
          type: string
          description: The commit id of the source control sync job. If not syncing
            to a commitId, enter an empty string.
          minLength: 0
      required:
      - commitId
      description: Definition of create source control sync job properties.
    SourceControlSyncJobById:
      properties:
        id:
          type: string
          description: The id of the job.
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control sync job.
          properties:
            sourceControlSyncJobId:
              type: string
              description: The source control sync job id.
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: The creation time of the job.
              nullable: false
            provisioningState:
              type: string
              description: The provisioning state of the job.
              enum:
              - Completed
              - Failed
              - Running
              x-ms-enum:
                name: provisioningState
                modelAsString: true
            startTime:
              type: string
              format: date-time
              readOnly: true
              description: The start time of the job.
              nullable: true
            endTime:
              type: string
              format: date-time
              readOnly: true
              description: The end time of the job.
              nullable: true
            syncType:
              type: string
              description: The sync type.
              enum:
              - PartialSync
              - FullSync
              x-ms-enum:
                name: syncType
                modelAsString: true
            exception:
              type: string
              description: The exceptions that occurred while running the sync job.
      description: Definition of the source control sync job.
    SourceControlSyncJobByIdProperties:
      properties:
        sourceControlSyncJobId:
          type: string
          description: The source control sync job id.
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: The creation time of the job.
          nullable: false
        provisioningState:
          type: string
          description: The provisioning state of the job.
          enum:
          - Completed
          - Failed
          - Running
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: The start time of the job.
          nullable: true
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: The end time of the job.
          nullable: true
        syncType:
          type: string
          description: The sync type.
          enum:
          - PartialSync
          - FullSync
          x-ms-enum:
            name: syncType
            modelAsString: true
        exception:
          type: string
          description: The exceptions that occurred while running the sync job.
      description: Definition of source control sync job properties.
    SourceControlSyncJob:
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        id:
          readOnly: true
          type: string
          description: Resource id.
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control sync job.
          properties:
            sourceControlSyncJobId:
              type: string
              description: The source control sync job id.
            creationTime:
              type: string
              format: date-time
              readOnly: true
              description: The creation time of the job.
              nullable: false
            provisioningState:
              type: string
              description: The provisioning state of the job.
              enum:
              - Completed
              - Failed
              - Running
              x-ms-enum:
                name: provisioningState
                modelAsString: true
            startTime:
              type: string
              format: date-time
              readOnly: true
              description: The start time of the job.
              nullable: true
            endTime:
              type: string
              format: date-time
              readOnly: true
              description: The end time of the job.
              nullable: true
            syncType:
              type: string
              description: The sync type.
              enum:
              - PartialSync
              - FullSync
              x-ms-enum:
                name: syncType
                modelAsString: true
      description: Definition of the source control sync job.
    SourceControlSyncJobProperties:
      properties:
        sourceControlSyncJobId:
          type: string
          description: The source control sync job id.
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: The creation time of the job.
          nullable: false
        provisioningState:
          type: string
          description: The provisioning state of the job.
          enum:
          - Completed
          - Failed
          - Running
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: The start time of the job.
          nullable: true
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: The end time of the job.
          nullable: true
        syncType:
          type: string
          description: The sync type.
          enum:
          - PartialSync
          - FullSync
          x-ms-enum:
            name: syncType
            modelAsString: true
      description: Definition of source control sync job properties.
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
