openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}
  : put:
      tags:
      - SourceControl
      operationId: SourceControl_CreateOrUpdate
      description: Create a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The properties of the source control.
                  properties:
                    repoUrl:
                      type: string
                      maxLength: 2000
                      description: The repo url of the source control.
                    branch:
                      type: string
                      maxLength: 255
                      description: The repo branch of the source control. Include
                        branch as empty string for VsoTfvc.
                    folderPath:
                      type: string
                      maxLength: 255
                      description: The folder path of the source control. Path must
                        be relative.
                    autoSync:
                      type: boolean
                      description: The auto async of the source control. Default is
                        false.
                    publishRunbook:
                      type: boolean
                      description: The auto publish of the source control. Default
                        is true.
                    sourceType:
                      type: string
                      description: The source type. Must be one of VsoGit, VsoTfvc,
                        GitHub, case sensitive.
                      enum:
                      - VsoGit
                      - VsoTfvc
                      - GitHub
                      x-ms-enum:
                        name: sourceType
                        modelAsString: true
                    securityToken:
                      description: The authorization token for the repo of the source
                        control.
                      properties:
                        accessToken:
                          type: string
                          maxLength: 1024
                          description: The access token.
                        refreshToken:
                          type: string
                          maxLength: 1024
                          description: The refresh token.
                        tokenType:
                          type: string
                          description: The token type. Must be either PersonalAccessToken
                            or Oauth.
                          enum:
                          - PersonalAccessToken
                          - Oauth
                          x-ms-enum:
                            name: tokenType
                            modelAsString: true
                    description:
                      type: string
                      maxLength: 512
                      description: The user description of the source control.
              required:
              - properties
              description: The parameters supplied to the create or update source
                control operation.
        description: The parameters supplied to the create or update source control
          operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control.
                    properties:
                      repoUrl:
                        type: string
                        description: The repo url of the source control.
                      branch:
                        type: string
                        description: The repo branch of the source control. Include
                          branch as empty string for VsoTfvc.
                      folderPath:
                        type: string
                        description: The folder path of the source control.
                      autoSync:
                        type: boolean
                        description: The auto sync of the source control. Default
                          is false.
                      publishRunbook:
                        type: boolean
                        description: The auto publish of the source control. Default
                          is true.
                      sourceType:
                        type: string
                        description: The source type. Must be one of VsoGit, VsoTfvc,
                          GitHub.
                        enum:
                        - VsoGit
                        - VsoTfvc
                        - GitHub
                        x-ms-enum:
                          name: sourceType
                          modelAsString: true
                      description:
                        type: string
                        description: The description.
                      creationTime:
                        type: string
                        format: date-time
                        description: The creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: The last modified time.
                        nullable: false
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control.
                    properties:
                      repoUrl:
                        type: string
                        description: The repo url of the source control.
                      branch:
                        type: string
                        description: The repo branch of the source control. Include
                          branch as empty string for VsoTfvc.
                      folderPath:
                        type: string
                        description: The folder path of the source control.
                      autoSync:
                        type: boolean
                        description: The auto sync of the source control. Default
                          is false.
                      publishRunbook:
                        type: boolean
                        description: The auto publish of the source control. Default
                          is true.
                      sourceType:
                        type: string
                        description: The source type. Must be one of VsoGit, VsoTfvc,
                          GitHub.
                        enum:
                        - VsoGit
                        - VsoTfvc
                        - GitHub
                        x-ms-enum:
                          name: sourceType
                          modelAsString: true
                      description:
                        type: string
                        description: The description.
                      creationTime:
                        type: string
                        format: date-time
                        description: The creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: The last modified time.
                        nullable: false
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - SourceControl
      operationId: SourceControl_Update
      description: Update a source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The source control name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The value of the source control.
                  properties:
                    branch:
                      type: string
                      description: The repo branch of the source control.
                    folderPath:
                      type: string
                      description: The folder path of the source control. Path must
                        be relative.
                    autoSync:
                      type: boolean
                      description: The auto sync of the source control. Default is
                        false.
                    publishRunbook:
                      type: boolean
                      description: The auto publish of the source control. Default
                        is true.
                    securityToken:
                      description: The authorization token for the repo of the source
                        control.
                      properties:
                        accessToken:
                          type: string
                          maxLength: 1024
                          description: The access token.
                        refreshToken:
                          type: string
                          maxLength: 1024
                          description: The refresh token.
                        tokenType:
                          type: string
                          description: The token type. Must be either PersonalAccessToken
                            or Oauth.
                          enum:
                          - PersonalAccessToken
                          - Oauth
                          x-ms-enum:
                            name: tokenType
                            modelAsString: true
                    description:
                      type: string
                      description: The user description of the source control.
              description: The parameters supplied to the update source control operation.
        description: The parameters supplied to the update source control operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control.
                    properties:
                      repoUrl:
                        type: string
                        description: The repo url of the source control.
                      branch:
                        type: string
                        description: The repo branch of the source control. Include
                          branch as empty string for VsoTfvc.
                      folderPath:
                        type: string
                        description: The folder path of the source control.
                      autoSync:
                        type: boolean
                        description: The auto sync of the source control. Default
                          is false.
                      publishRunbook:
                        type: boolean
                        description: The auto publish of the source control. Default
                          is true.
                      sourceType:
                        type: string
                        description: The source type. Must be one of VsoGit, VsoTfvc,
                          GitHub.
                        enum:
                        - VsoGit
                        - VsoTfvc
                        - GitHub
                        x-ms-enum:
                          name: sourceType
                          modelAsString: true
                      description:
                        type: string
                        description: The description.
                      creationTime:
                        type: string
                        format: date-time
                        description: The creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: The last modified time.
                        nullable: false
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    delete:
      tags:
      - SourceControl
      operationId: SourceControl_Delete
      description: Delete the source control.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The name of source control.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - SourceControl
      operationId: SourceControl_Get
      description: Retrieve the source control identified by source control name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlName
        in: path
        required: true
        description: The name of source control.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the source control.
                    properties:
                      repoUrl:
                        type: string
                        description: The repo url of the source control.
                      branch:
                        type: string
                        description: The repo branch of the source control. Include
                          branch as empty string for VsoTfvc.
                      folderPath:
                        type: string
                        description: The folder path of the source control.
                      autoSync:
                        type: boolean
                        description: The auto sync of the source control. Default
                          is false.
                      publishRunbook:
                        type: boolean
                        description: The auto publish of the source control. Default
                          is true.
                      sourceType:
                        type: string
                        description: The source type. Must be one of VsoGit, VsoTfvc,
                          GitHub.
                        enum:
                        - VsoGit
                        - VsoTfvc
                        - GitHub
                        x-ms-enum:
                          name: sourceType
                          modelAsString: true
                      description:
                        type: string
                        description: The description.
                      creationTime:
                        type: string
                        format: date-time
                        description: The creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: The last modified time.
                        nullable: false
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls
  : get:
      tags:
      - SourceControl
      operationId: SourceControl_ListByAutomationAccount
      description: Retrieve a list of source controls.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontroloperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of the source control.
                          properties:
                            repoUrl:
                              type: string
                              description: The repo url of the source control.
                            branch:
                              type: string
                              description: The repo branch of the source control.
                                Include branch as empty string for VsoTfvc.
                            folderPath:
                              type: string
                              description: The folder path of the source control.
                            autoSync:
                              type: boolean
                              description: The auto sync of the source control. Default
                                is false.
                            publishRunbook:
                              type: boolean
                              description: The auto publish of the source control.
                                Default is true.
                            sourceType:
                              type: string
                              description: The source type. Must be one of VsoGit,
                                VsoTfvc, GitHub.
                              enum:
                              - VsoGit
                              - VsoTfvc
                              - GitHub
                              x-ms-enum:
                                name: sourceType
                                modelAsString: true
                            description:
                              type: string
                              description: The description.
                            creationTime:
                              type: string
                              format: date-time
                              description: The creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: The last modified time.
                              nullable: false
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: The list of source controls.
                  nextLink:
                    type: string
                    description: The next link.
                description: The response model for the list source controls operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SourceControlListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: The properties of the source control.
                properties:
                  repoUrl:
                    type: string
                    description: The repo url of the source control.
                  branch:
                    type: string
                    description: The repo branch of the source control. Include branch
                      as empty string for VsoTfvc.
                  folderPath:
                    type: string
                    description: The folder path of the source control.
                  autoSync:
                    type: boolean
                    description: The auto sync of the source control. Default is false.
                  publishRunbook:
                    type: boolean
                    description: The auto publish of the source control. Default is
                      true.
                  sourceType:
                    type: string
                    description: The source type. Must be one of VsoGit, VsoTfvc,
                      GitHub.
                    enum:
                    - VsoGit
                    - VsoTfvc
                    - GitHub
                    x-ms-enum:
                      name: sourceType
                      modelAsString: true
                  description:
                    type: string
                    description: The description.
                  creationTime:
                    type: string
                    format: date-time
                    description: The creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: The last modified time.
                    nullable: false
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: The list of source controls.
        nextLink:
          type: string
          description: The next link.
      description: The response model for the list source controls operation.
    SourceControlUpdateProperties:
      properties:
        branch:
          type: string
          description: The repo branch of the source control.
        folderPath:
          type: string
          description: The folder path of the source control. Path must be relative.
        autoSync:
          type: boolean
          description: The auto sync of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        securityToken:
          description: The authorization token for the repo of the source control.
          properties:
            accessToken:
              type: string
              maxLength: 1024
              description: The access token.
            refreshToken:
              type: string
              maxLength: 1024
              description: The refresh token.
            tokenType:
              type: string
              description: The token type. Must be either PersonalAccessToken or Oauth.
              enum:
              - PersonalAccessToken
              - Oauth
              x-ms-enum:
                name: tokenType
                modelAsString: true
        description:
          type: string
          description: The user description of the source control.
      description: The properties of the update source control
    SourceControlUpdateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          description: The value of the source control.
          properties:
            branch:
              type: string
              description: The repo branch of the source control.
            folderPath:
              type: string
              description: The folder path of the source control. Path must be relative.
            autoSync:
              type: boolean
              description: The auto sync of the source control. Default is false.
            publishRunbook:
              type: boolean
              description: The auto publish of the source control. Default is true.
            securityToken:
              description: The authorization token for the repo of the source control.
              properties:
                accessToken:
                  type: string
                  maxLength: 1024
                  description: The access token.
                refreshToken:
                  type: string
                  maxLength: 1024
                  description: The refresh token.
                tokenType:
                  type: string
                  description: The token type. Must be either PersonalAccessToken
                    or Oauth.
                  enum:
                  - PersonalAccessToken
                  - Oauth
                  x-ms-enum:
                    name: tokenType
                    modelAsString: true
            description:
              type: string
              description: The user description of the source control.
      description: The parameters supplied to the update source control operation.
    SourceControl:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control.
          properties:
            repoUrl:
              type: string
              description: The repo url of the source control.
            branch:
              type: string
              description: The repo branch of the source control. Include branch as
                empty string for VsoTfvc.
            folderPath:
              type: string
              description: The folder path of the source control.
            autoSync:
              type: boolean
              description: The auto sync of the source control. Default is false.
            publishRunbook:
              type: boolean
              description: The auto publish of the source control. Default is true.
            sourceType:
              type: string
              description: The source type. Must be one of VsoGit, VsoTfvc, GitHub.
              enum:
              - VsoGit
              - VsoTfvc
              - GitHub
              x-ms-enum:
                name: sourceType
                modelAsString: true
            description:
              type: string
              description: The description.
            creationTime:
              type: string
              format: date-time
              description: The creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: The last modified time.
              nullable: false
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    SourceControlProperties:
      properties:
        repoUrl:
          type: string
          description: The repo url of the source control.
        branch:
          type: string
          description: The repo branch of the source control. Include branch as empty
            string for VsoTfvc.
        folderPath:
          type: string
          description: The folder path of the source control.
        autoSync:
          type: boolean
          description: The auto sync of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        sourceType:
          type: string
          description: The source type. Must be one of VsoGit, VsoTfvc, GitHub.
          enum:
          - VsoGit
          - VsoTfvc
          - GitHub
          x-ms-enum:
            name: sourceType
            modelAsString: true
        description:
          type: string
          description: The description.
        creationTime:
          type: string
          format: date-time
          description: The creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: The last modified time.
          nullable: false
      description: Definition of the source control properties
    SourceControlCreateOrUpdateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          description: The properties of the source control.
          properties:
            repoUrl:
              type: string
              maxLength: 2000
              description: The repo url of the source control.
            branch:
              type: string
              maxLength: 255
              description: The repo branch of the source control. Include branch as
                empty string for VsoTfvc.
            folderPath:
              type: string
              maxLength: 255
              description: The folder path of the source control. Path must be relative.
            autoSync:
              type: boolean
              description: The auto async of the source control. Default is false.
            publishRunbook:
              type: boolean
              description: The auto publish of the source control. Default is true.
            sourceType:
              type: string
              description: The source type. Must be one of VsoGit, VsoTfvc, GitHub,
                case sensitive.
              enum:
              - VsoGit
              - VsoTfvc
              - GitHub
              x-ms-enum:
                name: sourceType
                modelAsString: true
            securityToken:
              description: The authorization token for the repo of the source control.
              properties:
                accessToken:
                  type: string
                  maxLength: 1024
                  description: The access token.
                refreshToken:
                  type: string
                  maxLength: 1024
                  description: The refresh token.
                tokenType:
                  type: string
                  description: The token type. Must be either PersonalAccessToken
                    or Oauth.
                  enum:
                  - PersonalAccessToken
                  - Oauth
                  x-ms-enum:
                    name: tokenType
                    modelAsString: true
            description:
              type: string
              maxLength: 512
              description: The user description of the source control.
      required:
      - properties
      description: The parameters supplied to the create or update source control
        operation.
    SourceControlCreateOrUpdateProperties:
      properties:
        repoUrl:
          type: string
          maxLength: 2000
          description: The repo url of the source control.
        branch:
          type: string
          maxLength: 255
          description: The repo branch of the source control. Include branch as empty
            string for VsoTfvc.
        folderPath:
          type: string
          maxLength: 255
          description: The folder path of the source control. Path must be relative.
        autoSync:
          type: boolean
          description: The auto async of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        sourceType:
          type: string
          description: The source type. Must be one of VsoGit, VsoTfvc, GitHub, case
            sensitive.
          enum:
          - VsoGit
          - VsoTfvc
          - GitHub
          x-ms-enum:
            name: sourceType
            modelAsString: true
        securityToken:
          description: The authorization token for the repo of the source control.
          properties:
            accessToken:
              type: string
              maxLength: 1024
              description: The access token.
            refreshToken:
              type: string
              maxLength: 1024
              description: The refresh token.
            tokenType:
              type: string
              description: The token type. Must be either PersonalAccessToken or Oauth.
              enum:
              - PersonalAccessToken
              - Oauth
              x-ms-enum:
                name: tokenType
                modelAsString: true
        description:
          type: string
          maxLength: 512
          description: The user description of the source control.
      description: The properties of the create source control operation.
    SourceControlSecurityTokenProperties:
      properties:
        accessToken:
          type: string
          maxLength: 1024
          description: The access token.
        refreshToken:
          type: string
          maxLength: 1024
          description: The refresh token.
        tokenType:
          type: string
          description: The token type. Must be either PersonalAccessToken or Oauth.
          enum:
          - PersonalAccessToken
          - Oauth
          x-ms-enum:
            name: tokenType
            modelAsString: true
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
