openapi: 3.0.0
info:
  title: AutomationManagement
  version: 2023-11-01
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}
  : put:
      tags:
      - Variable
      operationId: Variable_CreateOrUpdate
      description: Create a variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: variableName
        in: path
        required: true
        description: The variable name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the variable.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties of the variable.
                  properties:
                    value:
                      type: string
                      description: Gets or sets the value of the variable.
                    description:
                      type: string
                      description: Gets or sets the description of the variable.
                    isEncrypted:
                      type: boolean
                      description: Gets or sets the encrypted flag of the variable.
              required:
              - name
              - properties
              description: The parameters supplied to the create or update variable
                operation.
        description: The parameters supplied to the create or update variable operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the variable.
                    properties:
                      value:
                        type: string
                        description: Gets or sets the value of the variable.
                      isEncrypted:
                        type: boolean
                        description: Gets or sets the encrypted flag of the variable.
                        nullable: true
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the variable.
                    properties:
                      value:
                        type: string
                        description: Gets or sets the value of the variable.
                      isEncrypted:
                        type: boolean
                        description: Gets or sets the encrypted flag of the variable.
                        nullable: true
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    patch:
      tags:
      - Variable
      operationId: Variable_Update
      description: Update a variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: variableName
        in: path
        required: true
        description: The variable name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: Gets or sets the name of the variable.
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the value of the variable.
                  properties:
                    value:
                      type: string
                      description: Gets or sets the value of the variable.
                    description:
                      type: string
                      description: Gets or sets the description of the variable.
              description: The parameters supplied to the update variable operation.
        description: The parameters supplied to the update variable operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the variable.
                    properties:
                      value:
                        type: string
                        description: Gets or sets the value of the variable.
                      isEncrypted:
                        type: boolean
                        description: Gets or sets the encrypted flag of the variable.
                        nullable: true
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    delete:
      tags:
      - Variable
      operationId: Variable_Delete
      description: Delete the variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: variableName
        in: path
        required: true
        description: The name of variable.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
    get:
      tags:
      - Variable
      operationId: Variable_Get
      description: Retrieve the variable identified by variable name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: variableName
        in: path
        required: true
        description: The name of variable.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties of the variable.
                    properties:
                      value:
                        type: string
                        description: Gets or sets the value of the variable.
                      isEncrypted:
                        type: boolean
                        description: Gets or sets the encrypted flag of the variable.
                        nullable: true
                      creationTime:
                        type: string
                        format: date-time
                        description: Gets or sets the creation time.
                        nullable: false
                      lastModifiedTime:
                        type: string
                        format: date-time
                        description: Gets or sets the last modified time.
                        nullable: false
                      description:
                        type: string
                        description: Gets or sets the description.
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables
  : get:
      tags:
      - Variable
      operationId: Variable_ListByAutomationAccount
      description: Retrieve a list of variables.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure Resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._]+$
      - name: automationAccountName
        description: The name of the automation account.
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Gets or sets the properties of the variable.
                          properties:
                            value:
                              type: string
                              description: Gets or sets the value of the variable.
                            isEncrypted:
                              type: boolean
                              description: Gets or sets the encrypted flag of the
                                variable.
                              nullable: true
                            creationTime:
                              type: string
                              format: date-time
                              description: Gets or sets the creation time.
                              nullable: false
                            lastModifiedTime:
                              type: string
                              format: date-time
                              description: Gets or sets the last modified time.
                              nullable: false
                            description:
                              type: string
                              description: Gets or sets the description.
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets or sets a list of variables.
                  nextLink:
                    type: string
                    description: Gets or sets the next link.
                description: The response model for the list variables operation.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error response of an operation failure
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._]+$
    AutomationAccountNameParameter:
      name: automationAccountName
      description: The name of the automation account.
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VariableCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the variable.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the variable.
          properties:
            value:
              type: string
              description: Gets or sets the value of the variable.
            description:
              type: string
              description: Gets or sets the description of the variable.
            isEncrypted:
              type: boolean
              description: Gets or sets the encrypted flag of the variable.
      required:
      - name
      - properties
      description: The parameters supplied to the create or update variable operation.
    VariableCreateOrUpdateProperties:
      properties:
        value:
          type: string
          description: Gets or sets the value of the variable.
        description:
          type: string
          description: Gets or sets the description of the variable.
        isEncrypted:
          type: boolean
          description: Gets or sets the encrypted flag of the variable.
      description: The properties of the create variable operation.
    Variable:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the properties of the variable.
          properties:
            value:
              type: string
              description: Gets or sets the value of the variable.
            isEncrypted:
              type: boolean
              description: Gets or sets the encrypted flag of the variable.
              nullable: true
            creationTime:
              type: string
              format: date-time
              description: Gets or sets the creation time.
              nullable: false
            lastModifiedTime:
              type: string
              format: date-time
              description: Gets or sets the last modified time.
              nullable: false
            description:
              type: string
              description: Gets or sets the description.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    VariableListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource.
              properties:
                x-ms-client-flatten: true
                description: Gets or sets the properties of the variable.
                properties:
                  value:
                    type: string
                    description: Gets or sets the value of the variable.
                  isEncrypted:
                    type: boolean
                    description: Gets or sets the encrypted flag of the variable.
                    nullable: true
                  creationTime:
                    type: string
                    format: date-time
                    description: Gets or sets the creation time.
                    nullable: false
                  lastModifiedTime:
                    type: string
                    format: date-time
                    description: Gets or sets the last modified time.
                    nullable: false
                  description:
                    type: string
                    description: Gets or sets the description.
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: Gets or sets a list of variables.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list variables operation.
    VariableUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the variable.
        properties:
          x-ms-client-flatten: true
          description: Gets or sets the value of the variable.
          properties:
            value:
              type: string
              description: Gets or sets the value of the variable.
            description:
              type: string
              description: Gets or sets the description of the variable.
      description: The parameters supplied to the update variable operation.
    VariableUpdateProperties:
      properties:
        value:
          type: string
          description: Gets or sets the value of the variable.
        description:
          type: string
          description: Gets or sets the description of the variable.
      description: The properties of the update variable
    VariableProperties:
      properties:
        value:
          type: string
          description: Gets or sets the value of the variable.
        isEncrypted:
          type: boolean
          description: Gets or sets the encrypted flag of the variable.
          nullable: true
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of the variable properties
    ErrorResponse:
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error response of an operation failure
    Resource:
      description: The core properties of ARM resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
      description: The core properties of ARM resources
      x-ms-azure-resource: true
