openapi: 3.0.0
info:
  version: 2020-10-30-preview
  title: PowerPlatform
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/enterprisePolicies/{enterprisePolicyName}
  : put:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_CreateOrUpdate
      description: Creates an EnterprisePolicy
      parameters:
      - name: enterprisePolicyName
        in: path
        required: true
        description: Name of the EnterprisePolicy.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                identity:
                  description: The identity of the EnterprisePolicy.
                  type: object
                  properties:
                    systemAssignedIdentityPrincipalId:
                      readOnly: true
                      type: string
                      description: The principal id of EnterprisePolicy identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id associated with the EnterprisePolicy.
                    type:
                      type: string
                      description: The type of identity used for the EnterprisePolicy.
                        Currently, the only supported type is 'SystemAssigned', which
                        implicitly creates an identity.
                      enum:
                      - SystemAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                kind:
                  description: The kind (type) of Enterprise Policy.
                  type: string
                  x-ms-enum:
                    name: EnterprisePolicyKind
                    modelAsString: true
                  enum:
                  - Lockbox
                  - PrivateEndpoint
                  - Encryption
                  - NetworkInjection
                  - Identity
                properties:
                  description: The properties that define configuration for the enterprise
                    policy
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    systemId:
                      type: string
                      description: The internally assigned unique identifier of the
                        resource.
                      readOnly: true
                    lockbox:
                      type: object
                      description: Settings concerning lockbox.
                      properties:
                        state:
                          description: lockbox configuration
                          type: string
                          x-ms-enum:
                            name: state
                            modelAsString: true
                          enum:
                          - Enabled
                          - Disabled
                          - NotConfigured
                    encryption:
                      type: object
                      description: The encryption settings for a configuration store.
                      properties:
                        keyVault:
                          description: Key vault properties.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Uri of KeyVault
                            key:
                              description: Identity of the secret that includes name
                                and version.
                              type: object
                              properties:
                                name:
                                  description: The identifier of the key vault key
                                    used to encrypt data.
                                  type: string
                                version:
                                  description: The version of the identity which will
                                    be used to access key vault.
                                  type: string
                        state:
                          description: The state of onboarding, which only appears
                            in the response.
                          type: string
                          x-ms-enum:
                            name: state
                            modelAsString: true
                          enum:
                          - Enabled
                          - Disabled
                          - NotConfigured
                    networkInjection:
                      type: object
                      description: Settings concerning network injection.
                      properties:
                        virtualNetworks:
                          description: Network injection configuration
                          type: array
                          items:
                            type: object
                            description: Settings concerning the virtual network.
                            properties:
                              id:
                                type: string
                                description: Uri of the virtual network.
                              subnet:
                                description: Properties of a subnet.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Subnet name.
                    healthStatus:
                      description: The health status of the resource.
                      type: string
                      x-ms-enum:
                        name: HealthStatus
                        modelAsString: true
                      enum:
                      - Undetermined
                      - Healthy
                      - Warning
                      - Unhealthy
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              - kind
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create or update EnterprisePolicy.
        required: true
      responses:
        '200':
          description: OK. The EnterprisePolicy was updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The identity of the EnterprisePolicy.
                    type: object
                    properties:
                      systemAssignedIdentityPrincipalId:
                        readOnly: true
                        type: string
                        description: The principal id of EnterprisePolicy identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id associated with the EnterprisePolicy.
                      type:
                        type: string
                        description: The type of identity used for the EnterprisePolicy.
                          Currently, the only supported type is 'SystemAssigned',
                          which implicitly creates an identity.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  kind:
                    description: The kind (type) of Enterprise Policy.
                    type: string
                    x-ms-enum:
                      name: EnterprisePolicyKind
                      modelAsString: true
                    enum:
                    - Lockbox
                    - PrivateEndpoint
                    - Encryption
                    - NetworkInjection
                    - Identity
                  properties:
                    description: The properties that define configuration for the
                      enterprise policy
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      systemId:
                        type: string
                        description: The internally assigned unique identifier of
                          the resource.
                        readOnly: true
                      lockbox:
                        type: object
                        description: Settings concerning lockbox.
                        properties:
                          state:
                            description: lockbox configuration
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      encryption:
                        type: object
                        description: The encryption settings for a configuration store.
                        properties:
                          keyVault:
                            description: Key vault properties.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Uri of KeyVault
                              key:
                                description: Identity of the secret that includes
                                  name and version.
                                type: object
                                properties:
                                  name:
                                    description: The identifier of the key vault key
                                      used to encrypt data.
                                    type: string
                                  version:
                                    description: The version of the identity which
                                      will be used to access key vault.
                                    type: string
                          state:
                            description: The state of onboarding, which only appears
                              in the response.
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      networkInjection:
                        type: object
                        description: Settings concerning network injection.
                        properties:
                          virtualNetworks:
                            description: Network injection configuration
                            type: array
                            items:
                              type: object
                              description: Settings concerning the virtual network.
                              properties:
                                id:
                                  type: string
                                  description: Uri of the virtual network.
                                subnet:
                                  description: Properties of a subnet.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Subnet name.
                      healthStatus:
                        description: The health status of the resource.
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                        enum:
                        - Undetermined
                        - Healthy
                        - Warning
                        - Unhealthy
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - kind
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created. The EnterprisePolicy was created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The identity of the EnterprisePolicy.
                    type: object
                    properties:
                      systemAssignedIdentityPrincipalId:
                        readOnly: true
                        type: string
                        description: The principal id of EnterprisePolicy identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id associated with the EnterprisePolicy.
                      type:
                        type: string
                        description: The type of identity used for the EnterprisePolicy.
                          Currently, the only supported type is 'SystemAssigned',
                          which implicitly creates an identity.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  kind:
                    description: The kind (type) of Enterprise Policy.
                    type: string
                    x-ms-enum:
                      name: EnterprisePolicyKind
                      modelAsString: true
                    enum:
                    - Lockbox
                    - PrivateEndpoint
                    - Encryption
                    - NetworkInjection
                    - Identity
                  properties:
                    description: The properties that define configuration for the
                      enterprise policy
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      systemId:
                        type: string
                        description: The internally assigned unique identifier of
                          the resource.
                        readOnly: true
                      lockbox:
                        type: object
                        description: Settings concerning lockbox.
                        properties:
                          state:
                            description: lockbox configuration
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      encryption:
                        type: object
                        description: The encryption settings for a configuration store.
                        properties:
                          keyVault:
                            description: Key vault properties.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Uri of KeyVault
                              key:
                                description: Identity of the secret that includes
                                  name and version.
                                type: object
                                properties:
                                  name:
                                    description: The identifier of the key vault key
                                      used to encrypt data.
                                    type: string
                                  version:
                                    description: The version of the identity which
                                      will be used to access key vault.
                                    type: string
                          state:
                            description: The state of onboarding, which only appears
                              in the response.
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      networkInjection:
                        type: object
                        description: Settings concerning network injection.
                        properties:
                          virtualNetworks:
                            description: Network injection configuration
                            type: array
                            items:
                              type: object
                              description: Settings concerning the virtual network.
                              properties:
                                id:
                                  type: string
                                  description: Uri of the virtual network.
                                subnet:
                                  description: Properties of a subnet.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Subnet name.
                      healthStatus:
                        description: The health status of the resource.
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                        enum:
                        - Undetermined
                        - Healthy
                        - Warning
                        - Unhealthy
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - kind
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: false
    get:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_Get
      description: Get information about an EnterprisePolicy
      parameters:
      - name: enterprisePolicyName
        in: path
        required: true
        description: The EnterprisePolicy name.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The EnterprisePolicy was returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The identity of the EnterprisePolicy.
                    type: object
                    properties:
                      systemAssignedIdentityPrincipalId:
                        readOnly: true
                        type: string
                        description: The principal id of EnterprisePolicy identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id associated with the EnterprisePolicy.
                      type:
                        type: string
                        description: The type of identity used for the EnterprisePolicy.
                          Currently, the only supported type is 'SystemAssigned',
                          which implicitly creates an identity.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  kind:
                    description: The kind (type) of Enterprise Policy.
                    type: string
                    x-ms-enum:
                      name: EnterprisePolicyKind
                      modelAsString: true
                    enum:
                    - Lockbox
                    - PrivateEndpoint
                    - Encryption
                    - NetworkInjection
                    - Identity
                  properties:
                    description: The properties that define configuration for the
                      enterprise policy
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      systemId:
                        type: string
                        description: The internally assigned unique identifier of
                          the resource.
                        readOnly: true
                      lockbox:
                        type: object
                        description: Settings concerning lockbox.
                        properties:
                          state:
                            description: lockbox configuration
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      encryption:
                        type: object
                        description: The encryption settings for a configuration store.
                        properties:
                          keyVault:
                            description: Key vault properties.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Uri of KeyVault
                              key:
                                description: Identity of the secret that includes
                                  name and version.
                                type: object
                                properties:
                                  name:
                                    description: The identifier of the key vault key
                                      used to encrypt data.
                                    type: string
                                  version:
                                    description: The version of the identity which
                                      will be used to access key vault.
                                    type: string
                          state:
                            description: The state of onboarding, which only appears
                              in the response.
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      networkInjection:
                        type: object
                        description: Settings concerning network injection.
                        properties:
                          virtualNetworks:
                            description: Network injection configuration
                            type: array
                            items:
                              type: object
                              description: Settings concerning the virtual network.
                              properties:
                                id:
                                  type: string
                                  description: Uri of the virtual network.
                                subnet:
                                  description: Properties of a subnet.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Subnet name.
                      healthStatus:
                        description: The health status of the resource.
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                        enum:
                        - Undetermined
                        - Healthy
                        - Warning
                        - Unhealthy
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - kind
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_Delete
      description: Delete an EnterprisePolicy
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: enterprisePolicyName
        in: path
        required: true
        description: Name of the EnterprisePolicy
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '204':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: false
    patch:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_Update
      description: Updates an EnterprisePolicy
      parameters:
      - name: enterprisePolicyName
        in: path
        required: true
        description: Name of the EnterprisePolicy.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                identity:
                  description: The identity of the EnterprisePolicy.
                  type: object
                  properties:
                    systemAssignedIdentityPrincipalId:
                      readOnly: true
                      type: string
                      description: The principal id of EnterprisePolicy identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id associated with the EnterprisePolicy.
                    type:
                      type: string
                      description: The type of identity used for the EnterprisePolicy.
                        Currently, the only supported type is 'SystemAssigned', which
                        implicitly creates an identity.
                      enum:
                      - SystemAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                kind:
                  description: The kind (type) of Enterprise Policy.
                  type: string
                  x-ms-enum:
                    name: EnterprisePolicyKind
                    modelAsString: true
                  enum:
                  - Lockbox
                  - PrivateEndpoint
                  - Encryption
                  - NetworkInjection
                  - Identity
                properties:
                  description: The properties that define configuration for the enterprise
                    policy
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    systemId:
                      type: string
                      description: The internally assigned unique identifier of the
                        resource.
                      readOnly: true
                    lockbox:
                      type: object
                      description: Settings concerning lockbox.
                      properties:
                        state:
                          description: lockbox configuration
                          type: string
                          x-ms-enum:
                            name: state
                            modelAsString: true
                          enum:
                          - Enabled
                          - Disabled
                          - NotConfigured
                    encryption:
                      type: object
                      description: The encryption settings for a configuration store.
                      properties:
                        keyVault:
                          description: Key vault properties.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Uri of KeyVault
                            key:
                              description: Identity of the secret that includes name
                                and version.
                              type: object
                              properties:
                                name:
                                  description: The identifier of the key vault key
                                    used to encrypt data.
                                  type: string
                                version:
                                  description: The version of the identity which will
                                    be used to access key vault.
                                  type: string
                        state:
                          description: The state of onboarding, which only appears
                            in the response.
                          type: string
                          x-ms-enum:
                            name: state
                            modelAsString: true
                          enum:
                          - Enabled
                          - Disabled
                          - NotConfigured
                    networkInjection:
                      type: object
                      description: Settings concerning network injection.
                      properties:
                        virtualNetworks:
                          description: Network injection configuration
                          type: array
                          items:
                            type: object
                            description: Settings concerning the virtual network.
                            properties:
                              id:
                                type: string
                                description: Uri of the virtual network.
                              subnet:
                                description: Properties of a subnet.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Subnet name.
                    healthStatus:
                      description: The health status of the resource.
                      type: string
                      x-ms-enum:
                        name: HealthStatus
                        modelAsString: true
                      enum:
                      - Undetermined
                      - Healthy
                      - Warning
                      - Unhealthy
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to update EnterprisePolicy.
        required: true
      responses:
        '200':
          description: OK. The EnterprisePolicy was updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    description: The identity of the EnterprisePolicy.
                    type: object
                    properties:
                      systemAssignedIdentityPrincipalId:
                        readOnly: true
                        type: string
                        description: The principal id of EnterprisePolicy identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id associated with the EnterprisePolicy.
                      type:
                        type: string
                        description: The type of identity used for the EnterprisePolicy.
                          Currently, the only supported type is 'SystemAssigned',
                          which implicitly creates an identity.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  kind:
                    description: The kind (type) of Enterprise Policy.
                    type: string
                    x-ms-enum:
                      name: EnterprisePolicyKind
                      modelAsString: true
                    enum:
                    - Lockbox
                    - PrivateEndpoint
                    - Encryption
                    - NetworkInjection
                    - Identity
                  properties:
                    description: The properties that define configuration for the
                      enterprise policy
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      systemId:
                        type: string
                        description: The internally assigned unique identifier of
                          the resource.
                        readOnly: true
                      lockbox:
                        type: object
                        description: Settings concerning lockbox.
                        properties:
                          state:
                            description: lockbox configuration
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      encryption:
                        type: object
                        description: The encryption settings for a configuration store.
                        properties:
                          keyVault:
                            description: Key vault properties.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Uri of KeyVault
                              key:
                                description: Identity of the secret that includes
                                  name and version.
                                type: object
                                properties:
                                  name:
                                    description: The identifier of the key vault key
                                      used to encrypt data.
                                    type: string
                                  version:
                                    description: The version of the identity which
                                      will be used to access key vault.
                                    type: string
                          state:
                            description: The state of onboarding, which only appears
                              in the response.
                            type: string
                            x-ms-enum:
                              name: state
                              modelAsString: true
                            enum:
                            - Enabled
                            - Disabled
                            - NotConfigured
                      networkInjection:
                        type: object
                        description: Settings concerning network injection.
                        properties:
                          virtualNetworks:
                            description: Network injection configuration
                            type: array
                            items:
                              type: object
                              description: Settings concerning the virtual network.
                              properties:
                                id:
                                  type: string
                                  description: Uri of the virtual network.
                                subnet:
                                  description: Properties of a subnet.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Subnet name.
                      healthStatus:
                        description: The health status of the resource.
                        type: string
                        x-ms-enum:
                          name: HealthStatus
                          modelAsString: true
                        enum:
                        - Undetermined
                        - Healthy
                        - Warning
                        - Unhealthy
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - kind
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: false
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/enterprisePolicies:
    get:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_ListByResourceGroup
      description: Retrieve a list of EnterprisePolicies within a given resource group
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. List of EnterprisePolicies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          description: The identity of the EnterprisePolicy.
                          type: object
                          properties:
                            systemAssignedIdentityPrincipalId:
                              readOnly: true
                              type: string
                              description: The principal id of EnterprisePolicy identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id associated with the EnterprisePolicy.
                            type:
                              type: string
                              description: The type of identity used for the EnterprisePolicy.
                                Currently, the only supported type is 'SystemAssigned',
                                which implicitly creates an identity.
                              enum:
                              - SystemAssigned
                              - None
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                        kind:
                          description: The kind (type) of Enterprise Policy.
                          type: string
                          x-ms-enum:
                            name: EnterprisePolicyKind
                            modelAsString: true
                          enum:
                          - Lockbox
                          - PrivateEndpoint
                          - Encryption
                          - NetworkInjection
                          - Identity
                        properties:
                          description: The properties that define configuration for
                            the enterprise policy
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            systemId:
                              type: string
                              description: The internally assigned unique identifier
                                of the resource.
                              readOnly: true
                            lockbox:
                              type: object
                              description: Settings concerning lockbox.
                              properties:
                                state:
                                  description: lockbox configuration
                                  type: string
                                  x-ms-enum:
                                    name: state
                                    modelAsString: true
                                  enum:
                                  - Enabled
                                  - Disabled
                                  - NotConfigured
                            encryption:
                              type: object
                              description: The encryption settings for a configuration
                                store.
                              properties:
                                keyVault:
                                  description: Key vault properties.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Uri of KeyVault
                                    key:
                                      description: Identity of the secret that includes
                                        name and version.
                                      type: object
                                      properties:
                                        name:
                                          description: The identifier of the key vault
                                            key used to encrypt data.
                                          type: string
                                        version:
                                          description: The version of the identity
                                            which will be used to access key vault.
                                          type: string
                                state:
                                  description: The state of onboarding, which only
                                    appears in the response.
                                  type: string
                                  x-ms-enum:
                                    name: state
                                    modelAsString: true
                                  enum:
                                  - Enabled
                                  - Disabled
                                  - NotConfigured
                            networkInjection:
                              type: object
                              description: Settings concerning network injection.
                              properties:
                                virtualNetworks:
                                  description: Network injection configuration
                                  type: array
                                  items:
                                    type: object
                                    description: Settings concerning the virtual network.
                                    properties:
                                      id:
                                        type: string
                                        description: Uri of the virtual network.
                                      subnet:
                                        description: Properties of a subnet.
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: Subnet name.
                            healthStatus:
                              description: The health status of the resource.
                              type: string
                              x-ms-enum:
                                name: HealthStatus
                                modelAsString: true
                              enum:
                              - Undetermined
                              - Healthy
                              - Warning
                              - Unhealthy
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      - kind
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the list EnterprisePolicy operation.
                  nextLink:
                    type: string
                    description: Next page link if any.
                description: The response of the list EnterprisePolicy operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerPlatform/enterprisePolicies:
    get:
      tags:
      - EnterprisePolicies
      operationId: EnterprisePolicies_ListBySubscription
      description: Retrieve a list of EnterprisePolicies within a subscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. List of EnterprisePolicies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
[...]
