openapi: 3.0.0
info:
  version: '3.3'
  title: Custom Vision Training Client
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
- url: '{Endpoint}/customvision/v3.3/training'
  variables:
    Endpoint:
      description: Supported Cognitive Services endpoints.
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
      default: none
security:
- apim_key: []
paths:
  /domains:
    get:
      description: Get a list of the available domains.
      operationId: Domains_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      format: uuid
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      type: string
                      readOnly: true
                      nullable: false
                    type:
                      enum:
                      - Classification
                      - ObjectDetection
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: DomainType
                        modelAsString: true
                      nullable: false
                    exportable:
                      type: boolean
                      readOnly: true
                      nullable: false
                    enabled:
                      type: boolean
                      readOnly: true
                      nullable: false
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      format: uuid
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      type: string
                      readOnly: true
                      nullable: false
                    type:
                      enum:
                      - Classification
                      - ObjectDetection
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: DomainType
                        modelAsString: true
                      nullable: false
                    exportable:
                      type: boolean
                      readOnly: true
                      nullable: false
                    enabled:
                      type: boolean
                      readOnly: true
                      nullable: false
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      format: uuid
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      type: string
                      readOnly: true
                      nullable: false
                    type:
                      enum:
                      - Classification
                      - ObjectDetection
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: DomainType
                        modelAsString: true
                      nullable: false
                    exportable:
                      type: boolean
                      readOnly: true
                      nullable: false
                    enabled:
                      type: boolean
                      readOnly: true
                      nullable: false
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            text/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
  /domains/{domainId}:
    get:
      description: Get information about a specific domain.
      operationId: Domains_Get
      parameters:
      - name: domainId
        in: path
        description: The id of the domain to get information about.
        required: true
        x-nullable: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    format: uuid
                    type: string
                    readOnly: true
                    nullable: false
                  name:
                    type: string
                    readOnly: true
                    nullable: false
                  type:
                    enum:
                    - Classification
                    - ObjectDetection
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: DomainType
                      modelAsString: true
                    nullable: false
                  exportable:
                    type: boolean
                    readOnly: true
                    nullable: false
                  enabled:
                    type: boolean
                    readOnly: true
                    nullable: false
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    format: uuid
                    type: string
                    readOnly: true
                    nullable: false
                  name:
                    type: string
                    readOnly: true
                    nullable: false
                  type:
                    enum:
                    - Classification
                    - ObjectDetection
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: DomainType
                      modelAsString: true
                    nullable: false
                  exportable:
                    type: boolean
                    readOnly: true
                    nullable: false
                  enabled:
                    type: boolean
                    readOnly: true
                    nullable: false
            text/xml:
              schema:
                type: object
                properties:
                  id:
                    format: uuid
                    type: string
                    readOnly: true
                    nullable: false
                  name:
                    type: string
                    readOnly: true
                    nullable: false
                  type:
                    enum:
                    - Classification
                    - ObjectDetection
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: DomainType
                      modelAsString: true
                    nullable: false
                  exportable:
                    type: boolean
                    readOnly: true
                    nullable: false
                  enabled:
                    type: boolean
                    readOnly: true
                    nullable: false
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            text/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
  /projects:
    get:
      description: Get your projects.
      operationId: Projects_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  description: Represents a project.
                  required:
                  - name
                  - description
                  - settings
                  type: object
                  properties:
                    id:
                      format: uuid
                      description: Gets the project id.
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      description: Gets or sets the name of the project.
                      type: string
                      readOnly: false
                      nullable: false
                    description:
                      description: Gets or sets the description of the project.
                      type: string
                      readOnly: false
                      nullable: true
                    settings:
                      description: Gets or sets the project settings.
                      readOnly: false
                      type: object
                      properties:
                        domainId:
                          format: uuid
                          description: Gets or sets the id of the Domain to use with
                            this project.
                          type: string
                          readOnly: false
                          nullable: false
                        classificationType:
                          description: Gets or sets the classification type of the
                            project.
                          enum:
                          - Multiclass
                          - Multilabel
                          type: string
                          readOnly: false
                          x-ms-enum:
                            name: Classifier
                            modelAsString: true
                          nullable: true
                        targetExportPlatforms:
                          description: A list of ExportPlatform that the trained model
                            should be able to support.
                          type: array
                          items:
                            enum:
                            - CoreML
                            - TensorFlow
                            - DockerFile
                            - ONNX
                            - VAIDK
                            type: string
                            nullable: false
                          readOnly: false
                        useNegativeSet:
                          description: Indicates if negative set is being used.
                          type: boolean
                          readOnly: true
                          nullable: true
                        detectionParameters:
                          description: Detection parameters in use, if any.
                          type: string
                          readOnly: true
                          nullable: false
                        imageProcessingSettings:
                          description: Gets or sets image preprocessing settings.
                          readOnly: false
                          type: object
                          properties:
                            augmentationMethods:
                              description: "Gets or sets enabled image transforms.\
                                \ The key corresponds to the transform name. If value\
                                \ is set to true, then correspondent transform is\
                                \ enabled. Otherwise this transform will not be used.\r\
                                \nAugmentation will be uniformly distributed among\
                                \ enabled transforms."
                              type: object
                              additionalProperties:
                                type: boolean
                              readOnly: false
                              nullable: true
                    created:
                      format: date-time
                      description: Gets the date this project was created.
                      type: string
                      readOnly: true
                      nullable: false
                    lastModified:
                      format: date-time
                      description: Gets the date this project was last modified.
                      type: string
                      readOnly: true
                      nullable: false
                    thumbnailUri:
                      description: Gets the thumbnail url representing the image.
                        If VNET feature is enabled this will be a relative path to
                        be used with GetArtifact, otherwise this will be an absolute
                        URI to the resource.
                      type: string
                      readOnly: true
                    drModeEnabled:
                      description: Gets if the Disaster Recovery (DR) mode is on,
                        indicating the project is temporarily read-only.
                      type: boolean
                      readOnly: true
                      nullable: true
                    status:
                      description: Gets the status of the project.
                      enum:
                      - Succeeded
                      - Importing
                      - Failed
                      type: string
                      readOnly: false
                      x-ms-enum:
                        name: ProjectStatus
                        modelAsString: true
                      nullable: false
            application/xml:
              schema:
                type: array
                items:
                  description: Represents a project.
                  required:
                  - name
                  - description
                  - settings
                  type: object
                  properties:
                    id:
                      format: uuid
                      description: Gets the project id.
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      description: Gets or sets the name of the project.
                      type: string
                      readOnly: false
                      nullable: false
                    description:
                      description: Gets or sets the description of the project.
                      type: string
                      readOnly: false
                      nullable: true
                    settings:
                      description: Gets or sets the project settings.
                      readOnly: false
                      type: object
                      properties:
                        domainId:
                          format: uuid
                          description: Gets or sets the id of the Domain to use with
                            this project.
                          type: string
                          readOnly: false
                          nullable: false
                        classificationType:
                          description: Gets or sets the classification type of the
                            project.
                          enum:
                          - Multiclass
                          - Multilabel
                          type: string
                          readOnly: false
                          x-ms-enum:
                            name: Classifier
                            modelAsString: true
                          nullable: true
                        targetExportPlatforms:
                          description: A list of ExportPlatform that the trained model
                            should be able to support.
                          type: array
                          items:
                            enum:
                            - CoreML
                            - TensorFlow
                            - DockerFile
                            - ONNX
                            - VAIDK
                            type: string
                            nullable: false
                          readOnly: false
                        useNegativeSet:
                          description: Indicates if negative set is being used.
                          type: boolean
                          readOnly: true
                          nullable: true
                        detectionParameters:
                          description: Detection parameters in use, if any.
                          type: string
                          readOnly: true
                          nullable: false
                        imageProcessingSettings:
                          description: Gets or sets image preprocessing settings.
                          readOnly: false
                          type: object
                          properties:
                            augmentationMethods:
                              description: "Gets or sets enabled image transforms.\
                                \ The key corresponds to the transform name. If value\
                                \ is set to true, then correspondent transform is\
                                \ enabled. Otherwise this transform will not be used.\r\
                                \nAugmentation will be uniformly distributed among\
                                \ enabled transforms."
                              type: object
                              additionalProperties:
                                type: boolean
                              readOnly: false
                              nullable: true
                    created:
                      format: date-time
                      description: Gets the date this project was created.
                      type: string
                      readOnly: true
                      nullable: false
                    lastModified:
                      format: date-time
                      description: Gets the date this project was last modified.
                      type: string
                      readOnly: true
                      nullable: false
                    thumbnailUri:
                      description: Gets the thumbnail url representing the image.
                        If VNET feature is enabled this will be a relative path to
                        be used with GetArtifact, otherwise this will be an absolute
                        URI to the resource.
                      type: string
                      readOnly: true
                    drModeEnabled:
                      description: Gets if the Disaster Recovery (DR) mode is on,
                        indicating the project is temporarily read-only.
                      type: boolean
                      readOnly: true
                      nullable: true
                    status:
                      description: Gets the status of the project.
                      enum:
                      - Succeeded
                      - Importing
                      - Failed
                      type: string
                      readOnly: false
                      x-ms-enum:
                        name: ProjectStatus
                        modelAsString: true
                      nullable: false
            text/xml:
              schema:
                type: array
                items:
                  description: Represents a project.
                  required:
                  - name
                  - description
                  - settings
                  type: object
                  properties:
                    id:
                      format: uuid
                      description: Gets the project id.
                      type: string
                      readOnly: true
                      nullable: false
                    name:
                      description: Gets or sets the name of the project.
                      type: string
                      readOnly: false
                      nullable: false
                    description:
                      description: Gets or sets the description of the project.
                      type: string
                      readOnly: false
                      nullable: true
                    settings:
                      description: Gets or sets the project settings.
                      readOnly: false
                      type: object
                      properties:
                        domainId:
                          format: uuid
                          description: Gets or sets the id of the Domain to use with
                            this project.
                          type: string
                          readOnly: false
                          nullable: false
                        classificationType:
                          description: Gets or sets the classification type of the
                            project.
                          enum:
                          - Multiclass
                          - Multilabel
                          type: string
                          readOnly: false
                          x-ms-enum:
                            name: Classifier
                            modelAsString: true
                          nullable: true
                        targetExportPlatforms:
                          description: A list of ExportPlatform that the trained model
                            should be able to support.
                          type: array
                          items:
                            enum:
                            - CoreML
                            - TensorFlow
                            - DockerFile
                            - ONNX
                            - VAIDK
                            type: string
                            nullable: false
                          readOnly: false
                        useNegativeSet:
                          description: Indicates if negative set is being used.
                          type: boolean
                          readOnly: true
                          nullable: true
                        detectionParameters:
                          description: Detection parameters in use, if any.
                          type: string
                          readOnly: true
                          nullable: false
                        imageProcessingSettings:
                          description: Gets or sets image preprocessing settings.
                          readOnly: false
                          type: object
                          properties:
                            augmentationMethods:
                              description: "Gets or sets enabled image transforms.\
                                \ The key corresponds to the transform name. If value\
                                \ is set to true, then correspondent transform is\
                                \ enabled. Otherwise this transform will not be used.\r\
                                \nAugmentation will be uniformly distributed among\
                                \ enabled transforms."
                              type: object
                              additionalProperties:
                                type: boolean
                              readOnly: false
                              nullable: true
                    created:
                      format: date-time
                      description: Gets the date this project was created.
                      type: string
                      readOnly: true
                      nullable: false
                    lastModified:
                      format: date-time
                      description: Gets the date this project was last modified.
                      type: string
                      readOnly: true
                      nullable: false
                    thumbnailUri:
                      description: Gets the thumbnail url representing the image.
                        If VNET feature is enabled this will be a relative path to
                        be used with GetArtifact, otherwise this will be an absolute
                        URI to the resource.
                      type: string
                      readOnly: true
                    drModeEnabled:
                      description: Gets if the Disaster Recovery (DR) mode is on,
                        indicating the project is temporarily read-only.
                      type: boolean
                      readOnly: true
                      nullable: true
                    status:
                      description: Gets the status of the project.
                      enum:
                      - Succeeded
                      - Importing
                      - Failed
                      type: string
                      readOnly: false
                      x-ms-enum:
                        name: ProjectStatus
                        modelAsString: true
                      nullable: false
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            text/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
    post:
      description: Create a project.
      operationId: Projects_Create
      parameters:
      - name: name
        in: query
        description: Name of the project.
        required: true
        schema:
          type: string
      - name: description
        in: query
        description: The description of the project.
        required: false
        schema:
          type: string
      - name: domainId
        in: query
        description: The id of the domain to use for this project. Defaults to General.
        required: false
        schema:
          type: string
          format: uuid
      - name: classificationType
        in: query
        description: The type of classifier to create for this project.
        required: false
        schema:
          type: string
          enum:
          - Multiclass
          - Multilabel
      - name: targetExportPlatforms
        in: query
        description: List of platforms the trained model is intending exporting to.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CoreML
            - TensorFlow
            - DockerFile
            - ONNX
            - VAIDK
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Represents a project.
                required:
                - name
                - description
                - settings
                type: object
                properties:
                  id:
                    format: uuid
                    description: Gets the project id.
                    type: string
                    readOnly: true
                    nullable: false
                  name:
                    description: Gets or sets the name of the project.
                    type: string
                    readOnly: false
                    nullable: false
                  description:
                    description: Gets or sets the description of the project.
                    type: string
                    readOnly: false
                    nullable: true
                  settings:
                    description: Gets or sets the project settings.
                    readOnly: false
                    type: object
                    properties:
                      domainId:
                        format: uuid
                        description: Gets or sets the id of the Domain to use with
                          this project.
                        type: string
                        readOnly: false
                        nullable: false
                      classificationType:
                        description: Gets or sets the classification type of the project.
                        enum:
                        - Multiclass
                        - Multilabel
                        type: string
                        readOnly: false
                        x-ms-enum:
                          name: Classifier
                          modelAsString: true
                        nullable: true
                      targetExportPlatforms:
                        description: A list of ExportPlatform that the trained model
                          should be able to support.
                        type: array
                        items:
                          enum:
                          - CoreML
                          - TensorFlow
                          - DockerFile
                          - ONNX
                          - VAIDK
                          type: string
                          nullable: false
                        readOnly: false
                      useNegativeSet:
                        description: Indicates if negative set is being used.
                        type: boolean
                        readOnly: true
                        nullable: true
                      detectionParameters:
                        description: Detection parameters in use, if any.
                        type: string
                        readOnly: true
                        nullable: false
                      imageProcessingSettings:
                        description: Gets or sets image preprocessing settings.
                        readOnly: false
                        type: object
                        properties:
                          augmentationMethods:
                            description: "Gets or sets enabled image transforms. The\
                              \ key corresponds to the transform name. If value is\
                              \ set to true, then correspondent transform is enabled.\
                              \ Otherwise this transform will not be used.\r\nAugmentation\
                              \ will be uniformly distributed among enabled transforms."
                            type: object
                            additionalProperties:
                              type: boolean
                            readOnly: false
                            nullable: true
                  created:
                    format: date-time
                    description: Gets the date this project was created.
                    type: string
                    readOnly: true
                    nullable: false
                  lastModified:
                    format: date-time
                    description: Gets the date this project was last modified.
                    type: string
                    readOnly: true
                    nullable: false
                  thumbnailUri:
                    description: Gets the thumbnail url representing the image. If
                      VNET feature is enabled this will be a relative path to be used
                      with GetArtifact, otherwise this will be an absolute URI to
                      the resource.
                    type: string
                    readOnly: true
                  drModeEnabled:
                    description: Gets if the Disaster Recovery (DR) mode is on, indicating
                      the project is temporarily read-only.
                    type: boolean
                    readOnly: true
                    nullable: true
                  status:
                    description: Gets the status of the project.
                    enum:
                    - Succeeded
                    - Importing
                    - Failed
                    type: string
                    readOnly: false
                    x-ms-enum:
                      name: ProjectStatus
                      modelAsString: true
                    nullable: false
            application/xml:
              schema:
                description: Represents a project.
                required:
                - name
                - description
                - settings
                type: object
                properties:
                  id:
                    format: uuid
                    description: Gets the project id.
                    type: string
                    readOnly: true
                    nullable: false
                  name:
                    description: Gets or sets the name of the project.
                    type: string
                    readOnly: false
                    nullable: false
                  description:
                    description: Gets or sets the description of the project.
                    type: string
                    readOnly: false
                    nullable: true
                  settings:
                    description: Gets or sets the project settings.
                    readOnly: false
                    type: object
                    properties:
                      domainId:
                        format: uuid
                        description: Gets or sets the id of the Domain to use with
                          this project.
                        type: string
                        readOnly: false
                        nullable: false
                      classificationType:
                        description: Gets or sets the classification type of the project.
                        enum:
                        - Multiclass
                        - Multilabel
                        type: string
                        readOnly: false
                        x-ms-enum:
                          name: Classifier
                          modelAsString: true
                        nullable: true
                      targetExportPlatforms:
                        description: A list of ExportPlatform that the trained model
                          should be able to support.
                        type: array
                        items:
                          enum:
[...]
