openapi: 3.0.0
info:
  title: HanaManagementClient
  description: The SAP HANA on Azure Management Client.
  version: 2020-02-07-preview
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.HanaOnAzure/operations:
    get:
      tags:
      - HanaOnAzure
      operationId: Operations_List
      description: Gets a list of SAP HANA management operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: The name of the operation being performed on
                            this particular object. This name should match the action
                            name that appears in RBAC / the event service.
                        display:
                          description: Displayed HANA operation information
                          type: object
                          properties:
                            provider:
                              readOnly: true
                              type: string
                              description: The localized friendly form of the resource
                                provider name. This form is also expected to include
                                the publisher/company responsible. Use Title Casing.
                                Begin with "Microsoft" for 1st party services.
                            resource:
                              readOnly: true
                              type: string
                              description: "The localized friendly form of the resource\
                                \ type related to this action/operation. This form\
                                \ should match the public documentation for the resource\
                                \ provider. Use Title Casing. For examples, refer\
                                \ to the \u201Cname\u201D section."
                            operation:
                              readOnly: true
                              type: string
                              description: The localized friendly name for the operation
                                as shown to the user. This name should be concise
                                (to fit in drop downs), but clear (self-documenting).
                                Use Title Casing and include the entity/resource to
                                which it applies.
                            description:
                              readOnly: true
                              type: string
                              description: The localized friendly description for
                                the operation as shown to the user. This description
                                should be thorough, yet concise. It will be used in
                                tool-tips and detailed views.
                            origin:
                              readOnly: true
                              type: string
                              description: The intended executor of the operation;
                                governs the display of the operation in the RBAC UX
                                and the audit logs UX. Default value is 'user,system'
                      description: HANA operation information
                    x-ms-identifiers:
                    - name
                    description: List of HANA operations
                description: List of HANA operations
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors:
    get:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: SapMonitors_List
      summary: Gets a list of SAP monitors in the specified subscription.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: SAP monitor properties
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              x-ms-enum:
                                name: HanaProvisioningStatesEnum
                                modelAsString: true
                              description: State of provisioning of the HanaInstance
                            managedResourceGroupName:
                              readOnly: true
                              type: string
                              description: The name of the resource group the SAP
                                Monitor resources get deployed into.
                            logAnalyticsWorkspaceArmId:
                              type: string
                              description: The ARM ID of the Log Analytics Workspace
                                that is used for monitoring
                            enableCustomerAnalytics:
                              type: boolean
                              description: The value indicating whether to send analytics
                                to Microsoft
                            logAnalyticsWorkspaceId:
                              type: string
                              description: The workspace ID of the log analytics workspace
                                to be used for monitoring
                            logAnalyticsWorkspaceSharedKey:
                              type: string
                              description: The shared key of the log analytics workspace
                                that is used for monitoring
                            sapMonitorCollectorVersion:
                              readOnly: true
                              type: string
                              description: The version of the payload running in the
                                Collector VM
                            monitorSubnet:
                              type: string
                              description: The subnet which the SAP monitor will be
                                deployed in
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of SAP monitors.
                  nextLink:
                    type: string
                    description: The URL to get the next set of SAP monitors.
                description: The response from the List SAP monitors operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}
  : get:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: SapMonitors_Get
      summary: Gets properties of a SAP monitor.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: SAP monitor properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the HanaInstance
                      managedResourceGroupName:
                        readOnly: true
                        type: string
                        description: The name of the resource group the SAP Monitor
                          resources get deployed into.
                      logAnalyticsWorkspaceArmId:
                        type: string
                        description: The ARM ID of the Log Analytics Workspace that
                          is used for monitoring
                      enableCustomerAnalytics:
                        type: boolean
                        description: The value indicating whether to send analytics
                          to Microsoft
                      logAnalyticsWorkspaceId:
                        type: string
                        description: The workspace ID of the log analytics workspace
                          to be used for monitoring
                      logAnalyticsWorkspaceSharedKey:
                        type: string
                        description: The shared key of the log analytics workspace
                          that is used for monitoring
                      sapMonitorCollectorVersion:
                        readOnly: true
                        type: string
                        description: The version of the payload running in the Collector
                          VM
                      monitorSubnet:
                        type: string
                        description: The subnet which the SAP monitor will be deployed
                          in
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
    put:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: SapMonitors_Create
      x-ms-long-running-operation: true
      summary: Creates a SAP monitor.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: SAP monitor properties
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      x-ms-enum:
                        name: HanaProvisioningStatesEnum
                        modelAsString: true
                      description: State of provisioning of the HanaInstance
                    managedResourceGroupName:
                      readOnly: true
                      type: string
                      description: The name of the resource group the SAP Monitor
                        resources get deployed into.
                    logAnalyticsWorkspaceArmId:
                      type: string
                      description: The ARM ID of the Log Analytics Workspace that
                        is used for monitoring
                    enableCustomerAnalytics:
                      type: boolean
                      description: The value indicating whether to send analytics
                        to Microsoft
                    logAnalyticsWorkspaceId:
                      type: string
                      description: The workspace ID of the log analytics workspace
                        to be used for monitoring
                    logAnalyticsWorkspaceSharedKey:
                      type: string
                      description: The shared key of the log analytics workspace that
                        is used for monitoring
                    sapMonitorCollectorVersion:
                      readOnly: true
                      type: string
                      description: The version of the payload running in the Collector
                        VM
                    monitorSubnet:
                      type: string
                      description: The subnet which the SAP monitor will be deployed
                        in
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request body representing a SAP Monitor
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Created SapMonitor
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: SAP monitor properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the HanaInstance
                      managedResourceGroupName:
                        readOnly: true
                        type: string
                        description: The name of the resource group the SAP Monitor
                          resources get deployed into.
                      logAnalyticsWorkspaceArmId:
                        type: string
                        description: The ARM ID of the Log Analytics Workspace that
                          is used for monitoring
                      enableCustomerAnalytics:
                        type: boolean
                        description: The value indicating whether to send analytics
                          to Microsoft
                      logAnalyticsWorkspaceId:
                        type: string
                        description: The workspace ID of the log analytics workspace
                          to be used for monitoring
                      logAnalyticsWorkspaceSharedKey:
                        type: string
                        description: The shared key of the log analytics workspace
                          that is used for monitoring
                      sapMonitorCollectorVersion:
                        readOnly: true
                        type: string
                        description: The version of the payload running in the Collector
                          VM
                      monitorSubnet:
                        type: string
                        description: The subnet which the SAP monitor will be deployed
                          in
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Creating SapMonitor
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: SAP monitor properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the HanaInstance
                      managedResourceGroupName:
                        readOnly: true
                        type: string
                        description: The name of the resource group the SAP Monitor
                          resources get deployed into.
                      logAnalyticsWorkspaceArmId:
                        type: string
                        description: The ARM ID of the Log Analytics Workspace that
                          is used for monitoring
                      enableCustomerAnalytics:
                        type: boolean
                        description: The value indicating whether to send analytics
                          to Microsoft
                      logAnalyticsWorkspaceId:
                        type: string
                        description: The workspace ID of the log analytics workspace
                          to be used for monitoring
                      logAnalyticsWorkspaceSharedKey:
                        type: string
                        description: The shared key of the log analytics workspace
                          that is used for monitoring
                      sapMonitorCollectorVersion:
                        readOnly: true
                        type: string
                        description: The version of the payload running in the Collector
                          VM
                      monitorSubnet:
                        type: string
                        description: The subnet which the SAP monitor will be deployed
                          in
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
    delete:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: SapMonitors_Delete
      x-ms-long-running-operation: true
      summary: Deletes a SAP monitor.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Deleted SapMonitor
        '202':
          description: Deleting SapMonitor
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: No SapMonitor to delete
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
    patch:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: SapMonitors_Update
      summary: Patches the Tags field of a SAP monitor.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Tags field of the resource.
              description: Tags field of the resource.
        description: Request body that only contains the new Tags field
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: SAP monitor properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the HanaInstance
                      managedResourceGroupName:
                        readOnly: true
                        type: string
                        description: The name of the resource group the SAP Monitor
                          resources get deployed into.
                      logAnalyticsWorkspaceArmId:
                        type: string
                        description: The ARM ID of the Log Analytics Workspace that
                          is used for monitoring
                      enableCustomerAnalytics:
                        type: boolean
                        description: The value indicating whether to send analytics
                          to Microsoft
                      logAnalyticsWorkspaceId:
                        type: string
                        description: The workspace ID of the log analytics workspace
                          to be used for monitoring
                      logAnalyticsWorkspaceSharedKey:
                        type: string
                        description: The shared key of the log analytics workspace
                          that is used for monitoring
                      sapMonitorCollectorVersion:
                        readOnly: true
                        type: string
                        description: The version of the payload running in the Collector
                          VM
                      monitorSubnet:
                        type: string
                        description: The subnet which the SAP monitor will be deployed
                          in
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances
  : get:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: ProviderInstances_List
      summary: Gets a list of provider instances in the specified SAP monitor.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          x-ms-client-flatten: true
                          description: Provider Instance properties
                          properties:
                            type:
                              type: string
                              description: The type of provider instance.
                            properties:
                              type: string
                              description: A JSON string containing the properties
                                of the provider instance.
                            metadata:
                              type: string
                              description: A JSON string containing metadata of the
                                provider instance.
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              x-ms-enum:
                                name: HanaProvisioningStatesEnum
                                modelAsString: true
                              description: State of provisioning of the provider instance
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of provider instances.
                  nextLink:
                    type: string
                    description: The URL to get the next set of provider instances.
                description: The response from the List provider instances operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances/{providerInstanceName}
  : get:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: ProviderInstances_Get
      summary: Gets properties of a provider instance.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: providerInstanceName
        in: path
        required: true
        description: Name of the provider instance.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Provider Instance properties
                    properties:
                      type:
                        type: string
                        description: The type of provider instance.
                      properties:
                        type: string
                        description: A JSON string containing the properties of the
                          provider instance.
                      metadata:
                        type: string
                        description: A JSON string containing metadata of the provider
                          instance.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the provider instance
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
    put:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: ProviderInstances_Create
      x-ms-long-running-operation: true
      summary: Creates a provider instance.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: providerInstanceName
        in: path
        required: true
        description: Name of the provider instance.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  x-ms-client-flatten: true
                  description: Provider Instance properties
                  properties:
                    type:
                      type: string
                      description: The type of provider instance.
                    properties:
                      type: string
                      description: A JSON string containing the properties of the
                        provider instance.
                    metadata:
                      type: string
                      description: A JSON string containing metadata of the provider
                        instance.
                    provisioningState:
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      x-ms-enum:
                        name: HanaProvisioningStatesEnum
                        modelAsString: true
                      description: State of provisioning of the provider instance
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request body representing a provider instance
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Created provider instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Provider Instance properties
                    properties:
                      type:
                        type: string
                        description: The type of provider instance.
                      properties:
                        type: string
                        description: A JSON string containing the properties of the
                          provider instance.
                      metadata:
                        type: string
                        description: A JSON string containing metadata of the provider
                          instance.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the provider instance
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Creating provider instance
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    x-ms-client-flatten: true
                    description: Provider Instance properties
                    properties:
                      type:
                        type: string
                        description: The type of provider instance.
                      properties:
                        type: string
                        description: A JSON string containing the properties of the
                          provider instance.
                      metadata:
                        type: string
                        description: A JSON string containing metadata of the provider
                          instance.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        x-ms-enum:
                          name: HanaProvisioningStatesEnum
                          modelAsString: true
                        description: State of provisioning of the provider instance
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
    delete:
      deprecated: true
      tags:
      - HanaOnAzure
      operationId: ProviderInstances_Delete
      x-ms-long-running-operation: true
      summary: Deletes a provider instance.
      description: The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially
        retired as of May 31, 2023.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identify Microsoft Azure subscription.
          The subscription ID forms part of the URI for every service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: Name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sapMonitorName
        in: path
        required: true
        description: Name of the SAP monitor resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: providerInstanceName
        in: path
        required: true
        description: Name of the provider instance.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Deleted provider instance
        '202':
          description: Deleting provider instance
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: No provider instance to delete
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Describes the format of Error response.
                properties:
                  error:
                    type: object
                    description: Describes the error object.
                    properties:
                      code:
                        readOnly: true
                        description: Error code
                        type: string
                      message:
                        readOnly: true
                        description: Error message indicating why the operation failed.
                        type: string
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription ID which uniquely identify Microsoft Azure subscription.
        The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    SapMonitorNameParameter:
      name: sapMonitorName
      in: path
      required: true
      description: Name of the SAP monitor resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ProviderInstanceNameParameter:
      name: providerInstanceName
      in: path
      required: true
      description: Name of the provider instance.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: The name of the operation being performed on this particular
                  object. This name should match the action name that appears in RBAC
                  / the event service.
              display:
                description: Displayed HANA operation information
                type: object
                properties:
                  provider:
                    readOnly: true
                    type: string
                    description: The localized friendly form of the resource provider
                      name. This form is also expected to include the publisher/company
                      responsible. Use Title Casing. Begin with "Microsoft" for 1st
                      party services.
                  resource:
                    readOnly: true
                    type: string
                    description: "The localized friendly form of the resource type\
                      \ related to this action/operation. This form should match the\
                      \ public documentation for the resource provider. Use Title\
                      \ Casing. For examples, refer to the \u201Cname\u201D section."
                  operation:
                    readOnly: true
                    type: string
                    description: The localized friendly name for the operation as
                      shown to the user. This name should be concise (to fit in drop
                      downs), but clear (self-documenting). Use Title Casing and include
                      the entity/resource to which it applies.
                  description:
                    readOnly: true
                    type: string
                    description: The localized friendly description for the operation
                      as shown to the user. This description should be thorough, yet
                      concise. It will be used in tool-tips and detailed views.
                  origin:
                    readOnly: true
                    type: string
                    description: The intended executor of the operation; governs the
                      display of the operation in the RBAC UX and the audit logs UX.
                      Default value is 'user,system'
            description: HANA operation information
          x-ms-identifiers:
          - name
          description: List of HANA operations
      description: List of HANA operations
    Operation:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: The name of the operation being performed on this particular
            object. This name should match the action name that appears in RBAC /
            the event service.
        display:
          description: Displayed HANA operation information
          type: object
          properties:
            provider:
              readOnly: true
              type: string
              description: The localized friendly form of the resource provider name.
                This form is also expected to include the publisher/company responsible.
                Use Title Casing. Begin with "Microsoft" for 1st party services.
            resource:
              readOnly: true
              type: string
              description: "The localized friendly form of the resource type related\
                \ to this action/operation. This form should match the public documentation\
                \ for the resource provider. Use Title Casing. For examples, refer\
                \ to the \u201Cname\u201D section."
            operation:
              readOnly: true
              type: string
              description: The localized friendly name for the operation as shown
                to the user. This name should be concise (to fit in drop downs), but
                clear (self-documenting). Use Title Casing and include the entity/resource
                to which it applies.
            description:
              readOnly: true
              type: string
              description: The localized friendly description for the operation as
                shown to the user. This description should be thorough, yet concise.
                It will be used in tool-tips and detailed views.
            origin:
              readOnly: true
              type: string
              description: The intended executor of the operation; governs the display
                of the operation in the RBAC UX and the audit logs UX. Default value
                is 'user,system'
      description: HANA operation information
    Display:
      type: object
      properties:
        provider:
          readOnly: true
          type: string
          description: The localized friendly form of the resource provider name.
            This form is also expected to include the publisher/company responsible.
            Use Title Casing. Begin with "Microsoft" for 1st party services.
        resource:
          readOnly: true
          type: string
          description: "The localized friendly form of the resource type related to\
            \ this action/operation. This form should match the public documentation\
            \ for the resource provider. Use Title Casing. For examples, refer to\
            \ the \u201Cname\u201D section."
        operation:
          readOnly: true
          type: string
          description: The localized friendly name for the operation as shown to the
            user. This name should be concise (to fit in drop downs), but clear (self-documenting).
            Use Title Casing and include the entity/resource to which it applies.
        description:
          readOnly: true
          type: string
          description: The localized friendly description for the operation as shown
            to the user. This description should be thorough, yet concise. It will
            be used in tool-tips and detailed views.
        origin:
          readOnly: true
          type: string
          description: The intended executor of the operation; governs the display
            of the operation in the RBAC UX and the audit logs UX. Default value is
            'user,system'
      description: Detailed HANA operation information
    ErrorResponse:
      type: object
      description: Describes the format of Error response.
      properties:
        error:
          type: object
          description: Describes the error object.
          properties:
            code:
              readOnly: true
              description: Error code
              type: string
            message:
              readOnly: true
              description: Error message indicating why the operation failed.
              type: string
    Tags:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Tags field of the resource.
      description: Tags field of the resource.
    SapMonitorListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                description: SAP monitor properties
                properties:
                  provisioningState:
                    readOnly: true
                    type: string
                    enum:
                    - Accepted
                    - Creating
                    - Updating
                    - Failed
                    - Succeeded
                    - Deleting
                    - Migrating
                    x-ms-enum:
                      name: HanaProvisioningStatesEnum
                      modelAsString: true
                    description: State of provisioning of the HanaInstance
                  managedResourceGroupName:
                    readOnly: true
                    type: string
                    description: The name of the resource group the SAP Monitor resources
                      get deployed into.
                  logAnalyticsWorkspaceArmId:
                    type: string
                    description: The ARM ID of the Log Analytics Workspace that is
                      used for monitoring
                  enableCustomerAnalytics:
                    type: boolean
                    description: The value indicating whether to send analytics to
                      Microsoft
                  logAnalyticsWorkspaceId:
                    type: string
                    description: The workspace ID of the log analytics workspace to
                      be used for monitoring
                  logAnalyticsWorkspaceSharedKey:
                    type: string
                    description: The shared key of the log analytics workspace that
                      is used for monitoring
                  sapMonitorCollectorVersion:
                    readOnly: true
                    type: string
                    description: The version of the payload running in the Collector
                      VM
                  monitorSubnet:
                    type: string
                    description: The subnet which the SAP monitor will be deployed
                      in
            required:
            - location
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: The list of SAP monitors.
        nextLink:
          type: string
          description: The URL to get the next set of SAP monitors.
      description: The response from the List SAP monitors operation.
    SapMonitor:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          description: SAP monitor properties
          properties:
            provisioningState:
              readOnly: true
              type: string
              enum:
              - Accepted
              - Creating
              - Updating
              - Failed
              - Succeeded
              - Deleting
              - Migrating
              x-ms-enum:
                name: HanaProvisioningStatesEnum
                modelAsString: true
              description: State of provisioning of the HanaInstance
            managedResourceGroupName:
              readOnly: true
              type: string
              description: The name of the resource group the SAP Monitor resources
                get deployed into.
            logAnalyticsWorkspaceArmId:
              type: string
              description: The ARM ID of the Log Analytics Workspace that is used
                for monitoring
            enableCustomerAnalytics:
              type: boolean
              description: The value indicating whether to send analytics to Microsoft
            logAnalyticsWorkspaceId:
              type: string
              description: The workspace ID of the log analytics workspace to be used
                for monitoring
            logAnalyticsWorkspaceSharedKey:
              type: string
              description: The shared key of the log analytics workspace that is used
                for monitoring
            sapMonitorCollectorVersion:
              readOnly: true
              type: string
              description: The version of the payload running in the Collector VM
            monitorSubnet:
              type: string
              description: The subnet which the SAP monitor will be deployed in
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SapMonitorProperties:
      properties:
        provisioningState:
          readOnly: true
          type: string
          enum:
          - Accepted
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
          x-ms-enum:
            name: HanaProvisioningStatesEnum
            modelAsString: true
          description: State of provisioning of the HanaInstance
        managedResourceGroupName:
          readOnly: true
          type: string
          description: The name of the resource group the SAP Monitor resources get
            deployed into.
        logAnalyticsWorkspaceArmId:
          type: string
          description: The ARM ID of the Log Analytics Workspace that is used for
            monitoring
        enableCustomerAnalytics:
          type: boolean
          description: The value indicating whether to send analytics to Microsoft
        logAnalyticsWorkspaceId:
          type: string
          description: The workspace ID of the log analytics workspace to be used
            for monitoring
        logAnalyticsWorkspaceSharedKey:
          type: string
          description: The shared key of the log analytics workspace that is used
            for monitoring
        sapMonitorCollectorVersion:
          readOnly: true
          type: string
          description: The version of the payload running in the Collector VM
        monitorSubnet:
          type: string
          description: The subnet which the SAP monitor will be deployed in
      description: Describes the properties of a SAP monitor.
    ProviderInstanceListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                x-ms-client-flatten: true
                description: Provider Instance properties
                properties:
                  type:
                    type: string
                    description: The type of provider instance.
                  properties:
                    type: string
                    description: A JSON string containing the properties of the provider
                      instance.
                  metadata:
                    type: string
                    description: A JSON string containing metadata of the provider
                      instance.
                  provisioningState:
                    readOnly: true
                    type: string
                    enum:
                    - Accepted
                    - Creating
                    - Updating
                    - Failed
                    - Succeeded
                    - Deleting
                    - Migrating
                    x-ms-enum:
                      name: HanaProvisioningStatesEnum
                      modelAsString: true
                    description: State of provisioning of the provider instance
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: The list of provider instances.
        nextLink:
          type: string
          description: The URL to get the next set of provider instances.
      description: The response from the List provider instances operation.
    ProviderInstance:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          x-ms-client-flatten: true
          description: Provider Instance properties
          properties:
            type:
              type: string
              description: The type of provider instance.
            properties:
              type: string
              description: A JSON string containing the properties of the provider
                instance.
            metadata:
              type: string
              description: A JSON string containing metadata of the provider instance.
            provisioningState:
              readOnly: true
              type: string
              enum:
              - Accepted
              - Creating
              - Updating
              - Failed
              - Succeeded
              - Deleting
              - Migrating
              x-ms-enum:
                name: HanaProvisioningStatesEnum
                modelAsString: true
              description: State of provisioning of the provider instance
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ProviderInstanceProperties:
      properties:
        type:
          type: string
          description: The type of provider instance.
        properties:
          type: string
          description: A JSON string containing the properties of the provider instance.
        metadata:
          type: string
          description: A JSON string containing metadata of the provider instance.
        provisioningState:
          readOnly: true
          type: string
          enum:
          - Accepted
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
          x-ms-enum:
            name: HanaProvisioningStatesEnum
            modelAsString: true
          description: State of provisioning of the provider instance
      description: Describes the properties of a provider instance.
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - location
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
