openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionClient
  description: The User Subscription Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions:
    get:
      description: Get the list of subscriptions.
      tags:
      - Subscriptions
      operationId: Subscriptions_List
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of subscriptions.
                properties:
                  value:
                    type: array
                    description: Subscription definition.
                    items:
                      description: List of supported operations.
                      type: object
                      properties:
                        displayName:
                          description: Subscription name.
                          type: string
                        id:
                          description: Fully qualified identifier.
                          type: string
                        offerId:
                          description: Identifier of the offer under the scope of
                            a delegated provider.
                          type: string
                        state:
                          description: Subscription state.
                          type: string
                          enum:
                          - NotDefined
                          - Enabled
                          - Warned
                          - PastDue
                          - Disabled
                          - Deleted
                          x-ms-enum:
                            name: SubscriptionState
                            modelAsString: true
                        subscriptionId:
                          description: Subscription identifier.
                          type: string
                        tenantId:
                          description: Directory tenant identifier.
                          type: string
                  nextLink:
                    description: URI to the next page.
                    type: string
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscriptions
      operationId: Subscriptions_Get
      description: Gets details about particular subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Id of the subscription.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: List of supported operations.
                type: object
                properties:
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
    put:
      description: Create or updates a subscription.
      tags:
      - Subscriptions
      operationId: Subscriptions_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Id of the subscription.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: List of supported operations.
              type: object
              properties:
                displayName:
                  description: Subscription name.
                  type: string
                id:
                  description: Fully qualified identifier.
                  type: string
                offerId:
                  description: Identifier of the offer under the scope of a delegated
                    provider.
                  type: string
                state:
                  description: Subscription state.
                  type: string
                  enum:
                  - NotDefined
                  - Enabled
                  - Warned
                  - PastDue
                  - Disabled
                  - Deleted
                  x-ms-enum:
                    name: SubscriptionState
                    modelAsString: true
                subscriptionId:
                  description: Subscription identifier.
                  type: string
                tenantId:
                  description: Directory tenant identifier.
                  type: string
        description: Subscription parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of supported operations.
                type: object
                properties:
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: List of supported operations.
                type: object
                properties:
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
    delete:
      description: Delete the specified subscription.
      tags:
      - Subscriptions
      operationId: Subscriptions_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Id of the subscription.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Id of the subscription.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Subscription:
      description: List of supported operations.
      type: object
      properties:
        displayName:
          description: Subscription name.
          type: string
        id:
          description: Fully qualified identifier.
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          type: string
        state:
          description: Subscription state.
          type: string
          enum:
          - NotDefined
          - Enabled
          - Warned
          - PastDue
          - Disabled
          - Deleted
          x-ms-enum:
            name: SubscriptionState
            modelAsString: true
        subscriptionId:
          description: Subscription identifier.
          type: string
        tenantId:
          description: Directory tenant identifier.
          type: string
    SubscriptionList:
      description: List of subscriptions.
      properties:
        value:
          type: array
          description: Subscription definition.
          items:
            description: List of supported operations.
            type: object
            properties:
              displayName:
                description: Subscription name.
                type: string
              id:
                description: Fully qualified identifier.
                type: string
              offerId:
                description: Identifier of the offer under the scope of a delegated
                  provider.
                type: string
              state:
                description: Subscription state.
                type: string
                enum:
                - NotDefined
                - Enabled
                - Warned
                - PastDue
                - Disabled
                - Deleted
                x-ms-enum:
                  name: SubscriptionState
                  modelAsString: true
              subscriptionId:
                description: Subscription identifier.
                type: string
              tenantId:
                description: Directory tenant identifier.
                type: string
        nextLink:
          description: URI to the next page.
          type: string
    SubscriptionState:
      description: Subscription notification state.
      type: string
      enum:
      - NotDefined
      - Enabled
      - Warned
      - PastDue
      - Disabled
      - Deleted
      x-ms-enum:
        name: SubscriptionState
        modelAsString: true
