openapi: 3.0.0
info:
  title: Azure Bot Service
  description: Azure Bot Service is a platform for creating smart conversational agents.
  version: 2022-09-15
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}
  : put:
      tags:
      - Bot
      description: Creates a Bot Service. Bot Service is a resource group wide resource
        type.
      operationId: Bots_Create
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Specifies the resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Specifies the name of the resource.
                  type: string
                  readOnly: true
                location:
                  description: Specifies the location of the resource.
                  type: string
                type:
                  description: Specifies the type of the resource.
                  type: string
                  readOnly: true
                tags:
                  description: Contains resource tags defined as key/value pairs.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: Gets or sets the SKU of the resource.
                  properties:
                    name:
                      description: The sku name
                      type: string
                      enum:
                      - F0
                      - S1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      readOnly: true
                      type: string
                      description: Gets the sku tier. This is based on the SKU name.
                      enum:
                      - Free
                      - Standard
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
                  required:
                  - name
                kind:
                  description: Required. Gets or sets the Kind of the resource.
                  type: string
                  enum:
                  - sdk
                  - designer
                  - bot
                  - function
                  - azurebot
                  x-ms-enum:
                    name: Kind
                    modelAsString: true
                  x-ms-mutability:
                  - create
                  - read
                  nullable: true
                etag:
                  type: string
                  description: Entity Tag.
                zones:
                  type: array
                  items:
                    type: string
                  description: Entity zones
                  readOnly: true
                properties:
                  description: The set of properties specific to bot resource
                  properties:
                    displayName:
                      type: string
                      description: The Name of the bot
                    description:
                      type: string
                      description: The description of the bot
                    iconUrl:
                      type: string
                      description: The Icon Url of the bot
                      default: ''
                    endpoint:
                      type: string
                      description: The bot's endpoint
                      nullable: true
                    endpointVersion:
                      type: string
                      readOnly: true
                      description: The bot's endpoint version
                    allSettings:
                      description: Contains resource all settings defined as key/value
                        pairs.
                      type: object
                      additionalProperties:
                        type: string
                    parameters:
                      description: Contains resource parameters defined as key/value
                        pairs.
                      type: object
                      additionalProperties:
                        type: string
                    manifestUrl:
                      type: string
                      description: The bot's manifest url
                    msaAppType:
                      type: string
                      description: Microsoft App Type for the bot
                      enum:
                      - UserAssignedMSI
                      - SingleTenant
                      - MultiTenant
                      x-ms-enum:
                        name: msaAppType
                        modelAsString: true
                    msaAppId:
                      type: string
                      description: Microsoft App Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    msaAppTenantId:
                      type: string
                      description: Microsoft App Tenant Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    msaAppMSIResourceId:
                      type: string
                      description: Microsoft App Managed Identity Resource Id for
                        the bot
                    configuredChannels:
                      type: array
                      items:
                        type: string
                      readOnly: true
                      description: Collection of channels for which the bot is configured
                    enabledChannels:
                      type: array
                      items:
                        type: string
                      readOnly: true
                      description: Collection of channels for which the bot is enabled
                    developerAppInsightKey:
                      type: string
                      description: The Application Insights key
                    developerAppInsightsApiKey:
                      type: string
                      description: The Application Insights Api Key
                    developerAppInsightsApplicationId:
                      type: string
                      description: The Application Insights App Id
                    luisAppIds:
                      type: array
                      items:
                        type: string
                      description: Collection of LUIS App Ids
                    luisKey:
                      type: string
                      description: The LUIS Key
                    isCmekEnabled:
                      type: boolean
                      description: Whether Cmek is enabled
                      default: false
                    cmekKeyVaultUrl:
                      type: string
                      description: The CMK Url
                    cmekEncryptionStatus:
                      type: string
                      description: The CMK encryption status
                      readOnly: true
                    tenantId:
                      type: string
                      description: The Tenant Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    publicNetworkAccess:
                      description: Whether the bot is in an isolated network
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      default: Enabled
                    isStreamingSupported:
                      type: boolean
                      description: Whether the bot is streaming supported
                      default: false
                    isDeveloperAppInsightsApiKeySet:
                      type: boolean
                      description: Whether the bot is developerAppInsightsApiKey set
                      readOnly: true
                    migrationToken:
                      type: string
                      description: Token used to migrate non Azure bot to azure subscription
                      readOnly: true
                    disableLocalAuth:
                      type: boolean
                      description: Opt-out of local authentication and ensure only
                        MSI and AAD can be used exclusively for authentication.
                    schemaTransformationVersion:
                      type: string
                      description: The channel schema transformation version for the
                        bot
                      default: null
                      nullable: true
                    storageResourceId:
                      type: string
                      description: The storage resourceId for the bot
                    privateEndpointConnections:
                      type: array
                      readOnly: true
                      description: List of Private Endpoint Connections configured
                        for the bot
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                          properties:
                            x-ms-client-flatten: true
                            description: Resource properties.
                            properties:
                              privateEndpoint:
                                description: The resource of private end point.
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: The ARM identifier for Private Endpoint
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                readOnly: true
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                              groupIds:
                                type: array
                                items:
                                  type: string
                                description: Group ids
                            required:
                            - privateLinkServiceConnectionState
                        title: Private Link Resource Base
                        description: Common fields that are returned in the response
                          for all BotService Private Link Resources
                        x-ms-azure-resource: true
                    openWithHint:
                      type: string
                      description: The hint to browser (e.g. protocol handler) on
                        how to open the bot for authoring
                    appPasswordHint:
                      type: string
                      description: The hint (e.g. keyVault secret resourceId) on how
                        to fetch the app secret
                    provisioningState:
                      type: string
                      readOnly: true
                      description: Provisioning state of the resource
                    publishingCredentials:
                      type: string
                      description: Publishing credentials of the resource
                  required:
                  - displayName
                  - endpoint
                  - msaAppId
              description: Azure resource
              x-ms-azure-resource: true
        description: The parameters to provide for the created bot.
        required: true
      responses:
        '200':
          description: If resource is created successfully or already existed, the
            service should return 200 (OK).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                        enum:
                        - Free
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  kind:
                    description: Required. Gets or sets the Kind of the resource.
                    type: string
                    enum:
                    - sdk
                    - designer
                    - bot
                    - function
                    - azurebot
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                    nullable: true
                  etag:
                    type: string
                    description: Entity Tag.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Entity zones
                    readOnly: true
                  properties:
                    description: The set of properties specific to bot resource
                    properties:
                      displayName:
                        type: string
                        description: The Name of the bot
                      description:
                        type: string
                        description: The description of the bot
                      iconUrl:
                        type: string
                        description: The Icon Url of the bot
                        default: ''
                      endpoint:
                        type: string
                        description: The bot's endpoint
                        nullable: true
                      endpointVersion:
                        type: string
                        readOnly: true
                        description: The bot's endpoint version
                      allSettings:
                        description: Contains resource all settings defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      parameters:
                        description: Contains resource parameters defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      manifestUrl:
                        type: string
                        description: The bot's manifest url
                      msaAppType:
                        type: string
                        description: Microsoft App Type for the bot
                        enum:
                        - UserAssignedMSI
                        - SingleTenant
                        - MultiTenant
                        x-ms-enum:
                          name: msaAppType
                          modelAsString: true
                      msaAppId:
                        type: string
                        description: Microsoft App Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppTenantId:
                        type: string
                        description: Microsoft App Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppMSIResourceId:
                        type: string
                        description: Microsoft App Managed Identity Resource Id for
                          the bot
                      configuredChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is configured
                      enabledChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is enabled
                      developerAppInsightKey:
                        type: string
                        description: The Application Insights key
                      developerAppInsightsApiKey:
                        type: string
                        description: The Application Insights Api Key
                      developerAppInsightsApplicationId:
                        type: string
                        description: The Application Insights App Id
                      luisAppIds:
                        type: array
                        items:
                          type: string
                        description: Collection of LUIS App Ids
                      luisKey:
                        type: string
                        description: The LUIS Key
                      isCmekEnabled:
                        type: boolean
                        description: Whether Cmek is enabled
                        default: false
                      cmekKeyVaultUrl:
                        type: string
                        description: The CMK Url
                      cmekEncryptionStatus:
                        type: string
                        description: The CMK encryption status
                        readOnly: true
                      tenantId:
                        type: string
                        description: The Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      publicNetworkAccess:
                        description: Whether the bot is in an isolated network
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                      isStreamingSupported:
                        type: boolean
                        description: Whether the bot is streaming supported
                        default: false
                      isDeveloperAppInsightsApiKeySet:
                        type: boolean
                        description: Whether the bot is developerAppInsightsApiKey
                          set
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Token used to migrate non Azure bot to azure
                          subscription
                        readOnly: true
                      disableLocalAuth:
                        type: boolean
                        description: Opt-out of local authentication and ensure only
                          MSI and AAD can be used exclusively for authentication.
                      schemaTransformationVersion:
                        type: string
                        description: The channel schema transformation version for
                          the bot
                        default: null
                        nullable: true
                      storageResourceId:
                        type: string
                        description: The storage resourceId for the bot
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        description: List of Private Endpoint Connections configured
                          for the bot
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: Group ids
                              required:
                              - privateLinkServiceConnectionState
                          title: Private Link Resource Base
                          description: Common fields that are returned in the response
                            for all BotService Private Link Resources
                          x-ms-azure-resource: true
                      openWithHint:
                        type: string
                        description: The hint to browser (e.g. protocol handler) on
                          how to open the bot for authoring
                      appPasswordHint:
                        type: string
                        description: The hint (e.g. keyVault secret resourceId) on
                          how to fetch the app secret
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the resource
                      publishingCredentials:
                        type: string
                        description: Publishing credentials of the resource
                    required:
                    - displayName
                    - endpoint
                    - msaAppId
                description: Azure resource
                x-ms-azure-resource: true
        '201':
          description: If resource is created successfully, the service should return
            201 (Created). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                        enum:
                        - Free
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  kind:
                    description: Required. Gets or sets the Kind of the resource.
                    type: string
                    enum:
                    - sdk
                    - designer
                    - bot
                    - function
                    - azurebot
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                    nullable: true
                  etag:
                    type: string
                    description: Entity Tag.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Entity zones
                    readOnly: true
                  properties:
                    description: The set of properties specific to bot resource
                    properties:
                      displayName:
                        type: string
                        description: The Name of the bot
                      description:
                        type: string
                        description: The description of the bot
                      iconUrl:
                        type: string
                        description: The Icon Url of the bot
                        default: ''
                      endpoint:
                        type: string
                        description: The bot's endpoint
                        nullable: true
                      endpointVersion:
                        type: string
                        readOnly: true
                        description: The bot's endpoint version
                      allSettings:
                        description: Contains resource all settings defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      parameters:
                        description: Contains resource parameters defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      manifestUrl:
                        type: string
                        description: The bot's manifest url
                      msaAppType:
                        type: string
                        description: Microsoft App Type for the bot
                        enum:
                        - UserAssignedMSI
                        - SingleTenant
                        - MultiTenant
                        x-ms-enum:
                          name: msaAppType
                          modelAsString: true
                      msaAppId:
                        type: string
                        description: Microsoft App Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppTenantId:
                        type: string
                        description: Microsoft App Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppMSIResourceId:
                        type: string
                        description: Microsoft App Managed Identity Resource Id for
                          the bot
                      configuredChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is configured
                      enabledChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is enabled
                      developerAppInsightKey:
                        type: string
                        description: The Application Insights key
                      developerAppInsightsApiKey:
                        type: string
                        description: The Application Insights Api Key
                      developerAppInsightsApplicationId:
                        type: string
                        description: The Application Insights App Id
                      luisAppIds:
                        type: array
                        items:
                          type: string
                        description: Collection of LUIS App Ids
                      luisKey:
                        type: string
                        description: The LUIS Key
                      isCmekEnabled:
                        type: boolean
                        description: Whether Cmek is enabled
                        default: false
                      cmekKeyVaultUrl:
                        type: string
                        description: The CMK Url
                      cmekEncryptionStatus:
                        type: string
                        description: The CMK encryption status
                        readOnly: true
                      tenantId:
                        type: string
                        description: The Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      publicNetworkAccess:
                        description: Whether the bot is in an isolated network
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                      isStreamingSupported:
                        type: boolean
                        description: Whether the bot is streaming supported
                        default: false
                      isDeveloperAppInsightsApiKeySet:
                        type: boolean
                        description: Whether the bot is developerAppInsightsApiKey
                          set
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Token used to migrate non Azure bot to azure
                          subscription
                        readOnly: true
                      disableLocalAuth:
                        type: boolean
                        description: Opt-out of local authentication and ensure only
                          MSI and AAD can be used exclusively for authentication.
                      schemaTransformationVersion:
                        type: string
                        description: The channel schema transformation version for
                          the bot
                        default: null
                        nullable: true
                      storageResourceId:
                        type: string
                        description: The storage resourceId for the bot
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        description: List of Private Endpoint Connections configured
                          for the bot
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: Group ids
                              required:
                              - privateLinkServiceConnectionState
                          title: Private Link Resource Base
                          description: Common fields that are returned in the response
                            for all BotService Private Link Resources
                          x-ms-azure-resource: true
                      openWithHint:
                        type: string
                        description: The hint to browser (e.g. protocol handler) on
                          how to open the bot for authoring
                      appPasswordHint:
                        type: string
                        description: The hint (e.g. keyVault secret resourceId) on
                          how to fetch the app secret
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the resource
                      publishingCredentials:
                        type: string
                        description: Publishing credentials of the resource
                    required:
                    - displayName
                    - endpoint
                    - msaAppId
                description: Azure resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: Bot Service error object.
    patch:
      tags:
      - Bot
      description: Updates a Bot Service
      operationId: Bots_Update
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Specifies the resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Specifies the name of the resource.
                  type: string
                  readOnly: true
                location:
                  description: Specifies the location of the resource.
                  type: string
                type:
                  description: Specifies the type of the resource.
                  type: string
                  readOnly: true
                tags:
                  description: Contains resource tags defined as key/value pairs.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: Gets or sets the SKU of the resource.
                  properties:
                    name:
                      description: The sku name
                      type: string
                      enum:
                      - F0
                      - S1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      readOnly: true
                      type: string
                      description: Gets the sku tier. This is based on the SKU name.
                      enum:
                      - Free
                      - Standard
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
                  required:
                  - name
                kind:
                  description: Required. Gets or sets the Kind of the resource.
                  type: string
                  enum:
                  - sdk
                  - designer
                  - bot
                  - function
                  - azurebot
                  x-ms-enum:
                    name: Kind
                    modelAsString: true
                  x-ms-mutability:
                  - create
                  - read
                  nullable: true
                etag:
                  type: string
                  description: Entity Tag.
                zones:
                  type: array
                  items:
                    type: string
                  description: Entity zones
                  readOnly: true
                properties:
                  description: The set of properties specific to bot resource
                  properties:
                    displayName:
                      type: string
                      description: The Name of the bot
                    description:
                      type: string
                      description: The description of the bot
                    iconUrl:
                      type: string
                      description: The Icon Url of the bot
                      default: ''
                    endpoint:
                      type: string
                      description: The bot's endpoint
                      nullable: true
                    endpointVersion:
                      type: string
                      readOnly: true
                      description: The bot's endpoint version
                    allSettings:
                      description: Contains resource all settings defined as key/value
                        pairs.
                      type: object
                      additionalProperties:
                        type: string
                    parameters:
                      description: Contains resource parameters defined as key/value
                        pairs.
                      type: object
                      additionalProperties:
                        type: string
                    manifestUrl:
                      type: string
                      description: The bot's manifest url
                    msaAppType:
                      type: string
                      description: Microsoft App Type for the bot
                      enum:
                      - UserAssignedMSI
                      - SingleTenant
                      - MultiTenant
                      x-ms-enum:
                        name: msaAppType
                        modelAsString: true
                    msaAppId:
                      type: string
                      description: Microsoft App Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    msaAppTenantId:
                      type: string
                      description: Microsoft App Tenant Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    msaAppMSIResourceId:
                      type: string
                      description: Microsoft App Managed Identity Resource Id for
                        the bot
                    configuredChannels:
                      type: array
                      items:
                        type: string
                      readOnly: true
                      description: Collection of channels for which the bot is configured
                    enabledChannels:
                      type: array
                      items:
                        type: string
                      readOnly: true
                      description: Collection of channels for which the bot is enabled
                    developerAppInsightKey:
                      type: string
                      description: The Application Insights key
                    developerAppInsightsApiKey:
                      type: string
                      description: The Application Insights Api Key
                    developerAppInsightsApplicationId:
                      type: string
                      description: The Application Insights App Id
                    luisAppIds:
                      type: array
                      items:
                        type: string
                      description: Collection of LUIS App Ids
                    luisKey:
                      type: string
                      description: The LUIS Key
                    isCmekEnabled:
                      type: boolean
                      description: Whether Cmek is enabled
                      default: false
                    cmekKeyVaultUrl:
                      type: string
                      description: The CMK Url
                    cmekEncryptionStatus:
                      type: string
                      description: The CMK encryption status
                      readOnly: true
                    tenantId:
                      type: string
                      description: The Tenant Id for the bot
                      x-ms-mutability:
                      - create
                      - read
                    publicNetworkAccess:
                      description: Whether the bot is in an isolated network
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      default: Enabled
                    isStreamingSupported:
                      type: boolean
                      description: Whether the bot is streaming supported
                      default: false
                    isDeveloperAppInsightsApiKeySet:
                      type: boolean
                      description: Whether the bot is developerAppInsightsApiKey set
                      readOnly: true
                    migrationToken:
                      type: string
                      description: Token used to migrate non Azure bot to azure subscription
                      readOnly: true
                    disableLocalAuth:
                      type: boolean
                      description: Opt-out of local authentication and ensure only
                        MSI and AAD can be used exclusively for authentication.
                    schemaTransformationVersion:
                      type: string
                      description: The channel schema transformation version for the
                        bot
                      default: null
                      nullable: true
                    storageResourceId:
                      type: string
                      description: The storage resourceId for the bot
                    privateEndpointConnections:
                      type: array
                      readOnly: true
                      description: List of Private Endpoint Connections configured
                        for the bot
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                          properties:
                            x-ms-client-flatten: true
                            description: Resource properties.
                            properties:
                              privateEndpoint:
                                description: The resource of private end point.
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: The ARM identifier for Private Endpoint
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                readOnly: true
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                              groupIds:
                                type: array
                                items:
                                  type: string
                                description: Group ids
                            required:
                            - privateLinkServiceConnectionState
                        title: Private Link Resource Base
                        description: Common fields that are returned in the response
                          for all BotService Private Link Resources
                        x-ms-azure-resource: true
                    openWithHint:
                      type: string
                      description: The hint to browser (e.g. protocol handler) on
                        how to open the bot for authoring
                    appPasswordHint:
                      type: string
                      description: The hint (e.g. keyVault secret resourceId) on how
                        to fetch the app secret
                    provisioningState:
                      type: string
                      readOnly: true
                      description: Provisioning state of the resource
                    publishingCredentials:
                      type: string
                      description: Publishing credentials of the resource
                  required:
                  - displayName
                  - endpoint
                  - msaAppId
              description: Azure resource
              x-ms-azure-resource: true
        description: The parameters to provide for the created bot.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                        enum:
                        - Free
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  kind:
                    description: Required. Gets or sets the Kind of the resource.
                    type: string
                    enum:
                    - sdk
                    - designer
                    - bot
                    - function
                    - azurebot
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                    nullable: true
                  etag:
                    type: string
                    description: Entity Tag.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Entity zones
                    readOnly: true
                  properties:
                    description: The set of properties specific to bot resource
                    properties:
                      displayName:
                        type: string
                        description: The Name of the bot
                      description:
                        type: string
                        description: The description of the bot
                      iconUrl:
                        type: string
                        description: The Icon Url of the bot
                        default: ''
                      endpoint:
                        type: string
                        description: The bot's endpoint
                        nullable: true
                      endpointVersion:
                        type: string
                        readOnly: true
                        description: The bot's endpoint version
                      allSettings:
                        description: Contains resource all settings defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      parameters:
                        description: Contains resource parameters defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      manifestUrl:
                        type: string
                        description: The bot's manifest url
                      msaAppType:
                        type: string
                        description: Microsoft App Type for the bot
                        enum:
                        - UserAssignedMSI
                        - SingleTenant
                        - MultiTenant
                        x-ms-enum:
                          name: msaAppType
                          modelAsString: true
                      msaAppId:
                        type: string
                        description: Microsoft App Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppTenantId:
                        type: string
                        description: Microsoft App Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppMSIResourceId:
                        type: string
                        description: Microsoft App Managed Identity Resource Id for
                          the bot
                      configuredChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is configured
                      enabledChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is enabled
                      developerAppInsightKey:
                        type: string
                        description: The Application Insights key
                      developerAppInsightsApiKey:
                        type: string
                        description: The Application Insights Api Key
                      developerAppInsightsApplicationId:
                        type: string
                        description: The Application Insights App Id
                      luisAppIds:
                        type: array
                        items:
                          type: string
                        description: Collection of LUIS App Ids
                      luisKey:
                        type: string
                        description: The LUIS Key
                      isCmekEnabled:
                        type: boolean
                        description: Whether Cmek is enabled
                        default: false
                      cmekKeyVaultUrl:
                        type: string
                        description: The CMK Url
                      cmekEncryptionStatus:
                        type: string
                        description: The CMK encryption status
                        readOnly: true
                      tenantId:
                        type: string
                        description: The Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      publicNetworkAccess:
                        description: Whether the bot is in an isolated network
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                      isStreamingSupported:
                        type: boolean
                        description: Whether the bot is streaming supported
                        default: false
                      isDeveloperAppInsightsApiKeySet:
                        type: boolean
                        description: Whether the bot is developerAppInsightsApiKey
                          set
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Token used to migrate non Azure bot to azure
                          subscription
                        readOnly: true
                      disableLocalAuth:
                        type: boolean
                        description: Opt-out of local authentication and ensure only
                          MSI and AAD can be used exclusively for authentication.
                      schemaTransformationVersion:
                        type: string
                        description: The channel schema transformation version for
                          the bot
                        default: null
                        nullable: true
                      storageResourceId:
                        type: string
                        description: The storage resourceId for the bot
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        description: List of Private Endpoint Connections configured
                          for the bot
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: Group ids
                              required:
                              - privateLinkServiceConnectionState
                          title: Private Link Resource Base
                          description: Common fields that are returned in the response
                            for all BotService Private Link Resources
                          x-ms-azure-resource: true
                      openWithHint:
                        type: string
                        description: The hint to browser (e.g. protocol handler) on
                          how to open the bot for authoring
                      appPasswordHint:
                        type: string
                        description: The hint (e.g. keyVault secret resourceId) on
                          how to fetch the app secret
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the resource
                      publishingCredentials:
                        type: string
                        description: Publishing credentials of the resource
                    required:
                    - displayName
                    - endpoint
                    - msaAppId
                description: Azure resource
                x-ms-azure-resource: true
        '201':
          description: If resource is updated successfully, the service should return
            201 (Created). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                        enum:
                        - Free
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  kind:
                    description: Required. Gets or sets the Kind of the resource.
                    type: string
                    enum:
                    - sdk
                    - designer
                    - bot
                    - function
                    - azurebot
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                    nullable: true
                  etag:
                    type: string
                    description: Entity Tag.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Entity zones
                    readOnly: true
                  properties:
                    description: The set of properties specific to bot resource
                    properties:
                      displayName:
                        type: string
                        description: The Name of the bot
                      description:
                        type: string
                        description: The description of the bot
                      iconUrl:
                        type: string
                        description: The Icon Url of the bot
                        default: ''
                      endpoint:
                        type: string
                        description: The bot's endpoint
                        nullable: true
                      endpointVersion:
                        type: string
                        readOnly: true
                        description: The bot's endpoint version
                      allSettings:
                        description: Contains resource all settings defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      parameters:
                        description: Contains resource parameters defined as key/value
                          pairs.
                        type: object
                        additionalProperties:
                          type: string
                      manifestUrl:
                        type: string
                        description: The bot's manifest url
                      msaAppType:
                        type: string
                        description: Microsoft App Type for the bot
                        enum:
                        - UserAssignedMSI
                        - SingleTenant
                        - MultiTenant
                        x-ms-enum:
                          name: msaAppType
                          modelAsString: true
                      msaAppId:
                        type: string
                        description: Microsoft App Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppTenantId:
                        type: string
                        description: Microsoft App Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      msaAppMSIResourceId:
                        type: string
                        description: Microsoft App Managed Identity Resource Id for
                          the bot
                      configuredChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is configured
                      enabledChannels:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        description: Collection of channels for which the bot is enabled
                      developerAppInsightKey:
                        type: string
                        description: The Application Insights key
                      developerAppInsightsApiKey:
                        type: string
                        description: The Application Insights Api Key
                      developerAppInsightsApplicationId:
                        type: string
                        description: The Application Insights App Id
                      luisAppIds:
                        type: array
                        items:
                          type: string
                        description: Collection of LUIS App Ids
                      luisKey:
                        type: string
                        description: The LUIS Key
                      isCmekEnabled:
                        type: boolean
                        description: Whether Cmek is enabled
                        default: false
                      cmekKeyVaultUrl:
                        type: string
                        description: The CMK Url
                      cmekEncryptionStatus:
                        type: string
                        description: The CMK encryption status
                        readOnly: true
                      tenantId:
                        type: string
                        description: The Tenant Id for the bot
                        x-ms-mutability:
                        - create
                        - read
                      publicNetworkAccess:
                        description: Whether the bot is in an isolated network
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                      isStreamingSupported:
                        type: boolean
                        description: Whether the bot is streaming supported
                        default: false
                      isDeveloperAppInsightsApiKeySet:
                        type: boolean
                        description: Whether the bot is developerAppInsightsApiKey
                          set
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Token used to migrate non Azure bot to azure
                          subscription
                        readOnly: true
                      disableLocalAuth:
                        type: boolean
                        description: Opt-out of local authentication and ensure only
                          MSI and AAD can be used exclusively for authentication.
                      schemaTransformationVersion:
                        type: string
                        description: The channel schema transformation version for
                          the bot
                        default: null
                        nullable: true
                      storageResourceId:
                        type: string
                        description: The storage resourceId for the bot
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        description: List of Private Endpoint Connections configured
                          for the bot
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              x-ms-client-flatten: true
                              description: Resource properties.
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: Group ids
                              required:
                              - privateLinkServiceConnectionState
                          title: Private Link Resource Base
                          description: Common fields that are returned in the response
                            for all BotService Private Link Resources
                          x-ms-azure-resource: true
                      openWithHint:
                        type: string
                        description: The hint to browser (e.g. protocol handler) on
                          how to open the bot for authoring
                      appPasswordHint:
                        type: string
                        description: The hint (e.g. keyVault secret resourceId) on
                          how to fetch the app secret
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the resource
                      publishingCredentials:
                        type: string
                        description: Publishing credentials of the resource
                    required:
                    - displayName
                    - endpoint
                    - msaAppId
                description: Azure resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed. If the
            resource group *or* resource does not exist, 404 (NotFound) should be
            returned.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: Bot Service error object.
    delete:
      tags:
      - Bot
      description: 'Deletes a Bot Service from the resource group. '
      operationId: Bots_Delete
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A 200 (OK) should be returned if the object exists and was
            deleted successfully;
        '204':
          description: a 204 (NoContent) should be used if the resource does not exist
            and the request is well formed.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: Bot Service error object.
    get:
      tags:
      - Bot
      description: Returns a BotService specified by the parameters.
      operationId: Bots_Get
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                        enum:
                        - Free
                        - Standard
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                    required:
                    - name
                  kind:
                    description: Required. Gets or sets the Kind of the resource.
                    type: string
                    enum:
                    - sdk
                    - designer
                    - bot
                    - function
                    - azurebot
                    x-ms-enum:
                      name: Kind
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                    nullable: true
                  etag:
                    type: string
                    description: Entity Tag.
                  zones:
                    type: array
                    items:
                      type: string
                    description: Entity zones
                    readOnly: true
                  properties:
[...]
