openapi: 3.0.0
info:
  version: 2023-03-01-preview
  title: Marketplace RP Service
  description: REST APIs for User Solutions
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Marketplace/mysolutions:
    parameters:
    - name: api-version
      in: query
      required: true
      x-ms-parameter-location: method
      description: The API version to use for the request.
      schema:
        type: string
    get:
      tags:
      - UserSolutions
      operationId: UserSolutions_List
      description: Gets the list of user solutions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: The resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              description: The type of identity that created the resource
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC)
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              description: The type of identity that last modified
                                the resource
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The Solution data structure
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              type: string
                            products:
                              type: array
                              items:
                                type: object
                                properties:
                                  uniqueProductId:
                                    type: string
                                  displayName:
                                    type: string
                                  description:
                                    type: string
                                  summary:
                                    type: string
                                  smallIconUri:
                                    type: string
                                  publisherDisplayName:
                                    type: string
                                  productType:
                                    type: string
                                  pricingTypes:
                                    type: array
                                    items:
                                      type: string
                                  storeFronts:
                                    type: array
                                    items:
                                      type: string
                                  ratingAverage:
                                    type: number
                                    format: double
                                additionalProperties: false
                              x-ms-identifiers: []
                      description: An Azure resource.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URL to get the next set of the user solutions if
                      there are any.
                    type: string
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.Marketplace service
                  is not able to process the incoming request. The reason is provided
                  in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Marketplace/mysolutions/{solutionId}:
    parameters:
    - name: api-version
      in: query
      required: true
      x-ms-parameter-location: method
      description: The API version to use for the request.
      schema:
        type: string
    - name: solutionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The solution id
      schema:
        type: string
    get:
      tags:
      - UserSolutions
      operationId: UserSolutions_Get
      description: Get information about the user solution
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The Solution data structure
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            uniqueProductId:
                              type: string
                            displayName:
                              type: string
                            description:
                              type: string
                            summary:
                              type: string
                            smallIconUri:
                              type: string
                            publisherDisplayName:
                              type: string
                            productType:
                              type: string
                            pricingTypes:
                              type: array
                              items:
                                type: string
                            storeFronts:
                              type: array
                              items:
                                type: string
                            ratingAverage:
                              type: number
                              format: double
                          additionalProperties: false
                        x-ms-identifiers: []
                description: An Azure resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.Marketplace service
                  is not able to process the incoming request. The reason is provided
                  in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
    put:
      tags:
      - UserSolutions
      operationId: UserSolutions_CreateOrUpdate
      description: Creates or updates a user solutions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The resource ID.
                  type: string
                  readOnly: true
                name:
                  description: The name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the resource.
                  type: string
                  readOnly: true
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      description: The type of identity that created the resource
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC)
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      description: The type of identity that last modified the resource
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The Solution data structure
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    displayName:
                      type: string
                    products:
                      type: array
                      items:
                        type: object
                        properties:
                          uniqueProductId:
                            type: string
                          displayName:
                            type: string
                          description:
                            type: string
                          summary:
                            type: string
                          smallIconUri:
                            type: string
                          publisherDisplayName:
                            type: string
                          productType:
                            type: string
                          pricingTypes:
                            type: array
                            items:
                              type: string
                          storeFronts:
                            type: array
                            items:
                              type: string
                          ratingAverage:
                            type: number
                            format: double
                        additionalProperties: false
                      x-ms-identifiers: []
              description: An Azure resource.
              x-ms-azure-resource: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The Solution data structure
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            uniqueProductId:
                              type: string
                            displayName:
                              type: string
                            description:
                              type: string
                            summary:
                              type: string
                            smallIconUri:
                              type: string
                            publisherDisplayName:
                              type: string
                            productType:
                              type: string
                            pricingTypes:
                              type: array
                              items:
                                type: string
                            storeFronts:
                              type: array
                              items:
                                type: string
                            ratingAverage:
                              type: number
                              format: double
                          additionalProperties: false
                        x-ms-identifiers: []
                description: An Azure resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.Marketplace service
                  is not able to process the incoming request. The reason is provided
                  in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
    delete:
      tags:
      - UserSolutions
      operationId: UserSolutions_Delete
      description: Deletes a user solution
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.Marketplace service
                  is not able to process the incoming request. The reason is provided
                  in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  /providers/Microsoft.Marketplace/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Microsoft.Marketplace error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.Marketplace service
                  is not able to process the incoming request. The reason is provided
                  in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
components:
  parameters:
    SolutionIdParameter:
      name: solutionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The solution id
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: method
      description: The API version to use for the request.
      schema:
        type: string
    parameters-ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  schemas:
    Product:
      type: object
      properties:
        uniqueProductId:
          type: string
        displayName:
          type: string
        description:
          type: string
        summary:
          type: string
        smallIconUri:
          type: string
        publisherDisplayName:
          type: string
        productType:
          type: string
        pricingTypes:
          type: array
          items:
            type: string
        storeFronts:
          type: array
          items:
            type: string
        ratingAverage:
          type: number
          format: double
      additionalProperties: false
    Solution:
      type: object
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        systemData:
          readOnly: true
          description: Metadata pertaining to creation and last modification of the
            resource
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              description: The type of identity that created the resource
              type: string
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: IdentityType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC)
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              description: The type of identity that last modified the resource
              type: string
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: IdentityType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: The Solution data structure
          x-ms-client-flatten: true
          type: object
          properties:
            displayName:
              type: string
            products:
              type: array
              items:
                type: object
                properties:
                  uniqueProductId:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  summary:
                    type: string
                  smallIconUri:
                    type: string
                  publisherDisplayName:
                    type: string
                  productType:
                    type: string
                  pricingTypes:
                    type: array
                    items:
                      type: string
                  storeFronts:
                    type: array
                    items:
                      type: string
                  ratingAverage:
                    type: number
                    format: double
                additionalProperties: false
              x-ms-identifiers: []
      description: An Azure resource.
      x-ms-azure-resource: true
    SolutionProperties:
      description: Describes the json payload for solution operations
      type: object
      properties:
        displayName:
          type: string
        products:
          type: array
          items:
            type: object
            properties:
              uniqueProductId:
                type: string
              displayName:
                type: string
              description:
                type: string
              summary:
                type: string
              smallIconUri:
                type: string
              publisherDisplayName:
                type: string
              productType:
                type: string
              pricingTypes:
                type: array
                items:
                  type: string
              storeFronts:
                type: array
                items:
                  type: string
              ratingAverage:
                type: number
                format: double
            additionalProperties: false
          x-ms-identifiers: []
    UserSolutions:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                description: The resource ID.
                type: string
                readOnly: true
              name:
                description: The name of the resource.
                type: string
                readOnly: true
              type:
                description: The type of the resource.
                type: string
                readOnly: true
              systemData:
                readOnly: true
                description: Metadata pertaining to creation and last modification
                  of the resource
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    description: The type of identity that created the resource
                    type: string
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: IdentityType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC)
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    description: The type of identity that last modified the resource
                    type: string
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: IdentityType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: The Solution data structure
                x-ms-client-flatten: true
                type: object
                properties:
                  displayName:
                    type: string
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        uniqueProductId:
                          type: string
                        displayName:
                          type: string
                        description:
                          type: string
                        summary:
                          type: string
                        smallIconUri:
                          type: string
                        publisherDisplayName:
                          type: string
                        productType:
                          type: string
                        pricingTypes:
                          type: array
                          items:
                            type: string
                        storeFronts:
                          type: array
                          items:
                            type: string
                        ratingAverage:
                          type: number
                          format: double
                      additionalProperties: false
                    x-ms-identifiers: []
            description: An Azure resource.
            x-ms-azure-resource: true
        nextLink:
          description: URL to get the next set of the user solutions if there are
            any.
          type: string
    ErrorResponse:
      description: Error response indicates Microsoft.Marketplace service is not able
        to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          type: object
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        systemData:
          readOnly: true
          description: Metadata pertaining to creation and last modification of the
            resource
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              description: The type of identity that created the resource
              type: string
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: IdentityType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC)
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              description: The type of identity that last modified the resource
              type: string
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: IdentityType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    SystemData:
      description: Read only system data
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          description: The type of identity that created the resource
          type: string
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC)
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          description: The type of identity that last modified the resource
          type: string
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    IdentityType:
      description: The type of identity that creates/modifies resources
      type: string
      enum:
      - User
      - Application
      - ManagedIdentity
      - Key
      x-ms-enum:
        name: IdentityType
        modelAsString: true
    Operation:
      type: object
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      properties:
        name:
          type: string
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          readOnly: true
        isDataAction:
          type: boolean
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
        display:
          type: object
          description: Localized display information for this particular operation.
          properties:
            provider:
              type: string
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              readOnly: true
            resource:
              type: string
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              readOnly: true
            operation:
              type: string
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              readOnly: true
            description:
              type: string
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              readOnly: true
        origin:
          type: string
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
          readOnly: true
        actionType:
          type: string
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
          readOnly: true
    OperationListResult:
      type: object
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider
          items:
            type: object
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
            properties:
              name:
                type: string
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                readOnly: true
              isDataAction:
                type: boolean
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                readOnly: true
              display:
                type: object
                description: Localized display information for this particular operation.
                properties:
                  provider:
                    type: string
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    readOnly: true
                  resource:
                    type: string
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    readOnly: true
                  operation:
                    type: string
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    readOnly: true
                  description:
                    type: string
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    readOnly: true
              origin:
                type: string
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
                readOnly: true
              actionType:
                type: string
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
