openapi: 3.0.0
info:
  version: 2024-04-03
  title: Desktop Virtualization API Client
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.DesktopVirtualization/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: List all of the available operations the Desktop Virtualization
        resource provider supports.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved operations.
          content:
            application/json:
              schema:
                type: object
                description: Result of the request to list operations.
                readOnly: true
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      description: Supported operation of this resource provider.
                      readOnly: true
                      properties:
                        name:
                          description: Operation name, in format of {provider}/{resource}/{operation}
                          type: string
                        display:
                          type: object
                          description: Display metadata associated with the operation.
                          properties:
                            provider:
                              description: 'Resource provider: Microsoft Desktop Virtualization.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                            operation:
                              description: 'Type of operation: get, read, delete,
                                etc.'
                              type: string
                            description:
                              description: Description of this operation.
                              type: string
                        isDataAction:
                          description: Is a data action.
                          type: boolean
                        properties:
                          description: Properties of the operation
                          type: object
                          properties:
                            serviceSpecification:
                              description: Service specification payload
                              type: object
                              properties:
                                logSpecifications:
                                  description: Specifications of the Log for Azure
                                    Monitoring
                                  uniqueItems: false
                                  type: array
                                  items:
                                    description: Specifications of the Log for Azure
                                      Monitoring
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the log
                                        type: string
                                      displayName:
                                        description: Localized friendly display name
                                          of the log
                                        type: string
                                      blobDuration:
                                        description: Blob duration of the log
                                        type: string
                    description: List of operations supported by this resource provider.
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next page of results.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Cloud error object.
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error object properties.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}
  : get:
      tags:
      - Workspace
      operationId: Workspaces_Get
      description: Get a workspace.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[A-Za-z0-9@.\-_ ]*$
      responses:
        '200':
          description: Successfully retrieved workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  managedBy:
                    type: string
                    description: The fully qualified resource ID of the resource that
                      manages this resource. Indicates if this resource is managed
                      by another Azure resource. If this is present, complete mode
                      deployment will not delete the resource if it is removed from
                      the template since it is managed by another resource.
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  kind:
                    type: string
                    description: Metadata used by portal/tooling/etc to render different
                      UX experiences for resources of the same type. E.g. ApiApps
                      are a kind of Microsoft.Web/sites type.  If supported, the resource
                      provider must validate and persist this value.
                    pattern: ^[-\w\._,\(\)]+$
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: 'The etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal etag convention.  Entity tags are used for comparing
                      two or more entities from the same requested resource. HTTP/1.1
                      uses entity tags in the etag (section 14.19), If-Match (section
                      14.24), If-None-Match (section 14.26), and If-Range (section
                      14.27) header fields. '
                    readOnly: true
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The principal ID of resource identity. The value
                          must be an UUID.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of resource. The value must be
                          an UUID.
                        readOnly: true
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    description: Identity for the resource.
                  sku:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                    description: The resource model definition representing SKU
                  plan:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                    description: Plan for the resource.
                  properties:
                    description: Detailed properties for Workspace
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        type: string
                        description: ObjectId of Workspace. (internal use)
                        readOnly: true
                      description:
                        type: string
                        description: Description of Workspace.
                      friendlyName:
                        type: string
                        description: Friendly name of Workspace.
                      applicationGroupReferences:
                        type: array
                        description: List of applicationGroup resource Ids.
                        items:
                          type: string
                        nullable: true
                      cloudPcResource:
                        type: boolean
                        description: Is cloud pc resource.
                        readOnly: true
                        nullable: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        type: string
                        description: Enabled allows this resource to be accessed from
                          both public and private networks, Disabled allows this resource
                          to only be accessed via private endpoints
                        nullable: true
                      privateEndpointConnections:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: List of private endpoint connection associated
                          with the specified resource
                        nullable: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Cloud error object.
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error object properties.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
    put:
      tags:
      - Workspace
      operationId: Workspaces_CreateOrUpdate
      description: Create or update a workspace.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[A-Za-z0-9@.\-_ ]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                managedBy:
                  type: string
                  description: The fully qualified resource ID of the resource that
                    manages this resource. Indicates if this resource is managed by
                    another Azure resource. If this is present, complete mode deployment
                    will not delete the resource if it is removed from the template
                    since it is managed by another resource.
                  x-ms-mutability:
                  - read
                  - create
                  - update
                kind:
                  type: string
                  description: Metadata used by portal/tooling/etc to render different
                    UX experiences for resources of the same type. E.g. ApiApps are
                    a kind of Microsoft.Web/sites type.  If supported, the resource
                    provider must validate and persist this value.
                  pattern: ^[-\w\._,\(\)]+$
                  x-ms-mutability:
                  - read
                  - create
                etag:
                  type: string
                  description: 'The etag field is *not* required. If it is provided
                    in the response body, it must also be provided as a header per
                    the normal etag convention.  Entity tags are used for comparing
                    two or more entities from the same requested resource. HTTP/1.1
                    uses entity tags in the etag (section 14.19), If-Match (section
                    14.24), If-None-Match (section 14.26), and If-Range (section 14.27)
                    header fields. '
                  readOnly: true
                identity:
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The principal ID of resource identity. The value
                        must be an UUID.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of resource. The value must be an
                        UUID.
                      readOnly: true
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                  description: Identity for the resource.
                sku:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. E.g. P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                  description: The resource model definition representing SKU
                plan:
                  type: object
                  properties:
                    name:
                      type: string
                      description: A user defined name of the 3rd Party Artifact that
                        is being procured.
                    publisher:
                      type: string
                      description: The publisher of the 3rd Party Artifact that is
                        being bought. E.g. NewRelic
                    product:
                      type: string
                      description: 'The 3rd Party artifact that is being procured.
                        E.g. NewRelic. Product maps to the OfferID specified for the
                        artifact at the time of Data Market onboarding. '
                    promotionCode:
                      type: string
                      description: A publisher provided promotion code as provisioned
                        in Data Market for the said product/artifact.
                    version:
                      type: string
                      description: The version of the desired product/artifact.
                  required:
                  - name
                  - publisher
                  - product
                  description: Plan for the resource.
                properties:
                  description: Detailed properties for Workspace
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    objectId:
                      type: string
                      description: ObjectId of Workspace. (internal use)
                      readOnly: true
                    description:
                      type: string
                      description: Description of Workspace.
                    friendlyName:
                      type: string
                      description: Friendly name of Workspace.
                    applicationGroupReferences:
                      type: array
                      description: List of applicationGroup resource Ids.
                      items:
                        type: string
                      nullable: true
                    cloudPcResource:
                      type: boolean
                      description: Is cloud pc resource.
                      readOnly: true
                      nullable: true
                    publicNetworkAccess:
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      type: string
                      description: Enabled allows this resource to be accessed from
                        both public and private networks, Disabled allows this resource
                        to only be accessed via private endpoints
                      nullable: true
                    privateEndpointConnections:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: arm-id
                            description: Fully qualified resource ID for the resource.
                              E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                            readOnly: true
                          name:
                            type: string
                            description: The name of the resource
                            readOnly: true
                          type:
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                            readOnly: true
                          systemData:
                            description: Azure Resource Manager metadata containing
                              createdBy and modifiedBy information.
                            readOnly: true
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            description: Resource properties.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              groupIds:
                                type: array
                                description: The group ids for the private endpoint
                                  resource.
                                items:
                                  type: string
                                readOnly: true
                              privateEndpoint:
                                description: The private endpoint resource.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ARM identifier for private endpoint.
                                    readOnly: true
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                                readOnly: true
                            required:
                            - privateLinkServiceConnectionState
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      description: List of private endpoint connection associated
                        with the specified resource
                      nullable: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Object containing Workspace definitions.
        required: true
      responses:
        '200':
          description: Successfully updated workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  managedBy:
                    type: string
                    description: The fully qualified resource ID of the resource that
                      manages this resource. Indicates if this resource is managed
                      by another Azure resource. If this is present, complete mode
                      deployment will not delete the resource if it is removed from
                      the template since it is managed by another resource.
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  kind:
                    type: string
                    description: Metadata used by portal/tooling/etc to render different
                      UX experiences for resources of the same type. E.g. ApiApps
                      are a kind of Microsoft.Web/sites type.  If supported, the resource
                      provider must validate and persist this value.
                    pattern: ^[-\w\._,\(\)]+$
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: 'The etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal etag convention.  Entity tags are used for comparing
                      two or more entities from the same requested resource. HTTP/1.1
                      uses entity tags in the etag (section 14.19), If-Match (section
                      14.24), If-None-Match (section 14.26), and If-Range (section
                      14.27) header fields. '
                    readOnly: true
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The principal ID of resource identity. The value
                          must be an UUID.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of resource. The value must be
                          an UUID.
                        readOnly: true
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    description: Identity for the resource.
                  sku:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                    description: The resource model definition representing SKU
                  plan:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                    description: Plan for the resource.
                  properties:
                    description: Detailed properties for Workspace
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        type: string
                        description: ObjectId of Workspace. (internal use)
                        readOnly: true
                      description:
                        type: string
                        description: Description of Workspace.
                      friendlyName:
                        type: string
                        description: Friendly name of Workspace.
                      applicationGroupReferences:
                        type: array
                        description: List of applicationGroup resource Ids.
                        items:
                          type: string
                        nullable: true
                      cloudPcResource:
                        type: boolean
                        description: Is cloud pc resource.
                        readOnly: true
                        nullable: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        type: string
                        description: Enabled allows this resource to be accessed from
                          both public and private networks, Disabled allows this resource
                          to only be accessed via private endpoints
                        nullable: true
                      privateEndpointConnections:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: List of private endpoint connection associated
                          with the specified resource
                        nullable: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Successfully created workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  managedBy:
                    type: string
                    description: The fully qualified resource ID of the resource that
                      manages this resource. Indicates if this resource is managed
                      by another Azure resource. If this is present, complete mode
                      deployment will not delete the resource if it is removed from
                      the template since it is managed by another resource.
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  kind:
                    type: string
                    description: Metadata used by portal/tooling/etc to render different
                      UX experiences for resources of the same type. E.g. ApiApps
                      are a kind of Microsoft.Web/sites type.  If supported, the resource
                      provider must validate and persist this value.
                    pattern: ^[-\w\._,\(\)]+$
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: 'The etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal etag convention.  Entity tags are used for comparing
                      two or more entities from the same requested resource. HTTP/1.1
                      uses entity tags in the etag (section 14.19), If-Match (section
                      14.24), If-None-Match (section 14.26), and If-Range (section
                      14.27) header fields. '
                    readOnly: true
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The principal ID of resource identity. The value
                          must be an UUID.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of resource. The value must be
                          an UUID.
                        readOnly: true
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    description: Identity for the resource.
                  sku:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                    description: The resource model definition representing SKU
                  plan:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                    description: Plan for the resource.
                  properties:
                    description: Detailed properties for Workspace
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        type: string
                        description: ObjectId of Workspace. (internal use)
                        readOnly: true
                      description:
                        type: string
                        description: Description of Workspace.
                      friendlyName:
                        type: string
                        description: Friendly name of Workspace.
                      applicationGroupReferences:
                        type: array
                        description: List of applicationGroup resource Ids.
                        items:
                          type: string
                        nullable: true
                      cloudPcResource:
                        type: boolean
                        description: Is cloud pc resource.
                        readOnly: true
                        nullable: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        type: string
                        description: Enabled allows this resource to be accessed from
                          both public and private networks, Disabled allows this resource
                          to only be accessed via private endpoints
                        nullable: true
                      privateEndpointConnections:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: List of private endpoint connection associated
                          with the specified resource
                        nullable: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Cloud error object.
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error object properties.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
    delete:
      tags:
      - Workspace
      operationId: Workspaces_Delete
      description: Remove a workspace.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[A-Za-z0-9@.\-_ ]*$
      responses:
        '200':
          description: Successfully deleted workspace.
        '204':
          description: Workspace does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Cloud error object.
                type: object
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error object properties.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
    patch:
      tags:
      - Workspace
      operationId: Workspaces_Update
      description: Update a workspace.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[A-Za-z0-9@.\-_ ]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Workspace properties that can be patched.
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: tags to be updated
                  nullable: true
                properties:
                  description: Detailed properties for Workspace
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    description:
                      type: string
                      description: Description of Workspace.
                    friendlyName:
                      type: string
                      description: Friendly name of Workspace.
                    applicationGroupReferences:
                      type: array
                      description: List of applicationGroup links.
                      items:
                        type: string
                      nullable: true
                    publicNetworkAccess:
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      type: string
                      description: Enabled to allow this resource to be access from
                        the public network
                      nullable: true
        description: Object containing Workspace definitions.
      responses:
        '200':
          description: Successfully updated workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  managedBy:
                    type: string
                    description: The fully qualified resource ID of the resource that
                      manages this resource. Indicates if this resource is managed
                      by another Azure resource. If this is present, complete mode
                      deployment will not delete the resource if it is removed from
                      the template since it is managed by another resource.
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  kind:
                    type: string
                    description: Metadata used by portal/tooling/etc to render different
                      UX experiences for resources of the same type. E.g. ApiApps
                      are a kind of Microsoft.Web/sites type.  If supported, the resource
                      provider must validate and persist this value.
                    pattern: ^[-\w\._,\(\)]+$
                    x-ms-mutability:
                    - read
                    - create
                  etag:
                    type: string
                    description: 'The etag field is *not* required. If it is provided
                      in the response body, it must also be provided as a header per
                      the normal etag convention.  Entity tags are used for comparing
                      two or more entities from the same requested resource. HTTP/1.1
                      uses entity tags in the etag (section 14.19), If-Match (section
                      14.24), If-None-Match (section 14.26), and If-Range (section
                      14.27) header fields. '
                    readOnly: true
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The principal ID of resource identity. The value
                          must be an UUID.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of resource. The value must be
                          an UUID.
                        readOnly: true
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    description: Identity for the resource.
                  sku:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                    description: The resource model definition representing SKU
                  plan:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                    description: Plan for the resource.
                  properties:
                    description: Detailed properties for Workspace
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      objectId:
                        type: string
                        description: ObjectId of Workspace. (internal use)
                        readOnly: true
                      description:
                        type: string
                        description: Description of Workspace.
                      friendlyName:
                        type: string
                        description: Friendly name of Workspace.
                      applicationGroupReferences:
                        type: array
                        description: List of applicationGroup resource Ids.
                        items:
                          type: string
                        nullable: true
                      cloudPcResource:
                        type: boolean
                        description: Is cloud pc resource.
                        readOnly: true
                        nullable: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        type: string
                        description: Enabled allows this resource to be accessed from
[...]
