openapi: 3.0.0
info:
  title: PaloAltoNetworks.Cloudngfw
  version: 2025-05-23
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Firewalls
- name: FirewallStatus
- name: GlobalRulestack
- name: LocalRulestacks
- name: LocalRules
- name: PreRules
- name: PostRules
- name: PrefixListLocalRulestack
- name: PrefixListGlobalRulestack
- name: FqdnListLocalRulestack
- name: FqdnListGlobalRulestack
- name: CertificateObjectLocalRulestack
- name: CertificateObjectGlobalRulestack
- name: Operations
paths:
  /providers/PaloAltoNetworks.Cloudngfw/globalRulestacks:
    get:
      tags:
      - GlobalRulestack
      operationId: GlobalRulestack_List
      description: List GlobalRulestackResource resources by Tenant
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-mutability:
                          - read
                          - create
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            panEtag:
                              type: string
                              description: PanEtag info
                            panLocation:
                              type: string
                              description: Rulestack Location, Required for GlobalRulestacks,
                                Not for LocalRulestacks
                            scope:
                              description: Rulestack Type
                              type: string
                              enum:
                              - LOCAL
                              - GLOBAL
                              x-ms-enum:
                                name: ScopeType
                                modelAsString: true
                            associatedSubscriptions:
                              type: array
                              items:
                                type: string
                              x-cadl-name: string[]
                              description: subscription scope of global rulestack
                            description:
                              type: string
                              description: rulestack description
                            defaultMode:
                              description: Mode for default rules creation
                              type: string
                              enum:
                              - IPS
                              - FIREWALL
                              - NONE
                              x-ms-enum:
                                name: DefaultMode
                                modelAsString: true
                            minAppIdVersion:
                              type: string
                              description: minimum version
                            provisioningState:
                              description: Provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            securityServices:
                              description: Security Profile
                              type: object
                              properties:
                                vulnerabilityProfile:
                                  type: string
                                  description: IPs Vulnerability Profile Data
                                antiSpywareProfile:
                                  type: string
                                  description: Anti spyware Profile data
                                antiVirusProfile:
                                  type: string
                                  description: anti virus profile data
                                urlFilteringProfile:
                                  type: string
                                  description: URL filtering profile data
                                fileBlockingProfile:
                                  type: string
                                  description: File blocking profile data
                                dnsSubscription:
                                  type: string
                                  description: DNS Subscription profile data
                                outboundUnTrustCertificate:
                                  type: string
                                  description: Untrusted Egress Decryption profile
                                    data
                                outboundTrustCertificate:
                                  type: string
                                  description: Trusted Egress Decryption profile data
                        location:
                          type: string
                          description: Global Location
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            tenantId:
                              type: string
                              description: The Active Directory tenant id of the principal.
                              readOnly: true
                            principalId:
                              type: string
                              description: The active directory identifier of this
                                principal.
                              readOnly: true
                            type:
                              description: The type of managed identity assigned to
                                this resource.
                              type: string
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedIdentityType
                                modelAsString: true
                                values:
                                - name: None
                                  value: None
                                - name: SystemAssigned
                                  value: SystemAssigned
                                - name: UserAssigned
                                  value: UserAssigned
                                - name: SystemAndUserAssigned
                                  value: SystemAssigned,UserAssigned
                            userAssignedIdentities:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  clientId:
                                    type: string
                                    description: The active directory client identifier
                                      for this principal.
                                  principalId:
                                    type: string
                                    description: The active directory identifier for
                                      this principal.
                                description: A managed identity assigned by the user.
                              description: The identities assigned to this resource
                                by the user.
                          required:
                          - type
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                      - location
                    x-cadl-name: GlobalRulestackResource[]
                    description: The items on this page
                  nextLink:
                    type: string
                    description: The link to the next page of items
                description: The response of a GlobalRulestackResource list operation.
                required:
                - value
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}:
    get:
      tags:
      - GlobalRulestack
      operationId: GlobalRulestack_Get
      description: Get a GlobalRulestackResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: globalRulestackName
        in: path
        required: true
        description: GlobalRulestack resource name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-mutability:
                    - read
                    - create
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      panEtag:
                        type: string
                        description: PanEtag info
                      panLocation:
                        type: string
                        description: Rulestack Location, Required for GlobalRulestacks,
                          Not for LocalRulestacks
                      scope:
                        description: Rulestack Type
                        type: string
                        enum:
                        - LOCAL
                        - GLOBAL
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      associatedSubscriptions:
                        type: array
                        items:
                          type: string
                        x-cadl-name: string[]
                        description: subscription scope of global rulestack
                      description:
                        type: string
                        description: rulestack description
                      defaultMode:
                        description: Mode for default rules creation
                        type: string
                        enum:
                        - IPS
                        - FIREWALL
                        - NONE
                        x-ms-enum:
                          name: DefaultMode
                          modelAsString: true
                      minAppIdVersion:
                        type: string
                        description: minimum version
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityServices:
                        description: Security Profile
                        type: object
                        properties:
                          vulnerabilityProfile:
                            type: string
                            description: IPs Vulnerability Profile Data
                          antiSpywareProfile:
                            type: string
                            description: Anti spyware Profile data
                          antiVirusProfile:
                            type: string
                            description: anti virus profile data
                          urlFilteringProfile:
                            type: string
                            description: URL filtering profile data
                          fileBlockingProfile:
                            type: string
                            description: File blocking profile data
                          dnsSubscription:
                            type: string
                            description: DNS Subscription profile data
                          outboundUnTrustCertificate:
                            type: string
                            description: Untrusted Egress Decryption profile data
                          outboundTrustCertificate:
                            type: string
                            description: Trusted Egress Decryption profile data
                  location:
                    type: string
                    description: Global Location
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The Active Directory tenant id of the principal.
                        readOnly: true
                      principalId:
                        type: string
                        description: The active directory identifier of this principal.
                        readOnly: true
                      type:
                        description: The type of managed identity assigned to this
                          resource.
                        type: string
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                          values:
                          - name: None
                            value: None
                          - name: SystemAssigned
                            value: SystemAssigned
                          - name: UserAssigned
                            value: UserAssigned
                          - name: SystemAndUserAssigned
                            value: SystemAssigned,UserAssigned
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            clientId:
                              type: string
                              description: The active directory client identifier
                                for this principal.
                            principalId:
                              type: string
                              description: The active directory identifier for this
                                principal.
                          description: A managed identity assigned by the user.
                        description: The identities assigned to this resource by the
                          user.
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
                - location
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - GlobalRulestack
      operationId: GlobalRulestack_CreateOrUpdate
      description: Create a GlobalRulestackResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: globalRulestackName
        in: path
        required: true
        description: GlobalRulestack resource name
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-mutability:
                  - read
                  - create
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    panEtag:
                      type: string
                      description: PanEtag info
                    panLocation:
                      type: string
                      description: Rulestack Location, Required for GlobalRulestacks,
                        Not for LocalRulestacks
                    scope:
                      description: Rulestack Type
                      type: string
                      enum:
                      - LOCAL
                      - GLOBAL
                      x-ms-enum:
                        name: ScopeType
                        modelAsString: true
                    associatedSubscriptions:
                      type: array
                      items:
                        type: string
                      x-cadl-name: string[]
                      description: subscription scope of global rulestack
                    description:
                      type: string
                      description: rulestack description
                    defaultMode:
                      description: Mode for default rules creation
                      type: string
                      enum:
                      - IPS
                      - FIREWALL
                      - NONE
                      x-ms-enum:
                        name: DefaultMode
                        modelAsString: true
                    minAppIdVersion:
                      type: string
                      description: minimum version
                    provisioningState:
                      description: Provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    securityServices:
                      description: Security Profile
                      type: object
                      properties:
                        vulnerabilityProfile:
                          type: string
                          description: IPs Vulnerability Profile Data
                        antiSpywareProfile:
                          type: string
                          description: Anti spyware Profile data
                        antiVirusProfile:
                          type: string
                          description: anti virus profile data
                        urlFilteringProfile:
                          type: string
                          description: URL filtering profile data
                        fileBlockingProfile:
                          type: string
                          description: File blocking profile data
                        dnsSubscription:
                          type: string
                          description: DNS Subscription profile data
                        outboundUnTrustCertificate:
                          type: string
                          description: Untrusted Egress Decryption profile data
                        outboundTrustCertificate:
                          type: string
                          description: Trusted Egress Decryption profile data
                location:
                  type: string
                  description: Global Location
                identity:
                  description: The managed service identities assigned to this resource.
                  type: object
                  properties:
                    tenantId:
                      type: string
                      description: The Active Directory tenant id of the principal.
                      readOnly: true
                    principalId:
                      type: string
                      description: The active directory identifier of this principal.
                      readOnly: true
                    type:
                      description: The type of managed identity assigned to this resource.
                      type: string
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedIdentityType
                        modelAsString: true
                        values:
                        - name: None
                          value: None
                        - name: SystemAssigned
                          value: SystemAssigned
                        - name: UserAssigned
                          value: UserAssigned
                        - name: SystemAndUserAssigned
                          value: SystemAssigned,UserAssigned
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          clientId:
                            type: string
                            description: The active directory client identifier for
                              this principal.
                          principalId:
                            type: string
                            description: The active directory identifier for this
                              principal.
                        description: A managed identity assigned by the user.
                      description: The identities assigned to this resource by the
                        user.
                  required:
                  - type
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
              - location
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-mutability:
                    - read
                    - create
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      panEtag:
                        type: string
                        description: PanEtag info
                      panLocation:
                        type: string
                        description: Rulestack Location, Required for GlobalRulestacks,
                          Not for LocalRulestacks
                      scope:
                        description: Rulestack Type
                        type: string
                        enum:
                        - LOCAL
                        - GLOBAL
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      associatedSubscriptions:
                        type: array
                        items:
                          type: string
                        x-cadl-name: string[]
                        description: subscription scope of global rulestack
                      description:
                        type: string
                        description: rulestack description
                      defaultMode:
                        description: Mode for default rules creation
                        type: string
                        enum:
                        - IPS
                        - FIREWALL
                        - NONE
                        x-ms-enum:
                          name: DefaultMode
                          modelAsString: true
                      minAppIdVersion:
                        type: string
                        description: minimum version
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityServices:
                        description: Security Profile
                        type: object
                        properties:
                          vulnerabilityProfile:
                            type: string
                            description: IPs Vulnerability Profile Data
                          antiSpywareProfile:
                            type: string
                            description: Anti spyware Profile data
                          antiVirusProfile:
                            type: string
                            description: anti virus profile data
                          urlFilteringProfile:
                            type: string
                            description: URL filtering profile data
                          fileBlockingProfile:
                            type: string
                            description: File blocking profile data
                          dnsSubscription:
                            type: string
                            description: DNS Subscription profile data
                          outboundUnTrustCertificate:
                            type: string
                            description: Untrusted Egress Decryption profile data
                          outboundTrustCertificate:
                            type: string
                            description: Trusted Egress Decryption profile data
                  location:
                    type: string
                    description: Global Location
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The Active Directory tenant id of the principal.
                        readOnly: true
                      principalId:
                        type: string
                        description: The active directory identifier of this principal.
                        readOnly: true
                      type:
                        description: The type of managed identity assigned to this
                          resource.
                        type: string
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                          values:
                          - name: None
                            value: None
                          - name: SystemAssigned
                            value: SystemAssigned
                          - name: UserAssigned
                            value: UserAssigned
                          - name: SystemAndUserAssigned
                            value: SystemAssigned,UserAssigned
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            clientId:
                              type: string
                              description: The active directory client identifier
                                for this principal.
                            principalId:
                              type: string
                              description: The active directory identifier for this
                                principal.
                          description: A managed identity assigned by the user.
                        description: The identities assigned to this resource by the
                          user.
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
                - location
        '201':
          description: Azure create operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-mutability:
                    - read
                    - create
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      panEtag:
                        type: string
                        description: PanEtag info
                      panLocation:
                        type: string
                        description: Rulestack Location, Required for GlobalRulestacks,
                          Not for LocalRulestacks
                      scope:
                        description: Rulestack Type
                        type: string
                        enum:
                        - LOCAL
                        - GLOBAL
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      associatedSubscriptions:
                        type: array
                        items:
                          type: string
                        x-cadl-name: string[]
                        description: subscription scope of global rulestack
                      description:
                        type: string
                        description: rulestack description
                      defaultMode:
                        description: Mode for default rules creation
                        type: string
                        enum:
                        - IPS
                        - FIREWALL
                        - NONE
                        x-ms-enum:
                          name: DefaultMode
                          modelAsString: true
                      minAppIdVersion:
                        type: string
                        description: minimum version
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityServices:
                        description: Security Profile
                        type: object
                        properties:
                          vulnerabilityProfile:
                            type: string
                            description: IPs Vulnerability Profile Data
                          antiSpywareProfile:
                            type: string
                            description: Anti spyware Profile data
                          antiVirusProfile:
                            type: string
                            description: anti virus profile data
                          urlFilteringProfile:
                            type: string
                            description: URL filtering profile data
                          fileBlockingProfile:
                            type: string
                            description: File blocking profile data
                          dnsSubscription:
                            type: string
                            description: DNS Subscription profile data
                          outboundUnTrustCertificate:
                            type: string
                            description: Untrusted Egress Decryption profile data
                          outboundTrustCertificate:
                            type: string
                            description: Trusted Egress Decryption profile data
                  location:
                    type: string
                    description: Global Location
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The Active Directory tenant id of the principal.
                        readOnly: true
                      principalId:
                        type: string
                        description: The active directory identifier of this principal.
                        readOnly: true
                      type:
                        description: The type of managed identity assigned to this
                          resource.
                        type: string
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                          values:
                          - name: None
                            value: None
                          - name: SystemAssigned
                            value: SystemAssigned
                          - name: UserAssigned
                            value: UserAssigned
                          - name: SystemAndUserAssigned
                            value: SystemAssigned,UserAssigned
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            clientId:
                              type: string
                              description: The active directory client identifier
                                for this principal.
                            principalId:
                              type: string
                              description: The active directory identifier for this
                                principal.
                          description: A managed identity assigned by the user.
                        description: The identities assigned to this resource by the
                          user.
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
                - location
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    patch:
      tags:
      - GlobalRulestack
      operationId: GlobalRulestack_Update
      description: Update a GlobalRulestackResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: globalRulestackName
        in: path
        required: true
        description: GlobalRulestack resource name
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: Global Location
                identity:
                  description: The managed service identities assigned to this resource.
                  type: object
                  properties:
                    tenantId:
                      type: string
                      description: The Active Directory tenant id of the principal.
                      readOnly: true
                    principalId:
                      type: string
                      description: The active directory identifier of this principal.
                      readOnly: true
                    type:
                      description: The type of managed identity assigned to this resource.
                      type: string
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedIdentityType
                        modelAsString: true
                        values:
                        - name: None
                          value: None
                        - name: SystemAssigned
                          value: SystemAssigned
                        - name: UserAssigned
                          value: UserAssigned
                        - name: SystemAndUserAssigned
                          value: SystemAssigned,UserAssigned
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          clientId:
                            type: string
                            description: The active directory client identifier for
                              this principal.
                          principalId:
                            type: string
                            description: The active directory identifier for this
                              principal.
                        description: A managed identity assigned by the user.
                      description: The identities assigned to this resource by the
                        user.
                  required:
                  - type
                properties:
                  type: object
                  properties:
                    panEtag:
                      type: string
                      description: PanEtag info
                    panLocation:
                      type: string
                      description: Rulestack Location, Required for GlobalRulestacks,
                        Not for LocalRulestacks
                    scope:
                      description: Rulestack Type
                      type: string
                      enum:
                      - LOCAL
                      - GLOBAL
                      x-ms-enum:
                        name: ScopeType
                        modelAsString: true
                    associatedSubscriptions:
                      type: array
                      items:
                        type: string
                      x-cadl-name: string[]
                      description: subscription scope of global rulestack
                    description:
                      type: string
                      description: rulestack description
                    defaultMode:
                      description: Mode for default rules creation
                      type: string
                      enum:
                      - IPS
                      - FIREWALL
                      - NONE
                      x-ms-enum:
                        name: DefaultMode
                        modelAsString: true
                    minAppIdVersion:
                      type: string
                      description: minimum version
                    securityServices:
                      description: Security Profile
                      type: object
                      properties:
                        vulnerabilityProfile:
                          type: string
                          description: IPs Vulnerability Profile Data
                        antiSpywareProfile:
                          type: string
                          description: Anti spyware Profile data
                        antiVirusProfile:
                          type: string
                          description: anti virus profile data
                        urlFilteringProfile:
                          type: string
                          description: URL filtering profile data
                        fileBlockingProfile:
                          type: string
                          description: File blocking profile data
                        dnsSubscription:
                          type: string
                          description: DNS Subscription profile data
                        outboundUnTrustCertificate:
                          type: string
                          description: Untrusted Egress Decryption profile data
                        outboundTrustCertificate:
                          type: string
                          description: Trusted Egress Decryption profile data
                  description: The updatable properties of the GlobalRulestackResource.
              description: The type used for update operations of the GlobalRulestackResource.
        description: The resource properties to be updated.
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-mutability:
                    - read
                    - create
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      panEtag:
                        type: string
                        description: PanEtag info
                      panLocation:
                        type: string
                        description: Rulestack Location, Required for GlobalRulestacks,
                          Not for LocalRulestacks
                      scope:
                        description: Rulestack Type
                        type: string
                        enum:
                        - LOCAL
                        - GLOBAL
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      associatedSubscriptions:
                        type: array
                        items:
                          type: string
                        x-cadl-name: string[]
                        description: subscription scope of global rulestack
                      description:
                        type: string
                        description: rulestack description
                      defaultMode:
                        description: Mode for default rules creation
                        type: string
                        enum:
                        - IPS
                        - FIREWALL
                        - NONE
                        x-ms-enum:
                          name: DefaultMode
                          modelAsString: true
                      minAppIdVersion:
                        type: string
                        description: minimum version
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityServices:
                        description: Security Profile
                        type: object
                        properties:
                          vulnerabilityProfile:
                            type: string
                            description: IPs Vulnerability Profile Data
                          antiSpywareProfile:
                            type: string
                            description: Anti spyware Profile data
                          antiVirusProfile:
                            type: string
                            description: anti virus profile data
                          urlFilteringProfile:
                            type: string
                            description: URL filtering profile data
                          fileBlockingProfile:
                            type: string
                            description: File blocking profile data
                          dnsSubscription:
                            type: string
                            description: DNS Subscription profile data
                          outboundUnTrustCertificate:
                            type: string
                            description: Untrusted Egress Decryption profile data
                          outboundTrustCertificate:
                            type: string
                            description: Trusted Egress Decryption profile data
                  location:
                    type: string
                    description: Global Location
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The Active Directory tenant id of the principal.
                        readOnly: true
                      principalId:
                        type: string
                        description: The active directory identifier of this principal.
                        readOnly: true
                      type:
                        description: The type of managed identity assigned to this
                          resource.
                        type: string
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                          values:
                          - name: None
                            value: None
                          - name: SystemAssigned
                            value: SystemAssigned
                          - name: UserAssigned
                            value: UserAssigned
                          - name: SystemAndUserAssigned
                            value: SystemAssigned,UserAssigned
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            clientId:
                              type: string
                              description: The active directory client identifier
                                for this principal.
                            principalId:
                              type: string
                              description: The active directory identifier for this
                                principal.
                          description: A managed identity assigned by the user.
                        description: The identities assigned to this resource by the
                          user.
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
                - location
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - GlobalRulestack
      operationId: GlobalRulestack_Delete
      description: Delete a GlobalRulestackResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: globalRulestackName
        in: path
        required: true
        description: GlobalRulestack resource name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource deleted successfully.
        default:
          description: Common error response for all Azure Resource Manager APIs to
            return error details for failed operations.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
  /providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/certificates:
    get:
      tags:
      - CertificateObjectGlobalRulestack
      operationId: CertificateObjectGlobalRulestack_List
      description: List CertificateObjectGlobalRulestackResource resources by Tenant
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: globalRulestackName
        in: path
        required: true
        description: GlobalRulestack resource name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-mutability:
                          - read
                          - create
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            certificateSignerResourceId:
                              type: string
                              description: Resource Id of certificate signer, to be
                                populated only when certificateSelfSigned is false
                            certificateSelfSigned:
                              description: use certificate self signed
                              type: string
                              enum:
                              - 'TRUE'
                              - 'FALSE'
                              x-ms-enum:
                                name: BooleanEnum
                                modelAsString: true
                            auditComment:
                              type: string
                              description: comment for this object
                            description:
                              type: string
                              description: user description for this object
                            etag:
                              type: string
                              description: read only string representing last create
                                or update
                            provisioningState:
                              description: Provisioning state of the resource.
[...]
