openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiGatewayStages
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/apiGatewayStages:
    get:
      operationId: ApiGatewayStages_ListBySubscription
      tags:
      - ApiGatewayStages
      description: List ApiGatewayStage resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ApiGatewayStage list operation.
                properties:
                  value:
                    type: array
                    description: The ApiGatewayStage items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                accessLogSetting:
                                  description: Access log settings, including the
                                    access log format and access log destination ARN.
                                    The ``AccessLogSetting`` property type specifies
                                    settings for logging access in this stage.  ``AccessLogSetting``
                                    is a property of the [AWS::ApiGateway::Stage](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html)
                                    resource.
                                  type: object
                                  properties:
                                    destinationArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the CloudWatch Logs log group or Kinesis
                                        Data Firehose delivery stream to receive access
                                        logs. If you specify a Kinesis Data Firehose
                                        delivery stream, the stream name must begin
                                        with ``amazon-apigateway-``. This parameter
                                        is required to enable access logging.
                                    format:
                                      type: string
                                      description: A single line format of the access
                                        logs of data, as specified by selected [$context
                                        variables](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference).
                                        The format must include at least ``$context.requestId``.
                                        This parameter is required to enable access
                                        logging.
                                cacheClusterEnabled:
                                  type: boolean
                                  description: Specifies whether a cache cluster is
                                    enabled for the stage.
                                cacheClusterSize:
                                  type: string
                                  description: The stage's cache capacity in GB. For
                                    more information about choosing a cache size,
                                    see [Enabling API caching to enhance responsiveness](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-caching.html).
                                canarySetting:
                                  description: Settings for the canary deployment
                                    in this stage. Configuration settings of a canary
                                    deployment.
                                  type: object
                                  properties:
                                    deploymentId:
                                      type: string
                                      description: The ID of the canary deployment.
                                    percentTraffic:
                                      type: integer
                                      format: int32
                                      description: The percent (0-100) of traffic
                                        diverted to a canary deployment.
                                    stageVariableOverrides:
                                      type: object
                                      description: Stage variables overridden for
                                        a canary release deployment, including new
                                        stage variables introduced in the canary.
                                        These stage variables are represented as a
                                        string-to-string map between stage variable
                                        names and their values.
                                      additionalProperties:
                                        type: string
                                    useStageCache:
                                      type: boolean
                                      description: A Boolean flag to indicate whether
                                        the canary deployment uses the stage cache
                                        or not.
                                clientCertificateId:
                                  type: string
                                  description: The identifier of a client certificate
                                    for an API stage.
                                deploymentId:
                                  type: string
                                  description: The identifier of the Deployment that
                                    the stage points to.
                                description:
                                  type: string
                                  description: The stage's description.
                                documentationVersion:
                                  type: string
                                  description: The version of the associated API documentation.
                                methodSettings:
                                  type: array
                                  description: A map that defines the method settings
                                    for a Stage resource. Keys (designated as ``/{method_setting_key``
                                    below) are method paths defined as ``{resource_path}/{http_method}``
                                    for an individual method override, or ``/\*/\*``
                                    for overriding all methods in the stage.
                                  items:
                                    type: object
                                    description: Definition of MethodSetting
                                    properties:
                                      cacheDataEncrypted:
                                        type: boolean
                                        description: Specifies whether the cached
                                          responses are encrypted.
                                      cacheTtlInSeconds:
                                        type: integer
                                        format: int32
                                        description: Specifies the time to live (TTL),
                                          in seconds, for cached responses. The higher
                                          the TTL, the longer the response will be
                                          cached.
                                      cachingEnabled:
                                        type: boolean
                                        description: Specifies whether responses should
                                          be cached and returned for requests. A cache
                                          cluster must be enabled on the stage for
                                          responses to be cached.
                                      dataTraceEnabled:
                                        type: boolean
                                        description: Specifies whether data trace
                                          logging is enabled for this method, which
                                          affects the log entries pushed to Amazon
                                          CloudWatch Logs. This can be useful to troubleshoot
                                          APIs, but can result in logging sensitive
                                          data. We recommend that you don't enable
                                          this option for production APIs.
                                      httpMethod:
                                        type: string
                                        description: The HTTP method. To apply settings
                                          to multiple resources and methods, specify
                                          an asterisk (``*``) for the ``HttpMethod``
                                          and ``/*`` for the ``ResourcePath``. This
                                          parameter is required when you specify a
                                          ``MethodSetting``.
                                      loggingLevel:
                                        type: string
                                        description: Specifies the logging level for
                                          this method, which affects the log entries
                                          pushed to Amazon CloudWatch Logs. Valid
                                          values are ``OFF``, ``ERROR``, and ``INFO``.
                                          Choose ``ERROR`` to write only error-level
                                          entries to CloudWatch Logs, or choose ``INFO``
                                          to include all ``ERROR`` events as well
                                          as extra informational events.
                                      metricsEnabled:
                                        type: boolean
                                        description: Specifies whether Amazon CloudWatch
                                          metrics are enabled for this method.
                                      resourcePath:
                                        type: string
                                        description: The resource path for this method.
                                          Forward slashes (``/``) are encoded as ``~1``
                                          and the initial slash must include a forward
                                          slash. For example, the path value ``/resource/subresource``
                                          must be encoded as ``/~1resource~1subresource``.
                                          To specify the root path, use only a slash
                                          (``/``). To apply settings to multiple resources
                                          and methods, specify an asterisk (``*``)
                                          for the ``HttpMethod`` and ``/*`` for the
                                          ``ResourcePath``. This parameter is required
                                          when you specify a ``MethodSetting``.
                                      throttlingBurstLimit:
                                        type: integer
                                        format: int32
                                        description: Specifies the throttling burst
                                          limit.
                                      throttlingRateLimit:
                                        type: integer
                                        format: int32
                                        description: Specifies the throttling rate
                                          limit.
                                  x-ms-identifiers: []
                                restApiId:
                                  type: string
                                  description: The string identifier of the associated
                                    RestApi.
                                stageName:
                                  type: string
                                  description: The name of the stage is the first
                                    path segment in the Uniform Resource Identifier
                                    (URI) of a call to API Gateway. Stage names can
                                    only contain alphanumeric characters, hyphens,
                                    and underscores. Maximum length is 128 characters.
                                tags:
                                  type: array
                                  description: The collection of tags. Each tag element
                                    is associated with a given resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key name of the tag. You
                                          can specify a value that is 1 to 128 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:.
                                      value:
                                        type: string
                                        description: The value for the tag. You can
                                          specify a value that is 0 to 256 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:.
                                  x-ms-identifiers: []
                                tracingEnabled:
                                  type: boolean
                                  description: Specifies whether active tracing with
                                    X-ray is enabled for the Stage.
                                variables:
                                  type: object
                                  description: 'A map (string-to-string map) that
                                    defines the stage variables, where the variable
                                    name is the key and the variable value is the
                                    value. Variable names are limited to alphanumeric
                                    characters. Values must match the following regular
                                    expression: ``[A-Za-z0-9-._~:/?#&=,]+``.'
                                  additionalProperties:
                                    type: string
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayStages:
    get:
      operationId: ApiGatewayStages_ListByResourceGroup
      tags:
      - ApiGatewayStages
      description: List ApiGatewayStage resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ApiGatewayStage list operation.
                properties:
                  value:
                    type: array
                    description: The ApiGatewayStage items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                accessLogSetting:
                                  description: Access log settings, including the
                                    access log format and access log destination ARN.
                                    The ``AccessLogSetting`` property type specifies
                                    settings for logging access in this stage.  ``AccessLogSetting``
                                    is a property of the [AWS::ApiGateway::Stage](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html)
                                    resource.
                                  type: object
                                  properties:
                                    destinationArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the CloudWatch Logs log group or Kinesis
                                        Data Firehose delivery stream to receive access
                                        logs. If you specify a Kinesis Data Firehose
                                        delivery stream, the stream name must begin
                                        with ``amazon-apigateway-``. This parameter
                                        is required to enable access logging.
                                    format:
                                      type: string
                                      description: A single line format of the access
                                        logs of data, as specified by selected [$context
                                        variables](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference).
                                        The format must include at least ``$context.requestId``.
                                        This parameter is required to enable access
                                        logging.
                                cacheClusterEnabled:
                                  type: boolean
                                  description: Specifies whether a cache cluster is
                                    enabled for the stage.
                                cacheClusterSize:
                                  type: string
                                  description: The stage's cache capacity in GB. For
                                    more information about choosing a cache size,
                                    see [Enabling API caching to enhance responsiveness](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-caching.html).
                                canarySetting:
                                  description: Settings for the canary deployment
                                    in this stage. Configuration settings of a canary
                                    deployment.
                                  type: object
                                  properties:
                                    deploymentId:
                                      type: string
                                      description: The ID of the canary deployment.
                                    percentTraffic:
                                      type: integer
                                      format: int32
                                      description: The percent (0-100) of traffic
                                        diverted to a canary deployment.
                                    stageVariableOverrides:
                                      type: object
                                      description: Stage variables overridden for
                                        a canary release deployment, including new
                                        stage variables introduced in the canary.
                                        These stage variables are represented as a
                                        string-to-string map between stage variable
                                        names and their values.
                                      additionalProperties:
                                        type: string
                                    useStageCache:
                                      type: boolean
                                      description: A Boolean flag to indicate whether
                                        the canary deployment uses the stage cache
                                        or not.
                                clientCertificateId:
                                  type: string
                                  description: The identifier of a client certificate
                                    for an API stage.
                                deploymentId:
                                  type: string
                                  description: The identifier of the Deployment that
                                    the stage points to.
                                description:
                                  type: string
                                  description: The stage's description.
                                documentationVersion:
                                  type: string
                                  description: The version of the associated API documentation.
                                methodSettings:
                                  type: array
                                  description: A map that defines the method settings
                                    for a Stage resource. Keys (designated as ``/{method_setting_key``
                                    below) are method paths defined as ``{resource_path}/{http_method}``
                                    for an individual method override, or ``/\*/\*``
                                    for overriding all methods in the stage.
                                  items:
                                    type: object
                                    description: Definition of MethodSetting
                                    properties:
                                      cacheDataEncrypted:
                                        type: boolean
                                        description: Specifies whether the cached
                                          responses are encrypted.
                                      cacheTtlInSeconds:
                                        type: integer
                                        format: int32
                                        description: Specifies the time to live (TTL),
                                          in seconds, for cached responses. The higher
                                          the TTL, the longer the response will be
                                          cached.
                                      cachingEnabled:
                                        type: boolean
                                        description: Specifies whether responses should
                                          be cached and returned for requests. A cache
                                          cluster must be enabled on the stage for
                                          responses to be cached.
                                      dataTraceEnabled:
                                        type: boolean
                                        description: Specifies whether data trace
                                          logging is enabled for this method, which
                                          affects the log entries pushed to Amazon
                                          CloudWatch Logs. This can be useful to troubleshoot
                                          APIs, but can result in logging sensitive
                                          data. We recommend that you don't enable
                                          this option for production APIs.
                                      httpMethod:
                                        type: string
                                        description: The HTTP method. To apply settings
                                          to multiple resources and methods, specify
                                          an asterisk (``*``) for the ``HttpMethod``
                                          and ``/*`` for the ``ResourcePath``. This
                                          parameter is required when you specify a
                                          ``MethodSetting``.
                                      loggingLevel:
                                        type: string
                                        description: Specifies the logging level for
                                          this method, which affects the log entries
                                          pushed to Amazon CloudWatch Logs. Valid
                                          values are ``OFF``, ``ERROR``, and ``INFO``.
                                          Choose ``ERROR`` to write only error-level
                                          entries to CloudWatch Logs, or choose ``INFO``
                                          to include all ``ERROR`` events as well
                                          as extra informational events.
                                      metricsEnabled:
                                        type: boolean
                                        description: Specifies whether Amazon CloudWatch
                                          metrics are enabled for this method.
                                      resourcePath:
                                        type: string
                                        description: The resource path for this method.
                                          Forward slashes (``/``) are encoded as ``~1``
                                          and the initial slash must include a forward
                                          slash. For example, the path value ``/resource/subresource``
                                          must be encoded as ``/~1resource~1subresource``.
                                          To specify the root path, use only a slash
                                          (``/``). To apply settings to multiple resources
                                          and methods, specify an asterisk (``*``)
                                          for the ``HttpMethod`` and ``/*`` for the
                                          ``ResourcePath``. This parameter is required
                                          when you specify a ``MethodSetting``.
                                      throttlingBurstLimit:
                                        type: integer
                                        format: int32
                                        description: Specifies the throttling burst
                                          limit.
                                      throttlingRateLimit:
                                        type: integer
                                        format: int32
                                        description: Specifies the throttling rate
                                          limit.
                                  x-ms-identifiers: []
                                restApiId:
                                  type: string
                                  description: The string identifier of the associated
                                    RestApi.
                                stageName:
                                  type: string
                                  description: The name of the stage is the first
                                    path segment in the Uniform Resource Identifier
                                    (URI) of a call to API Gateway. Stage names can
                                    only contain alphanumeric characters, hyphens,
                                    and underscores. Maximum length is 128 characters.
                                tags:
                                  type: array
                                  description: The collection of tags. Each tag element
                                    is associated with a given resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key name of the tag. You
                                          can specify a value that is 1 to 128 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:.
                                      value:
                                        type: string
                                        description: The value for the tag. You can
                                          specify a value that is 0 to 256 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:.
                                  x-ms-identifiers: []
                                tracingEnabled:
                                  type: boolean
                                  description: Specifies whether active tracing with
                                    X-ray is enabled for the Stage.
                                variables:
                                  type: object
                                  description: 'A map (string-to-string map) that
                                    defines the stage variables, where the variable
                                    name is the key and the variable value is the
                                    value. Variable names are limited to alphanumeric
                                    characters. Values must match the following regular
                                    expression: ``[A-Za-z0-9-._~:/?#&=,]+``.'
                                  additionalProperties:
                                    type: string
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayStages/{name}
  : get:
      operationId: ApiGatewayStages_Get
      tags:
      - ApiGatewayStages
      description: Get a ApiGatewayStage
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ApiGatewayStage
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          accessLogSetting:
                            description: Access log settings, including the access
                              log format and access log destination ARN. The ``AccessLogSetting``
                              property type specifies settings for logging access
                              in this stage.  ``AccessLogSetting`` is a property of
                              the [AWS::ApiGateway::Stage](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html)
                              resource.
                            type: object
                            properties:
                              destinationArn:
                                type: string
                                description: The Amazon Resource Name (ARN) of the
                                  CloudWatch Logs log group or Kinesis Data Firehose
                                  delivery stream to receive access logs. If you specify
                                  a Kinesis Data Firehose delivery stream, the stream
                                  name must begin with ``amazon-apigateway-``. This
                                  parameter is required to enable access logging.
                              format:
                                type: string
                                description: A single line format of the access logs
                                  of data, as specified by selected [$context variables](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference).
                                  The format must include at least ``$context.requestId``.
                                  This parameter is required to enable access logging.
                          cacheClusterEnabled:
                            type: boolean
                            description: Specifies whether a cache cluster is enabled
                              for the stage.
                          cacheClusterSize:
                            type: string
                            description: The stage's cache capacity in GB. For more
                              information about choosing a cache size, see [Enabling
                              API caching to enhance responsiveness](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-caching.html).
                          canarySetting:
                            description: Settings for the canary deployment in this
                              stage. Configuration settings of a canary deployment.
                            type: object
                            properties:
                              deploymentId:
                                type: string
                                description: The ID of the canary deployment.
                              percentTraffic:
                                type: integer
                                format: int32
                                description: The percent (0-100) of traffic diverted
                                  to a canary deployment.
                              stageVariableOverrides:
                                type: object
                                description: Stage variables overridden for a canary
                                  release deployment, including new stage variables
                                  introduced in the canary. These stage variables
                                  are represented as a string-to-string map between
                                  stage variable names and their values.
                                additionalProperties:
                                  type: string
                              useStageCache:
                                type: boolean
                                description: A Boolean flag to indicate whether the
                                  canary deployment uses the stage cache or not.
                          clientCertificateId:
                            type: string
                            description: The identifier of a client certificate for
                              an API stage.
                          deploymentId:
                            type: string
                            description: The identifier of the Deployment that the
                              stage points to.
                          description:
                            type: string
                            description: The stage's description.
                          documentationVersion:
                            type: string
                            description: The version of the associated API documentation.
                          methodSettings:
                            type: array
                            description: A map that defines the method settings for
                              a Stage resource. Keys (designated as ``/{method_setting_key``
                              below) are method paths defined as ``{resource_path}/{http_method}``
                              for an individual method override, or ``/\*/\*`` for
                              overriding all methods in the stage.
                            items:
                              type: object
                              description: Definition of MethodSetting
                              properties:
                                cacheDataEncrypted:
                                  type: boolean
                                  description: Specifies whether the cached responses
                                    are encrypted.
                                cacheTtlInSeconds:
                                  type: integer
                                  format: int32
                                  description: Specifies the time to live (TTL), in
                                    seconds, for cached responses. The higher the
                                    TTL, the longer the response will be cached.
                                cachingEnabled:
                                  type: boolean
                                  description: Specifies whether responses should
                                    be cached and returned for requests. A cache cluster
                                    must be enabled on the stage for responses to
                                    be cached.
                                dataTraceEnabled:
                                  type: boolean
                                  description: Specifies whether data trace logging
                                    is enabled for this method, which affects the
                                    log entries pushed to Amazon CloudWatch Logs.
                                    This can be useful to troubleshoot APIs, but can
                                    result in logging sensitive data. We recommend
                                    that you don't enable this option for production
                                    APIs.
                                httpMethod:
                                  type: string
                                  description: The HTTP method. To apply settings
                                    to multiple resources and methods, specify an
                                    asterisk (``*``) for the ``HttpMethod`` and ``/*``
                                    for the ``ResourcePath``. This parameter is required
                                    when you specify a ``MethodSetting``.
                                loggingLevel:
                                  type: string
                                  description: Specifies the logging level for this
                                    method, which affects the log entries pushed to
                                    Amazon CloudWatch Logs. Valid values are ``OFF``,
                                    ``ERROR``, and ``INFO``. Choose ``ERROR`` to write
                                    only error-level entries to CloudWatch Logs, or
                                    choose ``INFO`` to include all ``ERROR`` events
                                    as well as extra informational events.
                                metricsEnabled:
                                  type: boolean
                                  description: Specifies whether Amazon CloudWatch
                                    metrics are enabled for this method.
                                resourcePath:
                                  type: string
                                  description: The resource path for this method.
                                    Forward slashes (``/``) are encoded as ``~1``
                                    and the initial slash must include a forward slash.
                                    For example, the path value ``/resource/subresource``
                                    must be encoded as ``/~1resource~1subresource``.
                                    To specify the root path, use only a slash (``/``).
                                    To apply settings to multiple resources and methods,
                                    specify an asterisk (``*``) for the ``HttpMethod``
                                    and ``/*`` for the ``ResourcePath``. This parameter
                                    is required when you specify a ``MethodSetting``.
                                throttlingBurstLimit:
                                  type: integer
                                  format: int32
                                  description: Specifies the throttling burst limit.
                                throttlingRateLimit:
                                  type: integer
                                  format: int32
                                  description: Specifies the throttling rate limit.
                            x-ms-identifiers: []
                          restApiId:
                            type: string
                            description: The string identifier of the associated RestApi.
                          stageName:
                            type: string
                            description: The name of the stage is the first path segment
                              in the Uniform Resource Identifier (URI) of a call to
                              API Gateway. Stage names can only contain alphanumeric
                              characters, hyphens, and underscores. Maximum length
                              is 128 characters.
                          tags:
                            type: array
                            description: The collection of tags. Each tag element
                              is associated with a given resource.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The key name of the tag. You can specify
                                    a value that is 1 to 128 Unicode characters in
                                    length and cannot be prefixed with aws:.
                                value:
                                  type: string
                                  description: The value for the tag. You can specify
                                    a value that is 0 to 256 Unicode characters in
                                    length and cannot be prefixed with aws:.
                            x-ms-identifiers: []
                          tracingEnabled:
                            type: boolean
                            description: Specifies whether active tracing with X-ray
                              is enabled for the Stage.
                          variables:
                            type: object
                            description: 'A map (string-to-string map) that defines
                              the stage variables, where the variable name is the
                              key and the variable value is the value. Variable names
                              are limited to alphanumeric characters. Values must
                              match the following regular expression: ``[A-Za-z0-9-._~:/?#&=,]+``.'
                            additionalProperties:
                              type: string
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ApiGatewayStages_CreateOrReplace
      tags:
      - ApiGatewayStages
      description: Create a ApiGatewayStage. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ApiGatewayStage
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        accessLogSetting:
                          description: Access log settings, including the access log
                            format and access log destination ARN. The ``AccessLogSetting``
                            property type specifies settings for logging access in
                            this stage.  ``AccessLogSetting`` is a property of the
                            [AWS::ApiGateway::Stage](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html)
                            resource.
                          type: object
                          properties:
                            destinationArn:
                              type: string
                              description: The Amazon Resource Name (ARN) of the CloudWatch
                                Logs log group or Kinesis Data Firehose delivery stream
                                to receive access logs. If you specify a Kinesis Data
                                Firehose delivery stream, the stream name must begin
                                with ``amazon-apigateway-``. This parameter is required
                                to enable access logging.
                            format:
                              type: string
                              description: A single line format of the access logs
                                of data, as specified by selected [$context variables](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference).
                                The format must include at least ``$context.requestId``.
                                This parameter is required to enable access logging.
                        cacheClusterEnabled:
                          type: boolean
                          description: Specifies whether a cache cluster is enabled
                            for the stage.
                        cacheClusterSize:
                          type: string
                          description: The stage's cache capacity in GB. For more
                            information about choosing a cache size, see [Enabling
                            API caching to enhance responsiveness](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-caching.html).
                        canarySetting:
                          description: Settings for the canary deployment in this
                            stage. Configuration settings of a canary deployment.
                          type: object
                          properties:
                            deploymentId:
                              type: string
                              description: The ID of the canary deployment.
                            percentTraffic:
                              type: integer
                              format: int32
                              description: The percent (0-100) of traffic diverted
                                to a canary deployment.
                            stageVariableOverrides:
                              type: object
                              description: Stage variables overridden for a canary
                                release deployment, including new stage variables
                                introduced in the canary. These stage variables are
                                represented as a string-to-string map between stage
                                variable names and their values.
                              additionalProperties:
                                type: string
                            useStageCache:
                              type: boolean
                              description: A Boolean flag to indicate whether the
                                canary deployment uses the stage cache or not.
                        clientCertificateId:
                          type: string
                          description: The identifier of a client certificate for
                            an API stage.
                        deploymentId:
                          type: string
                          description: The identifier of the Deployment that the stage
                            points to.
                        description:
                          type: string
                          description: The stage's description.
                        documentationVersion:
                          type: string
                          description: The version of the associated API documentation.
                        methodSettings:
                          type: array
                          description: A map that defines the method settings for
                            a Stage resource. Keys (designated as ``/{method_setting_key``
                            below) are method paths defined as ``{resource_path}/{http_method}``
                            for an individual method override, or ``/\*/\*`` for overriding
                            all methods in the stage.
                          items:
                            type: object
                            description: Definition of MethodSetting
                            properties:
                              cacheDataEncrypted:
                                type: boolean
                                description: Specifies whether the cached responses
                                  are encrypted.
                              cacheTtlInSeconds:
                                type: integer
                                format: int32
                                description: Specifies the time to live (TTL), in
                                  seconds, for cached responses. The higher the TTL,
                                  the longer the response will be cached.
                              cachingEnabled:
                                type: boolean
                                description: Specifies whether responses should be
                                  cached and returned for requests. A cache cluster
                                  must be enabled on the stage for responses to be
                                  cached.
                              dataTraceEnabled:
                                type: boolean
                                description: Specifies whether data trace logging
                                  is enabled for this method, which affects the log
                                  entries pushed to Amazon CloudWatch Logs. This can
                                  be useful to troubleshoot APIs, but can result in
                                  logging sensitive data. We recommend that you don't
                                  enable this option for production APIs.
                              httpMethod:
                                type: string
                                description: The HTTP method. To apply settings to
                                  multiple resources and methods, specify an asterisk
                                  (``*``) for the ``HttpMethod`` and ``/*`` for the
                                  ``ResourcePath``. This parameter is required when
                                  you specify a ``MethodSetting``.
                              loggingLevel:
                                type: string
                                description: Specifies the logging level for this
                                  method, which affects the log entries pushed to
                                  Amazon CloudWatch Logs. Valid values are ``OFF``,
                                  ``ERROR``, and ``INFO``. Choose ``ERROR`` to write
                                  only error-level entries to CloudWatch Logs, or
                                  choose ``INFO`` to include all ``ERROR`` events
                                  as well as extra informational events.
                              metricsEnabled:
                                type: boolean
                                description: Specifies whether Amazon CloudWatch metrics
                                  are enabled for this method.
                              resourcePath:
                                type: string
                                description: The resource path for this method. Forward
                                  slashes (``/``) are encoded as ``~1`` and the initial
                                  slash must include a forward slash. For example,
                                  the path value ``/resource/subresource`` must be
                                  encoded as ``/~1resource~1subresource``. To specify
                                  the root path, use only a slash (``/``). To apply
                                  settings to multiple resources and methods, specify
                                  an asterisk (``*``) for the ``HttpMethod`` and ``/*``
                                  for the ``ResourcePath``. This parameter is required
                                  when you specify a ``MethodSetting``.
                              throttlingBurstLimit:
                                type: integer
                                format: int32
                                description: Specifies the throttling burst limit.
                              throttlingRateLimit:
                                type: integer
                                format: int32
                                description: Specifies the throttling rate limit.
                          x-ms-identifiers: []
                        restApiId:
                          type: string
                          description: The string identifier of the associated RestApi.
                        stageName:
                          type: string
                          description: The name of the stage is the first path segment
                            in the Uniform Resource Identifier (URI) of a call to
                            API Gateway. Stage names can only contain alphanumeric
                            characters, hyphens, and underscores. Maximum length is
                            128 characters.
                        tags:
                          type: array
                          description: The collection of tags. Each tag element is
                            associated with a given resource.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The key name of the tag. You can specify
                                  a value that is 1 to 128 Unicode characters in length
                                  and cannot be prefixed with aws:.
                              value:
                                type: string
                                description: The value for the tag. You can specify
                                  a value that is 0 to 256 Unicode characters in length
                                  and cannot be prefixed with aws:.
                          x-ms-identifiers: []
                        tracingEnabled:
                          type: boolean
                          description: Specifies whether active tracing with X-ray
                            is enabled for the Stage.
                        variables:
                          type: object
                          description: 'A map (string-to-string map) that defines
                            the stage variables, where the variable name is the key
                            and the variable value is the value. Variable names are
                            limited to alphanumeric characters. Values must match
                            the following regular expression: ``[A-Za-z0-9-._~:/?#&=,]+``.'
                          additionalProperties:
                            type: string
[...]
