openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiGatewayRestApis
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/apiGatewayRestApis:
    get:
      operationId: ApiGatewayRestApis_ListBySubscription
      tags:
      - ApiGatewayRestApis
      description: List ApiGatewayRestApi resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ApiGatewayRestApi list operation.
                properties:
                  value:
                    type: array
                    description: The ApiGatewayRestApi items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                apiKeySourceType:
                                  type: string
                                  description: 'The source of the API key for metering
                                    requests according to a usage plan. Valid values
                                    are: ``HEADER`` to read the API key from the ``X-API-Key``
                                    header of a request. ``AUTHORIZER`` to read the
                                    API key from the ``UsageIdentifierKey`` from a
                                    custom authorizer.'
                                binaryMediaTypes:
                                  type: array
                                  description: The list of binary media types supported
                                    by the RestApi. By default, the RestApi supports
                                    only UTF-8-encoded text payloads.
                                  items:
                                    type: string
                                body:
                                  type: object
                                  description: An OpenAPI specification that defines
                                    a set of RESTful APIs in JSON format. For YAML
                                    templates, you can also provide the specification
                                    in YAML format.
                                  additionalProperties: {}
                                bodyS3Location:
                                  description: The Amazon Simple Storage Service (Amazon
                                    S3) location that points to an OpenAPI file, which
                                    defines a set of RESTful APIs in JSON or YAML
                                    format. ``S3Location`` is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                                    resource that specifies the Amazon S3 location
                                    of a OpenAPI (formerly Swagger) file that defines
                                    a set of RESTful APIs in JSON or YAML. On January
                                    1, 2016, the Swagger Specification was donated
                                    to the [OpenAPI initiative](https://docs.aws.amazon.com/https://www.openapis.org/),
                                    becoming the foundation of the OpenAPI Specification.
                                  type: object
                                  properties:
                                    bucket:
                                      type: string
                                      description: The name of the S3 bucket where
                                        the OpenAPI file is stored.
                                    eTag:
                                      type: string
                                      description: The Amazon S3 ETag (a file checksum)
                                        of the OpenAPI file. If you don't specify
                                        a value, API Gateway skips ETag validation
                                        of your OpenAPI file.
                                    key:
                                      type: string
                                      description: The file name of the OpenAPI file
                                        (Amazon S3 object name).
                                    version:
                                      type: string
                                      description: For versioning-enabled buckets,
                                        a specific version of the OpenAPI file.
                                cloneFrom:
                                  type: string
                                  description: The ID of the RestApi that you want
                                    to clone from.
                                description:
                                  type: string
                                  description: The description of the RestApi.
                                disableExecuteApiEndpoint:
                                  type: boolean
                                  description: Specifies whether clients can invoke
                                    your API by using the default ``execute-api``
                                    endpoint. By default, clients can invoke your
                                    API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com``
                                    endpoint. To require that clients use a custom
                                    domain name to invoke your API, disable the default
                                    endpoint
                                endpointConfiguration:
                                  description: A list of the endpoint types of the
                                    API. Use this property when creating an API. When
                                    importing an existing API, specify the endpoint
                                    configuration types using the ``Parameters`` property.
                                    The ``EndpointConfiguration`` property type specifies
                                    the endpoint types of a REST API. ``EndpointConfiguration``
                                    is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                                    resource.
                                  type: object
                                  properties:
                                    types:
                                      type: array
                                      description: A list of endpoint types of an
                                        API (RestApi) or its custom domain name (DomainName).
                                        For an edge-optimized API and its custom domain
                                        name, the endpoint type is ``'EDGE'``. For
                                        a regional API and its custom domain name,
                                        the endpoint type is ``REGIONAL``. For a private
                                        API, the endpoint type is ``PRIVATE``.
                                      items:
                                        type: string
                                    vpcEndpointIds:
                                      type: array
                                      description: A list of VpcEndpointIds of an
                                        API (RestApi) against which to create Route53
                                        ALIASes. It is only supported for ``PRIVATE``
                                        endpoint type.
                                      items:
                                        type: string
                                failOnWarnings:
                                  type: boolean
                                  description: A query parameter to indicate whether
                                    to rollback the API update (``true``) or not (``false``)
                                    when a warning is encountered. The default value
                                    is ``false``.
                                minimumCompressionSize:
                                  type: integer
                                  format: int32
                                  description: A nullable integer that is used to
                                    enable compression (with non-negative between
                                    0 and 10485760 (10M) bytes, inclusive) or disable
                                    compression (with a null value) on an API. When
                                    compression is enabled, compression or decompression
                                    is not applied on the payload if the payload size
                                    is smaller than this value. Setting it to zero
                                    allows compression for any payload size.
                                mode:
                                  type: string
                                  description: This property applies only when you
                                    use OpenAPI to define your REST API. The ``Mode``
                                    determines how API Gateway handles resource updates.
                                    Valid values are ``overwrite`` or ``merge``.  For
                                    ``overwrite``, the new API definition replaces
                                    the existing one. The existing API identifier
                                    remains unchanged.  For ``merge``, the new API
                                    definition is merged with the existing API. If
                                    you don't specify this property, a default value
                                    is chosen. For REST APIs created before March
                                    29, 2021, the default is ``overwrite``. For REST
                                    APIs created after March 29, 2021, the new API
                                    definition takes precedence, but any container
                                    types such as endpoint configurations and binary
                                    media types are merged with the existing API.  Use
                                    the default mode to define top-level ``RestApi``
                                    properties in addition to using OpenAPI. Generally,
                                    it's preferred to use API Gateway's OpenAPI extensions
                                    to model these properties.
                                name:
                                  type: string
                                  description: The name of the RestApi. A name is
                                    required if the REST API is not based on an OpenAPI
                                    specification.
                                parameters:
                                  type: object
                                  description: Custom header parameters as part of
                                    the request. For example, to exclude DocumentationParts
                                    from an imported API, set ``ignore=documentation``
                                    as a ``parameters`` value, as in the AWS CLI command
                                    of ``aws apigateway import-rest-api --parameters
                                    ignore=documentation --body 'file:///path/to/imported-api-body.json'``.
                                  additionalProperties:
                                    type: string
                                policy:
                                  type: string
                                  description: A policy document that contains the
                                    permissions for the ``RestApi`` resource. To set
                                    the ARN for the policy, use the ``!Join`` intrinsic
                                    function with ``''`` as delimiter and values of
                                    ``'execute-api:/'`` and ``'*'``.
                                restApiId:
                                  type: string
                                  description: Property restApiId
                                rootResourceId:
                                  type: string
                                  description: Property rootResourceId
                                tags:
                                  type: array
                                  description: The key-value map of strings. The valid
                                    character set is [a-zA-Z+-=._:/]. The tag key
                                    can be up to 128 characters and must not start
                                    with ``aws:``. The tag value can be up to 256
                                    characters.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayRestApis:
    get:
      operationId: ApiGatewayRestApis_ListByResourceGroup
      tags:
      - ApiGatewayRestApis
      description: List ApiGatewayRestApi resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ApiGatewayRestApi list operation.
                properties:
                  value:
                    type: array
                    description: The ApiGatewayRestApi items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                apiKeySourceType:
                                  type: string
                                  description: 'The source of the API key for metering
                                    requests according to a usage plan. Valid values
                                    are: ``HEADER`` to read the API key from the ``X-API-Key``
                                    header of a request. ``AUTHORIZER`` to read the
                                    API key from the ``UsageIdentifierKey`` from a
                                    custom authorizer.'
                                binaryMediaTypes:
                                  type: array
                                  description: The list of binary media types supported
                                    by the RestApi. By default, the RestApi supports
                                    only UTF-8-encoded text payloads.
                                  items:
                                    type: string
                                body:
                                  type: object
                                  description: An OpenAPI specification that defines
                                    a set of RESTful APIs in JSON format. For YAML
                                    templates, you can also provide the specification
                                    in YAML format.
                                  additionalProperties: {}
                                bodyS3Location:
                                  description: The Amazon Simple Storage Service (Amazon
                                    S3) location that points to an OpenAPI file, which
                                    defines a set of RESTful APIs in JSON or YAML
                                    format. ``S3Location`` is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                                    resource that specifies the Amazon S3 location
                                    of a OpenAPI (formerly Swagger) file that defines
                                    a set of RESTful APIs in JSON or YAML. On January
                                    1, 2016, the Swagger Specification was donated
                                    to the [OpenAPI initiative](https://docs.aws.amazon.com/https://www.openapis.org/),
                                    becoming the foundation of the OpenAPI Specification.
                                  type: object
                                  properties:
                                    bucket:
                                      type: string
                                      description: The name of the S3 bucket where
                                        the OpenAPI file is stored.
                                    eTag:
                                      type: string
                                      description: The Amazon S3 ETag (a file checksum)
                                        of the OpenAPI file. If you don't specify
                                        a value, API Gateway skips ETag validation
                                        of your OpenAPI file.
                                    key:
                                      type: string
                                      description: The file name of the OpenAPI file
                                        (Amazon S3 object name).
                                    version:
                                      type: string
                                      description: For versioning-enabled buckets,
                                        a specific version of the OpenAPI file.
                                cloneFrom:
                                  type: string
                                  description: The ID of the RestApi that you want
                                    to clone from.
                                description:
                                  type: string
                                  description: The description of the RestApi.
                                disableExecuteApiEndpoint:
                                  type: boolean
                                  description: Specifies whether clients can invoke
                                    your API by using the default ``execute-api``
                                    endpoint. By default, clients can invoke your
                                    API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com``
                                    endpoint. To require that clients use a custom
                                    domain name to invoke your API, disable the default
                                    endpoint
                                endpointConfiguration:
                                  description: A list of the endpoint types of the
                                    API. Use this property when creating an API. When
                                    importing an existing API, specify the endpoint
                                    configuration types using the ``Parameters`` property.
                                    The ``EndpointConfiguration`` property type specifies
                                    the endpoint types of a REST API. ``EndpointConfiguration``
                                    is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                                    resource.
                                  type: object
                                  properties:
                                    types:
                                      type: array
                                      description: A list of endpoint types of an
                                        API (RestApi) or its custom domain name (DomainName).
                                        For an edge-optimized API and its custom domain
                                        name, the endpoint type is ``'EDGE'``. For
                                        a regional API and its custom domain name,
                                        the endpoint type is ``REGIONAL``. For a private
                                        API, the endpoint type is ``PRIVATE``.
                                      items:
                                        type: string
                                    vpcEndpointIds:
                                      type: array
                                      description: A list of VpcEndpointIds of an
                                        API (RestApi) against which to create Route53
                                        ALIASes. It is only supported for ``PRIVATE``
                                        endpoint type.
                                      items:
                                        type: string
                                failOnWarnings:
                                  type: boolean
                                  description: A query parameter to indicate whether
                                    to rollback the API update (``true``) or not (``false``)
                                    when a warning is encountered. The default value
                                    is ``false``.
                                minimumCompressionSize:
                                  type: integer
                                  format: int32
                                  description: A nullable integer that is used to
                                    enable compression (with non-negative between
                                    0 and 10485760 (10M) bytes, inclusive) or disable
                                    compression (with a null value) on an API. When
                                    compression is enabled, compression or decompression
                                    is not applied on the payload if the payload size
                                    is smaller than this value. Setting it to zero
                                    allows compression for any payload size.
                                mode:
                                  type: string
                                  description: This property applies only when you
                                    use OpenAPI to define your REST API. The ``Mode``
                                    determines how API Gateway handles resource updates.
                                    Valid values are ``overwrite`` or ``merge``.  For
                                    ``overwrite``, the new API definition replaces
                                    the existing one. The existing API identifier
                                    remains unchanged.  For ``merge``, the new API
                                    definition is merged with the existing API. If
                                    you don't specify this property, a default value
                                    is chosen. For REST APIs created before March
                                    29, 2021, the default is ``overwrite``. For REST
                                    APIs created after March 29, 2021, the new API
                                    definition takes precedence, but any container
                                    types such as endpoint configurations and binary
                                    media types are merged with the existing API.  Use
                                    the default mode to define top-level ``RestApi``
                                    properties in addition to using OpenAPI. Generally,
                                    it's preferred to use API Gateway's OpenAPI extensions
                                    to model these properties.
                                name:
                                  type: string
                                  description: The name of the RestApi. A name is
                                    required if the REST API is not based on an OpenAPI
                                    specification.
                                parameters:
                                  type: object
                                  description: Custom header parameters as part of
                                    the request. For example, to exclude DocumentationParts
                                    from an imported API, set ``ignore=documentation``
                                    as a ``parameters`` value, as in the AWS CLI command
                                    of ``aws apigateway import-rest-api --parameters
                                    ignore=documentation --body 'file:///path/to/imported-api-body.json'``.
                                  additionalProperties:
                                    type: string
                                policy:
                                  type: string
                                  description: A policy document that contains the
                                    permissions for the ``RestApi`` resource. To set
                                    the ARN for the policy, use the ``!Join`` intrinsic
                                    function with ``''`` as delimiter and values of
                                    ``'execute-api:/'`` and ``'*'``.
                                restApiId:
                                  type: string
                                  description: Property restApiId
                                rootResourceId:
                                  type: string
                                  description: Property rootResourceId
                                tags:
                                  type: array
                                  description: The key-value map of strings. The valid
                                    character set is [a-zA-Z+-=._:/]. The tag key
                                    can be up to 128 characters and must not start
                                    with ``aws:``. The tag value can be up to 256
                                    characters.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/apiGatewayRestApis/{name}
  : get:
      operationId: ApiGatewayRestApis_Get
      tags:
      - ApiGatewayRestApis
      description: Get a ApiGatewayRestApi
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ApiGatewayRestApi
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          apiKeySourceType:
                            type: string
                            description: 'The source of the API key for metering requests
                              according to a usage plan. Valid values are: ``HEADER``
                              to read the API key from the ``X-API-Key`` header of
                              a request. ``AUTHORIZER`` to read the API key from the
                              ``UsageIdentifierKey`` from a custom authorizer.'
                          binaryMediaTypes:
                            type: array
                            description: The list of binary media types supported
                              by the RestApi. By default, the RestApi supports only
                              UTF-8-encoded text payloads.
                            items:
                              type: string
                          body:
                            type: object
                            description: An OpenAPI specification that defines a set
                              of RESTful APIs in JSON format. For YAML templates,
                              you can also provide the specification in YAML format.
                            additionalProperties: {}
                          bodyS3Location:
                            description: The Amazon Simple Storage Service (Amazon
                              S3) location that points to an OpenAPI file, which defines
                              a set of RESTful APIs in JSON or YAML format. ``S3Location``
                              is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                              resource that specifies the Amazon S3 location of a
                              OpenAPI (formerly Swagger) file that defines a set of
                              RESTful APIs in JSON or YAML. On January 1, 2016, the
                              Swagger Specification was donated to the [OpenAPI initiative](https://docs.aws.amazon.com/https://www.openapis.org/),
                              becoming the foundation of the OpenAPI Specification.
                            type: object
                            properties:
                              bucket:
                                type: string
                                description: The name of the S3 bucket where the OpenAPI
                                  file is stored.
                              eTag:
                                type: string
                                description: The Amazon S3 ETag (a file checksum)
                                  of the OpenAPI file. If you don't specify a value,
                                  API Gateway skips ETag validation of your OpenAPI
                                  file.
                              key:
                                type: string
                                description: The file name of the OpenAPI file (Amazon
                                  S3 object name).
                              version:
                                type: string
                                description: For versioning-enabled buckets, a specific
                                  version of the OpenAPI file.
                          cloneFrom:
                            type: string
                            description: The ID of the RestApi that you want to clone
                              from.
                          description:
                            type: string
                            description: The description of the RestApi.
                          disableExecuteApiEndpoint:
                            type: boolean
                            description: Specifies whether clients can invoke your
                              API by using the default ``execute-api`` endpoint. By
                              default, clients can invoke your API with the default
                              ``https://{api_id}.execute-api.{region}.amazonaws.com``
                              endpoint. To require that clients use a custom domain
                              name to invoke your API, disable the default endpoint
                          endpointConfiguration:
                            description: A list of the endpoint types of the API.
                              Use this property when creating an API. When importing
                              an existing API, specify the endpoint configuration
                              types using the ``Parameters`` property. The ``EndpointConfiguration``
                              property type specifies the endpoint types of a REST
                              API. ``EndpointConfiguration`` is a property of the
                              [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                              resource.
                            type: object
                            properties:
                              types:
                                type: array
                                description: A list of endpoint types of an API (RestApi)
                                  or its custom domain name (DomainName). For an edge-optimized
                                  API and its custom domain name, the endpoint type
                                  is ``'EDGE'``. For a regional API and its custom
                                  domain name, the endpoint type is ``REGIONAL``.
                                  For a private API, the endpoint type is ``PRIVATE``.
                                items:
                                  type: string
                              vpcEndpointIds:
                                type: array
                                description: A list of VpcEndpointIds of an API (RestApi)
                                  against which to create Route53 ALIASes. It is only
                                  supported for ``PRIVATE`` endpoint type.
                                items:
                                  type: string
                          failOnWarnings:
                            type: boolean
                            description: A query parameter to indicate whether to
                              rollback the API update (``true``) or not (``false``)
                              when a warning is encountered. The default value is
                              ``false``.
                          minimumCompressionSize:
                            type: integer
                            format: int32
                            description: A nullable integer that is used to enable
                              compression (with non-negative between 0 and 10485760
                              (10M) bytes, inclusive) or disable compression (with
                              a null value) on an API. When compression is enabled,
                              compression or decompression is not applied on the payload
                              if the payload size is smaller than this value. Setting
                              it to zero allows compression for any payload size.
                          mode:
                            type: string
                            description: This property applies only when you use OpenAPI
                              to define your REST API. The ``Mode`` determines how
                              API Gateway handles resource updates. Valid values are
                              ``overwrite`` or ``merge``.  For ``overwrite``, the
                              new API definition replaces the existing one. The existing
                              API identifier remains unchanged.  For ``merge``, the
                              new API definition is merged with the existing API.
                              If you don't specify this property, a default value
                              is chosen. For REST APIs created before March 29, 2021,
                              the default is ``overwrite``. For REST APIs created
                              after March 29, 2021, the new API definition takes precedence,
                              but any container types such as endpoint configurations
                              and binary media types are merged with the existing
                              API.  Use the default mode to define top-level ``RestApi``
                              properties in addition to using OpenAPI. Generally,
                              it's preferred to use API Gateway's OpenAPI extensions
                              to model these properties.
                          name:
                            type: string
                            description: The name of the RestApi. A name is required
                              if the REST API is not based on an OpenAPI specification.
                          parameters:
                            type: object
                            description: Custom header parameters as part of the request.
                              For example, to exclude DocumentationParts from an imported
                              API, set ``ignore=documentation`` as a ``parameters``
                              value, as in the AWS CLI command of ``aws apigateway
                              import-rest-api --parameters ignore=documentation --body
                              'file:///path/to/imported-api-body.json'``.
                            additionalProperties:
                              type: string
                          policy:
                            type: string
                            description: A policy document that contains the permissions
                              for the ``RestApi`` resource. To set the ARN for the
                              policy, use the ``!Join`` intrinsic function with ``''``
                              as delimiter and values of ``'execute-api:/'`` and ``'*'``.
                          restApiId:
                            type: string
                            description: Property restApiId
                          rootResourceId:
                            type: string
                            description: Property rootResourceId
                          tags:
                            type: array
                            description: The key-value map of strings. The valid character
                              set is [a-zA-Z+-=._:/]. The tag key can be up to 128
                              characters and must not start with ``aws:``. The tag
                              value can be up to 256 characters.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ApiGatewayRestApis_CreateOrReplace
      tags:
      - ApiGatewayRestApis
      description: Create a ApiGatewayRestApi. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ApiGatewayRestApi
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        apiKeySourceType:
                          type: string
                          description: 'The source of the API key for metering requests
                            according to a usage plan. Valid values are: ``HEADER``
                            to read the API key from the ``X-API-Key`` header of a
                            request. ``AUTHORIZER`` to read the API key from the ``UsageIdentifierKey``
                            from a custom authorizer.'
                        binaryMediaTypes:
                          type: array
                          description: The list of binary media types supported by
                            the RestApi. By default, the RestApi supports only UTF-8-encoded
                            text payloads.
                          items:
                            type: string
                        body:
                          type: object
                          description: An OpenAPI specification that defines a set
                            of RESTful APIs in JSON format. For YAML templates, you
                            can also provide the specification in YAML format.
                          additionalProperties: {}
                        bodyS3Location:
                          description: The Amazon Simple Storage Service (Amazon S3)
                            location that points to an OpenAPI file, which defines
                            a set of RESTful APIs in JSON or YAML format. ``S3Location``
                            is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                            resource that specifies the Amazon S3 location of a OpenAPI
                            (formerly Swagger) file that defines a set of RESTful
                            APIs in JSON or YAML. On January 1, 2016, the Swagger
                            Specification was donated to the [OpenAPI initiative](https://docs.aws.amazon.com/https://www.openapis.org/),
                            becoming the foundation of the OpenAPI Specification.
                          type: object
                          properties:
                            bucket:
                              type: string
                              description: The name of the S3 bucket where the OpenAPI
                                file is stored.
                            eTag:
                              type: string
                              description: The Amazon S3 ETag (a file checksum) of
                                the OpenAPI file. If you don't specify a value, API
                                Gateway skips ETag validation of your OpenAPI file.
                            key:
                              type: string
                              description: The file name of the OpenAPI file (Amazon
                                S3 object name).
                            version:
                              type: string
                              description: For versioning-enabled buckets, a specific
                                version of the OpenAPI file.
                        cloneFrom:
                          type: string
                          description: The ID of the RestApi that you want to clone
                            from.
                        description:
                          type: string
                          description: The description of the RestApi.
                        disableExecuteApiEndpoint:
                          type: boolean
                          description: Specifies whether clients can invoke your API
                            by using the default ``execute-api`` endpoint. By default,
                            clients can invoke your API with the default ``https://{api_id}.execute-api.{region}.amazonaws.com``
                            endpoint. To require that clients use a custom domain
                            name to invoke your API, disable the default endpoint
                        endpointConfiguration:
                          description: A list of the endpoint types of the API. Use
                            this property when creating an API. When importing an
                            existing API, specify the endpoint configuration types
                            using the ``Parameters`` property. The ``EndpointConfiguration``
                            property type specifies the endpoint types of a REST API.
                            ``EndpointConfiguration`` is a property of the [AWS::ApiGateway::RestApi](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html)
                            resource.
                          type: object
                          properties:
                            types:
                              type: array
                              description: A list of endpoint types of an API (RestApi)
                                or its custom domain name (DomainName). For an edge-optimized
                                API and its custom domain name, the endpoint type
                                is ``'EDGE'``. For a regional API and its custom domain
                                name, the endpoint type is ``REGIONAL``. For a private
                                API, the endpoint type is ``PRIVATE``.
                              items:
                                type: string
                            vpcEndpointIds:
                              type: array
                              description: A list of VpcEndpointIds of an API (RestApi)
                                against which to create Route53 ALIASes. It is only
                                supported for ``PRIVATE`` endpoint type.
                              items:
                                type: string
                        failOnWarnings:
                          type: boolean
                          description: A query parameter to indicate whether to rollback
                            the API update (``true``) or not (``false``) when a warning
                            is encountered. The default value is ``false``.
                        minimumCompressionSize:
                          type: integer
                          format: int32
                          description: A nullable integer that is used to enable compression
                            (with non-negative between 0 and 10485760 (10M) bytes,
                            inclusive) or disable compression (with a null value)
                            on an API. When compression is enabled, compression or
                            decompression is not applied on the payload if the payload
                            size is smaller than this value. Setting it to zero allows
                            compression for any payload size.
                        mode:
                          type: string
                          description: This property applies only when you use OpenAPI
                            to define your REST API. The ``Mode`` determines how API
                            Gateway handles resource updates. Valid values are ``overwrite``
                            or ``merge``.  For ``overwrite``, the new API definition
                            replaces the existing one. The existing API identifier
                            remains unchanged.  For ``merge``, the new API definition
                            is merged with the existing API. If you don't specify
                            this property, a default value is chosen. For REST APIs
                            created before March 29, 2021, the default is ``overwrite``.
                            For REST APIs created after March 29, 2021, the new API
                            definition takes precedence, but any container types such
                            as endpoint configurations and binary media types are
                            merged with the existing API.  Use the default mode to
                            define top-level ``RestApi`` properties in addition to
                            using OpenAPI. Generally, it's preferred to use API Gateway's
                            OpenAPI extensions to model these properties.
                        name:
                          type: string
                          description: The name of the RestApi. A name is required
                            if the REST API is not based on an OpenAPI specification.
                        parameters:
                          type: object
                          description: Custom header parameters as part of the request.
                            For example, to exclude DocumentationParts from an imported
                            API, set ``ignore=documentation`` as a ``parameters``
                            value, as in the AWS CLI command of ``aws apigateway import-rest-api
                            --parameters ignore=documentation --body 'file:///path/to/imported-api-body.json'``.
                          additionalProperties:
                            type: string
                        policy:
                          type: string
                          description: A policy document that contains the permissions
                            for the ``RestApi`` resource. To set the ARN for the policy,
                            use the ``!Join`` intrinsic function with ``''`` as delimiter
                            and values of ``'execute-api:/'`` and ``'*'``.
                        restApiId:
                          type: string
                          description: Property restApiId
                        rootResourceId:
                          type: string
                          description: Property rootResourceId
                        tags:
                          type: array
                          description: The key-value map of strings. The valid character
                            set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters
                            and must not start with ``aws:``. The tag value can be
                            up to 256 characters.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'ApiGatewayRestApi' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
[...]
