openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudTrailTrails
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/cloudTrailTrails:
    get:
      operationId: CloudTrailTrails_ListBySubscription
      tags:
      - CloudTrailTrails
      description: List CloudTrailTrail resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudTrailTrail list operation.
                properties:
                  value:
                    type: array
                    description: The CloudTrailTrail items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                advancedEventSelectors:
                                  type: array
                                  description: The advanced event selectors that were
                                    used to select events for the data store.
                                  items:
                                    type: object
                                    description: Definition of AdvancedEventSelector
                                    properties:
                                      fieldSelectors:
                                        type: array
                                        description: Contains all selector statements
                                          in an advanced event selector.
                                        items:
                                          type: object
                                          description: Definition of AdvancedFieldSelector
                                          properties:
                                            endsWith:
                                              type: array
                                              description: An operator that includes
                                                events that match the last few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            equals:
                                              type: array
                                              description: An operator that includes
                                                events that match the exact value
                                                of the event record field specified
                                                as the value of Field. This is the
                                                only valid operator that you can use
                                                with the readOnly, eventCategory,
                                                and resources.type fields.
                                              items:
                                                type: string
                                            field:
                                              type: string
                                              description: A field in an event record
                                                on which to filter events to be logged.
                                                Supported fields include readOnly,
                                                eventCategory, eventSource (for management
                                                events), eventName, resources.type,
                                                and resources.ARN.
                                            notEndsWith:
                                              type: array
                                              description: An operator that excludes
                                                events that match the last few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            notEquals:
                                              type: array
                                              description: An operator that excludes
                                                events that match the exact value
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            notStartsWith:
                                              type: array
                                              description: An operator that excludes
                                                events that match the first few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            startsWith:
                                              type: array
                                              description: An operator that includes
                                                events that match the first few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                        x-ms-identifiers: []
                                      name:
                                        type: string
                                        description: An optional, descriptive name
                                          for an advanced event selector, such as
                                          'Log data events for only two S3 buckets'.
                                  x-ms-identifiers: []
                                arn:
                                  type: string
                                  description: Property arn
                                cloudWatchLogsLogGroupArn:
                                  type: string
                                  description: Specifies a log group name using an
                                    Amazon Resource Name (ARN), a unique identifier
                                    that represents the log group to which CloudTrail
                                    logs will be delivered. Not required unless you
                                    specify CloudWatchLogsRoleArn.
                                cloudWatchLogsRoleArn:
                                  type: string
                                  description: Specifies the role for the CloudWatch
                                    Logs endpoint to assume to write to a user's log
                                    group.
                                enableLogFileValidation:
                                  type: boolean
                                  description: Specifies whether log file validation
                                    is enabled. The default is false.
                                eventSelectors:
                                  type: array
                                  description: Use event selectors to further specify
                                    the management and data event settings for your
                                    trail. By default, trails created without specific
                                    event selectors will be configured to log all
                                    read and write management events, and no data
                                    events. When an event occurs in your account,
                                    CloudTrail evaluates the event selector for all
                                    trails. For each trail, if the event matches any
                                    event selector, the trail processes and logs the
                                    event. If the event doesn't match any event selector,
                                    the trail doesn't log the event. You can configure
                                    up to five event selectors for a trail.
                                  items:
                                    type: object
                                    description: Definition of EventSelector
                                    properties:
                                      dataResources:
                                        type: array
                                        description: Property dataResources
                                        items:
                                          type: object
                                          description: Definition of DataResource
                                          properties:
                                            type:
                                              type: string
                                              description: The resource type in which
                                                you want to log data events. You can
                                                specify AWS::S3::Object or AWS::Lambda::Function
                                                resources.
                                            values:
                                              type: array
                                              description: An array of Amazon Resource
                                                Name (ARN) strings or partial ARN
                                                strings for the specified objects.
                                              items:
                                                type: string
                                        x-ms-identifiers: []
                                      excludeManagementEventSources:
                                        type: array
                                        description: An optional list of service event
                                          sources from which you do not want management
                                          events to be logged on your trail. In this
                                          release, the list can be empty (disables
                                          the filter), or it can filter out AWS Key
                                          Management Service events by containing
                                          'kms.amazonaws.com'. By default, ExcludeManagementEventSources
                                          is empty, and AWS KMS events are included
                                          in events that are logged to your trail.
                                        items:
                                          type: string
                                      includeManagementEvents:
                                        type: boolean
                                        description: Specify if you want your event
                                          selector to include management events for
                                          your trail.
                                      readWriteType:
                                        description: Specify if you want your trail
                                          to log read-only events, write-only events,
                                          or all. For example, the EC2 GetConsoleOutput
                                          is a read-only API operation and RunInstances
                                          is a write-only API operation.
                                        type: string
                                        enum:
                                        - All
                                        - ReadOnly
                                        - WriteOnly
                                        x-ms-enum:
                                          name: EventSelectorReadWriteType
                                          modelAsString: true
                                          values:
                                          - name: All
                                            value: All
                                            description: EventSelectorReadWriteType
                                              enum All
                                          - name: ReadOnly
                                            value: ReadOnly
                                            description: EventSelectorReadWriteType
                                              enum ReadOnly
                                          - name: WriteOnly
                                            value: WriteOnly
                                            description: EventSelectorReadWriteType
                                              enum WriteOnly
                                  x-ms-identifiers: []
                                includeGlobalServiceEvents:
                                  type: boolean
                                  description: Specifies whether the trail is publishing
                                    events from global services such as IAM to the
                                    log files.
                                insightSelectors:
                                  type: array
                                  description: Lets you enable Insights event logging
                                    by specifying the Insights selectors that you
                                    want to enable on an existing trail.
                                  items:
                                    type: object
                                    description: Definition of InsightSelector
                                    properties:
                                      insightType:
                                        type: string
                                        description: The type of insight to log on
                                          a trail.
                                  x-ms-identifiers: []
                                isLogging:
                                  type: boolean
                                  description: Whether the CloudTrail is currently
                                    logging AWS API calls.
                                isMultiRegionTrail:
                                  type: boolean
                                  description: Specifies whether the trail applies
                                    only to the current region or to all regions.
                                    The default is false. If the trail exists only
                                    in the current region and this value is set to
                                    true, shadow trails (replications of the trail)
                                    will be created in the other regions. If the trail
                                    exists in all regions and this value is set to
                                    false, the trail will remain in the region where
                                    it was created, and its shadow trails in other
                                    regions will be deleted. As a best practice, consider
                                    using trails that log events in all regions.
                                isOrganizationTrail:
                                  type: boolean
                                  description: Specifies whether the trail is created
                                    for all accounts in an organization in AWS Organizations,
                                    or only for the current AWS account. The default
                                    is false, and cannot be true unless the call is
                                    made on behalf of an AWS account that is the master
                                    account for an organization in AWS Organizations.
                                kmsKeyId:
                                  type: string
                                  description: Specifies the KMS key ID to use to
                                    encrypt the logs delivered by CloudTrail. The
                                    value can be an alias name prefixed by 'alias/',
                                    a fully specified ARN to an alias, a fully specified
                                    ARN to a key, or a globally unique identifier.
                                s3BucketName:
                                  type: string
                                  description: Specifies the name of the Amazon S3
                                    bucket designated for publishing log files. See
                                    Amazon S3 Bucket Naming Requirements.
                                s3KeyPrefix:
                                  type: string
                                  description: Specifies the Amazon S3 key prefix
                                    that comes after the name of the bucket you have
                                    designated for log file delivery. For more information,
                                    see Finding Your CloudTrail Log Files. The maximum
                                    length is 200 characters.
                                snsTopicArn:
                                  type: string
                                  description: Property snsTopicArn
                                snsTopicName:
                                  type: string
                                  description: Specifies the name of the Amazon SNS
                                    topic defined for notification of log file delivery.
                                    The maximum length is 256 characters.
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The key name of the tag. You
                                          can specify a value that is 1 to 127 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                      value:
                                        type: string
                                        description: 'The value for the tag. You can
                                          specify a value that is 1 to 255 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                  x-ms-identifiers: []
                                trailName:
                                  type: string
                                  description: Property trailName
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudTrailTrails:
    get:
      operationId: CloudTrailTrails_ListByResourceGroup
      tags:
      - CloudTrailTrails
      description: List CloudTrailTrail resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudTrailTrail list operation.
                properties:
                  value:
                    type: array
                    description: The CloudTrailTrail items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                advancedEventSelectors:
                                  type: array
                                  description: The advanced event selectors that were
                                    used to select events for the data store.
                                  items:
                                    type: object
                                    description: Definition of AdvancedEventSelector
                                    properties:
                                      fieldSelectors:
                                        type: array
                                        description: Contains all selector statements
                                          in an advanced event selector.
                                        items:
                                          type: object
                                          description: Definition of AdvancedFieldSelector
                                          properties:
                                            endsWith:
                                              type: array
                                              description: An operator that includes
                                                events that match the last few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            equals:
                                              type: array
                                              description: An operator that includes
                                                events that match the exact value
                                                of the event record field specified
                                                as the value of Field. This is the
                                                only valid operator that you can use
                                                with the readOnly, eventCategory,
                                                and resources.type fields.
                                              items:
                                                type: string
                                            field:
                                              type: string
                                              description: A field in an event record
                                                on which to filter events to be logged.
                                                Supported fields include readOnly,
                                                eventCategory, eventSource (for management
                                                events), eventName, resources.type,
                                                and resources.ARN.
                                            notEndsWith:
                                              type: array
                                              description: An operator that excludes
                                                events that match the last few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            notEquals:
                                              type: array
                                              description: An operator that excludes
                                                events that match the exact value
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            notStartsWith:
                                              type: array
                                              description: An operator that excludes
                                                events that match the first few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                            startsWith:
                                              type: array
                                              description: An operator that includes
                                                events that match the first few characters
                                                of the event record field specified
                                                as the value of Field.
                                              items:
                                                type: string
                                        x-ms-identifiers: []
                                      name:
                                        type: string
                                        description: An optional, descriptive name
                                          for an advanced event selector, such as
                                          'Log data events for only two S3 buckets'.
                                  x-ms-identifiers: []
                                arn:
                                  type: string
                                  description: Property arn
                                cloudWatchLogsLogGroupArn:
                                  type: string
                                  description: Specifies a log group name using an
                                    Amazon Resource Name (ARN), a unique identifier
                                    that represents the log group to which CloudTrail
                                    logs will be delivered. Not required unless you
                                    specify CloudWatchLogsRoleArn.
                                cloudWatchLogsRoleArn:
                                  type: string
                                  description: Specifies the role for the CloudWatch
                                    Logs endpoint to assume to write to a user's log
                                    group.
                                enableLogFileValidation:
                                  type: boolean
                                  description: Specifies whether log file validation
                                    is enabled. The default is false.
                                eventSelectors:
                                  type: array
                                  description: Use event selectors to further specify
                                    the management and data event settings for your
                                    trail. By default, trails created without specific
                                    event selectors will be configured to log all
                                    read and write management events, and no data
                                    events. When an event occurs in your account,
                                    CloudTrail evaluates the event selector for all
                                    trails. For each trail, if the event matches any
                                    event selector, the trail processes and logs the
                                    event. If the event doesn't match any event selector,
                                    the trail doesn't log the event. You can configure
                                    up to five event selectors for a trail.
                                  items:
                                    type: object
                                    description: Definition of EventSelector
                                    properties:
                                      dataResources:
                                        type: array
                                        description: Property dataResources
                                        items:
                                          type: object
                                          description: Definition of DataResource
                                          properties:
                                            type:
                                              type: string
                                              description: The resource type in which
                                                you want to log data events. You can
                                                specify AWS::S3::Object or AWS::Lambda::Function
                                                resources.
                                            values:
                                              type: array
                                              description: An array of Amazon Resource
                                                Name (ARN) strings or partial ARN
                                                strings for the specified objects.
                                              items:
                                                type: string
                                        x-ms-identifiers: []
                                      excludeManagementEventSources:
                                        type: array
                                        description: An optional list of service event
                                          sources from which you do not want management
                                          events to be logged on your trail. In this
                                          release, the list can be empty (disables
                                          the filter), or it can filter out AWS Key
                                          Management Service events by containing
                                          'kms.amazonaws.com'. By default, ExcludeManagementEventSources
                                          is empty, and AWS KMS events are included
                                          in events that are logged to your trail.
                                        items:
                                          type: string
                                      includeManagementEvents:
                                        type: boolean
                                        description: Specify if you want your event
                                          selector to include management events for
                                          your trail.
                                      readWriteType:
                                        description: Specify if you want your trail
                                          to log read-only events, write-only events,
                                          or all. For example, the EC2 GetConsoleOutput
                                          is a read-only API operation and RunInstances
                                          is a write-only API operation.
                                        type: string
                                        enum:
                                        - All
                                        - ReadOnly
                                        - WriteOnly
                                        x-ms-enum:
                                          name: EventSelectorReadWriteType
                                          modelAsString: true
                                          values:
                                          - name: All
                                            value: All
                                            description: EventSelectorReadWriteType
                                              enum All
                                          - name: ReadOnly
                                            value: ReadOnly
                                            description: EventSelectorReadWriteType
                                              enum ReadOnly
                                          - name: WriteOnly
                                            value: WriteOnly
                                            description: EventSelectorReadWriteType
                                              enum WriteOnly
                                  x-ms-identifiers: []
                                includeGlobalServiceEvents:
                                  type: boolean
                                  description: Specifies whether the trail is publishing
                                    events from global services such as IAM to the
                                    log files.
                                insightSelectors:
                                  type: array
                                  description: Lets you enable Insights event logging
                                    by specifying the Insights selectors that you
                                    want to enable on an existing trail.
                                  items:
                                    type: object
                                    description: Definition of InsightSelector
                                    properties:
                                      insightType:
                                        type: string
                                        description: The type of insight to log on
                                          a trail.
                                  x-ms-identifiers: []
                                isLogging:
                                  type: boolean
                                  description: Whether the CloudTrail is currently
                                    logging AWS API calls.
                                isMultiRegionTrail:
                                  type: boolean
                                  description: Specifies whether the trail applies
                                    only to the current region or to all regions.
                                    The default is false. If the trail exists only
                                    in the current region and this value is set to
                                    true, shadow trails (replications of the trail)
                                    will be created in the other regions. If the trail
                                    exists in all regions and this value is set to
                                    false, the trail will remain in the region where
                                    it was created, and its shadow trails in other
                                    regions will be deleted. As a best practice, consider
                                    using trails that log events in all regions.
                                isOrganizationTrail:
                                  type: boolean
                                  description: Specifies whether the trail is created
                                    for all accounts in an organization in AWS Organizations,
                                    or only for the current AWS account. The default
                                    is false, and cannot be true unless the call is
                                    made on behalf of an AWS account that is the master
                                    account for an organization in AWS Organizations.
                                kmsKeyId:
                                  type: string
                                  description: Specifies the KMS key ID to use to
                                    encrypt the logs delivered by CloudTrail. The
                                    value can be an alias name prefixed by 'alias/',
                                    a fully specified ARN to an alias, a fully specified
                                    ARN to a key, or a globally unique identifier.
                                s3BucketName:
                                  type: string
                                  description: Specifies the name of the Amazon S3
                                    bucket designated for publishing log files. See
                                    Amazon S3 Bucket Naming Requirements.
                                s3KeyPrefix:
                                  type: string
                                  description: Specifies the Amazon S3 key prefix
                                    that comes after the name of the bucket you have
                                    designated for log file delivery. For more information,
                                    see Finding Your CloudTrail Log Files. The maximum
                                    length is 200 characters.
                                snsTopicArn:
                                  type: string
                                  description: Property snsTopicArn
                                snsTopicName:
                                  type: string
                                  description: Specifies the name of the Amazon SNS
                                    topic defined for notification of log file delivery.
                                    The maximum length is 256 characters.
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The key name of the tag. You
                                          can specify a value that is 1 to 127 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                      value:
                                        type: string
                                        description: 'The value for the tag. You can
                                          specify a value that is 1 to 255 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                  x-ms-identifiers: []
                                trailName:
                                  type: string
                                  description: Property trailName
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudTrailTrails/{name}
  : get:
      operationId: CloudTrailTrails_Get
      tags:
      - CloudTrailTrails
      description: Get a CloudTrailTrail
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CloudTrailTrail
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          advancedEventSelectors:
                            type: array
                            description: The advanced event selectors that were used
                              to select events for the data store.
                            items:
                              type: object
                              description: Definition of AdvancedEventSelector
                              properties:
                                fieldSelectors:
                                  type: array
                                  description: Contains all selector statements in
                                    an advanced event selector.
                                  items:
                                    type: object
                                    description: Definition of AdvancedFieldSelector
                                    properties:
                                      endsWith:
                                        type: array
                                        description: An operator that includes events
                                          that match the last few characters of the
                                          event record field specified as the value
                                          of Field.
                                        items:
                                          type: string
                                      equals:
                                        type: array
                                        description: An operator that includes events
                                          that match the exact value of the event
                                          record field specified as the value of Field.
                                          This is the only valid operator that you
                                          can use with the readOnly, eventCategory,
                                          and resources.type fields.
                                        items:
                                          type: string
                                      field:
                                        type: string
                                        description: A field in an event record on
                                          which to filter events to be logged. Supported
                                          fields include readOnly, eventCategory,
                                          eventSource (for management events), eventName,
                                          resources.type, and resources.ARN.
                                      notEndsWith:
                                        type: array
                                        description: An operator that excludes events
                                          that match the last few characters of the
                                          event record field specified as the value
                                          of Field.
                                        items:
                                          type: string
                                      notEquals:
                                        type: array
                                        description: An operator that excludes events
                                          that match the exact value of the event
                                          record field specified as the value of Field.
                                        items:
                                          type: string
                                      notStartsWith:
                                        type: array
                                        description: An operator that excludes events
                                          that match the first few characters of the
                                          event record field specified as the value
                                          of Field.
                                        items:
                                          type: string
                                      startsWith:
                                        type: array
                                        description: An operator that includes events
                                          that match the first few characters of the
                                          event record field specified as the value
                                          of Field.
                                        items:
                                          type: string
                                  x-ms-identifiers: []
                                name:
                                  type: string
                                  description: An optional, descriptive name for an
                                    advanced event selector, such as 'Log data events
                                    for only two S3 buckets'.
                            x-ms-identifiers: []
                          arn:
                            type: string
                            description: Property arn
                          cloudWatchLogsLogGroupArn:
                            type: string
                            description: Specifies a log group name using an Amazon
                              Resource Name (ARN), a unique identifier that represents
                              the log group to which CloudTrail logs will be delivered.
                              Not required unless you specify CloudWatchLogsRoleArn.
                          cloudWatchLogsRoleArn:
                            type: string
                            description: Specifies the role for the CloudWatch Logs
                              endpoint to assume to write to a user's log group.
                          enableLogFileValidation:
                            type: boolean
                            description: Specifies whether log file validation is
                              enabled. The default is false.
                          eventSelectors:
                            type: array
                            description: Use event selectors to further specify the
                              management and data event settings for your trail. By
                              default, trails created without specific event selectors
                              will be configured to log all read and write management
                              events, and no data events. When an event occurs in
                              your account, CloudTrail evaluates the event selector
                              for all trails. For each trail, if the event matches
                              any event selector, the trail processes and logs the
                              event. If the event doesn't match any event selector,
                              the trail doesn't log the event. You can configure up
                              to five event selectors for a trail.
                            items:
                              type: object
                              description: Definition of EventSelector
                              properties:
                                dataResources:
                                  type: array
                                  description: Property dataResources
                                  items:
                                    type: object
                                    description: Definition of DataResource
                                    properties:
                                      type:
                                        type: string
                                        description: The resource type in which you
                                          want to log data events. You can specify
                                          AWS::S3::Object or AWS::Lambda::Function
                                          resources.
                                      values:
                                        type: array
                                        description: An array of Amazon Resource Name
                                          (ARN) strings or partial ARN strings for
                                          the specified objects.
                                        items:
                                          type: string
                                  x-ms-identifiers: []
                                excludeManagementEventSources:
                                  type: array
                                  description: An optional list of service event sources
                                    from which you do not want management events to
                                    be logged on your trail. In this release, the
                                    list can be empty (disables the filter), or it
                                    can filter out AWS Key Management Service events
                                    by containing 'kms.amazonaws.com'. By default,
                                    ExcludeManagementEventSources is empty, and AWS
                                    KMS events are included in events that are logged
                                    to your trail.
                                  items:
                                    type: string
                                includeManagementEvents:
                                  type: boolean
                                  description: Specify if you want your event selector
                                    to include management events for your trail.
                                readWriteType:
                                  description: Specify if you want your trail to log
                                    read-only events, write-only events, or all. For
                                    example, the EC2 GetConsoleOutput is a read-only
                                    API operation and RunInstances is a write-only
                                    API operation.
                                  type: string
                                  enum:
                                  - All
                                  - ReadOnly
                                  - WriteOnly
                                  x-ms-enum:
                                    name: EventSelectorReadWriteType
                                    modelAsString: true
                                    values:
                                    - name: All
                                      value: All
                                      description: EventSelectorReadWriteType enum
                                        All
                                    - name: ReadOnly
                                      value: ReadOnly
                                      description: EventSelectorReadWriteType enum
                                        ReadOnly
                                    - name: WriteOnly
                                      value: WriteOnly
                                      description: EventSelectorReadWriteType enum
                                        WriteOnly
                            x-ms-identifiers: []
                          includeGlobalServiceEvents:
                            type: boolean
                            description: Specifies whether the trail is publishing
                              events from global services such as IAM to the log files.
                          insightSelectors:
                            type: array
                            description: Lets you enable Insights event logging by
                              specifying the Insights selectors that you want to enable
                              on an existing trail.
                            items:
                              type: object
                              description: Definition of InsightSelector
                              properties:
                                insightType:
                                  type: string
                                  description: The type of insight to log on a trail.
                            x-ms-identifiers: []
                          isLogging:
                            type: boolean
                            description: Whether the CloudTrail is currently logging
                              AWS API calls.
                          isMultiRegionTrail:
                            type: boolean
                            description: Specifies whether the trail applies only
                              to the current region or to all regions. The default
                              is false. If the trail exists only in the current region
                              and this value is set to true, shadow trails (replications
                              of the trail) will be created in the other regions.
                              If the trail exists in all regions and this value is
                              set to false, the trail will remain in the region where
                              it was created, and its shadow trails in other regions
                              will be deleted. As a best practice, consider using
                              trails that log events in all regions.
                          isOrganizationTrail:
                            type: boolean
                            description: Specifies whether the trail is created for
                              all accounts in an organization in AWS Organizations,
                              or only for the current AWS account. The default is
                              false, and cannot be true unless the call is made on
                              behalf of an AWS account that is the master account
                              for an organization in AWS Organizations.
                          kmsKeyId:
                            type: string
                            description: Specifies the KMS key ID to use to encrypt
                              the logs delivered by CloudTrail. The value can be an
                              alias name prefixed by 'alias/', a fully specified ARN
                              to an alias, a fully specified ARN to a key, or a globally
                              unique identifier.
                          s3BucketName:
                            type: string
                            description: Specifies the name of the Amazon S3 bucket
                              designated for publishing log files. See Amazon S3 Bucket
                              Naming Requirements.
                          s3KeyPrefix:
                            type: string
                            description: Specifies the Amazon S3 key prefix that comes
                              after the name of the bucket you have designated for
                              log file delivery. For more information, see Finding
                              Your CloudTrail Log Files. The maximum length is 200
                              characters.
                          snsTopicArn:
                            type: string
                            description: Property snsTopicArn
                          snsTopicName:
                            type: string
                            description: Specifies the name of the Amazon SNS topic
                              defined for notification of log file delivery. The maximum
                              length is 256 characters.
                          tags:
                            type: array
                            description: Property tags
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: 'The key name of the tag. You can specify
                                    a value that is 1 to 127 Unicode characters in
                                    length and cannot be prefixed with aws:. You can
                                    use any of the following characters: the set of
                                    Unicode letters, digits, whitespace, _, ., /,
                                    =, +, and -.'
                                value:
                                  type: string
                                  description: 'The value for the tag. You can specify
                                    a value that is 1 to 255 Unicode characters in
                                    length and cannot be prefixed with aws:. You can
                                    use any of the following characters: the set of
                                    Unicode letters, digits, whitespace, _, ., /,
                                    =, +, and -.'
                            x-ms-identifiers: []
                          trailName:
                            type: string
                            description: Property trailName
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: CloudTrailTrails_CreateOrReplace
      tags:
      - CloudTrailTrails
      description: Create a CloudTrailTrail. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CloudTrailTrail
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
[...]
