openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudFormationStackSets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/cloudFormationStackSets:
    get:
      operationId: CloudFormationStackSets_ListBySubscription
      tags:
      - CloudFormationStackSets
      description: List CloudFormationStackSet resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudFormationStackSet list operation.
                properties:
                  value:
                    type: array
                    description: The CloudFormationStackSet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                administrationRoleARN:
                                  type: string
                                  description: The Amazon Resource Number (ARN) of
                                    the IAM role to use to create this stack set.
                                    Specify an IAM role only if you are using customized
                                    administrator roles to control which users or
                                    groups can manage specific stack sets within the
                                    same administrator account.
                                autoDeployment:
                                  description: Describes whether StackSets automatically
                                    deploys to AWS Organizations accounts that are
                                    added to the target organization or organizational
                                    unit (OU). Specify only if PermissionModel is
                                    SERVICE_MANAGED.
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: If set to true, StackSets automatically
                                        deploys additional stack instances to AWS
                                        Organizations accounts that are added to a
                                        target organization or organizational unit
                                        (OU) in the specified Regions. If an account
                                        is removed from a target organization or OU,
                                        StackSets deletes stack instances from the
                                        account in the specified Regions.
                                    retainStacksOnAccountRemoval:
                                      type: boolean
                                      description: If set to true, stack resources
                                        are retained when an account is removed from
                                        a target organization or OU. If set to false,
                                        stack resources are deleted. Specify only
                                        if Enabled is set to True.
                                callAs:
                                  description: Specifies the AWS account that you
                                    are acting from. By default, SELF is specified.
                                    For self-managed permissions, specify SELF; for
                                    service-managed permissions, if you are signed
                                    in to the organization's management account, specify
                                    SELF. If you are signed in to a delegated administrator
                                    account, specify DELEGATED_ADMIN.
                                  type: string
                                  enum:
                                  - DELEGATED_ADMIN
                                  - SELF
                                  x-ms-enum:
                                    name: CallAs
                                    modelAsString: true
                                    values:
                                    - name: DELEGATED_ADMIN
                                      value: DELEGATED_ADMIN
                                      description: CallAs enum DELEGATED_ADMIN
                                    - name: SELF
                                      value: SELF
                                      description: CallAs enum SELF
                                capabilities:
                                  type: array
                                  description: In some cases, you must explicitly
                                    acknowledge that your stack set template contains
                                    certain capabilities in order for AWS CloudFormation
                                    to create the stack set and related stack instances.
                                  items:
                                    type: string
                                description:
                                  type: string
                                  description: A description of the stack set. You
                                    can use the description to identify the stack
                                    set's purpose or other important information.
                                executionRoleName:
                                  type: string
                                  description: The name of the IAM execution role
                                    to use to create the stack set. If you do not
                                    specify an execution role, AWS CloudFormation
                                    uses the AWSCloudFormationStackSetExecutionRole
                                    role for the stack set operation.
                                managedExecution:
                                  description: Describes whether StackSets performs
                                    non-conflicting operations concurrently and queues
                                    conflicting operations.
                                  type: object
                                  properties:
                                    active:
                                      type: boolean
                                      description: When true, StackSets performs non-conflicting
                                        operations concurrently and queues conflicting
                                        operations. After conflicting operations finish,
                                        StackSets starts queued operations in request
                                        order.
                                operationPreferences:
                                  description: The user-specified preferences for
                                    how AWS CloudFormation performs a stack set operation.
                                  type: object
                                  properties:
                                    failureToleranceCount:
                                      type: integer
                                      format: int32
                                      description: Property failureToleranceCount
                                    failureTolerancePercentage:
                                      type: integer
                                      format: int32
                                      description: Property failureTolerancePercentage
                                    maxConcurrentCount:
                                      type: integer
                                      format: int32
                                      description: Property maxConcurrentCount
                                    maxConcurrentPercentage:
                                      type: integer
                                      format: int32
                                      description: Property maxConcurrentPercentage
                                    regionConcurrencyType:
                                      description: The concurrency type of deploying
                                        StackSets operations in regions, could be
                                        in parallel or one region at a time
                                      type: string
                                      enum:
                                      - PARALLEL
                                      - SEQUENTIAL
                                      x-ms-enum:
                                        name: OperationPreferencesRegionConcurrencyType
                                        modelAsString: true
                                        values:
                                        - name: PARALLEL
                                          value: PARALLEL
                                          description: OperationPreferencesRegionConcurrencyType
                                            enum PARALLEL
                                        - name: SEQUENTIAL
                                          value: SEQUENTIAL
                                          description: OperationPreferencesRegionConcurrencyType
                                            enum SEQUENTIAL
                                    regionOrder:
                                      type: array
                                      description: Property regionOrder
                                      items:
                                        type: string
                                parameters:
                                  type: array
                                  description: The input parameters for the stack
                                    set template.
                                  items:
                                    type: object
                                    description: Definition of Parameter
                                    properties:
                                      parameterKey:
                                        type: string
                                        description: The key associated with the parameter.
                                          If you don't specify a key and value for
                                          a particular parameter, AWS CloudFormation
                                          uses the default value that is specified
                                          in your template.
                                      parameterValue:
                                        type: string
                                        description: The input value associated with
                                          the parameter.
                                  x-ms-identifiers: []
                                permissionModel:
                                  description: Describes how the IAM roles required
                                    for stack set operations are created. By default,
                                    SELF-MANAGED is specified.
                                  type: string
                                  enum:
                                  - SELF_MANAGED
                                  - SERVICE_MANAGED
                                  x-ms-enum:
                                    name: PermissionModel
                                    modelAsString: true
                                    values:
                                    - name: SELF_MANAGED
                                      value: SELF_MANAGED
                                      description: PermissionModel enum SELF_MANAGED
                                    - name: SERVICE_MANAGED
                                      value: SERVICE_MANAGED
                                      description: PermissionModel enum SERVICE_MANAGED
                                stackInstancesGroup:
                                  type: array
                                  description: A group of stack instances with parameters
                                    in some specific accounts and regions.
                                  items:
                                    type: object
                                    description: Definition of StackInstances
                                    properties:
                                      deploymentTargets:
                                        description: The AWS OrganizationalUnitIds
                                          or Accounts for which to create stack instances
                                          in the specified Regions.
                                        type: object
                                        properties:
                                          accountFilterType:
                                            description: The filter type you want
                                              to apply on organizational units and
                                              accounts.
                                            type: string
                                            enum:
                                            - DIFFERENCE
                                            - INTERSECTION
                                            - NONE
                                            - UNION
                                            x-ms-enum:
                                              name: DeploymentTargetsAccountFilterType
                                              modelAsString: true
                                              values:
                                              - name: DIFFERENCE
                                                value: DIFFERENCE
                                                description: DeploymentTargetsAccountFilterType
                                                  enum DIFFERENCE
                                              - name: INTERSECTION
                                                value: INTERSECTION
                                                description: DeploymentTargetsAccountFilterType
                                                  enum INTERSECTION
                                              - name: NONE
                                                value: NONE
                                                description: DeploymentTargetsAccountFilterType
                                                  enum NONE
                                              - name: UNION
                                                value: UNION
                                                description: DeploymentTargetsAccountFilterType
                                                  enum UNION
                                          accounts:
                                            type: array
                                            description: AWS accounts that you want
                                              to create stack instances in the specified
                                              Region(s) for.
                                            items:
                                              type: string
                                          accountsUrl:
                                            type: string
                                            description: Returns the value of the
                                              AccountsUrl property.
                                          organizationalUnitIds:
                                            type: array
                                            description: The organization root ID
                                              or organizational unit (OU) IDs to which
                                              StackSets deploys.
                                            items:
                                              type: string
                                      parameterOverrides:
                                        type: array
                                        description: A list of stack set parameters
                                          whose values you want to override in the
                                          selected stack instances.
                                        items:
                                          type: object
                                          description: Definition of Parameter
                                          properties:
                                            parameterKey:
                                              type: string
                                              description: The key associated with
                                                the parameter. If you don't specify
                                                a key and value for a particular parameter,
                                                AWS CloudFormation uses the default
                                                value that is specified in your template.
                                            parameterValue:
                                              type: string
                                              description: The input value associated
                                                with the parameter.
                                        x-ms-identifiers: []
                                      regions:
                                        type: array
                                        description: The names of one or more Regions
                                          where you want to create stack instances
                                          using the specified AWS account(s).
                                        items:
                                          type: string
                                  x-ms-identifiers: []
                                stackSetId:
                                  type: string
                                  description: The ID of the stack set that you're
                                    creating.
                                stackSetName:
                                  type: string
                                  description: The name to associate with the stack
                                    set. The name must be unique in the Region where
                                    you create your stack set.
                                tags:
                                  type: array
                                  description: The key-value pairs to associate with
                                    this stack set and the stacks created from it.
                                    AWS CloudFormation also propagates these tags
                                    to supported resources that are created in the
                                    stacks. A maximum number of 50 tags can be specified.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: A string used to identify this
                                          tag. You can specify a maximum of 127 characters
                                          for a tag key.
                                      value:
                                        type: string
                                        description: A string containing the value
                                          for this tag. You can specify a maximum
                                          of 256 characters for a tag value.
                                  x-ms-identifiers: []
                                templateBody:
                                  type: string
                                  description: The structure that contains the template
                                    body, with a minimum length of 1 byte and a maximum
                                    length of 51,200 bytes.
                                templateURL:
                                  type: string
                                  description: 'Location of file containing the template
                                    body. The URL must point to a template (max size:
                                    460,800 bytes) that is located in an Amazon S3
                                    bucket.'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStackSets
  : get:
      operationId: CloudFormationStackSets_ListByResourceGroup
      tags:
      - CloudFormationStackSets
      description: List CloudFormationStackSet resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudFormationStackSet list operation.
                properties:
                  value:
                    type: array
                    description: The CloudFormationStackSet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                administrationRoleARN:
                                  type: string
                                  description: The Amazon Resource Number (ARN) of
                                    the IAM role to use to create this stack set.
                                    Specify an IAM role only if you are using customized
                                    administrator roles to control which users or
                                    groups can manage specific stack sets within the
                                    same administrator account.
                                autoDeployment:
                                  description: Describes whether StackSets automatically
                                    deploys to AWS Organizations accounts that are
                                    added to the target organization or organizational
                                    unit (OU). Specify only if PermissionModel is
                                    SERVICE_MANAGED.
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: If set to true, StackSets automatically
                                        deploys additional stack instances to AWS
                                        Organizations accounts that are added to a
                                        target organization or organizational unit
                                        (OU) in the specified Regions. If an account
                                        is removed from a target organization or OU,
                                        StackSets deletes stack instances from the
                                        account in the specified Regions.
                                    retainStacksOnAccountRemoval:
                                      type: boolean
                                      description: If set to true, stack resources
                                        are retained when an account is removed from
                                        a target organization or OU. If set to false,
                                        stack resources are deleted. Specify only
                                        if Enabled is set to True.
                                callAs:
                                  description: Specifies the AWS account that you
                                    are acting from. By default, SELF is specified.
                                    For self-managed permissions, specify SELF; for
                                    service-managed permissions, if you are signed
                                    in to the organization's management account, specify
                                    SELF. If you are signed in to a delegated administrator
                                    account, specify DELEGATED_ADMIN.
                                  type: string
                                  enum:
                                  - DELEGATED_ADMIN
                                  - SELF
                                  x-ms-enum:
                                    name: CallAs
                                    modelAsString: true
                                    values:
                                    - name: DELEGATED_ADMIN
                                      value: DELEGATED_ADMIN
                                      description: CallAs enum DELEGATED_ADMIN
                                    - name: SELF
                                      value: SELF
                                      description: CallAs enum SELF
                                capabilities:
                                  type: array
                                  description: In some cases, you must explicitly
                                    acknowledge that your stack set template contains
                                    certain capabilities in order for AWS CloudFormation
                                    to create the stack set and related stack instances.
                                  items:
                                    type: string
                                description:
                                  type: string
                                  description: A description of the stack set. You
                                    can use the description to identify the stack
                                    set's purpose or other important information.
                                executionRoleName:
                                  type: string
                                  description: The name of the IAM execution role
                                    to use to create the stack set. If you do not
                                    specify an execution role, AWS CloudFormation
                                    uses the AWSCloudFormationStackSetExecutionRole
                                    role for the stack set operation.
                                managedExecution:
                                  description: Describes whether StackSets performs
                                    non-conflicting operations concurrently and queues
                                    conflicting operations.
                                  type: object
                                  properties:
                                    active:
                                      type: boolean
                                      description: When true, StackSets performs non-conflicting
                                        operations concurrently and queues conflicting
                                        operations. After conflicting operations finish,
                                        StackSets starts queued operations in request
                                        order.
                                operationPreferences:
                                  description: The user-specified preferences for
                                    how AWS CloudFormation performs a stack set operation.
                                  type: object
                                  properties:
                                    failureToleranceCount:
                                      type: integer
                                      format: int32
                                      description: Property failureToleranceCount
                                    failureTolerancePercentage:
                                      type: integer
                                      format: int32
                                      description: Property failureTolerancePercentage
                                    maxConcurrentCount:
                                      type: integer
                                      format: int32
                                      description: Property maxConcurrentCount
                                    maxConcurrentPercentage:
                                      type: integer
                                      format: int32
                                      description: Property maxConcurrentPercentage
                                    regionConcurrencyType:
                                      description: The concurrency type of deploying
                                        StackSets operations in regions, could be
                                        in parallel or one region at a time
                                      type: string
                                      enum:
                                      - PARALLEL
                                      - SEQUENTIAL
                                      x-ms-enum:
                                        name: OperationPreferencesRegionConcurrencyType
                                        modelAsString: true
                                        values:
                                        - name: PARALLEL
                                          value: PARALLEL
                                          description: OperationPreferencesRegionConcurrencyType
                                            enum PARALLEL
                                        - name: SEQUENTIAL
                                          value: SEQUENTIAL
                                          description: OperationPreferencesRegionConcurrencyType
                                            enum SEQUENTIAL
                                    regionOrder:
                                      type: array
                                      description: Property regionOrder
                                      items:
                                        type: string
                                parameters:
                                  type: array
                                  description: The input parameters for the stack
                                    set template.
                                  items:
                                    type: object
                                    description: Definition of Parameter
                                    properties:
                                      parameterKey:
                                        type: string
                                        description: The key associated with the parameter.
                                          If you don't specify a key and value for
                                          a particular parameter, AWS CloudFormation
                                          uses the default value that is specified
                                          in your template.
                                      parameterValue:
                                        type: string
                                        description: The input value associated with
                                          the parameter.
                                  x-ms-identifiers: []
                                permissionModel:
                                  description: Describes how the IAM roles required
                                    for stack set operations are created. By default,
                                    SELF-MANAGED is specified.
                                  type: string
                                  enum:
                                  - SELF_MANAGED
                                  - SERVICE_MANAGED
                                  x-ms-enum:
                                    name: PermissionModel
                                    modelAsString: true
                                    values:
                                    - name: SELF_MANAGED
                                      value: SELF_MANAGED
                                      description: PermissionModel enum SELF_MANAGED
                                    - name: SERVICE_MANAGED
                                      value: SERVICE_MANAGED
                                      description: PermissionModel enum SERVICE_MANAGED
                                stackInstancesGroup:
                                  type: array
                                  description: A group of stack instances with parameters
                                    in some specific accounts and regions.
                                  items:
                                    type: object
                                    description: Definition of StackInstances
                                    properties:
                                      deploymentTargets:
                                        description: The AWS OrganizationalUnitIds
                                          or Accounts for which to create stack instances
                                          in the specified Regions.
                                        type: object
                                        properties:
                                          accountFilterType:
                                            description: The filter type you want
                                              to apply on organizational units and
                                              accounts.
                                            type: string
                                            enum:
                                            - DIFFERENCE
                                            - INTERSECTION
                                            - NONE
                                            - UNION
                                            x-ms-enum:
                                              name: DeploymentTargetsAccountFilterType
                                              modelAsString: true
                                              values:
                                              - name: DIFFERENCE
                                                value: DIFFERENCE
                                                description: DeploymentTargetsAccountFilterType
                                                  enum DIFFERENCE
                                              - name: INTERSECTION
                                                value: INTERSECTION
                                                description: DeploymentTargetsAccountFilterType
                                                  enum INTERSECTION
                                              - name: NONE
                                                value: NONE
                                                description: DeploymentTargetsAccountFilterType
                                                  enum NONE
                                              - name: UNION
                                                value: UNION
                                                description: DeploymentTargetsAccountFilterType
                                                  enum UNION
                                          accounts:
                                            type: array
                                            description: AWS accounts that you want
                                              to create stack instances in the specified
                                              Region(s) for.
                                            items:
                                              type: string
                                          accountsUrl:
                                            type: string
                                            description: Returns the value of the
                                              AccountsUrl property.
                                          organizationalUnitIds:
                                            type: array
                                            description: The organization root ID
                                              or organizational unit (OU) IDs to which
                                              StackSets deploys.
                                            items:
                                              type: string
                                      parameterOverrides:
                                        type: array
                                        description: A list of stack set parameters
                                          whose values you want to override in the
                                          selected stack instances.
                                        items:
                                          type: object
                                          description: Definition of Parameter
                                          properties:
                                            parameterKey:
                                              type: string
                                              description: The key associated with
                                                the parameter. If you don't specify
                                                a key and value for a particular parameter,
                                                AWS CloudFormation uses the default
                                                value that is specified in your template.
                                            parameterValue:
                                              type: string
                                              description: The input value associated
                                                with the parameter.
                                        x-ms-identifiers: []
                                      regions:
                                        type: array
                                        description: The names of one or more Regions
                                          where you want to create stack instances
                                          using the specified AWS account(s).
                                        items:
                                          type: string
                                  x-ms-identifiers: []
                                stackSetId:
                                  type: string
                                  description: The ID of the stack set that you're
                                    creating.
                                stackSetName:
                                  type: string
                                  description: The name to associate with the stack
                                    set. The name must be unique in the Region where
                                    you create your stack set.
                                tags:
                                  type: array
                                  description: The key-value pairs to associate with
                                    this stack set and the stacks created from it.
                                    AWS CloudFormation also propagates these tags
                                    to supported resources that are created in the
                                    stacks. A maximum number of 50 tags can be specified.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: A string used to identify this
                                          tag. You can specify a maximum of 127 characters
                                          for a tag key.
                                      value:
                                        type: string
                                        description: A string containing the value
                                          for this tag. You can specify a maximum
                                          of 256 characters for a tag value.
                                  x-ms-identifiers: []
                                templateBody:
                                  type: string
                                  description: The structure that contains the template
                                    body, with a minimum length of 1 byte and a maximum
                                    length of 51,200 bytes.
                                templateURL:
                                  type: string
                                  description: 'Location of file containing the template
                                    body. The URL must point to a template (max size:
                                    460,800 bytes) that is located in an Amazon S3
                                    bucket.'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStackSets/{name}
  : get:
      operationId: CloudFormationStackSets_Get
      tags:
      - CloudFormationStackSets
      description: Get a CloudFormationStackSet
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CloudFormationStackSet
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          administrationRoleARN:
                            type: string
                            description: The Amazon Resource Number (ARN) of the IAM
                              role to use to create this stack set. Specify an IAM
                              role only if you are using customized administrator
                              roles to control which users or groups can manage specific
                              stack sets within the same administrator account.
                          autoDeployment:
                            description: Describes whether StackSets automatically
                              deploys to AWS Organizations accounts that are added
                              to the target organization or organizational unit (OU).
                              Specify only if PermissionModel is SERVICE_MANAGED.
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: If set to true, StackSets automatically
                                  deploys additional stack instances to AWS Organizations
                                  accounts that are added to a target organization
                                  or organizational unit (OU) in the specified Regions.
                                  If an account is removed from a target organization
                                  or OU, StackSets deletes stack instances from the
                                  account in the specified Regions.
                              retainStacksOnAccountRemoval:
                                type: boolean
                                description: If set to true, stack resources are retained
                                  when an account is removed from a target organization
                                  or OU. If set to false, stack resources are deleted.
                                  Specify only if Enabled is set to True.
                          callAs:
                            description: Specifies the AWS account that you are acting
                              from. By default, SELF is specified. For self-managed
                              permissions, specify SELF; for service-managed permissions,
                              if you are signed in to the organization's management
                              account, specify SELF. If you are signed in to a delegated
                              administrator account, specify DELEGATED_ADMIN.
                            type: string
                            enum:
                            - DELEGATED_ADMIN
                            - SELF
                            x-ms-enum:
                              name: CallAs
                              modelAsString: true
                              values:
                              - name: DELEGATED_ADMIN
                                value: DELEGATED_ADMIN
                                description: CallAs enum DELEGATED_ADMIN
                              - name: SELF
                                value: SELF
                                description: CallAs enum SELF
                          capabilities:
                            type: array
                            description: In some cases, you must explicitly acknowledge
                              that your stack set template contains certain capabilities
                              in order for AWS CloudFormation to create the stack
                              set and related stack instances.
                            items:
                              type: string
                          description:
                            type: string
                            description: A description of the stack set. You can use
                              the description to identify the stack set's purpose
                              or other important information.
                          executionRoleName:
                            type: string
                            description: The name of the IAM execution role to use
                              to create the stack set. If you do not specify an execution
                              role, AWS CloudFormation uses the AWSCloudFormationStackSetExecutionRole
                              role for the stack set operation.
                          managedExecution:
                            description: Describes whether StackSets performs non-conflicting
                              operations concurrently and queues conflicting operations.
                            type: object
                            properties:
                              active:
                                type: boolean
                                description: When true, StackSets performs non-conflicting
                                  operations concurrently and queues conflicting operations.
                                  After conflicting operations finish, StackSets starts
                                  queued operations in request order.
                          operationPreferences:
                            description: The user-specified preferences for how AWS
                              CloudFormation performs a stack set operation.
                            type: object
                            properties:
                              failureToleranceCount:
                                type: integer
                                format: int32
                                description: Property failureToleranceCount
                              failureTolerancePercentage:
                                type: integer
                                format: int32
                                description: Property failureTolerancePercentage
                              maxConcurrentCount:
                                type: integer
                                format: int32
                                description: Property maxConcurrentCount
                              maxConcurrentPercentage:
                                type: integer
                                format: int32
                                description: Property maxConcurrentPercentage
                              regionConcurrencyType:
                                description: The concurrency type of deploying StackSets
                                  operations in regions, could be in parallel or one
                                  region at a time
                                type: string
                                enum:
                                - PARALLEL
                                - SEQUENTIAL
                                x-ms-enum:
                                  name: OperationPreferencesRegionConcurrencyType
                                  modelAsString: true
                                  values:
                                  - name: PARALLEL
                                    value: PARALLEL
                                    description: OperationPreferencesRegionConcurrencyType
                                      enum PARALLEL
                                  - name: SEQUENTIAL
                                    value: SEQUENTIAL
                                    description: OperationPreferencesRegionConcurrencyType
                                      enum SEQUENTIAL
                              regionOrder:
                                type: array
                                description: Property regionOrder
                                items:
                                  type: string
                          parameters:
                            type: array
                            description: The input parameters for the stack set template.
                            items:
                              type: object
                              description: Definition of Parameter
                              properties:
                                parameterKey:
                                  type: string
                                  description: The key associated with the parameter.
                                    If you don't specify a key and value for a particular
                                    parameter, AWS CloudFormation uses the default
                                    value that is specified in your template.
                                parameterValue:
                                  type: string
                                  description: The input value associated with the
                                    parameter.
                            x-ms-identifiers: []
                          permissionModel:
                            description: Describes how the IAM roles required for
                              stack set operations are created. By default, SELF-MANAGED
                              is specified.
                            type: string
                            enum:
                            - SELF_MANAGED
                            - SERVICE_MANAGED
                            x-ms-enum:
                              name: PermissionModel
                              modelAsString: true
                              values:
                              - name: SELF_MANAGED
                                value: SELF_MANAGED
                                description: PermissionModel enum SELF_MANAGED
                              - name: SERVICE_MANAGED
                                value: SERVICE_MANAGED
                                description: PermissionModel enum SERVICE_MANAGED
                          stackInstancesGroup:
                            type: array
                            description: A group of stack instances with parameters
                              in some specific accounts and regions.
                            items:
                              type: object
                              description: Definition of StackInstances
                              properties:
                                deploymentTargets:
                                  description: The AWS OrganizationalUnitIds or Accounts
                                    for which to create stack instances in the specified
                                    Regions.
                                  type: object
                                  properties:
                                    accountFilterType:
                                      description: The filter type you want to apply
                                        on organizational units and accounts.
                                      type: string
                                      enum:
                                      - DIFFERENCE
                                      - INTERSECTION
                                      - NONE
                                      - UNION
                                      x-ms-enum:
                                        name: DeploymentTargetsAccountFilterType
                                        modelAsString: true
                                        values:
                                        - name: DIFFERENCE
                                          value: DIFFERENCE
                                          description: DeploymentTargetsAccountFilterType
                                            enum DIFFERENCE
                                        - name: INTERSECTION
                                          value: INTERSECTION
                                          description: DeploymentTargetsAccountFilterType
                                            enum INTERSECTION
                                        - name: NONE
                                          value: NONE
                                          description: DeploymentTargetsAccountFilterType
                                            enum NONE
                                        - name: UNION
                                          value: UNION
                                          description: DeploymentTargetsAccountFilterType
                                            enum UNION
                                    accounts:
                                      type: array
                                      description: AWS accounts that you want to create
                                        stack instances in the specified Region(s)
                                        for.
                                      items:
                                        type: string
                                    accountsUrl:
                                      type: string
                                      description: Returns the value of the AccountsUrl
                                        property.
                                    organizationalUnitIds:
                                      type: array
                                      description: The organization root ID or organizational
                                        unit (OU) IDs to which StackSets deploys.
                                      items:
                                        type: string
                                parameterOverrides:
                                  type: array
                                  description: A list of stack set parameters whose
                                    values you want to override in the selected stack
                                    instances.
                                  items:
                                    type: object
                                    description: Definition of Parameter
                                    properties:
                                      parameterKey:
                                        type: string
                                        description: The key associated with the parameter.
                                          If you don't specify a key and value for
                                          a particular parameter, AWS CloudFormation
                                          uses the default value that is specified
                                          in your template.
                                      parameterValue:
                                        type: string
                                        description: The input value associated with
                                          the parameter.
                                  x-ms-identifiers: []
                                regions:
                                  type: array
                                  description: The names of one or more Regions where
                                    you want to create stack instances using the specified
                                    AWS account(s).
                                  items:
                                    type: string
                            x-ms-identifiers: []
                          stackSetId:
                            type: string
                            description: The ID of the stack set that you're creating.
                          stackSetName:
                            type: string
                            description: The name to associate with the stack set.
                              The name must be unique in the Region where you create
                              your stack set.
                          tags:
                            type: array
                            description: The key-value pairs to associate with this
                              stack set and the stacks created from it. AWS CloudFormation
                              also propagates these tags to supported resources that
                              are created in the stacks. A maximum number of 50 tags
                              can be specified.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: A string used to identify this tag.
                                    You can specify a maximum of 127 characters for
                                    a tag key.
                                value:
                                  type: string
                                  description: A string containing the value for this
                                    tag. You can specify a maximum of 256 characters
                                    for a tag value.
                            x-ms-identifiers: []
                          templateBody:
                            type: string
                            description: The structure that contains the template
                              body, with a minimum length of 1 byte and a maximum
                              length of 51,200 bytes.
                          templateURL:
                            type: string
                            description: 'Location of file containing the template
                              body. The URL must point to a template (max size: 460,800
                              bytes) that is located in an Amazon S3 bucket.'
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: CloudFormationStackSets_CreateOrReplace
      tags:
      - CloudFormationStackSets
      description: Create a CloudFormationStackSet. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
[...]
