openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudFormationStacks
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/cloudFormationStacks:
    get:
      operationId: CloudFormationStacks_ListBySubscription
      tags:
      - CloudFormationStacks
      description: List CloudFormationStack resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudFormationStack list operation.
                properties:
                  value:
                    type: array
                    description: The CloudFormationStack items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                capabilities:
                                  type: array
                                  description: Property capabilities
                                  items:
                                    type: string
                                    description: Capabilities enum
                                    enum:
                                    - CAPABILITY_AUTO_EXPAND
                                    - CAPABILITY_IAM
                                    - CAPABILITY_NAMED_IAM
                                    x-ms-enum:
                                      name: Capabilities
                                      modelAsString: true
                                      values:
                                      - name: CAPABILITY_AUTO_EXPAND
                                        value: CAPABILITY_AUTO_EXPAND
                                        description: Capabilities enum CAPABILITY_AUTO_EXPAND
                                      - name: CAPABILITY_IAM
                                        value: CAPABILITY_IAM
                                        description: Capabilities enum CAPABILITY_IAM
                                      - name: CAPABILITY_NAMED_IAM
                                        value: CAPABILITY_NAMED_IAM
                                        description: Capabilities enum CAPABILITY_NAMED_IAM
                                changeSetId:
                                  type: string
                                  description: Property changeSetId
                                creationTime:
                                  type: string
                                  description: Property creationTime
                                description:
                                  type: string
                                  description: Property description
                                disableRollback:
                                  type: boolean
                                  description: Property disableRollback
                                enableTerminationProtection:
                                  type: boolean
                                  description: Property enableTerminationProtection
                                lastUpdateTime:
                                  type: string
                                  description: Property lastUpdateTime
                                notificationARNs:
                                  type: array
                                  description: Property notificationARNs
                                  items:
                                    type: string
                                outputs:
                                  type: array
                                  description: Property outputs
                                  items:
                                    type: object
                                    description: Definition of Output
                                    properties:
                                      description:
                                        type: string
                                        description: Property description
                                      exportName:
                                        type: string
                                        description: Property exportName
                                      outputKey:
                                        type: string
                                        description: Property outputKey
                                      outputValue:
                                        type: string
                                        description: Property outputValue
                                  x-ms-identifiers: []
                                parameters:
                                  type: object
                                  description: Property parameters
                                  additionalProperties:
                                    type: string
                                parentId:
                                  type: string
                                  description: Property parentId
                                roleARN:
                                  type: string
                                  description: Property roleARN
                                rootId:
                                  type: string
                                  description: Property rootId
                                stackId:
                                  type: string
                                  description: Property stackId
                                stackName:
                                  type: string
                                  description: Property stackName
                                stackPolicyBody:
                                  description: Property stackPolicyBody
                                stackPolicyURL:
                                  type: string
                                  description: Property stackPolicyURL
                                stackStatus:
                                  description: Property stackStatus
                                  type: string
                                  enum:
                                  - CREATE_COMPLETE
                                  - CREATE_FAILED
                                  - CREATE_IN_PROGRESS
                                  - DELETE_COMPLETE
                                  - DELETE_FAILED
                                  - DELETE_IN_PROGRESS
                                  - IMPORT_COMPLETE
                                  - IMPORT_IN_PROGRESS
                                  - IMPORT_ROLLBACK_COMPLETE
                                  - IMPORT_ROLLBACK_FAILED
                                  - IMPORT_ROLLBACK_IN_PROGRESS
                                  - REVIEW_IN_PROGRESS
                                  - ROLLBACK_COMPLETE
                                  - ROLLBACK_FAILED
                                  - ROLLBACK_IN_PROGRESS
                                  - UPDATE_COMPLETE
                                  - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                  - UPDATE_FAILED
                                  - UPDATE_IN_PROGRESS
                                  - UPDATE_ROLLBACK_COMPLETE
                                  - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                  - UPDATE_ROLLBACK_FAILED
                                  - UPDATE_ROLLBACK_IN_PROGRESS
                                  x-ms-enum:
                                    name: StackStatus
                                    modelAsString: true
                                    values:
                                    - name: CREATE_COMPLETE
                                      value: CREATE_COMPLETE
                                      description: StackStatus enum CREATE_COMPLETE
                                    - name: CREATE_FAILED
                                      value: CREATE_FAILED
                                      description: StackStatus enum CREATE_FAILED
                                    - name: CREATE_IN_PROGRESS
                                      value: CREATE_IN_PROGRESS
                                      description: StackStatus enum CREATE_IN_PROGRESS
                                    - name: DELETE_COMPLETE
                                      value: DELETE_COMPLETE
                                      description: StackStatus enum DELETE_COMPLETE
                                    - name: DELETE_FAILED
                                      value: DELETE_FAILED
                                      description: StackStatus enum DELETE_FAILED
                                    - name: DELETE_IN_PROGRESS
                                      value: DELETE_IN_PROGRESS
                                      description: StackStatus enum DELETE_IN_PROGRESS
                                    - name: IMPORT_COMPLETE
                                      value: IMPORT_COMPLETE
                                      description: StackStatus enum IMPORT_COMPLETE
                                    - name: IMPORT_IN_PROGRESS
                                      value: IMPORT_IN_PROGRESS
                                      description: StackStatus enum IMPORT_IN_PROGRESS
                                    - name: IMPORT_ROLLBACK_COMPLETE
                                      value: IMPORT_ROLLBACK_COMPLETE
                                      description: StackStatus enum IMPORT_ROLLBACK_COMPLETE
                                    - name: IMPORT_ROLLBACK_FAILED
                                      value: IMPORT_ROLLBACK_FAILED
                                      description: StackStatus enum IMPORT_ROLLBACK_FAILED
                                    - name: IMPORT_ROLLBACK_IN_PROGRESS
                                      value: IMPORT_ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum IMPORT_ROLLBACK_IN_PROGRESS
                                    - name: REVIEW_IN_PROGRESS
                                      value: REVIEW_IN_PROGRESS
                                      description: StackStatus enum REVIEW_IN_PROGRESS
                                    - name: ROLLBACK_COMPLETE
                                      value: ROLLBACK_COMPLETE
                                      description: StackStatus enum ROLLBACK_COMPLETE
                                    - name: ROLLBACK_FAILED
                                      value: ROLLBACK_FAILED
                                      description: StackStatus enum ROLLBACK_FAILED
                                    - name: ROLLBACK_IN_PROGRESS
                                      value: ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum ROLLBACK_IN_PROGRESS
                                    - name: UPDATE_COMPLETE
                                      value: UPDATE_COMPLETE
                                      description: StackStatus enum UPDATE_COMPLETE
                                    - name: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                      value: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                      description: StackStatus enum UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                    - name: UPDATE_FAILED
                                      value: UPDATE_FAILED
                                      description: StackStatus enum UPDATE_FAILED
                                    - name: UPDATE_IN_PROGRESS
                                      value: UPDATE_IN_PROGRESS
                                      description: StackStatus enum UPDATE_IN_PROGRESS
                                    - name: UPDATE_ROLLBACK_COMPLETE
                                      value: UPDATE_ROLLBACK_COMPLETE
                                      description: StackStatus enum UPDATE_ROLLBACK_COMPLETE
                                    - name: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                      value: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                      description: StackStatus enum UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                    - name: UPDATE_ROLLBACK_FAILED
                                      value: UPDATE_ROLLBACK_FAILED
                                      description: StackStatus enum UPDATE_ROLLBACK_FAILED
                                    - name: UPDATE_ROLLBACK_IN_PROGRESS
                                      value: UPDATE_ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum UPDATE_ROLLBACK_IN_PROGRESS
                                stackStatusReason:
                                  type: string
                                  description: Property stackStatusReason
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                templateBody:
                                  description: Property templateBody
                                templateURL:
                                  type: string
                                  description: Property templateURL
                                timeoutInMinutes:
                                  type: integer
                                  format: int32
                                  description: Property timeoutInMinutes
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStacks:
    get:
      operationId: CloudFormationStacks_ListByResourceGroup
      tags:
      - CloudFormationStacks
      description: List CloudFormationStack resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudFormationStack list operation.
                properties:
                  value:
                    type: array
                    description: The CloudFormationStack items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                capabilities:
                                  type: array
                                  description: Property capabilities
                                  items:
                                    type: string
                                    description: Capabilities enum
                                    enum:
                                    - CAPABILITY_AUTO_EXPAND
                                    - CAPABILITY_IAM
                                    - CAPABILITY_NAMED_IAM
                                    x-ms-enum:
                                      name: Capabilities
                                      modelAsString: true
                                      values:
                                      - name: CAPABILITY_AUTO_EXPAND
                                        value: CAPABILITY_AUTO_EXPAND
                                        description: Capabilities enum CAPABILITY_AUTO_EXPAND
                                      - name: CAPABILITY_IAM
                                        value: CAPABILITY_IAM
                                        description: Capabilities enum CAPABILITY_IAM
                                      - name: CAPABILITY_NAMED_IAM
                                        value: CAPABILITY_NAMED_IAM
                                        description: Capabilities enum CAPABILITY_NAMED_IAM
                                changeSetId:
                                  type: string
                                  description: Property changeSetId
                                creationTime:
                                  type: string
                                  description: Property creationTime
                                description:
                                  type: string
                                  description: Property description
                                disableRollback:
                                  type: boolean
                                  description: Property disableRollback
                                enableTerminationProtection:
                                  type: boolean
                                  description: Property enableTerminationProtection
                                lastUpdateTime:
                                  type: string
                                  description: Property lastUpdateTime
                                notificationARNs:
                                  type: array
                                  description: Property notificationARNs
                                  items:
                                    type: string
                                outputs:
                                  type: array
                                  description: Property outputs
                                  items:
                                    type: object
                                    description: Definition of Output
                                    properties:
                                      description:
                                        type: string
                                        description: Property description
                                      exportName:
                                        type: string
                                        description: Property exportName
                                      outputKey:
                                        type: string
                                        description: Property outputKey
                                      outputValue:
                                        type: string
                                        description: Property outputValue
                                  x-ms-identifiers: []
                                parameters:
                                  type: object
                                  description: Property parameters
                                  additionalProperties:
                                    type: string
                                parentId:
                                  type: string
                                  description: Property parentId
                                roleARN:
                                  type: string
                                  description: Property roleARN
                                rootId:
                                  type: string
                                  description: Property rootId
                                stackId:
                                  type: string
                                  description: Property stackId
                                stackName:
                                  type: string
                                  description: Property stackName
                                stackPolicyBody:
                                  description: Property stackPolicyBody
                                stackPolicyURL:
                                  type: string
                                  description: Property stackPolicyURL
                                stackStatus:
                                  description: Property stackStatus
                                  type: string
                                  enum:
                                  - CREATE_COMPLETE
                                  - CREATE_FAILED
                                  - CREATE_IN_PROGRESS
                                  - DELETE_COMPLETE
                                  - DELETE_FAILED
                                  - DELETE_IN_PROGRESS
                                  - IMPORT_COMPLETE
                                  - IMPORT_IN_PROGRESS
                                  - IMPORT_ROLLBACK_COMPLETE
                                  - IMPORT_ROLLBACK_FAILED
                                  - IMPORT_ROLLBACK_IN_PROGRESS
                                  - REVIEW_IN_PROGRESS
                                  - ROLLBACK_COMPLETE
                                  - ROLLBACK_FAILED
                                  - ROLLBACK_IN_PROGRESS
                                  - UPDATE_COMPLETE
                                  - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                  - UPDATE_FAILED
                                  - UPDATE_IN_PROGRESS
                                  - UPDATE_ROLLBACK_COMPLETE
                                  - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                  - UPDATE_ROLLBACK_FAILED
                                  - UPDATE_ROLLBACK_IN_PROGRESS
                                  x-ms-enum:
                                    name: StackStatus
                                    modelAsString: true
                                    values:
                                    - name: CREATE_COMPLETE
                                      value: CREATE_COMPLETE
                                      description: StackStatus enum CREATE_COMPLETE
                                    - name: CREATE_FAILED
                                      value: CREATE_FAILED
                                      description: StackStatus enum CREATE_FAILED
                                    - name: CREATE_IN_PROGRESS
                                      value: CREATE_IN_PROGRESS
                                      description: StackStatus enum CREATE_IN_PROGRESS
                                    - name: DELETE_COMPLETE
                                      value: DELETE_COMPLETE
                                      description: StackStatus enum DELETE_COMPLETE
                                    - name: DELETE_FAILED
                                      value: DELETE_FAILED
                                      description: StackStatus enum DELETE_FAILED
                                    - name: DELETE_IN_PROGRESS
                                      value: DELETE_IN_PROGRESS
                                      description: StackStatus enum DELETE_IN_PROGRESS
                                    - name: IMPORT_COMPLETE
                                      value: IMPORT_COMPLETE
                                      description: StackStatus enum IMPORT_COMPLETE
                                    - name: IMPORT_IN_PROGRESS
                                      value: IMPORT_IN_PROGRESS
                                      description: StackStatus enum IMPORT_IN_PROGRESS
                                    - name: IMPORT_ROLLBACK_COMPLETE
                                      value: IMPORT_ROLLBACK_COMPLETE
                                      description: StackStatus enum IMPORT_ROLLBACK_COMPLETE
                                    - name: IMPORT_ROLLBACK_FAILED
                                      value: IMPORT_ROLLBACK_FAILED
                                      description: StackStatus enum IMPORT_ROLLBACK_FAILED
                                    - name: IMPORT_ROLLBACK_IN_PROGRESS
                                      value: IMPORT_ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum IMPORT_ROLLBACK_IN_PROGRESS
                                    - name: REVIEW_IN_PROGRESS
                                      value: REVIEW_IN_PROGRESS
                                      description: StackStatus enum REVIEW_IN_PROGRESS
                                    - name: ROLLBACK_COMPLETE
                                      value: ROLLBACK_COMPLETE
                                      description: StackStatus enum ROLLBACK_COMPLETE
                                    - name: ROLLBACK_FAILED
                                      value: ROLLBACK_FAILED
                                      description: StackStatus enum ROLLBACK_FAILED
                                    - name: ROLLBACK_IN_PROGRESS
                                      value: ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum ROLLBACK_IN_PROGRESS
                                    - name: UPDATE_COMPLETE
                                      value: UPDATE_COMPLETE
                                      description: StackStatus enum UPDATE_COMPLETE
                                    - name: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                      value: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                      description: StackStatus enum UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                    - name: UPDATE_FAILED
                                      value: UPDATE_FAILED
                                      description: StackStatus enum UPDATE_FAILED
                                    - name: UPDATE_IN_PROGRESS
                                      value: UPDATE_IN_PROGRESS
                                      description: StackStatus enum UPDATE_IN_PROGRESS
                                    - name: UPDATE_ROLLBACK_COMPLETE
                                      value: UPDATE_ROLLBACK_COMPLETE
                                      description: StackStatus enum UPDATE_ROLLBACK_COMPLETE
                                    - name: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                      value: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                      description: StackStatus enum UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                    - name: UPDATE_ROLLBACK_FAILED
                                      value: UPDATE_ROLLBACK_FAILED
                                      description: StackStatus enum UPDATE_ROLLBACK_FAILED
                                    - name: UPDATE_ROLLBACK_IN_PROGRESS
                                      value: UPDATE_ROLLBACK_IN_PROGRESS
                                      description: StackStatus enum UPDATE_ROLLBACK_IN_PROGRESS
                                stackStatusReason:
                                  type: string
                                  description: Property stackStatusReason
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                templateBody:
                                  description: Property templateBody
                                templateURL:
                                  type: string
                                  description: Property templateURL
                                timeoutInMinutes:
                                  type: integer
                                  format: int32
                                  description: Property timeoutInMinutes
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/cloudFormationStacks/{name}
  : get:
      operationId: CloudFormationStacks_Get
      tags:
      - CloudFormationStacks
      description: Get a CloudFormationStack
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CloudFormationStack
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          capabilities:
                            type: array
                            description: Property capabilities
                            items:
                              type: string
                              description: Capabilities enum
                              enum:
                              - CAPABILITY_AUTO_EXPAND
                              - CAPABILITY_IAM
                              - CAPABILITY_NAMED_IAM
                              x-ms-enum:
                                name: Capabilities
                                modelAsString: true
                                values:
                                - name: CAPABILITY_AUTO_EXPAND
                                  value: CAPABILITY_AUTO_EXPAND
                                  description: Capabilities enum CAPABILITY_AUTO_EXPAND
                                - name: CAPABILITY_IAM
                                  value: CAPABILITY_IAM
                                  description: Capabilities enum CAPABILITY_IAM
                                - name: CAPABILITY_NAMED_IAM
                                  value: CAPABILITY_NAMED_IAM
                                  description: Capabilities enum CAPABILITY_NAMED_IAM
                          changeSetId:
                            type: string
                            description: Property changeSetId
                          creationTime:
                            type: string
                            description: Property creationTime
                          description:
                            type: string
                            description: Property description
                          disableRollback:
                            type: boolean
                            description: Property disableRollback
                          enableTerminationProtection:
                            type: boolean
                            description: Property enableTerminationProtection
                          lastUpdateTime:
                            type: string
                            description: Property lastUpdateTime
                          notificationARNs:
                            type: array
                            description: Property notificationARNs
                            items:
                              type: string
                          outputs:
                            type: array
                            description: Property outputs
                            items:
                              type: object
                              description: Definition of Output
                              properties:
                                description:
                                  type: string
                                  description: Property description
                                exportName:
                                  type: string
                                  description: Property exportName
                                outputKey:
                                  type: string
                                  description: Property outputKey
                                outputValue:
                                  type: string
                                  description: Property outputValue
                            x-ms-identifiers: []
                          parameters:
                            type: object
                            description: Property parameters
                            additionalProperties:
                              type: string
                          parentId:
                            type: string
                            description: Property parentId
                          roleARN:
                            type: string
                            description: Property roleARN
                          rootId:
                            type: string
                            description: Property rootId
                          stackId:
                            type: string
                            description: Property stackId
                          stackName:
                            type: string
                            description: Property stackName
                          stackPolicyBody:
                            description: Property stackPolicyBody
                          stackPolicyURL:
                            type: string
                            description: Property stackPolicyURL
                          stackStatus:
                            description: Property stackStatus
                            type: string
                            enum:
                            - CREATE_COMPLETE
                            - CREATE_FAILED
                            - CREATE_IN_PROGRESS
                            - DELETE_COMPLETE
                            - DELETE_FAILED
                            - DELETE_IN_PROGRESS
                            - IMPORT_COMPLETE
                            - IMPORT_IN_PROGRESS
                            - IMPORT_ROLLBACK_COMPLETE
                            - IMPORT_ROLLBACK_FAILED
                            - IMPORT_ROLLBACK_IN_PROGRESS
                            - REVIEW_IN_PROGRESS
                            - ROLLBACK_COMPLETE
                            - ROLLBACK_FAILED
                            - ROLLBACK_IN_PROGRESS
                            - UPDATE_COMPLETE
                            - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                            - UPDATE_FAILED
                            - UPDATE_IN_PROGRESS
                            - UPDATE_ROLLBACK_COMPLETE
                            - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                            - UPDATE_ROLLBACK_FAILED
                            - UPDATE_ROLLBACK_IN_PROGRESS
                            x-ms-enum:
                              name: StackStatus
                              modelAsString: true
                              values:
                              - name: CREATE_COMPLETE
                                value: CREATE_COMPLETE
                                description: StackStatus enum CREATE_COMPLETE
                              - name: CREATE_FAILED
                                value: CREATE_FAILED
                                description: StackStatus enum CREATE_FAILED
                              - name: CREATE_IN_PROGRESS
                                value: CREATE_IN_PROGRESS
                                description: StackStatus enum CREATE_IN_PROGRESS
                              - name: DELETE_COMPLETE
                                value: DELETE_COMPLETE
                                description: StackStatus enum DELETE_COMPLETE
                              - name: DELETE_FAILED
                                value: DELETE_FAILED
                                description: StackStatus enum DELETE_FAILED
                              - name: DELETE_IN_PROGRESS
                                value: DELETE_IN_PROGRESS
                                description: StackStatus enum DELETE_IN_PROGRESS
                              - name: IMPORT_COMPLETE
                                value: IMPORT_COMPLETE
                                description: StackStatus enum IMPORT_COMPLETE
                              - name: IMPORT_IN_PROGRESS
                                value: IMPORT_IN_PROGRESS
                                description: StackStatus enum IMPORT_IN_PROGRESS
                              - name: IMPORT_ROLLBACK_COMPLETE
                                value: IMPORT_ROLLBACK_COMPLETE
                                description: StackStatus enum IMPORT_ROLLBACK_COMPLETE
                              - name: IMPORT_ROLLBACK_FAILED
                                value: IMPORT_ROLLBACK_FAILED
                                description: StackStatus enum IMPORT_ROLLBACK_FAILED
                              - name: IMPORT_ROLLBACK_IN_PROGRESS
                                value: IMPORT_ROLLBACK_IN_PROGRESS
                                description: StackStatus enum IMPORT_ROLLBACK_IN_PROGRESS
                              - name: REVIEW_IN_PROGRESS
                                value: REVIEW_IN_PROGRESS
                                description: StackStatus enum REVIEW_IN_PROGRESS
                              - name: ROLLBACK_COMPLETE
                                value: ROLLBACK_COMPLETE
                                description: StackStatus enum ROLLBACK_COMPLETE
                              - name: ROLLBACK_FAILED
                                value: ROLLBACK_FAILED
                                description: StackStatus enum ROLLBACK_FAILED
                              - name: ROLLBACK_IN_PROGRESS
                                value: ROLLBACK_IN_PROGRESS
                                description: StackStatus enum ROLLBACK_IN_PROGRESS
                              - name: UPDATE_COMPLETE
                                value: UPDATE_COMPLETE
                                description: StackStatus enum UPDATE_COMPLETE
                              - name: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                value: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                                description: StackStatus enum UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                              - name: UPDATE_FAILED
                                value: UPDATE_FAILED
                                description: StackStatus enum UPDATE_FAILED
                              - name: UPDATE_IN_PROGRESS
                                value: UPDATE_IN_PROGRESS
                                description: StackStatus enum UPDATE_IN_PROGRESS
                              - name: UPDATE_ROLLBACK_COMPLETE
                                value: UPDATE_ROLLBACK_COMPLETE
                                description: StackStatus enum UPDATE_ROLLBACK_COMPLETE
                              - name: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                value: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                                description: StackStatus enum UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                              - name: UPDATE_ROLLBACK_FAILED
                                value: UPDATE_ROLLBACK_FAILED
                                description: StackStatus enum UPDATE_ROLLBACK_FAILED
                              - name: UPDATE_ROLLBACK_IN_PROGRESS
                                value: UPDATE_ROLLBACK_IN_PROGRESS
                                description: StackStatus enum UPDATE_ROLLBACK_IN_PROGRESS
                          stackStatusReason:
                            type: string
                            description: Property stackStatusReason
                          tags:
                            type: array
                            description: Property tags
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          templateBody:
                            description: Property templateBody
                          templateURL:
                            type: string
                            description: Property templateURL
                          timeoutInMinutes:
                            type: integer
                            format: int32
                            description: Property timeoutInMinutes
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: CloudFormationStacks_CreateOrReplace
      tags:
      - CloudFormationStacks
      description: Create a CloudFormationStack. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CloudFormationStack
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        capabilities:
                          type: array
                          description: Property capabilities
                          items:
                            type: string
                            description: Capabilities enum
                            enum:
                            - CAPABILITY_AUTO_EXPAND
                            - CAPABILITY_IAM
                            - CAPABILITY_NAMED_IAM
                            x-ms-enum:
                              name: Capabilities
                              modelAsString: true
                              values:
                              - name: CAPABILITY_AUTO_EXPAND
                                value: CAPABILITY_AUTO_EXPAND
                                description: Capabilities enum CAPABILITY_AUTO_EXPAND
                              - name: CAPABILITY_IAM
                                value: CAPABILITY_IAM
                                description: Capabilities enum CAPABILITY_IAM
                              - name: CAPABILITY_NAMED_IAM
                                value: CAPABILITY_NAMED_IAM
                                description: Capabilities enum CAPABILITY_NAMED_IAM
                        changeSetId:
                          type: string
                          description: Property changeSetId
                        creationTime:
                          type: string
                          description: Property creationTime
                        description:
                          type: string
                          description: Property description
                        disableRollback:
                          type: boolean
                          description: Property disableRollback
                        enableTerminationProtection:
                          type: boolean
                          description: Property enableTerminationProtection
                        lastUpdateTime:
                          type: string
                          description: Property lastUpdateTime
                        notificationARNs:
                          type: array
                          description: Property notificationARNs
                          items:
                            type: string
                        outputs:
                          type: array
                          description: Property outputs
                          items:
                            type: object
                            description: Definition of Output
                            properties:
                              description:
                                type: string
                                description: Property description
                              exportName:
                                type: string
                                description: Property exportName
                              outputKey:
                                type: string
                                description: Property outputKey
                              outputValue:
                                type: string
                                description: Property outputValue
                          x-ms-identifiers: []
                        parameters:
                          type: object
                          description: Property parameters
                          additionalProperties:
                            type: string
                        parentId:
                          type: string
                          description: Property parentId
                        roleARN:
                          type: string
                          description: Property roleARN
                        rootId:
                          type: string
                          description: Property rootId
                        stackId:
                          type: string
                          description: Property stackId
                        stackName:
                          type: string
                          description: Property stackName
                        stackPolicyBody:
                          description: Property stackPolicyBody
                        stackPolicyURL:
                          type: string
                          description: Property stackPolicyURL
                        stackStatus:
                          description: Property stackStatus
                          type: string
                          enum:
                          - CREATE_COMPLETE
                          - CREATE_FAILED
                          - CREATE_IN_PROGRESS
                          - DELETE_COMPLETE
                          - DELETE_FAILED
                          - DELETE_IN_PROGRESS
                          - IMPORT_COMPLETE
                          - IMPORT_IN_PROGRESS
                          - IMPORT_ROLLBACK_COMPLETE
                          - IMPORT_ROLLBACK_FAILED
                          - IMPORT_ROLLBACK_IN_PROGRESS
                          - REVIEW_IN_PROGRESS
                          - ROLLBACK_COMPLETE
                          - ROLLBACK_FAILED
                          - ROLLBACK_IN_PROGRESS
                          - UPDATE_COMPLETE
                          - UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                          - UPDATE_FAILED
                          - UPDATE_IN_PROGRESS
                          - UPDATE_ROLLBACK_COMPLETE
                          - UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                          - UPDATE_ROLLBACK_FAILED
                          - UPDATE_ROLLBACK_IN_PROGRESS
                          x-ms-enum:
                            name: StackStatus
                            modelAsString: true
                            values:
                            - name: CREATE_COMPLETE
                              value: CREATE_COMPLETE
                              description: StackStatus enum CREATE_COMPLETE
                            - name: CREATE_FAILED
                              value: CREATE_FAILED
                              description: StackStatus enum CREATE_FAILED
                            - name: CREATE_IN_PROGRESS
                              value: CREATE_IN_PROGRESS
                              description: StackStatus enum CREATE_IN_PROGRESS
                            - name: DELETE_COMPLETE
                              value: DELETE_COMPLETE
                              description: StackStatus enum DELETE_COMPLETE
                            - name: DELETE_FAILED
                              value: DELETE_FAILED
                              description: StackStatus enum DELETE_FAILED
                            - name: DELETE_IN_PROGRESS
                              value: DELETE_IN_PROGRESS
                              description: StackStatus enum DELETE_IN_PROGRESS
                            - name: IMPORT_COMPLETE
                              value: IMPORT_COMPLETE
                              description: StackStatus enum IMPORT_COMPLETE
                            - name: IMPORT_IN_PROGRESS
                              value: IMPORT_IN_PROGRESS
                              description: StackStatus enum IMPORT_IN_PROGRESS
                            - name: IMPORT_ROLLBACK_COMPLETE
                              value: IMPORT_ROLLBACK_COMPLETE
                              description: StackStatus enum IMPORT_ROLLBACK_COMPLETE
                            - name: IMPORT_ROLLBACK_FAILED
                              value: IMPORT_ROLLBACK_FAILED
                              description: StackStatus enum IMPORT_ROLLBACK_FAILED
                            - name: IMPORT_ROLLBACK_IN_PROGRESS
                              value: IMPORT_ROLLBACK_IN_PROGRESS
                              description: StackStatus enum IMPORT_ROLLBACK_IN_PROGRESS
                            - name: REVIEW_IN_PROGRESS
                              value: REVIEW_IN_PROGRESS
                              description: StackStatus enum REVIEW_IN_PROGRESS
                            - name: ROLLBACK_COMPLETE
                              value: ROLLBACK_COMPLETE
                              description: StackStatus enum ROLLBACK_COMPLETE
                            - name: ROLLBACK_FAILED
                              value: ROLLBACK_FAILED
                              description: StackStatus enum ROLLBACK_FAILED
                            - name: ROLLBACK_IN_PROGRESS
                              value: ROLLBACK_IN_PROGRESS
                              description: StackStatus enum ROLLBACK_IN_PROGRESS
                            - name: UPDATE_COMPLETE
                              value: UPDATE_COMPLETE
                              description: StackStatus enum UPDATE_COMPLETE
                            - name: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                              value: UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                              description: StackStatus enum UPDATE_COMPLETE_CLEANUP_IN_PROGRESS
                            - name: UPDATE_FAILED
                              value: UPDATE_FAILED
                              description: StackStatus enum UPDATE_FAILED
                            - name: UPDATE_IN_PROGRESS
                              value: UPDATE_IN_PROGRESS
                              description: StackStatus enum UPDATE_IN_PROGRESS
                            - name: UPDATE_ROLLBACK_COMPLETE
                              value: UPDATE_ROLLBACK_COMPLETE
                              description: StackStatus enum UPDATE_ROLLBACK_COMPLETE
                            - name: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                              value: UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                              description: StackStatus enum UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS
                            - name: UPDATE_ROLLBACK_FAILED
                              value: UPDATE_ROLLBACK_FAILED
                              description: StackStatus enum UPDATE_ROLLBACK_FAILED
                            - name: UPDATE_ROLLBACK_IN_PROGRESS
                              value: UPDATE_ROLLBACK_IN_PROGRESS
                              description: StackStatus enum UPDATE_ROLLBACK_IN_PROGRESS
                        stackStatusReason:
                          type: string
                          description: Property stackStatusReason
                        tags:
                          type: array
                          description: Property tags
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                        templateBody:
                          description: Property templateBody
                        templateURL:
                          type: string
                          description: Property templateURL
                        timeoutInMinutes:
                          type: integer
                          format: int32
                          description: Property timeoutInMinutes
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'CloudFormationStack' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
[...]
