openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CodeBuildSourceCredentialsInfos
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos:
    get:
      operationId: CodeBuildSourceCredentialsInfos_ListBySubscription
      tags:
      - CodeBuildSourceCredentialsInfos
      description: List CodeBuildSourceCredentialsInfo resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CodeBuildSourceCredentialsInfo list
                  operation.
                properties:
                  value:
                    type: array
                    description: The CodeBuildSourceCredentialsInfo items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: <p> The Amazon Resource Name (ARN)
                                    of the token. </p>
                                authType:
                                  description: <p> The type of authentication used
                                    by the credentials. Valid options are OAUTH, BASIC_AUTH,
                                    PERSONAL_ACCESS_TOKEN, or CODECONNECTIONS. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - BASIC_AUTH
                                      - CODECONNECTIONS
                                      - OAUTH
                                      - PERSONAL_ACCESS_TOKEN
                                      x-ms-enum:
                                        name: AuthType
                                        modelAsString: true
                                        values:
                                        - name: BASIC_AUTH
                                          value: BASIC_AUTH
                                          description: AuthType enum BASIC_AUTH
                                        - name: CODECONNECTIONS
                                          value: CODECONNECTIONS
                                          description: AuthType enum CODECONNECTIONS
                                        - name: OAUTH
                                          value: OAUTH
                                          description: AuthType enum OAUTH
                                        - name: PERSONAL_ACCESS_TOKEN
                                          value: PERSONAL_ACCESS_TOKEN
                                          description: AuthType enum PERSONAL_ACCESS_TOKEN
                                resource:
                                  type: string
                                  description: <p>The connection ARN if your serverType
                                    type is GITLAB or GITLAB_SELF_MANAGED and your
                                    authType is CODECONNECTIONS.</p>
                                serverType:
                                  description: <p> The type of source provider. The
                                    valid options are GITHUB, GITHUB_ENTERPRISE, GITLAB,
                                    GITLAB_SELF_MANAGED, or BITBUCKET. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - BITBUCKET
                                      - GITHUB
                                      - GITHUB_ENTERPRISE
                                      - GITLAB
                                      - GITLAB_SELF_MANAGED
                                      x-ms-enum:
                                        name: ServerType
                                        modelAsString: true
                                        values:
                                        - name: BITBUCKET
                                          value: BITBUCKET
                                          description: ServerType enum BITBUCKET
                                        - name: GITHUB
                                          value: GITHUB
                                          description: ServerType enum GITHUB
                                        - name: GITHUB_ENTERPRISE
                                          value: GITHUB_ENTERPRISE
                                          description: ServerType enum GITHUB_ENTERPRISE
                                        - name: GITLAB
                                          value: GITLAB
                                          description: ServerType enum GITLAB
                                        - name: GITLAB_SELF_MANAGED
                                          value: GITLAB_SELF_MANAGED
                                          description: ServerType enum GITLAB_SELF_MANAGED
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos
  : get:
      operationId: CodeBuildSourceCredentialsInfos_ListByResourceGroup
      tags:
      - CodeBuildSourceCredentialsInfos
      description: List CodeBuildSourceCredentialsInfo resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CodeBuildSourceCredentialsInfo list
                  operation.
                properties:
                  value:
                    type: array
                    description: The CodeBuildSourceCredentialsInfo items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: <p> The Amazon Resource Name (ARN)
                                    of the token. </p>
                                authType:
                                  description: <p> The type of authentication used
                                    by the credentials. Valid options are OAUTH, BASIC_AUTH,
                                    PERSONAL_ACCESS_TOKEN, or CODECONNECTIONS. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - BASIC_AUTH
                                      - CODECONNECTIONS
                                      - OAUTH
                                      - PERSONAL_ACCESS_TOKEN
                                      x-ms-enum:
                                        name: AuthType
                                        modelAsString: true
                                        values:
                                        - name: BASIC_AUTH
                                          value: BASIC_AUTH
                                          description: AuthType enum BASIC_AUTH
                                        - name: CODECONNECTIONS
                                          value: CODECONNECTIONS
                                          description: AuthType enum CODECONNECTIONS
                                        - name: OAUTH
                                          value: OAUTH
                                          description: AuthType enum OAUTH
                                        - name: PERSONAL_ACCESS_TOKEN
                                          value: PERSONAL_ACCESS_TOKEN
                                          description: AuthType enum PERSONAL_ACCESS_TOKEN
                                resource:
                                  type: string
                                  description: <p>The connection ARN if your serverType
                                    type is GITLAB or GITLAB_SELF_MANAGED and your
                                    authType is CODECONNECTIONS.</p>
                                serverType:
                                  description: <p> The type of source provider. The
                                    valid options are GITHUB, GITHUB_ENTERPRISE, GITLAB,
                                    GITLAB_SELF_MANAGED, or BITBUCKET. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - BITBUCKET
                                      - GITHUB
                                      - GITHUB_ENTERPRISE
                                      - GITLAB
                                      - GITLAB_SELF_MANAGED
                                      x-ms-enum:
                                        name: ServerType
                                        modelAsString: true
                                        values:
                                        - name: BITBUCKET
                                          value: BITBUCKET
                                          description: ServerType enum BITBUCKET
                                        - name: GITHUB
                                          value: GITHUB
                                          description: ServerType enum GITHUB
                                        - name: GITHUB_ENTERPRISE
                                          value: GITHUB_ENTERPRISE
                                          description: ServerType enum GITHUB_ENTERPRISE
                                        - name: GITLAB
                                          value: GITLAB
                                          description: ServerType enum GITLAB
                                        - name: GITLAB_SELF_MANAGED
                                          value: GITLAB_SELF_MANAGED
                                          description: ServerType enum GITLAB_SELF_MANAGED
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos/{name}
  : get:
      operationId: CodeBuildSourceCredentialsInfos_Get
      tags:
      - CodeBuildSourceCredentialsInfos
      description: Get a CodeBuildSourceCredentialsInfo
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CodeBuildSourceCredentialsInfo
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: <p> The Amazon Resource Name (ARN) of the
                              token. </p>
                          authType:
                            description: <p> The type of authentication used by the
                              credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN,
                              or CODECONNECTIONS. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BASIC_AUTH
                                - CODECONNECTIONS
                                - OAUTH
                                - PERSONAL_ACCESS_TOKEN
                                x-ms-enum:
                                  name: AuthType
                                  modelAsString: true
                                  values:
                                  - name: BASIC_AUTH
                                    value: BASIC_AUTH
                                    description: AuthType enum BASIC_AUTH
                                  - name: CODECONNECTIONS
                                    value: CODECONNECTIONS
                                    description: AuthType enum CODECONNECTIONS
                                  - name: OAUTH
                                    value: OAUTH
                                    description: AuthType enum OAUTH
                                  - name: PERSONAL_ACCESS_TOKEN
                                    value: PERSONAL_ACCESS_TOKEN
                                    description: AuthType enum PERSONAL_ACCESS_TOKEN
                          resource:
                            type: string
                            description: <p>The connection ARN if your serverType
                              type is GITLAB or GITLAB_SELF_MANAGED and your authType
                              is CODECONNECTIONS.</p>
                          serverType:
                            description: <p> The type of source provider. The valid
                              options are GITHUB, GITHUB_ENTERPRISE, GITLAB, GITLAB_SELF_MANAGED,
                              or BITBUCKET. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BITBUCKET
                                - GITHUB
                                - GITHUB_ENTERPRISE
                                - GITLAB
                                - GITLAB_SELF_MANAGED
                                x-ms-enum:
                                  name: ServerType
                                  modelAsString: true
                                  values:
                                  - name: BITBUCKET
                                    value: BITBUCKET
                                    description: ServerType enum BITBUCKET
                                  - name: GITHUB
                                    value: GITHUB
                                    description: ServerType enum GITHUB
                                  - name: GITHUB_ENTERPRISE
                                    value: GITHUB_ENTERPRISE
                                    description: ServerType enum GITHUB_ENTERPRISE
                                  - name: GITLAB
                                    value: GITLAB
                                    description: ServerType enum GITLAB
                                  - name: GITLAB_SELF_MANAGED
                                    value: GITLAB_SELF_MANAGED
                                    description: ServerType enum GITLAB_SELF_MANAGED
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: CodeBuildSourceCredentialsInfos_CreateOrReplace
      tags:
      - CodeBuildSourceCredentialsInfos
      description: Create a CodeBuildSourceCredentialsInfo. Please note that end user
        resource creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CodeBuildSourceCredentialsInfo
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        arn:
                          type: string
                          description: <p> The Amazon Resource Name (ARN) of the token.
                            </p>
                        authType:
                          description: <p> The type of authentication used by the
                            credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN,
                            or CODECONNECTIONS. </p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - BASIC_AUTH
                              - CODECONNECTIONS
                              - OAUTH
                              - PERSONAL_ACCESS_TOKEN
                              x-ms-enum:
                                name: AuthType
                                modelAsString: true
                                values:
                                - name: BASIC_AUTH
                                  value: BASIC_AUTH
                                  description: AuthType enum BASIC_AUTH
                                - name: CODECONNECTIONS
                                  value: CODECONNECTIONS
                                  description: AuthType enum CODECONNECTIONS
                                - name: OAUTH
                                  value: OAUTH
                                  description: AuthType enum OAUTH
                                - name: PERSONAL_ACCESS_TOKEN
                                  value: PERSONAL_ACCESS_TOKEN
                                  description: AuthType enum PERSONAL_ACCESS_TOKEN
                        resource:
                          type: string
                          description: <p>The connection ARN if your serverType type
                            is GITLAB or GITLAB_SELF_MANAGED and your authType is
                            CODECONNECTIONS.</p>
                        serverType:
                          description: <p> The type of source provider. The valid
                            options are GITHUB, GITHUB_ENTERPRISE, GITLAB, GITLAB_SELF_MANAGED,
                            or BITBUCKET. </p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - BITBUCKET
                              - GITHUB
                              - GITHUB_ENTERPRISE
                              - GITLAB
                              - GITLAB_SELF_MANAGED
                              x-ms-enum:
                                name: ServerType
                                modelAsString: true
                                values:
                                - name: BITBUCKET
                                  value: BITBUCKET
                                  description: ServerType enum BITBUCKET
                                - name: GITHUB
                                  value: GITHUB
                                  description: ServerType enum GITHUB
                                - name: GITHUB_ENTERPRISE
                                  value: GITHUB_ENTERPRISE
                                  description: ServerType enum GITHUB_ENTERPRISE
                                - name: GITLAB
                                  value: GITLAB
                                  description: ServerType enum GITLAB
                                - name: GITLAB_SELF_MANAGED
                                  value: GITLAB_SELF_MANAGED
                                  description: ServerType enum GITLAB_SELF_MANAGED
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'CodeBuildSourceCredentialsInfo' update operation
            succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: <p> The Amazon Resource Name (ARN) of the
                              token. </p>
                          authType:
                            description: <p> The type of authentication used by the
                              credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN,
                              or CODECONNECTIONS. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BASIC_AUTH
                                - CODECONNECTIONS
                                - OAUTH
                                - PERSONAL_ACCESS_TOKEN
                                x-ms-enum:
                                  name: AuthType
                                  modelAsString: true
                                  values:
                                  - name: BASIC_AUTH
                                    value: BASIC_AUTH
                                    description: AuthType enum BASIC_AUTH
                                  - name: CODECONNECTIONS
                                    value: CODECONNECTIONS
                                    description: AuthType enum CODECONNECTIONS
                                  - name: OAUTH
                                    value: OAUTH
                                    description: AuthType enum OAUTH
                                  - name: PERSONAL_ACCESS_TOKEN
                                    value: PERSONAL_ACCESS_TOKEN
                                    description: AuthType enum PERSONAL_ACCESS_TOKEN
                          resource:
                            type: string
                            description: <p>The connection ARN if your serverType
                              type is GITLAB or GITLAB_SELF_MANAGED and your authType
                              is CODECONNECTIONS.</p>
                          serverType:
                            description: <p> The type of source provider. The valid
                              options are GITHUB, GITHUB_ENTERPRISE, GITLAB, GITLAB_SELF_MANAGED,
                              or BITBUCKET. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BITBUCKET
                                - GITHUB
                                - GITHUB_ENTERPRISE
                                - GITLAB
                                - GITLAB_SELF_MANAGED
                                x-ms-enum:
                                  name: ServerType
                                  modelAsString: true
                                  values:
                                  - name: BITBUCKET
                                    value: BITBUCKET
                                    description: ServerType enum BITBUCKET
                                  - name: GITHUB
                                    value: GITHUB
                                    description: ServerType enum GITHUB
                                  - name: GITHUB_ENTERPRISE
                                    value: GITHUB_ENTERPRISE
                                    description: ServerType enum GITHUB_ENTERPRISE
                                  - name: GITLAB
                                    value: GITLAB
                                    description: ServerType enum GITLAB
                                  - name: GITLAB_SELF_MANAGED
                                    value: GITLAB_SELF_MANAGED
                                    description: ServerType enum GITLAB_SELF_MANAGED
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'CodeBuildSourceCredentialsInfo' create operation
            succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: <p> The Amazon Resource Name (ARN) of the
                              token. </p>
                          authType:
                            description: <p> The type of authentication used by the
                              credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN,
                              or CODECONNECTIONS. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BASIC_AUTH
                                - CODECONNECTIONS
                                - OAUTH
                                - PERSONAL_ACCESS_TOKEN
                                x-ms-enum:
                                  name: AuthType
                                  modelAsString: true
                                  values:
                                  - name: BASIC_AUTH
                                    value: BASIC_AUTH
                                    description: AuthType enum BASIC_AUTH
                                  - name: CODECONNECTIONS
                                    value: CODECONNECTIONS
                                    description: AuthType enum CODECONNECTIONS
                                  - name: OAUTH
                                    value: OAUTH
                                    description: AuthType enum OAUTH
                                  - name: PERSONAL_ACCESS_TOKEN
                                    value: PERSONAL_ACCESS_TOKEN
                                    description: AuthType enum PERSONAL_ACCESS_TOKEN
                          resource:
                            type: string
                            description: <p>The connection ARN if your serverType
                              type is GITLAB or GITLAB_SELF_MANAGED and your authType
                              is CODECONNECTIONS.</p>
                          serverType:
                            description: <p> The type of source provider. The valid
                              options are GITHUB, GITHUB_ENTERPRISE, GITLAB, GITLAB_SELF_MANAGED,
                              or BITBUCKET. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BITBUCKET
                                - GITHUB
                                - GITHUB_ENTERPRISE
                                - GITLAB
                                - GITLAB_SELF_MANAGED
                                x-ms-enum:
                                  name: ServerType
                                  modelAsString: true
                                  values:
                                  - name: BITBUCKET
                                    value: BITBUCKET
                                    description: ServerType enum BITBUCKET
                                  - name: GITHUB
                                    value: GITHUB
                                    description: ServerType enum GITHUB
                                  - name: GITHUB_ENTERPRISE
                                    value: GITHUB_ENTERPRISE
                                    description: ServerType enum GITHUB_ENTERPRISE
                                  - name: GITLAB
                                    value: GITLAB
                                    description: ServerType enum GITLAB
                                  - name: GITLAB_SELF_MANAGED
                                    value: GITLAB_SELF_MANAGED
                                    description: ServerType enum GITLAB_SELF_MANAGED
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    patch:
      operationId: CodeBuildSourceCredentialsInfos_Update
      tags:
      - CodeBuildSourceCredentialsInfos
      description: Update a CodeBuildSourceCredentialsInfo
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of CodeBuildSourceCredentialsInfo
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The type used for updating tags in CodeBuildSourceCredentialsInfo
                resources.
              properties:
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
        description: The resource properties to be updated.
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: <p> The Amazon Resource Name (ARN) of the
                              token. </p>
                          authType:
                            description: <p> The type of authentication used by the
                              credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN,
                              or CODECONNECTIONS. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - BASIC_AUTH
                                - CODECONNECTIONS
                                - OAUTH
                                - PERSONAL_ACCESS_TOKEN
                                x-ms-enum:
[...]
