openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DatabaseMigrationServiceReplicationInstances
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/databaseMigrationServiceReplicationInstances:
    get:
      operationId: DatabaseMigrationServiceReplicationInstances_ListBySubscription
      tags:
      - DatabaseMigrationServiceReplicationInstances
      description: List DatabaseMigrationServiceReplicationInstance resources by subscription
        ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DatabaseMigrationServiceReplicationInstance
                  list operation.
                properties:
                  value:
                    type: array
                    description: The DatabaseMigrationServiceReplicationInstance items
                      on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allocatedStorage:
                                  type: integer
                                  format: int32
                                  description: <p>The amount of storage (in gigabytes)
                                    that is allocated for the replication instance.</p>
                                autoMinorVersionUpgrade:
                                  type: boolean
                                  description: <p>Boolean value indicating if minor
                                    version upgrades will be automatically applied
                                    to the instance.</p>
                                availabilityZone:
                                  type: string
                                  description: <p>The Availability Zone for the instance.</p>
                                dnsNameServers:
                                  type: string
                                  description: <p>The DNS name servers supported for
                                    the replication instance to access your on-premise
                                    source or target database.</p>
                                engineVersion:
                                  type: string
                                  description: <p>The engine version number of the
                                    replication instance.</p> <p>If an engine version
                                    number is not specified when a replication instance
                                    is created, the default is the latest engine version
                                    available.</p> <p>When modifying a major engine
                                    version of an instance, also set <code>AllowMajorVersionUpgrade</code>
                                    to <code>true</code>.</p>
                                freeUntil:
                                  type: string
                                  format: date-time
                                  description: <p> The expiration date of the free
                                    replication instance that is part of the Free
                                    DMS program. </p>
                                instanceCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>The time the replication instance
                                    was created.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>An KMS key identifier that is used
                                    to encrypt the data on the replication instance.</p>
                                    <p>If you don't specify a value for the <code>KmsKeyId</code>
                                    parameter, then DMS uses your default encryption
                                    key.</p> <p>KMS creates the default encryption
                                    key for your Amazon Web Services account. Your
                                    Amazon Web Services account has a different default
                                    encryption key for each Amazon Web Services Region.</p>
                                multiAZ:
                                  type: boolean
                                  description: <p> Specifies whether the replication
                                    instance is a Multi-AZ deployment. You can't set
                                    the <code>AvailabilityZone</code> parameter if
                                    the Multi-AZ parameter is set to <code>true</code>.
                                    </p>
                                networkType:
                                  type: string
                                  description: <p>The type of IP address protocol
                                    used by a replication instance, such as IPv4 only
                                    or Dual-stack that supports both IPv4 and IPv6
                                    addressing. IPv6 only is not yet supported.</p>
                                pendingModifiedValues:
                                  description: <p>The pending modification values.</p>
                                  type: object
                                  properties:
                                    allocatedStorage:
                                      type: integer
                                      format: int32
                                      description: <p>The amount of storage (in gigabytes)
                                        that is allocated for the replication instance.</p>
                                    engineVersion:
                                      type: string
                                      description: <p>The engine version number of
                                        the replication instance.</p>
                                    multiAZ:
                                      type: boolean
                                      description: <p> Specifies whether the replication
                                        instance is a Multi-AZ deployment. You can't
                                        set the <code>AvailabilityZone</code> parameter
                                        if the Multi-AZ parameter is set to <code>true</code>.
                                        </p>
                                    networkType:
                                      type: string
                                      description: <p>The type of IP address protocol
                                        used by a replication instance, such as IPv4
                                        only or Dual-stack that supports both IPv4
                                        and IPv6 addressing. IPv6 only is not yet
                                        supported.</p>
                                    replicationInstanceClass:
                                      type: string
                                      description: <p>The compute and memory capacity
                                        of the replication instance as defined for
                                        the specified replication instance class.</p>
                                        <p>For more information on the settings and
                                        capacities for the available replication instance
                                        classes, see <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                                        Selecting the right DMS replication instance
                                        for your migration</a>. </p>
                                preferredMaintenanceWindow:
                                  type: string
                                  description: <p>The maintenance window times for
                                    the replication instance. Any pending upgrades
                                    to the replication instance are performed during
                                    this time.</p>
                                publiclyAccessible:
                                  type: boolean
                                  description: <p> Specifies the accessibility options
                                    for the replication instance. A value of <code>true</code>
                                    represents an instance with a public IP address.
                                    A value of <code>false</code> represents an instance
                                    with a private IP address. The default value is
                                    <code>true</code>. </p>
                                replicationInstanceArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the replication instance.</p>
                                replicationInstanceClass:
                                  type: string
                                  description: <p>The compute and memory capacity
                                    of the replication instance as defined for the
                                    specified replication instance class. It is a
                                    required parameter, although a default value is
                                    pre-selected in the DMS console.</p> <p>For more
                                    information on the settings and capacities for
                                    the available replication instance classes, see
                                    <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                                    Selecting the right DMS replication instance for
                                    your migration</a>. </p>
                                replicationInstanceIdentifier:
                                  type: string
                                  description: '<p>The replication instance identifier
                                    is a required parameter. This parameter is stored
                                    as a lowercase string.</p> <p>Constraints:</p>
                                    <ul> <li> <p>Must contain 1-63 alphanumeric characters
                                    or hyphens.</p> </li> <li> <p>First character
                                    must be a letter.</p> </li> <li> <p>Cannot end
                                    with a hyphen or contain two consecutive hyphens.</p>
                                    </li> </ul> <p>Example: <code>myrepinstance</code>
                                    </p>'
                                replicationInstanceIpv6Addresses:
                                  type: array
                                  description: <p>One or more IPv6 addresses for the
                                    replication instance.</p>
                                  items:
                                    type: string
                                replicationInstancePrivateIpAddress:
                                  type: string
                                  description: <p>The private IP address of the replication
                                    instance.</p>
                                replicationInstancePrivateIpAddresses:
                                  type: array
                                  description: <p>One or more private IP addresses
                                    for the replication instance.</p>
                                  items:
                                    type: string
                                replicationInstancePublicIpAddress:
                                  type: string
                                  description: <p>The public IP address of the replication
                                    instance.</p>
                                replicationInstancePublicIpAddresses:
                                  type: array
                                  description: <p>One or more public IP addresses
                                    for the replication instance.</p>
                                  items:
                                    type: string
                                replicationInstanceStatus:
                                  type: string
                                  description: <p>The status of the replication instance.
                                    The possible return values include:</p> <ul> <li>
                                    <p> <code>'available'</code> </p> </li> <li> <p>
                                    <code>'creating'</code> </p> </li> <li> <p> <code>'deleted'</code>
                                    </p> </li> <li> <p> <code>'deleting'</code> </p>
                                    </li> <li> <p> <code>'failed'</code> </p> </li>
                                    <li> <p> <code>'modifying'</code> </p> </li> <li>
                                    <p> <code>'upgrading'</code> </p> </li> <li> <p>
                                    <code>'rebooting'</code> </p> </li> <li> <p> <code>'resetting-master-credentials'</code>
                                    </p> </li> <li> <p> <code>'storage-full'</code>
                                    </p> </li> <li> <p> <code>'incompatible-credentials'</code>
                                    </p> </li> <li> <p> <code>'incompatible-network'</code>
                                    </p> </li> <li> <p> <code>'maintenance'</code>
                                    </p> </li> </ul>
                                replicationSubnetGroup:
                                  description: <p>The subnet group for the replication
                                    instance.</p>
                                  type: object
                                  properties:
                                    replicationSubnetGroupDescription:
                                      type: string
                                      description: <p>A description for the replication
                                        subnet group.</p>
                                    replicationSubnetGroupIdentifier:
                                      type: string
                                      description: <p>The identifier of the replication
                                        instance subnet group.</p>
                                    subnetGroupStatus:
                                      type: string
                                      description: <p>The status of the subnet group.</p>
                                    subnets:
                                      type: array
                                      description: <p>The subnets that are in the
                                        subnet group.</p>
                                      items:
                                        type: object
                                        description: Definition of Subnet
                                        properties:
                                          subnetAvailabilityZone:
                                            description: <p>The Availability Zone
                                              of the subnet.</p>
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                description: <p>The name of the Availability
                                                  Zone.</p>
                                          subnetIdentifier:
                                            type: string
                                            description: <p>The subnet identifier.</p>
                                          subnetStatus:
                                            type: string
                                            description: <p>The status of the subnet.</p>
                                      x-ms-identifiers: []
                                    supportedNetworkTypes:
                                      type: array
                                      description: <p>The IP addressing protocol supported
                                        by the subnet group. This is used by a replication
                                        instance with values such as IPv4 only or
                                        Dual-stack that supports both IPv4 and IPv6
                                        addressing. IPv6 only is not yet supported.</p>
                                      items:
                                        type: string
                                    vpcId:
                                      type: string
                                      description: <p>The ID of the VPC.</p>
                                secondaryAvailabilityZone:
                                  type: string
                                  description: <p>The Availability Zone of the standby
                                    replication instance in a Multi-AZ deployment.</p>
                                vpcSecurityGroups:
                                  type: array
                                  description: <p>The VPC security group for the instance.</p>
                                  items:
                                    type: object
                                    description: Definition of VpcSecurityGroupMembership
                                    properties:
                                      status:
                                        type: string
                                        description: <p>The status of the VPC security
                                          group.</p>
                                      vpcSecurityGroupId:
                                        type: string
                                        description: <p>The VPC security group ID.</p>
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/databaseMigrationServiceReplicationInstances
  : get:
      operationId: DatabaseMigrationServiceReplicationInstances_ListByResourceGroup
      tags:
      - DatabaseMigrationServiceReplicationInstances
      description: List DatabaseMigrationServiceReplicationInstance resources by resource
        group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DatabaseMigrationServiceReplicationInstance
                  list operation.
                properties:
                  value:
                    type: array
                    description: The DatabaseMigrationServiceReplicationInstance items
                      on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allocatedStorage:
                                  type: integer
                                  format: int32
                                  description: <p>The amount of storage (in gigabytes)
                                    that is allocated for the replication instance.</p>
                                autoMinorVersionUpgrade:
                                  type: boolean
                                  description: <p>Boolean value indicating if minor
                                    version upgrades will be automatically applied
                                    to the instance.</p>
                                availabilityZone:
                                  type: string
                                  description: <p>The Availability Zone for the instance.</p>
                                dnsNameServers:
                                  type: string
                                  description: <p>The DNS name servers supported for
                                    the replication instance to access your on-premise
                                    source or target database.</p>
                                engineVersion:
                                  type: string
                                  description: <p>The engine version number of the
                                    replication instance.</p> <p>If an engine version
                                    number is not specified when a replication instance
                                    is created, the default is the latest engine version
                                    available.</p> <p>When modifying a major engine
                                    version of an instance, also set <code>AllowMajorVersionUpgrade</code>
                                    to <code>true</code>.</p>
                                freeUntil:
                                  type: string
                                  format: date-time
                                  description: <p> The expiration date of the free
                                    replication instance that is part of the Free
                                    DMS program. </p>
                                instanceCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>The time the replication instance
                                    was created.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>An KMS key identifier that is used
                                    to encrypt the data on the replication instance.</p>
                                    <p>If you don't specify a value for the <code>KmsKeyId</code>
                                    parameter, then DMS uses your default encryption
                                    key.</p> <p>KMS creates the default encryption
                                    key for your Amazon Web Services account. Your
                                    Amazon Web Services account has a different default
                                    encryption key for each Amazon Web Services Region.</p>
                                multiAZ:
                                  type: boolean
                                  description: <p> Specifies whether the replication
                                    instance is a Multi-AZ deployment. You can't set
                                    the <code>AvailabilityZone</code> parameter if
                                    the Multi-AZ parameter is set to <code>true</code>.
                                    </p>
                                networkType:
                                  type: string
                                  description: <p>The type of IP address protocol
                                    used by a replication instance, such as IPv4 only
                                    or Dual-stack that supports both IPv4 and IPv6
                                    addressing. IPv6 only is not yet supported.</p>
                                pendingModifiedValues:
                                  description: <p>The pending modification values.</p>
                                  type: object
                                  properties:
                                    allocatedStorage:
                                      type: integer
                                      format: int32
                                      description: <p>The amount of storage (in gigabytes)
                                        that is allocated for the replication instance.</p>
                                    engineVersion:
                                      type: string
                                      description: <p>The engine version number of
                                        the replication instance.</p>
                                    multiAZ:
                                      type: boolean
                                      description: <p> Specifies whether the replication
                                        instance is a Multi-AZ deployment. You can't
                                        set the <code>AvailabilityZone</code> parameter
                                        if the Multi-AZ parameter is set to <code>true</code>.
                                        </p>
                                    networkType:
                                      type: string
                                      description: <p>The type of IP address protocol
                                        used by a replication instance, such as IPv4
                                        only or Dual-stack that supports both IPv4
                                        and IPv6 addressing. IPv6 only is not yet
                                        supported.</p>
                                    replicationInstanceClass:
                                      type: string
                                      description: <p>The compute and memory capacity
                                        of the replication instance as defined for
                                        the specified replication instance class.</p>
                                        <p>For more information on the settings and
                                        capacities for the available replication instance
                                        classes, see <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                                        Selecting the right DMS replication instance
                                        for your migration</a>. </p>
                                preferredMaintenanceWindow:
                                  type: string
                                  description: <p>The maintenance window times for
                                    the replication instance. Any pending upgrades
                                    to the replication instance are performed during
                                    this time.</p>
                                publiclyAccessible:
                                  type: boolean
                                  description: <p> Specifies the accessibility options
                                    for the replication instance. A value of <code>true</code>
                                    represents an instance with a public IP address.
                                    A value of <code>false</code> represents an instance
                                    with a private IP address. The default value is
                                    <code>true</code>. </p>
                                replicationInstanceArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the replication instance.</p>
                                replicationInstanceClass:
                                  type: string
                                  description: <p>The compute and memory capacity
                                    of the replication instance as defined for the
                                    specified replication instance class. It is a
                                    required parameter, although a default value is
                                    pre-selected in the DMS console.</p> <p>For more
                                    information on the settings and capacities for
                                    the available replication instance classes, see
                                    <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                                    Selecting the right DMS replication instance for
                                    your migration</a>. </p>
                                replicationInstanceIdentifier:
                                  type: string
                                  description: '<p>The replication instance identifier
                                    is a required parameter. This parameter is stored
                                    as a lowercase string.</p> <p>Constraints:</p>
                                    <ul> <li> <p>Must contain 1-63 alphanumeric characters
                                    or hyphens.</p> </li> <li> <p>First character
                                    must be a letter.</p> </li> <li> <p>Cannot end
                                    with a hyphen or contain two consecutive hyphens.</p>
                                    </li> </ul> <p>Example: <code>myrepinstance</code>
                                    </p>'
                                replicationInstanceIpv6Addresses:
                                  type: array
                                  description: <p>One or more IPv6 addresses for the
                                    replication instance.</p>
                                  items:
                                    type: string
                                replicationInstancePrivateIpAddress:
                                  type: string
                                  description: <p>The private IP address of the replication
                                    instance.</p>
                                replicationInstancePrivateIpAddresses:
                                  type: array
                                  description: <p>One or more private IP addresses
                                    for the replication instance.</p>
                                  items:
                                    type: string
                                replicationInstancePublicIpAddress:
                                  type: string
                                  description: <p>The public IP address of the replication
                                    instance.</p>
                                replicationInstancePublicIpAddresses:
                                  type: array
                                  description: <p>One or more public IP addresses
                                    for the replication instance.</p>
                                  items:
                                    type: string
                                replicationInstanceStatus:
                                  type: string
                                  description: <p>The status of the replication instance.
                                    The possible return values include:</p> <ul> <li>
                                    <p> <code>'available'</code> </p> </li> <li> <p>
                                    <code>'creating'</code> </p> </li> <li> <p> <code>'deleted'</code>
                                    </p> </li> <li> <p> <code>'deleting'</code> </p>
                                    </li> <li> <p> <code>'failed'</code> </p> </li>
                                    <li> <p> <code>'modifying'</code> </p> </li> <li>
                                    <p> <code>'upgrading'</code> </p> </li> <li> <p>
                                    <code>'rebooting'</code> </p> </li> <li> <p> <code>'resetting-master-credentials'</code>
                                    </p> </li> <li> <p> <code>'storage-full'</code>
                                    </p> </li> <li> <p> <code>'incompatible-credentials'</code>
                                    </p> </li> <li> <p> <code>'incompatible-network'</code>
                                    </p> </li> <li> <p> <code>'maintenance'</code>
                                    </p> </li> </ul>
                                replicationSubnetGroup:
                                  description: <p>The subnet group for the replication
                                    instance.</p>
                                  type: object
                                  properties:
                                    replicationSubnetGroupDescription:
                                      type: string
                                      description: <p>A description for the replication
                                        subnet group.</p>
                                    replicationSubnetGroupIdentifier:
                                      type: string
                                      description: <p>The identifier of the replication
                                        instance subnet group.</p>
                                    subnetGroupStatus:
                                      type: string
                                      description: <p>The status of the subnet group.</p>
                                    subnets:
                                      type: array
                                      description: <p>The subnets that are in the
                                        subnet group.</p>
                                      items:
                                        type: object
                                        description: Definition of Subnet
                                        properties:
                                          subnetAvailabilityZone:
                                            description: <p>The Availability Zone
                                              of the subnet.</p>
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                description: <p>The name of the Availability
                                                  Zone.</p>
                                          subnetIdentifier:
                                            type: string
                                            description: <p>The subnet identifier.</p>
                                          subnetStatus:
                                            type: string
                                            description: <p>The status of the subnet.</p>
                                      x-ms-identifiers: []
                                    supportedNetworkTypes:
                                      type: array
                                      description: <p>The IP addressing protocol supported
                                        by the subnet group. This is used by a replication
                                        instance with values such as IPv4 only or
                                        Dual-stack that supports both IPv4 and IPv6
                                        addressing. IPv6 only is not yet supported.</p>
                                      items:
                                        type: string
                                    vpcId:
                                      type: string
                                      description: <p>The ID of the VPC.</p>
                                secondaryAvailabilityZone:
                                  type: string
                                  description: <p>The Availability Zone of the standby
                                    replication instance in a Multi-AZ deployment.</p>
                                vpcSecurityGroups:
                                  type: array
                                  description: <p>The VPC security group for the instance.</p>
                                  items:
                                    type: object
                                    description: Definition of VpcSecurityGroupMembership
                                    properties:
                                      status:
                                        type: string
                                        description: <p>The status of the VPC security
                                          group.</p>
                                      vpcSecurityGroupId:
                                        type: string
                                        description: <p>The VPC security group ID.</p>
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/databaseMigrationServiceReplicationInstances/{name}
  : get:
      operationId: DatabaseMigrationServiceReplicationInstances_Get
      tags:
      - DatabaseMigrationServiceReplicationInstances
      description: Get a DatabaseMigrationServiceReplicationInstance
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of DatabaseMigrationServiceReplicationInstance
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          allocatedStorage:
                            type: integer
                            format: int32
                            description: <p>The amount of storage (in gigabytes) that
                              is allocated for the replication instance.</p>
                          autoMinorVersionUpgrade:
                            type: boolean
                            description: <p>Boolean value indicating if minor version
                              upgrades will be automatically applied to the instance.</p>
                          availabilityZone:
                            type: string
                            description: <p>The Availability Zone for the instance.</p>
                          dnsNameServers:
                            type: string
                            description: <p>The DNS name servers supported for the
                              replication instance to access your on-premise source
                              or target database.</p>
                          engineVersion:
                            type: string
                            description: <p>The engine version number of the replication
                              instance.</p> <p>If an engine version number is not
                              specified when a replication instance is created, the
                              default is the latest engine version available.</p>
                              <p>When modifying a major engine version of an instance,
                              also set <code>AllowMajorVersionUpgrade</code> to <code>true</code>.</p>
                          freeUntil:
                            type: string
                            format: date-time
                            description: <p> The expiration date of the free replication
                              instance that is part of the Free DMS program. </p>
                          instanceCreateTime:
                            type: string
                            format: date-time
                            description: <p>The time the replication instance was
                              created.</p>
                          kmsKeyId:
                            type: string
                            description: <p>An KMS key identifier that is used to
                              encrypt the data on the replication instance.</p> <p>If
                              you don't specify a value for the <code>KmsKeyId</code>
                              parameter, then DMS uses your default encryption key.</p>
                              <p>KMS creates the default encryption key for your Amazon
                              Web Services account. Your Amazon Web Services account
                              has a different default encryption key for each Amazon
                              Web Services Region.</p>
                          multiAZ:
                            type: boolean
                            description: <p> Specifies whether the replication instance
                              is a Multi-AZ deployment. You can't set the <code>AvailabilityZone</code>
                              parameter if the Multi-AZ parameter is set to <code>true</code>.
                              </p>
                          networkType:
                            type: string
                            description: <p>The type of IP address protocol used by
                              a replication instance, such as IPv4 only or Dual-stack
                              that supports both IPv4 and IPv6 addressing. IPv6 only
                              is not yet supported.</p>
                          pendingModifiedValues:
                            description: <p>The pending modification values.</p>
                            type: object
                            properties:
                              allocatedStorage:
                                type: integer
                                format: int32
                                description: <p>The amount of storage (in gigabytes)
                                  that is allocated for the replication instance.</p>
                              engineVersion:
                                type: string
                                description: <p>The engine version number of the replication
                                  instance.</p>
                              multiAZ:
                                type: boolean
                                description: <p> Specifies whether the replication
                                  instance is a Multi-AZ deployment. You can't set
                                  the <code>AvailabilityZone</code> parameter if the
                                  Multi-AZ parameter is set to <code>true</code>.
                                  </p>
                              networkType:
                                type: string
                                description: <p>The type of IP address protocol used
                                  by a replication instance, such as IPv4 only or
                                  Dual-stack that supports both IPv4 and IPv6 addressing.
                                  IPv6 only is not yet supported.</p>
                              replicationInstanceClass:
                                type: string
                                description: <p>The compute and memory capacity of
                                  the replication instance as defined for the specified
                                  replication instance class.</p> <p>For more information
                                  on the settings and capacities for the available
                                  replication instance classes, see <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                                  Selecting the right DMS replication instance for
                                  your migration</a>. </p>
                          preferredMaintenanceWindow:
                            type: string
                            description: <p>The maintenance window times for the replication
                              instance. Any pending upgrades to the replication instance
                              are performed during this time.</p>
                          publiclyAccessible:
                            type: boolean
                            description: <p> Specifies the accessibility options for
                              the replication instance. A value of <code>true</code>
                              represents an instance with a public IP address. A value
                              of <code>false</code> represents an instance with a
                              private IP address. The default value is <code>true</code>.
                              </p>
                          replicationInstanceArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              replication instance.</p>
                          replicationInstanceClass:
                            type: string
                            description: <p>The compute and memory capacity of the
                              replication instance as defined for the specified replication
                              instance class. It is a required parameter, although
                              a default value is pre-selected in the DMS console.</p>
                              <p>For more information on the settings and capacities
                              for the available replication instance classes, see
                              <a href='https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth'>
                              Selecting the right DMS replication instance for your
                              migration</a>. </p>
                          replicationInstanceIdentifier:
                            type: string
                            description: '<p>The replication instance identifier is
                              a required parameter. This parameter is stored as a
                              lowercase string.</p> <p>Constraints:</p> <ul> <li>
                              <p>Must contain 1-63 alphanumeric characters or hyphens.</p>
                              </li> <li> <p>First character must be a letter.</p>
                              </li> <li> <p>Cannot end with a hyphen or contain two
                              consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code>
                              </p>'
                          replicationInstanceIpv6Addresses:
                            type: array
                            description: <p>One or more IPv6 addresses for the replication
                              instance.</p>
                            items:
                              type: string
                          replicationInstancePrivateIpAddress:
                            type: string
                            description: <p>The private IP address of the replication
                              instance.</p>
                          replicationInstancePrivateIpAddresses:
                            type: array
                            description: <p>One or more private IP addresses for the
                              replication instance.</p>
                            items:
                              type: string
                          replicationInstancePublicIpAddress:
                            type: string
                            description: <p>The public IP address of the replication
                              instance.</p>
                          replicationInstancePublicIpAddresses:
                            type: array
                            description: <p>One or more public IP addresses for the
                              replication instance.</p>
                            items:
                              type: string
                          replicationInstanceStatus:
                            type: string
                            description: <p>The status of the replication instance.
                              The possible return values include:</p> <ul> <li> <p>
                              <code>'available'</code> </p> </li> <li> <p> <code>'creating'</code>
                              </p> </li> <li> <p> <code>'deleted'</code> </p> </li>
                              <li> <p> <code>'deleting'</code> </p> </li> <li> <p>
                              <code>'failed'</code> </p> </li> <li> <p> <code>'modifying'</code>
                              </p> </li> <li> <p> <code>'upgrading'</code> </p> </li>
                              <li> <p> <code>'rebooting'</code> </p> </li> <li> <p>
                              <code>'resetting-master-credentials'</code> </p> </li>
                              <li> <p> <code>'storage-full'</code> </p> </li> <li>
                              <p> <code>'incompatible-credentials'</code> </p> </li>
                              <li> <p> <code>'incompatible-network'</code> </p> </li>
                              <li> <p> <code>'maintenance'</code> </p> </li> </ul>
                          replicationSubnetGroup:
                            description: <p>The subnet group for the replication instance.</p>
                            type: object
                            properties:
                              replicationSubnetGroupDescription:
                                type: string
                                description: <p>A description for the replication
                                  subnet group.</p>
                              replicationSubnetGroupIdentifier:
                                type: string
                                description: <p>The identifier of the replication
                                  instance subnet group.</p>
                              subnetGroupStatus:
                                type: string
                                description: <p>The status of the subnet group.</p>
                              subnets:
                                type: array
                                description: <p>The subnets that are in the subnet
                                  group.</p>
                                items:
                                  type: object
                                  description: Definition of Subnet
                                  properties:
                                    subnetAvailabilityZone:
                                      description: <p>The Availability Zone of the
                                        subnet.</p>
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: <p>The name of the Availability
                                            Zone.</p>
                                    subnetIdentifier:
                                      type: string
                                      description: <p>The subnet identifier.</p>
                                    subnetStatus:
                                      type: string
                                      description: <p>The status of the subnet.</p>
                                x-ms-identifiers: []
                              supportedNetworkTypes:
                                type: array
                                description: <p>The IP addressing protocol supported
                                  by the subnet group. This is used by a replication
                                  instance with values such as IPv4 only or Dual-stack
                                  that supports both IPv4 and IPv6 addressing. IPv6
                                  only is not yet supported.</p>
                                items:
                                  type: string
                              vpcId:
                                type: string
                                description: <p>The ID of the VPC.</p>
                          secondaryAvailabilityZone:
                            type: string
                            description: <p>The Availability Zone of the standby replication
                              instance in a Multi-AZ deployment.</p>
                          vpcSecurityGroups:
                            type: array
                            description: <p>The VPC security group for the instance.</p>
                            items:
                              type: object
                              description: Definition of VpcSecurityGroupMembership
                              properties:
                                status:
                                  type: string
                                  description: <p>The status of the VPC security group.</p>
                                vpcSecurityGroupId:
                                  type: string
                                  description: <p>The VPC security group ID.</p>
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: DatabaseMigrationServiceReplicationInstances_CreateOrReplace
      tags:
      - DatabaseMigrationServiceReplicationInstances
      description: Create a DatabaseMigrationServiceReplicationInstance. Please note
        that end user resource creation is currently restricted, but it will be enabled
        in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of DatabaseMigrationServiceReplicationInstance
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        allocatedStorage:
                          type: integer
                          format: int32
                          description: <p>The amount of storage (in gigabytes) that
                            is allocated for the replication instance.</p>
                        autoMinorVersionUpgrade:
                          type: boolean
                          description: <p>Boolean value indicating if minor version
                            upgrades will be automatically applied to the instance.</p>
                        availabilityZone:
                          type: string
                          description: <p>The Availability Zone for the instance.</p>
                        dnsNameServers:
                          type: string
                          description: <p>The DNS name servers supported for the replication
                            instance to access your on-premise source or target database.</p>
                        engineVersion:
                          type: string
                          description: <p>The engine version number of the replication
                            instance.</p> <p>If an engine version number is not specified
                            when a replication instance is created, the default is
                            the latest engine version available.</p> <p>When modifying
                            a major engine version of an instance, also set <code>AllowMajorVersionUpgrade</code>
                            to <code>true</code>.</p>
                        freeUntil:
                          type: string
                          format: date-time
                          description: <p> The expiration date of the free replication
                            instance that is part of the Free DMS program. </p>
                        instanceCreateTime:
                          type: string
                          format: date-time
                          description: <p>The time the replication instance was created.</p>
                        kmsKeyId:
                          type: string
                          description: <p>An KMS key identifier that is used to encrypt
                            the data on the replication instance.</p> <p>If you don't
                            specify a value for the <code>KmsKeyId</code> parameter,
                            then DMS uses your default encryption key.</p> <p>KMS
                            creates the default encryption key for your Amazon Web
                            Services account. Your Amazon Web Services account has
[...]
