openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DaxClusters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/daxClusters:
    get:
      operationId: DaxClusters_ListBySubscription
      tags:
      - DaxClusters
      description: List DaxCluster resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DaxCluster list operation.
                properties:
                  value:
                    type: array
                    description: The DaxCluster items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                activeNodes:
                                  type: integer
                                  format: int32
                                  description: <p>The number of nodes in the cluster
                                    that are active (i.e., capable of serving requests).</p>
                                clusterArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) that
                                    uniquely identifies the cluster. </p>
                                clusterDiscoveryEndpoint:
                                  description: <p>The endpoint for this DAX cluster,
                                    consisting of a DNS name, a port number, and a
                                    URL. Applications should use the URL to configure
                                    the DAX client to find their cluster.</p>
                                  type: object
                                  properties:
                                    address:
                                      type: string
                                      description: <p>The DNS hostname of the endpoint.</p>
                                    port:
                                      type: integer
                                      format: int32
                                      description: <p>The port number that applications
                                        should use to connect to the endpoint.</p>
                                    url:
                                      type: string
                                      description: <p>The URL that applications should
                                        use to connect to the endpoint. The default
                                        ports are 8111 for the 'dax' protocol and
                                        9111 for the 'daxs' protocol.</p>
                                clusterEndpointEncryptionType:
                                  description: <p>The type of encryption supported
                                    by the cluster's endpoint. Values are:</p> <ul>
                                    <li> <p> <code>NONE</code> for no encryption</p>
                                    <p> <code>TLS</code> for Transport Layer Security</p>
                                    </li> </ul>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - NONE
                                      - TLS
                                      x-ms-enum:
                                        name: ClusterEndpointEncryptionType
                                        modelAsString: true
                                        values:
                                        - name: NONE
                                          value: NONE
                                          description: ClusterEndpointEncryptionType
                                            enum NONE
                                        - name: TLS
                                          value: TLS
                                          description: ClusterEndpointEncryptionType
                                            enum TLS
                                clusterName:
                                  type: string
                                  description: <p>The name of the DAX cluster.</p>
                                description:
                                  type: string
                                  description: <p>The description of the cluster.</p>
                                iamRoleArn:
                                  type: string
                                  description: <p>A valid Amazon Resource Name (ARN)
                                    that identifies an IAM role. At runtime, DAX will
                                    assume this role and use the role's permissions
                                    to access DynamoDB on your behalf.</p>
                                nodeIdsToRemove:
                                  type: array
                                  description: <p>A list of nodes to be removed from
                                    the cluster.</p>
                                  items:
                                    type: string
                                nodeType:
                                  type: string
                                  description: <p>The node type for the nodes in the
                                    cluster. (All nodes in a DAX cluster are of the
                                    same type.)</p>
                                nodes:
                                  type: array
                                  description: <p>A list of nodes that are currently
                                    in the cluster.</p>
                                  items:
                                    type: object
                                    description: Definition of Node
                                    properties:
                                      availabilityZone:
                                        type: string
                                        description: <p>The Availability Zone (AZ)
                                          in which the node has been deployed.</p>
                                      endpoint:
                                        description: <p>The endpoint for the node,
                                          consisting of a DNS name and a port number.
                                          Client applications can connect directly
                                          to a node endpoint, if desired (as an alternative
                                          to allowing DAX client software to intelligently
                                          route requests and responses to nodes in
                                          the DAX cluster.</p>
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            description: <p>The DNS hostname of the
                                              endpoint.</p>
                                          port:
                                            type: integer
                                            format: int32
                                            description: <p>The port number that applications
                                              should use to connect to the endpoint.</p>
                                          url:
                                            type: string
                                            description: <p>The URL that applications
                                              should use to connect to the endpoint.
                                              The default ports are 8111 for the 'dax'
                                              protocol and 9111 for the 'daxs' protocol.</p>
                                      nodeCreateTime:
                                        type: string
                                        format: date-time
                                        description: <p>The date and time (in UNIX
                                          epoch format) when the node was launched.</p>
                                      nodeId:
                                        type: string
                                        description: <p>A system-generated identifier
                                          for the node.</p>
                                      nodeStatus:
                                        type: string
                                        description: '<p>The current status of the
                                          node. For example: <code>available</code>.</p>'
                                      parameterGroupStatus:
                                        type: string
                                        description: <p>The status of the parameter
                                          group associated with this node. For example,
                                          <code>in-sync</code>.</p>
                                  x-ms-identifiers: []
                                notificationConfiguration:
                                  description: <p>Describes a notification topic and
                                    its status. Notification topics are used for publishing
                                    DAX events to subscribers using Amazon Simple
                                    Notification Service (SNS).</p>
                                  type: object
                                  properties:
                                    topicArn:
                                      type: string
                                      description: <p>The Amazon Resource Name (ARN)
                                        that identifies the topic. </p>
                                    topicStatus:
                                      type: string
                                      description: "<p>The current state of the topic.\
                                        \ A value of \u201Cactive\u201D means that\
                                        \ notifications will be sent to the topic.\
                                        \ A value of \u201Cinactive\u201D means that\
                                        \ notifications will not be sent to the topic.</p>"
                                parameterGroup:
                                  description: <p>The parameter group being used by
                                    nodes in the cluster.</p>
                                  type: object
                                  properties:
                                    nodeIdsToReboot:
                                      type: array
                                      description: <p>The node IDs of one or more
                                        nodes to be rebooted.</p>
                                      items:
                                        type: string
                                    parameterApplyStatus:
                                      type: string
                                      description: <p>The status of parameter updates.
                                        </p>
                                    parameterGroupName:
                                      type: string
                                      description: <p>The name of the parameter group.</p>
                                preferredMaintenanceWindow:
                                  type: string
                                  description: '<p>A range of time when maintenance
                                    of DAX cluster software will be performed. For
                                    example: <code>sun:01:00-sun:09:00</code>. Cluster
                                    maintenance normally takes less than 30 minutes,
                                    and is performed automatically within the maintenance
                                    window.</p>'
                                sseDescription:
                                  description: <p>The description of the server-side
                                    encryption status on the specified DAX cluster.</p>
                                  type: object
                                  properties:
                                    status:
                                      description: <p>The current state of server-side
                                        encryption:</p> <ul> <li> <p> <code>ENABLING</code>
                                        - Server-side encryption is being enabled.</p>
                                        </li> <li> <p> <code>ENABLED</code> - Server-side
                                        encryption is enabled.</p> </li> <li> <p>
                                        <code>DISABLING</code> - Server-side encryption
                                        is being disabled.</p> </li> <li> <p> <code>DISABLED</code>
                                        - Server-side encryption is disabled.</p>
                                        </li> </ul>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - DISABLED
                                          - DISABLING
                                          - ENABLED
                                          - ENABLING
                                          x-ms-enum:
                                            name: SSEStatus
                                            modelAsString: true
                                            values:
                                            - name: DISABLED
                                              value: DISABLED
                                              description: SSEStatus enum DISABLED
                                            - name: DISABLING
                                              value: DISABLING
                                              description: SSEStatus enum DISABLING
                                            - name: ENABLED
                                              value: ENABLED
                                              description: SSEStatus enum ENABLED
                                            - name: ENABLING
                                              value: ENABLING
                                              description: SSEStatus enum ENABLING
                                securityGroups:
                                  type: array
                                  description: <p>A list of security groups, and the
                                    status of each, for the nodes in the cluster.</p>
                                  items:
                                    type: object
                                    description: Definition of SecurityGroupMembership
                                    properties:
                                      securityGroupIdentifier:
                                        type: string
                                        description: <p>The unique ID for this security
                                          group.</p>
                                      status:
                                        type: string
                                        description: <p>The status of this security
                                          group.</p>
                                  x-ms-identifiers: []
                                status:
                                  type: string
                                  description: <p>The current status of the cluster.</p>
                                subnetGroup:
                                  type: string
                                  description: <p>The subnet group where the DAX cluster
                                    is running.</p>
                                totalNodes:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of nodes in the
                                    cluster.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/daxClusters:
    get:
      operationId: DaxClusters_ListByResourceGroup
      tags:
      - DaxClusters
      description: List DaxCluster resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DaxCluster list operation.
                properties:
                  value:
                    type: array
                    description: The DaxCluster items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                activeNodes:
                                  type: integer
                                  format: int32
                                  description: <p>The number of nodes in the cluster
                                    that are active (i.e., capable of serving requests).</p>
                                clusterArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) that
                                    uniquely identifies the cluster. </p>
                                clusterDiscoveryEndpoint:
                                  description: <p>The endpoint for this DAX cluster,
                                    consisting of a DNS name, a port number, and a
                                    URL. Applications should use the URL to configure
                                    the DAX client to find their cluster.</p>
                                  type: object
                                  properties:
                                    address:
                                      type: string
                                      description: <p>The DNS hostname of the endpoint.</p>
                                    port:
                                      type: integer
                                      format: int32
                                      description: <p>The port number that applications
                                        should use to connect to the endpoint.</p>
                                    url:
                                      type: string
                                      description: <p>The URL that applications should
                                        use to connect to the endpoint. The default
                                        ports are 8111 for the 'dax' protocol and
                                        9111 for the 'daxs' protocol.</p>
                                clusterEndpointEncryptionType:
                                  description: <p>The type of encryption supported
                                    by the cluster's endpoint. Values are:</p> <ul>
                                    <li> <p> <code>NONE</code> for no encryption</p>
                                    <p> <code>TLS</code> for Transport Layer Security</p>
                                    </li> </ul>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - NONE
                                      - TLS
                                      x-ms-enum:
                                        name: ClusterEndpointEncryptionType
                                        modelAsString: true
                                        values:
                                        - name: NONE
                                          value: NONE
                                          description: ClusterEndpointEncryptionType
                                            enum NONE
                                        - name: TLS
                                          value: TLS
                                          description: ClusterEndpointEncryptionType
                                            enum TLS
                                clusterName:
                                  type: string
                                  description: <p>The name of the DAX cluster.</p>
                                description:
                                  type: string
                                  description: <p>The description of the cluster.</p>
                                iamRoleArn:
                                  type: string
                                  description: <p>A valid Amazon Resource Name (ARN)
                                    that identifies an IAM role. At runtime, DAX will
                                    assume this role and use the role's permissions
                                    to access DynamoDB on your behalf.</p>
                                nodeIdsToRemove:
                                  type: array
                                  description: <p>A list of nodes to be removed from
                                    the cluster.</p>
                                  items:
                                    type: string
                                nodeType:
                                  type: string
                                  description: <p>The node type for the nodes in the
                                    cluster. (All nodes in a DAX cluster are of the
                                    same type.)</p>
                                nodes:
                                  type: array
                                  description: <p>A list of nodes that are currently
                                    in the cluster.</p>
                                  items:
                                    type: object
                                    description: Definition of Node
                                    properties:
                                      availabilityZone:
                                        type: string
                                        description: <p>The Availability Zone (AZ)
                                          in which the node has been deployed.</p>
                                      endpoint:
                                        description: <p>The endpoint for the node,
                                          consisting of a DNS name and a port number.
                                          Client applications can connect directly
                                          to a node endpoint, if desired (as an alternative
                                          to allowing DAX client software to intelligently
                                          route requests and responses to nodes in
                                          the DAX cluster.</p>
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            description: <p>The DNS hostname of the
                                              endpoint.</p>
                                          port:
                                            type: integer
                                            format: int32
                                            description: <p>The port number that applications
                                              should use to connect to the endpoint.</p>
                                          url:
                                            type: string
                                            description: <p>The URL that applications
                                              should use to connect to the endpoint.
                                              The default ports are 8111 for the 'dax'
                                              protocol and 9111 for the 'daxs' protocol.</p>
                                      nodeCreateTime:
                                        type: string
                                        format: date-time
                                        description: <p>The date and time (in UNIX
                                          epoch format) when the node was launched.</p>
                                      nodeId:
                                        type: string
                                        description: <p>A system-generated identifier
                                          for the node.</p>
                                      nodeStatus:
                                        type: string
                                        description: '<p>The current status of the
                                          node. For example: <code>available</code>.</p>'
                                      parameterGroupStatus:
                                        type: string
                                        description: <p>The status of the parameter
                                          group associated with this node. For example,
                                          <code>in-sync</code>.</p>
                                  x-ms-identifiers: []
                                notificationConfiguration:
                                  description: <p>Describes a notification topic and
                                    its status. Notification topics are used for publishing
                                    DAX events to subscribers using Amazon Simple
                                    Notification Service (SNS).</p>
                                  type: object
                                  properties:
                                    topicArn:
                                      type: string
                                      description: <p>The Amazon Resource Name (ARN)
                                        that identifies the topic. </p>
                                    topicStatus:
                                      type: string
                                      description: "<p>The current state of the topic.\
                                        \ A value of \u201Cactive\u201D means that\
                                        \ notifications will be sent to the topic.\
                                        \ A value of \u201Cinactive\u201D means that\
                                        \ notifications will not be sent to the topic.</p>"
                                parameterGroup:
                                  description: <p>The parameter group being used by
                                    nodes in the cluster.</p>
                                  type: object
                                  properties:
                                    nodeIdsToReboot:
                                      type: array
                                      description: <p>The node IDs of one or more
                                        nodes to be rebooted.</p>
                                      items:
                                        type: string
                                    parameterApplyStatus:
                                      type: string
                                      description: <p>The status of parameter updates.
                                        </p>
                                    parameterGroupName:
                                      type: string
                                      description: <p>The name of the parameter group.</p>
                                preferredMaintenanceWindow:
                                  type: string
                                  description: '<p>A range of time when maintenance
                                    of DAX cluster software will be performed. For
                                    example: <code>sun:01:00-sun:09:00</code>. Cluster
                                    maintenance normally takes less than 30 minutes,
                                    and is performed automatically within the maintenance
                                    window.</p>'
                                sseDescription:
                                  description: <p>The description of the server-side
                                    encryption status on the specified DAX cluster.</p>
                                  type: object
                                  properties:
                                    status:
                                      description: <p>The current state of server-side
                                        encryption:</p> <ul> <li> <p> <code>ENABLING</code>
                                        - Server-side encryption is being enabled.</p>
                                        </li> <li> <p> <code>ENABLED</code> - Server-side
                                        encryption is enabled.</p> </li> <li> <p>
                                        <code>DISABLING</code> - Server-side encryption
                                        is being disabled.</p> </li> <li> <p> <code>DISABLED</code>
                                        - Server-side encryption is disabled.</p>
                                        </li> </ul>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - DISABLED
                                          - DISABLING
                                          - ENABLED
                                          - ENABLING
                                          x-ms-enum:
                                            name: SSEStatus
                                            modelAsString: true
                                            values:
                                            - name: DISABLED
                                              value: DISABLED
                                              description: SSEStatus enum DISABLED
                                            - name: DISABLING
                                              value: DISABLING
                                              description: SSEStatus enum DISABLING
                                            - name: ENABLED
                                              value: ENABLED
                                              description: SSEStatus enum ENABLED
                                            - name: ENABLING
                                              value: ENABLING
                                              description: SSEStatus enum ENABLING
                                securityGroups:
                                  type: array
                                  description: <p>A list of security groups, and the
                                    status of each, for the nodes in the cluster.</p>
                                  items:
                                    type: object
                                    description: Definition of SecurityGroupMembership
                                    properties:
                                      securityGroupIdentifier:
                                        type: string
                                        description: <p>The unique ID for this security
                                          group.</p>
                                      status:
                                        type: string
                                        description: <p>The status of this security
                                          group.</p>
                                  x-ms-identifiers: []
                                status:
                                  type: string
                                  description: <p>The current status of the cluster.</p>
                                subnetGroup:
                                  type: string
                                  description: <p>The subnet group where the DAX cluster
                                    is running.</p>
                                totalNodes:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of nodes in the
                                    cluster.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/daxClusters/{name}:
    get:
      operationId: DaxClusters_Get
      tags:
      - DaxClusters
      description: Get a DaxCluster
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of DaxCluster
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          activeNodes:
                            type: integer
                            format: int32
                            description: <p>The number of nodes in the cluster that
                              are active (i.e., capable of serving requests).</p>
                          clusterArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) that uniquely
                              identifies the cluster. </p>
                          clusterDiscoveryEndpoint:
                            description: <p>The endpoint for this DAX cluster, consisting
                              of a DNS name, a port number, and a URL. Applications
                              should use the URL to configure the DAX client to find
                              their cluster.</p>
                            type: object
                            properties:
                              address:
                                type: string
                                description: <p>The DNS hostname of the endpoint.</p>
                              port:
                                type: integer
                                format: int32
                                description: <p>The port number that applications
                                  should use to connect to the endpoint.</p>
                              url:
                                type: string
                                description: <p>The URL that applications should use
                                  to connect to the endpoint. The default ports are
                                  8111 for the 'dax' protocol and 9111 for the 'daxs'
                                  protocol.</p>
                          clusterEndpointEncryptionType:
                            description: <p>The type of encryption supported by the
                              cluster's endpoint. Values are:</p> <ul> <li> <p> <code>NONE</code>
                              for no encryption</p> <p> <code>TLS</code> for Transport
                              Layer Security</p> </li> </ul>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - NONE
                                - TLS
                                x-ms-enum:
                                  name: ClusterEndpointEncryptionType
                                  modelAsString: true
                                  values:
                                  - name: NONE
                                    value: NONE
                                    description: ClusterEndpointEncryptionType enum
                                      NONE
                                  - name: TLS
                                    value: TLS
                                    description: ClusterEndpointEncryptionType enum
                                      TLS
                          clusterName:
                            type: string
                            description: <p>The name of the DAX cluster.</p>
                          description:
                            type: string
                            description: <p>The description of the cluster.</p>
                          iamRoleArn:
                            type: string
                            description: <p>A valid Amazon Resource Name (ARN) that
                              identifies an IAM role. At runtime, DAX will assume
                              this role and use the role's permissions to access DynamoDB
                              on your behalf.</p>
                          nodeIdsToRemove:
                            type: array
                            description: <p>A list of nodes to be removed from the
                              cluster.</p>
                            items:
                              type: string
                          nodeType:
                            type: string
                            description: <p>The node type for the nodes in the cluster.
                              (All nodes in a DAX cluster are of the same type.)</p>
                          nodes:
                            type: array
                            description: <p>A list of nodes that are currently in
                              the cluster.</p>
                            items:
                              type: object
                              description: Definition of Node
                              properties:
                                availabilityZone:
                                  type: string
                                  description: <p>The Availability Zone (AZ) in which
                                    the node has been deployed.</p>
                                endpoint:
                                  description: <p>The endpoint for the node, consisting
                                    of a DNS name and a port number. Client applications
                                    can connect directly to a node endpoint, if desired
                                    (as an alternative to allowing DAX client software
                                    to intelligently route requests and responses
                                    to nodes in the DAX cluster.</p>
                                  type: object
                                  properties:
                                    address:
                                      type: string
                                      description: <p>The DNS hostname of the endpoint.</p>
                                    port:
                                      type: integer
                                      format: int32
                                      description: <p>The port number that applications
                                        should use to connect to the endpoint.</p>
                                    url:
                                      type: string
                                      description: <p>The URL that applications should
                                        use to connect to the endpoint. The default
                                        ports are 8111 for the 'dax' protocol and
                                        9111 for the 'daxs' protocol.</p>
                                nodeCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time (in UNIX epoch
                                    format) when the node was launched.</p>
                                nodeId:
                                  type: string
                                  description: <p>A system-generated identifier for
                                    the node.</p>
                                nodeStatus:
                                  type: string
                                  description: '<p>The current status of the node.
                                    For example: <code>available</code>.</p>'
                                parameterGroupStatus:
                                  type: string
                                  description: <p>The status of the parameter group
                                    associated with this node. For example, <code>in-sync</code>.</p>
                            x-ms-identifiers: []
                          notificationConfiguration:
                            description: <p>Describes a notification topic and its
                              status. Notification topics are used for publishing
                              DAX events to subscribers using Amazon Simple Notification
                              Service (SNS).</p>
                            type: object
                            properties:
                              topicArn:
                                type: string
                                description: <p>The Amazon Resource Name (ARN) that
                                  identifies the topic. </p>
                              topicStatus:
                                type: string
                                description: "<p>The current state of the topic. A\
                                  \ value of \u201Cactive\u201D means that notifications\
                                  \ will be sent to the topic. A value of \u201Cinactive\u201D\
                                  \ means that notifications will not be sent to the\
                                  \ topic.</p>"
                          parameterGroup:
                            description: <p>The parameter group being used by nodes
                              in the cluster.</p>
                            type: object
                            properties:
                              nodeIdsToReboot:
                                type: array
                                description: <p>The node IDs of one or more nodes
                                  to be rebooted.</p>
                                items:
                                  type: string
                              parameterApplyStatus:
                                type: string
                                description: <p>The status of parameter updates. </p>
                              parameterGroupName:
                                type: string
                                description: <p>The name of the parameter group.</p>
                          preferredMaintenanceWindow:
                            type: string
                            description: '<p>A range of time when maintenance of DAX
                              cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>.
                              Cluster maintenance normally takes less than 30 minutes,
                              and is performed automatically within the maintenance
                              window.</p>'
                          sseDescription:
                            description: <p>The description of the server-side encryption
                              status on the specified DAX cluster.</p>
                            type: object
                            properties:
                              status:
                                description: <p>The current state of server-side encryption:</p>
                                  <ul> <li> <p> <code>ENABLING</code> - Server-side
                                  encryption is being enabled.</p> </li> <li> <p>
                                  <code>ENABLED</code> - Server-side encryption is
                                  enabled.</p> </li> <li> <p> <code>DISABLING</code>
                                  - Server-side encryption is being disabled.</p>
                                  </li> <li> <p> <code>DISABLED</code> - Server-side
                                  encryption is disabled.</p> </li> </ul>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - DISABLED
                                    - DISABLING
                                    - ENABLED
                                    - ENABLING
                                    x-ms-enum:
                                      name: SSEStatus
                                      modelAsString: true
                                      values:
                                      - name: DISABLED
                                        value: DISABLED
                                        description: SSEStatus enum DISABLED
                                      - name: DISABLING
                                        value: DISABLING
                                        description: SSEStatus enum DISABLING
                                      - name: ENABLED
                                        value: ENABLED
                                        description: SSEStatus enum ENABLED
                                      - name: ENABLING
                                        value: ENABLING
                                        description: SSEStatus enum ENABLING
                          securityGroups:
                            type: array
                            description: <p>A list of security groups, and the status
                              of each, for the nodes in the cluster.</p>
                            items:
                              type: object
                              description: Definition of SecurityGroupMembership
                              properties:
                                securityGroupIdentifier:
                                  type: string
                                  description: <p>The unique ID for this security
                                    group.</p>
                                status:
                                  type: string
                                  description: <p>The status of this security group.</p>
                            x-ms-identifiers: []
                          status:
                            type: string
                            description: <p>The current status of the cluster.</p>
                          subnetGroup:
                            type: string
                            description: <p>The subnet group where the DAX cluster
                              is running.</p>
                          totalNodes:
                            type: integer
                            format: int32
                            description: <p>The total number of nodes in the cluster.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: DaxClusters_CreateOrReplace
      tags:
      - DaxClusters
      description: Create a DaxCluster. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of DaxCluster
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        activeNodes:
                          type: integer
                          format: int32
                          description: <p>The number of nodes in the cluster that
                            are active (i.e., capable of serving requests).</p>
                        clusterArn:
                          type: string
                          description: <p>The Amazon Resource Name (ARN) that uniquely
                            identifies the cluster. </p>
                        clusterDiscoveryEndpoint:
                          description: <p>The endpoint for this DAX cluster, consisting
                            of a DNS name, a port number, and a URL. Applications
                            should use the URL to configure the DAX client to find
                            their cluster.</p>
                          type: object
                          properties:
                            address:
                              type: string
                              description: <p>The DNS hostname of the endpoint.</p>
                            port:
                              type: integer
                              format: int32
                              description: <p>The port number that applications should
                                use to connect to the endpoint.</p>
                            url:
                              type: string
                              description: <p>The URL that applications should use
                                to connect to the endpoint. The default ports are
                                8111 for the 'dax' protocol and 9111 for the 'daxs'
                                protocol.</p>
                        clusterEndpointEncryptionType:
                          description: <p>The type of encryption supported by the
                            cluster's endpoint. Values are:</p> <ul> <li> <p> <code>NONE</code>
                            for no encryption</p> <p> <code>TLS</code> for Transport
                            Layer Security</p> </li> </ul>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - NONE
                              - TLS
                              x-ms-enum:
                                name: ClusterEndpointEncryptionType
                                modelAsString: true
                                values:
                                - name: NONE
                                  value: NONE
                                  description: ClusterEndpointEncryptionType enum
                                    NONE
                                - name: TLS
                                  value: TLS
                                  description: ClusterEndpointEncryptionType enum
                                    TLS
                        clusterName:
                          type: string
                          description: <p>The name of the DAX cluster.</p>
                        description:
                          type: string
                          description: <p>The description of the cluster.</p>
                        iamRoleArn:
                          type: string
                          description: <p>A valid Amazon Resource Name (ARN) that
                            identifies an IAM role. At runtime, DAX will assume this
                            role and use the role's permissions to access DynamoDB
                            on your behalf.</p>
                        nodeIdsToRemove:
                          type: array
                          description: <p>A list of nodes to be removed from the cluster.</p>
                          items:
                            type: string
                        nodeType:
                          type: string
                          description: <p>The node type for the nodes in the cluster.
                            (All nodes in a DAX cluster are of the same type.)</p>
                        nodes:
                          type: array
                          description: <p>A list of nodes that are currently in the
                            cluster.</p>
                          items:
                            type: object
                            description: Definition of Node
                            properties:
                              availabilityZone:
                                type: string
                                description: <p>The Availability Zone (AZ) in which
                                  the node has been deployed.</p>
                              endpoint:
                                description: <p>The endpoint for the node, consisting
                                  of a DNS name and a port number. Client applications
                                  can connect directly to a node endpoint, if desired
                                  (as an alternative to allowing DAX client software
                                  to intelligently route requests and responses to
                                  nodes in the DAX cluster.</p>
                                type: object
                                properties:
                                  address:
                                    type: string
                                    description: <p>The DNS hostname of the endpoint.</p>
                                  port:
                                    type: integer
                                    format: int32
                                    description: <p>The port number that applications
                                      should use to connect to the endpoint.</p>
                                  url:
                                    type: string
                                    description: <p>The URL that applications should
                                      use to connect to the endpoint. The default
                                      ports are 8111 for the 'dax' protocol and 9111
                                      for the 'daxs' protocol.</p>
                              nodeCreateTime:
                                type: string
                                format: date-time
                                description: <p>The date and time (in UNIX epoch format)
                                  when the node was launched.</p>
                              nodeId:
                                type: string
                                description: <p>A system-generated identifier for
                                  the node.</p>
                              nodeStatus:
                                type: string
                                description: '<p>The current status of the node. For
                                  example: <code>available</code>.</p>'
                              parameterGroupStatus:
                                type: string
                                description: <p>The status of the parameter group
                                  associated with this node. For example, <code>in-sync</code>.</p>
                          x-ms-identifiers: []
                        notificationConfiguration:
                          description: <p>Describes a notification topic and its status.
                            Notification topics are used for publishing DAX events
[...]
