openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DynamoDBTables
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/dynamoDBTables:
    get:
      operationId: DynamoDbTables_ListBySubscription
      tags:
      - DynamoDBTables
      description: List DynamoDBTable resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DynamoDBTable list operation.
                properties:
                  value:
                    type: array
                    description: The DynamoDBTable items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                attributeDefinitions:
                                  type: array
                                  description: 'A list of attributes that describe
                                    the key schema for the table and indexes. This
                                    property is required to create a DDB table. Update
                                    requires: [Some interruptions](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html#update-some-interrupt).
                                    Replacement if you edit an existing AttributeDefinition.'
                                  items:
                                    type: object
                                    description: Definition of AttributeDefinition
                                    properties:
                                      attributeName:
                                        type: string
                                        description: A name for the attribute.
                                      attributeType:
                                        type: string
                                        description: 'The data type for the attribute,
                                          where:  +   ``S`` - the attribute is of
                                          type String  +   ``N`` - the attribute is
                                          of type Number  +   ``B`` - the attribute
                                          is of type Binary'
                                  x-ms-identifiers: []
                                billingMode:
                                  type: string
                                  description: 'Specify how you are charged for read
                                    and write throughput and how you manage capacity.
                                    Valid values include:  +   ``PROVISIONED`` - We
                                    recommend using ``PROVISIONED`` for predictable
                                    workloads. ``PROVISIONED`` sets the billing mode
                                    to [Provisioned Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.ProvisionedThroughput.Manual).  +   ``PAY_PER_REQUEST``
                                    - We recommend using ``PAY_PER_REQUEST`` for unpredictable
                                    workloads. ``PAY_PER_REQUEST`` sets the billing
                                    mode to [On-Demand Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.OnDemand).   If
                                    not specified, the default is ``PROVISIONED``.'
                                contributorInsightsSpecification:
                                  description: The settings used to enable or disable
                                    CloudWatch Contributor Insights for the specified
                                    table. The settings used to enable or disable
                                    CloudWatch Contributor Insights.
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Indicates whether CloudWatch Contributor
                                        Insights are to be enabled (true) or disabled
                                        (false).
                                deletionProtectionEnabled:
                                  type: boolean
                                  description: Determines if a table is protected
                                    from deletion. When enabled, the table cannot
                                    be deleted by any user or process. This setting
                                    is disabled by default. For more information,
                                    see [Using deletion protection](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.Basics.html#WorkingWithTables.Basics.DeletionProtection)
                                    in the *Developer Guide*.
                                globalSecondaryIndexes:
                                  type: array
                                  description: 'Global secondary indexes to be created
                                    on the table. You can create up to 20 global secondary
                                    indexes.  If you update a table to include a new
                                    global secondary index, CFNlong initiates the
                                    index creation and then proceeds with the stack
                                    update. CFNlong doesn''t wait for the index to
                                    complete creation because the backfilling phase
                                    can take a long time, depending on the size of
                                    the table. You can''t use the index or update
                                    the table until the index''s status is ``ACTIVE``.
                                    You can track its status by using the DynamoDB
                                    [DescribeTable](https://docs.aws.amazon.com/cli/latest/reference/dynamodb/describe-table.html)
                                    command. If you add or delete an index during
                                    an update, we recommend that you don''t update
                                    any other resources. If your stack fails to update
                                    and is rolled back while adding a new index, you
                                    must manually delete the index.  Updates are not
                                    supported. The following are exceptions:  +  If
                                    you update either the contributor insights specification
                                    or the provisioned throughput values of global
                                    secondary indexes, you can update the table without
                                    interruption.  +  You can delete or add one global
                                    secondary index without interruption. If you do
                                    both in the same update (for example, by changing
                                    the index''s logical ID), the update fails.'
                                  items:
                                    type: object
                                    description: Definition of GlobalSecondaryIndex
                                    properties:
                                      contributorInsightsSpecification:
                                        description: The settings used to enable or
                                          disable CloudWatch Contributor Insights
                                          for the specified global secondary index.
                                          The settings used to enable or disable CloudWatch
                                          Contributor Insights.
                                        type: object
                                        properties:
                                          enabled:
                                            type: boolean
                                            description: Indicates whether CloudWatch
                                              Contributor Insights are to be enabled
                                              (true) or disabled (false).
                                      indexName:
                                        type: string
                                        description: The name of the global secondary
                                          index. The name must be unique among all
                                          other indexes on this table.
                                      keySchema:
                                        type: array
                                        description: 'The complete key schema for
                                          a global secondary index, which consists
                                          of one or more pairs of attribute names
                                          and key types:  +   ``HASH`` - partition
                                          key  +   ``RANGE`` - sort key    The partition
                                          key of an item is also known as its *hash
                                          attribute*. The term ''hash attribute''
                                          derives from DynamoDB''s usage of an internal
                                          hash function to evenly distribute data
                                          items across partitions, based on their
                                          partition key values. The sort key of an
                                          item is also known as its *range attribute*.
                                          The term ''range attribute'' derives from
                                          the way DynamoDB stores items with the same
                                          partition key physically close together,
                                          in sorted order by the sort key value.'
                                        items:
                                          type: object
                                          description: Definition of KeySchema
                                          properties:
                                            attributeName:
                                              type: string
                                              description: The name of a key attribute.
                                            keyType:
                                              type: string
                                              description: 'The role that this key
                                                attribute will assume:  +   ``HASH``
                                                - partition key  +   ``RANGE`` - sort
                                                key    The partition key of an item
                                                is also known as its *hash attribute*.
                                                The term ''hash attribute'' derives
                                                from DynamoDB''s usage of an internal
                                                hash function to evenly distribute
                                                data items across partitions, based
                                                on their partition key values. The
                                                sort key of an item is also known
                                                as its *range attribute*. The term
                                                ''range attribute'' derives from the
                                                way DynamoDB stores items with the
                                                same partition key physically close
                                                together, in sorted order by the sort
                                                key value.'
                                        x-ms-identifiers: []
                                      projection:
                                        description: Represents attributes that are
                                          copied (projected) from the table into the
                                          global secondary index. These are in addition
                                          to the primary key attributes and index
                                          key attributes, which are automatically
                                          projected. Represents attributes that are
                                          copied (projected) from the table into an
                                          index. These are in addition to the primary
                                          key attributes and index key attributes,
                                          which are automatically projected.
                                        type: object
                                        properties:
                                          nonKeyAttributes:
                                            type: array
                                            description: Represents the non-key attribute
                                              names which will be projected into the
                                              index. For local secondary indexes,
                                              the total count of ``NonKeyAttributes``
                                              summed across all of the local secondary
                                              indexes, must not exceed 100. If you
                                              project the same attribute into two
                                              different indexes, this counts as two
                                              distinct attributes when determining
                                              the total.
                                            items:
                                              type: string
                                          projectionType:
                                            type: string
                                            description: 'The set of attributes that
                                              are projected into the index:  +   ``KEYS_ONLY``
                                              - Only the index and primary keys are
                                              projected into the index.  +   ``INCLUDE``
                                              - In addition to the attributes described
                                              in ``KEYS_ONLY``, the secondary index
                                              will include other non-key attributes
                                              that you specify.  +   ``ALL`` - All
                                              of the table attributes are projected
                                              into the index.   When using the DynamoDB
                                              console, ``ALL`` is selected by default.'
                                      provisionedThroughput:
                                        description: Represents the provisioned throughput
                                          settings for the specified global secondary
                                          index. For current minimum and maximum provisioned
                                          throughput values, see [Service, Account,
                                          and Table Quotas](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html)
                                          in the *Amazon DynamoDB Developer Guide*.
                                          Throughput for the specified table, which
                                          consists of values for ``ReadCapacityUnits``
                                          and ``WriteCapacityUnits``. For more information
                                          about the contents of a provisioned throughput
                                          structure, see [Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html).
                                        type: object
                                        properties:
                                          readCapacityUnits:
                                            type: integer
                                            format: int32
                                            description: The maximum number of strongly
                                              consistent reads consumed per second
                                              before DynamoDB returns a ``ThrottlingException``.
                                              For more information, see [Specifying
                                              Read and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                              in the *Amazon DynamoDB Developer Guide*.
                                              If read/write capacity mode is ``PAY_PER_REQUEST``
                                              the value is set to 0.
                                          writeCapacityUnits:
                                            type: integer
                                            format: int32
                                            description: The maximum number of writes
                                              consumed per second before DynamoDB
                                              returns a ``ThrottlingException``. For
                                              more information, see [Specifying Read
                                              and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                              in the *Amazon DynamoDB Developer Guide*.
                                              If read/write capacity mode is ``PAY_PER_REQUEST``
                                              the value is set to 0.
                                  x-ms-identifiers: []
                                importSourceSpecification:
                                  description: Specifies the properties of data being
                                    imported from the S3 bucket source to the table.  If
                                    you specify the ``ImportSourceSpecification``
                                    property, and also specify either the ``StreamSpecification``,
                                    the ``TableClass`` property, or the ``DeletionProtectionEnabled``
                                    property, the IAM entity creating/updating stack
                                    must have ``UpdateTable`` permission. Specifies
                                    the properties of data being imported from the
                                    S3 bucket source to the table.
                                  type: object
                                  properties:
                                    inputCompressionType:
                                      type: string
                                      description: Type of compression to be used
                                        on the input coming from the imported table.
                                    inputFormat:
                                      type: string
                                      description: The format of the source data.
                                        Valid values for ``ImportFormat`` are ``CSV``,
                                        ``DYNAMODB_JSON`` or ``ION``.
                                    inputFormatOptions:
                                      description: Additional properties that specify
                                        how the input is formatted, The format options
                                        for the data that was imported into the target
                                        table. There is one value, CsvOption.
                                      type: object
                                      properties:
                                        csv:
                                          description: The options for imported source
                                            files in CSV format. The values are Delimiter
                                            and HeaderList. The options for imported
                                            source files in CSV format. The values
                                            are Delimiter and HeaderList.
                                          type: object
                                          properties:
                                            delimiter:
                                              type: string
                                              description: The delimiter used for
                                                separating items in the CSV file being
                                                imported.
                                            headerList:
                                              type: array
                                              description: List of the headers used
                                                to specify a common header for all
                                                source CSV files being imported. If
                                                this field is specified then the first
                                                line of each CSV file is treated as
                                                data instead of the header. If this
                                                field is not specified the the first
                                                line of each CSV file is treated as
                                                the header.
                                              items:
                                                type: string
                                    s3BucketSource:
                                      description: The S3 bucket that provides the
                                        source for the import. The S3 bucket that
                                        is being imported from.
                                      type: object
                                      properties:
                                        s3Bucket:
                                          type: string
                                          description: The S3 bucket that is being
                                            imported from.
                                        s3BucketOwner:
                                          type: string
                                          description: The account number of the S3
                                            bucket that is being imported from. If
                                            the bucket is owned by the requester this
                                            is optional.
                                        s3KeyPrefix:
                                          type: string
                                          description: The key prefix shared by all
                                            S3 Objects that are being imported.
                                keySchema:
                                  type: array
                                  description: Specifies the attributes that make
                                    up the primary key for the table. The attributes
                                    in the ``KeySchema`` property must also be defined
                                    in the ``AttributeDefinitions`` property.
                                  items:
                                    type: object
                                    description: Definition of KeySchema
                                    properties:
                                      attributeName:
                                        type: string
                                        description: The name of a key attribute.
                                      keyType:
                                        type: string
                                        description: 'The role that this key attribute
                                          will assume:  +   ``HASH`` - partition key  +   ``RANGE``
                                          - sort key    The partition key of an item
                                          is also known as its *hash attribute*. The
                                          term ''hash attribute'' derives from DynamoDB''s
                                          usage of an internal hash function to evenly
                                          distribute data items across partitions,
                                          based on their partition key values. The
                                          sort key of an item is also known as its
                                          *range attribute*. The term ''range attribute''
                                          derives from the way DynamoDB stores items
                                          with the same partition key physically close
                                          together, in sorted order by the sort key
                                          value.'
                                  x-ms-identifiers: []
                                kinesisStreamSpecification:
                                  description: The Kinesis Data Streams configuration
                                    for the specified table. The Kinesis Data Streams
                                    configuration for the specified table.
                                  type: object
                                  properties:
                                    approximateCreationDateTimePrecision:
                                      description: The precision for the time and
                                        date that the stream was created.
                                      type: string
                                      enum:
                                      - MICROSECOND
                                      - MILLISECOND
                                      x-ms-enum:
                                        name: KinesisStreamSpecificationApproximateCreationDateTimePrecision
                                        modelAsString: true
                                        values:
                                        - name: MICROSECOND
                                          value: MICROSECOND
                                          description: KinesisStreamSpecificationApproximateCreationDateTimePrecision
                                            enum MICROSECOND
                                        - name: MILLISECOND
                                          value: MILLISECOND
                                          description: KinesisStreamSpecificationApproximateCreationDateTimePrecision
                                            enum MILLISECOND
                                    streamArn:
                                      type: string
                                      description: 'The ARN for a specific Kinesis
                                        data stream. Length Constraints: Minimum length
                                        of 37. Maximum length of 1024.'
                                localSecondaryIndexes:
                                  type: array
                                  description: Local secondary indexes to be created
                                    on the table. You can create up to 5 local secondary
                                    indexes. Each index is scoped to a given hash
                                    key value. The size of each hash key can be up
                                    to 10 gigabytes.
                                  items:
                                    type: object
                                    description: Definition of LocalSecondaryIndex
                                    properties:
                                      indexName:
                                        type: string
                                        description: The name of the local secondary
                                          index. The name must be unique among all
                                          other indexes on this table.
                                      keySchema:
                                        type: array
                                        description: 'The complete key schema for
                                          the local secondary index, consisting of
                                          one or more pairs of attribute names and
                                          key types:  +   ``HASH`` - partition key  +   ``RANGE``
                                          - sort key    The partition key of an item
                                          is also known as its *hash attribute*. The
                                          term ''hash attribute'' derives from DynamoDB''s
                                          usage of an internal hash function to evenly
                                          distribute data items across partitions,
                                          based on their partition key values. The
                                          sort key of an item is also known as its
                                          *range attribute*. The term ''range attribute''
                                          derives from the way DynamoDB stores items
                                          with the same partition key physically close
                                          together, in sorted order by the sort key
                                          value.'
                                        items:
                                          type: object
                                          description: Definition of KeySchema
                                          properties:
                                            attributeName:
                                              type: string
                                              description: The name of a key attribute.
                                            keyType:
                                              type: string
                                              description: 'The role that this key
                                                attribute will assume:  +   ``HASH``
                                                - partition key  +   ``RANGE`` - sort
                                                key    The partition key of an item
                                                is also known as its *hash attribute*.
                                                The term ''hash attribute'' derives
                                                from DynamoDB''s usage of an internal
                                                hash function to evenly distribute
                                                data items across partitions, based
                                                on their partition key values. The
                                                sort key of an item is also known
                                                as its *range attribute*. The term
                                                ''range attribute'' derives from the
                                                way DynamoDB stores items with the
                                                same partition key physically close
                                                together, in sorted order by the sort
                                                key value.'
                                        x-ms-identifiers: []
                                      projection:
                                        description: Represents attributes that are
                                          copied (projected) from the table into the
                                          local secondary index. These are in addition
                                          to the primary key attributes and index
                                          key attributes, which are automatically
                                          projected. Represents attributes that are
                                          copied (projected) from the table into an
                                          index. These are in addition to the primary
                                          key attributes and index key attributes,
                                          which are automatically projected.
                                        type: object
                                        properties:
                                          nonKeyAttributes:
                                            type: array
                                            description: Represents the non-key attribute
                                              names which will be projected into the
                                              index. For local secondary indexes,
                                              the total count of ``NonKeyAttributes``
                                              summed across all of the local secondary
                                              indexes, must not exceed 100. If you
                                              project the same attribute into two
                                              different indexes, this counts as two
                                              distinct attributes when determining
                                              the total.
                                            items:
                                              type: string
                                          projectionType:
                                            type: string
                                            description: 'The set of attributes that
                                              are projected into the index:  +   ``KEYS_ONLY``
                                              - Only the index and primary keys are
                                              projected into the index.  +   ``INCLUDE``
                                              - In addition to the attributes described
                                              in ``KEYS_ONLY``, the secondary index
                                              will include other non-key attributes
                                              that you specify.  +   ``ALL`` - All
                                              of the table attributes are projected
                                              into the index.   When using the DynamoDB
                                              console, ``ALL`` is selected by default.'
                                  x-ms-identifiers: []
                                pointInTimeRecoverySpecification:
                                  description: The settings used to enable point in
                                    time recovery. The settings used to enable point
                                    in time recovery.
                                  type: object
                                  properties:
                                    pointInTimeRecoveryEnabled:
                                      type: boolean
                                      description: Indicates whether point in time
                                        recovery is enabled (true) or disabled (false)
                                        on the table.
                                provisionedThroughput:
                                  description: Throughput for the specified table,
                                    which consists of values for ``ReadCapacityUnits``
                                    and ``WriteCapacityUnits``. For more information
                                    about the contents of a provisioned throughput
                                    structure, see [Amazon DynamoDB Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html).  If
                                    you set ``BillingMode`` as ``PROVISIONED``, you
                                    must specify this property. If you set ``BillingMode``
                                    as ``PAY_PER_REQUEST``, you cannot specify this
                                    property. Throughput for the specified table,
                                    which consists of values for ``ReadCapacityUnits``
                                    and ``WriteCapacityUnits``. For more information
                                    about the contents of a provisioned throughput
                                    structure, see [Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html).
                                  type: object
                                  properties:
                                    readCapacityUnits:
                                      type: integer
                                      format: int32
                                      description: The maximum number of strongly
                                        consistent reads consumed per second before
                                        DynamoDB returns a ``ThrottlingException``.
                                        For more information, see [Specifying Read
                                        and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                        in the *Amazon DynamoDB Developer Guide*.
                                        If read/write capacity mode is ``PAY_PER_REQUEST``
                                        the value is set to 0.
                                    writeCapacityUnits:
                                      type: integer
                                      format: int32
                                      description: The maximum number of writes consumed
                                        per second before DynamoDB returns a ``ThrottlingException``.
                                        For more information, see [Specifying Read
                                        and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                        in the *Amazon DynamoDB Developer Guide*.
                                        If read/write capacity mode is ``PAY_PER_REQUEST``
                                        the value is set to 0.
                                resourcePolicy:
                                  description: "A resource-based policy document that\
                                    \ contains permissions to add to the specified\
                                    \ table. In a CFNshort template, you can provide\
                                    \ the policy in JSON or YAML format because CFNshort\
                                    \ converts YAML to JSON before submitting it to\
                                    \ DDB. For more information about resource-based\
                                    \ policies, see [Using resource-based policies\
                                    \ for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)\
                                    \ and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).\
                                    \ When you attach a resource-based policy while\
                                    \ creating a table, the policy creation is *strongly\
                                    \ consistent*. For information about the considerations\
                                    \ that you should keep in mind while attaching\
                                    \ a resource-based policy, see [Resource-based\
                                    \ policy considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html).\
                                    \ Creates or updates a resource-based policy document\
                                    \ that contains the permissions for DDB resources,\
                                    \ such as a table, its indexes, and stream. Resource-based\
                                    \ policies let you define access permissions by\
                                    \ specifying who has access to each resource,\
                                    \ and the actions they are allowed to perform\
                                    \ on each resource. In a CFNshort template, you\
                                    \ can provide the policy in JSON or YAML format\
                                    \ because CFNshort converts YAML to JSON before\
                                    \ submitting it to DDB. For more information about\
                                    \ resource-based policies, see [Using resource-based\
                                    \ policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)\
                                    \ and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).\
                                    \ While defining resource-based policies in your\
                                    \ CFNshort templates, the following considerations\
                                    \ apply:  +  The maximum size supported for a\
                                    \ resource-based policy document in JSON format\
                                    \ is 20 KB. DDB counts whitespaces when calculating\
                                    \ the size of a policy against this limit.   +\
                                    \  Resource-based policies don't support [drift\
                                    \ detection](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html#).\
                                    \ If you update a policy outside of the CFNshort\
                                    \ stack template, you'll need to update the CFNshort\
                                    \ stack with the changes.  +  Resource-based policies\
                                    \ don't support out-of-band changes. If you add,\
                                    \ update, or delete a policy outside of the CFNshort\
                                    \ template, the change won't be overwritten if\
                                    \ there are no changes to the policy within the\
                                    \ template. For example, say that your template\
                                    \ contains a resource-based policy, which you\
                                    \ later update outside of the template. If you\
                                    \ don't make any changes to the policy in the\
                                    \ template, the updated policy in DDB won\u2019\
                                    t be synced with the policy in the template. Conversely,\
                                    \ say that your template doesn\u2019t contain\
                                    \ a resource-based policy, but you add a policy\
                                    \ outside of the template. This policy won\u2019\
                                    t be removed from DDB as long as you don\u2019\
                                    t add it to the template. When you add a policy\
                                    \ to the template and update the stack, the existing\
                                    \ policy in DDB will be updated to match the one\
                                    \ defined in the template.   For a full list of\
                                    \ all considerations, see [Resource-based policy\
                                    \ considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html)."
                                  type: object
                                  properties:
                                    policyDocument:
                                      description: A resource-based policy document
                                        that contains permissions to add to the specified
                                        DDB table, index, or both. In a CFNshort template,
                                        you can provide the policy in JSON or YAML
                                        format because CFNshort converts YAML to JSON
                                        before submitting it to DDB. For more information
                                        about resource-based policies, see [Using
                                        resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)
                                        and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).
                                sseSpecification:
                                  description: Specifies the settings to enable server-side
                                    encryption. Represents the settings used to enable
                                    server-side encryption.
                                  type: object
                                  properties:
                                    kmsMasterKeyId:
                                      type: string
                                      description: The KMS key that should be used
                                        for the KMS encryption. To specify a key,
                                        use its key ID, Amazon Resource Name (ARN),
                                        alias name, or alias ARN. Note that you should
                                        only provide this parameter if the key is
                                        different from the default DynamoDB key ``alias/aws/dynamodb``.
                                    sseEnabled:
                                      type: boolean
                                      description: Indicates whether server-side encryption
                                        is done using an AWS managed key or an AWS
                                        owned key. If enabled (true), server-side
                                        encryption type is set to ``KMS`` and an AWS
                                        managed key is used (KMS charges apply). If
                                        disabled (false) or not specified, server-side
                                        encryption is set to AWS owned key.
                                    sseType:
                                      type: string
                                      description: 'Server-side encryption type. The
                                        only supported value is:  +   ``KMS`` - Server-side
                                        encryption that uses KMSlong. The key is stored
                                        in your account and is managed by KMS (KMS
                                        charges apply).'
                                streamArn:
                                  type: string
                                  description: Property streamArn
                                streamSpecification:
                                  description: The settings for the DDB table stream,
                                    which capture changes to items stored in the table.
                                    Represents the DynamoDB Streams configuration
                                    for a table in DynamoDB.
                                  type: object
                                  properties:
                                    resourcePolicy:
                                      description: "Creates or updates a resource-based\
                                        \ policy document that contains the permissions\
                                        \ for DDB resources, such as a table's streams.\
                                        \ Resource-based policies let you define access\
                                        \ permissions by specifying who has access\
                                        \ to each resource, and the actions they are\
                                        \ allowed to perform on each resource. In\
                                        \ a CFNshort template, you can provide the\
                                        \ policy in JSON or YAML format because CFNshort\
                                        \ converts YAML to JSON before submitting\
                                        \ it to DDB. For more information about resource-based\
                                        \ policies, see [Using resource-based policies\
                                        \ for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)\
                                        \ and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).\
                                        \ Creates or updates a resource-based policy\
                                        \ document that contains the permissions for\
                                        \ DDB resources, such as a table, its indexes,\
                                        \ and stream. Resource-based policies let\
                                        \ you define access permissions by specifying\
                                        \ who has access to each resource, and the\
                                        \ actions they are allowed to perform on each\
                                        \ resource. In a CFNshort template, you can\
                                        \ provide the policy in JSON or YAML format\
                                        \ because CFNshort converts YAML to JSON before\
                                        \ submitting it to DDB. For more information\
                                        \ about resource-based policies, see [Using\
                                        \ resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)\
                                        \ and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).\
                                        \ While defining resource-based policies in\
                                        \ your CFNshort templates, the following considerations\
                                        \ apply:  +  The maximum size supported for\
                                        \ a resource-based policy document in JSON\
                                        \ format is 20 KB. DDB counts whitespaces\
                                        \ when calculating the size of a policy against\
                                        \ this limit.   +  Resource-based policies\
                                        \ don't support [drift detection](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html#).\
                                        \ If you update a policy outside of the CFNshort\
                                        \ stack template, you'll need to update the\
                                        \ CFNshort stack with the changes.  +  Resource-based\
                                        \ policies don't support out-of-band changes.\
                                        \ If you add, update, or delete a policy outside\
                                        \ of the CFNshort template, the change won't\
                                        \ be overwritten if there are no changes to\
                                        \ the policy within the template. For example,\
                                        \ say that your template contains a resource-based\
                                        \ policy, which you later update outside of\
                                        \ the template. If you don't make any changes\
                                        \ to the policy in the template, the updated\
                                        \ policy in DDB won\u2019t be synced with\
                                        \ the policy in the template. Conversely,\
                                        \ say that your template doesn\u2019t contain\
                                        \ a resource-based policy, but you add a policy\
                                        \ outside of the template. This policy won\u2019\
                                        t be removed from DDB as long as you don\u2019\
                                        t add it to the template. When you add a policy\
                                        \ to the template and update the stack, the\
                                        \ existing policy in DDB will be updated to\
                                        \ match the one defined in the template. \
                                        \  For a full list of all considerations,\
                                        \ see [Resource-based policy considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html)."
                                      type: object
                                      properties:
                                        policyDocument:
                                          description: A resource-based policy document
                                            that contains permissions to add to the
                                            specified DDB table, index, or both. In
                                            a CFNshort template, you can provide the
                                            policy in JSON or YAML format because
                                            CFNshort converts YAML to JSON before
                                            submitting it to DDB. For more information
                                            about resource-based policies, see [Using
                                            resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html)
                                            and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html).
                                    streamViewType:
                                      type: string
                                      description: 'When an item in the table is modified,
                                        ``StreamViewType`` determines what information
                                        is written to the stream for this table. Valid
                                        values for ``StreamViewType`` are:  +   ``KEYS_ONLY``
                                        - Only the key attributes of the modified
                                        item are written to the stream.  +   ``NEW_IMAGE``
                                        - The entire item, as it appears after it
                                        was modified, is written to the stream.  +   ``OLD_IMAGE``
                                        - The entire item, as it appeared before it
                                        was modified, is written to the stream.  +   ``NEW_AND_OLD_IMAGES``
                                        - Both the new and the old item images of
                                        the item are written to the stream.'
                                tableClass:
                                  type: string
                                  description: The table class of the new table. Valid
                                    values are ``STANDARD`` and ``STANDARD_INFREQUENT_ACCESS``.
                                tableName:
                                  type: string
                                  description: A name for the table. If you don't
                                    specify a name, CFNlong generates a unique physical
                                    ID and uses that ID for the table name. For more
                                    information, see [Name Type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If
                                    you specify a name, you cannot perform updates
                                    that require replacement of this resource. You
                                    can perform updates that require no or some interruption.
                                    If you must replace the resource, specify a new
                                    name.
                                tags:
                                  type: array
                                  description: An array of key-value pairs to apply
                                    to this resource. For more information, see [Tag](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html).
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key of the tag. Tag keys
                                          are case sensitive. Each DynamoDB table
                                          can only have up to one tag with the same
                                          key. If you try to add an existing tag (same
                                          key), the existing tag value will be updated
                                          to the new value.
                                      value:
                                        type: string
                                        description: The value of the tag. Tag values
                                          are case-sensitive and can be null.
                                  x-ms-identifiers: []
                                timeToLiveSpecification:
                                  description: Specifies the Time to Live (TTL) settings
                                    for the table.  For detailed information about
                                    the limits in DynamoDB, see [Limits in Amazon
                                    DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html)
                                    in the Amazon DynamoDB Developer Guide. Represents
                                    the settings used to enable or disable Time to
                                    Live (TTL) for the specified table.
                                  type: object
                                  properties:
                                    attributeName:
                                      type: string
                                      description: The name of the TTL attribute used
                                        to store the expiration time for items in
                                        the table.   +  The ``AttributeName`` property
                                        is required when enabling the TTL, or when
                                        TTL is already enabled.  +  To update this
                                        property, you must first disable TTL and then
                                        enable TTL with the new attribute name.
                                    enabled:
                                      type: boolean
                                      description: Indicates whether TTL is to be
                                        enabled (true) or disabled (false) on the
                                        table.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/dynamoDBTables:
    get:
      operationId: DynamoDbTables_ListByResourceGroup
      tags:
      - DynamoDBTables
      description: List DynamoDBTable resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DynamoDBTable list operation.
                properties:
                  value:
                    type: array
                    description: The DynamoDBTable items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                attributeDefinitions:
                                  type: array
                                  description: 'A list of attributes that describe
                                    the key schema for the table and indexes. This
                                    property is required to create a DDB table. Update
                                    requires: [Some interruptions](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html#update-some-interrupt).
                                    Replacement if you edit an existing AttributeDefinition.'
                                  items:
                                    type: object
                                    description: Definition of AttributeDefinition
                                    properties:
                                      attributeName:
                                        type: string
                                        description: A name for the attribute.
                                      attributeType:
                                        type: string
                                        description: 'The data type for the attribute,
                                          where:  +   ``S`` - the attribute is of
                                          type String  +   ``N`` - the attribute is
                                          of type Number  +   ``B`` - the attribute
                                          is of type Binary'
                                  x-ms-identifiers: []
                                billingMode:
                                  type: string
                                  description: 'Specify how you are charged for read
                                    and write throughput and how you manage capacity.
                                    Valid values include:  +   ``PROVISIONED`` - We
                                    recommend using ``PROVISIONED`` for predictable
                                    workloads. ``PROVISIONED`` sets the billing mode
                                    to [Provisioned Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.ProvisionedThroughput.Manual).  +   ``PAY_PER_REQUEST``
                                    - We recommend using ``PAY_PER_REQUEST`` for unpredictable
                                    workloads. ``PAY_PER_REQUEST`` sets the billing
                                    mode to [On-Demand Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.OnDemand).   If
                                    not specified, the default is ``PROVISIONED``.'
                                contributorInsightsSpecification:
                                  description: The settings used to enable or disable
                                    CloudWatch Contributor Insights for the specified
                                    table. The settings used to enable or disable
                                    CloudWatch Contributor Insights.
                                  type: object
                                  properties:
                                    enabled:
                                      type: boolean
                                      description: Indicates whether CloudWatch Contributor
                                        Insights are to be enabled (true) or disabled
                                        (false).
                                deletionProtectionEnabled:
                                  type: boolean
                                  description: Determines if a table is protected
                                    from deletion. When enabled, the table cannot
                                    be deleted by any user or process. This setting
                                    is disabled by default. For more information,
                                    see [Using deletion protection](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.Basics.html#WorkingWithTables.Basics.DeletionProtection)
                                    in the *Developer Guide*.
                                globalSecondaryIndexes:
                                  type: array
                                  description: 'Global secondary indexes to be created
                                    on the table. You can create up to 20 global secondary
                                    indexes.  If you update a table to include a new
                                    global secondary index, CFNlong initiates the
                                    index creation and then proceeds with the stack
                                    update. CFNlong doesn''t wait for the index to
                                    complete creation because the backfilling phase
                                    can take a long time, depending on the size of
                                    the table. You can''t use the index or update
                                    the table until the index''s status is ``ACTIVE``.
                                    You can track its status by using the DynamoDB
                                    [DescribeTable](https://docs.aws.amazon.com/cli/latest/reference/dynamodb/describe-table.html)
                                    command. If you add or delete an index during
                                    an update, we recommend that you don''t update
                                    any other resources. If your stack fails to update
                                    and is rolled back while adding a new index, you
                                    must manually delete the index.  Updates are not
                                    supported. The following are exceptions:  +  If
                                    you update either the contributor insights specification
                                    or the provisioned throughput values of global
                                    secondary indexes, you can update the table without
                                    interruption.  +  You can delete or add one global
                                    secondary index without interruption. If you do
                                    both in the same update (for example, by changing
                                    the index''s logical ID), the update fails.'
                                  items:
                                    type: object
                                    description: Definition of GlobalSecondaryIndex
                                    properties:
                                      contributorInsightsSpecification:
                                        description: The settings used to enable or
                                          disable CloudWatch Contributor Insights
                                          for the specified global secondary index.
                                          The settings used to enable or disable CloudWatch
                                          Contributor Insights.
                                        type: object
                                        properties:
                                          enabled:
                                            type: boolean
                                            description: Indicates whether CloudWatch
                                              Contributor Insights are to be enabled
                                              (true) or disabled (false).
                                      indexName:
                                        type: string
                                        description: The name of the global secondary
                                          index. The name must be unique among all
                                          other indexes on this table.
                                      keySchema:
                                        type: array
                                        description: 'The complete key schema for
                                          a global secondary index, which consists
                                          of one or more pairs of attribute names
                                          and key types:  +   ``HASH`` - partition
                                          key  +   ``RANGE`` - sort key    The partition
                                          key of an item is also known as its *hash
                                          attribute*. The term ''hash attribute''
                                          derives from DynamoDB''s usage of an internal
                                          hash function to evenly distribute data
                                          items across partitions, based on their
                                          partition key values. The sort key of an
                                          item is also known as its *range attribute*.
                                          The term ''range attribute'' derives from
                                          the way DynamoDB stores items with the same
                                          partition key physically close together,
                                          in sorted order by the sort key value.'
                                        items:
                                          type: object
                                          description: Definition of KeySchema
                                          properties:
                                            attributeName:
                                              type: string
                                              description: The name of a key attribute.
                                            keyType:
                                              type: string
                                              description: 'The role that this key
                                                attribute will assume:  +   ``HASH``
                                                - partition key  +   ``RANGE`` - sort
                                                key    The partition key of an item
                                                is also known as its *hash attribute*.
                                                The term ''hash attribute'' derives
                                                from DynamoDB''s usage of an internal
                                                hash function to evenly distribute
                                                data items across partitions, based
                                                on their partition key values. The
                                                sort key of an item is also known
                                                as its *range attribute*. The term
                                                ''range attribute'' derives from the
                                                way DynamoDB stores items with the
                                                same partition key physically close
                                                together, in sorted order by the sort
                                                key value.'
                                        x-ms-identifiers: []
                                      projection:
                                        description: Represents attributes that are
                                          copied (projected) from the table into the
                                          global secondary index. These are in addition
                                          to the primary key attributes and index
                                          key attributes, which are automatically
                                          projected. Represents attributes that are
                                          copied (projected) from the table into an
                                          index. These are in addition to the primary
                                          key attributes and index key attributes,
                                          which are automatically projected.
                                        type: object
                                        properties:
                                          nonKeyAttributes:
                                            type: array
                                            description: Represents the non-key attribute
                                              names which will be projected into the
                                              index. For local secondary indexes,
                                              the total count of ``NonKeyAttributes``
                                              summed across all of the local secondary
                                              indexes, must not exceed 100. If you
                                              project the same attribute into two
                                              different indexes, this counts as two
                                              distinct attributes when determining
                                              the total.
                                            items:
                                              type: string
                                          projectionType:
                                            type: string
                                            description: 'The set of attributes that
                                              are projected into the index:  +   ``KEYS_ONLY``
                                              - Only the index and primary keys are
                                              projected into the index.  +   ``INCLUDE``
                                              - In addition to the attributes described
                                              in ``KEYS_ONLY``, the secondary index
                                              will include other non-key attributes
                                              that you specify.  +   ``ALL`` - All
                                              of the table attributes are projected
                                              into the index.   When using the DynamoDB
                                              console, ``ALL`` is selected by default.'
                                      provisionedThroughput:
                                        description: Represents the provisioned throughput
                                          settings for the specified global secondary
                                          index. For current minimum and maximum provisioned
                                          throughput values, see [Service, Account,
                                          and Table Quotas](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html)
                                          in the *Amazon DynamoDB Developer Guide*.
                                          Throughput for the specified table, which
                                          consists of values for ``ReadCapacityUnits``
                                          and ``WriteCapacityUnits``. For more information
                                          about the contents of a provisioned throughput
                                          structure, see [Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html).
                                        type: object
                                        properties:
                                          readCapacityUnits:
                                            type: integer
                                            format: int32
                                            description: The maximum number of strongly
                                              consistent reads consumed per second
                                              before DynamoDB returns a ``ThrottlingException``.
                                              For more information, see [Specifying
                                              Read and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                              in the *Amazon DynamoDB Developer Guide*.
                                              If read/write capacity mode is ``PAY_PER_REQUEST``
                                              the value is set to 0.
                                          writeCapacityUnits:
                                            type: integer
                                            format: int32
                                            description: The maximum number of writes
                                              consumed per second before DynamoDB
                                              returns a ``ThrottlingException``. For
                                              more information, see [Specifying Read
                                              and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html)
                                              in the *Amazon DynamoDB Developer Guide*.
                                              If read/write capacity mode is ``PAY_PER_REQUEST``
                                              the value is set to 0.
                                  x-ms-identifiers: []
                                importSourceSpecification:
                                  description: Specifies the properties of data being
                                    imported from the S3 bucket source to the table.  If
                                    you specify the ``ImportSourceSpecification``
                                    property, and also specify either the ``StreamSpecification``,
                                    the ``TableClass`` property, or the ``DeletionProtectionEnabled``
                                    property, the IAM entity creating/updating stack
                                    must have ``UpdateTable`` permission. Specifies
                                    the properties of data being imported from the
                                    S3 bucket source to the table.
                                  type: object
                                  properties:
                                    inputCompressionType:
                                      type: string
                                      description: Type of compression to be used
[...]
