openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2FlowLogs
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2FlowLogs:
    get:
      operationId: Ec2FlowLogs_ListBySubscription
      tags:
      - Ec2FlowLogs
      description: List Ec2FlowLog resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2FlowLog list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2FlowLog items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                deliverCrossAccountRole:
                                  type: string
                                  description: The ARN of the IAM role that allows
                                    Amazon EC2 to publish flow logs across accounts.
                                deliverLogsPermissionArn:
                                  type: string
                                  description: The ARN for the IAM role that permits
                                    Amazon EC2 to publish flow logs to a CloudWatch
                                    Logs log group in your account. If you specify
                                    LogDestinationType as s3 or kinesis-data-firehose,
                                    do not specify DeliverLogsPermissionArn or LogGroupName.
                                destinationOptions:
                                  description: Property destinationOptions
                                  type: object
                                  properties:
                                    fileFormat:
                                      description: Property fileFormat
                                      type: string
                                      enum:
                                      - parquet
                                      - plain-text
                                      x-ms-enum:
                                        name: FileFormat
                                        modelAsString: true
                                        values:
                                        - name: parquet
                                          value: parquet
                                          description: FileFormat enum parquet
                                        - name: PlainText
                                          value: plain-text
                                          description: FileFormat enum plain-text
                                    hiveCompatiblePartitions:
                                      type: boolean
                                      description: Property hiveCompatiblePartitions
                                    perHourPartition:
                                      type: boolean
                                      description: Property perHourPartition
                                id:
                                  type: string
                                  description: The Flow Log ID
                                logDestination:
                                  type: string
                                  description: Specifies the destination to which
                                    the flow log data is to be published. Flow log
                                    data can be published to a CloudWatch Logs log
                                    group, an Amazon S3 bucket, or a Kinesis Firehose
                                    stream. The value specified for this parameter
                                    depends on the value specified for LogDestinationType.
                                logDestinationType:
                                  description: Specifies the type of destination to
                                    which the flow log data is to be published. Flow
                                    log data can be published to CloudWatch Logs or
                                    Amazon S3.
                                  type: string
                                  enum:
                                  - cloud-watch-logs
                                  - kinesis-data-firehose
                                  - s3
                                  x-ms-enum:
                                    name: LogDestinationType
                                    modelAsString: true
                                    values:
                                    - name: CloudWatchLogs
                                      value: cloud-watch-logs
                                      description: LogDestinationType enum cloud-watch-logs
                                    - name: KinesisDataFirehose
                                      value: kinesis-data-firehose
                                      description: LogDestinationType enum kinesis-data-firehose
                                    - name: s3
                                      value: s3
                                      description: LogDestinationType enum s3
                                logFormat:
                                  type: string
                                  description: The fields to include in the flow log
                                    record, in the order in which they should appear.
                                logGroupName:
                                  type: string
                                  description: The name of a new or existing CloudWatch
                                    Logs log group where Amazon EC2 publishes your
                                    flow logs. If you specify LogDestinationType as
                                    s3 or kinesis-data-firehose, do not specify DeliverLogsPermissionArn
                                    or LogGroupName.
                                maxAggregationInterval:
                                  type: integer
                                  format: int32
                                  description: The maximum interval of time during
                                    which a flow of packets is captured and aggregated
                                    into a flow log record. You can specify 60 seconds
                                    (1 minute) or 600 seconds (10 minutes).
                                resourceId:
                                  type: string
                                  description: The ID of the subnet, network interface,
                                    or VPC for which you want to create a flow log.
                                resourceType:
                                  description: The type of resource for which to create
                                    the flow log. For example, if you specified a
                                    VPC ID for the ResourceId property, specify VPC
                                    for this property.
                                  type: string
                                  enum:
                                  - NetworkInterface
                                  - Subnet
                                  - TransitGateway
                                  - TransitGatewayAttachment
                                  - VPC
                                  x-ms-enum:
                                    name: ResourceType
                                    modelAsString: true
                                    values:
                                    - name: NetworkInterface
                                      value: NetworkInterface
                                      description: ResourceType enum NetworkInterface
                                    - name: Subnet
                                      value: Subnet
                                      description: ResourceType enum Subnet
                                    - name: TransitGateway
                                      value: TransitGateway
                                      description: ResourceType enum TransitGateway
                                    - name: TransitGatewayAttachment
                                      value: TransitGatewayAttachment
                                      description: ResourceType enum TransitGatewayAttachment
                                    - name: VPC
                                      value: VPC
                                      description: ResourceType enum VPC
                                tags:
                                  type: array
                                  description: The tags to apply to the flow logs.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                trafficType:
                                  description: The type of traffic to log. You can
                                    log traffic that the resource accepts or rejects,
                                    or all traffic.
                                  type: string
                                  enum:
                                  - ACCEPT
                                  - ALL
                                  - REJECT
                                  x-ms-enum:
                                    name: TrafficType
                                    modelAsString: true
                                    values:
                                    - name: ACCEPT
                                      value: ACCEPT
                                      description: TrafficType enum ACCEPT
                                    - name: ALL
                                      value: ALL
                                      description: TrafficType enum ALL
                                    - name: REJECT
                                      value: REJECT
                                      description: TrafficType enum REJECT
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2FlowLogs:
    get:
      operationId: Ec2FlowLogs_ListByResourceGroup
      tags:
      - Ec2FlowLogs
      description: List Ec2FlowLog resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2FlowLog list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2FlowLog items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                deliverCrossAccountRole:
                                  type: string
                                  description: The ARN of the IAM role that allows
                                    Amazon EC2 to publish flow logs across accounts.
                                deliverLogsPermissionArn:
                                  type: string
                                  description: The ARN for the IAM role that permits
                                    Amazon EC2 to publish flow logs to a CloudWatch
                                    Logs log group in your account. If you specify
                                    LogDestinationType as s3 or kinesis-data-firehose,
                                    do not specify DeliverLogsPermissionArn or LogGroupName.
                                destinationOptions:
                                  description: Property destinationOptions
                                  type: object
                                  properties:
                                    fileFormat:
                                      description: Property fileFormat
                                      type: string
                                      enum:
                                      - parquet
                                      - plain-text
                                      x-ms-enum:
                                        name: FileFormat
                                        modelAsString: true
                                        values:
                                        - name: parquet
                                          value: parquet
                                          description: FileFormat enum parquet
                                        - name: PlainText
                                          value: plain-text
                                          description: FileFormat enum plain-text
                                    hiveCompatiblePartitions:
                                      type: boolean
                                      description: Property hiveCompatiblePartitions
                                    perHourPartition:
                                      type: boolean
                                      description: Property perHourPartition
                                id:
                                  type: string
                                  description: The Flow Log ID
                                logDestination:
                                  type: string
                                  description: Specifies the destination to which
                                    the flow log data is to be published. Flow log
                                    data can be published to a CloudWatch Logs log
                                    group, an Amazon S3 bucket, or a Kinesis Firehose
                                    stream. The value specified for this parameter
                                    depends on the value specified for LogDestinationType.
                                logDestinationType:
                                  description: Specifies the type of destination to
                                    which the flow log data is to be published. Flow
                                    log data can be published to CloudWatch Logs or
                                    Amazon S3.
                                  type: string
                                  enum:
                                  - cloud-watch-logs
                                  - kinesis-data-firehose
                                  - s3
                                  x-ms-enum:
                                    name: LogDestinationType
                                    modelAsString: true
                                    values:
                                    - name: CloudWatchLogs
                                      value: cloud-watch-logs
                                      description: LogDestinationType enum cloud-watch-logs
                                    - name: KinesisDataFirehose
                                      value: kinesis-data-firehose
                                      description: LogDestinationType enum kinesis-data-firehose
                                    - name: s3
                                      value: s3
                                      description: LogDestinationType enum s3
                                logFormat:
                                  type: string
                                  description: The fields to include in the flow log
                                    record, in the order in which they should appear.
                                logGroupName:
                                  type: string
                                  description: The name of a new or existing CloudWatch
                                    Logs log group where Amazon EC2 publishes your
                                    flow logs. If you specify LogDestinationType as
                                    s3 or kinesis-data-firehose, do not specify DeliverLogsPermissionArn
                                    or LogGroupName.
                                maxAggregationInterval:
                                  type: integer
                                  format: int32
                                  description: The maximum interval of time during
                                    which a flow of packets is captured and aggregated
                                    into a flow log record. You can specify 60 seconds
                                    (1 minute) or 600 seconds (10 minutes).
                                resourceId:
                                  type: string
                                  description: The ID of the subnet, network interface,
                                    or VPC for which you want to create a flow log.
                                resourceType:
                                  description: The type of resource for which to create
                                    the flow log. For example, if you specified a
                                    VPC ID for the ResourceId property, specify VPC
                                    for this property.
                                  type: string
                                  enum:
                                  - NetworkInterface
                                  - Subnet
                                  - TransitGateway
                                  - TransitGatewayAttachment
                                  - VPC
                                  x-ms-enum:
                                    name: ResourceType
                                    modelAsString: true
                                    values:
                                    - name: NetworkInterface
                                      value: NetworkInterface
                                      description: ResourceType enum NetworkInterface
                                    - name: Subnet
                                      value: Subnet
                                      description: ResourceType enum Subnet
                                    - name: TransitGateway
                                      value: TransitGateway
                                      description: ResourceType enum TransitGateway
                                    - name: TransitGatewayAttachment
                                      value: TransitGatewayAttachment
                                      description: ResourceType enum TransitGatewayAttachment
                                    - name: VPC
                                      value: VPC
                                      description: ResourceType enum VPC
                                tags:
                                  type: array
                                  description: The tags to apply to the flow logs.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                trafficType:
                                  description: The type of traffic to log. You can
                                    log traffic that the resource accepts or rejects,
                                    or all traffic.
                                  type: string
                                  enum:
                                  - ACCEPT
                                  - ALL
                                  - REJECT
                                  x-ms-enum:
                                    name: TrafficType
                                    modelAsString: true
                                    values:
                                    - name: ACCEPT
                                      value: ACCEPT
                                      description: TrafficType enum ACCEPT
                                    - name: ALL
                                      value: ALL
                                      description: TrafficType enum ALL
                                    - name: REJECT
                                      value: REJECT
                                      description: TrafficType enum REJECT
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2FlowLogs/{name}:
    get:
      operationId: Ec2FlowLogs_Get
      tags:
      - Ec2FlowLogs
      description: Get a Ec2FlowLog
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2FlowLog
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          deliverCrossAccountRole:
                            type: string
                            description: The ARN of the IAM role that allows Amazon
                              EC2 to publish flow logs across accounts.
                          deliverLogsPermissionArn:
                            type: string
                            description: The ARN for the IAM role that permits Amazon
                              EC2 to publish flow logs to a CloudWatch Logs log group
                              in your account. If you specify LogDestinationType as
                              s3 or kinesis-data-firehose, do not specify DeliverLogsPermissionArn
                              or LogGroupName.
                          destinationOptions:
                            description: Property destinationOptions
                            type: object
                            properties:
                              fileFormat:
                                description: Property fileFormat
                                type: string
                                enum:
                                - parquet
                                - plain-text
                                x-ms-enum:
                                  name: FileFormat
                                  modelAsString: true
                                  values:
                                  - name: parquet
                                    value: parquet
                                    description: FileFormat enum parquet
                                  - name: PlainText
                                    value: plain-text
                                    description: FileFormat enum plain-text
                              hiveCompatiblePartitions:
                                type: boolean
                                description: Property hiveCompatiblePartitions
                              perHourPartition:
                                type: boolean
                                description: Property perHourPartition
                          id:
                            type: string
                            description: The Flow Log ID
                          logDestination:
                            type: string
                            description: Specifies the destination to which the flow
                              log data is to be published. Flow log data can be published
                              to a CloudWatch Logs log group, an Amazon S3 bucket,
                              or a Kinesis Firehose stream. The value specified for
                              this parameter depends on the value specified for LogDestinationType.
                          logDestinationType:
                            description: Specifies the type of destination to which
                              the flow log data is to be published. Flow log data
                              can be published to CloudWatch Logs or Amazon S3.
                            type: string
                            enum:
                            - cloud-watch-logs
                            - kinesis-data-firehose
                            - s3
                            x-ms-enum:
                              name: LogDestinationType
                              modelAsString: true
                              values:
                              - name: CloudWatchLogs
                                value: cloud-watch-logs
                                description: LogDestinationType enum cloud-watch-logs
                              - name: KinesisDataFirehose
                                value: kinesis-data-firehose
                                description: LogDestinationType enum kinesis-data-firehose
                              - name: s3
                                value: s3
                                description: LogDestinationType enum s3
                          logFormat:
                            type: string
                            description: The fields to include in the flow log record,
                              in the order in which they should appear.
                          logGroupName:
                            type: string
                            description: The name of a new or existing CloudWatch
                              Logs log group where Amazon EC2 publishes your flow
                              logs. If you specify LogDestinationType as s3 or kinesis-data-firehose,
                              do not specify DeliverLogsPermissionArn or LogGroupName.
                          maxAggregationInterval:
                            type: integer
                            format: int32
                            description: The maximum interval of time during which
                              a flow of packets is captured and aggregated into a
                              flow log record. You can specify 60 seconds (1 minute)
                              or 600 seconds (10 minutes).
                          resourceId:
                            type: string
                            description: The ID of the subnet, network interface,
                              or VPC for which you want to create a flow log.
                          resourceType:
                            description: The type of resource for which to create
                              the flow log. For example, if you specified a VPC ID
                              for the ResourceId property, specify VPC for this property.
                            type: string
                            enum:
                            - NetworkInterface
                            - Subnet
                            - TransitGateway
                            - TransitGatewayAttachment
                            - VPC
                            x-ms-enum:
                              name: ResourceType
                              modelAsString: true
                              values:
                              - name: NetworkInterface
                                value: NetworkInterface
                                description: ResourceType enum NetworkInterface
                              - name: Subnet
                                value: Subnet
                                description: ResourceType enum Subnet
                              - name: TransitGateway
                                value: TransitGateway
                                description: ResourceType enum TransitGateway
                              - name: TransitGatewayAttachment
                                value: TransitGatewayAttachment
                                description: ResourceType enum TransitGatewayAttachment
                              - name: VPC
                                value: VPC
                                description: ResourceType enum VPC
                          tags:
                            type: array
                            description: The tags to apply to the flow logs.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          trafficType:
                            description: The type of traffic to log. You can log traffic
                              that the resource accepts or rejects, or all traffic.
                            type: string
                            enum:
                            - ACCEPT
                            - ALL
                            - REJECT
                            x-ms-enum:
                              name: TrafficType
                              modelAsString: true
                              values:
                              - name: ACCEPT
                                value: ACCEPT
                                description: TrafficType enum ACCEPT
                              - name: ALL
                                value: ALL
                                description: TrafficType enum ALL
                              - name: REJECT
                                value: REJECT
                                description: TrafficType enum REJECT
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2FlowLogs_CreateOrReplace
      tags:
      - Ec2FlowLogs
      description: Create a Ec2FlowLog. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2FlowLog
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        deliverCrossAccountRole:
                          type: string
                          description: The ARN of the IAM role that allows Amazon
                            EC2 to publish flow logs across accounts.
                        deliverLogsPermissionArn:
                          type: string
                          description: The ARN for the IAM role that permits Amazon
                            EC2 to publish flow logs to a CloudWatch Logs log group
                            in your account. If you specify LogDestinationType as
                            s3 or kinesis-data-firehose, do not specify DeliverLogsPermissionArn
                            or LogGroupName.
                        destinationOptions:
                          description: Property destinationOptions
                          type: object
                          properties:
                            fileFormat:
                              description: Property fileFormat
                              type: string
                              enum:
                              - parquet
                              - plain-text
                              x-ms-enum:
                                name: FileFormat
                                modelAsString: true
                                values:
                                - name: parquet
                                  value: parquet
                                  description: FileFormat enum parquet
                                - name: PlainText
                                  value: plain-text
                                  description: FileFormat enum plain-text
                            hiveCompatiblePartitions:
                              type: boolean
                              description: Property hiveCompatiblePartitions
                            perHourPartition:
                              type: boolean
                              description: Property perHourPartition
                        id:
                          type: string
                          description: The Flow Log ID
                        logDestination:
                          type: string
                          description: Specifies the destination to which the flow
                            log data is to be published. Flow log data can be published
                            to a CloudWatch Logs log group, an Amazon S3 bucket, or
                            a Kinesis Firehose stream. The value specified for this
                            parameter depends on the value specified for LogDestinationType.
                        logDestinationType:
                          description: Specifies the type of destination to which
                            the flow log data is to be published. Flow log data can
                            be published to CloudWatch Logs or Amazon S3.
                          type: string
                          enum:
                          - cloud-watch-logs
                          - kinesis-data-firehose
                          - s3
                          x-ms-enum:
                            name: LogDestinationType
                            modelAsString: true
                            values:
                            - name: CloudWatchLogs
                              value: cloud-watch-logs
                              description: LogDestinationType enum cloud-watch-logs
                            - name: KinesisDataFirehose
                              value: kinesis-data-firehose
                              description: LogDestinationType enum kinesis-data-firehose
                            - name: s3
                              value: s3
                              description: LogDestinationType enum s3
                        logFormat:
                          type: string
                          description: The fields to include in the flow log record,
                            in the order in which they should appear.
                        logGroupName:
                          type: string
                          description: The name of a new or existing CloudWatch Logs
                            log group where Amazon EC2 publishes your flow logs. If
                            you specify LogDestinationType as s3 or kinesis-data-firehose,
                            do not specify DeliverLogsPermissionArn or LogGroupName.
                        maxAggregationInterval:
                          type: integer
                          format: int32
                          description: The maximum interval of time during which a
                            flow of packets is captured and aggregated into a flow
                            log record. You can specify 60 seconds (1 minute) or 600
                            seconds (10 minutes).
                        resourceId:
                          type: string
                          description: The ID of the subnet, network interface, or
                            VPC for which you want to create a flow log.
                        resourceType:
                          description: The type of resource for which to create the
                            flow log. For example, if you specified a VPC ID for the
                            ResourceId property, specify VPC for this property.
                          type: string
                          enum:
                          - NetworkInterface
                          - Subnet
                          - TransitGateway
                          - TransitGatewayAttachment
                          - VPC
                          x-ms-enum:
                            name: ResourceType
                            modelAsString: true
                            values:
                            - name: NetworkInterface
                              value: NetworkInterface
                              description: ResourceType enum NetworkInterface
                            - name: Subnet
                              value: Subnet
                              description: ResourceType enum Subnet
                            - name: TransitGateway
                              value: TransitGateway
                              description: ResourceType enum TransitGateway
                            - name: TransitGatewayAttachment
                              value: TransitGatewayAttachment
                              description: ResourceType enum TransitGatewayAttachment
                            - name: VPC
                              value: VPC
                              description: ResourceType enum VPC
                        tags:
                          type: array
                          description: The tags to apply to the flow logs.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                        trafficType:
                          description: The type of traffic to log. You can log traffic
                            that the resource accepts or rejects, or all traffic.
                          type: string
                          enum:
                          - ACCEPT
                          - ALL
                          - REJECT
                          x-ms-enum:
                            name: TrafficType
                            modelAsString: true
                            values:
                            - name: ACCEPT
                              value: ACCEPT
                              description: TrafficType enum ACCEPT
                            - name: ALL
                              value: ALL
                              description: TrafficType enum ALL
                            - name: REJECT
                              value: REJECT
                              description: TrafficType enum REJECT
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2FlowLog' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          deliverCrossAccountRole:
                            type: string
                            description: The ARN of the IAM role that allows Amazon
                              EC2 to publish flow logs across accounts.
                          deliverLogsPermissionArn:
                            type: string
                            description: The ARN for the IAM role that permits Amazon
                              EC2 to publish flow logs to a CloudWatch Logs log group
                              in your account. If you specify LogDestinationType as
                              s3 or kinesis-data-firehose, do not specify DeliverLogsPermissionArn
                              or LogGroupName.
                          destinationOptions:
                            description: Property destinationOptions
                            type: object
                            properties:
                              fileFormat:
                                description: Property fileFormat
                                type: string
                                enum:
                                - parquet
                                - plain-text
                                x-ms-enum:
                                  name: FileFormat
                                  modelAsString: true
                                  values:
                                  - name: parquet
                                    value: parquet
                                    description: FileFormat enum parquet
                                  - name: PlainText
                                    value: plain-text
                                    description: FileFormat enum plain-text
                              hiveCompatiblePartitions:
                                type: boolean
                                description: Property hiveCompatiblePartitions
                              perHourPartition:
                                type: boolean
                                description: Property perHourPartition
                          id:
                            type: string
                            description: The Flow Log ID
                          logDestination:
                            type: string
                            description: Specifies the destination to which the flow
                              log data is to be published. Flow log data can be published
                              to a CloudWatch Logs log group, an Amazon S3 bucket,
                              or a Kinesis Firehose stream. The value specified for
                              this parameter depends on the value specified for LogDestinationType.
                          logDestinationType:
                            description: Specifies the type of destination to which
                              the flow log data is to be published. Flow log data
                              can be published to CloudWatch Logs or Amazon S3.
                            type: string
                            enum:
                            - cloud-watch-logs
                            - kinesis-data-firehose
                            - s3
                            x-ms-enum:
                              name: LogDestinationType
                              modelAsString: true
                              values:
                              - name: CloudWatchLogs
                                value: cloud-watch-logs
                                description: LogDestinationType enum cloud-watch-logs
                              - name: KinesisDataFirehose
                                value: kinesis-data-firehose
                                description: LogDestinationType enum kinesis-data-firehose
                              - name: s3
                                value: s3
                                description: LogDestinationType enum s3
                          logFormat:
                            type: string
                            description: The fields to include in the flow log record,
                              in the order in which they should appear.
                          logGroupName:
                            type: string
                            description: The name of a new or existing CloudWatch
                              Logs log group where Amazon EC2 publishes your flow
                              logs. If you specify LogDestinationType as s3 or kinesis-data-firehose,
                              do not specify DeliverLogsPermissionArn or LogGroupName.
                          maxAggregationInterval:
                            type: integer
                            format: int32
                            description: The maximum interval of time during which
                              a flow of packets is captured and aggregated into a
                              flow log record. You can specify 60 seconds (1 minute)
                              or 600 seconds (10 minutes).
                          resourceId:
                            type: string
                            description: The ID of the subnet, network interface,
                              or VPC for which you want to create a flow log.
                          resourceType:
                            description: The type of resource for which to create
                              the flow log. For example, if you specified a VPC ID
                              for the ResourceId property, specify VPC for this property.
                            type: string
                            enum:
                            - NetworkInterface
                            - Subnet
                            - TransitGateway
                            - TransitGatewayAttachment
                            - VPC
                            x-ms-enum:
                              name: ResourceType
                              modelAsString: true
                              values:
                              - name: NetworkInterface
                                value: NetworkInterface
                                description: ResourceType enum NetworkInterface
                              - name: Subnet
                                value: Subnet
                                description: ResourceType enum Subnet
                              - name: TransitGateway
                                value: TransitGateway
                                description: ResourceType enum TransitGateway
                              - name: TransitGatewayAttachment
                                value: TransitGatewayAttachment
                                description: ResourceType enum TransitGatewayAttachment
                              - name: VPC
                                value: VPC
                                description: ResourceType enum VPC
                          tags:
                            type: array
                            description: The tags to apply to the flow logs.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          trafficType:
                            description: The type of traffic to log. You can log traffic
                              that the resource accepts or rejects, or all traffic.
                            type: string
                            enum:
                            - ACCEPT
                            - ALL
                            - REJECT
                            x-ms-enum:
                              name: TrafficType
                              modelAsString: true
                              values:
                              - name: ACCEPT
                                value: ACCEPT
                                description: TrafficType enum ACCEPT
                              - name: ALL
                                value: ALL
                                description: TrafficType enum ALL
                              - name: REJECT
                                value: REJECT
                                description: TrafficType enum REJECT
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
[...]
