openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2InstanceStatuses
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2InstanceStatuses:
    get:
      operationId: Ec2InstanceStatuses_ListBySubscription
      tags:
      - Ec2InstanceStatuses
      description: List Ec2InstanceStatus resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2InstanceStatus list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2InstanceStatus items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                availabilityZone:
                                  type: string
                                  description: <p>The Availability Zone of the instance.</p>
                                events:
                                  type: array
                                  description: <p>Any scheduled events associated
                                    with the instance.</p>
                                  items:
                                    type: object
                                    description: Definition of InstanceStatusEvent
                                    properties:
                                      code:
                                        description: <p>The event code.</p>
                                        type: object
                                        properties:
                                          value:
                                            description: Property value
                                            type: string
                                            enum:
                                            - instance-reboot
                                            - instance-retirement
                                            - instance-stop
                                            - system-maintenance
                                            - system-reboot
                                            x-ms-enum:
                                              name: EventCode
                                              modelAsString: true
                                              values:
                                              - name: InstanceReboot
                                                value: instance-reboot
                                                description: EventCode enum instance-reboot
                                              - name: InstanceRetirement
                                                value: instance-retirement
                                                description: EventCode enum instance-retirement
                                              - name: InstanceStop
                                                value: instance-stop
                                                description: EventCode enum instance-stop
                                              - name: SystemMaintenance
                                                value: system-maintenance
                                                description: EventCode enum system-maintenance
                                              - name: SystemReboot
                                                value: system-reboot
                                                description: EventCode enum system-reboot
                                      description:
                                        type: string
                                        description: '<p>A description of the event.</p>
                                          <p>After a scheduled event is completed,
                                          it can still be described for up to a week.
                                          If the event has been completed, this description
                                          starts with the following text: [Completed].</p>'
                                      instanceEventId:
                                        type: string
                                        description: <p>The ID of the event.</p>
                                      notAfter:
                                        type: string
                                        format: date-time
                                        description: <p>The latest scheduled end time
                                          for the event.</p>
                                      notBefore:
                                        type: string
                                        format: date-time
                                        description: <p>The earliest scheduled start
                                          time for the event.</p>
                                      notBeforeDeadline:
                                        type: string
                                        format: date-time
                                        description: <p>The deadline for starting
                                          the event.</p>
                                  x-ms-identifiers: []
                                instanceId:
                                  type: string
                                  description: <p>The ID of the instance.</p>
                                instanceState:
                                  description: <p>The intended state of the instance.
                                    <a>DescribeInstanceStatus</a> requires that an
                                    instance be in the <code>running</code> state.</p>
                                  type: object
                                  properties:
                                    code:
                                      type: integer
                                      format: int32
                                      description: '<p>The state of the instance as
                                        a 16-bit unsigned integer. </p> <p>The high
                                        byte is all of the bits between 2^8 and (2^16)-1,
                                        which equals decimal values between 256 and
                                        65,535. These numerical values are used for
                                        internal purposes and should be ignored.</p>
                                        <p>The low byte is all of the bits between
                                        2^0 and (2^8)-1, which equals decimal values
                                        between 0 and 255. </p> <p>The valid values
                                        for instance-state-code will all be in the
                                        range of the low byte and they are:</p> <ul>
                                        <li> <p> <code>0</code> : <code>pending</code>
                                        </p> </li> <li> <p> <code>16</code> : <code>running</code>
                                        </p> </li> <li> <p> <code>32</code> : <code>shutting-down</code>
                                        </p> </li> <li> <p> <code>48</code> : <code>terminated</code>
                                        </p> </li> <li> <p> <code>64</code> : <code>stopping</code>
                                        </p> </li> <li> <p> <code>80</code> : <code>stopped</code>
                                        </p> </li> </ul> <p>You can ignore the high
                                        byte value by zeroing out all of the bits
                                        above 2^8 or 256 in decimal.</p>'
                                    name:
                                      description: <p>The current state of the instance.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - pending
                                          - running
                                          - shutting-down
                                          - stopped
                                          - stopping
                                          - terminated
                                          x-ms-enum:
                                            name: InstanceStateName
                                            modelAsString: true
                                            values:
                                            - name: Pending
                                              value: pending
                                              description: InstanceStateName enum
                                                pending
                                            - name: Running
                                              value: running
                                              description: InstanceStateName enum
                                                running
                                            - name: ShuttingDown
                                              value: shutting-down
                                              description: InstanceStateName enum
                                                shutting-down
                                            - name: Stopped
                                              value: stopped
                                              description: InstanceStateName enum
                                                stopped
                                            - name: Stopping
                                              value: stopping
                                              description: InstanceStateName enum
                                                stopping
                                            - name: Terminated
                                              value: terminated
                                              description: InstanceStateName enum
                                                terminated
                                instanceStatus:
                                  description: <p>Reports impaired functionality that
                                    stems from issues internal to the instance, such
                                    as impaired reachability.</p>
                                  type: object
                                  properties:
                                    details:
                                      type: array
                                      description: <p>The system instance health or
                                        application instance health.</p>
                                      items:
                                        type: object
                                        description: Definition of InstanceStatusDetails
                                        properties:
                                          impairedSince:
                                            type: string
                                            format: date-time
                                            description: <p>The time when a status
                                              check failed. For an instance that was
                                              launched and impaired, this is the time
                                              when the instance was launched.</p>
                                          name:
                                            description: <p>The type of instance status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - reachability
                                                x-ms-enum:
                                                  name: StatusName
                                                  modelAsString: true
                                                  values:
                                                  - name: Reachability
                                                    value: reachability
                                                    description: StatusName enum reachability
                                          status:
                                            description: <p>The status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - failed
                                                - initializing
                                                - insufficient-data
                                                - passed
                                                x-ms-enum:
                                                  name: StatusType
                                                  modelAsString: true
                                                  values:
                                                  - name: Failed
                                                    value: failed
                                                    description: StatusType enum failed
                                                  - name: Initializing
                                                    value: initializing
                                                    description: StatusType enum initializing
                                                  - name: InsufficientData
                                                    value: insufficient-data
                                                    description: StatusType enum insufficient-data
                                                  - name: Passed
                                                    value: passed
                                                    description: StatusType enum passed
                                      x-ms-identifiers: []
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - impaired
                                          - initializing
                                          - insufficient-data
                                          - not-applicable
                                          - ok
                                          x-ms-enum:
                                            name: SummaryStatus
                                            modelAsString: true
                                            values:
                                            - name: Impaired
                                              value: impaired
                                              description: SummaryStatus enum impaired
                                            - name: Initializing
                                              value: initializing
                                              description: SummaryStatus enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: SummaryStatus enum insufficient-data
                                            - name: NotApplicable
                                              value: not-applicable
                                              description: SummaryStatus enum not-applicable
                                            - name: Ok
                                              value: ok
                                              description: SummaryStatus enum ok
                                outpostArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the Outpost.</p>
                                systemStatus:
                                  description: <p>Reports impaired functionality that
                                    stems from issues related to the systems that
                                    support an instance, such as hardware failures
                                    and network connectivity problems.</p>
                                  type: object
                                  properties:
                                    details:
                                      type: array
                                      description: <p>The system instance health or
                                        application instance health.</p>
                                      items:
                                        type: object
                                        description: Definition of InstanceStatusDetails
                                        properties:
                                          impairedSince:
                                            type: string
                                            format: date-time
                                            description: <p>The time when a status
                                              check failed. For an instance that was
                                              launched and impaired, this is the time
                                              when the instance was launched.</p>
                                          name:
                                            description: <p>The type of instance status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - reachability
                                                x-ms-enum:
                                                  name: StatusName
                                                  modelAsString: true
                                                  values:
                                                  - name: Reachability
                                                    value: reachability
                                                    description: StatusName enum reachability
                                          status:
                                            description: <p>The status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - failed
                                                - initializing
                                                - insufficient-data
                                                - passed
                                                x-ms-enum:
                                                  name: StatusType
                                                  modelAsString: true
                                                  values:
                                                  - name: Failed
                                                    value: failed
                                                    description: StatusType enum failed
                                                  - name: Initializing
                                                    value: initializing
                                                    description: StatusType enum initializing
                                                  - name: InsufficientData
                                                    value: insufficient-data
                                                    description: StatusType enum insufficient-data
                                                  - name: Passed
                                                    value: passed
                                                    description: StatusType enum passed
                                      x-ms-identifiers: []
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - impaired
                                          - initializing
                                          - insufficient-data
                                          - not-applicable
                                          - ok
                                          x-ms-enum:
                                            name: SummaryStatus
                                            modelAsString: true
                                            values:
                                            - name: Impaired
                                              value: impaired
                                              description: SummaryStatus enum impaired
                                            - name: Initializing
                                              value: initializing
                                              description: SummaryStatus enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: SummaryStatus enum insufficient-data
                                            - name: NotApplicable
                                              value: not-applicable
                                              description: SummaryStatus enum not-applicable
                                            - name: Ok
                                              value: ok
                                              description: SummaryStatus enum ok
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2InstanceStatuses:
    get:
      operationId: Ec2InstanceStatuses_ListByResourceGroup
      tags:
      - Ec2InstanceStatuses
      description: List Ec2InstanceStatus resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2InstanceStatus list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2InstanceStatus items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                availabilityZone:
                                  type: string
                                  description: <p>The Availability Zone of the instance.</p>
                                events:
                                  type: array
                                  description: <p>Any scheduled events associated
                                    with the instance.</p>
                                  items:
                                    type: object
                                    description: Definition of InstanceStatusEvent
                                    properties:
                                      code:
                                        description: <p>The event code.</p>
                                        type: object
                                        properties:
                                          value:
                                            description: Property value
                                            type: string
                                            enum:
                                            - instance-reboot
                                            - instance-retirement
                                            - instance-stop
                                            - system-maintenance
                                            - system-reboot
                                            x-ms-enum:
                                              name: EventCode
                                              modelAsString: true
                                              values:
                                              - name: InstanceReboot
                                                value: instance-reboot
                                                description: EventCode enum instance-reboot
                                              - name: InstanceRetirement
                                                value: instance-retirement
                                                description: EventCode enum instance-retirement
                                              - name: InstanceStop
                                                value: instance-stop
                                                description: EventCode enum instance-stop
                                              - name: SystemMaintenance
                                                value: system-maintenance
                                                description: EventCode enum system-maintenance
                                              - name: SystemReboot
                                                value: system-reboot
                                                description: EventCode enum system-reboot
                                      description:
                                        type: string
                                        description: '<p>A description of the event.</p>
                                          <p>After a scheduled event is completed,
                                          it can still be described for up to a week.
                                          If the event has been completed, this description
                                          starts with the following text: [Completed].</p>'
                                      instanceEventId:
                                        type: string
                                        description: <p>The ID of the event.</p>
                                      notAfter:
                                        type: string
                                        format: date-time
                                        description: <p>The latest scheduled end time
                                          for the event.</p>
                                      notBefore:
                                        type: string
                                        format: date-time
                                        description: <p>The earliest scheduled start
                                          time for the event.</p>
                                      notBeforeDeadline:
                                        type: string
                                        format: date-time
                                        description: <p>The deadline for starting
                                          the event.</p>
                                  x-ms-identifiers: []
                                instanceId:
                                  type: string
                                  description: <p>The ID of the instance.</p>
                                instanceState:
                                  description: <p>The intended state of the instance.
                                    <a>DescribeInstanceStatus</a> requires that an
                                    instance be in the <code>running</code> state.</p>
                                  type: object
                                  properties:
                                    code:
                                      type: integer
                                      format: int32
                                      description: '<p>The state of the instance as
                                        a 16-bit unsigned integer. </p> <p>The high
                                        byte is all of the bits between 2^8 and (2^16)-1,
                                        which equals decimal values between 256 and
                                        65,535. These numerical values are used for
                                        internal purposes and should be ignored.</p>
                                        <p>The low byte is all of the bits between
                                        2^0 and (2^8)-1, which equals decimal values
                                        between 0 and 255. </p> <p>The valid values
                                        for instance-state-code will all be in the
                                        range of the low byte and they are:</p> <ul>
                                        <li> <p> <code>0</code> : <code>pending</code>
                                        </p> </li> <li> <p> <code>16</code> : <code>running</code>
                                        </p> </li> <li> <p> <code>32</code> : <code>shutting-down</code>
                                        </p> </li> <li> <p> <code>48</code> : <code>terminated</code>
                                        </p> </li> <li> <p> <code>64</code> : <code>stopping</code>
                                        </p> </li> <li> <p> <code>80</code> : <code>stopped</code>
                                        </p> </li> </ul> <p>You can ignore the high
                                        byte value by zeroing out all of the bits
                                        above 2^8 or 256 in decimal.</p>'
                                    name:
                                      description: <p>The current state of the instance.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - pending
                                          - running
                                          - shutting-down
                                          - stopped
                                          - stopping
                                          - terminated
                                          x-ms-enum:
                                            name: InstanceStateName
                                            modelAsString: true
                                            values:
                                            - name: Pending
                                              value: pending
                                              description: InstanceStateName enum
                                                pending
                                            - name: Running
                                              value: running
                                              description: InstanceStateName enum
                                                running
                                            - name: ShuttingDown
                                              value: shutting-down
                                              description: InstanceStateName enum
                                                shutting-down
                                            - name: Stopped
                                              value: stopped
                                              description: InstanceStateName enum
                                                stopped
                                            - name: Stopping
                                              value: stopping
                                              description: InstanceStateName enum
                                                stopping
                                            - name: Terminated
                                              value: terminated
                                              description: InstanceStateName enum
                                                terminated
                                instanceStatus:
                                  description: <p>Reports impaired functionality that
                                    stems from issues internal to the instance, such
                                    as impaired reachability.</p>
                                  type: object
                                  properties:
                                    details:
                                      type: array
                                      description: <p>The system instance health or
                                        application instance health.</p>
                                      items:
                                        type: object
                                        description: Definition of InstanceStatusDetails
                                        properties:
                                          impairedSince:
                                            type: string
                                            format: date-time
                                            description: <p>The time when a status
                                              check failed. For an instance that was
                                              launched and impaired, this is the time
                                              when the instance was launched.</p>
                                          name:
                                            description: <p>The type of instance status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - reachability
                                                x-ms-enum:
                                                  name: StatusName
                                                  modelAsString: true
                                                  values:
                                                  - name: Reachability
                                                    value: reachability
                                                    description: StatusName enum reachability
                                          status:
                                            description: <p>The status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - failed
                                                - initializing
                                                - insufficient-data
                                                - passed
                                                x-ms-enum:
                                                  name: StatusType
                                                  modelAsString: true
                                                  values:
                                                  - name: Failed
                                                    value: failed
                                                    description: StatusType enum failed
                                                  - name: Initializing
                                                    value: initializing
                                                    description: StatusType enum initializing
                                                  - name: InsufficientData
                                                    value: insufficient-data
                                                    description: StatusType enum insufficient-data
                                                  - name: Passed
                                                    value: passed
                                                    description: StatusType enum passed
                                      x-ms-identifiers: []
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - impaired
                                          - initializing
                                          - insufficient-data
                                          - not-applicable
                                          - ok
                                          x-ms-enum:
                                            name: SummaryStatus
                                            modelAsString: true
                                            values:
                                            - name: Impaired
                                              value: impaired
                                              description: SummaryStatus enum impaired
                                            - name: Initializing
                                              value: initializing
                                              description: SummaryStatus enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: SummaryStatus enum insufficient-data
                                            - name: NotApplicable
                                              value: not-applicable
                                              description: SummaryStatus enum not-applicable
                                            - name: Ok
                                              value: ok
                                              description: SummaryStatus enum ok
                                outpostArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the Outpost.</p>
                                systemStatus:
                                  description: <p>Reports impaired functionality that
                                    stems from issues related to the systems that
                                    support an instance, such as hardware failures
                                    and network connectivity problems.</p>
                                  type: object
                                  properties:
                                    details:
                                      type: array
                                      description: <p>The system instance health or
                                        application instance health.</p>
                                      items:
                                        type: object
                                        description: Definition of InstanceStatusDetails
                                        properties:
                                          impairedSince:
                                            type: string
                                            format: date-time
                                            description: <p>The time when a status
                                              check failed. For an instance that was
                                              launched and impaired, this is the time
                                              when the instance was launched.</p>
                                          name:
                                            description: <p>The type of instance status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - reachability
                                                x-ms-enum:
                                                  name: StatusName
                                                  modelAsString: true
                                                  values:
                                                  - name: Reachability
                                                    value: reachability
                                                    description: StatusName enum reachability
                                          status:
                                            description: <p>The status.</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - failed
                                                - initializing
                                                - insufficient-data
                                                - passed
                                                x-ms-enum:
                                                  name: StatusType
                                                  modelAsString: true
                                                  values:
                                                  - name: Failed
                                                    value: failed
                                                    description: StatusType enum failed
                                                  - name: Initializing
                                                    value: initializing
                                                    description: StatusType enum initializing
                                                  - name: InsufficientData
                                                    value: insufficient-data
                                                    description: StatusType enum insufficient-data
                                                  - name: Passed
                                                    value: passed
                                                    description: StatusType enum passed
                                      x-ms-identifiers: []
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - impaired
                                          - initializing
                                          - insufficient-data
                                          - not-applicable
                                          - ok
                                          x-ms-enum:
                                            name: SummaryStatus
                                            modelAsString: true
                                            values:
                                            - name: Impaired
                                              value: impaired
                                              description: SummaryStatus enum impaired
                                            - name: Initializing
                                              value: initializing
                                              description: SummaryStatus enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: SummaryStatus enum insufficient-data
                                            - name: NotApplicable
                                              value: not-applicable
                                              description: SummaryStatus enum not-applicable
                                            - name: Ok
                                              value: ok
                                              description: SummaryStatus enum ok
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2InstanceStatuses/{name}
  : get:
      operationId: Ec2InstanceStatuses_Get
      tags:
      - Ec2InstanceStatuses
      description: Get a Ec2InstanceStatus
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2InstanceStatus
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          availabilityZone:
                            type: string
                            description: <p>The Availability Zone of the instance.</p>
                          events:
                            type: array
                            description: <p>Any scheduled events associated with the
                              instance.</p>
                            items:
                              type: object
                              description: Definition of InstanceStatusEvent
                              properties:
                                code:
                                  description: <p>The event code.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - instance-reboot
                                      - instance-retirement
                                      - instance-stop
                                      - system-maintenance
                                      - system-reboot
                                      x-ms-enum:
                                        name: EventCode
                                        modelAsString: true
                                        values:
                                        - name: InstanceReboot
                                          value: instance-reboot
                                          description: EventCode enum instance-reboot
                                        - name: InstanceRetirement
                                          value: instance-retirement
                                          description: EventCode enum instance-retirement
                                        - name: InstanceStop
                                          value: instance-stop
                                          description: EventCode enum instance-stop
                                        - name: SystemMaintenance
                                          value: system-maintenance
                                          description: EventCode enum system-maintenance
                                        - name: SystemReboot
                                          value: system-reboot
                                          description: EventCode enum system-reboot
                                description:
                                  type: string
                                  description: '<p>A description of the event.</p>
                                    <p>After a scheduled event is completed, it can
                                    still be described for up to a week. If the event
                                    has been completed, this description starts with
                                    the following text: [Completed].</p>'
                                instanceEventId:
                                  type: string
                                  description: <p>The ID of the event.</p>
                                notAfter:
                                  type: string
                                  format: date-time
                                  description: <p>The latest scheduled end time for
                                    the event.</p>
                                notBefore:
                                  type: string
                                  format: date-time
                                  description: <p>The earliest scheduled start time
                                    for the event.</p>
                                notBeforeDeadline:
                                  type: string
                                  format: date-time
                                  description: <p>The deadline for starting the event.</p>
                            x-ms-identifiers: []
                          instanceId:
                            type: string
                            description: <p>The ID of the instance.</p>
                          instanceState:
                            description: <p>The intended state of the instance. <a>DescribeInstanceStatus</a>
                              requires that an instance be in the <code>running</code>
                              state.</p>
                            type: object
                            properties:
                              code:
                                type: integer
                                format: int32
                                description: '<p>The state of the instance as a 16-bit
                                  unsigned integer. </p> <p>The high byte is all of
                                  the bits between 2^8 and (2^16)-1, which equals
                                  decimal values between 256 and 65,535. These numerical
                                  values are used for internal purposes and should
                                  be ignored.</p> <p>The low byte is all of the bits
                                  between 2^0 and (2^8)-1, which equals decimal values
                                  between 0 and 255. </p> <p>The valid values for
                                  instance-state-code will all be in the range of
                                  the low byte and they are:</p> <ul> <li> <p> <code>0</code>
                                  : <code>pending</code> </p> </li> <li> <p> <code>16</code>
                                  : <code>running</code> </p> </li> <li> <p> <code>32</code>
                                  : <code>shutting-down</code> </p> </li> <li> <p>
                                  <code>48</code> : <code>terminated</code> </p> </li>
                                  <li> <p> <code>64</code> : <code>stopping</code>
                                  </p> </li> <li> <p> <code>80</code> : <code>stopped</code>
                                  </p> </li> </ul> <p>You can ignore the high byte
                                  value by zeroing out all of the bits above 2^8 or
                                  256 in decimal.</p>'
                              name:
                                description: <p>The current state of the instance.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - pending
                                    - running
                                    - shutting-down
                                    - stopped
                                    - stopping
                                    - terminated
                                    x-ms-enum:
                                      name: InstanceStateName
                                      modelAsString: true
                                      values:
                                      - name: Pending
                                        value: pending
                                        description: InstanceStateName enum pending
                                      - name: Running
                                        value: running
                                        description: InstanceStateName enum running
                                      - name: ShuttingDown
                                        value: shutting-down
                                        description: InstanceStateName enum shutting-down
                                      - name: Stopped
                                        value: stopped
                                        description: InstanceStateName enum stopped
                                      - name: Stopping
                                        value: stopping
                                        description: InstanceStateName enum stopping
                                      - name: Terminated
                                        value: terminated
                                        description: InstanceStateName enum terminated
                          instanceStatus:
                            description: <p>Reports impaired functionality that stems
                              from issues internal to the instance, such as impaired
                              reachability.</p>
                            type: object
                            properties:
                              details:
                                type: array
                                description: <p>The system instance health or application
                                  instance health.</p>
                                items:
                                  type: object
                                  description: Definition of InstanceStatusDetails
                                  properties:
                                    impairedSince:
                                      type: string
                                      format: date-time
                                      description: <p>The time when a status check
                                        failed. For an instance that was launched
                                        and impaired, this is the time when the instance
                                        was launched.</p>
                                    name:
                                      description: <p>The type of instance status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - reachability
                                          x-ms-enum:
                                            name: StatusName
                                            modelAsString: true
                                            values:
                                            - name: Reachability
                                              value: reachability
                                              description: StatusName enum reachability
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - failed
                                          - initializing
                                          - insufficient-data
                                          - passed
                                          x-ms-enum:
                                            name: StatusType
                                            modelAsString: true
                                            values:
                                            - name: Failed
                                              value: failed
                                              description: StatusType enum failed
                                            - name: Initializing
                                              value: initializing
                                              description: StatusType enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: StatusType enum insufficient-data
                                            - name: Passed
                                              value: passed
                                              description: StatusType enum passed
                                x-ms-identifiers: []
                              status:
                                description: <p>The status.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - impaired
                                    - initializing
                                    - insufficient-data
                                    - not-applicable
                                    - ok
                                    x-ms-enum:
                                      name: SummaryStatus
                                      modelAsString: true
                                      values:
                                      - name: Impaired
                                        value: impaired
                                        description: SummaryStatus enum impaired
                                      - name: Initializing
                                        value: initializing
                                        description: SummaryStatus enum initializing
                                      - name: InsufficientData
                                        value: insufficient-data
                                        description: SummaryStatus enum insufficient-data
                                      - name: NotApplicable
                                        value: not-applicable
                                        description: SummaryStatus enum not-applicable
                                      - name: Ok
                                        value: ok
                                        description: SummaryStatus enum ok
                          outpostArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              Outpost.</p>
                          systemStatus:
                            description: <p>Reports impaired functionality that stems
                              from issues related to the systems that support an instance,
                              such as hardware failures and network connectivity problems.</p>
                            type: object
                            properties:
                              details:
                                type: array
                                description: <p>The system instance health or application
                                  instance health.</p>
                                items:
                                  type: object
                                  description: Definition of InstanceStatusDetails
                                  properties:
                                    impairedSince:
                                      type: string
                                      format: date-time
                                      description: <p>The time when a status check
                                        failed. For an instance that was launched
                                        and impaired, this is the time when the instance
                                        was launched.</p>
                                    name:
                                      description: <p>The type of instance status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - reachability
                                          x-ms-enum:
                                            name: StatusName
                                            modelAsString: true
                                            values:
                                            - name: Reachability
                                              value: reachability
                                              description: StatusName enum reachability
                                    status:
                                      description: <p>The status.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - failed
                                          - initializing
                                          - insufficient-data
                                          - passed
                                          x-ms-enum:
                                            name: StatusType
                                            modelAsString: true
                                            values:
                                            - name: Failed
                                              value: failed
                                              description: StatusType enum failed
                                            - name: Initializing
                                              value: initializing
                                              description: StatusType enum initializing
                                            - name: InsufficientData
                                              value: insufficient-data
                                              description: StatusType enum insufficient-data
                                            - name: Passed
                                              value: passed
                                              description: StatusType enum passed
                                x-ms-identifiers: []
                              status:
                                description: <p>The status.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - impaired
                                    - initializing
                                    - insufficient-data
                                    - not-applicable
                                    - ok
                                    x-ms-enum:
                                      name: SummaryStatus
                                      modelAsString: true
                                      values:
                                      - name: Impaired
                                        value: impaired
                                        description: SummaryStatus enum impaired
                                      - name: Initializing
                                        value: initializing
                                        description: SummaryStatus enum initializing
                                      - name: InsufficientData
                                        value: insufficient-data
                                        description: SummaryStatus enum insufficient-data
                                      - name: NotApplicable
                                        value: not-applicable
                                        description: SummaryStatus enum not-applicable
                                      - name: Ok
                                        value: ok
                                        description: SummaryStatus enum ok
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
[...]
