openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2Ipams
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Ipams:
    get:
      operationId: Ec2Ipams_ListBySubscription
      tags:
      - Ec2Ipams
      description: List Ec2Ipam resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Ipam list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Ipam items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                defaultResourceDiscoveryAssociationId:
                                  type: string
                                  description: <p>The IPAM's default resource discovery
                                    association ID.</p>
                                defaultResourceDiscoveryId:
                                  type: string
                                  description: <p>The IPAM's default resource discovery
                                    ID.</p>
                                description:
                                  type: string
                                  description: <p>The description for the IPAM.</p>
                                ipamArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the IPAM.</p>
                                ipamId:
                                  type: string
                                  description: <p>The ID of the IPAM.</p>
                                ipamRegion:
                                  type: string
                                  description: <p>The Amazon Web Services Region of
                                    the IPAM.</p>
                                operatingRegions:
                                  type: array
                                  description: <p>The operating Regions for an IPAM.
                                    Operating Regions are Amazon Web Services Regions
                                    where the IPAM is allowed to manage IP address
                                    CIDRs. IPAM only discovers and monitors resources
                                    in the Amazon Web Services Regions you select
                                    as operating Regions.</p> <p>For more information
                                    about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create
                                    an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>
                                  items:
                                    type: object
                                    description: Definition of IpamOperatingRegion
                                    properties:
                                      regionName:
                                        type: string
                                        description: <p>The name of the operating
                                          Region.</p>
                                  x-ms-identifiers: []
                                ownerId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID of the owner of the IPAM.</p>
                                privateDefaultScopeId:
                                  type: string
                                  description: <p>The ID of the IPAM's default private
                                    scope.</p>
                                publicDefaultScopeId:
                                  type: string
                                  description: <p>The ID of the IPAM's default public
                                    scope.</p>
                                resourceDiscoveryAssociationCount:
                                  type: integer
                                  format: int32
                                  description: <p>The IPAM's resource discovery association
                                    count.</p>
                                scopeCount:
                                  type: integer
                                  format: int32
                                  description: <p>The number of scopes in the IPAM.
                                    The scope quota is 5. For more information on
                                    quotas, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas
                                    in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.
                                    </p>
                                state:
                                  description: <p>The state of the IPAM.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - create-complete
                                      - create-failed
                                      - create-in-progress
                                      - delete-complete
                                      - delete-failed
                                      - delete-in-progress
                                      - isolate-complete
                                      - isolate-in-progress
                                      - modify-complete
                                      - modify-failed
                                      - modify-in-progress
                                      - restore-in-progress
                                      x-ms-enum:
                                        name: IpamState
                                        modelAsString: true
                                        values:
                                        - name: CreateComplete
                                          value: create-complete
                                          description: IpamState enum create-complete
                                        - name: CreateFailed
                                          value: create-failed
                                          description: IpamState enum create-failed
                                        - name: CreateInProgress
                                          value: create-in-progress
                                          description: IpamState enum create-in-progress
                                        - name: DeleteComplete
                                          value: delete-complete
                                          description: IpamState enum delete-complete
                                        - name: DeleteFailed
                                          value: delete-failed
                                          description: IpamState enum delete-failed
                                        - name: DeleteInProgress
                                          value: delete-in-progress
                                          description: IpamState enum delete-in-progress
                                        - name: IsolateComplete
                                          value: isolate-complete
                                          description: IpamState enum isolate-complete
                                        - name: IsolateInProgress
                                          value: isolate-in-progress
                                          description: IpamState enum isolate-in-progress
                                        - name: ModifyComplete
                                          value: modify-complete
                                          description: IpamState enum modify-complete
                                        - name: ModifyFailed
                                          value: modify-failed
                                          description: IpamState enum modify-failed
                                        - name: ModifyInProgress
                                          value: modify-in-progress
                                          description: IpamState enum modify-in-progress
                                        - name: RestoreInProgress
                                          value: restore-in-progress
                                          description: IpamState enum restore-in-progress
                                stateMessage:
                                  type: string
                                  description: <p>The state message.</p>
                                tags:
                                  type: array
                                  description: <p>The key/value combination of a tag
                                    assigned to the resource. Use the tag key in the
                                    filter name and the tag value as the filter value.
                                    For example, to find all resources that have a
                                    tag with the key <code>Owner</code> and the value
                                    <code>TeamA</code>, specify <code>tag:Owner</code>
                                    for the filter name and <code>TeamA</code> for
                                    the filter value.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                tier:
                                  description: <p>IPAM is offered in a Free Tier and
                                    an Advanced Tier. For more information about the
                                    features available in each tier and the costs
                                    associated with the tiers, see <a href='http://aws.amazon.com/vpc/pricing/'>Amazon
                                    VPC pricing &gt; IPAM tab</a>.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - advanced
                                      - free
                                      x-ms-enum:
                                        name: IpamTier
                                        modelAsString: true
                                        values:
                                        - name: Advanced
                                          value: advanced
                                          description: IpamTier enum advanced
                                        - name: Free
                                          value: free
                                          description: IpamTier enum free
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Ipams:
    get:
      operationId: Ec2Ipams_ListByResourceGroup
      tags:
      - Ec2Ipams
      description: List Ec2Ipam resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Ipam list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Ipam items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                defaultResourceDiscoveryAssociationId:
                                  type: string
                                  description: <p>The IPAM's default resource discovery
                                    association ID.</p>
                                defaultResourceDiscoveryId:
                                  type: string
                                  description: <p>The IPAM's default resource discovery
                                    ID.</p>
                                description:
                                  type: string
                                  description: <p>The description for the IPAM.</p>
                                ipamArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the IPAM.</p>
                                ipamId:
                                  type: string
                                  description: <p>The ID of the IPAM.</p>
                                ipamRegion:
                                  type: string
                                  description: <p>The Amazon Web Services Region of
                                    the IPAM.</p>
                                operatingRegions:
                                  type: array
                                  description: <p>The operating Regions for an IPAM.
                                    Operating Regions are Amazon Web Services Regions
                                    where the IPAM is allowed to manage IP address
                                    CIDRs. IPAM only discovers and monitors resources
                                    in the Amazon Web Services Regions you select
                                    as operating Regions.</p> <p>For more information
                                    about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create
                                    an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>
                                  items:
                                    type: object
                                    description: Definition of IpamOperatingRegion
                                    properties:
                                      regionName:
                                        type: string
                                        description: <p>The name of the operating
                                          Region.</p>
                                  x-ms-identifiers: []
                                ownerId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID of the owner of the IPAM.</p>
                                privateDefaultScopeId:
                                  type: string
                                  description: <p>The ID of the IPAM's default private
                                    scope.</p>
                                publicDefaultScopeId:
                                  type: string
                                  description: <p>The ID of the IPAM's default public
                                    scope.</p>
                                resourceDiscoveryAssociationCount:
                                  type: integer
                                  format: int32
                                  description: <p>The IPAM's resource discovery association
                                    count.</p>
                                scopeCount:
                                  type: integer
                                  format: int32
                                  description: <p>The number of scopes in the IPAM.
                                    The scope quota is 5. For more information on
                                    quotas, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas
                                    in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.
                                    </p>
                                state:
                                  description: <p>The state of the IPAM.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - create-complete
                                      - create-failed
                                      - create-in-progress
                                      - delete-complete
                                      - delete-failed
                                      - delete-in-progress
                                      - isolate-complete
                                      - isolate-in-progress
                                      - modify-complete
                                      - modify-failed
                                      - modify-in-progress
                                      - restore-in-progress
                                      x-ms-enum:
                                        name: IpamState
                                        modelAsString: true
                                        values:
                                        - name: CreateComplete
                                          value: create-complete
                                          description: IpamState enum create-complete
                                        - name: CreateFailed
                                          value: create-failed
                                          description: IpamState enum create-failed
                                        - name: CreateInProgress
                                          value: create-in-progress
                                          description: IpamState enum create-in-progress
                                        - name: DeleteComplete
                                          value: delete-complete
                                          description: IpamState enum delete-complete
                                        - name: DeleteFailed
                                          value: delete-failed
                                          description: IpamState enum delete-failed
                                        - name: DeleteInProgress
                                          value: delete-in-progress
                                          description: IpamState enum delete-in-progress
                                        - name: IsolateComplete
                                          value: isolate-complete
                                          description: IpamState enum isolate-complete
                                        - name: IsolateInProgress
                                          value: isolate-in-progress
                                          description: IpamState enum isolate-in-progress
                                        - name: ModifyComplete
                                          value: modify-complete
                                          description: IpamState enum modify-complete
                                        - name: ModifyFailed
                                          value: modify-failed
                                          description: IpamState enum modify-failed
                                        - name: ModifyInProgress
                                          value: modify-in-progress
                                          description: IpamState enum modify-in-progress
                                        - name: RestoreInProgress
                                          value: restore-in-progress
                                          description: IpamState enum restore-in-progress
                                stateMessage:
                                  type: string
                                  description: <p>The state message.</p>
                                tags:
                                  type: array
                                  description: <p>The key/value combination of a tag
                                    assigned to the resource. Use the tag key in the
                                    filter name and the tag value as the filter value.
                                    For example, to find all resources that have a
                                    tag with the key <code>Owner</code> and the value
                                    <code>TeamA</code>, specify <code>tag:Owner</code>
                                    for the filter name and <code>TeamA</code> for
                                    the filter value.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                tier:
                                  description: <p>IPAM is offered in a Free Tier and
                                    an Advanced Tier. For more information about the
                                    features available in each tier and the costs
                                    associated with the tiers, see <a href='http://aws.amazon.com/vpc/pricing/'>Amazon
                                    VPC pricing &gt; IPAM tab</a>.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - advanced
                                      - free
                                      x-ms-enum:
                                        name: IpamTier
                                        modelAsString: true
                                        values:
                                        - name: Advanced
                                          value: advanced
                                          description: IpamTier enum advanced
                                        - name: Free
                                          value: free
                                          description: IpamTier enum free
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Ipams/{name}:
    get:
      operationId: Ec2Ipams_Get
      tags:
      - Ec2Ipams
      description: Get a Ec2Ipam
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Ipam
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          defaultResourceDiscoveryAssociationId:
                            type: string
                            description: <p>The IPAM's default resource discovery
                              association ID.</p>
                          defaultResourceDiscoveryId:
                            type: string
                            description: <p>The IPAM's default resource discovery
                              ID.</p>
                          description:
                            type: string
                            description: <p>The description for the IPAM.</p>
                          ipamArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              IPAM.</p>
                          ipamId:
                            type: string
                            description: <p>The ID of the IPAM.</p>
                          ipamRegion:
                            type: string
                            description: <p>The Amazon Web Services Region of the
                              IPAM.</p>
                          operatingRegions:
                            type: array
                            description: <p>The operating Regions for an IPAM. Operating
                              Regions are Amazon Web Services Regions where the IPAM
                              is allowed to manage IP address CIDRs. IPAM only discovers
                              and monitors resources in the Amazon Web Services Regions
                              you select as operating Regions.</p> <p>For more information
                              about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create
                              an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>
                            items:
                              type: object
                              description: Definition of IpamOperatingRegion
                              properties:
                                regionName:
                                  type: string
                                  description: <p>The name of the operating Region.</p>
                            x-ms-identifiers: []
                          ownerId:
                            type: string
                            description: <p>The Amazon Web Services account ID of
                              the owner of the IPAM.</p>
                          privateDefaultScopeId:
                            type: string
                            description: <p>The ID of the IPAM's default private scope.</p>
                          publicDefaultScopeId:
                            type: string
                            description: <p>The ID of the IPAM's default public scope.</p>
                          resourceDiscoveryAssociationCount:
                            type: integer
                            format: int32
                            description: <p>The IPAM's resource discovery association
                              count.</p>
                          scopeCount:
                            type: integer
                            format: int32
                            description: <p>The number of scopes in the IPAM. The
                              scope quota is 5. For more information on quotas, see
                              <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas
                              in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.
                              </p>
                          state:
                            description: <p>The state of the IPAM.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - create-complete
                                - create-failed
                                - create-in-progress
                                - delete-complete
                                - delete-failed
                                - delete-in-progress
                                - isolate-complete
                                - isolate-in-progress
                                - modify-complete
                                - modify-failed
                                - modify-in-progress
                                - restore-in-progress
                                x-ms-enum:
                                  name: IpamState
                                  modelAsString: true
                                  values:
                                  - name: CreateComplete
                                    value: create-complete
                                    description: IpamState enum create-complete
                                  - name: CreateFailed
                                    value: create-failed
                                    description: IpamState enum create-failed
                                  - name: CreateInProgress
                                    value: create-in-progress
                                    description: IpamState enum create-in-progress
                                  - name: DeleteComplete
                                    value: delete-complete
                                    description: IpamState enum delete-complete
                                  - name: DeleteFailed
                                    value: delete-failed
                                    description: IpamState enum delete-failed
                                  - name: DeleteInProgress
                                    value: delete-in-progress
                                    description: IpamState enum delete-in-progress
                                  - name: IsolateComplete
                                    value: isolate-complete
                                    description: IpamState enum isolate-complete
                                  - name: IsolateInProgress
                                    value: isolate-in-progress
                                    description: IpamState enum isolate-in-progress
                                  - name: ModifyComplete
                                    value: modify-complete
                                    description: IpamState enum modify-complete
                                  - name: ModifyFailed
                                    value: modify-failed
                                    description: IpamState enum modify-failed
                                  - name: ModifyInProgress
                                    value: modify-in-progress
                                    description: IpamState enum modify-in-progress
                                  - name: RestoreInProgress
                                    value: restore-in-progress
                                    description: IpamState enum restore-in-progress
                          stateMessage:
                            type: string
                            description: <p>The state message.</p>
                          tags:
                            type: array
                            description: <p>The key/value combination of a tag assigned
                              to the resource. Use the tag key in the filter name
                              and the tag value as the filter value. For example,
                              to find all resources that have a tag with the key <code>Owner</code>
                              and the value <code>TeamA</code>, specify <code>tag:Owner</code>
                              for the filter name and <code>TeamA</code> for the filter
                              value.</p>
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: '<p>The key of the tag.</p> <p>Constraints:
                                    Tag keys are case-sensitive and accept a maximum
                                    of 127 Unicode characters. May not begin with
                                    <code>aws:</code>.</p>'
                                value:
                                  type: string
                                  description: '<p>The value of the tag.</p> <p>Constraints:
                                    Tag values are case-sensitive and accept a maximum
                                    of 256 Unicode characters.</p>'
                            x-ms-identifiers: []
                          tier:
                            description: <p>IPAM is offered in a Free Tier and an
                              Advanced Tier. For more information about the features
                              available in each tier and the costs associated with
                              the tiers, see <a href='http://aws.amazon.com/vpc/pricing/'>Amazon
                              VPC pricing &gt; IPAM tab</a>.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - advanced
                                - free
                                x-ms-enum:
                                  name: IpamTier
                                  modelAsString: true
                                  values:
                                  - name: Advanced
                                    value: advanced
                                    description: IpamTier enum advanced
                                  - name: Free
                                    value: free
                                    description: IpamTier enum free
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2Ipams_CreateOrReplace
      tags:
      - Ec2Ipams
      description: Create a Ec2Ipam. Please note that end user resource creation is
        currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Ipam
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        defaultResourceDiscoveryAssociationId:
                          type: string
                          description: <p>The IPAM's default resource discovery association
                            ID.</p>
                        defaultResourceDiscoveryId:
                          type: string
                          description: <p>The IPAM's default resource discovery ID.</p>
                        description:
                          type: string
                          description: <p>The description for the IPAM.</p>
                        ipamArn:
                          type: string
                          description: <p>The Amazon Resource Name (ARN) of the IPAM.</p>
                        ipamId:
                          type: string
                          description: <p>The ID of the IPAM.</p>
                        ipamRegion:
                          type: string
                          description: <p>The Amazon Web Services Region of the IPAM.</p>
                        operatingRegions:
                          type: array
                          description: <p>The operating Regions for an IPAM. Operating
                            Regions are Amazon Web Services Regions where the IPAM
                            is allowed to manage IP address CIDRs. IPAM only discovers
                            and monitors resources in the Amazon Web Services Regions
                            you select as operating Regions.</p> <p>For more information
                            about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create
                            an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>
                          items:
                            type: object
                            description: Definition of IpamOperatingRegion
                            properties:
                              regionName:
                                type: string
                                description: <p>The name of the operating Region.</p>
                          x-ms-identifiers: []
                        ownerId:
                          type: string
                          description: <p>The Amazon Web Services account ID of the
                            owner of the IPAM.</p>
                        privateDefaultScopeId:
                          type: string
                          description: <p>The ID of the IPAM's default private scope.</p>
                        publicDefaultScopeId:
                          type: string
                          description: <p>The ID of the IPAM's default public scope.</p>
                        resourceDiscoveryAssociationCount:
                          type: integer
                          format: int32
                          description: <p>The IPAM's resource discovery association
                            count.</p>
                        scopeCount:
                          type: integer
                          format: int32
                          description: <p>The number of scopes in the IPAM. The scope
                            quota is 5. For more information on quotas, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas
                            in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.
                            </p>
                        state:
                          description: <p>The state of the IPAM.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - create-complete
                              - create-failed
                              - create-in-progress
                              - delete-complete
                              - delete-failed
                              - delete-in-progress
                              - isolate-complete
                              - isolate-in-progress
                              - modify-complete
                              - modify-failed
                              - modify-in-progress
                              - restore-in-progress
                              x-ms-enum:
                                name: IpamState
                                modelAsString: true
                                values:
                                - name: CreateComplete
                                  value: create-complete
                                  description: IpamState enum create-complete
                                - name: CreateFailed
                                  value: create-failed
                                  description: IpamState enum create-failed
                                - name: CreateInProgress
                                  value: create-in-progress
                                  description: IpamState enum create-in-progress
                                - name: DeleteComplete
                                  value: delete-complete
                                  description: IpamState enum delete-complete
                                - name: DeleteFailed
                                  value: delete-failed
                                  description: IpamState enum delete-failed
                                - name: DeleteInProgress
                                  value: delete-in-progress
                                  description: IpamState enum delete-in-progress
                                - name: IsolateComplete
                                  value: isolate-complete
                                  description: IpamState enum isolate-complete
                                - name: IsolateInProgress
                                  value: isolate-in-progress
                                  description: IpamState enum isolate-in-progress
                                - name: ModifyComplete
                                  value: modify-complete
                                  description: IpamState enum modify-complete
                                - name: ModifyFailed
                                  value: modify-failed
                                  description: IpamState enum modify-failed
                                - name: ModifyInProgress
                                  value: modify-in-progress
                                  description: IpamState enum modify-in-progress
                                - name: RestoreInProgress
                                  value: restore-in-progress
                                  description: IpamState enum restore-in-progress
                        stateMessage:
                          type: string
                          description: <p>The state message.</p>
                        tags:
                          type: array
                          description: <p>The key/value combination of a tag assigned
                            to the resource. Use the tag key in the filter name and
                            the tag value as the filter value. For example, to find
                            all resources that have a tag with the key <code>Owner</code>
                            and the value <code>TeamA</code>, specify <code>tag:Owner</code>
                            for the filter name and <code>TeamA</code> for the filter
                            value.</p>
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: '<p>The key of the tag.</p> <p>Constraints:
                                  Tag keys are case-sensitive and accept a maximum
                                  of 127 Unicode characters. May not begin with <code>aws:</code>.</p>'
                              value:
                                type: string
                                description: '<p>The value of the tag.</p> <p>Constraints:
                                  Tag values are case-sensitive and accept a maximum
                                  of 256 Unicode characters.</p>'
                          x-ms-identifiers: []
                        tier:
                          description: <p>IPAM is offered in a Free Tier and an Advanced
                            Tier. For more information about the features available
                            in each tier and the costs associated with the tiers,
                            see <a href='http://aws.amazon.com/vpc/pricing/'>Amazon
                            VPC pricing &gt; IPAM tab</a>.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - advanced
                              - free
                              x-ms-enum:
                                name: IpamTier
                                modelAsString: true
                                values:
                                - name: Advanced
                                  value: advanced
                                  description: IpamTier enum advanced
                                - name: Free
                                  value: free
                                  description: IpamTier enum free
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2Ipam' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          defaultResourceDiscoveryAssociationId:
                            type: string
                            description: <p>The IPAM's default resource discovery
                              association ID.</p>
                          defaultResourceDiscoveryId:
                            type: string
                            description: <p>The IPAM's default resource discovery
                              ID.</p>
                          description:
                            type: string
                            description: <p>The description for the IPAM.</p>
                          ipamArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              IPAM.</p>
                          ipamId:
                            type: string
                            description: <p>The ID of the IPAM.</p>
                          ipamRegion:
                            type: string
                            description: <p>The Amazon Web Services Region of the
                              IPAM.</p>
                          operatingRegions:
                            type: array
                            description: <p>The operating Regions for an IPAM. Operating
                              Regions are Amazon Web Services Regions where the IPAM
                              is allowed to manage IP address CIDRs. IPAM only discovers
                              and monitors resources in the Amazon Web Services Regions
                              you select as operating Regions.</p> <p>For more information
                              about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create
                              an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>
                            items:
                              type: object
                              description: Definition of IpamOperatingRegion
                              properties:
                                regionName:
                                  type: string
                                  description: <p>The name of the operating Region.</p>
                            x-ms-identifiers: []
                          ownerId:
                            type: string
                            description: <p>The Amazon Web Services account ID of
                              the owner of the IPAM.</p>
                          privateDefaultScopeId:
                            type: string
                            description: <p>The ID of the IPAM's default private scope.</p>
                          publicDefaultScopeId:
                            type: string
                            description: <p>The ID of the IPAM's default public scope.</p>
                          resourceDiscoveryAssociationCount:
                            type: integer
                            format: int32
                            description: <p>The IPAM's resource discovery association
                              count.</p>
                          scopeCount:
                            type: integer
                            format: int32
                            description: <p>The number of scopes in the IPAM. The
                              scope quota is 5. For more information on quotas, see
                              <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas
                              in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.
                              </p>
                          state:
                            description: <p>The state of the IPAM.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - create-complete
[...]
