openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2NetworkInterfaces
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2NetworkInterfaces:
    get:
      operationId: Ec2NetworkInterfaces_ListBySubscription
      tags:
      - Ec2NetworkInterfaces
      description: List Ec2NetworkInterface resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2NetworkInterface list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2NetworkInterface items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                connectionTrackingSpecification:
                                  description: Property connectionTrackingSpecification
                                  type: object
                                  properties:
                                    tcpEstablishedTimeout:
                                      type: integer
                                      format: int32
                                      description: Property tcpEstablishedTimeout
                                    udpStreamTimeout:
                                      type: integer
                                      format: int32
                                      description: Property udpStreamTimeout
                                    udpTimeout:
                                      type: integer
                                      format: int32
                                      description: Property udpTimeout
                                description:
                                  type: string
                                  description: A description for the network interface.
                                enablePrimaryIpv6:
                                  type: boolean
                                  description: If you have instances or ENIs that
                                    rely on the IPv6 address not changing, to avoid
                                    disrupting traffic to instances or ENIs, you can
                                    enable a primary IPv6 address. Enable this option
                                    to automatically assign an IPv6 associated with
                                    the ENI attached to your instance to be the primary
                                    IPv6 address. When you enable an IPv6 address
                                    to be a primary IPv6, you cannot disable it. Traffic
                                    will be routed to the primary IPv6 address until
                                    the instance is terminated or the ENI is detached.
                                    If you have multiple IPv6 addresses associated
                                    with an ENI and you enable a primary IPv6 address,
                                    the first IPv6 address associated with the ENI
                                    becomes the primary IPv6 address.
                                groupSet:
                                  type: array
                                  description: A list of security group IDs associated
                                    with this network interface.
                                  items:
                                    type: string
                                id:
                                  type: string
                                  description: Network interface id.
                                interfaceType:
                                  type: string
                                  description: Indicates the type of network interface.
                                ipv4PrefixCount:
                                  type: integer
                                  format: int32
                                  description: 'The number of IPv4 prefixes to assign
                                    to a network interface. When you specify a number
                                    of IPv4 prefixes, Amazon EC2 selects these prefixes
                                    from your existing subnet CIDR reservations, if
                                    available, or from free spaces in the subnet.
                                    By default, these will be /28 prefixes. You can''t
                                    specify a count of IPv4 prefixes if you''ve specified
                                    one of the following: specific IPv4 prefixes,
                                    specific private IPv4 addresses, or a count of
                                    private IPv4 addresses.'
                                ipv4Prefixes:
                                  type: array
                                  description: 'Assigns a list of IPv4 prefixes to
                                    the network interface. If you want EC2 to automatically
                                    assign IPv4 prefixes, use the Ipv4PrefixCount
                                    property and do not specify this property. Presently,
                                    only /28 prefixes are supported. You can''t specify
                                    IPv4 prefixes if you''ve specified one of the
                                    following: a count of IPv4 prefixes, specific
                                    private IPv4 addresses, or a count of private
                                    IPv4 addresses.'
                                  items:
                                    type: object
                                    description: Definition of Ipv4PrefixSpecification
                                    properties:
                                      ipv4Prefix:
                                        type: string
                                        description: Property ipv4Prefix
                                  x-ms-identifiers: []
                                ipv6AddressCount:
                                  type: integer
                                  format: int32
                                  description: The number of IPv6 addresses to assign
                                    to a network interface. Amazon EC2 automatically
                                    selects the IPv6 addresses from the subnet range.
                                    To specify specific IPv6 addresses, use the Ipv6Addresses
                                    property and don't specify this property.
                                ipv6Addresses:
                                  type: array
                                  description: One or more specific IPv6 addresses
                                    from the IPv6 CIDR block range of your subnet
                                    to associate with the network interface. If you're
                                    specifying a number of IPv6 addresses, use the
                                    Ipv6AddressCount property and don't specify this
                                    property.
                                  items:
                                    type: object
                                    description: Definition of InstanceIpv6Address
                                    properties:
                                      ipv6Address:
                                        type: string
                                        description: Property ipv6Address
                                  x-ms-identifiers: []
                                ipv6PrefixCount:
                                  type: integer
                                  format: int32
                                  description: 'The number of IPv6 prefixes to assign
                                    to a network interface. When you specify a number
                                    of IPv6 prefixes, Amazon EC2 selects these prefixes
                                    from your existing subnet CIDR reservations, if
                                    available, or from free spaces in the subnet.
                                    By default, these will be /80 prefixes. You can''t
                                    specify a count of IPv6 prefixes if you''ve specified
                                    one of the following: specific IPv6 prefixes,
                                    specific IPv6 addresses, or a count of IPv6 addresses.'
                                ipv6Prefixes:
                                  type: array
                                  description: 'Assigns a list of IPv6 prefixes to
                                    the network interface. If you want EC2 to automatically
                                    assign IPv6 prefixes, use the Ipv6PrefixCount
                                    property and do not specify this property. Presently,
                                    only /80 prefixes are supported. You can''t specify
                                    IPv6 prefixes if you''ve specified one of the
                                    following: a count of IPv6 prefixes, specific
                                    IPv6 addresses, or a count of IPv6 addresses.'
                                  items:
                                    type: object
                                    description: Definition of Ipv6PrefixSpecification
                                    properties:
                                      ipv6Prefix:
                                        type: string
                                        description: Property ipv6Prefix
                                  x-ms-identifiers: []
                                primaryIpv6Address:
                                  type: string
                                  description: The primary IPv6 address
                                primaryPrivateIpAddress:
                                  type: string
                                  description: Returns the primary private IP address
                                    of the network interface.
                                privateIpAddress:
                                  type: string
                                  description: Assigns a single private IP address
                                    to the network interface, which is used as the
                                    primary private IP address. If you want to specify
                                    multiple private IP address, use the PrivateIpAddresses
                                    property.
                                privateIpAddresses:
                                  type: array
                                  description: Assigns a list of private IP addresses
                                    to the network interface. You can specify a primary
                                    private IP address by setting the value of the
                                    Primary property to true in the PrivateIpAddressSpecification
                                    property. If you want EC2 to automatically assign
                                    private IP addresses, use the SecondaryPrivateIpAddressCount
                                    property and do not specify this property.
                                  items:
                                    type: object
                                    description: Definition of PrivateIpAddressSpecification
                                    properties:
                                      primary:
                                        type: boolean
                                        description: Property primary
                                      privateIpAddress:
                                        type: string
                                        description: Property privateIpAddress
                                  x-ms-identifiers: []
                                secondaryPrivateIpAddressCount:
                                  type: integer
                                  format: int32
                                  description: The number of secondary private IPv4
                                    addresses to assign to a network interface. When
                                    you specify a number of secondary IPv4 addresses,
                                    Amazon EC2 selects these IP addresses within the
                                    subnet's IPv4 CIDR range. You can't specify this
                                    option and specify more than one private IP address
                                    using privateIpAddresses
                                secondaryPrivateIpAddresses:
                                  type: array
                                  description: Returns the secondary private IP addresses
                                    of the network interface.
                                  items:
                                    type: string
                                sourceDestCheck:
                                  type: boolean
                                  description: Indicates whether traffic to or from
                                    the instance is validated.
                                subnetId:
                                  type: string
                                  description: The ID of the subnet to associate with
                                    the network interface.
                                tags:
                                  type: array
                                  description: An arbitrary set of tags (key-value
                                    pairs) for this network interface.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: The ID of the VPC
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2NetworkInterfaces:
    get:
      operationId: Ec2NetworkInterfaces_ListByResourceGroup
      tags:
      - Ec2NetworkInterfaces
      description: List Ec2NetworkInterface resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2NetworkInterface list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2NetworkInterface items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                connectionTrackingSpecification:
                                  description: Property connectionTrackingSpecification
                                  type: object
                                  properties:
                                    tcpEstablishedTimeout:
                                      type: integer
                                      format: int32
                                      description: Property tcpEstablishedTimeout
                                    udpStreamTimeout:
                                      type: integer
                                      format: int32
                                      description: Property udpStreamTimeout
                                    udpTimeout:
                                      type: integer
                                      format: int32
                                      description: Property udpTimeout
                                description:
                                  type: string
                                  description: A description for the network interface.
                                enablePrimaryIpv6:
                                  type: boolean
                                  description: If you have instances or ENIs that
                                    rely on the IPv6 address not changing, to avoid
                                    disrupting traffic to instances or ENIs, you can
                                    enable a primary IPv6 address. Enable this option
                                    to automatically assign an IPv6 associated with
                                    the ENI attached to your instance to be the primary
                                    IPv6 address. When you enable an IPv6 address
                                    to be a primary IPv6, you cannot disable it. Traffic
                                    will be routed to the primary IPv6 address until
                                    the instance is terminated or the ENI is detached.
                                    If you have multiple IPv6 addresses associated
                                    with an ENI and you enable a primary IPv6 address,
                                    the first IPv6 address associated with the ENI
                                    becomes the primary IPv6 address.
                                groupSet:
                                  type: array
                                  description: A list of security group IDs associated
                                    with this network interface.
                                  items:
                                    type: string
                                id:
                                  type: string
                                  description: Network interface id.
                                interfaceType:
                                  type: string
                                  description: Indicates the type of network interface.
                                ipv4PrefixCount:
                                  type: integer
                                  format: int32
                                  description: 'The number of IPv4 prefixes to assign
                                    to a network interface. When you specify a number
                                    of IPv4 prefixes, Amazon EC2 selects these prefixes
                                    from your existing subnet CIDR reservations, if
                                    available, or from free spaces in the subnet.
                                    By default, these will be /28 prefixes. You can''t
                                    specify a count of IPv4 prefixes if you''ve specified
                                    one of the following: specific IPv4 prefixes,
                                    specific private IPv4 addresses, or a count of
                                    private IPv4 addresses.'
                                ipv4Prefixes:
                                  type: array
                                  description: 'Assigns a list of IPv4 prefixes to
                                    the network interface. If you want EC2 to automatically
                                    assign IPv4 prefixes, use the Ipv4PrefixCount
                                    property and do not specify this property. Presently,
                                    only /28 prefixes are supported. You can''t specify
                                    IPv4 prefixes if you''ve specified one of the
                                    following: a count of IPv4 prefixes, specific
                                    private IPv4 addresses, or a count of private
                                    IPv4 addresses.'
                                  items:
                                    type: object
                                    description: Definition of Ipv4PrefixSpecification
                                    properties:
                                      ipv4Prefix:
                                        type: string
                                        description: Property ipv4Prefix
                                  x-ms-identifiers: []
                                ipv6AddressCount:
                                  type: integer
                                  format: int32
                                  description: The number of IPv6 addresses to assign
                                    to a network interface. Amazon EC2 automatically
                                    selects the IPv6 addresses from the subnet range.
                                    To specify specific IPv6 addresses, use the Ipv6Addresses
                                    property and don't specify this property.
                                ipv6Addresses:
                                  type: array
                                  description: One or more specific IPv6 addresses
                                    from the IPv6 CIDR block range of your subnet
                                    to associate with the network interface. If you're
                                    specifying a number of IPv6 addresses, use the
                                    Ipv6AddressCount property and don't specify this
                                    property.
                                  items:
                                    type: object
                                    description: Definition of InstanceIpv6Address
                                    properties:
                                      ipv6Address:
                                        type: string
                                        description: Property ipv6Address
                                  x-ms-identifiers: []
                                ipv6PrefixCount:
                                  type: integer
                                  format: int32
                                  description: 'The number of IPv6 prefixes to assign
                                    to a network interface. When you specify a number
                                    of IPv6 prefixes, Amazon EC2 selects these prefixes
                                    from your existing subnet CIDR reservations, if
                                    available, or from free spaces in the subnet.
                                    By default, these will be /80 prefixes. You can''t
                                    specify a count of IPv6 prefixes if you''ve specified
                                    one of the following: specific IPv6 prefixes,
                                    specific IPv6 addresses, or a count of IPv6 addresses.'
                                ipv6Prefixes:
                                  type: array
                                  description: 'Assigns a list of IPv6 prefixes to
                                    the network interface. If you want EC2 to automatically
                                    assign IPv6 prefixes, use the Ipv6PrefixCount
                                    property and do not specify this property. Presently,
                                    only /80 prefixes are supported. You can''t specify
                                    IPv6 prefixes if you''ve specified one of the
                                    following: a count of IPv6 prefixes, specific
                                    IPv6 addresses, or a count of IPv6 addresses.'
                                  items:
                                    type: object
                                    description: Definition of Ipv6PrefixSpecification
                                    properties:
                                      ipv6Prefix:
                                        type: string
                                        description: Property ipv6Prefix
                                  x-ms-identifiers: []
                                primaryIpv6Address:
                                  type: string
                                  description: The primary IPv6 address
                                primaryPrivateIpAddress:
                                  type: string
                                  description: Returns the primary private IP address
                                    of the network interface.
                                privateIpAddress:
                                  type: string
                                  description: Assigns a single private IP address
                                    to the network interface, which is used as the
                                    primary private IP address. If you want to specify
                                    multiple private IP address, use the PrivateIpAddresses
                                    property.
                                privateIpAddresses:
                                  type: array
                                  description: Assigns a list of private IP addresses
                                    to the network interface. You can specify a primary
                                    private IP address by setting the value of the
                                    Primary property to true in the PrivateIpAddressSpecification
                                    property. If you want EC2 to automatically assign
                                    private IP addresses, use the SecondaryPrivateIpAddressCount
                                    property and do not specify this property.
                                  items:
                                    type: object
                                    description: Definition of PrivateIpAddressSpecification
                                    properties:
                                      primary:
                                        type: boolean
                                        description: Property primary
                                      privateIpAddress:
                                        type: string
                                        description: Property privateIpAddress
                                  x-ms-identifiers: []
                                secondaryPrivateIpAddressCount:
                                  type: integer
                                  format: int32
                                  description: The number of secondary private IPv4
                                    addresses to assign to a network interface. When
                                    you specify a number of secondary IPv4 addresses,
                                    Amazon EC2 selects these IP addresses within the
                                    subnet's IPv4 CIDR range. You can't specify this
                                    option and specify more than one private IP address
                                    using privateIpAddresses
                                secondaryPrivateIpAddresses:
                                  type: array
                                  description: Returns the secondary private IP addresses
                                    of the network interface.
                                  items:
                                    type: string
                                sourceDestCheck:
                                  type: boolean
                                  description: Indicates whether traffic to or from
                                    the instance is validated.
                                subnetId:
                                  type: string
                                  description: The ID of the subnet to associate with
                                    the network interface.
                                tags:
                                  type: array
                                  description: An arbitrary set of tags (key-value
                                    pairs) for this network interface.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: The ID of the VPC
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2NetworkInterfaces/{name}
  : get:
      operationId: Ec2NetworkInterfaces_Get
      tags:
      - Ec2NetworkInterfaces
      description: Get a Ec2NetworkInterface
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2NetworkInterface
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          connectionTrackingSpecification:
                            description: Property connectionTrackingSpecification
                            type: object
                            properties:
                              tcpEstablishedTimeout:
                                type: integer
                                format: int32
                                description: Property tcpEstablishedTimeout
                              udpStreamTimeout:
                                type: integer
                                format: int32
                                description: Property udpStreamTimeout
                              udpTimeout:
                                type: integer
                                format: int32
                                description: Property udpTimeout
                          description:
                            type: string
                            description: A description for the network interface.
                          enablePrimaryIpv6:
                            type: boolean
                            description: If you have instances or ENIs that rely on
                              the IPv6 address not changing, to avoid disrupting traffic
                              to instances or ENIs, you can enable a primary IPv6
                              address. Enable this option to automatically assign
                              an IPv6 associated with the ENI attached to your instance
                              to be the primary IPv6 address. When you enable an IPv6
                              address to be a primary IPv6, you cannot disable it.
                              Traffic will be routed to the primary IPv6 address until
                              the instance is terminated or the ENI is detached. If
                              you have multiple IPv6 addresses associated with an
                              ENI and you enable a primary IPv6 address, the first
                              IPv6 address associated with the ENI becomes the primary
                              IPv6 address.
                          groupSet:
                            type: array
                            description: A list of security group IDs associated with
                              this network interface.
                            items:
                              type: string
                          id:
                            type: string
                            description: Network interface id.
                          interfaceType:
                            type: string
                            description: Indicates the type of network interface.
                          ipv4PrefixCount:
                            type: integer
                            format: int32
                            description: 'The number of IPv4 prefixes to assign to
                              a network interface. When you specify a number of IPv4
                              prefixes, Amazon EC2 selects these prefixes from your
                              existing subnet CIDR reservations, if available, or
                              from free spaces in the subnet. By default, these will
                              be /28 prefixes. You can''t specify a count of IPv4
                              prefixes if you''ve specified one of the following:
                              specific IPv4 prefixes, specific private IPv4 addresses,
                              or a count of private IPv4 addresses.'
                          ipv4Prefixes:
                            type: array
                            description: 'Assigns a list of IPv4 prefixes to the network
                              interface. If you want EC2 to automatically assign IPv4
                              prefixes, use the Ipv4PrefixCount property and do not
                              specify this property. Presently, only /28 prefixes
                              are supported. You can''t specify IPv4 prefixes if you''ve
                              specified one of the following: a count of IPv4 prefixes,
                              specific private IPv4 addresses, or a count of private
                              IPv4 addresses.'
                            items:
                              type: object
                              description: Definition of Ipv4PrefixSpecification
                              properties:
                                ipv4Prefix:
                                  type: string
                                  description: Property ipv4Prefix
                            x-ms-identifiers: []
                          ipv6AddressCount:
                            type: integer
                            format: int32
                            description: The number of IPv6 addresses to assign to
                              a network interface. Amazon EC2 automatically selects
                              the IPv6 addresses from the subnet range. To specify
                              specific IPv6 addresses, use the Ipv6Addresses property
                              and don't specify this property.
                          ipv6Addresses:
                            type: array
                            description: One or more specific IPv6 addresses from
                              the IPv6 CIDR block range of your subnet to associate
                              with the network interface. If you're specifying a number
                              of IPv6 addresses, use the Ipv6AddressCount property
                              and don't specify this property.
                            items:
                              type: object
                              description: Definition of InstanceIpv6Address
                              properties:
                                ipv6Address:
                                  type: string
                                  description: Property ipv6Address
                            x-ms-identifiers: []
                          ipv6PrefixCount:
                            type: integer
                            format: int32
                            description: 'The number of IPv6 prefixes to assign to
                              a network interface. When you specify a number of IPv6
                              prefixes, Amazon EC2 selects these prefixes from your
                              existing subnet CIDR reservations, if available, or
                              from free spaces in the subnet. By default, these will
                              be /80 prefixes. You can''t specify a count of IPv6
                              prefixes if you''ve specified one of the following:
                              specific IPv6 prefixes, specific IPv6 addresses, or
                              a count of IPv6 addresses.'
                          ipv6Prefixes:
                            type: array
                            description: 'Assigns a list of IPv6 prefixes to the network
                              interface. If you want EC2 to automatically assign IPv6
                              prefixes, use the Ipv6PrefixCount property and do not
                              specify this property. Presently, only /80 prefixes
                              are supported. You can''t specify IPv6 prefixes if you''ve
                              specified one of the following: a count of IPv6 prefixes,
                              specific IPv6 addresses, or a count of IPv6 addresses.'
                            items:
                              type: object
                              description: Definition of Ipv6PrefixSpecification
                              properties:
                                ipv6Prefix:
                                  type: string
                                  description: Property ipv6Prefix
                            x-ms-identifiers: []
                          primaryIpv6Address:
                            type: string
                            description: The primary IPv6 address
                          primaryPrivateIpAddress:
                            type: string
                            description: Returns the primary private IP address of
                              the network interface.
                          privateIpAddress:
                            type: string
                            description: Assigns a single private IP address to the
                              network interface, which is used as the primary private
                              IP address. If you want to specify multiple private
                              IP address, use the PrivateIpAddresses property.
                          privateIpAddresses:
                            type: array
                            description: Assigns a list of private IP addresses to
                              the network interface. You can specify a primary private
                              IP address by setting the value of the Primary property
                              to true in the PrivateIpAddressSpecification property.
                              If you want EC2 to automatically assign private IP addresses,
                              use the SecondaryPrivateIpAddressCount property and
                              do not specify this property.
                            items:
                              type: object
                              description: Definition of PrivateIpAddressSpecification
                              properties:
                                primary:
                                  type: boolean
                                  description: Property primary
                                privateIpAddress:
                                  type: string
                                  description: Property privateIpAddress
                            x-ms-identifiers: []
                          secondaryPrivateIpAddressCount:
                            type: integer
                            format: int32
                            description: The number of secondary private IPv4 addresses
                              to assign to a network interface. When you specify a
                              number of secondary IPv4 addresses, Amazon EC2 selects
                              these IP addresses within the subnet's IPv4 CIDR range.
                              You can't specify this option and specify more than
                              one private IP address using privateIpAddresses
                          secondaryPrivateIpAddresses:
                            type: array
                            description: Returns the secondary private IP addresses
                              of the network interface.
                            items:
                              type: string
                          sourceDestCheck:
                            type: boolean
                            description: Indicates whether traffic to or from the
                              instance is validated.
                          subnetId:
                            type: string
                            description: The ID of the subnet to associate with the
                              network interface.
                          tags:
                            type: array
                            description: An arbitrary set of tags (key-value pairs)
                              for this network interface.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          vpcId:
                            type: string
                            description: The ID of the VPC
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2NetworkInterfaces_CreateOrReplace
      tags:
      - Ec2NetworkInterfaces
      description: Create a Ec2NetworkInterface. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2NetworkInterface
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        connectionTrackingSpecification:
                          description: Property connectionTrackingSpecification
                          type: object
                          properties:
                            tcpEstablishedTimeout:
                              type: integer
                              format: int32
                              description: Property tcpEstablishedTimeout
                            udpStreamTimeout:
                              type: integer
                              format: int32
                              description: Property udpStreamTimeout
                            udpTimeout:
                              type: integer
                              format: int32
                              description: Property udpTimeout
                        description:
                          type: string
                          description: A description for the network interface.
                        enablePrimaryIpv6:
                          type: boolean
                          description: If you have instances or ENIs that rely on
                            the IPv6 address not changing, to avoid disrupting traffic
                            to instances or ENIs, you can enable a primary IPv6 address.
                            Enable this option to automatically assign an IPv6 associated
                            with the ENI attached to your instance to be the primary
                            IPv6 address. When you enable an IPv6 address to be a
                            primary IPv6, you cannot disable it. Traffic will be routed
                            to the primary IPv6 address until the instance is terminated
                            or the ENI is detached. If you have multiple IPv6 addresses
                            associated with an ENI and you enable a primary IPv6 address,
                            the first IPv6 address associated with the ENI becomes
                            the primary IPv6 address.
                        groupSet:
                          type: array
                          description: A list of security group IDs associated with
                            this network interface.
                          items:
                            type: string
                        id:
                          type: string
                          description: Network interface id.
                        interfaceType:
                          type: string
                          description: Indicates the type of network interface.
                        ipv4PrefixCount:
                          type: integer
                          format: int32
                          description: 'The number of IPv4 prefixes to assign to a
                            network interface. When you specify a number of IPv4 prefixes,
                            Amazon EC2 selects these prefixes from your existing subnet
                            CIDR reservations, if available, or from free spaces in
                            the subnet. By default, these will be /28 prefixes. You
                            can''t specify a count of IPv4 prefixes if you''ve specified
                            one of the following: specific IPv4 prefixes, specific
                            private IPv4 addresses, or a count of private IPv4 addresses.'
                        ipv4Prefixes:
                          type: array
                          description: 'Assigns a list of IPv4 prefixes to the network
                            interface. If you want EC2 to automatically assign IPv4
                            prefixes, use the Ipv4PrefixCount property and do not
                            specify this property. Presently, only /28 prefixes are
                            supported. You can''t specify IPv4 prefixes if you''ve
                            specified one of the following: a count of IPv4 prefixes,
                            specific private IPv4 addresses, or a count of private
                            IPv4 addresses.'
                          items:
                            type: object
                            description: Definition of Ipv4PrefixSpecification
                            properties:
                              ipv4Prefix:
                                type: string
                                description: Property ipv4Prefix
                          x-ms-identifiers: []
                        ipv6AddressCount:
                          type: integer
                          format: int32
                          description: The number of IPv6 addresses to assign to a
                            network interface. Amazon EC2 automatically selects the
                            IPv6 addresses from the subnet range. To specify specific
                            IPv6 addresses, use the Ipv6Addresses property and don't
                            specify this property.
                        ipv6Addresses:
                          type: array
                          description: One or more specific IPv6 addresses from the
                            IPv6 CIDR block range of your subnet to associate with
                            the network interface. If you're specifying a number of
                            IPv6 addresses, use the Ipv6AddressCount property and
                            don't specify this property.
                          items:
                            type: object
                            description: Definition of InstanceIpv6Address
                            properties:
                              ipv6Address:
                                type: string
                                description: Property ipv6Address
                          x-ms-identifiers: []
                        ipv6PrefixCount:
                          type: integer
                          format: int32
                          description: 'The number of IPv6 prefixes to assign to a
                            network interface. When you specify a number of IPv6 prefixes,
                            Amazon EC2 selects these prefixes from your existing subnet
                            CIDR reservations, if available, or from free spaces in
                            the subnet. By default, these will be /80 prefixes. You
                            can''t specify a count of IPv6 prefixes if you''ve specified
                            one of the following: specific IPv6 prefixes, specific
                            IPv6 addresses, or a count of IPv6 addresses.'
                        ipv6Prefixes:
                          type: array
                          description: 'Assigns a list of IPv6 prefixes to the network
                            interface. If you want EC2 to automatically assign IPv6
                            prefixes, use the Ipv6PrefixCount property and do not
                            specify this property. Presently, only /80 prefixes are
                            supported. You can''t specify IPv6 prefixes if you''ve
                            specified one of the following: a count of IPv6 prefixes,
                            specific IPv6 addresses, or a count of IPv6 addresses.'
                          items:
                            type: object
                            description: Definition of Ipv6PrefixSpecification
                            properties:
                              ipv6Prefix:
                                type: string
                                description: Property ipv6Prefix
                          x-ms-identifiers: []
                        primaryIpv6Address:
                          type: string
                          description: The primary IPv6 address
                        primaryPrivateIpAddress:
                          type: string
                          description: Returns the primary private IP address of the
                            network interface.
                        privateIpAddress:
                          type: string
                          description: Assigns a single private IP address to the
                            network interface, which is used as the primary private
                            IP address. If you want to specify multiple private IP
                            address, use the PrivateIpAddresses property.
                        privateIpAddresses:
                          type: array
                          description: Assigns a list of private IP addresses to the
                            network interface. You can specify a primary private IP
                            address by setting the value of the Primary property to
                            true in the PrivateIpAddressSpecification property. If
                            you want EC2 to automatically assign private IP addresses,
                            use the SecondaryPrivateIpAddressCount property and do
                            not specify this property.
                          items:
                            type: object
                            description: Definition of PrivateIpAddressSpecification
                            properties:
                              primary:
                                type: boolean
                                description: Property primary
                              privateIpAddress:
                                type: string
                                description: Property privateIpAddress
                          x-ms-identifiers: []
                        secondaryPrivateIpAddressCount:
                          type: integer
                          format: int32
                          description: The number of secondary private IPv4 addresses
                            to assign to a network interface. When you specify a number
                            of secondary IPv4 addresses, Amazon EC2 selects these
                            IP addresses within the subnet's IPv4 CIDR range. You
                            can't specify this option and specify more than one private
                            IP address using privateIpAddresses
                        secondaryPrivateIpAddresses:
                          type: array
                          description: Returns the secondary private IP addresses
                            of the network interface.
                          items:
                            type: string
                        sourceDestCheck:
                          type: boolean
                          description: Indicates whether traffic to or from the instance
                            is validated.
                        subnetId:
                          type: string
                          description: The ID of the subnet to associate with the
                            network interface.
                        tags:
                          type: array
                          description: An arbitrary set of tags (key-value pairs)
                            for this network interface.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                        vpcId:
                          type: string
                          description: The ID of the VPC
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
[...]
