openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2Snapshots
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Snapshots:
    get:
      operationId: Ec2Snapshots_ListBySubscription
      tags:
      - Ec2Snapshots
      description: List Ec2Snapshot resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Snapshot list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Snapshot items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                dataEncryptionKeyId:
                                  type: string
                                  description: <p>The data encryption key identifier
                                    for the snapshot. This value is a unique identifier
                                    that corresponds to the data encryption key that
                                    was used to encrypt the original volume or snapshot
                                    copy. Because data encryption keys are inherited
                                    by volumes created from snapshots, and vice versa,
                                    if snapshots share the same data encryption key
                                    identifier, then they belong to the same volume/snapshot
                                    lineage. This parameter is only returned by <a>DescribeSnapshots</a>.</p>
                                description:
                                  type: string
                                  description: <p>The description for the snapshot.</p>
                                encrypted:
                                  type: boolean
                                  description: <p>Indicates whether the snapshot is
                                    encrypted.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the Key Management Service (KMS) KMS key that
                                    was used to protect the volume encryption key
                                    for the parent volume.</p>
                                outpostArn:
                                  type: string
                                  description: <p>The ARN of the Outpost on which
                                    the snapshot is stored. For more information,
                                    see <a href='https://docs.aws.amazon.com/ebs/latest/userguide/snapshots-outposts.html'>Amazon
                                    EBS local snapshots on Outposts</a> in the <i>Amazon
                                    EBS User Guide</i>.</p>
                                ownerAlias:
                                  type: string
                                  description: <p>The Amazon Web Services owner alias,
                                    from an Amazon-maintained list (<code>amazon</code>).
                                    This is not the user-configured Amazon Web Services
                                    account alias set using the IAM console.</p>
                                ownerId:
                                  type: string
                                  description: <p>The ID of the Amazon Web Services
                                    account that owns the EBS snapshot.</p>
                                progress:
                                  type: string
                                  description: <p>The progress of the snapshot, as
                                    a percentage.</p>
                                restoreExpiryTime:
                                  type: string
                                  format: date-time
                                  description: <p>Only for archived snapshots that
                                    are temporarily restored. Indicates the date and
                                    time when a temporarily restored snapshot will
                                    be automatically re-archived.</p>
                                snapshotId:
                                  type: string
                                  description: <p>The ID of the snapshot. Each snapshot
                                    receives a unique identifier when it is created.</p>
                                sseType:
                                  description: <p>Reserved for future use.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - none
                                      - sse-ebs
                                      - sse-kms
                                      x-ms-enum:
                                        name: SSEType
                                        modelAsString: true
                                        values:
                                        - name: None
                                          value: none
                                          description: SSEType enum none
                                        - name: SseEbs
                                          value: sse-ebs
                                          description: SSEType enum sse-ebs
                                        - name: SseKms
                                          value: sse-kms
                                          description: SSEType enum sse-kms
                                startTime:
                                  type: string
                                  format: date-time
                                  description: <p>The time stamp when the snapshot
                                    was initiated.</p>
                                state:
                                  description: <p>The snapshot state.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - completed
                                      - error
                                      - pending
                                      - recoverable
                                      - recovering
                                      x-ms-enum:
                                        name: SnapshotState
                                        modelAsString: true
                                        values:
                                        - name: Completed
                                          value: completed
                                          description: SnapshotState enum completed
                                        - name: Error
                                          value: error
                                          description: SnapshotState enum error
                                        - name: Pending
                                          value: pending
                                          description: SnapshotState enum pending
                                        - name: Recoverable
                                          value: recoverable
                                          description: SnapshotState enum recoverable
                                        - name: Recovering
                                          value: recovering
                                          description: SnapshotState enum recovering
                                stateMessage:
                                  type: string
                                  description: <p>Encrypted Amazon EBS snapshots are
                                    copied asynchronously. If a snapshot copy operation
                                    fails (for example, if the proper Key Management
                                    Service (KMS) permissions are not obtained) this
                                    field displays error state details to help you
                                    diagnose why the error occurred. This parameter
                                    is only returned by <a>DescribeSnapshots</a>.</p>
                                storageTier:
                                  description: <p>The storage tier in which the snapshot
                                    is stored. <code>standard</code> indicates that
                                    the snapshot is stored in the standard snapshot
                                    storage tier and that it is ready for use. <code>archive</code>
                                    indicates that the snapshot is currently archived
                                    and that it must be restored before it can be
                                    used.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - archive
                                      - standard
                                      x-ms-enum:
                                        name: StorageTier
                                        modelAsString: true
                                        values:
                                        - name: Archive
                                          value: archive
                                          description: StorageTier enum archive
                                        - name: Standard
                                          value: standard
                                          description: StorageTier enum standard
                                tags:
                                  type: array
                                  description: <p>Any tags assigned to the snapshot.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                volumeId:
                                  type: string
                                  description: <p>The ID of the volume that was used
                                    to create the snapshot. Snapshots created by the
                                    <a>CopySnapshot</a> action have an arbitrary volume
                                    ID that should not be used for any purpose.</p>
                                volumeSize:
                                  type: integer
                                  format: int32
                                  description: <p>The size of the volume, in GiB.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Snapshots:
    get:
      operationId: Ec2Snapshots_ListByResourceGroup
      tags:
      - Ec2Snapshots
      description: List Ec2Snapshot resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Snapshot list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Snapshot items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                dataEncryptionKeyId:
                                  type: string
                                  description: <p>The data encryption key identifier
                                    for the snapshot. This value is a unique identifier
                                    that corresponds to the data encryption key that
                                    was used to encrypt the original volume or snapshot
                                    copy. Because data encryption keys are inherited
                                    by volumes created from snapshots, and vice versa,
                                    if snapshots share the same data encryption key
                                    identifier, then they belong to the same volume/snapshot
                                    lineage. This parameter is only returned by <a>DescribeSnapshots</a>.</p>
                                description:
                                  type: string
                                  description: <p>The description for the snapshot.</p>
                                encrypted:
                                  type: boolean
                                  description: <p>Indicates whether the snapshot is
                                    encrypted.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) of
                                    the Key Management Service (KMS) KMS key that
                                    was used to protect the volume encryption key
                                    for the parent volume.</p>
                                outpostArn:
                                  type: string
                                  description: <p>The ARN of the Outpost on which
                                    the snapshot is stored. For more information,
                                    see <a href='https://docs.aws.amazon.com/ebs/latest/userguide/snapshots-outposts.html'>Amazon
                                    EBS local snapshots on Outposts</a> in the <i>Amazon
                                    EBS User Guide</i>.</p>
                                ownerAlias:
                                  type: string
                                  description: <p>The Amazon Web Services owner alias,
                                    from an Amazon-maintained list (<code>amazon</code>).
                                    This is not the user-configured Amazon Web Services
                                    account alias set using the IAM console.</p>
                                ownerId:
                                  type: string
                                  description: <p>The ID of the Amazon Web Services
                                    account that owns the EBS snapshot.</p>
                                progress:
                                  type: string
                                  description: <p>The progress of the snapshot, as
                                    a percentage.</p>
                                restoreExpiryTime:
                                  type: string
                                  format: date-time
                                  description: <p>Only for archived snapshots that
                                    are temporarily restored. Indicates the date and
                                    time when a temporarily restored snapshot will
                                    be automatically re-archived.</p>
                                snapshotId:
                                  type: string
                                  description: <p>The ID of the snapshot. Each snapshot
                                    receives a unique identifier when it is created.</p>
                                sseType:
                                  description: <p>Reserved for future use.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - none
                                      - sse-ebs
                                      - sse-kms
                                      x-ms-enum:
                                        name: SSEType
                                        modelAsString: true
                                        values:
                                        - name: None
                                          value: none
                                          description: SSEType enum none
                                        - name: SseEbs
                                          value: sse-ebs
                                          description: SSEType enum sse-ebs
                                        - name: SseKms
                                          value: sse-kms
                                          description: SSEType enum sse-kms
                                startTime:
                                  type: string
                                  format: date-time
                                  description: <p>The time stamp when the snapshot
                                    was initiated.</p>
                                state:
                                  description: <p>The snapshot state.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - completed
                                      - error
                                      - pending
                                      - recoverable
                                      - recovering
                                      x-ms-enum:
                                        name: SnapshotState
                                        modelAsString: true
                                        values:
                                        - name: Completed
                                          value: completed
                                          description: SnapshotState enum completed
                                        - name: Error
                                          value: error
                                          description: SnapshotState enum error
                                        - name: Pending
                                          value: pending
                                          description: SnapshotState enum pending
                                        - name: Recoverable
                                          value: recoverable
                                          description: SnapshotState enum recoverable
                                        - name: Recovering
                                          value: recovering
                                          description: SnapshotState enum recovering
                                stateMessage:
                                  type: string
                                  description: <p>Encrypted Amazon EBS snapshots are
                                    copied asynchronously. If a snapshot copy operation
                                    fails (for example, if the proper Key Management
                                    Service (KMS) permissions are not obtained) this
                                    field displays error state details to help you
                                    diagnose why the error occurred. This parameter
                                    is only returned by <a>DescribeSnapshots</a>.</p>
                                storageTier:
                                  description: <p>The storage tier in which the snapshot
                                    is stored. <code>standard</code> indicates that
                                    the snapshot is stored in the standard snapshot
                                    storage tier and that it is ready for use. <code>archive</code>
                                    indicates that the snapshot is currently archived
                                    and that it must be restored before it can be
                                    used.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - archive
                                      - standard
                                      x-ms-enum:
                                        name: StorageTier
                                        modelAsString: true
                                        values:
                                        - name: Archive
                                          value: archive
                                          description: StorageTier enum archive
                                        - name: Standard
                                          value: standard
                                          description: StorageTier enum standard
                                tags:
                                  type: array
                                  description: <p>Any tags assigned to the snapshot.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                volumeId:
                                  type: string
                                  description: <p>The ID of the volume that was used
                                    to create the snapshot. Snapshots created by the
                                    <a>CopySnapshot</a> action have an arbitrary volume
                                    ID that should not be used for any purpose.</p>
                                volumeSize:
                                  type: integer
                                  format: int32
                                  description: <p>The size of the volume, in GiB.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Snapshots/{name}:
    get:
      operationId: Ec2Snapshots_Get
      tags:
      - Ec2Snapshots
      description: Get a Ec2Snapshot
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Snapshot
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          dataEncryptionKeyId:
                            type: string
                            description: <p>The data encryption key identifier for
                              the snapshot. This value is a unique identifier that
                              corresponds to the data encryption key that was used
                              to encrypt the original volume or snapshot copy. Because
                              data encryption keys are inherited by volumes created
                              from snapshots, and vice versa, if snapshots share the
                              same data encryption key identifier, then they belong
                              to the same volume/snapshot lineage. This parameter
                              is only returned by <a>DescribeSnapshots</a>.</p>
                          description:
                            type: string
                            description: <p>The description for the snapshot.</p>
                          encrypted:
                            type: boolean
                            description: <p>Indicates whether the snapshot is encrypted.</p>
                          kmsKeyId:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              Key Management Service (KMS) KMS key that was used to
                              protect the volume encryption key for the parent volume.</p>
                          outpostArn:
                            type: string
                            description: <p>The ARN of the Outpost on which the snapshot
                              is stored. For more information, see <a href='https://docs.aws.amazon.com/ebs/latest/userguide/snapshots-outposts.html'>Amazon
                              EBS local snapshots on Outposts</a> in the <i>Amazon
                              EBS User Guide</i>.</p>
                          ownerAlias:
                            type: string
                            description: <p>The Amazon Web Services owner alias, from
                              an Amazon-maintained list (<code>amazon</code>). This
                              is not the user-configured Amazon Web Services account
                              alias set using the IAM console.</p>
                          ownerId:
                            type: string
                            description: <p>The ID of the Amazon Web Services account
                              that owns the EBS snapshot.</p>
                          progress:
                            type: string
                            description: <p>The progress of the snapshot, as a percentage.</p>
                          restoreExpiryTime:
                            type: string
                            format: date-time
                            description: <p>Only for archived snapshots that are temporarily
                              restored. Indicates the date and time when a temporarily
                              restored snapshot will be automatically re-archived.</p>
                          snapshotId:
                            type: string
                            description: <p>The ID of the snapshot. Each snapshot
                              receives a unique identifier when it is created.</p>
                          sseType:
                            description: <p>Reserved for future use.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - none
                                - sse-ebs
                                - sse-kms
                                x-ms-enum:
                                  name: SSEType
                                  modelAsString: true
                                  values:
                                  - name: None
                                    value: none
                                    description: SSEType enum none
                                  - name: SseEbs
                                    value: sse-ebs
                                    description: SSEType enum sse-ebs
                                  - name: SseKms
                                    value: sse-kms
                                    description: SSEType enum sse-kms
                          startTime:
                            type: string
                            format: date-time
                            description: <p>The time stamp when the snapshot was initiated.</p>
                          state:
                            description: <p>The snapshot state.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - completed
                                - error
                                - pending
                                - recoverable
                                - recovering
                                x-ms-enum:
                                  name: SnapshotState
                                  modelAsString: true
                                  values:
                                  - name: Completed
                                    value: completed
                                    description: SnapshotState enum completed
                                  - name: Error
                                    value: error
                                    description: SnapshotState enum error
                                  - name: Pending
                                    value: pending
                                    description: SnapshotState enum pending
                                  - name: Recoverable
                                    value: recoverable
                                    description: SnapshotState enum recoverable
                                  - name: Recovering
                                    value: recovering
                                    description: SnapshotState enum recovering
                          stateMessage:
                            type: string
                            description: <p>Encrypted Amazon EBS snapshots are copied
                              asynchronously. If a snapshot copy operation fails (for
                              example, if the proper Key Management Service (KMS)
                              permissions are not obtained) this field displays error
                              state details to help you diagnose why the error occurred.
                              This parameter is only returned by <a>DescribeSnapshots</a>.</p>
                          storageTier:
                            description: <p>The storage tier in which the snapshot
                              is stored. <code>standard</code> indicates that the
                              snapshot is stored in the standard snapshot storage
                              tier and that it is ready for use. <code>archive</code>
                              indicates that the snapshot is currently archived and
                              that it must be restored before it can be used.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - archive
                                - standard
                                x-ms-enum:
                                  name: StorageTier
                                  modelAsString: true
                                  values:
                                  - name: Archive
                                    value: archive
                                    description: StorageTier enum archive
                                  - name: Standard
                                    value: standard
                                    description: StorageTier enum standard
                          tags:
                            type: array
                            description: <p>Any tags assigned to the snapshot.</p>
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: '<p>The key of the tag.</p> <p>Constraints:
                                    Tag keys are case-sensitive and accept a maximum
                                    of 127 Unicode characters. May not begin with
                                    <code>aws:</code>.</p>'
                                value:
                                  type: string
                                  description: '<p>The value of the tag.</p> <p>Constraints:
                                    Tag values are case-sensitive and accept a maximum
                                    of 256 Unicode characters.</p>'
                            x-ms-identifiers: []
                          volumeId:
                            type: string
                            description: <p>The ID of the volume that was used to
                              create the snapshot. Snapshots created by the <a>CopySnapshot</a>
                              action have an arbitrary volume ID that should not be
                              used for any purpose.</p>
                          volumeSize:
                            type: integer
                            format: int32
                            description: <p>The size of the volume, in GiB.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2Snapshots_CreateOrReplace
      tags:
      - Ec2Snapshots
      description: Create a Ec2Snapshot. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Snapshot
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        dataEncryptionKeyId:
                          type: string
                          description: <p>The data encryption key identifier for the
                            snapshot. This value is a unique identifier that corresponds
                            to the data encryption key that was used to encrypt the
                            original volume or snapshot copy. Because data encryption
                            keys are inherited by volumes created from snapshots,
                            and vice versa, if snapshots share the same data encryption
                            key identifier, then they belong to the same volume/snapshot
                            lineage. This parameter is only returned by <a>DescribeSnapshots</a>.</p>
                        description:
                          type: string
                          description: <p>The description for the snapshot.</p>
                        encrypted:
                          type: boolean
                          description: <p>Indicates whether the snapshot is encrypted.</p>
                        kmsKeyId:
                          type: string
                          description: <p>The Amazon Resource Name (ARN) of the Key
                            Management Service (KMS) KMS key that was used to protect
                            the volume encryption key for the parent volume.</p>
                        outpostArn:
                          type: string
                          description: <p>The ARN of the Outpost on which the snapshot
                            is stored. For more information, see <a href='https://docs.aws.amazon.com/ebs/latest/userguide/snapshots-outposts.html'>Amazon
                            EBS local snapshots on Outposts</a> in the <i>Amazon EBS
                            User Guide</i>.</p>
                        ownerAlias:
                          type: string
                          description: <p>The Amazon Web Services owner alias, from
                            an Amazon-maintained list (<code>amazon</code>). This
                            is not the user-configured Amazon Web Services account
                            alias set using the IAM console.</p>
                        ownerId:
                          type: string
                          description: <p>The ID of the Amazon Web Services account
                            that owns the EBS snapshot.</p>
                        progress:
                          type: string
                          description: <p>The progress of the snapshot, as a percentage.</p>
                        restoreExpiryTime:
                          type: string
                          format: date-time
                          description: <p>Only for archived snapshots that are temporarily
                            restored. Indicates the date and time when a temporarily
                            restored snapshot will be automatically re-archived.</p>
                        snapshotId:
                          type: string
                          description: <p>The ID of the snapshot. Each snapshot receives
                            a unique identifier when it is created.</p>
                        sseType:
                          description: <p>Reserved for future use.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - none
                              - sse-ebs
                              - sse-kms
                              x-ms-enum:
                                name: SSEType
                                modelAsString: true
                                values:
                                - name: None
                                  value: none
                                  description: SSEType enum none
                                - name: SseEbs
                                  value: sse-ebs
                                  description: SSEType enum sse-ebs
                                - name: SseKms
                                  value: sse-kms
                                  description: SSEType enum sse-kms
                        startTime:
                          type: string
                          format: date-time
                          description: <p>The time stamp when the snapshot was initiated.</p>
                        state:
                          description: <p>The snapshot state.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - completed
                              - error
                              - pending
                              - recoverable
                              - recovering
                              x-ms-enum:
                                name: SnapshotState
                                modelAsString: true
                                values:
                                - name: Completed
                                  value: completed
                                  description: SnapshotState enum completed
                                - name: Error
                                  value: error
                                  description: SnapshotState enum error
                                - name: Pending
                                  value: pending
                                  description: SnapshotState enum pending
                                - name: Recoverable
                                  value: recoverable
                                  description: SnapshotState enum recoverable
                                - name: Recovering
                                  value: recovering
                                  description: SnapshotState enum recovering
                        stateMessage:
                          type: string
                          description: <p>Encrypted Amazon EBS snapshots are copied
                            asynchronously. If a snapshot copy operation fails (for
                            example, if the proper Key Management Service (KMS) permissions
                            are not obtained) this field displays error state details
                            to help you diagnose why the error occurred. This parameter
                            is only returned by <a>DescribeSnapshots</a>.</p>
                        storageTier:
                          description: <p>The storage tier in which the snapshot is
                            stored. <code>standard</code> indicates that the snapshot
                            is stored in the standard snapshot storage tier and that
                            it is ready for use. <code>archive</code> indicates that
                            the snapshot is currently archived and that it must be
                            restored before it can be used.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - archive
                              - standard
                              x-ms-enum:
                                name: StorageTier
                                modelAsString: true
                                values:
                                - name: Archive
                                  value: archive
                                  description: StorageTier enum archive
                                - name: Standard
                                  value: standard
                                  description: StorageTier enum standard
                        tags:
                          type: array
                          description: <p>Any tags assigned to the snapshot.</p>
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: '<p>The key of the tag.</p> <p>Constraints:
                                  Tag keys are case-sensitive and accept a maximum
                                  of 127 Unicode characters. May not begin with <code>aws:</code>.</p>'
                              value:
                                type: string
                                description: '<p>The value of the tag.</p> <p>Constraints:
                                  Tag values are case-sensitive and accept a maximum
                                  of 256 Unicode characters.</p>'
                          x-ms-identifiers: []
                        volumeId:
                          type: string
                          description: <p>The ID of the volume that was used to create
                            the snapshot. Snapshots created by the <a>CopySnapshot</a>
                            action have an arbitrary volume ID that should not be
                            used for any purpose.</p>
                        volumeSize:
                          type: integer
                          format: int32
                          description: <p>The size of the volume, in GiB.</p>
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2Snapshot' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          dataEncryptionKeyId:
                            type: string
                            description: <p>The data encryption key identifier for
                              the snapshot. This value is a unique identifier that
                              corresponds to the data encryption key that was used
                              to encrypt the original volume or snapshot copy. Because
                              data encryption keys are inherited by volumes created
                              from snapshots, and vice versa, if snapshots share the
                              same data encryption key identifier, then they belong
                              to the same volume/snapshot lineage. This parameter
                              is only returned by <a>DescribeSnapshots</a>.</p>
                          description:
                            type: string
                            description: <p>The description for the snapshot.</p>
                          encrypted:
                            type: boolean
                            description: <p>Indicates whether the snapshot is encrypted.</p>
                          kmsKeyId:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) of the
                              Key Management Service (KMS) KMS key that was used to
                              protect the volume encryption key for the parent volume.</p>
                          outpostArn:
                            type: string
                            description: <p>The ARN of the Outpost on which the snapshot
                              is stored. For more information, see <a href='https://docs.aws.amazon.com/ebs/latest/userguide/snapshots-outposts.html'>Amazon
                              EBS local snapshots on Outposts</a> in the <i>Amazon
                              EBS User Guide</i>.</p>
                          ownerAlias:
                            type: string
                            description: <p>The Amazon Web Services owner alias, from
                              an Amazon-maintained list (<code>amazon</code>). This
                              is not the user-configured Amazon Web Services account
                              alias set using the IAM console.</p>
                          ownerId:
                            type: string
                            description: <p>The ID of the Amazon Web Services account
                              that owns the EBS snapshot.</p>
                          progress:
                            type: string
                            description: <p>The progress of the snapshot, as a percentage.</p>
                          restoreExpiryTime:
                            type: string
                            format: date-time
                            description: <p>Only for archived snapshots that are temporarily
                              restored. Indicates the date and time when a temporarily
                              restored snapshot will be automatically re-archived.</p>
                          snapshotId:
                            type: string
                            description: <p>The ID of the snapshot. Each snapshot
                              receives a unique identifier when it is created.</p>
                          sseType:
                            description: <p>Reserved for future use.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - none
                                - sse-ebs
                                - sse-kms
                                x-ms-enum:
                                  name: SSEType
                                  modelAsString: true
[...]
