openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2Subnets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Subnets:
    get:
      operationId: Ec2Subnets_ListBySubscription
      tags:
      - Ec2Subnets
      description: List Ec2Subnet resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Subnet list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Subnet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                assignIpv6AddressOnCreation:
                                  type: boolean
                                  description: Indicates whether a network interface
                                    created in this subnet receives an IPv6 address.
                                    The default value is ``false``. If you specify
                                    ``AssignIpv6AddressOnCreation``, you must also
                                    specify an IPv6 CIDR block.
                                availabilityZone:
                                  type: string
                                  description: The Availability Zone of the subnet.
                                    If you update this property, you must also update
                                    the ``CidrBlock`` property.
                                availabilityZoneId:
                                  type: string
                                  description: The AZ ID of the subnet.
                                cidrBlock:
                                  type: string
                                  description: The IPv4 CIDR block assigned to the
                                    subnet. If you update this property, we create
                                    a new subnet, and then delete the existing one.
                                enableDns64:
                                  type: boolean
                                  description: Indicates whether DNS queries made
                                    to the Amazon-provided DNS Resolver in this subnet
                                    should return synthetic IPv6 addresses for IPv4-only
                                    destinations. For more information, see [DNS64
                                    and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                                    in the *User Guide*.
                                enableLniAtDeviceIndex:
                                  type: integer
                                  format: int32
                                  description: Indicates the device position for local
                                    network interfaces in this subnet. For example,
                                    ``1`` indicates local network interfaces in this
                                    subnet are the secondary network interface (eth1).
                                ipv4IpamPoolId:
                                  type: string
                                  description: An IPv4 IPAM pool ID for the subnet.
                                ipv4NetmaskLength:
                                  type: integer
                                  format: int32
                                  description: An IPv4 netmask length for the subnet.
                                ipv6CidrBlock:
                                  type: string
                                  description: The IPv6 CIDR block. If you specify
                                    ``AssignIpv6AddressOnCreation``, you must also
                                    specify an IPv6 CIDR block.
                                ipv6CidrBlocks:
                                  type: array
                                  description: The IPv6 network ranges for the subnet,
                                    in CIDR notation.
                                  items:
                                    type: string
                                ipv6IpamPoolId:
                                  type: string
                                  description: An IPv6 IPAM pool ID for the subnet.
                                ipv6Native:
                                  type: boolean
                                  description: Indicates whether this is an IPv6 only
                                    subnet. For more information, see [Subnet basics](https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#subnet-basics)
                                    in the *User Guide*.
                                ipv6NetmaskLength:
                                  type: integer
                                  format: int32
                                  description: An IPv6 netmask length for the subnet.
                                mapPublicIpOnLaunch:
                                  type: boolean
                                  description: Indicates whether instances launched
                                    in this subnet receive a public IPv4 address.
                                    The default value is ``false``.  AWS charges for
                                    all public IPv4 addresses, including public IPv4
                                    addresses associated with running instances and
                                    Elastic IP addresses. For more information, see
                                    the *Public IPv4 Address* tab on the [VPC pricing
                                    page](https://docs.aws.amazon.com/vpc/pricing/).
                                networkAclAssociationId:
                                  type: string
                                  description: Property networkAclAssociationId
                                outpostArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    Outpost.
                                privateDnsNameOptionsOnLaunch:
                                  description: 'The hostname type for EC2 instances
                                    launched into this subnet and how DNS A and AAAA
                                    record queries to the instances should be handled.
                                    For more information, see [Amazon EC2 instance
                                    hostname types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-naming.html)
                                    in the *User Guide*. Available options:  +  EnableResourceNameDnsAAAARecord
                                    (true | false)  +  EnableResourceNameDnsARecord
                                    (true | false)  +  HostnameType (ip-name | resource-name)'
                                  type: object
                                  properties:
                                    enableResourceNameDnsAAAARecord:
                                      type: boolean
                                      description: Property enableResourceNameDnsAAAARecord
                                    enableResourceNameDnsARecord:
                                      type: boolean
                                      description: Property enableResourceNameDnsARecord
                                    hostnameType:
                                      type: string
                                      description: Property hostnameType
                                subnetId:
                                  type: string
                                  description: Property subnetId
                                tags:
                                  type: array
                                  description: Any tags assigned to the subnet.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key.
                                      value:
                                        type: string
                                        description: The tag value.
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: The ID of the VPC the subnet is in.
                                    If you update this property, you must also update
                                    the ``CidrBlock`` property.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Subnets:
    get:
      operationId: Ec2Subnets_ListByResourceGroup
      tags:
      - Ec2Subnets
      description: List Ec2Subnet resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Subnet list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Subnet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                assignIpv6AddressOnCreation:
                                  type: boolean
                                  description: Indicates whether a network interface
                                    created in this subnet receives an IPv6 address.
                                    The default value is ``false``. If you specify
                                    ``AssignIpv6AddressOnCreation``, you must also
                                    specify an IPv6 CIDR block.
                                availabilityZone:
                                  type: string
                                  description: The Availability Zone of the subnet.
                                    If you update this property, you must also update
                                    the ``CidrBlock`` property.
                                availabilityZoneId:
                                  type: string
                                  description: The AZ ID of the subnet.
                                cidrBlock:
                                  type: string
                                  description: The IPv4 CIDR block assigned to the
                                    subnet. If you update this property, we create
                                    a new subnet, and then delete the existing one.
                                enableDns64:
                                  type: boolean
                                  description: Indicates whether DNS queries made
                                    to the Amazon-provided DNS Resolver in this subnet
                                    should return synthetic IPv6 addresses for IPv4-only
                                    destinations. For more information, see [DNS64
                                    and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                                    in the *User Guide*.
                                enableLniAtDeviceIndex:
                                  type: integer
                                  format: int32
                                  description: Indicates the device position for local
                                    network interfaces in this subnet. For example,
                                    ``1`` indicates local network interfaces in this
                                    subnet are the secondary network interface (eth1).
                                ipv4IpamPoolId:
                                  type: string
                                  description: An IPv4 IPAM pool ID for the subnet.
                                ipv4NetmaskLength:
                                  type: integer
                                  format: int32
                                  description: An IPv4 netmask length for the subnet.
                                ipv6CidrBlock:
                                  type: string
                                  description: The IPv6 CIDR block. If you specify
                                    ``AssignIpv6AddressOnCreation``, you must also
                                    specify an IPv6 CIDR block.
                                ipv6CidrBlocks:
                                  type: array
                                  description: The IPv6 network ranges for the subnet,
                                    in CIDR notation.
                                  items:
                                    type: string
                                ipv6IpamPoolId:
                                  type: string
                                  description: An IPv6 IPAM pool ID for the subnet.
                                ipv6Native:
                                  type: boolean
                                  description: Indicates whether this is an IPv6 only
                                    subnet. For more information, see [Subnet basics](https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#subnet-basics)
                                    in the *User Guide*.
                                ipv6NetmaskLength:
                                  type: integer
                                  format: int32
                                  description: An IPv6 netmask length for the subnet.
                                mapPublicIpOnLaunch:
                                  type: boolean
                                  description: Indicates whether instances launched
                                    in this subnet receive a public IPv4 address.
                                    The default value is ``false``.  AWS charges for
                                    all public IPv4 addresses, including public IPv4
                                    addresses associated with running instances and
                                    Elastic IP addresses. For more information, see
                                    the *Public IPv4 Address* tab on the [VPC pricing
                                    page](https://docs.aws.amazon.com/vpc/pricing/).
                                networkAclAssociationId:
                                  type: string
                                  description: Property networkAclAssociationId
                                outpostArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    Outpost.
                                privateDnsNameOptionsOnLaunch:
                                  description: 'The hostname type for EC2 instances
                                    launched into this subnet and how DNS A and AAAA
                                    record queries to the instances should be handled.
                                    For more information, see [Amazon EC2 instance
                                    hostname types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-naming.html)
                                    in the *User Guide*. Available options:  +  EnableResourceNameDnsAAAARecord
                                    (true | false)  +  EnableResourceNameDnsARecord
                                    (true | false)  +  HostnameType (ip-name | resource-name)'
                                  type: object
                                  properties:
                                    enableResourceNameDnsAAAARecord:
                                      type: boolean
                                      description: Property enableResourceNameDnsAAAARecord
                                    enableResourceNameDnsARecord:
                                      type: boolean
                                      description: Property enableResourceNameDnsARecord
                                    hostnameType:
                                      type: string
                                      description: Property hostnameType
                                subnetId:
                                  type: string
                                  description: Property subnetId
                                tags:
                                  type: array
                                  description: Any tags assigned to the subnet.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key.
                                      value:
                                        type: string
                                        description: The tag value.
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: The ID of the VPC the subnet is in.
                                    If you update this property, you must also update
                                    the ``CidrBlock`` property.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Subnets/{name}:
    get:
      operationId: Ec2Subnets_Get
      tags:
      - Ec2Subnets
      description: Get a Ec2Subnet
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Subnet
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          assignIpv6AddressOnCreation:
                            type: boolean
                            description: Indicates whether a network interface created
                              in this subnet receives an IPv6 address. The default
                              value is ``false``. If you specify ``AssignIpv6AddressOnCreation``,
                              you must also specify an IPv6 CIDR block.
                          availabilityZone:
                            type: string
                            description: The Availability Zone of the subnet. If you
                              update this property, you must also update the ``CidrBlock``
                              property.
                          availabilityZoneId:
                            type: string
                            description: The AZ ID of the subnet.
                          cidrBlock:
                            type: string
                            description: The IPv4 CIDR block assigned to the subnet.
                              If you update this property, we create a new subnet,
                              and then delete the existing one.
                          enableDns64:
                            type: boolean
                            description: Indicates whether DNS queries made to the
                              Amazon-provided DNS Resolver in this subnet should return
                              synthetic IPv6 addresses for IPv4-only destinations.
                              For more information, see [DNS64 and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                              in the *User Guide*.
                          enableLniAtDeviceIndex:
                            type: integer
                            format: int32
                            description: Indicates the device position for local network
                              interfaces in this subnet. For example, ``1`` indicates
                              local network interfaces in this subnet are the secondary
                              network interface (eth1).
                          ipv4IpamPoolId:
                            type: string
                            description: An IPv4 IPAM pool ID for the subnet.
                          ipv4NetmaskLength:
                            type: integer
                            format: int32
                            description: An IPv4 netmask length for the subnet.
                          ipv6CidrBlock:
                            type: string
                            description: The IPv6 CIDR block. If you specify ``AssignIpv6AddressOnCreation``,
                              you must also specify an IPv6 CIDR block.
                          ipv6CidrBlocks:
                            type: array
                            description: The IPv6 network ranges for the subnet, in
                              CIDR notation.
                            items:
                              type: string
                          ipv6IpamPoolId:
                            type: string
                            description: An IPv6 IPAM pool ID for the subnet.
                          ipv6Native:
                            type: boolean
                            description: Indicates whether this is an IPv6 only subnet.
                              For more information, see [Subnet basics](https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#subnet-basics)
                              in the *User Guide*.
                          ipv6NetmaskLength:
                            type: integer
                            format: int32
                            description: An IPv6 netmask length for the subnet.
                          mapPublicIpOnLaunch:
                            type: boolean
                            description: Indicates whether instances launched in this
                              subnet receive a public IPv4 address. The default value
                              is ``false``.  AWS charges for all public IPv4 addresses,
                              including public IPv4 addresses associated with running
                              instances and Elastic IP addresses. For more information,
                              see the *Public IPv4 Address* tab on the [VPC pricing
                              page](https://docs.aws.amazon.com/vpc/pricing/).
                          networkAclAssociationId:
                            type: string
                            description: Property networkAclAssociationId
                          outpostArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the Outpost.
                          privateDnsNameOptionsOnLaunch:
                            description: 'The hostname type for EC2 instances launched
                              into this subnet and how DNS A and AAAA record queries
                              to the instances should be handled. For more information,
                              see [Amazon EC2 instance hostname types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-naming.html)
                              in the *User Guide*. Available options:  +  EnableResourceNameDnsAAAARecord
                              (true | false)  +  EnableResourceNameDnsARecord (true
                              | false)  +  HostnameType (ip-name | resource-name)'
                            type: object
                            properties:
                              enableResourceNameDnsAAAARecord:
                                type: boolean
                                description: Property enableResourceNameDnsAAAARecord
                              enableResourceNameDnsARecord:
                                type: boolean
                                description: Property enableResourceNameDnsARecord
                              hostnameType:
                                type: string
                                description: Property hostnameType
                          subnetId:
                            type: string
                            description: Property subnetId
                          tags:
                            type: array
                            description: Any tags assigned to the subnet.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The tag key.
                                value:
                                  type: string
                                  description: The tag value.
                            x-ms-identifiers: []
                          vpcId:
                            type: string
                            description: The ID of the VPC the subnet is in. If you
                              update this property, you must also update the ``CidrBlock``
                              property.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2Subnets_CreateOrReplace
      tags:
      - Ec2Subnets
      description: Create a Ec2Subnet. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Subnet
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        assignIpv6AddressOnCreation:
                          type: boolean
                          description: Indicates whether a network interface created
                            in this subnet receives an IPv6 address. The default value
                            is ``false``. If you specify ``AssignIpv6AddressOnCreation``,
                            you must also specify an IPv6 CIDR block.
                        availabilityZone:
                          type: string
                          description: The Availability Zone of the subnet. If you
                            update this property, you must also update the ``CidrBlock``
                            property.
                        availabilityZoneId:
                          type: string
                          description: The AZ ID of the subnet.
                        cidrBlock:
                          type: string
                          description: The IPv4 CIDR block assigned to the subnet.
                            If you update this property, we create a new subnet, and
                            then delete the existing one.
                        enableDns64:
                          type: boolean
                          description: Indicates whether DNS queries made to the Amazon-provided
                            DNS Resolver in this subnet should return synthetic IPv6
                            addresses for IPv4-only destinations. For more information,
                            see [DNS64 and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                            in the *User Guide*.
                        enableLniAtDeviceIndex:
                          type: integer
                          format: int32
                          description: Indicates the device position for local network
                            interfaces in this subnet. For example, ``1`` indicates
                            local network interfaces in this subnet are the secondary
                            network interface (eth1).
                        ipv4IpamPoolId:
                          type: string
                          description: An IPv4 IPAM pool ID for the subnet.
                        ipv4NetmaskLength:
                          type: integer
                          format: int32
                          description: An IPv4 netmask length for the subnet.
                        ipv6CidrBlock:
                          type: string
                          description: The IPv6 CIDR block. If you specify ``AssignIpv6AddressOnCreation``,
                            you must also specify an IPv6 CIDR block.
                        ipv6CidrBlocks:
                          type: array
                          description: The IPv6 network ranges for the subnet, in
                            CIDR notation.
                          items:
                            type: string
                        ipv6IpamPoolId:
                          type: string
                          description: An IPv6 IPAM pool ID for the subnet.
                        ipv6Native:
                          type: boolean
                          description: Indicates whether this is an IPv6 only subnet.
                            For more information, see [Subnet basics](https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#subnet-basics)
                            in the *User Guide*.
                        ipv6NetmaskLength:
                          type: integer
                          format: int32
                          description: An IPv6 netmask length for the subnet.
                        mapPublicIpOnLaunch:
                          type: boolean
                          description: Indicates whether instances launched in this
                            subnet receive a public IPv4 address. The default value
                            is ``false``.  AWS charges for all public IPv4 addresses,
                            including public IPv4 addresses associated with running
                            instances and Elastic IP addresses. For more information,
                            see the *Public IPv4 Address* tab on the [VPC pricing
                            page](https://docs.aws.amazon.com/vpc/pricing/).
                        networkAclAssociationId:
                          type: string
                          description: Property networkAclAssociationId
                        outpostArn:
                          type: string
                          description: The Amazon Resource Name (ARN) of the Outpost.
                        privateDnsNameOptionsOnLaunch:
                          description: 'The hostname type for EC2 instances launched
                            into this subnet and how DNS A and AAAA record queries
                            to the instances should be handled. For more information,
                            see [Amazon EC2 instance hostname types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-naming.html)
                            in the *User Guide*. Available options:  +  EnableResourceNameDnsAAAARecord
                            (true | false)  +  EnableResourceNameDnsARecord (true
                            | false)  +  HostnameType (ip-name | resource-name)'
                          type: object
                          properties:
                            enableResourceNameDnsAAAARecord:
                              type: boolean
                              description: Property enableResourceNameDnsAAAARecord
                            enableResourceNameDnsARecord:
                              type: boolean
                              description: Property enableResourceNameDnsARecord
                            hostnameType:
                              type: string
                              description: Property hostnameType
                        subnetId:
                          type: string
                          description: Property subnetId
                        tags:
                          type: array
                          description: Any tags assigned to the subnet.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The tag key.
                              value:
                                type: string
                                description: The tag value.
                          x-ms-identifiers: []
                        vpcId:
                          type: string
                          description: The ID of the VPC the subnet is in. If you
                            update this property, you must also update the ``CidrBlock``
                            property.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2Subnet' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          assignIpv6AddressOnCreation:
                            type: boolean
                            description: Indicates whether a network interface created
                              in this subnet receives an IPv6 address. The default
                              value is ``false``. If you specify ``AssignIpv6AddressOnCreation``,
                              you must also specify an IPv6 CIDR block.
                          availabilityZone:
                            type: string
                            description: The Availability Zone of the subnet. If you
                              update this property, you must also update the ``CidrBlock``
                              property.
                          availabilityZoneId:
                            type: string
                            description: The AZ ID of the subnet.
                          cidrBlock:
                            type: string
                            description: The IPv4 CIDR block assigned to the subnet.
                              If you update this property, we create a new subnet,
                              and then delete the existing one.
                          enableDns64:
                            type: boolean
                            description: Indicates whether DNS queries made to the
                              Amazon-provided DNS Resolver in this subnet should return
                              synthetic IPv6 addresses for IPv4-only destinations.
                              For more information, see [DNS64 and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                              in the *User Guide*.
                          enableLniAtDeviceIndex:
                            type: integer
                            format: int32
                            description: Indicates the device position for local network
                              interfaces in this subnet. For example, ``1`` indicates
                              local network interfaces in this subnet are the secondary
                              network interface (eth1).
                          ipv4IpamPoolId:
                            type: string
                            description: An IPv4 IPAM pool ID for the subnet.
                          ipv4NetmaskLength:
                            type: integer
                            format: int32
                            description: An IPv4 netmask length for the subnet.
                          ipv6CidrBlock:
                            type: string
                            description: The IPv6 CIDR block. If you specify ``AssignIpv6AddressOnCreation``,
                              you must also specify an IPv6 CIDR block.
                          ipv6CidrBlocks:
                            type: array
                            description: The IPv6 network ranges for the subnet, in
                              CIDR notation.
                            items:
                              type: string
                          ipv6IpamPoolId:
                            type: string
                            description: An IPv6 IPAM pool ID for the subnet.
                          ipv6Native:
                            type: boolean
                            description: Indicates whether this is an IPv6 only subnet.
                              For more information, see [Subnet basics](https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html#subnet-basics)
                              in the *User Guide*.
                          ipv6NetmaskLength:
                            type: integer
                            format: int32
                            description: An IPv6 netmask length for the subnet.
                          mapPublicIpOnLaunch:
                            type: boolean
                            description: Indicates whether instances launched in this
                              subnet receive a public IPv4 address. The default value
                              is ``false``.  AWS charges for all public IPv4 addresses,
                              including public IPv4 addresses associated with running
                              instances and Elastic IP addresses. For more information,
                              see the *Public IPv4 Address* tab on the [VPC pricing
                              page](https://docs.aws.amazon.com/vpc/pricing/).
                          networkAclAssociationId:
                            type: string
                            description: Property networkAclAssociationId
                          outpostArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the Outpost.
                          privateDnsNameOptionsOnLaunch:
                            description: 'The hostname type for EC2 instances launched
                              into this subnet and how DNS A and AAAA record queries
                              to the instances should be handled. For more information,
                              see [Amazon EC2 instance hostname types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-naming.html)
                              in the *User Guide*. Available options:  +  EnableResourceNameDnsAAAARecord
                              (true | false)  +  EnableResourceNameDnsARecord (true
                              | false)  +  HostnameType (ip-name | resource-name)'
                            type: object
                            properties:
                              enableResourceNameDnsAAAARecord:
                                type: boolean
                                description: Property enableResourceNameDnsAAAARecord
                              enableResourceNameDnsARecord:
                                type: boolean
                                description: Property enableResourceNameDnsARecord
                              hostnameType:
                                type: string
                                description: Property hostnameType
                          subnetId:
                            type: string
                            description: Property subnetId
                          tags:
                            type: array
                            description: Any tags assigned to the subnet.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The tag key.
                                value:
                                  type: string
                                  description: The tag value.
                            x-ms-identifiers: []
                          vpcId:
                            type: string
                            description: The ID of the VPC the subnet is in. If you
                              update this property, you must also update the ``CidrBlock``
                              property.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'Ec2Subnet' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          assignIpv6AddressOnCreation:
                            type: boolean
                            description: Indicates whether a network interface created
                              in this subnet receives an IPv6 address. The default
                              value is ``false``. If you specify ``AssignIpv6AddressOnCreation``,
                              you must also specify an IPv6 CIDR block.
                          availabilityZone:
                            type: string
                            description: The Availability Zone of the subnet. If you
                              update this property, you must also update the ``CidrBlock``
                              property.
                          availabilityZoneId:
                            type: string
                            description: The AZ ID of the subnet.
                          cidrBlock:
                            type: string
                            description: The IPv4 CIDR block assigned to the subnet.
                              If you update this property, we create a new subnet,
                              and then delete the existing one.
                          enableDns64:
                            type: boolean
                            description: Indicates whether DNS queries made to the
                              Amazon-provided DNS Resolver in this subnet should return
                              synthetic IPv6 addresses for IPv4-only destinations.
                              For more information, see [DNS64 and NAT64](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-nat-gateway.html#nat-gateway-nat64-dns64)
                              in the *User Guide*.
[...]
