openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2SecurityGroups
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2SecurityGroups:
    get:
      operationId: Ec2SecurityGroups_ListBySubscription
      tags:
      - Ec2SecurityGroups
      description: List Ec2SecurityGroup resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2SecurityGroup list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2SecurityGroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: <p>A description of the security group.</p>
                                groupId:
                                  type: string
                                  description: <p>The ID of the security group.</p>
                                groupName:
                                  type: string
                                  description: <p>The name of the security group.</p>
                                ipPermissions:
                                  type: array
                                  description: <p>The inbound rules associated with
                                    the security group.</p>
                                  items:
                                    type: object
                                    description: Definition of IpPermission
                                    properties:
                                      fromPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the start of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP type or -1 (all ICMP types).</p>
                                      ipProtocol:
                                        type: string
                                        description: <p>The IP protocol name (<code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                          or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                          Numbers</a>).</p> <p>Use <code>-1</code>
                                          to specify all protocols. When authorizing
                                          security group rules, specifying <code>-1</code>
                                          or a protocol number other than <code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, or
                                          <code>icmpv6</code> allows traffic on all
                                          ports, regardless of any port range you
                                          specify. For <code>tcp</code>, <code>udp</code>,
                                          and <code>icmp</code>, you must specify
                                          a port range. For <code>icmpv6</code>, the
                                          port range is optional; if you omit the
                                          port range, traffic for all types and codes
                                          is allowed.</p>
                                      ipRanges:
                                        type: array
                                        description: <p>The IPv4 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of IpRange
                                          properties:
                                            cidrIp:
                                              type: string
                                              description: <p>The IPv4 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv4 address,
                                                use the /32 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv4 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      ipv6Ranges:
                                        type: array
                                        description: <p>The IPv6 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of Ipv6Range
                                          properties:
                                            cidrIpv6:
                                              type: string
                                              description: <p>The IPv6 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv6 address,
                                                use the /128 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv6 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      prefixListIds:
                                        type: array
                                        description: <p>The prefix list IDs.</p>
                                        items:
                                          type: object
                                          description: Definition of PrefixListId
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this prefix list ID.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            prefixListId:
                                              type: string
                                              description: <p>The ID of the prefix.</p>
                                        x-ms-identifiers: []
                                      toPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the end of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP code or -1 (all ICMP codes).
                                          If the start port is -1 (all ICMP types),
                                          then the end port must be -1 (all ICMP codes).</p>
                                      userIdGroupPairs:
                                        type: array
                                        description: <p>The security group and Amazon
                                          Web Services account ID pairs.</p>
                                        items:
                                          type: object
                                          description: Definition of UserIdGroupPair
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this user ID group pair.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            groupId:
                                              type: string
                                              description: <p>The ID of the security
                                                group.</p>
                                            groupName:
                                              type: string
                                              description: <p>[Default VPC] The name
                                                of the security group. For a security
                                                group in a nondefault VPC, use the
                                                security group ID. </p> <p>For a referenced
                                                security group in another VPC, this
                                                value is not returned if the referenced
                                                security group is deleted.</p>
                                            peeringStatus:
                                              type: string
                                              description: <p>The status of a VPC
                                                peering connection, if applicable.</p>
                                            userId:
                                              type: string
                                              description: <p>The ID of an Amazon
                                                Web Services account.</p> <p>For a
                                                referenced security group in another
                                                VPC, the account ID of the referenced
                                                security group is returned in the
                                                response. If the referenced security
                                                group is deleted, this value is not
                                                returned.</p>
                                            vpcId:
                                              type: string
                                              description: <p>The ID of the VPC for
                                                the referenced security group, if
                                                applicable.</p>
                                            vpcPeeringConnectionId:
                                              type: string
                                              description: <p>The ID of the VPC peering
                                                connection, if applicable.</p>
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                                ipPermissionsEgress:
                                  type: array
                                  description: <p>The outbound rules associated with
                                    the security group.</p>
                                  items:
                                    type: object
                                    description: Definition of IpPermission
                                    properties:
                                      fromPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the start of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP type or -1 (all ICMP types).</p>
                                      ipProtocol:
                                        type: string
                                        description: <p>The IP protocol name (<code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                          or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                          Numbers</a>).</p> <p>Use <code>-1</code>
                                          to specify all protocols. When authorizing
                                          security group rules, specifying <code>-1</code>
                                          or a protocol number other than <code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, or
                                          <code>icmpv6</code> allows traffic on all
                                          ports, regardless of any port range you
                                          specify. For <code>tcp</code>, <code>udp</code>,
                                          and <code>icmp</code>, you must specify
                                          a port range. For <code>icmpv6</code>, the
                                          port range is optional; if you omit the
                                          port range, traffic for all types and codes
                                          is allowed.</p>
                                      ipRanges:
                                        type: array
                                        description: <p>The IPv4 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of IpRange
                                          properties:
                                            cidrIp:
                                              type: string
                                              description: <p>The IPv4 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv4 address,
                                                use the /32 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv4 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      ipv6Ranges:
                                        type: array
                                        description: <p>The IPv6 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of Ipv6Range
                                          properties:
                                            cidrIpv6:
                                              type: string
                                              description: <p>The IPv6 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv6 address,
                                                use the /128 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv6 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      prefixListIds:
                                        type: array
                                        description: <p>The prefix list IDs.</p>
                                        items:
                                          type: object
                                          description: Definition of PrefixListId
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this prefix list ID.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            prefixListId:
                                              type: string
                                              description: <p>The ID of the prefix.</p>
                                        x-ms-identifiers: []
                                      toPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the end of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP code or -1 (all ICMP codes).
                                          If the start port is -1 (all ICMP types),
                                          then the end port must be -1 (all ICMP codes).</p>
                                      userIdGroupPairs:
                                        type: array
                                        description: <p>The security group and Amazon
                                          Web Services account ID pairs.</p>
                                        items:
                                          type: object
                                          description: Definition of UserIdGroupPair
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this user ID group pair.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            groupId:
                                              type: string
                                              description: <p>The ID of the security
                                                group.</p>
                                            groupName:
                                              type: string
                                              description: <p>[Default VPC] The name
                                                of the security group. For a security
                                                group in a nondefault VPC, use the
                                                security group ID. </p> <p>For a referenced
                                                security group in another VPC, this
                                                value is not returned if the referenced
                                                security group is deleted.</p>
                                            peeringStatus:
                                              type: string
                                              description: <p>The status of a VPC
                                                peering connection, if applicable.</p>
                                            userId:
                                              type: string
                                              description: <p>The ID of an Amazon
                                                Web Services account.</p> <p>For a
                                                referenced security group in another
                                                VPC, the account ID of the referenced
                                                security group is returned in the
                                                response. If the referenced security
                                                group is deleted, this value is not
                                                returned.</p>
                                            vpcId:
                                              type: string
                                              description: <p>The ID of the VPC for
                                                the referenced security group, if
                                                applicable.</p>
                                            vpcPeeringConnectionId:
                                              type: string
                                              description: <p>The ID of the VPC peering
                                                connection, if applicable.</p>
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                                ownerId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID of the owner of the security group.</p>
                                tags:
                                  type: array
                                  description: <p>Any tags assigned to the security
                                    group.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: <p>The ID of the VPC for the security
                                    group.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2SecurityGroups:
    get:
      operationId: Ec2SecurityGroups_ListByResourceGroup
      tags:
      - Ec2SecurityGroups
      description: List Ec2SecurityGroup resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2SecurityGroup list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2SecurityGroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: <p>A description of the security group.</p>
                                groupId:
                                  type: string
                                  description: <p>The ID of the security group.</p>
                                groupName:
                                  type: string
                                  description: <p>The name of the security group.</p>
                                ipPermissions:
                                  type: array
                                  description: <p>The inbound rules associated with
                                    the security group.</p>
                                  items:
                                    type: object
                                    description: Definition of IpPermission
                                    properties:
                                      fromPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the start of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP type or -1 (all ICMP types).</p>
                                      ipProtocol:
                                        type: string
                                        description: <p>The IP protocol name (<code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                          or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                          Numbers</a>).</p> <p>Use <code>-1</code>
                                          to specify all protocols. When authorizing
                                          security group rules, specifying <code>-1</code>
                                          or a protocol number other than <code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, or
                                          <code>icmpv6</code> allows traffic on all
                                          ports, regardless of any port range you
                                          specify. For <code>tcp</code>, <code>udp</code>,
                                          and <code>icmp</code>, you must specify
                                          a port range. For <code>icmpv6</code>, the
                                          port range is optional; if you omit the
                                          port range, traffic for all types and codes
                                          is allowed.</p>
                                      ipRanges:
                                        type: array
                                        description: <p>The IPv4 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of IpRange
                                          properties:
                                            cidrIp:
                                              type: string
                                              description: <p>The IPv4 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv4 address,
                                                use the /32 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv4 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      ipv6Ranges:
                                        type: array
                                        description: <p>The IPv6 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of Ipv6Range
                                          properties:
                                            cidrIpv6:
                                              type: string
                                              description: <p>The IPv6 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv6 address,
                                                use the /128 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv6 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      prefixListIds:
                                        type: array
                                        description: <p>The prefix list IDs.</p>
                                        items:
                                          type: object
                                          description: Definition of PrefixListId
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this prefix list ID.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            prefixListId:
                                              type: string
                                              description: <p>The ID of the prefix.</p>
                                        x-ms-identifiers: []
                                      toPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the end of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP code or -1 (all ICMP codes).
                                          If the start port is -1 (all ICMP types),
                                          then the end port must be -1 (all ICMP codes).</p>
                                      userIdGroupPairs:
                                        type: array
                                        description: <p>The security group and Amazon
                                          Web Services account ID pairs.</p>
                                        items:
                                          type: object
                                          description: Definition of UserIdGroupPair
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this user ID group pair.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            groupId:
                                              type: string
                                              description: <p>The ID of the security
                                                group.</p>
                                            groupName:
                                              type: string
                                              description: <p>[Default VPC] The name
                                                of the security group. For a security
                                                group in a nondefault VPC, use the
                                                security group ID. </p> <p>For a referenced
                                                security group in another VPC, this
                                                value is not returned if the referenced
                                                security group is deleted.</p>
                                            peeringStatus:
                                              type: string
                                              description: <p>The status of a VPC
                                                peering connection, if applicable.</p>
                                            userId:
                                              type: string
                                              description: <p>The ID of an Amazon
                                                Web Services account.</p> <p>For a
                                                referenced security group in another
                                                VPC, the account ID of the referenced
                                                security group is returned in the
                                                response. If the referenced security
                                                group is deleted, this value is not
                                                returned.</p>
                                            vpcId:
                                              type: string
                                              description: <p>The ID of the VPC for
                                                the referenced security group, if
                                                applicable.</p>
                                            vpcPeeringConnectionId:
                                              type: string
                                              description: <p>The ID of the VPC peering
                                                connection, if applicable.</p>
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                                ipPermissionsEgress:
                                  type: array
                                  description: <p>The outbound rules associated with
                                    the security group.</p>
                                  items:
                                    type: object
                                    description: Definition of IpPermission
                                    properties:
                                      fromPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the start of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP type or -1 (all ICMP types).</p>
                                      ipProtocol:
                                        type: string
                                        description: <p>The IP protocol name (<code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                          or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                          Numbers</a>).</p> <p>Use <code>-1</code>
                                          to specify all protocols. When authorizing
                                          security group rules, specifying <code>-1</code>
                                          or a protocol number other than <code>tcp</code>,
                                          <code>udp</code>, <code>icmp</code>, or
                                          <code>icmpv6</code> allows traffic on all
                                          ports, regardless of any port range you
                                          specify. For <code>tcp</code>, <code>udp</code>,
                                          and <code>icmp</code>, you must specify
                                          a port range. For <code>icmpv6</code>, the
                                          port range is optional; if you omit the
                                          port range, traffic for all types and codes
                                          is allowed.</p>
                                      ipRanges:
                                        type: array
                                        description: <p>The IPv4 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of IpRange
                                          properties:
                                            cidrIp:
                                              type: string
                                              description: <p>The IPv4 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv4 address,
                                                use the /32 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv4 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      ipv6Ranges:
                                        type: array
                                        description: <p>The IPv6 address ranges.</p>
                                        items:
                                          type: object
                                          description: Definition of Ipv6Range
                                          properties:
                                            cidrIpv6:
                                              type: string
                                              description: <p>The IPv6 address range.
                                                You can either specify a CIDR block
                                                or a source security group, not both.
                                                To specify a single IPv6 address,
                                                use the /128 prefix length.</p>
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this IPv6 address range.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                        x-ms-identifiers: []
                                      prefixListIds:
                                        type: array
                                        description: <p>The prefix list IDs.</p>
                                        items:
                                          type: object
                                          description: Definition of PrefixListId
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this prefix list ID.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            prefixListId:
                                              type: string
                                              description: <p>The ID of the prefix.</p>
                                        x-ms-identifiers: []
                                      toPort:
                                        type: integer
                                        format: int32
                                        description: <p>If the protocol is TCP or
                                          UDP, this is the end of the port range.
                                          If the protocol is ICMP or ICMPv6, this
                                          is the ICMP code or -1 (all ICMP codes).
                                          If the start port is -1 (all ICMP types),
                                          then the end port must be -1 (all ICMP codes).</p>
                                      userIdGroupPairs:
                                        type: array
                                        description: <p>The security group and Amazon
                                          Web Services account ID pairs.</p>
                                        items:
                                          type: object
                                          description: Definition of UserIdGroupPair
                                          properties:
                                            description:
                                              type: string
                                              description: '<p>A description for the
                                                security group rule that references
                                                this user ID group pair.</p> <p>Constraints:
                                                Up to 255 characters in length. Allowed
                                                characters are a-z, A-Z, 0-9, spaces,
                                                and ._-:/()#,@[]+=;{}!$*</p>'
                                            groupId:
                                              type: string
                                              description: <p>The ID of the security
                                                group.</p>
                                            groupName:
                                              type: string
                                              description: <p>[Default VPC] The name
                                                of the security group. For a security
                                                group in a nondefault VPC, use the
                                                security group ID. </p> <p>For a referenced
                                                security group in another VPC, this
                                                value is not returned if the referenced
                                                security group is deleted.</p>
                                            peeringStatus:
                                              type: string
                                              description: <p>The status of a VPC
                                                peering connection, if applicable.</p>
                                            userId:
                                              type: string
                                              description: <p>The ID of an Amazon
                                                Web Services account.</p> <p>For a
                                                referenced security group in another
                                                VPC, the account ID of the referenced
                                                security group is returned in the
                                                response. If the referenced security
                                                group is deleted, this value is not
                                                returned.</p>
                                            vpcId:
                                              type: string
                                              description: <p>The ID of the VPC for
                                                the referenced security group, if
                                                applicable.</p>
                                            vpcPeeringConnectionId:
                                              type: string
                                              description: <p>The ID of the VPC peering
                                                connection, if applicable.</p>
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                                ownerId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID of the owner of the security group.</p>
                                tags:
                                  type: array
                                  description: <p>Any tags assigned to the security
                                    group.</p>
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>The key of the tag.</p> <p>Constraints:
                                          Tag keys are case-sensitive and accept a
                                          maximum of 127 Unicode characters. May not
                                          begin with <code>aws:</code>.</p>'
                                      value:
                                        type: string
                                        description: '<p>The value of the tag.</p>
                                          <p>Constraints: Tag values are case-sensitive
                                          and accept a maximum of 256 Unicode characters.</p>'
                                  x-ms-identifiers: []
                                vpcId:
                                  type: string
                                  description: <p>The ID of the VPC for the security
                                    group.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2SecurityGroups/{name}
  : get:
      operationId: Ec2SecurityGroups_Get
      tags:
      - Ec2SecurityGroups
      description: Get a Ec2SecurityGroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2SecurityGroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          description:
                            type: string
                            description: <p>A description of the security group.</p>
                          groupId:
                            type: string
                            description: <p>The ID of the security group.</p>
                          groupName:
                            type: string
                            description: <p>The name of the security group.</p>
                          ipPermissions:
                            type: array
                            description: <p>The inbound rules associated with the
                              security group.</p>
                            items:
                              type: object
                              description: Definition of IpPermission
                              properties:
                                fromPort:
                                  type: integer
                                  format: int32
                                  description: <p>If the protocol is TCP or UDP, this
                                    is the start of the port range. If the protocol
                                    is ICMP or ICMPv6, this is the ICMP type or -1
                                    (all ICMP types).</p>
                                ipProtocol:
                                  type: string
                                  description: <p>The IP protocol name (<code>tcp</code>,
                                    <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                    or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                    Numbers</a>).</p> <p>Use <code>-1</code> to specify
                                    all protocols. When authorizing security group
                                    rules, specifying <code>-1</code> or a protocol
                                    number other than <code>tcp</code>, <code>udp</code>,
                                    <code>icmp</code>, or <code>icmpv6</code> allows
                                    traffic on all ports, regardless of any port range
                                    you specify. For <code>tcp</code>, <code>udp</code>,
                                    and <code>icmp</code>, you must specify a port
                                    range. For <code>icmpv6</code>, the port range
                                    is optional; if you omit the port range, traffic
                                    for all types and codes is allowed.</p>
                                ipRanges:
                                  type: array
                                  description: <p>The IPv4 address ranges.</p>
                                  items:
                                    type: object
                                    description: Definition of IpRange
                                    properties:
                                      cidrIp:
                                        type: string
                                        description: <p>The IPv4 address range. You
                                          can either specify a CIDR block or a source
                                          security group, not both. To specify a single
                                          IPv4 address, use the /32 prefix length.</p>
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this IPv4 address
                                          range.</p> <p>Constraints: Up to 255 characters
                                          in length. Allowed characters are a-z, A-Z,
                                          0-9, spaces, and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                  x-ms-identifiers: []
                                ipv6Ranges:
                                  type: array
                                  description: <p>The IPv6 address ranges.</p>
                                  items:
                                    type: object
                                    description: Definition of Ipv6Range
                                    properties:
                                      cidrIpv6:
                                        type: string
                                        description: <p>The IPv6 address range. You
                                          can either specify a CIDR block or a source
                                          security group, not both. To specify a single
                                          IPv6 address, use the /128 prefix length.</p>
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this IPv6 address
                                          range.</p> <p>Constraints: Up to 255 characters
                                          in length. Allowed characters are a-z, A-Z,
                                          0-9, spaces, and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                  x-ms-identifiers: []
                                prefixListIds:
                                  type: array
                                  description: <p>The prefix list IDs.</p>
                                  items:
                                    type: object
                                    description: Definition of PrefixListId
                                    properties:
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this prefix list
                                          ID.</p> <p>Constraints: Up to 255 characters
                                          in length. Allowed characters are a-z, A-Z,
                                          0-9, spaces, and ._-:/()#,@[]+=;{}!$*</p>'
                                      prefixListId:
                                        type: string
                                        description: <p>The ID of the prefix.</p>
                                  x-ms-identifiers: []
                                toPort:
                                  type: integer
                                  format: int32
                                  description: <p>If the protocol is TCP or UDP, this
                                    is the end of the port range. If the protocol
                                    is ICMP or ICMPv6, this is the ICMP code or -1
                                    (all ICMP codes). If the start port is -1 (all
                                    ICMP types), then the end port must be -1 (all
                                    ICMP codes).</p>
                                userIdGroupPairs:
                                  type: array
                                  description: <p>The security group and Amazon Web
                                    Services account ID pairs.</p>
                                  items:
                                    type: object
                                    description: Definition of UserIdGroupPair
                                    properties:
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this user ID
                                          group pair.</p> <p>Constraints: Up to 255
                                          characters in length. Allowed characters
                                          are a-z, A-Z, 0-9, spaces, and ._-:/()#,@[]+=;{}!$*</p>'
                                      groupId:
                                        type: string
                                        description: <p>The ID of the security group.</p>
                                      groupName:
                                        type: string
                                        description: <p>[Default VPC] The name of
                                          the security group. For a security group
                                          in a nondefault VPC, use the security group
                                          ID. </p> <p>For a referenced security group
                                          in another VPC, this value is not returned
                                          if the referenced security group is deleted.</p>
                                      peeringStatus:
                                        type: string
                                        description: <p>The status of a VPC peering
                                          connection, if applicable.</p>
                                      userId:
                                        type: string
                                        description: <p>The ID of an Amazon Web Services
                                          account.</p> <p>For a referenced security
                                          group in another VPC, the account ID of
                                          the referenced security group is returned
                                          in the response. If the referenced security
                                          group is deleted, this value is not returned.</p>
                                      vpcId:
                                        type: string
                                        description: <p>The ID of the VPC for the
                                          referenced security group, if applicable.</p>
                                      vpcPeeringConnectionId:
                                        type: string
                                        description: <p>The ID of the VPC peering
                                          connection, if applicable.</p>
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                          ipPermissionsEgress:
                            type: array
                            description: <p>The outbound rules associated with the
                              security group.</p>
                            items:
                              type: object
                              description: Definition of IpPermission
                              properties:
                                fromPort:
                                  type: integer
                                  format: int32
                                  description: <p>If the protocol is TCP or UDP, this
                                    is the start of the port range. If the protocol
                                    is ICMP or ICMPv6, this is the ICMP type or -1
                                    (all ICMP types).</p>
                                ipProtocol:
                                  type: string
                                  description: <p>The IP protocol name (<code>tcp</code>,
                                    <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>)
                                    or number (see <a href='http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml'>Protocol
                                    Numbers</a>).</p> <p>Use <code>-1</code> to specify
                                    all protocols. When authorizing security group
                                    rules, specifying <code>-1</code> or a protocol
                                    number other than <code>tcp</code>, <code>udp</code>,
                                    <code>icmp</code>, or <code>icmpv6</code> allows
                                    traffic on all ports, regardless of any port range
                                    you specify. For <code>tcp</code>, <code>udp</code>,
                                    and <code>icmp</code>, you must specify a port
                                    range. For <code>icmpv6</code>, the port range
                                    is optional; if you omit the port range, traffic
                                    for all types and codes is allowed.</p>
                                ipRanges:
                                  type: array
                                  description: <p>The IPv4 address ranges.</p>
                                  items:
                                    type: object
                                    description: Definition of IpRange
                                    properties:
                                      cidrIp:
                                        type: string
                                        description: <p>The IPv4 address range. You
                                          can either specify a CIDR block or a source
                                          security group, not both. To specify a single
                                          IPv4 address, use the /32 prefix length.</p>
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this IPv4 address
                                          range.</p> <p>Constraints: Up to 255 characters
                                          in length. Allowed characters are a-z, A-Z,
                                          0-9, spaces, and ._-:/()#,@[]+=&amp;;{}!$*</p>'
                                  x-ms-identifiers: []
                                ipv6Ranges:
                                  type: array
                                  description: <p>The IPv6 address ranges.</p>
                                  items:
                                    type: object
                                    description: Definition of Ipv6Range
                                    properties:
                                      cidrIpv6:
                                        type: string
                                        description: <p>The IPv6 address range. You
                                          can either specify a CIDR block or a source
                                          security group, not both. To specify a single
                                          IPv6 address, use the /128 prefix length.</p>
                                      description:
                                        type: string
                                        description: '<p>A description for the security
                                          group rule that references this IPv6 address
[...]
