openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2Volumes
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Volumes:
    get:
      operationId: Ec2Volumes_ListBySubscription
      tags:
      - Ec2Volumes
      description: List Ec2Volume resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Volume list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Volume items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                autoEnableIO:
                                  type: boolean
                                  description: Indicates whether the volume is auto-enabled
                                    for I/O operations. By default, Amazon EBS disables
                                    I/O to the volume from attached EC2 instances
                                    when it determines that a volume's data is potentially
                                    inconsistent. If the consistency of the volume
                                    is not a concern, and you prefer that the volume
                                    be made available immediately if it's impaired,
                                    you can configure the volume to automatically
                                    enable I/O.
                                availabilityZone:
                                  type: string
                                  description: The ID of the Availability Zone in
                                    which to create the volume. For example, ``us-east-1a``.
                                encrypted:
                                  type: boolean
                                  description: Indicates whether the volume should
                                    be encrypted. The effect of setting the encryption
                                    state to ``true`` depends on the volume origin
                                    (new or from a snapshot), starting encryption
                                    state, ownership, and whether encryption by default
                                    is enabled. For more information, see [Encryption
                                    by default](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default)
                                    in the *Amazon Elastic Compute Cloud User Guide*.
                                    Encrypted Amazon EBS volumes must be attached
                                    to instances that support Amazon EBS encryption.
                                    For more information, see [Supported instance
                                    types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_supported_instances).
                                iops:
                                  type: integer
                                  format: int32
                                  description: 'The number of I/O operations per second
                                    (IOPS). For ``gp3``, ``io1``, and ``io2`` volumes,
                                    this represents the number of IOPS that are provisioned
                                    for the volume. For ``gp2`` volumes, this represents
                                    the baseline performance of the volume and the
                                    rate at which the volume accumulates I/O credits
                                    for bursting. The following are the supported
                                    values for each volume type:  +   ``gp3``: 3,000
                                    - 16,000 IOPS  +   ``io1``: 100 - 64,000 IOPS  +   ``io2``:
                                    100 - 256,000 IOPS   For ``io2`` volumes, you
                                    can achieve up to 256,000 IOPS on [instances built
                                    on the Nitro System](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances).
                                    On other instances, you can achieve performance
                                    up to 32,000 IOPS. This parameter is required
                                    for ``io1`` and ``io2`` volumes. The default for
                                    ``gp3`` volumes is 3,000 IOPS. This parameter
                                    is not supported for ``gp2``, ``st1``, ``sc1``,
                                    or ``standard`` volumes.'
                                kmsKeyId:
                                  type: string
                                  description: 'The identifier of the kms-key-long
                                    to use for Amazon EBS encryption. If ``KmsKeyId``
                                    is specified, the encrypted state must be ``true``.
                                    If you omit this property and your account is
                                    enabled for encryption by default, or *Encrypted*
                                    is set to ``true``, then the volume is encrypted
                                    using the default key specified for your account.
                                    If your account does not have a default key, then
                                    the volume is encrypted using the aws-managed-key.
                                    Alternatively, if you want to specify a different
                                    key, you can specify one of the following:  +  Key
                                    ID. For example, 1234abcd-12ab-34cd-56ef-1234567890ab.  +  Key
                                    alias. Specify the alias for the key, prefixed
                                    with ``alias/``. For example, for a key with the
                                    alias ``my_cmk``, use ``alias/my_cmk``. Or to
                                    specify the aws-managed-key, use ``alias/aws/ebs``.  +  Key
                                    ARN. For example, arn:aws:kms:us-east-1:012345678910:key/1234abcd-12ab-34cd-56ef-1234567890ab.  +  Alias
                                    ARN. For example, arn:aws:kms:us-east-1:012345678910:alias/ExampleAlias.'
                                multiAttachEnabled:
                                  type: boolean
                                  description: Indicates whether Amazon EBS Multi-Attach
                                    is enabled. CFNlong does not currently support
                                    updating a single-attach volume to be multi-attach
                                    enabled, updating a multi-attach enabled volume
                                    to be single-attach, or updating the size or number
                                    of I/O operations per second (IOPS) of a multi-attach
                                    enabled volume.
                                outpostArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    Outpost.
                                size:
                                  type: integer
                                  format: int32
                                  description: 'The size of the volume, in GiBs. You
                                    must specify either a snapshot ID or a volume
                                    size. If you specify a snapshot, the default is
                                    the snapshot size. You can specify a volume size
                                    that is equal to or larger than the snapshot size.
                                    The following are the supported volumes sizes
                                    for each volume type:  +   ``gp2`` and ``gp3``:
                                    1 - 16,384 GiB  +   ``io1``: 4 - 16,384 GiB  +   ``io2``:
                                    4 - 65,536 GiB  +   ``st1`` and ``sc1``: 125 -
                                    16,384 GiB  +   ``standard``: 1 - 1024 GiB'
                                snapshotId:
                                  type: string
                                  description: The snapshot from which to create the
                                    volume. You must specify either a snapshot ID
                                    or a volume size.
                                tags:
                                  type: array
                                  description: The tags to apply to the volume during
                                    creation.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key.
                                      value:
                                        type: string
                                        description: The tag value.
                                  x-ms-identifiers: []
                                throughput:
                                  type: integer
                                  format: int32
                                  description: 'The throughput to provision for a
                                    volume, with a maximum of 1,000 MiB/s. This parameter
                                    is valid only for ``gp3`` volumes. The default
                                    value is 125. Valid Range: Minimum value of 125.
                                    Maximum value of 1000.'
                                volumeId:
                                  type: string
                                  description: Property volumeId
                                volumeType:
                                  type: string
                                  description: 'The volume type. This parameter can
                                    be one of the following values:  +  General Purpose
                                    SSD: ``gp2`` | ``gp3``   +  Provisioned IOPS SSD:
                                    ``io1`` | ``io2``   +  Throughput Optimized HDD:
                                    ``st1``   +  Cold HDD: ``sc1``   +  Magnetic:
                                    ``standard``    For more information, see [Amazon
                                    EBS volume types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html)
                                    in the *Amazon Elastic Compute Cloud User Guide*.
                                    Default: ``gp2``'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Volumes:
    get:
      operationId: Ec2Volumes_ListByResourceGroup
      tags:
      - Ec2Volumes
      description: List Ec2Volume resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2Volume list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2Volume items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                autoEnableIO:
                                  type: boolean
                                  description: Indicates whether the volume is auto-enabled
                                    for I/O operations. By default, Amazon EBS disables
                                    I/O to the volume from attached EC2 instances
                                    when it determines that a volume's data is potentially
                                    inconsistent. If the consistency of the volume
                                    is not a concern, and you prefer that the volume
                                    be made available immediately if it's impaired,
                                    you can configure the volume to automatically
                                    enable I/O.
                                availabilityZone:
                                  type: string
                                  description: The ID of the Availability Zone in
                                    which to create the volume. For example, ``us-east-1a``.
                                encrypted:
                                  type: boolean
                                  description: Indicates whether the volume should
                                    be encrypted. The effect of setting the encryption
                                    state to ``true`` depends on the volume origin
                                    (new or from a snapshot), starting encryption
                                    state, ownership, and whether encryption by default
                                    is enabled. For more information, see [Encryption
                                    by default](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default)
                                    in the *Amazon Elastic Compute Cloud User Guide*.
                                    Encrypted Amazon EBS volumes must be attached
                                    to instances that support Amazon EBS encryption.
                                    For more information, see [Supported instance
                                    types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_supported_instances).
                                iops:
                                  type: integer
                                  format: int32
                                  description: 'The number of I/O operations per second
                                    (IOPS). For ``gp3``, ``io1``, and ``io2`` volumes,
                                    this represents the number of IOPS that are provisioned
                                    for the volume. For ``gp2`` volumes, this represents
                                    the baseline performance of the volume and the
                                    rate at which the volume accumulates I/O credits
                                    for bursting. The following are the supported
                                    values for each volume type:  +   ``gp3``: 3,000
                                    - 16,000 IOPS  +   ``io1``: 100 - 64,000 IOPS  +   ``io2``:
                                    100 - 256,000 IOPS   For ``io2`` volumes, you
                                    can achieve up to 256,000 IOPS on [instances built
                                    on the Nitro System](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances).
                                    On other instances, you can achieve performance
                                    up to 32,000 IOPS. This parameter is required
                                    for ``io1`` and ``io2`` volumes. The default for
                                    ``gp3`` volumes is 3,000 IOPS. This parameter
                                    is not supported for ``gp2``, ``st1``, ``sc1``,
                                    or ``standard`` volumes.'
                                kmsKeyId:
                                  type: string
                                  description: 'The identifier of the kms-key-long
                                    to use for Amazon EBS encryption. If ``KmsKeyId``
                                    is specified, the encrypted state must be ``true``.
                                    If you omit this property and your account is
                                    enabled for encryption by default, or *Encrypted*
                                    is set to ``true``, then the volume is encrypted
                                    using the default key specified for your account.
                                    If your account does not have a default key, then
                                    the volume is encrypted using the aws-managed-key.
                                    Alternatively, if you want to specify a different
                                    key, you can specify one of the following:  +  Key
                                    ID. For example, 1234abcd-12ab-34cd-56ef-1234567890ab.  +  Key
                                    alias. Specify the alias for the key, prefixed
                                    with ``alias/``. For example, for a key with the
                                    alias ``my_cmk``, use ``alias/my_cmk``. Or to
                                    specify the aws-managed-key, use ``alias/aws/ebs``.  +  Key
                                    ARN. For example, arn:aws:kms:us-east-1:012345678910:key/1234abcd-12ab-34cd-56ef-1234567890ab.  +  Alias
                                    ARN. For example, arn:aws:kms:us-east-1:012345678910:alias/ExampleAlias.'
                                multiAttachEnabled:
                                  type: boolean
                                  description: Indicates whether Amazon EBS Multi-Attach
                                    is enabled. CFNlong does not currently support
                                    updating a single-attach volume to be multi-attach
                                    enabled, updating a multi-attach enabled volume
                                    to be single-attach, or updating the size or number
                                    of I/O operations per second (IOPS) of a multi-attach
                                    enabled volume.
                                outpostArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    Outpost.
                                size:
                                  type: integer
                                  format: int32
                                  description: 'The size of the volume, in GiBs. You
                                    must specify either a snapshot ID or a volume
                                    size. If you specify a snapshot, the default is
                                    the snapshot size. You can specify a volume size
                                    that is equal to or larger than the snapshot size.
                                    The following are the supported volumes sizes
                                    for each volume type:  +   ``gp2`` and ``gp3``:
                                    1 - 16,384 GiB  +   ``io1``: 4 - 16,384 GiB  +   ``io2``:
                                    4 - 65,536 GiB  +   ``st1`` and ``sc1``: 125 -
                                    16,384 GiB  +   ``standard``: 1 - 1024 GiB'
                                snapshotId:
                                  type: string
                                  description: The snapshot from which to create the
                                    volume. You must specify either a snapshot ID
                                    or a volume size.
                                tags:
                                  type: array
                                  description: The tags to apply to the volume during
                                    creation.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key.
                                      value:
                                        type: string
                                        description: The tag value.
                                  x-ms-identifiers: []
                                throughput:
                                  type: integer
                                  format: int32
                                  description: 'The throughput to provision for a
                                    volume, with a maximum of 1,000 MiB/s. This parameter
                                    is valid only for ``gp3`` volumes. The default
                                    value is 125. Valid Range: Minimum value of 125.
                                    Maximum value of 1000.'
                                volumeId:
                                  type: string
                                  description: Property volumeId
                                volumeType:
                                  type: string
                                  description: 'The volume type. This parameter can
                                    be one of the following values:  +  General Purpose
                                    SSD: ``gp2`` | ``gp3``   +  Provisioned IOPS SSD:
                                    ``io1`` | ``io2``   +  Throughput Optimized HDD:
                                    ``st1``   +  Cold HDD: ``sc1``   +  Magnetic:
                                    ``standard``    For more information, see [Amazon
                                    EBS volume types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html)
                                    in the *Amazon Elastic Compute Cloud User Guide*.
                                    Default: ``gp2``'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Volumes/{name}:
    get:
      operationId: Ec2Volumes_Get
      tags:
      - Ec2Volumes
      description: Get a Ec2Volume
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Volume
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          autoEnableIO:
                            type: boolean
                            description: Indicates whether the volume is auto-enabled
                              for I/O operations. By default, Amazon EBS disables
                              I/O to the volume from attached EC2 instances when it
                              determines that a volume's data is potentially inconsistent.
                              If the consistency of the volume is not a concern, and
                              you prefer that the volume be made available immediately
                              if it's impaired, you can configure the volume to automatically
                              enable I/O.
                          availabilityZone:
                            type: string
                            description: The ID of the Availability Zone in which
                              to create the volume. For example, ``us-east-1a``.
                          encrypted:
                            type: boolean
                            description: Indicates whether the volume should be encrypted.
                              The effect of setting the encryption state to ``true``
                              depends on the volume origin (new or from a snapshot),
                              starting encryption state, ownership, and whether encryption
                              by default is enabled. For more information, see [Encryption
                              by default](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default)
                              in the *Amazon Elastic Compute Cloud User Guide*. Encrypted
                              Amazon EBS volumes must be attached to instances that
                              support Amazon EBS encryption. For more information,
                              see [Supported instance types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_supported_instances).
                          iops:
                            type: integer
                            format: int32
                            description: 'The number of I/O operations per second
                              (IOPS). For ``gp3``, ``io1``, and ``io2`` volumes, this
                              represents the number of IOPS that are provisioned for
                              the volume. For ``gp2`` volumes, this represents the
                              baseline performance of the volume and the rate at which
                              the volume accumulates I/O credits for bursting. The
                              following are the supported values for each volume type:  +   ``gp3``:
                              3,000 - 16,000 IOPS  +   ``io1``: 100 - 64,000 IOPS  +   ``io2``:
                              100 - 256,000 IOPS   For ``io2`` volumes, you can achieve
                              up to 256,000 IOPS on [instances built on the Nitro
                              System](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances).
                              On other instances, you can achieve performance up to
                              32,000 IOPS. This parameter is required for ``io1``
                              and ``io2`` volumes. The default for ``gp3`` volumes
                              is 3,000 IOPS. This parameter is not supported for ``gp2``,
                              ``st1``, ``sc1``, or ``standard`` volumes.'
                          kmsKeyId:
                            type: string
                            description: 'The identifier of the kms-key-long to use
                              for Amazon EBS encryption. If ``KmsKeyId`` is specified,
                              the encrypted state must be ``true``. If you omit this
                              property and your account is enabled for encryption
                              by default, or *Encrypted* is set to ``true``, then
                              the volume is encrypted using the default key specified
                              for your account. If your account does not have a default
                              key, then the volume is encrypted using the aws-managed-key.
                              Alternatively, if you want to specify a different key,
                              you can specify one of the following:  +  Key ID. For
                              example, 1234abcd-12ab-34cd-56ef-1234567890ab.  +  Key
                              alias. Specify the alias for the key, prefixed with
                              ``alias/``. For example, for a key with the alias ``my_cmk``,
                              use ``alias/my_cmk``. Or to specify the aws-managed-key,
                              use ``alias/aws/ebs``.  +  Key ARN. For example, arn:aws:kms:us-east-1:012345678910:key/1234abcd-12ab-34cd-56ef-1234567890ab.  +  Alias
                              ARN. For example, arn:aws:kms:us-east-1:012345678910:alias/ExampleAlias.'
                          multiAttachEnabled:
                            type: boolean
                            description: Indicates whether Amazon EBS Multi-Attach
                              is enabled. CFNlong does not currently support updating
                              a single-attach volume to be multi-attach enabled, updating
                              a multi-attach enabled volume to be single-attach, or
                              updating the size or number of I/O operations per second
                              (IOPS) of a multi-attach enabled volume.
                          outpostArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the Outpost.
                          size:
                            type: integer
                            format: int32
                            description: 'The size of the volume, in GiBs. You must
                              specify either a snapshot ID or a volume size. If you
                              specify a snapshot, the default is the snapshot size.
                              You can specify a volume size that is equal to or larger
                              than the snapshot size. The following are the supported
                              volumes sizes for each volume type:  +   ``gp2`` and
                              ``gp3``: 1 - 16,384 GiB  +   ``io1``: 4 - 16,384 GiB  +   ``io2``:
                              4 - 65,536 GiB  +   ``st1`` and ``sc1``: 125 - 16,384
                              GiB  +   ``standard``: 1 - 1024 GiB'
                          snapshotId:
                            type: string
                            description: The snapshot from which to create the volume.
                              You must specify either a snapshot ID or a volume size.
                          tags:
                            type: array
                            description: The tags to apply to the volume during creation.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The tag key.
                                value:
                                  type: string
                                  description: The tag value.
                            x-ms-identifiers: []
                          throughput:
                            type: integer
                            format: int32
                            description: 'The throughput to provision for a volume,
                              with a maximum of 1,000 MiB/s. This parameter is valid
                              only for ``gp3`` volumes. The default value is 125.
                              Valid Range: Minimum value of 125. Maximum value of
                              1000.'
                          volumeId:
                            type: string
                            description: Property volumeId
                          volumeType:
                            type: string
                            description: 'The volume type. This parameter can be one
                              of the following values:  +  General Purpose SSD: ``gp2``
                              | ``gp3``   +  Provisioned IOPS SSD: ``io1`` | ``io2``   +  Throughput
                              Optimized HDD: ``st1``   +  Cold HDD: ``sc1``   +  Magnetic:
                              ``standard``    For more information, see [Amazon EBS
                              volume types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html)
                              in the *Amazon Elastic Compute Cloud User Guide*. Default:
                              ``gp2``'
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2Volumes_CreateOrReplace
      tags:
      - Ec2Volumes
      description: Create a Ec2Volume. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2Volume
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        autoEnableIO:
                          type: boolean
                          description: Indicates whether the volume is auto-enabled
                            for I/O operations. By default, Amazon EBS disables I/O
                            to the volume from attached EC2 instances when it determines
                            that a volume's data is potentially inconsistent. If the
                            consistency of the volume is not a concern, and you prefer
                            that the volume be made available immediately if it's
                            impaired, you can configure the volume to automatically
                            enable I/O.
                        availabilityZone:
                          type: string
                          description: The ID of the Availability Zone in which to
                            create the volume. For example, ``us-east-1a``.
                        encrypted:
                          type: boolean
                          description: Indicates whether the volume should be encrypted.
                            The effect of setting the encryption state to ``true``
                            depends on the volume origin (new or from a snapshot),
                            starting encryption state, ownership, and whether encryption
                            by default is enabled. For more information, see [Encryption
                            by default](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default)
                            in the *Amazon Elastic Compute Cloud User Guide*. Encrypted
                            Amazon EBS volumes must be attached to instances that
                            support Amazon EBS encryption. For more information, see
                            [Supported instance types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_supported_instances).
                        iops:
                          type: integer
                          format: int32
                          description: 'The number of I/O operations per second (IOPS).
                            For ``gp3``, ``io1``, and ``io2`` volumes, this represents
                            the number of IOPS that are provisioned for the volume.
                            For ``gp2`` volumes, this represents the baseline performance
                            of the volume and the rate at which the volume accumulates
                            I/O credits for bursting. The following are the supported
                            values for each volume type:  +   ``gp3``: 3,000 - 16,000
                            IOPS  +   ``io1``: 100 - 64,000 IOPS  +   ``io2``: 100
                            - 256,000 IOPS   For ``io2`` volumes, you can achieve
                            up to 256,000 IOPS on [instances built on the Nitro System](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances).
                            On other instances, you can achieve performance up to
                            32,000 IOPS. This parameter is required for ``io1`` and
                            ``io2`` volumes. The default for ``gp3`` volumes is 3,000
                            IOPS. This parameter is not supported for ``gp2``, ``st1``,
                            ``sc1``, or ``standard`` volumes.'
                        kmsKeyId:
                          type: string
                          description: 'The identifier of the kms-key-long to use
                            for Amazon EBS encryption. If ``KmsKeyId`` is specified,
                            the encrypted state must be ``true``. If you omit this
                            property and your account is enabled for encryption by
                            default, or *Encrypted* is set to ``true``, then the volume
                            is encrypted using the default key specified for your
                            account. If your account does not have a default key,
                            then the volume is encrypted using the aws-managed-key.
                            Alternatively, if you want to specify a different key,
                            you can specify one of the following:  +  Key ID. For
                            example, 1234abcd-12ab-34cd-56ef-1234567890ab.  +  Key
                            alias. Specify the alias for the key, prefixed with ``alias/``.
                            For example, for a key with the alias ``my_cmk``, use
                            ``alias/my_cmk``. Or to specify the aws-managed-key, use
                            ``alias/aws/ebs``.  +  Key ARN. For example, arn:aws:kms:us-east-1:012345678910:key/1234abcd-12ab-34cd-56ef-1234567890ab.  +  Alias
                            ARN. For example, arn:aws:kms:us-east-1:012345678910:alias/ExampleAlias.'
                        multiAttachEnabled:
                          type: boolean
                          description: Indicates whether Amazon EBS Multi-Attach is
                            enabled. CFNlong does not currently support updating a
                            single-attach volume to be multi-attach enabled, updating
                            a multi-attach enabled volume to be single-attach, or
                            updating the size or number of I/O operations per second
                            (IOPS) of a multi-attach enabled volume.
                        outpostArn:
                          type: string
                          description: The Amazon Resource Name (ARN) of the Outpost.
                        size:
                          type: integer
                          format: int32
                          description: 'The size of the volume, in GiBs. You must
                            specify either a snapshot ID or a volume size. If you
                            specify a snapshot, the default is the snapshot size.
                            You can specify a volume size that is equal to or larger
                            than the snapshot size. The following are the supported
                            volumes sizes for each volume type:  +   ``gp2`` and ``gp3``:
                            1 - 16,384 GiB  +   ``io1``: 4 - 16,384 GiB  +   ``io2``:
                            4 - 65,536 GiB  +   ``st1`` and ``sc1``: 125 - 16,384
                            GiB  +   ``standard``: 1 - 1024 GiB'
                        snapshotId:
                          type: string
                          description: The snapshot from which to create the volume.
                            You must specify either a snapshot ID or a volume size.
                        tags:
                          type: array
                          description: The tags to apply to the volume during creation.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The tag key.
                              value:
                                type: string
                                description: The tag value.
                          x-ms-identifiers: []
                        throughput:
                          type: integer
                          format: int32
                          description: 'The throughput to provision for a volume,
                            with a maximum of 1,000 MiB/s. This parameter is valid
                            only for ``gp3`` volumes. The default value is 125. Valid
                            Range: Minimum value of 125. Maximum value of 1000.'
                        volumeId:
                          type: string
                          description: Property volumeId
                        volumeType:
                          type: string
                          description: 'The volume type. This parameter can be one
                            of the following values:  +  General Purpose SSD: ``gp2``
                            | ``gp3``   +  Provisioned IOPS SSD: ``io1`` | ``io2``   +  Throughput
                            Optimized HDD: ``st1``   +  Cold HDD: ``sc1``   +  Magnetic:
                            ``standard``    For more information, see [Amazon EBS
                            volume types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html)
                            in the *Amazon Elastic Compute Cloud User Guide*. Default:
                            ``gp2``'
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2Volume' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          autoEnableIO:
                            type: boolean
                            description: Indicates whether the volume is auto-enabled
                              for I/O operations. By default, Amazon EBS disables
                              I/O to the volume from attached EC2 instances when it
                              determines that a volume's data is potentially inconsistent.
                              If the consistency of the volume is not a concern, and
                              you prefer that the volume be made available immediately
                              if it's impaired, you can configure the volume to automatically
                              enable I/O.
                          availabilityZone:
                            type: string
                            description: The ID of the Availability Zone in which
                              to create the volume. For example, ``us-east-1a``.
                          encrypted:
                            type: boolean
                            description: Indicates whether the volume should be encrypted.
                              The effect of setting the encryption state to ``true``
                              depends on the volume origin (new or from a snapshot),
                              starting encryption state, ownership, and whether encryption
                              by default is enabled. For more information, see [Encryption
                              by default](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default)
                              in the *Amazon Elastic Compute Cloud User Guide*. Encrypted
                              Amazon EBS volumes must be attached to instances that
                              support Amazon EBS encryption. For more information,
                              see [Supported instance types](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#EBSEncryption_supported_instances).
                          iops:
                            type: integer
                            format: int32
                            description: 'The number of I/O operations per second
                              (IOPS). For ``gp3``, ``io1``, and ``io2`` volumes, this
                              represents the number of IOPS that are provisioned for
                              the volume. For ``gp2`` volumes, this represents the
                              baseline performance of the volume and the rate at which
                              the volume accumulates I/O credits for bursting. The
                              following are the supported values for each volume type:  +   ``gp3``:
                              3,000 - 16,000 IOPS  +   ``io1``: 100 - 64,000 IOPS  +   ``io2``:
                              100 - 256,000 IOPS   For ``io2`` volumes, you can achieve
                              up to 256,000 IOPS on [instances built on the Nitro
                              System](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#ec2-nitro-instances).
                              On other instances, you can achieve performance up to
                              32,000 IOPS. This parameter is required for ``io1``
                              and ``io2`` volumes. The default for ``gp3`` volumes
                              is 3,000 IOPS. This parameter is not supported for ``gp2``,
                              ``st1``, ``sc1``, or ``standard`` volumes.'
                          kmsKeyId:
                            type: string
                            description: 'The identifier of the kms-key-long to use
                              for Amazon EBS encryption. If ``KmsKeyId`` is specified,
                              the encrypted state must be ``true``. If you omit this
                              property and your account is enabled for encryption
                              by default, or *Encrypted* is set to ``true``, then
                              the volume is encrypted using the default key specified
                              for your account. If your account does not have a default
                              key, then the volume is encrypted using the aws-managed-key.
                              Alternatively, if you want to specify a different key,
                              you can specify one of the following:  +  Key ID. For
                              example, 1234abcd-12ab-34cd-56ef-1234567890ab.  +  Key
                              alias. Specify the alias for the key, prefixed with
                              ``alias/``. For example, for a key with the alias ``my_cmk``,
                              use ``alias/my_cmk``. Or to specify the aws-managed-key,
                              use ``alias/aws/ebs``.  +  Key ARN. For example, arn:aws:kms:us-east-1:012345678910:key/1234abcd-12ab-34cd-56ef-1234567890ab.  +  Alias
                              ARN. For example, arn:aws:kms:us-east-1:012345678910:alias/ExampleAlias.'
                          multiAttachEnabled:
                            type: boolean
                            description: Indicates whether Amazon EBS Multi-Attach
                              is enabled. CFNlong does not currently support updating
                              a single-attach volume to be multi-attach enabled, updating
                              a multi-attach enabled volume to be single-attach, or
                              updating the size or number of I/O operations per second
                              (IOPS) of a multi-attach enabled volume.
                          outpostArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the Outpost.
                          size:
                            type: integer
                            format: int32
                            description: 'The size of the volume, in GiBs. You must
                              specify either a snapshot ID or a volume size. If you
                              specify a snapshot, the default is the snapshot size.
                              You can specify a volume size that is equal to or larger
                              than the snapshot size. The following are the supported
                              volumes sizes for each volume type:  +   ``gp2`` and
                              ``gp3``: 1 - 16,384 GiB  +   ``io1``: 4 - 16,384 GiB  +   ``io2``:
                              4 - 65,536 GiB  +   ``st1`` and ``sc1``: 125 - 16,384
                              GiB  +   ``standard``: 1 - 1024 GiB'
                          snapshotId:
                            type: string
                            description: The snapshot from which to create the volume.
                              You must specify either a snapshot ID or a volume size.
                          tags:
                            type: array
                            description: The tags to apply to the volume during creation.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The tag key.
                                value:
                                  type: string
                                  description: The tag value.
                            x-ms-identifiers: []
                          throughput:
                            type: integer
                            format: int32
                            description: 'The throughput to provision for a volume,
                              with a maximum of 1,000 MiB/s. This parameter is valid
                              only for ``gp3`` volumes. The default value is 125.
                              Valid Range: Minimum value of 125. Maximum value of
                              1000.'
                          volumeId:
                            type: string
                            description: Property volumeId
                          volumeType:
                            type: string
                            description: 'The volume type. This parameter can be one
                              of the following values:  +  General Purpose SSD: ``gp2``
                              | ``gp3``   +  Provisioned IOPS SSD: ``io1`` | ``io2``   +  Throughput
[...]
