openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Ec2VPCEndpoints
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2VPCEndpoints:
    get:
      operationId: Ec2VpcEndpoints_ListBySubscription
      tags:
      - Ec2VPCEndpoints
      description: List Ec2VPCEndpoint resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2VPCEndpoint list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2VPCEndpoint items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                creationTimestamp:
                                  type: string
                                  description: Property creationTimestamp
                                dnsEntries:
                                  type: array
                                  description: Property dnsEntries
                                  items:
                                    type: string
                                id:
                                  type: string
                                  description: Property id
                                networkInterfaceIds:
                                  type: array
                                  description: Property networkInterfaceIds
                                  items:
                                    type: string
                                policyDocument:
                                  type: object
                                  description: An endpoint policy, which controls
                                    access to the service from the VPC. The default
                                    endpoint policy allows full access to the service.
                                    Endpoint policies are supported only for gateway
                                    and interface endpoints. For CloudFormation templates
                                    in YAML, you can provide the policy in JSON or
                                    YAML format. CFNlong converts YAML policies to
                                    JSON format before calling the API to create or
                                    modify the VPC endpoint.
                                  additionalProperties: {}
                                privateDnsEnabled:
                                  type: boolean
                                  description: 'Indicate whether to associate a private
                                    hosted zone with the specified VPC. The private
                                    hosted zone contains a record set for the default
                                    public DNS name for the service for the Region
                                    (for example, ``kinesis.us-east-1.amazonaws.com``),
                                    which resolves to the private IP addresses of
                                    the endpoint network interfaces in the VPC. This
                                    enables you to make requests to the default public
                                    DNS name for the service instead of the public
                                    DNS names that are automatically generated by
                                    the VPC endpoint service. To use a private hosted
                                    zone, you must set the following VPC attributes
                                    to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                                    This property is supported only for interface
                                    endpoints. Default: ``false``'
                                routeTableIds:
                                  type: array
                                  description: The IDs of the route tables. Routing
                                    is supported only for gateway endpoints.
                                  items:
                                    type: string
                                securityGroupIds:
                                  type: array
                                  description: The IDs of the security groups to associate
                                    with the endpoint network interfaces. If this
                                    parameter is not specified, we use the default
                                    security group for the VPC. Security groups are
                                    supported only for interface endpoints.
                                  items:
                                    type: string
                                serviceName:
                                  type: string
                                  description: The name of the endpoint service.
                                subnetIds:
                                  type: array
                                  description: The IDs of the subnets in which to
                                    create endpoint network interfaces. You must specify
                                    this property for an interface endpoint or a Gateway
                                    Load Balancer endpoint. You can't specify this
                                    property for a gateway endpoint. For a Gateway
                                    Load Balancer endpoint, you can specify only one
                                    subnet.
                                  items:
                                    type: string
                                vpcEndpointType:
                                  description: 'The type of endpoint. Default: Gateway'
                                  type: string
                                  enum:
                                  - Gateway
                                  - GatewayLoadBalancer
                                  - Interface
                                  x-ms-enum:
                                    name: VpcEndpointType
                                    modelAsString: true
                                    values:
                                    - name: Gateway
                                      value: Gateway
                                      description: VpcEndpointType enum Gateway
                                    - name: GatewayLoadBalancer
                                      value: GatewayLoadBalancer
                                      description: VpcEndpointType enum GatewayLoadBalancer
                                    - name: Interface
                                      value: Interface
                                      description: VpcEndpointType enum Interface
                                vpcId:
                                  type: string
                                  description: The ID of the VPC.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2VPCEndpoints:
    get:
      operationId: Ec2VpcEndpoints_ListByResourceGroup
      tags:
      - Ec2VPCEndpoints
      description: List Ec2VPCEndpoint resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Ec2VPCEndpoint list operation.
                properties:
                  value:
                    type: array
                    description: The Ec2VPCEndpoint items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                creationTimestamp:
                                  type: string
                                  description: Property creationTimestamp
                                dnsEntries:
                                  type: array
                                  description: Property dnsEntries
                                  items:
                                    type: string
                                id:
                                  type: string
                                  description: Property id
                                networkInterfaceIds:
                                  type: array
                                  description: Property networkInterfaceIds
                                  items:
                                    type: string
                                policyDocument:
                                  type: object
                                  description: An endpoint policy, which controls
                                    access to the service from the VPC. The default
                                    endpoint policy allows full access to the service.
                                    Endpoint policies are supported only for gateway
                                    and interface endpoints. For CloudFormation templates
                                    in YAML, you can provide the policy in JSON or
                                    YAML format. CFNlong converts YAML policies to
                                    JSON format before calling the API to create or
                                    modify the VPC endpoint.
                                  additionalProperties: {}
                                privateDnsEnabled:
                                  type: boolean
                                  description: 'Indicate whether to associate a private
                                    hosted zone with the specified VPC. The private
                                    hosted zone contains a record set for the default
                                    public DNS name for the service for the Region
                                    (for example, ``kinesis.us-east-1.amazonaws.com``),
                                    which resolves to the private IP addresses of
                                    the endpoint network interfaces in the VPC. This
                                    enables you to make requests to the default public
                                    DNS name for the service instead of the public
                                    DNS names that are automatically generated by
                                    the VPC endpoint service. To use a private hosted
                                    zone, you must set the following VPC attributes
                                    to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                                    This property is supported only for interface
                                    endpoints. Default: ``false``'
                                routeTableIds:
                                  type: array
                                  description: The IDs of the route tables. Routing
                                    is supported only for gateway endpoints.
                                  items:
                                    type: string
                                securityGroupIds:
                                  type: array
                                  description: The IDs of the security groups to associate
                                    with the endpoint network interfaces. If this
                                    parameter is not specified, we use the default
                                    security group for the VPC. Security groups are
                                    supported only for interface endpoints.
                                  items:
                                    type: string
                                serviceName:
                                  type: string
                                  description: The name of the endpoint service.
                                subnetIds:
                                  type: array
                                  description: The IDs of the subnets in which to
                                    create endpoint network interfaces. You must specify
                                    this property for an interface endpoint or a Gateway
                                    Load Balancer endpoint. You can't specify this
                                    property for a gateway endpoint. For a Gateway
                                    Load Balancer endpoint, you can specify only one
                                    subnet.
                                  items:
                                    type: string
                                vpcEndpointType:
                                  description: 'The type of endpoint. Default: Gateway'
                                  type: string
                                  enum:
                                  - Gateway
                                  - GatewayLoadBalancer
                                  - Interface
                                  x-ms-enum:
                                    name: VpcEndpointType
                                    modelAsString: true
                                    values:
                                    - name: Gateway
                                      value: Gateway
                                      description: VpcEndpointType enum Gateway
                                    - name: GatewayLoadBalancer
                                      value: GatewayLoadBalancer
                                      description: VpcEndpointType enum GatewayLoadBalancer
                                    - name: Interface
                                      value: Interface
                                      description: VpcEndpointType enum Interface
                                vpcId:
                                  type: string
                                  description: The ID of the VPC.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2VPCEndpoints/{name}:
    get:
      operationId: Ec2VpcEndpoints_Get
      tags:
      - Ec2VPCEndpoints
      description: Get a Ec2VPCEndpoint
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2VPCEndpoint
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          creationTimestamp:
                            type: string
                            description: Property creationTimestamp
                          dnsEntries:
                            type: array
                            description: Property dnsEntries
                            items:
                              type: string
                          id:
                            type: string
                            description: Property id
                          networkInterfaceIds:
                            type: array
                            description: Property networkInterfaceIds
                            items:
                              type: string
                          policyDocument:
                            type: object
                            description: An endpoint policy, which controls access
                              to the service from the VPC. The default endpoint policy
                              allows full access to the service. Endpoint policies
                              are supported only for gateway and interface endpoints.
                              For CloudFormation templates in YAML, you can provide
                              the policy in JSON or YAML format. CFNlong converts
                              YAML policies to JSON format before calling the API
                              to create or modify the VPC endpoint.
                            additionalProperties: {}
                          privateDnsEnabled:
                            type: boolean
                            description: 'Indicate whether to associate a private
                              hosted zone with the specified VPC. The private hosted
                              zone contains a record set for the default public DNS
                              name for the service for the Region (for example, ``kinesis.us-east-1.amazonaws.com``),
                              which resolves to the private IP addresses of the endpoint
                              network interfaces in the VPC. This enables you to make
                              requests to the default public DNS name for the service
                              instead of the public DNS names that are automatically
                              generated by the VPC endpoint service. To use a private
                              hosted zone, you must set the following VPC attributes
                              to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                              This property is supported only for interface endpoints.
                              Default: ``false``'
                          routeTableIds:
                            type: array
                            description: The IDs of the route tables. Routing is supported
                              only for gateway endpoints.
                            items:
                              type: string
                          securityGroupIds:
                            type: array
                            description: The IDs of the security groups to associate
                              with the endpoint network interfaces. If this parameter
                              is not specified, we use the default security group
                              for the VPC. Security groups are supported only for
                              interface endpoints.
                            items:
                              type: string
                          serviceName:
                            type: string
                            description: The name of the endpoint service.
                          subnetIds:
                            type: array
                            description: The IDs of the subnets in which to create
                              endpoint network interfaces. You must specify this property
                              for an interface endpoint or a Gateway Load Balancer
                              endpoint. You can't specify this property for a gateway
                              endpoint. For a Gateway Load Balancer endpoint, you
                              can specify only one subnet.
                            items:
                              type: string
                          vpcEndpointType:
                            description: 'The type of endpoint. Default: Gateway'
                            type: string
                            enum:
                            - Gateway
                            - GatewayLoadBalancer
                            - Interface
                            x-ms-enum:
                              name: VpcEndpointType
                              modelAsString: true
                              values:
                              - name: Gateway
                                value: Gateway
                                description: VpcEndpointType enum Gateway
                              - name: GatewayLoadBalancer
                                value: GatewayLoadBalancer
                                description: VpcEndpointType enum GatewayLoadBalancer
                              - name: Interface
                                value: Interface
                                description: VpcEndpointType enum Interface
                          vpcId:
                            type: string
                            description: The ID of the VPC.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Ec2VpcEndpoints_CreateOrReplace
      tags:
      - Ec2VPCEndpoints
      description: Create a Ec2VPCEndpoint. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Ec2VPCEndpoint
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        creationTimestamp:
                          type: string
                          description: Property creationTimestamp
                        dnsEntries:
                          type: array
                          description: Property dnsEntries
                          items:
                            type: string
                        id:
                          type: string
                          description: Property id
                        networkInterfaceIds:
                          type: array
                          description: Property networkInterfaceIds
                          items:
                            type: string
                        policyDocument:
                          type: object
                          description: An endpoint policy, which controls access to
                            the service from the VPC. The default endpoint policy
                            allows full access to the service. Endpoint policies are
                            supported only for gateway and interface endpoints. For
                            CloudFormation templates in YAML, you can provide the
                            policy in JSON or YAML format. CFNlong converts YAML policies
                            to JSON format before calling the API to create or modify
                            the VPC endpoint.
                          additionalProperties: {}
                        privateDnsEnabled:
                          type: boolean
                          description: 'Indicate whether to associate a private hosted
                            zone with the specified VPC. The private hosted zone contains
                            a record set for the default public DNS name for the service
                            for the Region (for example, ``kinesis.us-east-1.amazonaws.com``),
                            which resolves to the private IP addresses of the endpoint
                            network interfaces in the VPC. This enables you to make
                            requests to the default public DNS name for the service
                            instead of the public DNS names that are automatically
                            generated by the VPC endpoint service. To use a private
                            hosted zone, you must set the following VPC attributes
                            to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                            This property is supported only for interface endpoints.
                            Default: ``false``'
                        routeTableIds:
                          type: array
                          description: The IDs of the route tables. Routing is supported
                            only for gateway endpoints.
                          items:
                            type: string
                        securityGroupIds:
                          type: array
                          description: The IDs of the security groups to associate
                            with the endpoint network interfaces. If this parameter
                            is not specified, we use the default security group for
                            the VPC. Security groups are supported only for interface
                            endpoints.
                          items:
                            type: string
                        serviceName:
                          type: string
                          description: The name of the endpoint service.
                        subnetIds:
                          type: array
                          description: The IDs of the subnets in which to create endpoint
                            network interfaces. You must specify this property for
                            an interface endpoint or a Gateway Load Balancer endpoint.
                            You can't specify this property for a gateway endpoint.
                            For a Gateway Load Balancer endpoint, you can specify
                            only one subnet.
                          items:
                            type: string
                        vpcEndpointType:
                          description: 'The type of endpoint. Default: Gateway'
                          type: string
                          enum:
                          - Gateway
                          - GatewayLoadBalancer
                          - Interface
                          x-ms-enum:
                            name: VpcEndpointType
                            modelAsString: true
                            values:
                            - name: Gateway
                              value: Gateway
                              description: VpcEndpointType enum Gateway
                            - name: GatewayLoadBalancer
                              value: GatewayLoadBalancer
                              description: VpcEndpointType enum GatewayLoadBalancer
                            - name: Interface
                              value: Interface
                              description: VpcEndpointType enum Interface
                        vpcId:
                          type: string
                          description: The ID of the VPC.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Ec2VPCEndpoint' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          creationTimestamp:
                            type: string
                            description: Property creationTimestamp
                          dnsEntries:
                            type: array
                            description: Property dnsEntries
                            items:
                              type: string
                          id:
                            type: string
                            description: Property id
                          networkInterfaceIds:
                            type: array
                            description: Property networkInterfaceIds
                            items:
                              type: string
                          policyDocument:
                            type: object
                            description: An endpoint policy, which controls access
                              to the service from the VPC. The default endpoint policy
                              allows full access to the service. Endpoint policies
                              are supported only for gateway and interface endpoints.
                              For CloudFormation templates in YAML, you can provide
                              the policy in JSON or YAML format. CFNlong converts
                              YAML policies to JSON format before calling the API
                              to create or modify the VPC endpoint.
                            additionalProperties: {}
                          privateDnsEnabled:
                            type: boolean
                            description: 'Indicate whether to associate a private
                              hosted zone with the specified VPC. The private hosted
                              zone contains a record set for the default public DNS
                              name for the service for the Region (for example, ``kinesis.us-east-1.amazonaws.com``),
                              which resolves to the private IP addresses of the endpoint
                              network interfaces in the VPC. This enables you to make
                              requests to the default public DNS name for the service
                              instead of the public DNS names that are automatically
                              generated by the VPC endpoint service. To use a private
                              hosted zone, you must set the following VPC attributes
                              to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                              This property is supported only for interface endpoints.
                              Default: ``false``'
                          routeTableIds:
                            type: array
                            description: The IDs of the route tables. Routing is supported
                              only for gateway endpoints.
                            items:
                              type: string
                          securityGroupIds:
                            type: array
                            description: The IDs of the security groups to associate
                              with the endpoint network interfaces. If this parameter
                              is not specified, we use the default security group
                              for the VPC. Security groups are supported only for
                              interface endpoints.
                            items:
                              type: string
                          serviceName:
                            type: string
                            description: The name of the endpoint service.
                          subnetIds:
                            type: array
                            description: The IDs of the subnets in which to create
                              endpoint network interfaces. You must specify this property
                              for an interface endpoint or a Gateway Load Balancer
                              endpoint. You can't specify this property for a gateway
                              endpoint. For a Gateway Load Balancer endpoint, you
                              can specify only one subnet.
                            items:
                              type: string
                          vpcEndpointType:
                            description: 'The type of endpoint. Default: Gateway'
                            type: string
                            enum:
                            - Gateway
                            - GatewayLoadBalancer
                            - Interface
                            x-ms-enum:
                              name: VpcEndpointType
                              modelAsString: true
                              values:
                              - name: Gateway
                                value: Gateway
                                description: VpcEndpointType enum Gateway
                              - name: GatewayLoadBalancer
                                value: GatewayLoadBalancer
                                description: VpcEndpointType enum GatewayLoadBalancer
                              - name: Interface
                                value: Interface
                                description: VpcEndpointType enum Interface
                          vpcId:
                            type: string
                            description: The ID of the VPC.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'Ec2VPCEndpoint' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          creationTimestamp:
                            type: string
                            description: Property creationTimestamp
                          dnsEntries:
                            type: array
                            description: Property dnsEntries
                            items:
                              type: string
                          id:
                            type: string
                            description: Property id
                          networkInterfaceIds:
                            type: array
                            description: Property networkInterfaceIds
                            items:
                              type: string
                          policyDocument:
                            type: object
                            description: An endpoint policy, which controls access
                              to the service from the VPC. The default endpoint policy
                              allows full access to the service. Endpoint policies
                              are supported only for gateway and interface endpoints.
                              For CloudFormation templates in YAML, you can provide
                              the policy in JSON or YAML format. CFNlong converts
                              YAML policies to JSON format before calling the API
                              to create or modify the VPC endpoint.
                            additionalProperties: {}
                          privateDnsEnabled:
                            type: boolean
                            description: 'Indicate whether to associate a private
                              hosted zone with the specified VPC. The private hosted
                              zone contains a record set for the default public DNS
                              name for the service for the Region (for example, ``kinesis.us-east-1.amazonaws.com``),
                              which resolves to the private IP addresses of the endpoint
                              network interfaces in the VPC. This enables you to make
                              requests to the default public DNS name for the service
                              instead of the public DNS names that are automatically
                              generated by the VPC endpoint service. To use a private
                              hosted zone, you must set the following VPC attributes
                              to ``true``: ``enableDnsHostnames`` and ``enableDnsSupport``.
                              This property is supported only for interface endpoints.
                              Default: ``false``'
                          routeTableIds:
                            type: array
                            description: The IDs of the route tables. Routing is supported
                              only for gateway endpoints.
                            items:
                              type: string
                          securityGroupIds:
                            type: array
                            description: The IDs of the security groups to associate
                              with the endpoint network interfaces. If this parameter
                              is not specified, we use the default security group
                              for the VPC. Security groups are supported only for
                              interface endpoints.
                            items:
                              type: string
                          serviceName:
                            type: string
                            description: The name of the endpoint service.
                          subnetIds:
                            type: array
                            description: The IDs of the subnets in which to create
                              endpoint network interfaces. You must specify this property
                              for an interface endpoint or a Gateway Load Balancer
                              endpoint. You can't specify this property for a gateway
                              endpoint. For a Gateway Load Balancer endpoint, you
                              can specify only one subnet.
                            items:
                              type: string
                          vpcEndpointType:
                            description: 'The type of endpoint. Default: Gateway'
                            type: string
                            enum:
                            - Gateway
                            - GatewayLoadBalancer
                            - Interface
                            x-ms-enum:
                              name: VpcEndpointType
                              modelAsString: true
                              values:
                              - name: Gateway
                                value: Gateway
                                description: VpcEndpointType enum Gateway
                              - name: GatewayLoadBalancer
                                value: GatewayLoadBalancer
                                description: VpcEndpointType enum GatewayLoadBalancer
                              - name: Interface
                                value: Interface
                                description: VpcEndpointType enum Interface
                          vpcId:
                            type: string
                            description: The ID of the VPC.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
[...]
