openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EcrImageDetails
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ecrImageDetails:
    get:
      operationId: EcrImageDetails_ListBySubscription
      tags:
      - EcrImageDetails
      description: List EcrImageDetail resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcrImageDetail list operation.
                properties:
                  value:
                    type: array
                    description: The EcrImageDetail items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                artifactMediaType:
                                  type: string
                                  description: <p>The artifact media type of the image.</p>
                                imageDigest:
                                  type: string
                                  description: <p>The <code>sha256</code> digest of
                                    the image manifest.</p>
                                imageManifestMediaType:
                                  type: string
                                  description: <p>The media type of the image manifest.</p>
                                imagePushedAt:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time, expressed in
                                    standard JavaScript date format, at which the
                                    current image was pushed to the repository. </p>
                                imageScanFindingsSummary:
                                  description: <p>A summary of the last completed
                                    image scan.</p>
                                  type: object
                                  properties:
                                    findingSeverityCounts:
                                      type: object
                                      description: <p>The image vulnerability counts,
                                        sorted by severity.</p>
                                      additionalProperties:
                                        format: int32
                                        type: integer
                                    imageScanCompletedAt:
                                      type: string
                                      format: date-time
                                      description: <p>The time of the last completed
                                        image scan.</p>
                                    vulnerabilitySourceUpdatedAt:
                                      type: string
                                      format: date-time
                                      description: <p>The time when the vulnerability
                                        data was last scanned.</p>
                                imageScanStatus:
                                  description: <p>The current state of the scan.</p>
                                  type: object
                                  properties:
                                    description:
                                      type: string
                                      description: <p>The description of the image
                                        scan status.</p>
                                    status:
                                      description: <p>The current state of an image
                                        scan.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - ACTIVE
                                          - COMPLETE
                                          - FAILED
                                          - FINDINGS_UNAVAILABLE
                                          - IN_PROGRESS
                                          - PENDING
                                          - SCAN_ELIGIBILITY_EXPIRED
                                          - UNSUPPORTED_IMAGE
                                          x-ms-enum:
                                            name: ScanStatus
                                            modelAsString: true
                                            values:
                                            - name: ACTIVE
                                              value: ACTIVE
                                              description: ScanStatus enum ACTIVE
                                            - name: COMPLETE
                                              value: COMPLETE
                                              description: ScanStatus enum COMPLETE
                                            - name: FAILED
                                              value: FAILED
                                              description: ScanStatus enum FAILED
                                            - name: FINDINGS_UNAVAILABLE
                                              value: FINDINGS_UNAVAILABLE
                                              description: ScanStatus enum FINDINGS_UNAVAILABLE
                                            - name: IN_PROGRESS
                                              value: IN_PROGRESS
                                              description: ScanStatus enum IN_PROGRESS
                                            - name: PENDING
                                              value: PENDING
                                              description: ScanStatus enum PENDING
                                            - name: SCAN_ELIGIBILITY_EXPIRED
                                              value: SCAN_ELIGIBILITY_EXPIRED
                                              description: ScanStatus enum SCAN_ELIGIBILITY_EXPIRED
                                            - name: UNSUPPORTED_IMAGE
                                              value: UNSUPPORTED_IMAGE
                                              description: ScanStatus enum UNSUPPORTED_IMAGE
                                imageSizeInBytes:
                                  type: integer
                                  format: int64
                                  description: <p>The size, in bytes, of the image
                                    in the repository.</p> <p>If the image is a manifest
                                    list, this will be the max size of all manifests
                                    in the list.</p> <note> <p>Beginning with Docker
                                    version 1.9, the Docker client compresses image
                                    layers before pushing them to a V2 Docker registry.
                                    The output of the <code>docker images</code> command
                                    shows the uncompressed image size, so it may return
                                    a larger image size than the image sizes returned
                                    by <a>DescribeImages</a>.</p> </note>
                                imageTags:
                                  type: array
                                  description: <p>The list of tags associated with
                                    this image.</p>
                                  items:
                                    type: string
                                lastRecordedPullTime:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time, expressed in
                                    standard JavaScript date format, when Amazon ECR
                                    recorded the last image pull.</p> <note> <p>Amazon
                                    ECR refreshes the last image pull timestamp at
                                    least once every 24 hours. For example, if you
                                    pull an image once a day then the <code>lastRecordedPullTime</code>
                                    timestamp will indicate the exact time that the
                                    image was last pulled. However, if you pull an
                                    image once an hour, because Amazon ECR refreshes
                                    the <code>lastRecordedPullTime</code> timestamp
                                    at least once every 24 hours, the result may not
                                    be the exact time that the image was last pulled.</p>
                                    </note>
                                registryId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID associated with the registry to which this
                                    image belongs.</p>
                                repositoryName:
                                  type: string
                                  description: <p>The name of the repository to which
                                    this image belongs.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecrImageDetails:
    get:
      operationId: EcrImageDetails_ListByResourceGroup
      tags:
      - EcrImageDetails
      description: List EcrImageDetail resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcrImageDetail list operation.
                properties:
                  value:
                    type: array
                    description: The EcrImageDetail items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                artifactMediaType:
                                  type: string
                                  description: <p>The artifact media type of the image.</p>
                                imageDigest:
                                  type: string
                                  description: <p>The <code>sha256</code> digest of
                                    the image manifest.</p>
                                imageManifestMediaType:
                                  type: string
                                  description: <p>The media type of the image manifest.</p>
                                imagePushedAt:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time, expressed in
                                    standard JavaScript date format, at which the
                                    current image was pushed to the repository. </p>
                                imageScanFindingsSummary:
                                  description: <p>A summary of the last completed
                                    image scan.</p>
                                  type: object
                                  properties:
                                    findingSeverityCounts:
                                      type: object
                                      description: <p>The image vulnerability counts,
                                        sorted by severity.</p>
                                      additionalProperties:
                                        format: int32
                                        type: integer
                                    imageScanCompletedAt:
                                      type: string
                                      format: date-time
                                      description: <p>The time of the last completed
                                        image scan.</p>
                                    vulnerabilitySourceUpdatedAt:
                                      type: string
                                      format: date-time
                                      description: <p>The time when the vulnerability
                                        data was last scanned.</p>
                                imageScanStatus:
                                  description: <p>The current state of the scan.</p>
                                  type: object
                                  properties:
                                    description:
                                      type: string
                                      description: <p>The description of the image
                                        scan status.</p>
                                    status:
                                      description: <p>The current state of an image
                                        scan.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - ACTIVE
                                          - COMPLETE
                                          - FAILED
                                          - FINDINGS_UNAVAILABLE
                                          - IN_PROGRESS
                                          - PENDING
                                          - SCAN_ELIGIBILITY_EXPIRED
                                          - UNSUPPORTED_IMAGE
                                          x-ms-enum:
                                            name: ScanStatus
                                            modelAsString: true
                                            values:
                                            - name: ACTIVE
                                              value: ACTIVE
                                              description: ScanStatus enum ACTIVE
                                            - name: COMPLETE
                                              value: COMPLETE
                                              description: ScanStatus enum COMPLETE
                                            - name: FAILED
                                              value: FAILED
                                              description: ScanStatus enum FAILED
                                            - name: FINDINGS_UNAVAILABLE
                                              value: FINDINGS_UNAVAILABLE
                                              description: ScanStatus enum FINDINGS_UNAVAILABLE
                                            - name: IN_PROGRESS
                                              value: IN_PROGRESS
                                              description: ScanStatus enum IN_PROGRESS
                                            - name: PENDING
                                              value: PENDING
                                              description: ScanStatus enum PENDING
                                            - name: SCAN_ELIGIBILITY_EXPIRED
                                              value: SCAN_ELIGIBILITY_EXPIRED
                                              description: ScanStatus enum SCAN_ELIGIBILITY_EXPIRED
                                            - name: UNSUPPORTED_IMAGE
                                              value: UNSUPPORTED_IMAGE
                                              description: ScanStatus enum UNSUPPORTED_IMAGE
                                imageSizeInBytes:
                                  type: integer
                                  format: int64
                                  description: <p>The size, in bytes, of the image
                                    in the repository.</p> <p>If the image is a manifest
                                    list, this will be the max size of all manifests
                                    in the list.</p> <note> <p>Beginning with Docker
                                    version 1.9, the Docker client compresses image
                                    layers before pushing them to a V2 Docker registry.
                                    The output of the <code>docker images</code> command
                                    shows the uncompressed image size, so it may return
                                    a larger image size than the image sizes returned
                                    by <a>DescribeImages</a>.</p> </note>
                                imageTags:
                                  type: array
                                  description: <p>The list of tags associated with
                                    this image.</p>
                                  items:
                                    type: string
                                lastRecordedPullTime:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time, expressed in
                                    standard JavaScript date format, when Amazon ECR
                                    recorded the last image pull.</p> <note> <p>Amazon
                                    ECR refreshes the last image pull timestamp at
                                    least once every 24 hours. For example, if you
                                    pull an image once a day then the <code>lastRecordedPullTime</code>
                                    timestamp will indicate the exact time that the
                                    image was last pulled. However, if you pull an
                                    image once an hour, because Amazon ECR refreshes
                                    the <code>lastRecordedPullTime</code> timestamp
                                    at least once every 24 hours, the result may not
                                    be the exact time that the image was last pulled.</p>
                                    </note>
                                registryId:
                                  type: string
                                  description: <p>The Amazon Web Services account
                                    ID associated with the registry to which this
                                    image belongs.</p>
                                repositoryName:
                                  type: string
                                  description: <p>The name of the repository to which
                                    this image belongs.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecrImageDetails/{name}:
    get:
      operationId: EcrImageDetails_Get
      tags:
      - EcrImageDetails
      description: Get a EcrImageDetail
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EcrImageDetail
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          artifactMediaType:
                            type: string
                            description: <p>The artifact media type of the image.</p>
                          imageDigest:
                            type: string
                            description: <p>The <code>sha256</code> digest of the
                              image manifest.</p>
                          imageManifestMediaType:
                            type: string
                            description: <p>The media type of the image manifest.</p>
                          imagePushedAt:
                            type: string
                            format: date-time
                            description: <p>The date and time, expressed in standard
                              JavaScript date format, at which the current image was
                              pushed to the repository. </p>
                          imageScanFindingsSummary:
                            description: <p>A summary of the last completed image
                              scan.</p>
                            type: object
                            properties:
                              findingSeverityCounts:
                                type: object
                                description: <p>The image vulnerability counts, sorted
                                  by severity.</p>
                                additionalProperties:
                                  format: int32
                                  type: integer
                              imageScanCompletedAt:
                                type: string
                                format: date-time
                                description: <p>The time of the last completed image
                                  scan.</p>
                              vulnerabilitySourceUpdatedAt:
                                type: string
                                format: date-time
                                description: <p>The time when the vulnerability data
                                  was last scanned.</p>
                          imageScanStatus:
                            description: <p>The current state of the scan.</p>
                            type: object
                            properties:
                              description:
                                type: string
                                description: <p>The description of the image scan
                                  status.</p>
                              status:
                                description: <p>The current state of an image scan.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - ACTIVE
                                    - COMPLETE
                                    - FAILED
                                    - FINDINGS_UNAVAILABLE
                                    - IN_PROGRESS
                                    - PENDING
                                    - SCAN_ELIGIBILITY_EXPIRED
                                    - UNSUPPORTED_IMAGE
                                    x-ms-enum:
                                      name: ScanStatus
                                      modelAsString: true
                                      values:
                                      - name: ACTIVE
                                        value: ACTIVE
                                        description: ScanStatus enum ACTIVE
                                      - name: COMPLETE
                                        value: COMPLETE
                                        description: ScanStatus enum COMPLETE
                                      - name: FAILED
                                        value: FAILED
                                        description: ScanStatus enum FAILED
                                      - name: FINDINGS_UNAVAILABLE
                                        value: FINDINGS_UNAVAILABLE
                                        description: ScanStatus enum FINDINGS_UNAVAILABLE
                                      - name: IN_PROGRESS
                                        value: IN_PROGRESS
                                        description: ScanStatus enum IN_PROGRESS
                                      - name: PENDING
                                        value: PENDING
                                        description: ScanStatus enum PENDING
                                      - name: SCAN_ELIGIBILITY_EXPIRED
                                        value: SCAN_ELIGIBILITY_EXPIRED
                                        description: ScanStatus enum SCAN_ELIGIBILITY_EXPIRED
                                      - name: UNSUPPORTED_IMAGE
                                        value: UNSUPPORTED_IMAGE
                                        description: ScanStatus enum UNSUPPORTED_IMAGE
                          imageSizeInBytes:
                            type: integer
                            format: int64
                            description: <p>The size, in bytes, of the image in the
                              repository.</p> <p>If the image is a manifest list,
                              this will be the max size of all manifests in the list.</p>
                              <note> <p>Beginning with Docker version 1.9, the Docker
                              client compresses image layers before pushing them to
                              a V2 Docker registry. The output of the <code>docker
                              images</code> command shows the uncompressed image size,
                              so it may return a larger image size than the image
                              sizes returned by <a>DescribeImages</a>.</p> </note>
                          imageTags:
                            type: array
                            description: <p>The list of tags associated with this
                              image.</p>
                            items:
                              type: string
                          lastRecordedPullTime:
                            type: string
                            format: date-time
                            description: <p>The date and time, expressed in standard
                              JavaScript date format, when Amazon ECR recorded the
                              last image pull.</p> <note> <p>Amazon ECR refreshes
                              the last image pull timestamp at least once every 24
                              hours. For example, if you pull an image once a day
                              then the <code>lastRecordedPullTime</code> timestamp
                              will indicate the exact time that the image was last
                              pulled. However, if you pull an image once an hour,
                              because Amazon ECR refreshes the <code>lastRecordedPullTime</code>
                              timestamp at least once every 24 hours, the result may
                              not be the exact time that the image was last pulled.</p>
                              </note>
                          registryId:
                            type: string
                            description: <p>The Amazon Web Services account ID associated
                              with the registry to which this image belongs.</p>
                          repositoryName:
                            type: string
                            description: <p>The name of the repository to which this
                              image belongs.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: EcrImageDetails_CreateOrReplace
      tags:
      - EcrImageDetails
      description: Create a EcrImageDetail. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EcrImageDetail
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        artifactMediaType:
                          type: string
                          description: <p>The artifact media type of the image.</p>
                        imageDigest:
                          type: string
                          description: <p>The <code>sha256</code> digest of the image
                            manifest.</p>
                        imageManifestMediaType:
                          type: string
                          description: <p>The media type of the image manifest.</p>
                        imagePushedAt:
                          type: string
                          format: date-time
                          description: <p>The date and time, expressed in standard
                            JavaScript date format, at which the current image was
                            pushed to the repository. </p>
                        imageScanFindingsSummary:
                          description: <p>A summary of the last completed image scan.</p>
                          type: object
                          properties:
                            findingSeverityCounts:
                              type: object
                              description: <p>The image vulnerability counts, sorted
                                by severity.</p>
                              additionalProperties:
                                format: int32
                                type: integer
                            imageScanCompletedAt:
                              type: string
                              format: date-time
                              description: <p>The time of the last completed image
                                scan.</p>
                            vulnerabilitySourceUpdatedAt:
                              type: string
                              format: date-time
                              description: <p>The time when the vulnerability data
                                was last scanned.</p>
                        imageScanStatus:
                          description: <p>The current state of the scan.</p>
                          type: object
                          properties:
                            description:
                              type: string
                              description: <p>The description of the image scan status.</p>
                            status:
                              description: <p>The current state of an image scan.</p>
                              type: object
                              properties:
                                value:
                                  description: Property value
                                  type: string
                                  enum:
                                  - ACTIVE
                                  - COMPLETE
                                  - FAILED
                                  - FINDINGS_UNAVAILABLE
                                  - IN_PROGRESS
                                  - PENDING
                                  - SCAN_ELIGIBILITY_EXPIRED
                                  - UNSUPPORTED_IMAGE
                                  x-ms-enum:
                                    name: ScanStatus
                                    modelAsString: true
                                    values:
                                    - name: ACTIVE
                                      value: ACTIVE
                                      description: ScanStatus enum ACTIVE
                                    - name: COMPLETE
                                      value: COMPLETE
                                      description: ScanStatus enum COMPLETE
                                    - name: FAILED
                                      value: FAILED
                                      description: ScanStatus enum FAILED
                                    - name: FINDINGS_UNAVAILABLE
                                      value: FINDINGS_UNAVAILABLE
                                      description: ScanStatus enum FINDINGS_UNAVAILABLE
                                    - name: IN_PROGRESS
                                      value: IN_PROGRESS
                                      description: ScanStatus enum IN_PROGRESS
                                    - name: PENDING
                                      value: PENDING
                                      description: ScanStatus enum PENDING
                                    - name: SCAN_ELIGIBILITY_EXPIRED
                                      value: SCAN_ELIGIBILITY_EXPIRED
                                      description: ScanStatus enum SCAN_ELIGIBILITY_EXPIRED
                                    - name: UNSUPPORTED_IMAGE
                                      value: UNSUPPORTED_IMAGE
                                      description: ScanStatus enum UNSUPPORTED_IMAGE
                        imageSizeInBytes:
                          type: integer
                          format: int64
                          description: <p>The size, in bytes, of the image in the
                            repository.</p> <p>If the image is a manifest list, this
                            will be the max size of all manifests in the list.</p>
                            <note> <p>Beginning with Docker version 1.9, the Docker
                            client compresses image layers before pushing them to
                            a V2 Docker registry. The output of the <code>docker images</code>
                            command shows the uncompressed image size, so it may return
                            a larger image size than the image sizes returned by <a>DescribeImages</a>.</p>
                            </note>
                        imageTags:
                          type: array
                          description: <p>The list of tags associated with this image.</p>
                          items:
                            type: string
                        lastRecordedPullTime:
                          type: string
                          format: date-time
                          description: <p>The date and time, expressed in standard
                            JavaScript date format, when Amazon ECR recorded the last
                            image pull.</p> <note> <p>Amazon ECR refreshes the last
                            image pull timestamp at least once every 24 hours. For
                            example, if you pull an image once a day then the <code>lastRecordedPullTime</code>
                            timestamp will indicate the exact time that the image
                            was last pulled. However, if you pull an image once an
                            hour, because Amazon ECR refreshes the <code>lastRecordedPullTime</code>
                            timestamp at least once every 24 hours, the result may
                            not be the exact time that the image was last pulled.</p>
                            </note>
                        registryId:
                          type: string
                          description: <p>The Amazon Web Services account ID associated
                            with the registry to which this image belongs.</p>
                        repositoryName:
                          type: string
                          description: <p>The name of the repository to which this
                            image belongs.</p>
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'EcrImageDetail' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          artifactMediaType:
                            type: string
                            description: <p>The artifact media type of the image.</p>
                          imageDigest:
                            type: string
                            description: <p>The <code>sha256</code> digest of the
                              image manifest.</p>
                          imageManifestMediaType:
                            type: string
                            description: <p>The media type of the image manifest.</p>
                          imagePushedAt:
                            type: string
                            format: date-time
                            description: <p>The date and time, expressed in standard
                              JavaScript date format, at which the current image was
                              pushed to the repository. </p>
                          imageScanFindingsSummary:
                            description: <p>A summary of the last completed image
                              scan.</p>
                            type: object
                            properties:
                              findingSeverityCounts:
                                type: object
                                description: <p>The image vulnerability counts, sorted
                                  by severity.</p>
                                additionalProperties:
                                  format: int32
                                  type: integer
                              imageScanCompletedAt:
                                type: string
                                format: date-time
                                description: <p>The time of the last completed image
                                  scan.</p>
                              vulnerabilitySourceUpdatedAt:
                                type: string
                                format: date-time
                                description: <p>The time when the vulnerability data
                                  was last scanned.</p>
                          imageScanStatus:
                            description: <p>The current state of the scan.</p>
                            type: object
                            properties:
                              description:
                                type: string
                                description: <p>The description of the image scan
                                  status.</p>
                              status:
                                description: <p>The current state of an image scan.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - ACTIVE
                                    - COMPLETE
                                    - FAILED
                                    - FINDINGS_UNAVAILABLE
                                    - IN_PROGRESS
                                    - PENDING
                                    - SCAN_ELIGIBILITY_EXPIRED
                                    - UNSUPPORTED_IMAGE
                                    x-ms-enum:
                                      name: ScanStatus
                                      modelAsString: true
                                      values:
                                      - name: ACTIVE
                                        value: ACTIVE
                                        description: ScanStatus enum ACTIVE
                                      - name: COMPLETE
                                        value: COMPLETE
                                        description: ScanStatus enum COMPLETE
                                      - name: FAILED
                                        value: FAILED
                                        description: ScanStatus enum FAILED
                                      - name: FINDINGS_UNAVAILABLE
                                        value: FINDINGS_UNAVAILABLE
                                        description: ScanStatus enum FINDINGS_UNAVAILABLE
                                      - name: IN_PROGRESS
                                        value: IN_PROGRESS
                                        description: ScanStatus enum IN_PROGRESS
                                      - name: PENDING
                                        value: PENDING
                                        description: ScanStatus enum PENDING
                                      - name: SCAN_ELIGIBILITY_EXPIRED
                                        value: SCAN_ELIGIBILITY_EXPIRED
                                        description: ScanStatus enum SCAN_ELIGIBILITY_EXPIRED
                                      - name: UNSUPPORTED_IMAGE
                                        value: UNSUPPORTED_IMAGE
                                        description: ScanStatus enum UNSUPPORTED_IMAGE
                          imageSizeInBytes:
                            type: integer
                            format: int64
                            description: <p>The size, in bytes, of the image in the
                              repository.</p> <p>If the image is a manifest list,
                              this will be the max size of all manifests in the list.</p>
                              <note> <p>Beginning with Docker version 1.9, the Docker
                              client compresses image layers before pushing them to
                              a V2 Docker registry. The output of the <code>docker
                              images</code> command shows the uncompressed image size,
                              so it may return a larger image size than the image
                              sizes returned by <a>DescribeImages</a>.</p> </note>
                          imageTags:
                            type: array
                            description: <p>The list of tags associated with this
                              image.</p>
                            items:
                              type: string
                          lastRecordedPullTime:
                            type: string
                            format: date-time
                            description: <p>The date and time, expressed in standard
                              JavaScript date format, when Amazon ECR recorded the
                              last image pull.</p> <note> <p>Amazon ECR refreshes
                              the last image pull timestamp at least once every 24
                              hours. For example, if you pull an image once a day
                              then the <code>lastRecordedPullTime</code> timestamp
                              will indicate the exact time that the image was last
                              pulled. However, if you pull an image once an hour,
                              because Amazon ECR refreshes the <code>lastRecordedPullTime</code>
                              timestamp at least once every 24 hours, the result may
                              not be the exact time that the image was last pulled.</p>
                              </note>
                          registryId:
                            type: string
                            description: <p>The Amazon Web Services account ID associated
                              with the registry to which this image belongs.</p>
                          repositoryName:
                            type: string
                            description: <p>The name of the repository to which this
                              image belongs.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'EcrImageDetail' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
[...]
