openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EcrRepositories
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ecrRepositories:
    get:
      operationId: EcrRepositories_ListBySubscription
      tags:
      - EcrRepositories
      description: List EcrRepository resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcrRepository list operation.
                properties:
                  value:
                    type: array
                    description: The EcrRepository items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                emptyOnDelete:
                                  type: boolean
                                  description: If true, deleting the repository force
                                    deletes the contents of the repository. If false,
                                    the repository must be empty before attempting
                                    to delete it. If true, deleting the repository
                                    force deletes the contents of the repository.
                                    Without a force delete, you can only delete empty
                                    repositories.
                                encryptionConfiguration:
                                  description: The encryption configuration for the
                                    repository. This determines how the contents of
                                    your repository are encrypted at rest. The encryption
                                    configuration for the repository. This determines
                                    how the contents of your repository are encrypted
                                    at rest. By default, when no encryption configuration
                                    is set or the ``AES256`` encryption type is used,
                                    Amazon ECR uses server-side encryption with Amazon
                                    S3-managed encryption keys which encrypts your
                                    data at rest using an AES-256 encryption algorithm.
                                    This does not require any action on your part.
                                    For more control over the encryption of the contents
                                    of your repository, you can use server-side encryption
                                    with KMSlong key stored in KMSlong (KMS) to encrypt
                                    your images. For more information, see [Amazon
                                    ECR encryption at rest](https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html)
                                    in the *Amazon Elastic Container Registry User
                                    Guide*.
                                  type: object
                                  properties:
                                    encryptionType:
                                      description: The encryption type to use. If
                                        you use the ``KMS`` encryption type, the contents
                                        of the repository will be encrypted using
                                        server-side encryption with KMSlong key stored
                                        in KMS. When you use KMS to encrypt your data,
                                        you can either use the default AWS managed
                                        KMS key for Amazon ECR, or specify your own
                                        KMS key, which you already created. For more
                                        information, see [Protecting data using server-side
                                        encryption with an key stored in (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html)
                                        in the *Amazon Simple Storage Service Console
                                        Developer Guide*. If you use the ``AES256``
                                        encryption type, Amazon ECR uses server-side
                                        encryption with Amazon S3-managed encryption
                                        keys which encrypts the images in the repository
                                        using an AES-256 encryption algorithm. For
                                        more information, see [Protecting data using
                                        server-side encryption with Amazon S3-managed
                                        encryption keys (SSE-S3)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html)
                                        in the *Ama The encryption type to use.
                                      type: string
                                      enum:
                                      - AES256
                                      - KMS
                                      x-ms-enum:
                                        name: EncryptionConfigurationEncryptionType
                                        modelAsString: true
                                        values:
                                        - name: AES256
                                          value: AES256
                                          description: EncryptionConfigurationEncryptionType
                                            enum AES256
                                        - name: KMS
                                          value: KMS
                                          description: EncryptionConfigurationEncryptionType
                                            enum KMS
                                    kmsKey:
                                      type: string
                                      description: If you use the ``KMS`` encryption
                                        type, specify the KMS key to use for encryption.
                                        The alias, key ID, or full ARN of the KMS
                                        key can be specified. The key must exist in
                                        the same Region as the repository. If no key
                                        is specified, the default AWS managed KMS
                                        key for Amazon ECR will be used. If you use
                                        the KMS encryption type, specify the CMK to
                                        use for encryption. The alias, key ID, or
                                        full ARN of the CMK can be specified. The
                                        key must exist in the same Region as the repository.
                                        If no key is specified, the default AWS managed
                                        CMK for Amazon ECR will be used.
                                imageScanningConfiguration:
                                  description: The image scanning configuration for
                                    the repository. This determines whether images
                                    are scanned for known vulnerabilities after being
                                    pushed to the repository. The image scanning configuration
                                    for a repository.
                                  type: object
                                  properties:
                                    scanOnPush:
                                      type: boolean
                                      description: The setting that determines whether
                                        images are scanned after being pushed to a
                                        repository. If set to ``true``, images will
                                        be scanned after being pushed. If this parameter
                                        is not specified, it will default to ``false``
                                        and images will not be scanned unless a scan
                                        is manually started. The setting that determines
                                        whether images are scanned after being pushed
                                        to a repository.
                                imageTagMutability:
                                  description: The tag mutability setting for the
                                    repository. If this parameter is omitted, the
                                    default setting of ``MUTABLE`` will be used which
                                    will allow image tags to be overwritten. If ``IMMUTABLE``
                                    is specified, all image tags within the repository
                                    will be immutable which will prevent them from
                                    being overwritten.
                                  type: string
                                  enum:
                                  - IMMUTABLE
                                  - MUTABLE
                                  x-ms-enum:
                                    name: ImageTagMutability
                                    modelAsString: true
                                    values:
                                    - name: IMMUTABLE
                                      value: IMMUTABLE
                                      description: ImageTagMutability enum IMMUTABLE
                                    - name: MUTABLE
                                      value: MUTABLE
                                      description: ImageTagMutability enum MUTABLE
                                lifecyclePolicy:
                                  description: Creates or updates a lifecycle policy.
                                    For information about lifecycle policy syntax,
                                    see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html).
                                    The ``LifecyclePolicy`` property type specifies
                                    a lifecycle policy. For information about lifecycle
                                    policy syntax, see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html)
                                    in the *Amazon ECR User Guide*.
                                  type: object
                                  properties:
                                    lifecyclePolicyText:
                                      type: string
                                      description: The JSON repository policy text
                                        to apply to the repository. The JSON repository
                                        policy text to apply to the repository.
                                    registryId:
                                      type: string
                                      description: The AWS account ID associated with
                                        the registry that contains the repository.
                                        If you do not specify a registry, the default
                                        registry is assumed. The AWS account ID associated
                                        with the registry that contains the repository.
                                        If you do not specify a registry, the default
                                        registry is assumed.
                                repositoryName:
                                  type: string
                                  description: The name to use for the repository.
                                    The repository name may be specified on its own
                                    (such as ``nginx-web-app``) or it can be prepended
                                    with a namespace to group the repository into
                                    a category (such as ``project-a/nginx-web-app``).
                                    If you don't specify a name, CFNlong generates
                                    a unique physical ID and uses that ID for the
                                    repository name. For more information, see [Name
                                    type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).
                                    The repository name must start with a letter and
                                    can only contain lowercase letters, numbers, hyphens,
                                    underscores, and forward slashes.  If you specify
                                    a name, you cannot perform updates that require
                                    replacement of this resource. You can perform
                                    updates that require no or some interruption.
                                    If you must replace the resource, specify a new
                                    name.
                                repositoryPolicyText:
                                  type: object
                                  description: The JSON repository policy text to
                                    apply to the repository. For more information,
                                    see [Amazon ECR repository policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html)
                                    in the *Amazon Elastic Container Registry User
                                    Guide*.
                                  additionalProperties: {}
                                repositoryUri:
                                  type: string
                                  description: Property repositoryUri
                                tags:
                                  type: array
                                  description: An array of key-value pairs to apply
                                    to this resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: One part of a key-value pair
                                          that make up a tag. A ``key`` is a general
                                          label that acts like a category for more
                                          specific tag values.
                                      value:
                                        type: string
                                        description: A ``value`` acts as a descriptor
                                          within a tag category (key).
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecrRepositories:
    get:
      operationId: EcrRepositories_ListByResourceGroup
      tags:
      - EcrRepositories
      description: List EcrRepository resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcrRepository list operation.
                properties:
                  value:
                    type: array
                    description: The EcrRepository items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                emptyOnDelete:
                                  type: boolean
                                  description: If true, deleting the repository force
                                    deletes the contents of the repository. If false,
                                    the repository must be empty before attempting
                                    to delete it. If true, deleting the repository
                                    force deletes the contents of the repository.
                                    Without a force delete, you can only delete empty
                                    repositories.
                                encryptionConfiguration:
                                  description: The encryption configuration for the
                                    repository. This determines how the contents of
                                    your repository are encrypted at rest. The encryption
                                    configuration for the repository. This determines
                                    how the contents of your repository are encrypted
                                    at rest. By default, when no encryption configuration
                                    is set or the ``AES256`` encryption type is used,
                                    Amazon ECR uses server-side encryption with Amazon
                                    S3-managed encryption keys which encrypts your
                                    data at rest using an AES-256 encryption algorithm.
                                    This does not require any action on your part.
                                    For more control over the encryption of the contents
                                    of your repository, you can use server-side encryption
                                    with KMSlong key stored in KMSlong (KMS) to encrypt
                                    your images. For more information, see [Amazon
                                    ECR encryption at rest](https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html)
                                    in the *Amazon Elastic Container Registry User
                                    Guide*.
                                  type: object
                                  properties:
                                    encryptionType:
                                      description: The encryption type to use. If
                                        you use the ``KMS`` encryption type, the contents
                                        of the repository will be encrypted using
                                        server-side encryption with KMSlong key stored
                                        in KMS. When you use KMS to encrypt your data,
                                        you can either use the default AWS managed
                                        KMS key for Amazon ECR, or specify your own
                                        KMS key, which you already created. For more
                                        information, see [Protecting data using server-side
                                        encryption with an key stored in (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html)
                                        in the *Amazon Simple Storage Service Console
                                        Developer Guide*. If you use the ``AES256``
                                        encryption type, Amazon ECR uses server-side
                                        encryption with Amazon S3-managed encryption
                                        keys which encrypts the images in the repository
                                        using an AES-256 encryption algorithm. For
                                        more information, see [Protecting data using
                                        server-side encryption with Amazon S3-managed
                                        encryption keys (SSE-S3)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html)
                                        in the *Ama The encryption type to use.
                                      type: string
                                      enum:
                                      - AES256
                                      - KMS
                                      x-ms-enum:
                                        name: EncryptionConfigurationEncryptionType
                                        modelAsString: true
                                        values:
                                        - name: AES256
                                          value: AES256
                                          description: EncryptionConfigurationEncryptionType
                                            enum AES256
                                        - name: KMS
                                          value: KMS
                                          description: EncryptionConfigurationEncryptionType
                                            enum KMS
                                    kmsKey:
                                      type: string
                                      description: If you use the ``KMS`` encryption
                                        type, specify the KMS key to use for encryption.
                                        The alias, key ID, or full ARN of the KMS
                                        key can be specified. The key must exist in
                                        the same Region as the repository. If no key
                                        is specified, the default AWS managed KMS
                                        key for Amazon ECR will be used. If you use
                                        the KMS encryption type, specify the CMK to
                                        use for encryption. The alias, key ID, or
                                        full ARN of the CMK can be specified. The
                                        key must exist in the same Region as the repository.
                                        If no key is specified, the default AWS managed
                                        CMK for Amazon ECR will be used.
                                imageScanningConfiguration:
                                  description: The image scanning configuration for
                                    the repository. This determines whether images
                                    are scanned for known vulnerabilities after being
                                    pushed to the repository. The image scanning configuration
                                    for a repository.
                                  type: object
                                  properties:
                                    scanOnPush:
                                      type: boolean
                                      description: The setting that determines whether
                                        images are scanned after being pushed to a
                                        repository. If set to ``true``, images will
                                        be scanned after being pushed. If this parameter
                                        is not specified, it will default to ``false``
                                        and images will not be scanned unless a scan
                                        is manually started. The setting that determines
                                        whether images are scanned after being pushed
                                        to a repository.
                                imageTagMutability:
                                  description: The tag mutability setting for the
                                    repository. If this parameter is omitted, the
                                    default setting of ``MUTABLE`` will be used which
                                    will allow image tags to be overwritten. If ``IMMUTABLE``
                                    is specified, all image tags within the repository
                                    will be immutable which will prevent them from
                                    being overwritten.
                                  type: string
                                  enum:
                                  - IMMUTABLE
                                  - MUTABLE
                                  x-ms-enum:
                                    name: ImageTagMutability
                                    modelAsString: true
                                    values:
                                    - name: IMMUTABLE
                                      value: IMMUTABLE
                                      description: ImageTagMutability enum IMMUTABLE
                                    - name: MUTABLE
                                      value: MUTABLE
                                      description: ImageTagMutability enum MUTABLE
                                lifecyclePolicy:
                                  description: Creates or updates a lifecycle policy.
                                    For information about lifecycle policy syntax,
                                    see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html).
                                    The ``LifecyclePolicy`` property type specifies
                                    a lifecycle policy. For information about lifecycle
                                    policy syntax, see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html)
                                    in the *Amazon ECR User Guide*.
                                  type: object
                                  properties:
                                    lifecyclePolicyText:
                                      type: string
                                      description: The JSON repository policy text
                                        to apply to the repository. The JSON repository
                                        policy text to apply to the repository.
                                    registryId:
                                      type: string
                                      description: The AWS account ID associated with
                                        the registry that contains the repository.
                                        If you do not specify a registry, the default
                                        registry is assumed. The AWS account ID associated
                                        with the registry that contains the repository.
                                        If you do not specify a registry, the default
                                        registry is assumed.
                                repositoryName:
                                  type: string
                                  description: The name to use for the repository.
                                    The repository name may be specified on its own
                                    (such as ``nginx-web-app``) or it can be prepended
                                    with a namespace to group the repository into
                                    a category (such as ``project-a/nginx-web-app``).
                                    If you don't specify a name, CFNlong generates
                                    a unique physical ID and uses that ID for the
                                    repository name. For more information, see [Name
                                    type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).
                                    The repository name must start with a letter and
                                    can only contain lowercase letters, numbers, hyphens,
                                    underscores, and forward slashes.  If you specify
                                    a name, you cannot perform updates that require
                                    replacement of this resource. You can perform
                                    updates that require no or some interruption.
                                    If you must replace the resource, specify a new
                                    name.
                                repositoryPolicyText:
                                  type: object
                                  description: The JSON repository policy text to
                                    apply to the repository. For more information,
                                    see [Amazon ECR repository policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html)
                                    in the *Amazon Elastic Container Registry User
                                    Guide*.
                                  additionalProperties: {}
                                repositoryUri:
                                  type: string
                                  description: Property repositoryUri
                                tags:
                                  type: array
                                  description: An array of key-value pairs to apply
                                    to this resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: One part of a key-value pair
                                          that make up a tag. A ``key`` is a general
                                          label that acts like a category for more
                                          specific tag values.
                                      value:
                                        type: string
                                        description: A ``value`` acts as a descriptor
                                          within a tag category (key).
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecrRepositories/{name}:
    get:
      operationId: EcrRepositories_Get
      tags:
      - EcrRepositories
      description: Get a EcrRepository
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EcrRepository
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: Property arn
                          emptyOnDelete:
                            type: boolean
                            description: If true, deleting the repository force deletes
                              the contents of the repository. If false, the repository
                              must be empty before attempting to delete it. If true,
                              deleting the repository force deletes the contents of
                              the repository. Without a force delete, you can only
                              delete empty repositories.
                          encryptionConfiguration:
                            description: The encryption configuration for the repository.
                              This determines how the contents of your repository
                              are encrypted at rest. The encryption configuration
                              for the repository. This determines how the contents
                              of your repository are encrypted at rest. By default,
                              when no encryption configuration is set or the ``AES256``
                              encryption type is used, Amazon ECR uses server-side
                              encryption with Amazon S3-managed encryption keys which
                              encrypts your data at rest using an AES-256 encryption
                              algorithm. This does not require any action on your
                              part. For more control over the encryption of the contents
                              of your repository, you can use server-side encryption
                              with KMSlong key stored in KMSlong (KMS) to encrypt
                              your images. For more information, see [Amazon ECR encryption
                              at rest](https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html)
                              in the *Amazon Elastic Container Registry User Guide*.
                            type: object
                            properties:
                              encryptionType:
                                description: The encryption type to use. If you use
                                  the ``KMS`` encryption type, the contents of the
                                  repository will be encrypted using server-side encryption
                                  with KMSlong key stored in KMS. When you use KMS
                                  to encrypt your data, you can either use the default
                                  AWS managed KMS key for Amazon ECR, or specify your
                                  own KMS key, which you already created. For more
                                  information, see [Protecting data using server-side
                                  encryption with an key stored in (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html)
                                  in the *Amazon Simple Storage Service Console Developer
                                  Guide*. If you use the ``AES256`` encryption type,
                                  Amazon ECR uses server-side encryption with Amazon
                                  S3-managed encryption keys which encrypts the images
                                  in the repository using an AES-256 encryption algorithm.
                                  For more information, see [Protecting data using
                                  server-side encryption with Amazon S3-managed encryption
                                  keys (SSE-S3)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html)
                                  in the *Ama The encryption type to use.
                                type: string
                                enum:
                                - AES256
                                - KMS
                                x-ms-enum:
                                  name: EncryptionConfigurationEncryptionType
                                  modelAsString: true
                                  values:
                                  - name: AES256
                                    value: AES256
                                    description: EncryptionConfigurationEncryptionType
                                      enum AES256
                                  - name: KMS
                                    value: KMS
                                    description: EncryptionConfigurationEncryptionType
                                      enum KMS
                              kmsKey:
                                type: string
                                description: If you use the ``KMS`` encryption type,
                                  specify the KMS key to use for encryption. The alias,
                                  key ID, or full ARN of the KMS key can be specified.
                                  The key must exist in the same Region as the repository.
                                  If no key is specified, the default AWS managed
                                  KMS key for Amazon ECR will be used. If you use
                                  the KMS encryption type, specify the CMK to use
                                  for encryption. The alias, key ID, or full ARN of
                                  the CMK can be specified. The key must exist in
                                  the same Region as the repository. If no key is
                                  specified, the default AWS managed CMK for Amazon
                                  ECR will be used.
                          imageScanningConfiguration:
                            description: The image scanning configuration for the
                              repository. This determines whether images are scanned
                              for known vulnerabilities after being pushed to the
                              repository. The image scanning configuration for a repository.
                            type: object
                            properties:
                              scanOnPush:
                                type: boolean
                                description: The setting that determines whether images
                                  are scanned after being pushed to a repository.
                                  If set to ``true``, images will be scanned after
                                  being pushed. If this parameter is not specified,
                                  it will default to ``false`` and images will not
                                  be scanned unless a scan is manually started. The
                                  setting that determines whether images are scanned
                                  after being pushed to a repository.
                          imageTagMutability:
                            description: The tag mutability setting for the repository.
                              If this parameter is omitted, the default setting of
                              ``MUTABLE`` will be used which will allow image tags
                              to be overwritten. If ``IMMUTABLE`` is specified, all
                              image tags within the repository will be immutable which
                              will prevent them from being overwritten.
                            type: string
                            enum:
                            - IMMUTABLE
                            - MUTABLE
                            x-ms-enum:
                              name: ImageTagMutability
                              modelAsString: true
                              values:
                              - name: IMMUTABLE
                                value: IMMUTABLE
                                description: ImageTagMutability enum IMMUTABLE
                              - name: MUTABLE
                                value: MUTABLE
                                description: ImageTagMutability enum MUTABLE
                          lifecyclePolicy:
                            description: Creates or updates a lifecycle policy. For
                              information about lifecycle policy syntax, see [Lifecycle
                              policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html).
                              The ``LifecyclePolicy`` property type specifies a lifecycle
                              policy. For information about lifecycle policy syntax,
                              see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html)
                              in the *Amazon ECR User Guide*.
                            type: object
                            properties:
                              lifecyclePolicyText:
                                type: string
                                description: The JSON repository policy text to apply
                                  to the repository. The JSON repository policy text
                                  to apply to the repository.
                              registryId:
                                type: string
                                description: The AWS account ID associated with the
                                  registry that contains the repository. If you do
                                  not specify a registry, the default registry is
                                  assumed. The AWS account ID associated with the
                                  registry that contains the repository. If you do
                                  not specify a registry, the default registry is
                                  assumed.
                          repositoryName:
                            type: string
                            description: The name to use for the repository. The repository
                              name may be specified on its own (such as ``nginx-web-app``)
                              or it can be prepended with a namespace to group the
                              repository into a category (such as ``project-a/nginx-web-app``).
                              If you don't specify a name, CFNlong generates a unique
                              physical ID and uses that ID for the repository name.
                              For more information, see [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).
                              The repository name must start with a letter and can
                              only contain lowercase letters, numbers, hyphens, underscores,
                              and forward slashes.  If you specify a name, you cannot
                              perform updates that require replacement of this resource.
                              You can perform updates that require no or some interruption.
                              If you must replace the resource, specify a new name.
                          repositoryPolicyText:
                            type: object
                            description: The JSON repository policy text to apply
                              to the repository. For more information, see [Amazon
                              ECR repository policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html)
                              in the *Amazon Elastic Container Registry User Guide*.
                            additionalProperties: {}
                          repositoryUri:
                            type: string
                            description: Property repositoryUri
                          tags:
                            type: array
                            description: An array of key-value pairs to apply to this
                              resource.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: One part of a key-value pair that make
                                    up a tag. A ``key`` is a general label that acts
                                    like a category for more specific tag values.
                                value:
                                  type: string
                                  description: A ``value`` acts as a descriptor within
                                    a tag category (key).
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: EcrRepositories_CreateOrReplace
      tags:
      - EcrRepositories
      description: Create a EcrRepository. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EcrRepository
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        arn:
                          type: string
                          description: Property arn
                        emptyOnDelete:
                          type: boolean
                          description: If true, deleting the repository force deletes
                            the contents of the repository. If false, the repository
                            must be empty before attempting to delete it. If true,
                            deleting the repository force deletes the contents of
                            the repository. Without a force delete, you can only delete
                            empty repositories.
                        encryptionConfiguration:
                          description: The encryption configuration for the repository.
                            This determines how the contents of your repository are
                            encrypted at rest. The encryption configuration for the
                            repository. This determines how the contents of your repository
                            are encrypted at rest. By default, when no encryption
                            configuration is set or the ``AES256`` encryption type
                            is used, Amazon ECR uses server-side encryption with Amazon
                            S3-managed encryption keys which encrypts your data at
                            rest using an AES-256 encryption algorithm. This does
                            not require any action on your part. For more control
                            over the encryption of the contents of your repository,
                            you can use server-side encryption with KMSlong key stored
                            in KMSlong (KMS) to encrypt your images. For more information,
                            see [Amazon ECR encryption at rest](https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html)
                            in the *Amazon Elastic Container Registry User Guide*.
                          type: object
                          properties:
                            encryptionType:
                              description: The encryption type to use. If you use
                                the ``KMS`` encryption type, the contents of the repository
                                will be encrypted using server-side encryption with
                                KMSlong key stored in KMS. When you use KMS to encrypt
                                your data, you can either use the default AWS managed
                                KMS key for Amazon ECR, or specify your own KMS key,
                                which you already created. For more information, see
                                [Protecting data using server-side encryption with
                                an key stored in (SSE-KMS)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html)
                                in the *Amazon Simple Storage Service Console Developer
                                Guide*. If you use the ``AES256`` encryption type,
                                Amazon ECR uses server-side encryption with Amazon
                                S3-managed encryption keys which encrypts the images
                                in the repository using an AES-256 encryption algorithm.
                                For more information, see [Protecting data using server-side
                                encryption with Amazon S3-managed encryption keys
                                (SSE-S3)](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html)
                                in the *Ama The encryption type to use.
                              type: string
                              enum:
                              - AES256
                              - KMS
                              x-ms-enum:
                                name: EncryptionConfigurationEncryptionType
                                modelAsString: true
                                values:
                                - name: AES256
                                  value: AES256
                                  description: EncryptionConfigurationEncryptionType
                                    enum AES256
                                - name: KMS
                                  value: KMS
                                  description: EncryptionConfigurationEncryptionType
                                    enum KMS
                            kmsKey:
                              type: string
                              description: If you use the ``KMS`` encryption type,
                                specify the KMS key to use for encryption. The alias,
                                key ID, or full ARN of the KMS key can be specified.
                                The key must exist in the same Region as the repository.
                                If no key is specified, the default AWS managed KMS
                                key for Amazon ECR will be used. If you use the KMS
                                encryption type, specify the CMK to use for encryption.
                                The alias, key ID, or full ARN of the CMK can be specified.
                                The key must exist in the same Region as the repository.
                                If no key is specified, the default AWS managed CMK
                                for Amazon ECR will be used.
                        imageScanningConfiguration:
                          description: The image scanning configuration for the repository.
                            This determines whether images are scanned for known vulnerabilities
                            after being pushed to the repository. The image scanning
                            configuration for a repository.
                          type: object
                          properties:
                            scanOnPush:
                              type: boolean
                              description: The setting that determines whether images
                                are scanned after being pushed to a repository. If
                                set to ``true``, images will be scanned after being
                                pushed. If this parameter is not specified, it will
                                default to ``false`` and images will not be scanned
                                unless a scan is manually started. The setting that
                                determines whether images are scanned after being
                                pushed to a repository.
                        imageTagMutability:
                          description: The tag mutability setting for the repository.
                            If this parameter is omitted, the default setting of ``MUTABLE``
                            will be used which will allow image tags to be overwritten.
                            If ``IMMUTABLE`` is specified, all image tags within the
                            repository will be immutable which will prevent them from
                            being overwritten.
                          type: string
                          enum:
                          - IMMUTABLE
                          - MUTABLE
                          x-ms-enum:
                            name: ImageTagMutability
                            modelAsString: true
                            values:
                            - name: IMMUTABLE
                              value: IMMUTABLE
                              description: ImageTagMutability enum IMMUTABLE
                            - name: MUTABLE
                              value: MUTABLE
                              description: ImageTagMutability enum MUTABLE
                        lifecyclePolicy:
                          description: Creates or updates a lifecycle policy. For
                            information about lifecycle policy syntax, see [Lifecycle
                            policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html).
                            The ``LifecyclePolicy`` property type specifies a lifecycle
                            policy. For information about lifecycle policy syntax,
                            see [Lifecycle policy template](https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html)
                            in the *Amazon ECR User Guide*.
                          type: object
                          properties:
                            lifecyclePolicyText:
                              type: string
                              description: The JSON repository policy text to apply
                                to the repository. The JSON repository policy text
                                to apply to the repository.
                            registryId:
                              type: string
                              description: The AWS account ID associated with the
                                registry that contains the repository. If you do not
                                specify a registry, the default registry is assumed.
                                The AWS account ID associated with the registry that
                                contains the repository. If you do not specify a registry,
                                the default registry is assumed.
                        repositoryName:
                          type: string
                          description: The name to use for the repository. The repository
                            name may be specified on its own (such as ``nginx-web-app``)
                            or it can be prepended with a namespace to group the repository
                            into a category (such as ``project-a/nginx-web-app``).
                            If you don't specify a name, CFNlong generates a unique
                            physical ID and uses that ID for the repository name.
                            For more information, see [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).
                            The repository name must start with a letter and can only
                            contain lowercase letters, numbers, hyphens, underscores,
                            and forward slashes.  If you specify a name, you cannot
                            perform updates that require replacement of this resource.
                            You can perform updates that require no or some interruption.
                            If you must replace the resource, specify a new name.
                        repositoryPolicyText:
                          type: object
                          description: The JSON repository policy text to apply to
                            the repository. For more information, see [Amazon ECR
                            repository policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html)
                            in the *Amazon Elastic Container Registry User Guide*.
                          additionalProperties: {}
                        repositoryUri:
                          type: string
                          description: Property repositoryUri
[...]
