openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EcsClusters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ecsClusters:
    get:
      operationId: EcsClusters_ListBySubscription
      tags:
      - EcsClusters
      description: List EcsCluster resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcsCluster list operation.
                properties:
                  value:
                    type: array
                    description: The EcsCluster items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                capacityProviders:
                                  type: array
                                  description: The short name of one or more capacity
                                    providers to associate with the cluster. A capacity
                                    provider must be associated with a cluster before
                                    it can be included as part of the default capacity
                                    provider strategy of the cluster or used in a
                                    capacity provider strategy when calling the [CreateService](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateService.html)
                                    or [RunTask](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_RunTask.html)
                                    actions. If specifying a capacity provider that
                                    uses an Auto Scaling group, the capacity provider
                                    must be created but not associated with another
                                    cluster. New Auto Scaling group capacity providers
                                    can be created with the [CreateCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateCapacityProvider.html)
                                    API operation. To use a FARGATElong capacity provider,
                                    specify either the ``FARGATE`` or ``FARGATE_SPOT``
                                    capacity providers. The FARGATElong capacity providers
                                    are available to all accounts and only need to
                                    be associated with a cluster to be used. The [PutCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutCapacityProvider.html)
                                    API operation is used to update the list of available
                                    capacity providers for a cluster after the cluster
                                    is created.
                                  items:
                                    type: string
                                clusterName:
                                  type: string
                                  description: A user-generated string that you use
                                    to identify your cluster. If you don't specify
                                    a name, CFNlong generates a unique physical ID
                                    for the name.
                                clusterSettings:
                                  type: array
                                  description: The settings to use when creating a
                                    cluster. This parameter is used to turn on CloudWatch
                                    Container Insights for a cluster.
                                  items:
                                    type: object
                                    description: Definition of ClusterSettings
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the cluster setting.
                                          The value is ``containerInsights`` .
                                      value:
                                        type: string
                                        description: The value to set for the cluster
                                          setting. The supported values are ``enabled``
                                          and ``disabled``.  If you set ``name`` to
                                          ``containerInsights`` and ``value`` to ``enabled``,
                                          CloudWatch Container Insights will be on
                                          for the cluster, otherwise it will be off
                                          unless the ``containerInsights`` account
                                          setting is turned on. If a cluster value
                                          is specified, it will override the ``containerInsights``
                                          value set with [PutAccountSetting](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSetting.html)
                                          or [PutAccountSettingDefault](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSettingDefault.html).
                                  x-ms-identifiers: []
                                configuration:
                                  description: The execute command configuration for
                                    the cluster. The execute command configuration
                                    for the cluster.
                                  type: object
                                  properties:
                                    executeCommandConfiguration:
                                      description: The details of the execute command
                                        configuration. The details of the execute
                                        command configuration.
                                      type: object
                                      properties:
                                        kmsKeyId:
                                          type: string
                                          description: Specify an KMSlong key ID to
                                            encrypt the data between the local client
                                            and the container.
                                        logConfiguration:
                                          description: The log configuration for the
                                            results of the execute command actions.
                                            The logs can be sent to CloudWatch Logs
                                            or an Amazon S3 bucket. When ``logging=OVERRIDE``
                                            is specified, a ``logConfiguration`` must
                                            be provided. The log configuration for
                                            the results of the execute command actions.
                                            The logs can be sent to CloudWatch Logs
                                            or an Amazon S3 bucket.
                                          type: object
                                          properties:
                                            cloudWatchEncryptionEnabled:
                                              type: boolean
                                              description: Determines whether to use
                                                encryption on the CloudWatch logs.
                                                If not specified, encryption will
                                                be off.
                                            cloudWatchLogGroupName:
                                              type: string
                                              description: The name of the CloudWatch
                                                log group to send logs to.  The CloudWatch
                                                log group must already be created.
                                            s3BucketName:
                                              type: string
                                              description: The name of the S3 bucket
                                                to send logs to.  The S3 bucket must
                                                already be created.
                                            s3EncryptionEnabled:
                                              type: boolean
                                              description: Determines whether to use
                                                encryption on the S3 logs. If not
                                                specified, encryption is not used.
                                            s3KeyPrefix:
                                              type: string
                                              description: An optional folder in the
                                                S3 bucket to place logs in.
                                        logging:
                                          type: string
                                          description: 'The log setting to use for
                                            redirecting logs for your execute command
                                            results. The following log settings are
                                            available.  +   ``NONE``: The execute
                                            command session is not logged.  +   ``DEFAULT``:
                                            The ``awslogs`` configuration in the task
                                            definition is used. If no logging parameter
                                            is specified, it defaults to this value.
                                            If no ``awslogs`` log driver is configured
                                            in the task definition, the output won''t
                                            be logged.  +   ``OVERRIDE``: Specify
                                            the logging details as a part of ``logConfiguration``.
                                            If the ``OVERRIDE`` logging option is
                                            specified, the ``logConfiguration`` is
                                            required.'
                                defaultCapacityProviderStrategy:
                                  type: array
                                  description: The default capacity provider strategy
                                    for the cluster. When services or tasks are run
                                    in the cluster with no launch type or capacity
                                    provider strategy specified, the default capacity
                                    provider strategy is used.
                                  items:
                                    type: object
                                    description: Definition of CapacityProviderStrategyItem
                                    properties:
                                      base:
                                        type: integer
                                        format: int32
                                        description: The *base* value designates how
                                          many tasks, at a minimum, to run on the
                                          specified capacity provider. Only one capacity
                                          provider in a capacity provider strategy
                                          can have a *base* defined. If no value is
                                          specified, the default value of ``0`` is
                                          used.
                                      capacityProvider:
                                        type: string
                                        description: The short name of the capacity
                                          provider.
                                      weight:
                                        type: integer
                                        format: int32
                                        description: The *weight* value designates
                                          the relative percentage of the total number
                                          of tasks launched that should use the specified
                                          capacity provider. The ``weight`` value
                                          is taken into consideration after the ``base``
                                          value, if defined, is satisfied. If no ``weight``
                                          value is specified, the default value of
                                          ``0`` is used. When multiple capacity providers
                                          are specified within a capacity provider
                                          strategy, at least one of the capacity providers
                                          must have a weight value greater than zero
                                          and any capacity providers with a weight
                                          of ``0`` can't be used to place tasks. If
                                          you specify multiple capacity providers
                                          in a strategy that all have a weight of
                                          ``0``, any ``RunTask`` or ``CreateService``
                                          actions using the capacity provider strategy
                                          will fail. An example scenario for using
                                          weights is defining a strategy that contains
                                          two capacity providers and both have a weight
                                          of ``1``, then when the ``base`` is satisfied,
                                          the tasks will be split evenly across the
                                          two capacity providers. Using that same
                                          logic, if you specify a weight of ``1``
                                          for *capacityProviderA* and a weight of
                                          ``4`` for *capacityProviderB*, then for
                                          every one task that's run using *capacityProviderA*,
                                          four tasks would use *capacityProviderB*.
                                  x-ms-identifiers: []
                                serviceConnectDefaults:
                                  description: Use this parameter to set a default
                                    Service Connect namespace. After you set a default
                                    Service Connect namespace, any new services with
                                    Service Connect turned on that are created in
                                    the cluster are added as client services in the
                                    namespace. This setting only applies to new services
                                    that set the ``enabled`` parameter to ``true``
                                    in the ``ServiceConnectConfiguration``. You can
                                    set the namespace of each service individually
                                    in the ``ServiceConnectConfiguration`` to override
                                    this default parameter. Tasks that run in a namespace
                                    can use short names to connect to services in
                                    the namespace. Tasks can connect to services across
                                    all of the clusters in the namespace. Tasks connect
                                    through a managed proxy container that collects
                                    logs and metrics for increased visibility. Only
                                    the tasks that Amazon ECS services create are
                                    supported with Service Connect. For more information,
                                    see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                                    in the *Amazon Elastic Container Service Developer
                                    Guide*. Use this parameter to set a default Service
                                    Connect namespace. After you set a default Service
                                    Connect namespace, any new services with Service
                                    Connect turned on that are created in the cluster
                                    are added as client services in the namespace.
                                    This setting only applies to new services that
                                    set the ``enabled`` parameter to ``true`` in the
                                    ``ServiceConnectConfiguration``. You can set the
                                    namespace of each service individually in the
                                    ``ServiceConnectConfiguration`` to override this
                                    default parameter. Tasks that run in a namespace
                                    can use short names to connect to services in
                                    the namespace. Tasks can connect to services across
                                    all of the clusters in the namespace. Tasks connect
                                    through a managed proxy container that collects
                                    logs and metrics for increased visibility. Only
                                    the tasks that Amazon ECS services create are
                                    supported with Service Connect. For more information,
                                    see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                                    in the *Amazon Elastic Container Service Developer
                                    Guide*.
                                  type: object
                                  properties:
                                    namespace:
                                      type: string
                                      description: The namespace name or full Amazon
                                        Resource Name (ARN) of the CMAPlong namespace
                                        that's used when you create a service and
                                        don't specify a Service Connect configuration.
                                        The namespace name can include up to 1024
                                        characters. The name is case-sensitive. The
                                        name can't include hyphens (-), tilde (~),
                                        greater than (>), less than (<), or slash
                                        (/). If you enter an existing namespace name
                                        or ARN, then that namespace will be used.
                                        Any namespace type is supported. The namespace
                                        must be in this account and this AWS Region.
                                        If you enter a new name, a CMAPlong namespace
                                        will be created. Amazon ECS creates a CMAP
                                        namespace with the 'API calls' method of instance
                                        discovery only. This instance discovery method
                                        is the 'HTTP' namespace type in the CLIlong.
                                        Other types of instance discovery aren't used
                                        by Service Connect. If you update the cluster
                                        with an empty string ``''`` for the namespace
                                        name, the cluster configuration for Service
                                        Connect is removed. Note that the namespace
                                        will remain in CMAP and must be deleted separately.
                                        For more information about CMAPlong, see [Working
                                        with Services](https://docs.aws.amazon.com/cloud-map/latest/dg/working-with-services.html)
                                        in the *Developer Guide*.
                                tags:
                                  type: array
                                  description: 'The metadata that you apply to the
                                    cluster to help you categorize and organize them.
                                    Each tag consists of a key and an optional value.
                                    You define both. The following basic restrictions
                                    apply to tags:  +  Maximum number of tags per
                                    resource - 50  +  For each resource, each tag
                                    key must be unique, and each tag key can have
                                    only one value.  +  Maximum key length - 128 Unicode
                                    characters in UTF-8  +  Maximum value length -
                                    256 Unicode characters in UTF-8  +  If your tagging
                                    schema is used across multiple services and resources,
                                    remember that other services may have restrictions
                                    on allowed characters. Generally allowed characters
                                    are: letters, numbers, and spaces representable
                                    in UTF-8, and the following characters: + - =
                                    . _ : / @.  +  Tag keys and values are case-sensitive.  +  Do
                                    not use ``aws:``, ``AWS:``, or any upper or lowercase
                                    combination of such as a prefix for either keys
                                    or values as it is reserved for AWS use. You cannot
                                    edit or delete tag keys or values with this prefix.
                                    Tags with this prefix do not count against your
                                    tags per resource limit.'
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: One part of a key-value pair
                                          that make up a tag. A ``key`` is a general
                                          label that acts like a category for more
                                          specific tag values.
                                      value:
                                        type: string
                                        description: The optional part of a key-value
                                          pair that make up a tag. A ``value`` acts
                                          as a descriptor within a tag category (key).
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsClusters:
    get:
      operationId: EcsClusters_ListByResourceGroup
      tags:
      - EcsClusters
      description: List EcsCluster resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EcsCluster list operation.
                properties:
                  value:
                    type: array
                    description: The EcsCluster items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                capacityProviders:
                                  type: array
                                  description: The short name of one or more capacity
                                    providers to associate with the cluster. A capacity
                                    provider must be associated with a cluster before
                                    it can be included as part of the default capacity
                                    provider strategy of the cluster or used in a
                                    capacity provider strategy when calling the [CreateService](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateService.html)
                                    or [RunTask](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_RunTask.html)
                                    actions. If specifying a capacity provider that
                                    uses an Auto Scaling group, the capacity provider
                                    must be created but not associated with another
                                    cluster. New Auto Scaling group capacity providers
                                    can be created with the [CreateCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateCapacityProvider.html)
                                    API operation. To use a FARGATElong capacity provider,
                                    specify either the ``FARGATE`` or ``FARGATE_SPOT``
                                    capacity providers. The FARGATElong capacity providers
                                    are available to all accounts and only need to
                                    be associated with a cluster to be used. The [PutCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutCapacityProvider.html)
                                    API operation is used to update the list of available
                                    capacity providers for a cluster after the cluster
                                    is created.
                                  items:
                                    type: string
                                clusterName:
                                  type: string
                                  description: A user-generated string that you use
                                    to identify your cluster. If you don't specify
                                    a name, CFNlong generates a unique physical ID
                                    for the name.
                                clusterSettings:
                                  type: array
                                  description: The settings to use when creating a
                                    cluster. This parameter is used to turn on CloudWatch
                                    Container Insights for a cluster.
                                  items:
                                    type: object
                                    description: Definition of ClusterSettings
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the cluster setting.
                                          The value is ``containerInsights`` .
                                      value:
                                        type: string
                                        description: The value to set for the cluster
                                          setting. The supported values are ``enabled``
                                          and ``disabled``.  If you set ``name`` to
                                          ``containerInsights`` and ``value`` to ``enabled``,
                                          CloudWatch Container Insights will be on
                                          for the cluster, otherwise it will be off
                                          unless the ``containerInsights`` account
                                          setting is turned on. If a cluster value
                                          is specified, it will override the ``containerInsights``
                                          value set with [PutAccountSetting](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSetting.html)
                                          or [PutAccountSettingDefault](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSettingDefault.html).
                                  x-ms-identifiers: []
                                configuration:
                                  description: The execute command configuration for
                                    the cluster. The execute command configuration
                                    for the cluster.
                                  type: object
                                  properties:
                                    executeCommandConfiguration:
                                      description: The details of the execute command
                                        configuration. The details of the execute
                                        command configuration.
                                      type: object
                                      properties:
                                        kmsKeyId:
                                          type: string
                                          description: Specify an KMSlong key ID to
                                            encrypt the data between the local client
                                            and the container.
                                        logConfiguration:
                                          description: The log configuration for the
                                            results of the execute command actions.
                                            The logs can be sent to CloudWatch Logs
                                            or an Amazon S3 bucket. When ``logging=OVERRIDE``
                                            is specified, a ``logConfiguration`` must
                                            be provided. The log configuration for
                                            the results of the execute command actions.
                                            The logs can be sent to CloudWatch Logs
                                            or an Amazon S3 bucket.
                                          type: object
                                          properties:
                                            cloudWatchEncryptionEnabled:
                                              type: boolean
                                              description: Determines whether to use
                                                encryption on the CloudWatch logs.
                                                If not specified, encryption will
                                                be off.
                                            cloudWatchLogGroupName:
                                              type: string
                                              description: The name of the CloudWatch
                                                log group to send logs to.  The CloudWatch
                                                log group must already be created.
                                            s3BucketName:
                                              type: string
                                              description: The name of the S3 bucket
                                                to send logs to.  The S3 bucket must
                                                already be created.
                                            s3EncryptionEnabled:
                                              type: boolean
                                              description: Determines whether to use
                                                encryption on the S3 logs. If not
                                                specified, encryption is not used.
                                            s3KeyPrefix:
                                              type: string
                                              description: An optional folder in the
                                                S3 bucket to place logs in.
                                        logging:
                                          type: string
                                          description: 'The log setting to use for
                                            redirecting logs for your execute command
                                            results. The following log settings are
                                            available.  +   ``NONE``: The execute
                                            command session is not logged.  +   ``DEFAULT``:
                                            The ``awslogs`` configuration in the task
                                            definition is used. If no logging parameter
                                            is specified, it defaults to this value.
                                            If no ``awslogs`` log driver is configured
                                            in the task definition, the output won''t
                                            be logged.  +   ``OVERRIDE``: Specify
                                            the logging details as a part of ``logConfiguration``.
                                            If the ``OVERRIDE`` logging option is
                                            specified, the ``logConfiguration`` is
                                            required.'
                                defaultCapacityProviderStrategy:
                                  type: array
                                  description: The default capacity provider strategy
                                    for the cluster. When services or tasks are run
                                    in the cluster with no launch type or capacity
                                    provider strategy specified, the default capacity
                                    provider strategy is used.
                                  items:
                                    type: object
                                    description: Definition of CapacityProviderStrategyItem
                                    properties:
                                      base:
                                        type: integer
                                        format: int32
                                        description: The *base* value designates how
                                          many tasks, at a minimum, to run on the
                                          specified capacity provider. Only one capacity
                                          provider in a capacity provider strategy
                                          can have a *base* defined. If no value is
                                          specified, the default value of ``0`` is
                                          used.
                                      capacityProvider:
                                        type: string
                                        description: The short name of the capacity
                                          provider.
                                      weight:
                                        type: integer
                                        format: int32
                                        description: The *weight* value designates
                                          the relative percentage of the total number
                                          of tasks launched that should use the specified
                                          capacity provider. The ``weight`` value
                                          is taken into consideration after the ``base``
                                          value, if defined, is satisfied. If no ``weight``
                                          value is specified, the default value of
                                          ``0`` is used. When multiple capacity providers
                                          are specified within a capacity provider
                                          strategy, at least one of the capacity providers
                                          must have a weight value greater than zero
                                          and any capacity providers with a weight
                                          of ``0`` can't be used to place tasks. If
                                          you specify multiple capacity providers
                                          in a strategy that all have a weight of
                                          ``0``, any ``RunTask`` or ``CreateService``
                                          actions using the capacity provider strategy
                                          will fail. An example scenario for using
                                          weights is defining a strategy that contains
                                          two capacity providers and both have a weight
                                          of ``1``, then when the ``base`` is satisfied,
                                          the tasks will be split evenly across the
                                          two capacity providers. Using that same
                                          logic, if you specify a weight of ``1``
                                          for *capacityProviderA* and a weight of
                                          ``4`` for *capacityProviderB*, then for
                                          every one task that's run using *capacityProviderA*,
                                          four tasks would use *capacityProviderB*.
                                  x-ms-identifiers: []
                                serviceConnectDefaults:
                                  description: Use this parameter to set a default
                                    Service Connect namespace. After you set a default
                                    Service Connect namespace, any new services with
                                    Service Connect turned on that are created in
                                    the cluster are added as client services in the
                                    namespace. This setting only applies to new services
                                    that set the ``enabled`` parameter to ``true``
                                    in the ``ServiceConnectConfiguration``. You can
                                    set the namespace of each service individually
                                    in the ``ServiceConnectConfiguration`` to override
                                    this default parameter. Tasks that run in a namespace
                                    can use short names to connect to services in
                                    the namespace. Tasks can connect to services across
                                    all of the clusters in the namespace. Tasks connect
                                    through a managed proxy container that collects
                                    logs and metrics for increased visibility. Only
                                    the tasks that Amazon ECS services create are
                                    supported with Service Connect. For more information,
                                    see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                                    in the *Amazon Elastic Container Service Developer
                                    Guide*. Use this parameter to set a default Service
                                    Connect namespace. After you set a default Service
                                    Connect namespace, any new services with Service
                                    Connect turned on that are created in the cluster
                                    are added as client services in the namespace.
                                    This setting only applies to new services that
                                    set the ``enabled`` parameter to ``true`` in the
                                    ``ServiceConnectConfiguration``. You can set the
                                    namespace of each service individually in the
                                    ``ServiceConnectConfiguration`` to override this
                                    default parameter. Tasks that run in a namespace
                                    can use short names to connect to services in
                                    the namespace. Tasks can connect to services across
                                    all of the clusters in the namespace. Tasks connect
                                    through a managed proxy container that collects
                                    logs and metrics for increased visibility. Only
                                    the tasks that Amazon ECS services create are
                                    supported with Service Connect. For more information,
                                    see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                                    in the *Amazon Elastic Container Service Developer
                                    Guide*.
                                  type: object
                                  properties:
                                    namespace:
                                      type: string
                                      description: The namespace name or full Amazon
                                        Resource Name (ARN) of the CMAPlong namespace
                                        that's used when you create a service and
                                        don't specify a Service Connect configuration.
                                        The namespace name can include up to 1024
                                        characters. The name is case-sensitive. The
                                        name can't include hyphens (-), tilde (~),
                                        greater than (>), less than (<), or slash
                                        (/). If you enter an existing namespace name
                                        or ARN, then that namespace will be used.
                                        Any namespace type is supported. The namespace
                                        must be in this account and this AWS Region.
                                        If you enter a new name, a CMAPlong namespace
                                        will be created. Amazon ECS creates a CMAP
                                        namespace with the 'API calls' method of instance
                                        discovery only. This instance discovery method
                                        is the 'HTTP' namespace type in the CLIlong.
                                        Other types of instance discovery aren't used
                                        by Service Connect. If you update the cluster
                                        with an empty string ``''`` for the namespace
                                        name, the cluster configuration for Service
                                        Connect is removed. Note that the namespace
                                        will remain in CMAP and must be deleted separately.
                                        For more information about CMAPlong, see [Working
                                        with Services](https://docs.aws.amazon.com/cloud-map/latest/dg/working-with-services.html)
                                        in the *Developer Guide*.
                                tags:
                                  type: array
                                  description: 'The metadata that you apply to the
                                    cluster to help you categorize and organize them.
                                    Each tag consists of a key and an optional value.
                                    You define both. The following basic restrictions
                                    apply to tags:  +  Maximum number of tags per
                                    resource - 50  +  For each resource, each tag
                                    key must be unique, and each tag key can have
                                    only one value.  +  Maximum key length - 128 Unicode
                                    characters in UTF-8  +  Maximum value length -
                                    256 Unicode characters in UTF-8  +  If your tagging
                                    schema is used across multiple services and resources,
                                    remember that other services may have restrictions
                                    on allowed characters. Generally allowed characters
                                    are: letters, numbers, and spaces representable
                                    in UTF-8, and the following characters: + - =
                                    . _ : / @.  +  Tag keys and values are case-sensitive.  +  Do
                                    not use ``aws:``, ``AWS:``, or any upper or lowercase
                                    combination of such as a prefix for either keys
                                    or values as it is reserved for AWS use. You cannot
                                    edit or delete tag keys or values with this prefix.
                                    Tags with this prefix do not count against your
                                    tags per resource limit.'
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: One part of a key-value pair
                                          that make up a tag. A ``key`` is a general
                                          label that acts like a category for more
                                          specific tag values.
                                      value:
                                        type: string
                                        description: The optional part of a key-value
                                          pair that make up a tag. A ``value`` acts
                                          as a descriptor within a tag category (key).
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ecsClusters/{name}:
    get:
      operationId: EcsClusters_Get
      tags:
      - EcsClusters
      description: Get a EcsCluster
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EcsCluster
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: Property arn
                          capacityProviders:
                            type: array
                            description: The short name of one or more capacity providers
                              to associate with the cluster. A capacity provider must
                              be associated with a cluster before it can be included
                              as part of the default capacity provider strategy of
                              the cluster or used in a capacity provider strategy
                              when calling the [CreateService](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateService.html)
                              or [RunTask](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_RunTask.html)
                              actions. If specifying a capacity provider that uses
                              an Auto Scaling group, the capacity provider must be
                              created but not associated with another cluster. New
                              Auto Scaling group capacity providers can be created
                              with the [CreateCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateCapacityProvider.html)
                              API operation. To use a FARGATElong capacity provider,
                              specify either the ``FARGATE`` or ``FARGATE_SPOT`` capacity
                              providers. The FARGATElong capacity providers are available
                              to all accounts and only need to be associated with
                              a cluster to be used. The [PutCapacityProvider](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutCapacityProvider.html)
                              API operation is used to update the list of available
                              capacity providers for a cluster after the cluster is
                              created.
                            items:
                              type: string
                          clusterName:
                            type: string
                            description: A user-generated string that you use to identify
                              your cluster. If you don't specify a name, CFNlong generates
                              a unique physical ID for the name.
                          clusterSettings:
                            type: array
                            description: The settings to use when creating a cluster.
                              This parameter is used to turn on CloudWatch Container
                              Insights for a cluster.
                            items:
                              type: object
                              description: Definition of ClusterSettings
                              properties:
                                name:
                                  type: string
                                  description: The name of the cluster setting. The
                                    value is ``containerInsights`` .
                                value:
                                  type: string
                                  description: The value to set for the cluster setting.
                                    The supported values are ``enabled`` and ``disabled``.  If
                                    you set ``name`` to ``containerInsights`` and
                                    ``value`` to ``enabled``, CloudWatch Container
                                    Insights will be on for the cluster, otherwise
                                    it will be off unless the ``containerInsights``
                                    account setting is turned on. If a cluster value
                                    is specified, it will override the ``containerInsights``
                                    value set with [PutAccountSetting](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSetting.html)
                                    or [PutAccountSettingDefault](https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSettingDefault.html).
                            x-ms-identifiers: []
                          configuration:
                            description: The execute command configuration for the
                              cluster. The execute command configuration for the cluster.
                            type: object
                            properties:
                              executeCommandConfiguration:
                                description: The details of the execute command configuration.
                                  The details of the execute command configuration.
                                type: object
                                properties:
                                  kmsKeyId:
                                    type: string
                                    description: Specify an KMSlong key ID to encrypt
                                      the data between the local client and the container.
                                  logConfiguration:
                                    description: The log configuration for the results
                                      of the execute command actions. The logs can
                                      be sent to CloudWatch Logs or an Amazon S3 bucket.
                                      When ``logging=OVERRIDE`` is specified, a ``logConfiguration``
                                      must be provided. The log configuration for
                                      the results of the execute command actions.
                                      The logs can be sent to CloudWatch Logs or an
                                      Amazon S3 bucket.
                                    type: object
                                    properties:
                                      cloudWatchEncryptionEnabled:
                                        type: boolean
                                        description: Determines whether to use encryption
                                          on the CloudWatch logs. If not specified,
                                          encryption will be off.
                                      cloudWatchLogGroupName:
                                        type: string
                                        description: The name of the CloudWatch log
                                          group to send logs to.  The CloudWatch log
                                          group must already be created.
                                      s3BucketName:
                                        type: string
                                        description: The name of the S3 bucket to
                                          send logs to.  The S3 bucket must already
                                          be created.
                                      s3EncryptionEnabled:
                                        type: boolean
                                        description: Determines whether to use encryption
                                          on the S3 logs. If not specified, encryption
                                          is not used.
                                      s3KeyPrefix:
                                        type: string
                                        description: An optional folder in the S3
                                          bucket to place logs in.
                                  logging:
                                    type: string
                                    description: 'The log setting to use for redirecting
                                      logs for your execute command results. The following
                                      log settings are available.  +   ``NONE``: The
                                      execute command session is not logged.  +   ``DEFAULT``:
                                      The ``awslogs`` configuration in the task definition
                                      is used. If no logging parameter is specified,
                                      it defaults to this value. If no ``awslogs``
                                      log driver is configured in the task definition,
                                      the output won''t be logged.  +   ``OVERRIDE``:
                                      Specify the logging details as a part of ``logConfiguration``.
                                      If the ``OVERRIDE`` logging option is specified,
                                      the ``logConfiguration`` is required.'
                          defaultCapacityProviderStrategy:
                            type: array
                            description: The default capacity provider strategy for
                              the cluster. When services or tasks are run in the cluster
                              with no launch type or capacity provider strategy specified,
                              the default capacity provider strategy is used.
                            items:
                              type: object
                              description: Definition of CapacityProviderStrategyItem
                              properties:
                                base:
                                  type: integer
                                  format: int32
                                  description: The *base* value designates how many
                                    tasks, at a minimum, to run on the specified capacity
                                    provider. Only one capacity provider in a capacity
                                    provider strategy can have a *base* defined. If
                                    no value is specified, the default value of ``0``
                                    is used.
                                capacityProvider:
                                  type: string
                                  description: The short name of the capacity provider.
                                weight:
                                  type: integer
                                  format: int32
                                  description: The *weight* value designates the relative
                                    percentage of the total number of tasks launched
                                    that should use the specified capacity provider.
                                    The ``weight`` value is taken into consideration
                                    after the ``base`` value, if defined, is satisfied.
                                    If no ``weight`` value is specified, the default
                                    value of ``0`` is used. When multiple capacity
                                    providers are specified within a capacity provider
                                    strategy, at least one of the capacity providers
                                    must have a weight value greater than zero and
                                    any capacity providers with a weight of ``0``
                                    can't be used to place tasks. If you specify multiple
                                    capacity providers in a strategy that all have
                                    a weight of ``0``, any ``RunTask`` or ``CreateService``
                                    actions using the capacity provider strategy will
                                    fail. An example scenario for using weights is
                                    defining a strategy that contains two capacity
                                    providers and both have a weight of ``1``, then
                                    when the ``base`` is satisfied, the tasks will
                                    be split evenly across the two capacity providers.
                                    Using that same logic, if you specify a weight
                                    of ``1`` for *capacityProviderA* and a weight
                                    of ``4`` for *capacityProviderB*, then for every
                                    one task that's run using *capacityProviderA*,
                                    four tasks would use *capacityProviderB*.
                            x-ms-identifiers: []
                          serviceConnectDefaults:
                            description: Use this parameter to set a default Service
                              Connect namespace. After you set a default Service Connect
                              namespace, any new services with Service Connect turned
                              on that are created in the cluster are added as client
                              services in the namespace. This setting only applies
                              to new services that set the ``enabled`` parameter to
                              ``true`` in the ``ServiceConnectConfiguration``. You
                              can set the namespace of each service individually in
                              the ``ServiceConnectConfiguration`` to override this
                              default parameter. Tasks that run in a namespace can
                              use short names to connect to services in the namespace.
                              Tasks can connect to services across all of the clusters
                              in the namespace. Tasks connect through a managed proxy
                              container that collects logs and metrics for increased
                              visibility. Only the tasks that Amazon ECS services
                              create are supported with Service Connect. For more
                              information, see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                              in the *Amazon Elastic Container Service Developer Guide*.
                              Use this parameter to set a default Service Connect
                              namespace. After you set a default Service Connect namespace,
                              any new services with Service Connect turned on that
                              are created in the cluster are added as client services
                              in the namespace. This setting only applies to new services
                              that set the ``enabled`` parameter to ``true`` in the
                              ``ServiceConnectConfiguration``. You can set the namespace
                              of each service individually in the ``ServiceConnectConfiguration``
                              to override this default parameter. Tasks that run in
                              a namespace can use short names to connect to services
                              in the namespace. Tasks can connect to services across
                              all of the clusters in the namespace. Tasks connect
                              through a managed proxy container that collects logs
                              and metrics for increased visibility. Only the tasks
                              that Amazon ECS services create are supported with Service
                              Connect. For more information, see [Service Connect](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html)
                              in the *Amazon Elastic Container Service Developer Guide*.
                            type: object
                            properties:
                              namespace:
                                type: string
                                description: The namespace name or full Amazon Resource
                                  Name (ARN) of the CMAPlong namespace that's used
                                  when you create a service and don't specify a Service
                                  Connect configuration. The namespace name can include
                                  up to 1024 characters. The name is case-sensitive.
                                  The name can't include hyphens (-), tilde (~), greater
                                  than (>), less than (<), or slash (/). If you enter
                                  an existing namespace name or ARN, then that namespace
                                  will be used. Any namespace type is supported. The
                                  namespace must be in this account and this AWS Region.
                                  If you enter a new name, a CMAPlong namespace will
                                  be created. Amazon ECS creates a CMAP namespace
                                  with the 'API calls' method of instance discovery
                                  only. This instance discovery method is the 'HTTP'
                                  namespace type in the CLIlong. Other types of instance
                                  discovery aren't used by Service Connect. If you
                                  update the cluster with an empty string ``''`` for
                                  the namespace name, the cluster configuration for
                                  Service Connect is removed. Note that the namespace
                                  will remain in CMAP and must be deleted separately.
                                  For more information about CMAPlong, see [Working
                                  with Services](https://docs.aws.amazon.com/cloud-map/latest/dg/working-with-services.html)
                                  in the *Developer Guide*.
                          tags:
                            type: array
                            description: 'The metadata that you apply to the cluster
                              to help you categorize and organize them. Each tag consists
                              of a key and an optional value. You define both. The
                              following basic restrictions apply to tags:  +  Maximum
                              number of tags per resource - 50  +  For each resource,
                              each tag key must be unique, and each tag key can have
                              only one value.  +  Maximum key length - 128 Unicode
                              characters in UTF-8  +  Maximum value length - 256 Unicode
                              characters in UTF-8  +  If your tagging schema is used
                              across multiple services and resources, remember that
                              other services may have restrictions on allowed characters.
                              Generally allowed characters are: letters, numbers,
                              and spaces representable in UTF-8, and the following
                              characters: + - = . _ : / @.  +  Tag keys and values
                              are case-sensitive.  +  Do not use ``aws:``, ``AWS:``,
                              or any upper or lowercase combination of such as a prefix
                              for either keys or values as it is reserved for AWS
                              use. You cannot edit or delete tag keys or values with
                              this prefix. Tags with this prefix do not count against
                              your tags per resource limit.'
                            items:
                              type: object
                              description: Definition of Tag
[...]
