openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EfsFileSystems
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/efsFileSystems:
    get:
      operationId: EfsFileSystems_ListBySubscription
      tags:
      - EfsFileSystems
      description: List EfsFileSystem resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EfsFileSystem list operation.
                properties:
                  value:
                    type: array
                    description: The EfsFileSystem items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                availabilityZoneName:
                                  type: string
                                  description: For One Zone file systems, specify
                                    the AWS Availability Zone in which to create the
                                    file system. Use the format ``us-east-1a`` to
                                    specify the Availability Zone. For more information
                                    about One Zone file systems, see [EFS file system
                                    types](https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html#file-system-type)
                                    in the *Amazon EFS User Guide*.  One Zone file
                                    systems are not available in all Availability
                                    Zones in AWS-Regions where Amazon EFS is available.
                                backupPolicy:
                                  description: Use the ``BackupPolicy`` to turn automatic
                                    backups on or off for the file system. The backup
                                    policy turns automatic backups for the file system
                                    on or off.
                                  type: object
                                  properties:
                                    status:
                                      description: Set the backup policy status for
                                        the file system.  +   *ENABLED* - Turns automatic
                                        backups on for the file system.   +   *DISABLED*
                                        - Turns automatic backups off for the file
                                        system.
                                      type: string
                                      enum:
                                      - DISABLED
                                      - ENABLED
                                      x-ms-enum:
                                        name: BackupPolicyStatus
                                        modelAsString: true
                                        values:
                                        - name: DISABLED
                                          value: DISABLED
                                          description: BackupPolicyStatus enum DISABLED
                                        - name: ENABLED
                                          value: ENABLED
                                          description: BackupPolicyStatus enum ENABLED
                                bypassPolicyLockoutSafetyCheck:
                                  type: boolean
                                  description: (Optional) A boolean that specifies
                                    whether or not to bypass the ``FileSystemPolicy``
                                    lockout safety check. The lockout safety check
                                    determines whether the policy in the request will
                                    lock out, or prevent, the IAM principal that is
                                    making the request from making future ``PutFileSystemPolicy``
                                    requests on this file system. Set ``BypassPolicyLockoutSafetyCheck``
                                    to ``True`` only when you intend to prevent the
                                    IAM principal that is making the request from
                                    making subsequent ``PutFileSystemPolicy`` requests
                                    on this file system. The default value is ``False``.
                                encrypted:
                                  type: boolean
                                  description: A Boolean value that, if true, creates
                                    an encrypted file system. When creating an encrypted
                                    file system, you have the option of specifying
                                    a KmsKeyId for an existing kms-key-long. If you
                                    don't specify a kms-key, then the default kms-key
                                    for EFS, ``/aws/elasticfilesystem``, is used to
                                    protect the encrypted file system.
                                fileSystemId:
                                  type: string
                                  description: Property fileSystemId
                                fileSystemPolicy:
                                  description: The ``FileSystemPolicy`` for the EFS
                                    file system. A file system policy is an IAM resource
                                    policy used to control NFS access to an EFS file
                                    system. For more information, see [Using to control
                                    NFS access to Amazon EFS](https://docs.aws.amazon.com/efs/latest/ug/iam-access-control-nfs-efs.html)
                                    in the *Amazon EFS User Guide*.
                                fileSystemProtection:
                                  description: Describes the protection on the file
                                    system. Describes the protection on the file system.
                                  type: object
                                  properties:
                                    replicationOverwriteProtection:
                                      description: "The status of the file system's\
                                        \ replication overwrite protection.  +   ``ENABLED``\
                                        \ \u2013 The file system cannot be used as\
                                        \ the destination file system in a replication\
                                        \ configuration. The file system is writeable.\
                                        \ Replication overwrite protection is ``ENABLED``\
                                        \ by default.   +   ``DISABLED`` \u2013 The\
                                        \ file system can be used as the destination\
                                        \ file system in a replication configuration.\
                                        \ The file system is read-only and can only\
                                        \ be modified by EFS replication.  +   ``REPLICATING``\
                                        \ \u2013 The file system is being used as\
                                        \ the destination file system in a replication\
                                        \ configuration. The file system is read-only\
                                        \ and is only modified only by EFS replication.\
                                        \   If the replication configuration is deleted,\
                                        \ the file system's replication overwrite\
                                        \ protection is re-enabled, the file system\
                                        \ becomes writeable."
                                      type: string
                                      enum:
                                      - DISABLED
                                      - ENABLED
                                      x-ms-enum:
                                        name: FileSystemProtectionReplicationOverwriteProtection
                                        modelAsString: true
                                        values:
                                        - name: DISABLED
                                          value: DISABLED
                                          description: FileSystemProtectionReplicationOverwriteProtection
                                            enum DISABLED
                                        - name: ENABLED
                                          value: ENABLED
                                          description: FileSystemProtectionReplicationOverwriteProtection
                                            enum ENABLED
                                fileSystemTags:
                                  type: array
                                  description: Use to create one or more tags associated
                                    with the file system. Each tag is a user-defined
                                    key-value pair. Name your file system on creation
                                    by including a ``'Key':'Name','Value':'{value}'``
                                    key-value pair. Each key must be unique. For more
                                    information, see [Tagging resources](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html)
                                    in the *General Reference Guide*.
                                  items:
                                    type: object
                                    description: Definition of ElasticFileSystemTag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key (String). The key
                                          can't start with ``aws:``.
                                      value:
                                        type: string
                                        description: The value of the tag key.
                                  x-ms-identifiers: []
                                kmsKeyId:
                                  type: string
                                  description: 'The ID of the kms-key-long to be used
                                    to protect the encrypted file system. This parameter
                                    is only required if you want to use a nondefault
                                    kms-key. If this parameter is not specified, the
                                    default kms-key for EFS is used. This ID can be
                                    in one of the following formats:  +  Key ID -
                                    A unique identifier of the key, for example ``1234abcd-12ab-34cd-56ef-1234567890ab``.  +  ARN
                                    - An Amazon Resource Name (ARN) for the key, for
                                    example ``arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab``.  +  Key
                                    alias - A previously created display name for
                                    a key, for example ``alias/projectKey1``.  +  Key
                                    alias ARN - An ARN for a key alias, for example
                                    ``arn:aws:kms:us-west-2:444455556666:alias/projectKey1``.   If
                                    ``KmsKeyId`` is specified, the ``Encrypted`` parameter
                                    must be set to true.'
                                lifecyclePolicies:
                                  type: array
                                  description: 'An array of ``LifecyclePolicy`` objects
                                    that define the file system''s ``LifecycleConfiguration``
                                    object. A ``LifecycleConfiguration`` object informs
                                    Lifecycle management of the following:  +  When
                                    to move files in the file system from primary
                                    storage to IA storage.  + When to move files in
                                    the file system from primary storage or IA storage
                                    to Archive storage. +  When to move files that
                                    are in IA or Archive storage to primary storage.    EFS
                                    requires that each ``LifecyclePolicy`` object
                                    have only a single transition. This means that
                                    in a request body, ``LifecyclePolicies`` needs
                                    to be structured as an array of ``LifecyclePolicy``
                                    objects, one object for each transition, ``TransitionToIA``,
                                    ``TransitionToArchive`` ``TransitionToPrimaryStorageClass``.
                                    See the example requests in the following section
                                    for more information.'
                                  items:
                                    type: object
                                    description: Definition of LifecyclePolicy
                                    properties:
                                      transitionToArchive:
                                        type: string
                                        description: The number of days after files
                                          were last accessed in primary storage (the
                                          Standard storage class) at which to move
                                          them to Archive storage. Metadata operations
                                          such as listing the contents of a directory
                                          don't count as file access events.
                                      transitionToIA:
                                        type: string
                                        description: The number of days after files
                                          were last accessed in primary storage (the
                                          Standard storage class) at which to move
                                          them to Infrequent Access (IA) storage.
                                          Metadata operations such as listing the
                                          contents of a directory don't count as file
                                          access events.
                                      transitionToPrimaryStorageClass:
                                        type: string
                                        description: Whether to move files back to
                                          primary (Standard) storage after they are
                                          accessed in IA or Archive storage. Metadata
                                          operations such as listing the contents
                                          of a directory don't count as file access
                                          events.
                                  x-ms-identifiers: []
                                performanceMode:
                                  type: string
                                  description: The Performance mode of the file system.
                                    We recommend ``generalPurpose`` performance mode
                                    for all file systems. File systems using the ``maxIO``
                                    performance mode can scale to higher levels of
                                    aggregate throughput and operations per second
                                    with a tradeoff of slightly higher latencies for
                                    most file operations. The performance mode can't
                                    be changed after the file system has been created.
                                    The ``maxIO`` mode is not supported on One Zone
                                    file systems.  Due to the higher per-operation
                                    latencies with Max I/O, we recommend using General
                                    Purpose performance mode for all file systems.  Default
                                    is ``generalPurpose``.
                                provisionedThroughputInMibps:
                                  type: integer
                                  format: int32
                                  description: The throughput, measured in mebibytes
                                    per second (MiBps), that you want to provision
                                    for a file system that you're creating. Required
                                    if ``ThroughputMode`` is set to ``provisioned``.
                                    Valid values are 1-3414 MiBps, with the upper
                                    limit depending on Region. To increase this limit,
                                    contact SUP. For more information, see [Amazon
                                    EFS quotas that you can increase](https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits)
                                    in the *Amazon EFS User Guide*.
                                replicationConfiguration:
                                  description: Describes the replication configuration
                                    for a specific file system. Describes the replication
                                    configuration for a specific file system.
                                  type: object
                                  properties:
                                    destinations:
                                      type: array
                                      description: An array of destination objects.
                                        Only one destination object is supported.
                                      items:
                                        type: object
                                        description: Definition of ReplicationDestination
                                        properties:
                                          availabilityZoneName:
                                            type: string
                                            description: The AWS For One Zone file
                                              systems, the replication configuration
                                              must specify the Availability Zone in
                                              which the destination file system is
                                              located.  Use the format ``us-east-1a``
                                              to specify the Availability Zone. For
                                              more information about One Zone file
                                              systems, see [EFS file system types](https://docs.aws.amazon.com/efs/latest/ug/storage-classes.html)
                                              in the *Amazon EFS User Guide*.  One
                                              Zone file system type is not available
                                              in all Availability Zones in AWS-Regions
                                              where Amazon EFS is available.
                                          fileSystemId:
                                            type: string
                                            description: The ID of the destination
                                              Amazon EFS file system.
                                          kmsKeyId:
                                            type: string
                                            description: The ID of an kms-key-long
                                              used to protect the encrypted file system.
                                          region:
                                            type: string
                                            description: The AWS-Region in which the
                                              destination file system is located.  For
                                              One Zone file systems, the replication
                                              configuration must specify the AWS-Region
                                              in which the destination file system
                                              is located.
                                      x-ms-identifiers: []
                                throughputMode:
                                  type: string
                                  description: Specifies the throughput mode for the
                                    file system. The mode can be ``bursting``, ``provisioned``,
                                    or ``elastic``. If you set ``ThroughputMode``
                                    to ``provisioned``, you must also set a value
                                    for ``ProvisionedThroughputInMibps``. After you
                                    create the file system, you can decrease your
                                    file system's Provisioned throughput or change
                                    between the throughput modes, with certain time
                                    restrictions. For more information, see [Specifying
                                    throughput with provisioned mode](https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput)
                                    in the *Amazon EFS User Guide*.  Default is ``bursting``.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/efsFileSystems:
    get:
      operationId: EfsFileSystems_ListByResourceGroup
      tags:
      - EfsFileSystems
      description: List EfsFileSystem resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EfsFileSystem list operation.
                properties:
                  value:
                    type: array
                    description: The EfsFileSystem items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                availabilityZoneName:
                                  type: string
                                  description: For One Zone file systems, specify
                                    the AWS Availability Zone in which to create the
                                    file system. Use the format ``us-east-1a`` to
                                    specify the Availability Zone. For more information
                                    about One Zone file systems, see [EFS file system
                                    types](https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html#file-system-type)
                                    in the *Amazon EFS User Guide*.  One Zone file
                                    systems are not available in all Availability
                                    Zones in AWS-Regions where Amazon EFS is available.
                                backupPolicy:
                                  description: Use the ``BackupPolicy`` to turn automatic
                                    backups on or off for the file system. The backup
                                    policy turns automatic backups for the file system
                                    on or off.
                                  type: object
                                  properties:
                                    status:
                                      description: Set the backup policy status for
                                        the file system.  +   *ENABLED* - Turns automatic
                                        backups on for the file system.   +   *DISABLED*
                                        - Turns automatic backups off for the file
                                        system.
                                      type: string
                                      enum:
                                      - DISABLED
                                      - ENABLED
                                      x-ms-enum:
                                        name: BackupPolicyStatus
                                        modelAsString: true
                                        values:
                                        - name: DISABLED
                                          value: DISABLED
                                          description: BackupPolicyStatus enum DISABLED
                                        - name: ENABLED
                                          value: ENABLED
                                          description: BackupPolicyStatus enum ENABLED
                                bypassPolicyLockoutSafetyCheck:
                                  type: boolean
                                  description: (Optional) A boolean that specifies
                                    whether or not to bypass the ``FileSystemPolicy``
                                    lockout safety check. The lockout safety check
                                    determines whether the policy in the request will
                                    lock out, or prevent, the IAM principal that is
                                    making the request from making future ``PutFileSystemPolicy``
                                    requests on this file system. Set ``BypassPolicyLockoutSafetyCheck``
                                    to ``True`` only when you intend to prevent the
                                    IAM principal that is making the request from
                                    making subsequent ``PutFileSystemPolicy`` requests
                                    on this file system. The default value is ``False``.
                                encrypted:
                                  type: boolean
                                  description: A Boolean value that, if true, creates
                                    an encrypted file system. When creating an encrypted
                                    file system, you have the option of specifying
                                    a KmsKeyId for an existing kms-key-long. If you
                                    don't specify a kms-key, then the default kms-key
                                    for EFS, ``/aws/elasticfilesystem``, is used to
                                    protect the encrypted file system.
                                fileSystemId:
                                  type: string
                                  description: Property fileSystemId
                                fileSystemPolicy:
                                  description: The ``FileSystemPolicy`` for the EFS
                                    file system. A file system policy is an IAM resource
                                    policy used to control NFS access to an EFS file
                                    system. For more information, see [Using to control
                                    NFS access to Amazon EFS](https://docs.aws.amazon.com/efs/latest/ug/iam-access-control-nfs-efs.html)
                                    in the *Amazon EFS User Guide*.
                                fileSystemProtection:
                                  description: Describes the protection on the file
                                    system. Describes the protection on the file system.
                                  type: object
                                  properties:
                                    replicationOverwriteProtection:
                                      description: "The status of the file system's\
                                        \ replication overwrite protection.  +   ``ENABLED``\
                                        \ \u2013 The file system cannot be used as\
                                        \ the destination file system in a replication\
                                        \ configuration. The file system is writeable.\
                                        \ Replication overwrite protection is ``ENABLED``\
                                        \ by default.   +   ``DISABLED`` \u2013 The\
                                        \ file system can be used as the destination\
                                        \ file system in a replication configuration.\
                                        \ The file system is read-only and can only\
                                        \ be modified by EFS replication.  +   ``REPLICATING``\
                                        \ \u2013 The file system is being used as\
                                        \ the destination file system in a replication\
                                        \ configuration. The file system is read-only\
                                        \ and is only modified only by EFS replication.\
                                        \   If the replication configuration is deleted,\
                                        \ the file system's replication overwrite\
                                        \ protection is re-enabled, the file system\
                                        \ becomes writeable."
                                      type: string
                                      enum:
                                      - DISABLED
                                      - ENABLED
                                      x-ms-enum:
                                        name: FileSystemProtectionReplicationOverwriteProtection
                                        modelAsString: true
                                        values:
                                        - name: DISABLED
                                          value: DISABLED
                                          description: FileSystemProtectionReplicationOverwriteProtection
                                            enum DISABLED
                                        - name: ENABLED
                                          value: ENABLED
                                          description: FileSystemProtectionReplicationOverwriteProtection
                                            enum ENABLED
                                fileSystemTags:
                                  type: array
                                  description: Use to create one or more tags associated
                                    with the file system. Each tag is a user-defined
                                    key-value pair. Name your file system on creation
                                    by including a ``'Key':'Name','Value':'{value}'``
                                    key-value pair. Each key must be unique. For more
                                    information, see [Tagging resources](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html)
                                    in the *General Reference Guide*.
                                  items:
                                    type: object
                                    description: Definition of ElasticFileSystemTag
                                    properties:
                                      key:
                                        type: string
                                        description: The tag key (String). The key
                                          can't start with ``aws:``.
                                      value:
                                        type: string
                                        description: The value of the tag key.
                                  x-ms-identifiers: []
                                kmsKeyId:
                                  type: string
                                  description: 'The ID of the kms-key-long to be used
                                    to protect the encrypted file system. This parameter
                                    is only required if you want to use a nondefault
                                    kms-key. If this parameter is not specified, the
                                    default kms-key for EFS is used. This ID can be
                                    in one of the following formats:  +  Key ID -
                                    A unique identifier of the key, for example ``1234abcd-12ab-34cd-56ef-1234567890ab``.  +  ARN
                                    - An Amazon Resource Name (ARN) for the key, for
                                    example ``arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab``.  +  Key
                                    alias - A previously created display name for
                                    a key, for example ``alias/projectKey1``.  +  Key
                                    alias ARN - An ARN for a key alias, for example
                                    ``arn:aws:kms:us-west-2:444455556666:alias/projectKey1``.   If
                                    ``KmsKeyId`` is specified, the ``Encrypted`` parameter
                                    must be set to true.'
                                lifecyclePolicies:
                                  type: array
                                  description: 'An array of ``LifecyclePolicy`` objects
                                    that define the file system''s ``LifecycleConfiguration``
                                    object. A ``LifecycleConfiguration`` object informs
                                    Lifecycle management of the following:  +  When
                                    to move files in the file system from primary
                                    storage to IA storage.  + When to move files in
                                    the file system from primary storage or IA storage
                                    to Archive storage. +  When to move files that
                                    are in IA or Archive storage to primary storage.    EFS
                                    requires that each ``LifecyclePolicy`` object
                                    have only a single transition. This means that
                                    in a request body, ``LifecyclePolicies`` needs
                                    to be structured as an array of ``LifecyclePolicy``
                                    objects, one object for each transition, ``TransitionToIA``,
                                    ``TransitionToArchive`` ``TransitionToPrimaryStorageClass``.
                                    See the example requests in the following section
                                    for more information.'
                                  items:
                                    type: object
                                    description: Definition of LifecyclePolicy
                                    properties:
                                      transitionToArchive:
                                        type: string
                                        description: The number of days after files
                                          were last accessed in primary storage (the
                                          Standard storage class) at which to move
                                          them to Archive storage. Metadata operations
                                          such as listing the contents of a directory
                                          don't count as file access events.
                                      transitionToIA:
                                        type: string
                                        description: The number of days after files
                                          were last accessed in primary storage (the
                                          Standard storage class) at which to move
                                          them to Infrequent Access (IA) storage.
                                          Metadata operations such as listing the
                                          contents of a directory don't count as file
                                          access events.
                                      transitionToPrimaryStorageClass:
                                        type: string
                                        description: Whether to move files back to
                                          primary (Standard) storage after they are
                                          accessed in IA or Archive storage. Metadata
                                          operations such as listing the contents
                                          of a directory don't count as file access
                                          events.
                                  x-ms-identifiers: []
                                performanceMode:
                                  type: string
                                  description: The Performance mode of the file system.
                                    We recommend ``generalPurpose`` performance mode
                                    for all file systems. File systems using the ``maxIO``
                                    performance mode can scale to higher levels of
                                    aggregate throughput and operations per second
                                    with a tradeoff of slightly higher latencies for
                                    most file operations. The performance mode can't
                                    be changed after the file system has been created.
                                    The ``maxIO`` mode is not supported on One Zone
                                    file systems.  Due to the higher per-operation
                                    latencies with Max I/O, we recommend using General
                                    Purpose performance mode for all file systems.  Default
                                    is ``generalPurpose``.
                                provisionedThroughputInMibps:
                                  type: integer
                                  format: int32
                                  description: The throughput, measured in mebibytes
                                    per second (MiBps), that you want to provision
                                    for a file system that you're creating. Required
                                    if ``ThroughputMode`` is set to ``provisioned``.
                                    Valid values are 1-3414 MiBps, with the upper
                                    limit depending on Region. To increase this limit,
                                    contact SUP. For more information, see [Amazon
                                    EFS quotas that you can increase](https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits)
                                    in the *Amazon EFS User Guide*.
                                replicationConfiguration:
                                  description: Describes the replication configuration
                                    for a specific file system. Describes the replication
                                    configuration for a specific file system.
                                  type: object
                                  properties:
                                    destinations:
                                      type: array
                                      description: An array of destination objects.
                                        Only one destination object is supported.
                                      items:
                                        type: object
                                        description: Definition of ReplicationDestination
                                        properties:
                                          availabilityZoneName:
                                            type: string
                                            description: The AWS For One Zone file
                                              systems, the replication configuration
                                              must specify the Availability Zone in
                                              which the destination file system is
                                              located.  Use the format ``us-east-1a``
                                              to specify the Availability Zone. For
                                              more information about One Zone file
                                              systems, see [EFS file system types](https://docs.aws.amazon.com/efs/latest/ug/storage-classes.html)
                                              in the *Amazon EFS User Guide*.  One
                                              Zone file system type is not available
                                              in all Availability Zones in AWS-Regions
                                              where Amazon EFS is available.
                                          fileSystemId:
                                            type: string
                                            description: The ID of the destination
                                              Amazon EFS file system.
                                          kmsKeyId:
                                            type: string
                                            description: The ID of an kms-key-long
                                              used to protect the encrypted file system.
                                          region:
                                            type: string
                                            description: The AWS-Region in which the
                                              destination file system is located.  For
                                              One Zone file systems, the replication
                                              configuration must specify the AWS-Region
                                              in which the destination file system
                                              is located.
                                      x-ms-identifiers: []
                                throughputMode:
                                  type: string
                                  description: Specifies the throughput mode for the
                                    file system. The mode can be ``bursting``, ``provisioned``,
                                    or ``elastic``. If you set ``ThroughputMode``
                                    to ``provisioned``, you must also set a value
                                    for ``ProvisionedThroughputInMibps``. After you
                                    create the file system, you can decrease your
                                    file system's Provisioned throughput or change
                                    between the throughput modes, with certain time
                                    restrictions. For more information, see [Specifying
                                    throughput with provisioned mode](https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput)
                                    in the *Amazon EFS User Guide*.  Default is ``bursting``.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/efsFileSystems/{name}:
    get:
      operationId: EfsFileSystems_Get
      tags:
      - EfsFileSystems
      description: Get a EfsFileSystem
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EfsFileSystem
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: Property arn
                          availabilityZoneName:
                            type: string
                            description: For One Zone file systems, specify the AWS
                              Availability Zone in which to create the file system.
                              Use the format ``us-east-1a`` to specify the Availability
                              Zone. For more information about One Zone file systems,
                              see [EFS file system types](https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html#file-system-type)
                              in the *Amazon EFS User Guide*.  One Zone file systems
                              are not available in all Availability Zones in AWS-Regions
                              where Amazon EFS is available.
                          backupPolicy:
                            description: Use the ``BackupPolicy`` to turn automatic
                              backups on or off for the file system. The backup policy
                              turns automatic backups for the file system on or off.
                            type: object
                            properties:
                              status:
                                description: Set the backup policy status for the
                                  file system.  +   *ENABLED* - Turns automatic backups
                                  on for the file system.   +   *DISABLED* - Turns
                                  automatic backups off for the file system.
                                type: string
                                enum:
                                - DISABLED
                                - ENABLED
                                x-ms-enum:
                                  name: BackupPolicyStatus
                                  modelAsString: true
                                  values:
                                  - name: DISABLED
                                    value: DISABLED
                                    description: BackupPolicyStatus enum DISABLED
                                  - name: ENABLED
                                    value: ENABLED
                                    description: BackupPolicyStatus enum ENABLED
                          bypassPolicyLockoutSafetyCheck:
                            type: boolean
                            description: (Optional) A boolean that specifies whether
                              or not to bypass the ``FileSystemPolicy`` lockout safety
                              check. The lockout safety check determines whether the
                              policy in the request will lock out, or prevent, the
                              IAM principal that is making the request from making
                              future ``PutFileSystemPolicy`` requests on this file
                              system. Set ``BypassPolicyLockoutSafetyCheck`` to ``True``
                              only when you intend to prevent the IAM principal that
                              is making the request from making subsequent ``PutFileSystemPolicy``
                              requests on this file system. The default value is ``False``.
                          encrypted:
                            type: boolean
                            description: A Boolean value that, if true, creates an
                              encrypted file system. When creating an encrypted file
                              system, you have the option of specifying a KmsKeyId
                              for an existing kms-key-long. If you don't specify a
                              kms-key, then the default kms-key for EFS, ``/aws/elasticfilesystem``,
                              is used to protect the encrypted file system.
                          fileSystemId:
                            type: string
                            description: Property fileSystemId
                          fileSystemPolicy:
                            description: The ``FileSystemPolicy`` for the EFS file
                              system. A file system policy is an IAM resource policy
                              used to control NFS access to an EFS file system. For
                              more information, see [Using to control NFS access to
                              Amazon EFS](https://docs.aws.amazon.com/efs/latest/ug/iam-access-control-nfs-efs.html)
                              in the *Amazon EFS User Guide*.
                          fileSystemProtection:
                            description: Describes the protection on the file system.
                              Describes the protection on the file system.
                            type: object
                            properties:
                              replicationOverwriteProtection:
                                description: "The status of the file system's replication\
                                  \ overwrite protection.  +   ``ENABLED`` \u2013\
                                  \ The file system cannot be used as the destination\
                                  \ file system in a replication configuration. The\
                                  \ file system is writeable. Replication overwrite\
                                  \ protection is ``ENABLED`` by default.   +   ``DISABLED``\
                                  \ \u2013 The file system can be used as the destination\
                                  \ file system in a replication configuration. The\
                                  \ file system is read-only and can only be modified\
                                  \ by EFS replication.  +   ``REPLICATING`` \u2013\
                                  \ The file system is being used as the destination\
                                  \ file system in a replication configuration. The\
                                  \ file system is read-only and is only modified\
                                  \ only by EFS replication.   If the replication\
                                  \ configuration is deleted, the file system's replication\
                                  \ overwrite protection is re-enabled, the file system\
                                  \ becomes writeable."
                                type: string
                                enum:
                                - DISABLED
                                - ENABLED
                                x-ms-enum:
                                  name: FileSystemProtectionReplicationOverwriteProtection
                                  modelAsString: true
                                  values:
                                  - name: DISABLED
                                    value: DISABLED
                                    description: FileSystemProtectionReplicationOverwriteProtection
                                      enum DISABLED
                                  - name: ENABLED
                                    value: ENABLED
                                    description: FileSystemProtectionReplicationOverwriteProtection
                                      enum ENABLED
                          fileSystemTags:
                            type: array
                            description: Use to create one or more tags associated
                              with the file system. Each tag is a user-defined key-value
                              pair. Name your file system on creation by including
                              a ``'Key':'Name','Value':'{value}'`` key-value pair.
                              Each key must be unique. For more information, see [Tagging
                              resources](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html)
                              in the *General Reference Guide*.
                            items:
                              type: object
                              description: Definition of ElasticFileSystemTag
                              properties:
                                key:
                                  type: string
                                  description: The tag key (String). The key can't
                                    start with ``aws:``.
                                value:
                                  type: string
                                  description: The value of the tag key.
                            x-ms-identifiers: []
                          kmsKeyId:
                            type: string
                            description: 'The ID of the kms-key-long to be used to
                              protect the encrypted file system. This parameter is
                              only required if you want to use a nondefault kms-key.
                              If this parameter is not specified, the default kms-key
                              for EFS is used. This ID can be in one of the following
                              formats:  +  Key ID - A unique identifier of the key,
                              for example ``1234abcd-12ab-34cd-56ef-1234567890ab``.  +  ARN
                              - An Amazon Resource Name (ARN) for the key, for example
                              ``arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab``.  +  Key
                              alias - A previously created display name for a key,
                              for example ``alias/projectKey1``.  +  Key alias ARN
                              - An ARN for a key alias, for example ``arn:aws:kms:us-west-2:444455556666:alias/projectKey1``.   If
                              ``KmsKeyId`` is specified, the ``Encrypted`` parameter
                              must be set to true.'
                          lifecyclePolicies:
                            type: array
                            description: 'An array of ``LifecyclePolicy`` objects
                              that define the file system''s ``LifecycleConfiguration``
                              object. A ``LifecycleConfiguration`` object informs
                              Lifecycle management of the following:  +  When to move
                              files in the file system from primary storage to IA
                              storage.  + When to move files in the file system from
                              primary storage or IA storage to Archive storage. +  When
                              to move files that are in IA or Archive storage to primary
                              storage.    EFS requires that each ``LifecyclePolicy``
                              object have only a single transition. This means that
                              in a request body, ``LifecyclePolicies`` needs to be
                              structured as an array of ``LifecyclePolicy`` objects,
                              one object for each transition, ``TransitionToIA``,
                              ``TransitionToArchive`` ``TransitionToPrimaryStorageClass``.
                              See the example requests in the following section for
                              more information.'
                            items:
                              type: object
                              description: Definition of LifecyclePolicy
                              properties:
                                transitionToArchive:
                                  type: string
                                  description: The number of days after files were
                                    last accessed in primary storage (the Standard
                                    storage class) at which to move them to Archive
                                    storage. Metadata operations such as listing the
                                    contents of a directory don't count as file access
                                    events.
                                transitionToIA:
                                  type: string
                                  description: The number of days after files were
                                    last accessed in primary storage (the Standard
                                    storage class) at which to move them to Infrequent
                                    Access (IA) storage. Metadata operations such
                                    as listing the contents of a directory don't count
                                    as file access events.
                                transitionToPrimaryStorageClass:
                                  type: string
                                  description: Whether to move files back to primary
                                    (Standard) storage after they are accessed in
                                    IA or Archive storage. Metadata operations such
                                    as listing the contents of a directory don't count
                                    as file access events.
                            x-ms-identifiers: []
                          performanceMode:
                            type: string
                            description: The Performance mode of the file system.
                              We recommend ``generalPurpose`` performance mode for
                              all file systems. File systems using the ``maxIO`` performance
                              mode can scale to higher levels of aggregate throughput
                              and operations per second with a tradeoff of slightly
                              higher latencies for most file operations. The performance
                              mode can't be changed after the file system has been
                              created. The ``maxIO`` mode is not supported on One
                              Zone file systems.  Due to the higher per-operation
                              latencies with Max I/O, we recommend using General Purpose
                              performance mode for all file systems.  Default is ``generalPurpose``.
                          provisionedThroughputInMibps:
                            type: integer
                            format: int32
                            description: The throughput, measured in mebibytes per
                              second (MiBps), that you want to provision for a file
                              system that you're creating. Required if ``ThroughputMode``
                              is set to ``provisioned``. Valid values are 1-3414 MiBps,
                              with the upper limit depending on Region. To increase
                              this limit, contact SUP. For more information, see [Amazon
                              EFS quotas that you can increase](https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits)
                              in the *Amazon EFS User Guide*.
                          replicationConfiguration:
                            description: Describes the replication configuration for
                              a specific file system. Describes the replication configuration
                              for a specific file system.
                            type: object
                            properties:
                              destinations:
                                type: array
                                description: An array of destination objects. Only
                                  one destination object is supported.
                                items:
                                  type: object
                                  description: Definition of ReplicationDestination
                                  properties:
                                    availabilityZoneName:
                                      type: string
                                      description: The AWS For One Zone file systems,
                                        the replication configuration must specify
                                        the Availability Zone in which the destination
                                        file system is located.  Use the format ``us-east-1a``
                                        to specify the Availability Zone. For more
                                        information about One Zone file systems, see
                                        [EFS file system types](https://docs.aws.amazon.com/efs/latest/ug/storage-classes.html)
                                        in the *Amazon EFS User Guide*.  One Zone
                                        file system type is not available in all Availability
                                        Zones in AWS-Regions where Amazon EFS is available.
                                    fileSystemId:
                                      type: string
                                      description: The ID of the destination Amazon
                                        EFS file system.
                                    kmsKeyId:
                                      type: string
                                      description: The ID of an kms-key-long used
                                        to protect the encrypted file system.
                                    region:
                                      type: string
                                      description: The AWS-Region in which the destination
                                        file system is located.  For One Zone file
                                        systems, the replication configuration must
                                        specify the AWS-Region in which the destination
                                        file system is located.
                                x-ms-identifiers: []
                          throughputMode:
                            type: string
                            description: Specifies the throughput mode for the file
                              system. The mode can be ``bursting``, ``provisioned``,
                              or ``elastic``. If you set ``ThroughputMode`` to ``provisioned``,
                              you must also set a value for ``ProvisionedThroughputInMibps``.
                              After you create the file system, you can decrease your
                              file system's Provisioned throughput or change between
                              the throughput modes, with certain time restrictions.
                              For more information, see [Specifying throughput with
                              provisioned mode](https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput)
                              in the *Amazon EFS User Guide*.  Default is ``bursting``.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
[...]
