openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EksNodegroups
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/eksNodegroups:
    get:
      operationId: EksNodegroups_ListBySubscription
      tags:
      - EksNodegroups
      description: List EksNodegroup resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EksNodegroup list operation.
                properties:
                  value:
                    type: array
                    description: The EksNodegroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                amiType:
                                  type: string
                                  description: The AMI type for your node group.
                                arn:
                                  type: string
                                  description: Property arn
                                capacityType:
                                  type: string
                                  description: The capacity type of your managed node
                                    group.
                                clusterName:
                                  type: string
                                  description: Name of the cluster to create the node
                                    group in.
                                diskSize:
                                  type: integer
                                  format: int32
                                  description: The root device disk size (in GiB)
                                    for your node group instances.
                                forceUpdateEnabled:
                                  type: boolean
                                  description: Force the update if the existing node
                                    group's pods are unable to be drained due to a
                                    pod disruption budget issue.
                                id:
                                  type: string
                                  description: Property id
                                instanceTypes:
                                  type: array
                                  description: Specify the instance types for a node
                                    group.
                                  items:
                                    type: string
                                labels:
                                  type: object
                                  description: The Kubernetes labels to be applied
                                    to the nodes in the node group when they are created.
                                  additionalProperties:
                                    type: string
                                launchTemplate:
                                  description: An object representing a node group's
                                    launch template specification. An object representing
                                    a launch template specification for AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Property id
                                    name:
                                      type: string
                                      description: Property name
                                    version:
                                      type: string
                                      description: Property version
                                nodeRole:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    IAM role to associate with your node group.
                                nodegroupName:
                                  type: string
                                  description: The unique name to give your node group.
                                releaseVersion:
                                  type: string
                                  description: The AMI version of the Amazon EKS-optimized
                                    AMI to use with your node group.
                                remoteAccess:
                                  description: The remote access (SSH) configuration
                                    to use with your node group. An object representing
                                    a remote access configuration specification for
                                    AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    ec2SshKey:
                                      type: string
                                      description: Property ec2SshKey
                                    sourceSecurityGroups:
                                      type: array
                                      description: Property sourceSecurityGroups
                                      items:
                                        type: string
                                scalingConfig:
                                  description: The scaling configuration details for
                                    the Auto Scaling group that is created for your
                                    node group. An object representing a auto scaling
                                    group specification for AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    desiredSize:
                                      type: integer
                                      format: int32
                                      description: Property desiredSize
                                    maxSize:
                                      type: integer
                                      format: int32
                                      description: Property maxSize
                                    minSize:
                                      type: integer
                                      format: int32
                                      description: Property minSize
                                subnets:
                                  type: array
                                  description: The subnets to use for the Auto Scaling
                                    group that is created for your node group.
                                  items:
                                    type: string
                                tags:
                                  type: object
                                  description: The metadata, as key-value pairs, to
                                    apply to the node group to assist with categorization
                                    and organization. Follows same schema as Labels
                                    for consistency.
                                  additionalProperties:
                                    type: string
                                taints:
                                  type: array
                                  description: The Kubernetes taints to be applied
                                    to the nodes in the node group when they are created.
                                  items:
                                    type: object
                                    description: Definition of Taint
                                    properties:
                                      effect:
                                        type: string
                                        description: Property effect
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                updateConfig:
                                  description: The node group update configuration.
                                    The node group update configuration.
                                  type: object
                                  properties:
                                    maxUnavailable:
                                      type: integer
                                      format: int32
                                      description: The maximum number of nodes unavailable
                                        at once during a version update. Nodes will
                                        be updated in parallel. This value or maxUnavailablePercentage
                                        is required to have a value.The maximum number
                                        is 100.
                                    maxUnavailablePercentage:
                                      type: integer
                                      format: int32
                                      description: The maximum percentage of nodes
                                        unavailable during a version update. This
                                        percentage of nodes will be updated in parallel,
                                        up to 100 nodes at once. This value or maxUnavailable
                                        is required to have a value.
                                version:
                                  type: string
                                  description: The Kubernetes version to use for your
                                    managed nodes.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/eksNodegroups:
    get:
      operationId: EksNodegroups_ListByResourceGroup
      tags:
      - EksNodegroups
      description: List EksNodegroup resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EksNodegroup list operation.
                properties:
                  value:
                    type: array
                    description: The EksNodegroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                amiType:
                                  type: string
                                  description: The AMI type for your node group.
                                arn:
                                  type: string
                                  description: Property arn
                                capacityType:
                                  type: string
                                  description: The capacity type of your managed node
                                    group.
                                clusterName:
                                  type: string
                                  description: Name of the cluster to create the node
                                    group in.
                                diskSize:
                                  type: integer
                                  format: int32
                                  description: The root device disk size (in GiB)
                                    for your node group instances.
                                forceUpdateEnabled:
                                  type: boolean
                                  description: Force the update if the existing node
                                    group's pods are unable to be drained due to a
                                    pod disruption budget issue.
                                id:
                                  type: string
                                  description: Property id
                                instanceTypes:
                                  type: array
                                  description: Specify the instance types for a node
                                    group.
                                  items:
                                    type: string
                                labels:
                                  type: object
                                  description: The Kubernetes labels to be applied
                                    to the nodes in the node group when they are created.
                                  additionalProperties:
                                    type: string
                                launchTemplate:
                                  description: An object representing a node group's
                                    launch template specification. An object representing
                                    a launch template specification for AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Property id
                                    name:
                                      type: string
                                      description: Property name
                                    version:
                                      type: string
                                      description: Property version
                                nodeRole:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    IAM role to associate with your node group.
                                nodegroupName:
                                  type: string
                                  description: The unique name to give your node group.
                                releaseVersion:
                                  type: string
                                  description: The AMI version of the Amazon EKS-optimized
                                    AMI to use with your node group.
                                remoteAccess:
                                  description: The remote access (SSH) configuration
                                    to use with your node group. An object representing
                                    a remote access configuration specification for
                                    AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    ec2SshKey:
                                      type: string
                                      description: Property ec2SshKey
                                    sourceSecurityGroups:
                                      type: array
                                      description: Property sourceSecurityGroups
                                      items:
                                        type: string
                                scalingConfig:
                                  description: The scaling configuration details for
                                    the Auto Scaling group that is created for your
                                    node group. An object representing a auto scaling
                                    group specification for AWS EKS Nodegroup.
                                  type: object
                                  properties:
                                    desiredSize:
                                      type: integer
                                      format: int32
                                      description: Property desiredSize
                                    maxSize:
                                      type: integer
                                      format: int32
                                      description: Property maxSize
                                    minSize:
                                      type: integer
                                      format: int32
                                      description: Property minSize
                                subnets:
                                  type: array
                                  description: The subnets to use for the Auto Scaling
                                    group that is created for your node group.
                                  items:
                                    type: string
                                tags:
                                  type: object
                                  description: The metadata, as key-value pairs, to
                                    apply to the node group to assist with categorization
                                    and organization. Follows same schema as Labels
                                    for consistency.
                                  additionalProperties:
                                    type: string
                                taints:
                                  type: array
                                  description: The Kubernetes taints to be applied
                                    to the nodes in the node group when they are created.
                                  items:
                                    type: object
                                    description: Definition of Taint
                                    properties:
                                      effect:
                                        type: string
                                        description: Property effect
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                updateConfig:
                                  description: The node group update configuration.
                                    The node group update configuration.
                                  type: object
                                  properties:
                                    maxUnavailable:
                                      type: integer
                                      format: int32
                                      description: The maximum number of nodes unavailable
                                        at once during a version update. Nodes will
                                        be updated in parallel. This value or maxUnavailablePercentage
                                        is required to have a value.The maximum number
                                        is 100.
                                    maxUnavailablePercentage:
                                      type: integer
                                      format: int32
                                      description: The maximum percentage of nodes
                                        unavailable during a version update. This
                                        percentage of nodes will be updated in parallel,
                                        up to 100 nodes at once. This value or maxUnavailable
                                        is required to have a value.
                                version:
                                  type: string
                                  description: The Kubernetes version to use for your
                                    managed nodes.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/eksNodegroups/{name}:
    get:
      operationId: EksNodegroups_Get
      tags:
      - EksNodegroups
      description: Get a EksNodegroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EksNodegroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          amiType:
                            type: string
                            description: The AMI type for your node group.
                          arn:
                            type: string
                            description: Property arn
                          capacityType:
                            type: string
                            description: The capacity type of your managed node group.
                          clusterName:
                            type: string
                            description: Name of the cluster to create the node group
                              in.
                          diskSize:
                            type: integer
                            format: int32
                            description: The root device disk size (in GiB) for your
                              node group instances.
                          forceUpdateEnabled:
                            type: boolean
                            description: Force the update if the existing node group's
                              pods are unable to be drained due to a pod disruption
                              budget issue.
                          id:
                            type: string
                            description: Property id
                          instanceTypes:
                            type: array
                            description: Specify the instance types for a node group.
                            items:
                              type: string
                          labels:
                            type: object
                            description: The Kubernetes labels to be applied to the
                              nodes in the node group when they are created.
                            additionalProperties:
                              type: string
                          launchTemplate:
                            description: An object representing a node group's launch
                              template specification. An object representing a launch
                              template specification for AWS EKS Nodegroup.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Property id
                              name:
                                type: string
                                description: Property name
                              version:
                                type: string
                                description: Property version
                          nodeRole:
                            type: string
                            description: The Amazon Resource Name (ARN) of the IAM
                              role to associate with your node group.
                          nodegroupName:
                            type: string
                            description: The unique name to give your node group.
                          releaseVersion:
                            type: string
                            description: The AMI version of the Amazon EKS-optimized
                              AMI to use with your node group.
                          remoteAccess:
                            description: The remote access (SSH) configuration to
                              use with your node group. An object representing a remote
                              access configuration specification for AWS EKS Nodegroup.
                            type: object
                            properties:
                              ec2SshKey:
                                type: string
                                description: Property ec2SshKey
                              sourceSecurityGroups:
                                type: array
                                description: Property sourceSecurityGroups
                                items:
                                  type: string
                          scalingConfig:
                            description: The scaling configuration details for the
                              Auto Scaling group that is created for your node group.
                              An object representing a auto scaling group specification
                              for AWS EKS Nodegroup.
                            type: object
                            properties:
                              desiredSize:
                                type: integer
                                format: int32
                                description: Property desiredSize
                              maxSize:
                                type: integer
                                format: int32
                                description: Property maxSize
                              minSize:
                                type: integer
                                format: int32
                                description: Property minSize
                          subnets:
                            type: array
                            description: The subnets to use for the Auto Scaling group
                              that is created for your node group.
                            items:
                              type: string
                          tags:
                            type: object
                            description: The metadata, as key-value pairs, to apply
                              to the node group to assist with categorization and
                              organization. Follows same schema as Labels for consistency.
                            additionalProperties:
                              type: string
                          taints:
                            type: array
                            description: The Kubernetes taints to be applied to the
                              nodes in the node group when they are created.
                            items:
                              type: object
                              description: Definition of Taint
                              properties:
                                effect:
                                  type: string
                                  description: Property effect
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          updateConfig:
                            description: The node group update configuration. The
                              node group update configuration.
                            type: object
                            properties:
                              maxUnavailable:
                                type: integer
                                format: int32
                                description: The maximum number of nodes unavailable
                                  at once during a version update. Nodes will be updated
                                  in parallel. This value or maxUnavailablePercentage
                                  is required to have a value.The maximum number is
                                  100.
                              maxUnavailablePercentage:
                                type: integer
                                format: int32
                                description: The maximum percentage of nodes unavailable
                                  during a version update. This percentage of nodes
                                  will be updated in parallel, up to 100 nodes at
                                  once. This value or maxUnavailable is required to
                                  have a value.
                          version:
                            type: string
                            description: The Kubernetes version to use for your managed
                              nodes.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: EksNodegroups_CreateOrReplace
      tags:
      - EksNodegroups
      description: Create a EksNodegroup. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of EksNodegroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        amiType:
                          type: string
                          description: The AMI type for your node group.
                        arn:
                          type: string
                          description: Property arn
                        capacityType:
                          type: string
                          description: The capacity type of your managed node group.
                        clusterName:
                          type: string
                          description: Name of the cluster to create the node group
                            in.
                        diskSize:
                          type: integer
                          format: int32
                          description: The root device disk size (in GiB) for your
                            node group instances.
                        forceUpdateEnabled:
                          type: boolean
                          description: Force the update if the existing node group's
                            pods are unable to be drained due to a pod disruption
                            budget issue.
                        id:
                          type: string
                          description: Property id
                        instanceTypes:
                          type: array
                          description: Specify the instance types for a node group.
                          items:
                            type: string
                        labels:
                          type: object
                          description: The Kubernetes labels to be applied to the
                            nodes in the node group when they are created.
                          additionalProperties:
                            type: string
                        launchTemplate:
                          description: An object representing a node group's launch
                            template specification. An object representing a launch
                            template specification for AWS EKS Nodegroup.
                          type: object
                          properties:
                            id:
                              type: string
                              description: Property id
                            name:
                              type: string
                              description: Property name
                            version:
                              type: string
                              description: Property version
                        nodeRole:
                          type: string
                          description: The Amazon Resource Name (ARN) of the IAM role
                            to associate with your node group.
                        nodegroupName:
                          type: string
                          description: The unique name to give your node group.
                        releaseVersion:
                          type: string
                          description: The AMI version of the Amazon EKS-optimized
                            AMI to use with your node group.
                        remoteAccess:
                          description: The remote access (SSH) configuration to use
                            with your node group. An object representing a remote
                            access configuration specification for AWS EKS Nodegroup.
                          type: object
                          properties:
                            ec2SshKey:
                              type: string
                              description: Property ec2SshKey
                            sourceSecurityGroups:
                              type: array
                              description: Property sourceSecurityGroups
                              items:
                                type: string
                        scalingConfig:
                          description: The scaling configuration details for the Auto
                            Scaling group that is created for your node group. An
                            object representing a auto scaling group specification
                            for AWS EKS Nodegroup.
                          type: object
                          properties:
                            desiredSize:
                              type: integer
                              format: int32
                              description: Property desiredSize
                            maxSize:
                              type: integer
                              format: int32
                              description: Property maxSize
                            minSize:
                              type: integer
                              format: int32
                              description: Property minSize
                        subnets:
                          type: array
                          description: The subnets to use for the Auto Scaling group
                            that is created for your node group.
                          items:
                            type: string
                        tags:
                          type: object
                          description: The metadata, as key-value pairs, to apply
                            to the node group to assist with categorization and organization.
                            Follows same schema as Labels for consistency.
                          additionalProperties:
                            type: string
                        taints:
                          type: array
                          description: The Kubernetes taints to be applied to the
                            nodes in the node group when they are created.
                          items:
                            type: object
                            description: Definition of Taint
                            properties:
                              effect:
                                type: string
                                description: Property effect
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                        updateConfig:
                          description: The node group update configuration. The node
                            group update configuration.
                          type: object
                          properties:
                            maxUnavailable:
                              type: integer
                              format: int32
                              description: The maximum number of nodes unavailable
                                at once during a version update. Nodes will be updated
                                in parallel. This value or maxUnavailablePercentage
                                is required to have a value.The maximum number is
                                100.
                            maxUnavailablePercentage:
                              type: integer
                              format: int32
                              description: The maximum percentage of nodes unavailable
                                during a version update. This percentage of nodes
                                will be updated in parallel, up to 100 nodes at once.
                                This value or maxUnavailable is required to have a
                                value.
                        version:
                          type: string
                          description: The Kubernetes version to use for your managed
                            nodes.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'EksNodegroup' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          amiType:
                            type: string
                            description: The AMI type for your node group.
                          arn:
                            type: string
                            description: Property arn
                          capacityType:
                            type: string
                            description: The capacity type of your managed node group.
                          clusterName:
                            type: string
                            description: Name of the cluster to create the node group
                              in.
                          diskSize:
                            type: integer
                            format: int32
                            description: The root device disk size (in GiB) for your
                              node group instances.
                          forceUpdateEnabled:
                            type: boolean
                            description: Force the update if the existing node group's
                              pods are unable to be drained due to a pod disruption
                              budget issue.
                          id:
                            type: string
                            description: Property id
                          instanceTypes:
                            type: array
                            description: Specify the instance types for a node group.
                            items:
                              type: string
                          labels:
                            type: object
                            description: The Kubernetes labels to be applied to the
                              nodes in the node group when they are created.
                            additionalProperties:
                              type: string
                          launchTemplate:
                            description: An object representing a node group's launch
                              template specification. An object representing a launch
                              template specification for AWS EKS Nodegroup.
                            type: object
                            properties:
                              id:
                                type: string
                                description: Property id
                              name:
                                type: string
                                description: Property name
                              version:
                                type: string
                                description: Property version
                          nodeRole:
                            type: string
                            description: The Amazon Resource Name (ARN) of the IAM
                              role to associate with your node group.
                          nodegroupName:
                            type: string
                            description: The unique name to give your node group.
                          releaseVersion:
                            type: string
                            description: The AMI version of the Amazon EKS-optimized
                              AMI to use with your node group.
                          remoteAccess:
                            description: The remote access (SSH) configuration to
                              use with your node group. An object representing a remote
                              access configuration specification for AWS EKS Nodegroup.
                            type: object
                            properties:
                              ec2SshKey:
                                type: string
                                description: Property ec2SshKey
                              sourceSecurityGroups:
                                type: array
                                description: Property sourceSecurityGroups
                                items:
                                  type: string
                          scalingConfig:
                            description: The scaling configuration details for the
                              Auto Scaling group that is created for your node group.
                              An object representing a auto scaling group specification
                              for AWS EKS Nodegroup.
                            type: object
                            properties:
                              desiredSize:
                                type: integer
                                format: int32
                                description: Property desiredSize
                              maxSize:
                                type: integer
                                format: int32
                                description: Property maxSize
                              minSize:
                                type: integer
                                format: int32
                                description: Property minSize
                          subnets:
                            type: array
                            description: The subnets to use for the Auto Scaling group
                              that is created for your node group.
                            items:
                              type: string
                          tags:
                            type: object
                            description: The metadata, as key-value pairs, to apply
                              to the node group to assist with categorization and
                              organization. Follows same schema as Labels for consistency.
                            additionalProperties:
                              type: string
                          taints:
                            type: array
                            description: The Kubernetes taints to be applied to the
                              nodes in the node group when they are created.
                            items:
                              type: object
                              description: Definition of Taint
                              properties:
                                effect:
                                  type: string
                                  description: Property effect
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                          updateConfig:
                            description: The node group update configuration. The
                              node group update configuration.
                            type: object
                            properties:
                              maxUnavailable:
                                type: integer
                                format: int32
                                description: The maximum number of nodes unavailable
                                  at once during a version update. Nodes will be updated
                                  in parallel. This value or maxUnavailablePercentage
                                  is required to have a value.The maximum number is
                                  100.
                              maxUnavailablePercentage:
                                type: integer
                                format: int32
                                description: The maximum percentage of nodes unavailable
                                  during a version update. This percentage of nodes
                                  will be updated in parallel, up to 100 nodes at
                                  once. This value or maxUnavailable is required to
                                  have a value.
                          version:
                            type: string
                            description: The Kubernetes version to use for your managed
                              nodes.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'EksNodegroup' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
[...]
