openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ElasticLoadBalancingv2TargetHealthDescriptions
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetHealthDescriptions:
    get:
      operationId: ElasticLoadBalancingv2TargetHealthDescriptions_ListBySubscription
      tags:
      - ElasticLoadBalancingv2TargetHealthDescriptions
      description: List ElasticLoadBalancingv2TargetHealthDescription resources by
        subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingv2TargetHealthDescription
                  list operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingv2TargetHealthDescription
                      items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                anomalyDetection:
                                  description: <p>The anomaly detection result for
                                    the target.</p> <p>If no anomalies were detected,
                                    the result is <code>normal</code>.</p> <p>If anomalies
                                    were detected, the result is <code>anomalous</code>.</p>
                                  type: object
                                  properties:
                                    mitigationInEffect:
                                      description: <p>Indicates whether anomaly mitigation
                                        is in progress.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - 'no'
                                          - 'yes'
                                          x-ms-enum:
                                            name: MitigationInEffectEnum
                                            modelAsString: true
                                            values:
                                            - name: 'No'
                                              value: 'no'
                                              description: MitigationInEffectEnum
                                                enum no
                                            - name: 'Yes'
                                              value: 'yes'
                                              description: MitigationInEffectEnum
                                                enum yes
                                    result:
                                      description: <p>The latest anomaly detection
                                        result.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - anomalous
                                          - normal
                                          x-ms-enum:
                                            name: AnomalyResultEnum
                                            modelAsString: true
                                            values:
                                            - name: Anomalous
                                              value: anomalous
                                              description: AnomalyResultEnum enum
                                                anomalous
                                            - name: Normal
                                              value: normal
                                              description: AnomalyResultEnum enum
                                                normal
                                healthCheckPort:
                                  type: string
                                  description: <p>The port to use to connect with
                                    the target.</p>
                                target:
                                  description: <p>The description of the target.</p>
                                  type: object
                                  properties:
                                    availabilityZone:
                                      type: string
                                      description: <p>An Availability Zone or <code>all</code>.
                                        This determines whether the target receives
                                        traffic from the load balancer nodes in the
                                        specified Availability Zone or from all enabled
                                        Availability Zones for the load balancer.</p>
                                        <p>For Application Load Balancer target groups,
                                        the specified Availability Zone value is only
                                        applicable when cross-zone load balancing
                                        is off. Otherwise the parameter is ignored
                                        and treated as <code>all</code>.</p> <p>This
                                        parameter is not supported if the target type
                                        of the target group is <code>instance</code>
                                        or <code>alb</code>.</p> <p>If the target
                                        type is <code>ip</code> and the IP address
                                        is in a subnet of the VPC for the target group,
                                        the Availability Zone is automatically detected
                                        and this parameter is optional. If the IP
                                        address is outside the VPC, this parameter
                                        is required.</p> <p>For Application Load Balancer
                                        target groups with cross-zone load balancing
                                        off, if the target type is <code>ip</code>
                                        and the IP address is outside of the VPC for
                                        the target group, this should be an Availability
                                        Zone inside the VPC for the target group.</p>
                                        <p>If the target type is <code>lambda</code>,
                                        this parameter is optional and the only supported
                                        value is <code>all</code>.</p>
                                    id:
                                      type: string
                                      description: <p>The ID of the target. If the
                                        target type of the target group is <code>instance</code>,
                                        specify an instance ID. If the target type
                                        is <code>ip</code>, specify an IP address.
                                        If the target type is <code>lambda</code>,
                                        specify the ARN of the Lambda function. If
                                        the target type is <code>alb</code>, specify
                                        the ARN of the Application Load Balancer target.
                                        </p>
                                    port:
                                      type: integer
                                      format: int32
                                      description: <p>The port on which the target
                                        is listening. If the target group protocol
                                        is GENEVE, the supported port is 6081. If
                                        the target type is <code>alb</code>, the targeted
                                        Application Load Balancer must have at least
                                        one listener whose port matches the target
                                        group port. This parameter is not used if
                                        the target is a Lambda function.</p>
                                targetHealth:
                                  description: <p>The health information for the target.</p>
                                  type: object
                                  properties:
                                    description:
                                      type: string
                                      description: <p>A description of the target
                                        health that provides additional details. If
                                        the state is <code>healthy</code>, a description
                                        is not provided.</p>
                                    reason:
                                      description: <p>The reason code.</p> <p>If the
                                        target state is <code>healthy</code>, a reason
                                        code is not provided.</p> <p>If the target
                                        state is <code>initial</code>, the reason
                                        code can be one of the following values:</p>
                                        <ul> <li> <p> <code>Elb.RegistrationInProgress</code>
                                        - The target is in the process of being registered
                                        with the load balancer.</p> </li> <li> <p>
                                        <code>Elb.InitialHealthChecking</code> - The
                                        load balancer is still sending the target
                                        the minimum number of health checks required
                                        to determine its health status.</p> </li>
                                        </ul> <p>If the target state is <code>unhealthy</code>,
                                        the reason code can be one of the following
                                        values:</p> <ul> <li> <p> <code>Target.ResponseCodeMismatch</code>
                                        - The health checks did not return an expected
                                        HTTP code. Applies only to Application Load
                                        Balancers and Gateway Load Balancers.</p>
                                        </li> <li> <p> <code>Target.Timeout</code>
                                        - The health check requests timed out. Applies
                                        only to Application Load Balancers and Gateway
                                        Load Balancers.</p> </li> <li> <p> <code>Target.FailedHealthChecks</code>
                                        - The load balancer received an error while
                                        establishing a connection to the target or
                                        the target response was malformed.</p> </li>
                                        <li> <p> <code>Elb.InternalError</code> -
                                        The health checks failed due to an internal
                                        error. Applies only to Application Load Balancers.</p>
                                        </li> </ul> <p>If the target state is <code>unused</code>,
                                        the reason code can be one of the following
                                        values:</p> <ul> <li> <p> <code>Target.NotRegistered</code>
                                        - The target is not registered with the target
                                        group.</p> </li> <li> <p> <code>Target.NotInUse</code>
                                        - The target group is not used by any load
                                        balancer or the target is in an Availability
                                        Zone that is not enabled for its load balancer.</p>
                                        </li> <li> <p> <code>Target.InvalidState</code>
                                        - The target is in the stopped or terminated
                                        state.</p> </li> <li> <p> <code>Target.IpUnusable</code>
                                        - The target IP address is reserved for use
                                        by a load balancer.</p> </li> </ul> <p>If
                                        the target state is <code>draining</code>,
                                        the reason code can be the following value:</p>
                                        <ul> <li> <p> <code>Target.DeregistrationInProgress</code>
                                        - The target is in the process of being deregistered
                                        and the deregistration delay period has not
                                        expired.</p> </li> </ul> <p>If the target
                                        state is <code>unavailable</code>, the reason
                                        code can be the following value:</p> <ul>
                                        <li> <p> <code>Target.HealthCheckDisabled</code>
                                        - Health checks are disabled for the target
                                        group. Applies only to Application Load Balancers.</p>
                                        </li> <li> <p> <code>Elb.InternalError</code>
                                        - Target health is unavailable due to an internal
                                        error. Applies only to Network Load Balancers.</p>
                                        </li> </ul>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - Elb.InitialHealthChecking
                                          - Elb.InternalError
                                          - Elb.RegistrationInProgress
                                          - Target.DeregistrationInProgress
                                          - Target.FailedHealthChecks
                                          - Target.HealthCheckDisabled
                                          - Target.InvalidState
                                          - Target.IpUnusable
                                          - Target.NotInUse
                                          - Target.NotRegistered
                                          - Target.ResponseCodeMismatch
                                          - Target.Timeout
                                          x-ms-enum:
                                            name: TargetHealthReasonEnum
                                            modelAsString: true
                                            values:
                                            - name: ElbInitialHealthChecking
                                              value: Elb.InitialHealthChecking
                                              description: TargetHealthReasonEnum
                                                enum Elb.InitialHealthChecking
                                            - name: ElbInternalError
                                              value: Elb.InternalError
                                              description: TargetHealthReasonEnum
                                                enum Elb.InternalError
                                            - name: ElbRegistrationInProgress
                                              value: Elb.RegistrationInProgress
                                              description: TargetHealthReasonEnum
                                                enum Elb.RegistrationInProgress
                                            - name: TargetDeregistrationInProgress
                                              value: Target.DeregistrationInProgress
                                              description: TargetHealthReasonEnum
                                                enum Target.DeregistrationInProgress
                                            - name: TargetFailedHealthChecks
                                              value: Target.FailedHealthChecks
                                              description: TargetHealthReasonEnum
                                                enum Target.FailedHealthChecks
                                            - name: TargetHealthCheckDisabled
                                              value: Target.HealthCheckDisabled
                                              description: TargetHealthReasonEnum
                                                enum Target.HealthCheckDisabled
                                            - name: TargetInvalidState
                                              value: Target.InvalidState
                                              description: TargetHealthReasonEnum
                                                enum Target.InvalidState
                                            - name: TargetIpUnusable
                                              value: Target.IpUnusable
                                              description: TargetHealthReasonEnum
                                                enum Target.IpUnusable
                                            - name: TargetNotInUse
                                              value: Target.NotInUse
                                              description: TargetHealthReasonEnum
                                                enum Target.NotInUse
                                            - name: TargetNotRegistered
                                              value: Target.NotRegistered
                                              description: TargetHealthReasonEnum
                                                enum Target.NotRegistered
                                            - name: TargetResponseCodeMismatch
                                              value: Target.ResponseCodeMismatch
                                              description: TargetHealthReasonEnum
                                                enum Target.ResponseCodeMismatch
                                            - name: TargetTimeout
                                              value: Target.Timeout
                                              description: TargetHealthReasonEnum
                                                enum Target.Timeout
                                    state:
                                      description: <p>The state of the target.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - draining
                                          - healthy
                                          - initial
                                          - unavailable
                                          - unhealthy
                                          - unhealthy.draining
                                          - unused
                                          x-ms-enum:
                                            name: TargetHealthStateEnum
                                            modelAsString: true
                                            values:
                                            - name: Draining
                                              value: draining
                                              description: TargetHealthStateEnum enum
                                                draining
                                            - name: Healthy
                                              value: healthy
                                              description: TargetHealthStateEnum enum
                                                healthy
                                            - name: Initial
                                              value: initial
                                              description: TargetHealthStateEnum enum
                                                initial
                                            - name: Unavailable
                                              value: unavailable
                                              description: TargetHealthStateEnum enum
                                                unavailable
                                            - name: Unhealthy
                                              value: unhealthy
                                              description: TargetHealthStateEnum enum
                                                unhealthy
                                            - name: UnhealthyDraining
                                              value: unhealthy.draining
                                              description: TargetHealthStateEnum enum
                                                unhealthy.draining
                                            - name: Unused
                                              value: unused
                                              description: TargetHealthStateEnum enum
                                                unused
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetHealthDescriptions
  : get:
      operationId: ElasticLoadBalancingv2TargetHealthDescriptions_ListByResourceGroup
      tags:
      - ElasticLoadBalancingv2TargetHealthDescriptions
      description: List ElasticLoadBalancingv2TargetHealthDescription resources by
        resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingv2TargetHealthDescription
                  list operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingv2TargetHealthDescription
                      items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                anomalyDetection:
                                  description: <p>The anomaly detection result for
                                    the target.</p> <p>If no anomalies were detected,
                                    the result is <code>normal</code>.</p> <p>If anomalies
                                    were detected, the result is <code>anomalous</code>.</p>
                                  type: object
                                  properties:
                                    mitigationInEffect:
                                      description: <p>Indicates whether anomaly mitigation
                                        is in progress.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - 'no'
                                          - 'yes'
                                          x-ms-enum:
                                            name: MitigationInEffectEnum
                                            modelAsString: true
                                            values:
                                            - name: 'No'
                                              value: 'no'
                                              description: MitigationInEffectEnum
                                                enum no
                                            - name: 'Yes'
                                              value: 'yes'
                                              description: MitigationInEffectEnum
                                                enum yes
                                    result:
                                      description: <p>The latest anomaly detection
                                        result.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - anomalous
                                          - normal
                                          x-ms-enum:
                                            name: AnomalyResultEnum
                                            modelAsString: true
                                            values:
                                            - name: Anomalous
                                              value: anomalous
                                              description: AnomalyResultEnum enum
                                                anomalous
                                            - name: Normal
                                              value: normal
                                              description: AnomalyResultEnum enum
                                                normal
                                healthCheckPort:
                                  type: string
                                  description: <p>The port to use to connect with
                                    the target.</p>
                                target:
                                  description: <p>The description of the target.</p>
                                  type: object
                                  properties:
                                    availabilityZone:
                                      type: string
                                      description: <p>An Availability Zone or <code>all</code>.
                                        This determines whether the target receives
                                        traffic from the load balancer nodes in the
                                        specified Availability Zone or from all enabled
                                        Availability Zones for the load balancer.</p>
                                        <p>For Application Load Balancer target groups,
                                        the specified Availability Zone value is only
                                        applicable when cross-zone load balancing
                                        is off. Otherwise the parameter is ignored
                                        and treated as <code>all</code>.</p> <p>This
                                        parameter is not supported if the target type
                                        of the target group is <code>instance</code>
                                        or <code>alb</code>.</p> <p>If the target
                                        type is <code>ip</code> and the IP address
                                        is in a subnet of the VPC for the target group,
                                        the Availability Zone is automatically detected
                                        and this parameter is optional. If the IP
                                        address is outside the VPC, this parameter
                                        is required.</p> <p>For Application Load Balancer
                                        target groups with cross-zone load balancing
                                        off, if the target type is <code>ip</code>
                                        and the IP address is outside of the VPC for
                                        the target group, this should be an Availability
                                        Zone inside the VPC for the target group.</p>
                                        <p>If the target type is <code>lambda</code>,
                                        this parameter is optional and the only supported
                                        value is <code>all</code>.</p>
                                    id:
                                      type: string
                                      description: <p>The ID of the target. If the
                                        target type of the target group is <code>instance</code>,
                                        specify an instance ID. If the target type
                                        is <code>ip</code>, specify an IP address.
                                        If the target type is <code>lambda</code>,
                                        specify the ARN of the Lambda function. If
                                        the target type is <code>alb</code>, specify
                                        the ARN of the Application Load Balancer target.
                                        </p>
                                    port:
                                      type: integer
                                      format: int32
                                      description: <p>The port on which the target
                                        is listening. If the target group protocol
                                        is GENEVE, the supported port is 6081. If
                                        the target type is <code>alb</code>, the targeted
                                        Application Load Balancer must have at least
                                        one listener whose port matches the target
                                        group port. This parameter is not used if
                                        the target is a Lambda function.</p>
                                targetHealth:
                                  description: <p>The health information for the target.</p>
                                  type: object
                                  properties:
                                    description:
                                      type: string
                                      description: <p>A description of the target
                                        health that provides additional details. If
                                        the state is <code>healthy</code>, a description
                                        is not provided.</p>
                                    reason:
                                      description: <p>The reason code.</p> <p>If the
                                        target state is <code>healthy</code>, a reason
                                        code is not provided.</p> <p>If the target
                                        state is <code>initial</code>, the reason
                                        code can be one of the following values:</p>
                                        <ul> <li> <p> <code>Elb.RegistrationInProgress</code>
                                        - The target is in the process of being registered
                                        with the load balancer.</p> </li> <li> <p>
                                        <code>Elb.InitialHealthChecking</code> - The
                                        load balancer is still sending the target
                                        the minimum number of health checks required
                                        to determine its health status.</p> </li>
                                        </ul> <p>If the target state is <code>unhealthy</code>,
                                        the reason code can be one of the following
                                        values:</p> <ul> <li> <p> <code>Target.ResponseCodeMismatch</code>
                                        - The health checks did not return an expected
                                        HTTP code. Applies only to Application Load
                                        Balancers and Gateway Load Balancers.</p>
                                        </li> <li> <p> <code>Target.Timeout</code>
                                        - The health check requests timed out. Applies
                                        only to Application Load Balancers and Gateway
                                        Load Balancers.</p> </li> <li> <p> <code>Target.FailedHealthChecks</code>
                                        - The load balancer received an error while
                                        establishing a connection to the target or
                                        the target response was malformed.</p> </li>
                                        <li> <p> <code>Elb.InternalError</code> -
                                        The health checks failed due to an internal
                                        error. Applies only to Application Load Balancers.</p>
                                        </li> </ul> <p>If the target state is <code>unused</code>,
                                        the reason code can be one of the following
                                        values:</p> <ul> <li> <p> <code>Target.NotRegistered</code>
                                        - The target is not registered with the target
                                        group.</p> </li> <li> <p> <code>Target.NotInUse</code>
                                        - The target group is not used by any load
                                        balancer or the target is in an Availability
                                        Zone that is not enabled for its load balancer.</p>
                                        </li> <li> <p> <code>Target.InvalidState</code>
                                        - The target is in the stopped or terminated
                                        state.</p> </li> <li> <p> <code>Target.IpUnusable</code>
                                        - The target IP address is reserved for use
                                        by a load balancer.</p> </li> </ul> <p>If
                                        the target state is <code>draining</code>,
                                        the reason code can be the following value:</p>
                                        <ul> <li> <p> <code>Target.DeregistrationInProgress</code>
                                        - The target is in the process of being deregistered
                                        and the deregistration delay period has not
                                        expired.</p> </li> </ul> <p>If the target
                                        state is <code>unavailable</code>, the reason
                                        code can be the following value:</p> <ul>
                                        <li> <p> <code>Target.HealthCheckDisabled</code>
                                        - Health checks are disabled for the target
                                        group. Applies only to Application Load Balancers.</p>
                                        </li> <li> <p> <code>Elb.InternalError</code>
                                        - Target health is unavailable due to an internal
                                        error. Applies only to Network Load Balancers.</p>
                                        </li> </ul>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - Elb.InitialHealthChecking
                                          - Elb.InternalError
                                          - Elb.RegistrationInProgress
                                          - Target.DeregistrationInProgress
                                          - Target.FailedHealthChecks
                                          - Target.HealthCheckDisabled
                                          - Target.InvalidState
                                          - Target.IpUnusable
                                          - Target.NotInUse
                                          - Target.NotRegistered
                                          - Target.ResponseCodeMismatch
                                          - Target.Timeout
                                          x-ms-enum:
                                            name: TargetHealthReasonEnum
                                            modelAsString: true
                                            values:
                                            - name: ElbInitialHealthChecking
                                              value: Elb.InitialHealthChecking
                                              description: TargetHealthReasonEnum
                                                enum Elb.InitialHealthChecking
                                            - name: ElbInternalError
                                              value: Elb.InternalError
                                              description: TargetHealthReasonEnum
                                                enum Elb.InternalError
                                            - name: ElbRegistrationInProgress
                                              value: Elb.RegistrationInProgress
                                              description: TargetHealthReasonEnum
                                                enum Elb.RegistrationInProgress
                                            - name: TargetDeregistrationInProgress
                                              value: Target.DeregistrationInProgress
                                              description: TargetHealthReasonEnum
                                                enum Target.DeregistrationInProgress
                                            - name: TargetFailedHealthChecks
                                              value: Target.FailedHealthChecks
                                              description: TargetHealthReasonEnum
                                                enum Target.FailedHealthChecks
                                            - name: TargetHealthCheckDisabled
                                              value: Target.HealthCheckDisabled
                                              description: TargetHealthReasonEnum
                                                enum Target.HealthCheckDisabled
                                            - name: TargetInvalidState
                                              value: Target.InvalidState
                                              description: TargetHealthReasonEnum
                                                enum Target.InvalidState
                                            - name: TargetIpUnusable
                                              value: Target.IpUnusable
                                              description: TargetHealthReasonEnum
                                                enum Target.IpUnusable
                                            - name: TargetNotInUse
                                              value: Target.NotInUse
                                              description: TargetHealthReasonEnum
                                                enum Target.NotInUse
                                            - name: TargetNotRegistered
                                              value: Target.NotRegistered
                                              description: TargetHealthReasonEnum
                                                enum Target.NotRegistered
                                            - name: TargetResponseCodeMismatch
                                              value: Target.ResponseCodeMismatch
                                              description: TargetHealthReasonEnum
                                                enum Target.ResponseCodeMismatch
                                            - name: TargetTimeout
                                              value: Target.Timeout
                                              description: TargetHealthReasonEnum
                                                enum Target.Timeout
                                    state:
                                      description: <p>The state of the target.</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - draining
                                          - healthy
                                          - initial
                                          - unavailable
                                          - unhealthy
                                          - unhealthy.draining
                                          - unused
                                          x-ms-enum:
                                            name: TargetHealthStateEnum
                                            modelAsString: true
                                            values:
                                            - name: Draining
                                              value: draining
                                              description: TargetHealthStateEnum enum
                                                draining
                                            - name: Healthy
                                              value: healthy
                                              description: TargetHealthStateEnum enum
                                                healthy
                                            - name: Initial
                                              value: initial
                                              description: TargetHealthStateEnum enum
                                                initial
                                            - name: Unavailable
                                              value: unavailable
                                              description: TargetHealthStateEnum enum
                                                unavailable
                                            - name: Unhealthy
                                              value: unhealthy
                                              description: TargetHealthStateEnum enum
                                                unhealthy
                                            - name: UnhealthyDraining
                                              value: unhealthy.draining
                                              description: TargetHealthStateEnum enum
                                                unhealthy.draining
                                            - name: Unused
                                              value: unused
                                              description: TargetHealthStateEnum enum
                                                unused
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetHealthDescriptions/{name}
  : get:
      operationId: ElasticLoadBalancingv2TargetHealthDescriptions_Get
      tags:
      - ElasticLoadBalancingv2TargetHealthDescriptions
      description: Get a ElasticLoadBalancingv2TargetHealthDescription
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticLoadBalancingv2TargetHealthDescription
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          anomalyDetection:
                            description: <p>The anomaly detection result for the target.</p>
                              <p>If no anomalies were detected, the result is <code>normal</code>.</p>
                              <p>If anomalies were detected, the result is <code>anomalous</code>.</p>
                            type: object
                            properties:
                              mitigationInEffect:
                                description: <p>Indicates whether anomaly mitigation
                                  is in progress.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - 'no'
                                    - 'yes'
                                    x-ms-enum:
                                      name: MitigationInEffectEnum
                                      modelAsString: true
                                      values:
                                      - name: 'No'
                                        value: 'no'
                                        description: MitigationInEffectEnum enum no
                                      - name: 'Yes'
                                        value: 'yes'
                                        description: MitigationInEffectEnum enum yes
                              result:
                                description: <p>The latest anomaly detection result.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - anomalous
                                    - normal
                                    x-ms-enum:
                                      name: AnomalyResultEnum
                                      modelAsString: true
                                      values:
                                      - name: Anomalous
                                        value: anomalous
                                        description: AnomalyResultEnum enum anomalous
                                      - name: Normal
                                        value: normal
                                        description: AnomalyResultEnum enum normal
                          healthCheckPort:
                            type: string
                            description: <p>The port to use to connect with the target.</p>
                          target:
                            description: <p>The description of the target.</p>
                            type: object
                            properties:
                              availabilityZone:
                                type: string
                                description: <p>An Availability Zone or <code>all</code>.
                                  This determines whether the target receives traffic
                                  from the load balancer nodes in the specified Availability
                                  Zone or from all enabled Availability Zones for
                                  the load balancer.</p> <p>For Application Load Balancer
                                  target groups, the specified Availability Zone value
                                  is only applicable when cross-zone load balancing
                                  is off. Otherwise the parameter is ignored and treated
                                  as <code>all</code>.</p> <p>This parameter is not
                                  supported if the target type of the target group
                                  is <code>instance</code> or <code>alb</code>.</p>
                                  <p>If the target type is <code>ip</code> and the
                                  IP address is in a subnet of the VPC for the target
                                  group, the Availability Zone is automatically detected
                                  and this parameter is optional. If the IP address
                                  is outside the VPC, this parameter is required.</p>
                                  <p>For Application Load Balancer target groups with
                                  cross-zone load balancing off, if the target type
                                  is <code>ip</code> and the IP address is outside
                                  of the VPC for the target group, this should be
                                  an Availability Zone inside the VPC for the target
                                  group.</p> <p>If the target type is <code>lambda</code>,
                                  this parameter is optional and the only supported
                                  value is <code>all</code>.</p>
                              id:
                                type: string
                                description: <p>The ID of the target. If the target
                                  type of the target group is <code>instance</code>,
                                  specify an instance ID. If the target type is <code>ip</code>,
                                  specify an IP address. If the target type is <code>lambda</code>,
                                  specify the ARN of the Lambda function. If the target
                                  type is <code>alb</code>, specify the ARN of the
                                  Application Load Balancer target. </p>
                              port:
                                type: integer
                                format: int32
                                description: <p>The port on which the target is listening.
                                  If the target group protocol is GENEVE, the supported
                                  port is 6081. If the target type is <code>alb</code>,
                                  the targeted Application Load Balancer must have
                                  at least one listener whose port matches the target
                                  group port. This parameter is not used if the target
                                  is a Lambda function.</p>
                          targetHealth:
                            description: <p>The health information for the target.</p>
                            type: object
                            properties:
                              description:
                                type: string
                                description: <p>A description of the target health
                                  that provides additional details. If the state is
                                  <code>healthy</code>, a description is not provided.</p>
                              reason:
                                description: <p>The reason code.</p> <p>If the target
                                  state is <code>healthy</code>, a reason code is
                                  not provided.</p> <p>If the target state is <code>initial</code>,
                                  the reason code can be one of the following values:</p>
                                  <ul> <li> <p> <code>Elb.RegistrationInProgress</code>
                                  - The target is in the process of being registered
                                  with the load balancer.</p> </li> <li> <p> <code>Elb.InitialHealthChecking</code>
                                  - The load balancer is still sending the target
                                  the minimum number of health checks required to
                                  determine its health status.</p> </li> </ul> <p>If
                                  the target state is <code>unhealthy</code>, the
                                  reason code can be one of the following values:</p>
                                  <ul> <li> <p> <code>Target.ResponseCodeMismatch</code>
                                  - The health checks did not return an expected HTTP
                                  code. Applies only to Application Load Balancers
                                  and Gateway Load Balancers.</p> </li> <li> <p> <code>Target.Timeout</code>
                                  - The health check requests timed out. Applies only
                                  to Application Load Balancers and Gateway Load Balancers.</p>
                                  </li> <li> <p> <code>Target.FailedHealthChecks</code>
                                  - The load balancer received an error while establishing
                                  a connection to the target or the target response
                                  was malformed.</p> </li> <li> <p> <code>Elb.InternalError</code>
                                  - The health checks failed due to an internal error.
                                  Applies only to Application Load Balancers.</p>
                                  </li> </ul> <p>If the target state is <code>unused</code>,
                                  the reason code can be one of the following values:</p>
                                  <ul> <li> <p> <code>Target.NotRegistered</code>
                                  - The target is not registered with the target group.</p>
                                  </li> <li> <p> <code>Target.NotInUse</code> - The
                                  target group is not used by any load balancer or
                                  the target is in an Availability Zone that is not
                                  enabled for its load balancer.</p> </li> <li> <p>
                                  <code>Target.InvalidState</code> - The target is
                                  in the stopped or terminated state.</p> </li> <li>
                                  <p> <code>Target.IpUnusable</code> - The target
                                  IP address is reserved for use by a load balancer.</p>
                                  </li> </ul> <p>If the target state is <code>draining</code>,
                                  the reason code can be the following value:</p>
                                  <ul> <li> <p> <code>Target.DeregistrationInProgress</code>
                                  - The target is in the process of being deregistered
                                  and the deregistration delay period has not expired.</p>
                                  </li> </ul> <p>If the target state is <code>unavailable</code>,
                                  the reason code can be the following value:</p>
                                  <ul> <li> <p> <code>Target.HealthCheckDisabled</code>
                                  - Health checks are disabled for the target group.
                                  Applies only to Application Load Balancers.</p>
                                  </li> <li> <p> <code>Elb.InternalError</code> -
                                  Target health is unavailable due to an internal
                                  error. Applies only to Network Load Balancers.</p>
                                  </li> </ul>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - Elb.InitialHealthChecking
                                    - Elb.InternalError
                                    - Elb.RegistrationInProgress
                                    - Target.DeregistrationInProgress
                                    - Target.FailedHealthChecks
                                    - Target.HealthCheckDisabled
                                    - Target.InvalidState
                                    - Target.IpUnusable
                                    - Target.NotInUse
                                    - Target.NotRegistered
                                    - Target.ResponseCodeMismatch
                                    - Target.Timeout
                                    x-ms-enum:
                                      name: TargetHealthReasonEnum
                                      modelAsString: true
                                      values:
                                      - name: ElbInitialHealthChecking
                                        value: Elb.InitialHealthChecking
                                        description: TargetHealthReasonEnum enum Elb.InitialHealthChecking
                                      - name: ElbInternalError
                                        value: Elb.InternalError
                                        description: TargetHealthReasonEnum enum Elb.InternalError
                                      - name: ElbRegistrationInProgress
                                        value: Elb.RegistrationInProgress
                                        description: TargetHealthReasonEnum enum Elb.RegistrationInProgress
                                      - name: TargetDeregistrationInProgress
                                        value: Target.DeregistrationInProgress
                                        description: TargetHealthReasonEnum enum Target.DeregistrationInProgress
                                      - name: TargetFailedHealthChecks
                                        value: Target.FailedHealthChecks
                                        description: TargetHealthReasonEnum enum Target.FailedHealthChecks
                                      - name: TargetHealthCheckDisabled
                                        value: Target.HealthCheckDisabled
                                        description: TargetHealthReasonEnum enum Target.HealthCheckDisabled
                                      - name: TargetInvalidState
                                        value: Target.InvalidState
                                        description: TargetHealthReasonEnum enum Target.InvalidState
                                      - name: TargetIpUnusable
                                        value: Target.IpUnusable
                                        description: TargetHealthReasonEnum enum Target.IpUnusable
                                      - name: TargetNotInUse
                                        value: Target.NotInUse
                                        description: TargetHealthReasonEnum enum Target.NotInUse
                                      - name: TargetNotRegistered
                                        value: Target.NotRegistered
                                        description: TargetHealthReasonEnum enum Target.NotRegistered
                                      - name: TargetResponseCodeMismatch
                                        value: Target.ResponseCodeMismatch
                                        description: TargetHealthReasonEnum enum Target.ResponseCodeMismatch
                                      - name: TargetTimeout
                                        value: Target.Timeout
                                        description: TargetHealthReasonEnum enum Target.Timeout
                              state:
                                description: <p>The state of the target.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - draining
                                    - healthy
                                    - initial
                                    - unavailable
                                    - unhealthy
                                    - unhealthy.draining
                                    - unused
                                    x-ms-enum:
                                      name: TargetHealthStateEnum
                                      modelAsString: true
                                      values:
                                      - name: Draining
                                        value: draining
                                        description: TargetHealthStateEnum enum draining
                                      - name: Healthy
                                        value: healthy
                                        description: TargetHealthStateEnum enum healthy
                                      - name: Initial
                                        value: initial
                                        description: TargetHealthStateEnum enum initial
                                      - name: Unavailable
                                        value: unavailable
                                        description: TargetHealthStateEnum enum unavailable
                                      - name: Unhealthy
                                        value: unhealthy
                                        description: TargetHealthStateEnum enum unhealthy
                                      - name: UnhealthyDraining
                                        value: unhealthy.draining
                                        description: TargetHealthStateEnum enum unhealthy.draining
                                      - name: Unused
                                        value: unused
                                        description: TargetHealthStateEnum enum unused
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
[...]
