openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ElasticBeanstalkConfigurationTemplates
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticBeanstalkConfigurationTemplates:
    get:
      operationId: ElasticBeanstalkConfigurationTemplates_ListBySubscription
      tags:
      - ElasticBeanstalkConfigurationTemplates
      description: List ElasticBeanstalkConfigurationTemplate resources by subscription
        ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticBeanstalkConfigurationTemplate
                  list operation.
                properties:
                  value:
                    type: array
                    description: The ElasticBeanstalkConfigurationTemplate items on
                      this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                applicationName:
                                  type: string
                                  description: The name of the Elastic Beanstalk application
                                    to associate with this configuration template.
                                description:
                                  type: string
                                  description: An optional description for this configuration.
                                environmentId:
                                  type: string
                                  description: The ID of an environment whose settings
                                    you want to use to create the configuration template.
                                    You must specify EnvironmentId if you don't specify
                                    PlatformArn, SolutionStackName, or SourceConfiguration.
                                optionSettings:
                                  type: array
                                  description: Option values for the Elastic Beanstalk
                                    configuration, such as the instance type. If specified,
                                    these values override the values obtained from
                                    the solution stack or the source configuration
                                    template. For a complete list of Elastic Beanstalk
                                    configuration options, see [Option Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                  items:
                                    type: object
                                    description: Definition of ConfigurationOptionSetting
                                    properties:
                                      namespace:
                                        type: string
                                        description: A unique namespace that identifies
                                          the option's associated AWS resource.
                                      optionName:
                                        type: string
                                        description: The name of the configuration
                                          option.
                                      resourceName:
                                        type: string
                                        description: "A unique resource name for the\
                                          \ option setting. Use it for a time\u2013\
                                          based scaling configuration option."
                                      value:
                                        type: string
                                        description: The current value for the configuration
                                          option.
                                  x-ms-identifiers: []
                                platformArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    custom platform. For more information, see [Custom
                                    Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                solutionStackName:
                                  type: string
                                  description: The name of an Elastic Beanstalk solution
                                    stack (platform version) that this configuration
                                    uses. For example, 64bit Amazon Linux 2013.09
                                    running Tomcat 7 Java 7. A solution stack specifies
                                    the operating system, runtime, and application
                                    server for a configuration template. It also determines
                                    the set of configuration options as well as the
                                    possible and default values. For more information,
                                    see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                    You must specify SolutionStackName if you don't
                                    specify PlatformArn, EnvironmentId, or SourceConfiguration.
                                    Use the ListAvailableSolutionStacks API to obtain
                                    a list of available solution stacks.
                                sourceConfiguration:
                                  description: 'An Elastic Beanstalk configuration
                                    template to base this one on. If specified, Elastic
                                    Beanstalk uses the configuration values from the
                                    specified configuration template to create a new
                                    configuration.Values specified in OptionSettings
                                    override any values obtained from the SourceConfiguration.You
                                    must specify SourceConfiguration if you don''t
                                    specify PlatformArn, EnvironmentId, or SolutionStackName.Constraint:
                                    If both solution stack name and source configuration
                                    are specified, the solution stack of the source
                                    configuration template must match the specified
                                    solution stack name.'
                                  type: object
                                  properties:
                                    applicationName:
                                      type: string
                                      description: The name of the application associated
                                        with the configuration.
                                    templateName:
                                      type: string
                                      description: The name of the configuration template.
                                templateName:
                                  type: string
                                  description: The name of the configuration template
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticBeanstalkConfigurationTemplates
  : get:
      operationId: ElasticBeanstalkConfigurationTemplates_ListByResourceGroup
      tags:
      - ElasticBeanstalkConfigurationTemplates
      description: List ElasticBeanstalkConfigurationTemplate resources by resource
        group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticBeanstalkConfigurationTemplate
                  list operation.
                properties:
                  value:
                    type: array
                    description: The ElasticBeanstalkConfigurationTemplate items on
                      this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                applicationName:
                                  type: string
                                  description: The name of the Elastic Beanstalk application
                                    to associate with this configuration template.
                                description:
                                  type: string
                                  description: An optional description for this configuration.
                                environmentId:
                                  type: string
                                  description: The ID of an environment whose settings
                                    you want to use to create the configuration template.
                                    You must specify EnvironmentId if you don't specify
                                    PlatformArn, SolutionStackName, or SourceConfiguration.
                                optionSettings:
                                  type: array
                                  description: Option values for the Elastic Beanstalk
                                    configuration, such as the instance type. If specified,
                                    these values override the values obtained from
                                    the solution stack or the source configuration
                                    template. For a complete list of Elastic Beanstalk
                                    configuration options, see [Option Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                  items:
                                    type: object
                                    description: Definition of ConfigurationOptionSetting
                                    properties:
                                      namespace:
                                        type: string
                                        description: A unique namespace that identifies
                                          the option's associated AWS resource.
                                      optionName:
                                        type: string
                                        description: The name of the configuration
                                          option.
                                      resourceName:
                                        type: string
                                        description: "A unique resource name for the\
                                          \ option setting. Use it for a time\u2013\
                                          based scaling configuration option."
                                      value:
                                        type: string
                                        description: The current value for the configuration
                                          option.
                                  x-ms-identifiers: []
                                platformArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    custom platform. For more information, see [Custom
                                    Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                solutionStackName:
                                  type: string
                                  description: The name of an Elastic Beanstalk solution
                                    stack (platform version) that this configuration
                                    uses. For example, 64bit Amazon Linux 2013.09
                                    running Tomcat 7 Java 7. A solution stack specifies
                                    the operating system, runtime, and application
                                    server for a configuration template. It also determines
                                    the set of configuration options as well as the
                                    possible and default values. For more information,
                                    see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                                    in the AWS Elastic Beanstalk Developer Guide.
                                    You must specify SolutionStackName if you don't
                                    specify PlatformArn, EnvironmentId, or SourceConfiguration.
                                    Use the ListAvailableSolutionStacks API to obtain
                                    a list of available solution stacks.
                                sourceConfiguration:
                                  description: 'An Elastic Beanstalk configuration
                                    template to base this one on. If specified, Elastic
                                    Beanstalk uses the configuration values from the
                                    specified configuration template to create a new
                                    configuration.Values specified in OptionSettings
                                    override any values obtained from the SourceConfiguration.You
                                    must specify SourceConfiguration if you don''t
                                    specify PlatformArn, EnvironmentId, or SolutionStackName.Constraint:
                                    If both solution stack name and source configuration
                                    are specified, the solution stack of the source
                                    configuration template must match the specified
                                    solution stack name.'
                                  type: object
                                  properties:
                                    applicationName:
                                      type: string
                                      description: The name of the application associated
                                        with the configuration.
                                    templateName:
                                      type: string
                                      description: The name of the configuration template.
                                templateName:
                                  type: string
                                  description: The name of the configuration template
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticBeanstalkConfigurationTemplates/{name}
  : get:
      operationId: ElasticBeanstalkConfigurationTemplates_Get
      tags:
      - ElasticBeanstalkConfigurationTemplates
      description: Get a ElasticBeanstalkConfigurationTemplate
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticBeanstalkConfigurationTemplate
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          applicationName:
                            type: string
                            description: The name of the Elastic Beanstalk application
                              to associate with this configuration template.
                          description:
                            type: string
                            description: An optional description for this configuration.
                          environmentId:
                            type: string
                            description: The ID of an environment whose settings you
                              want to use to create the configuration template. You
                              must specify EnvironmentId if you don't specify PlatformArn,
                              SolutionStackName, or SourceConfiguration.
                          optionSettings:
                            type: array
                            description: Option values for the Elastic Beanstalk configuration,
                              such as the instance type. If specified, these values
                              override the values obtained from the solution stack
                              or the source configuration template. For a complete
                              list of Elastic Beanstalk configuration options, see
                              [Option Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                            items:
                              type: object
                              description: Definition of ConfigurationOptionSetting
                              properties:
                                namespace:
                                  type: string
                                  description: A unique namespace that identifies
                                    the option's associated AWS resource.
                                optionName:
                                  type: string
                                  description: The name of the configuration option.
                                resourceName:
                                  type: string
                                  description: "A unique resource name for the option\
                                    \ setting. Use it for a time\u2013based scaling\
                                    \ configuration option."
                                value:
                                  type: string
                                  description: The current value for the configuration
                                    option.
                            x-ms-identifiers: []
                          platformArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the custom
                              platform. For more information, see [Custom Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                          solutionStackName:
                            type: string
                            description: The name of an Elastic Beanstalk solution
                              stack (platform version) that this configuration uses.
                              For example, 64bit Amazon Linux 2013.09 running Tomcat
                              7 Java 7. A solution stack specifies the operating system,
                              runtime, and application server for a configuration
                              template. It also determines the set of configuration
                              options as well as the possible and default values.
                              For more information, see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide. You must
                              specify SolutionStackName if you don't specify PlatformArn,
                              EnvironmentId, or SourceConfiguration. Use the ListAvailableSolutionStacks
                              API to obtain a list of available solution stacks.
                          sourceConfiguration:
                            description: 'An Elastic Beanstalk configuration template
                              to base this one on. If specified, Elastic Beanstalk
                              uses the configuration values from the specified configuration
                              template to create a new configuration.Values specified
                              in OptionSettings override any values obtained from
                              the SourceConfiguration.You must specify SourceConfiguration
                              if you don''t specify PlatformArn, EnvironmentId, or
                              SolutionStackName.Constraint: If both solution stack
                              name and source configuration are specified, the solution
                              stack of the source configuration template must match
                              the specified solution stack name.'
                            type: object
                            properties:
                              applicationName:
                                type: string
                                description: The name of the application associated
                                  with the configuration.
                              templateName:
                                type: string
                                description: The name of the configuration template.
                          templateName:
                            type: string
                            description: The name of the configuration template
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ElasticBeanstalkConfigurationTemplates_CreateOrReplace
      tags:
      - ElasticBeanstalkConfigurationTemplates
      description: Create a ElasticBeanstalkConfigurationTemplate. Please note that
        end user resource creation is currently restricted, but it will be enabled
        in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticBeanstalkConfigurationTemplate
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        applicationName:
                          type: string
                          description: The name of the Elastic Beanstalk application
                            to associate with this configuration template.
                        description:
                          type: string
                          description: An optional description for this configuration.
                        environmentId:
                          type: string
                          description: The ID of an environment whose settings you
                            want to use to create the configuration template. You
                            must specify EnvironmentId if you don't specify PlatformArn,
                            SolutionStackName, or SourceConfiguration.
                        optionSettings:
                          type: array
                          description: Option values for the Elastic Beanstalk configuration,
                            such as the instance type. If specified, these values
                            override the values obtained from the solution stack or
                            the source configuration template. For a complete list
                            of Elastic Beanstalk configuration options, see [Option
                            Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                            in the AWS Elastic Beanstalk Developer Guide.
                          items:
                            type: object
                            description: Definition of ConfigurationOptionSetting
                            properties:
                              namespace:
                                type: string
                                description: A unique namespace that identifies the
                                  option's associated AWS resource.
                              optionName:
                                type: string
                                description: The name of the configuration option.
                              resourceName:
                                type: string
                                description: "A unique resource name for the option\
                                  \ setting. Use it for a time\u2013based scaling\
                                  \ configuration option."
                              value:
                                type: string
                                description: The current value for the configuration
                                  option.
                          x-ms-identifiers: []
                        platformArn:
                          type: string
                          description: The Amazon Resource Name (ARN) of the custom
                            platform. For more information, see [Custom Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                            in the AWS Elastic Beanstalk Developer Guide.
                        solutionStackName:
                          type: string
                          description: The name of an Elastic Beanstalk solution stack
                            (platform version) that this configuration uses. For example,
                            64bit Amazon Linux 2013.09 running Tomcat 7 Java 7. A
                            solution stack specifies the operating system, runtime,
                            and application server for a configuration template. It
                            also determines the set of configuration options as well
                            as the possible and default values. For more information,
                            see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                            in the AWS Elastic Beanstalk Developer Guide. You must
                            specify SolutionStackName if you don't specify PlatformArn,
                            EnvironmentId, or SourceConfiguration. Use the ListAvailableSolutionStacks
                            API to obtain a list of available solution stacks.
                        sourceConfiguration:
                          description: 'An Elastic Beanstalk configuration template
                            to base this one on. If specified, Elastic Beanstalk uses
                            the configuration values from the specified configuration
                            template to create a new configuration.Values specified
                            in OptionSettings override any values obtained from the
                            SourceConfiguration.You must specify SourceConfiguration
                            if you don''t specify PlatformArn, EnvironmentId, or SolutionStackName.Constraint:
                            If both solution stack name and source configuration are
                            specified, the solution stack of the source configuration
                            template must match the specified solution stack name.'
                          type: object
                          properties:
                            applicationName:
                              type: string
                              description: The name of the application associated
                                with the configuration.
                            templateName:
                              type: string
                              description: The name of the configuration template.
                        templateName:
                          type: string
                          description: The name of the configuration template
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'ElasticBeanstalkConfigurationTemplate' update operation
            succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          applicationName:
                            type: string
                            description: The name of the Elastic Beanstalk application
                              to associate with this configuration template.
                          description:
                            type: string
                            description: An optional description for this configuration.
                          environmentId:
                            type: string
                            description: The ID of an environment whose settings you
                              want to use to create the configuration template. You
                              must specify EnvironmentId if you don't specify PlatformArn,
                              SolutionStackName, or SourceConfiguration.
                          optionSettings:
                            type: array
                            description: Option values for the Elastic Beanstalk configuration,
                              such as the instance type. If specified, these values
                              override the values obtained from the solution stack
                              or the source configuration template. For a complete
                              list of Elastic Beanstalk configuration options, see
                              [Option Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                            items:
                              type: object
                              description: Definition of ConfigurationOptionSetting
                              properties:
                                namespace:
                                  type: string
                                  description: A unique namespace that identifies
                                    the option's associated AWS resource.
                                optionName:
                                  type: string
                                  description: The name of the configuration option.
                                resourceName:
                                  type: string
                                  description: "A unique resource name for the option\
                                    \ setting. Use it for a time\u2013based scaling\
                                    \ configuration option."
                                value:
                                  type: string
                                  description: The current value for the configuration
                                    option.
                            x-ms-identifiers: []
                          platformArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the custom
                              platform. For more information, see [Custom Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                          solutionStackName:
                            type: string
                            description: The name of an Elastic Beanstalk solution
                              stack (platform version) that this configuration uses.
                              For example, 64bit Amazon Linux 2013.09 running Tomcat
                              7 Java 7. A solution stack specifies the operating system,
                              runtime, and application server for a configuration
                              template. It also determines the set of configuration
                              options as well as the possible and default values.
                              For more information, see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide. You must
                              specify SolutionStackName if you don't specify PlatformArn,
                              EnvironmentId, or SourceConfiguration. Use the ListAvailableSolutionStacks
                              API to obtain a list of available solution stacks.
                          sourceConfiguration:
                            description: 'An Elastic Beanstalk configuration template
                              to base this one on. If specified, Elastic Beanstalk
                              uses the configuration values from the specified configuration
                              template to create a new configuration.Values specified
                              in OptionSettings override any values obtained from
                              the SourceConfiguration.You must specify SourceConfiguration
                              if you don''t specify PlatformArn, EnvironmentId, or
                              SolutionStackName.Constraint: If both solution stack
                              name and source configuration are specified, the solution
                              stack of the source configuration template must match
                              the specified solution stack name.'
                            type: object
                            properties:
                              applicationName:
                                type: string
                                description: The name of the application associated
                                  with the configuration.
                              templateName:
                                type: string
                                description: The name of the configuration template.
                          templateName:
                            type: string
                            description: The name of the configuration template
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'ElasticBeanstalkConfigurationTemplate' create operation
            succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          applicationName:
                            type: string
                            description: The name of the Elastic Beanstalk application
                              to associate with this configuration template.
                          description:
                            type: string
                            description: An optional description for this configuration.
                          environmentId:
                            type: string
                            description: The ID of an environment whose settings you
                              want to use to create the configuration template. You
                              must specify EnvironmentId if you don't specify PlatformArn,
                              SolutionStackName, or SourceConfiguration.
                          optionSettings:
                            type: array
                            description: Option values for the Elastic Beanstalk configuration,
                              such as the instance type. If specified, these values
                              override the values obtained from the solution stack
                              or the source configuration template. For a complete
                              list of Elastic Beanstalk configuration options, see
                              [Option Values](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                            items:
                              type: object
                              description: Definition of ConfigurationOptionSetting
                              properties:
                                namespace:
                                  type: string
                                  description: A unique namespace that identifies
                                    the option's associated AWS resource.
                                optionName:
                                  type: string
                                  description: The name of the configuration option.
                                resourceName:
                                  type: string
                                  description: "A unique resource name for the option\
                                    \ setting. Use it for a time\u2013based scaling\
                                    \ configuration option."
                                value:
                                  type: string
                                  description: The current value for the configuration
                                    option.
                            x-ms-identifiers: []
                          platformArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the custom
                              platform. For more information, see [Custom Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/custom-platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide.
                          solutionStackName:
                            type: string
                            description: The name of an Elastic Beanstalk solution
                              stack (platform version) that this configuration uses.
                              For example, 64bit Amazon Linux 2013.09 running Tomcat
                              7 Java 7. A solution stack specifies the operating system,
                              runtime, and application server for a configuration
                              template. It also determines the set of configuration
                              options as well as the possible and default values.
                              For more information, see [Supported Platforms](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html)
                              in the AWS Elastic Beanstalk Developer Guide. You must
                              specify SolutionStackName if you don't specify PlatformArn,
                              EnvironmentId, or SourceConfiguration. Use the ListAvailableSolutionStacks
                              API to obtain a list of available solution stacks.
                          sourceConfiguration:
                            description: 'An Elastic Beanstalk configuration template
                              to base this one on. If specified, Elastic Beanstalk
                              uses the configuration values from the specified configuration
                              template to create a new configuration.Values specified
                              in OptionSettings override any values obtained from
                              the SourceConfiguration.You must specify SourceConfiguration
                              if you don''t specify PlatformArn, EnvironmentId, or
                              SolutionStackName.Constraint: If both solution stack
                              name and source configuration are specified, the solution
                              stack of the source configuration template must match
                              the specified solution stack name.'
                            type: object
                            properties:
                              applicationName:
                                type: string
                                description: The name of the application associated
                                  with the configuration.
                              templateName:
                                type: string
                                description: The name of the configuration template.
                          templateName:
                            type: string
                            description: The name of the configuration template
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
[...]
