openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ElasticLoadBalancingV2TargetGroups
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetGroups:
    get:
      operationId: ElasticLoadBalancingV2TargetGroups_ListBySubscription
      tags:
      - ElasticLoadBalancingV2TargetGroups
      description: List ElasticLoadBalancingV2TargetGroup resources by subscription
        ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingV2TargetGroup list
                  operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingV2TargetGroup items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                healthCheckEnabled:
                                  type: boolean
                                  description: Indicates whether health checks are
                                    enabled. If the target type is lambda, health
                                    checks are disabled by default but can be enabled.
                                    If the target type is instance, ip, or alb, health
                                    checks are always enabled and cannot be disabled.
                                healthCheckIntervalSeconds:
                                  type: integer
                                  format: int32
                                  description: The approximate amount of time, in
                                    seconds, between health checks of an individual
                                    target.
                                healthCheckPath:
                                  type: string
                                  description: '[HTTP/HTTPS health checks] The destination
                                    for health checks on the targets. [HTTP1 or HTTP2
                                    protocol version] The ping path. The default is
                                    /. [GRPC protocol version] The path of a custom
                                    health check method with the format /package.service/method.
                                    The default is /AWS.ALB/healthcheck.'
                                healthCheckPort:
                                  type: string
                                  description: The port the load balancer uses when
                                    performing health checks on targets.
                                healthCheckProtocol:
                                  type: string
                                  description: The protocol the load balancer uses
                                    when performing health checks on targets.
                                healthCheckTimeoutSeconds:
                                  type: integer
                                  format: int32
                                  description: The amount of time, in seconds, during
                                    which no response from a target means a failed
                                    health check.
                                healthyThresholdCount:
                                  type: integer
                                  format: int32
                                  description: The number of consecutive health checks
                                    successes required before considering an unhealthy
                                    target healthy.
                                ipAddressType:
                                  type: string
                                  description: The type of IP address used for this
                                    target group. The possible values are ipv4 and
                                    ipv6.
                                loadBalancerArns:
                                  type: array
                                  description: The Amazon Resource Names (ARNs) of
                                    the load balancers that route traffic to this
                                    target group.
                                  items:
                                    type: string
                                matcher:
                                  description: '[HTTP/HTTPS health checks] The HTTP
                                    or gRPC codes to use when checking for a successful
                                    response from a target.'
                                  type: object
                                  properties:
                                    grpcCode:
                                      type: string
                                      description: You can specify values between
                                        0 and 99. You can specify multiple values,
                                        or a range of values. The default value is
                                        12.
                                    httpCode:
                                      type: string
                                      description: For Application Load Balancers,
                                        you can specify values between 200 and 499,
                                        and the default value is 200. You can specify
                                        multiple values or a range of values.
                                name:
                                  type: string
                                  description: The name of the target group.
                                port:
                                  type: integer
                                  format: int32
                                  description: The port on which the targets receive
                                    traffic. This port is used unless you specify
                                    a port override when registering the target. If
                                    the target is a Lambda function, this parameter
                                    does not apply. If the protocol is GENEVE, the
                                    supported port is 6081.
                                protocol:
                                  type: string
                                  description: The protocol to use for routing traffic
                                    to the targets.
                                protocolVersion:
                                  type: string
                                  description: '[HTTP/HTTPS protocol] The protocol
                                    version. The possible values are GRPC, HTTP1,
                                    and HTTP2.'
                                tags:
                                  type: array
                                  description: The tags.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The value for the tag.
                                      value:
                                        type: string
                                        description: The key name of the tag.
                                  x-ms-identifiers: []
                                targetGroupArn:
                                  type: string
                                  description: The ARN of the Target Group
                                targetGroupAttributes:
                                  type: array
                                  description: The attributes.
                                  items:
                                    type: object
                                    description: Definition of TargetGroupAttribute
                                    properties:
                                      key:
                                        type: string
                                        description: The value of the attribute.
                                      value:
                                        type: string
                                        description: The name of the attribute.
                                  x-ms-identifiers: []
                                targetGroupFullName:
                                  type: string
                                  description: The full name of the target group.
                                targetGroupName:
                                  type: string
                                  description: The name of the target group.
                                targetType:
                                  type: string
                                  description: The type of target that you must specify
                                    when registering targets with this target group.
                                    You can't specify targets for a target group using
                                    more than one target type.
                                targets:
                                  type: array
                                  description: The targets.
                                  items:
                                    type: object
                                    description: Definition of TargetDescription
                                    properties:
                                      availabilityZone:
                                        type: string
                                        description: An Availability Zone or all.
                                          This determines whether the target receives
                                          traffic from the load balancer nodes in
                                          the specified Availability Zone or from
                                          all enabled Availability Zones for the load
                                          balancer.
                                      id:
                                        type: string
                                        description: The ID of the target. If the
                                          target type of the target group is instance,
                                          specify an instance ID. If the target type
                                          is ip, specify an IP address. If the target
                                          type is lambda, specify the ARN of the Lambda
                                          function. If the target type is alb, specify
                                          the ARN of the Application Load Balancer
                                          target.
                                      port:
                                        type: integer
                                        format: int32
                                        description: The port on which the target
                                          is listening. If the target group protocol
                                          is GENEVE, the supported port is 6081. If
                                          the target type is alb, the targeted Application
                                          Load Balancer must have at least one listener
                                          whose port matches the target group port.
                                          Not used if the target is a Lambda function.
                                  x-ms-identifiers: []
                                unhealthyThresholdCount:
                                  type: integer
                                  format: int32
                                  description: The number of consecutive health check
                                    failures required before considering a target
                                    unhealthy.
                                vpcId:
                                  type: string
                                  description: The identifier of the virtual private
                                    cloud (VPC). If the target is a Lambda function,
                                    this parameter does not apply.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetGroups
  : get:
      operationId: ElasticLoadBalancingV2TargetGroups_ListByResourceGroup
      tags:
      - ElasticLoadBalancingV2TargetGroups
      description: List ElasticLoadBalancingV2TargetGroup resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingV2TargetGroup list
                  operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingV2TargetGroup items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                healthCheckEnabled:
                                  type: boolean
                                  description: Indicates whether health checks are
                                    enabled. If the target type is lambda, health
                                    checks are disabled by default but can be enabled.
                                    If the target type is instance, ip, or alb, health
                                    checks are always enabled and cannot be disabled.
                                healthCheckIntervalSeconds:
                                  type: integer
                                  format: int32
                                  description: The approximate amount of time, in
                                    seconds, between health checks of an individual
                                    target.
                                healthCheckPath:
                                  type: string
                                  description: '[HTTP/HTTPS health checks] The destination
                                    for health checks on the targets. [HTTP1 or HTTP2
                                    protocol version] The ping path. The default is
                                    /. [GRPC protocol version] The path of a custom
                                    health check method with the format /package.service/method.
                                    The default is /AWS.ALB/healthcheck.'
                                healthCheckPort:
                                  type: string
                                  description: The port the load balancer uses when
                                    performing health checks on targets.
                                healthCheckProtocol:
                                  type: string
                                  description: The protocol the load balancer uses
                                    when performing health checks on targets.
                                healthCheckTimeoutSeconds:
                                  type: integer
                                  format: int32
                                  description: The amount of time, in seconds, during
                                    which no response from a target means a failed
                                    health check.
                                healthyThresholdCount:
                                  type: integer
                                  format: int32
                                  description: The number of consecutive health checks
                                    successes required before considering an unhealthy
                                    target healthy.
                                ipAddressType:
                                  type: string
                                  description: The type of IP address used for this
                                    target group. The possible values are ipv4 and
                                    ipv6.
                                loadBalancerArns:
                                  type: array
                                  description: The Amazon Resource Names (ARNs) of
                                    the load balancers that route traffic to this
                                    target group.
                                  items:
                                    type: string
                                matcher:
                                  description: '[HTTP/HTTPS health checks] The HTTP
                                    or gRPC codes to use when checking for a successful
                                    response from a target.'
                                  type: object
                                  properties:
                                    grpcCode:
                                      type: string
                                      description: You can specify values between
                                        0 and 99. You can specify multiple values,
                                        or a range of values. The default value is
                                        12.
                                    httpCode:
                                      type: string
                                      description: For Application Load Balancers,
                                        you can specify values between 200 and 499,
                                        and the default value is 200. You can specify
                                        multiple values or a range of values.
                                name:
                                  type: string
                                  description: The name of the target group.
                                port:
                                  type: integer
                                  format: int32
                                  description: The port on which the targets receive
                                    traffic. This port is used unless you specify
                                    a port override when registering the target. If
                                    the target is a Lambda function, this parameter
                                    does not apply. If the protocol is GENEVE, the
                                    supported port is 6081.
                                protocol:
                                  type: string
                                  description: The protocol to use for routing traffic
                                    to the targets.
                                protocolVersion:
                                  type: string
                                  description: '[HTTP/HTTPS protocol] The protocol
                                    version. The possible values are GRPC, HTTP1,
                                    and HTTP2.'
                                tags:
                                  type: array
                                  description: The tags.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The value for the tag.
                                      value:
                                        type: string
                                        description: The key name of the tag.
                                  x-ms-identifiers: []
                                targetGroupArn:
                                  type: string
                                  description: The ARN of the Target Group
                                targetGroupAttributes:
                                  type: array
                                  description: The attributes.
                                  items:
                                    type: object
                                    description: Definition of TargetGroupAttribute
                                    properties:
                                      key:
                                        type: string
                                        description: The value of the attribute.
                                      value:
                                        type: string
                                        description: The name of the attribute.
                                  x-ms-identifiers: []
                                targetGroupFullName:
                                  type: string
                                  description: The full name of the target group.
                                targetGroupName:
                                  type: string
                                  description: The name of the target group.
                                targetType:
                                  type: string
                                  description: The type of target that you must specify
                                    when registering targets with this target group.
                                    You can't specify targets for a target group using
                                    more than one target type.
                                targets:
                                  type: array
                                  description: The targets.
                                  items:
                                    type: object
                                    description: Definition of TargetDescription
                                    properties:
                                      availabilityZone:
                                        type: string
                                        description: An Availability Zone or all.
                                          This determines whether the target receives
                                          traffic from the load balancer nodes in
                                          the specified Availability Zone or from
                                          all enabled Availability Zones for the load
                                          balancer.
                                      id:
                                        type: string
                                        description: The ID of the target. If the
                                          target type of the target group is instance,
                                          specify an instance ID. If the target type
                                          is ip, specify an IP address. If the target
                                          type is lambda, specify the ARN of the Lambda
                                          function. If the target type is alb, specify
                                          the ARN of the Application Load Balancer
                                          target.
                                      port:
                                        type: integer
                                        format: int32
                                        description: The port on which the target
                                          is listening. If the target group protocol
                                          is GENEVE, the supported port is 6081. If
                                          the target type is alb, the targeted Application
                                          Load Balancer must have at least one listener
                                          whose port matches the target group port.
                                          Not used if the target is a Lambda function.
                                  x-ms-identifiers: []
                                unhealthyThresholdCount:
                                  type: integer
                                  format: int32
                                  description: The number of consecutive health check
                                    failures required before considering a target
                                    unhealthy.
                                vpcId:
                                  type: string
                                  description: The identifier of the virtual private
                                    cloud (VPC). If the target is a Lambda function,
                                    this parameter does not apply.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2TargetGroups/{name}
  : get:
      operationId: ElasticLoadBalancingV2TargetGroups_Get
      tags:
      - ElasticLoadBalancingV2TargetGroups
      description: Get a ElasticLoadBalancingV2TargetGroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticLoadBalancingV2TargetGroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          healthCheckEnabled:
                            type: boolean
                            description: Indicates whether health checks are enabled.
                              If the target type is lambda, health checks are disabled
                              by default but can be enabled. If the target type is
                              instance, ip, or alb, health checks are always enabled
                              and cannot be disabled.
                          healthCheckIntervalSeconds:
                            type: integer
                            format: int32
                            description: The approximate amount of time, in seconds,
                              between health checks of an individual target.
                          healthCheckPath:
                            type: string
                            description: '[HTTP/HTTPS health checks] The destination
                              for health checks on the targets. [HTTP1 or HTTP2 protocol
                              version] The ping path. The default is /. [GRPC protocol
                              version] The path of a custom health check method with
                              the format /package.service/method. The default is /AWS.ALB/healthcheck.'
                          healthCheckPort:
                            type: string
                            description: The port the load balancer uses when performing
                              health checks on targets.
                          healthCheckProtocol:
                            type: string
                            description: The protocol the load balancer uses when
                              performing health checks on targets.
                          healthCheckTimeoutSeconds:
                            type: integer
                            format: int32
                            description: The amount of time, in seconds, during which
                              no response from a target means a failed health check.
                          healthyThresholdCount:
                            type: integer
                            format: int32
                            description: The number of consecutive health checks successes
                              required before considering an unhealthy target healthy.
                          ipAddressType:
                            type: string
                            description: The type of IP address used for this target
                              group. The possible values are ipv4 and ipv6.
                          loadBalancerArns:
                            type: array
                            description: The Amazon Resource Names (ARNs) of the load
                              balancers that route traffic to this target group.
                            items:
                              type: string
                          matcher:
                            description: '[HTTP/HTTPS health checks] The HTTP or gRPC
                              codes to use when checking for a successful response
                              from a target.'
                            type: object
                            properties:
                              grpcCode:
                                type: string
                                description: You can specify values between 0 and
                                  99. You can specify multiple values, or a range
                                  of values. The default value is 12.
                              httpCode:
                                type: string
                                description: For Application Load Balancers, you can
                                  specify values between 200 and 499, and the default
                                  value is 200. You can specify multiple values or
                                  a range of values.
                          name:
                            type: string
                            description: The name of the target group.
                          port:
                            type: integer
                            format: int32
                            description: The port on which the targets receive traffic.
                              This port is used unless you specify a port override
                              when registering the target. If the target is a Lambda
                              function, this parameter does not apply. If the protocol
                              is GENEVE, the supported port is 6081.
                          protocol:
                            type: string
                            description: The protocol to use for routing traffic to
                              the targets.
                          protocolVersion:
                            type: string
                            description: '[HTTP/HTTPS protocol] The protocol version.
                              The possible values are GRPC, HTTP1, and HTTP2.'
                          tags:
                            type: array
                            description: The tags.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The value for the tag.
                                value:
                                  type: string
                                  description: The key name of the tag.
                            x-ms-identifiers: []
                          targetGroupArn:
                            type: string
                            description: The ARN of the Target Group
                          targetGroupAttributes:
                            type: array
                            description: The attributes.
                            items:
                              type: object
                              description: Definition of TargetGroupAttribute
                              properties:
                                key:
                                  type: string
                                  description: The value of the attribute.
                                value:
                                  type: string
                                  description: The name of the attribute.
                            x-ms-identifiers: []
                          targetGroupFullName:
                            type: string
                            description: The full name of the target group.
                          targetGroupName:
                            type: string
                            description: The name of the target group.
                          targetType:
                            type: string
                            description: The type of target that you must specify
                              when registering targets with this target group. You
                              can't specify targets for a target group using more
                              than one target type.
                          targets:
                            type: array
                            description: The targets.
                            items:
                              type: object
                              description: Definition of TargetDescription
                              properties:
                                availabilityZone:
                                  type: string
                                  description: An Availability Zone or all. This determines
                                    whether the target receives traffic from the load
                                    balancer nodes in the specified Availability Zone
                                    or from all enabled Availability Zones for the
                                    load balancer.
                                id:
                                  type: string
                                  description: The ID of the target. If the target
                                    type of the target group is instance, specify
                                    an instance ID. If the target type is ip, specify
                                    an IP address. If the target type is lambda, specify
                                    the ARN of the Lambda function. If the target
                                    type is alb, specify the ARN of the Application
                                    Load Balancer target.
                                port:
                                  type: integer
                                  format: int32
                                  description: The port on which the target is listening.
                                    If the target group protocol is GENEVE, the supported
                                    port is 6081. If the target type is alb, the targeted
                                    Application Load Balancer must have at least one
                                    listener whose port matches the target group port.
                                    Not used if the target is a Lambda function.
                            x-ms-identifiers: []
                          unhealthyThresholdCount:
                            type: integer
                            format: int32
                            description: The number of consecutive health check failures
                              required before considering a target unhealthy.
                          vpcId:
                            type: string
                            description: The identifier of the virtual private cloud
                              (VPC). If the target is a Lambda function, this parameter
                              does not apply.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ElasticLoadBalancingV2TargetGroups_CreateOrReplace
      tags:
      - ElasticLoadBalancingV2TargetGroups
      description: Create a ElasticLoadBalancingV2TargetGroup. Please note that end
        user resource creation is currently restricted, but it will be enabled in
        the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticLoadBalancingV2TargetGroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        healthCheckEnabled:
                          type: boolean
                          description: Indicates whether health checks are enabled.
                            If the target type is lambda, health checks are disabled
                            by default but can be enabled. If the target type is instance,
                            ip, or alb, health checks are always enabled and cannot
                            be disabled.
                        healthCheckIntervalSeconds:
                          type: integer
                          format: int32
                          description: The approximate amount of time, in seconds,
                            between health checks of an individual target.
                        healthCheckPath:
                          type: string
                          description: '[HTTP/HTTPS health checks] The destination
                            for health checks on the targets. [HTTP1 or HTTP2 protocol
                            version] The ping path. The default is /. [GRPC protocol
                            version] The path of a custom health check method with
                            the format /package.service/method. The default is /AWS.ALB/healthcheck.'
                        healthCheckPort:
                          type: string
                          description: The port the load balancer uses when performing
                            health checks on targets.
                        healthCheckProtocol:
                          type: string
                          description: The protocol the load balancer uses when performing
                            health checks on targets.
                        healthCheckTimeoutSeconds:
                          type: integer
                          format: int32
                          description: The amount of time, in seconds, during which
                            no response from a target means a failed health check.
                        healthyThresholdCount:
                          type: integer
                          format: int32
                          description: The number of consecutive health checks successes
                            required before considering an unhealthy target healthy.
                        ipAddressType:
                          type: string
                          description: The type of IP address used for this target
                            group. The possible values are ipv4 and ipv6.
                        loadBalancerArns:
                          type: array
                          description: The Amazon Resource Names (ARNs) of the load
                            balancers that route traffic to this target group.
                          items:
                            type: string
                        matcher:
                          description: '[HTTP/HTTPS health checks] The HTTP or gRPC
                            codes to use when checking for a successful response from
                            a target.'
                          type: object
                          properties:
                            grpcCode:
                              type: string
                              description: You can specify values between 0 and 99.
                                You can specify multiple values, or a range of values.
                                The default value is 12.
                            httpCode:
                              type: string
                              description: For Application Load Balancers, you can
                                specify values between 200 and 499, and the default
                                value is 200. You can specify multiple values or a
                                range of values.
                        name:
                          type: string
                          description: The name of the target group.
                        port:
                          type: integer
                          format: int32
                          description: The port on which the targets receive traffic.
                            This port is used unless you specify a port override when
                            registering the target. If the target is a Lambda function,
                            this parameter does not apply. If the protocol is GENEVE,
                            the supported port is 6081.
                        protocol:
                          type: string
                          description: The protocol to use for routing traffic to
                            the targets.
                        protocolVersion:
                          type: string
                          description: '[HTTP/HTTPS protocol] The protocol version.
                            The possible values are GRPC, HTTP1, and HTTP2.'
                        tags:
                          type: array
                          description: The tags.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The value for the tag.
                              value:
                                type: string
                                description: The key name of the tag.
                          x-ms-identifiers: []
                        targetGroupArn:
                          type: string
                          description: The ARN of the Target Group
                        targetGroupAttributes:
                          type: array
                          description: The attributes.
                          items:
                            type: object
                            description: Definition of TargetGroupAttribute
                            properties:
                              key:
                                type: string
                                description: The value of the attribute.
                              value:
                                type: string
                                description: The name of the attribute.
                          x-ms-identifiers: []
                        targetGroupFullName:
                          type: string
                          description: The full name of the target group.
                        targetGroupName:
                          type: string
                          description: The name of the target group.
                        targetType:
                          type: string
                          description: The type of target that you must specify when
                            registering targets with this target group. You can't
                            specify targets for a target group using more than one
                            target type.
                        targets:
                          type: array
                          description: The targets.
                          items:
                            type: object
                            description: Definition of TargetDescription
                            properties:
                              availabilityZone:
                                type: string
                                description: An Availability Zone or all. This determines
                                  whether the target receives traffic from the load
                                  balancer nodes in the specified Availability Zone
                                  or from all enabled Availability Zones for the load
                                  balancer.
                              id:
                                type: string
                                description: The ID of the target. If the target type
                                  of the target group is instance, specify an instance
                                  ID. If the target type is ip, specify an IP address.
                                  If the target type is lambda, specify the ARN of
                                  the Lambda function. If the target type is alb,
                                  specify the ARN of the Application Load Balancer
                                  target.
                              port:
                                type: integer
                                format: int32
                                description: The port on which the target is listening.
                                  If the target group protocol is GENEVE, the supported
                                  port is 6081. If the target type is alb, the targeted
                                  Application Load Balancer must have at least one
                                  listener whose port matches the target group port.
                                  Not used if the target is a Lambda function.
                          x-ms-identifiers: []
                        unhealthyThresholdCount:
                          type: integer
                          format: int32
                          description: The number of consecutive health check failures
                            required before considering a target unhealthy.
                        vpcId:
                          type: string
                          description: The identifier of the virtual private cloud
                            (VPC). If the target is a Lambda function, this parameter
                            does not apply.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'ElasticLoadBalancingV2TargetGroup' update operation
            succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          healthCheckEnabled:
                            type: boolean
                            description: Indicates whether health checks are enabled.
                              If the target type is lambda, health checks are disabled
                              by default but can be enabled. If the target type is
                              instance, ip, or alb, health checks are always enabled
                              and cannot be disabled.
                          healthCheckIntervalSeconds:
                            type: integer
                            format: int32
                            description: The approximate amount of time, in seconds,
                              between health checks of an individual target.
                          healthCheckPath:
                            type: string
                            description: '[HTTP/HTTPS health checks] The destination
                              for health checks on the targets. [HTTP1 or HTTP2 protocol
                              version] The ping path. The default is /. [GRPC protocol
                              version] The path of a custom health check method with
                              the format /package.service/method. The default is /AWS.ALB/healthcheck.'
                          healthCheckPort:
                            type: string
                            description: The port the load balancer uses when performing
                              health checks on targets.
                          healthCheckProtocol:
                            type: string
                            description: The protocol the load balancer uses when
                              performing health checks on targets.
                          healthCheckTimeoutSeconds:
                            type: integer
                            format: int32
                            description: The amount of time, in seconds, during which
                              no response from a target means a failed health check.
                          healthyThresholdCount:
                            type: integer
                            format: int32
                            description: The number of consecutive health checks successes
                              required before considering an unhealthy target healthy.
                          ipAddressType:
                            type: string
                            description: The type of IP address used for this target
                              group. The possible values are ipv4 and ipv6.
                          loadBalancerArns:
                            type: array
                            description: The Amazon Resource Names (ARNs) of the load
                              balancers that route traffic to this target group.
                            items:
                              type: string
                          matcher:
                            description: '[HTTP/HTTPS health checks] The HTTP or gRPC
                              codes to use when checking for a successful response
                              from a target.'
                            type: object
                            properties:
                              grpcCode:
                                type: string
[...]
