openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ElasticLoadBalancingV2Listeners
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2Listeners:
    get:
      operationId: ElasticLoadBalancingV2Listeners_ListBySubscription
      tags:
      - ElasticLoadBalancingV2Listeners
      description: List ElasticLoadBalancingV2Listener resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingV2Listener list
                  operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingV2Listener items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                alpnPolicy:
                                  type: array
                                  description: '[TLS listener] The name of the Application-Layer
                                    Protocol Negotiation (ALPN) policy.'
                                  items:
                                    type: string
                                certificates:
                                  type: array
                                  description: The default SSL server certificate
                                    for a secure listener. You must provide exactly
                                    one certificate if the listener protocol is HTTPS
                                    or TLS. To create a certificate list for a secure
                                    listener, use [AWS::ElasticLoadBalancingV2::ListenerCertificate](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenercertificate.html).
                                  items:
                                    type: object
                                    description: Definition of Certificate
                                    properties:
                                      certificateArn:
                                        type: string
                                        description: The Amazon Resource Name (ARN)
                                          of the certificate.
                                  x-ms-identifiers: []
                                defaultActions:
                                  type: array
                                  description: The actions for the default rule. You
                                    cannot define a condition for a default rule.
                                    To create additional rules for an Application
                                    Load Balancer, use [AWS::ElasticLoadBalancingV2::ListenerRule](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenerrule.html).
                                  items:
                                    type: object
                                    description: Definition of Action
                                    properties:
                                      authenticateCognitoConfig:
                                        description: '[HTTPS listeners] Information
                                          for using Amazon Cognito to authenticate
                                          users. Specify only when ``Type`` is ``authenticate-cognito``.
                                          Specifies information required when integrating
                                          with Amazon Cognito to authenticate users.'
                                        type: object
                                        properties:
                                          authenticationRequestExtraParams:
                                            type: object
                                            description: The query parameters (up
                                              to 10) to include in the redirect request
                                              to the authorization endpoint.
                                            additionalProperties:
                                              type: string
                                          onUnauthenticatedRequest:
                                            type: string
                                            description: 'The behavior if the user
                                              is not authenticated. The following
                                              are possible values:  +  deny```` -
                                              Return an HTTP 401 Unauthorized error.  +  allow````
                                              - Allow the request to be forwarded
                                              to the target.  +  authenticate````
                                              - Redirect the request to the IdP authorization
                                              endpoint. This is the default value.'
                                          scope:
                                            type: string
                                            description: The set of user claims to
                                              be requested from the IdP. The default
                                              is ``openid``. To verify which scope
                                              values your IdP supports and how to
                                              separate multiple values, see the documentation
                                              for your IdP.
                                          sessionCookieName:
                                            type: string
                                            description: The name of the cookie used
                                              to maintain session information. The
                                              default is AWSELBAuthSessionCookie.
                                          sessionTimeout:
                                            type: string
                                            description: The maximum duration of the
                                              authentication session, in seconds.
                                              The default is 604800 seconds (7 days).
                                          userPoolArn:
                                            type: string
                                            description: The Amazon Resource Name
                                              (ARN) of the Amazon Cognito user pool.
                                          userPoolClientId:
                                            type: string
                                            description: The ID of the Amazon Cognito
                                              user pool client.
                                          userPoolDomain:
                                            type: string
                                            description: The domain prefix or fully-qualified
                                              domain name of the Amazon Cognito user
                                              pool.
                                      authenticateOidcConfig:
                                        description: '[HTTPS listeners] Information
                                          about an identity provider that is compliant
                                          with OpenID Connect (OIDC). Specify only
                                          when ``Type`` is ``authenticate-oidc``.
                                          Specifies information required using an
                                          identity provide (IdP) that is compliant
                                          with OpenID Connect (OIDC) to authenticate
                                          users.'
                                        type: object
                                        properties:
                                          authenticationRequestExtraParams:
                                            type: object
                                            description: The query parameters (up
                                              to 10) to include in the redirect request
                                              to the authorization endpoint.
                                            additionalProperties:
                                              type: string
                                          authorizationEndpoint:
                                            type: string
                                            description: The authorization endpoint
                                              of the IdP. This must be a full URL,
                                              including the HTTPS protocol, the domain,
                                              and the path.
                                          clientId:
                                            type: string
                                            description: The OAuth 2.0 client identifier.
                                          clientSecret:
                                            type: string
                                            description: The OAuth 2.0 client secret.
                                              This parameter is required if you are
                                              creating a rule. If you are modifying
                                              a rule, you can omit this parameter
                                              if you set ``UseExistingClientSecret``
                                              to true.
                                          issuer:
                                            type: string
                                            description: The OIDC issuer identifier
                                              of the IdP. This must be a full URL,
                                              including the HTTPS protocol, the domain,
                                              and the path.
                                          onUnauthenticatedRequest:
                                            type: string
                                            description: 'The behavior if the user
                                              is not authenticated. The following
                                              are possible values:  +  deny```` -
                                              Return an HTTP 401 Unauthorized error.  +  allow````
                                              - Allow the request to be forwarded
                                              to the target.  +  authenticate````
                                              - Redirect the request to the IdP authorization
                                              endpoint. This is the default value.'
                                          scope:
                                            type: string
                                            description: The set of user claims to
                                              be requested from the IdP. The default
                                              is ``openid``. To verify which scope
                                              values your IdP supports and how to
                                              separate multiple values, see the documentation
                                              for your IdP.
                                          sessionCookieName:
                                            type: string
                                            description: The name of the cookie used
                                              to maintain session information. The
                                              default is AWSELBAuthSessionCookie.
                                          sessionTimeout:
                                            type: string
                                            description: The maximum duration of the
                                              authentication session, in seconds.
                                              The default is 604800 seconds (7 days).
                                          tokenEndpoint:
                                            type: string
                                            description: The token endpoint of the
                                              IdP. This must be a full URL, including
                                              the HTTPS protocol, the domain, and
                                              the path.
                                          useExistingClientSecret:
                                            type: boolean
                                            description: Indicates whether to use
                                              the existing client secret when modifying
                                              a rule. If you are creating a rule,
                                              you can omit this parameter or set it
                                              to false.
                                          userInfoEndpoint:
                                            type: string
                                            description: The user info endpoint of
                                              the IdP. This must be a full URL, including
                                              the HTTPS protocol, the domain, and
                                              the path.
                                      fixedResponseConfig:
                                        description: '[Application Load Balancer]
                                          Information for creating an action that
                                          returns a custom HTTP response. Specify
                                          only when ``Type`` is ``fixed-response``.
                                          Specifies information required when returning
                                          a custom HTTP response.'
                                        type: object
                                        properties:
                                          contentType:
                                            type: string
                                            description: 'The content type. Valid
                                              Values: text/plain | text/css | text/html
                                              | application/javascript | application/json'
                                          messageBody:
                                            type: string
                                            description: The message.
                                          statusCode:
                                            type: string
                                            description: The HTTP response code (2XX,
                                              4XX, or 5XX).
                                      forwardConfig:
                                        description: Information for creating an action
                                          that distributes requests among one or more
                                          target groups. For Network Load Balancers,
                                          you can specify a single target group. Specify
                                          only when ``Type`` is ``forward``. If you
                                          specify both ``ForwardConfig`` and ``TargetGroupArn``,
                                          you can specify only one target group using
                                          ``ForwardConfig`` and it must be the same
                                          target group specified in ``TargetGroupArn``.
                                          Information for creating an action that
                                          distributes requests among one or more target
                                          groups. For Network Load Balancers, you
                                          can specify a single target group. Specify
                                          only when ``Type`` is ``forward``. If you
                                          specify both ``ForwardConfig`` and ``TargetGroupArn``,
                                          you can specify only one target group using
                                          ``ForwardConfig`` and it must be the same
                                          target group specified in ``TargetGroupArn``.
                                        type: object
                                        properties:
                                          targetGroupStickinessConfig:
                                            description: Information about the target
                                              group stickiness for a rule. Information
                                              about the target group stickiness for
                                              a rule.
                                            type: object
                                            properties:
                                              durationSeconds:
                                                type: integer
                                                format: int32
                                                description: The time period, in seconds,
                                                  during which requests from a client
                                                  should be routed to the same target
                                                  group. The range is 1-604800 seconds
                                                  (7 days).
                                              enabled:
                                                type: boolean
                                                description: Indicates whether target
                                                  group stickiness is enabled.
                                          targetGroups:
                                            type: array
                                            description: Information about how traffic
                                              will be distributed between multiple
                                              target groups in a forward rule.
                                            items:
                                              type: object
                                              description: Definition of TargetGroupTuple
                                              properties:
                                                targetGroupArn:
                                                  type: string
                                                  description: The Amazon Resource
                                                    Name (ARN) of the target group.
                                                weight:
                                                  type: integer
                                                  format: int32
                                                  description: The weight. The range
                                                    is 0 to 999.
                                            x-ms-identifiers: []
                                      order:
                                        type: integer
                                        format: int32
                                        description: The order for the action. This
                                          value is required for rules with multiple
                                          actions. The action with the lowest value
                                          for order is performed first.
                                      redirectConfig:
                                        description: '[Application Load Balancer]
                                          Information for creating a redirect action.
                                          Specify only when ``Type`` is ``redirect``.
                                          Information about a redirect action. A URI
                                          consists of the following components: protocol://hostname:port/path?query.
                                          You must modify at least one of the following
                                          components to avoid a redirect loop: protocol,
                                          hostname, port, or path. Any components
                                          that you do not modify retain their original
                                          values. You can reuse URI components using
                                          the following reserved keywords:  +  #{protocol}  +  #{host}  +  #{port}  +  #{path}
                                          (the leading ''/'' is removed)  +  #{query}   For
                                          example, you can change the path to ''/new/#{path}'',
                                          the hostname to ''example.#{host}'', or
                                          the query to ''#{query}&value=xyz''.'
                                        type: object
                                        properties:
                                          host:
                                            type: string
                                            description: 'The hostname. This component
                                              is not percent-encoded. The hostname
                                              can contain #{host}.'
                                          path:
                                            type: string
                                            description: 'The absolute path, starting
                                              with the leading ''/''. This component
                                              is not percent-encoded. The path can
                                              contain #{host}, #{path}, and #{port}.'
                                          port:
                                            type: string
                                            description: 'The port. You can specify
                                              a value from 1 to 65535 or #{port}.'
                                          protocol:
                                            type: string
                                            description: 'The protocol. You can specify
                                              HTTP, HTTPS, or #{protocol}. You can
                                              redirect HTTP to HTTP, HTTP to HTTPS,
                                              and HTTPS to HTTPS. You cannot redirect
                                              HTTPS to HTTP.'
                                          query:
                                            type: string
                                            description: The query parameters, URL-encoded
                                              when necessary, but not percent-encoded.
                                              Do not include the leading '?', as it
                                              is automatically added. You can specify
                                              any of the reserved keywords.
                                          statusCode:
                                            type: string
                                            description: The HTTP redirect code. The
                                              redirect is either permanent (HTTP 301)
                                              or temporary (HTTP 302).
                                      targetGroupArn:
                                        type: string
                                        description: The Amazon Resource Name (ARN)
                                          of the target group. Specify only when ``Type``
                                          is ``forward`` and you want to route to
                                          a single target group. To route to one or
                                          more target groups, use ``ForwardConfig``
                                          instead.
                                      type:
                                        type: string
                                        description: The type of action.
                                  x-ms-identifiers: []
                                listenerArn:
                                  type: string
                                  description: Property listenerArn
                                loadBalancerArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    load balancer.
                                mutualAuthentication:
                                  description: The mutual authentication configuration
                                    information. Specifies the configuration information
                                    for mutual authentication.
                                  type: object
                                  properties:
                                    ignoreClientCertificateExpiry:
                                      type: boolean
                                      description: Indicates whether expired client
                                        certificates are ignored.
                                    mode:
                                      type: string
                                      description: The client certificate handling
                                        method. Options are ``off``, ``passthrough``
                                        or ``verify``. The default value is ``off``.
                                    trustStoreArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the trust store.
                                port:
                                  type: integer
                                  format: int32
                                  description: The port on which the load balancer
                                    is listening. You cannot specify a port for a
                                    Gateway Load Balancer.
                                protocol:
                                  type: string
                                  description: "The protocol for connections from\
                                    \ clients to the load balancer. For Application\
                                    \ Load Balancers, the supported protocols are\
                                    \ HTTP and HTTPS. For Network Load Balancers,\
                                    \ the supported protocols are TCP, TLS, UDP, and\
                                    \ TCP_UDP. You can\u2019t specify the UDP or TCP_UDP\
                                    \ protocol if dual-stack mode is enabled. You\
                                    \ cannot specify a protocol for a Gateway Load\
                                    \ Balancer."
                                sslPolicy:
                                  type: string
                                  description: '[HTTPS and TLS listeners] The security
                                    policy that defines which protocols and ciphers
                                    are supported. Updating the security policy can
                                    result in interruptions if the load balancer is
                                    handling a high volume of traffic. For more information,
                                    see [Security policies](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies)
                                    in the *Application Load Balancers Guide* and
                                    [Security policies](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies)
                                    in the *Network Load Balancers Guide*.'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2Listeners
  : get:
      operationId: ElasticLoadBalancingV2Listeners_ListByResourceGroup
      tags:
      - ElasticLoadBalancingV2Listeners
      description: List ElasticLoadBalancingV2Listener resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ElasticLoadBalancingV2Listener list
                  operation.
                properties:
                  value:
                    type: array
                    description: The ElasticLoadBalancingV2Listener items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                alpnPolicy:
                                  type: array
                                  description: '[TLS listener] The name of the Application-Layer
                                    Protocol Negotiation (ALPN) policy.'
                                  items:
                                    type: string
                                certificates:
                                  type: array
                                  description: The default SSL server certificate
                                    for a secure listener. You must provide exactly
                                    one certificate if the listener protocol is HTTPS
                                    or TLS. To create a certificate list for a secure
                                    listener, use [AWS::ElasticLoadBalancingV2::ListenerCertificate](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenercertificate.html).
                                  items:
                                    type: object
                                    description: Definition of Certificate
                                    properties:
                                      certificateArn:
                                        type: string
                                        description: The Amazon Resource Name (ARN)
                                          of the certificate.
                                  x-ms-identifiers: []
                                defaultActions:
                                  type: array
                                  description: The actions for the default rule. You
                                    cannot define a condition for a default rule.
                                    To create additional rules for an Application
                                    Load Balancer, use [AWS::ElasticLoadBalancingV2::ListenerRule](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenerrule.html).
                                  items:
                                    type: object
                                    description: Definition of Action
                                    properties:
                                      authenticateCognitoConfig:
                                        description: '[HTTPS listeners] Information
                                          for using Amazon Cognito to authenticate
                                          users. Specify only when ``Type`` is ``authenticate-cognito``.
                                          Specifies information required when integrating
                                          with Amazon Cognito to authenticate users.'
                                        type: object
                                        properties:
                                          authenticationRequestExtraParams:
                                            type: object
                                            description: The query parameters (up
                                              to 10) to include in the redirect request
                                              to the authorization endpoint.
                                            additionalProperties:
                                              type: string
                                          onUnauthenticatedRequest:
                                            type: string
                                            description: 'The behavior if the user
                                              is not authenticated. The following
                                              are possible values:  +  deny```` -
                                              Return an HTTP 401 Unauthorized error.  +  allow````
                                              - Allow the request to be forwarded
                                              to the target.  +  authenticate````
                                              - Redirect the request to the IdP authorization
                                              endpoint. This is the default value.'
                                          scope:
                                            type: string
                                            description: The set of user claims to
                                              be requested from the IdP. The default
                                              is ``openid``. To verify which scope
                                              values your IdP supports and how to
                                              separate multiple values, see the documentation
                                              for your IdP.
                                          sessionCookieName:
                                            type: string
                                            description: The name of the cookie used
                                              to maintain session information. The
                                              default is AWSELBAuthSessionCookie.
                                          sessionTimeout:
                                            type: string
                                            description: The maximum duration of the
                                              authentication session, in seconds.
                                              The default is 604800 seconds (7 days).
                                          userPoolArn:
                                            type: string
                                            description: The Amazon Resource Name
                                              (ARN) of the Amazon Cognito user pool.
                                          userPoolClientId:
                                            type: string
                                            description: The ID of the Amazon Cognito
                                              user pool client.
                                          userPoolDomain:
                                            type: string
                                            description: The domain prefix or fully-qualified
                                              domain name of the Amazon Cognito user
                                              pool.
                                      authenticateOidcConfig:
                                        description: '[HTTPS listeners] Information
                                          about an identity provider that is compliant
                                          with OpenID Connect (OIDC). Specify only
                                          when ``Type`` is ``authenticate-oidc``.
                                          Specifies information required using an
                                          identity provide (IdP) that is compliant
                                          with OpenID Connect (OIDC) to authenticate
                                          users.'
                                        type: object
                                        properties:
                                          authenticationRequestExtraParams:
                                            type: object
                                            description: The query parameters (up
                                              to 10) to include in the redirect request
                                              to the authorization endpoint.
                                            additionalProperties:
                                              type: string
                                          authorizationEndpoint:
                                            type: string
                                            description: The authorization endpoint
                                              of the IdP. This must be a full URL,
                                              including the HTTPS protocol, the domain,
                                              and the path.
                                          clientId:
                                            type: string
                                            description: The OAuth 2.0 client identifier.
                                          clientSecret:
                                            type: string
                                            description: The OAuth 2.0 client secret.
                                              This parameter is required if you are
                                              creating a rule. If you are modifying
                                              a rule, you can omit this parameter
                                              if you set ``UseExistingClientSecret``
                                              to true.
                                          issuer:
                                            type: string
                                            description: The OIDC issuer identifier
                                              of the IdP. This must be a full URL,
                                              including the HTTPS protocol, the domain,
                                              and the path.
                                          onUnauthenticatedRequest:
                                            type: string
                                            description: 'The behavior if the user
                                              is not authenticated. The following
                                              are possible values:  +  deny```` -
                                              Return an HTTP 401 Unauthorized error.  +  allow````
                                              - Allow the request to be forwarded
                                              to the target.  +  authenticate````
                                              - Redirect the request to the IdP authorization
                                              endpoint. This is the default value.'
                                          scope:
                                            type: string
                                            description: The set of user claims to
                                              be requested from the IdP. The default
                                              is ``openid``. To verify which scope
                                              values your IdP supports and how to
                                              separate multiple values, see the documentation
                                              for your IdP.
                                          sessionCookieName:
                                            type: string
                                            description: The name of the cookie used
                                              to maintain session information. The
                                              default is AWSELBAuthSessionCookie.
                                          sessionTimeout:
                                            type: string
                                            description: The maximum duration of the
                                              authentication session, in seconds.
                                              The default is 604800 seconds (7 days).
                                          tokenEndpoint:
                                            type: string
                                            description: The token endpoint of the
                                              IdP. This must be a full URL, including
                                              the HTTPS protocol, the domain, and
                                              the path.
                                          useExistingClientSecret:
                                            type: boolean
                                            description: Indicates whether to use
                                              the existing client secret when modifying
                                              a rule. If you are creating a rule,
                                              you can omit this parameter or set it
                                              to false.
                                          userInfoEndpoint:
                                            type: string
                                            description: The user info endpoint of
                                              the IdP. This must be a full URL, including
                                              the HTTPS protocol, the domain, and
                                              the path.
                                      fixedResponseConfig:
                                        description: '[Application Load Balancer]
                                          Information for creating an action that
                                          returns a custom HTTP response. Specify
                                          only when ``Type`` is ``fixed-response``.
                                          Specifies information required when returning
                                          a custom HTTP response.'
                                        type: object
                                        properties:
                                          contentType:
                                            type: string
                                            description: 'The content type. Valid
                                              Values: text/plain | text/css | text/html
                                              | application/javascript | application/json'
                                          messageBody:
                                            type: string
                                            description: The message.
                                          statusCode:
                                            type: string
                                            description: The HTTP response code (2XX,
                                              4XX, or 5XX).
                                      forwardConfig:
                                        description: Information for creating an action
                                          that distributes requests among one or more
                                          target groups. For Network Load Balancers,
                                          you can specify a single target group. Specify
                                          only when ``Type`` is ``forward``. If you
                                          specify both ``ForwardConfig`` and ``TargetGroupArn``,
                                          you can specify only one target group using
                                          ``ForwardConfig`` and it must be the same
                                          target group specified in ``TargetGroupArn``.
                                          Information for creating an action that
                                          distributes requests among one or more target
                                          groups. For Network Load Balancers, you
                                          can specify a single target group. Specify
                                          only when ``Type`` is ``forward``. If you
                                          specify both ``ForwardConfig`` and ``TargetGroupArn``,
                                          you can specify only one target group using
                                          ``ForwardConfig`` and it must be the same
                                          target group specified in ``TargetGroupArn``.
                                        type: object
                                        properties:
                                          targetGroupStickinessConfig:
                                            description: Information about the target
                                              group stickiness for a rule. Information
                                              about the target group stickiness for
                                              a rule.
                                            type: object
                                            properties:
                                              durationSeconds:
                                                type: integer
                                                format: int32
                                                description: The time period, in seconds,
                                                  during which requests from a client
                                                  should be routed to the same target
                                                  group. The range is 1-604800 seconds
                                                  (7 days).
                                              enabled:
                                                type: boolean
                                                description: Indicates whether target
                                                  group stickiness is enabled.
                                          targetGroups:
                                            type: array
                                            description: Information about how traffic
                                              will be distributed between multiple
                                              target groups in a forward rule.
                                            items:
                                              type: object
                                              description: Definition of TargetGroupTuple
                                              properties:
                                                targetGroupArn:
                                                  type: string
                                                  description: The Amazon Resource
                                                    Name (ARN) of the target group.
                                                weight:
                                                  type: integer
                                                  format: int32
                                                  description: The weight. The range
                                                    is 0 to 999.
                                            x-ms-identifiers: []
                                      order:
                                        type: integer
                                        format: int32
                                        description: The order for the action. This
                                          value is required for rules with multiple
                                          actions. The action with the lowest value
                                          for order is performed first.
                                      redirectConfig:
                                        description: '[Application Load Balancer]
                                          Information for creating a redirect action.
                                          Specify only when ``Type`` is ``redirect``.
                                          Information about a redirect action. A URI
                                          consists of the following components: protocol://hostname:port/path?query.
                                          You must modify at least one of the following
                                          components to avoid a redirect loop: protocol,
                                          hostname, port, or path. Any components
                                          that you do not modify retain their original
                                          values. You can reuse URI components using
                                          the following reserved keywords:  +  #{protocol}  +  #{host}  +  #{port}  +  #{path}
                                          (the leading ''/'' is removed)  +  #{query}   For
                                          example, you can change the path to ''/new/#{path}'',
                                          the hostname to ''example.#{host}'', or
                                          the query to ''#{query}&value=xyz''.'
                                        type: object
                                        properties:
                                          host:
                                            type: string
                                            description: 'The hostname. This component
                                              is not percent-encoded. The hostname
                                              can contain #{host}.'
                                          path:
                                            type: string
                                            description: 'The absolute path, starting
                                              with the leading ''/''. This component
                                              is not percent-encoded. The path can
                                              contain #{host}, #{path}, and #{port}.'
                                          port:
                                            type: string
                                            description: 'The port. You can specify
                                              a value from 1 to 65535 or #{port}.'
                                          protocol:
                                            type: string
                                            description: 'The protocol. You can specify
                                              HTTP, HTTPS, or #{protocol}. You can
                                              redirect HTTP to HTTP, HTTP to HTTPS,
                                              and HTTPS to HTTPS. You cannot redirect
                                              HTTPS to HTTP.'
                                          query:
                                            type: string
                                            description: The query parameters, URL-encoded
                                              when necessary, but not percent-encoded.
                                              Do not include the leading '?', as it
                                              is automatically added. You can specify
                                              any of the reserved keywords.
                                          statusCode:
                                            type: string
                                            description: The HTTP redirect code. The
                                              redirect is either permanent (HTTP 301)
                                              or temporary (HTTP 302).
                                      targetGroupArn:
                                        type: string
                                        description: The Amazon Resource Name (ARN)
                                          of the target group. Specify only when ``Type``
                                          is ``forward`` and you want to route to
                                          a single target group. To route to one or
                                          more target groups, use ``ForwardConfig``
                                          instead.
                                      type:
                                        type: string
                                        description: The type of action.
                                  x-ms-identifiers: []
                                listenerArn:
                                  type: string
                                  description: Property listenerArn
                                loadBalancerArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    load balancer.
                                mutualAuthentication:
                                  description: The mutual authentication configuration
                                    information. Specifies the configuration information
                                    for mutual authentication.
                                  type: object
                                  properties:
                                    ignoreClientCertificateExpiry:
                                      type: boolean
                                      description: Indicates whether expired client
                                        certificates are ignored.
                                    mode:
                                      type: string
                                      description: The client certificate handling
                                        method. Options are ``off``, ``passthrough``
                                        or ``verify``. The default value is ``off``.
                                    trustStoreArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the trust store.
                                port:
                                  type: integer
                                  format: int32
                                  description: The port on which the load balancer
                                    is listening. You cannot specify a port for a
                                    Gateway Load Balancer.
                                protocol:
                                  type: string
                                  description: "The protocol for connections from\
                                    \ clients to the load balancer. For Application\
                                    \ Load Balancers, the supported protocols are\
                                    \ HTTP and HTTPS. For Network Load Balancers,\
                                    \ the supported protocols are TCP, TLS, UDP, and\
                                    \ TCP_UDP. You can\u2019t specify the UDP or TCP_UDP\
                                    \ protocol if dual-stack mode is enabled. You\
                                    \ cannot specify a protocol for a Gateway Load\
                                    \ Balancer."
                                sslPolicy:
                                  type: string
                                  description: '[HTTPS and TLS listeners] The security
                                    policy that defines which protocols and ciphers
                                    are supported. Updating the security policy can
                                    result in interruptions if the load balancer is
                                    handling a high volume of traffic. For more information,
                                    see [Security policies](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies)
                                    in the *Application Load Balancers Guide* and
                                    [Security policies](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies)
                                    in the *Network Load Balancers Guide*.'
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingV2Listeners/{name}
  : get:
      operationId: ElasticLoadBalancingV2Listeners_Get
      tags:
      - ElasticLoadBalancingV2Listeners
      description: Get a ElasticLoadBalancingV2Listener
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of ElasticLoadBalancingV2Listener
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          alpnPolicy:
                            type: array
                            description: '[TLS listener] The name of the Application-Layer
                              Protocol Negotiation (ALPN) policy.'
                            items:
                              type: string
                          certificates:
                            type: array
                            description: The default SSL server certificate for a
                              secure listener. You must provide exactly one certificate
                              if the listener protocol is HTTPS or TLS. To create
                              a certificate list for a secure listener, use [AWS::ElasticLoadBalancingV2::ListenerCertificate](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenercertificate.html).
                            items:
                              type: object
                              description: Definition of Certificate
                              properties:
                                certificateArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    certificate.
                            x-ms-identifiers: []
                          defaultActions:
                            type: array
                            description: The actions for the default rule. You cannot
                              define a condition for a default rule. To create additional
                              rules for an Application Load Balancer, use [AWS::ElasticLoadBalancingV2::ListenerRule](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listenerrule.html).
                            items:
                              type: object
                              description: Definition of Action
                              properties:
                                authenticateCognitoConfig:
                                  description: '[HTTPS listeners] Information for
                                    using Amazon Cognito to authenticate users. Specify
                                    only when ``Type`` is ``authenticate-cognito``.
                                    Specifies information required when integrating
                                    with Amazon Cognito to authenticate users.'
                                  type: object
                                  properties:
                                    authenticationRequestExtraParams:
                                      type: object
                                      description: The query parameters (up to 10)
                                        to include in the redirect request to the
                                        authorization endpoint.
                                      additionalProperties:
                                        type: string
                                    onUnauthenticatedRequest:
                                      type: string
                                      description: 'The behavior if the user is not
                                        authenticated. The following are possible
                                        values:  +  deny```` - Return an HTTP 401
                                        Unauthorized error.  +  allow```` - Allow
                                        the request to be forwarded to the target.  +  authenticate````
                                        - Redirect the request to the IdP authorization
                                        endpoint. This is the default value.'
                                    scope:
                                      type: string
                                      description: The set of user claims to be requested
                                        from the IdP. The default is ``openid``. To
                                        verify which scope values your IdP supports
                                        and how to separate multiple values, see the
                                        documentation for your IdP.
                                    sessionCookieName:
                                      type: string
                                      description: The name of the cookie used to
                                        maintain session information. The default
                                        is AWSELBAuthSessionCookie.
                                    sessionTimeout:
                                      type: string
                                      description: The maximum duration of the authentication
                                        session, in seconds. The default is 604800
                                        seconds (7 days).
                                    userPoolArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the Amazon Cognito user pool.
                                    userPoolClientId:
                                      type: string
                                      description: The ID of the Amazon Cognito user
                                        pool client.
                                    userPoolDomain:
                                      type: string
                                      description: The domain prefix or fully-qualified
                                        domain name of the Amazon Cognito user pool.
                                authenticateOidcConfig:
                                  description: '[HTTPS listeners] Information about
                                    an identity provider that is compliant with OpenID
                                    Connect (OIDC). Specify only when ``Type`` is
                                    ``authenticate-oidc``. Specifies information required
                                    using an identity provide (IdP) that is compliant
                                    with OpenID Connect (OIDC) to authenticate users.'
                                  type: object
                                  properties:
                                    authenticationRequestExtraParams:
                                      type: object
                                      description: The query parameters (up to 10)
                                        to include in the redirect request to the
                                        authorization endpoint.
                                      additionalProperties:
                                        type: string
                                    authorizationEndpoint:
                                      type: string
                                      description: The authorization endpoint of the
                                        IdP. This must be a full URL, including the
                                        HTTPS protocol, the domain, and the path.
                                    clientId:
                                      type: string
                                      description: The OAuth 2.0 client identifier.
                                    clientSecret:
                                      type: string
                                      description: The OAuth 2.0 client secret. This
                                        parameter is required if you are creating
                                        a rule. If you are modifying a rule, you can
                                        omit this parameter if you set ``UseExistingClientSecret``
                                        to true.
                                    issuer:
                                      type: string
                                      description: The OIDC issuer identifier of the
                                        IdP. This must be a full URL, including the
                                        HTTPS protocol, the domain, and the path.
                                    onUnauthenticatedRequest:
                                      type: string
                                      description: 'The behavior if the user is not
                                        authenticated. The following are possible
                                        values:  +  deny```` - Return an HTTP 401
                                        Unauthorized error.  +  allow```` - Allow
                                        the request to be forwarded to the target.  +  authenticate````
                                        - Redirect the request to the IdP authorization
                                        endpoint. This is the default value.'
                                    scope:
                                      type: string
                                      description: The set of user claims to be requested
                                        from the IdP. The default is ``openid``. To
                                        verify which scope values your IdP supports
                                        and how to separate multiple values, see the
                                        documentation for your IdP.
                                    sessionCookieName:
                                      type: string
                                      description: The name of the cookie used to
                                        maintain session information. The default
                                        is AWSELBAuthSessionCookie.
                                    sessionTimeout:
                                      type: string
                                      description: The maximum duration of the authentication
                                        session, in seconds. The default is 604800
                                        seconds (7 days).
                                    tokenEndpoint:
                                      type: string
                                      description: The token endpoint of the IdP.
                                        This must be a full URL, including the HTTPS
[...]
