openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IamRoles
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/iamRoles:
    get:
      operationId: IamRoles_ListBySubscription
      tags:
      - IamRoles
      description: List IamRole resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a IamRole list operation.
                properties:
                  value:
                    type: array
                    description: The IamRole items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                assumeRolePolicyDocument:
                                  type: object
                                  description: The trust policy that is associated
                                    with this role. Trust policies define which entities
                                    can assume the role. You can associate only one
                                    trust policy with a role. For an example of a
                                    policy that can be used to assume a role, see
                                    [Template Examples](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#aws-resource-iam-role--examples).
                                    For more information about the elements that you
                                    can use in an IAM policy, see [Policy Elements
                                    Reference](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements.html)
                                    in the *User Guide*.
                                  additionalProperties: {}
                                description:
                                  type: string
                                  description: A description of the role that you
                                    provide.
                                managedPolicyArns:
                                  type: array
                                  description: A list of Amazon Resource Names (ARNs)
                                    of the IAM managed policies that you want to attach
                                    to the role. For more information about ARNs,
                                    see [Amazon Resource Names (ARNs) and Service
                                    Namespaces](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html)
                                    in the *General Reference*.
                                  items:
                                    type: string
                                maxSessionDuration:
                                  type: integer
                                  format: int32
                                  description: The maximum session duration (in seconds)
                                    that you want to set for the specified role. If
                                    you do not specify a value for this setting, the
                                    default value of one hour is applied. This setting
                                    can have a value from 1 hour to 12 hours. Anyone
                                    who assumes the role from the CLI or API can use
                                    the ``DurationSeconds`` API parameter or the ``duration-seconds``
                                    CLI parameter to request a longer session. The
                                    ``MaxSessionDuration`` setting determines the
                                    maximum duration that can be requested using the
                                    ``DurationSeconds`` parameter. If users don't
                                    specify a value for the ``DurationSeconds`` parameter,
                                    their security credentials are valid for one hour
                                    by default. This applies when you use the ``AssumeRole*``
                                    API operations or the ``assume-role*`` CLI operations
                                    but does not apply when you use those operations
                                    to create a console URL. For more information,
                                    see [Using IAM roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html)
                                    in the *IAM User Guide*.
                                path:
                                  type: string
                                  description: The path to the role. For more information
                                    about paths, see [IAM Identifiers](https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html)
                                    in the *IAM User Guide*. This parameter is optional.
                                    If it is not included, it defaults to a slash
                                    (/). This parameter allows (through its [regex
                                    pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                                    a string of characters consisting of either a
                                    forward slash (/) by itself or a string that must
                                    begin and end with forward slashes. In addition,
                                    it can contain any ASCII character from the !
                                    (``\u0021``) through the DEL character (``\u007F``),
                                    including most punctuation characters, digits,
                                    and upper and lowercased letters.
                                  default: /
                                permissionsBoundary:
                                  type: string
                                  description: The ARN of the policy used to set the
                                    permissions boundary for the role. For more information
                                    about permissions boundaries, see [Permissions
                                    boundaries for IAM identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html)
                                    in the *IAM User Guide*.
                                policies:
                                  type: array
                                  description: Adds or updates an inline policy document
                                    that is embedded in the specified IAM role. When
                                    you embed an inline policy in a role, the inline
                                    policy is used as part of the role's access (permissions)
                                    policy. The role's trust policy is created at
                                    the same time as the role. You can update a role's
                                    trust policy later. For more information about
                                    IAM roles, go to [Using Roles to Delegate Permissions
                                    and Federate Identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html).
                                    A role can also have an attached managed policy.
                                    For information about policies, see [Managed Policies
                                    and Inline Policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html)
                                    in the *User Guide*. For information about limits
                                    on the number of inline policies that you can
                                    embed with a role, see [Limitations on Entities](https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html)
                                    in the *User Guide*.  If an external policy (such
                                    as ``AWS::IAM::Policy`` or
                                  items:
                                    type: object
                                    description: Definition of Policy
                                    properties:
                                      policyDocument:
                                        type: object
                                        description: The entire contents of the policy
                                          that defines permissions. For more information,
                                          see [Overview of JSON policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json).
                                        additionalProperties: {}
                                      policyName:
                                        type: string
                                        description: The friendly name (not ARN) identifying
                                          the policy.
                                  x-ms-identifiers: []
                                roleId:
                                  type: string
                                  description: Property roleId
                                roleName:
                                  type: string
                                  description: 'A name for the IAM role, up to 64
                                    characters in length. For valid values, see the
                                    ``RoleName`` parameter for the [CreateRole](https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html)
                                    action in the *User Guide*. This parameter allows
                                    (per its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                                    a string of characters consisting of upper and
                                    lowercase alphanumeric characters with no spaces.
                                    You can also include any of the following characters:
                                    _+=,.@-. The role name must be unique within the
                                    account. Role names are not distinguished by case.
                                    For example, you cannot create roles named both
                                    ''Role1'' and ''role1''. If you don''t specify
                                    a name, CFN generates a unique physical ID and
                                    uses that ID for the role name. If you specify
                                    a name, you must specify the ``CAPABILITY_NAMED_IAM``
                                    value to acknowledge your template''s capabilities.
                                    For more information, see [Acknowledging Resources
                                    in Templates](https://docs.aws.amazon.com/AWSCloudFormation/latest/Use'
                                tags:
                                  type: array
                                  description: A list of tags that are attached to
                                    the role. For more information about tagging,
                                    see [Tagging IAM resources](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                                    in the *IAM User Guide*.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key name that can be used
                                          to look up or retrieve the associated value.
                                          For example, ``Department`` or ``Cost Center``
                                          are common choices.
                                      value:
                                        type: string
                                        description: The value associated with this
                                          tag. For example, tags with a key name of
                                          ``Department`` could have values such as
                                          ``Human Resources``, ``Accounting``, and
                                          ``Support``. Tags with a key name of ``Cost
                                          Center`` might have values that consist
                                          of the number associated with the different
                                          cost centers in your company. Typically,
                                          many resources have tags with the same key
                                          name but with different values.   AWS always
                                          interprets the tag ``Value`` as a single
                                          string. If you need to store an array, you
                                          can store comma-separated values in the
                                          string. However, you must interpret the
                                          value in your code.
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/iamRoles:
    get:
      operationId: IamRoles_ListByResourceGroup
      tags:
      - IamRoles
      description: List IamRole resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a IamRole list operation.
                properties:
                  value:
                    type: array
                    description: The IamRole items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                assumeRolePolicyDocument:
                                  type: object
                                  description: The trust policy that is associated
                                    with this role. Trust policies define which entities
                                    can assume the role. You can associate only one
                                    trust policy with a role. For an example of a
                                    policy that can be used to assume a role, see
                                    [Template Examples](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#aws-resource-iam-role--examples).
                                    For more information about the elements that you
                                    can use in an IAM policy, see [Policy Elements
                                    Reference](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements.html)
                                    in the *User Guide*.
                                  additionalProperties: {}
                                description:
                                  type: string
                                  description: A description of the role that you
                                    provide.
                                managedPolicyArns:
                                  type: array
                                  description: A list of Amazon Resource Names (ARNs)
                                    of the IAM managed policies that you want to attach
                                    to the role. For more information about ARNs,
                                    see [Amazon Resource Names (ARNs) and Service
                                    Namespaces](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html)
                                    in the *General Reference*.
                                  items:
                                    type: string
                                maxSessionDuration:
                                  type: integer
                                  format: int32
                                  description: The maximum session duration (in seconds)
                                    that you want to set for the specified role. If
                                    you do not specify a value for this setting, the
                                    default value of one hour is applied. This setting
                                    can have a value from 1 hour to 12 hours. Anyone
                                    who assumes the role from the CLI or API can use
                                    the ``DurationSeconds`` API parameter or the ``duration-seconds``
                                    CLI parameter to request a longer session. The
                                    ``MaxSessionDuration`` setting determines the
                                    maximum duration that can be requested using the
                                    ``DurationSeconds`` parameter. If users don't
                                    specify a value for the ``DurationSeconds`` parameter,
                                    their security credentials are valid for one hour
                                    by default. This applies when you use the ``AssumeRole*``
                                    API operations or the ``assume-role*`` CLI operations
                                    but does not apply when you use those operations
                                    to create a console URL. For more information,
                                    see [Using IAM roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html)
                                    in the *IAM User Guide*.
                                path:
                                  type: string
                                  description: The path to the role. For more information
                                    about paths, see [IAM Identifiers](https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html)
                                    in the *IAM User Guide*. This parameter is optional.
                                    If it is not included, it defaults to a slash
                                    (/). This parameter allows (through its [regex
                                    pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                                    a string of characters consisting of either a
                                    forward slash (/) by itself or a string that must
                                    begin and end with forward slashes. In addition,
                                    it can contain any ASCII character from the !
                                    (``\u0021``) through the DEL character (``\u007F``),
                                    including most punctuation characters, digits,
                                    and upper and lowercased letters.
                                  default: /
                                permissionsBoundary:
                                  type: string
                                  description: The ARN of the policy used to set the
                                    permissions boundary for the role. For more information
                                    about permissions boundaries, see [Permissions
                                    boundaries for IAM identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html)
                                    in the *IAM User Guide*.
                                policies:
                                  type: array
                                  description: Adds or updates an inline policy document
                                    that is embedded in the specified IAM role. When
                                    you embed an inline policy in a role, the inline
                                    policy is used as part of the role's access (permissions)
                                    policy. The role's trust policy is created at
                                    the same time as the role. You can update a role's
                                    trust policy later. For more information about
                                    IAM roles, go to [Using Roles to Delegate Permissions
                                    and Federate Identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html).
                                    A role can also have an attached managed policy.
                                    For information about policies, see [Managed Policies
                                    and Inline Policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html)
                                    in the *User Guide*. For information about limits
                                    on the number of inline policies that you can
                                    embed with a role, see [Limitations on Entities](https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html)
                                    in the *User Guide*.  If an external policy (such
                                    as ``AWS::IAM::Policy`` or
                                  items:
                                    type: object
                                    description: Definition of Policy
                                    properties:
                                      policyDocument:
                                        type: object
                                        description: The entire contents of the policy
                                          that defines permissions. For more information,
                                          see [Overview of JSON policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json).
                                        additionalProperties: {}
                                      policyName:
                                        type: string
                                        description: The friendly name (not ARN) identifying
                                          the policy.
                                  x-ms-identifiers: []
                                roleId:
                                  type: string
                                  description: Property roleId
                                roleName:
                                  type: string
                                  description: 'A name for the IAM role, up to 64
                                    characters in length. For valid values, see the
                                    ``RoleName`` parameter for the [CreateRole](https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html)
                                    action in the *User Guide*. This parameter allows
                                    (per its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                                    a string of characters consisting of upper and
                                    lowercase alphanumeric characters with no spaces.
                                    You can also include any of the following characters:
                                    _+=,.@-. The role name must be unique within the
                                    account. Role names are not distinguished by case.
                                    For example, you cannot create roles named both
                                    ''Role1'' and ''role1''. If you don''t specify
                                    a name, CFN generates a unique physical ID and
                                    uses that ID for the role name. If you specify
                                    a name, you must specify the ``CAPABILITY_NAMED_IAM``
                                    value to acknowledge your template''s capabilities.
                                    For more information, see [Acknowledging Resources
                                    in Templates](https://docs.aws.amazon.com/AWSCloudFormation/latest/Use'
                                tags:
                                  type: array
                                  description: A list of tags that are attached to
                                    the role. For more information about tagging,
                                    see [Tagging IAM resources](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                                    in the *IAM User Guide*.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key name that can be used
                                          to look up or retrieve the associated value.
                                          For example, ``Department`` or ``Cost Center``
                                          are common choices.
                                      value:
                                        type: string
                                        description: The value associated with this
                                          tag. For example, tags with a key name of
                                          ``Department`` could have values such as
                                          ``Human Resources``, ``Accounting``, and
                                          ``Support``. Tags with a key name of ``Cost
                                          Center`` might have values that consist
                                          of the number associated with the different
                                          cost centers in your company. Typically,
                                          many resources have tags with the same key
                                          name but with different values.   AWS always
                                          interprets the tag ``Value`` as a single
                                          string. If you need to store an array, you
                                          can store comma-separated values in the
                                          string. However, you must interpret the
                                          value in your code.
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/iamRoles/{name}:
    get:
      operationId: IamRoles_Get
      tags:
      - IamRoles
      description: Get a IamRole
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of IamRole
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: Property arn
                          assumeRolePolicyDocument:
                            type: object
                            description: The trust policy that is associated with
                              this role. Trust policies define which entities can
                              assume the role. You can associate only one trust policy
                              with a role. For an example of a policy that can be
                              used to assume a role, see [Template Examples](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#aws-resource-iam-role--examples).
                              For more information about the elements that you can
                              use in an IAM policy, see [Policy Elements Reference](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements.html)
                              in the *User Guide*.
                            additionalProperties: {}
                          description:
                            type: string
                            description: A description of the role that you provide.
                          managedPolicyArns:
                            type: array
                            description: A list of Amazon Resource Names (ARNs) of
                              the IAM managed policies that you want to attach to
                              the role. For more information about ARNs, see [Amazon
                              Resource Names (ARNs) and Service Namespaces](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html)
                              in the *General Reference*.
                            items:
                              type: string
                          maxSessionDuration:
                            type: integer
                            format: int32
                            description: The maximum session duration (in seconds)
                              that you want to set for the specified role. If you
                              do not specify a value for this setting, the default
                              value of one hour is applied. This setting can have
                              a value from 1 hour to 12 hours. Anyone who assumes
                              the role from the CLI or API can use the ``DurationSeconds``
                              API parameter or the ``duration-seconds`` CLI parameter
                              to request a longer session. The ``MaxSessionDuration``
                              setting determines the maximum duration that can be
                              requested using the ``DurationSeconds`` parameter. If
                              users don't specify a value for the ``DurationSeconds``
                              parameter, their security credentials are valid for
                              one hour by default. This applies when you use the ``AssumeRole*``
                              API operations or the ``assume-role*`` CLI operations
                              but does not apply when you use those operations to
                              create a console URL. For more information, see [Using
                              IAM roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html)
                              in the *IAM User Guide*.
                          path:
                            type: string
                            description: The path to the role. For more information
                              about paths, see [IAM Identifiers](https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html)
                              in the *IAM User Guide*. This parameter is optional.
                              If it is not included, it defaults to a slash (/). This
                              parameter allows (through its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                              a string of characters consisting of either a forward
                              slash (/) by itself or a string that must begin and
                              end with forward slashes. In addition, it can contain
                              any ASCII character from the ! (``\u0021``) through
                              the DEL character (``\u007F``), including most punctuation
                              characters, digits, and upper and lowercased letters.
                            default: /
                          permissionsBoundary:
                            type: string
                            description: The ARN of the policy used to set the permissions
                              boundary for the role. For more information about permissions
                              boundaries, see [Permissions boundaries for IAM identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html)
                              in the *IAM User Guide*.
                          policies:
                            type: array
                            description: Adds or updates an inline policy document
                              that is embedded in the specified IAM role. When you
                              embed an inline policy in a role, the inline policy
                              is used as part of the role's access (permissions) policy.
                              The role's trust policy is created at the same time
                              as the role. You can update a role's trust policy later.
                              For more information about IAM roles, go to [Using Roles
                              to Delegate Permissions and Federate Identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html).
                              A role can also have an attached managed policy. For
                              information about policies, see [Managed Policies and
                              Inline Policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html)
                              in the *User Guide*. For information about limits on
                              the number of inline policies that you can embed with
                              a role, see [Limitations on Entities](https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html)
                              in the *User Guide*.  If an external policy (such as
                              ``AWS::IAM::Policy`` or
                            items:
                              type: object
                              description: Definition of Policy
                              properties:
                                policyDocument:
                                  type: object
                                  description: The entire contents of the policy that
                                    defines permissions. For more information, see
                                    [Overview of JSON policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json).
                                  additionalProperties: {}
                                policyName:
                                  type: string
                                  description: The friendly name (not ARN) identifying
                                    the policy.
                            x-ms-identifiers: []
                          roleId:
                            type: string
                            description: Property roleId
                          roleName:
                            type: string
                            description: 'A name for the IAM role, up to 64 characters
                              in length. For valid values, see the ``RoleName`` parameter
                              for the [CreateRole](https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html)
                              action in the *User Guide*. This parameter allows (per
                              its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                              a string of characters consisting of upper and lowercase
                              alphanumeric characters with no spaces. You can also
                              include any of the following characters: _+=,.@-. The
                              role name must be unique within the account. Role names
                              are not distinguished by case. For example, you cannot
                              create roles named both ''Role1'' and ''role1''. If
                              you don''t specify a name, CFN generates a unique physical
                              ID and uses that ID for the role name. If you specify
                              a name, you must specify the ``CAPABILITY_NAMED_IAM``
                              value to acknowledge your template''s capabilities.
                              For more information, see [Acknowledging Resources in
                              Templates](https://docs.aws.amazon.com/AWSCloudFormation/latest/Use'
                          tags:
                            type: array
                            description: A list of tags that are attached to the role.
                              For more information about tagging, see [Tagging IAM
                              resources](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                              in the *IAM User Guide*.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The key name that can be used to look
                                    up or retrieve the associated value. For example,
                                    ``Department`` or ``Cost Center`` are common choices.
                                value:
                                  type: string
                                  description: The value associated with this tag.
                                    For example, tags with a key name of ``Department``
                                    could have values such as ``Human Resources``,
                                    ``Accounting``, and ``Support``. Tags with a key
                                    name of ``Cost Center`` might have values that
                                    consist of the number associated with the different
                                    cost centers in your company. Typically, many
                                    resources have tags with the same key name but
                                    with different values.   AWS always interprets
                                    the tag ``Value`` as a single string. If you need
                                    to store an array, you can store comma-separated
                                    values in the string. However, you must interpret
                                    the value in your code.
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: IamRoles_CreateOrReplace
      tags:
      - IamRoles
      description: Create a IamRole. Please note that end user resource creation is
        currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of IamRole
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        arn:
                          type: string
                          description: Property arn
                        assumeRolePolicyDocument:
                          type: object
                          description: The trust policy that is associated with this
                            role. Trust policies define which entities can assume
                            the role. You can associate only one trust policy with
                            a role. For an example of a policy that can be used to
                            assume a role, see [Template Examples](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#aws-resource-iam-role--examples).
                            For more information about the elements that you can use
                            in an IAM policy, see [Policy Elements Reference](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements.html)
                            in the *User Guide*.
                          additionalProperties: {}
                        description:
                          type: string
                          description: A description of the role that you provide.
                        managedPolicyArns:
                          type: array
                          description: A list of Amazon Resource Names (ARNs) of the
                            IAM managed policies that you want to attach to the role.
                            For more information about ARNs, see [Amazon Resource
                            Names (ARNs) and Service Namespaces](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html)
                            in the *General Reference*.
                          items:
                            type: string
                        maxSessionDuration:
                          type: integer
                          format: int32
                          description: The maximum session duration (in seconds) that
                            you want to set for the specified role. If you do not
                            specify a value for this setting, the default value of
                            one hour is applied. This setting can have a value from
                            1 hour to 12 hours. Anyone who assumes the role from the
                            CLI or API can use the ``DurationSeconds`` API parameter
                            or the ``duration-seconds`` CLI parameter to request a
                            longer session. The ``MaxSessionDuration`` setting determines
                            the maximum duration that can be requested using the ``DurationSeconds``
                            parameter. If users don't specify a value for the ``DurationSeconds``
                            parameter, their security credentials are valid for one
                            hour by default. This applies when you use the ``AssumeRole*``
                            API operations or the ``assume-role*`` CLI operations
                            but does not apply when you use those operations to create
                            a console URL. For more information, see [Using IAM roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html)
                            in the *IAM User Guide*.
                        path:
                          type: string
                          description: The path to the role. For more information
                            about paths, see [IAM Identifiers](https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html)
                            in the *IAM User Guide*. This parameter is optional. If
                            it is not included, it defaults to a slash (/). This parameter
                            allows (through its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                            a string of characters consisting of either a forward
                            slash (/) by itself or a string that must begin and end
                            with forward slashes. In addition, it can contain any
                            ASCII character from the ! (``\u0021``) through the DEL
                            character (``\u007F``), including most punctuation characters,
                            digits, and upper and lowercased letters.
                          default: /
                        permissionsBoundary:
                          type: string
                          description: The ARN of the policy used to set the permissions
                            boundary for the role. For more information about permissions
                            boundaries, see [Permissions boundaries for IAM identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html)
                            in the *IAM User Guide*.
                        policies:
                          type: array
                          description: Adds or updates an inline policy document that
                            is embedded in the specified IAM role. When you embed
                            an inline policy in a role, the inline policy is used
                            as part of the role's access (permissions) policy. The
                            role's trust policy is created at the same time as the
                            role. You can update a role's trust policy later. For
                            more information about IAM roles, go to [Using Roles to
                            Delegate Permissions and Federate Identities](https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html).
                            A role can also have an attached managed policy. For information
                            about policies, see [Managed Policies and Inline Policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html)
                            in the *User Guide*. For information about limits on the
                            number of inline policies that you can embed with a role,
                            see [Limitations on Entities](https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html)
                            in the *User Guide*.  If an external policy (such as ``AWS::IAM::Policy``
                            or
                          items:
                            type: object
                            description: Definition of Policy
                            properties:
                              policyDocument:
                                type: object
                                description: The entire contents of the policy that
                                  defines permissions. For more information, see [Overview
                                  of JSON policies](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json).
                                additionalProperties: {}
                              policyName:
                                type: string
                                description: The friendly name (not ARN) identifying
                                  the policy.
                          x-ms-identifiers: []
                        roleId:
                          type: string
                          description: Property roleId
                        roleName:
                          type: string
                          description: 'A name for the IAM role, up to 64 characters
                            in length. For valid values, see the ``RoleName`` parameter
                            for the [CreateRole](https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html)
                            action in the *User Guide*. This parameter allows (per
                            its [regex pattern](https://docs.aws.amazon.com/http://wikipedia.org/wiki/regex))
                            a string of characters consisting of upper and lowercase
                            alphanumeric characters with no spaces. You can also include
                            any of the following characters: _+=,.@-. The role name
                            must be unique within the account. Role names are not
                            distinguished by case. For example, you cannot create
                            roles named both ''Role1'' and ''role1''. If you don''t
                            specify a name, CFN generates a unique physical ID and
                            uses that ID for the role name. If you specify a name,
                            you must specify the ``CAPABILITY_NAMED_IAM`` value to
                            acknowledge your template''s capabilities. For more information,
                            see [Acknowledging Resources in Templates](https://docs.aws.amazon.com/AWSCloudFormation/latest/Use'
                        tags:
                          type: array
                          description: A list of tags that are attached to the role.
                            For more information about tagging, see [Tagging IAM resources](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html)
                            in the *IAM User Guide*.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The key name that can be used to look
                                  up or retrieve the associated value. For example,
                                  ``Department`` or ``Cost Center`` are common choices.
                              value:
                                type: string
                                description: The value associated with this tag. For
                                  example, tags with a key name of ``Department``
                                  could have values such as ``Human Resources``, ``Accounting``,
                                  and ``Support``. Tags with a key name of ``Cost
                                  Center`` might have values that consist of the number
                                  associated with the different cost centers in your
                                  company. Typically, many resources have tags with
                                  the same key name but with different values.   AWS
                                  always interprets the tag ``Value`` as a single
                                  string. If you need to store an array, you can store
                                  comma-separated values in the string. However, you
                                  must interpret the value in your code.
                          x-ms-identifiers: []
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'IamRole' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
[...]
