openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: KmsKeys
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/kmsKeys:
    get:
      operationId: KmsKeys_ListBySubscription
      tags:
      - KmsKeys
      description: List KmsKey resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a KmsKey list operation.
                properties:
                  value:
                    type: array
                    description: The KmsKey items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                bypassPolicyLockoutSafetyCheck:
                                  type: boolean
                                  description: Skips ('bypasses') the key policy lockout
                                    safety check. The default value is false.  Setting
                                    this value to true increases the risk that the
                                    KMS key becomes unmanageable. Do not set this
                                    value to true indiscriminately. For more information,
                                    see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-default.html#prevent-unmanageable-key)
                                    in the *Developer Guide*.  Use this parameter
                                    only when you intend to prevent the principal
                                    that is making the request from making a subsequent
                                    [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                                    request on the KMS key.
                                description:
                                  type: string
                                  description: A description of the KMS key. Use a
                                    description that helps you to distinguish this
                                    KMS key from others in the account, such as its
                                    intended use.
                                enableKeyRotation:
                                  type: boolean
                                  description: Enables automatic rotation of the key
                                    material for the specified KMS key. By default,
                                    automatic key rotation is not enabled.  KMS supports
                                    automatic rotation only for symmetric encryption
                                    KMS keys (``KeySpec`` = ``SYMMETRIC_DEFAULT``).
                                    For asymmetric KMS keys, HMAC KMS keys, and KMS
                                    keys with Origin ``EXTERNAL``, omit the ``EnableKeyRotation``
                                    property or set it to ``false``. To enable automatic
                                    key rotation of the key material for a multi-Region
                                    KMS key, set ``EnableKeyRotation`` to ``true``
                                    on the primary key (created by using ``AWS::KMS::Key``).
                                    KMS copies the rotation status to all replica
                                    keys. For details, see [Rotating multi-Region
                                    keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-manage.html#multi-region-rotate)
                                    in the *Developer Guide*. When you enable automatic
                                    rotation, KMS automatically creates new key material
                                    for the KMS key one year after the enable date
                                    and every year thereafter. KMS retains all key
                                    material until you delete the KMS key. For detailed
                                    information about automatic key rotation, see
                                    [Rotating KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html)
                                    in the *Developer Guide*.
                                enabled:
                                  type: boolean
                                  description: 'Specifies whether the KMS key is enabled.
                                    Disabled KMS keys cannot be used in cryptographic
                                    operations. When ``Enabled`` is ``true``, the
                                    *key state* of the KMS key is ``Enabled``. When
                                    ``Enabled`` is ``false``, the key state of the
                                    KMS key is ``Disabled``. The default value is
                                    ``true``. The actual key state of the KMS key
                                    might be affected by actions taken outside of
                                    CloudFormation, such as running the [EnableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_EnableKey.html),
                                    [DisableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_DisableKey.html),
                                    or [ScheduleKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_ScheduleKeyDeletion.html)
                                    operations. For information about the key states
                                    of a KMS key, see [Key state: Effect on your KMS
                                    key](https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html)
                                    in the *Developer Guide*.'
                                keyId:
                                  type: string
                                  description: Property keyId
                                keyPolicy:
                                  type: object
                                  description: 'The key policy to attach to the KMS
                                    key. If you provide a key policy, it must meet
                                    the following criteria:  +  The key policy must
                                    allow the caller to make a subsequent [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                                    request on the KMS key. This reduces the risk
                                    that the KMS key becomes unmanageable. For more
                                    information, see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam)
                                    in the *Developer Guide*. (To omit this condition,
                                    set ``BypassPolicyLockoutSafetyCheck`` to true.)  +  Each
                                    statement in the key policy must contain one or
                                    more principals. The principals in the key policy
                                    must exist and be visible to KMS. When you create
                                    a new AWS principal (for example, an IAM user
                                    or role), you might need to enforce a delay before
                                    including the new principal in a key policy because
                                    the new principal might not be immediately visible
                                    to KMS. For more information, see [Changes that
                                    I make are not always immediately visible](https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency)
                                    in the *User Guide*.   If you do not provide a
                                    key policy, KMS attaches a default key policy
                                    to the KMS key. For more information, see [Default
                                    key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default)
                                    in the *Developer Guide*. A key policy document
                                    can include only the following characters:  +  Printable
                                    ASCII characters  +  Printable characters in the
                                    Basic Latin and Latin-1 Supplement character set  +  The
                                    tab (``\u0009``), line feed (``\u000A``), and
                                    carriage return (``\u000D``) special characters    *Minimum*:
                                    ``1``   *Maximum*: ``32768``'
                                  additionalProperties: {}
                                keySpec:
                                  type: string
                                  description: 'Specifies the type of KMS key to create.
                                    The default value, ``SYMMETRIC_DEFAULT``, creates
                                    a KMS key with a 256-bit symmetric key for encryption
                                    and decryption. In China Regions, ``SYMMETRIC_DEFAULT``
                                    creates a 128-bit symmetric key that uses SM4
                                    encryption. You can''t change the ``KeySpec``
                                    value after the KMS key is created. For help choosing
                                    a key spec for your KMS key, see [Choosing a KMS
                                    key type](https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-choose.html)
                                    in the *Developer Guide*. The ``KeySpec`` property
                                    determines the type of key material in the KMS
                                    key and the algorithms that the KMS key supports.
                                    To further restrict the algorithms that can be
                                    used with the KMS key, use a condition key in
                                    its key policy or IAM policy. For more information,
                                    see [condition keys](https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms)
                                    in the *Developer Guide*.  If you change the value
                                    of the ``KeySpec`` property on an existing KMS
                                    key, the update request fails, regardless of the
                                    value of the [UpdateReplacePolicy attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.    [services
                                    that are integrated with](https://docs.aws.amazon.com/kms/features/#AWS_Service_Integration)
                                    use symmetric encryption KMS keys to protect your
                                    data. These services do not support encryption
                                    with asymmetric KMS keys. For help determining
                                    whether a KMS key is asymmetric, see [Identifying
                                    asymmetric KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/find-symm-asymm.html)
                                    in the *Developer Guide*.   KMS supports the following
                                    key specs for KMS keys:  +  Symmetric encryption
                                    key (default)  +   ``SYMMETRIC_DEFAULT`` (AES-256-GCM)    +  HMAC
                                    keys (symmetric)  +   ``HMAC_224``   +   ``HMAC_256``   +   ``HMAC_384``   +   ``HMAC_512``     +  Asymmetric
                                    RSA key pairs  +   ``RSA_2048``   +   ``RSA_3072``   +   ``RSA_4096``     +  Asymmetric
                                    NIST-recommended elliptic curve key pairs  +   ``ECC_NIST_P256``
                                    (secp256r1)  +   ``ECC_NIST_P384`` (secp384r1)  +   ``ECC_NIST_P521``
                                    (secp521r1)    +  Other asymmetric elliptic curve
                                    key pairs  +   ``ECC_SECG_P256K1`` (secp256k1),
                                    commonly used for cryptocurrencies.    +  SM2
                                    key pairs (China Regions only)  +   ``SM2``'
                                  default: SYMMETRIC_DEFAULT
                                  enum:
                                  - ECC_NIST_P256
                                  - ECC_NIST_P384
                                  - ECC_NIST_P521
                                  - ECC_SECG_P256K1
                                  - HMAC_224
                                  - HMAC_256
                                  - HMAC_384
                                  - HMAC_512
                                  - RSA_2048
                                  - RSA_3072
                                  - RSA_4096
                                  - SM2
                                  - SYMMETRIC_DEFAULT
                                  x-ms-enum:
                                    name: KeySpec
                                    modelAsString: true
                                    values:
                                    - name: ECC_NIST_P256
                                      value: ECC_NIST_P256
                                      description: KeySpec enum ECC_NIST_P256
                                    - name: ECC_NIST_P384
                                      value: ECC_NIST_P384
                                      description: KeySpec enum ECC_NIST_P384
                                    - name: ECC_NIST_P521
                                      value: ECC_NIST_P521
                                      description: KeySpec enum ECC_NIST_P521
                                    - name: ECC_SECG_P256K1
                                      value: ECC_SECG_P256K1
                                      description: KeySpec enum ECC_SECG_P256K1
                                    - name: HMAC_224
                                      value: HMAC_224
                                      description: KeySpec enum HMAC_224
                                    - name: HMAC_256
                                      value: HMAC_256
                                      description: KeySpec enum HMAC_256
                                    - name: HMAC_384
                                      value: HMAC_384
                                      description: KeySpec enum HMAC_384
                                    - name: HMAC_512
                                      value: HMAC_512
                                      description: KeySpec enum HMAC_512
                                    - name: RSA_2048
                                      value: RSA_2048
                                      description: KeySpec enum RSA_2048
                                    - name: RSA_3072
                                      value: RSA_3072
                                      description: KeySpec enum RSA_3072
                                    - name: RSA_4096
                                      value: RSA_4096
                                      description: KeySpec enum RSA_4096
                                    - name: SM2
                                      value: SM2
                                      description: KeySpec enum SM2
                                    - name: SYMMETRIC_DEFAULT
                                      value: SYMMETRIC_DEFAULT
                                      description: KeySpec enum SYMMETRIC_DEFAULT
                                keyUsage:
                                  type: string
                                  description: Determines the [cryptographic operations](https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations)
                                    for which you can use the KMS key. The default
                                    value is ``ENCRYPT_DECRYPT``. This property is
                                    required for asymmetric KMS keys and HMAC KMS
                                    keys. You can't change the ``KeyUsage`` value
                                    after the KMS key is created.  If you change the
                                    value of the ``KeyUsage`` property on an existing
                                    KMS key, the update request fails, regardless
                                    of the value of the [UpdateReplacePolicy attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.  Select
                                    only one valid value.  +  For symmetric encryption
                                    KMS keys, omit the property or specify ``ENCRYPT_DECRYPT``.  +  For
                                    asymmetric KMS keys with RSA key material, specify
                                    ``ENCRYPT_DECRYPT`` or ``SIGN_VERIFY``.  +  For
                                    asymmetric KMS keys with ECC key material, specify
                                    ``SIGN_VERIFY``.  +  For asymmetric KMS keys with
                                    SM2 (China Regions only) key material, specify
                                    ``ENCRYPT_DECRYPT`` or ``SIGN_VERIFY``.  +  For
                                    HMAC KMS keys, specify ``GENERATE_VERIFY_MAC``.
                                  default: ENCRYPT_DECRYPT
                                  enum:
                                  - ENCRYPT_DECRYPT
                                  - GENERATE_VERIFY_MAC
                                  - SIGN_VERIFY
                                  x-ms-enum:
                                    name: KeyUsage
                                    modelAsString: true
                                    values:
                                    - name: ENCRYPT_DECRYPT
                                      value: ENCRYPT_DECRYPT
                                      description: KeyUsage enum ENCRYPT_DECRYPT
                                    - name: GENERATE_VERIFY_MAC
                                      value: GENERATE_VERIFY_MAC
                                      description: KeyUsage enum GENERATE_VERIFY_MAC
                                    - name: SIGN_VERIFY
                                      value: SIGN_VERIFY
                                      description: KeyUsage enum SIGN_VERIFY
                                multiRegion:
                                  type: boolean
                                  description: Creates a multi-Region primary key
                                    that you can replicate in other AWS-Regions. You
                                    can't change the ``MultiRegion`` value after the
                                    KMS key is created. For a list of AWS-Regions
                                    in which multi-Region keys are supported, see
                                    [Multi-Region keys in](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    in the **.  If you change the value of the ``MultiRegion``
                                    property on an existing KMS key, the update request
                                    fails, regardless of the value of the [UpdateReplacePolicy
                                    attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.  For
                                    a multi-Region key, set to this property to ``true``.
                                    For a single-Region key, omit this property or
                                    set it to ``false``. The default value is ``false``.  *Multi-Region
                                    keys* are an KMS feature that lets you create
                                    multiple interoperable KMS keys in different AWS-Regions.
                                    Because these KMS keys have the same key ID, key
                                    material, and other metadata, you can use them
                                    to encrypt data in one AWS-Region and decrypt
                                    it in a different AWS-Region without making a
                                    cross-Region call or exposing the plaintext data.
                                    For more information, see [Multi-Region keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    in the *Developer Guide*. You can create a symmetric
                                    encryption, HMAC, or asymmetric multi-Region KMS
                                    key, and you can create a multi-Region key with
                                    imported key material. However, you cannot create
                                    a multi-Region key in a custom key store. To create
                                    a replica of this primary key in a different AWS-Region
                                    , create an [AWS::KMS::ReplicaKey](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kms-replicakey.html)
                                    resource in a CloudFormation stack in the replica
                                    Region. Specify the key ARN of this primary key.
                                origin:
                                  type: string
                                  description: The source of the key material for
                                    the KMS key. You cannot change the origin after
                                    you create the KMS key. The default is ``AWS_KMS``,
                                    which means that KMS creates the key material.
                                    To [create a KMS key with no key material](https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys-create-cmk.html)
                                    (for imported key material), set this value to
                                    ``EXTERNAL``. For more information about importing
                                    key material into KMS, see [Importing Key Material](https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html)
                                    in the *Developer Guide*. You can ignore ``ENABLED``
                                    when Origin is ``EXTERNAL``. When a KMS key with
                                    Origin ``EXTERNAL`` is created, the key state
                                    is ``PENDING_IMPORT`` and ``ENABLED`` is ``false``.
                                    After you import the key material, ``ENABLED``
                                    updated to ``true``. The KMS key can then be used
                                    for Cryptographic Operations.    CFN doesn't support
                                    creating an ``Origin`` parameter of the ``AWS_CLOUDHSM``
                                    or ``EXTERNAL_KEY_STORE`` values.
                                  default: AWS_KMS
                                  enum:
                                  - AWS_KMS
                                  - EXTERNAL
                                  x-ms-enum:
                                    name: Origin
                                    modelAsString: true
                                    values:
                                    - name: AWS_KMS
                                      value: AWS_KMS
                                      description: Origin enum AWS_KMS
                                    - name: EXTERNAL
                                      value: EXTERNAL
                                      description: Origin enum EXTERNAL
                                pendingWindowInDays:
                                  type: integer
                                  format: int32
                                  description: 'Specifies the number of days in the
                                    waiting period before KMS deletes a KMS key that
                                    has been removed from a CloudFormation stack.
                                    Enter a value between 7 and 30 days. The default
                                    value is 30 days. When you remove a KMS key from
                                    a CloudFormation stack, KMS schedules the KMS
                                    key for deletion and starts the mandatory waiting
                                    period. The ``PendingWindowInDays`` property determines
                                    the length of waiting period. During the waiting
                                    period, the key state of KMS key is ``Pending
                                    Deletion`` or ``Pending Replica Deletion``, which
                                    prevents the KMS key from being used in cryptographic
                                    operations. When the waiting period expires, KMS
                                    permanently deletes the KMS key.  KMS will not
                                    delete a [multi-Region primary key](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    that has replica keys. If you remove a multi-Region
                                    primary key from a CloudFormation stack, its key
                                    state changes to ``PendingReplicaDeletion`` so
                                    it cannot be replicated or used in cryptographic
                                    operations. This state can persist indefinitely.
                                    When the last of its replica keys is deleted,
                                    the key state of the primary key changes to ``PendingDeletion``
                                    and the waiting period specified by ``PendingWindowInDays``
                                    begins. When this waiting period expires, KMS
                                    deletes the primary key. For details, see [Deleting
                                    multi-Region keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-delete.html)
                                    in the *Developer Guide*. You cannot use a CloudFormation
                                    template to cancel deletion of the KMS key after
                                    you remove it from the stack, regardless of the
                                    waiting period. If you specify a KMS key in your
                                    template, even one with the same name, CloudFormation
                                    creates a new KMS key. To cancel deletion of a
                                    KMS key, use the KMS console or the [CancelKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_CancelKeyDeletion.html)
                                    operation. For information about the ``Pending
                                    Deletion`` and ``Pending Replica Deletion`` key
                                    states, see [Key state: Effect on your KMS key](https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html)
                                    in the *Developer Guide*. For more information
                                    about deleting KMS keys, see the [ScheduleKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_ScheduleKeyDeletion.html)
                                    operation in the *API Reference* and [Deleting
                                    KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html)
                                    in the *Developer Guide*.'
                                rotationPeriodInDays:
                                  type: integer
                                  format: int32
                                  description: Property rotationPeriodInDays
                                  default: 365
                                tags:
                                  type: array
                                  description: Assigns one or more tags to the replica
                                    key.  Tagging or untagging a KMS key can allow
                                    or deny permission to the KMS key. For details,
                                    see [ABAC for](https://docs.aws.amazon.com/kms/latest/developerguide/abac.html)
                                    in the *Developer Guide*.  For information about
                                    tags in KMS, see [Tagging keys](https://docs.aws.amazon.com/kms/latest/developerguide/tagging-keys.html)
                                    in the *Developer Guide*. For information about
                                    tags in CloudFormation, see [Tag](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html).
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/kmsKeys:
    get:
      operationId: KmsKeys_ListByResourceGroup
      tags:
      - KmsKeys
      description: List KmsKey resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a KmsKey list operation.
                properties:
                  value:
                    type: array
                    description: The KmsKey items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                arn:
                                  type: string
                                  description: Property arn
                                bypassPolicyLockoutSafetyCheck:
                                  type: boolean
                                  description: Skips ('bypasses') the key policy lockout
                                    safety check. The default value is false.  Setting
                                    this value to true increases the risk that the
                                    KMS key becomes unmanageable. Do not set this
                                    value to true indiscriminately. For more information,
                                    see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-default.html#prevent-unmanageable-key)
                                    in the *Developer Guide*.  Use this parameter
                                    only when you intend to prevent the principal
                                    that is making the request from making a subsequent
                                    [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                                    request on the KMS key.
                                description:
                                  type: string
                                  description: A description of the KMS key. Use a
                                    description that helps you to distinguish this
                                    KMS key from others in the account, such as its
                                    intended use.
                                enableKeyRotation:
                                  type: boolean
                                  description: Enables automatic rotation of the key
                                    material for the specified KMS key. By default,
                                    automatic key rotation is not enabled.  KMS supports
                                    automatic rotation only for symmetric encryption
                                    KMS keys (``KeySpec`` = ``SYMMETRIC_DEFAULT``).
                                    For asymmetric KMS keys, HMAC KMS keys, and KMS
                                    keys with Origin ``EXTERNAL``, omit the ``EnableKeyRotation``
                                    property or set it to ``false``. To enable automatic
                                    key rotation of the key material for a multi-Region
                                    KMS key, set ``EnableKeyRotation`` to ``true``
                                    on the primary key (created by using ``AWS::KMS::Key``).
                                    KMS copies the rotation status to all replica
                                    keys. For details, see [Rotating multi-Region
                                    keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-manage.html#multi-region-rotate)
                                    in the *Developer Guide*. When you enable automatic
                                    rotation, KMS automatically creates new key material
                                    for the KMS key one year after the enable date
                                    and every year thereafter. KMS retains all key
                                    material until you delete the KMS key. For detailed
                                    information about automatic key rotation, see
                                    [Rotating KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html)
                                    in the *Developer Guide*.
                                enabled:
                                  type: boolean
                                  description: 'Specifies whether the KMS key is enabled.
                                    Disabled KMS keys cannot be used in cryptographic
                                    operations. When ``Enabled`` is ``true``, the
                                    *key state* of the KMS key is ``Enabled``. When
                                    ``Enabled`` is ``false``, the key state of the
                                    KMS key is ``Disabled``. The default value is
                                    ``true``. The actual key state of the KMS key
                                    might be affected by actions taken outside of
                                    CloudFormation, such as running the [EnableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_EnableKey.html),
                                    [DisableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_DisableKey.html),
                                    or [ScheduleKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_ScheduleKeyDeletion.html)
                                    operations. For information about the key states
                                    of a KMS key, see [Key state: Effect on your KMS
                                    key](https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html)
                                    in the *Developer Guide*.'
                                keyId:
                                  type: string
                                  description: Property keyId
                                keyPolicy:
                                  type: object
                                  description: 'The key policy to attach to the KMS
                                    key. If you provide a key policy, it must meet
                                    the following criteria:  +  The key policy must
                                    allow the caller to make a subsequent [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                                    request on the KMS key. This reduces the risk
                                    that the KMS key becomes unmanageable. For more
                                    information, see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam)
                                    in the *Developer Guide*. (To omit this condition,
                                    set ``BypassPolicyLockoutSafetyCheck`` to true.)  +  Each
                                    statement in the key policy must contain one or
                                    more principals. The principals in the key policy
                                    must exist and be visible to KMS. When you create
                                    a new AWS principal (for example, an IAM user
                                    or role), you might need to enforce a delay before
                                    including the new principal in a key policy because
                                    the new principal might not be immediately visible
                                    to KMS. For more information, see [Changes that
                                    I make are not always immediately visible](https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency)
                                    in the *User Guide*.   If you do not provide a
                                    key policy, KMS attaches a default key policy
                                    to the KMS key. For more information, see [Default
                                    key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default)
                                    in the *Developer Guide*. A key policy document
                                    can include only the following characters:  +  Printable
                                    ASCII characters  +  Printable characters in the
                                    Basic Latin and Latin-1 Supplement character set  +  The
                                    tab (``\u0009``), line feed (``\u000A``), and
                                    carriage return (``\u000D``) special characters    *Minimum*:
                                    ``1``   *Maximum*: ``32768``'
                                  additionalProperties: {}
                                keySpec:
                                  type: string
                                  description: 'Specifies the type of KMS key to create.
                                    The default value, ``SYMMETRIC_DEFAULT``, creates
                                    a KMS key with a 256-bit symmetric key for encryption
                                    and decryption. In China Regions, ``SYMMETRIC_DEFAULT``
                                    creates a 128-bit symmetric key that uses SM4
                                    encryption. You can''t change the ``KeySpec``
                                    value after the KMS key is created. For help choosing
                                    a key spec for your KMS key, see [Choosing a KMS
                                    key type](https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-choose.html)
                                    in the *Developer Guide*. The ``KeySpec`` property
                                    determines the type of key material in the KMS
                                    key and the algorithms that the KMS key supports.
                                    To further restrict the algorithms that can be
                                    used with the KMS key, use a condition key in
                                    its key policy or IAM policy. For more information,
                                    see [condition keys](https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms)
                                    in the *Developer Guide*.  If you change the value
                                    of the ``KeySpec`` property on an existing KMS
                                    key, the update request fails, regardless of the
                                    value of the [UpdateReplacePolicy attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.    [services
                                    that are integrated with](https://docs.aws.amazon.com/kms/features/#AWS_Service_Integration)
                                    use symmetric encryption KMS keys to protect your
                                    data. These services do not support encryption
                                    with asymmetric KMS keys. For help determining
                                    whether a KMS key is asymmetric, see [Identifying
                                    asymmetric KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/find-symm-asymm.html)
                                    in the *Developer Guide*.   KMS supports the following
                                    key specs for KMS keys:  +  Symmetric encryption
                                    key (default)  +   ``SYMMETRIC_DEFAULT`` (AES-256-GCM)    +  HMAC
                                    keys (symmetric)  +   ``HMAC_224``   +   ``HMAC_256``   +   ``HMAC_384``   +   ``HMAC_512``     +  Asymmetric
                                    RSA key pairs  +   ``RSA_2048``   +   ``RSA_3072``   +   ``RSA_4096``     +  Asymmetric
                                    NIST-recommended elliptic curve key pairs  +   ``ECC_NIST_P256``
                                    (secp256r1)  +   ``ECC_NIST_P384`` (secp384r1)  +   ``ECC_NIST_P521``
                                    (secp521r1)    +  Other asymmetric elliptic curve
                                    key pairs  +   ``ECC_SECG_P256K1`` (secp256k1),
                                    commonly used for cryptocurrencies.    +  SM2
                                    key pairs (China Regions only)  +   ``SM2``'
                                  default: SYMMETRIC_DEFAULT
                                  enum:
                                  - ECC_NIST_P256
                                  - ECC_NIST_P384
                                  - ECC_NIST_P521
                                  - ECC_SECG_P256K1
                                  - HMAC_224
                                  - HMAC_256
                                  - HMAC_384
                                  - HMAC_512
                                  - RSA_2048
                                  - RSA_3072
                                  - RSA_4096
                                  - SM2
                                  - SYMMETRIC_DEFAULT
                                  x-ms-enum:
                                    name: KeySpec
                                    modelAsString: true
                                    values:
                                    - name: ECC_NIST_P256
                                      value: ECC_NIST_P256
                                      description: KeySpec enum ECC_NIST_P256
                                    - name: ECC_NIST_P384
                                      value: ECC_NIST_P384
                                      description: KeySpec enum ECC_NIST_P384
                                    - name: ECC_NIST_P521
                                      value: ECC_NIST_P521
                                      description: KeySpec enum ECC_NIST_P521
                                    - name: ECC_SECG_P256K1
                                      value: ECC_SECG_P256K1
                                      description: KeySpec enum ECC_SECG_P256K1
                                    - name: HMAC_224
                                      value: HMAC_224
                                      description: KeySpec enum HMAC_224
                                    - name: HMAC_256
                                      value: HMAC_256
                                      description: KeySpec enum HMAC_256
                                    - name: HMAC_384
                                      value: HMAC_384
                                      description: KeySpec enum HMAC_384
                                    - name: HMAC_512
                                      value: HMAC_512
                                      description: KeySpec enum HMAC_512
                                    - name: RSA_2048
                                      value: RSA_2048
                                      description: KeySpec enum RSA_2048
                                    - name: RSA_3072
                                      value: RSA_3072
                                      description: KeySpec enum RSA_3072
                                    - name: RSA_4096
                                      value: RSA_4096
                                      description: KeySpec enum RSA_4096
                                    - name: SM2
                                      value: SM2
                                      description: KeySpec enum SM2
                                    - name: SYMMETRIC_DEFAULT
                                      value: SYMMETRIC_DEFAULT
                                      description: KeySpec enum SYMMETRIC_DEFAULT
                                keyUsage:
                                  type: string
                                  description: Determines the [cryptographic operations](https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations)
                                    for which you can use the KMS key. The default
                                    value is ``ENCRYPT_DECRYPT``. This property is
                                    required for asymmetric KMS keys and HMAC KMS
                                    keys. You can't change the ``KeyUsage`` value
                                    after the KMS key is created.  If you change the
                                    value of the ``KeyUsage`` property on an existing
                                    KMS key, the update request fails, regardless
                                    of the value of the [UpdateReplacePolicy attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.  Select
                                    only one valid value.  +  For symmetric encryption
                                    KMS keys, omit the property or specify ``ENCRYPT_DECRYPT``.  +  For
                                    asymmetric KMS keys with RSA key material, specify
                                    ``ENCRYPT_DECRYPT`` or ``SIGN_VERIFY``.  +  For
                                    asymmetric KMS keys with ECC key material, specify
                                    ``SIGN_VERIFY``.  +  For asymmetric KMS keys with
                                    SM2 (China Regions only) key material, specify
                                    ``ENCRYPT_DECRYPT`` or ``SIGN_VERIFY``.  +  For
                                    HMAC KMS keys, specify ``GENERATE_VERIFY_MAC``.
                                  default: ENCRYPT_DECRYPT
                                  enum:
                                  - ENCRYPT_DECRYPT
                                  - GENERATE_VERIFY_MAC
                                  - SIGN_VERIFY
                                  x-ms-enum:
                                    name: KeyUsage
                                    modelAsString: true
                                    values:
                                    - name: ENCRYPT_DECRYPT
                                      value: ENCRYPT_DECRYPT
                                      description: KeyUsage enum ENCRYPT_DECRYPT
                                    - name: GENERATE_VERIFY_MAC
                                      value: GENERATE_VERIFY_MAC
                                      description: KeyUsage enum GENERATE_VERIFY_MAC
                                    - name: SIGN_VERIFY
                                      value: SIGN_VERIFY
                                      description: KeyUsage enum SIGN_VERIFY
                                multiRegion:
                                  type: boolean
                                  description: Creates a multi-Region primary key
                                    that you can replicate in other AWS-Regions. You
                                    can't change the ``MultiRegion`` value after the
                                    KMS key is created. For a list of AWS-Regions
                                    in which multi-Region keys are supported, see
                                    [Multi-Region keys in](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    in the **.  If you change the value of the ``MultiRegion``
                                    property on an existing KMS key, the update request
                                    fails, regardless of the value of the [UpdateReplacePolicy
                                    attribute](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html).
                                    This prevents you from accidentally deleting a
                                    KMS key by changing an immutable property value.  For
                                    a multi-Region key, set to this property to ``true``.
                                    For a single-Region key, omit this property or
                                    set it to ``false``. The default value is ``false``.  *Multi-Region
                                    keys* are an KMS feature that lets you create
                                    multiple interoperable KMS keys in different AWS-Regions.
                                    Because these KMS keys have the same key ID, key
                                    material, and other metadata, you can use them
                                    to encrypt data in one AWS-Region and decrypt
                                    it in a different AWS-Region without making a
                                    cross-Region call or exposing the plaintext data.
                                    For more information, see [Multi-Region keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    in the *Developer Guide*. You can create a symmetric
                                    encryption, HMAC, or asymmetric multi-Region KMS
                                    key, and you can create a multi-Region key with
                                    imported key material. However, you cannot create
                                    a multi-Region key in a custom key store. To create
                                    a replica of this primary key in a different AWS-Region
                                    , create an [AWS::KMS::ReplicaKey](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kms-replicakey.html)
                                    resource in a CloudFormation stack in the replica
                                    Region. Specify the key ARN of this primary key.
                                origin:
                                  type: string
                                  description: The source of the key material for
                                    the KMS key. You cannot change the origin after
                                    you create the KMS key. The default is ``AWS_KMS``,
                                    which means that KMS creates the key material.
                                    To [create a KMS key with no key material](https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys-create-cmk.html)
                                    (for imported key material), set this value to
                                    ``EXTERNAL``. For more information about importing
                                    key material into KMS, see [Importing Key Material](https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html)
                                    in the *Developer Guide*. You can ignore ``ENABLED``
                                    when Origin is ``EXTERNAL``. When a KMS key with
                                    Origin ``EXTERNAL`` is created, the key state
                                    is ``PENDING_IMPORT`` and ``ENABLED`` is ``false``.
                                    After you import the key material, ``ENABLED``
                                    updated to ``true``. The KMS key can then be used
                                    for Cryptographic Operations.    CFN doesn't support
                                    creating an ``Origin`` parameter of the ``AWS_CLOUDHSM``
                                    or ``EXTERNAL_KEY_STORE`` values.
                                  default: AWS_KMS
                                  enum:
                                  - AWS_KMS
                                  - EXTERNAL
                                  x-ms-enum:
                                    name: Origin
                                    modelAsString: true
                                    values:
                                    - name: AWS_KMS
                                      value: AWS_KMS
                                      description: Origin enum AWS_KMS
                                    - name: EXTERNAL
                                      value: EXTERNAL
                                      description: Origin enum EXTERNAL
                                pendingWindowInDays:
                                  type: integer
                                  format: int32
                                  description: 'Specifies the number of days in the
                                    waiting period before KMS deletes a KMS key that
                                    has been removed from a CloudFormation stack.
                                    Enter a value between 7 and 30 days. The default
                                    value is 30 days. When you remove a KMS key from
                                    a CloudFormation stack, KMS schedules the KMS
                                    key for deletion and starts the mandatory waiting
                                    period. The ``PendingWindowInDays`` property determines
                                    the length of waiting period. During the waiting
                                    period, the key state of KMS key is ``Pending
                                    Deletion`` or ``Pending Replica Deletion``, which
                                    prevents the KMS key from being used in cryptographic
                                    operations. When the waiting period expires, KMS
                                    permanently deletes the KMS key.  KMS will not
                                    delete a [multi-Region primary key](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html)
                                    that has replica keys. If you remove a multi-Region
                                    primary key from a CloudFormation stack, its key
                                    state changes to ``PendingReplicaDeletion`` so
                                    it cannot be replicated or used in cryptographic
                                    operations. This state can persist indefinitely.
                                    When the last of its replica keys is deleted,
                                    the key state of the primary key changes to ``PendingDeletion``
                                    and the waiting period specified by ``PendingWindowInDays``
                                    begins. When this waiting period expires, KMS
                                    deletes the primary key. For details, see [Deleting
                                    multi-Region keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-delete.html)
                                    in the *Developer Guide*. You cannot use a CloudFormation
                                    template to cancel deletion of the KMS key after
                                    you remove it from the stack, regardless of the
                                    waiting period. If you specify a KMS key in your
                                    template, even one with the same name, CloudFormation
                                    creates a new KMS key. To cancel deletion of a
                                    KMS key, use the KMS console or the [CancelKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_CancelKeyDeletion.html)
                                    operation. For information about the ``Pending
                                    Deletion`` and ``Pending Replica Deletion`` key
                                    states, see [Key state: Effect on your KMS key](https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html)
                                    in the *Developer Guide*. For more information
                                    about deleting KMS keys, see the [ScheduleKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_ScheduleKeyDeletion.html)
                                    operation in the *API Reference* and [Deleting
                                    KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html)
                                    in the *Developer Guide*.'
                                rotationPeriodInDays:
                                  type: integer
                                  format: int32
                                  description: Property rotationPeriodInDays
                                  default: 365
                                tags:
                                  type: array
                                  description: Assigns one or more tags to the replica
                                    key.  Tagging or untagging a KMS key can allow
                                    or deny permission to the KMS key. For details,
                                    see [ABAC for](https://docs.aws.amazon.com/kms/latest/developerguide/abac.html)
                                    in the *Developer Guide*.  For information about
                                    tags in KMS, see [Tagging keys](https://docs.aws.amazon.com/kms/latest/developerguide/tagging-keys.html)
                                    in the *Developer Guide*. For information about
                                    tags in CloudFormation, see [Tag](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html).
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/kmsKeys/{name}:
    get:
      operationId: KmsKeys_Get
      tags:
      - KmsKeys
      description: Get a KmsKey
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of KmsKey
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          arn:
                            type: string
                            description: Property arn
                          bypassPolicyLockoutSafetyCheck:
                            type: boolean
                            description: Skips ('bypasses') the key policy lockout
                              safety check. The default value is false.  Setting this
                              value to true increases the risk that the KMS key becomes
                              unmanageable. Do not set this value to true indiscriminately.
                              For more information, see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-default.html#prevent-unmanageable-key)
                              in the *Developer Guide*.  Use this parameter only when
                              you intend to prevent the principal that is making the
                              request from making a subsequent [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                              request on the KMS key.
                          description:
                            type: string
                            description: A description of the KMS key. Use a description
                              that helps you to distinguish this KMS key from others
                              in the account, such as its intended use.
                          enableKeyRotation:
                            type: boolean
                            description: Enables automatic rotation of the key material
                              for the specified KMS key. By default, automatic key
                              rotation is not enabled.  KMS supports automatic rotation
                              only for symmetric encryption KMS keys (``KeySpec``
                              = ``SYMMETRIC_DEFAULT``). For asymmetric KMS keys, HMAC
                              KMS keys, and KMS keys with Origin ``EXTERNAL``, omit
                              the ``EnableKeyRotation`` property or set it to ``false``.
                              To enable automatic key rotation of the key material
                              for a multi-Region KMS key, set ``EnableKeyRotation``
                              to ``true`` on the primary key (created by using ``AWS::KMS::Key``).
                              KMS copies the rotation status to all replica keys.
                              For details, see [Rotating multi-Region keys](https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-manage.html#multi-region-rotate)
                              in the *Developer Guide*. When you enable automatic
                              rotation, KMS automatically creates new key material
                              for the KMS key one year after the enable date and every
                              year thereafter. KMS retains all key material until
                              you delete the KMS key. For detailed information about
                              automatic key rotation, see [Rotating KMS keys](https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html)
                              in the *Developer Guide*.
                          enabled:
                            type: boolean
                            description: 'Specifies whether the KMS key is enabled.
                              Disabled KMS keys cannot be used in cryptographic operations.
                              When ``Enabled`` is ``true``, the *key state* of the
                              KMS key is ``Enabled``. When ``Enabled`` is ``false``,
                              the key state of the KMS key is ``Disabled``. The default
                              value is ``true``. The actual key state of the KMS key
                              might be affected by actions taken outside of CloudFormation,
                              such as running the [EnableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_EnableKey.html),
                              [DisableKey](https://docs.aws.amazon.com/kms/latest/APIReference/API_DisableKey.html),
                              or [ScheduleKeyDeletion](https://docs.aws.amazon.com/kms/latest/APIReference/API_ScheduleKeyDeletion.html)
                              operations. For information about the key states of
                              a KMS key, see [Key state: Effect on your KMS key](https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html)
                              in the *Developer Guide*.'
                          keyId:
                            type: string
                            description: Property keyId
                          keyPolicy:
                            type: object
                            description: 'The key policy to attach to the KMS key.
                              If you provide a key policy, it must meet the following
                              criteria:  +  The key policy must allow the caller to
                              make a subsequent [PutKeyPolicy](https://docs.aws.amazon.com/kms/latest/APIReference/API_PutKeyPolicy.html)
                              request on the KMS key. This reduces the risk that the
                              KMS key becomes unmanageable. For more information,
                              see [Default key policy](https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam)
                              in the *Developer Guide*. (To omit this condition, set
                              ``BypassPolicyLockoutSafetyCheck`` to true.)  +  Each
                              statement in the key policy must contain one or more
                              principals. The principals in the key policy must exist
                              and be visible to KMS. When you create a new AWS principal
                              (for example, an IAM user or role), you might need to
                              enforce a delay before including the new principal in
                              a key policy because the new principal might not be
                              immediately visible to KMS. For more information, see
[...]
