openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LightsailInstances
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/lightsailInstances:
    get:
      operationId: LightsailInstances_ListBySubscription
      tags:
      - LightsailInstances
      description: List LightsailInstance resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a LightsailInstance list operation.
                properties:
                  value:
                    type: array
                    description: The LightsailInstance items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                addOns:
                                  type: array
                                  description: An array of objects representing the
                                    add-ons to enable for the new instance.
                                  items:
                                    type: object
                                    description: Definition of AddOn
                                    properties:
                                      addOnType:
                                        type: string
                                        description: The add-on type
                                      autoSnapshotAddOnRequest:
                                        description: An object that represents additional
                                          parameters when enabling or modifying the
                                          automatic snapshot add-on
                                        type: object
                                        properties:
                                          snapshotTimeOfDay:
                                            type: string
                                            description: The daily time when an automatic
                                              snapshot will be created.
                                      status:
                                        description: Status of the Addon
                                        type: string
                                        enum:
                                        - Disabled
                                        - Disabling
                                        - Enabled
                                        - Enabling
                                        - Failed
                                        - Terminated
                                        - Terminating
                                        x-ms-enum:
                                          name: AddOnStatus
                                          modelAsString: true
                                          values:
                                          - name: Disabled
                                            value: Disabled
                                            description: AddOnStatus enum Disabled
                                          - name: Disabling
                                            value: Disabling
                                            description: AddOnStatus enum Disabling
                                          - name: Enabled
                                            value: Enabled
                                            description: AddOnStatus enum Enabled
                                          - name: Enabling
                                            value: Enabling
                                            description: AddOnStatus enum Enabling
                                          - name: Failed
                                            value: Failed
                                            description: AddOnStatus enum Failed
                                          - name: Terminated
                                            value: Terminated
                                            description: AddOnStatus enum Terminated
                                          - name: Terminating
                                            value: Terminating
                                            description: AddOnStatus enum Terminating
                                  x-ms-identifiers: []
                                availabilityZone:
                                  type: string
                                  description: 'The Availability Zone in which to
                                    create your instance. Use the following format:
                                    us-east-2a (case sensitive). Be sure to add the
                                    include Availability Zones parameter to your request.'
                                blueprintId:
                                  type: string
                                  description: The ID for a virtual private server
                                    image (e.g., app_wordpress_4_4 or app_lamp_7_0
                                    ). Use the get blueprints operation to return
                                    a list of available images (or blueprints ).
                                bundleId:
                                  type: string
                                  description: The bundle of specification information
                                    for your virtual private server (or instance ),
                                    including the pricing plan (e.g., micro_1_0 ).
                                hardware:
                                  description: Hardware of the Instance.
                                  type: object
                                  properties:
                                    cpuCount:
                                      type: integer
                                      format: int32
                                      description: CPU count of the Instance.
                                    disks:
                                      type: array
                                      description: Disks attached to the Instance.
                                      items:
                                        type: object
                                        description: Definition of Disk
                                        properties:
                                          attachedTo:
                                            type: string
                                            description: Instance attached to the
                                              disk.
                                          attachmentState:
                                            type: string
                                            description: Attachment state of the disk.
                                          diskName:
                                            type: string
                                            description: The names to use for your
                                              new Lightsail disk.
                                          iops:
                                            type: integer
                                            format: int32
                                            description: IOPS of disk.
                                          isSystemDisk:
                                            type: boolean
                                            description: Is the Attached disk is the
                                              system disk of the Instance.
                                          path:
                                            type: string
                                            description: Path of the disk attached
                                              to the instance.
                                          sizeInGb:
                                            type: string
                                            description: Size of the disk attached
                                              to the Instance.
                                      x-ms-identifiers: []
                                    ramSizeInGb:
                                      type: integer
                                      format: int32
                                      description: RAM Size of the Instance.
                                instanceArn:
                                  type: string
                                  description: Property instanceArn
                                instanceName:
                                  type: string
                                  description: The names to use for your new Lightsail
                                    instance.
                                isStaticIp:
                                  type: boolean
                                  description: Is the IP Address of the Instance is
                                    the static IP
                                keyPairName:
                                  type: string
                                  description: The name of your key pair.
                                location:
                                  description: Location of a resource.
                                  type: object
                                  properties:
                                    availabilityZone:
                                      type: string
                                      description: 'The Availability Zone in which
                                        to create your instance. Use the following
                                        format: us-east-2a (case sensitive). Be sure
                                        to add the include Availability Zones parameter
                                        to your request.'
                                    regionName:
                                      type: string
                                      description: The Region Name in which to create
                                        your instance.
                                networking:
                                  description: Networking of the Instance.
                                  type: object
                                  properties:
                                    monthlyTransfer:
                                      description: Monthly Transfer of the Instance.
                                      type: object
                                      properties:
                                        gbPerMonthAllocated:
                                          type: string
                                          description: GbPerMonthAllocated of the
                                            Instance.
                                    ports:
                                      type: array
                                      description: Ports to the Instance.
                                      items:
                                        type: object
                                        description: Definition of Port
                                        properties:
                                          accessDirection:
                                            type: string
                                            description: Access Direction for Protocol
                                              of the Instance(inbound/outbound).
                                          accessFrom:
                                            type: string
                                            description: Access From Protocol of the
                                              Instance.
                                          accessType:
                                            type: string
                                            description: Access Type Protocol of the
                                              Instance.
                                          cidrListAliases:
                                            type: array
                                            description: cidr List Aliases
                                            items:
                                              type: string
                                          cidrs:
                                            type: array
                                            description: Property cidrs
                                            items:
                                              type: string
                                          commonName:
                                            type: string
                                            description: CommonName for Protocol of
                                              the Instance.
                                          fromPort:
                                            type: integer
                                            format: int32
                                            description: From Port of the Instance.
                                          ipv6Cidrs:
                                            type: array
                                            description: IPv6 Cidrs
                                            items:
                                              type: string
                                          protocol:
                                            type: string
                                            description: Port Protocol of the Instance.
                                          toPort:
                                            type: integer
                                            format: int32
                                            description: To Port of the Instance.
                                      x-ms-identifiers: []
                                privateIpAddress:
                                  type: string
                                  description: Private IP Address of the Instance
                                publicIpAddress:
                                  type: string
                                  description: Public IP Address of the Instance
                                resourceType:
                                  type: string
                                  description: Resource type of Lightsail instance.
                                sshKeyName:
                                  type: string
                                  description: SSH Key Name of the  Lightsail instance.
                                state:
                                  description: Current State of the Instance.
                                  type: object
                                  properties:
                                    code:
                                      type: integer
                                      format: int32
                                      description: Status code of the Instance.
                                    name:
                                      type: string
                                      description: Status code of the Instance.
                                supportCode:
                                  type: string
                                  description: Support code to help identify any issues
                                tags:
                                  type: array
                                  description: An array of key-value pairs to apply
                                    to this resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The key name of the tag. You
                                          can specify a value that is 1 to 128 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                      value:
                                        type: string
                                        description: 'The value for the tag. You can
                                          specify a value that is 0 to 256 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                  x-ms-identifiers: []
                                userData:
                                  type: string
                                  description: A launch script you can create that
                                    configures a server with additional user data.
                                    For example, you might want to run apt-get -y
                                    update.
                                userName:
                                  type: string
                                  description: Username of the  Lightsail instance.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lightsailInstances:
    get:
      operationId: LightsailInstances_ListByResourceGroup
      tags:
      - LightsailInstances
      description: List LightsailInstance resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a LightsailInstance list operation.
                properties:
                  value:
                    type: array
                    description: The LightsailInstance items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                addOns:
                                  type: array
                                  description: An array of objects representing the
                                    add-ons to enable for the new instance.
                                  items:
                                    type: object
                                    description: Definition of AddOn
                                    properties:
                                      addOnType:
                                        type: string
                                        description: The add-on type
                                      autoSnapshotAddOnRequest:
                                        description: An object that represents additional
                                          parameters when enabling or modifying the
                                          automatic snapshot add-on
                                        type: object
                                        properties:
                                          snapshotTimeOfDay:
                                            type: string
                                            description: The daily time when an automatic
                                              snapshot will be created.
                                      status:
                                        description: Status of the Addon
                                        type: string
                                        enum:
                                        - Disabled
                                        - Disabling
                                        - Enabled
                                        - Enabling
                                        - Failed
                                        - Terminated
                                        - Terminating
                                        x-ms-enum:
                                          name: AddOnStatus
                                          modelAsString: true
                                          values:
                                          - name: Disabled
                                            value: Disabled
                                            description: AddOnStatus enum Disabled
                                          - name: Disabling
                                            value: Disabling
                                            description: AddOnStatus enum Disabling
                                          - name: Enabled
                                            value: Enabled
                                            description: AddOnStatus enum Enabled
                                          - name: Enabling
                                            value: Enabling
                                            description: AddOnStatus enum Enabling
                                          - name: Failed
                                            value: Failed
                                            description: AddOnStatus enum Failed
                                          - name: Terminated
                                            value: Terminated
                                            description: AddOnStatus enum Terminated
                                          - name: Terminating
                                            value: Terminating
                                            description: AddOnStatus enum Terminating
                                  x-ms-identifiers: []
                                availabilityZone:
                                  type: string
                                  description: 'The Availability Zone in which to
                                    create your instance. Use the following format:
                                    us-east-2a (case sensitive). Be sure to add the
                                    include Availability Zones parameter to your request.'
                                blueprintId:
                                  type: string
                                  description: The ID for a virtual private server
                                    image (e.g., app_wordpress_4_4 or app_lamp_7_0
                                    ). Use the get blueprints operation to return
                                    a list of available images (or blueprints ).
                                bundleId:
                                  type: string
                                  description: The bundle of specification information
                                    for your virtual private server (or instance ),
                                    including the pricing plan (e.g., micro_1_0 ).
                                hardware:
                                  description: Hardware of the Instance.
                                  type: object
                                  properties:
                                    cpuCount:
                                      type: integer
                                      format: int32
                                      description: CPU count of the Instance.
                                    disks:
                                      type: array
                                      description: Disks attached to the Instance.
                                      items:
                                        type: object
                                        description: Definition of Disk
                                        properties:
                                          attachedTo:
                                            type: string
                                            description: Instance attached to the
                                              disk.
                                          attachmentState:
                                            type: string
                                            description: Attachment state of the disk.
                                          diskName:
                                            type: string
                                            description: The names to use for your
                                              new Lightsail disk.
                                          iops:
                                            type: integer
                                            format: int32
                                            description: IOPS of disk.
                                          isSystemDisk:
                                            type: boolean
                                            description: Is the Attached disk is the
                                              system disk of the Instance.
                                          path:
                                            type: string
                                            description: Path of the disk attached
                                              to the instance.
                                          sizeInGb:
                                            type: string
                                            description: Size of the disk attached
                                              to the Instance.
                                      x-ms-identifiers: []
                                    ramSizeInGb:
                                      type: integer
                                      format: int32
                                      description: RAM Size of the Instance.
                                instanceArn:
                                  type: string
                                  description: Property instanceArn
                                instanceName:
                                  type: string
                                  description: The names to use for your new Lightsail
                                    instance.
                                isStaticIp:
                                  type: boolean
                                  description: Is the IP Address of the Instance is
                                    the static IP
                                keyPairName:
                                  type: string
                                  description: The name of your key pair.
                                location:
                                  description: Location of a resource.
                                  type: object
                                  properties:
                                    availabilityZone:
                                      type: string
                                      description: 'The Availability Zone in which
                                        to create your instance. Use the following
                                        format: us-east-2a (case sensitive). Be sure
                                        to add the include Availability Zones parameter
                                        to your request.'
                                    regionName:
                                      type: string
                                      description: The Region Name in which to create
                                        your instance.
                                networking:
                                  description: Networking of the Instance.
                                  type: object
                                  properties:
                                    monthlyTransfer:
                                      description: Monthly Transfer of the Instance.
                                      type: object
                                      properties:
                                        gbPerMonthAllocated:
                                          type: string
                                          description: GbPerMonthAllocated of the
                                            Instance.
                                    ports:
                                      type: array
                                      description: Ports to the Instance.
                                      items:
                                        type: object
                                        description: Definition of Port
                                        properties:
                                          accessDirection:
                                            type: string
                                            description: Access Direction for Protocol
                                              of the Instance(inbound/outbound).
                                          accessFrom:
                                            type: string
                                            description: Access From Protocol of the
                                              Instance.
                                          accessType:
                                            type: string
                                            description: Access Type Protocol of the
                                              Instance.
                                          cidrListAliases:
                                            type: array
                                            description: cidr List Aliases
                                            items:
                                              type: string
                                          cidrs:
                                            type: array
                                            description: Property cidrs
                                            items:
                                              type: string
                                          commonName:
                                            type: string
                                            description: CommonName for Protocol of
                                              the Instance.
                                          fromPort:
                                            type: integer
                                            format: int32
                                            description: From Port of the Instance.
                                          ipv6Cidrs:
                                            type: array
                                            description: IPv6 Cidrs
                                            items:
                                              type: string
                                          protocol:
                                            type: string
                                            description: Port Protocol of the Instance.
                                          toPort:
                                            type: integer
                                            format: int32
                                            description: To Port of the Instance.
                                      x-ms-identifiers: []
                                privateIpAddress:
                                  type: string
                                  description: Private IP Address of the Instance
                                publicIpAddress:
                                  type: string
                                  description: Public IP Address of the Instance
                                resourceType:
                                  type: string
                                  description: Resource type of Lightsail instance.
                                sshKeyName:
                                  type: string
                                  description: SSH Key Name of the  Lightsail instance.
                                state:
                                  description: Current State of the Instance.
                                  type: object
                                  properties:
                                    code:
                                      type: integer
                                      format: int32
                                      description: Status code of the Instance.
                                    name:
                                      type: string
                                      description: Status code of the Instance.
                                supportCode:
                                  type: string
                                  description: Support code to help identify any issues
                                tags:
                                  type: array
                                  description: An array of key-value pairs to apply
                                    to this resource.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The key name of the tag. You
                                          can specify a value that is 1 to 128 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                      value:
                                        type: string
                                        description: 'The value for the tag. You can
                                          specify a value that is 0 to 256 Unicode
                                          characters in length and cannot be prefixed
                                          with aws:. You can use any of the following
                                          characters: the set of Unicode letters,
                                          digits, whitespace, _, ., /, =, +, and -.'
                                  x-ms-identifiers: []
                                userData:
                                  type: string
                                  description: A launch script you can create that
                                    configures a server with additional user data.
                                    For example, you might want to run apt-get -y
                                    update.
                                userName:
                                  type: string
                                  description: Username of the  Lightsail instance.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/lightsailInstances/{name}
  : get:
      operationId: LightsailInstances_Get
      tags:
      - LightsailInstances
      description: Get a LightsailInstance
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of LightsailInstance
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          addOns:
                            type: array
                            description: An array of objects representing the add-ons
                              to enable for the new instance.
                            items:
                              type: object
                              description: Definition of AddOn
                              properties:
                                addOnType:
                                  type: string
                                  description: The add-on type
                                autoSnapshotAddOnRequest:
                                  description: An object that represents additional
                                    parameters when enabling or modifying the automatic
                                    snapshot add-on
                                  type: object
                                  properties:
                                    snapshotTimeOfDay:
                                      type: string
                                      description: The daily time when an automatic
                                        snapshot will be created.
                                status:
                                  description: Status of the Addon
                                  type: string
                                  enum:
                                  - Disabled
                                  - Disabling
                                  - Enabled
                                  - Enabling
                                  - Failed
                                  - Terminated
                                  - Terminating
                                  x-ms-enum:
                                    name: AddOnStatus
                                    modelAsString: true
                                    values:
                                    - name: Disabled
                                      value: Disabled
                                      description: AddOnStatus enum Disabled
                                    - name: Disabling
                                      value: Disabling
                                      description: AddOnStatus enum Disabling
                                    - name: Enabled
                                      value: Enabled
                                      description: AddOnStatus enum Enabled
                                    - name: Enabling
                                      value: Enabling
                                      description: AddOnStatus enum Enabling
                                    - name: Failed
                                      value: Failed
                                      description: AddOnStatus enum Failed
                                    - name: Terminated
                                      value: Terminated
                                      description: AddOnStatus enum Terminated
                                    - name: Terminating
                                      value: Terminating
                                      description: AddOnStatus enum Terminating
                            x-ms-identifiers: []
                          availabilityZone:
                            type: string
                            description: 'The Availability Zone in which to create
                              your instance. Use the following format: us-east-2a
                              (case sensitive). Be sure to add the include Availability
                              Zones parameter to your request.'
                          blueprintId:
                            type: string
                            description: The ID for a virtual private server image
                              (e.g., app_wordpress_4_4 or app_lamp_7_0 ). Use the
                              get blueprints operation to return a list of available
                              images (or blueprints ).
                          bundleId:
                            type: string
                            description: The bundle of specification information for
                              your virtual private server (or instance ), including
                              the pricing plan (e.g., micro_1_0 ).
                          hardware:
                            description: Hardware of the Instance.
                            type: object
                            properties:
                              cpuCount:
                                type: integer
                                format: int32
                                description: CPU count of the Instance.
                              disks:
                                type: array
                                description: Disks attached to the Instance.
                                items:
                                  type: object
                                  description: Definition of Disk
                                  properties:
                                    attachedTo:
                                      type: string
                                      description: Instance attached to the disk.
                                    attachmentState:
                                      type: string
                                      description: Attachment state of the disk.
                                    diskName:
                                      type: string
                                      description: The names to use for your new Lightsail
                                        disk.
                                    iops:
                                      type: integer
                                      format: int32
                                      description: IOPS of disk.
                                    isSystemDisk:
                                      type: boolean
                                      description: Is the Attached disk is the system
                                        disk of the Instance.
                                    path:
                                      type: string
                                      description: Path of the disk attached to the
                                        instance.
                                    sizeInGb:
                                      type: string
                                      description: Size of the disk attached to the
                                        Instance.
                                x-ms-identifiers: []
                              ramSizeInGb:
                                type: integer
                                format: int32
                                description: RAM Size of the Instance.
                          instanceArn:
                            type: string
                            description: Property instanceArn
                          instanceName:
                            type: string
                            description: The names to use for your new Lightsail instance.
                          isStaticIp:
                            type: boolean
                            description: Is the IP Address of the Instance is the
                              static IP
                          keyPairName:
                            type: string
                            description: The name of your key pair.
                          location:
                            description: Location of a resource.
                            type: object
                            properties:
                              availabilityZone:
                                type: string
                                description: 'The Availability Zone in which to create
                                  your instance. Use the following format: us-east-2a
                                  (case sensitive). Be sure to add the include Availability
                                  Zones parameter to your request.'
                              regionName:
                                type: string
                                description: The Region Name in which to create your
                                  instance.
                          networking:
                            description: Networking of the Instance.
                            type: object
                            properties:
                              monthlyTransfer:
                                description: Monthly Transfer of the Instance.
                                type: object
                                properties:
                                  gbPerMonthAllocated:
                                    type: string
                                    description: GbPerMonthAllocated of the Instance.
                              ports:
                                type: array
                                description: Ports to the Instance.
                                items:
                                  type: object
                                  description: Definition of Port
                                  properties:
                                    accessDirection:
                                      type: string
                                      description: Access Direction for Protocol of
                                        the Instance(inbound/outbound).
                                    accessFrom:
                                      type: string
                                      description: Access From Protocol of the Instance.
                                    accessType:
                                      type: string
                                      description: Access Type Protocol of the Instance.
                                    cidrListAliases:
                                      type: array
                                      description: cidr List Aliases
                                      items:
                                        type: string
                                    cidrs:
                                      type: array
                                      description: Property cidrs
                                      items:
                                        type: string
                                    commonName:
                                      type: string
                                      description: CommonName for Protocol of the
                                        Instance.
                                    fromPort:
                                      type: integer
                                      format: int32
                                      description: From Port of the Instance.
                                    ipv6Cidrs:
                                      type: array
                                      description: IPv6 Cidrs
                                      items:
                                        type: string
                                    protocol:
                                      type: string
                                      description: Port Protocol of the Instance.
                                    toPort:
                                      type: integer
                                      format: int32
                                      description: To Port of the Instance.
                                x-ms-identifiers: []
                          privateIpAddress:
                            type: string
                            description: Private IP Address of the Instance
                          publicIpAddress:
                            type: string
                            description: Public IP Address of the Instance
                          resourceType:
                            type: string
                            description: Resource type of Lightsail instance.
                          sshKeyName:
                            type: string
                            description: SSH Key Name of the  Lightsail instance.
                          state:
                            description: Current State of the Instance.
                            type: object
                            properties:
                              code:
                                type: integer
                                format: int32
                                description: Status code of the Instance.
                              name:
                                type: string
                                description: Status code of the Instance.
                          supportCode:
                            type: string
                            description: Support code to help identify any issues
                          tags:
                            type: array
                            description: An array of key-value pairs to apply to this
                              resource.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: 'The key name of the tag. You can specify
                                    a value that is 1 to 128 Unicode characters in
                                    length and cannot be prefixed with aws:. You can
                                    use any of the following characters: the set of
                                    Unicode letters, digits, whitespace, _, ., /,
                                    =, +, and -.'
                                value:
                                  type: string
                                  description: 'The value for the tag. You can specify
                                    a value that is 0 to 256 Unicode characters in
                                    length and cannot be prefixed with aws:. You can
                                    use any of the following characters: the set of
                                    Unicode letters, digits, whitespace, _, ., /,
                                    =, +, and -.'
                            x-ms-identifiers: []
                          userData:
                            type: string
                            description: A launch script you can create that configures
                              a server with additional user data. For example, you
                              might want to run apt-get -y update.
                          userName:
                            type: string
                            description: Username of the  Lightsail instance.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: LightsailInstances_CreateOrReplace
      tags:
      - LightsailInstances
      description: Create a LightsailInstance. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of LightsailInstance
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        addOns:
                          type: array
                          description: An array of objects representing the add-ons
                            to enable for the new instance.
                          items:
                            type: object
                            description: Definition of AddOn
                            properties:
                              addOnType:
                                type: string
                                description: The add-on type
                              autoSnapshotAddOnRequest:
                                description: An object that represents additional
                                  parameters when enabling or modifying the automatic
                                  snapshot add-on
                                type: object
                                properties:
                                  snapshotTimeOfDay:
                                    type: string
                                    description: The daily time when an automatic
                                      snapshot will be created.
                              status:
                                description: Status of the Addon
                                type: string
                                enum:
                                - Disabled
                                - Disabling
                                - Enabled
                                - Enabling
                                - Failed
                                - Terminated
                                - Terminating
                                x-ms-enum:
                                  name: AddOnStatus
                                  modelAsString: true
                                  values:
                                  - name: Disabled
                                    value: Disabled
                                    description: AddOnStatus enum Disabled
                                  - name: Disabling
                                    value: Disabling
                                    description: AddOnStatus enum Disabling
                                  - name: Enabled
                                    value: Enabled
                                    description: AddOnStatus enum Enabled
                                  - name: Enabling
                                    value: Enabling
                                    description: AddOnStatus enum Enabling
                                  - name: Failed
                                    value: Failed
                                    description: AddOnStatus enum Failed
                                  - name: Terminated
                                    value: Terminated
                                    description: AddOnStatus enum Terminated
                                  - name: Terminating
                                    value: Terminating
                                    description: AddOnStatus enum Terminating
                          x-ms-identifiers: []
                        availabilityZone:
                          type: string
                          description: 'The Availability Zone in which to create your
                            instance. Use the following format: us-east-2a (case sensitive).
                            Be sure to add the include Availability Zones parameter
                            to your request.'
                        blueprintId:
                          type: string
                          description: The ID for a virtual private server image (e.g.,
                            app_wordpress_4_4 or app_lamp_7_0 ). Use the get blueprints
                            operation to return a list of available images (or blueprints
                            ).
                        bundleId:
                          type: string
                          description: The bundle of specification information for
                            your virtual private server (or instance ), including
                            the pricing plan (e.g., micro_1_0 ).
                        hardware:
                          description: Hardware of the Instance.
                          type: object
                          properties:
                            cpuCount:
                              type: integer
                              format: int32
                              description: CPU count of the Instance.
                            disks:
                              type: array
                              description: Disks attached to the Instance.
                              items:
                                type: object
                                description: Definition of Disk
                                properties:
                                  attachedTo:
                                    type: string
                                    description: Instance attached to the disk.
                                  attachmentState:
[...]
